Repository MetaMask/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/supply-chain, @MetaMask/ramp, @MetaMask/confirmations, @MetaMask/sdk-devs, @MetaMask/accounts-engineers, @MetaMask/swaps-engineers, @MetaMask/notifications, @MetaMask/snaps-devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs

# Design System Team
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform

# Platform Team
patches/                             @MetaMask/mobile-platform
app/core/Engine.ts                   @MetaMask/mobile-platform
app/core/Engine.test.js              @MetaMask/mobile-platform

# Supply Chain Team
bitrise.yml                          @MetaMask/supply-chain @MetaMask/mobile-platform
yarn.lock                            @MetaMask/supply-chain @MetaMask/mobile-platform
ios/Podfile.lock                     @MetaMask/supply-chain @MetaMask/mobile-platform

# Ramps Team
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform

# Confirmation Team
app/components/Views/confirmations   @MetaMask/confirmations @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations @MetaMask/mobile-platform

# All below files are maintained by the SDK team because they contain SDK related code, WalletConnect integrations, or critical SDK flows.
app/actions/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Approvals/WalletConnectApproval   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/SDK   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/WalletConnectSessions   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/BackgroundBridge/WalletConnectPort.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/DeeplinkManager   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/RPCMethods/RPCMethodMiddleware.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/SDKConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/WalletConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/reducers/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/util/walletconnect.js   @MetaMask/sdk-devs @MetaMask/mobile-platform

# Accounts Team
app/core/Encryptor/                  @MetaMask/accounts-engineers

# Swaps Team
app/components/UI/Swaps              @MetaMask/swaps-engineers @MetaMask/mobile-platform

# Notifications Team
app/components/Views/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/components/Views/Settings/NotificationsSettings @MetaMask/notifications @MetaMask/mobile-platform
app/components/UI/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/reducers/notification  @MetaMask/notifications  @MetaMask/mobile-platform
app/actions/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/selectors/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/util/notifications  @MetaMask/notifications  @MetaMask/mobile-platform
app/store/util/notifications @MetaMask/notifications @MetaMask/mobile-platform

# LavaMoat Team
ses.cjs                              @MetaMask/supply-chain
patches/react-native+0.*.patch       @MetaMask/supply-chain

# Snaps Team
**/snaps/**                          @MetaMask/snaps-devs
**/Snaps/**                          @MetaMask/snaps-devs

Revert "chore: use new interface for fetchEstimatedMultiLayerL1Fee whereever it's called"
  app/components/UI/Swaps/QuotesView.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/index.js
Owners: @MetaMask/swaps-engineers, @MetaMask/mobile-platform, @MetaMask/confirmations

added branch trigger for testing
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

WIP
  ios/Podfile
  ios/Podfile.lock
  patches/@react-native-community+datetimepicker+7.5.0.patch
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

bumped version to 1398
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

commented out pull request flag
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

remove tsc issues of node_modules
  app/components/UI/WebsiteIcon/index.js
Owners: @MetaMask/mobile-devs

added github token
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

Resolve keystone types with declarations
  app/declarations/@keystonehq/ur-decoder.ts
  app/declarations/index.d.ts
  tsconfig.json
  tsconfig.lint.json
Owners: @MetaMask/mobile-devs

chore: Bump version 1398 RC3 (#10709)
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

fix: broken test
  app/util/networks/index.test.ts
Owners: @MetaMask/mobile-devs

update patch version of react native svg
  patches/react-native-svg+15.3.0.patch
Owners: @MetaMask/mobile-platform

Remove generateTestId method
  app/components/UI/AssetOverview/AssetOverview.tsx
Owners: @MetaMask/mobile-devs

chore: update yarn.lock
  yarn.lock
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

Add ts-expect-error to TransactionDetails
  app/components/UI/TransactionElement/TransactionDetails/index.test.tsx
Owners: @MetaMask/mobile-devs

fix: remove unused dependencies and fix lavamoat config
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

chore: fix lint issues
  app/util/networks/index.test.ts
Owners: @MetaMask/mobile-devs

add new declarations for keystonehq
  app/declarations/@keystonehq/ur-decoder.ts
Owners: @MetaMask/mobile-devs

chore: fix lint issues
  app/util/networks/index.test.ts
Owners: @MetaMask/mobile-devs

More fixes of TS errors for components/UI folder
  app/components/UI/Tokens/index.tsx
  app/declarations.d.ts
  app/util/address/index.ts
Owners: @MetaMask/mobile-devs

More TS fixes to UI/Ramp folder
  app/components/UI/Ramp/Views/Checkout.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/hooks/useAccounts/useAccounts.ts
Owners: @MetaMask/ramp, @MetaMask/mobile-platform, @MetaMask/mobile-devs

Add back comment for Quotes file
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

Cleanup
  app/components/UI/NetworkModal/index.tsx
Owners: @MetaMask/mobile-devs

remove cmake installer no longer need with machine upgrade
  bitrise.yml
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

More TS error fixes in components/UI folder
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.test.tsx
  app/components/UI/SimulationDetails/SimulationDetails.tsx
  app/components/UI/Swaps/SwapsLiveness.ts
Owners: @MetaMask/mobile-devs, @MetaMask/swaps-engineers, @MetaMask/mobile-platform

Dont fetch chains in modal, pass down as props instead. Update Custom Network Added event to match extensions event
  app/components/UI/NetworkModal/index.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
Owners: @MetaMask/mobile-devs

cherry pick and yarn file update 340e5edd030fb8e3ced0178168a8ee422672568d
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

chore: cherry-pick fix android build (#10711)
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

version bump 1393 RC 4
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

chore: version bump 1393 rc4 (#10713)
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

Pull out KeyringController, PreferencesController, and ControllerMessenger into another service
  app/core/Authentication/Authentication.ts
  app/core/Engine.ts
  app/core/HeartService/index.ts
  app/store/index.ts
  app/store/sagas/index.ts
  app/util/tokens/index.ts
Owners: @MetaMask/mobile-devs, @MetaMask/mobile-platform

feat: First draft version to set Ledger Live HD path.
  app/core/Ledger/Ledger.ts
  app/core/Ledger/constants.ts
Owners: @MetaMask/mobile-devs

Add portfolio link
  app/components/Views/AssetOptions/AssetOptions.tsx
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

Update selector in e2e test
  e2e/pages/TokenOverview.js
Owners: @MetaMask/mobile-devs

Add scroll action
  e2e/specs/swaps/swap-token-chart.spec.js
Owners: @MetaMask/mobile-devs

reduce changes
  app/components/UI/Navbar/index.js
  app/components/Views/Notifications/Details/index.test.tsx
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.types.ts
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBannerLink.tsx
  app/components/Views/confirmations/components/MessageSign/MessageSign.tsx
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/components/PersonalSign/index.test.tsx
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
  app/util/confirmation/signatureUtils.js
Owners: @MetaMask/mobile-devs, @MetaMask/notifications, @MetaMask/mobile-platform, @MetaMask/confirmations

clean up
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/components/SignatureRequest/index.js
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/components/Views/confirmations/components/TypedSign/index.js
  app/components/Views/confirmations/components/TypedSign/index.test.tsx
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

feat: Update @blockaid/ppom_release to release 1.5.2 (#10696)
  app/lib/ppom/blockaid-version.js
  ppom/package.json
  ppom/yarn.lock
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

feat: Update @blockaid/ppom_release to release 1.5.2 (#10696)
  app/lib/ppom/blockaid-version.js
  ppom/package.json
  ppom/yarn.lock
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

feat: deeplink protocol into js
  app/core/DeeplinkManager/ParseManager/extractURLParams.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.ts
  app/core/SDKConnect/handlers/handleDeeplink.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

added patch for datetimepicker
  patches/@react-native-community+datetimepicker+7.7.0.patch
Owners: @MetaMask/mobile-platform
