Repository MetaMask/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/supply-chain, @MetaMask/ramp, @MetaMask/confirmations, @MetaMask/sdk-devs, @MetaMask/accounts-engineers, @MetaMask/swaps-engineers, @MetaMask/notifications, @MetaMask/snaps-devs

chore: remove temporary exclusions from sonar config to try which tests would be needed to add the temporary code coverage
  sonar-project.properties
Owners: @MetaMask/mobile-devs

chore: trying the exclude setting to see if it can be a way of differing coverage of feature flags to after they are ready to be removed
  sonar-project.properties
Owners: @MetaMask/mobile-devs

feat: use avatar group to handle cases of one and many avatars
  app/components/UI/SwitchCustomNetwork/index.js
Owners: @MetaMask/mobile-devs

chore: update sonar config, and add comment to explain why these exclusions are temporarilty added
  sonar-project.properties
Owners: @MetaMask/mobile-devs

fix lint
  app/core/NotificationManager.js
Owners: @MetaMask/mobile-devs

feat: change the title
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

feat: hide tag url
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
Owners: @MetaMask/mobile-devs

feat: bottom sheet displaying dapp permission summary for multichain, UI changes only and feature flagged ttemp (#10679)
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/UI/TransactionHeader/index.js
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

feat: bottom sheet displaying dapp permission summary for multichain, UI changes only and feature flagged ttemp (#10679)
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/UI/TransactionHeader/index.js
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

fix: fix PR comments
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.tsx
  app/component-library/components-temp/CellSelectWithMenu/__snapshots__/CellSelectWithMenu.test.tsx.snap
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/constants/urls.ts
Owners: @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/mobile-devs

address review
  app/components/Views/ConnectQRHardware/index.tsx
Owners: @MetaMask/mobile-devs

feat: add the select all checkbox
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

flag SnapWebview to not load if basic functionality isn't ON
  app/components/Nav/App/index.js
Owners: @MetaMask/mobile-devs

refactor: fix notification types
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
  app/components/UI/Notification/NotificationMenuItem/Icon.test.tsx
  app/components/UI/Notification/SwitchLoadingModal/Loader.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/NetworkField.tsx
  app/util/notifications/constants/config.ts
  app/util/notifications/hooks/useNotifications.ts
  app/util/notifications/notification-states/erc1155-sent-received/erc1155-sent-received.tsx
  app/util/notifications/notification-states/erc20-sent-received/erc20-sent-received.ts
  app/util/notifications/notification-states/erc721-sent-received/erc721-sent-received.tsx
  app/util/notifications/notification-states/eth-sent-received/eth-sent-received.tsx
  app/util/notifications/notification-states/lido-stake-ready-to-be-withdrawn/lido-stake-ready-to-be-withdrawn.tsx
  app/util/notifications/notification-states/lido-withdrawal-requested/lido-withdrawal-requested.tsx
  app/util/notifications/notification-states/types/NotificationMenuItem.ts
  app/util/notifications/notification-states/types/NotificationModalDetails.ts
  app/util/notifications/types/notification/index.ts
Owners: @MetaMask/mobile-devs, @MetaMask/notifications, @MetaMask/mobile-platform

Fix test
  app/components/Views/QRAccountDisplay/index.test.tsx
  app/components/Views/QRAccountDisplay/index.tsx
Owners: @MetaMask/mobile-devs

test: update unit snapshots
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

Update snapshots
  app/components/UI/ReceiveRequest/__snapshots__/index.test.tsx.snap
  app/components/Views/QRAccountDisplay/__snapshots__/index.test.tsx.snap
Owners: @MetaMask/mobile-devs

blockaid and fav icon test files ts errors
  app/util/blockaid/index.test.ts
  app/util/favicon/index.test.ts
Owners: @MetaMask/mobile-devs

fix client types
  app/core/Analytics/MetaMetrics.test.ts
Owners: @MetaMask/mobile-devs

chore: blockaid and fav icon test files ts errors (#10681)
  app/util/blockaid/index.test.ts
  app/util/favicon/index.test.ts
Owners: @MetaMask/mobile-devs

chore: blockaid and fav icon test files ts errors (#10681)
  app/util/blockaid/index.test.ts
  app/util/favicon/index.test.ts
Owners: @MetaMask/mobile-devs

added edge
  bitrise.yml
  ios/Podfile.lock
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

test: improve test cases
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
  app/components/Views/RevealPrivateCredential/index.test.tsx
Owners: @MetaMask/mobile-devs

fix: missed import
  wdio/step-definitions/common-steps.js
Owners: @MetaMask/mobile-devs

feat: hide the cancel and change content of the connect button
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
Owners: @MetaMask/mobile-devs

refactor(notification types): fix notification types (#10680)
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
  app/components/UI/Notification/NotificationMenuItem/Icon.test.tsx
  app/components/UI/Notification/SwitchLoadingModal/Loader.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/NetworkField.tsx
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
  app/util/notifications/constants/config.ts
  app/util/notifications/hooks/useNotifications.ts
  app/util/notifications/notification-states/erc1155-sent-received/erc1155-sent-received.tsx
  app/util/notifications/notification-states/erc20-sent-received/erc20-sent-received.ts
  app/util/notifications/notification-states/erc721-sent-received/erc721-sent-received.tsx
  app/util/notifications/notification-states/eth-sent-received/eth-sent-received.tsx
  app/util/notifications/notification-states/lido-stake-ready-to-be-withdrawn/lido-stake-ready-to-be-withdrawn.tsx
  app/util/notifications/notification-states/lido-withdrawal-requested/lido-withdrawal-requested.tsx
  app/util/notifications/notification-states/types/NotificationMenuItem.ts
  app/util/notifications/notification-states/types/NotificationModalDetails.ts
  app/util/notifications/types/notification/index.ts
Owners: @MetaMask/mobile-devs, @MetaMask/notifications, @MetaMask/mobile-platform

refactor(notification types): fix notification types (#10680)
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
  app/components/UI/Notification/NotificationMenuItem/Icon.test.tsx
  app/components/UI/Notification/SwitchLoadingModal/Loader.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/NetworkField.tsx
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
  app/util/notifications/constants/config.ts
  app/util/notifications/hooks/useNotifications.ts
  app/util/notifications/notification-states/erc1155-sent-received/erc1155-sent-received.tsx
  app/util/notifications/notification-states/erc20-sent-received/erc20-sent-received.ts
  app/util/notifications/notification-states/erc721-sent-received/erc721-sent-received.tsx
  app/util/notifications/notification-states/eth-sent-received/eth-sent-received.tsx
  app/util/notifications/notification-states/lido-stake-ready-to-be-withdrawn/lido-stake-ready-to-be-withdrawn.tsx
  app/util/notifications/notification-states/lido-withdrawal-requested/lido-withdrawal-requested.tsx
  app/util/notifications/notification-states/types/NotificationMenuItem.ts
  app/util/notifications/notification-states/types/NotificationModalDetails.ts
  app/util/notifications/types/notification/index.ts
Owners: @MetaMask/mobile-devs, @MetaMask/notifications, @MetaMask/mobile-platform

revert SnapsExecutionWebView remote URL usage
  app/lib/snaps/SnapsExecutionWebView.tsx
Owners: @MetaMask/snaps-devs

bump snap version
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

fix: lint
  app/components/Views/RevealPrivateCredential/index.test.tsx
Owners: @MetaMask/mobile-devs

Update PR with only necessary filesto no check with typescript
  app/components/UI/Notification/List/index.test.tsx
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/NotificationMenuItem/Icon.test.tsx
  app/components/UI/Notification/NotificationMenuItem/Icon.tsx
  app/components/UI/Notification/SwitchLoadingModal/Loader.tsx
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/Notifications/Details/Fields/AnnouncementDescriptionField.tsx
  app/components/Views/Notifications/Details/Fields/index.tsx
  app/components/Views/Notifications/Details/index.test.tsx
  app/components/Views/Notifications/index.tsx
  app/util/notifications/notification-states/erc1155-sent-received/erc1155-sent-received.tsx
  app/util/notifications/notification-states/erc20-sent-received/erc20-sent-received.ts
  app/util/notifications/notification-states/erc721-sent-received/erc721-sent-received.tsx
  app/util/notifications/notification-states/eth-sent-received/eth-sent-received.tsx
  app/util/notifications/notification-states/feature-announcement/feature-announcement.tsx
  app/util/notifications/notification-states/lido-stake-ready-to-be-withdrawn/lido-stake-ready-to-be-withdrawn.tsx
  app/util/notifications/notification-states/lido-withdrawal-requested/lido-withdrawal-requested.tsx
  app/util/notifications/notification-states/stake/stake.tsx
  app/util/notifications/notification-states/swap-completed/swap-completed.tsx
  app/util/notifications/notification-states/types/NotificationModalDetails.ts
Owners: @MetaMask/mobile-devs, @MetaMask/notifications, @MetaMask/mobile-platform

remove account connect file empty
  app/components/Views/AccountConnect/AccountConnect.test.tsx
Owners: @MetaMask/mobile-devs

feat: select multi rpc UI (#10596)
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.styles.ts
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.tsx
  app/component-library/components-temp/CellSelectWithMenu/__snapshots__/CellSelectWithMenu.test.tsx.snap
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.styles.ts
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.tsx
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.types.ts
  app/component-library/components-temp/ListItemMultiSelectButton/__snapshots__/ListItemMultiSelectButton.test.tsx.snap
  app/components/Nav/App/index.js
  app/components/Views/NetworkSelector/NetworkSelector.styles.ts
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/styles.ts
  app/constants/urls.ts
  app/util/hideProtocolFromUrl.test.ts
  app/util/hideProtocolFromUrl.ts
  locales/languages/en.json
Owners: @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/mobile-devs

feat: select multi rpc UI (#10596)
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.styles.ts
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.tsx
  app/component-library/components-temp/CellSelectWithMenu/__snapshots__/CellSelectWithMenu.test.tsx.snap
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.styles.ts
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.tsx
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.types.ts
  app/component-library/components-temp/ListItemMultiSelectButton/__snapshots__/ListItemMultiSelectButton.test.tsx.snap
  app/components/Nav/App/index.js
  app/components/Views/NetworkSelector/NetworkSelector.styles.ts
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/styles.ts
  app/constants/urls.ts
  app/util/hideProtocolFromUrl.test.ts
  app/util/hideProtocolFromUrl.ts
  locales/languages/en.json
Owners: @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/mobile-devs

update account connect and account permissions with snapshot testing
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissions.test.tsx
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
Owners: @MetaMask/mobile-devs

fix: notifications first round of tests (#10668)
  app/components/Nav/App/index.js
  app/components/UI/Notification/List/__snapshots__/index.test.tsx.snap
  app/components/UI/Notification/List/styles.ts
  app/components/Views/Notifications/Details/index.tsx
  app/components/Views/Notifications/Details/styles.ts
  app/components/Views/Notifications/index.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Wallet/index.tsx
  app/core/NotificationManager.js
  app/util/notifications/pushPermissions.test.ts
  app/util/notifications/pushPermissions.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/notifications, @MetaMask/mobile-platform, @MetaMask/supply-chain

fix: notifications first round of tests (#10668)
  app/components/Nav/App/index.js
  app/components/UI/Notification/List/__snapshots__/index.test.tsx.snap
  app/components/UI/Notification/List/styles.ts
  app/components/Views/Notifications/Details/index.tsx
  app/components/Views/Notifications/Details/styles.ts
  app/components/Views/Notifications/index.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Wallet/index.tsx
  app/core/NotificationManager.js
  app/util/notifications/pushPermissions.test.ts
  app/util/notifications/pushPermissions.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/notifications, @MetaMask/mobile-platform, @MetaMask/supply-chain

remove flag
  app/components/Nav/App/index.js
Owners: @MetaMask/mobile-devs

chore: add test variant for credential reveal (#10608)
  app/components/UI/Swaps/components/InfoModal.js
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
  app/components/Views/RevealPrivateCredential/index.test.tsx
  app/components/Views/RevealPrivateCredential/styles.ts
  e2e/selectors/Settings/SecurityAndPrivacy/RevealSeedView.selectors.js
  locales/languages/en.json
Owners: @MetaMask/swaps-engineers, @MetaMask/mobile-platform, @MetaMask/mobile-devs

chore: add test variant for credential reveal (#10608)
  app/components/UI/Swaps/components/InfoModal.js
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
  app/components/Views/RevealPrivateCredential/index.test.tsx
  app/components/Views/RevealPrivateCredential/styles.ts
  e2e/selectors/Settings/SecurityAndPrivacy/RevealSeedView.selectors.js
  locales/languages/en.json
Owners: @MetaMask/swaps-engineers, @MetaMask/mobile-platform, @MetaMask/mobile-devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs

# Design System Team
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform

# Platform Team
patches/                             @MetaMask/mobile-platform
app/core/Engine.ts                   @MetaMask/mobile-platform
app/core/Engine.test.js              @MetaMask/mobile-platform

# Supply Chain Team
bitrise.yml                          @MetaMask/supply-chain @MetaMask/mobile-platform
yarn.lock                            @MetaMask/supply-chain @MetaMask/mobile-platform
ios/Podfile.lock                     @MetaMask/supply-chain @MetaMask/mobile-platform

# Ramps Team
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform

# Confirmation Team
app/components/Views/confirmations   @MetaMask/confirmations @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations @MetaMask/mobile-platform

# All below files are maintained by the SDK team because they contain SDK related code, WalletConnect integrations, or critical SDK flows.
app/actions/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Approvals/WalletConnectApproval   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/SDK   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/WalletConnectSessions   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/BackgroundBridge/WalletConnectPort.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/DeeplinkManager   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/RPCMethods/RPCMethodMiddleware.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/SDKConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/WalletConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/reducers/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/util/walletconnect.js   @MetaMask/sdk-devs @MetaMask/mobile-platform

# Accounts Team
app/core/Encryptor/                  @MetaMask/accounts-engineers

# Swaps Team
app/components/UI/Swaps              @MetaMask/swaps-engineers @MetaMask/mobile-platform

# Notifications Team
app/components/Views/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/components/Views/Settings/NotificationsSettings @MetaMask/notifications @MetaMask/mobile-platform
app/components/UI/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/reducers/notification  @MetaMask/notifications  @MetaMask/mobile-platform
app/actions/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/selectors/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/util/notifications  @MetaMask/notifications  @MetaMask/mobile-platform
app/store/util/notifications @MetaMask/notifications @MetaMask/mobile-platform

# LavaMoat Team
ses.cjs                              @MetaMask/supply-chain
patches/react-native+0.*.patch       @MetaMask/supply-chain

# Snaps Team
**/snaps/**                          @MetaMask/snaps-devs
**/Snaps/**                          @MetaMask/snaps-devs
