Repository MetaMask/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/supply-chain, @MetaMask/ramp, @MetaMask/confirmations, @MetaMask/sdk-devs, @MetaMask/accounts-engineers, @MetaMask/swaps-engineers, @MetaMask/notifications, @MetaMask/snaps-devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs

# Design System Team
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform

# Platform Team
patches/                             @MetaMask/mobile-platform
app/core/Engine.ts                   @MetaMask/mobile-platform
app/core/Engine.test.js              @MetaMask/mobile-platform

# Supply Chain Team
bitrise.yml                          @MetaMask/supply-chain @MetaMask/mobile-platform
yarn.lock                            @MetaMask/supply-chain @MetaMask/mobile-platform
ios/Podfile.lock                     @MetaMask/supply-chain @MetaMask/mobile-platform

# Ramps Team
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform

# Confirmation Team
app/components/Views/confirmations   @MetaMask/confirmations @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations @MetaMask/mobile-platform

# All below files are maintained by the SDK team because they contain SDK related code, WalletConnect integrations, or critical SDK flows.
app/actions/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Approvals/WalletConnectApproval   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/SDK   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/WalletConnectSessions   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/BackgroundBridge/WalletConnectPort.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/DeeplinkManager   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/RPCMethods/RPCMethodMiddleware.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/SDKConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/WalletConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/reducers/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/util/walletconnect.js   @MetaMask/sdk-devs @MetaMask/mobile-platform

# Accounts Team
app/core/Encryptor/                  @MetaMask/accounts-engineers

# Swaps Team
app/components/UI/Swaps              @MetaMask/swaps-engineers @MetaMask/mobile-platform

# Notifications Team
app/components/Views/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/components/Views/Settings/NotificationsSettings @MetaMask/notifications @MetaMask/mobile-platform
app/components/UI/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/reducers/notification  @MetaMask/notifications  @MetaMask/mobile-platform
app/actions/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/selectors/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/util/notifications  @MetaMask/notifications  @MetaMask/mobile-platform
app/store/util/notifications @MetaMask/notifications @MetaMask/mobile-platform

# LavaMoat Team
ses.cjs                              @MetaMask/supply-chain
patches/react-native+0.*.patch       @MetaMask/supply-chain

# Snaps Team
**/snaps/**                          @MetaMask/snaps-devs
**/Snaps/**                          @MetaMask/snaps-devs

fix unused import
  app/components/Views/Settings/ExperimentalSettings/index.tsx
Owners: @MetaMask/mobile-devs

chore: removing unused component (#10700)
  app/components/UI/TextEstimated/README.md
  app/components/UI/TextEstimated/TextEstimated.constants.ts
  app/components/UI/TextEstimated/TextEstimated.stories.tsx
  app/components/UI/TextEstimated/TextEstimated.test.tsx
  app/components/UI/TextEstimated/TextEstimated.tsx
  app/components/UI/TextEstimated/TextEstimated.types.ts
  app/components/UI/TextEstimated/__snapshots__/TextEstimated.test.tsx.snap
  app/components/UI/TextEstimated/index.ts
Owners: @MetaMask/mobile-devs

chore: removing unused component (#10700)
  app/components/UI/TextEstimated/README.md
  app/components/UI/TextEstimated/TextEstimated.constants.ts
  app/components/UI/TextEstimated/TextEstimated.stories.tsx
  app/components/UI/TextEstimated/TextEstimated.test.tsx
  app/components/UI/TextEstimated/TextEstimated.tsx
  app/components/UI/TextEstimated/TextEstimated.types.ts
  app/components/UI/TextEstimated/__snapshots__/TextEstimated.test.tsx.snap
  app/components/UI/TextEstimated/index.ts
Owners: @MetaMask/mobile-devs

revert version changes
  android/build.gradle
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

remove spaces
  yarn.lock
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

update unit test snapshot
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
Owners: @MetaMask/mobile-devs

fix: fixes missing data for `SIGNATURE_APPROVED`
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/util/confirmation/signatureUtils.js
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform, @MetaMask/mobile-devs

chore: remove unused code
  app/util/networks/index.js
  app/util/transactions/index.test.ts
  app/util/transactions/optimismTransaction.ts
  package.json
Owners: @MetaMask/mobile-devs

fix: fix build errors with storybook
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  metro.config.js
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

update unit tests to handle small balances
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
Owners: @MetaMask/mobile-devs

Add files.txt
  files.txt
Owners: @MetaMask/mobile-devs

fix: upgrade @ledgerhq/react-native-hw-transport-ble library and copyright changes. (#10453)
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
  app/components/Views/LedgerConnect/__snapshots__/index.test.tsx.snap
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/Views/LedgerSelectAccount/__snapshots__/index.test.tsx.snap
  app/core/Engine.ts
  bitrise.yml
  locales/languages/en.json
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/mobile-platform, @MetaMask/supply-chain

fix: upgrade @ledgerhq/react-native-hw-transport-ble library and copyright changes. (#10453)
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
  app/components/Views/LedgerConnect/__snapshots__/index.test.tsx.snap
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/Views/LedgerSelectAccount/__snapshots__/index.test.tsx.snap
  app/core/Engine.ts
  bitrise.yml
  locales/languages/en.json
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/mobile-platform, @MetaMask/supply-chain

created workflow for checking if the Sonar Cloud quality check has been performed
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

chore: Test merge queue (#10570)
  package.json
Owners: @MetaMask/mobile-devs

New Crowdin translations by Github Action
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Owners: @MetaMask/mobile-devs

updated deprecated command for echo
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

fixing warnings
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

added fi
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

chore: cherry picked and fixed conflicts 7.28.1 release (#10702)
  CHANGELOG.md
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/UI/HardwareWallet/AccountSelector/styles.tsx
  app/components/Views/LedgerSelectAccount/index.tsx
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

conflict resolution
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
  app/components/Views/LedgerConnect/__snapshots__/index.test.tsx.snap
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/Views/LedgerSelectAccount/__snapshots__/index.test.tsx.snap
  app/core/Engine.ts
  bitrise.yml
  locales/languages/en.json
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/mobile-platform, @MetaMask/supply-chain

removed fi
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

update
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/TransactionBlockaidBanner/TransactionBlockaidBanner.test.tsx
  app/components/Views/confirmations/components/TransactionBlockaidBanner/TransactionBlockaidBanner.tsx
  app/components/Views/confirmations/components/TransactionBlockaidBanner/__snapshots__/TransactionBlockaidBanner.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/reducers/transaction/index.js
  app/selectors/confirmTransaction.ts
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform, @MetaMask/mobile-devs

added fi and quoted variables
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

Fix more TS errors in components/UI folder
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
Owners: @MetaMask/mobile-devs

Remove unnecessary file from repo
  files.txt
Owners: @MetaMask/mobile-devs

chore(ramp): upgrade sdk to 1.28.3 and remove chainId casting (#10262)
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.constants.ts
  app/components/UI/Ramp/hooks/useCryptoCurrencies.ts
  app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/hooks/usePaymentMethods.ts
  app/components/UI/Ramp/orderProcessor/aggregator.test.ts
  app/components/UI/Ramp/orderProcessor/aggregator.ts
  app/components/UI/Ramp/utils/index.test.ts
  app/components/UI/Ramp/utils/index.ts
  app/components/Views/WalletActions/WalletActions.test.tsx
  package.json
  yarn.lock
Owners: @MetaMask/ramp, @MetaMask/mobile-platform, @MetaMask/mobile-devs, @MetaMask/supply-chain

chore(ramp): upgrade sdk to 1.28.3 and remove chainId casting (#10262)
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.constants.ts
  app/components/UI/Ramp/hooks/useCryptoCurrencies.ts
  app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/hooks/usePaymentMethods.ts
  app/components/UI/Ramp/orderProcessor/aggregator.test.ts
  app/components/UI/Ramp/orderProcessor/aggregator.ts
  app/components/UI/Ramp/utils/index.test.ts
  app/components/UI/Ramp/utils/index.ts
  app/components/Views/WalletActions/WalletActions.test.tsx
  package.json
  yarn.lock
Owners: @MetaMask/ramp, @MetaMask/mobile-platform, @MetaMask/mobile-devs, @MetaMask/supply-chain

feat(ramp): add amounts to quotes received event (#10395)
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/types/analytics.ts
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

feat(ramp): add amounts to quotes received event (#10395)
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/types/analytics.ts
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

feat(ramp): add property to provider selected event (#10393)
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/types/analytics.ts
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

feat(ramp): add property to provider selected event (#10393)
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/types/analytics.ts
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

update
  app/components/Views/confirmations/components/TransactionBlockaidBanner/TransactionBlockaidBanner.test.tsx
  app/components/Views/confirmations/components/TransactionBlockaidBanner/TransactionBlockaidBanner.tsx
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

update
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

chore: cherry pick d147d8f (#10453) (#10706)
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
  app/components/Views/LedgerConnect/__snapshots__/index.test.tsx.snap
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/Views/LedgerSelectAccount/__snapshots__/index.test.tsx.snap
  app/core/Engine.ts
  bitrise.yml
  locales/languages/en.json
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/mobile-platform, @MetaMask/supply-chain

Add NaN check for unit tests
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
  app/util/number/index.js
Owners: @MetaMask/mobile-devs

uncommented AVD
  bitrise.yml
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

Handle edge case where inputs are NaN
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
Owners: @MetaMask/mobile-devs

Remove code comment debug
  app/util/number/index.js
Owners: @MetaMask/mobile-devs

Revert "chore: remove unused eth obj in fetchEstimatedMultiLayerL1Fee"
  app/util/networks/index.js
Owners: @MetaMask/mobile-devs
