Repository MetaMask/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/supply-chain, @MetaMask/ramp, @MetaMask/confirmations, @MetaMask/sdk-devs, @MetaMask/accounts-engineers, @MetaMask/swaps-engineers, @MetaMask/notifications, @MetaMask/snaps-devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs

# Design System Team
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform

# Platform Team
patches/                             @MetaMask/mobile-platform
app/core/Engine.ts                   @MetaMask/mobile-platform
app/core/Engine.test.js              @MetaMask/mobile-platform

# Supply Chain Team
bitrise.yml                          @MetaMask/supply-chain @MetaMask/mobile-platform
yarn.lock                            @MetaMask/supply-chain @MetaMask/mobile-platform
ios/Podfile.lock                     @MetaMask/supply-chain @MetaMask/mobile-platform

# Ramps Team
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform

# Confirmation Team
app/components/Views/confirmations   @MetaMask/confirmations @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations @MetaMask/mobile-platform

# All below files are maintained by the SDK team because they contain SDK related code, WalletConnect integrations, or critical SDK flows.
app/actions/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Approvals/WalletConnectApproval   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/SDK   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/WalletConnectSessions   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/BackgroundBridge/WalletConnectPort.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/DeeplinkManager   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/RPCMethods/RPCMethodMiddleware.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/SDKConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/WalletConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/reducers/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/util/walletconnect.js   @MetaMask/sdk-devs @MetaMask/mobile-platform

# Accounts Team
app/core/Encryptor/                  @MetaMask/accounts-engineers

# Swaps Team
app/components/UI/Swaps              @MetaMask/swaps-engineers @MetaMask/mobile-platform

# Notifications Team
app/components/Views/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/components/Views/Settings/NotificationsSettings @MetaMask/notifications @MetaMask/mobile-platform
app/components/UI/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/reducers/notification  @MetaMask/notifications  @MetaMask/mobile-platform
app/actions/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/selectors/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/util/notifications  @MetaMask/notifications  @MetaMask/mobile-platform
app/store/util/notifications @MetaMask/notifications @MetaMask/mobile-platform

# LavaMoat Team
ses.cjs                              @MetaMask/supply-chain
patches/react-native+0.*.patch       @MetaMask/supply-chain

# Snaps Team
**/snaps/**                          @MetaMask/snaps-devs
**/Snaps/**                          @MetaMask/snaps-devs

bump android builds to use linux-docker-android-22.04
  bitrise.yml
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

fix: failing to get layer1 gas fee
  app/util/networks/index.js
Owners: @MetaMask/mobile-devs

fix: update copy
  app/components/Views/QRScanner/index.tsx
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

chore: typescript no check on notifications directory (#10675)
  app/components/UI/Notification/NotificationMenuItem/Root.test.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.tsx
Owners: @MetaMask/mobile-devs

chore: typescript no check on notifications directory (#10675)
  app/components/UI/Notification/NotificationMenuItem/Root.test.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.tsx
Owners: @MetaMask/mobile-devs

update snapshot
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
Owners: @MetaMask/mobile-devs

comment out cmake step
  bitrise.yml
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

add mock tests for blockaid banner
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.test.tsx
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

git commit undo devin change
  app/components/Views/ConnectQRHardware/index.tsx
Owners: @MetaMask/mobile-devs

update ccache install step
  bitrise.yml
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

goerly to goerli tsdoc
  app/components/Views/AssetDetails/index.tsx
Owners: @MetaMask/mobile-devs

revert last commit
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.test.tsx
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

mock transaction controller util
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
Owners: @MetaMask/mobile-devs

chore: Views directory ts coverage - part 1 (#10665)
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissions.test.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/Views/AddAsset/AddAsset.tsx
  app/components/Views/AssetDetails/index.tsx
Owners: @MetaMask/mobile-devs

chore: Views directory ts coverage - part 1 (#10665)
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissions.test.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/Views/AddAsset/AddAsset.tsx
  app/components/Views/AssetDetails/index.tsx
Owners: @MetaMask/mobile-devs

increase heap size for builds
  android/gradle.properties
Owners: @MetaMask/mobile-devs

remove unused import
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
Owners: @MetaMask/mobile-devs

fix: remove snap webview flag (#10683)
  app/components/Nav/App/index.js
Owners: @MetaMask/mobile-devs

fix: remove snap webview flag (#10683)
  app/components/Nav/App/index.js
Owners: @MetaMask/mobile-devs

increase heap size for builds
  android/gradle.properties
Owners: @MetaMask/mobile-devs

Prevent crash when engine is not initialized
  app/core/EngineService/EngineService.ts
  app/store/persistConfig.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
Owners: @MetaMask/mobile-devs

chore: add tests for fetchEstimatedMultiLayerL1Fee
  app/util/networks/index.test.ts
Owners: @MetaMask/mobile-devs

chore: use new interface for fetchEstimatedMultiLayerL1Fee whereever it's called
  app/components/UI/Swaps/QuotesView.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/index.js
Owners: @MetaMask/swaps-engineers, @MetaMask/mobile-platform, @MetaMask/confirmations

bump build version to 1389 and 7.29.0
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

Remove optional chaining
  app/core/EngineService/EngineService.ts
Owners: @MetaMask/mobile-devs

chore: TS coverage on views folder part 3 - 2 (#10672)
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/declarations.d.ts
Owners: @MetaMask/mobile-devs

chore: TS coverage on views folder part 3 - 2 (#10672)
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/declarations.d.ts
Owners: @MetaMask/mobile-devs

chore: remove unused eth obj in fetchEstimatedMultiLayerL1Fee
  app/util/networks/index.js
Owners: @MetaMask/mobile-devs

chore: Prevent crash when engine is not initialized (#10690)
  app/core/EngineService/EngineService.ts
  app/store/persistConfig.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
Owners: @MetaMask/mobile-devs

chore: Prevent crash when engine is not initialized (#10690)
  app/core/EngineService/EngineService.ts
  app/store/persistConfig.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
Owners: @MetaMask/mobile-devs

Revert "increase heap size for builds"
  android/gradle.properties
Owners: @MetaMask/mobile-devs

version bump 1390 and feature flag set
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

Handle case to handle ETH and Native token market details
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
Owners: @MetaMask/mobile-devs

Cleanup
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
Owners: @MetaMask/mobile-devs

remove abi in build step
  bitrise.yml
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

remove avd manager step
  bitrise.yml
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

Add rpcIdentifierUtility to implementation
  app/components/UI/NetworkModal/index.tsx
  app/components/hooks/useSafeChains.ts
Owners: @MetaMask/mobile-devs

chore: TS coverage on views folder part 3 - 2 (#10672)
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/declarations.d.ts
Owners: @MetaMask/mobile-devs

chore: Prevent crash when engine is not initialized (#10690)
  app/core/EngineService/EngineService.ts
  app/store/persistConfig.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
Owners: @MetaMask/mobile-devs

resolve merge conflicts on build version
  CHANGELOG.md
  android/build.gradle
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/UI/HardwareWallet/AccountSelector/styles.tsx
  app/components/Views/LedgerSelectAccount/index.tsx
  bitrise.yml
  ios/Podfile.lock
  locales/languages/en.json
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform
