Repository MetaMask/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/ramp, @MetaMask/confirmations, @MetaMask/sdk-devs, @MetaMask/accounts-engineers, @MetaMask/swaps-engineers

Update bitrise.yml
  bitrise.yml
Owners: @MetaMask/mobile-platform

Use QA build from 7.23.0
  bitrise.yml
Owners: @MetaMask/mobile-platform

Update ConnectedTestNetwork.feature
  wdio/features/Upgrading/ConnectedTestNetwork.feature
Owners: @MetaMask/mobile-devs

resolve eth-abis pkg and add e2e tests
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  e2e/pages/Browser/TestDApp.js
  e2e/specs/confirmations/set-approve-for-all-erc721.spec.js
  package.json
  patches/@metamask+transaction-controller+13.0.0.patch
  yarn.lock
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform, @MetaMask/mobile-devs

Update PPOMController
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

Update MultipleAccounts.feature
  wdio/features/Upgrading/MultipleAccounts.feature
Owners: @MetaMask/mobile-devs

resolve eth abis and fix patch
  e2e/specs/confirmations/increase-allowance-erc20.spec.js
  package.json
  patches/@metamask+transaction-controller+13.0.0.patch
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/mobile-platform

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform
patches/                             @MetaMask/mobile-platform
bitrise.yml                          @MetaMask/mobile-platform
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform
app/components/Views/confirmations   @MetaMask/confirmations @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations @MetaMask/mobile-platform

# All below files are maintained by the SDK team because they contain SDK related code, WalletConnect integrations, or critical SDK flows.
app/actions/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Approvals/WalletConnectApproval   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/SDK   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/WalletConnectSessions   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/BackgroundBridge/WalletConnectPort.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/DeeplinkManager   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/RPCMethods/RPCMethodMiddleware.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/SDKConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/WalletConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/reducers/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/util/walletconnect.js   @MetaMask/sdk-devs @MetaMask/mobile-platform
# Accounts Team
app/core/Encryptor/                  @MetaMask/accounts-engineers

# Swaps Team
app/components/UI/Swaps              @MetaMask/swaps-engineers @MetaMask/mobile-platform
