Repository MetaMask/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/ramp, @MetaMask/confirmations-ux, @MetaMask/accounts-engineers

chore: Update boost checksum (#9657)
  ios/Podfile.lock
Owners: @MetaMask/mobile-devs

chore: Update boost checksum (#9657)
  ios/Podfile.lock
Owners: @MetaMask/mobile-devs

fix: upgrade react-redux to support react 18; bump redux packages
  package.json
  patches/redux-persist-filesystem-storage+4.2.0.patch
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/mobile-platform

fix: Migrate from rn-fetch-blob to react-native-blob-util
  app/core/Snaps/location/fetch.ts
  app/core/Snaps/location/npm.ts
  app/util/browser/downloadFile.ts
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

deps: react-native-blob-util@^0.18.6->^0.19.9
  ios/Podfile.lock
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

chore: mock react-native-blob-util module in jest
  app/util/test/testSetup.js
Owners: @MetaMask/mobile-devs

chore: remove rn-fetch from jest transformIgnorePatterns
  jest.config.js
Owners: @MetaMask/mobile-devs

chore: rename imports
  app/core/Snaps/location/fetch.ts
  app/core/Snaps/location/npm.ts
  app/util/browser/downloadFile.ts
Owners: @MetaMask/mobile-devs

complete redux-persist-filesystem-storage patch
  patches/redux-persist-filesystem-storage+4.2.0.patch
Owners: @MetaMask/mobile-platform

use constants and `renderWithProvider`
  app/components/Views/Settings/AdvancedSettings/FiatOnTestnetsFriction/FiatOnTestnetsFriction.test.tsx
  app/components/Views/Settings/AdvancedSettings/FiatOnTestnetsFriction/FiatOnTestnetsFriction.tsx
Owners: @MetaMask/mobile-devs

fix: Fix/1723 broken sign verification (#9656)
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Permissions/index.ts
  app/core/Permissions/specifications.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
Owners: @MetaMask/mobile-devs

fix: Fix/1723 broken sign verification (#9656)
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Permissions/index.ts
  app/core/Permissions/specifications.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
Owners: @MetaMask/mobile-devs

fix: Fix/1723 broken sign verification (#9656)
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Permissions/index.ts
  app/core/Permissions/specifications.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
Owners: @MetaMask/mobile-devs

chore: make opt in modal non interactable
  app/components/Views/SmartTransactionsOptInModal/SmartTranactionsOptInModal.tsx
Owners: @MetaMask/mobile-devs

feat: update copy of STX opt in
  app/components/Views/SmartTransactionsOptInModal/SmartTranactionsOptInModal.tsx
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

chore: adding plugin to eslintrc file and ignoring valid instances of hex color values
  .eslintrc.js
  app/components/UI/Ramp/components/LoadingAnimation/backgroundShapes.ts
  app/components/UI/Swaps/components/LoadingAnimation/backgroundShapes.js
  app/util/networks/index.js
Owners: @MetaMask/mobile-devs, @MetaMask/ramp, @MetaMask/mobile-platform

Add checkbox to onboarding
  app/components/UI/OptinMetrics/index.js
Owners: @MetaMask/mobile-devs

Add copy
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

chore: update tx controller v13 patch notes
  patches/@metamask+transaction-controller+13.0.0.patch
Owners: @MetaMask/mobile-platform

Revert "chore: update tx controller v13 patch notes"
  patches/@metamask+transaction-controller+13.0.0.patch
Owners: @MetaMask/mobile-platform

chore: actually update tx controller v13 patch notes in the right place
  scripts/patch-transaction-controller.sh
Owners: @MetaMask/mobile-devs

Re-design POC
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/Confirm/index.ts
  app/components/Views/confirmations/components/Confirm/BottomModal/BottomModal.tsx
  app/components/Views/confirmations/components/Confirm/BottomModal/index.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Footer/index.ts
  app/components/Views/confirmations/components/Confirm/Header/Header.tsx
  app/components/Views/confirmations/components/Confirm/Header/index.ts
  app/components/Views/confirmations/components/Confirm/Info/Info.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSignInfo/PersonalSignInfo.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSignInfo/index.ts
  app/components/Views/confirmations/components/Confirm/Info/TransactionInfo/TransactionInfo.tsx
  app/components/Views/confirmations/components/Confirm/Info/TransactionInfo/index.ts
  app/components/Views/confirmations/components/Confirm/Info/index.ts
  app/components/Views/confirmations/hooks/useTransaction.ts
Owners: @MetaMask/mobile-devs, @MetaMask/confirmations-ux, @MetaMask/mobile-platform

Add BottomSheet
  app/components/Nav/App/index.js
  app/components/Views/ExperienceEnhancerModal/index.tsx
  app/components/Views/ExperienceEnhancerModal/styles.ts
  app/components/Views/Wallet/index.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

Add checkbox
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

Add data collection modal
  app/components/Views/DataCollectionModal/DataCollectionModal.tsx
  app/components/Views/DataCollectionModal/styles.ts
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

yarn deduplicate
  .e2e.env.example
  yarn.lock
Owners: @MetaMask/mobile-devs

put back e2e exmaple env
  .e2e.env.exmaple
Owners: @MetaMask/mobile-devs

test: revert to original snapshot
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

refactor: rename variable
  app/components/UI/ManageNetworks/ManageNetworks.test.js
Owners: @MetaMask/mobile-devs

refactor: rename variable
  app/components/Views/OnboardingSuccess/DefaultSettings/index.test.js
Owners: @MetaMask/mobile-devs

feat: smart-tx opt in modal 2 (#9661)
  app/components/Views/SmartTransactionsOptInModal/SmartTranactionsOptInModal.tsx
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

feat: smart-tx opt in modal 2 (#9661)
  app/components/Views/SmartTransactionsOptInModal/SmartTranactionsOptInModal.tsx
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

feat: revert back the previous change which was making the filteredNetworks to use the selected one instead
  app/components/Views/Settings/NetworksSettings/index.js
Owners: @MetaMask/mobile-devs

test: this component gets names for specific chain ids, it should keep using the util, reverting the change
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
Owners: @MetaMask/mobile-devs

update Network Controller to v^18
  app/core/Engine.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

chore: apply changes to tx controller patch
  patches/@metamask+transaction-controller+13.0.0.patch
Owners: @MetaMask/mobile-platform

chore: implement ducks pattern to new push notifications redux
  app/actions/notification/index.js
  app/reducers/index.ts
  app/reducers/notification/index.js
  app/store/ducks/notifications.ts
  app/store/sagas/constants.ts
  app/store/sagas/index.ts
Owners: @MetaMask/mobile-devs

chore: add reduxsauce
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

chore: update tx controller v13 patch notes (#9663)
  patches/@metamask+transaction-controller+13.0.0.patch
  scripts/patch-transaction-controller.sh
Owners: @MetaMask/mobile-platform, @MetaMask/mobile-devs

chore: update tx controller v13 patch notes (#9663)
  patches/@metamask+transaction-controller+13.0.0.patch
  scripts/patch-transaction-controller.sh
Owners: @MetaMask/mobile-platform, @MetaMask/mobile-devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform
patches/                             @MetaMask/mobile-platform
bitrise.yml                          @MetaMask/mobile-platform
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform
app/components/Views/confirmations   @MetaMask/confirmations-ux @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations-ux @MetaMask/mobile-platform

# Accounts Team

app/core/Encryptor/                  @MetaMask/accounts-engineers
