Repository MetaMask/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/supply-chain, @MetaMask/ramp, @MetaMask/confirmations, @MetaMask/sdk-devs, @MetaMask/accounts-engineers, @MetaMask/swaps-engineers, @MetaMask/notifications, @MetaMask/snaps-devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs

# Design System Team
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform

# Platform Team
patches/                             @MetaMask/mobile-platform
app/core/Engine.ts                   @MetaMask/mobile-platform
app/core/Engine.test.js              @MetaMask/mobile-platform

# Supply Chain Team
bitrise.yml                          @MetaMask/supply-chain @MetaMask/mobile-platform
yarn.lock                            @MetaMask/supply-chain @MetaMask/mobile-platform
ios/Podfile.lock                     @MetaMask/supply-chain @MetaMask/mobile-platform

# Ramps Team
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform

# Confirmation Team
app/components/Views/confirmations   @MetaMask/confirmations @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations @MetaMask/mobile-platform

# All below files are maintained by the SDK team because they contain SDK related code, WalletConnect integrations, or critical SDK flows.
app/actions/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Approvals/WalletConnectApproval   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/SDK   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/WalletConnectSessions   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/BackgroundBridge/WalletConnectPort.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/DeeplinkManager   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/RPCMethods/RPCMethodMiddleware.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/SDKConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/WalletConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/reducers/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/util/walletconnect.js   @MetaMask/sdk-devs @MetaMask/mobile-platform

# Accounts Team
app/core/Encryptor/                  @MetaMask/accounts-engineers

# Swaps Team
app/components/UI/Swaps              @MetaMask/swaps-engineers @MetaMask/mobile-platform

# Notifications Team
app/components/Views/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/components/Views/Settings/NotificationsSettings @MetaMask/notifications @MetaMask/mobile-platform
app/components/UI/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/reducers/notification  @MetaMask/notifications  @MetaMask/mobile-platform
app/actions/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/selectors/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/util/notifications  @MetaMask/notifications  @MetaMask/mobile-platform
app/store/util/notifications @MetaMask/notifications @MetaMask/mobile-platform

# LavaMoat Team
ses.cjs                              @MetaMask/supply-chain
patches/react-native+0.*.patch       @MetaMask/supply-chain

# Snaps Team
**/snaps/**                          @MetaMask/snaps-devs
**/Snaps/**                          @MetaMask/snaps-devs

Remove unnecessary import in accountsController
  app/selectors/accountsController.ts
Owners: @MetaMask/mobile-devs

Update abbreviations to match snake_case style
  app/util/number/index.js
  app/util/number/index.test.ts
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

remove magic number
  app/util/number/index.js
Owners: @MetaMask/mobile-devs

Add try/catch log
  app/util/address/index.ts
Owners: @MetaMask/mobile-devs

Update log message
  app/util/address/index.ts
Owners: @MetaMask/mobile-devs

fix: removed refs to WhatsNewModal
  wdio/features/Upgrading/ConnectedTestNetwork.feature
  wdio/features/Upgrading/MultipleAccounts.feature
Owners: @MetaMask/mobile-devs

Organize components into nested directory structure
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/MarketDetailsList.tsx
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/index.ts
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/TokenDetailsList.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/index.ts
Owners: @MetaMask/mobile-devs

TS coverage on views folder part 3 2 PR
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/declarations.d.ts
Owners: @MetaMask/mobile-devs

Update app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

Adjust TS comment in sdk/index file
  app/components/UI/Ramp/sdk/index.tsx
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

chore: 10311 transactions simulation dir (#10561)
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/Transactions/index.js
Owners: @MetaMask/mobile-devs

chore: 10311 transactions simulation dir (#10561)
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/Transactions/index.js
Owners: @MetaMask/mobile-devs

Update file import paths
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/MarketDetailsList.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/TokenDetailsList.tsx
Owners: @MetaMask/mobile-devs

More Ramps TS work
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/components/AccountSelector.tsx
  app/components/UI/Ramp/sdk/index.tsx
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

fix: updated error alert when camera permissions denied
  app/components/Views/QRScanner/index.tsx
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

Adjust ts comment in Ramp/sd/index.ts
  app/components/UI/Ramp/sdk/index.tsx
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

fix unit tests and removal of ts expect error
  app/components/Views/QRScanner/__snapshots__/index.test.tsx.snap
  app/components/Views/SDK/SDKSessionModal/SDKSessionModal.tsx
Owners: @MetaMask/mobile-devs, @MetaMask/sdk-devs, @MetaMask/mobile-platform

fix: Update test dapp favorite selector (#10649)
  e2e/selectors/Browser/BrowserView.selectors.js
  e2e/specs/browser/browser-tests.spec.js
Owners: @MetaMask/mobile-devs

fix: Update test dapp favorite selector (#10649)
  e2e/selectors/Browser/BrowserView.selectors.js
  e2e/specs/browser/browser-tests.spec.js
Owners: @MetaMask/mobile-devs

Add additional unit tests for null checks of tokenList and marketData
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.test.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
Owners: @MetaMask/mobile-devs

refactor accounts controller selectors to not return undefined if find an error
  app/selectors/accountsController.ts
Owners: @MetaMask/mobile-devs

remove string cast from selectSelectedInternalAccountChecksummedAddress
  app/selectors/accountsController.ts
Owners: @MetaMask/mobile-devs

fix: re-added test for a temp fix for android e2e test bug
  wdio/features/Upgrading/ConnectedTestNetwork.feature
  wdio/step-definitions/common-steps.js
Owners: @MetaMask/mobile-devs

remove unused imported variable
  app/components/Views/NetworkSelector/NetworkSelector.tsx
Owners: @MetaMask/mobile-devs

no check on typescript notifications directory
  app/components/UI/Notification/List/index.test.tsx
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/NotificationMenuItem/Icon.test.tsx
  app/components/UI/Notification/NotificationMenuItem/Icon.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.test.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.tsx
  app/components/UI/Notification/SwitchLoadingModal/Loader.tsx
  app/components/Views/Notifications/Details/Fields/AnnouncementDescriptionField.tsx
  app/components/Views/Notifications/Details/Fields/index.tsx
  app/components/Views/Notifications/Details/index.test.tsx
  app/components/Views/Notifications/index.tsx
  app/util/notifications/notification-states/erc1155-sent-received/erc1155-sent-received.tsx
  app/util/notifications/notification-states/erc20-sent-received/erc20-sent-received.ts
  app/util/notifications/notification-states/erc721-sent-received/erc721-sent-received.tsx
  app/util/notifications/notification-states/eth-sent-received/eth-sent-received.tsx
  app/util/notifications/notification-states/feature-announcement/feature-announcement.tsx
  app/util/notifications/notification-states/lido-stake-ready-to-be-withdrawn/lido-stake-ready-to-be-withdrawn.tsx
  app/util/notifications/notification-states/lido-withdrawal-requested/lido-withdrawal-requested.tsx
  app/util/notifications/notification-states/stake/stake.tsx
  app/util/notifications/notification-states/swap-completed/swap-completed.tsx
  app/util/notifications/notification-states/types/NotificationModalDetails.ts
Owners: @MetaMask/mobile-devs, @MetaMask/notifications, @MetaMask/mobile-platform

Add snapshot unit tests for MarketDetailsList and TokenDetailsList
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/MarketDetailsList.test.tsx
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/__snapshots__/MarketDetailsList.test.tsx.snap
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/TokenDetailsList.test.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/__snapshots__/TokenDetailsList.test.tsx.snap
Owners: @MetaMask/mobile-devs

fix: reveal conditionals
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
Owners: @MetaMask/mobile-devs

refactor to simplify
  app/components/Views/NetworkSelector/NetworkSelector.tsx
Owners: @MetaMask/mobile-devs

showConfirmDeleteModal at NetworkSelector refactor
  app/components/Views/NetworkSelector/NetworkSelector.tsx
Owners: @MetaMask/mobile-devs

add unit test & refactor function
  app/util/notifications/pushPermissions.test.ts
  app/util/notifications/pushPermissions.ts
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

refactor function usage
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/core/NotificationManager.js
Owners: @MetaMask/notifications, @MetaMask/mobile-platform, @MetaMask/mobile-devs

update test cases
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
Owners: @MetaMask/mobile-devs

feat: Add the edit button (doesn't do anything for now)
  app/components/UI/SwitchCustomNetwork/index.js
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

feat: add mocked avatar group
  app/components/UI/SwitchCustomNetwork/index.js
Owners: @MetaMask/mobile-devs

style: fix coding style for sonar to pass
  app/components/UI/SwitchCustomNetwork/index.js
Owners: @MetaMask/mobile-devs

style: lint
  app/components/UI/TransactionHeader/index.js
Owners: @MetaMask/mobile-devs

feat: Add the account permission request info card
  app/components/UI/SwitchCustomNetwork/index.js
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

feat: add the new siteRequestInfoCard, and fix border radius so its conditional
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/UI/TransactionHeader/index.js
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

fix: typo
  sonar-project.properties
Owners: @MetaMask/mobile-devs

feat: when feature flag is enabled, change existing title, dapp logo size and hide what is not part of multichain version 1 UI
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/UI/TransactionHeader/index.js
  locales/languages/en.json
Owners: @MetaMask/mobile-devs
