Repository MetaMask/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/supply-chain, @MetaMask/ramp, @MetaMask/confirmations, @MetaMask/sdk-devs, @MetaMask/accounts-engineers, @MetaMask/swaps-engineers, @MetaMask/notifications, @MetaMask/snaps-devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs

# Design System Team
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform

# Platform Team
patches/                             @MetaMask/mobile-platform
app/core/Engine.ts                   @MetaMask/mobile-platform
app/core/Engine.test.js              @MetaMask/mobile-platform

# Supply Chain Team
bitrise.yml                          @MetaMask/supply-chain @MetaMask/mobile-platform
yarn.lock                            @MetaMask/supply-chain @MetaMask/mobile-platform
ios/Podfile.lock                     @MetaMask/supply-chain @MetaMask/mobile-platform

# Ramps Team
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform

# Confirmation Team
app/components/Views/confirmations   @MetaMask/confirmations @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations @MetaMask/mobile-platform

# All below files are maintained by the SDK team because they contain SDK related code, WalletConnect integrations, or critical SDK flows.
app/actions/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Approvals/WalletConnectApproval   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/SDK   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/WalletConnectSessions   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/BackgroundBridge/WalletConnectPort.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/DeeplinkManager   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/RPCMethods/RPCMethodMiddleware.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/SDKConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/WalletConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/reducers/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/util/walletconnect.js   @MetaMask/sdk-devs @MetaMask/mobile-platform

# Accounts Team
app/core/Encryptor/                  @MetaMask/accounts-engineers

# Swaps Team
app/components/UI/Swaps              @MetaMask/swaps-engineers @MetaMask/mobile-platform

# Notifications Team
app/components/Views/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/components/Views/Settings/NotificationsSettings @MetaMask/notifications @MetaMask/mobile-platform
app/components/UI/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/reducers/notification  @MetaMask/notifications  @MetaMask/mobile-platform
app/actions/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/selectors/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/util/notifications  @MetaMask/notifications  @MetaMask/mobile-platform
app/store/util/notifications @MetaMask/notifications @MetaMask/mobile-platform

# LavaMoat Team
ses.cjs                              @MetaMask/supply-chain
patches/react-native+0.*.patch       @MetaMask/supply-chain

# Snaps Team
**/snaps/**                          @MetaMask/snaps-devs
**/Snaps/**                          @MetaMask/snaps-devs

deduplicate
  yarn.lock
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

Add types
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/AddAsset/AddAsset.tsx
  app/components/Views/AssetDetails/index.tsx
Owners: @MetaMask/mobile-devs

remove awaits that have no effects
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AssetDetails/index.tsx
Owners: @MetaMask/mobile-devs

add navigation tabLabel prop.
  app/components/UI/SearchTokenAutocomplete/index.tsx
Owners: @MetaMask/mobile-devs

refactor actualIcon fn to comply with TS types
  app/components/Views/AccountConnect/AccountConnect.tsx
Owners: @MetaMask/mobile-devs

remove Engine.context from react side effects dependency arrays
  app/components/Views/AccountConnect/AccountConnect.tsx
Owners: @MetaMask/mobile-devs

Upgrade ios simulator to iphone 14 pro
  .detoxrc.js
Owners: @MetaMask/mobile-devs

ignore lint message until network controller is updated
  app/components/Views/AssetDetails/index.tsx
Owners: @MetaMask/mobile-devs

Fix typescript in useAccounts files
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/hooks/useAccounts/useAccounts.test.ts
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useAccounts/useAccounts.types.ts
Owners: @MetaMask/mobile-devs

chore: confirmations directory ts coverage (#10645)
  app/components/Views/confirmations/Send/index.test.tsx
  app/components/Views/confirmations/SendFlow/AddressElement/AddressElement.test.tsx
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.tsx
  app/components/Views/confirmations/SendFlow/Confirm/components/CustomGasModal/CustomGasModal.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/index.test.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.stories.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/Views/confirmations/components/EditGasFee1559Update/index.tsx
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/EditGasFeeLegacyUpdate.test.tsx
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/index.tsx
  app/components/Views/confirmations/components/TransactionBlockaidBanner/TransactionBlockaidBanner.test.tsx
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.test.tsx
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/styles.ts
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/components/Views/confirmations/components/UpdateEIP1559Tx/index.tsx
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

chore: confirmations directory ts coverage (#10645)
  app/components/Views/confirmations/Send/index.test.tsx
  app/components/Views/confirmations/SendFlow/AddressElement/AddressElement.test.tsx
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.tsx
  app/components/Views/confirmations/SendFlow/Confirm/components/CustomGasModal/CustomGasModal.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/index.test.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.stories.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/Views/confirmations/components/EditGasFee1559Update/index.tsx
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/EditGasFeeLegacyUpdate.test.tsx
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/index.tsx
  app/components/Views/confirmations/components/TransactionBlockaidBanner/TransactionBlockaidBanner.test.tsx
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.test.tsx
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/styles.ts
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/components/Views/confirmations/components/UpdateEIP1559Tx/index.tsx
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

test: improve RevealPrivateCredential unit tests
  app/components/UI/Swaps/components/InfoModal.js
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
  app/components/Views/RevealPrivateCredential/index.test.tsx
  e2e/selectors/Settings/SecurityAndPrivacy/RevealSeedView.selectors.js
Owners: @MetaMask/swaps-engineers, @MetaMask/mobile-platform, @MetaMask/mobile-devs

revert usage of embedded SEE, in favor or external
  app/lib/snaps/SnapsExecutionWebView.tsx
Owners: @MetaMask/snaps-devs

refactor async nature of notifications enablement
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/util/notifications/pushPermissions.ts
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

add correct selector
  app/components/Views/Wallet/index.tsx
Owners: @MetaMask/mobile-devs

Remove hardcoded locale identifier
  app/util/number/index.js
Owners: @MetaMask/mobile-devs

improve loading style
  app/components/UI/Notification/List/styles.ts
Owners: @MetaMask/mobile-devs

chore: wrap methods in useCallback hook
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
Owners: @MetaMask/mobile-devs

test: update snapshots
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
Owners: @MetaMask/mobile-devs

update snapshots
  app/components/UI/Notification/List/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
Owners: @MetaMask/mobile-devs, @MetaMask/notifications, @MetaMask/mobile-platform

fix loading dependency
  app/components/Views/Notifications/index.tsx
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

remove unnecessary navigationOptions
  app/components/Views/Notifications/Details/index.tsx
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

fix alignment
  app/components/Views/Notifications/Details/styles.ts
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

Remove skip method
  e2e/specs/browser/browser-tests.spec.js
Owners: @MetaMask/mobile-devs

cherry-pick swaps controller 9.0.2
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

version bump 1386
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

chore: cherry pick 2df9eb5 (#10669)
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

chore: Update axios to v1.7.4 (#10663)
  .iyarc
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

chore: Update axios to v1.7.4 (#10663)
  .iyarc
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

fix: settings toggle extra large paddings when biometrics hidden (#10547)
  app/components/Views/Settings/SecuritySettings/Sections/LoginOptionsSettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
Owners: @MetaMask/mobile-devs

fix: settings toggle extra large paddings when biometrics hidden (#10547)
  app/components/Views/Settings/SecuritySettings/Sections/LoginOptionsSettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
Owners: @MetaMask/mobile-devs

Provisional completion of TS checking for Ramps folder
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/Ramp/Views/Checkout.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/OrdersList/OrdersList.test.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.test.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/containers/ApplePayButton.tsx
  app/components/UI/Ramp/containers/CustomActionButton.tsx
  app/components/UI/Ramp/hooks/useBalance.ts
  app/components/UI/Ramp/hooks/useGasPriceEstimation.test.ts
  app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/hooks/useInAppBrowser.ts
  app/components/UI/Ramp/orderProcessor/aggregator.test.ts
  app/components/UI/Ramp/sdk/index.tsx
  app/components/UI/Ramp/types/analytics.ts
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useAccounts/useAccounts.types.ts
Owners: @MetaMask/mobile-devs, @MetaMask/ramp, @MetaMask/mobile-platform

chore: cherry pick fix for aggregated balance calculation (#10638)
  app/core/Engine.test.js
  app/core/Engine.ts
Owners: @MetaMask/mobile-platform

chore: chery pick fix for harmony network image (#10639)
  app/util/networks/customNetworks.tsx
Owners: @MetaMask/mobile-devs

updates snapshot
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

Fix TS issue on NetworkSwitcher
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

Fix metadata types issue in useAccount
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useAccounts/useAccounts.types.ts
Owners: @MetaMask/mobile-devs

Update snapshot for AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
Owners: @MetaMask/mobile-devs

Undo TS changes to Ramp SDK index
  app/components/UI/Ramp/sdk/index.tsx
Owners: @MetaMask/ramp, @MetaMask/mobile-platform

Remove metadata prop from useAccount test mock accounts
  app/components/hooks/useAccounts/useAccounts.test.ts
Owners: @MetaMask/mobile-devs
