Repository MetaMask/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/supply-chain, @MetaMask/ramp, @MetaMask/confirmations, @MetaMask/sdk-devs, @MetaMask/accounts-engineers, @MetaMask/swaps-engineers, @MetaMask/notifications, @MetaMask/snaps-devs

perf: add parallel fetching for the network fee dropdown in notification modal
  app/util/notifications/methods/common.ts
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

perf: add parallel fetching for the network fee dropdown (#10692)
  app/util/notifications/methods/common.ts
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

perf: add parallel fetching for the network fee dropdown (#10692)
  app/util/notifications/methods/common.ts
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

Fix TS errors on first batch of UI component files
  app/components/UI/SearchTokenAutocomplete/index.test.tsx
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.test.tsx
  app/components/UI/SimulationDetails/FiatDisplay/FiatDisplay.tsx
  app/components/UI/SimulationDetails/SimulationDetails.test.tsx
  app/components/UI/SimulationDetails/SimulationDetails.tsx
  app/components/UI/Swaps/SwapsLiveness.ts
  app/components/UI/Tabs/index.test.tsx
  app/components/UI/TextEstimated/TextEstimated.constants.ts
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  app/components/UI/WebsiteIcon/index.test.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.types.ts
Owners: @MetaMask/mobile-devs, @MetaMask/swaps-engineers, @MetaMask/mobile-platform

bumping snaps packages versions
  package.json
Owners: @MetaMask/mobile-devs

bumping snaps packages versions
  yarn.lock
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

add SnapController on reset state block
  app/core/Engine.ts
Owners: @MetaMask/mobile-platform

add a script to bump build version
  scripts/bump-build-version-v2.sh
Owners: @MetaMask/mobile-devs

dedup
  yarn.lock
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

rollback unecessary change
  yarn.lock
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

feat: eslint format the `getTotalFiatAccountBalance` method.
  app/core/Engine.ts
Owners: @MetaMask/mobile-platform

fix: invalid icon url
  app/components/Views/AccountConnect/AccountConnect.tsx
Owners: @MetaMask/mobile-devs

docs: comments for sdk
  app/core/RPCMethods/RPCMethodMiddleware.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

feat: improve connection management
  app/core/DeeplinkManager/ParseManager/extractURLParams.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/DeeplinkManager/parseOriginatorInfo.test.ts
  app/core/DeeplinkManager/parseOriginatorInfo.ts
  app/core/SDKConnect/Connection/Connection.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/connect.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
  app/core/SDKConnect/handlers/handleDeeplink.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

deduplicate
  yarn.lock
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

update patch version
  patches/@metamask+approval-controller+7.0.2.patch
Owners: @MetaMask/mobile-platform

remove property fixing ts lint
  app/core/Engine.ts
Owners: @MetaMask/mobile-platform

chore: notification second round fixes (#10693)
  app/core/Engine.ts
  package.json
  patches/@metamask+approval-controller+7.0.2.patch
  yarn.lock
Owners: @MetaMask/mobile-platform, @MetaMask/mobile-devs, @MetaMask/supply-chain

chore: notification second round fixes (#10693)
  app/core/Engine.ts
  package.json
  patches/@metamask+approval-controller+7.0.2.patch
  yarn.lock
Owners: @MetaMask/mobile-platform, @MetaMask/mobile-devs, @MetaMask/supply-chain

chore: temporarily excluding file for coverage until feature-complete since new code is behind feature flag
  sonar-project.properties
Owners: @MetaMask/mobile-devs

feat: Fix the lint pipeline failure.
  app/components/Views/LedgerConnect/index.test.tsx
Owners: @MetaMask/mobile-devs

chore: temporarily excluding file for coverage until feature-complete since new code is behind feature flag
  sonar-project.properties
Owners: @MetaMask/mobile-devs

chore: temporarily excluding file for coverage until feature-complete since new code is behind feature flag
  sonar-project.properties
Owners: @MetaMask/mobile-devs

deps: add @react-native-community/datetimepicker, @react-native-community/slider
  .depcheckrc.yml
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

feat: wip
  app/core/SDKConnect/Connection/ConnectionLifecycle/connect.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsConnected.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

feat: wip
  app/core/SDKConnect/Connection/Connection.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

feat: correct server url
  app/core/SDKConnect/SDKConnect.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

feat: cleanup
  app/core/SDKConnect/handlers/checkPermissions.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

feat: 2794 account edit permission multichain bottomsheet UI changes only (#10682)
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  locales/languages/en.json
  sonar-project.properties
Owners: @MetaMask/mobile-devs

feat: 2794 account edit permission multichain bottomsheet UI changes only (#10682)
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  locales/languages/en.json
  sonar-project.properties
Owners: @MetaMask/mobile-devs

updating @blockaid/ppom_release to version 1.5.2
  app/lib/ppom/blockaid-version.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  ppom/package.json
  ppom/yarn.lock
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform, @MetaMask/mobile-devs, @MetaMask/supply-chain

updating @blockaid/ppom_release to version 1.5.2
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

updating @blockaid/ppom_release to version 1.5.2
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

Add more typescript fixes
  app/component-library/components/Pickers/PickerAccount/PickerAccount.types.ts
  app/components/Approvals/SignatureApproval/SignatureApproval.tsx
  app/components/Nav/App/index.test.tsx
  app/components/Nav/Main/index.test.tsx
  app/components/UI/AccountInfoCard/index.test.tsx
  app/components/UI/AssetOverview/AboutAsset/AboutAsset.tsx
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.test.tsx
  app/components/UI/Identicon/index.test.tsx
  app/components/UI/OnboardingWizard/index.tsx
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.test.tsx
  app/components/UI/SimulationDetails/FiatDisplay/FiatDisplay.tsx
  app/components/UI/SimulationDetails/SimulationDetails.test.tsx
  app/components/UI/Swaps/SwapsLiveness.ts
  app/components/UI/Tabs/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/TransactionElement/TransactionDetails/index.test.tsx
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WebsiteIcon/index.test.tsx
  app/components/Views/LockScreen/index.test.tsx
  app/components/Views/NFTAutoDetectionModal/NFTAutoDetectionModal.test.tsx
  app/components/Views/NftDetails/NftDetails.test.ts
  app/components/Views/OriginSpamModal/OriginSpamModal.test.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/SDK/SDKSessionsManager/SDKSessionAccountListItem.test.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.test.tsx
  app/components/hooks/useExistingAddress.test.ts
  app/declarations.d.ts
  app/util/address/index.ts
Owners: @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/mobile-devs, @MetaMask/swaps-engineers, @MetaMask/sdk-devs

Update ios simulator to iphone 15 pro
  .detoxrc.js
Owners: @MetaMask/mobile-devs

Ignore TS issues on snaps directory
  app/components/Views/Snaps/SnapSettings/test/SnapSettings.test.tsx
  app/components/Views/Snaps/components/SnapDetails/SnapDetails.tsx
  app/components/Views/Snaps/components/SnapDetails/test/SnapDetails.test.tsx
  app/components/Views/Snaps/components/SnapPermissions/SnapPermissions.tsx
Owners: @MetaMask/snaps-devs

Ignore TS issues on snaps directory
  app/components/Views/Snaps/components/SnapElement/test/SnapElement.test.tsx
Owners: @MetaMask/snaps-devs

removing unused component
  app/components/UI/TextEstimated/README.md
  app/components/UI/TextEstimated/TextEstimated.constants.ts
  app/components/UI/TextEstimated/TextEstimated.stories.tsx
  app/components/UI/TextEstimated/TextEstimated.test.tsx
  app/components/UI/TextEstimated/TextEstimated.tsx
  app/components/UI/TextEstimated/TextEstimated.types.ts
  app/components/UI/TextEstimated/__snapshots__/TextEstimated.test.tsx.snap
  app/components/UI/TextEstimated/index.ts
Owners: @MetaMask/mobile-devs

feat: only redirect on deeplinks
  app/core/SDKConnect/ConnectionManagement/connectToChannel.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

fix: `DAPP_TRANSACTION_COMPLETED`
  app/components/Views/confirmations/Approval/index.js
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs

# Design System Team
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform

# Platform Team
patches/                             @MetaMask/mobile-platform
app/core/Engine.ts                   @MetaMask/mobile-platform
app/core/Engine.test.js              @MetaMask/mobile-platform

# Supply Chain Team
bitrise.yml                          @MetaMask/supply-chain @MetaMask/mobile-platform
yarn.lock                            @MetaMask/supply-chain @MetaMask/mobile-platform
ios/Podfile.lock                     @MetaMask/supply-chain @MetaMask/mobile-platform

# Ramps Team
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform

# Confirmation Team
app/components/Views/confirmations   @MetaMask/confirmations @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations @MetaMask/mobile-platform

# All below files are maintained by the SDK team because they contain SDK related code, WalletConnect integrations, or critical SDK flows.
app/actions/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Approvals/WalletConnectApproval   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/SDK   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/WalletConnectSessions   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/BackgroundBridge/WalletConnectPort.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/DeeplinkManager   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/RPCMethods/RPCMethodMiddleware.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/SDKConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/WalletConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/reducers/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/util/walletconnect.js   @MetaMask/sdk-devs @MetaMask/mobile-platform

# Accounts Team
app/core/Encryptor/                  @MetaMask/accounts-engineers

# Swaps Team
app/components/UI/Swaps              @MetaMask/swaps-engineers @MetaMask/mobile-platform

# Notifications Team
app/components/Views/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/components/Views/Settings/NotificationsSettings @MetaMask/notifications @MetaMask/mobile-platform
app/components/UI/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/reducers/notification  @MetaMask/notifications  @MetaMask/mobile-platform
app/actions/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/selectors/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/util/notifications  @MetaMask/notifications  @MetaMask/mobile-platform
app/store/util/notifications @MetaMask/notifications @MetaMask/mobile-platform

# LavaMoat Team
ses.cjs                              @MetaMask/supply-chain
patches/react-native+0.*.patch       @MetaMask/supply-chain

# Snaps Team
**/snaps/**                          @MetaMask/snaps-devs
**/Snaps/**                          @MetaMask/snaps-devs
