Repository MetaMask/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/supply-chain, @MetaMask/ramp, @MetaMask/confirmations, @MetaMask/sdk-devs, @MetaMask/accounts-engineers, @MetaMask/swaps-engineers, @MetaMask/notifications, @MetaMask/snaps-devs

removed podfile change
  ios/Podfile
  ios/Podfile.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

feat: wip
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/core/RPCMethods/RPCMethodMiddleware.ts
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform, @MetaMask/sdk-devs

feat: moves `WalletConnect2Session` in separate file
  app/core/WalletConnect/WalletConnect2Session.ts
  app/core/WalletConnect/WalletConnectV2.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

chore: `WalletConnect2Sessions` class optimisation
  app/core/WalletConnect/WalletConnect2Session.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

fix: WalletConnect session delete handling (PR #10418)
  app/core/WalletConnect/WalletConnect2Session.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

fix: redirect back to native app on iOS 17
  app/core/WalletConnect/WalletConnect2Session.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

chore: updates WC se-sdk to 1.10.0
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

Bump @metamask/smart-transactions-controller from 10.1.1 to 11.0.0
  app/core/Engine.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-platform, @MetaMask/mobile-devs, @MetaMask/supply-chain

chore: improved error handling and code optimisation
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/util/confirmation/signatureUtils.js
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform, @MetaMask/mobile-devs

updated the sonar workflow check
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

fix: failing tests
  app/components/Views/confirmations/components/TypedSign/index.test.tsx
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

fix: yarn.lock for WC dependency
  yarn.lock
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

add defaut guard
  app/util/notifications/methods/common.ts
Owners: @MetaMask/notifications, @MetaMask/mobile-platform

Rework tests
  app/core/Analytics/MetaMetrics.test.ts
Owners: @MetaMask/mobile-devs

chore: updates all WC dependecies versions
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/supply-chain, @MetaMask/mobile-platform

Use logger to log error message rather than dumping to console (was blocking e2e test runner
  app/components/Base/RemoteImage/index.js
Owners: @MetaMask/mobile-devs

Fix swap-token-chart.spec.js e2e test
  e2e/specs/swaps/swap-token-chart.spec.js
Owners: @MetaMask/mobile-devs

updated project key
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

Update A2 case based on Slack convo
  app/core/Analytics/MetaMetrics.test.ts
Owners: @MetaMask/mobile-devs

updated workflow
  .github/workflows/sonar-quality-gate-check.yml
Owners: @MetaMask/mobile-devs

feat: behind feature flag, add disconnect all to the edit account screen as well as confirmation modal
  app/components/Nav/App/index.js
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.types.ts
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/AccountPermissionsConfirmRevokeAll.styles.ts
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/AccountPermissionsConfirmRevokeAll.test.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/AccountPermissionsConfirmRevokeAll.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/__snapshots__/AccountPermissionsConfirmRevokeAll.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/index.ts
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Owners: @MetaMask/mobile-devs

lint
  e2e/pages/TokenOverview.js
Owners: @MetaMask/mobile-devs

fix: yarn deduplicate
  yarn.lock
Owners: @MetaMask/supply-chain, @MetaMask/mobile-platform

remove trackAnonymousEvent test
  app/core/Analytics/MetaMetrics.test.ts
Owners: @MetaMask/mobile-devs

fix: failing tests 2
  app/components/Views/confirmations/components/PersonalSign/index.test.tsx
Owners: @MetaMask/confirmations, @MetaMask/mobile-platform

chore: Bump @metamask/smart-transactions-controller from 10.1.1 to 11.0.0 (#10437)
  app/core/Engine.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-platform, @MetaMask/mobile-devs, @MetaMask/supply-chain

chore: Bump @metamask/smart-transactions-controller from 10.1.1 to 11.0.0 (#10437)
  app/core/Engine.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-platform, @MetaMask/mobile-devs, @MetaMask/supply-chain

chore: remove only from test
  app/util/networks/index.test.ts
Owners: @MetaMask/mobile-devs

feat: merge commit 2 of 2, fix merge conflict still present in previous commit
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
Owners: @MetaMask/mobile-devs

feat: wait for permissions to be loaded
  app/core/SDKConnect/handlers/handleDeeplink.ts
  app/core/SDKConnect/utils/wait.util.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs

# Design System Team
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform

# Platform Team
patches/                             @MetaMask/mobile-platform
app/core/Engine.ts                   @MetaMask/mobile-platform
app/core/Engine.test.js              @MetaMask/mobile-platform

# Supply Chain Team
bitrise.yml                          @MetaMask/supply-chain @MetaMask/mobile-platform
yarn.lock                            @MetaMask/supply-chain @MetaMask/mobile-platform
ios/Podfile.lock                     @MetaMask/supply-chain @MetaMask/mobile-platform

# Ramps Team
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform

# Confirmation Team
app/components/Views/confirmations   @MetaMask/confirmations @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations @MetaMask/mobile-platform

# All below files are maintained by the SDK team because they contain SDK related code, WalletConnect integrations, or critical SDK flows.
app/actions/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Approvals/WalletConnectApproval   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/SDK   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/WalletConnectSessions   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/BackgroundBridge/WalletConnectPort.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/DeeplinkManager   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/RPCMethods/RPCMethodMiddleware.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/SDKConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/WalletConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/reducers/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/util/walletconnect.js   @MetaMask/sdk-devs @MetaMask/mobile-platform

# Accounts Team
app/core/Encryptor/                  @MetaMask/accounts-engineers

# Swaps Team
app/components/UI/Swaps              @MetaMask/swaps-engineers @MetaMask/mobile-platform

# Notifications Team
app/components/Views/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/components/Views/Settings/NotificationsSettings @MetaMask/notifications @MetaMask/mobile-platform
app/components/UI/Notifications @MetaMask/notifications @MetaMask/mobile-platform
app/reducers/notification  @MetaMask/notifications  @MetaMask/mobile-platform
app/actions/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/selectors/notification @MetaMask/notifications  @MetaMask/mobile-platform
app/util/notifications  @MetaMask/notifications  @MetaMask/mobile-platform
app/store/util/notifications @MetaMask/notifications @MetaMask/mobile-platform

# LavaMoat Team
ses.cjs                              @MetaMask/supply-chain
patches/react-native+0.*.patch       @MetaMask/supply-chain

# Snaps Team
**/snaps/**                          @MetaMask/snaps-devs
**/Snaps/**                          @MetaMask/snaps-devs
