Repository MetaMask/metamask-mobile, pull requests merged in 2020-04, with the labels that each got.

#1443 Set navigation param silent to false when switching to a tab
  app/components/Views/Browser/index.js
Labels: needs-qa

#1470 Fix collectible image icon & send flow styles
  app/components/UI/CollectibleImage/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleImage/index.js
  app/components/Views/SendFlow/Amount/index.js
Labels: needs-qa

#1477 Detox: Update dapp initiated txn file
  e2e/dapp-initiated-txn.spec.js
Labels: detox

#1482 Fix web3 injection
  metamask-mobile-provider-v1.0.2.tgz
  package.json
  yarn.lock
Labels: bug, dapp-compatibility, needs-qa

#1427 Change source commit for react-native-webview in package.json
  package.json
  yarn.lock
Labels: needs-qa

#1472 Enable back button if going from dapp to home & redirection problems
  app/components/Views/BrowserTab/index.js
Labels: needs-qa

#1481 bugfix/search-token
  app/components/UI/AssetIcon/__snapshots__/index.test.js.snap
  app/util/assets.js
Labels: needs-qa

#1453 Feature: analytics v2
  app/components/UI/AccountApproval/index.js
  app/components/UI/AccountList/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/NetworkList/index.js
  app/components/UI/OnboardingWizard/Step1/index.js
  app/components/UI/OnboardingWizard/Step6/index.js
  app/components/UI/OnboardingWizard/index.js
  app/components/UI/OptinMetrics/index.js
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/SignatureRequest/index.js
  app/components/UI/Tokens/index.js
  app/components/UI/TransactionReview/index.js
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/__snapshots__/index.test.js.snap
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/ApproveView/Approve/index.test.js
  app/components/Views/BrowserTab/index.js
  app/components/Views/ImportWallet/index.js
  app/components/Views/Login/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/PaymentChannel/index.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/ExperimentalSettings/index.js
  app/components/Views/Settings/index.js
  app/components/Views/Wallet/index.js
  app/core/Analytics.js
  app/reducers/analytics/index.js
  app/util/analytics.js
  locales/en.json
  locales/es.json
Labels: needs-qa

#1516 Loosen nvmrc to major version
  .nvmrc
Labels: QA Passed, needs-qa
