Repository MetaMask/metamask-mobile, pull requests merged in 2020-06, with the labels that each got.

#1580 filter sentry tx rejected errors
  app/util/middlewares.js
Labels: No QA Needed/Regression Test, next release

#1514 Improvement/protect funds everywhere
  app/components/Nav/Main/index.js
  app/components/UI/BackupAlert/__snapshots__/index.test.js.snap
  app/components/UI/BackupAlert/index.js
  app/components/UI/BackupAlert/index.test.js
  app/components/UI/TxNotification/index.js
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/BrowserTab/index.js
Labels: QA'd - Issues Found, next release

#1611 Detox: Update Connect Tests
  app/components/UI/AccountApproval/__snapshots__/index.test.js.snap
  app/components/UI/AccountApproval/index.js
  e2e/addressbook-tests.spec.js
  e2e/browser-tests.spec.js
  e2e/dapp-initiated-txn.spec.js
  e2e/helpers.js
  e2e/import-seed-phrase.spec.js
  e2e/start-exploring.spec.js
  e2e/wallet-tests.spec.js
Labels: detox

#1560 Mixpanel migration
  android/app/src/main/java/io/metamask/nativeModules/RCTAnalytics.java
  app/components/Views/BrowserTab/index.js
  app/core/Analytics.js
  ios/MetaMask/NativeModules/RCTAnalytics/RCTAnalytics.m
Labels: DONOTMERGE, No QA Needed/Regression Test, next release

#1612 Change warning type so it displays, closes #1610
  app/components/UI/StyledButton/styledButtonStyles.js
Labels: QA Passed

#1554 Splash screen on android
  android/app/src/main/java/io/metamask/MainActivity.java
  android/app/src/main/res/drawable/diamond.png
  android/app/src/main/res/layout/launch_screen.xml
  app/components/Views/Entry/index.js
  ios/MetaMask/AppDelegate.m
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: QA Passed, next release

#1512 Transaction components
  app/components/UI/ActionModal/ActionContent/index.js
  app/components/UI/ActionModal/__snapshots__/index.test.js.snap
  app/components/UI/ActionModal/index.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.test.js
  app/components/UI/TransactionReview/TransactionReviewInformation/__snapshots__/index.test.js.snap
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/CustomGas/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/CustomGas/index.js
  locales/en.json
Labels: QA Passed

#1621 Fix branch
  android/app/build.gradle
  android/app/src/main/java/io/metamask/MainApplication.java
  app/components/Views/BrowserTab/index.js
  app/components/Views/Entry/index.js
  ios/MetaMask/AppDelegate.m
  ios/MetaMask/Info.plist
  ios/Podfile.lock
  package.json
  patches/react-native-branch+3.1.1.patch
  yarn.lock
Labels: QA Passed

#1628 Fix network color indicator on transactionHeader for connect screens
  app/components/UI/NavbarBrowserTitle/index.js
  app/components/UI/TransactionHeader/__snapshots__/index.test.js.snap
  app/components/UI/TransactionHeader/index.js
Labels: QA Passed

#1637 Bugfix/incoming notifications
  app/components/UI/Notification/index.js
  locales/en.json
  locales/es.json
Labels: needs-qa

#1558 Complete redesigns for approval flow
  app/components/UI/AccountInfoCard/__snapshots__/index.test.js.snap
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/ConnectHeader/index.js
  app/components/UI/TransactionHeader/index.js
  app/components/UI/TransactionReview/TransactionReivewDetailsCard/index.js
  app/components/Views/ApproveView/Approve/__snapshots__/index.test.js.snap
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/ApproveView/Approve/index.test.js
  app/components/Views/SendFlow/CustomGas/index.js
  app/util/transactions.js
  locales/en.json
Labels: QA Passed

#1649 remove sai migration message
  app/components/Nav/Main/index.js
  app/core/AppConstants.js
  locales/en.json
  locales/es.json
Labels: QA Passed

#1645 Fix env vars
  app/components/Views/ImportWallet/index.js
  app/components/Views/SyncWithExtension/index.js
  app/core/Analytics.js
  app/core/Engine.js
  app/util/syncWithExtension.js
  babel.config.js
  package.json
  scripts/build.sh
Labels: QA Passed

#1591 feature/sync imported accounts from extension
  app/components/UI/AccountList/index.js
  app/components/Views/ImportWallet/index.js
  app/components/Views/SyncWithExtension/index.js
  app/core/Engine.js
  ios/Podfile.lock
Labels: QA Passed
