Repository MetaMask/metamask-mobile, pull requests merged in 2020-09, with the labels that each got.

#1775 Fix MMM not respecting Wallet Connect gas limit
  app/core/WalletConnect.js
Labels: QA Passed

#1757 Add option to use Blockies Identicon and use Jazz Icons as default
  app/actions/settings/index.js
  app/components/UI/AccountInfoCard/__snapshots__/index.test.js.snap
  app/components/UI/AccountOverview/index.js
  app/components/UI/Identicon/__snapshots__/index.test.js.snap
  app/components/UI/Identicon/index.js
  app/components/UI/Identicon/index.test.js
  app/components/UI/PaymentChannelApproval/__snapshots__/index.test.js.snap
  app/components/UI/TokenImage/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/AddressElement/__snapshots__/index.test.js.snap
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/reducers/settings/index.js
  locales/en.json
  package.json
  yarn.lock
Labels: QA Passed, next up

#1797 Bugfixes/post v1 aug 2020
  CHANGELOG.md
  app/components/UI/AccountInfoCard/__snapshots__/index.test.js.snap
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountInfoCard/index.test.js
  app/components/UI/AccountList/AccountElement/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/OnboardingWizard/index.js
  app/components/UI/OptinMetrics/index.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/AccountBackupStep1B/index.js
  app/components/Views/BrowserTab/index.js
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ChoosePassword/index.test.js
  app/components/Views/CreateWallet/index.js
  app/components/Views/Entry/index.js
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/ImportWallet/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/PaymentChannel/index.js
  app/components/Views/ProtectYourAccount/index.js
  app/components/Views/RevealPrivateCredential/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/Settings/GeneralSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/Views/SyncWithExtension/index.js
  app/components/Views/SyncWithExtensionSuccess/index.js
  app/components/Views/TransactionSummary/index.js
  app/components/Views/WalletConnectSessions/index.js
  app/constants/navigation.js
  app/constants/onboarding.js
  app/constants/storage.js
  app/core/AppConstants.js
  app/core/Engine.js
  app/core/NotificationManager.js
  app/core/PaymentChannelsClient.js
  app/core/WalletConnect.js
  app/util/Logger.js
  app/util/infura-conversion.json
  locales/es.json
  locales/i18n.js
Labels: QA Passed, next up

#1830 Use FlatList for scan steps modal
  app/components/UI/ScanStep/__snapshots__/index.test.js.snap
  app/components/UI/ScanStep/index.js
  app/components/UI/ScanStep/index.test.js
  app/components/UI/WarningExistingUserModal/index.js
  app/components/Views/ImportWallet/index.js
  app/components/Views/Onboarding/index.js
Labels: QA Passed, next release

#1837 Add gms:play-services-wallet dependency
  android/app/build.gradle
Labels: needs-dev-review

#1831 Get paste context working for password fields (onboarding)
  app/components/Views/ChoosePassword/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSeed/__snapshots__/index.test.js.snap
  app/components/Views/ImportFromSeed/index.js
Labels: QA Passed, next release

#1758 Fix wallet_scanQRCode rpc method
  app/components/Views/BrowserTab/index.js
Labels: QA Passed, needs-dev-review

#1835 UI/CustomGas: fix inconsistent low gas error
  app/components/UI/CustomGas/index.js
Labels: QA Passed

#1794 Feature/hide seedphrase on import
  app/components/Views/ImportFromSeed/__snapshots__/index.test.js.snap
  app/components/Views/ImportFromSeed/index.js
  locales/en.json
  locales/es.json
Labels: QA Passed, next release, next up

#1815 Add ScrollView so we can scroll to errorMessage
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Amount/index.js
Labels: QA Passed, next release

#1851 Detox/ Update e2e based on v1 updates
  app/components/UI/BackupAlert/index.js
  app/components/UI/ProtectYourWalletModal/index.js
  app/components/UI/ReceiveRequest/__snapshots__/index.test.js.snap
  app/components/UI/ReceiveRequest/index.js
  app/components/Views/AccountBackupStep1/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/index.js
  e2e/add-custom-rpc.spec.js
  e2e/addressbook-tests.spec.js
  e2e/browser-tests.spec.js
  e2e/dapp-initiated-txn.spec.js
  e2e/import-seed-phrase.spec.js
  e2e/metametrics-opt-out.spec.js
  e2e/onboarding-wizard-opt-out.spec.js
  e2e/request-token-flow.spec.js
  e2e/start-exploring.spec.js
  e2e/wallet-tests.spec.js
  locales/en.json
Labels: needs-dev-review

#1846 Fix send transactions sometimes showing balance undefined and infinite loaders with ERC20 tokens
  app/components/Views/SendFlow/Amount/index.js
Labels: QA Passed, next release

#1852 Bugfix/sentry v1
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionElement/utils.js
Labels: needs-dev-review, next release

#1857 bugfix/splash screen
  app/__mocks__/react-native-splash-screen.js
  app/components/Views/Entry/index.js
  app/components/Views/Login/index.js
  app/components/Views/Root/index.js
Labels: next release

#1848 Allow for 24 length seedphrase on import
  app/components/Views/ImportFromSeed/index.js
  app/util/validators.js
  app/util/validators.test.js
  locales/en.json
  locales/es.json
  package.json
  yarn.lock
Labels: QA Passed, next release

#1829 Improvement/browser refactor
  android/app/src/main/java/io/metamask/MainApplication.java
  android/settings.gradle
  app/components/UI/Navbar/index.js
  app/components/UI/NavbarBrowserTitle/index.js
  app/components/UI/TransactionHeader/index.js
  app/components/UI/UrlAutocomplete/index.js
  app/components/UI/WebsiteIcon/index.js
  app/components/Views/Browser/index.js
  app/components/Views/BrowserTab/__snapshots__/index.test.js.snap
  app/components/Views/BrowserTab/index.js
  app/reducers/browser/index.js
  app/util/browserScripts.js
  ios/Podfile.lock
  package.json
  patches/react-native-sensors+5.3.0.patch
  patches/react-native-webview+10.9.0.patch
  yarn.lock
Labels: QA Passed, needs-dev-review, next release

#1856 Only enable login button if password meets minimum requirements
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ChoosePasswordSimple/index.js
  app/components/Views/EnterPasswordSimple/index.js
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/Login/index.js
  app/util/password.js
  app/util/password.test.js
Labels: QA Passed, next release

#1858 Use blockie as default
  app/components/UI/Identicon/index.js
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/GeneralSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/GeneralSettings/index.js
  app/components/Views/Settings/GeneralSettings/index.test.js
  app/reducers/settings/index.js
  locales/en.json
  locales/es.json
Labels: QA Passed, next release
