Repository MetaMask/metamask-mobile, pull requests merged in 2020-05, with the labels that each got.

#1475 Improvement/tx status notification
  app/actions/transactionNotification/index.js
  app/components/Nav/Main/index.js
  app/components/UI/ActionModal/ActionContent/index.js
  app/components/UI/ActionModal/__snapshots__/index.test.js.snap
  app/components/UI/ActionModal/index.js
  app/components/UI/AnimatedSpinner/__snapshots__/index.test.js.snap
  app/components/UI/EthereumAddress/index.js
  app/components/UI/TransactionActionModal/TransactionActionContent/index.js
  app/components/UI/TransactionActionModal/index.js
  app/components/UI/TransactionElement/TransactionDetails/__snapshots__/index.test.js.snap
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/TransactionDetails/index.test.js
  app/components/UI/TransactionElement/TransferElement/__snapshots__/index.test.js.snap
  app/components/UI/TransactionElement/TransferElement/index.js
  app/components/UI/TransactionElement/TransferElement/index.test.js
  app/components/UI/TransactionElement/__snapshots__/index.test.js.snap
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionElement/index.test.js
  app/components/UI/TransactionElement/utils.js
  app/components/UI/TransactionNotification/index.js
  app/components/UI/Transactions/index.js
  app/components/UI/TxNotification/index.js
  app/components/Views/PaymentChannel/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/TransactionSummary/index.js
  app/components/Views/Wallet/index.js
  app/core/TransactionsNotificationManager.js
  app/reducers/index.js
  app/reducers/transactionNotification/index.js
  app/styles/common.js
  app/util/date.js
  app/util/number.js
  locales/en.json
  locales/es.json
Labels: QA Passed, next release

#1487 Transaction Header Component
  app/components/UI/SignatureRequest/__snapshots__/index.test.js.snap
  app/components/UI/SignatureRequest/index.js
  app/components/UI/TransactionHeader/__snapshots__/index.test.js.snap
  app/components/UI/TransactionHeader/index.js
  app/components/UI/TransactionHeader/index.test.js
  app/util/networks.js
Labels: QA Passed, next release

#1495 Feature/block screenshots
  android/app/src/main/java/io/metamask/MainApplication.java
  android/app/src/main/java/io/metamask/nativeModules/PreventScreenshot.java
  android/app/src/main/java/io/metamask/nativeModules/PreventScreenshotPackage.java
  app/components/Views/AccountBackupStep4/index.js
  app/components/Views/ImportPrivateKey/index.js
  app/components/Views/ImportPrivateKeySuccess/index.js
  app/components/Views/ImportWallet/index.js
  app/components/Views/RevealPrivateCredential/index.js
  app/components/Views/Wallet/index.js
  app/core/PreventScreenshot.js
Labels: QA Passed, next release

#1538 Detect if site has been added to Favorites
  app/components/Views/BrowserTab/index.js
  locales/en.json
  locales/es.json
Labels: QA Passed

#1539 Use "web-search" keyboardType on iOS
  app/components/Views/BrowserTab/__snapshots__/index.test.js.snap
  app/components/Views/BrowserTab/index.js
Labels: QA Passed

#1517 Update mobile provider
  package.json
  scripts/build.sh
  yarn.lock
Labels: QA Passed, next release

#1493 Sig request design fixed
  app/components/Nav/Main/index.js
  app/components/UI/AccountInfoCard/__snapshots__/index.test.js.snap
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountInfoCard/index.test.js
  app/components/UI/ActionView/__snapshots__/index.test.js.snap
  app/components/UI/ActionView/index.js
  app/components/UI/MessageSign/__snapshots__/index.test.js.snap
  app/components/UI/MessageSign/index.js
  app/components/UI/PersonalSign/__snapshots__/index.test.js.snap
  app/components/UI/PersonalSign/index.js
  app/components/UI/SignatureRequest/ExpandedMessage/__snapshots__/index.test.js.snap
  app/components/UI/SignatureRequest/ExpandedMessage/index.js
  app/components/UI/SignatureRequest/ExpandedMessage/index.test.js
  app/components/UI/SignatureRequest/__snapshots__/index.test.js.snap
  app/components/UI/SignatureRequest/index.js
  app/components/UI/StyledButton/styledButtonStyles.js
  app/components/UI/TransactionHeader/__snapshots__/index.test.js.snap
  app/components/UI/TransactionHeader/index.js
  app/components/UI/TypedSign/__snapshots__/index.test.js.snap
  app/components/UI/TypedSign/index.js
  app/components/Views/SendFlow/WarningMessage/index.js
  app/util/Device.js
  locales/en.json
Labels: QA Passed, next release

#1556 Detox: Update Settings Location
  app/components/UI/Navbar/index.js
  e2e/add-custom-rpc.spec.js
  e2e/addressbook-tests.spec.js
  e2e/import-seed-phrase.spec.js
Labels: QA Passed, detox, next release

#1557 Fix day and month numbers in toDateFormat
  app/util/date.js
Labels: QA Passed, next release

#1465 Make send flows consistent
  app/actions/newTransaction/index.js
  app/actions/transaction/index.js
  app/components/Nav/Main/index.js
  app/components/UI/AccountList/AccountElement/index.js
  app/components/UI/AccountList/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/CollectibleContractOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/EthInput/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/PaymentRequest/index.js
  app/components/UI/TransactionEdit/index.js
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionEditor/index.test.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/TransactionReviewSummary/index.js
  app/components/UI/TransactionReview/index.js
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/CollectibleView/index.js
  app/components/Views/PaymentChannel/PaymentChannelSend/__snapshots__/index.test.js.snap
  app/components/Views/PaymentChannel/PaymentChannelSend/index.js
  app/components/Views/PaymentChannel/index.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Amount/index.test.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/Confirm/index.test.js
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/SendFlow/SendTo/index.test.js
  app/components/Views/TransactionDirection/index.js
  app/components/Views/TransactionSummary/index.js
  app/core/DeeplinkManager.js
  app/reducers/index.js
  app/reducers/newTransaction/index.js
  app/reducers/transaction/index.js
  app/store/index.js
  app/util/transaction-reducer-helpers.js
  app/util/transactions.js
  locales/en.json
Labels: QA Passed, blocker, next release

#1548 Use setTimeout hack (again) to get paste context in token search
  app/components/UI/AssetSearch/__snapshots__/index.test.js.snap
  app/components/UI/AssetSearch/index.js
Labels: needs-qa

#1565 Fix validating of amount when sending a collectible
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed

#1574 Ensure collectibles that use 'transfer' method show a "amount" / fee
  app/components/UI/TransactionElement/utils.js
Labels: QA Passed

#1570 Disable confirm screen edit button when no tokens of a payment request
  app/components/UI/Navbar/index.js
  app/components/Views/Send/index.js
Labels: QA Passed

#1582 Instapay deposit navbar cancel
  CHANGELOG.md
  app/components/UI/Navbar/index.js
  app/components/Views/PaymentChannel/PaymentChannelDeposit/index.js
  app/components/Views/SendFlow/Amount/index.js
Labels: QA Passed

#1584 Detox: Update to signature tests
  e2e/browser-tests.spec.js
  e2e/dapp-initiated-txn.spec.js
Labels: QA Passed, detox

#1588 React native 0.62.1 libraries upgraded rebased
  android/app/build.gradle
  app/components/UI/AccountOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/PaymentRequestSuccess/index.js
  app/components/Views/AccountBackupStep6/index.js
  app/components/Views/AddressQRCode/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/PaymentChannel/index.js
  app/components/Views/RevealPrivateCredential/index.js
  index.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  patches/react-native-os+1.2.2.patch
  patches/react-native-tcp+3.3.0.patch
  react-native.config.js
  yarn.lock
Labels: QA Passed, next up

#1577 Fix last two paste context issues on Android
  app/components/UI/PaymentRequest/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
Labels: QA Passed, next release

#1508 Connect Screen Designs
  app/components/UI/AccountApproval/__snapshots__/index.test.js.snap
  app/components/UI/AccountApproval/index.js
  app/components/UI/SignatureRequest/__snapshots__/index.test.js.snap
  app/components/UI/SignatureRequest/index.js
  app/components/UI/TransactionHeader/__snapshots__/index.test.js.snap
  app/components/UI/TransactionHeader/index.js
  app/components/UI/WalletConnectSessionApproval/__snapshots__/index.test.js.snap
  locales/en.json
Labels: needs-qa

#1550 Bugfix/choose password lockout
  app/components/Views/ChoosePassword/index.js
Labels: QA Passed, next release

#1599 Update mobile provider
  package.json
  yarn.lock
Labels: QA Passed

#1568 Fix browser initial loading performance
  app/components/Views/BrowserTab/__snapshots__/index.test.js.snap
  app/components/Views/BrowserTab/index.js
  app/components/Views/Root/index.js
  app/core/EntryScriptWeb3.js
Labels: QA Passed, next release

#1604 Connect design qa
  app/components/UI/AccountInfoCard/__snapshots__/index.test.js.snap
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/TransactionHeader/__snapshots__/index.test.js.snap
  app/components/UI/TransactionHeader/index.js
  app/util/number.js
Labels: QA Passed, next release

#1555 Android performance improvement: setTimeout's in Entry/index.js
  app/components/Views/Entry/index.js
Labels: QA Passed, next release
