Repository MetaMask/metamask-mobile, pull requests merged in 2020-07, with the labels that each got.

#1609 Feature/security third party api mode
  app/actions/privacy/index.js
  app/components/Nav/Main/index.js
  app/components/UI/AccountList/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/NetworkList/index.js
  app/components/UI/Transactions/index.js
  app/components/UI/Transactions/index.test.js
  app/components/Views/Asset/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.test.js
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/index.js
  app/reducers/privacy/index.js
  app/util/accountSecurity.js
  locales/en.json
  locales/es.json
Labels: QA Passed, next release

#1559 Dapp Transaction Confirmation Re-designs
  app/actions/modals/index.js
  app/components/Nav/Main/index.js
  app/components/UI/CustomGas/__snapshots__/index.test.js.snap
  app/components/UI/CustomGas/index.js
  app/components/UI/CustomGas/index.test.js
  app/components/UI/TransactionEdit/__snapshots__/index.test.js.snap
  app/components/UI/TransactionEdit/index.js
  app/components/UI/TransactionEditor/__snapshots__/index.test.js.snap
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionReview/TransactionReviewData/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewData/index.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.test.js
  app/components/UI/TransactionReview/TransactionReviewSummary/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewSummary/index.js
  app/components/UI/TransactionReview/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/index.js
  app/components/UI/TransactionReview/index.test.js
  app/components/Views/Approval/__snapshots__/index.test.js.snap
  app/components/Views/Approval/index.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/CustomGas/index.js
  app/reducers/modals/index.js
  locales/en.json
Labels: QA Passed, next release

#1620 Dapp confirmation designs transitions
  app/actions/modals/index.js
  app/components/Nav/Main/index.js
  app/components/UI/CustomGas/__snapshots__/index.test.js.snap
  app/components/UI/CustomGas/index.js
  app/components/UI/CustomGas/index.test.js
  app/components/UI/TransactionEdit/index.js
  app/components/UI/TransactionEditor/__snapshots__/index.test.js.snap
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionReview/TransactionReviewData/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewData/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/index.js
  app/components/UI/TransactionReview/index.test.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/CustomGas/index.js
  app/reducers/modals/index.js
  locales/en.json
Labels: QA Passed, next release

#1671 Remove minWidth, fixes #1664
  app/components/Views/SendFlow/CustomGas/index.js
Labels: QA Passed, next release

#1680 Feature/backup seedphrase
  app/actions/user/index.js
  app/components/Nav/Main/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/ActionModal/ActionContent/index.js
  app/components/UI/ActionModal/index.js
  app/components/UI/BackupAlert/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/PaymentRequestSuccess/index.js
  app/components/UI/ProtectYourWalletModal/index.js
  app/components/UI/ReceiveRequest/index.js
  app/components/Views/AddressQRCode/index.js
  app/images/protect-wallet.jpg
  app/reducers/user/index.js
  app/styles/common.js
  locales/en.json
  locales/es.json
Labels: needs-dev-review

#1573 Payment channel opt in
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/ExperimentalSettings/index.js
  app/components/Views/Settings/__snapshots__/index.test.js.snap
  app/core/PaymentChannelsClient.js
  locales/en.json
  locales/es.json
Labels: QA Passed

#1682 Bugfix/analytics disabled on dev mode
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/index.js
  app/core/Analytics.js
  locales/en.json
  locales/es.json
Labels: needs-dev-review

#1685 bugfix/approve suggested amount
  app/components/Views/ApproveView/Approve/index.js
  locales/en.json
  locales/es.json
Labels: needs-dev-review

#1686 bugfix/transaction scrollbar position
  app/components/UI/Transactions/index.js
  app/components/Views/Asset/index.js
Labels: needs-dev-review

#1683 @metamask/mobile-provider v1.2.4
  package.json
  yarn.lock
Labels: No QA Needed/Regression Test

#1688 Support links
  app/components/UI/DrawerView/index.js
  app/components/UI/Navbar/index.js
Labels: No QA Needed/Regression Test

#1676 Fix blank browser tab
  app/components/Views/BrowserTab/index.js
Labels: QA Passed

#1690 Bugfix/release bugs
  app/components/UI/Transactions/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/Asset/index.js
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/index.js
  app/core/Analytics.js
  locales/en.json
  locales/es.json
Labels: QA Passed

#1689 bugfix/approve screen
  app/actions/modals/index.js
  app/components/Nav/Main/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/reducers/modals/index.js
Labels: QA Passed

#1693 PaymentRequest: fix conversion bug
  app/components/UI/PaymentRequest/index.js
Labels: QA Passed, next release

#1657 update review function names
  app/components/UI/TransactionReview/__snapshots__/index.test.js.snap
  locales/en.json
  locales/es.json
Labels: QA Passed, next release

#1613 Feature/incoming token transactions
  app/components/Nav/App/__snapshots__/index.test.js.snap
  app/components/Nav/Main/__snapshots__/index.test.js.snap
  app/components/UI/TransactionElement/TransactionDetails/__snapshots__/index.test.js.snap
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionElement/utils.js
  app/components/UI/Transactions/index.js
  app/components/Views/Asset/index.js
  app/components/Views/TransactionSummary/index.js
  app/components/Views/TransactionsView/index.js
  app/core/Engine.js
  app/images/transaction-icons/approve-failed.png
  app/images/transaction-icons/approve.png
  app/images/transaction-icons/interaction-failed.png
  app/images/transaction-icons/interaction.png
  app/images/transaction-icons/receive-failed.png
  app/images/transaction-icons/receive-inverted.png
  app/images/transaction-icons/receive.png
  app/images/transaction-icons/send-failed.png
  app/images/transaction-icons/send.png
  app/util/transactions.js
  locales/en.json
  package.json
  yarn.lock
Labels: QA Passed, next release

#1684 Bugfix/speedup transactions
  app/components/UI/Notification/index.js
  app/components/UI/TransactionActionModal/TransactionActionContent/index.js
  app/components/UI/Transactions/index.js
  app/util/transactions.js
  metamask-controllers-v2.0.2.tgz
  yarn.lock
Labels: QA Passed, next release

#1697 Increase ANDROID_OFFSET
  app/components/UI/DrawerView/index.js
Labels: QA Passed

#1687 Custom Gas + Data hotfixes
  app/components/UI/CustomGas/index.js
  app/components/UI/TransactionReview/TransactionReviewData/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewData/index.js
  app/components/UI/TransactionReview/TransactionReviewData/index.test.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed, next release

#1699 Fix: accounts disappearing after password entry
  app/components/Views/ChoosePassword/index.js
Labels: QA Passed

#1708 bugfix/deep link send token ui
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed

#1712 Bugfix/payment requests
  app/components/UI/AssetIcon/__snapshots__/index.test.js.snap
  app/components/UI/PaymentRequest/index.js
  app/util/assets.js
  app/util/payment-link-generator.js
Labels: QA Passed

#1716 bugfix/pending deeplink
  app/components/Views/Entry/index.js
  app/components/Views/Wallet/index.js
Labels: needs-dev-review

#1710 'Use Max' fixes
  app/components/Views/SendFlow/Amount/index.js
Labels: QA Passed

#1721 Styles scan modal
  app/components/Views/Onboarding/index.js
  locales/en.json
Labels: needs-dev-review

#1725 Only create wallet if the user does not already exist
  app/components/Views/ChoosePassword/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/ProtectYourAccount/index.js
  app/core/AppConstants.js
Labels: QA Passed

#1681 Feature/account backup alert flows
  app/actions/user/index.js
  app/components/Nav/Main/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/ActionModal/ActionContent/index.js
  app/components/UI/ActionModal/index.js
  app/components/UI/BackupAlert/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/PaymentRequestSuccess/index.js
  app/components/UI/ProtectYourWalletModal/index.js
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/WarningExistingUserModal/index.js
  app/components/Views/AccountBackupStep1/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/AddressQRCode/index.js
  app/components/Views/ChoosePassword/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/Entry/index.js
  app/components/Views/ImportFromSeed/__snapshots__/index.test.js.snap
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/ImportWallet/index.js
  app/components/Views/Login/__snapshots__/index.test.js.snap
  app/components/Views/Login/index.js
  app/components/Views/Login/index.test.js
  app/components/Views/Onboarding/index.js
  app/components/Views/OnboardingCarousel/__snapshots__/index.test.js.snap
  app/components/Views/OnboardingCarousel/index.js
  app/components/Views/SyncWithExtension/index.js
  app/core/Engine.js
  app/images/protect-wallet.jpg
  app/reducers/user/index.js
  app/styles/common.js
  locales/en.json
  locales/es.json
Labels: QA Passed, next release

#1740 check previousScreen and change lading message
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ChoosePassword/index.test.js
  app/components/Views/ProtectYourAccount/__snapshots__/index.test.js.snap
  locales/en.json
Labels: QA Passed

#1737 Fix scroll and button text and secure now goes to next step
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/ChoosePassword/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ChoosePasswordSimple/__snapshots__/index.test.js.snap
  locales/en.json
  locales/es.json
Labels: QA Passed, next release
