Repository MetaMask/metamask-mobile, pull requests merged in 2020-10, with the labels that each got.

#1861 Get e2e working for seedphrase and login
  e2e/import-seed-phrase.spec.js
Labels: QA Passed

#1866 Fix proptype warning for WebviewError
  app/components/UI/WebviewError/index.js
Labels: needs-dev-review

#1864 Add additional isUrl check, closes #1462
  app/util/browser.js
  package.json
  yarn.lock
Labels: QA Passed

#1873 Provide error feedback without actually submitting
  app/components/Views/Login/index.js
  app/components/Views/Root/index.js
Labels: QA Passed

#1793 Add cookies clearing
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/index.js
  app/util/testSetup.js
  ios/Podfile.lock
  locales/en.json
  package.json
  yarn.lock
Labels: needs-dev-review

#1876 Bugfix/homepage injection
  app/components/Views/BrowserTab/index.js
Labels: QA Passed

#1882 Error boundary
  app/components/Views/ActivityView/index.js
  app/components/Views/BrowserTab/__snapshots__/index.test.js.snap
  app/components/Views/BrowserTab/index.js
  app/components/Views/ErrorBoundary/index.js
  app/components/Views/Login/index.js
  app/components/Views/RevealPrivateCredential/index.js
  app/components/Views/Root/__snapshots__/index.test.js.snap
  app/components/Views/Root/index.js
  app/components/Views/Wallet/index.js
  app/images/metamask-error.png
  locales/en.json
Labels: QA Passed, needs-dev-review, next release

#1874 Coerce non error objects into errors before sending to sentry
  app/util/Logger.js
Labels: needs-dev-review, next release

#1806 Allow webview debugging in dev mode + XIP
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/metamask/MainApplication.java
  android/app/src/main/res/xml/react_native_config.xml
Labels: QA Passed

#1827 Update infura v3
  app/core/Engine.js
  package.json
  yarn.lock
Labels: next release

#1847 feature/approve eip 681
  app/components/Nav/Main/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/TransactionHeader/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/Entry/index.js
  app/components/Views/QRScanner/index.js
  app/components/Views/Wallet/index.js
  app/core/AppConstants.js
  app/core/DeeplinkManager.js
  locales/en.json
  locales/es.json
Labels: QA Passed, next release

#1881 Fix/disable iframes support for now
  app/components/Views/BrowserTab/index.js
  app/util/browserScripts.js
Labels: next release

#1889 Fix unable to send more than 999 tokens
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed, next release

#1859 Direct to proper screen on address QR code scan
  app/components/UI/Navbar/index.js
  app/components/Views/SendFlow/SendTo/index.js
Labels: QA Passed, next release

#1902 use optional chaining and default values so we're not calling toLowerCase where name is undefined
  app/components/UI/DrawerView/index.js
Labels: needs-dev-review

#1894 sentry cleaning
  app/components/UI/Notification/index.js
  app/core/NotificationManager.js
  app/util/networks.js
  app/util/number.js
  app/util/number.test.js
  app/util/transactions.js
Labels: next release

#1879 Feature/show previously created accounts on seed phrase import
  app/components/Views/ImportFromSeed/index.js
  app/util/importAdditionalAccounts.js
  package.json
  yarn.lock
Labels: QA Passed, next release

#1895 Make whole blur area clickable
  app/components/Views/ManualBackupStep1/__snapshots__/index.test.js.snap
  app/components/Views/ManualBackupStep1/index.js
Labels: QA Passed

#1905 Ensure seedphrase hint is not the actual seedphrase
  app/components/Views/ManualBackupStep2/index.js
  app/components/Views/ManualBackupStep3/index.js
Labels: QA Passed, next release

#1915 Error boundary - sentry clean-up
  app/components/UI/Notification/index.js
  app/components/Views/Onboarding/index.js
Labels: needs-dev-review
