Repository MetaMask/metamask-mobile, pull requests merged in 2020-12, with the labels that each got.

#1994 Feature: Initial Swaps amount view
  app/components/Base/Keypad/rules/native.js
  app/components/Base/Keypad/rules/usd.js
  app/components/Base/ListItem.js
  app/components/Base/ModalDragger.js
  app/components/Base/ModalHandler.js
  app/components/Base/hooks/useModalHandler.js
  app/components/UI/FiatOrders/PaymentMethodApplePay/index.js
  app/components/UI/ReceiveRequest/__snapshots__/index.test.js.snap
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/Swaps/components/TokenIcon.js
  app/components/UI/Swaps/components/TokenIcon.test.js
  app/components/UI/Swaps/components/TokenSelectButton.js
  app/components/UI/Swaps/components/TokenSelectButton.test.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/components/__snapshots__/TokenIcon.test.js.snap
  app/components/UI/Swaps/components/__snapshots__/TokenSelectButton.test.js.snap
  app/components/UI/Swaps/index.js
  app/core/Engine.js
  app/reducers/engine/index.js
  locales/en.json
  locales/es.json
  package.json
  yarn.lock
Labels: QA Passed

#2000 Remove unused views
  app/components/Nav/App/index.js
  app/components/Views/AccountBackupStep2/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep2/index.js
  app/components/Views/AccountBackupStep2/index.test.js
  app/components/Views/AccountBackupStep3/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep3/index.js
  app/components/Views/AccountBackupStep3/index.test.js
  app/components/Views/AccountBackupStep4/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep4/index.js
  app/components/Views/AccountBackupStep4/index.test.js
  app/components/Views/AccountBackupStep5/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep5/index.js
  app/components/Views/AccountBackupStep5/index.test.js
  app/components/Views/AccountBackupStep6/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep6/index.js
  app/components/Views/AccountBackupStep6/index.test.js
  app/components/Views/ImportWallet/__snapshots__/index.test.js.snap
  app/components/Views/ImportWallet/index.js
  app/components/Views/ImportWallet/index.test.js
  app/components/Views/ProtectYourAccount/__snapshots__/index.test.js.snap
  app/components/Views/ProtectYourAccount/index.js
  app/components/Views/ProtectYourAccount/index.test.js
Labels: QA Passed, tech-debt

#2055 Add missing await keywords
  app/components/Views/Onboarding/index.js
  app/components/Views/SyncWithExtension/index.js
Labels: QA Passed

#2042 Bugfix/small UI fixes
  app/components/UI/DrawerView/index.js
  app/components/UI/HintModal/__snapshots__/index.test.js.snap
  app/components/UI/HintModal/index.js
  app/components/UI/SettingsNotification/__snapshots__/index.test.js.snap
  app/components/UI/SettingsNotification/index.js
  app/components/UI/StyledButton/styledButtonStyles.js
  app/components/Views/ManualBackupStep1/__snapshots__/index.test.js.snap
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/Settings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/index.js
  app/components/Views/SyncWithExtensionSuccess/index.js
  app/styles/common.js
  locales/en.json
  locales/es.json
Labels: QA'd but questions

#2030 @metamask/controllers@5.1.0
  package.json
  yarn.lock
Labels: QA Passed

#2059 Fix isBookmark functionality
  app/components/Views/BrowserTab/index.js
Labels: QA Passed

#2061 Add Alert component
  app/components/Base/Alert.js
  app/components/Views/SendFlow/ErrorMessage/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/ErrorMessage/index.js
  app/components/Views/SendFlow/WarningMessage/index.js
Labels: QA Passed, next up

#2064 Add parseSeedPhrase behavior from extension
  app/components/Views/ImportFromSeed/index.js
  app/util/validators.js
  app/util/validators.test.js
Labels: QA Passed

#2071 Fix uploading files on the browser
  patches/react-native-keychain+6.2.0.patch
Labels: QA Passed
