Repository MetaMask/metamask-mobile, pull requests merged in 2021-09, with the labels that each got.

#3071 Integrate changes from controllers v15.0.2
  app/core/Engine.ts
  app/store/migrations.js
  package.json
  yarn.lock
Labels: DONOTMERGE

#3023 Add support for wallet_switchEthereumChain
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/Views/BrowserTab/index.js
  app/core/RPCMethods/index.js
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.test.js
  app/util/networks/index.js
Labels: QA Passed, needs-dev-review

#2852 Feature/improve warning eth sign
  app/components/Base/Alert.js
  app/components/UI/SignatureRequest/index.js
  app/components/Views/SendFlow/ErrorMessage/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/WarningMessage/index.js
  locales/languages/en.json
Labels: QA Passed

#2964 [FIX] Handle token icon remote resource
  app/components/Base/RemoteImage/__snapshots__/index.test.js.snap
  app/components/Base/RemoteImage/index.js
  app/components/Base/hooks/useRemoteResourceExists.tsx
  app/components/UI/AssetIcon/__snapshots__/index.test.js.snap
  app/util/assets.js
Labels: bug, QA Passed

#3100 Bug/3052 navigator undefined
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: No QA Needed/Regression Test, needs-dev-review

#2866 [2847] Bug in token balance
  app/components/UI/WatchAssetRequest/index.js
  app/components/UI/WatchAssetRequest/index.test.js
  app/components/hooks/useTokenBalance.tsx
  app/util/number/index.js
Labels: bug, QA Passed

#3104 [FEATURE] Add browser analytics
  app/components/UI/BrowserBottomBar/__snapshots__/index.test.tsx.snap
  app/components/UI/BrowserBottomBar/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Tabs/index.js
  app/components/Views/BrowserTab/index.js
  app/util/analyticsV2.js
Labels: No QA Needed/Regression Test, needs-dev-review

#2977 [FIX] Fix undefined values in CustomGas component
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/CustomGas/__snapshots__/index.test.tsx.snap
  app/components/UI/CustomGas/index.js
  app/components/UI/CustomGas/index.test.tsx
  app/components/UI/Swaps/utils/useGasPrice.js
  app/components/UI/TransactionEditor/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionEditor/index.js
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed

#3101 Update swaps-controller and send clientId on fetchSwapsFeatureLiveness
  app/components/UI/Swaps/SwapsLiveness.js
  app/components/UI/Swaps/index.js
  package.json
  yarn.lock
Labels: No QA Needed/Regression Test

#3099 [FEATURE] Transaction state
  app/components/UI/TransactionElement/utils.js
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review

#3139 Revert "Collectibles enhancements (#2735)"
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleMedia/index.js
  app/components/UI/CollectibleModal/index.js
  app/components/UI/Collectibles/__snapshots__/index.test.tsx.snap
  app/core/AppConstants.js
  app/images/no-nfts-placeholder.png
  ios/Podfile.lock
  locales/languages/en.json
Labels: No QA Needed/Regression Test, needs-dev-review

#3129 Parse transaction data correctly
  app/components/Nav/Main/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/util/transactions/index.js
  package.json
Labels: QA Passed, severity1-high

#3153 Fix inject favourites homepage
  app/components/Views/BrowserTab/index.js
Labels: QA Passed

#3131 Add missing browser event
  app/components/UI/BrowserBottomBar/index.js
  app/components/UI/Tabs/index.js
  app/components/Views/BrowserTab/index.js
Labels: No QA Needed/Regression Test, needs-dev-review

#3130 Re-add opt in event
  app/components/UI/OptinMetrics/index.js
Labels: No QA Needed/Regression Test, needs-dev-review

#3111 remove web3-provider-engine
  package.json
Labels: No QA Needed/Regression Test

#3148 Feature/3140 token detection eth mainnet
  app/components/Base/RemoteImage/index.js
  app/components/UI/AddCustomToken/index.js
  app/components/UI/AssetIcon/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetIcon/index.tsx
  app/components/UI/AssetOverview/index.js
  app/components/UI/AssetSearch/index.tsx
  app/components/UI/EditGasFee1559/index.js
  app/components/UI/EditGasFeeLegacy/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/SearchTokenAutocomplete/__snapshots__/index.test.tsx.snap
  app/components/UI/SearchTokenAutocomplete/index.js
  app/components/UI/SearchTokenAutocomplete/index.test.tsx
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/index.js
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/index.js
  app/core/Engine.js
  app/images/static-logos.js
  app/util/analyticsV2.js
  locales/languages/en.json
  locales/languages/ru-ru.json
Labels: QA Passed

#3133 Fix reload when switching networks on the browser
  app/components/Views/BrowserTab/index.js
Labels: QA Passed, needs-dev-review

#3152 Bug/3137 token address crasher
  app/components/UI/Tokens/index.js
  app/store/migrations.js
  locales/languages/en.json
Labels: No QA Needed/Regression Test

#3155 [FEAT] Improve transaction state management for custom networks
  app/components/UI/TransactionElement/utils.js
  package.json
  yarn.lock
Labels: QA Passed

#3106 [FEATURE] variable speed up/cancel
  app/components/UI/EditGasFee1559/__snapshots__/index.test.tsx.snap
  app/components/UI/EditGasFee1559/index.js
  app/components/UI/Transactions/RetryModal/index.tsx
  app/components/UI/Transactions/__snapshots__/index.test.tsx.snap
  app/components/UI/Transactions/index.js
  app/components/UI/Transactions/index.test.tsx
  app/components/UI/UpdateEIP1559Tx/index.tsx
  ios/Podfile.lock
  locales/languages/en.json
Labels: QA Passed

#3207 Add react-native-svg-asset-plugin. Update tests.
  app/components/Base/RemoteImage/index.js
  app/components/UI/AssetIcon/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetIcon/index.tsx
  app/images/static-logos.js
  app/util/tokens/index.ts
  metro.config.js
  package.json
  scripts/metamask-bot-build-generate-static-assets.js
  yarn.lock
Labels: No QA Needed/Regression Test, needs-dev-review

#3211 Fix send network change update to websites
  app/core/BackgroundBridge.js
Labels: QA Passed, needs-dev-review

#3203 Disable confirm button when transaction is submitted
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/TransactionReview/index.js
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed

#3208 v3.4.0 RC3
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review

#3242 v3.4.0 RC4
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review
