Repository MetaMask/metamask-mobile, pull requests merged in 2021-08, with the labels that each got.

#2735 Collectibles enhancements
  app/components/UI/CollectibleContracts/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleMedia/index.js
  app/components/UI/CollectibleModal/index.js
  app/components/UI/Collectibles/__snapshots__/index.test.js.snap
  app/core/AppConstants.js
  app/images/no-nfts-placeholder.png
  ios/Podfile.lock
  locales/languages/en.json
Labels: QA Passed

#2808 bugfix: issue #2763
  app/components/UI/PaymentRequest/index.js
Labels: QA Passed

#2907 Remove extra top padding on send flow
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/SendTo/index.js
Labels: QA Passed

#2973 On-Ramp: Add on-ramp analytics
  app/components/Base/StatusText.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/FiatOrders/PaymentMethodApplePay/index.js
  app/components/UI/FiatOrders/PaymentMethodSelector/index.android.js
  app/components/UI/FiatOrders/PaymentMethodSelector/index.ios.js
  app/components/UI/FiatOrders/TransakWebView/index.js
  app/components/UI/FiatOrders/index.js
  app/components/UI/FiatOrders/orderProcessor/index.js
  app/components/UI/FiatOrders/orderProcessor/transak.js
  app/components/UI/FiatOrders/orderProcessor/wyreApplePay.js
  app/components/UI/Navbar/index.js
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/Tokens/index.js
  app/components/Views/SendFlow/SendTo/index.js
  app/constants/on-ramp.js
  app/reducers/fiatOrders/index.js
  app/util/analyticsV2.js
Labels: No QA Needed/Regression Test

#2980 [FIX] Fix header layout and alignment
  app/components/Nav/Main/index.js
  app/components/UI/ActionView/__snapshots__/index.test.js.snap
  app/components/UI/ActionView/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/OnboardingScreenWithBg/index.js
  app/components/Views/ManualBackupStep3/index.js
Labels: needs-qa, needs-dev-review

#2893 Fix address bar icon
  app/components/UI/NavbarBrowserTitle/index.js
  package.json
  scripts/yarn-audit.sh
  yarn.lock
Labels: No QA Needed/Regression Test

#2813 Feature/video subtitles
  android/app/src/main/java/io/metamask/MainApplication.java
  android/settings.gradle
  app/components/UI/SeedPhraseVideo/index.js
  app/components/Views/MediaPlayer/AndroidMediaPlayer.js
  app/components/Views/MediaPlayer/index.js
  app/videos/subtitles/secretPhrase/subtitles-en.vtt
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
  react-native.config.js
Labels: next release, QA Passed

#2804 Branch updates
  app/components/Nav/App/index.js
  app/util/testSetup.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: No QA Needed/Regression Test, needs-dev-review

#2961 [FIX] GH Action Permission for Bump-Version
  .github/workflows/bump-version-name.yml
  bitrise.yml
  scripts/bump-version.sh
  scripts/metamask-bot-build-announce-bitrise.js
Labels: needs-dev-review

#2956 Upgrade Walletconnect
  package.json
  yarn.lock
Labels: No QA Needed/Regression Test

#2972 [FEATURE] - Storage Limit - Reduce Txs Being Stored
  app/components/UI/OnboardingWizard/index.js
  app/components/UI/OptinMetrics/index.js
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/CreateWallet/index.js
  app/components/Views/Entry/index.js
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/SyncWithExtensionSuccess/index.js
  app/constants/network.js
  app/core/Engine.js
  app/store/index.js
  app/store/migrations.js
  app/util/Logger.js
  bitrise.yml
  ios/Podfile.lock
  locales/languages/en.json
  metamask-controllers-v14.0.2-sethd.tgz
  package.json
  yarn.lock
Labels: next release, QA Passed

#3017 Fix deep links bug related to branch updates
  app/components/Nav/App/index.js
Labels: needs-qa, needs-dev-review

#2981 [FIX] Delete Message
  app/components/Views/Login/index.js
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
Labels: bug

#3026 Fix contact edit button
  app/components/UI/Navbar/index.js
Labels: QA Passed, needs-dev-review

#2941 [FIX] Uni V3 NFT animated SVG crash
  app/components/Base/RemoteImage/index.js
  app/components/UI/CollectibleMedia/index.js
  app/core/AppConstants.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: bug, crash, QA Passed

#3013 Swaps V2 Integration
  app/components/Nav/Main/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/LoadingAnimation/index.js
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/utils/index.js
  app/components/UI/Swaps/utils/useFetchTokenMetadata.js
  app/core/Engine.js
  app/reducers/swaps/index.js
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
  package.json
  yarn.lock
Labels: QA Passed

#3038 [FIX] Increase the heap size to help mitigate the OutOfMemory crash
  android/app/src/main/AndroidManifest.xml
Labels: No QA Needed/Regression Test

#3029 [FIX] Video Subtitles Not Loading Properly
  app/components/UI/SeedPhraseVideo/index.js
Labels: QA Passed

#2878 [2783] Change default account name for ENS reversed-resolved name
  app/components/UI/AccountList/AccountElement/index.js
  app/components/UI/AccountList/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/EthereumAddress/index.js
  app/components/UI/ReceiveRequest/__snapshots__/index.test.js.snap
  app/util/ENSUtils.js
  app/util/ENSUtils.test.js
Labels: QA Passed

#3046 Fix token transfer to address
  app/components/Nav/Main/index.js
  app/components/Views/Approval/index.js
Labels: No QA Needed/Regression Test
