Repository MetaMask/metamask-mobile, pull requests merged in 2021-02, with the labels that each got.

#2193 Fix "Text strings must be rendered within a <Text> component"
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed, needs-dev-review

#2078 React Native update to 0.63
  .circleci/config.yml
  .flowconfig
  android/app/build.gradle
  android/build.gradle
  android/gradle.properties
  android/gradlew
  android/gradlew.bat
  app/__mocks__/react-native-splash-screen.js
  app/components/Nav/Main/__snapshots__/index.test.js.snap
  app/components/UI/ActionView/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleContractInformation/__snapshots__/index.test.js.snap
  app/components/UI/Collectibles/__snapshots__/index.test.js.snap
  app/components/UI/GenericButton/__snapshots__/index.test.js.snap
  app/components/UI/NetworkList/__snapshots__/index.test.js.snap
  app/components/UI/OnboardingWizard/Step5/index.js
  app/components/UI/PhishingModal/__snapshots__/index.test.js.snap
  app/components/UI/SelectComponent/__snapshots__/index.test.js.snap
  app/components/UI/SignatureRequest/ExpandedMessage/__snapshots__/index.test.js.snap
  app/components/UI/Tabs/__snapshots__/index.test.js.snap
  app/components/UI/TransactionEditor/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewData/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep1/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ChoosePasswordSimple/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePasswordSimple/index.js
  app/components/Views/Collectible/__snapshots__/index.test.js.snap
  app/components/Views/CollectibleView/__snapshots__/index.test.js.snap
  app/components/Views/EnterPasswordSimple/__snapshots__/index.test.js.snap
  app/components/Views/ImportFromSeed/__snapshots__/index.test.js.snap
  app/components/Views/ImportPrivateKey/__snapshots__/index.test.js.snap
  app/components/Views/ManualBackupStep2/__snapshots__/index.test.js.snap
  app/components/Views/ManualBackupStep2/index.js
  app/components/Views/OnboardingCarousel/__snapshots__/index.test.js.snap
  app/components/Views/ResetPassword/__snapshots__/index.test.js.snap
  app/components/Views/ResetPassword/index.js
  app/components/Views/SendFlow/AddressList/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.test.js
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/Contacts/ContactForm/__snapshots__/index.test.js.snap
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/GeneralSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/__snapshots__/index.test.js.snap
  index.js
  ios/Gemfile.lock
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/MetaMask/AppDelegate.m
  ios/Podfile
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: QA Passed, next release

#2203 Update @metamask/contract-metadata
  .github/dependabot.yml
  package.json
  yarn.lock
Labels: next release

#2180 Fix cloudflare redirects
  patches/react-native-webview+11.0.2.patch
Labels: QA Passed, needs-dev-review, next release

#2148 Handle `balanceError` case
  app/components/UI/AssetOverview/index.js
  app/components/UI/Tokens/index.js
  app/components/Views/Asset/index.js
  locales/en.json
Labels: QA Passed, needs-dev-review, next release

#2233 contract metadata images bump
  app/components/UI/AssetIcon/__snapshots__/index.test.js.snap
  app/util/assets.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: QA Passed, next release

#2176 Feature/warn when replacing
  app/actions/user/index.js
  app/components/UI/ActionModal/ActionContent/index.js
  app/components/UI/ActionModal/__snapshots__/index.test.js.snap
  app/components/UI/ActionModal/index.js
  app/components/UI/HintModal/__snapshots__/index.test.js.snap
  app/components/UI/Notification/BaseNotification/index.js
  app/components/UI/SeedphraseModal/__snapshots__/index.test.js.snap
  app/components/UI/SkipAccountSecurityModal/__snapshots__/index.test.js.snap
  app/components/UI/WarningExistingUserModal/index.js
  app/components/UI/WhatsNewModal/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.js.snap
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/SendFlow/SendTo/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/reducers/user/index.js
  locales/en.json
  locales/es.json
Labels: QA Passed, next release

#2243 TransactionController from controllers
  CHANGELOG.md
  app/core/Engine.js
  app/util/transactions.js
  app/util/transactions.test.js
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: QA Passed, next release

#2256 Fix account list scroll
  app/components/UI/AccountList/AccountElement/index.js
Labels: QA Passed, next release

#2257 bugfix/use bignumber for transfer deeplinks
  CHANGELOG.md
  app/components/Views/Send/index.js
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: QA Passed, next release

#2265 Fix input state
  app/components/Views/Login/index.js
Labels: needs-qa
