Repository MetaMask/metamask-mobile, pull requests merged in 2021-03, with the labels that each got.

#2247 Provide chainId correctly
  app/components/Views/BrowserTab/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/core/BackgroundBridge.js
Labels: QA Passed, next release

#2343 Add engines to package.json
  package.json
Labels: needs-dev-review

#2344 Sync with extension chain id
  app/components/UI/TokenImage/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/SyncWithExtension/index.js
  app/core/Engine.js
  app/util/networks.js
Labels: QA Passed, next release

#2253 Use Etherscan API
  .js.env.example
  app/core/Engine.js
Labels: QA Passed, next release

#2321 Swaps v1
  android/app/src/main/java/io/metamask/nativeModules/RCTAnalytics.java
  app/components/Base/Keypad/components.js
  app/components/Nav/Main/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/CustomGas/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/AssetSwapButton.js
  app/components/UI/Swaps/components/QuotesModal.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/components/TransactionsEditionModal.js
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/utils/index.js
  app/components/UI/Swaps/utils/useBalance.js
  app/components/UI/TransactionElement/utils.js
  app/core/Analytics.js
  app/core/AppConstants.js
  app/core/Engine.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/MetaMask/NativeModules/RCTAnalytics/RCTAnalytics.m
  locales/en.json
  package.json
  yarn.lock
Labels: next release

#2370 bugfix/swaps bugs
  CHANGELOG.md
  app/components/UI/Swaps/QuotesView.js
  app/components/Views/Asset/index.js
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: next release

#2201 Style updates
  app/components/UI/AccountInfoCard/__snapshots__/index.test.js.snap
  app/components/UI/AssetList/index.js
  app/components/UI/BiometryButton/__snapshots__/index.test.js.snap
  app/components/UI/CustomGas/__snapshots__/index.test.js.snap
  app/components/UI/Notification/BaseNotification/index.js
  app/components/UI/SlippageSlider/__snapshots__/index.test.js.snap
  app/components/UI/Tabs/__snapshots__/index.test.js.snap
  app/components/UI/TransactionHeader/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewData/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewSummary/__snapshots__/index.test.js.snap
  app/components/UI/WhatsNewModal/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/EnterPasswordSimple/__snapshots__/index.test.js.snap
  app/components/Views/ImportFromSeed/__snapshots__/index.test.js.snap
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep2/__snapshots__/index.test.js.snap
  app/components/Views/QRScanner/__snapshots__/index.test.js.snap
  app/components/Views/ResetPassword/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/AddressElement/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/__snapshots__/index.test.js.snap
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/Contacts/ContactForm/__snapshots__/index.test.js.snap
  app/components/Views/Settings/GeneralSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/styles/common.js
  app/util/password.js
Labels: needs-dev-review, needs-qa

#2399 remove jcenter()
  android/build.gradle
Labels: needs-dev-review

#2156 Translations with update script
  .gitignore
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/BackupAlert/index.js
  app/components/UI/ProtectYourWalletModal/index.js
  app/components/UI/SeedphraseModal/__snapshots__/index.test.js.snap
  app/components/UI/SeedphraseModal/index.js
  app/components/UI/SignatureRequest/__snapshots__/index.test.js.snap
  app/components/UI/SignatureRequest/index.js
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep1B/index.js
  app/components/Views/BrowserTab/index.js
  app/components/Views/SendFlow/SendTo/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/index.js
  ios/Podfile.lock
  locales/README-HOW-TO-UPDATE.md
  locales/i18n.js
  locales/languages/en.json
  locales/languages/es-OLD.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
  locales/languages/zh-cn.json
  locales/languagesToUpdate/.gitkeep
  locales/update-script.js
Labels: QA Passed, needs-dev-review, next release

#2418 V2 fixes
  app/components/UI/AccountList/index.js
  app/components/UI/BackupAlert/index.js
  app/components/UI/CustomGas/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/Notification/index.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/Transactions/index.js
  app/components/UI/WhatsNewModal/index.js
  app/components/Views/Settings/AdvancedSettings/index.js
  app/util/general.js
Labels: next release, v2

#2417 Bugfix/sync improvements
  app/actions/user/index.js
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/__snapshots__/index.test.js.snap
  app/components/Views/Onboarding/index.js
  app/components/Views/SyncWithExtension/__snapshots__/index.test.js.snap
  app/components/Views/SyncWithExtension/index.js
  app/components/Views/SyncWithExtension/index.test.js
  app/reducers/user/index.js
  app/util/syncWithExtension.js
Labels: QA Passed, next release, v2

#2422 bugfix/delete wallet with random password
  app/components/Views/Login/index.js
  app/components/Views/QRScanner/index.js
  locales/languages/en.json
Labels: next release, v2

#2306 Feature/high gas warn
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/CustomGas/__snapshots__/index.test.js.snap
  app/components/UI/CustomGas/index.js
  app/components/UI/CustomGas/index.test.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/reducers/transaction/index.js
  ios/Podfile.lock
  locales/languages/en.json
Labels: QA Passed, design qa, next release

#2318 Add custom network rpc API
  .eslintrc.js
  app/__mocks__/@react-native-community/async-storage.js
  app/components/Base/Text.js
  app/components/UI/AddCustomNetwork/__snapshots__/index.test.js.snap
  app/components/UI/AddCustomNetwork/index.js
  app/components/UI/AddCustomNetwork/index.test.js
  app/components/UI/SwitchCustomNetwork/__snapshots__/index.test.js.snap
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/UI/SwitchCustomNetwork/index.test.js
  app/components/Views/BrowserTab/__snapshots__/index.test.js.snap
  app/components/Views/BrowserTab/index.js
  app/core/RPCMethods/index.js
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  app/util/networks.js
  locales/languages/en.json
Labels: QA Passed, design qa, next release
