Repository MetaMask/metamask-mobile, pull requests merged in 2021-05, with the labels that each got.

#2552 Upgrade wallet connect
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, next release

#2565 Fix sentry errors with no title
  app/util/Logger.js
Labels: No QA Needed/Regression Test, needs-dev-review, next release

#2603 Bugfix/android anr
  ios/Podfile.lock
  package.json
  scripts/build.sh
  yarn.lock
Labels: QA Passed, needs-dev-review, next release

#2602 Collectibles under wallet
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContracts/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleContracts/index.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
Labels: needs-dev-review, next release

#2586 Upgrade swaps-controller v4
  app/components/Nav/Main/index.js
  app/components/UI/Swaps/QuotesView.js
  app/core/Engine.js
  package.json
  yarn.lock
Labels: QA Passed, next release, swaps

#2556 Fix/respect custom spend limit on dapp approve modal
  app/components/UI/ApproveTransactionReview/EditPermission/index.js
  app/components/UI/ApproveTransactionReview/index.js
Labels: QA'd but questions, needs-dev-review, next release

#2612 MediaPlayer component
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContractOverview/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleContractOverview/index.js
  app/components/UI/CollectibleContracts/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleImage/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleImage/index.js
  app/components/UI/CollectibleMedia/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleMedia/index.js
  app/components/UI/CollectibleMedia/index.test.js
  app/components/UI/CollectibleMediaReproductor/index.js
  app/components/UI/CollectibleOverview/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleOverview/index.js
  app/components/UI/Collectibles/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/EthInput/index.js
  app/components/UI/Identicon/index.js
  app/components/UI/Tokens/index.js
  app/components/Views/MediaPlayer/AndroidMediaPlayer.js
  app/components/Views/MediaPlayer/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/core/Engine.js
  app/styles/common.js
  e2e/wallet-tests.spec.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  locales/languages/en.json
  metamask-controllers-v8.0.2.tgz
  package.json
  yarn.lock
Labels: needs-dev-review

#2564 Improve rpc errors logging and removing user rejected errors
  app/util/middlewares.js
Labels: QA Passed, next release

#2444 Implement 'hide zero balance token' setting for token balances on home screen
  app/actions/settings/index.js
  app/components/UI/Tokens/__snapshots__/index.test.js.snap
  app/components/UI/Tokens/index.js
  app/components/UI/Tokens/index.test.js
  app/components/Views/Settings/GeneralSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/GeneralSettings/index.js
  app/reducers/settings/index.js
  locales/languages/en.json
Labels: QA Passed, next release

#2625 Fix isZero is undefined
  app/components/UI/Tokens/index.js
Labels: needs-dev-review

#2645 Safe navbar for iphone 12
  app/__mocks__/react-native-device-info.js
  app/components/Nav/Main/index.js
  app/util/Device.js
  app/util/address.test.js
  app/util/testSetup.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: Release Blocker, release bug

#2656 Fix Balance undefined for deeplink payment requests
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed

#2663 Load video over the network
  app/components/UI/SeedPhraseVideo/index.js
  locales/languages/en.json
Labels: needs-dev-review

#2640 Swaps: Add name from metadata to swaps tokens
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  app/reducers/swaps/index.js
Labels: QA Passed, swaps

#2689 Fix "use max" in send flow
  app/components/Views/SendFlow/Amount/index.js
Labels: needs-dev-review, needs-qa

#2680 Collectibles modal
  app/__mocks__/react-native-device-info.js
  app/components/UI/CollectibleMedia/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleMedia/index.js
  app/components/UI/CollectibleModal/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleModal/index.js
  app/components/UI/CollectibleOverview/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleOverview/index.js
  app/components/Views/AddAsset/index.js
  app/components/Views/MediaPlayer/AndroidMediaPlayer.js
  app/components/Views/MediaPlayer/Loader.js
  app/components/Views/MediaPlayer/index.js
  app/core/AppConstants.js
  app/util/Device.js
  ios/Podfile.lock
  locales/languages/en.json
  package.json
  scripts/build.sh
  yarn.lock
Labels: needs-dev-review

#2687 notification fix attempt
  app/actions/notification/index.js
  app/components/Nav/Main/index.js
  app/components/UI/Notification/index.js
  app/reducers/notification/index.js
Labels: QA Passed

#2692 Fix custom gas crash
  app/components/UI/CustomGas/index.js
Labels: QA Passed, next release

#2698 bugfix: navigation routeName is null
  app/components/UI/DrawerView/index.js
  app/components/UI/OptinMetrics/index.js
  app/components/Views/CreateWallet/index.js
  app/components/Views/Entry/index.js
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/OnboardingCarousel/index.js
  app/components/Views/SyncWithExtensionSuccess/index.js
Labels: QA Passed, next release

#2700 Collectibles experience QA feedback
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleMedia/index.js
  app/components/UI/CollectibleModal/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleModal/index.js
  app/components/UI/CollectibleOverview/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleOverview/index.js
  app/components/UI/StyledButton/index.android.js
  app/components/UI/StyledButton/index.ios.js
  app/components/Views/MediaPlayer/AndroidMediaPlayer.js
  app/components/Views/MediaPlayer/index.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  scripts/build.sh
Labels: QA Passed, needs-dev-review, next release

#2618 Collectibles experience
  app/__mocks__/react-native-device-info.js
  app/actions/collectibles/index.js
  app/components/Base/Text.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContractOverview/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleContractOverview/index.js
  app/components/UI/CollectibleContracts/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.js
  app/components/UI/CollectibleImage/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleImage/index.js
  app/components/UI/CollectibleMedia/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleMedia/index.js
  app/components/UI/CollectibleMedia/index.test.js
  app/components/UI/CollectibleMediaReproductor/index.js
  app/components/UI/CollectibleModal/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleModal/index.js
  app/components/UI/CollectibleModal/index.test.js
  app/components/UI/CollectibleOverview/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleOverview/index.js
  app/components/UI/CollectibleOverview/index.test.js
  app/components/UI/Collectibles/__snapshots__/index.test.js.snap
  app/components/UI/Collectibles/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/EthInput/index.js
  app/components/UI/Identicon/index.js
  app/components/UI/StyledButton/index.android.js
  app/components/UI/StyledButton/index.ios.js
  app/components/UI/TransactionElement/utils.js
  app/components/Views/AddAsset/index.js
  app/components/Views/CollectibleView/__snapshots__/index.test.js.snap
  app/components/Views/CollectibleView/index.js
  app/components/Views/MediaPlayer/AndroidMediaPlayer.js
  app/components/Views/MediaPlayer/Loader.js
  app/components/Views/MediaPlayer/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/core/AppConstants.js
  app/core/Engine.js
  app/images/no-nfts-placeholder.png
  app/reducers/collectibles/index.js
  app/reducers/collectibles/index.test.js
  app/reducers/index.js
  app/styles/common.js
  app/util/Device.js
  app/util/scaling.js
  e2e/wallet-tests.spec.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  locales/languages/en.json
  locales/languages/es-OLD.json
  locales/languages/es.json
  metamask-controllers-v8.0.2.tgz
  package.json
  yarn.lock
Labels: QA Passed, next release
