Repository MetaMask/metamask-mobile, pull requests merged in 2021-06, with the labels that each got.

#2727 Add missing required prop in tests
  app/components/Views/Approval/index.test.js
Labels: needs-dev-review

#2728 Add iconUrls to allowed list of keys
  app/core/RPCMethods/wallet_addEthereumChain.js
Labels: No QA Needed/Regression Test, next release

#2711 Feature/use same media player
  app/components/UI/SeedPhraseVideo/index.js
  app/components/Views/AccountBackupStep1/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/MediaPlayer/index.js
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/index.js
  package.json
  yarn.lock
Labels: needs-dev-review

#2713 Feature/bitrise circle ci hybrid
  .circleci/config.yml
  .github/workflows/bump-version-name.yml
  bitrise.yml
  package.json
  scripts/build.sh
  scripts/bump-version.sh
  scripts/metamask-bot-build-announce-bitrise.js
Labels: needs-dev-review

#2703 Convert token id to hexadecimal for collectible transfer
  app/components/UI/TransactionEditor/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/util/number.js
  app/util/number.test.js
Labels: needs-dev-review, needs-qa

#2706 make null conversionRate safe
  app/core/Engine.js
  app/util/number.js
Labels: No QA Needed/Regression Test

#2626 @metamask/mobile-provider@2.1.0
  package.json
  yarn.lock
Labels: No QA Needed/Regression Test, needs-dev-review

#2738 Feature/simplify custom gas
  app/components/UI/CustomGas/index.js
Labels: No QA Needed/Regression Test, needs-dev-review

#2611 Educate gas fees
  app/actions/user/index.js
  app/components/Base/Text.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/__snapshots__/index.test.js.snap
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/CustomGas/__snapshots__/index.test.js.snap
  app/components/UI/FiatOrders/PaymentMethodSelector/index.android.js
  app/components/UI/FiatOrders/PaymentMethodSelector/index.ios.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.test.js
  app/components/Views/GasEducationCarousel/__snapshots__/index.test.js.snap
  app/components/Views/GasEducationCarousel/index.js
  app/components/Views/GasEducationCarousel/index.test.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/images/gas-education-carousel-1.png
  app/images/gas-education-carousel-2.png
  app/images/gas-education-carousel-3.png
  app/reducers/user/index.js
  locales/languages/en.json
Labels: QA Passed, next release

#2617 On-Ramp: Refactor and Wyre countries
  app/components/Base/Keypad/constants.js
  app/components/Base/Keypad/createKeypadRule.js
  app/components/Base/Keypad/createKeypadRule.test.js
  app/components/Base/Keypad/index.js
  app/components/Base/Keypad/rules/index.js
  app/components/Base/Keypad/rules/native.js
  app/components/Base/Keypad/rules/usd.js
  app/components/Base/Keypad/useCurrency.js
  app/components/Base/SelectorButton.js
  app/components/Base/Text.js
  app/components/UI/FiatOrders/PaymentMethodApplePay/index.js
  app/components/UI/FiatOrders/PaymentMethodSelector/transak.js
  app/components/UI/FiatOrders/PaymentMethodSelector/wyreApplePay.js
  app/components/UI/FiatOrders/TransakWebView/index.js
  app/components/UI/FiatOrders/components/AccountBar.js
  app/components/UI/FiatOrders/components/AccountSelector.js
  app/components/UI/FiatOrders/components/CountrySelector.js
  app/components/UI/FiatOrders/components/CountrySelectorModal.js
  app/components/UI/FiatOrders/components/PaymentMethod/Modal.js
  app/components/UI/FiatOrders/components/PaymentMethod/index.js
  app/components/UI/FiatOrders/index.js
  app/components/UI/FiatOrders/orderProcessor/wyreApplePay.js
  app/components/UI/Swaps/components/TokenSelectButton.js
  app/components/UI/Swaps/components/__snapshots__/TokenSelectButton.test.js.snap
  app/components/Views/ActivityView/index.js
  app/components/Views/FiatOrdersView/index.js
  app/reducers/fiatOrders/index.js
  locales/languages/en.json
Labels: QA Passed, on-ramp

#2701 Swaps: Allow every token on user wallet to be swapped
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/utils/index.js
  app/reducers/swaps/index.js
  locales/languages/en.json
Labels: QA Passed, next release, swaps

#2702 Swaps: Update Market price unavailable and Price impact text
  app/components/UI/Swaps/QuotesView.js
  locales/languages/en.json
Labels: needs-dev-review, next release, swaps

#2749 @metamask/controllers@10.1.0
  package.json
  yarn.lock
Labels: QA Passed, next release

#2746 bugfix/notification visibility
  app/components/Nav/Main/index.js
  app/components/UI/Notification/index.js
Labels: No QA Needed/Regression Test, next release

#2759 Use MediaPlayer
  app/components/UI/SeedPhraseVideo/index.js
Labels: QA Passed, next release

#2777 Add isInteraction: false
  app/components/Views/MediaPlayer/AndroidMediaPlayer.js
Labels: QA Passed, next release

#2776 Fix: empty state when using fiat on non-mainnet transactions
  app/components/UI/TransactionReview/TransactionReviewFeeCard/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed, next release

#2809 Fix crash when connecting on custom networks
  app/components/UI/AccountInfoCard/index.js
Labels: QA in Progress

#2818 [EIP1559] Edit gas fee screen header and button UI
  app/components/UI/EditGasFee1559/index.js
  locales/languages/en.json
Labels: needs-dev-review
