Repository MetaMask/metamask-mobile, pull requests merged in 2021-07, with the labels that each got.

#2841 Feature/eip1559 base edit gas fee screen add controller
  app/components/Nav/Main/index.js
  app/components/Views/Approval/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/Confirm/index.test.js
  app/core/Engine.js
  app/reducers/engine/index.js
  app/reducers/transaction/index.js
  app/util/transaction-reducer-helpers.js
  metamask-controllers-v11.0.1.tgz
  package.json
  yarn.lock
Labels: needs-dev-review

#2883 Swaps: Fix isZero undefined error
  app/components/UI/Swaps/index.js
Labels: No QA Needed/Regression Test, next release

#2854 Feature/fix time formatting transactions
  app/util/date.js
  app/util/date.test.js
  jest.config.js
  package.json
Labels: No QA Needed/Regression Test, needs-dev-review, next release

#2865 [Optimism] Feature/custom network gas estimates
  app/components/UI/ActionModal/__snapshots__/index.test.js.snap
  app/components/UI/BlockingActionModal/__snapshots__/index.test.js.snap
  app/components/UI/CustomAlert/__snapshots__/index.test.js.snap
  app/components/UI/CustomGas/index.js
  app/components/UI/CustomNonceModal/__snapshots__/index.test.js.snap
  app/components/UI/GlobalAlert/__snapshots__/index.test.js.snap
  app/components/UI/OnboardingWizard/__snapshots__/index.test.js.snap
  app/components/UI/SelectComponent/__snapshots__/index.test.js.snap
  app/components/UI/TransactionEditor/index.js
  app/components/Views/Approval/__snapshots__/index.test.js.snap
  app/components/Views/BrowserTab/__snapshots__/index.test.js.snap
  app/components/Views/Collectible/__snapshots__/index.test.js.snap
  app/components/Views/QRScanner/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/SendTo/__snapshots__/index.test.js.snap
  app/core/Engine.js
  app/util/custom-gas.js
  bitrise.yml
  ios/Podfile.lock
  locales/languages/en.json
  metamask-controllers-v12.0.0-seth-1.tgz
  package.json
  yarn.lock
Labels: QA Passed, next release

#2908 [EIP1559] Transaction history UI
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionElement/utils.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/TransactionSummary/index.js
  app/util/transactions.js
  locales/languages/en.json
  metamask-controllers-v12.1.6.tgz
  metamask-controllers-v12.1.7.tgz
  metamask-controllers-v12.1.9.tgz
  package.json
  yarn.lock
Labels: needs-dev-review

#2889 Feature/bitrise
  .circleci/config.yml
  android/app/build.gradle
  android/build.gradle
  bitrise.yml
  e2e/init.js
  ios/Gemfile
  ios/Gemfile.lock
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/MetaMask/IosExportOpitions.plist
  ios/fastlane/.ruby-version
  ios/fastlane/Appfile
  ios/fastlane/Fastfile
  ios/fastlane/Matchfile
  ios/fastlane/README.md
  package.json
  scripts/build.sh
  scripts/bump-version.sh
  scripts/metamask-bot-build-announce.js
  yarn.lock
Labels: needs-dev-review, next release

#2881 Split AssetsController into TokensController and CollectiblesController
  app/components/Nav/Main/index.js
  app/components/UI/AccountApproval/index.js
  app/components/UI/AccountApproval/index.test.js
  app/components/UI/AddCustomCollectible/index.js
  app/components/UI/AddCustomToken/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/ApproveTransactionReview/index.test.js
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContractOverview/index.js
  app/components/UI/CollectibleContractOverview/index.test.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.js
  app/components/UI/Collectibles/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/EthInput/index.js
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/PaymentRequest/index.js
  app/components/UI/SearchTokenAutocomplete/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/index.js
  app/components/UI/Tokens/index.js
  app/components/UI/Tokens/index.test.js
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionEditor/index.test.js
  app/components/UI/TransactionReview/TransactionReviewSummary/index.test.js
  app/components/UI/TransactionReview/index.js
  app/components/UI/TransactionReview/index.test.js
  app/components/UI/Transactions/index.js
  app/components/UI/Transactions/index.test.js
  app/components/UI/WatchAssetRequest/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/ApproveView/Approve/index.test.js
  app/components/Views/Asset/index.js
  app/components/Views/BrowserTab/index.js
  app/components/Views/Collectible/index.js
  app/components/Views/Collectible/index.test.js
  app/components/Views/Login/index.test.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Amount/index.test.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/index.test.js
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/TransactionsView/index.js
  app/components/Views/Wallet/index.js
  app/core/Engine.js
  app/core/Engine.test.js
  app/reducers/engine/index.js
  app/reducers/swaps/index.js
  app/store/migrations.js
  app/util/accountSecurity.js
  package.json
  yarn.lock
Labels: needs-qa

#2937 [EIP1559] Polyfill gas price
  app/components/Views/BrowserTab/index.js
Labels: needs-qa

#2863 Allow custom network fiat values
  app/components/UI/AccountOverview/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Tokens/index.js
  app/components/Views/SendFlow/Amount/index.js
  yarn.lock
Labels: needs-qa

#2729 Swaps: Add custom token flow - search by address and get it imported to your wallet
  app/components/Base/Alert.js
  app/components/Base/ModalDragger.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/TokenImportModal.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/utils/index.js
  app/components/UI/Swaps/utils/useFetchTokenMetadata.js
  app/components/Views/SendFlow/ErrorMessage/__snapshots__/index.test.js.snap
  app/util/analytics.js
  locales/languages/en.json
Labels: QA Passed, design qa, swaps

#2909 Account for speedUp in transaction list
  app/components/Views/Asset/index.js
  app/components/Views/TransactionsView/index.js
  yarn.lock
Labels: QA Passed

#2795 Swaps: Use quotes conversion rate
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/utils/index.js
  package.json
  yarn.lock
Labels: QA Passed, swaps
