Repository MetaMask/metamask-mobile, pull requests merged in 2021-12, with the labels that each got.

#3439 Performance - Bump modules
  app/components/UI/ActionModal/__snapshots__/index.test.tsx.snap
  app/components/UI/BlockingActionModal/__snapshots__/index.test.tsx.snap
  app/components/UI/CustomAlert/__snapshots__/index.test.tsx.snap
  app/components/UI/CustomNonceModal/__snapshots__/index.test.tsx.snap
  app/components/UI/SelectComponent/__snapshots__/index.test.tsx.snap
  app/components/Views/BrowserTab/__snapshots__/index.test.tsx.snap
  jest.config.js
  package.json
  yarn.lock
Labels: No QA Needed/Regression Test, needs-dev-review

#3459 [FIX] Android Keyboard Text Entry
  android/build.gradle
  ios/Podfile.lock
  patches/react-native+0.63.4.patch
  patches/react-native-webview+11.13.0.patch
Labels: QA Passed, needs-dev-review, temp-v3.8.0

#3458 Fix collectibles autodetection
  app/components/Base/RemoteImage/index.js
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContractOverview/index.js
  app/components/UI/CollectibleContractOverview/index.test.tsx
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/CollectibleOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/TransactionEditor/index.test.tsx
  app/components/UI/Transactions/__snapshots__/index.test.tsx.snap
  app/components/UI/Transactions/index.js
  app/components/UI/Transactions/index.test.tsx
  app/components/Views/Collectible/index.js
  app/components/Views/Collectible/index.test.tsx
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Amount/index.test.tsx
  app/core/Engine.js
  app/reducers/collectibles/index.js
  package.json
  yarn.lock
Labels: QA Passed

#3387 [FIX] Minor NFTs bugs
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleOverview/index.js
  locales/languages/en.json
Labels: QA Passed, temp-v3.8.0

#3467 Bug/3464 fix login bug
  app/actions/user/index.js
  app/components/Nav/App/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/MetaMaskAnimation/index.tsx
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/Onboarding/index.js
  app/reducers/user/index.js
  app/store/index.js
Labels: QA Passed, needs-dev-review, temp-v3.8.0

#3457 [FEAT] User review prompt
  android/app/build.gradle
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/__snapshots__/index.test.tsx.snap
  app/components/Nav/Main/index.js
  app/components/UI/CollectibleModal/index.js
  app/components/UI/ReusableModal/index.tsx
  app/components/UI/ReusableModal/styles.ts
  app/components/UI/ReviewModal/index.tsx
  app/components/UI/ReviewModal/styles.ts
  app/constants/storage.js
  app/core/AppConstants.js
  app/core/NotificationManager.js
  app/core/ReviewManager.ts
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review

#3478 Show newlines when signing message
  app/components/UI/PersonalSign/__snapshots__/index.test.tsx.snap
  app/components/UI/PersonalSign/index.js
Labels: needs-qa, needs-dev-review

#3487 Feature/100 user review prompt
  app/core/ReviewManager.ts
Labels: No QA Needed/Regression Test, needs-dev-review

#3485 Remove swap navigation action
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/index.js
  app/components/Views/Wallet/index.tsx
Labels: QA Passed, needs-dev-review

#3484 Bug/3464 fix login bug
  app/actions/user/index.js
  app/components/Nav/App/index.js
  app/components/Views/Login/index.js
  app/reducers/user/index.js
  app/store/index.js
  ios/Podfile.lock
Labels: QA Passed, needs-dev-review
