Repository MetaMask/metamask-mobile, pull requests merged in 2021-01, with the labels that each got.

#2076 Feature/make insufficient fee descriptive
  .gitignore
  app/components/Base/Summary.js
  app/components/Nav/Main/index.js
  app/components/UI/AccountApproval/index.test.js
  app/components/UI/ApproveTransactionReview/__snapshots__/index.test.js.snap
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/CollectibleContractInformation/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/NetworkList/index.js
  app/components/UI/SignatureRequest/index.test.js
  app/components/UI/TransactionEditor/__snapshots__/index.test.js.snap
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionEditor/index.test.js
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/TransactionDetails/index.test.js
  app/components/UI/TransactionHeader/index.test.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/index.js
  app/components/UI/UrlAutocomplete/index.test.js
  app/components/Views/Approval/index.js
  app/components/Views/Approval/index.test.js
  app/components/Views/ApproveView/Approve/__snapshots__/index.test.js.snap
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/Asset/index.js
  app/components/Views/BrowserTab/index.js
  app/components/Views/Login/index.test.js
  app/components/Views/PaymentChannel/PaymentChannelDeposit/index.test.js
  app/components/Views/PaymentChannel/PaymentChannelSend/index.js
  app/components/Views/PaymentChannel/index.test.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/TransactionsView/index.js
  app/constants/network.js
  app/core/AppConstants.js
  app/core/Engine.js
  app/core/NotificationManager.js
  app/core/PaymentChannelsClient.js
  app/util/accountSecurity.js
  app/util/etherscan.js
  app/util/format.js
  app/util/networks.js
  app/util/networks.test.js
  locales/en.json
Labels: QA Passed, next release

#2083 Improvement/gas estimations
  app/components/UI/CustomGas/__snapshots__/index.test.js.snap
  app/components/UI/CustomGas/index.js
  app/util/custom-gas.js
  locales/en.json
  locales/es.json
Labels: QA Passed, next release

#2044 Remove sync with extension from settings
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/core/AppConstants.js
  locales/en.json
  locales/es.json
Labels: QA Passed, next release

#2109 Remove support email
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.js.snap
  locales/en.json
  locales/es.json
Labels: QA Passed, needs-dev-review, next release

#2114 @metamask/mobile-provider@2.0.0
  app/components/Views/BrowserTab/index.js
  app/core/AppConstants.js
  app/core/BackgroundBridge.js
  metamask-mobile-provider-1.3.4.tgz
  package.json
  yarn.lock
Labels: QA Passed, next release

#2070 Fix android injection
  ios/Podfile.lock
  package.json
  patches/react-native-webview+10.9.0.patch
  patches/react-native-webview+11.0.2.patch
  yarn.lock
Labels: QA Passed, next release

#1987 Replace public config with rpc
  app/components/Views/BrowserTab/index.js
  app/core/AppConstants.js
  app/core/BackgroundBridge.js
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, next release

#2120 bugfix/accounts undefined
  app/components/UI/AccountApproval/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/Views/ApproveView/Approve/index.js
Labels: next release

#2131 controllers v6.0.0
  package.json
  yarn.lock
Labels: next release

#2143 Fix alert from iframes
  patches/react-native-webview+11.0.2.patch
Labels: next release

#2144 @walletconnect@1.3.4
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: next release

#2146 @metamask/mobile-provider@2.0.1
  package.json
  yarn.lock
Labels: next release

#2149 Detox: Update RPC and Browser Tests
  app/components/Views/Settings/NetworksSettings/NetworkSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  e2e/add-custom-rpc.spec.js
  e2e/browser-tests.spec.js
Labels: detox, next release

#2147 @react-native-community/async-storage@1.12.1
  CHANGELOG.md
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Labels: next release

#2151 Swaps: Add priceSlippage alert
  app/components/UI/Swaps/QuotesView.js
  locales/en.json
  locales/es.json
Labels: alpha

#2132 Swaps: Add verify token message and link
  app/components/UI/Swaps/index.js
  locales/en.json
  locales/es.json
Labels: alpha, needs-qa

#2117 Swaps: Add action button and SwapsLiveness component
  app/components/Nav/Main/index.js
  app/components/UI/AssetActionButton/__snapshots__/index.test.js.snap
  app/components/UI/AssetActionButton/index.js
  app/components/UI/AssetActionButton/index.test.js
  app/components/UI/AssetActionButtons/__snapshots__/index.test.js.snap
  app/components/UI/AssetActionButtons/index.js
  app/components/UI/AssetActionButtons/index.test.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/CollectibleContractOverview/__snapshots__/index.test.js.snap
  app/components/UI/CollectibleContractOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/FiatOrders/index.js
  app/components/UI/Swaps/SwapsLiveness.js
  app/components/UI/Swaps/index.js
  app/components/hooks/useInterval.js
  app/core/AppConstants.js
  app/reducers/swaps/index.js
  app/reducers/swaps/swaps.test.js
  app/util/networks.js
  app/util/networks.test.js
  locales/en.json
  locales/es.json
  package.json
  yarn.lock
Labels: alpha, needs-qa

#2121 Swaps: Asset selector ordering
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  app/reducers/swaps/index.js
Labels: alpha, needs-qa

#2105 Swaps: Loading Animation 🦊
  app/components/UI/Fox/index.js
  app/components/UI/SliderButton/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/LoadingAnimation/backgroundShapes.js
  app/components/UI/Swaps/components/LoadingAnimation/index.js
  app/components/UI/Swaps/index.js
  locales/en.json
  locales/es.json
  yarn.lock
Labels: alpha, needs-qa

#2135 Swaps: Add fiat amount in preferred currency
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/utils/useBalance.js
Labels: alpha

#2103 bugfix/erc20 allowance ui
  app/components/UI/ApproveTransactionReview/index.js
Labels: QA Passed

#2161 chainid migration
  app/store/migrations.js
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: QA Passed, next release

#2104 bugfix/token tx ui amount parsing
  app/components/UI/TransactionElement/utils.js
  app/components/Views/Send/index.js
Labels: QA Passed

#2191 Use navigate instead of push
  app/components/Views/Settings/index.js
Labels: QA Passed
