Repository MetaMask/metamask-mobile, pull requests merged in 2021-04, with the labels that each got.

#2084 Migrate from AsyncStorage to FileStorage
  app/__mocks__/rn-fetch-blob.js
  app/store/index.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, next release

#2372 Remove instapay
  app/actions/settings/index.js
  app/actions/transaction/index.js
  app/components/Nav/Main/index.js
  app/components/UI/AccountSelect/index.js
  app/components/UI/BackupAlert/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/EthInput/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/PaymentChannelApproval/__snapshots__/index.test.js.snap
  app/components/UI/PaymentChannelApproval/index.js
  app/components/UI/PaymentChannelApproval/index.test.js
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionElement/utils.js
  app/components/Views/AssetCard/index.js
  app/components/Views/PaymentChannel/PaymentChannelDeposit/__snapshots__/index.test.js.snap
  app/components/Views/PaymentChannel/PaymentChannelDeposit/index.js
  app/components/Views/PaymentChannel/PaymentChannelDeposit/index.test.js
  app/components/Views/PaymentChannel/PaymentChannelSend/__snapshots__/index.test.js.snap
  app/components/Views/PaymentChannel/PaymentChannelSend/index.js
  app/components/Views/PaymentChannel/PaymentChannelSend/index.test.js
  app/components/Views/PaymentChannel/PaymentChannelWelcome/__snapshots__/index.test.js.snap
  app/components/Views/PaymentChannel/PaymentChannelWelcome/index.js
  app/components/Views/PaymentChannel/PaymentChannelWelcome/index.test.js
  app/components/Views/PaymentChannel/__snapshots__/index.test.js.snap
  app/components/Views/PaymentChannel/index.js
  app/components/Views/PaymentChannel/index.test.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/ExperimentalSettings/index.js
  app/constants/storage.js
  app/core/AppConstants.js
  app/core/NotificationManager.js
  app/core/PaymentChannelsClient.js
  app/images/mm-instapay-selected.png
  app/images/mm-instapay.png
  app/images/payment-channel-watermark.png
  app/images/payment-channel-welcome.png
  app/reducers/settings/index.js
  app/reducers/transaction/index.js
  app/util/analytics.js
  app/util/transactions.js
  locales/languages/en.json
  locales/languages/es-OLD.json
  package.json
  yarn.lock
Labels: needs-dev-review, next release

#2442 Improvement/chain ticker
  app/components/UI/AccountList/AccountElement/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/EthInput/index.js
  app/components/UI/NetworkMainAssetLogo/index.js
  app/components/UI/PaymentRequest/AssetList/index.js
  app/components/UI/PaymentRequest/index.js
  app/components/UI/Swaps/components/TokenIcon.js
  app/components/UI/Swaps/components/__snapshots__/TokenIcon.test.js.snap
  app/components/UI/Tokens/index.js
  app/components/UI/TransactionHeader/index.js
  app/components/UI/TransactionHeader/index.test.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/SendTo/index.js
  locales/languages/en.json
  locales/languages/es-OLD.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
  locales/languages/zh-cn.json
Labels: QA Passed, next release

#2441 Improvement/assets by chainid
  app/store/migrations.js
  metamask-controllers-v6.2.2.tgz
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, next release

#2408 Fix/gas estimations
  app/components/UI/CustomGas/index.js
  app/components/UI/CustomGas/index.test.js
  app/components/UI/Swaps/utils/useGasPrice.js
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionEditor/index.test.js
  app/components/UI/Transactions/index.test.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/util/custom-gas.js
  app/util/networks.js
  app/util/number.js
  ios/Podfile.lock
Labels: QA Passed, next release

#2456 Analytics v2 (priority 1)
  app/components/UI/AccountApproval/index.js
  app/components/UI/AddCustomCollectible/index.js
  app/components/UI/AddCustomNetwork/__snapshots__/index.test.js.snap
  app/components/UI/AddCustomNetwork/index.js
  app/components/UI/AddCustomNetwork/index.test.js
  app/components/UI/AddCustomToken/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/CustomGas/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/MessageSign/index.js
  app/components/UI/NetworkList/index.js
  app/components/UI/OptinMetrics/index.js
  app/components/UI/PersonalSign/index.js
  app/components/UI/SearchTokenAutocomplete/index.js
  app/components/UI/Swaps/components/TransactionsEditionModal.js
  app/components/UI/SwitchCustomNetwork/__snapshots__/index.test.js.snap
  app/components/UI/SwitchCustomNetwork/index.test.js
  app/components/UI/TransactionEditor/__snapshots__/index.test.js.snap
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TypedSign/index.js
  app/components/UI/WatchAssetRequest/index.js
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/BrowserTab/__snapshots__/index.test.js.snap
  app/components/Views/BrowserTab/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/util/analyticsV2.js
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
  locales/languages/zh-cn.json
Labels: No QA Needed/Regression Test, next release

#2381 Display correct number of decimals for 'usd' fiat
  app/core/Engine.js
  app/util/number.js
Labels: needs-dev-review

#2371 Feature/custom nonce
  app/actions/settings/index.js
  app/actions/transaction/index.js
  app/components/Base/Text.js
  app/components/UI/AddCustomNetwork/__snapshots__/index.test.js.snap
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/AssetActionButton/__snapshots__/index.test.js.snap
  app/components/UI/CustomNonceModal/__snapshots__/index.test.js.snap
  app/components/UI/CustomNonceModal/index.js
  app/components/UI/CustomNonceModal/index.test.js
  app/components/UI/ReceiveRequest/__snapshots__/index.test.js.snap
  app/components/UI/Swaps/components/__snapshots__/TokenIcon.test.js.snap
  app/components/UI/Swaps/components/__snapshots__/TokenSelectButton.test.js.snap
  app/components/UI/SwitchCustomNetwork/__snapshots__/index.test.js.snap
  app/components/UI/TransactionElement/TransactionDetails/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/Approval/index.js
  app/components/Views/Approval/index.test.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/ErrorMessage/__snapshots__/index.test.js.snap
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/reducers/settings/index.js
  app/reducers/transaction/index.js
  app/util/format.js
  app/util/general.js
  app/util/general.test.js
  app/util/networks.js
  locales/languages/en.json
Labels: QA Passed, next release

#2520 Check infura availability
  app/actions/infuraAvailability/index.js
  app/components/Nav/Main/index.js
  app/components/Views/OfflineMode/__snapshots__/index.test.js.snap
  app/components/Views/OfflineMode/index.js
  app/components/Views/OfflineMode/index.test.js
  app/core/AppConstants.js
  app/reducers/index.js
  app/reducers/infuraAvailability/index.js
  ios/Podfile.lock
  locales/languages/en.json
  locales/languages/es-OLD.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/vi-vn.json
  package.json
  yarn.lock
Labels: QA Passed

#2373 use contract metadata version from package
  app/util/assets.js
Labels: QA Passed, next release

#2534 Fix dapp transaction analytics typo
  app/components/Views/Approval/index.js
Labels: next release

#2469 Bug/persists old account names
  app/components/Views/Login/index.js
  app/components/Views/ResetPassword/index.js
  app/core/Vault.js
  app/util/sync.js
  app/util/sync.test.js
Labels: QA Passed, next release

#2485 Fix notification so it doesn't block terms + conditions
  app/components/UI/Notification/SimpleNotification/index.js
  app/components/Views/Onboarding/index.js
Labels: QA Passed, next release

#2536 Change Send Feedback to Request a Feature and update link
  app/components/UI/DrawerView/index.js
  locales/languages/en.json
Labels: QA Passed, needs-dev-review, next release

#2375 Style updates
  app/components/UI/AccountInfoCard/__snapshots__/index.test.js.snap
  app/components/UI/AssetList/index.js
  app/components/UI/BiometryButton/__snapshots__/index.test.js.snap
  app/components/UI/CustomGas/__snapshots__/index.test.js.snap
  app/components/UI/CustomNonceModal/__snapshots__/index.test.js.snap
  app/components/UI/Notification/BaseNotification/index.js
  app/components/UI/SlippageSlider/__snapshots__/index.test.js.snap
  app/components/UI/Tabs/__snapshots__/index.test.js.snap
  app/components/UI/TransactionHeader/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewData/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewSummary/__snapshots__/index.test.js.snap
  app/components/UI/WhatsNewModal/__snapshots__/index.test.js.snap
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/__snapshots__/index.test.js.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/EnterPasswordSimple/__snapshots__/index.test.js.snap
  app/components/Views/ImportFromSeed/__snapshots__/index.test.js.snap
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep2/__snapshots__/index.test.js.snap
  app/components/Views/QRScanner/__snapshots__/index.test.js.snap
  app/components/Views/ResetPassword/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/AddressElement/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/__snapshots__/index.test.js.snap
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/Contacts/ContactForm/__snapshots__/index.test.js.snap
  app/components/Views/Settings/GeneralSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.js.snap
  app/styles/common.js
  app/util/password.js
Labels: QA Passed, next release

#2538 fix/connection change handler
  app/components/Nav/Main/index.js
Labels: QA Passed

#2460 Feature/tx local state logs
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionElement/index.test.js
  app/components/UI/Transactions/index.js
  app/components/UI/Transactions/index.test.js
  app/components/Views/Asset/index.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/TransactionsView/index.js
  app/core/DeeplinkManager.js
  app/core/Engine.js
  app/core/WalletConnect.js
  app/util/transactions.js
  locales/languages/en.json
  yarn.lock
Labels: QA Passed, next release

#2543 Only get nonce from the network if the feature is enabled
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: needs-dev-review

#2554 Bug fix/sync import time
  app/components/Views/Asset/index.js
  app/core/Engine.js
Labels: QA Passed, needs-dev-review

#2547 Include decimalsToShow in balanceToFiatNumber
  app/core/Engine.js
Labels: needs-dev-review

#2468 Swaps: BSC Support
  app/components/Nav/Main/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/CustomGas/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/SwapsLiveness.js
  app/components/UI/Swaps/components/QuotesModal.js
  app/components/UI/Swaps/components/TokenIcon.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/components/TransactionsEditionModal.js
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/utils/index.js
  app/components/UI/Swaps/utils/useBalance.js
  app/components/UI/Swaps/utils/useBlockExplorer.js
  app/components/UI/Tokens/index.js
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionElement/utils.js
  app/components/UI/TransactionReview/index.js
  app/components/Views/Asset/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/core/Engine.js
  app/images/bnb-logo.png
  app/reducers/swaps/index.js
  app/reducers/swaps/swaps.test.js
  app/util/transactions.js
  index.js
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA'd but questions, needs-dev-review, swaps

#2514 Swaps: Add cache thresholds configuration
  app/core/AppConstants.js
  app/core/Engine.js
Labels: swaps

#2590 Fix adding custom token in custom network
  app/components/UI/AddCustomToken/index.js
  app/util/transactions.js
Labels: No QA Needed/Regression Test

#2416 Replace controller context
  app/core/Engine.js
  app/core/Engine.test.js
  package.json
  yarn.lock
Labels: QA Passed

#2610 Fix typeface on login text field
  app/components/Views/Login/index.js
Labels: No QA Needed/Regression Test, needs-dev-review

#2464 Feature/confusables
  app/components/Base/Text.js
  app/components/UI/AddCustomNetwork/__snapshots__/index.test.js.snap
  app/components/UI/AssetActionButton/__snapshots__/index.test.js.snap
  app/components/UI/CustomNonceModal/__snapshots__/index.test.js.snap
  app/components/UI/ReceiveRequest/__snapshots__/index.test.js.snap
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/__snapshots__/TokenIcon.test.js.snap
  app/components/UI/Swaps/components/__snapshots__/TokenSelectButton.test.js.snap
  app/components/UI/SwitchCustomNetwork/__snapshots__/index.test.js.snap
  app/components/UI/TransactionElement/TransactionDetails/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/__snapshots__/index.test.js.snap
  app/components/Views/OfflineMode/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/AddressInputs/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/ErrorMessage/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/SendTo/__snapshots__/index.test.js.snap
  app/components/Views/SendFlow/SendTo/index.js
  app/util/validators.js
  app/util/validators.test.js
  locales/languages/en.json
  package.json
  patches/unicode-confusables+0.1.1.patch
  yarn.lock
Labels: QA Passed, next release

#2529 Move some errors to analytics instead of sentry
  app/components/Nav/App/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/ComponentErrorBoundary/index.js
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/TransactionElement/TransactionDetails/__snapshots__/index.test.js.snap
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/TransactionDetails/index.test.js
  app/components/UI/TransactionElement/index.js
  app/components/Views/BrowserTab/index.js
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/Settings/SecuritySettings/index.js
  app/util/analyticsV2.js
  ios/Podfile.lock
Labels: No QA Needed/Regression Test, needs-dev-review, next release

#2604 Don't hide url modal on emulator
  app/components/Views/BrowserTab/index.js
Labels: QA Passed

#2607 Detox/Fix failing tests
  app/components/UI/AccountOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/NetworkList/__snapshots__/index.test.js.snap
  app/components/UI/NetworkList/index.js
  app/components/Views/BrowserTab/__snapshots__/index.test.js.snap
  app/components/Views/BrowserTab/index.js
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/NetworksSettings/index.js
  e2e/add-custom-rpc.spec.js
  e2e/addressbook-tests.spec.js
  e2e/browser-tests.spec.js
  e2e/helpers.js
  e2e/onboarding-wizard-opt-out.spec.js
  e2e/request-token-flow.spec.js
  e2e/start-exploring.spec.js
  e2e/wallet-tests.spec.js
  index.js
  package.json
  yarn.lock
Labels: QA Passed, detox, needs-dev-review, next release
