Repository MetaMask/metamask-mobile, pull requests merged in 2021-11, with the labels that each got.

#3362 [FIX] NFT backwards compatibility issues
  app/components/UI/CollectibleContracts/index.js
Labels: QA Passed, needs-dev-review

#3357 Fixing 404 dead links in readme
  README.md
Labels: documentation

#3144 [FIX] use empty string quotes for anon id
  android/app/src/main/java/io/metamask/nativeModules/RCTAnalytics.java
  ios/MetaMask/NativeModules/RCTAnalytics/RCTAnalytics.m
Labels: next release, No QA Needed/Regression Test

#3350 [IMPROVEMENT] Support signTypedData_v4 and use signTypedData_v3 by default in WalletConnect
  app/core/WalletConnect.js
Labels: next release, No QA Needed/Regression Test

#3394 [FIX] Unable to opt out of MetaMetrics
  app/components/Nav/App/index.js
  app/components/Views/Settings/SecuritySettings/index.js
  app/core/Analytics.js
  app/core/AnalyticsService.ts
  app/reducers/analytics/index.js
  app/reducers/index.js
  app/store/index.js
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/zh-cn.json
Labels: next release

#3397 [IMPROVEMENT] Enable sentry performance
  app/components/Nav/App/__snapshots__/index.test.tsx.snap
  app/components/Nav/App/index.js
  app/util/setupSentry.js
Labels: next release, No QA Needed/Regression Test

#3346 [FEATURE] Mobile Vault Decryptor Functionality
  app/components/Views/ImportFromSeed/index.js
  app/util/validators/index.js
Labels: next release, QA Passed

#3371 [FIX] iOS FaceID Deny Handler
  app/components/Views/ChoosePassword/index.js
  locales/languages/en.json
Labels: next release, QA Passed

#3412 [UPGRADE] Android SDK and dependencies to support SDK 30
  android/app/build.gradle
  android/build.gradle
Labels: next release

#3405 [FIX] Delete old schema onboarding event
  app/components/UI/OptinMetrics/index.js
  app/core/Analytics.js
Labels: next release

#3430 Add better initial state for swaps loading tokens
  app/components/UI/Swaps/index.js
  app/reducers/swaps/index.js
Labels: QA Passed

#3443 Disable Sync with Extension
  app/components/Views/Onboarding/index.js
Labels: QA Passed

#3423 [IMPROVEMENT] Android APK Size, App Load Time, Bitrise Build Steps
  android/app/build.gradle
  bitrise.yml
Labels: No QA Needed/Regression Test

#3380 Consume split TokenDetectionsController and CollectibleDetectionController (previously AssetDetectionController)
  app/components/Views/Collectible/index.js
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Wallet/index.tsx
  app/core/Engine.js
  app/core/Engine.test.js
  app/core/EngineService.ts
  app/core/NotificationManager.js
  package.json
  yarn.lock
Labels: QA Passed
