Repository MetaMask/metamask-mobile, pull requests merged in 2021-10, with the labels that each got.

#3247 Change redux persist timeout
  app/store/index.js
Labels: needs-dev-review

#3249 v3.4.0 RC6
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review

#3146 Stabilizing Detox Tests
  android/build.gradle
  app/components/UI/AssetSearch/__snapshots__/index.test.tsx.snap
  bitrise.yml
  e2e/add-custom-rpc.spec.js
  e2e/addressbook-tests.spec.js
  e2e/browser-tests.spec.js
  e2e/import-seed-phrase.spec.js
  e2e/init.js
  e2e/onboarding-wizard-opt-out.spec.js
  e2e/request-token-flow.spec.js
  e2e/start-exploring.spec.js
  e2e/wallet-tests.spec.js
  package.json
  scripts/build.sh
  yarn.lock
Labels: detox

#3261 [FIX] Fix start up navigation logic
  app/components/Views/Entry/index.js
Labels: No QA Needed/Regression Test, needs-dev-review

#3260 [FIX] Turn off token detection by default
  app/core/Engine.js
  app/store/migrations.js
Labels: No QA Needed/Regression Test, needs-dev-review

#3262 v3.4.1 RC1
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review

#3352 [FIX] Transaction Review - View Data Not Displaying
  app/components/UI/AnimatedTransactionModal/__snapshots__/index.test.tsx.snap
  app/components/UI/AnimatedTransactionModal/index.js
Labels: bug, QA Passed, needs-dev-review

#3343 Add NFTs ipfs support
  app/components/Base/RemoteImage/index.js
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/Collectibles/__snapshots__/index.test.tsx.snap
  app/components/UI/Collectibles/index.js
  app/core/Engine.js
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA Passed

#3301 [FEAT] ERC-1155 Support
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/CollectibleMedia/index.js
  app/components/UI/CollectibleModal/index.js
  app/components/UI/CollectibleOverview/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/util/general/index.js
  app/util/general/index.test.ts
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
  locales/languages/zh-cn.json
Labels: QA Passed, needs-dev-review
