Repository MetaMask/metamask-mobile, pull requests merged in 2022-03, with the labels that each got.

#3793 Integrate Keystone - Fix QA and UX issues
  app/components/UI/AccountOverview/index.js
  app/components/UI/QRHardware/AnimatedQRScanner.tsx
  app/components/UI/QRHardware/QRSigningDetails.tsx
  app/components/UI/SignatureRequest/index.js
  app/components/Views/ConnectQRHardware/Instruction/index.tsx
  app/components/Views/ConnectQRHardware/index.tsx
  app/components/Views/SendFlow/Confirm/index.js
  locales/languages/en.json
  locales/languages/zh-cn.json
  package.json
  yarn.lock
Labels: needs-dev-review, area-hardware

#3825 Fix issue #2829 - Lack of full ENS namespace support
  app/util/address/index.js
  app/util/address/index.test.ts
  package.json
Labels: QA Passed

#3803 Fix gas fee on education wizard and related JSON parse error
  app/components/Views/GasEducationCarousel/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/util/custom-gas/index.js
Labels: QA Passed, needs-dev-review

#3827 Integrate Keystone - Fix issues, add events tracking
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/AccountApproval/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountApproval/index.js
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountList/AccountElement/index.js
  app/components/UI/AccountList/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/MessageSign/__snapshots__/index.test.tsx.snap
  app/components/UI/MessageSign/index.js
  app/components/UI/MessageSign/index.test.tsx
  app/components/UI/PersonalSign/__snapshots__/index.test.tsx.snap
  app/components/UI/PersonalSign/index.js
  app/components/UI/PersonalSign/index.test.tsx
  app/components/UI/QRHardware/AnimatedQRScanner.tsx
  app/components/UI/QRHardware/QRSigningDetails.tsx
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionReview/index.js
  app/components/UI/Transactions/QRSigningModal/index.tsx
  app/components/UI/Transactions/__snapshots__/index.test.tsx.snap
  app/components/UI/Transactions/index.js
  app/components/UI/TypedSign/__snapshots__/index.test.tsx.snap
  app/components/UI/TypedSign/index.js
  app/components/UI/TypedSign/index.test.tsx
  app/components/Views/Approval/__snapshots__/index.test.tsx.snap
  app/components/Views/Approval/index.js
  app/components/Views/Approval/index.test.tsx
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/ConnectQRHardware/Instruction/index.tsx
  app/components/Views/ConnectQRHardware/SelectQRAccounts/index.tsx
  app/components/Views/ConnectQRHardware/index.tsx
  app/components/Views/ConnectQRHardware/types.ts
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/constants/error.ts
  app/util/address/index.js
  app/util/analyticsV2.js
  app/util/networks/index.js
  app/util/networks/index.test.ts
  locales/languages/en.json
  locales/languages/zh-cn.json
Labels: needs-dev-review, area-hardware

#3871 [FIX] Fix Token Detection
  package.json
  patches/@metamask+controllers+25.1.0.patch
  patches/@metamask+swaps-controller+6.3.0.patch
  yarn.lock
Labels: needs-dev-review

#3851 Clear browser tabs when cleaning history
  app/actions/browser/index.js
  app/reducers/browser/index.js
Labels: QA Passed, needs-dev-review

#3862 Add metamaskbot to crowdin_action config
  .github/workflows/crowdin_action.yml
Labels: No QA Needed/Detox Only, needs-dev-review

#3863 [FIX] Issue #172
  app/components/UI/ApproveTransactionReview/index.js
Labels: QA Passed, Priority - High

#3756 Prioritise specified transaction gas to allow gasless network transactions
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/EditGasFee1559/__snapshots__/index.test.tsx.snap
  app/components/UI/EditGasFee1559/index.js
  app/components/UI/EditGasFeeLegacy/__snapshots__/index.test.tsx.snap
  app/components/UI/EditGasFeeLegacy/index.js
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionElement/utils.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/Approval/index.js
  app/util/transactions/index.js
Labels: QA Passed, Priority - High

#3878 Upgrade controllers v26.0.0 and Swaps controller to v6.6.0
  app/core/Engine.js
  package.json
  yarn.lock
Labels: No QA Needed/Detox Only

#3462 Add test-ids constants file
  app/components/UI/AccountApproval/index.js
  app/components/UI/AddCustomNetwork/index.js
  app/components/UI/NetworkList/index.js
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/Views/Login/index.js
  app/components/Views/SendFlow/SendTo/index.js
  app/constants/test-ids.js
  e2e/pages/LoginView.js
  e2e/pages/modals/AddAddressModal.js
  e2e/pages/modals/ConnectModal.js
  e2e/pages/modals/DeleteWalletModal.js
  e2e/pages/modals/NetworkListModal.js
Labels: No QA Needed/Detox Only

#3692 Show the contract receiving token allowances on the allowance screen
  app/components/UI/ApproveTransactionReview/AddNickNameHeader/index.tsx
  app/components/UI/ApproveTransactionReview/AddNickname/index.tsx
  app/components/UI/ApproveTransactionReview/ShowBlockExplorer/index.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/EthereumAddress/index.js
  app/components/UI/Swaps/components/InfoModal.js
  app/components/UI/TransactionReview/TransactionReviewDetailsCard/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/ChoosePassword/index.js
  app/components/Views/SendFlow/AddressList/index.js
  app/util/address/index.js
  app/util/analyticsV2.js
  app/util/checkAddress.tsx
  e2e/pages/ContractNickNameView.js
  e2e/pages/Onboarding/CreatePasswordView.js
  e2e/pages/SendView.js
  e2e/pages/modals/ApprovalModal.js
  e2e/specs/contract-nickname.spec.js
  e2e/specs/deeplinks.spec.js
  locales/languages/en.json
Labels: enhancement, QA Passed, Code Impact - Medium

#3832 Add `./scripts/create-release.sh` to better automate releases
  package.json
  scripts/set-versions.sh
Labels: No QA Needed/Detox Only

#3875 Add authentication type to login metrics
  app/constants/userProperties.ts
  app/core/Analytics.js
  app/core/SecureKeychain.js
Labels: Spot Check on the Release Build

#3888 Fix go to ens domain when coming from qr code
  app/components/Views/BrowserTab/index.js
Labels: next release, QA Passed, Priority - High

#3900 Fix crash on sign message popup
  app/components/Nav/Main/RootRPCMethodsUI.js
Labels: Spot Check on the Release Build

#3898 Exclude deps in build.gradle
  android/app/build.gradle
Labels: needs-dev-review

#3896 Bug/3895 fix send erc20
  package.json
  patches/@metamask+controllers+26.0.0.patch
  patches/@metamask+swaps-controller+6.6.0.patch
  yarn.lock
Labels: Spot Check on the Release Build

#3899 Improve WalletConnect checks
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/Views/BrowserTab/index.js
  app/components/Views/Settings/SecuritySettings/index.js
  app/core/DeeplinkManager.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/WalletConnect.js
  locales/languages/en.json
Labels: QA Passed, Priority - High

#3902 Add confusables explanation(s)
  app/components/Views/SendFlow/AddressInputs/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/index.js
  app/util/confusables/index.js
  app/util/confusables/index.test.ts
  app/util/validators/index.js
  app/util/validators/index.test.ts
  locales/languages/en.json
Labels: needs-qa, needs-dev-review

#3901 Keystone integration: fix ui issues and fit dark mode
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountList/AccountElement/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/ApproveTransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/QRHardware/AnimatedQRCode.tsx
  app/components/UI/QRHardware/AnimatedQRScanner.tsx
  app/components/UI/QRHardware/QRSigningDetails.tsx
  app/components/UI/QRHardware/QRSigningModal/index.tsx
  app/components/UI/SignatureRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/SignatureRequest/index.js
  app/components/UI/SkipAccountSecurityModal/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/index.js
  app/components/UI/Transactions/QRSigningModal/index.tsx
  app/components/UI/Transactions/__snapshots__/index.test.tsx.snap
  app/components/UI/Transactions/index.js
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/Asset/index.js
  app/components/Views/ConnectQRHardware/Instruction/index.tsx
  app/components/Views/ConnectQRHardware/SelectQRAccounts/index.tsx
  app/components/Views/ConnectQRHardware/index.tsx
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/AddressList/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/QRHardwareSigner/index.tsx
  app/components/Views/Settings/GeneralSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/TransactionsView/index.js
  app/core/Vault.js
  package.json
  yarn.lock
Labels: area-hardware

#3947 Fix/3945 gas carousel estimation
  app/components/Views/GasEducationCarousel/index.js
Labels: needs-qa, needs-dev-review

#3946 [Fix] Fix error boundary SRP
  app/components/Nav/App/index.js
  app/components/Views/ErrorBoundary/index.js
  app/components/Views/RevealPrivateCredential/index.js
  app/components/Views/Root/__snapshots__/index.test.tsx.snap
  app/components/Views/Root/index.js
Labels: needs-qa, needs-dev-review

#3792 [FIX] Self sent token transactions
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
Labels: QA Passed, Priority - Medium

#3941 [RELEASE] 4.3.1
  CHANGELOG.md
  android/app/build.gradle
  app/components/Nav/App/index.js
  app/components/Views/ErrorBoundary/index.js
  app/components/Views/GasEducationCarousel/index.js
  app/components/Views/RevealPrivateCredential/index.js
  app/components/Views/Root/__snapshots__/index.test.tsx.snap
  app/components/Views/Root/index.js
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: needs-dev-review

#3954 README Update
  README.md
Labels: No QA Needed/Detox Only, needs-dev-review

#3731 Fix formatting of gas price for all conversion currencies
  android/app/build.gradle
  app/util/confirm-tx.js
  package.json
  yarn.lock
Labels: QA Passed, Priority - Medium

#3877 Add OSS attribution
  .github/workflows/ci.yml
  .gitignore
  app/components/Views/Settings/AppInformation/index.js
  attribution.txt
  package.json
  scripts/attributions-check.sh
  scripts/generate-attributions.sh
  yarn.lock
Labels: needs-dev-review

#3868 Create release PR
  .github/workflows/create-release-pr.yml
  scripts/create-release-pr.sh
Labels: No QA Needed/Detox Only, needs-dev-review

#3930 upgrade bitrise build machines
  bitrise.yml
  ios/Podfile.lock
Labels: No QA Needed/Detox Only, Release Blocker, Priority - High

#3958 Update pod install echo
  package.json
Labels: No QA Needed/Detox Only, needs-dev-review

#3909 Upgrade controller to v27.0.0
  attribution.txt
  package.json
  patches/@metamask+controllers+27.0.0.patch
  yarn.lock
Labels: QA Passed, needs-dev-review

#3948 [FIX] Update button on WebviewError
  app/components/UI/WebviewError/index.js
  app/components/Views/BrowserTab/index.js
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
  locales/languages/zh-cn.json
Labels: Spot Check on the Release Build
