Repository MetaMask/metamask-mobile, pull requests merged in 2022-08, with the labels that each got.

#4784 Hide Remember me strings
  locales/languages/en.json
Labels: No QA Needed/Detox Only, release-5.5

#4795 Update new urls to redirect to zendesk
  app/components/Views/ErrorBoundary/index.js
  app/components/Views/Settings/AppInformation/index.js
Labels: QA Passed, Mobile QA board, release-5.6

#4634 [IMPROVEMENT] safeNumberToBN Method
  app/util/number/index.js
  app/util/number/index.test.ts
Labels: QA Passed, Mobile QA board, stability-team, release-5.6, CS-reported, CS-tracking

#4793 Dapp connect Warning
  app/constants/deeplinks.js
  app/core/DeeplinkManager.js
  locales/languages/en.json
Labels: SDK, QA'd - Issues Found, release-5.6

#4739 Component/4228 sheet header
  app/component-library/components/SheetHeader/README.md
  app/component-library/components/SheetHeader/SheetHeader.constants.ts
  app/component-library/components/SheetHeader/SheetHeader.stories.tsx
  app/component-library/components/SheetHeader/SheetHeader.styles.ts
  app/component-library/components/SheetHeader/SheetHeader.test.tsx
  app/component-library/components/SheetHeader/SheetHeader.tsx
  app/component-library/components/SheetHeader/SheetHeader.types.ts
  app/component-library/components/SheetHeader/__snapshots__/SheetHeader.test.tsx.snap
  app/component-library/components/SheetHeader/index.ts
  storybook/storyLoader.js
Labels: needs-dev-review, release-5.6

#4740 Fix duplicate property in on-ramp events definition
  app/components/UI/FiatOnRampAggregator/types/analytics.ts
Labels: on-ramp, Spot Check on the Release Build, release-5.6

#4780 [FIX] Block explorer crash
  app/components/UI/Transactions/index.js
  app/components/Views/Asset/index.js
  app/components/Views/AssetOptions/index.tsx
  app/util/networks/index.js
  app/util/networks/index.test.ts
Labels: QA Passed, Mobile QA board

#4718 Component/4226 bottom sheet
  app/component-library/components/Sheet/SheetBottom/README.md
  app/component-library/components/Sheet/SheetBottom/SheetBottom.constants.ts
  app/component-library/components/Sheet/SheetBottom/SheetBottom.stories.tsx
  app/component-library/components/Sheet/SheetBottom/SheetBottom.styles.ts
  app/component-library/components/Sheet/SheetBottom/SheetBottom.tsx
  app/component-library/components/Sheet/SheetBottom/SheetBottom.types.ts
  app/component-library/components/Sheet/SheetBottom/index.ts
  app/component-library/components/SheetHeader/README.md
  app/component-library/components/SheetHeader/SheetHeader.constants.ts
  app/component-library/components/SheetHeader/SheetHeader.stories.tsx
  app/component-library/components/SheetHeader/SheetHeader.styles.ts
  app/component-library/components/SheetHeader/SheetHeader.test.tsx
  app/component-library/components/SheetHeader/SheetHeader.tsx
  app/component-library/components/SheetHeader/SheetHeader.types.ts
  app/component-library/components/SheetHeader/__snapshots__/SheetHeader.test.tsx.snap
  app/component-library/components/SheetHeader/index.ts
  storybook/decorators/index.ts
  storybook/decorators/withNavigation.tsx
  storybook/decorators/withSafeArea.tsx
  storybook/index.js
  storybook/storyLoader.js
Labels: release-5.6

#4749 Add current network to Fiat On-ramp titles
  app/components/UI/Navbar/index.js
Labels: on-ramp, Spot Check on the Release Build, release-5.6

#4640 Create confirmation modal component
  app/component-library/components/ConfirmationModal/ConfirmationModal.stories.tsx
  app/component-library/components/ConfirmationModal/ConfirmationModal.styles.ts
  app/component-library/components/ConfirmationModal/ConfirmationModal.test.tsx
  app/component-library/components/ConfirmationModal/ConfirmationModal.tsx
  app/component-library/components/ConfirmationModal/ConfirmationModal.types.ts
  app/component-library/components/ConfirmationModal/README.md
  app/component-library/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  app/component-library/components/ConfirmationModal/index.ts
  app/components/Nav/App/index.js
  app/constants/navigation/Routes.ts
  app/constants/test-ids.js
  locales/languages/en.json
  storybook/decorators.tsx
  storybook/storyLoader.js
Labels: needs-dev-review, release-5.6

#4322 Ens ccip wildcard support
  app/constants/network.js
  app/util/ENSUtils.js
  app/util/ENSUtils.test.ts
  app/util/networks/index.js
  package.json
  yarn.lock
Labels: QA'd - Issues Found, Priority - High, Mobile QA board, release-5.6

#4818 Add provider user agent to on-ramp Checkout WebView
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
  package.json
  yarn.lock
Labels: on-ramp, Spot Check on the Release Build, release-5.6

#4742 Add On-Ramp generic error view event
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetQuotes.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethod.tsx
  app/components/UI/FiatOnRampAggregator/Views/Region.tsx
  app/components/UI/FiatOnRampAggregator/components/ErrorView.tsx
  app/components/UI/FiatOnRampAggregator/components/ErrorViewWithReporting.tsx
  app/components/UI/FiatOnRampAggregator/types/analytics.ts
  app/util/analyticsV2.js
Labels: on-ramp, release-5.6

#4820 Improvement/4819 support local images for components
  app/component-library/components/Avatars/AvatarFavicon/AvatarFavicon.constants.ts
  app/component-library/components/Avatars/AvatarFavicon/AvatarFavicon.stories.tsx
  app/component-library/components/Avatars/AvatarFavicon/AvatarFavicon.test.tsx
  app/component-library/components/Avatars/AvatarFavicon/AvatarFavicon.tsx
  app/component-library/components/Avatars/AvatarFavicon/AvatarFavicon.types.ts
  app/component-library/components/Avatars/AvatarFavicon/README.md
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.constants.ts
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.stories.tsx
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.styles.ts
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.test.tsx
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.tsx
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.types.ts
  app/component-library/components/Avatars/AvatarNetwork/README.md
  app/component-library/components/Avatars/AvatarToken/AvatarToken.constants.ts
  app/component-library/components/Avatars/AvatarToken/AvatarToken.stories.tsx
  app/component-library/components/Avatars/AvatarToken/AvatarToken.styles.ts
  app/component-library/components/Avatars/AvatarToken/AvatarToken.test.tsx
  app/component-library/components/Avatars/AvatarToken/AvatarToken.tsx
  app/component-library/components/Avatars/AvatarToken/AvatarToken.types.ts
  app/component-library/components/Avatars/AvatarToken/README.md
  app/component-library/components/Avatars/AvatarToken/__snapshots__/AvatarToken.test.tsx.snap
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.stories.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.test.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.types.ts
  app/component-library/components/Pickers/PickerNetwork/README.md
  app/component-library/components/Pickers/PickerNetwork/__snapshots__/PickerNetwork.test.tsx.snap
  app/component-library/components/Toast/Toast.tsx
  app/component-library/components/Toast/Toast.types.ts
Labels: needs-dev-review

#4824 [Fix] Fix password not being set as authentication type for login metrics
  app/core/SecureKeychain.js
Labels: bug, metrics, No QA Needed/Detox Only, Code Impact - Low, team-key-management

#4748 [UPGRADE] Patch bump for SoLoader version on Android
  patches/react-native+0.66.3.patch
Labels: No QA Needed/Detox Only, release-5.7

#4837 Upgrade on-ramp-sdk to 1.1.2
  package.json
  yarn.lock
Labels: on-ramp, Spot Check on the Release Build

#4839 Introduce @testing-library/react-hooks dependency
  package.json
  yarn.lock
Labels: dependencies, No QA Needed/Detox Only, needs-dev-review, release-5.6

#4828 Fix image styling
  app/component-library/components-temp/README.md
  app/component-library/components/Avatars/AvatarAccount/AvatarAccount.tsx
  app/component-library/components/Avatars/AvatarFavicon/AvatarFavicon.constants.ts
  app/component-library/components/Avatars/AvatarFavicon/AvatarFavicon.stories.tsx
  app/component-library/components/Avatars/AvatarFavicon/AvatarFavicon.styles.ts
  app/component-library/components/Avatars/AvatarFavicon/AvatarFavicon.test.tsx
  app/component-library/components/Avatars/AvatarFavicon/AvatarFavicon.tsx
  app/component-library/components/Avatars/AvatarFavicon/__snapshots__/AvatarFavicon.test.tsx.snap
  app/component-library/components/Avatars/AvatarIcon/AvatarIcon.tsx
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.constants.ts
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.stories.tsx
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.styles.ts
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.test.tsx
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.tsx
  app/component-library/components/Avatars/AvatarNetwork/__snapshots__/AvatarNetwork.test.tsx.snap
  app/component-library/components/Avatars/AvatarToken/AvatarToken.constants.ts
  app/component-library/components/Avatars/AvatarToken/AvatarToken.stories.tsx
  app/component-library/components/Avatars/AvatarToken/AvatarToken.styles.ts
  app/component-library/components/Avatars/AvatarToken/AvatarToken.test.tsx
  app/component-library/components/Avatars/AvatarToken/AvatarToken.tsx
  app/component-library/components/Avatars/AvatarToken/__snapshots__/AvatarToken.test.tsx.snap
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.tsx
  app/component-library/components/Pickers/PickerNetwork/__snapshots__/PickerNetwork.test.tsx.snap
Labels: needs-dev-review, release-5.7

#4830 Add user agent from Webview property as default in HTTP interceptor (Android)
  patches/react-native-webview+11.13.0.patch
Labels: android, QA Passed, release-5.7

#4684 Account nickname is always defined
  app/components/UI/AccountOverview/index.js
Labels: QA Passed, Mobile QA board

#4503 [FIX] Jazz icons constantly changing
  app/components/Views/SendFlow/SendTo/index.js
Labels: QA Passed, stability-team, release-5.7

#4016 Fix typo in conversion/index.js
  app/util/conversion/index.js
Labels: No QA Needed/Detox Only, Spot Check on the Release Build, Code Impact - Low, release-5.7

#4798 [ANALYTICS] Improve SRP reveal metrics
  app/components/UI/Navbar/index.js
  app/components/Views/RevealPrivateCredential/index.js
  app/components/Views/Settings/SecuritySettings/index.js
  app/util/analyticsV2.js
Labels: No QA Needed/Detox Only, needs-dev-review, release-5.6

#4878 [FIX] Missing Block Explorer
  app/components/UI/Transactions/index.js
Labels: needs-qa, Mobile QA board

#4305 Hide remember me
  app/actions/security/index.ts
  app/actions/security/state.ts
  app/components/Nav/App/index.js
  app/components/UI/LoginOptionsSwitch/LoginOptionsSwitch.test.tsx
  app/components/UI/LoginOptionsSwitch/LoginOptionsSwitch.tsx
  app/components/UI/LoginOptionsSwitch/__snapshots__/LoginOptionsSwitch.test.tsx.snap
  app/components/UI/LoginOptionsSwitch/index.ts
  app/components/UI/LoginOptionsSwitch/styles.ts
  app/components/UI/SecurityOptionToggle/SecurityOptionToggle.tsx
  app/components/UI/SecurityOptionToggle/index.ts
  app/components/UI/SecurityOptionToggle/styles.ts
  app/components/UI/TurnOffRememberMeModal/TurnOffRememberMeModal.tsx
  app/components/UI/TurnOffRememberMeModal/index.ts
  app/components/UI/TurnOffRememberMeModal/styles.ts
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/Login/index.js
  app/components/Views/ResetPassword/index.js
  app/components/Views/Settings/SecuritySettings/Sections/RememberMeOptionSection.tsx
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/Views/Settings/SecuritySettings/index.test.tsx
  app/constants/navigation/Routes.ts
  app/constants/test-ids.js
  app/reducers/index.js
  app/reducers/security/index.ts
  app/util/authentication/checkIfUsingRememberMe.ts
  app/util/authentication/index.ts
  app/util/password/index.js
  app/util/password/index.ts
  app/util/testSetup.js
  ios/Podfile.lock
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
  package.json
  yarn.lock
Labels: QA Passed, Priority - High, Mobile QA board, team-key-management, release-5.7

#4799 [FIX] Reveal SRP or Private Key wrong password error
  app/components/Views/RevealPrivateCredential/index.js
  package.json
  yarn.lock
Labels: QA Passed, Mobile QA board, release-5.7

#4879 [FEAT] CCIP Wildcard Support
  app/constants/network.js
  app/util/ENSUtils.js
  app/util/ENSUtils.test.ts
  app/util/networks/index.js
  package.json
  yarn.lock
Labels: QA Passed, Mobile QA board

#4530 [IMPROVEMENT] - Apply Test network prefix to token values to help educate users
  app/components/UI/AssetOverview/index.js
  app/components/UI/PaymentRequest/index.js
  app/components/UI/Tokens/index.js
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionReview/TransactionReviewEIP1559/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/TransactionReviewSummary/index.js
  app/components/UI/TransactionReview/index.js
  app/components/UI/UpdateEIP1559Tx/index.tsx
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/TransactionSummary/index.js
  app/util/transactions/index.js
  ios/Podfile.lock
  yarn.lock
Labels: QA Passed, Mobile QA board, release-5.7

#4844 Feature/4761 update network picker on wallet screen
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.styles.ts
  app/component-library/components/Pickers/PickerNetwork/__snapshots__/PickerNetwork.test.tsx.snap
  app/components/UI/Navbar/index.js
  app/components/Views/Wallet/index.tsx
  app/util/networks/customNetworks.tsx
  app/util/networks/index.js
Labels: needs-dev-review

#4407 Add browser cookies support on Android
  app/components/Views/Settings/SecuritySettings/Sections/ClearCookiesSection.tsx
  app/components/Views/Settings/SecuritySettings/index.js
  app/constants/test-ids.js
  app/util/testSetup.js
  ios/Podfile.lock
  package.json
  patches/react-native-webview+11.13.0.patch
  yarn.lock
Labels: QA Passed, Mobile QA board, stability-team, release-5.7

#4892 Increase polling cycles for on-ramp quotes to 6
  app/components/UI/FiatOnRampAggregator/sdk/index.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.7

#4896 Upgrade on-ramp-sdk to 1.2.0
  package.json
  yarn.lock
Labels: on-ramp, Spot Check on the Release Build, release-5.7

#4869 Remove decimals for on-ramp order details exchange rate
  app/components/UI/FiatOnRampAggregator/components/OrderDetails.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.7

#4882 Fix/4876 missing token detection event properties
  app/components/UI/AddCustomToken/index.js
  app/util/analyticsV2.js
Labels: No QA Needed/Detox Only, release-5.7

#4885 Implement warning for deprecated test networks, kovan, ropsten and rinkeby
  app/components/Nav/App/index.js
  app/components/Nav/Main/index.js
  app/components/UI/WarningAlert/WarningAlert.stories.tsx
  app/components/UI/WarningAlert/WarningAlert.styles.ts
  app/components/UI/WarningAlert/WarningAlert.test.tsx
  app/components/UI/WarningAlert/WarningAlert.tsx
  app/components/UI/WarningAlert/WarningAlert.types.ts
  app/components/UI/WarningAlert/__snapshots__/WarningAlert.test.tsx.snap
  app/components/UI/WarningAlert/index.ts
  app/constants/urls.ts
  locales/languages/en.json
  storybook/storyLoader.js
Labels: QA Passed, release-5.7

#4905 Update send flow
  app/components/Views/SendFlow/Amount/index.js
Labels: QA Passed, release-5.7

#4782 Detox version bump from 19.6.5 to 19.7.1
  app/components/UI/LoginOptionsSwitch/LoginOptionsSwitch.tsx
  app/components/UI/SecurityOptionToggle/SecurityOptionToggle.tsx
  app/components/Views/Settings/SecuritySettings/Sections/RememberMeOptionSection.tsx
  app/constants/test-ids.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/pages/LoginView.js
  e2e/specs/browser-tests.spec.js
  e2e/specs/deeplinks.spec.js
  e2e/specs/onboarding-wizard-opt-in.spec.js
  e2e/specs/wallet-tests.spec.js
  package.json
  yarn.lock
Labels: detox
