Repository MetaMask/metamask-mobile, pull requests merged in 2022-11, with the labels that each got.

#5119 [FIX] Crash when reject two times connect wallet on in app browser
  app/components/Nav/Main/RootRPCMethodsUI.js
Labels: QA Passed, Mobile QA board, release-5.10

#5174 Appium: Lock and Reset wallet scenarios
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/UI/DrawerView/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/WarningExistingUserModal/index.js
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/Login/index.js
  wdio.conf.js
  wdio/features/ImportWalletRegression.feature
  wdio/features/LockResetWallet.feature
  wdio/features/helpers/Gestures.js
  wdio/features/screen-objects/DrawerViewScreen.js
  wdio/features/screen-objects/LoginScreen.js
  wdio/features/screen-objects/Modals/DeleteWalletModal.js
  wdio/features/screen-objects/Onboarding/ImportFromSeedScreen.js
  wdio/features/screen-objects/WalletMainScreen.js
  wdio/features/step-definitions/delete-wallet-modal-view.js
  wdio/features/step-definitions/drawer-view.js
  wdio/features/step-definitions/login-view.js
  wdio/features/step-definitions/onboarding.js
  wdio/features/step-definitions/wallet-view.js
  wdio/features/testIDs/Components/DeleteWalletModal.testIds.js
  wdio/features/testIDs/Components/OnboardingWizard.testIds.js
  wdio/features/testIDs/Screens/DrawerView.testIds.js
  wdio/features/testIDs/Screens/ImportFromSeedScreen.testIds.js
  wdio/features/testIDs/Screens/LoginScreen.testIds.js
  wdio/features/testIDs/Screens/WalletView.testIds.js
Labels: needs-dev-review, Appium

#5158 On-Ramp: Provider payment method custom action and custom order ids
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/components/CustomActionButton.tsx
  app/components/UI/FiatOnRampAggregator/containers/CustomActionButton.tsx
  app/components/UI/FiatOnRampAggregator/orderProcessor/customOrderId.test.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/customOrderId.ts
  app/components/UI/FiatOnRampAggregator/sdk/index.tsx
  app/components/UI/FiatOrders/index.js
  app/reducers/fiatOrders/index.js
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/types.ts
  package.json
  yarn.lock
Labels: on-ramp, release-5.10

#5064 Refactor Approve Component
  app/components/UI/EditGasFee1559Update/index.tsx
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/types.ts
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/index.js
  app/components/Views/Approval/index.js
  app/core/GasPolling/GasPolling.ts
  app/core/GasPolling/types.ts
Labels: QA in Progress, Mobile QA board, release-5.10

#5085 [DEPENDENCIES] Bump "humanize-duration", "react-native-screens", and "octonode"
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: Spot Check on the Release Build, release-5.10

#5190 Bump Kotlin version
  android/build.gradle
Labels: No QA Needed/Detox Only, release-5.10

#5180 upgrade socket.io-client 4.5.1->4.5.3
  .iyarc
  package.json
  yarn.lock
Labels: No QA Needed/Detox Only, release-5.10

#5195 Onramp: Add exclude from purchases to onramp aggregator orders
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.ts
Labels: on-ramp, Spot Check on the Release Build, release-5.10

#5202 On-Ramp: allow Harmony ONE
  app/components/UI/FiatOrders/index.js
Labels: needs-dev-review, on-ramp, Spot Check on the Release Build, release-5.10

#5209 On-ramp: Fix multiple redirection handling
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
Labels: QA Passed, on-ramp, release-5.10, release-5.11

#5217 [FIX] Send to the wrong address
  app/components/Views/SendFlow/Amount/index.js
Labels: QA in Progress, Mobile QA board

#5216 Update controllers to v33
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContractOverview/index.test.tsx
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/Collectibles/index.js
  app/components/UI/TransactionEditor/index.test.tsx
  app/components/UI/Transactions/index.test.tsx
  app/components/Views/AddAsset/__snapshots__/index.test.tsx.snap
  app/components/Views/AddAsset/index.js
  app/components/Views/AddAsset/index.test.tsx
  app/components/Views/Collectible/index.js
  app/components/Views/Collectible/index.test.tsx
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Amount/index.test.tsx
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/Views/Wallet/index.tsx
  app/core/Analytics/Analytics.js
  app/core/Engine.js
  app/core/Engine.test.js
  app/core/EngineService.ts
  app/core/NotificationManager.js
  app/reducers/collectibles/index.js
  app/store/migrations.js
  app/util/logs/index.test.ts
  app/util/logs/index.ts
  architecture.svg
  package.json
  yarn.lock
Labels: needs-dev-review

#5215 Handle PhishingController breaking changes
  app/components/Views/BrowserTab/index.js
  app/core/Engine.js
Labels: needs-dev-review

#5214 On-ramp: add payment method custom action analytics
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/containers/CustomActionButton.tsx
  app/components/UI/FiatOnRampAggregator/types/analytics.ts
  app/util/analyticsV2.js
Labels: on-ramp, Spot Check on the Release Build, release-5.11

#5213 On-ramp: add payment method detail and disclaimer
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethod.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodModal.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentOption.tsx
  locales/languages/en.json
Labels: needs-dev-review, on-ramp, Spot Check on the Release Build, release-5.11

#5198 Improve loading experience
  app/components/Views/BrowserTab/index.js
  app/util/browserScripts.js
  patches/react-native-webview+11.13.0.patch
Labels: needs-dev-review, Spot Check on the Release Build, release-5.11

#5223 Add payment method icons support
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentIcon.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethod.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodBadges.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodIcon.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodModal.tsx
  app/components/UI/FiatOnRampAggregator/utils/index.ts
Labels: on-ramp, Spot Check on the Release Build, release-5.11

#5088 Add no payment methods screen
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods.tsx
  locales/languages/en.json
Labels: needs-dev-review, on-ramp, Spot Check on the Release Build, release-5.11

#5233 On-ramp: add order type property and analytics
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
  app/components/UI/FiatOnRampAggregator/Views/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/containers/ApplePayButton.tsx
  app/components/UI/FiatOnRampAggregator/containers/CustomActionButton.tsx
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.ts
  app/components/UI/FiatOnRampAggregator/types/analytics.ts
  app/components/UI/FiatOrders/index.js
  app/reducers/fiatOrders/index.js
Labels: needs-dev-review, on-ramp, Spot Check on the Release Build, release-5.11

#5234 build version bump for RC2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, release-5.11

#5194 Updating Swaps backend controls
  app/components/UI/Swaps/SwapsLiveness.js
  app/components/UI/Swaps/index.js
Labels: No QA Needed/Detox Only, release-5.12

#5268 On-Ramp: Fix typos from payment method icon and contact support
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodIcon.tsx
  locales/languages/en.json
Labels: on-ramp, Spot Check on the Release Build, release-5.12

#5266 On-ramp: Remove disabled button in amount to buy screen
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.12

#5269 On-Ramp: Fix 1.3.1 creating undefined custom order ids
  app/components/UI/FiatOnRampAggregator/containers/ApplePayButton.tsx
  app/components/UI/FiatOnRampAggregator/hooks/useInAppBrowser.ts
Labels: on-ramp, Spot Check on the Release Build, release-5.12

#5265 On-ramp: Add order pending description in details view
  app/components/UI/FiatOnRampAggregator/components/OrderDetails.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.12

#5280 On-ramp: Add usePaymentMethods hook with customAction filter by chainId
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods.tsx
  app/components/UI/FiatOnRampAggregator/hooks/usePaymentMethods.ts
Labels: on-ramp, Spot Check on the Release Build, release-5.12

#4917 Trigger UpdateNeeded screen
  app/actions/security/index.ts
  app/actions/security/state.ts
  app/components/Nav/App/index.js
  app/components/Nav/Main/index.js
  app/components/UI/BackupAlert/__snapshots__/index.test.tsx.snap
  app/components/UI/BackupAlert/index.js
  app/components/UI/BackupAlert/index.test.tsx
  app/components/UI/EnableAutomaticSecurityChecksModal/EnableAutomaticSecurityChecksModal.test.tsx
  app/components/UI/EnableAutomaticSecurityChecksModal/EnableAutomaticSecurityChecksModal.tsx
  app/components/UI/EnableAutomaticSecurityChecksModal/__snapshots__/EnableAutomaticSecurityChecksModal.test.tsx.snap
  app/components/UI/EnableAutomaticSecurityChecksModal/index.ts
  app/components/UI/EnableAutomaticSecurityChecksModal/styles.ts
  app/components/UI/OnboardingWizard/Step5/index.js
  app/components/UI/OnboardingWizard/index.js
  app/components/UI/UpdateNeeded/UpdateNeeded.test.tsx
  app/components/UI/UpdateNeeded/UpdateNeeded.tsx
  app/components/UI/UpdateNeeded/__snapshots__/UpdateNeeded.test.tsx.snap
  app/components/UI/UpdateNeeded/index.ts
  app/components/UI/UpdateNeeded/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/AutomaticSecurityChecks.tsx
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/hooks/EnableAutomaticSecurityChecks/index.ts
  app/components/hooks/EnableAutomaticSecurityChecks/useEnableAutomaticSecurityChecks.tsx
  app/components/hooks/MinimumVersions/index.ts
  app/components/hooks/MinimumVersions/useMinimumVersions.tsx
  app/constants/navigation/Routes.ts
  app/constants/urls.ts
  app/core/ReviewManager.ts
  app/reducers/security/index.ts
  app/util/analyticsV2.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: QA Passed, Code Impact - High, Mobile QA board, release-5.12

#5287 [IMPROVEMENT] Add translations to feature "Easy Delete Data"
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: Spot Check on the Release Build

#5243 Improve browser finish load optimization
  patches/react-native-webview+11.13.0.patch
Labels: needs-qa, Mobile QA board, q4, release-5.12

#5288 [UPDATE] CHANGELOG Release 5.11.0
  CHANGELOG.md
Labels: No QA Needed/Detox Only, needs-dev-review

#5289 Add strings to feature "Screenshot Warning" for translation
  locales/languages/en.json
Labels: No QA Needed/Detox Only

#5244 Change SDK URL
  app/core/RemoteConnection/ECIES.ts
  app/core/RemoteConnection/KeyExchange.ts
  app/core/RemoteConnection/Socket.ts
  app/core/RemoteConnection/WebRTC.ts
  app/core/RemoteConnection/index.ts
  app/core/SDKConnect.ts
Labels: Priority - High, QA Regression Testing, release-5.12

#5273 Enable new networks for Swaps
  app/components/UI/FiatOrders/PaymentMethodSelector/moonpay.js
  app/components/UI/FiatOrders/PaymentMethodSelector/transak.js
  app/components/UI/FiatOrders/index.js
  app/components/UI/FiatOrders/orderProcessor/moonpay.js
  app/components/UI/FiatOrders/orderProcessor/transak.js
  app/components/UI/FiatOrders/orderProcessor/wyreApplePay.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/QuotesModal.js
  app/components/UI/Swaps/utils/index.js
  app/constants/network.js
  app/constants/on-ramp.js
  app/core/Engine.js
  app/util/address/index.js
  app/util/address/index.test.ts
  app/util/networks/customNetworks.tsx
  app/util/networks/index.js
  app/util/number/index.js
  app/util/number/index.test.ts
  app/util/transactions/index.test.ts
  app/util/transactions/optimismTransaction.ts
  package.json
  yarn.lock
Labels: needs-qa, Mobile QA board, release-5.12

#5263 [UPDATE] Updates WebRTC and Socket.io client to the latest versions
  app/util/test/testSetup.js
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: Priority - High, QA Regression Testing, release-5.12

#5103 [FIX] Wallet connect signed typed and eth sign throwing error back to the dapp
  app/components/UI/TypedSign/index.js
  app/core/AppConstants.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  locales/languages/en.json
Labels: QA Passed, Priority - High, Mobile QA board, release-5.12

#5292 On-ramp: fix default payment method selection
  app/components/UI/FiatOnRampAggregator/hooks/usePaymentMethods.ts
Labels: QA Passed, on-ramp, release-5.12

#5294 On-ramp: allow amount formatting on android
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/utils/index.test.ts
  app/components/UI/FiatOnRampAggregator/utils/index.ts
Labels: on-ramp, Spot Check on the Release Build, release-5.12

#5318 Fix Estimated gas fee calculation on the tx detail page
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/TransactionElement/utils.js
Labels: Spot Check on the Release Build, release-5.12

#5238 Improve browser experience
  patches/react-native-webview+11.13.0.patch
Labels: QA Passed, Mobile QA board, transaction safety team, q4, release-5.12

#5169 Fixes miscalculation on toWei func when passing valid numbers in scientific notation
  app/util/number/index.js
  app/util/number/index.test.ts
Labels: Spot Check on the Release Build, release-5.12

#5291 add e2e coverage for automatic security update screen
  app/components/UI/EnableAutomaticSecurityChecksModal/EnableAutomaticSecurityChecksModal.tsx
  e2e/pages/EnableAutomaticSecurityChecksView.js
  e2e/specs/add-custom-rpc.spec.js
  e2e/specs/addressbook-tests.spec.js
  e2e/specs/browser-tests.spec.js
  e2e/specs/contract-nickname.spec.js
  e2e/specs/deeplinks.spec.js
  e2e/specs/delete-wallet.spec.js
  e2e/specs/import-seed-phrase.spec.js
  e2e/specs/onboarding-wizard-opt-in.spec.js
  e2e/specs/request-token-flow.spec.js
  e2e/specs/start-exploring.spec.js
  e2e/specs/wallet-tests.spec.js
  wdio/features/LockResetWallet.feature
  wdio/features/NetworkFlow.feature
  wdio/features/screen-objects/EnableSecurityChecksScreen.js
  wdio/features/step-definitions/enable-automatic-security-checks.js
  wdio/features/testIDs/Screens/EnableAutomaticSecurityChecksScreen.testIds.js
Labels: Appium
