Repository MetaMask/metamask-mobile, pull requests merged in 2022-09, with the labels that each got.

#4938 [HOTFIX] Bitrise builds failing, bump git-clone version to 6
  bitrise.yml
Labels: bug, stability-team

#4939 Update "Usability enhancement" template
  .github/ISSUE_TEMPLATE/usability-enhancement.md
Labels: No QA Needed/Detox Only

#4944 Upgrade On-Ramp SDK to v1.2.1
  package.json
  yarn.lock
Labels: on-ramp, Spot Check on the Release Build, release-5.7

#4942 [TESTING] useDeleteWallet hook
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/hooks/DeleteWallet/index.ts
  app/components/hooks/DeleteWallet/useDeleteWallet.test.tsx
  app/components/hooks/DeleteWallet/useDeleteWallet.ts
Labels: No QA Needed/Detox Only, release-5.8

#4946 Swaps: Add copy for 0% fee in quotes info modal
  app/components/UI/Swaps/QuotesView.js
  locales/languages/en.json
Labels: swaps, Spot Check on the Release Build, release-5.8

#4947 [IMPROVEMENT] WebView Error Copy
  app/components/UI/WebviewError/index.js
  locales/languages/en.json
Labels: Spot Check on the Release Build, release-5.8

#4967 Add url-parse lib to Wallet Connect
  app/core/WalletConnect.js
Labels: needs-dev-review, release-5.6.1

#4941 Replace "@react-native-community/async-storage" for "@react-native-async-storage/async-storage"
  app/__mocks__/@react-native-async-storage/async-storage.js
  app/__mocks__/@react-native-community/async-storage.js
  app/components/Nav/App/index.js
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ExtensionSync/index.tsx
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/ResetPassword/index.js
  app/components/Views/RevealPrivateCredential/index.js
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/Views/WalletConnectSessions/index.js
  app/components/hooks/DeleteWallet/useDeleteWallet.test.tsx
  app/components/hooks/DeleteWallet/useDeleteWallet.ts
  app/core/Engine.js
  app/core/NotificationManager.js
  app/core/SecureKeychain.js
  app/core/WalletConnect.js
  app/store/index.js
  app/util/authentication/checkIfUsingRememberMe.ts
  app/util/onboarding/index.ts
  app/util/testSetup.js
  ios/Podfile.lock
  locales/i18n.js
  package.json
  yarn.lock
Labels: release-5.8

#4958 [FIX] WebView Origin Whitelist
  app/components/Views/BrowserTab/index.js
Labels: No QA Needed/Detox Only

#4978 Store distinctId for consistency
  app/constants/storage.ts
  app/core/Analytics/Analytics.js
Labels: No QA Needed/Detox Only, needs-dev-review

#4755 [UPDATE] - added new template fields to reflect newer requirements for PRs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/general_issue.md
  .github/pull_request_template.md
Labels: release-5.8

#4983 [FIX] Navigation spell on BottomBar comment
  app/components/UI/BrowserBottomBar/index.js
Labels: No QA Needed/Detox Only, release-5.8

#4982 [FIX] Typo in faucet name
  app/util/dapp-url-list.js
Labels: No QA Needed/Detox Only, needs-dev-review, release-5.8

#4980 On-ramp: Add compact payment method selector
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodModal.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentOption.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.8

#4989 [FIX] Prevent import account from auto switching accounts (5.7 Regression)
  .github/workflows/ci.yml
  app/util/address/index.js
  patches/@metamask+controllers+30.3.0.patch
Labels: needs-qa, Mobile QA board, release-5.7

#4649 [IMPROVEMENT] Url redirection
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Views/QRScanner/index.tsx
  app/components/Views/QRScanner/styles.ts
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/constants/deeplinks.js
  app/constants/deeplinks.ts
  app/constants/navigation/Routes.ts
  app/util/address/index.js
  app/util/address/index.test.ts
  app/util/general/index.js
  app/util/general/index.test.ts
  locales/languages/en.json
Labels: QA Passed, Mobile QA board, release-5.8

#4996 On boarding tour appears when protect your new wallet
  app/components/Views/ManualBackupStep3/index.js
Labels: needs-dev-review, release-5.7

#4963 Fix 384 (5.7 Regression)
  app/components/UI/Transactions/index.js
Labels: needs-qa, Mobile QA board, release-5.7

#5007 Hotfix/ios patch webview 5.7.0
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  patches/react-native-webview+11.13.0.patch
Labels: needs-dev-review, release-5.7

#5005 [FIX] Prevent add account from auto switching accounts (5.7.0 Regression)
  patches/@metamask+controllers+30.3.0.patch
Labels: needs-qa, release-5.7

#4430 [5.5] Keystone: fix 2 bugs
  app/components/Views/ConnectQRHardware/index.tsx
  app/components/Views/ResetPassword/index.js
  app/core/Vault.js
Labels: QA Passed, Mobile QA board, team-key-management

#5002 [FEAT] ENS Wildcard and offchain resolution
  .github/workflows/ci.yml
  app/constants/network.js
  app/util/ENSUtils.js
  app/util/ENSUtils.test.ts
  app/util/networks/index.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: Spot Check on the Release Build, release-5.8

#4993 On-Ramp: Add scrolling to payment methods and make logo property optional
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethod.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentOption.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.8

#4972 Unable to Speedup/Cancel legacy transactions
  app/components/UI/Transactions/index.js
Labels: QA Passed, Mobile QA board, transaction safety team

#5018 [FIX] Vault corruption error log
  app/components/Views/Login/index.js
Labels: No QA Needed/Detox Only, Code Impact - Low, release-5.8

#5020 Update Release Notes
  CHANGELOG.md
Labels: No QA Needed/Detox Only, needs-dev-review

#5021 fix: high prio bugs
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountList/AccountElement/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/LedgerModals/LedgerConfirmationModal.tsx
  app/components/UI/LedgerModals/Steps/SearchingForDeviceStep.tsx
  app/components/UI/TransactionElement/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/LedgerConnect/hooks/useBluetooth.ts
  app/components/Views/LedgerConnect/hooks/useBluetoothDevices.ts
  app/components/Views/LedgerConnect/hooks/useBluetoothPermissions.ts
  app/components/Views/LedgerConnect/index.tsx
  app/components/hooks/useLedgerBluetooth.tsx
  locales/languages/en.json
  package.json
  yarn.lock
Labels: team-key-management

#4404 [FIX] Fixed ERC20 token transfer from Dapps
  app/components/UI/TransactionEditor/index.js
  app/util/dappTransactions/index.test.ts
  app/util/dappTransactions/index.ts
  locales/languages/en.json
Labels: QA Passed, Mobile QA board, stability-team, release-5.9

#5025 [ENHANCEMENT] Update all "Ooops" error messages copy
  locales/languages/en.json
Labels: Spot Check on the Release Build, release-5.9

#5031 Deprecate snake case from feature flags
  app/components/UI/Swaps/SwapsLiveness.js
  app/components/UI/Swaps/index.js
Labels: Spot Check on the Release Build, release-5.9

#5030 [UPDATE] PR template with mobile coding standards link
  .github/pull_request_template.md
Labels: release-5.9

#4999 Component: Account and balance component
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.constants.ts
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.stories.tsx
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.styles.ts
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.test.tsx
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.tsx
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.types.ts
  app/component-library/components-temp/Accounts/AccountBalance/index.ts
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.constants.ts
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.styles.ts
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.test.tsx
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.tsx
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.types.ts
  app/component-library/components-temp/Accounts/AccountBase/index.ts
  index.js
  storybook/storyLoader.js
Labels: release-5.9

#5042 Component/4723-estimatedtext
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.tsx
  app/component-library/components/Avatars/AvatarGroup/AvatarGroup.tsx
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.tsx
  app/component-library/components/Avatars/AvatarToken/AvatarToken.tsx
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.stories.tsx
  app/component-library/components/Buttons/ButtonBase/ButtonBase.tsx
  app/component-library/components/Buttons/ButtonLink/ButtonLink.stories.tsx
  app/component-library/components/Buttons/ButtonLink/ButtonLink.tsx
  app/component-library/components/Buttons/ButtonLink/ButtonLink.types.ts
  app/component-library/components/Buttons/ButtonLink/README.md
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.tsx
  app/component-library/components/Cells/Cell/foundation/CellDisplayContainer/CellDisplayContainer.stories.tsx
  app/component-library/components/Icon/Icon.assets.ts
  app/component-library/components/Icon/Icon.types.ts
  app/component-library/components/Icon/assets/tilde-outline.svg
  app/component-library/components/Modals/ModalConfirmation/ModalConfirmation.tsx
  app/component-library/components/Navigation/TabBarItem/TabBarItem.tsx
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  app/component-library/components/Pickers/PickerBase/PickerBase.stories.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.tsx
  app/component-library/components/Select/Multiselect/MultiselectItem/MultiselectItem.stories.tsx
  app/component-library/components/Select/Select/SelectItem/SelectItem.stories.tsx
  app/component-library/components/Sheet/SheetBottom/SheetBottom.stories.tsx
  app/component-library/components/Sheet/SheetHeader/SheetHeader.tsx
  app/component-library/components/Tags/Tag/Tag.tsx
  app/component-library/components/Tags/TagUrl/TagUrl.tsx
  app/component-library/components/Texts/Text/README.md
  app/component-library/components/Texts/Text/Text.stories.tsx
  app/component-library/components/Texts/Text/Text.styles.ts
  app/component-library/components/Texts/Text/Text.test.tsx
  app/component-library/components/Texts/Text/Text.tsx
  app/component-library/components/Texts/Text/Text.types.ts
  app/component-library/components/Texts/Text/__snapshots__/Text.test.tsx.snap
  app/component-library/components/Texts/Text/index.ts
  app/component-library/components/Texts/TextWithPrefixIcon/README.md
  app/component-library/components/Texts/TextWithPrefixIcon/TextWithPrefixIcon.constants.ts
  app/component-library/components/Texts/TextWithPrefixIcon/TextWithPrefixIcon.stories.tsx
  app/component-library/components/Texts/TextWithPrefixIcon/TextWithPrefixIcon.styles.ts
  app/component-library/components/Texts/TextWithPrefixIcon/TextWithPrefixIcon.test.tsx
  app/component-library/components/Texts/TextWithPrefixIcon/TextWithPrefixIcon.tsx
  app/component-library/components/Texts/TextWithPrefixIcon/TextWithPrefixIcon.types.ts
  app/component-library/components/Texts/TextWithPrefixIcon/__snapshots__/TextWithPrefixIcon.test.tsx.snap
  app/component-library/components/Texts/TextWithPrefixIcon/index.ts
  app/component-library/components/Toast/Toast.tsx
  app/components/UI/TextEstimated/README.md
  app/components/UI/TextEstimated/TextEstimated.constants.ts
  app/components/UI/TextEstimated/TextEstimated.stories.tsx
  app/components/UI/TextEstimated/TextEstimated.test.tsx
  app/components/UI/TextEstimated/TextEstimated.tsx
  app/components/UI/TextEstimated/TextEstimated.types.ts
  app/components/UI/TextEstimated/__snapshots__/TextEstimated.test.tsx.snap
  app/components/UI/TextEstimated/index.ts
  app/components/UI/TurnOffRememberMeModal/TurnOffRememberMeModal.tsx
  app/components/hooks/useStyles.ts
  storybook/storyLoader.js
Labels: needs-dev-review

#5010 Add InApp Browser package
  android/app/proguard-rules.pro
  android/build.gradle
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: on-ramp, Spot Check on the Release Build, release-5.9

#5046 [PS] Add new logos
  app/components/UI/NetworkList/index.js
  app/components/UI/Swaps/components/TokenIcon.js
  app/components/UI/Swaps/components/__snapshots__/TokenIcon.test.js.snap
  app/components/Views/Wallet/index.tsx
  app/core/gasPolling.test.ts
  app/images/eth-logo-new.png
  app/images/goerli-logo-dark.png
  app/images/image-icons.js
  app/images/kovan-logo-dark.png
  app/images/rinkeby-logo-dark.png
  app/images/ropsten-logo-dark.png
  app/util/networks/index.js
  app/util/transactions/index.js
Labels: needs-dev-review

#5049 [PS] Organize account utils
  app/components/Nav/Main/index.js
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.types.ts
  app/components/UI/AccountSelectorList/hooks/index.ts
  app/components/UI/AccountSelectorList/hooks/useAccounts/index.ts
  app/components/UI/AccountSelectorList/hooks/useAccounts/useAccounts.types.ts
  app/components/UI/AccountSelectorList/hooks/useAccounts/useAccountsTest.tsx
  app/components/UI/AccountSelectorList/index.ts
  app/components/Views/AccountSelector/AccountSelector.styles.ts
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/AccountSelector/AccountSelector.types.ts
  app/components/Views/Wallet/index.tsx
  app/components/hooks/useAccounts/index.ts
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useAccounts/useAccounts.types.ts
  app/util/ENSUtils.js
  app/util/accounts/index.ts
  app/util/address/index.js
  app/util/networks/index.js
Labels: needs-dev-review

#5053 [PS] Create permissions sheet
  app/components/Nav/App/index.js
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissions.types.ts
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.styles.ts
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.types.ts
  app/components/Views/AccountPermissions/AccountPermissionsConnected/index.ts
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.styles.ts
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.types.ts
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/index.ts
  app/components/Views/AccountPermissions/index.ts
  app/constants/navigation/Routes.ts
Labels: needs-dev-review

#5039 Update/4692 update shadow tokens
  app/components/UI/FiatOnRampAggregator/components/Keypad.tsx
  app/components/UI/FiatOrders/components/PaymentMethod/Modal.js
  app/components/UI/SliderButton/__snapshots__/index.test.tsx.snap
  app/components/UI/SliderButton/index.js
  app/components/UI/SlippageSlider/__snapshots__/index.test.tsx.snap
  app/components/UI/SlippageSlider/index.js
  app/components/UI/Swaps/components/InfoModal.js
  app/components/UI/Swaps/components/LoadingAnimation/index.js
  app/components/UI/Swaps/components/QuotesModal.js
  app/components/UI/Tabs/__snapshots__/index.test.tsx.snap
  app/components/UI/Tabs/index.js
  app/components/Views/BrowserTab/index.js
  app/util/theme/index.ts
  app/util/theme/models.ts
  package.json
  yarn.lock
Labels: needs-dev-review

#5034 Merge of PR#4934 and PR#4861
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/core/AppConstants.js
  app/core/WalletConnect.js
  app/util/date/index.js
  app/util/date/index.test.ts
  locales/languages/en.json
Labels: QA Passed

#5040 Component/4721-card
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.tsx
  app/component-library/components/Cards/Card/Card.stories.tsx
  app/component-library/components/Cards/Card/Card.styles.ts
  app/component-library/components/Cards/Card/Card.test.tsx
  app/component-library/components/Cards/Card/Card.tsx
  app/component-library/components/Cards/Card/Card.types.ts
  app/component-library/components/Cards/Card/README.md
  app/component-library/components/Cards/Card/__snapshots__/Card.test.tsx.snap
  app/component-library/components/Cards/Card/index.ts
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.styles.ts
  app/component-library/components/Cells/Cell/foundation/CellDisplayContainer/CellDisplayContainer.types.ts
  app/component-library/components/Cells/Cell/foundation/CellDisplayContainer/index.ts
  app/component-library/components/Cells/Cell/variants/CellDisplay/CellDisplay.tsx
  app/component-library/components/Cells/Cell/variants/CellDisplay/__snapshots__/CellDisplay.test.tsx.snap
  storybook/storyLoader.js
Labels: needs-dev-review

#5044 Fix TypeError: undefined is not an object (evaluating ‘transaction.status’)
  app/components/Views/Approval/index.js
  e2e/specs/contract-nickname.broken.js
  e2e/specs/wallet-tests.spec.js
Labels: QA Passed, release-5.9

#5075 Add translations
  locales/languages/en.json
Labels: No QA Needed/Detox Only, release-5.9, translation

#5077 Feature/5074 translations for permission system
  locales/languages/en.json
Labels: No QA Needed/Detox Only, release-5.9, translation

#5070 App config Test endpoint
  AppConfig/test/MockAppConfig.json
  README.md
Labels: needs-dev-review

#5079 [FIX] Network switch during QR scan in Send Flow
  app/components/Views/SendFlow/SendTo/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/SendFlow/SendTo/styles.ts
  app/constants/error.ts
  app/core/DeeplinkManager.js
  app/util/networks/handleNetworkSwitch.ts
  app/util/networks/index.js
  app/util/networks/index.test.ts
Labels: QA Passed
