Repository MetaMask/metamask-mobile, pull requests merged in 2022-10, with the labels that each got.

#5073 Feature/5068 code clean up cal
  app/component-library/components/Avatars/AvatarNetwork/AvatarNetwork.tsx
  app/component-library/components/Cards/Card/__snapshots__/Card.test.tsx.snap
  app/component-library/components/Icon/assets/explore-filled.svg
  app/component-library/components/Navigation/TabBar/TabBar.styles.ts
  app/component-library/components/Tags/TagUrl/TagUrl.styles.ts
  app/component-library/components/Tags/TagUrl/TagUrl.tsx
  app/component-library/components/Tags/TagUrl/__snapshots__/TagUrl.test.tsx.snap
  app/component-library/components/Toast/README.md
  app/component-library/components/Toast/Toast.constants.ts
  app/component-library/components/Toast/Toast.stories.tsx
  app/component-library/components/Toast/Toast.tsx
  app/component-library/components/Toast/Toast.types.ts
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/index.js
  app/components/UI/AccountRightButton/index.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/AssetOverview/index.js
  app/components/UI/BrowserBottomBar/__snapshots__/index.test.tsx.snap
  app/components/UI/BrowserUrlBar/BrowserUrlBar.styles.ts
  app/components/UI/BrowserUrlBar/BrowserUrlBar.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/NetworkList/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkList/index.js
  app/components/UI/NetworkList/index.test.tsx
  app/components/UI/Tabs/__snapshots__/index.test.tsx.snap
  app/components/UI/Tabs/index.js
  app/components/UI/Tokens/index.js
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnect.types.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectSingle/AccountConnectSingle.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.types.ts
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.types.ts
  app/components/Views/AccountSelector/AccountSelector.types.ts
  app/components/Views/ActivityView/index.js
  app/components/Views/Asset/index.js
  app/components/Views/AssetDetails/index.tsx
  app/components/Views/Browser/index.js
  app/components/Views/BrowserTab/__snapshots__/index.test.tsx.snap
  app/components/Views/BrowserTab/index.js
  app/components/Views/BrowserTab/index.test.tsx
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/hooks/useAccounts/useAccounts.ts
  app/core/Engine.js
  app/core/Permissions/index.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
Labels: needs-dev-review

#5076 Move scripts to matrix
  .github/workflows/ci.yml
Labels: release-5.9

#4453 Add React Testing Library setup and SendFlow tests
  app/__mocks__/react-redux.js
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Amount/index.test.tsx
  app/util/test/configureStore.ts
  app/util/test/renderWithProvider.tsx
  app/util/test/testSetup.js
  jest.config.js
  package.json
  yarn.lock
Labels: needs-dev-review, stability-team

#5035 On-Ramp: Fix autolock dispatch for apple pay
  app/components/UI/FiatOnRampAggregator/containers/ApplePayButton.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.9

#5067 Component: Contract Box component
  app/component-library/components-temp/Contracts/ContractBox/ContractBox.constants.ts
  app/component-library/components-temp/Contracts/ContractBox/ContractBox.stories.tsx
  app/component-library/components-temp/Contracts/ContractBox/ContractBox.styles.ts
  app/component-library/components-temp/Contracts/ContractBox/ContractBox.test.tsx
  app/component-library/components-temp/Contracts/ContractBox/ContractBox.tsx
  app/component-library/components-temp/Contracts/ContractBox/ContractBox.types.ts
  app/component-library/components-temp/Contracts/ContractBox/index.ts
  app/component-library/components-temp/Contracts/ContractBoxBase/ContractBoxBase.constants.ts
  app/component-library/components-temp/Contracts/ContractBoxBase/ContractBoxBase.styles.ts
  app/component-library/components-temp/Contracts/ContractBoxBase/ContractBoxBase.test.tsx
  app/component-library/components-temp/Contracts/ContractBoxBase/ContractBoxBase.tsx
  app/component-library/components-temp/Contracts/ContractBoxBase/ContractBoxBase.types.ts
  app/component-library/components-temp/Contracts/ContractBoxBase/__snapshots__/ContractBoxBase.test.tsx.snap
  app/component-library/components-temp/Contracts/ContractBoxBase/index.ts
  storybook/storyLoader.js
Labels: needs-dev-review

#5096 Update audit list
  .iyarc
Labels: No QA Needed/Detox Only

#4888 Extend popular network list
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/styles.ts
Labels: QA Passed, Mobile QA board, transaction safety team, release-5.10

#5041 Component/4722-accordion
  app/component-library/components/Accordions/Accordion/Accordion.constants.ts
  app/component-library/components/Accordions/Accordion/Accordion.stories.tsx
  app/component-library/components/Accordions/Accordion/Accordion.styles.ts
  app/component-library/components/Accordions/Accordion/Accordion.test.tsx
  app/component-library/components/Accordions/Accordion/Accordion.tsx
  app/component-library/components/Accordions/Accordion/Accordion.types.ts
  app/component-library/components/Accordions/Accordion/README.md
  app/component-library/components/Accordions/Accordion/__snapshots__/Accordion.test.tsx.snap
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.constants.ts
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.stories.tsx
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.styles.ts
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.test.tsx
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.tsx
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.types.ts
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/README.md
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/index.ts
  app/component-library/components/Accordions/Accordion/index.ts
  app/util/test/testSetup.js
  storybook/storyLoader.js
Labels: needs-dev-review

#5104 Fix account switch after importing via private key and creation of ne…
  .iyarc
  app/components/UI/AccountList/index.js
  app/components/Views/ImportPrivateKeySuccess/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportPrivateKeySuccess/index.js
  app/components/Views/ImportPrivateKeySuccess/index.test.tsx
  app/util/address/index.js
  patches/@metamask+controllers+30.3.0.patch
Labels: type-bug, QA Passed, release-5.9

#4922 [FEAT] Segment Integration
  app/components/Views/Settings/SecuritySettings/Sections/DeleteMetaMetricsData.tsx
  app/components/hooks/MetaMetrics/useMetaMetrics.test.tsx
  app/components/hooks/MetaMetrics/useMetaMetrics.tsx
  app/constants/storage.ts
  app/core/Analytics/Analytics.js
  app/core/Analytics/MetaMetrics.constants.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Analytics/MetaMetrics.ts
  app/core/Analytics/MetaMetrics.types.ts
  app/core/Analytics/constants.ts
  app/core/Analytics/index.ts
  app/util/test/testSetup.js
  ios/Podfile.lock
  package.json
  patches/@segment+analytics-react-native+2.7.0.patch
  yarn.lock
Labels: No QA Needed/Detox Only

#4835 Refactor SendTransaction Component
  app/components/UI/EditGasFee1559Update/index.tsx
  app/components/UI/EditGasFee1559Update/types.ts
  app/components/UI/EditGasFeeLegacy/__snapshots__/index.test.tsx.snap
  app/components/UI/EditGasFeeLegacy/index.js
  app/components/UI/EditGasFeeLegacy/index.test.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/skeletonComponent.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/styles.ts
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/types.ts
  app/components/UI/UpdateEIP1559Tx/index.tsx
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/Confirm/styles.ts
  app/core/AppConstants.js
  app/core/GasPolling/GasPolling.ts
  app/core/GasPolling/types.ts
Labels: QA Passed, Mobile QA board

#4235 [FIX] Delete contact on android fixed
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/Contacts/ContactForm/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/Contacts/ContactForm/index.test.tsx
  app/components/Views/Settings/Contacts/index.js
  app/constants/error.ts
  app/constants/test-ids.js
  app/util/address/index.js
  locales/languages/en.json
Labels: type-bug, QA in Progress, Mobile QA board, stability-team

#5142 Fix high severity audit issues
  .iyarc
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: QA Passed, release-5.10

#5149 Force upgrade strings
  locales/languages/en.json
Labels: needs-dev-review, release-5.11

#4868 Refactor ApprovalTransaction Component
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/ApproveTransactionReview/styles.ts
  app/components/UI/EditGasFee1559Update/index.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/types.ts
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/core/GasPolling/types.ts
Labels: QA in Progress, Mobile QA board, release-5.10

#5159 [HOTFIX] ENS name being resolved correctly
  app/components/Views/SendFlow/SendTo/index.js
Labels: QA Passed, Mobile QA board

#4987 [IMPROVEMENT] Add componentization template
  .github/ISSUE_TEMPLATE/componentization.md
Labels: release-5.10

#5167 Fixed Button Base Size issue
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.tsx
Labels: type-bug, needs-dev-review

#5173 [FIX] android build cMake
  .iyarc
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: release-5.10
