Repository MetaMask/metamask-mobile, pull requests merged in 2022-12, with the labels that each got.

#5307 [IMPROVEMENT] Remove RPC URL metrics
  app/components/UI/NetworkList/index.js
  app/components/UI/NetworkModal/index.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
Labels: Spot Check on the Release Build, release-5.12.1

#5331 Update @metamask/swaps-controller
  package.json
  yarn.lock
Labels: QA Passed

#5333 [Force upgrade] only fetch minimum versions if permissions enabled
  app/components/hooks/AppConfig/useAppConfig.test.tsx
  app/components/hooks/AppConfig/useAppConfig.tsx
  app/components/hooks/MinimumVersions/useMinimumVersions.tsx
Labels: Sev1-high, release-5.12

#5337 Bug Fix 507
  app/components/Views/SendFlow/Confirm/index.js
  app/core/GasPolling/GasPolling.ts
Labels: QA Passed, release-5.12

#5335 On-ramp: Add useRegions hook and fix availablePaymentMethods
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods.tsx
  app/components/UI/FiatOnRampAggregator/Views/Region.tsx
  app/components/UI/FiatOnRampAggregator/hooks/usePaymentMethods.ts
  app/components/UI/FiatOnRampAggregator/hooks/useRegions.ts
  app/components/UI/FiatOnRampAggregator/sdk/index.tsx
Labels: needs-qa, on-ramp, release-5.12

#5345 [IMPROVEMENT] Remove Metrics Properties
  app/components/UI/AccountApproval/index.js
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/AddCustomToken/index.js
  app/components/UI/ApproveTransactionReview/AddNickname/index.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/MessageSign/index.js
  app/components/UI/NetworkList/index.js
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/PersonalSign/index.js
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TypedSign/index.js
  app/components/UI/WatchAssetRequest/index.js
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/DetectedTokens/index.tsx
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/util/dappTransactions/index.ts
Labels: Spot Check on the Release Build, release-5.12.1

#5355 Sanitize privacy settings before sending to Sentry
  app/util/analyticsV2.js
  app/util/extractEthJsErrorMessage.ts
  app/util/sentryUtils.js
Labels: needs-qa, Mobile QA board, release-5.12.1

#5360 Fix onboarding wizard automatic update modal
  app/actions/security/index.ts
  app/actions/security/state.ts
  app/components/UI/EnableAutomaticSecurityChecksModal/EnableAutomaticSecurityChecksModal.tsx
  app/components/UI/OnboardingWizard/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/index.js
  app/components/UI/OnboardingWizard/index.test.tsx
  app/reducers/security/index.ts
Labels: QA Passed, Mobile QA board, release-5.12.1

#5365 Verification missing on SentryUtils
  app/util/sentryUtils.js
Labels: Spot Check on the Release Build, release-5.12.1

#5362 Update copy for Opt in metrics screen and enable custom mainnet RPC
  app/components/Nav/App/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/CollectibleContracts/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/NetworkInfo/index.tsx
  app/components/UI/NetworkList/index.js
  app/components/UI/OptinMetrics/index.js
  app/components/Views/AddAsset/__snapshots__/index.test.tsx.snap
  app/components/Views/AddAsset/index.js
  app/components/Views/AddAsset/index.test.tsx
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/Contacts/ContactForm/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/constants/network.js
  app/core/AppConstants.js
  app/util/address/index.js
  e2e/pages/Onboarding/MetaMetricsOptInView.js
  e2e/specs/addressbook-tests.spec.js
  locales/languages/en.json
  wdio/features/screen-objects/Onboarding/MetaMetricsScreen.js
  wdio/features/testIDs/Screens/OptinMetricsScreen.testIds.js
Labels: QA Passed, Mobile QA board, release-5.12.1

#5366 On-ramp Refactor wyre authentication url approach
  app/components/UI/FiatOnRampAggregator/containers/ApplePayButton.tsx
  app/components/UI/FiatOnRampAggregator/hooks/applePay.ts
  app/components/UI/FiatOrders/index.js
  app/reducers/fiatOrders/index.js
Labels: QA Passed, needs-dev-review, on-ramp, release-5.12.1

#5200 Update Controllers to version 33.0.0
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContractOverview/index.test.tsx
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/Collectibles/index.js
  app/components/UI/TransactionEditor/index.test.tsx
  app/components/UI/Transactions/index.test.tsx
  app/components/Views/AddAsset/__snapshots__/index.test.tsx.snap
  app/components/Views/AddAsset/index.js
  app/components/Views/AddAsset/index.test.tsx
  app/components/Views/BrowserTab/index.js
  app/components/Views/Collectible/index.js
  app/components/Views/Collectible/index.test.tsx
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Amount/index.test.tsx
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/Views/Wallet/index.tsx
  app/core/Analytics/Analytics.js
  app/core/AppConstants.js
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.js
  app/core/Engine.test.js
  app/core/EngineService.ts
  app/core/NotificationManager.js
  app/reducers/collectibles/index.js
  app/store/migrations.js
  app/util/logs/index.test.ts
  app/util/logs/index.ts
  architecture.svg
  package.json
  patches/@metamask+controllers+33.0.0.patch
  yarn.lock
Labels: QA in Progress, Mobile QA board, release-5.13

#5261 Hide tab bar on Android
  app/components/Nav/Main/MainNavigator.js
Labels: needs-dev-review, q4, team-mobile-client

#5299 [REFACTOR] Screen ImportFromSeed
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/ImportFromSeed/styles.ts
  app/constants/navigation/Routes.ts
Labels: QA Passed, Mobile QA board, team-key-management, release-5.13

#4546 [Browser] Support downloading Apple Wallet passes on iOS
  app/util/browser/downloadFile.ts
Labels: QA Passed, stability-team, release-5.13

#5400 Fix jest expect type
  tsconfig.json
Labels: No QA Needed/Detox Only

#5115 [FIX] Reject grant permission cancel transaction
  app/components/Views/ApproveView/Approve/index.js
  locales/languages/en.json
Labels: QA Passed, Mobile QA board

#5401 update Permission System translations
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: permission-system

#5191 Support for ens on deeplink transactions
  android/app/build.gradle
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/AddressInputs/index.js
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  locales/languages/en.json
Labels: QA Passed, Mobile QA board, release-5.13

#5373 E2e appium address book-Send flow tests
  app/components/UI/Navbar/index.js
  app/components/UI/NavbarTitle/index.js
  app/components/Views/SendFlow/AddressInputs/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/ErrorMessage/index.js
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/Contacts/ContactForm/index.js
  wdio/features/AddressFlow.feature
  wdio/features/helpers/Gestures.js
  wdio/features/screen-objects/AddressBook.js
  wdio/features/screen-objects/Contacts.js
  wdio/features/screen-objects/LoginScreen.js
  wdio/features/screen-objects/NetworksScreen.js
  wdio/features/screen-objects/SendScreen.js
  wdio/features/screen-objects/WalletMainScreen.js
  wdio/features/step-definitions/delete-wallet-modal-view.js
  wdio/features/step-definitions/network-flow.js
  wdio/features/step-definitions/send-flow.steps.js
  wdio/features/step-definitions/wallet-view.js
  wdio/features/testIDs/Screens/AddressBook.testids.js
  wdio/features/testIDs/Screens/Contacts.testids.js
  wdio/features/testIDs/Screens/SendScreen.testIds.js
  wdio/features/testIDs/Screens/WalletScreen-testIds.js
  wdio/features/testIDs/Screens/WalletView.testIds.js
Labels: Appium

#5405 [PS] Allow Permission Request Rejection
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnect.types.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.types.ts
  app/components/Views/AccountConnect/AccountConnectSingle/AccountConnectSingle.tsx
  app/components/Views/AccountConnect/AccountConnectSingle/AccountConnectSingle.types.ts
  app/components/Views/AccountConnect/AccountConnectSingleSelector/AccountConnectSingleSelector.tsx
  app/components/Views/AccountConnect/AccountConnectSingleSelector/AccountConnectSingleSelector.types.ts
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/constants/permissions.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
Labels: permission-system

#5379 On-ramp: Upgrade to on-ramp-sdk@1.4.1
  app/components/UI/FiatOnRampAggregator/components/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/hooks/usePaymentMethods.ts
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, on-ramp, release-5.13

#5386 On-ramp: Add `useParams` hook to the flow views
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetQuotes.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted.tsx
  app/components/UI/FiatOnRampAggregator/Views/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods.tsx
  app/components/UI/FiatOnRampAggregator/Views/Region.tsx
  app/components/UI/FiatOnRampAggregator/containers/CustomActionButton.tsx
  app/components/Views/FiatOrdersView/index.js
Labels: needs-dev-review, on-ramp, Spot Check on the Release Build, release-5.13

#5371 On-ramp: Refactor quotes to shorter version
  app/components/UI/FiatOnRampAggregator/Views/GetQuotes.tsx
  app/components/UI/FiatOnRampAggregator/components/Quote.tsx
Labels: needs-dev-review, on-ramp, Spot Check on the Release Build, release-5.13

#5421 [Improve] Automatic security checks metrics
  app/components/UI/EnableAutomaticSecurityChecksModal/EnableAutomaticSecurityChecksModal.tsx
  app/components/UI/UpdateNeeded/UpdateNeeded.tsx
  app/util/analyticsV2.js
  app/util/metrics/DeviceAnalyticsMetaData/DeviceAnalyticsMetaData.types.ts
  app/util/metrics/DeviceAnalyticsMetaData/generateDeviceAnalyticsMetaData.ts
  app/util/metrics/index.ts
Labels: needs-dev-review, Code Impact - Low, team-key-management, release-5.13

#5385 On-ramp: Refactor Get Started view
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.constants.ts
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.styles.ts
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/index.ts
  app/components/Views/SendFlow/Amount/index.test.tsx
  app/util/test/renderWithProvider.tsx
  app/util/theme/index.ts
Labels: on-ramp, Spot Check on the Release Build, release-5.13

#5351 On-ramp: remove old on-ramp experience
  app/components/Base/ScreenView.tsx
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetQuotes.tsx
  app/components/UI/FiatOnRampAggregator/Views/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/components/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/containers/ApplePayButton.tsx
  app/components/UI/FiatOnRampAggregator/hooks/useInAppBrowser.ts
  app/components/UI/FiatOnRampAggregator/index.tsx
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/customOrderId.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/index.ts
  app/components/UI/FiatOrders/MoonPayWebView/index.js
  app/components/UI/FiatOrders/PaymentMethodApplePay/index.js
  app/components/UI/FiatOrders/PaymentMethodSelector/index.js
  app/components/UI/FiatOrders/PaymentMethodSelector/moonpay.js
  app/components/UI/FiatOrders/PaymentMethodSelector/transak.js
  app/components/UI/FiatOrders/PaymentMethodSelector/wyreApplePay.js
  app/components/UI/FiatOrders/TransakWebView/index.js
  app/components/UI/FiatOrders/components/AccountSelector.js
  app/components/UI/FiatOrders/components/CountrySelector.js
  app/components/UI/FiatOrders/components/CountrySelectorModal.js
  app/components/UI/FiatOrders/components/Heading.js
  app/components/UI/FiatOrders/components/InfoIcon.js
  app/components/UI/FiatOrders/components/PaymentMethod/Modal.js
  app/components/UI/FiatOrders/components/PaymentMethod/index.js
  app/components/UI/FiatOrders/components/SubHeader.js
  app/components/UI/FiatOrders/components/Title.js
  app/components/UI/FiatOrders/orderProcessor/index.js
  app/components/UI/FiatOrders/orderProcessor/moonpay.js
  app/components/UI/FiatOrders/orderProcessor/transak.js
  app/components/UI/FiatOrders/orderProcessor/wyreApplePay.js
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/index.js
Labels: QA Passed, needs-dev-review, on-ramp, release-5.13

#5376 Include L1 fee in the Send flow and on the tx detail page for Optimism
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/QuotesModal.js
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/utils.js
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/types.ts
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/core/Engine.js
  app/core/GasPolling/GasPolling.ts
  app/core/GasPolling/types.ts
  app/util/networks/index.js
  app/util/number/index.js
  app/util/number/index.test.ts
  app/util/transactions/index.js
  package.json
  yarn.lock
Labels: QA Passed, Mobile QA board, release-5.13

#5423 [Patch improvement]decouple Force upgrade analytics calls
  app/components/UI/EnableAutomaticSecurityChecksModal/EnableAutomaticSecurityChecksModal.tsx
Labels: No QA Needed/Detox Only, Code Impact - Low, team-key-management, release-5.13

#5402 [PS] move backup wallet reminder popup
  app/components/UI/BackupAlert/index.js
Labels: permission-system

#5422 Add custom network and Import custom token
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/AddCustomToken/index.js
  app/components/UI/AssetList/index.js
  app/components/UI/AssetSearch/index.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/NetworkInfo/index.tsx
  app/components/UI/NetworkList/index.js
  app/constants/test-ids.js
  e2e/pages/AddCustomTokenView.js
  e2e/pages/ImportTokensView.js
  e2e/pages/modals/NetworkEducationModal.js
  e2e/pages/modals/NetworkListModal.js
  wdio/features/ImportCustomToken.feature
  wdio/features/NetworkFlow.feature
  wdio/features/screen-objects/AddCustomImportTokensScreen.js
  wdio/features/screen-objects/Modals/NetworkEducationModal.js
  wdio/features/screen-objects/Modals/NetworkListModal.js
  wdio/features/screen-objects/Modals/NetworkRemovalModal.js
  wdio/features/screen-objects/Modals/NetworkSwitchModal.js
  wdio/features/screen-objects/WalletMainScreen.js
  wdio/features/step-definitions/import-tokens.steps.js
  wdio/features/step-definitions/network-flow.js
  wdio/features/step-definitions/wallet-view.js
  wdio/features/testIDs/Components/NetworkEducationModalTestIds.js
  wdio/features/testIDs/Components/NetworkListModal.TestIds.js
  wdio/features/testIDs/Screens/AddCustomToken.testIds.js
  wdio/features/testIDs/Screens/AssetSearch.testIds.js
  wdio/features/testIDs/Screens/NFTImportScreen.testIds.js
Labels: Appium

#4670 [FEAT] Screenshot Warning
  .iyarc
  app/components/UI/ScreenshotDeterrent/ScreenshotDeterrent.tsx
  app/components/UI/ScreenshotDeterrent/index.ts
  app/components/Views/ImportFromSeed/index.js
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/ManualBackupStep1/styles.ts
  app/components/Views/ManualBackupStep2/index.js
  app/components/Views/RevealPrivateCredential/index.js
  app/components/Views/RevealPrivateCredential/styles.ts
  app/components/hooks/useScreenshotWarning.ts
  app/constants/urls.ts
  app/util/analyticsV2.js
  app/util/test/testSetup.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/RCTScreenshotDetect.h
  ios/RCTScreenshotDetect.m
  locales/languages/en.json
Labels: QA in Progress, Mobile QA board, team-key-management, release-5.13

#5426 Revert unwanted changes to .iyarc and project.pbxproj
  .iyarc
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed/Detox Only, release-5.13

#5429 Refactor Base/Text component to TypeScript
  app/components/Base/Text.js
  app/components/Base/Text/Text.stories.tsx
  app/components/Base/Text/Text.styles.ts
  app/components/Base/Text/Text.tsx
  app/components/Base/Text/index.tsx
  app/components/Base/Title.js
  app/components/Base/Title/Title.styles.tsx
  app/components/Base/Title/Title.tsx
  app/components/Base/Title/index.ts
  app/components/UI/AddCustomNetwork/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetActionButton/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleMedia/__snapshots__/index.test.tsx.snap
  app/components/UI/CustomNonce/__snapshots__/index.test.tsx.snap
  app/components/UI/CustomNonceModal/__snapshots__/index.test.tsx.snap
  app/components/UI/EditGasFee1559/__snapshots__/index.test.tsx.snap
  app/components/UI/EditGasFeeLegacy/__snapshots__/index.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/Swaps/components/__snapshots__/TokenIcon.test.js.snap
  app/components/UI/Swaps/components/__snapshots__/TokenSelectButton.test.js.snap
  app/components/UI/SwitchCustomNetwork/__snapshots__/index.test.tsx.snap
  app/components/UI/TimeEstimateInfoModal/__snapshots__/index.test.tsx.snap
  app/components/UI/WarningAlert/__snapshots__/WarningAlert.test.tsx.snap
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
Labels: No QA Needed/Detox Only, needs-dev-review, release-5.14

#5425 Accounts e2e test
  app/components/UI/AccountList/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/Tokens/index.js
  app/components/Views/ImportPrivateKey/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportPrivateKey/index.js
  app/components/Views/ImportPrivateKeySuccess/index.js
  app/components/Views/SendFlow/Amount/index.js
  e2e/pages/AccountListView.js
  e2e/pages/ImportAccountView.js
  e2e/pages/WalletView.js
  e2e/specs/contract-nickname.failing.js
  wdio/features/CreatingWalletAccount.feature
  wdio/features/ImportingAccount.feature
  wdio/features/NetworkFlow.feature
  wdio/features/screen-objects/AccountListComponent.js
  wdio/features/screen-objects/AddCustomImportTokensScreen.js
  wdio/features/screen-objects/ImportAccountScreen.js
  wdio/features/screen-objects/ImportSuccessScreen.js
  wdio/features/screen-objects/Modals/NetworkListModal.js
  wdio/features/screen-objects/Modals/WalletAccountModal.js
  wdio/features/screen-objects/SendScreen.js
  wdio/features/screen-objects/WalletMainScreen.js
  wdio/features/step-definitions/create-new-wallet-account.steps.js
  wdio/features/step-definitions/import-tokens.steps.js
  wdio/features/step-definitions/import-wallet-via-private-key.steps.js
  wdio/features/step-definitions/network-flow.js
  wdio/features/step-definitions/wallet-view.js
  wdio/features/testIDs/Components/AccountListComponent.testIds.js
  wdio/features/testIDs/Screens/AmountScreen.testIds.js
  wdio/features/testIDs/Screens/ImportAccountScreen.testIds.js
  wdio/features/testIDs/Screens/ImportSuccessScreen.testIds.js
  wdio/features/testIDs/Screens/SendScreen.testIds.js
  wdio/features/testIDs/Screens/WalletAccount.testIds.js
  wdio/features/testIDs/Screens/WalletView.testIds.js
Labels: Appium

#5424 [IMPROVEMENT] Add Screenshot Warning to ImportPrivateKey
  app/components/Views/ImportPrivateKey/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportPrivateKey/index.js
  app/components/Views/ImportPrivateKey/styles.ts
  app/components/Views/RevealPrivateCredential/index.js
Labels: QA Passed, Code Impact - Low, Mobile QA board, team-key-management, release-5.13

#5381 [UPDATE] bumped contract-metadata to 2.1.0
  app/images/static-logos.js
  package.json
  yarn.lock
Labels: No QA Needed/Detox Only, release-5.13

#5430 Remove `Text as any` occurrences
  app/components/Base/Alert.tsx
  app/components/Base/Title/Title.tsx
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetQuotes.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods.tsx
  app/components/UI/FiatOnRampAggregator/Views/Region.tsx
  app/components/UI/FiatOnRampAggregator/components/Account.tsx
  app/components/UI/FiatOnRampAggregator/components/AccountSelector.tsx
  app/components/UI/FiatOnRampAggregator/components/AmountInput.tsx
  app/components/UI/FiatOnRampAggregator/components/ApplePayButton.tsx
  app/components/UI/FiatOnRampAggregator/components/AssetSelectorButton.tsx
  app/components/UI/FiatOnRampAggregator/components/Box.tsx
  app/components/UI/FiatOnRampAggregator/components/CurrencyChevron.tsx
  app/components/UI/FiatOnRampAggregator/components/CustomActionButton.tsx
  app/components/UI/FiatOnRampAggregator/components/ErrorView.tsx
  app/components/UI/FiatOnRampAggregator/components/InfoAlert.tsx
  app/components/UI/FiatOnRampAggregator/components/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethod.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodModal.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodSelector.tsx
  app/components/UI/FiatOnRampAggregator/components/QuickAmounts.tsx
  app/components/UI/FiatOnRampAggregator/components/Quote.tsx
  app/components/UI/FiatOnRampAggregator/components/RegionAlert.tsx
  app/components/UI/FiatOnRampAggregator/components/RegionModal.tsx
  app/components/UI/FiatOnRampAggregator/components/ScreenLayout.tsx
  app/components/UI/FiatOnRampAggregator/components/TokenSelectModal.tsx
  app/components/UI/FiatOnRampAggregator/components/modals/FiatSelectModal.tsx
Labels: No QA Needed/Detox Only, on-ramp, release-5.14

#5439 Enabling transaction with no conversion rate and exchange rate
  app/core/GasPolling/GasPolling.ts
Labels: QA Passed, release-5.13

#5219 [FIX] Update selected network when delete network manually inserted
  app/components/Views/Settings/NetworksSettings/NetworkSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/components/Views/Settings/NetworksSettings/index.js
  app/util/sanitizeUrl.ts
Labels: QA in Progress, Mobile QA board, release-5.14
