Repository MetaMask/metamask-mobile, pull requests merged in 2022-02, with the labels that each got.

#3374 Storybook install, stories and guidelines
  .prettierignore
  README.md
  app/components/Base/Alert.stories.tsx
  app/components/Base/Text.stories.js
  app/components/Base/Title.stories.js
  app/components/UI/Fox/Fox.stories.js
  app/components/UI/StyledButton/StyledButton.stories.js
  index.js
  package.json
  storybook/DOCUMENTATION_GUIDELINES.md
  storybook/GettingStarted.stories.tsx
  storybook/README.md
  storybook/addons.js
  storybook/images/rn.sb.0.png
  storybook/images/rn.sb.1.png
  storybook/images/rn.sb.2.png
  storybook/images/rn.sb.3.png
  storybook/images/rn.sb.4.png
  storybook/index.js
  storybook/rn-addons.js
  storybook/storyLoader.js
  yarn.lock
Labels: documentation

#3600 add crowdin-bot to CLA allowlist
  .github/workflows/cla.yml
Labels: No QA Needed/Detox Only, tooling

#3540 remove jq del step
  bitrise.yml
Labels: No QA Needed/Detox Only, tooling, Code Impact - Low

#3679 Update crowdin_action.yml
  .github/workflows/crowdin_action.yml
Labels: No QA Needed/Detox Only, needs-dev-review

#3676 Documentation/webview debug instructions
  README.md
Labels: needs-dev-review

#3461 Clear the clipboard after the seed phrase is pasted
  app/components/Views/ImportFromSeed/index.js
Labels: QA Passed

#3181 Add client id to GasFeeController
  app/core/Engine.js
Labels: No QA Needed/Detox Only, community, Spot Check on the Release Build, Code Impact - Low

#3682 Add ListItem storybook story
  app/components/Base/ListItem.stories.js
  storybook/storyLoader.js
Labels: storybook

#3480 [IMPROVEMENT] Updated copy for drawer items to match extension
  app/components/UI/DrawerView/index.js
  locales/languages/en.json
Labels: Spot Check on the Release Build, Code Impact - Low

#3538 [FIX] Fixes renderFromGwei related crashes
  app/components/UI/FiatOrders/PaymentMethodApplePay/index.js
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/utils/useBalance.js
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/util/networks/index.js
  app/util/number/index.js
  app/util/number/index.test.ts
Labels: QA Passed, Code Impact - Medium, Priority - Medium

#3553 [FIX] 'navigation.navigate' is undefined
  app/components/UI/ReusableModal/index.tsx
  app/components/UI/ReviewModal/index.tsx
Labels: needs-dev-review, Spot Check on the Release Build, Code Impact - Low, Priority - Medium

#3558 [FIX] Fixes touch area of a close button and aligned the button
  app/components/UI/PaymentRequestSuccess/index.js
Labels: QA Passed, Code Impact - Low

#3664 [IMPROVEMENT] Support for 'twitter://' scheme internal browser
  app/core/DeeplinkManager.js
  ios/MetaMask/Info.plist
Labels: QA Passed, Code Impact - Low, Priority - High

#3562 [IMPROVEMENT] Removed copy "sync with extension" in the settings view
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
  locales/languages/zh-cn.json
Labels: Spot Check on the Release Build, Code Impact - Low

#3599 Aligning text in Edit Contact (Android)
  app/components/Views/Settings/Contacts/ContactForm/index.js
Labels: bug, Spot Check on the Release Build, Code Impact - Low

#3593 Line height is distributed unevenly when lineHeight <= fontSize
  app/components/UI/SelectComponent/__snapshots__/index.test.tsx.snap
  app/components/UI/SelectComponent/index.js
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/Settings/GeneralSettings/index.js
  app/components/Views/Settings/SecuritySettings/index.js
Labels: needs-dev-review, Spot Check on the Release Build

#3573 code optimization, extract common code hooks usePrevious
  app/components/Nav/Main/index.js
  app/components/UI/Notification/index.js
  app/components/hooks/usePrevious.ts
Labels: No QA Needed/Detox Only, community, Code Impact - Low

#3607 Allow BSC, Polygon, Avalanche native and stable coins for on-ramp
  app/components/UI/FiatOrders/PaymentMethodSelector/index.android.js
  app/components/UI/FiatOrders/PaymentMethodSelector/index.ios.js
  app/components/UI/FiatOrders/PaymentMethodSelector/transak.js
  app/components/UI/FiatOrders/index.js
  app/components/UI/FiatOrders/orderProcessor/transak.js
  app/components/UI/FiatOrders/orderProcessor/wyreApplePay.js
  app/components/UI/ReceiveRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/ReceiveRequest/index.test.tsx
  app/components/UI/Swaps/QuotesView.js
  app/components/Views/SendFlow/SendTo/index.js
  app/constants/on-ramp.js
  locales/languages/en.json
Labels: needs-qa, Priority - High

#3650 Handle network changes for incoming deeplink and qr code requests.
  app/components/Nav/App/index.js
  app/components/UI/ReceiveRequest/index.js
  app/components/Views/Send/index.js
  app/core/DeeplinkManager.js
  ios/MetaMask.xcodeproj/project.pbxproj
  locales/languages/en.json
Labels: QA Passed

#3663 Deep linking E2E spec
  app/components/Views/ImportFromSeed/index.js
  e2e/helpers.js
  e2e/pages/Onboarding/ImportWalletView.js
  e2e/pages/TransactionConfirmView.js
  e2e/pages/WalletView.js
  e2e/specs/deeplinks.spec.js
  e2e/specs/wallet-tests.spec.js
Labels: detox, DONOTMERGE

#3691 Limited number of lines for network names
  app/components/UI/NavbarBrowserTitle/index.js
  app/components/UI/NavbarTitle/index.js
  app/components/UI/NetworkList/index.js
Labels: QA Passed

#3721 [FIX] Fixes deeplinks on Android 12 and other deeplinks minor fixes
  android/app/src/main/AndroidManifest.xml
  app/components/Nav/App/index.js
  app/core/DeeplinkManager.js
  e2e/pages/Drawer/Settings/Contacts/AddContactView.js
  e2e/specs/wallet-tests.spec.js
Labels: QA Passed, Code Impact - Medium, Priority - High

#3725 [FIX] Login decrypt bug
  app/components/Views/Login/index.js
  app/components/Views/Root/index.js
Labels: needs-dev-review, Spot Check on the Release Build

#3741 [FIX] Release - Potential error message from missing transactions details
  app/components/UI/TransactionElement/TransactionDetails/index.js
Labels: needs-qa, needs-dev-review

#3738 [FIX] Release - Error message for missing chain ID in deeplink
  app/constants/error.ts
  app/core/DeeplinkManager.js
  app/util/networks/index.js
  app/util/networks/index.test.ts
  locales/languages/en.json
Labels: design qa, needs-qa, needs-dev-review

#3690 Revert svg crash fix
  app/components/UI/CollectibleMedia/index.js
  app/core/AppConstants.js
Labels: Spot Check on the Release Build, Code Impact - Low

#3548 [FIX] Fixes text field frame got cut off
  app/components/Views/BrowserTab/__snapshots__/index.test.tsx.snap
  app/components/Views/BrowserTab/index.js
Labels: Spot Check on the Release Build, Code Impact - Low

#3752 [FIX] NFT Typo
  locales/languages/en.json
Labels: No QA Needed/Detox Only, needs-dev-review, Code Impact - Low

#3701 Make selected option comes first in picker component on Android
  app/components/UI/SelectComponent/index.js
Labels: QA Passed, needs-dev-review

#3724 [ENHANCEMENT] Update texts to use lock/unlock terminology
  app/components/UI/DrawerView/index.js
  app/components/Views/Login/index.js
  app/components/Views/Onboarding/index.js
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
  locales/languages/zh-cn.json
Labels: Spot Check on the Release Build, Code Impact - Low

#3618 fix modal view when adding wallet address to address book
  app/components/UI/ActionModal/__snapshots__/index.test.tsx.snap
  app/components/UI/ActionModal/index.js
Labels: bug, QA Passed, Code Impact - Low

#3762 Enhance auto-detection warning
  locales/languages/en.json
Labels: needs-dev-review, Spot Check on the Release Build

#3647 Integrate Keystone - connect Keystone Wallet
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/AccountList/index.js
  app/components/UI/DrawerView/index.js
  app/components/Views/ConnectQRHardware/AnimatedQRScanner/index.tsx
  app/components/Views/ConnectQRHardware/Instruction/index.tsx
  app/components/Views/ConnectQRHardware/SelectQRAccounts/index.tsx
  app/components/Views/ConnectQRHardware/SelectQRAccounts/util.test.ts
  app/components/Views/ConnectQRHardware/SelectQRAccounts/util.ts
  app/components/Views/ConnectQRHardware/index.tsx
  app/components/Views/ConnectQRHardware/types.ts
  app/core/Engine.js
  app/images/connect-qr-hardware.png
  app/styles/common.js
  locales/languages/en.json
  locales/languages/zh-cn.json
  package.json
  yarn.lock
Labels: area-hardware

#3772 Integrate Keystone - Support Sign flow and in-browser dApp
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/ApproveTransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/MessageSign/__snapshots__/index.test.tsx.snap
  app/components/UI/MessageSign/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/PersonalSign/__snapshots__/index.test.tsx.snap
  app/components/UI/PersonalSign/index.js
  app/components/UI/QRHardware/AnimatedQRCode.tsx
  app/components/UI/QRHardware/AnimatedQRScanner.tsx
  app/components/UI/QRHardware/QRSigningDetails.tsx
  app/components/UI/QRHardware/types.tsx
  app/components/UI/QRHardware/withQRHardwareAwareness.tsx
  app/components/UI/SignatureRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/SignatureRequest/index.js
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/index.js
  app/components/UI/TypedSign/__snapshots__/index.test.tsx.snap
  app/components/UI/TypedSign/index.js
  app/components/Views/ConnectQRHardware/index.tsx
  app/components/Views/SendFlow/AddressInputs/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/QRHardwareSigner/index.tsx
  app/constants/keyringTypes.ts
  locales/languages/en.json
  package.json
Labels: area-hardware

#3547 [IMPROVEMENT] Warn when exporting SRP
  app/components/UI/ButtonReveal/ButtonReveal.stories.tsx
  app/components/UI/ButtonReveal/index.tsx
  app/components/UI/Drawer/index.tsx
  app/components/UI/ReusableModal/index.tsx
  app/components/UI/Transactions/index.js
  app/components/Views/RevealPrivateCredential/index.js
  app/components/Views/Settings/SecuritySettings/index.js
  app/styles/common.js
  app/util/analyticsV2.js
  locales/languages/en.json
  package.json
  storybook/storyLoader.js
  yarn.lock
Labels: QA Passed, Code Impact - Medium, Priority - High

#3806 [FIX] Avalanche token crash
  app/reducers/swaps/index.js
Labels: QA Passed, needs-dev-review

#3766 Swaps: Add Avalanche
  app/components/UI/Swaps/utils/index.js
  app/core/Engine.js
  package.json
  yarn.lock
Labels: QA Passed

#3685 WalletConnect + Deeplink + RPC Methods Refactors
  android/app/src/main/java/io/metamask/MainActivity.java
  android/app/src/main/java/io/metamask/MainApplication.java
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Nav/Main/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/BrowserTab/__snapshots__/index.test.tsx.snap
  app/components/Views/BrowserTab/index.js
  app/constants/deeplinks.js
  app/core/BackgroundBridge.js
  app/core/DeeplinkManager.js
  app/core/Engine.js
  app/core/EngineService.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/core/WalletConnect.js
  app/reducers/modals/index.js
  e2e/specs/browser-tests.spec.js
  ios/MetaMask/AppDelegate.m
  ios/Podfile.lock
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
  locales/languages/zh-cn.json
  package.json
  patches/react-native-branch+5.2.1.patch
  yarn.lock
Labels: QA Passed, needs-dev-review, Code Impact - Medium, Priority - High

#3797 Add Fantom FTM and Celo CELO — Add token after fiat on ramp order.
  app/components/UI/FiatOrders/TransakWebView/index.js
  app/components/UI/FiatOrders/orderProcessor/transak.js
  app/constants/on-ramp.js
Labels: needs-dev-review, on-ramp, Spot Check on the Release Build

#3791 [FIX] Error message not displayed
  app/components/Views/SendFlow/ErrorMessage/index.js
Labels: needs-dev-review, Spot Check on the Release Build

#3811 Fix problem when loading unknown icons on Swap token list
  app/components/UI/Swaps/components/TokenIcon.js
  app/components/UI/Swaps/components/__snapshots__/TokenIcon.test.js.snap
  patches/react-native-svg+12.1.1.patch
Labels: QA Passed, needs-dev-review

#3535 [UPGRADE] Keychain package upgraded to v8.0.0
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  patches/react-native-keychain+8.0.0.patch
  yarn.lock
Labels: QA Passed, Priority - High

#3638 Upgrade controllers to 25.1.0
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/AddCustomToken/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/Swaps/index.js
  app/components/UI/TransactionEditor/index.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/SendTo/index.js
  app/components/hooks/useTokenBalance.tsx
  app/core/Engine.js
  app/util/transactions/index.js
  package.json
  patches/@metamask+controllers+22.0.0.patch
  patches/@metamask+controllers+25.1.0.patch
  yarn.lock
Labels: QA Passed, Code Impact - Medium, Priority - High
