Repository MetaMask/metamask-mobile, pull requests merged in 2022-07, with the labels that each got.

#4635 Fix frozen state caused by whats new modal
  app/components/Nav/App/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
  app/components/UI/WhatsNewModal/__snapshots__/index.test.tsx.snap
  app/components/UI/WhatsNewModal/index.js
  app/components/UI/WhatsNewModal/index.test.tsx
  app/components/UI/WhatsNewModal/index.ts
  app/components/UI/WhatsNewModal/whatsNewList.ts
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Wallet/index.tsx
  app/constants/navigation/Routes.ts
  app/util/onboarding/index.ts
Labels: needs-dev-review, release-5.4

#4263 [5.4][FIX] Swaps approval transaction
  app/components/UI/ApproveTransactionReview/EditPermission/index.tsx
  app/components/UI/Swaps/components/ApprovalTransactionEditionModal.js
  app/util/number/index.js
  app/util/number/index.test.ts
Labels: QA Passed, Mobile QA board, release-5.4

#4420 Refactor transaction component
  app/core/gasPolling.test.ts
  app/core/gasPolling.ts
Labels: QA Passed, No QA Needed/Detox Only, Mobile QA board, release-5.4

#4644 Update url formats popular networks
  app/components/UI/NetworkModal/index.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/constants/storage.ts
  app/constants/test-ids.js
  app/util/hideKeyFromUrl.test.ts
  app/util/hideKeyFromUrl.ts
  app/util/sanitizeUrl.tsx
Labels: QA Passed, release-5.4

#4527 Changed Android activity launch mode
  android/app/src/main/AndroidManifest.xml
Labels: QA Passed, Priority - High, Mobile QA board, release-5.4

#4609 Add pull to refresh and new design to Fiat Order Details view
  app/components/UI/FiatOnRampAggregator/Views/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/components/Account.tsx
  app/components/UI/FiatOnRampAggregator/components/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/hooks/useAnalytics.ts
  app/components/UI/FiatOrders/index.js
  app/components/Views/FiatOrdersView/OrderListItem.js
  app/reducers/fiatOrders/index.js
  locales/languages/en.json
Labels: QA Passed, release-5.4

#4656 [FIX] Plain texts in code
  app/components/Views/Login/index.js
  locales/languages/en.json
Labels: needs-dev-review, Spot Check on the Release Build, stability-team

#4600 Add onramp extra properties to analytics events
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetQuotes.tsx
  app/components/UI/FiatOnRampAggregator/Views/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/containers/ApplePayButton.tsx
  app/components/UI/FiatOnRampAggregator/types/analytics.ts
Labels: QA Passed, release-5.4

#4498 Add decimals optional prop to keypad in onramp amount view
  app/components/Base/Keypad/index.js
  app/components/Base/Keypad/useCurrency.js
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
Labels: QA Passed, release-5.4

#4497 Add amount to onramp analytics events
  app/components/UI/FiatOnRampAggregator/types/analytics.ts
  app/components/UI/FiatOrders/index.js
Labels: QA Passed, release-5.4

#4661 Lower version numbers
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: needs-dev-review

#4665 Fix changelog
  CHANGELOG.md
Labels: needs-dev-review

#4666 Fix changelog for 5.3.0
  CHANGELOG.md
Labels: release-5.5

#4654 Improve transaction editor component code
  app/components/UI/TransactionEditor/index.js
  app/util/dappTransactions.ts
  app/util/index.ts
Labels: needs-dev-review, stability-team

#4612 Component/4078 token avatar
  app/component-library/components/TokenAvatar/README.md
  app/component-library/components/TokenAvatar/TokenAvatar.stories.tsx
  app/component-library/components/TokenAvatar/TokenAvatar.styles.ts
  app/component-library/components/TokenAvatar/TokenAvatar.test.tsx
  app/component-library/components/TokenAvatar/TokenAvatar.tsx
  app/component-library/components/TokenAvatar/TokenAvatar.types.ts
  app/component-library/components/TokenAvatar/__snapshots__/TokenAvatar.test.tsx.snap
  app/component-library/components/TokenAvatar/index.ts
  app/constants/test-ids.js
  storybook/storyLoader.js
Labels: permission-system

#4682 Cal/5.4.0 rc fixes
  app/components/UI/Notification/SimpleNotification/index.js
  app/components/UI/PaymentRequest/AssetList/index.tsx
  app/components/UI/PaymentRequest/index.js
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
Labels: QA Passed, needs-dev-review, release-5.4

#4680 Fixed error message with the name of the cryptocurrency
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed, release-5.4

#4689 Component/4233 account picker
  app/component-library/components/PickerAccount/PickerAccount.constants.ts
  app/component-library/components/PickerAccount/PickerAccount.stories.tsx
  app/component-library/components/PickerAccount/PickerAccount.styles.ts
  app/component-library/components/PickerAccount/PickerAccount.test.tsx
  app/component-library/components/PickerAccount/PickerAccount.tsx
  app/component-library/components/PickerAccount/PickerAccount.types.ts
  app/component-library/components/PickerAccount/README.md
  app/component-library/components/PickerAccount/__snapshots__/PickerAccount.test.tsx.snap
  app/component-library/components/PickerAccount/index.ts
  app/component-library/components/PickerItem/PickerItem.stories.tsx
  app/component-library/components/PickerItem/PickerItem.styles.ts
  app/component-library/components/PickerItem/PickerItem.test.tsx
  app/component-library/components/PickerItem/PickerItem.tsx
  app/component-library/components/PickerItem/PickerItem.types.ts
  app/component-library/components/PickerItem/README.md
  app/component-library/components/PickerItem/__snapshots__/PickerItem.test.tsx.snap
  app/component-library/components/PickerItem/index.ts
  storybook/storyLoader.js
Labels: needs-dev-review

#4677 Create network picker component
  app/component-library/components/NetworkPicker/NetworkPicker.data.ts
  app/component-library/components/NetworkPicker/NetworkPicker.stories.tsx
  app/component-library/components/NetworkPicker/NetworkPicker.styles.ts
  app/component-library/components/NetworkPicker/NetworkPicker.test.tsx
  app/component-library/components/NetworkPicker/NetworkPicker.tsx
  app/component-library/components/NetworkPicker/NetworkPicker.types.ts
  app/component-library/components/NetworkPicker/README.md
  app/component-library/components/NetworkPicker/__snapshots__/NetworkPicker.test.tsx.snap
  app/component-library/components/NetworkPicker/index.ts
  storybook/storyLoader.js
Labels: needs-dev-review, release-5.5

#4700 pin nvm to @1.3.0
  bitrise.yml
Labels: needs-dev-review, Priority - High

#4708 Bump Moment Package
  package.json
  yarn.lock
Labels: No QA Needed/Detox Only, needs-dev-review

#4711 [FIX] Token Texts
  app/components/UI/AddCustomToken/__snapshots__/index.test.tsx.snap
  locales/languages/en.json
Labels: No QA Needed/Detox Only, needs-dev-review

#4704 Add wordd 'buy' to limit description
  locales/languages/en.json
Labels: on-ramp, Spot Check on the Release Build, release-5.5

#4676 Component/4087 toast
  app/component-library/components/ButtonPrimary/index.ts
  app/component-library/components/ButtonSecondary/index.ts
  app/component-library/components/ButtonTertiary/index.ts
  app/component-library/components/Toast/README.md
  app/component-library/components/Toast/Toast.context.tsx
  app/component-library/components/Toast/Toast.stories.tsx
  app/component-library/components/Toast/Toast.styles.ts
  app/component-library/components/Toast/Toast.tsx
  app/component-library/components/Toast/Toast.types.ts
  app/component-library/components/Toast/index.ts
  app/components/Nav/App/index.js
  app/components/Views/Root/index.js
  storybook/storyLoader.js
Labels: needs-dev-review, release-5.5

#4173 [FIX] can't load dapp with unknown network
  app/components/Views/BrowserTab/index.js
  app/lib/ens-ipfs/resolver.js
  app/util/browser/index.js
  app/util/browser/index.test.ts
Labels: QA Passed, Mobile QA board, stability-team, release-5.5

#4643 Add On-Ramp Aggregator a11y improvements
  app/components/UI/FiatOnRampAggregator/components/AmountInput.tsx
  app/components/UI/FiatOnRampAggregator/components/AssetSelectorButton.tsx
  app/components/UI/FiatOnRampAggregator/components/Box.tsx
  app/components/UI/FiatOnRampAggregator/components/Quote.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.5

#4329 [FIX] Transaction of Matic submitted in polygon network goes to the activity view
  app/components/UI/Transactions/index.js
  app/components/Views/TransactionsView/index.js
Labels: QA Passed, Mobile QA board, stability-team, release-5.5

#4685 Fix `allowsInlineMediaPlayback` prop name
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.5

#4629 Add EventEmitter for locale change events and update On-ramp SDK
  app/components/UI/FiatOnRampAggregator/sdk/index.tsx
  locales/i18n.js
  package.json
  yarn.lock
Labels: on-ramp, Spot Check on the Release Build, release-5.5

#4655 Add log for vault corruption
  app/components/Views/Login/index.js
Labels: No QA Needed/Detox Only, release-5.5

#4625 Handle SecureKeychain failed access while passcode enabled
  app/components/Views/Login/index.js
Labels: QA Passed, severity2-normal, Priority - High, Mobile QA board, stability-team, release-5.5

#4627 Add typing support for payment methods to be used instead of payment IDs
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethod.tsx
  app/components/UI/FiatOnRampAggregator/components/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentIcon.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodModal.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentOption.tsx
  app/components/UI/FiatOnRampAggregator/sdk/index.tsx
  app/components/UI/FiatOnRampAggregator/utils/index.ts
Labels: on-ramp, Spot Check on the Release Build, release-5.5

#4475 [FEAT] Swaps support for hardware wallet
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/Swaps/QuotesView.js
  app/util/transactions/index.js
Labels: QA Passed, Mobile QA board, team-key-management, release-5.5

#4636 Fix NFT transfer with big token id
  app/util/number/index.js
  app/util/number/index.test.ts
Labels: QA Passed, Mobile QA board, release-5.6

#4613 Component/4079 avatar group
  app/component-library/components/SelectableListItem/SelectableListItem.test.tsx
  app/component-library/components/StackedAvatars/README.md
  app/component-library/components/StackedAvatars/StackedAvatars.data.ts
  app/component-library/components/StackedAvatars/StackedAvatars.stories.tsx
  app/component-library/components/StackedAvatars/StackedAvatars.styles.ts
  app/component-library/components/StackedAvatars/StackedAvatars.test.tsx
  app/component-library/components/StackedAvatars/StackedAvatars.tsx
  app/component-library/components/StackedAvatars/StackedAvatars.types.ts
  app/component-library/components/StackedAvatars/__snapshots__/StackedAvatars.test.tsx.snap
  app/component-library/components/StackedAvatars/index.ts
  app/constants/test-ids.js
  storybook/storyLoader.js
Labels: permission-system

#4639 Use default QR code colors
  app/components/UI/PaymentRequestSuccess/index.js
  app/components/UI/ReceiveRequest/index.js
  app/components/Views/AddressQRCode/index.js
  app/components/Views/RevealPrivateCredential/index.js
Labels: QA Passed, Mobile QA board, team-key-management, release-5.6
