Repository MetaMask/metamask-mobile, pull requests merged in 2022-01, with the labels that each got.

#3481 Fix confirm button disabled
  app/components/UI/TransactionReview/index.js
Labels: QA Passed

#3620 fix: Add onSwipeChange to swipe button
  app/components/UI/SliderButton/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/TransactionReview/index.js
Labels: QA Passed, needs-dev-review

#3560 [FIX] WalletConnect parse
  app/core/DeeplinkManager.js
  app/core/WalletConnect.js
  package.json
  yarn.lock
Labels: needs-qa, needs-dev-review, Code Impact - Medium

#3220 Fixed walletconnect redirect after successful wallet connection
  app/core/WalletConnect.js
Labels: community

#3641 Patch recent disclosures
  package.json
  scripts/yarn-audit.sh
  yarn.lock
Labels: Priority - High

#3634 Fix/android 11 deeplink
  app/components/Nav/App/index.js
  ios/Podfile
  ios/Podfile.lock
Labels: QA Passed, needs-dev-review

#3642 v4.0.0 RC3
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review

#3508 Switch from `develop` to `main`
  README.md
  app/components/UI/SeedPhraseVideo/index.js
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/hi-in.json
  locales/languages/id-id.json
  locales/languages/ja-jp.json
  locales/languages/ko-kr.json
  locales/languages/pt-br.json
  locales/languages/ru-ru.json
  locales/languages/tl.json
  locales/languages/vi-vn.json
Labels: No QA Needed/Detox Only

#3649 [FIX] Update warning image
  app/components/UI/SkipAccountSecurityModal/__snapshots__/index.test.tsx.snap
  app/components/UI/SkipAccountSecurityModal/index.js
  app/images/warning.png
Labels: Spot Check on the Release Build, Code Impact - Low

#3561 [FIX] Revert - use empty string quotes for anon ID
  android/app/src/main/java/io/metamask/nativeModules/RCTAnalytics.java
  ios/MetaMask/NativeModules/RCTAnalytics/RCTAnalytics.m
Labels: No QA Needed/Detox Only, Code Impact - Low

#3644 [FIX] Dismiss keyboard correctly
  app/components/UI/PaymentRequest/index.js
Labels: Spot Check on the Release Build, Code Impact - Low

#3341 Refactor RPC Methods logic (Fix network change)
  app/components/Views/BrowserTab/index.js
  app/core/BackgroundBridge.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/utils.ts
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, Priority - High

#3120 Fix URL origin returns null for the metamask:// scheme
  app/core/DeeplinkManager.js
Labels: community, Code Impact - Low

#3657 [Hotfix] /4.0.1 NFT improvement
  android/app/src/main/java/io/metamask/nativeModules/RCTAnalytics.java
  app/actions/user/index.js
  app/components/Base/Alert.tsx
  app/components/UI/CollectibleContracts/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/CollectibleDetectionModal/index.tsx
  app/components/UI/PaymentRequest/index.js
  app/components/UI/SkipAccountSecurityModal/__snapshots__/index.test.tsx.snap
  app/components/UI/SkipAccountSecurityModal/index.js
  app/components/Views/AddAsset/__snapshots__/index.test.tsx.snap
  app/components/Views/AddAsset/index.js
  app/components/Views/AddAsset/index.test.tsx
  app/components/Views/SendFlow/WarningMessage/index.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/Views/Settings/SecuritySettings/index.test.tsx
  app/core/Analytics.js
  app/core/Engine.js
  app/images/warning.png
  app/reducers/collectibles/index.js
  app/reducers/tokens/index.ts
  app/reducers/user/index.js
  app/store/migrations.js
  app/util/tokens/tokens.test.ts
  bitrise.yml
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/pages/RequestPaymentView.js
  ios/MetaMask/NativeModules/RCTAnalytics/RCTAnalytics.m
  ios/Podfile.lock
  locales/languages/en.json
Labels: QA Passed

#3651 Replace lt and gt calls on non BN types
  app/components/UI/TransactionEditor/index.js
  app/util/accountSecurity.js
  app/util/lodash/index.ts
Labels: QA Passed, Code Impact - Low
