Repository MetaMask/metamask-mobile, pull requests merged in 2022-05, with the labels that each got.

#4193 jazzIcons default
  app/reducers/settings/index.js
Labels: Spot Check on the Release Build

#4174 Address now is in the checksum standard format
  app/util/address/index.js
  app/util/address/index.test.ts
Labels: Spot Check on the Release Build

#4192 [IMPROVEMENT] Add screen to select hardware wallet
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/DrawerView/index.js
  app/components/Views/ConnectHardware/ConnectQRHardware/Instruction/index.tsx
  app/components/Views/ConnectHardware/ConnectQRHardware/SelectQRAccounts/index.tsx
  app/components/Views/ConnectHardware/ConnectQRHardware/index.tsx
  app/components/Views/ConnectHardware/ConnectQRHardware/types.ts
  app/components/Views/ConnectHardware/SelectHardware/index.tsx
  app/images/ledger-dark.png
  app/images/ledger-light.png
  app/images/qrhardware-dark.png
  app/images/qrhardware-light.png
  locales/languages/en.json
Labels: needs-dev-review, area-hardware, team-key-management

#4236 [FIX] Add default ticker in select account
  app/components/Views/ConnectQRHardware/SelectQRAccounts/index.tsx
Labels: QA Passed, needs-dev-review, Mobile QA board

#4205 Address when is ens is being added to addressbook
  app/components/Views/SendFlow/AddressInputs/index.js
  app/components/Views/SendFlow/AddressList/index.js
  app/components/Views/SendFlow/SendTo/index.js
Labels: QA Passed

#4210 Clipboard message fixed
  app/components/Views/RevealPrivateCredential/index.js
  app/core/ClipboardManager.js
  locales/languages/en.json
Labels: QA Passed, Mobile QA board

#4278 convert back to spaces
  locales/languages/en.json
Labels: needs-dev-review

#4052 [5.1.1] Download attachments in browser on iOS
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/NavbarBrowserTitle/index.js
  app/components/UI/OnboardingWizard/Step5/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/BrowserTab/__snapshots__/index.test.tsx.snap
  app/components/Views/BrowserTab/index.js
  app/components/Views/BrowserUrlModal/BrowserUrlModal.test.tsx
  app/components/Views/BrowserUrlModal/BrowserUrlModal.tsx
  app/components/Views/BrowserUrlModal/__snapshots__/BrowserUrlModal.test.tsx.snap
  app/components/Views/BrowserUrlModal/index.ts
  app/components/Views/BrowserUrlModal/styles.ts
  app/components/Views/SendFlow/Confirm/index.js
  app/constants/navigation/Routes.ts
  app/constants/test-ids.js
  app/core/DeeplinkManager.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/WalletConnect.js
  app/util/browser/downloadFile.ts
  app/util/navigation/navUtils.ts
  app/util/testUtils/index.ts
  app/util/testUtils/mocks/navigation.ts
  ios/Podfile.lock
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA Passed, Mobile QA board

#4254 [5.1.1][FIX] Android crash in split screen
  android/app/src/main/java/io/metamask/MainActivity.java
Labels: QA Passed, needs-dev-review, Code Impact - Low, Priority - High, Mobile QA board

#4175 [5.2][Fix] Favourites not showing when home button is pressed in browser tab menu
  app/components/Views/BrowserTab/index.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  locales/languages/en.json
Labels: bug, QA Passed, severity2-normal, Mobile QA board

#4167 [5.2][IMPROVEMENT] Adds support for 'dapp/' urls support on 'metamask://' and fixes DL opening to Apple Store
  app/core/AppConstants.js
  app/core/DeeplinkManager.js
  ios/MetaMask/Info.plist
Labels: QA Passed, Code Impact - Low, Priority - High

#4317 PR Template - Add section for screenshots and recordings
  .github/pull_request_template.md
Labels: No QA Needed/Detox Only, needs-dev-review

#4318 [FIX] Confusables bug
  app/components/Views/SendFlow/AddressInputs/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed, Mobile QA board

#4170 [5.2] Copy to clipboard for Android version 9 and below
  app/components/Views/RevealPrivateCredential/index.js
  app/core/AppConstants.js
  app/util/device/index.js
Labels: QA Passed, Mobile QA board

#4331 [Detox]fix addressbook and browser test
  e2e/pages/Drawer/Browser.js
  e2e/pages/SendView.js
  e2e/specs/browser-tests.spec.js
Labels: No QA Needed/Detox Only, needs-dev-review

#4315 Make reveal SRP blur view dynamic
  app/components/Views/ManualBackupStep1/index.js
Labels: QA Passed, Spot Check on the Release Build, Mobile QA board

#4356 remove default from create-release-pr workflow
  .github/workflows/create-release-pr.yml
Labels: needs-dev-review

#4369 [5.2.0][FIX] Secret Recovery Phrase text alignment
  app/components/Views/RevealPrivateCredential/index.js
  locales/languages/en.json
Labels: needs-qa

#4376 [5.2.0][FIX] M3 - Warning on legit address
  app/components/Views/SendFlow/SendTo/index.js
Labels: needs-qa, needs-dev-review

#4383 [5.2.0][FIX] M6 - Fixes double tab opening when using `metamask://dapp/` deep link schema
  app/core/DeeplinkManager.js
Labels: needs-qa, Code Impact - Low, Priority - Medium

#4361 Add strings for "Delete Data" feature
  locales/languages/en.json
Labels: No QA Needed/Detox Only, needs-dev-review

#4381 [FIX] Add margin and check to AssetActionButton text
  app/components/UI/AssetActionButton/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetActionButton/index.js
  app/components/UI/AssetActionButton/index.test.tsx
Labels: needs-qa, Mobile QA board

#4367 Feature/make hex data selectable
  app/components/UI/TransactionReview/TransactionReviewData/index.js
Labels: needs-qa, Mobile QA board

#4396 [FIX][5.2] Additional fix form M6 issue (multiple tabs opened with new dapp schema)
  app/core/DeeplinkManager.js
Labels: needs-qa, needs-dev-review

#4178 [5.3.0][FIX] Prevent crash when funds warning is pressed
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/core/AppConstants.js
  app/util/networks/index.js
  locales/languages/en.json
Labels: QA Passed, needs-dev-review, Mobile QA board

#4070 [5.3] [IMPROVEMENT] Update SelectQRAccounts UI
  app/components/UI/QRHardware/withQRHardwareAwareness.tsx
  app/components/Views/ConnectQRHardware/AccountDetails/index.tsx
  app/components/Views/ConnectQRHardware/SelectQRAccounts/index.tsx
  app/components/Views/ConnectQRHardware/index.tsx
Labels: QA Passed, area-hardware, Mobile QA board, team-key-management

#4412 [FIX][5.2]Removes `metamask://dapp/` schema support until stable on Android
  app/core/DeeplinkManager.js
Labels: needs-qa, needs-dev-review

#4088 feat(ledger): support connecting to ledger device
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/assets/fonts/metamask.ttf
  app/actions/modals/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountList/AccountElement/index.js
  app/components/UI/AccountList/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/LedgerModals/LedgerConfirmationModal.tsx
  app/components/UI/LedgerModals/LedgerMessageSignModal.tsx
  app/components/UI/LedgerModals/LedgerTransactionModal.tsx
  app/components/UI/LedgerModals/Steps/ConfirmationStep.tsx
  app/components/UI/LedgerModals/Steps/ErrorStep.tsx
  app/components/UI/LedgerModals/Steps/OpenETHAppStep.tsx
  app/components/UI/LedgerModals/Steps/SearchingForDeviceStep.tsx
  app/components/UI/MessageSign/index.js
  app/components/UI/PersonalSign/index.js
  app/components/UI/SignatureRequest/index.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/TypedSign/index.js
  app/components/Views/ConnectHardware/SelectHardware/index.tsx
  app/components/Views/LedgerAccountInfo/index.tsx
  app/components/Views/LedgerConnect/LedgerConnectionError.tsx
  app/components/Views/LedgerConnect/Scan.test.tsx
  app/components/Views/LedgerConnect/Scan.tsx
  app/components/Views/LedgerConnect/__snapshots__/Scan.test.tsx.snap
  app/components/Views/LedgerConnect/__snapshots__/index.test.tsx.snap
  app/components/Views/LedgerConnect/hooks/useBluetooth.ts
  app/components/Views/LedgerConnect/hooks/useBluetoothDevices.ts
  app/components/Views/LedgerConnect/hooks/useBluetoothPermissions.ts
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/Views/SendFlow/Confirm/index.js
  app/components/hooks/useLedgerBluetooth.tsx
  app/constants/keyringTypes.ts
  app/core/Engine.js
  app/images/etherscan-dark.png
  app/images/etherscan-light.png
  app/images/ledger-connect-dark.png
  app/images/ledger-connect-error-dark.png
  app/images/ledger-connect-error-light.png
  app/images/ledger-connect-light.png
  app/images/ledger-device-dark.png
  app/images/ledger-device-light.png
  app/images/static-logos.js
  app/reducers/modals/index.js
  app/util/address/index.js
  app/util/address/index.test.ts
  app/util/keyring-helpers.test.ts
  app/util/keyring-helpers.ts
  app/util/testSetup.js
  ios/MetaMask/Info.plist
  ios/Podfile
  ios/Podfile.lock
  locales/languages/en.json
  package.json
  yarn.lock
Labels: needs-dev-review, area-hardware, team-key-management
