Repository MetaMask/metamask-mobile, pull requests merged in 2023-09, with the labels that each got.

#7090 feat: add translations for new contextual sheet display nft media
  locales/languages/en.json
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-client, release-7.7.0

#7096 fix: Fix Engine `controllerMessenger` type errors
  app/core/Engine.ts
Labels: needs-dev-review, team-mobile-platform

#7100 ci: Add type check lint to CI
  .github/workflows/ci.yml
  package.json
  patches/unicode-confusables+0.1.1.patch
  tsconfig.lint.json
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#7107 feat: update README XCode and python instructions
  README.md
Labels: external-contributor

#7105 fix: Fix all Engine type errors
  app/core/AppConstants.ts
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/core/Permissions/specifications.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/reducers/fiatOrders/types.ts
  app/util/number/index.js
  tsconfig.lint.json
Labels: No QA Needed/E2E Only, team-mobile-platform

#7111 ci: Improve performance of GitHub Actions setup
  .github/workflows/ci.yml
  package.json
Labels: No QA Needed/E2E Only, team-mobile-platform

#7110 refactor: Migrate store to TypeScript
  .eslintrc.js
  app/component-library/components/Checkbox/Checkbox.tsx
  app/component-library/components/Select/MultiSelect/MultiSelectItem/MultiSelectItem.tsx
  app/component-library/components/Select/Select/SelectItem/SelectItem.tsx
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/reducers/fiatOrders/index.ts
  app/reducers/fiatOrders/types.ts
  app/reducers/index.ts
  app/selectors/accountTrackerController.ts
  app/selectors/approvalController.test.ts
  app/selectors/approvalController.ts
  app/selectors/currencyRateController.ts
  app/selectors/networkController.ts
  app/selectors/nftController.ts
  app/selectors/preferencesController.ts
  app/selectors/tokenBalancesController.ts
  app/selectors/tokenListController.ts
  app/selectors/tokenRatesController.ts
  app/selectors/tokensController.ts
  app/selectors/types.ts
  app/store/index.ts
  app/store/migrations.js
  tsconfig.lint.json
Labels: No QA Needed/E2E Only, team-mobile-platform

#7101 refactor: Bump test-dapp to `v7.1.0`
  package.json
  yarn.lock
Labels: team-confirmations-secure-ux-PR

#7102 fix: sdk connection issues
  app/components/Views/SDKSessionsManager/SDKSessionItem.tsx
  app/core/DeeplinkManager.js
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/utils/wait.util.ts
  app/util/confirmation/signatureUtils.js
Labels: team-sdk, QA Passed

#7119 ci: Resolve SonarCloud warnings
  .github/workflows/ci.yml
Labels: No QA Needed/E2E Only, team-extension-platform

#6749 feat: PPOM integration with MetaMask mobile app
  .eslintignore
  .js.env.example
  app/components/Nav/App/index.js
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/lib/ppom/PPOMView.test.tsx
  app/lib/ppom/PPOMView.tsx
  app/lib/ppom/__snapshots__/PPOMView.test.tsx.snap
  app/lib/ppom/array-buffer.test.ts
  app/lib/ppom/array-buffer.ts
  app/lib/ppom/invoke-lib.ts
  app/lib/ppom/ppom-middleware.ts
  app/lib/ppom/ppom.html.js
  app/lib/ppom/rnfs-storage-backend.ts
  app/reducers/index.ts
  app/selectors/types.ts
  package.json
  yarn.lock
Labels: team-confirmations-secure-ux-PR

#7121 refactor: Use selectors for core network state access
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/BackgroundBridge/WalletConnectPort.ts
  app/core/NotificationManager.js
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnectV2.ts
  app/util/address/index.js
  app/util/confirmation/signatureUtils.js
  app/util/networks/handleNetworkSwitch.test.ts
  app/util/networks/handleNetworkSwitch.ts
Labels: No QA Needed/E2E Only, team-mobile-platform

#7038 Blockaid preference
  app/actions/experimental/index.ts
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/util/test/initial-background-state.json
  patches/@metamask+preferences-controller+3.0.0.patch
Labels: team-confirmations-secure-ux

#7142 fix: Approval modal showing after submit a swap
  app/components/UI/Swaps/QuotesView.js
Labels: QA Passed, team-confirmations-system

#7146 fix: ledger label display incorrect style
  app/components/Views/SendFlow/AddressElement/AddressElement.styles.ts
  app/components/Views/SendFlow/AddressElement/AddressElement.tsx
Labels: needs-dev-review, Ledger

#7117 refactor: move ganache from hooks to fixtures
  e2e/fixtures/fixture-helper.js
  e2e/specs/confirmations/advanced-gas-fees.spec.js
  e2e/specs/confirmations/send-erc721.spec.js
  e2e/specs/confirmations/send-eth-flow.spec.js
  e2e/specs/confirmations/send-eth-multisig.spec.js
Labels: team-confirmations-secure-ux-PR

#7147 fix: Fix type errors in reducers
  app/components/UI/Ramp/utils/index.ts
  app/core/Engine.ts
  app/reducers/fiatOrders/index.test.ts
  app/reducers/security/index.ts
  app/util/test/initial-root-state.ts
  tsconfig.lint.json
Labels: No QA Needed/E2E Only, team-mobile-platform

#6877 ci: Run unit tests in parallel
  .github/workflows/ci.yml
  coverage-thresholds.json
  jest.config.js
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, team-mobile-platform

#7158 ci: Fix SonarCloud warning
  .github/workflows/ci.yml
Labels: needs-dev-review, team-mobile-platform

#7152 fix: approval modal showing after submit swap (#7142)
  app/components/UI/Swaps/QuotesView.js
Labels: QA Passed, team-mobile-client, release-7.7.0

#7162 fix: incorrect label type warning on account type tag
  app/components/UI/AddressInputs/index.js
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/SendFlow/AddressElement/AddressElement.tsx
  app/util/address/index.js
Labels: needs-dev-review, Ledger

#7153 refactor: use ganache seeder and connected to dapp fixture on ERC721 test
  app/util/test/ganache-seeder.js
  app/util/test/smart-contracts.js
  e2e/pages/TestDApp.js
  e2e/specs/confirmations/send-erc721.spec.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#7151 fix: sdk connection issues
  app/components/Views/SDKSessionsManager/SDKSessionItem.tsx
  app/core/DeeplinkManager.js
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/utils/wait.util.ts
  app/util/confirmation/signatureUtils.js
Labels: team-sdk, Spot Check on the Release Build, release-7.7.0

#7124 ci: Add depcheck test
  .depcheckrc.yml
  .github/workflows/ci.yml
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, team-mobile-platform

#7032 devDeps: @lavamoat/allow-scripts@1.0.6->2.3.1
  package.json
  yarn.lock
Labels: dependencies, type-security, team-lavamoat

#7118 chore: dedupe babel packages
  yarn.lock
Labels: dependencies, No QA Needed/E2E Only, team-security, release-7.8.0

#7166 fix: keystone signatures
  app/components/Approvals/SignatureApproval/SignatureApproval.tsx
  app/components/hooks/useApprovalRequest.ts
  app/core/Engine.ts
  patches/@metamask+approval-controller+3.4.0.patch
Labels: QA Passed, team-confirmations-system

#7174 fix: getAddressAccountType move out from pickupaccount
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
Labels: needs-dev-review, Ledger

#7179 refactor: Add tests for `checkAddress` and fix types
  app/util/checkAddress.test.ts
  app/util/checkAddress.ts
Labels: No QA Needed/E2E Only, team-mobile-platform

#7141 fix: 1078 mixpanel delete data
  app/constants/urls.ts
  app/core/Analytics/Analytics.js
Labels: No QA Needed/E2E Only, team-mobile-client

#7182 refactor: Fix documented return type of `handleNetworkSwitch`
  app/components/Views/SendFlow/AddressTo/AddressTo.tsx
  app/components/Views/SendFlow/SendTo/index.js
  app/core/DeeplinkManager.js
  app/util/networks/handleNetworkSwitch.ts
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#7184 chore: Remove unused `getNetworkName` utility function
  app/util/networks/index.js
  app/util/networks/index.test.ts
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#7176 fix: unhandled exception on uncomplete ledger transaction
  app/components/UI/LedgerModals/LedgerConfirmationModal.tsx
  app/components/UI/Transactions/RetryModal/index.tsx
  app/components/UI/Transactions/index.js
  app/core/Transaction/TransactionError.ts
Labels: needs-dev-review, Ledger

#7172 Feat: Fix the Message Sign issue for ledger devices
  app/actions/modals/index.js
  app/actions/rpcEvents/index.ts
  app/components/UI/LedgerModals/LedgerMessageSignModal.tsx
  app/components/UI/MessageSign/MessageSign.tsx
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/SignatureRequest/Root/Root.tsx
  app/components/UI/SignatureRequest/types.ts
  app/components/UI/TypedSign/index.js
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/reducers/index.ts
  app/reducers/modals/index.js
  app/reducers/rpcEvents/index.ts
  app/util/address/index.js
  app/util/hardwareWallet/hardwareWallets/ledger.ts
  app/util/hardwareWallet/signatureUtils.ts
  package.json
Labels: needs-dev-review, Ledger

#7164 fix: Transaction Error when approve a token on ledger account
  app/components/Approvals/TransactionApproval/TransactionApproval.tsx
Labels: needs-dev-review, Ledger

#7150 refactor: Update ENS utils to accept chain ID
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountOverview/index.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/AddressElement/AddressElement.tsx
  app/components/Views/SendFlow/AddressFrom/AddressFrom.tsx
  app/components/hooks/useAccounts/useAccounts.ts
  app/util/ENSUtils.js
  app/util/ENSUtils.test.ts
  app/util/address/index.js
  app/util/address/index.test.ts
Labels: No QA Needed/E2E Only, team-mobile-platform

#7188 fix: cherry pick qr issue
  app/components/Approvals/SignatureApproval/SignatureApproval.tsx
  app/components/hooks/useApprovalRequest.ts
  app/core/Engine.ts
  patches/@metamask+approval-controller+3.4.0.patch
Labels: QA Passed, team-confirmations-system, release-7.7.0

#7198 Feat/fix lint tsc ledger
  .depcheckrc.yml
  app/component-library/components/Pickers/PickerAccount/PickerAccount.types.ts
  app/core/BackupVault/backupVault.ts
  app/core/Engine.ts
  app/selectors/types.ts
  app/util/test/initial-root-state.ts
  package.json
Labels: needs-dev-review, Ledger

#7186 feat: translation ipfs banner
  locales/languages/en.json
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-client, release-7.8.0

#7068 Adding blockaid banner to confirmation pages
  app/components/Nav/App/index.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.types.ts
  app/components/UI/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  app/components/UI/MessageSign/MessageSign.tsx
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/SignatureRequest/index.js
  app/components/UI/SignatureRequest/types.ts
  app/components/UI/TransactionReview/index.js
  app/components/UI/TransactionReview/index.test.tsx
  app/components/UI/TypedSign/index.js
  app/components/UI/WhatsNewModal/whatsNewList.ts
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.test.js
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/lib/ppom/ppom-middleware.ts
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
  app/util/blockaid/index.ts
  app/util/test/initial-background-state.json
  jest.config.js
  patches/@metamask+message-manager+1.0.1.patch
  patches/@metamask+transaction-controller+4.0.1.patch
Labels: team-confirmations-secure-ux-PR

#7056 fix: safeguard utill/address functions for undefined arguments
  app/components/Views/EditAccountName/EditAccountName.tsx
  app/core/__mocks__/MockedEngine.ts
  app/util/address/index.js
  app/util/address/index.test.ts
Labels: QA Passed, team-mobile-client, release-7.7.0

#7200 fix: bug #1238 preventing use of wallet_switchethereumchain
  app/core/RPCMethods/wallet_switchEthereumChain.js
Labels: team-sdk, QA Passed, release-7.7.0

#7205 fix: cherry-pick #7056 toLowerCase issue
  app/components/Views/EditAccountName/EditAccountName.tsx
  app/core/__mocks__/MockedEngine.ts
  app/util/address/index.js
  app/util/address/index.test.ts
Labels: QA Passed, team-mobile-client, release-7.7.0

#7077 fix: Warning when rejecting an approval request with id XYZ not found
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/core/Engine.ts
Labels: QA Passed, team-confirmations-system

#7202 test: build test dapp and run tests against localhost
  e2e/create-static-server.js
  e2e/fixtures/fixture-builder.js
  e2e/fixtures/fixture-helper.js
  e2e/pages/TestDApp.js
  e2e/specs/confirmations/send-erc721.spec.js
  package.json
  yarn.lock
Labels: team-confirmations-secure-ux-PR

#7211 fix: Fix Sentry sourcemap upload step
  package.json
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#7209 fix: handle etherscan rate limit errors
  app/components/Nav/Main/index.js
  app/core/AppConstants.ts
  patches/@metamask+transaction-controller+4.0.1.patch
Labels: QA Passed, team-confirmations-system

#7215 chore: cherry pick #7200
  app/core/RPCMethods/wallet_switchEthereumChain.js
Labels: team-sdk, QA Passed, release-7.7.0

#7189 fix: Use network name in switch alert
  app/components/Views/SendFlow/AddressTo/AddressTo.tsx
Labels: QA Passed, team-mobile-client, team-mobile-platform

#7220 fix: handle etherscan rate limit errors (Release Branch)
  app/components/Nav/Main/index.js
  app/core/AppConstants.js
  patches/@metamask+transaction-controller+4.0.1.patch
Labels: QA Passed, team-confirmations-system, release-7.7.0

#7109 fix: Fix Typescript errors in utils dir
  app/constants/error.ts
  app/util/address/index.js
  app/util/conversion/index.test.ts
  app/util/custom-gas/index.test.ts
  app/util/date/index.test.ts
  app/util/general/index.test.ts
  app/util/networks/index.test.ts
  app/util/number/index.js
  app/util/number/index.test.ts
  app/util/password/index.test.ts
  app/util/password/index.ts
  app/util/sync/index.test.ts
  app/util/tokens/tokens.test.ts
  app/util/transactions/index.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#7195 fix: Fix inconsistency in incoming transaction notifications
  app/core/NotificationManager.js
  app/util/networks/index.js
Labels: QA Passed, team-mobile-client, in-progress, team-mobile-platform

#7216 E2e:Parallel execution support for Android in Bitrise CI
  bitrise.yml
  e2e/jest.e2e.config.js
  package.json
Labels: needs-dev-review, team-mobile-client

#7120 fix: Signature events rename values.
  app/components/UI/MessageSign/MessageSign.tsx
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/TypedSign/index.js
  app/util/confirmation/signatureUtils.js
Labels: needs-dev-review, team-confirmations-secure-ux, team-confirmations-secure-ux-PR

#7106 fix: rename signature events
  app/components/UI/MessageSign/MessageSign.tsx
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/TypedSign/index.js
  app/core/Analytics/MetaMetrics.events.ts
  app/util/confirmation/signatureUtils.js
Labels: needs-dev-review, team-confirmations-secure-ux, team-confirmations-secure-ux-PR

#7140 Update confirmation page layout for blockaid alerts
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/ApproveTransactionReview/styles.ts
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/index.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#7226 chore: add script to patch transaction controller
  package.json
  scripts/patch-transaction-controller.sh
Labels: No QA Needed/E2E Only, team-confirmations-system

#7025 feat: NFT media logic
  app/actions/user/index.js
  app/component-library/components/Banners/Banner/foundation/BannerBase/BannerBase.tsx
  app/components/Nav/App/index.js
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/CollectibleDetectionModal/index.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.test.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.types.ts
  app/components/UI/CollectibleModal/CollectibleModal.tsx
  app/components/UI/CollectibleModal/__snapshots__/CollectibleModal.test.tsx.snap
  app/components/UI/CollectibleOverview/index.js
  app/components/Views/AddAsset/AddAsset.constants.ts
  app/components/Views/AddAsset/AddAsset.styles.ts
  app/components/Views/AddAsset/AddAsset.test.tsx
  app/components/Views/AddAsset/AddAsset.tsx
  app/components/Views/AddAsset/AddAsset.types.ts
  app/components/Views/AddAsset/__snapshots__/AddAsset.test.tsx.snap
  app/components/Views/AddAsset/__snapshots__/index.test.tsx.snap
  app/components/Views/AddAsset/index.js
  app/components/Views/AddAsset/index.test.tsx
  app/components/Views/AddAsset/index.ts
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/SecuritySettings.constants.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/ShowDisplayMediaNFTSheet/ShowDisplayNFTMediaSheet.styles.ts
  app/components/Views/ShowDisplayMediaNFTSheet/ShowDisplayNFTMediaSheet.test.tsx
  app/components/Views/ShowDisplayMediaNFTSheet/ShowDisplayNFTMediaSheet.tsx
  app/components/Views/ShowDisplayMediaNFTSheet/__snapshots__/ShowDisplayNFTMediaSheet.test.tsx.snap
  app/components/Views/ShowDisplayMediaNFTSheet/index.ts
  app/constants/navigation/Routes.ts
  app/core/Analytics/Analytics.js
  app/core/Engine.ts
  app/reducers/user/index.js
  app/selectors/preferencesController.ts
  app/store/migrations.js
  app/store/migrations.test.js
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  e2e/specs/wallet-tests.spec.js
  locales/languages/en.json
  patches/@metamask+assets-controllers+6.0.0.patch
  patches/@metamask+preferences-controller+3.0.0.patch
Labels: QA Passed, team-mobile-client

#7249 build 1171 RC2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: release-7.7.0

#7252 fix: Fix Android e2e tests
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/core/Analytics/Analytics.js
  app/core/Analytics/MetaMetrics.events.ts
Labels: needs-dev-review, team-mobile-platform

#7187 fix: sonar coverage path
  .github/workflows/ci.yml
  jest.config.js
  package.json
  sonar-project.properties
Labels: No QA Needed/E2E Only, team-mobile-client, release-7.8.0

#7253 fix(test): set wallet to unprotected in test
  e2e/specs/request-token-flow.spec.js
Labels: needs-dev-review, team-mobile-client, e2e

#7262 chore: update changelog to keep a changelog format
  CHANGELOG.md
Labels: team-mobile-client, release-7.8.0

#7076 feat(templates): new templates for issues and PRs
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/componentization.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/general-issue.yml
  .github/ISSUE_TEMPLATE/general_issue.md
  .github/ISSUE_TEMPLATE/usability-enhancement.md
  .github/ISSUE_TEMPLATE/user-story.md
  .github/guidelines/CODING_GUIDELINES.md
  .github/guidelines/LABELING_GUIDELINES.md
  .github/pull-request-template.md
  .github/pull_request_template.md
  .github/scripts/check-pr-has-required-labels.ts
Labels: team-mobile-client, team-mobile-platform

#7258 fix: ledger branch migrate approve component
  app/components/UI/SignatureRequest/index.js
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/index.js
Labels: Ledger

#7257 fix: ledger incorrect ga tag
  app/components/UI/MessageSign/MessageSign.tsx
Labels: Ledger

#7225 test: Signatures refactor with fixtures
  e2e/fixtures/fixture-builder.js
  e2e/pages/Drawer/Browser.js
  e2e/pages/TestDApp.js
  e2e/specs/confirmations/send-erc721.spec.js
  e2e/specs/confirmations/sign-messages.spec.js
Labels: team-confirmations-secure-ux-PR

#7278 fix: Fix console errors upon switching networks
  patches/web3-provider-engine+16.0.3.patch
Labels: Spot Check on the Release Build, team-shared-libraries, team-mobile-platform

#7074 test: Swap and Token Details e2e automated tests
  app/components/Base/DetailsModal.js
  app/components/Base/StatusText.js
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/Price/Price.tsx
  app/components/UI/SliderButton/__snapshots__/index.test.tsx.snap
  app/components/UI/SliderButton/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  app/components/Views/Asset/index.js
  e2e/fixtures/fixture-builder.js
  e2e/helpers.js
  e2e/pages/ActivitiesView.js
  e2e/pages/TokenOverview.js
  e2e/pages/WalletView.js
  e2e/pages/modals/DetailsModal.js
  e2e/pages/modals/NetworkEducationModal.js
  e2e/pages/modals/NetworkListModal.js
  e2e/pages/modals/WalletActionsModal.js
  e2e/pages/swaps/OnBoarding.js
  e2e/pages/swaps/QuoteView.js
  e2e/pages/swaps/SwapView.js
  e2e/resources/networks.json
  e2e/specs/swaps/swap-tokens.spec.js
  e2e/specs/swaps/token-details.spec.js
  wdio/screen-objects/testIDs/Components/DetailsModal.js
  wdio/screen-objects/testIDs/Components/NetworkListModal.TestIds.js
  wdio/screen-objects/testIDs/Components/WalletActionModal.testIds.js
  wdio/screen-objects/testIDs/Screens/QuoteView.js
  wdio/screen-objects/testIDs/Screens/SwapView.js
  wdio/screen-objects/testIDs/Screens/TokenOverviewScreen.testIds.js
Labels: team-swaps, type-sprint-goal

#7276 fix: handle overlapping add network requests
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
Labels: QA Passed, team-confirmations-system

#7274 fix: uncatched ledger error when manual reject tx in dapp
  app/components/UI/LedgerModals/LedgerMessageSignModal.tsx
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: Ledger

#7145 fix: blockaid code fixes / updates
  app/components/UI/TransactionReview/index.js
  app/reducers/transaction/index.js
  app/util/transaction-reducer-helpers.js
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#7286 ci: uploading QA builds to Browserstack from Bitrise
  bitrise.yml
Labels: team-mobile-platform

#7280 test: Enable fixtures smoke tests
  e2e/specs/addressbook-tests.spec.js
  e2e/specs/browser-tests.spec.js
  e2e/specs/permission-system-revoking-multiple-accounts.spec.js
  e2e/specs/request-token-flow.spec.js
  e2e/specs/send-ERC-token.spec.js
Labels: tests, needs-dev-review, team-mobile-client

#7223 fix: remove linea mainnet feature toggle
  app/components/Nav/Main/index.js
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/index.js
  app/constants/urls.ts
  app/util/networks/index.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: No QA Needed/E2E Only, team-linea, release-7.9.0

#7273 Add logging controller
  app/core/Engine.test.js
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: team-confirmations-system

#7263 feat: Upgrade Mobile Storybook to version 6.5
  .storybook/index.js
  .storybook/main.js
  .storybook/preview.js
  .storybook/storybook.requires.js
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.constants.ts
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.stories.tsx
  app/component-library/components/Cards/Card/Card.stories.tsx
  index.js
  ios/Podfile.lock
  metro.config.js
  package.json
  storybook/addons.js
  yarn.lock
Labels: Spot Check on the Release Build, team-design-system

#7287 test: increase Confirmations e2e stability by terminating ganache on hooks
  e2e/fixtures/fixture-helper.js
  e2e/specs/confirmations/advanced-gas-fees.spec.js
  e2e/specs/confirmations/send-erc721.spec.js
  e2e/specs/confirmations/send-eth-flow.spec.js
  e2e/specs/confirmations/send-eth-multisig.spec.js
  e2e/specs/confirmations/sign-messages.spec.js
Labels: team-confirmations-secure-ux-PR

#7035 fix: legacy gas fee edit modal
  app/components/UI/CustomGasModal/CustomGasModal.tsx
  app/components/UI/CustomGasModal/CustomGasModal.types.ts
  app/components/UI/CustomGasModal/__snapshots__/CustomGasModal.test.tsx.snap
  app/components/UI/EditGasFee1559/index.test.tsx
  app/components/UI/EditGasFeeLegacy/index.test.tsx
  app/components/UI/EditGasFeeLegacyUpdate/EditGasFeeLegacyUpdate.test.tsx
  app/components/UI/EditGasFeeLegacyUpdate/__snapshots__/EditGasFeeLegacyUpdate.test.tsx.snap
  app/components/UI/EditGasFeeLegacyUpdate/__snapshots__/index.test.tsx.snap
  app/components/UI/EditGasFeeLegacyUpdate/index.test.tsx
  app/components/UI/EditGasFeeLegacyUpdate/index.tsx
  app/components/UI/EditGasFeeLegacyUpdate/styles.ts
  app/components/UI/EditGasFeeLegacyUpdate/types.ts
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/types.ts
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/core/GasPolling/GasPolling.ts
  app/core/GasPolling/types.ts
  locales/languages/en.json
  patches/@metamask+transaction-controller+4.0.1.patch
Labels: team-confirmations-secure-ux-PR

#7197 fix: Key the address book by chain ID instead of network ID
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.tsx
  app/components/UI/ApproveTransactionReview/AddNickname/index.tsx
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/AddressList/AddressList.tsx
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/Contacts/index.js
  app/components/hooks/useExistingAddress.test.ts
  app/components/hooks/useExistingAddress.ts
  app/reducers/user/index.js
  app/store/migration-data/amibiguous-networks.json
  app/store/migrations.js
  app/store/migrations.test.js
  app/util/address/index.js
  app/util/checkAddress.test.ts
  app/util/checkAddress.ts
  app/util/test/initial-root-state.ts
  app/util/transactions/index.js
  package.json
Labels: QA Passed, team-mobile-client, team-mobile-platform

#7308 fix: Fix e2e smoke tests caused by failed pod install step
  ios/Podfile.lock
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#7309 fix: Fix Podfile.lock versions
  ios/Podfile.lock
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#7289 fix: update reject message transaction
  app/components/Views/ApproveView/Approve/index.js
Labels: Ledger

#7279 Feat: add ledger error nonce too low
  app/components/UI/LedgerModals/LedgerConfirmationModal.tsx
  app/components/UI/LedgerModals/Steps/ErrorStep.tsx
  app/components/hooks/useLedgerBluetooth.tsx
  locales/languages/en.json
Labels: Ledger

#7324 refactor: Add accessibilityRole to text component
  app/component-library/components-temp/CustomSpendCap/__snapshots__/CustomSpendCap.test.tsx.snap
  app/component-library/components/Banners/Banner/__snapshots__/Banner.test.tsx.snap
  app/component-library/components/BottomSheets/BottomSheetFooter/__snapshots__/BottomSheetFooter.test.tsx.snap
  app/component-library/components/BottomSheets/BottomSheetHeader/__snapshots__/BottomSheetHeader.test.tsx.snap
  app/component-library/components/Texts/Text/Text.tsx
  app/component-library/components/Texts/Text/__snapshots__/Text.test.tsx.snap
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/Approval/TemplateConfirmation/Templates/__snapshots__/ApprovalResult.test.tsx.snap
  app/components/UI/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/UI/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  app/components/UI/CollectibleModal/__snapshots__/CollectibleModal.test.tsx.snap
  app/components/UI/CustomGasModal/__snapshots__/CustomGasModal.test.tsx.snap
  app/components/UI/EditGasFeeLegacyUpdate/__snapshots__/EditGasFeeLegacyUpdate.test.tsx.snap
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/AddAsset/__snapshots__/AddAsset.test.tsx.snap
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/SendFlow/AddressElement/__snapshots__/AddressElement.test.tsx.snap
  app/components/Views/SendFlow/AddressList/__snapshots__/AddressList.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/ShowDisplayMediaNFTSheet/__snapshots__/ShowDisplayNFTMediaSheet.test.tsx.snap
  app/components/Views/ShowNFTSheet/__snapshots__/ShowNFTSheet.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#7217 fix: all regex in one file
  app/component-library/components/Icons/Icon/scripts/generate-assets.js
  app/components/Base/Keypad/createKeypadRule.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AddCustomToken/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/BrowserUrlBar/BrowserUrlBar.tsx
  app/components/UI/Ramp/Views/Settings/AddActivationKey.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/Views/BrowserTab/index.js
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/ResetPassword/index.js
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/SendFlow/AddressList/AddressList.tsx
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/store/migrations.js
  app/util/ENSUtils.js
  app/util/address/index.js
  app/util/browser/index.ts
  app/util/networks/index.js
  app/util/number/index.js
  app/util/regex/index.test.ts
  app/util/regex/index.ts
  app/util/regex/index.types.ts
  app/util/sentryUtils.js
  app/util/validators/index.js
Labels: No QA Needed/E2E Only, team-mobile-client, release-7.9.0

#7314 fix: transaction controller patch
  patches/@metamask+transaction-controller+4.0.1.patch
Labels: No QA Needed/E2E Only, team-confirmations-secure-ux-PR

#7271 fix: signature event names
  app/components/UI/MessageSign/MessageSign.tsx
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/TypedSign/index.js
Labels: needs-dev-review, team-confirmations-secure-ux, team-confirmations-secure-ux-PR

#7261 feat: Add header to watch asset page
  app/components/UI/WatchAssetRequest/index.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#7264 [Transaction Controller Migration] Rename rawTransaction to rawTx
  app/store/migrations.js
  app/store/migrations.test.js
  patches/@metamask+transaction-controller+4.0.1.patch
Labels: QA Passed

#7125 refactor: Update controller packages to core v49
  app/components/UI/ApproveTransactionReview/index.js
  app/components/Views/Asset/index.js
  app/components/Views/TransactionsView/index.js
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.ts
  app/selectors/networkController.ts
  app/store/migrations.js
  app/store/migrations.test.js
  app/util/networks/handleNetworkSwitch.test.ts
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+assets-controllers+7.0.0.patch
  patches/@metamask+network-controller+7.0.0.patch
  patches/@metamask+network-controller+8.0.0.patch
  patches/@metamask+transaction-controller+5.0.0.patch
  patches/web3-provider-engine+16.0.5.patch
  scripts/patch-transaction-controller.sh
  yarn.lock
Labels: QA Passed, team-mobile-platform

#7212 feat: extend the time we resume the session without showing OTP
  android/app/build.gradle
  app/components/Nav/App/index.js
  app/core/DeeplinkManager.js
  app/core/SDKConnect/SDKConnect.ts
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Labels: team-sdk, QA in Progress

#7345 feat: remove unused react-native-webrtc package
  app/util/test/testSetup.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-client, release-7.9.0

#7351 fix: Add chaijs/get-func-name resolution
  yarn.lock
Labels: dependencies, team-security

#7343 test: revert ganache termination on fixtures
  e2e/fixtures/fixture-helper.js
  e2e/specs/confirmations/advanced-gas-fees.spec.js
  e2e/specs/confirmations/send-erc721.spec.js
  e2e/specs/confirmations/send-eth-flow.spec.js
  e2e/specs/confirmations/send-eth.spec.js
  e2e/specs/confirmations/sign-messages.spec.js
Labels: team-confirmations-secure-ux-PR

#7341 feat(ramp): add webview debug by env vars
  android/app/build.gradle
  android/app/src/main/java/io/metamask/MainApplication.java
  app/components/UI/Ramp/sdk/index.tsx
Labels: team-ramp, team-mobile-platform

#7277 chore: 5.8.1 Sentry SDK Upgrade
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, release-7.9.0

#7159 refactor: custom network component
  app/components/UI/NetworkModal/index.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  locales/languages/en.json
Labels: needs-dev-review, team-mobile-platform

#7362 fix(action): update fetch-depth parameter to fetch only the last commit
  .github/workflows/check-pr-labels.yml
Labels: team-mobile-client, team-mobile-platform

#7364 chore: bump Node to v16.20
  bitrise.yml
  package.json
Labels: No QA Needed/E2E Only, team-accounts

#7366 ci(bitrise): trigger smoke test on every merge to main
  bitrise.yml
Labels: team-mobile-client
