Repository MetaMask/metamask-mobile, pull requests merged in 2023-03, with the labels that each got.

#5858 [BUMP] 6.1.0 RC3
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, team-mobile-client, release-6.1

#5825 [Improvement] Send Token E2E test
  app/components/UI/AssetOverview/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/Notification/BaseNotification/index.js
  app/components/Views/SendFlow/AddressInputs/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Amount/index.test.tsx
  app/components/Views/SendFlow/Confirm/index.js
  e2e/pages/TransactionConfirmView.js
  wdio.conf.js
  wdio/features/AddressFlow.feature
  wdio/features/SendToken.feature
  wdio/features/testIDs/Screens/AmountScreen.testIds.js
  wdio/helpers/Gestures.js
  wdio/helpers/Selectors.js
  wdio/screen-objects/AddCustomImportTokensScreen.js
  wdio/screen-objects/AmountScreen.js
  wdio/screen-objects/ChangePasswordScreens.js
  wdio/screen-objects/CommonScreen.js
  wdio/screen-objects/ImportAccountScreen.js
  wdio/screen-objects/Modals/SkipAccountSecurityModal.js
  wdio/screen-objects/Onboarding/MetaMetricsScreen.js
  wdio/screen-objects/SendScreen.js
  wdio/screen-objects/TokenOverviewScreen.js
  wdio/screen-objects/TransactionConfirmScreen.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Components/Notification.testIds.js
  wdio/screen-objects/testIDs/Screens/AmountScreen.testIds.js
  wdio/screen-objects/testIDs/Screens/TokenOverviewScreen.testIds.js
  wdio/screen-objects/testIDs/Screens/TransactionConfirm.testIds.js
  wdio/step-definitions/change-password.steps.js
  wdio/step-definitions/common-steps.js
  wdio/step-definitions/contacts.steps.js
  wdio/step-definitions/import-tokens.steps.js
  wdio/step-definitions/import-wallet-via-private-key.steps.js
  wdio/step-definitions/login-view.steps.js
  wdio/step-definitions/send-flow.steps.js
Labels: needs-dev-review, Appium

#5309 New transaction header for approve and approval modal
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.constants.ts
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.styles.ts
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.types.ts
  app/components/UI/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/UI/ApproveTransactionHeader/index.ts
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/ApproveTransactionReview/styles.ts
  app/components/UI/TransactionReview/index.js
Labels: design-qa, QA Passed, team-confirmations-PR

#5842 Display internet protocol on the new origin pill
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.types.ts
  app/components/Views/AccountConnect/AccountConnectSingle/AccountConnectSingle.tsx
  app/components/Views/AccountConnect/AccountConnectSingle/AccountConnectSingle.types.ts
Labels: QA Passed, team-confirmations-PR

#5864 Feat/ledger integration
  android/app/src/main/AndroidManifest.xml
  app/components/Views/LedgerConnect/hooks/useBluetoothPermissions.ts
  app/core/Vault.js
  package.json
Labels: needs-dev-review, Ledger

#5863 [FIX] Initial Analytics Opt Out
  app/components/Views/Settings/SecuritySettings/Sections/DeleteMetaMetricsData/DeleteMetaMetricsData.tsx
Labels: Spot Check on the Release Build, release-6.2

#5868 Update Permitted Account Balance
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/TransactionReview/index.js
Labels: needs-dev-review

#5859 [Feature] Scan QR icon on wallet view
  app/components/UI/Navbar/index.js
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.test.tsx
Labels: Spot Check on the Release Build

#5848 Hotfix remove eth sign
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/AdvancedSettings/index.test.tsx
  app/core/RPCMethods/RPCMethodMiddleware.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA Passed

#5880 Display internet protocol on the new origin pill (Update)
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.types.ts
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.types.ts
Labels: Spot Check on the Release Build, team-confirmations-PR

#5892 [IMPROVEMENT] Analytics Alert
  app/components/Views/Settings/SecuritySettings/index.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi-in.json
  locales/languages/hi.json
  locales/languages/id-id.json
  locales/languages/id.json
  locales/languages/ja-jp.json
  locales/languages/ja.json
  locales/languages/ko-kr.json
  locales/languages/ko.json
  locales/languages/pt-br.json
  locales/languages/pt.json
  locales/languages/ru-ru.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh-cn.json
  locales/languages/zh.json
Labels: Spot Check on the Release Build, release-6.2

#5802 Consolidate Bitrise setup
  bitrise.yml
Labels: No QA Needed/Detox Only

#5906 [FIX] 6.1.2 - Reject biometrics in iOS
  app/components/Views/ChoosePassword/index.js
Labels: needs-dev-review

#5907 Update branch checksum in Podlock
  .gitmodules
  ios/Podfile.lock
Labels: type-bug, No QA Needed/Detox Only, team-mobile-client, release-6.2

#5870 On-ramp: Add buy crypto home button
  app/components/UI/Tokens/index.js
  locales/languages/en.json
Labels: on-ramp, Spot Check on the Release Build, release-6.2

#5901 [FIX] Update assets-controllers patch
  patches/@metamask+assets-controllers+1.0.1.patch
  patches/@metamask+assets-controllers+3.0.1.patch
Labels: QA Passed

#5924 Update the README setup steps
  README.md
Labels: No QA Needed/Detox Only

#5890 Swap with wallet connect is broken
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.types.ts
  app/components/UI/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/TransactionReview/index.js
Labels: QA Passed, team-confirmations-PR, release-6.2

#5782 On-ramp: Upgrade on-ramp-sdk to 1.9.0
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetQuotes.tsx
  app/components/UI/FiatOnRampAggregator/hooks/useInAppBrowser.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.test.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.ts
  package.json
  yarn.lock
Labels: QA Passed, on-ramp, release-6.2

#5943 Upgrade on-ramp-sdk to 1.9.0 (#5782)
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetQuotes.tsx
  app/components/UI/FiatOnRampAggregator/hooks/useInAppBrowser.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.test.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.ts
  package.json
  yarn.lock
Labels: release-6.2

#5947 E2E Establish performance baseline
  wdio/features/AppLaunchTime.feature
  wdio/features/Performance/AppLaunchTime.feature
  wdio/screen-objects/Onboarding/ImportFromSeedScreen.js
  wdio/step-definitions/app-launch-times.steps.js
  wdio/step-definitions/common-steps.js
Labels: team-mobile-client, e2e, Performance Improvement

#5949 INFRA-837: Add sonar integration
  .github/workflows/sonar.yml
  sonar-project.properties
Labels: No QA Needed/Detox Only, release-6.3

#5964 Added translations for MC 0.5
  locales/languages/en.json
Labels: No QA Needed/Detox Only, team-mobile-client, release-6.3

#5962 [FIX] Remove select address as a prop on App index.js
  app/components/Nav/App/__snapshots__/index.test.tsx.snap
  app/components/Nav/App/index.js
  app/components/Nav/App/index.test.tsx
Labels: type-bug, QA Passed, team-mobile-client, release-6.2

#5966 [FIX] Prevent account selection reset
  app/components/Nav/App/__snapshots__/index.test.tsx.snap
  app/components/Nav/App/index.js
  app/components/Nav/App/index.test.tsx
Labels: type-bug, Spot Check on the Release Build, team-mobile-client, release-6.2

#5952 Extract test accounts to env vars
  .js.env.example
  README.md
  e2e/specs/contract-nickname.failing.js
  e2e/specs/deeplinks.spec.js
  e2e/specs/delete-wallet.spec.js
  e2e/specs/import-seed-phrase.spec.js
  e2e/specs/wallet-tests.spec.js
  wdio/helpers/Accounts.js
Labels: No QA Needed/E2E Only

#5902 improv: add workflow triggers for tags on release and QA
  bitrise.yml
Labels: needs-qa

#5967 [UPDATE] pin sonar action to commit
  .github/workflows/sonar.yml
Labels: No QA Needed/E2E Only, release-6.3

#5972 [UPDATE] sonar action configuration
  .github/workflows/sonar.yml
Labels: No QA Needed/E2E Only

#5968 Move `eth_sendTransaction` method handler to a separate module
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/core/RPCMethods/index.js
  metro.config.js
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, needs-dev-review

#5973 Revert Relative Path for EditGas
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/ChoosePassword/index.js
Labels: type-bug, QA Regression Testing, release-6.2, team-confirmations-system

#5976 On-ramp: Add #5870 localization
  app/components/UI/Tokens/index.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id-id.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt-br.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi-vn.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: QA Passed, release-6.2

#5970 [FIX] Fix displaying balance on watch asset screen
  app/components/UI/WatchAssetRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/WatchAssetRequest/index.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
Labels: type-bug, QA Passed, team-mobile-client, release-6.2

#5785 feat: add portfolio button to asset action buttons
  app/components/UI/AccountOverview/index.js
  app/components/UI/AssetActionButton/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetActionButton/index.js
  app/components/Views/Browser/index.js
  app/components/Views/Wallet/index.test.tsx
  app/core/Analytics/MetaMetrics.events.ts
  app/core/AppConstants.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: QA Passed, team-mobile-client, release-6.3

#5963 Update Approve Data for Custom Spend Cap
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/TransactionReview/TransactionReviewDetailsCard/index.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#5839 Clear Hex data when Token Transfer reverts ETH
  app/components/Views/SendFlow/Amount/index.js
  app/constants/transaction.ts
Labels: needs-qa, QA'd but questions, team-confirmations-secure-ux-PR

#5998 Ignore e2e test artifacts
  .gitignore
Labels: No QA Needed/E2E Only, release-6.3

#5975 Fix 18 JS type errors for TSC to output 683 TS/TSX errors
  app/__mocks__/@exodus/react-native-payments.js
  app/__mocks__/@react-native-async-storage/async-storage.js
  app/__mocks__/react-native-i18n.js
  app/core/Engine.ts
Labels: No QA Needed/E2E Only, needs-dev-review

#5882 Skip type checking library declaration files
  tsconfig.json
Labels: tech-debt, No QA Needed/E2E Only, needs-dev-review

#5948 [FEATURE] SDK Session Persistence
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/AccountApproval/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/MessageSign/index.js
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/SDKFeedback/index.tsx
  app/components/UI/SDKLoading/index.tsx
  app/components/UI/SDKLoading/logo-dark.json
  app/components/UI/SDKLoading/logo-light.json
  app/components/UI/TransactionHeader/index.js
  app/components/UI/TransactionReview/index.js
  app/components/UI/TypedSign/index.js
  app/components/Views/SDKFeedbackModal/SDKFeedbackModal.tsx
  app/components/Views/SDKLoadingModal/SDKLoadingModal.tsx
  app/components/Views/SDKSessionsManager/SDKSessionItem.tsx
  app/components/Views/SDKSessionsManager/SDKSessionsManager.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/index.js
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/core/AppConstants.js
  app/core/DeeplinkManager.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/generateOTP.util.ts
  app/core/SDKConnect/wait.util.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: SDK, QA Passed, Code Impact - Medium, Priority - Medium, release-6.3

#6021 [REVERT] Move `eth_sendTransaction` method handler to a separate module (#5968)
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/core/RPCMethods/index.js
  metro.config.js
  package.json
  yarn.lock
Labels: Spot Check on the Release Build, team-mobile-client, release-6.3

#6016 On-ramp: Add accessibility label to custom action images
  app/components/UI/FiatOnRampAggregator/components/CustomActionButton.tsx
  package.json
  yarn.lock
Labels: on-ramp, Spot Check on the Release Build, release-6.3

#6023 [FIX] ToU modal back press event disabled
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.tsx
  app/util/termsOfUse/termsOfUse.ts
Labels: needs-qa, release-6.3

#6019 On-ramp: Add #6009 strings
  locales/languages/en.json
Labels: needs-dev-review, on-ramp, translation, team-mobile-client

#5997 [FEATURE] Account selector on swaps screen
  app/components/UI/FiatOnRampAggregator/components/AccountSelector.tsx
  app/components/UI/Swaps/index.js
Labels: QA in Progress, team-mobile-client, release-6.3

#5926 [FEATURE] Create detectSnapLocation method to install a Snap From NPM iOS
  app/components/Views/Snaps/SnapsDev.tsx
  app/core/Snaps/SnapDuplex.ts
  app/core/Snaps/location/http.ts
  app/core/Snaps/location/local.ts
  app/core/Snaps/location/location.ts
  app/core/Snaps/location/npm.ts
  app/util/snaps/fetchNPMPackage.ts
  ios/Light-Swift-Untar-V2/Light-Swift-Untar.swift
  ios/MetaMask-Bridging-Header.h
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile
  ios/Podfile.lock
  ios/RNTar.m
  ios/RNTar.swift
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, team-key-management, mobile-snaps

#5996 Add document to refactor signature request code
  docs/confirmation-refactoring/signature-requests/README.md
  docs/confirmation-refactoring/signature-requests/eth_sign.png
  docs/confirmation-refactoring/signature-requests/personal_sign.png
  docs/confirmation-refactoring/signature-requests/sign_typed_data_v1.png
  docs/confirmation-refactoring/signature-requests/sign_typed_data_v3.png
  docs/confirmation-refactoring/signature-requests/sign_typed_data_v4.png
  docs/confirmation-refactoring/signature-requests/signature_request_flow.png.png
Labels: team-confirmations-secure-ux-PR

#6039 Improve Android setup instructions
  README.md
Labels: No QA Needed/E2E Only, needs-dev-review, area-documentation

#6025 [FIX] Add url-parse lib to our MainNavigator
  app/components/Nav/Main/MainNavigator.js
Labels: needs-qa, Spot Check on the Release Build, release-6.3

#5927 Componentize Form Components
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.constants.ts
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.tsx
  app/component-library/components/Buttons/ButtonIcon/index.ts
  app/component-library/components/Form/HelpText/HelpText.constants.ts
  app/component-library/components/Form/HelpText/HelpText.stories.tsx
  app/component-library/components/Form/HelpText/HelpText.test.tsx
  app/component-library/components/Form/HelpText/HelpText.tsx
  app/component-library/components/Form/HelpText/HelpText.types.ts
  app/component-library/components/Form/HelpText/README.md
  app/component-library/components/Form/HelpText/__snapshots__/HelpText.test.tsx.snap
  app/component-library/components/Form/HelpText/index.ts
  app/component-library/components/Form/Label/Label.constants.ts
  app/component-library/components/Form/Label/Label.stories.tsx
  app/component-library/components/Form/Label/Label.test.tsx
  app/component-library/components/Form/Label/Label.tsx
  app/component-library/components/Form/Label/Label.types.ts
  app/component-library/components/Form/Label/README.md
  app/component-library/components/Form/Label/__snapshots__/Label.test.tsx.snap
  app/component-library/components/Form/Label/index.ts
  app/component-library/components/Form/TextField/README.md
  app/component-library/components/Form/TextField/TextField.constants.tsx
  app/component-library/components/Form/TextField/TextField.stories.tsx
  app/component-library/components/Form/TextField/TextField.styles.ts
  app/component-library/components/Form/TextField/TextField.test.tsx
  app/component-library/components/Form/TextField/TextField.tsx
  app/component-library/components/Form/TextField/TextField.types.ts
  app/component-library/components/Form/TextField/__snapshots__/TextField.test.tsx.snap
  app/component-library/components/Form/TextField/foundation/Input/Input.constants.ts
  app/component-library/components/Form/TextField/foundation/Input/Input.styles.ts
  app/component-library/components/Form/TextField/foundation/Input/Input.test.tsx
  app/component-library/components/Form/TextField/foundation/Input/Input.tsx
  app/component-library/components/Form/TextField/foundation/Input/Input.types.ts
  app/component-library/components/Form/TextField/foundation/Input/README.md
  app/component-library/components/Form/TextField/foundation/Input/__snapshots__/Input.test.tsx.snap
  app/component-library/components/Form/TextField/foundation/Input/index.ts
  app/component-library/components/Form/TextField/index.ts
  app/component-library/components/Form/TextFieldSearch/README.md
  app/component-library/components/Form/TextFieldSearch/TextFieldSearch.constants.ts
  app/component-library/components/Form/TextFieldSearch/TextFieldSearch.stories.tsx
  app/component-library/components/Form/TextFieldSearch/TextFieldSearch.test.tsx
  app/component-library/components/Form/TextFieldSearch/TextFieldSearch.tsx
  app/component-library/components/Form/TextFieldSearch/TextFieldSearch.types.ts
  app/component-library/components/Form/TextFieldSearch/__snapshots__/TextFieldSearch.test.tsx.snap
  app/component-library/components/Form/TextFieldSearch/index.ts
  app/component-library/components/Form/TextInput/TextInput.constants.ts
  app/component-library/components/Form/TextInput/TextInput.stories.tsx
  app/component-library/components/Form/TextInput/TextInput.styles.ts
  app/component-library/components/Form/TextInput/TextInput.test.tsx
  app/component-library/components/Form/TextInput/TextInput.tsx
  app/component-library/components/Form/TextInput/TextInput.types.ts
  app/component-library/components/Form/TextInput/index.ts
  app/component-library/components/Icons/Icon/assets/customize.svg
  app/component-library/components/Icons/Icon/assets/hardware.svg
  app/component-library/components/Icons/Icon/assets/search.svg
  app/component-library/components/Texts/Text/Text.constants.ts
  app/component-library/components/Texts/Text/Text.styles.ts
  app/component-library/components/Texts/Text/Text.tsx
  app/component-library/components/Texts/Text/Text.types.ts
  app/component-library/components/Texts/Text/index.ts
  storybook/storyLoader.js
Labels: No QA Needed/E2E Only, team-design-system, release-6.4

#6045 [FIX] Fix broken SDK init call
  app/components/Nav/App/index.js
Labels: type-bug, needs-dev-review, team-mobile-client, release-6.3

#6046 [FIX] Fix broken SDK init call
  app/components/Nav/App/index.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, release-6.3

#6047 [BUMP] 6.3.0 RC2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-client, release-6.3

#5933 Componentize Banner Component
  app/component-library/components/Banners/Banner/Banner.constants.ts
  app/component-library/components/Banners/Banner/Banner.stories.tsx
  app/component-library/components/Banners/Banner/Banner.tsx
  app/component-library/components/Banners/Banner/Banner.types.ts
  app/component-library/components/Banners/Banner/README.md
  app/component-library/components/Banners/Banner/foundation/BannerBase/BannerBase.constants.tsx
  app/component-library/components/Banners/Banner/foundation/BannerBase/BannerBase.styles.ts
  app/component-library/components/Banners/Banner/foundation/BannerBase/BannerBase.tsx
  app/component-library/components/Banners/Banner/foundation/BannerBase/BannerBase.types.ts
  app/component-library/components/Banners/Banner/foundation/BannerBase/index.ts
  app/component-library/components/Banners/Banner/index.ts
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.constants.ts
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.stories.tsx
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.styles.ts
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.test.tsx
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.tsx
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.types.ts
  app/component-library/components/Banners/Banner/variants/BannerAlert/README.md
  app/component-library/components/Banners/Banner/variants/BannerAlert/__snapshots__/BannerAlert.test.tsx.snap
  app/component-library/components/Banners/Banner/variants/BannerAlert/index.ts
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.constants.ts
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.stories.tsx
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.styles.ts
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.test.tsx
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.tsx
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.types.ts
  app/component-library/components/Banners/Banner/variants/BannerTip/README.md
  app/component-library/components/Banners/Banner/variants/BannerTip/__snapshots__/BannerTip.test.tsx.snap
  app/component-library/components/Banners/Banner/variants/BannerTip/assets/fox-chat.png
  app/component-library/components/Banners/Banner/variants/BannerTip/assets/fox-greeting.png
  app/component-library/components/Banners/Banner/variants/BannerTip/index.ts
  app/component-library/components/Texts/Text/Text.types.ts
  storybook/storyLoader.js
Labels: No QA Needed/E2E Only, team-design-system, release-6.4

#6002 [Feature] Install snap from dapp iOS
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Nav/Main/index.js
  app/components/UI/SnapsExecutionWebView/styles.ts
  app/components/Views/Snaps/SnapsDev.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.js
  app/core/Snaps/SnapsState.ts
  app/core/Snaps/createSnapMethodMiddleware.ts
  app/core/Snaps/location/npm.ts
  ios/Light-Swift-Untar-V2/Light-Swift-Untar.swift
  ios/RNTar.swift
Labels: No QA Needed/E2E Only, mobile-snaps

#6053 [Patch fix] Android build for snaps integration system
  app/core/Snaps/location/fetch.ts
  app/core/Snaps/location/npm.ts
  app/util/browser/downloadFile.ts
  app/util/snaps/fetchNPMPackage.ts
  ios/Podfile.lock
  package.json
  patches/redux-persist-filesystem-storage+3.0.0.patch
  yarn.lock
Labels: No QA Needed/E2E Only

#5887 To address should be visible on contract interaction pages
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountFromToInfoCard/__snapshots__/AccountFromToInfoCard.test.tsx.snap
  app/components/UI/AddressInputs/__snapshots__/index.test.js.snap
  app/components/UI/AddressInputs/index.js
  app/components/UI/AddressInputs/index.test.js
  app/components/UI/TransactionReview/index.js
  app/components/Views/SendFlow/Confirm/index.js
Labels: QA Passed, team-confirmations-secure-ux-PR

#5900 Creating reusable address from/to component.
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.styles.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountFromToInfoCard/__snapshots__/AccountFromToInfoCard.test.tsx.snap
  app/components/UI/AccountFromToInfoCard/index.ts
  app/components/UI/AddressInputs/__snapshots__/index.test.js.snap
  app/components/UI/AddressInputs/index.js
  app/components/UI/AddressInputs/index.test.js
  app/components/UI/TransactionReview/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/Confirm/styles.ts
  app/components/Views/SendFlow/SendTo/index.js
Labels: QA Passed, team-confirmations-secure-ux-PR

#6037 Feature/update sdk persistence
  app/components/UI/AccountApproval/index.js
  app/components/Views/SDKSessionsManager/SDKSessionItem.tsx
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/utils/generateOTP.util.ts
  app/core/SDKConnect/utils/parseSource.ts
  app/core/SDKConnect/utils/wait.util.ts
  app/core/SDKConnect/wait.util.ts
Labels: SDK, QA Passed, Code Impact - Low, Priority - Medium

#6065 applied fix: switching to rpc network redirects to linea
  app/components/UI/NetworkList/index.js
Labels: QA Passed, release-6.3

#6060 Refactor send transaction v2
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/core/RPCMethods/index.js
  metro.config.js
Labels: Spot Check on the Release Build, release-6.4

#6070 [FIX] Fix address bar input on iOS
  app/components/Views/BrowserUrlModal/BrowserUrlModal.tsx
Labels: QA Passed, Spot Check on the Release Build, release-6.3

#6072 fix: linea network order in dropdown and feature toggle removal for linea
  app/components/UI/NetworkList/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/util/networks/index.js
Labels: QA Passed

#6078 Fix broken SDK init call
  app/components/Nav/App/index.js
Labels: type-bug, No QA Needed/E2E Only, needs-dev-review, team-mobile-client, release-6.2

#6081 Update ESLint rules for scripts
  .eslintrc.js
  scripts/metamask-bot-build-announce-bitrise.js
  scripts/metamask-bot-build-generate-static-assets.js
Labels: No QA Needed/E2E Only, needs-dev-review

#6084 [IMPROVEMENT] - Route Support Page to In-App Browser to allow Dapp Connections
  app/components/UI/DrawerView/index.js
Labels: QA Passed, release-6.3

#5934 Bump node version to 16.13.0
  .nvmrc
  README.md
  bitrise.yml
  package.json
Labels: No QA Needed/E2E Only, release-6.4

#6091 [FIX] Fix 6038 null address issue
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/TransactionReview/index.js
Labels: QA Passed, team-mobile-client, release-6.3
