Repository MetaMask/metamask-mobile, pull requests merged in 2023-07, with the labels that each got.

#6741 fix: onPress prop added to SelectItem component
  app/component-library/components/Select/Select/SelectItem/SelectItem.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: No QA Needed/E2E Only

#6752 refactor: Use selectors for currency rate controller state access
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/OnboardingWizard/Step3/index.js
  app/components/UI/PaymentRequest/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/GasEditModal.js
  app/components/UI/Swaps/components/QuotesModal.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  app/components/UI/Tokens/index.tsx
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionReview/TransactionReviewData/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/Asset/index.js
  app/components/Views/AssetDetails/index.tsx
  app/components/Views/DetectedTokens/components/Token.tsx
  app/components/Views/GasEducationCarousel/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/Settings/GeneralSettings/index.js
  app/components/Views/TransactionsView/index.js
  app/components/Views/Wallet/index.tsx
  app/components/hooks/useAccounts/useAccounts.ts
  app/core/GasPolling/GasPolling.ts
  app/selectors/currencyRateController.ts
Labels: No QA Needed/E2E Only

#6753 fix: Delete collectible media reproductor
  app/components/UI/CollectibleMediaReproductor/index.js
Labels: needs-dev-review, Spot Check on the Release Build, release-7.4.0

#6767 fix: prevent infinite spinner when adding network
  app/components/Nav/Main/RootRPCMethodsUI.js
Labels: needs-qa, needs-dev-review, team-confirmations-system, release-7.3.0

#6739 fix: deeplink connection using metamask://connect
  app/core/DeeplinkManager.js
Labels: deeplinks, team-sdk, QA Passed

#6761 fix: 7.3.0 - update terms of use metrics
  app/core/Analytics/MetaMetrics.events.ts
  app/util/termsOfUse/termsOfUse.ts
Labels: needs-dev-review, Spot Check on the Release Build, release-7.3.0

#6772 fix: update cookie-tough dependency
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, needs-dev-review, release-7.4.0

#6587 [FIX] Improves handling of missing WCv2 Project ID
  app/components/Nav/App/index.js
  app/components/Views/WalletConnectSessions/index.js
  app/core/WalletConnect/WalletConnectV2.ts
Labels: QA Passed, Code Impact - Low, Priority - High, WalletConnect

#6768 fix(test): detox: fix delete-wallet.spec.js and add back to smoke tests
  e2e/pages/Drawer/Settings/SettingsView.js
  e2e/specs/delete-wallet.spec.js
Labels: needs-dev-review, team-mobile-client, e2e, release-7.3.0

#6790 fix: update snapshot for linea mainnet
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: needs-dev-review

#6754 fix: sending an ERC20 token with an amount with more decimals than the token decimal, results in nothing
  app/components/Views/SendFlow/Amount/index.js
  app/util/number/index.js
  app/util/number/index.test.ts
Labels: QA Passed, team-confirmations-secure-ux-PR, release-7.4.0

#6755 feat: sdk protocol update
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/utils/wait.util.ts
  package.json
  yarn.lock
Labels: team-sdk, needs-dev-review, release-7.4.0

#6766 style: Added horizontalAlignment to Accordions
  app/component-library/components/Accordions/Accordion/Accordion.constants.ts
  app/component-library/components/Accordions/Accordion/Accordion.stories.tsx
  app/component-library/components/Accordions/Accordion/Accordion.test.tsx
  app/component-library/components/Accordions/Accordion/Accordion.tsx
  app/component-library/components/Accordions/Accordion/Accordion.types.ts
  app/component-library/components/Accordions/Accordion/README.md
  app/component-library/components/Accordions/Accordion/__snapshots__/Accordion.test.tsx.snap
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.constants.ts
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.stories.tsx
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.styles.ts
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.test.tsx
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.tsx
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.types.ts
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/README.md
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/__snapshots__/AccordionHeader.test.tsx.snap
  app/component-library/components/Accordions/Accordion/index.ts
Labels: needs-dev-review, design-system, team-design-system

#6793 v7.3.0 RC2: build 1144
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, release-7.3.0

#6796 ci: Fix pipelines to reflect running tests on android detox
  bitrise.yml
Labels: No QA Needed/E2E Only

#6782 feat: wc2 dependencies update and handle switchNetwork
  app/core/AppConstants.js
  app/core/WalletConnect/WalletConnectV2.ts
  app/core/WalletConnect/wc-utils.ts
  package.json
  yarn.lock
Labels: team-sdk, QA'd - Issues Found, release-7.4.0

#6795 feat(MMPD-546): update portfolio icon
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/styles.ts
Labels: Spot Check on the Release Build, release-7.4.0

#6758 refactor: Use selectors for tokens controller state access
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/AccountApproval/index.js
  app/components/UI/ApproveTransactionReview/VerifyContractDetails/VerifyContractDetails.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/PaymentRequest/index.js
  app/components/UI/Tokens/index.tsx
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionReview/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/Asset/index.js
  app/components/Views/AssetDetails/index.tsx
  app/components/Views/DetectedTokens/index.tsx
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/TransactionsView/index.js
  app/components/Views/Wallet/index.tsx
  app/reducers/swaps/index.js
  app/selectors/tokensController.ts
Labels: No QA Needed/E2E Only, release-7.4.0

#6799 feat: prioritize resume over deeplink to accelerate reconnection flow
  app/core/SDKConnect/SDKConnect.ts
Labels: team-sdk, QA Passed, release-7.4.0

#6784 refactor: Use selectors for token list controller state access
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/AssetSearch/index.tsx
  app/components/UI/PaymentRequest/AssetList/index.tsx
  app/components/UI/PaymentRequest/index.js
  app/components/UI/TokenImage/index.js
  app/components/UI/TransactionReview/index.js
  app/components/Views/Send/index.js
  app/reducers/tokens/index.ts
  app/selectors/tokenListController.ts
Labels: No QA Needed/E2E Only, release-7.4.0

#6679 feat(on-ramp): upgrade on-ramp-sdk to v1.22.0 with abort controller support
  app/components/UI/FiatOnRampAggregator/hooks/useSDKMethod.ts
  package.json
  yarn.lock
Labels: QA Passed, team-onramp, release-7.4.0

#6805 feat(on-ramp): upgrade on-ramp SDK with apple pay support
  app/components/UI/FiatOnRampAggregator/hooks/useApplePay.ts
  app/components/UI/FiatOnRampAggregator/sdk/index.tsx
  ios/MetaMask/MetaMask.entitlements
  locales/languages/en.json
Labels: team-onramp, Spot Check on the Release Build, release-7.4.0

#6808 fix: Update button constants structure to prevent require cycle
  app/component-library/components/Buttons/Button/Button.constants.ts
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.constants.ts
Labels: needs-dev-review

#6759 refactor: Use selectors for token rates controller state access
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/PaymentRequest/index.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  app/components/UI/Tokens/index.tsx
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionReview/TransactionReviewData/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/AssetDetails/index.tsx
  app/components/Views/DetectedTokens/components/Token.tsx
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/core/GasPolling/GasPolling.ts
  app/selectors/tokenRatesController.ts
Labels: No QA Needed/E2E Only, release-7.4.0

#6762 refactor: Use selectors for account tracker controller state access
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/AccountApproval/index.js
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/DrawerView/index.js
  app/components/UI/FiatOnRampAggregator/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/OnboardingWizard/Step3/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  app/components/UI/TransactionEditor/index.js
  app/components/UI/TransactionReview/index.js
  app/components/UI/Transactions/index.js
  app/components/UI/UpdateEIP1559Tx/index.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/ActivityView/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/Browser/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/AddressFrom/AddressFrom.tsx
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/Settings/SecuritySettings/Sections/RevealPrivateKey/RevealPrivateKey.tsx
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/Views/Wallet/index.tsx
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/core/GasPolling/GasPolling.ts
  app/selectors/accountTrackerController.ts
Labels: No QA Needed/E2E Only, release-7.4.0

#6786 refactor: Use selectors for token balances controller state access
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/DrawerView/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  app/components/UI/TransactionEditor/index.js
  app/components/Views/AssetDetails/index.tsx
  app/components/Views/DetectedTokens/components/Token.tsx
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.test.tsx
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.ts
  app/core/GasPolling/GasPolling.ts
  app/reducers/swaps/index.js
  app/selectors/tokenBalancesController.ts
Labels: No QA Needed/E2E Only

#6820 refactor: Use selectors for nft controller state access
  app/reducers/collectibles/index.js
  app/selectors/nftController.ts
Labels: No QA Needed/E2E Only

#6828 fix: wallet connect v1 is fully deprecated
  app/util/walletconnect.js
Labels: Spot Check on the Release Build, release-7.5.0

#6833 fix: invalid transaction data used for approve transaction
  app/components/UI/ApproveTransactionReview/index.js
Labels: QA Passed, team-confirmations-secure-ux-PR

#6841 fix: [7.4.0] - from account address send flow
  app/components/Views/SendFlow/AddressFrom/AddressFrom.tsx
  app/components/Views/SendFlow/AddressFrom/AddressFrom.types.ts
  app/components/Views/SendFlow/SendTo/index.js
Labels: QA Passed, team-mobile-client, release-7.4.0

#6842 fix: cherry-pick 6833
  app/components/UI/ApproveTransactionReview/index.js
Labels: No QA Needed/E2E Only

#6838 fix: approval request with id x not found
  app/components/Views/Approval/index.js
Labels: team-confirmations-system, release-7.4.0

#6819 test: migrations file
  app/store/migrations.js
  app/store/migrations.test.js
Labels: Spot Check on the Release Build, team-mobile-client, release-7.5.0

#6851 chore: enable react native flipper redux debugger plugin
  app/store/index.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: Spot Check on the Release Build, team-mobile-client, release-7.5.0

#6732 feat: add missing `wallet_requestPermissions` and `wallet_getPermissions` to the mobile API.
  app/core/Permissions/specifications.js
  app/core/Permissions/specifications.test.js
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, team-devex, release-7.5.0

#6837 fix: Remove fallback
  patches/@metamask+assets-controllers+5.0.0.patch
Labels: No QA Needed/E2E Only, team-mobile-client, release-7.5.0

#6847 fix: Amend detox config
  .detoxrc.js
  e2e/jest.e2e.config.js
Labels: needs-dev-review, team-mobile-client

#6848 refactor: Use Redux network controller state
  app/components/UI/AddCustomToken/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/WatchAssetRequest/index.js
  app/components/Views/AddAsset/index.js
  app/components/Views/Asset/index.js
  app/components/Views/AssetDetails/index.tsx
  app/components/Views/DetectedTokens/index.tsx
Labels: No QA Needed/E2E Only, release-7.5.0

#6861 feat: Build 1155 RC2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, release-7.4.0

#6868 fix(test): Permission Systems fix taping connect modals
  e2e/pages/modals/AddAccountModal.js
  e2e/pages/modals/ConnectModal.js
  e2e/pages/modals/ConnectedAccountsModal.js
  e2e/specs/permission-system-removing-imported-account.spec.js
Labels: needs-dev-review, e2e, release-7.4.0

#6867 test: Remove all instances where we hard coded text in Detox
  app/components/UI/SkipAccountSecurityModal/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  e2e/pages/AddCustomTokenView.js
  e2e/pages/Drawer/Browser.js
  e2e/pages/Drawer/Settings/NetworksView.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/ChangePasswordView.js
  e2e/pages/Drawer/Settings/SettingsView.js
  e2e/pages/ImportTokensView.js
  e2e/pages/TransactionConfirmView.js
  e2e/pages/WalletView.js
  e2e/pages/modals/ApprovalModal.js
  e2e/pages/modals/NetworkEducationModal.js
  e2e/pages/modals/NetworkListModal.js
  e2e/pages/modals/SkipAccountSecurityModal.js
  e2e/specs/add-custom-rpc.spec.js
  e2e/specs/onboarding-wizard-opt-in.spec.js
  e2e/specs/permission-system-revoking-multiple-accounts.spec.js
  e2e/viewHelper.js
  wdio/screen-objects/Modals/SkipAccountSecurityModal.js
  wdio/screen-objects/testIDs/BrowserScreen/BrowserScreen.testIds.js
  wdio/screen-objects/testIDs/Components/SkipAccountSecurityModalTestIds.js
  wdio/screen-objects/testIDs/Screens/NetworksScreen.testids.js
  wdio/screen-objects/testIDs/Screens/WalletSetupScreen.testIds.js
Labels: No QA Needed/E2E Only, needs-dev-review

#6187 feat: Add guidelines for contributors
  .github/CONTRIBUTING.md
  .github/coding_guidelines/CODING_GUIDELINES.md
  .github/pull_request_template.md
Labels: team-mobile-client, team-mobile-platform

#6742 fix: Browser external application alert on trusted deeplink protocols
  app/components/Views/BrowserTab/index.js
  app/util/browser/index.test.ts
  app/util/browser/index.ts
Labels: QA Passed

#6876 chore: Update Jest to v28
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, needs-dev-review

#6844 fix: Android filename validation when downloading from browser
  patches/react-native-webview+11.13.0.patch
Labels: No QA Needed/E2E Only, release-7.5.0

#6874 test: Refactor test initial background state
  app/component-library/components/Navigation/TabBar/TabBar.test.tsx
  app/components/Approvals/PermissionApproval/PermissionApproval.test.tsx
  app/components/UI/AccountInfoCard/index.test.tsx
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.test.tsx
  app/components/UI/AddressInputs/index.test.jsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/UI/ApproveTransactionReview/VerifyContractDetails/VerifyContractDetails.test.tsx
  app/components/UI/Ramp/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/Ramp/Views/PaymentMethods/PaymentMethods.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Regions/Regions.test.tsx
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559/index.test.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/index.test.tsx
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/EditAccountName/EditAccountName.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/SendFlow/AddressElement/AddressElement.test.tsx
  app/components/Views/SendFlow/AddressList/AddressList.test.tsx
  app/components/Views/SendFlow/Amount/index.test.tsx
  app/components/Views/SendFlow/Confirm/index.test.tsx
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/hooks/useExistingAddress.test.ts
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.test.tsx
  app/util/logs/index.test.ts
Labels: No QA Needed/E2E Only, needs-dev-review

#6863 fix: misalignment issue for multiselect cells
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/CellMultiSelect.styles.ts
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/CellMultiSelect.tsx
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/__snapshots__/CellMultiSelect.test.tsx.snap
  app/component-library/components/Select/MultiSelect/MultiSelectItem/MultiSelectItem.styles.ts
  app/component-library/components/Select/MultiSelect/MultiSelectItem/__snapshots__/MultiSelectItem.test.tsx.snap
Labels: QA Passed, team-design-system

#6479 fix(browser): added remaining fields in WebSourceResponse patch
  patches/react-native-webview+11.13.0.patch
Labels: No QA Needed/E2E Only, release-7.5.0

#6881 test: Improve migration unit tests
  app/store/migrations.test.js
Labels: No QA Needed/E2E Only, needs-dev-review

#6287 chore: Custom Gas Modal Component
  app/components/UI/CustomGasModal/CustomGasModal.styles.ts
  app/components/UI/CustomGasModal/CustomGasModal.test.tsx
  app/components/UI/CustomGasModal/CustomGasModal.tsx
  app/components/UI/CustomGasModal/CustomGasModal.types.ts
  app/components/UI/CustomGasModal/__snapshots__/CustomGasModal.test.tsx.snap
  app/components/UI/CustomGasModal/index.ts
  app/components/UI/EditGasFeeLegacyUpdate/types.ts
  app/components/Views/SendFlow/Confirm/index.js
  app/constants/test-ids.js
  app/util/test/renderWithProvider.tsx
Labels: QA Passed, team-confirmations-secure-ux-PR

#6903 fix: Fix crash when switching to Linea
  package.json
  patches/@metamask+controller-utils+3.4.0.patch
  yarn.lock
Labels: No QA Needed/E2E Only, release-7.5.0

#6914 fix: invalid transaction data used for approve transaction (#6833)
  app/components/UI/ApproveTransactionReview/index.js
Labels: QA Passed

#6894 Added README to BannerBase
  app/component-library/components/Banners/Banner/foundation/BannerBase/BannerBase.constants.tsx
  app/component-library/components/Banners/Banner/foundation/BannerBase/BannerBase.tsx
  app/component-library/components/Banners/Banner/foundation/BannerBase/README.md
Labels: needs-dev-review, team-design-system

#6878 refactor: Simplify `handleNetworkSwitch` helper
  app/components/Nav/App/index.js
  app/components/Views/SendFlow/AddressTo/AddressTo.tsx
  app/components/Views/SendFlow/SendTo/index.js
  app/core/DeeplinkManager.js
  app/util/networks/handleNetworkSwitch.ts
  app/util/networks/index.test.ts
Labels: No QA Needed/E2E Only, needs-dev-review

#6880 refactor: Consistent provider config naming
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/index.js
  app/components/UI/AccountRightButton/index.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/NetworkInfo/index.tsx
  app/components/UI/Tokens/index.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/Wallet/index.tsx
  app/util/networks/index.js
Labels: No QA Needed/E2E Only

#6813 ci(builds): Sentry sourcemap deploy
  bitrise.yml
  scripts/build.sh
Labels: No QA Needed/E2E Only, team-mobile-client, release-7.5.0

#6862 docs: update PR template to include QA labels.
  .github/pull_request_template.md
Labels: No QA Needed/E2E Only

#6928 feat: build 1159 RC4
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, release-7.4.0

#6653 fix: #893 fix immediate lock timer
  app/actions/user/index.js
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/index.js
  app/components/UI/DrawerView/index.js
  app/components/Views/LockScreen/__snapshots__/index.test.tsx.snap
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/RestoreWallet/WalletRestored.tsx
  app/constants/navigation/Routes.ts
  app/core/Authentication/Authentication.ts
  app/core/LockManager.js
  app/core/LockManagerService/index.test.ts
  app/core/LockManagerService/index.ts
  app/core/NavigationService.ts
  app/core/SecureKeychain.js
  app/store/index.js
  app/store/sagas/index.ts
  app/store/sagas/sagas.test.ts
  package.json
  wdio/screen-objects/Modals/AccountApprovalModal.js
  wdio/screen-objects/Onboarding/ImportFromSeedScreen.js
  yarn.lock
Labels: QA Passed, team-mobile-client

#6913 chore: remove unused Jest preprocessor
  jest.preprocessor.js
Labels: No QA Needed/E2E Only, needs-dev-review

#6937 feat: Translation
  locales/languages/en.json
Labels: Spot Check on the Release Build, release-7.6.0
