Repository MetaMask/metamask-mobile, pull requests merged in 2023-08, with the labels that each got.

#6936 fix: Signatures remain pending whenever tapping outside the modal
  app/components/UI/SignatureRequest/Root/Root.tsx
Labels: No QA Needed/E2E Only

#6934 feat: Migrate wdio 'SendEthMultisig' test to Detox
  e2e/pages/TabBarComponent.js
  e2e/specs/confirmations/send-eth-multisig.spec.js
  wdio/features/Confirmations/SendEthMultisig.feature
Labels: No QA Needed/E2E Only, needs-dev-review

#6794 feat: github action to check if PR has requested labels before being merged
  .github/CONTRIBUTING.md
  .github/coding_guidelines/LABELING_GUIDELINES.md
  .github/pull_request_template.md
  .github/scripts/check-pr-has-required-labels.ts
  .github/workflows/check-pr-labels.yml
  .github/workflows/ci-all-branches.yml
  package.json
Labels: No QA Needed/E2E Only, team-mobile-client, team-mobile-platform

#6853 fix: update README.md
  README.md
Labels: needs-dev-review

#6956 fix: Restore deleted SendEthMultisig.feature file
  wdio/features/Confirmations/SendEthMultisig.feature
Labels: QA Passed, e2e

#6944 chore: revert flipper integration
  app/store/index.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: QA Passed, team-mobile-client

#6895 Added README to Avatar
  app/component-library/components/Avatars/Avatar/README.md
Labels: needs-dev-review, team-design-system

#6942 style: Updated minor checkbox style
  app/component-library/components/Checkbox/Checkbox.constants.ts
  app/component-library/components/Checkbox/Checkbox.stories.tsx
  app/component-library/components/Checkbox/Checkbox.styles.ts
  app/component-library/components/Checkbox/Checkbox.tsx
  app/component-library/components/Checkbox/Checkbox.types.ts
  app/component-library/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  app/component-library/components/Select/MultiSelect/MultiSelectItem/__snapshots__/MultiSelectItem.test.tsx.snap
Labels: needs-dev-review, team-design-system

#6958 fix: add missed parentheses in the function call
  e2e/pages/Drawer/Browser.js
Labels: needs-dev-review, team-confirmations-system

#6963 chore: small refactor
  app/components/UI/AccountApproval/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/TransactionEditor/index.js
  app/components/UI/WatchAssetRequest/index.js
  app/components/Views/Approval/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/BrowserTab/index.js
  app/util/confirmation/signatureUtils.js
Labels: No QA Needed/E2E Only, team-mobile-client

#6901 feat: blockaid what's new popup
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
  app/components/UI/WhatsNewModal/whatsNewList.ts
  app/constants/navigation/Routes.ts
  app/images/whats_new_blockaid.png
  app/util/blockaid/index.ts
  locales/languages/en.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#6779 feat: Add security alerts settings to experimental tab
  app/actions/experimental/index.ts
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/constants.ts
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/reducers/experimentalSettings/index.ts
  app/reducers/index.js
  locales/languages/en.json
Labels: team-confirmations-secure-ux-PR

#6975 fix: revert PR 6958
  e2e/pages/Drawer/Browser.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-confirmations-system

#6947 fix: Fix TS errors in `component-library` directory
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.stories.tsx
  app/component-library/components-temp/Contracts/ContractBox/ContractBox.stories.tsx
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.tsx
  app/component-library/components/Badges/Badge/Badge.stories.tsx
  app/component-library/components/Badges/Badge/Badge.test.tsx
  app/component-library/components/Badges/BadgeWrapper/README.md
  app/component-library/components/Badges/BadgeWrapper/index.ts
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.constants.ts
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.stories.tsx
  app/component-library/components/Banners/Banner/variants/BannerAlert/__snapshots__/BannerAlert.test.tsx.snap
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.constants.ts
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.stories.tsx
  app/component-library/components/Banners/Banner/variants/BannerTip/__snapshots__/BannerTip.test.tsx.snap
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.tsx
  app/component-library/components/Cells/Cell/foundation/CellBase/__snapshots__/CellBase.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellDisplay/CellDisplay.types.ts
  app/component-library/components/Cells/Cell/variants/CellDisplay/README.md
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/CellMultiSelect.types.ts
  app/component-library/components/Cells/Cell/variants/CellSelect/CellSelect.tsx
  app/component-library/components/Cells/Cell/variants/CellSelect/CellSelect.types.ts
  app/component-library/components/Checkbox/Checkbox.tsx
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.tsx
  app/component-library/components/Navigation/TabBar/TabBar.tsx
  app/component-library/components/Navigation/TabBarItem/TabBarItem.stories.tsx
  app/component-library/components/Navigation/TabBarItem/TabBarItem.test.tsx
  app/component-library/components/Navigation/TabBarItem/__snapshots__/TabBarItem.test.tsx.snap
  app/component-library/components/Select/MultiSelect/MultiSelectItem/MultiSelectItem.tsx
  app/component-library/components/Select/MultiSelect/MultiSelectItem/MultiSelectItem.types.ts
  app/component-library/components/Select/Select/SelectItem/SelectItem.tsx
  app/component-library/components/Select/Select/SelectItem/SelectItem.types.ts
  app/component-library/components/Texts/Text/Text.styles.ts
  app/component-library/components/Toast/Toast.types.ts
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.types.ts
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#6989 chore: revert 6479
  patches/react-native-webview+11.13.0.patch
Labels: browser, Spot Check on the Release Build, release-7.5.0

#6910 fix: remove translations files being pushed up to Crowdin
  crowdin.yml
Labels: No QA Needed/E2E Only, release-7.5.0

#6945 fix: remove unused code to overwrite filenames for Sentry error reporting
  app/util/sentryUtils.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#6519 test: introducing basic infrastructure to support fixtures on e2e tests
  .js.env.example
  app/components/Nav/App/index.js
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/ResetPassword/index.js
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/Root/index.js
  app/components/Views/Settings/SecuritySettings/Sections/LoginOptionsSettings.tsx
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/Views/WalletConnectSessions/index.js
  app/components/hooks/DeleteWallet/useDeleteWallet.test.tsx
  app/components/hooks/DeleteWallet/useDeleteWallet.ts
  app/components/hooks/useApprovalFlow.ts
  app/core/Authentication/Authentication.ts
  app/core/Engine.ts
  app/core/NotificationManager.js
  app/core/SecureKeychain.js
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnectV2.ts
  app/store/async-storage-wrapper.js
  app/store/index.js
  app/util/authentication/updateAuthTypeStorageFlags.ts
  app/util/onboarding/index.ts
  app/util/termsOfUse/termsOfUse.ts
  app/util/test/network-store.js
  app/util/test/utils.js
  e2e/fixtures/fixture-builder.js
  e2e/fixtures/fixture-helper.js
  e2e/fixtures/fixture-server.js
  e2e/init.js
  e2e/jest.e2e.config.js
  e2e/pages/Onboarding/CreatePasswordView.js
  e2e/specs/delete-wallet.spec.js
  e2e/viewHelper.js
  index.js
  locales/i18n.js
  package.json
  wdio.conf.js
  wdio/features/Onboarding/CreateNewWallet.feature
  wdio/features/Wallet/LockResetWallet.feature
  wdio/step-definitions/common-steps.js
  yarn.lock
Labels: team-confirmations-system

#6789 ci(code-cov): adding code-cov to project
  .github/workflows/ci.yml
  codecov.yml
  jest.config.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#6993 feat: build 1162 RC2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, release-7.5.0

#7003 chore: build 1164 rc3
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, release-7.5.0

#7013 fix: change fox svg code
  app/component-library/components/Icons/Icon/assets/fox.svg
  app/components/UI/Navbar/index.js
Labels: Spot Check on the Release Build, team-mobile-client, release-7.6.0

#7007 fix: Approval flow fail to redirect ledger transaction model
  app/components/Nav/Main/RootRPCMethodsUI.js
Labels: needs-dev-review, Ledger, team-mobile-client

#7015 fix: android sdk reconnection
  android/libs/nativesdk.aar
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
Labels: team-sdk, needs-dev-review

#7011 fix: support importing account while connecting
  app/components/Approvals/PermissionApproval/PermissionApproval.test.tsx
  app/components/Approvals/PermissionApproval/PermissionApproval.tsx
Labels: QA Passed, team-confirmations-system

#7008 fix: [7.5.0] nft not importing/hiding
  app/core/Engine.ts
Labels: QA Passed, needs-dev-review, team-mobile-client, in-progress, release-7.5.0

#7018 fix: Fix blank screen after locking + unlocking app
  app/components/Views/LockScreen/index.js
  app/components/Views/Settings/index.tsx
Labels: QA in Progress, needs-dev-review, QA Regression Testing

#7012 revert: added remaining fields in WebSourceResponse patch (#6479)
  patches/react-native-webview+11.13.0.patch
Labels: team-mobile-client, release-7.6.0

#6992 fix: Update Terms & Conditions and Privacy Policy URLs
  CHANGELOG.md
  app/core/AppConstants.js
Labels: QA Passed, team-mobile-client

#7020 chore: Build 1167 RC4
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, release-7.5.0

#7016 refactor(ramp): rename routes and SDK variables.
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/Ramp/buy/Views/AmountToBuy.tsx
  app/components/UI/Ramp/buy/Views/Checkout.tsx
  app/components/UI/Ramp/buy/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/Ramp/buy/Views/GetStarted/GetStarted.tsx
  app/components/UI/Ramp/buy/Views/PaymentMethods/PaymentMethods.test.tsx
  app/components/UI/Ramp/buy/Views/PaymentMethods/PaymentMethods.tsx
  app/components/UI/Ramp/buy/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/buy/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/buy/Views/Quotes/Timer.tsx
  app/components/UI/Ramp/buy/Views/Regions/Regions.test.tsx
  app/components/UI/Ramp/buy/Views/Regions/Regions.tsx
  app/components/UI/Ramp/buy/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/buy/hooks/useInAppBrowser.ts
  app/components/UI/Ramp/buy/hooks/usePaymentMethods.ts
  app/components/UI/Ramp/buy/hooks/useQuotes.ts
  app/components/UI/Ramp/buy/hooks/useRegions.ts
  app/components/UI/Ramp/common/Views/OrderDetails.tsx
  app/components/UI/Ramp/common/Views/Settings/ActivationKeys.tsx
  app/components/UI/Ramp/common/Views/Settings/AddActivationKey.tsx
  app/components/UI/Ramp/common/Views/Settings/Settings.tsx
  app/components/UI/Ramp/common/components/ErrorView.tsx
  app/components/UI/Ramp/common/containers/ApplePayButton.tsx
  app/components/UI/Ramp/common/containers/CustomActionButton.tsx
  app/components/UI/Ramp/common/hooks/useRampNetwork.ts
  app/components/UI/Ramp/common/hooks/useSDKMethod.ts
  app/components/UI/Ramp/common/sdk/index.tsx
  app/components/UI/Ramp/common/utils/index.test.ts
  app/components/UI/Ramp/common/utils/index.ts
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Tokens/index.tsx
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/Asset/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/index.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/constants/navigation/Routes.ts
  app/core/DeeplinkManager.js
Labels: team-ramp

#6938 feat(release): 7.5.0
  CHANGELOG.md
  android/app/build.gradle
  app/components/Approvals/PermissionApproval/PermissionApproval.test.tsx
  app/components/Approvals/PermissionApproval/PermissionApproval.tsx
  app/components/Views/LockScreen/index.js
  app/components/Views/Settings/index.tsx
  app/core/Engine.ts
  app/store/index.js
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: QA Passed, team-mobile-client, release-7.5.0

#6990 fix: Add missing long press event for account removal
  app/component-library/components/Select/Select/SelectItem/SelectItem.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
Labels: QA Passed, team-mobile-client

#6998 refactor: use block tracker to poll incoming transactions
  app/components/Nav/Main/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/Asset/index.js
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/core/AppConstants.js
  app/core/Engine.ts
  app/core/__mocks__/MockedEngine.ts
  app/util/accountSecurity.js
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+transaction-controller+4.0.0.patch
  yarn.lock
Labels: QA Passed, team-confirmations-system

#7029 fix: crowdin action upload
  .github/workflows/crowdin_action.yml
  crowdin.yml
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#6983 feat: 940 e2e migrate senderc721 test to detox
  e2e/helpers.js
  e2e/pages/Drawer/Browser.js
  e2e/pages/TestDApp.js
  e2e/specs/confirmations/send-erc721.spec.js
Labels: No QA Needed/E2E Only, team-confirmations-system

#6898 refactor: Update `@metamask/assets-controllers` patch
  app/components/UI/AddCustomToken/index.js
  app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  patches/@metamask+assets-controllers+5.0.1.patch
Labels: No QA Needed/E2E Only, needs-dev-review, team-shared-libraries

#6902 refactor: Update core controllers (v45)
  app/core/Engine.ts
  package.json
  patches/@metamask+assets-controllers+5.1.0.patch
  patches/@metamask+network-controller+7.0.0.patch
  yarn.lock
Labels: QA Passed, team-mobile-platform

#7024 fix(action): octokit not supported on MetaMask repos
  .github/workflows/create-bug-report.yml
Labels: team-mobile-client, team-mobile-platform

#7047 chore(test): temp disable flaky tests
  e2e/specs/delete-wallet.failing.js
  e2e/specs/permission-system-removing-imported-account.failing.js
Labels: tests, needs-dev-review, team-mobile-client

#7049 chore(test): enable delete wallet
  e2e/specs/delete-wallet.spec.js
Labels: tests, needs-dev-review, team-mobile-client, e2e

#7050 fix: Update terms of use header to match new copy
  locales/languages/en.json
Labels: Spot Check on the Release Build, team-mobile-client, release-7.7.0

#6968 feat: Ipfs implementation
  app/component-library/components/Avatars/Avatar/variants/AvatarToken/AvatarToken.test.tsx
  app/component-library/components/Avatars/Avatar/variants/AvatarToken/AvatarToken.tsx
  app/components/UI/ActionView/__snapshots__/index.test.tsx.snap
  app/components/UI/ActionView/index.js
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleDetectionModal/index.tsx
  app/components/UI/CollectibleMedia/Collectible.constants.ts
  app/components/UI/CollectibleMedia/CollectibleMedia.styles.ts
  app/components/UI/CollectibleMedia/CollectibleMedia.test.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.types.ts
  app/components/UI/CollectibleMedia/__snapshots__/CollectibleMedia.test.tsx.snap
  app/components/UI/CollectibleMedia/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleMedia/index.js
  app/components/UI/CollectibleMedia/index.test.tsx
  app/components/UI/CollectibleMedia/index.ts
  app/components/UI/SignatureRequest/Root/__snapshots__/Root.test.tsx.snap
  app/components/UI/TokenImage/index.js
  app/components/Views/BrowserTab/constants.ts
  app/components/Views/BrowserTab/index.js
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/SecuritySettings/Sections/AutoLock/AutoLock.tsx
  app/components/Views/Settings/SecuritySettings/Sections/AutoLock/constants.ts
  app/components/Views/Settings/SecuritySettings/Sections/ClearPrivacy/ClearPrivacy.tsx
  app/components/Views/Settings/SecuritySettings/Sections/DeleteMetaMetricsData.tsx
  app/components/Views/Settings/SecuritySettings/Sections/DeleteWalletData.tsx
  app/components/Views/Settings/SecuritySettings/Sections/LoginOptionsSettings.tsx
  app/components/Views/Settings/SecuritySettings/Sections/RememberMeOptionSection.tsx
  app/components/Views/Settings/SecuritySettings/Sections/RevealPrivateKey/RevealPrivateKey.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.constants.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.styles.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.types.ts
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/Views/Settings/SecuritySettings/index.test.tsx
  app/components/Views/Settings/SecuritySettings/index.ts
  app/core/Engine.ts
  app/lib/ens-ipfs/resolver.js
  app/selectors/preferencesController.ts
  app/util/general/index.js
  app/util/general/index.test.ts
  app/util/scaling.js
  app/util/test/initial-background-state.json
  docs/assets/nft-fallback.png
  patches/@metamask+assets-controllers+5.0.0.patch
  patches/@metamask+preferences-controller+2.1.0.patch
Labels: QA Passed, team-mobile-client, team-mobile-platform

#7045 feat: translations
  locales/languages/en.json
Labels: Spot Check on the Release Build, team-mobile-client, team-mobile-platform, release-7.7.0

#6964 refactor: Update core controllers (v47)
  package.json
  patches/@metamask+assets-controllers+6.0.0.patch
  yarn.lock
Labels: QA Passed, team-shared-libraries, team-mobile-platform

#6962 fix: remove outdated ipfs gateways
  app/constants/network.js
  app/store/migrations.js
  app/store/migrations.test.js
  app/util/ipfs-gateways.json
Labels: QA Passed, team-mobile-client, release-7.7.0

#6585 Blockaid banners implementation
  app/components/UI/BlockaidBanner/AttributionLink.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.constants.ts
  app/components/UI/BlockaidBanner/BlockaidBanner.stories.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.styles.ts
  app/components/UI/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.types.ts
  app/components/UI/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  locales/languages/en.json
Labels: team-confirmations-secure-ux-PR

#7055 refactor: format package.json correctly
  package.json
Labels: No QA Needed/E2E Only, team-mobile-client

#7041 fix: changelog duplication
  CHANGELOG.md
Labels: Spot Check on the Release Build, team-mobile-client, release-7.7.0

#7054 chore(ramp): upgrade sdk to 1.23.0
  package.json
  yarn.lock
Labels: team-ramp, ramp-qa-passed

#7064 fix: [7.6.0] - Token quotes on token details screen
  app/components/UI/AssetOverview/AssetOverview.tsx
Labels: Spot Check on the Release Build, team-mobile-client, release-7.6.0

#7065 fix: current token price
  app/components/UI/AssetOverview/AssetOverview.tsx
Labels: QA Passed, team-mobile-client, release-7.6.0

#7071 feat(release): Build 1169 RC2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, release-7.6.0

#7057 test: Expand interaction capabilities in test cases using fixtures
  app/components/UI/OnboardingWizard/index.js
  app/store/index.js
  e2e/fixtures/fixture-builder.js
  e2e/fixtures/fixture-helper.js
Labels: team-confirmations-system

#7042 fix: transaction history after import
  app/core/Engine.ts
  patches/@metamask+transaction-controller+4.0.1.patch
Labels: QA Passed, team-confirmations-system

#7072 feat: update translations
  locales/languages/en.json
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-client, release-7.7.0

#7075 feat: incoming transactions translations
  locales/languages/en.json
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-client, release-7.7.0

#7044 feat: show nft
  app/components/Nav/App/index.js
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleMedia/CollectibleMedia.styles.ts
  app/components/UI/CollectibleMedia/CollectibleMedia.test.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.types.ts
  app/components/UI/CollectibleModal/CollectibleModal.styles.ts
  app/components/UI/CollectibleModal/CollectibleModal.test.tsx
  app/components/UI/CollectibleModal/CollectibleModal.tsx
  app/components/UI/CollectibleModal/CollectibleModal.types.ts
  app/components/UI/CollectibleModal/__snapshots__/CollectibleModal.test.tsx.snap
  app/components/UI/CollectibleModal/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleModal/index.js
  app/components/UI/CollectibleModal/index.test.tsx
  app/components/UI/CollectibleModal/index.ts
  app/components/UI/CollectibleOverview/index.js
  app/components/Views/ShowNFTSheet/ShowNFTSheet.styles.ts
  app/components/Views/ShowNFTSheet/ShowNFTSheet.test.tsx
  app/components/Views/ShowNFTSheet/ShowNFTSheet.tsx
  app/components/Views/ShowNFTSheet/__snapshots__/ShowNFTSheet.test.tsx.snap
  app/components/Views/ShowNFTSheet/index.ts
  app/constants/navigation/Routes.ts
  app/util/general/index.js
Labels: QA Passed, team-mobile-client

#6892 fix: Updated ButtonIcon disabled state
  app/component-library/components/Banners/Banner/__snapshots__/Banner.test.tsx.snap
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.stories.tsx
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.styles.ts
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.tsx
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.types.ts
  app/component-library/components/Buttons/ButtonIcon/__snapshots__/ButtonIcon.test.tsx.snap
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
Labels: needs-dev-review, team-design-system

#6106 Componentize BottomSheet
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.constants.ts
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.stories.tsx
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.styles.ts
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.tsx
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.types.ts
  app/component-library/components/BottomSheets/BottomSheet/README.md
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.constants.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.styles.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.types.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/README.md
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/index.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetOverlay/BottomSheetOverlay.stories.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetOverlay/BottomSheetOverlay.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetOverlay/BottomSheetOverlay.types.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetOverlay/README.md
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetOverlay/index.ts
  app/component-library/components/BottomSheets/BottomSheet/index.ts
  app/component-library/components/BottomSheets/BottomSheetContent/BottomSheetContent.constants.ts
  app/component-library/components/BottomSheets/BottomSheetContent/BottomSheetContent.stories.tsx
  app/component-library/components/BottomSheets/BottomSheetContent/index.ts
  storybook/storyLoader.js
Labels: needs-dev-review, team-design-system

#7085 refactor: Simplify `handleNetworkSwitch` utility
  app/components/Views/SendFlow/AddressTo/AddressTo.tsx
  app/components/Views/SendFlow/SendTo/index.js
  app/core/DeeplinkManager.js
  app/util/networks/handleNetworkSwitch.test.ts
  app/util/networks/handleNetworkSwitch.ts
  app/util/networks/index.test.ts
Labels: No QA Needed/E2E Only, team-mobile-platform

#7022 refactor: Adopt new `addTransaction` option bag changes
  app/components/UI/Swaps/QuotesView.js
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/core/DeeplinkManager.js
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnectV2.ts
  patches/@metamask+transaction-controller+4.0.1.patch
Labels: No QA Needed/E2E Only, team-confirmations-system

#7033 test: Send ETH to Multisig refactor
  e2e/fixtures/fixture-builder.js
  e2e/specs/confirmations/send-eth-multisig.spec.js
  e2e/specs/confirmations/send-multisig-address-ios.spec.js
Labels: team-confirmations-secure-ux-PR

#7089 refactor: Rename ambiguous network variables
  app/actions/onboardNetwork/index.ts
  app/components/Nav/Main/index.js
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountOverview/index.js
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.tsx
  app/components/UI/ApproveTransactionReview/AddNickname/index.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/UrlAutocomplete/__snapshots__/index.test.js.snap
  app/components/UI/UrlAutocomplete/index.test.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/AddressElement/AddressElement.tsx
  app/components/Views/SendFlow/AddressFrom/AddressFrom.tsx
  app/components/Views/SendFlow/AddressList/AddressList.tsx
  app/components/Views/SendFlow/AddressTo/AddressTo.tsx
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/Contacts/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/TransactionsView/index.js
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useExistingAddress.ts
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/DeeplinkManager.js
  app/core/WalletConnect/WalletConnectV2.ts
  app/util/ENSUtils.js
  app/util/address/index.js
  app/util/address/index.test.ts
  app/util/checkAddress.ts
  app/util/etherscan.js
  app/util/networks/index.js
  app/util/transactions/index.js
  e2e/pages/modals/NetworkEducationModal.js
  e2e/pages/modals/NetworkListModal.js
Labels: No QA Needed/E2E Only, team-mobile-platform

#7091 refactor: Simplify Engine constructor
  app/core/Engine.ts
Labels: No QA Needed/E2E Only, team-mobile-platform

#6727 style: Update Button's pressed and disabled states
  app/component-library/components-temp/CustomSpendCap/__snapshots__/CustomSpendCap.test.tsx.snap
  app/component-library/components/Banners/Banner/__snapshots__/Banner.test.tsx.snap
  app/component-library/components/BottomSheets/BottomSheetFooter/__snapshots__/BottomSheetFooter.test.tsx.snap
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.constants.ts
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.stories.tsx
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.styles.ts
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.tsx
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.types.ts
  app/component-library/components/Buttons/Button/foundation/ButtonBase/README.md
  app/component-library/components/Buttons/Button/foundation/ButtonBase/__snapshots__/ButtonBase.test.tsx.snap
  app/component-library/components/Buttons/Button/variants/ButtonLink/ButtonLink.constants.ts
  app/component-library/components/Buttons/Button/variants/ButtonLink/ButtonLink.stories.tsx
  app/component-library/components/Buttons/Button/variants/ButtonLink/ButtonLink.styles.ts
  app/component-library/components/Buttons/Button/variants/ButtonLink/ButtonLink.tsx
  app/component-library/components/Buttons/Button/variants/ButtonLink/ButtonLink.types.ts
  app/component-library/components/Buttons/Button/variants/ButtonLink/README.md
  app/component-library/components/Buttons/Button/variants/ButtonLink/__snapshots__/ButtonLink.test.tsx.snap
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/ButtonPrimary.constants.ts
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/ButtonPrimary.styles.ts
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/ButtonPrimary.tsx
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/__snapshots__/ButtonPrimary.test.tsx.snap
  app/component-library/components/Buttons/Button/variants/ButtonSecondary/ButtonSecondary.constants.ts
  app/component-library/components/Buttons/Button/variants/ButtonSecondary/ButtonSecondary.styles.ts
  app/component-library/components/Buttons/Button/variants/ButtonSecondary/ButtonSecondary.tsx
  app/component-library/components/Buttons/Button/variants/ButtonSecondary/__snapshots__/ButtonSecondary.test.tsx.snap
  app/component-library/components/Icons/Icon/Icon.tsx
  app/component-library/components/Icons/Icon/Icon.types.ts
  app/component-library/components/Texts/Text/Text.styles.ts
  app/component-library/components/Texts/Text/Text.types.ts
  app/components/UI/Approval/TemplateConfirmation/Templates/__snapshots__/ApprovalResult.test.tsx.snap
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  package.json
  yarn.lock
Labels: needs-dev-review, team-design-system

#7078 test: Enable parallel test runs on multiple simulators on bitrise
  bitrise.yml
Labels: tests, QA Passed, team-mobile-client, e2e

#7086 fix: ext contributor SonarCloud
  .github/workflows/ci.yml
Labels: needs-dev-review, team-mobile-platform
