Repository MetaMask/metamask-mobile, pull requests merged in 2023-06, with the labels that each got.

#6514 feat: Componentize BottomSheetFooter
  app/component-library/components/BottomSheets/BottomSheetFooter/BottomSheetFooter.constants.ts
  app/component-library/components/BottomSheets/BottomSheetFooter/BottomSheetFooter.stories.tsx
  app/component-library/components/BottomSheets/BottomSheetFooter/BottomSheetFooter.styles.ts
  app/component-library/components/BottomSheets/BottomSheetFooter/BottomSheetFooter.test.tsx
  app/component-library/components/BottomSheets/BottomSheetFooter/BottomSheetFooter.tsx
  app/component-library/components/BottomSheets/BottomSheetFooter/BottomSheetFooter.types.ts
  app/component-library/components/BottomSheets/BottomSheetFooter/README.md
  app/component-library/components/BottomSheets/BottomSheetFooter/__snapshots__/BottomSheetFooter.test.tsx.snap
  app/component-library/components/BottomSheets/BottomSheetFooter/index.ts
  storybook/storyLoader.js
Labels: needs-dev-review, design-system, team-design-system

#6426 feat: Componentize ListItem
  app/component-library/components/List/ListItem/ListItem.constants.ts
  app/component-library/components/List/ListItem/ListItem.stories.tsx
  app/component-library/components/List/ListItem/ListItem.styles.ts
  app/component-library/components/List/ListItem/ListItem.test.tsx
  app/component-library/components/List/ListItem/ListItem.tsx
  app/component-library/components/List/ListItem/ListItem.types.ts
  app/component-library/components/List/ListItem/README.md
  app/component-library/components/List/ListItem/__snapshots__/ListItem.test.tsx.snap
  app/component-library/components/List/ListItem/index.ts
  app/component-library/components/List/ListItemColumn/ListItemColumn.constants.ts
  app/component-library/components/List/ListItemColumn/ListItemColumn.styles.ts
  app/component-library/components/List/ListItemColumn/ListItemColumn.test.tsx
  app/component-library/components/List/ListItemColumn/ListItemColumn.tsx
  app/component-library/components/List/ListItemColumn/ListItemColumn.types.ts
  app/component-library/components/List/ListItemColumn/README.md
  app/component-library/components/List/ListItemColumn/__snapshots__/ListItemColumn.test.tsx.snap
  app/component-library/components/List/ListItemColumn/index.ts
  ios/Podfile.lock
  storybook/storyLoader.js
Labels: No QA Needed/E2E Only, design-system, team-design-system, release-7.1.0

#5591 feat: Custom Spend Allowance
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.tsx
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.tsx
  app/component-library/components-temp/CustomSpendCap/CustomInput/CustomInput.styles.ts
  app/component-library/components-temp/CustomSpendCap/CustomInput/CustomInput.test.tsx
  app/component-library/components-temp/CustomSpendCap/CustomInput/CustomInput.tsx
  app/component-library/components-temp/CustomSpendCap/CustomInput/CustomInput.types.ts
  app/component-library/components-temp/CustomSpendCap/CustomInput/__snapshots__/CustomInput.test.tsx.snap
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.stories.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.test.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.types.ts
  app/component-library/components-temp/CustomSpendCap/__snapshots__/CustomSpendCap.test.tsx.snap
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/ApproveTransactionReview/styles.ts
  app/components/UI/TransactionReview/TransactionReviewDetailsCard/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/constants/urls.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/util/formatNumber.ts
  locales/languages/en.json
Labels: QA Passed, team-confirmations-secure-ux-PR, release-7.1.0

#6026 Add toggle to enable/disable multi account balances fetching
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/Settings/SecuritySettings/index.js
  app/components/Views/Settings/SecuritySettings/index.test.tsx
  app/components/hooks/useAccounts/useAccounts.ts
  app/core/Analytics/Analytics.js
  app/core/Engine.ts
  locales/languages/en.json
  patches/@metamask+assets-controllers+5.0.0.patch
  patches/@metamask+preferences-controller+2.1.0.patch
  wdio.conf.js
  wdio/screen-objects/testIDs/Components/AccountListComponent.testIds.js
  wdio/screen-objects/testIDs/Screens/SecurityPrivacy.testIds.js
  wdio/step-definitions/start-exploring.steps.js
Labels: QA in Progress, Priority - High

#6543 ci(bitrise): fix pod install step
  .ruby-version
  bitrise.yml
Labels: No QA Needed/E2E Only

#6464 Fix bug domain not shown on signature
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountInfoCard/index.test.tsx
  app/components/UI/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/UI/SignatureRequest/index.js
  app/components/hooks/useAddressBalance/useAddressBalance.test.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.ts
Labels: QA Passed, team-confirmations-secure-ux-PR, release-7.1.0

#6547 feat(release): 7.0.0
  .js.env.example
  CHANGELOG.md
  README.md
  android/app/build.gradle
  app/components/Nav/App/index.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Views/Approval/index.js
  app/components/Views/SDKSessionsManager/SDKSessionItem.tsx
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/WalletConnectSessions/index.js
  app/core/AppConstants.js
  app/core/DeeplinkManager.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/RPCQueueManager.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/utils/getAllUrlParams.util.ts
  app/core/SDKConnect/utils/parseSource.ts
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnect.test.ts
  app/core/WalletConnect/WalletConnectV2.ts
  app/core/WalletConnect/wc-config.ts
  app/core/WalletConnect/wc-utils.ts
  bitrise.yml
  index.js
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Labels: needs-dev-review

#6473 bugfix: fix for swaps button displaying on unsupported networks
  app/components/Views/Asset/index.js
Labels: QA Passed, swaps

#6508 fix: [7.1.0] remove unicode chars from utf8 token symbol
  patches/@metamask+assets-controllers+5.0.0.patch
Labels: QA in Progress, team-mobile-client, release-7.1.0

#6558 refactor(whats-new-modal): remove onramp content
  app/components/UI/WhatsNewModal/whatsNewList.ts
  app/images/whats-new-onramp-slide-1.png
  app/images/whats-new-onramp-slide-1@2x.png
  app/images/whats-new-onramp-slide-1@3x.png
  app/images/whats-new-onramp-slide-2.png
  app/images/whats-new-onramp-slide-2@2x.png
  app/images/whats-new-onramp-slide-2@3x.png
  app/images/whats-new-onramp-slide-3.png
  app/images/whats-new-onramp-slide-3@2x.png
  app/images/whats-new-onramp-slide-3@3x.png
  app/images/whats-new-onramp-slide-4.png
  app/images/whats-new-onramp-slide-4@2x.png
  app/images/whats-new-onramp-slide-4@3x.png
  app/images/whats-new-onramp-slide-5.png
  app/images/whats-new-onramp-slide-5@2x.png
  app/images/whats-new-onramp-slide-5@3x.png
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi-in.json
  locales/languages/hi.json
  locales/languages/id-id.json
  locales/languages/id.json
  locales/languages/ja-jp.json
  locales/languages/ja.json
  locales/languages/ko-kr.json
  locales/languages/ko.json
  locales/languages/pt-br.json
  locales/languages/pt.json
  locales/languages/ru-ru.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi-vn.json
  locales/languages/vi.json
  locales/languages/zh-cn.json
  locales/languages/zh.json
Labels: QA Passed, release-7.0.1

#6554 feat: Translations for permissions management
  locales/languages/en.json
Labels: Spot Check on the Release Build, team-mobile-client, in-progress, release-7.2.0

#6530 chore: pending review feedback for token details related changes
  app/components/UI/AssetOverview/Price/Price.tsx
  app/components/UI/AssetOverview/PriceChart/PriceChart.styles.tsx
  app/components/UI/AssetOverview/PriceChart/PriceChart.tsx
  app/components/Views/Asset/index.js
  app/components/Views/Wallet/index.tsx
Labels: QA Passed, release-7.1.0

#6452 [MC 0.5] - Add Account management actions
  app/component-library/components/Icons/Icon/assets/import.svg
  app/component-library/components/Select/Multiselect/MultiselectItem/MultiselectItem.tsx
  app/components/Views/AccountAction/AccountAction.styles.ts
  app/components/Views/AccountAction/AccountAction.tsx
  app/components/Views/AccountAction/AccountAction.types.ts
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.types.ts
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountSelector/AccountSelector.constants.ts
  app/components/Views/AccountSelector/AccountSelector.styles.ts
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/AccountSelector/AccountSelector.types.ts
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/components/Views/AddAccountActions/AddAccountActions.types.ts
  app/components/Views/AddAccountActions/index.tsx
  e2e/helpers.js
  e2e/pages/AccountListView.js
  e2e/pages/modals/AddAccountModal.js
  e2e/pages/modals/ConnectModal.js
  e2e/specs/permission-system-revoking-multiple-accounts.spec.js
  wdio/features/Accounts/CreatingWalletAccount.feature
  wdio/features/Accounts/ImportingAccount.feature
  wdio/features/BrowserFlow/RemovingImportedAccountAfterConnectingToDapp.feature
  wdio/screen-objects/AccountListComponent.js
  wdio/screen-objects/Modals/AddAccountModal.js
  wdio/screen-objects/testIDs/Components/AccountListComponent.testIds.js
  wdio/screen-objects/testIDs/Components/AddAccountModal.testIds.js
  wdio/step-definitions/create-new-wallet-account.steps.js
  wdio/step-definitions/import-wallet-via-private-key.steps.js
Labels: QA Passed, team-mobile-client

#6502 fix: [7.1.0] Account incorrectly displayed on transaction review modal
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Navbar/index.js
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/SendTo/index.js
Labels: QA Passed, team-mobile-client, release-7.1.0

#6570 feat: Translations for the disconnected account toast
  locales/languages/en.json
Labels: needs-qa, Spot Check on the Release Build, team-mobile-client, release-7.2.0

#6569 feat(release): 7.0.1 merge main
  CHANGELOG.md
  android/app/build.gradle
  app/components/UI/WhatsNewModal/whatsNewList.ts
  app/images/whats-new-onramp-slide-1.png
  app/images/whats-new-onramp-slide-1@2x.png
  app/images/whats-new-onramp-slide-1@3x.png
  app/images/whats-new-onramp-slide-2.png
  app/images/whats-new-onramp-slide-2@2x.png
  app/images/whats-new-onramp-slide-2@3x.png
  app/images/whats-new-onramp-slide-3.png
  app/images/whats-new-onramp-slide-3@2x.png
  app/images/whats-new-onramp-slide-3@3x.png
  app/images/whats-new-onramp-slide-4.png
  app/images/whats-new-onramp-slide-4@2x.png
  app/images/whats-new-onramp-slide-4@3x.png
  app/images/whats-new-onramp-slide-5.png
  app/images/whats-new-onramp-slide-5@2x.png
  app/images/whats-new-onramp-slide-5@3x.png
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi-in.json
  locales/languages/hi.json
  locales/languages/id-id.json
  locales/languages/id.json
  locales/languages/ja-jp.json
  locales/languages/ja.json
  locales/languages/ko-kr.json
  locales/languages/ko.json
  locales/languages/pt-br.json
  locales/languages/pt.json
  locales/languages/ru-ru.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi-vn.json
  locales/languages/vi.json
  locales/languages/zh-cn.json
  locales/languages/zh.json
  package.json
  wdio/config/android.config.browserstack.local.js
  wdio/config/android.config.debug.js
Labels: needs-dev-review

#6534 feat(action): remove labels after issue closed
  .github/workflows/remove_labels_after_pr_closed.yml
Labels: No QA Needed/E2E Only, team-mobile-client

#6541 Delete an unused hook
  app/components/Base/hooks/useRemoteResourceExists.tsx
Labels: No QA Needed/E2E Only, team-mobile-client

#6523 fix: Network logo to represent first letter of network
  app/components/UI/Tokens/index.tsx
  app/selectors/networkController.ts
Labels: needs-qa, No QA Needed/E2E Only, team-mobile-client, release-7.2.0

#5751 update Keystone links
  app/components/Views/ConnectQRHardware/Instruction/index.tsx
  app/constants/urls.ts
  locales/languages/en.json
Labels: QA'd but questions, area-hardware, team-accounts

#6598 fix: Hold to reveal Spanish copy
  locales/languages/es.json
Labels: Spot Check on the Release Build, team-accounts, release-7.2.0

#6477 ci(stale-bot): update stale bot to only flag issues that are type-bug with stale
  .github/workflows/stale-issue-pr.yml
Labels: No QA Needed/E2E Only, needs-dev-review

#6423 ci(stale-bot): increase number of operations
  .github/workflows/stale-issue-pr.yml
Labels: No QA Needed/E2E Only, needs-dev-review

#6597 refactor: Action:Transaction: remove unused prepareFullTransaction Fn
  app/actions/transaction/index.js
Labels: team-confirmations-secure-ux-PR

#6577 feat: OnBoarding wizard alignment for the new tab bar
  app/components/UI/OnboardingWizard/Coachmark/index.js
  app/components/UI/OnboardingWizard/Step1/index.js
Labels: No QA Needed/E2E Only, team-mobile-client, release-7.2.0

#6592 fix: Nonce too low error on Approve ERC20 and ERC721 transactions
  app/components/UI/ApproveTransactionReview/index.js
Labels: QA Passed, team-confirmations-secure-ux-PR

#6358 No Warning appears when a Dapp sets a really high Fees for a tx, potentially loosing all user funds
  app/components/UI/EditGasFee1559/index.js
  app/components/UI/EditGasFee1559Update/index.tsx
  app/components/UI/TimeEstimateInfoModal/index.js
  app/components/UI/TransactionReview/TransactionReviewEIP1559/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/TransactionReviewEIP1559/index.js
  app/components/UI/TransactionReview/TransactionReviewEIP1559/index.test.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
  locales/languages/en.json
Labels: QA Passed, team-confirmations-secure-ux-PR, unit test coverage confirmed

#6520 chore: improve variable naming
  app/components/UI/ApproveTransactionReview/index.js
Labels: QA Passed, team-confirmations-secure-ux-PR, release-7.2.0

#6539 feat: [MC 0.5] Remove drawer and add remain options to settings tab
  app/component-library/components/Icons/Icon/Icon.assets.ts
  app/component-library/components/Icons/Icon/Icon.types.ts
  app/component-library/components/Icons/Icon/assets/fox.svg
  app/components/UI/Navbar/index.js
  app/components/UI/SettingsDrawer/index.js
  app/components/Views/Settings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/index.js
  app/components/Views/Settings/index.test.tsx
  app/components/Views/Settings/index.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
Labels: QA Passed, team-mobile-client, release-7.2.0

#6054 Improve TagURL
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
Labels: QA Passed, team-confirmations-secure-ux-PR, release-7.2.0

#6491 fix: refactor linea testnet implementation
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/constants/network.js
  app/constants/on-ramp.ts
  app/constants/urls.ts
  app/images/image-icons.js
  app/images/linea-logo-dark.png
  app/images/linea-testnet-logo.png
  app/util/etherscan.js
  app/util/networks/customNetworks.tsx
  app/util/networks/index.js
  app/util/networks/index.test.ts
  patches/@metamask+controller-utils+3.0.0.patch
  patches/@metamask+network-controller+5.0.0.patch
  patches/@metamask+transaction-controller+4.0.0.patch
Labels: QA Passed, release-7.2.0

#6494 feat: Update banner component to show/hide details section
  app/component-library/components/Banners/Banner/Banner.test.tsx
  app/component-library/components/Banners/Banner/README.md
  app/component-library/components/Banners/Banner/__snapshots__/Banner.test.tsx.snap
  app/component-library/components/Banners/Banner/foundation/BannerBase/BannerBase.constants.tsx
  app/component-library/components/Banners/Banner/foundation/BannerBase/BannerBase.tsx
  app/component-library/components/Banners/Banner/foundation/BannerBase/BannerBase.types.ts
Labels: design-qa, needs-dev-review, team-confirmations-secure-ux-PR

#6612 chore: approve txn when gas estimation ready
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/index.test.tsx
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/index.tsx
Labels: QA Passed, team-confirmations-secure-ux-PR, release-7.2.0

#6433 [Flask] new flask iOS target
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/MetaMask.xcodeproj/xcshareddata/xcschemes/MetaMask-Flask.xcscheme
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/Contents.json
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/IconsiOS Flask App Icon_38pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_1024pt@1x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_20pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_20pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_29pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_29pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_38pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_40pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_40pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_60pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_60pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_64pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_64pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_68pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_76pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS Flask App Icon_83.5pt@2x.png
  ios/MetaMask/MetaMask-Flask-Info.plist
  ios/Podfile
  ios/Podfile.lock
  package.json
  scripts/build.sh
Labels: mobile-snaps

#6634 fix: Disable next button if input is invalid for token approval
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.test.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.types.ts
  app/components/UI/ApproveTransactionReview/index.js
Labels: QA Passed, team-confirmations-secure-ux-PR, release-7.2.0

#6496 feat(551): add Linea Mainnet
  app/components/UI/Tokens/index.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/index.js
  app/constants/network.js
  app/constants/urls.ts
  app/images/image-icons.js
  app/images/linea-mainnet-logo.png
  app/util/etherscan.js
  app/util/networks/index.js
  app/util/networks/index.test.ts
  patches/@metamask+controller-utils+3.0.0.patch
  patches/@metamask+network-controller+5.0.0.patch
  patches/@metamask+transaction-controller+4.0.0.patch
Labels: needs-qa, release-7.2.0

#6628 [Flask] build variant android
  android/app/build.gradle
  android/app/src/flask/res/ic_launcher-playstore.png
  android/app/src/flask/res/mipmap-hdpi/ic_launcher.png
  android/app/src/flask/res/mipmap-hdpi/ic_launcher_foreground.png
  android/app/src/flask/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/flask/res/mipmap-mdpi/ic_launcher.png
  android/app/src/flask/res/mipmap-mdpi/ic_launcher_foreground.png
  android/app/src/flask/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/flask/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/flask/res/mipmap-xhdpi/ic_launcher_foreground.png
  android/app/src/flask/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/flask/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/flask/res/mipmap-xxhdpi/ic_launcher_foreground.png
  android/app/src/flask/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/flask/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/flask/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/app/src/flask/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/flask/res/values/strings.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  package.json
  scripts/build.sh
Labels: No QA Needed/E2E Only, mobile-snaps

#6632 feat: add linea mainnet alert message
  app/components/Nav/Main/index.js
  locales/languages/en.json
Labels: Spot Check on the Release Build, release-7.2.0

#6549 fix: Networks text alignement
  app/component-library/components/Cells/Cell/variants/CellSelect/CellSelect.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/NetworkSelector/NetworkSelector.styles.ts
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/index.js
Labels: Spot Check on the Release Build, team-mobile-client, release-7.2.0

#6637 fix: Support Decimal Comma for Token Custom Spend Cap
  app/component-library/components-temp/CustomSpendCap/CustomInput/CustomInput.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/util/number/index.js
  app/util/number/index.test.ts
Labels: QA Passed, team-confirmations-secure-ux-PR, release-7.3.0

#6664 refactor: Simplify `isMainnet` utility function
  app/components/UI/CollectibleContractInformation/index.js
  app/util/networks/index.js
  app/util/networks/index.test.ts
Labels: No QA Needed/E2E Only

#6662 refactor: Remove dead network controller code
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/DrawerView/index.js
Labels: No QA Needed/E2E Only, needs-dev-review

#6669 fix(test): detox: change view ID back to Security & Privacy view to scroll down to bottom
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
Labels: QA Passed, e2e, release-7.2.0

#6671 fix: added contact alias to destination address on send flow
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.tsx
  app/components/Views/SendFlow/SendTo/index.js
Labels: QA Passed

#6352 feat(action): github action to automatically add label "release-x.y.z" when PRs get merged
  .github/scripts/add-release-label-to-pr-and-linked-issues.ts
  .github/workflows/add-release-label.yml
  .github/workflows/ci.yml
  package.json
  scripts/get-next-semver-version.sh
  yarn.lock
Labels: needs-dev-review, team-mobile-client

#6681 chore: Resolve yarn audit failure
  .iyarc
Labels: No QA Needed/E2E Only

#6685 chore: Move test/dev tools to `devDependencies`
  package.json
Labels: Spot Check on the Release Build

#6576 feat: New Ui for permissions dapp screen
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.styles.ts
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  e2e/pages/modals/ConnectedAccountsModal.js
  e2e/specs/permission-system-revoke-single-account.spec.js
  e2e/specs/permission-system-revoking-multiple-accounts.spec.js
  wdio/features/Onboarding/ImportWallet.feature
  wdio/features/SecurityAndPrivacy/RememberMe.feature
  wdio/screen-objects/Modals/ConnectedAccountsModal.js
  wdio/screen-objects/testIDs/Components/ConnectedAccountsModal.testIds.js
  wdio/step-definitions/revoke-single-account.steps.js
Labels: QA Passed, team-mobile-client, release-7.3.0

#6683 fix(action): add required permissions to remove labels
  .github/workflows/remove-labels-after-pr-closed.yml
Labels: needs-dev-review, team-mobile-client, team-mobile-platform

#6675 fix: Migration not returning state
  app/store/migrations.js
Labels: Spot Check on the Release Build, release-7.2.0

#6623 fix: Approving an ERC20 token with an amount with more decimals than expected crashes approving
  app/component-library/components-temp/CustomSpendCap/CustomInput/CustomInput.constants.ts
  app/component-library/components-temp/CustomSpendCap/CustomInput/CustomInput.test.tsx
  app/component-library/components-temp/CustomSpendCap/CustomInput/CustomInput.tsx
  app/component-library/components-temp/CustomSpendCap/CustomInput/CustomInput.types.ts
  app/component-library/components-temp/CustomSpendCap/CustomInput/__snapshots__/CustomInput.test.tsx.snap
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.test.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.types.ts
  app/component-library/components-temp/CustomSpendCap/__snapshots__/CustomSpendCap.test.tsx.snap
  app/components/UI/ApproveTransactionReview/index.js
  app/util/number/index.js
  app/util/number/index.test.ts
Labels: QA Passed, team-confirmations-secure-ux-PR

#6619 fix: Token allowance flow update
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.stories.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.test.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.types.ts
  app/component-library/components-temp/CustomSpendCap/__snapshots__/CustomSpendCap.test.tsx.snap
  app/components/UI/ApproveTransactionReview/ShowBlockExplorer/index.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/constants/urls.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: QA Passed, team-confirmations-secure-ux-PR

#6660 fix: Approve button is always disabled for ERC721 tokens
  app/components/UI/ApproveTransactionReview/index.js
Labels: QA Passed, regression-RC, team-confirmations-secure-ux-PR

#6666 refactor: Simplify engine service
  app/core/EngineService/EngineService.ts
Labels: No QA Needed/E2E Only, needs-dev-review

#6711 fix: Custom Approve value is reset whenever we see Transaction details or click Edit
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.test.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.tsx
  app/component-library/components-temp/CustomSpendCap/__snapshots__/CustomSpendCap.test.tsx.snap
  app/components/UI/ApproveTransactionReview/index.js
Labels: QA Passed, release-blocker, team-confirmations-secure-ux-PR

#6714 fix: "Assets Overview" disclaimer text color
  app/components/UI/Transactions/index.js
Labels: Spot Check on the Release Build, release-7.3.0

#6499 feat: `eth_accounts` return all permitted accounts
  app/core/Permissions/index.ts
  app/core/Permissions/specifications.js
  app/core/Permissions/specifications.test.js
Labels: QA Passed

#6673 refactor: Use selectors for network state access
  app/components/UI/CollectibleContractInformation/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/NavbarBrowserTitle/__snapshots__/index.test.tsx.snap
  app/components/UI/NavbarBrowserTitle/index.js
  app/components/UI/NavbarBrowserTitle/index.test.tsx
  app/components/UI/NavbarTitle/__snapshots__/index.test.tsx.snap
  app/components/UI/NavbarTitle/index.js
  app/components/UI/NavbarTitle/index.test.tsx
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/AssetDetails/index.tsx
Labels: No QA Needed/E2E Only

#6720 feat: trigger qrsigning modal using approval controller (#6212)
  app/components/Nav/Main/RootRPCMethodsUI.js
Labels: QA Passed, team-mobile-client

#6677 Fix: deeplink intrinsic gas issue
  app/components/UI/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/components/Views/Send/index.js
Labels: QA Passed, team-confirmations-secure-ux-PR

#6489 feat: [MC 0.75] Show test network toggle
  app/components/Views/NetworkSelector/NetworkSelector.styles.ts
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  e2e/helpers.js
  e2e/pages/WalletView.js
  e2e/pages/modals/NetworkListModal.js
  e2e/specs/add-custom-rpc.spec.js
  e2e/specs/connect-test-network.spec.js
  e2e/specs/permission-system-removing-imported-account.spec.js
  e2e/specs/wallet-tests.spec.js
  e2e/viewHelper.js
  patches/@metamask+preferences-controller+2.1.0.patch
  wdio/features/Networks/ConnectTestNetwork.feature
  wdio/screen-objects/BrowserObject/AddressBarScreen.js
  wdio/screen-objects/Modals/NetworkListModal.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Components/NetworkListModal.TestIds.js
  wdio/step-definitions/browser-steps.js
  wdio/step-definitions/connect-test-network.step.js
Labels: QA Passed, team-mobile-client, release-7.3.0

#6724 style: Updated Label Text Variant
  app/component-library/components/Form/Label/Label.constants.ts
  app/component-library/components/Form/Label/__snapshots__/Label.test.tsx.snap
Labels: needs-dev-review, design-system, team-design-system

#6617 feat: Update Overlay and add BottomSheetOverlay
  app/component-library/components/BottomSheets/BottomSheetOverlay/BottomSheetOverlay/BottomSheetOverlay.stories.tsx
  app/component-library/components/BottomSheets/BottomSheetOverlay/BottomSheetOverlay/BottomSheetOverlay.tsx
  app/component-library/components/BottomSheets/BottomSheetOverlay/BottomSheetOverlay/BottomSheetOverlay.types.ts
  app/component-library/components/BottomSheets/BottomSheetOverlay/BottomSheetOverlay/README.md
  app/component-library/components/BottomSheets/BottomSheetOverlay/BottomSheetOverlay/index.ts
  app/component-library/components/Overlay/Overlay.tsx
  storybook/storyLoader.js
Labels: design-system, team-design-system

#6602 feat: Add BottomSheetContent
  app/component-library/components/BottomSheets/BottomSheetContent/BottomSheetContent.constants.ts
  app/component-library/components/BottomSheets/BottomSheetContent/BottomSheetContent.stories.tsx
  app/component-library/components/BottomSheets/BottomSheetContent/BottomSheetContent.styles.ts
  app/component-library/components/BottomSheets/BottomSheetContent/BottomSheetContent.tsx
  app/component-library/components/BottomSheets/BottomSheetContent/BottomSheetContent.types.ts
  app/component-library/components/BottomSheets/BottomSheetContent/README.md
  app/component-library/components/BottomSheets/BottomSheetContent/index.ts
  storybook/storyLoader.js
Labels: No QA Needed/E2E Only, design-system, team-design-system

#6723 style: Updated checkbox style and icon
  app/component-library/components/Checkbox/Checkbox.constants.ts
  app/component-library/components/Checkbox/Checkbox.styles.ts
  app/component-library/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  app/component-library/components/Icons/Icon/Icon.assets.ts
  app/component-library/components/Icons/Icon/Icon.types.ts
  app/component-library/components/Icons/Icon/assets/check-bold.svg
  app/component-library/components/Icons/Icon/assets/minus-bold.svg
Labels: needs-dev-review, design-system, team-design-system

#6728 chore: Linea translations (#6649)
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: release-7.2.0

#6712 fix: sign v3 and v4 expecting chain id on hexadecimal format
  app/core/Engine.ts
Labels: QA in Progress, needs-dev-review, team-mobile-client, release-7.2.0

#6639 feat: approval flow for add & switch network
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/ApprovalFlowLoader/__snapshots__/index.test.tsx.snap
  app/components/UI/ApprovalFlowLoader/index.js
  app/components/UI/ApprovalFlowLoader/index.test.tsx
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  package.json
  yarn.lock
Labels: needs-dev-review

#6707 fix: Custom Nonce Issues
  app/components/Views/Approval/index.js
Labels: QA Passed, team-confirmations-secure-ux-PR

#6717 fix: patch zero balance when getBalance query times out
  patches/@metamask+assets-controllers+5.0.0.patch
Labels: QA in Progress, team-mobile-client, release-7.2.0

#6729 fix: update multi select snapshot
  app/component-library/components/Select/MultiSelect/MultiSelectItem/__snapshots__/MultiSelectItem.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build

#6596 feat: Memoise token balance controler hook
  app/components/UI/Tokens/index.tsx
  app/components/hooks/controllerHook.types.ts
  app/components/hooks/useTokenBalancesController/__snapshots__/useTokenBalancesController.test.tsx.snap
  app/components/hooks/useTokenBalancesController/index.ts
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.test.tsx
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.ts
Labels: QA Passed, team-mobile-client

#6722 fix: WC2 error management and SDK 'authorized' event
  app/components/Views/SDKSessionsManager/SDKSessionItem.tsx
  app/components/Views/SDKSessionsManager/SDKSessionsManager.tsx
  app/core/DeeplinkManager.js
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/utils/wait.util.ts
  app/core/WalletConnect/WalletConnectV2.ts
Labels: team-sdk, QA Passed

#6731 Update: build version bump to 1142
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, release-7.2.0
