Repository MetaMask/metamask-mobile, pull requests merged in 2023-04, with the labels that each got.

#6095 RC 3 cut bump version to 1094
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: release-6.3

#6015 Bump sentry version and enable performance metrics
  .vscode/settings.json
  app/components/UI/SDKLoading/logo-dark.json
  app/components/UI/SDKLoading/logo-light.json
  app/util/sentryUtils.js
  index.js
  ios/Podfile.lock
  locales/languages/en.json
  package.json
  wdio.conf.js
  wdio/screen-objects/CommonScreen.js
  wdio/screen-objects/Modals/AddressBookModal.js
  wdio/screen-objects/Modals/TermOfUseScreen.js
  wdio/screen-objects/Onboarding/CreateNewWalletScreen.js
  wdio/screen-objects/Onboarding/OnboardingCarousel.js
  wdio/screen-objects/SecurityPrivacyScreen.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Screens/WalletView.testIds.js
  wdio/step-definitions/change-password.steps.js
  wdio/step-definitions/common-steps.js
  wdio/step-definitions/onboarding.steps.js
  wdio/step-definitions/terms-of-use.steps.js
  yarn.lock
Labels: No QA Needed/E2E Only

#6111 [FIX] #778 Sdk remember text color
  app/components/UI/AccountApproval/index.js
Labels: QA Passed, team-mobile-client, release-6.3

#6110 [FIX] #6098 block explorer crash
  app/components/UI/ApproveTransactionReview/AddNickname/index.tsx
  app/components/UI/ApproveTransactionReview/AddNickname/types.ts
  app/util/address/index.js
  app/util/address/index.test.ts
Labels: type-bug, QA Passed, team-mobile-client, release-6.3

#6115 build version bump to 1095
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: release-6.3

#5937 Show internet protocol on confirmation screens
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
Labels: QA Passed, team-confirmations-secure-ux-PR

#6020 [FEATURE][MC] Token list with network logo and token name
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AddCustomToken/index.js
  app/components/UI/AssetElement/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetElement/index.js
  app/components/UI/AssetElement/index.test.tsx
  app/components/UI/AssetElement/index.tsx
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/index.js
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.js
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/styles.ts
  app/components/UI/Tokens/types.ts
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/core/Engine.ts
  e2e/viewHelper.js
  patches/@metamask+assets-controllers+3.0.1.patch
  wdio.conf.js
  wdio/screen-objects/testIDs/Screens/WalletView.testIds.js
Labels: QA Passed, release-6.4

#6058 Invalid Address when clicking the Etherscan Token Link for ERC721 Approve screen
  app/components/Views/ApproveView/Approve/index.js
Labels: QA Passed, team-confirmations-secure-ux-PR

#5619 Refactor `eth_sendTransaction` handler
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/eth_sendTransaction.ts
Labels: Spot Check on the Release Build, team-mobile-client, release-6.4

#6009 On-ramp: Add what's new modal content
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
  app/components/UI/WhatsNewModal/whatsNewList.ts
  app/images/whats-new-onramp-slide-1.png
  app/images/whats-new-onramp-slide-1@2x.png
  app/images/whats-new-onramp-slide-1@3x.png
  app/images/whats-new-onramp-slide-2.png
  app/images/whats-new-onramp-slide-2@2x.png
  app/images/whats-new-onramp-slide-2@3x.png
  app/images/whats-new-onramp-slide-3.png
  app/images/whats-new-onramp-slide-3@2x.png
  app/images/whats-new-onramp-slide-3@3x.png
  app/images/whats-new-onramp-slide-4.png
  app/images/whats-new-onramp-slide-4@2x.png
  app/images/whats-new-onramp-slide-4@3x.png
  app/images/whats-new-onramp-slide-5.png
  app/images/whats-new-onramp-slide-5@2x.png
  app/images/whats-new-onramp-slide-5@3x.png
  app/images/whats_new_onramp_agg_dark.png
  app/images/whats_new_onramp_agg_dark@2x.png
  app/images/whats_new_onramp_agg_dark@3x.png
  app/images/whats_new_onramp_agg_light.png
  app/images/whats_new_onramp_agg_light@2x.png
  app/images/whats_new_onramp_agg_light@3x.png
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: QA Passed, on-ramp, team-mobile-client, release-6.4

#6134 [REFACTOR] Reveal Private Key section
  app/components/Views/Settings/SecuritySettings/Sections/RevealPrivateKey/RevealPrivateKey.tsx
  app/components/Views/Settings/SecuritySettings/Sections/RevealPrivateKey/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/index.ts
  app/components/Views/Settings/SecuritySettings/index.js
Labels: Spot Check on the Release Build, release-6.4

#6122 [FIX] TypeError: undefined is not an object (evaluating 'n.find')
  app/components/UI/ApproveTransactionReview/index.js
  app/util/address/index.js
  app/util/address/index.test.ts
Labels: QA Passed, team-mobile-client, team-confirmations-secure-ux-PR, release-6.4

#5620 Refactor RPC `getAccounts` usage
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
Labels: Spot Check on the Release Build, team-mobile-client, team-shared-libraries

#6142 Revert "Bump node version to 16.13.0 (#5934)"
  .nvmrc
  README.md
  bitrise.yml
  package.json
Labels: No QA Needed/E2E Only, needs-dev-review

#6082 Remove inactive IPFS gateways
  app/util/ipfs-gateways.json
Labels: No QA Needed/E2E Only, Spot Check on the Release Build, team-mobile-client, release-6.4

#5627 Refactor remaining `web3-provider-engine` methods
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  package.json
  yarn.lock
Labels: needs-dev-review

#6143 [UPDATE] Crowdin workflow token to use METAMASKBOT_CROWDIN_TOKEN
  .github/workflows/crowdin_action.yml
Labels: needs-dev-review

#6144 New Crowdin translations by Github Action
  app/videos/subtitles/secretPhrase/subtitles-es.vtt
  app/videos/subtitles/secretPhrase/subtitles-tl.vtt
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: release-6.4

#6136 Make e2e test results available in Bitrise
  .gitignore
  bitrise.yml
  e2e/config.json
  package.json
  yarn.lock
Labels: QA Passed, bitrise

#6071 Add documentation for creating new confirmations
  README.md
  docs/assets/confirmation.png
  docs/confirmations.md
Labels: needs-dev-review

#5718 [FIX] Nonce Too Low for Approve Transaction
  app/components/Views/ApproveView/Approve/index.js
Labels: QA Passed, team-confirmations-secure-ux-PR

#6157 [REFACTOR] Change Password setting
  app/components/Views/Settings/SecuritySettings/Sections/ChangePassword/ChangePassword.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ChangePassword/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/index.ts
  app/components/Views/Settings/SecuritySettings/index.js
  app/constants/navigation/Routes.ts
Labels: No QA Needed/E2E Only, release-6.5

#6049 [Feature] execute snaps methods from Dapp on iOS
  app/components/UI/InstallSnapApproval/InstallSnapApproval.tsx
  app/components/UI/InstallSnapApproval/styles.ts
  app/core/Engine.ts
  app/core/Permissions/constants.ts
  app/core/Snaps/SnapBridge.ts
  app/core/Snaps/index.ts
  app/core/Snaps/location/npm.ts
  app/core/Snaps/permissions/permissions.ts
  ios/RNTar.swift
  package.json
  patches/@metamask+browser-passworder+4.0.2.patch
  patches/@metamask+keyring-controller+1.0.1.patch
  patches/@metamask+snaps-controllers+0.26.2.patch
  shim.js
  yarn.lock
Labels: No QA Needed/E2E Only, mobile-snaps

#6151 detox: close what's new modal
  .gitignore
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
  bitrise.yml
  e2e/config.json
  e2e/pages/modals/WhatsNewModal.js
  e2e/specs/add-custom-rpc.spec.js
  e2e/specs/addressbook-tests.spec.js
  e2e/specs/browser-tests.spec.js
  e2e/specs/contract-nickname.failing.js
  e2e/specs/delete-wallet.spec.js
  e2e/specs/onboarding-wizard-opt-in.spec.js
  e2e/specs/permission-system-revoke-single-account.spec.js
  e2e/specs/request-token-flow.spec.js
  e2e/specs/start-exploring.spec.js
  e2e/viewHelper.js
  package.json
  wdio/features/Accounts/CreatingWalletAccount.feature
  wdio/features/Accounts/ImportingAccount.feature
  wdio/features/AddressFlow.feature
  wdio/features/BrowserFlow/AddFavorite.feature
  wdio/features/BrowserFlow/AddressBar.feature
  wdio/features/BrowserFlow/ENSWebsite.feature
  wdio/features/BrowserFlow/InvalidURL.feature
  wdio/features/BrowserFlow/NavigationControls.feature
  wdio/features/BrowserFlow/OptionMenu.feature
  wdio/features/BrowserFlow/PhishingDetection.feature
  wdio/features/BrowserFlow/RemovingImportedAccountAfterConnectingToDapp.feature
  wdio/features/BrowserFlow/RevokingSingleAccount.feature
  wdio/features/ChangePassword.feature
  wdio/features/ExploringWizard.feature
  wdio/features/ImportCustomToken.feature
  wdio/features/LockResetWallet.feature
  wdio/features/NetworkFlow.feature
  wdio/features/Performance/AppLaunchTime.feature
  wdio/features/RequestTokenFlow.feature
  wdio/features/SecurityPrivacyRememberMe.feature
  wdio/features/SendToken.feature
  wdio/screen-objects/Modals/WhatsNewModal.js
  wdio/step-definitions/common-steps.js
  yarn.lock
Labels: iOS, team-mobile-client, e2e, release-6.4

#6056 Show Identicon for unknown token and if token icon is unknown
  app/component-library/components-temp/Contracts/ContractBox/ContractBox.tsx
  app/component-library/components-temp/Contracts/ContractBoxBase/ContractBoxBase.tsx
  app/component-library/components-temp/Contracts/ContractBoxBase/ContractBoxBase.types.ts
  app/components/UI/ApproveTransactionReview/VerifyContractDetails/VerifyContractDetails.tsx
Labels: QA Passed, team-confirmations-secure-ux-PR, release-6.5

#6174 [UI][MC] Update Tab bar styles
  app/component-library/components/Texts/Text/Text.types.ts
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
Labels: Spot Check on the Release Build

#6088 Use Node environment for e2e tests
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/AvatarNetwork.constants.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/AvatarNetwork.test.tsx
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/AvatarNetwork.tsx
  app/component-library/components/Cells/Cell/Cell.constants.ts
  app/component-library/components/Cells/Cell/Cell.test.tsx
  app/component-library/components/Cells/Cell/Cell.tsx
  app/component-library/components/Cells/Cell/variants/CellDisplay/CellDisplay.constants.ts
  app/component-library/components/Cells/Cell/variants/CellDisplay/CellDisplay.test.tsx
  app/component-library/components/Cells/Cell/variants/CellDisplay/CellDisplay.tsx
  app/component-library/components/Cells/Cell/variants/CellMultiselect/CellMultiselect.constants.ts
  app/component-library/components/Cells/Cell/variants/CellMultiselect/CellMultiselect.test.tsx
  app/component-library/components/Cells/Cell/variants/CellMultiselect/CellMultiselect.tsx
  app/component-library/components/Cells/Cell/variants/CellSelect/CellSelect.constants.ts
  app/component-library/components/Cells/Cell/variants/CellSelect/CellSelect.test.tsx
  app/component-library/components/Cells/Cell/variants/CellSelect/CellSelect.tsx
  app/component-library/components/Cells/Cell/variants/CellSelect/__snapshots__/CellSelect.test.tsx.snap
  app/constants/test-ids.js
  e2e/config.json
  e2e/pages/AccountListView.js
  e2e/pages/Drawer/Browser.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/ChangePasswordView.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/RevealSecretRecoveryPhrase.js
  e2e/pages/Onboarding/ImportWalletView.js
  e2e/pages/Onboarding/OnboardingView.js
  e2e/pages/modals/ConnectModal.js
  e2e/pages/modals/ConnectedAccountsModal.js
  e2e/pages/modals/NetworkAddedModal.js
  e2e/pages/modals/NetworkEducationModal.js
Labels: No QA Needed/E2E Only

#6148 Added Security and Privacy WebDriver.IO e2e test scripts
  .eslintrc.js
  app/components/UI/SettingsButtonSection/index.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/Settings/SecuritySettings/Sections/DeleteWalletData.tsx
  e2e/pages/TransactionConfirmView.js
  e2e/specs/permission-system-removing-imported-account.spec.js
  wdio/features/BrowserFlow/OptionMenu.feature
  wdio/features/BrowserFlow/RemovingImportedAccountAfterConnectingToDapp.feature
  wdio/features/BrowserFlow/RevokingSingleAccount.feature
  wdio/features/ChangePassword.feature
  wdio/features/Onboarding/ImportWalletRegression.feature
  wdio/features/Onboarding/TermsOfUse.feature
  wdio/features/Performance/AppLaunchTime.feature
  wdio/features/SecurityAndPrivacy/DeleteWallet.feature
  wdio/features/SecurityAndPrivacy/RememberMe.feature
  wdio/helpers/Gestures.js
  wdio/helpers/Selectors.js
  wdio/screen-objects/AccountListComponent.js
  wdio/screen-objects/AddContact.js
  wdio/screen-objects/AddCustomImportTokensScreen.js
  wdio/screen-objects/BrowserObject/AddFavoriteScreen.js
  wdio/screen-objects/BrowserObject/AddressBarScreen.js
  wdio/screen-objects/BrowserObject/BrowserScreen.js
  wdio/screen-objects/BrowserObject/ExternalWebsitesScreen.js
  wdio/screen-objects/BrowserObject/MultiTabScreen.js
  wdio/screen-objects/BrowserObject/OptionMenuModal.js
  wdio/screen-objects/ChangePasswordScreens.js
  wdio/screen-objects/Contacts.js
  wdio/screen-objects/DrawerViewScreen.js
  wdio/screen-objects/ImportAccountScreen.js
  wdio/screen-objects/Modals/AccountApprovalModal.js
  wdio/screen-objects/Modals/ConnectedAccountsModal.js
  wdio/screen-objects/Modals/SkipAccountSecurityModal.js
  wdio/screen-objects/Modals/TabBarModal.js
  wdio/screen-objects/NetworksScreen.js
  wdio/screen-objects/Onboarding/CreateNewWalletScreen.js
  wdio/screen-objects/Onboarding/ImportFromSeedScreen.js
  wdio/screen-objects/Onboarding/OnboardingCarousel.js
  wdio/screen-objects/SecurityAndPrivacyScreen.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Components/ConnectedAccountsModal.testIds.js
  wdio/screen-objects/testIDs/Screens/SecurityPrivacy.testIds.js
  wdio/screen-objects/testIDs/Screens/TokenOverviewScreen.testIds.js
  wdio/step-definitions/add-networks.steps.js
  wdio/step-definitions/browser-steps.js
  wdio/step-definitions/common-steps.js
  wdio/step-definitions/contacts.steps.js
  wdio/step-definitions/create-new-wallet-account.steps.js
  wdio/step-definitions/drawer-view.steps.js
  wdio/step-definitions/import-tokens.steps.js
  wdio/step-definitions/import-wallet-via-private-key.steps.js
  wdio/step-definitions/request-token.steps.js
  wdio/step-definitions/revoke-single-account.steps.js
  wdio/step-definitions/security-and-privacy-delete-wallet.steps.js
  wdio/step-definitions/security-and-privacy-remember-me.steps.js
  wdio/step-definitions/send-flow.steps.js
  wdio/step-definitions/wallet-view.steps.js
Labels: needs-dev-review

#6186 [UPDATE] vm2 version
  package.json
  yarn.lock
Labels: release-6.5

#6180 Componentized Overlay Component
  app/component-library/components/Overlay/Overlay.constants.ts
  app/component-library/components/Overlay/Overlay.stories.tsx
  app/component-library/components/Overlay/Overlay.styles.ts
  app/component-library/components/Overlay/Overlay.tsx
  app/component-library/components/Overlay/Overlay.types.ts
  app/component-library/components/Overlay/README.md
  app/component-library/components/Overlay/index.ts
  app/component-library/constants/animation.constants.ts
  storybook/storyLoader.js
Labels: No QA Needed/E2E Only, needs-dev-review, design-system, team-design-system

#6044 Componentize Badge and Badge Wrapper
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.constants.ts
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.stories.tsx
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.tsx
  app/component-library/components/Badges/Badge/Badge.constants.ts
  app/component-library/components/Badges/Badge/Badge.stories.tsx
  app/component-library/components/Badges/Badge/Badge.test.tsx
  app/component-library/components/Badges/Badge/Badge.tsx
  app/component-library/components/Badges/Badge/Badge.types.ts
  app/component-library/components/Badges/Badge/README.md
  app/component-library/components/Badges/Badge/__snapshots__/Badge.test.tsx.snap
  app/component-library/components/Badges/Badge/foundation/BadgeBase/BadgeBase.styles.ts
  app/component-library/components/Badges/Badge/foundation/BadgeBase/BadgeBase.tsx
  app/component-library/components/Badges/Badge/foundation/BadgeBase/BadgeBase.types.ts
  app/component-library/components/Badges/Badge/foundation/BadgeBase/__snapshots__/BadgeBase.test.tsx.snap
  app/component-library/components/Badges/Badge/index.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.constants.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.stories.tsx
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.styles.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.test.tsx
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.tsx
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.types.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/README.md
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/__snapshots__/BadgeNetwork.test.tsx.snap
  app/component-library/components/Badges/Badge/variants/BadgeStatus/BadgeStatus.constants.ts
  app/component-library/components/Badges/Badge/variants/BadgeStatus/BadgeStatus.stories.tsx
  app/component-library/components/Badges/Badge/variants/BadgeStatus/BadgeStatus.styles.ts
  app/component-library/components/Badges/Badge/variants/BadgeStatus/BadgeStatus.test.tsx
  app/component-library/components/Badges/Badge/variants/BadgeStatus/BadgeStatus.tsx
  app/component-library/components/Badges/Badge/variants/BadgeStatus/BadgeStatus.types.ts
  app/component-library/components/Badges/Badge/variants/BadgeStatus/README.md
  app/component-library/components/Badges/Badge/variants/BadgeStatus/__snapshots__/BadgeStatus.test.tsx.snap
  app/component-library/components/Badges/Badge/variants/BadgeStatus/index.ts
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.constants.ts
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.constants.tsx
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.stories.tsx
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.styles.ts
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.test.tsx
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.tsx
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.types.ts
  app/component-library/components/Badges/BadgeWrapper/README.md
  app/component-library/components/Badges/BadgeWrapper/__snapshots__/BadgeWrapper.test.tsx.snap
  app/component-library/components/Badges/BadgeWrapper/index.ts
  app/component-library/hooks/index.ts
  app/component-library/hooks/useComponentSize.ts
  app/components/UI/AccountRightButton/index.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  storybook/storyLoader.js
Labels: needs-qa, needs-dev-review, Spot Check on the Release Build, design-system, team-design-system

#6153 On-ramp: Refactor order selector by id
  app/components/UI/FiatOnRampAggregator/Views/OrderDetails.tsx
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/index.ts
Labels: on-ramp, release-6.5, on-ramp-qa-passed

#6181 Componentize Header Component
  app/component-library/components/Header/Header.constants.ts
  app/component-library/components/Header/Header.stories.tsx
  app/component-library/components/Header/Header.styles.ts
  app/component-library/components/Header/Header.test.tsx
  app/component-library/components/Header/Header.tsx
  app/component-library/components/Header/Header.types.ts
  app/component-library/components/Header/README.md
  app/component-library/components/Header/__snapshots__/Header.test.tsx.snap
  app/component-library/components/Header/index.ts
  storybook/storyLoader.js
Labels: No QA Needed/E2E Only, design-system, team-design-system

#6195 [FIX] [6.4.0] Token rate undefined handled properly
  app/components/UI/AssetElement/index.tsx
  app/components/UI/Tokens/constants.ts
  app/components/UI/Tokens/index.tsx
Labels: QA Passed, release-6.4

#6197 [FIX] [6.4.0] Tokens image size
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/styles.ts
Labels: QA Passed, release-6.4

#6126 [IMPROVEMENT] - Adding Stale Bot
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/general_issue.md
  .github/workflows/stale-issue-pr.yml
Labels: No QA Needed/E2E Only

#6154 Case change
  locales/languages/en.json
Labels: release-6.5

#6089 Add support for using Ganache in Detox iOS e2e tests
  app/util/test/ganache.js
  e2e/specs/confirmations/send-eth-flow.spec.js
  e2e/viewHelper.js
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only

#5956 Show token symbol in verify contract details
  app/components/UI/ApproveTransactionReview/VerifyContractDetails/VerifyContractDetails.test.tsx
  app/components/UI/ApproveTransactionReview/VerifyContractDetails/VerifyContractDetails.tsx
Labels: QA Passed, team-confirmations-secure-ux-PR, release-6.5

#6139 On-ramp: Add same amount rendering as the order details to the order list
  app/components/UI/FiatOnRampAggregator/components/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/utils/index.test.ts
  app/components/UI/FiatOnRampAggregator/utils/index.ts
  app/components/Views/FiatOrdersView/OrderListItem.js
Labels: on-ramp, Spot Check on the Release Build, release-6.5

#6138 [feature] On-ramp: Add orderProcessor exponential backoff for orders
  app/components/UI/FiatOnRampAggregator/Views/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/index.tsx
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.test.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/index.test.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/index.ts
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/types.ts
Labels: on-ramp, release-6.5, on-ramp-qa-passed

#6156 On-ramp: Use dynamic list of networks
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/AssetOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/FiatOnRampAggregator/hooks/useFetchOnRampNetworks.ts
  app/components/UI/FiatOnRampAggregator/hooks/useOnRampNetwork.ts
  app/components/UI/FiatOnRampAggregator/index.tsx
  app/components/UI/FiatOnRampAggregator/utils/index.test.ts
  app/components/UI/FiatOnRampAggregator/utils/index.ts
  app/components/UI/ReceiveRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/ReceiveRequest/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/TransactionReview/TransactionReviewInformation/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/TransactionReviewInformation/index.js
  app/components/UI/TransactionReview/TransactionReviewInformation/index.test.tsx
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/Confirm/index.test.tsx
  app/components/Views/SendFlow/SendTo/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/SendFlow/SendTo/index.test.tsx
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/index.ts
  app/reducers/fiatOrders/types.ts
  package.json
  yarn.lock
Labels: on-ramp, release-6.5, on-ramp-qa-passed

#6219 Split up component-ui tests
  package.json
  scripts/run-component-tests.js
  yarn.lock
Labels: No QA Needed/E2E Only

#6051 [MC 0.5][FEATURE] Total balance and portfolio button changed
  app/components/UI/AccountOverview/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/styles.ts
  app/components/UI/Tokens/types.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/Wallet/index.tsx
  wdio/features/BrowserFlow/RemovingImportedAccountAfterConnectingToDapp.feature
  wdio/features/SendToken.feature
  wdio/screen-objects/AccountListComponent.js
  wdio/screen-objects/AddCustomImportTokensScreen.js
  wdio/screen-objects/BrowserObject/OptionMenuModal.js
  wdio/screen-objects/CommonScreen.js
  wdio/screen-objects/Modals/AccountApprovalModal.js
  wdio/screen-objects/Modals/NetworkListModal.js
  wdio/screen-objects/Modals/TabBarModal.js
  wdio/screen-objects/Modals/WalletAccountModal.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Common.testIds.js
  wdio/screen-objects/testIDs/Components/AccountApprovalModal.testIds.js
  wdio/screen-objects/testIDs/Components/AccountListComponent.testIds.js
  wdio/screen-objects/testIDs/Components/Tokens.testIds.js
  wdio/step-definitions/add-networks.steps.js
  wdio/step-definitions/browser-steps.js
  wdio/step-definitions/create-new-wallet-account.steps.js
  wdio/step-definitions/import-tokens.steps.js
  wdio/step-definitions/wallet-view.steps.js
Labels: QA Passed, release-6.5

#6223 Update to Node.js v16
  .nvmrc
  README.md
  bitrise.yml
  package.json
Labels: No QA Needed/E2E Only, release-6.5

#6166 feat: trigger walletconnect modal using approval controller
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/WalletConnect.js
  app/core/WalletConnect.test.ts
  app/util/test/utils.js
Labels: needs-dev-review

#6232 [FIX] Terms of use modal increase scroll to end default margin
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.tsx
Labels: Spot Check on the Release Build, release-6.5

#6201 [FIX] [SDK] Missing redirect breaking backward compatibility
  app/core/SDKConnect/RPCQueueManager.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/utils/wait.util.ts
  package.json
  yarn.lock
Labels: SDK, QA in Progress, release-6.5

#5743 [FEATURE] On-ramp: Add buy-crypto deeplink
  app/constants/deeplinks.ts
  app/core/DeeplinkManager.js
Labels: QA in Progress, on-ramp, team-mobile-client, release-6.5

#6237 Translations for onboarding tour
  locales/languages/en.json
Labels: Spot Check on the Release Build, team-mobile-client, release-6.6

#6247 Add GitHub Action to block PRs with "DONOTMERGE" label
  .github/workflows/ci-all-branches.yml
Labels: team-confirmations-secure-ux-PR

#6228 Updated checkbox component
  app/component-library/components/Checkbox/Checkbox.constants.ts
  app/component-library/components/Checkbox/Checkbox.stories.tsx
  app/component-library/components/Checkbox/Checkbox.styles.ts
  app/component-library/components/Checkbox/Checkbox.test.tsx
  app/component-library/components/Checkbox/Checkbox.tsx
  app/component-library/components/Checkbox/Checkbox.types.ts
  app/component-library/components/Checkbox/README.md
  app/component-library/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  app/component-library/components/Icons/Icon/assets/check.svg
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.tsx
  app/component-library/components/Select/Multiselect/MultiselectItem/MultiselectItem.tsx
  app/component-library/components/Select/Multiselect/MultiselectItem/__snapshots__/MultiselectItem.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, design-system, team-design-system

#6255 [UPDATE] [MC 0.5] Onboarding translation updated
  locales/languages/en.json
Labels: No QA Needed/E2E Only, translation, team-mobile-client, release-6.6

#6085 [MC 0.5][FEATURE] Update account section with card
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.tsx
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.types.ts
  app/component-library/components/Icons/Icon/Icon.test.tsx
  app/component-library/components/Pickers/PickerAccount/PickerAccount.styles.ts
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  app/component-library/components/Pickers/PickerAccount/PickerAccount.types.ts
  app/component-library/components/Pickers/PickerAccount/__snapshots__/PickerAccount.test.tsx.snap
  app/components/UI/AddressCopy/AddressCopy.styles.ts
  app/components/UI/AddressCopy/AddressCopy.tsx
  app/components/UI/AddressCopy/AddressCopy.types.ts
  app/components/UI/AddressCopy/index.tsx
  app/components/UI/OnboardingWizard/Coachmark/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Coachmark/index.js
  app/components/UI/OnboardingWizard/Step1/index.js
  app/components/UI/OnboardingWizard/Step2/index.js
  app/components/UI/OnboardingWizard/Step3/index.js
  app/components/UI/OnboardingWizard/Step4/index.js
  app/components/UI/OnboardingWizard/Step5/index.js
  app/components/UI/OnboardingWizard/Step6/index.js
  app/components/UI/OnboardingWizard/index.js
  app/components/UI/OnboardingWizard/styles.js
  app/components/UI/WalletAccount/WalletAccount.styles.ts
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/UI/WalletAccount/WalletAccount.types.ts
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/UI/WalletAccount/index.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  e2e/pages/WalletView.js
  e2e/pages/modals/OnboardingWizardModal.js
  e2e/pages/modals/WalletActionsModal.js
  e2e/specs/start-exploring.spec.js
  e2e/specs/wallet-tests.spec.js
  wdio/features/SecurityAndPrivacy/DeleteWallet.feature
  wdio/features/Wallet/ExploringWizard.feature
  wdio/features/Wallet/RequestTokenFlow.feature
  wdio/screen-objects/Modals/OnboardingWizardModal.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Components/OnboardingWizard.testIds.js
  wdio/screen-objects/testIDs/Components/WalletActionModal.testIds.js
  wdio/screen-objects/testIDs/Screens/WalletView.testIds.js
  wdio/step-definitions/start-exploring.steps.js
  wdio/step-definitions/wallet-view.steps.js
Labels: QA Passed, team-mobile-client, release-6.6

#6246 Fix for wrong to account information on confirmation page
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountFromToInfoCard/__snapshots__/AccountFromToInfoCard.test.tsx.snap
Labels: QA Passed

#6097 Extracting out signature request related code from RootRPCMethodsUI conponent
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/PersonalSign/types.ts
  app/components/UI/SignatureRequest/Root/Root.test.tsx
  app/components/UI/SignatureRequest/Root/Root.tsx
  app/components/UI/SignatureRequest/Root/__snapshots__/Root.test.tsx.snap
  app/components/UI/SignatureRequest/Root/index.ts
  app/components/UI/SignatureRequest/types.ts
Labels: team-confirmations-secure-ux-PR

#6253 Confirm button should be disabled if account has no balance
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.types.ts
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/index.js
  app/components/UI/TransactionReview/index.test.tsx
Labels: QA Passed

#6248 fix(on-ramp): Add thunk to handle buy crypto deeplink
  app/core/DeeplinkManager.js
  app/store/index.js
  package.json
  yarn.lock
Labels: type-bug, SDK, Sev1-high, on-ramp, release-6.5

#6280 [FIX] invalid title error on wc
  app/components/UI/WebsiteIcon/index.js
Labels: QA Passed, WalletConnect, release-6.5

#6093 [MC 0.5][FEATURE] Account actions on wallet view
  app/components/Nav/App/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/AccountAction/AccountAction.styles.ts
  app/components/Views/AccountAction/AccountAction.tsx
  app/components/Views/AccountAction/AccountAction.types.ts
  app/components/Views/AccountAction/index.tsx
  app/components/Views/AccountActions/AccountActions.constants.ts
  app/components/Views/AccountActions/AccountActions.styles.ts
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/AccountActions/index.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/constants/navigation/Routes.ts
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/RevealSecretRecoveryPhrase.js
  wdio/config/android.config.browserstack.local.js
  wdio/config/android.config.debug.js
  wdio/features/Accounts/AccountActions.feature
  wdio/features/Accounts/ImportingAccount.feature
  wdio/features/Wallet/SendToken.feature
  wdio/screen-objects/ImportSuccessScreen.js
  wdio/screen-objects/RevealSecretRecoveryPhraseScreen.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Components/SimpleWebView.testIds.js
  wdio/screen-objects/testIDs/Screens/RevelSecretRecoveryPhrase.testIds.js
  wdio/screen-objects/testIDs/Screens/WalletView.testIds.js
  wdio/step-definitions/import-wallet-via-private-key.steps.js
  wdio/step-definitions/reveal-private-credential.steps.js
  wdio/step-definitions/wallet-view.steps.js
Labels: QA Passed, team-mobile-client, release-6.6

#5876 [FIX] Gas is not re-calculated when updating a transaction
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/Confirm/index.test.tsx
  app/util/custom-gas/index.js
  app/util/custom-gas/index.test.ts
Labels: QA Passed, team-confirmations-secure-ux-PR, release-6.6

#6254 [FIX] Network icon badge appears on tokens
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
Labels: QA Passed, team-mobile-client, release-6.5

#6258 [FIX] Prevent adding non supported tokens on networks
  app/constants/error.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
Labels: QA Passed, team-mobile-client, release-6.5

#6165 [FEATURE][MC] - Edit account name view
  app/components/Nav/App/index.js
  app/components/UI/Navbar/index.js
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/EditAccountName/EditAccountName.styles.ts
  app/components/Views/EditAccountName/EditAccountName.test.tsx
  app/components/Views/EditAccountName/EditAccountName.tsx
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
  app/components/Views/EditAccountName/index.tsx
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/Contacts/index.js
  app/core/Analytics/MetaMetrics.events.ts
  e2e/pages/Drawer/Settings/Contacts/AddContactView.js
  e2e/pages/Drawer/Settings/Contacts/ContactsView.js
  e2e/pages/TransactionConfirmView.js
  wdio/features/Accounts/ImportingAccount.feature
  wdio/features/Wallet/AddressFlow.feature
  wdio/features/Wallet/SendToken.feature
  wdio/screen-objects/AddContact.js
  wdio/screen-objects/AmountScreen.js
  wdio/screen-objects/Contacts.js
  wdio/screen-objects/ImportSuccessScreen.js
  wdio/screen-objects/Modals/AccountApprovalModal.js
  wdio/screen-objects/Modals/AddressBookModal.js
  wdio/screen-objects/Modals/DeleteContactModal.js
  wdio/screen-objects/Modals/SkipAccountSecurityModal.js
  wdio/screen-objects/Modals/TermOfUseScreen.js
  wdio/screen-objects/Onboarding/CreateNewWalletScreen.js
  wdio/screen-objects/SendScreen.js
  wdio/screen-objects/TokenOverviewScreen.js
  wdio/screen-objects/TransactionConfirmScreen.js
  wdio/screen-objects/testIDs/Common.testIds.js
  wdio/screen-objects/testIDs/Components/DeleteContactModal.testIds.js
  wdio/screen-objects/testIDs/Screens/AddContact.testIds.js
  wdio/screen-objects/testIDs/Screens/Contacts.testids.js
  wdio/screen-objects/testIDs/Screens/SendScreen.testIds.js
  wdio/screen-objects/testIDs/Screens/TransactionConfirm.testIds.js
  wdio/step-definitions/common-steps.js
  wdio/step-definitions/contacts.steps.js
  wdio/step-definitions/create-new-wallet-account.steps.js
  wdio/step-definitions/import-wallet-via-private-key.steps.js
  wdio/step-definitions/send-flow.steps.js
Labels: QA Passed, team-mobile-client, release-6.6

#6213 Cleanup approve transaction review
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.js
  app/components/UI/TransactionReview/TransactionReviewFeeCard/index.test.tsx
Labels: QA Passed, team-confirmations-secure-ux-PR
