Repository MetaMask/metamask-mobile, pull requests merged in 2023-02, with the labels that each got.

#5641 [IMPROVEMENT] Use Set when filtering blocklist
  patches/@metamask+phishing-controller+1.1.0.patch
Labels: QA Passed, Mobile QA board, team-mobile-client, release-6.0

#5634 Fix/4754 importing wallet via qr
  app/components/Nav/App/index.js
  app/components/UI/AccountRightButton/index.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/NetworkInfo/index.tsx
  app/components/Views/ImportPrivateKey/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportPrivateKey/index.js
  app/components/Views/ImportPrivateKey/index.test.tsx
  app/components/Views/ImportPrivateKey/index.tsx
  app/components/Views/RevealPrivateCredential/styles.ts
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/SDKConnect.ts
Labels: QA Passed, team-mobile-client

#5500 Add analytics to permission system
  app/actions/navigation/index.ts
  app/component-library/components/Navigation/TabBar/TabBar.tsx
  app/component-library/components/Navigation/TabBar/TabBar.types.ts
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/AccountApproval/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/NetworkList/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkList/index.js
  app/components/UI/NetworkList/index.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/Browser/index.js
  app/core/Analytics/MetaMetrics.events.ts
  app/reducers/navigation/index.ts
Labels: QA Passed, team-mobile-client, release-6.0

#5608 [FIX] SRP recover when an error is thrown
  app/components/UI/ScreenshotDeterrent/ScreenshotDeterrent.tsx
  app/components/Views/ErrorBoundary/constants.ts
  app/components/Views/ErrorBoundary/index.js
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/Root/index.js
Labels: type-bug, QA Passed, Mobile QA board, release-6.1

#5218 Improve deeplinks experience
  app/components/Views/BrowserTab/index.js
  app/util/browser/index.js
  app/util/browser/index.test.ts
  app/util/browser/index.ts
  locales/languages/en.json
Labels: QA Passed, Mobile QA board, release-6.1

#5675 fix eslint commit hook
  package.json
Labels: devtools, needs-dev-review

#5682 Componentize TextInput
  app/component-library/components/Form/TextInput/README.md
  app/component-library/components/Form/TextInput/TextInput.constants.ts
  app/component-library/components/Form/TextInput/TextInput.stories.tsx
  app/component-library/components/Form/TextInput/TextInput.styles.ts
  app/component-library/components/Form/TextInput/TextInput.test.tsx
  app/component-library/components/Form/TextInput/TextInput.tsx
  app/component-library/components/Form/TextInput/TextInput.types.ts
  app/component-library/components/Form/TextInput/__snapshots__/TextInput.test.tsx.snap
  app/component-library/components/Form/TextInput/index.ts
  app/component-library/components/Texts/Text/Text.constants.ts
  app/component-library/components/Texts/Text/Text.tsx
  storybook/storyLoader.js
Labels: needs-dev-review

#5546 Adding smoke and regression tags to tests
  bitrise.yml
  wdio/config/android.config.browserstack.js
  wdio/features/Accounts/CreatingWalletAccount.feature
  wdio/features/Accounts/ImportingAccount.feature
  wdio/features/AddressFlow.feature
  wdio/features/BrowserFlow/AddFavorite.feature
  wdio/features/BrowserFlow/AddressBar.feature
  wdio/features/BrowserFlow/ENSWebsite.feature
  wdio/features/BrowserFlow/InvalidURL.feature
  wdio/features/BrowserFlow/NavigationControls.feature
  wdio/features/BrowserFlow/OptionMenu.feature
  wdio/features/BrowserFlow/PhishingDetection.feature
  wdio/features/BrowserFlow/SwitchAccount.feature
  wdio/features/ExploringWizard.feature
  wdio/features/ImportCustomToken.feature
  wdio/features/LockResetWallet.feature
  wdio/features/NetworkFlow.feature
  wdio/features/Onboarding/CreateNewWallet.feature
  wdio/features/Onboarding/ImportWallet.feature
  wdio/features/Onboarding/ImportWalletRegression.feature
  wdio/features/Onboarding/OnboardingCarousel.feature
Labels: needs-dev-review, Appium, team-mobile-client

#5722 Fix enviromment variables syntax in step
  bitrise.yml
Labels: needs-dev-review

#5709 [FIX] Settings networks icons were missing
  app/components/UI/NetworkList/index.js
  app/components/Views/Settings/NetworksSettings/index.js
Labels: QA Passed, Mobile QA board, release-6.0

#5714 [FIX] Importing private key via QR code redirects to browser
  app/components/Views/ImportPrivateKeySuccess/index.js
Labels: QA Passed, Mobile QA board, release-6.0

#5717 Updated button usage to use full width
  app/component-library/components-temp/SheetActions/SheetActions.tsx
  app/components/UI/EnableAutomaticSecurityChecksModal/EnableAutomaticSecurityChecksModal.tsx
  app/components/UI/UpdateNeeded/UpdateNeeded.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.tsx
Labels: needs-dev-review

#5726 [FIX] Minor UI bugs in credential views
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/styles.ts
  app/components/Views/Settings/SecuritySettings/index.js
Labels: Spot Check on the Release Build, release-6.1

#5595 On-ramp: Add orderProcessor index test
  app/components/UI/FiatOnRampAggregator/orderProcessor/index.test.ts
Labels: tests, No QA Needed/Detox Only, on-ramp, release-6.1

#5719 [FIX] Remove false showBack param from order details
  app/components/UI/FiatOnRampAggregator/Views/OrderDetails.tsx
Labels: on-ramp, Spot Check on the Release Build, release-6.1

#5723 [ENHANCEMENT] add e2e tests announcement on Slack
  bitrise.yml
  package.json
  scripts/metamask-bot-e2e-announce-bitrise.js
Labels: bitrise, needs-dev-review

#5738 [FIX] On-ramp: upgrade on-ramp-sdk to v1.8.1
  package.json
  yarn.lock
Labels: on-ramp, Spot Check on the Release Build, release-6.1

#5744 Fix sideway/formula audit
  yarn.lock
Labels: No QA Needed/Detox Only, needs-dev-review, team-mobile-client, release-6.0

#5742 [FIX] ENS Resolves to Wrong Address when DeepLink
  app/components/Nav/App/index.js
  app/components/Views/Send/index.js
  app/core/DeeplinkManager.js
  app/util/address/index.js
  app/util/address/index.test.ts
  package.json
  yarn.lock
Labels: needs-dev-review

#5749 [FIX] Back navigation CTAs in RevealPrivateCredential view
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
Labels: Spot Check on the Release Build, team-key-management, release-6.1

#5754 Revert "[ENHANCEMENT] add e2e tests announcement on Slack"
  bitrise.yml
  package.json
  scripts/metamask-bot-e2e-announce-bitrise.js
Labels: bitrise

#5761 [FIX] Keystone transaction with account balance empty
  app/components/UI/QRHardware/QRSigningModal/index.tsx
  app/components/UI/Swaps/QuotesView.js
Labels: QA in Progress, Mobile QA board, release-6.0

#5587 ERC721 Approve view
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/ApproveTransactionReview/styles.ts
  app/components/UI/TransactionReview/TransactionReviewDetailsCard/index.js
  app/components/Views/ApproveView/Approve/index.js
  app/components/Views/ApproveView/Approve/styles.ts
  app/core/TransactionTypes.js
  app/util/address/index.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi-in.json
  locales/languages/hi.json
  locales/languages/id-id.json
  locales/languages/id.json
  locales/languages/ja-jp.json
  locales/languages/ja.json
  locales/languages/ko-kr.json
  locales/languages/ko.json
  locales/languages/pt-br.json
  locales/languages/pt.json
  locales/languages/ru-ru.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi-vn.json
  locales/languages/vi.json
  locales/languages/zh-cn.json
  locales/languages/zh.json
Labels: QA Passed, Mobile QA board, team-confirmations-PR

#5768 [UPGRADE] Segment Analytics 2.13.0
  ios/Podfile.lock
  package.json
  patches/@segment+analytics-react-native+2.13.0.patch
  yarn.lock
Labels: Spot Check on the Release Build, release-6.1

#5683 [FIX] RN Patch Version
  ios/Podfile.lock
  patches/react-native+0.66.5.patch
Labels: No QA Needed/Detox Only, team-mobile-client, release-6.1

#5765 [FIX] UI bugs from 6.0.0 bug report
  app/component-library/components/Navigation/TabBar/TabBar.constants.ts
  app/component-library/components/Navigation/TabBar/TabBar.stories.tsx
  app/component-library/components/Navigation/TabBar/TabBar.tsx
  app/component-library/components/Navigation/TabBar/TabBar.types.ts
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/NetworkInfo/index.tsx
  app/constants/navigation/Routes.ts
  app/util/networks/index.js
  app/util/theme/index.ts
Labels: QA Passed, Mobile QA board, release-6.0

#5724 [FIX] Migrate dapps access into permission controller state
  app/store/migrations.js
Labels: QA Passed, Mobile QA board, release-6.0

#5774 [VERSION] Bump 6.0.0 RC2 to #1068
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, team-mobile-client, release-6.0

#5753 [FIX] fix Slack e2e announcement
  bitrise.yml
Labels: bitrise

#5777 Fix/primary currency fiat insufficient funds error
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Amount/index.test.tsx
  app/components/Views/SendFlow/Confirm/index.js
  app/util/number/index.js
  app/util/number/index.test.ts
  locales/languages/en.json
  wdio/features/testIDs/Screens/AmountScreen.testIds.js
Labels: QA Passed, Mobile QA board, stability-team

#5778 Set different CPU capacity in jest tests
  jest.config.js
Labels: No QA Needed/Detox Only, release-6.1

#5399 [FIX] Updating gas price
  app/core/GasPolling/GasPolling.ts
Labels: QA'd but questions, Mobile QA board, team-confirmations-PR

#5791 [FEATURE] Adds 'ios' and 'android' to MM SDK sources
  app/core/SDKConnect.ts
Labels: No QA Needed/Detox Only, needs-dev-review, Code Impact - Low, release-6.1

#5780 Show Token Symbol when Approving
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/TransactionReview/TransactionReviewDetailsCard/index.js
Labels: QA Passed, team-confirmations-PR, release-6.1

#5725 Show transfer view to user for approve with value
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/TransactionReview/index.js
  app/util/number/index.js
  app/util/number/index.test.ts
Labels: area-transactions, needs-qa, QA Passed, Mobile QA board, team-confirmations-PR

#5801 [FIX] Update icon name in SRPQuiz
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.tsx
Labels: needs-dev-review, Spot Check on the Release Build

#5678 Update hardware label to have the correct Tag color
  app/components/Views/SendFlow/AddressInputs/index.js
Labels: needs-dev-review

#5799 [HOTFIX] Browser: handle unsupported URLs
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/BrowserUrlBar/BrowserUrlBar.tsx
  app/components/Views/Browser/index.js
Labels: needs-qa, release-6.0.1

#5806 [FIX] Screenshot Crash
  app/components/UI/ScreenshotDeterrent/ScreenshotDeterrent.tsx
Labels: Spot Check on the Release Build, release-6.1

#5812 [CONTENT] Ledger Integration english content
  locales/languages/en.json
Labels: No QA Needed/Detox Only, release-6.1

#5797 [IMPROVEMENT] Delete update PhishingController on app start
  app/core/Engine.js
Labels: Spot Check on the Release Build, release-6.1

#5729 bump react-native-reanimated to 2.14.0
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: Spot Check on the Release Build, release-6.1

#5813 Add copy for portfolio button for translations
  locales/languages/en.json
Labels: translation

#5461 On-ramp: Refactor Payment Methods view to componentization
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods/PaymentMethods.constants.ts
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods/PaymentMethods.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods/PaymentMethods.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods/index.ts
  app/components/UI/FiatOnRampAggregator/Views/Regions/Regions.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/Regions/Regions.tsx
  app/components/UI/FiatOnRampAggregator/Views/Settings/ActivationKeys.tsx
  app/components/UI/FiatOnRampAggregator/Views/Settings/Settings.tsx
  app/components/UI/FiatOnRampAggregator/components/Box.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodModal.tsx
  app/components/UI/FiatOnRampAggregator/components/Row.tsx
  app/components/UI/FiatOnRampAggregator/components/SkeletonPaymentMethod/SkeletonPaymentMethod.tsx
  app/components/UI/FiatOnRampAggregator/components/SkeletonPaymentMethod/index.ts
  app/components/UI/FiatOnRampAggregator/types/analytics.ts
  app/core/Analytics/MetaMetrics.events.ts
Labels: needs-dev-review, on-ramp, Spot Check on the Release Build, release-6.1

#5809 [FIX] Resolve tab bar merge conflicts
  app/component-library/components/Navigation/TabBar/TabBar.constants.ts
  app/component-library/components/Navigation/TabBar/TabBar.tsx
  app/component-library/components/Navigation/TabBar/TabBar.types.ts
Labels: Spot Check on the Release Build, release-6.1

#5796 Update `@metamask/phishing-controller` to v2
  app/components/Views/BrowserTab/index.js
  app/core/Engine.js
  package.json
  patches/@metamask+phishing-controller+1.1.0.patch
  yarn.lock
Labels: Spot Check on the Release Build, team-mobile-client, release-6.2

#5803 Sentry: remove DSN value from codebase
  .js.env.example
  README.md
  app/util/sentryUtils.js
Labels: Spot Check on the Release Build, team-mobile-client, release-6.2

#5750 [FIX] Enable clipboard for private credentials
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/styles.ts
Labels: QA Passed, Mobile QA board, team-key-management, release-6.2

#5711 Improve signature request message
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/TypedSign/index.js
  app/util/lodash/index.ts
  app/util/string/index.text.ts
  app/util/string/index.ts
Labels: QA Passed, Mobile QA board, area-signatures, team-confirmations-PR

#5827 [FIX] analytics: add missing property to connect completed event
  app/components/UI/AccountApproval/index.js
Labels: No QA Needed/Detox Only, team-mobile-client, release-6.2

#5834 [FIX] Fix regression bugs on 6.1.0 bug report
  app/component-library/components/Modals/ModalConfirmation/README.md
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Views/QRScanner/index.tsx
Labels: QA Passed, Mobile QA board, release-6.1

#5851 Bug/674 network search crash
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
Labels: type-bug, Mobile QA board, QA Regression Testing, release-6.1

#5852 Bump/6.1.0 rc2 1077
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, release-6.1

#5175 [ENHANCEMENT] Easy delete data
  app/components/Views/Settings/SecuritySettings/Sections/DeleteMetaMetricsData/DeleteMetaMetricsData.tsx
  app/components/Views/Settings/SecuritySettings/Sections/DeleteMetaMetricsData/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/index.ts
  app/constants/urls.ts
  app/core/Analytics/Analytics.js
  app/core/Analytics/MetaMetrics.constants.ts
  app/core/Analytics/MetaMetrics.ts
  app/core/Analytics/MetaMetrics.types.ts
  wdio/features/testIDs/Screens/AmountScreen.testIds.js
  wdio/screen-objects/Modals/AddressBookModal.js
  wdio/screen-objects/Onboarding/CreateNewWalletScreen.js
  wdio/step-definitions/change-password.steps.js
Labels: needs-dev-review, Spot Check on the Release Build

#5854 Trigger e2e on release push
  bitrise.yml
Labels: No QA Needed/Detox Only, bitrise

#5855 Improvements displaying NFT content
  app/components/UI/CollectibleOverview/index.js
Labels: Spot Check on the Release Build, team-mobile-client, release-6.2

#5856 [FIX] Fix scanning Unity QR code for MM SDK
  app/util/browser/index.ts
Labels: type-bug, QA Regression Testing, team-mobile-client, release-6.1
