Repository MetaMask/metamask-mobile, pull requests merged in 2023-05, with the labels that each got.

#6304 Fix duplicate test name lint warning
  app/util/number/index.test.ts
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#6269 [FIX] - Upgrading with deprecated test network selected
  app/store/migrations.js
Labels: QA in Progress, team-mobile-client, release-6.5

#6308 feat: added strings to be translated for feature #6230
  locales/languages/en.json
Labels: No QA Needed/E2E Only, release-6.6

#6315 devDeps: Remove concat-cli
  package.json
  yarn.lock
Labels: release-6.6

#6266 Refactor SendTo - extract code to render from / to addresses into separate component
  app/components/Views/SendFlow/AddressFrom/AddressFrom.test.tsx
  app/components/Views/SendFlow/AddressFrom/AddressFrom.tsx
  app/components/Views/SendFlow/AddressFrom/AddressFrom.types.ts
  app/components/Views/SendFlow/AddressFrom/__snapshots__/AddressFrom.test.tsx.snap
  app/components/Views/SendFlow/AddressFrom/index.ts
  app/components/Views/SendFlow/AddressTo/AddressTo.test.tsx
  app/components/Views/SendFlow/AddressTo/AddressTo.tsx
  app/components/Views/SendFlow/AddressTo/AddressTo.types.ts
  app/components/Views/SendFlow/AddressTo/__snapshots__/AddressTo.test.tsx.snap
  app/components/Views/SendFlow/AddressTo/index.ts
  app/components/Views/SendFlow/SendTo/SendTo.test.tsx
  app/components/Views/SendFlow/SendTo/__snapshots__/SendTo.test.tsx.snap
  app/components/Views/SendFlow/SendTo/index.js
  app/constants/navigation/Routes.ts
  app/constants/test-ids.js
Labels: QA Passed, team-confirmations-secure-ux-PR

#6309 [FIX] Fix checkbox interaction on Terms of Use
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.tsx
Labels: type-bug, QA in Progress, team-mobile-client, release-6.6

#6325 On-ramp: add development environment to on-ramp-sdk
  app/components/UI/FiatOnRampAggregator/sdk/index.tsx
Labels: No QA Needed/E2E Only, on-ramp, release-6.6

#6340 On-ramp: fix missing network name
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  locales/languages/en.json
Labels: Spot Check on the Release Build, release-6.6

#5866 sturdier check
  app/components/UI/CollectibleOverview/index.js
  app/util/linkCheck.test.ts
  app/util/linkCheck.ts
  package.json
  yarn.lock
Labels: QA in Progress, team-mobile-client

#6215 [e2e] Send ETH to an EOA using Ganache network on Android
  wdio.conf.js
  wdio/features/Confirmations/SendEthEOA.feature
  wdio/step-definitions/common-steps.js
Labels: team-confirmations-secure-ux-PR, unit test coverage confirmed

#6345 Update es.js file
  locales/languages/es.json
Labels: release-6.7

#6124 Update controller packages to match core v40
  app/components/Views/Settings/Contacts/ContactForm/index.test.tsx
  app/store/migrations.js
  package.json
  patches/@metamask+assets-controllers+4.0.1.patch
  yarn.lock
Labels: QA in Progress, team-mobile-client, team-shared-libraries

#6349 [FIX] Appium: Notify appium server test is done
  wdio.conf.js
Labels: tests, Appium, team-mobile-client, e2e

#6353 [FIX] Add tags and simplify feature description
  wdio/features/Accounts/AccountActions.feature
  wdio/features/Accounts/CreatingWalletAccount.feature
  wdio/features/Accounts/ImportingAccount.feature
  wdio/features/BrowserFlow/AddFavorite.feature
  wdio/features/BrowserFlow/AddressBar.feature
  wdio/features/BrowserFlow/ENSWebsite.feature
  wdio/features/BrowserFlow/InvalidURL.feature
  wdio/features/BrowserFlow/NavigationControls.feature
  wdio/features/BrowserFlow/OptionMenu.feature
  wdio/features/BrowserFlow/PhishingDetection.feature
  wdio/features/BrowserFlow/RemovingImportedAccountAfterConnectingToDapp.feature
  wdio/features/BrowserFlow/RevokingSingleAccount.feature
  wdio/features/Networks/NetworkFlow.feature
  wdio/features/Onboarding/CreateNewWallet.feature
  wdio/features/Onboarding/ImportWallet.feature
  wdio/features/Onboarding/OnboardingCarousel.feature
  wdio/features/Onboarding/TermsOfUse.feature
  wdio/features/Performance/AppLaunchTime.feature
  wdio/features/SecurityAndPrivacy/DeleteWallet.feature
  wdio/features/SecurityAndPrivacy/RememberMe.feature
  wdio/features/Settings/ChangePassword.feature
  wdio/features/Wallet/AddressFlow.feature
  wdio/features/Wallet/ExploringWizard.feature
  wdio/features/Wallet/ImportCustomToken.feature
  wdio/features/Wallet/LockResetWallet.feature
  wdio/features/Wallet/RequestTokenFlow.feature
  wdio/features/Wallet/SendToken.feature
Labels: tests, Appium, team-mobile-client, e2e

#6125 Update controller packages to match core v42
  package.json
  patches/@metamask+assets-controllers+5.0.0.patch
  yarn.lock
Labels: No QA Needed/E2E Only, needs-dev-review

#6356 [FIX] Appium: remove duplicate step onboarding
  wdio/config/android.config.browserstack.js
  wdio/config/android.config.browserstack.local.js
  wdio/config/android.config.debug.js
  wdio/step-definitions/onboarding.steps.js
Labels: tests, Appium, team-mobile-client, e2e, release-6.6

#6367 [Detox] update test config
  .detoxrc.js
  e2e/config.js
  e2e/environment.js
  e2e/init.js
  e2e/jest.e2e.config.js
  e2e/specs/delete-wallet.spec.js
  e2e/specs/onboarding-wizard-opt-in.spec.js
  e2e/specs/permission-system-delete-wallet.spec.js
  e2e/specs/permission-system-removing-imported-account.spec.js
  e2e/specs/wallet-tests.spec.js
  package.json
  yarn.lock
Labels: team-mobile-client

#6375 [FIX] Force Bitrise to build with intel medium stack machine
  bitrise.yml
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#6355 [FEAT] wallet connect v2
  .js.env.example
  app/components/Nav/App/index.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Views/Approval/index.js
  app/components/Views/SDKSessionsManager/SDKSessionItem.tsx
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/WalletConnectSessions/index.js
  app/core/AppConstants.js
  app/core/DeeplinkManager.js
  app/core/SDKConnect/RPCQueueManager.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/utils/parseSource.ts
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnect.test.ts
  app/core/WalletConnect/WalletConnectV2.ts
  app/core/WalletConnect/wc-config.ts
  app/core/WalletConnect/wc-utils.ts
  index.js
  package.json
  yarn.lock
Labels: QA Passed, WalletConnect, release-6.6

#6234 [REFACTOR] Clear Privacy section
  app/components/Views/Settings/SecuritySettings/Sections/ClearPrivacy/ClearPrivacy.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ClearPrivacy/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/index.ts
  app/components/Views/Settings/SecuritySettings/index.js
Labels: QA Passed, team-key-management, team-mobile-client, release-6.7

#6079 Refactor sanitization middleware
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/SanitizationMiddleware.test.ts
  app/core/SanitizationMiddleware.ts
Labels: QA in Progress, team-mobile-client, team-shared-libraries

#6390 [FIX] [6.6.0] Block explorer name on Account Actions
  app/components/Views/AccountActions/AccountActions.tsx
Labels: QA Passed, team-mobile-client, release-6.6

#6137 Clicking toAddress to add it to address book
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.test.tsx
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.tsx
  app/components/UI/AddToAddressBookWrapper/__snapshots__/AddToAddressBookWrapper.test.tsx.snap
  app/components/UI/AddToAddressBookWrapper/index.ts
  app/components/UI/AddToAddressBookWrapper/styles.ts
  app/components/UI/AddressInputs/__snapshots__/index.test.jsx.snap
  app/components/UI/AddressInputs/index.js
  app/components/UI/AddressInputs/index.test.jsx
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/SendFlow/SendTo/styles.ts
  app/components/hooks/useExistingAddress.test.ts
  app/components/hooks/useExistingAddress.ts
  app/util/test/renderWithProvider.tsx
  jest.config.js
Labels: QA Passed, team-confirmations-secure-ux-PR, unit test coverage confirmed, release-6.7

#6274 Confirmations: Empty SiteURL and Null TagURL in modal
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/UI/TransactionReview/TransactionReviewDetailsCard/__snapshots__/index.test.js.snap
  app/components/UI/TransactionReview/TransactionReviewDetailsCard/index.js
  app/components/UI/TransactionReview/TransactionReviewDetailsCard/index.test.js
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
Labels: QA Passed, team-confirmations-secure-ux-PR, release-6.7

#6412 fix: force intel stack on Bitrise builds
  bitrise.yml
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, release-6.6

#6411 remove snaps controller patch
  patches/@metamask+snaps-controllers+0.26.2.patch
Labels: No QA Needed/E2E Only

#6393 feat(ci): upgrade ruby to 3.0.0
  .ruby-version
  Gemfile
  ios/Gemfile
  ios/Podfile.lock
Labels: No QA Needed/E2E Only

#6413 [FIX] - Fix input display when editing account name
  app/component-library/components/Form/TextField/foundation/Input/Input.styles.ts
  app/component-library/components/Form/TextField/foundation/Input/__snapshots__/Input.test.tsx.snap
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
Labels: Spot Check on the Release Build, team-mobile-client, release-6.6

#6394 feat(ci): removed the matrix option from unit testing
  .github/workflows/ci.yml
Labels: No QA Needed/E2E Only

#6192 Show account balance in signature screen
  app/components/UI/AccountInfoCard/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountInfoCard/index.test.tsx
  app/components/UI/SignatureRequest/Root/__snapshots__/Root.test.tsx.snap
  app/components/UI/SignatureRequest/index.js
  app/util/transactions/index.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#6350 Fix ENS name displayed on confirm send page
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
Labels: QA Passed, release-6.6.0, unit test coverage confirmed

#6366 feat(CI): Convert Bitrise Workflows to Pipelines
  bitrise.yml
Labels: No QA Needed/E2E Only

#6427 refactor: Refactor unit tests for React Native 0.71.6 upgrade
  .eslintrc.js
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.tsx
  app/component-library/components/Buttons/ButtonIcon/__snapshots__/ButtonIcon.test.tsx.snap
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods/PaymentMethods.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/Regions/Regions.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/Regions/Regions.tsx
  app/components/UI/FiatOnRampAggregator/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/components/Box.tsx
  app/components/UI/FiatOnRampAggregator/components/RegionModal.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/SignatureRequest/Root/__snapshots__/Root.test.tsx.snap
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/index.test.tsx
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/SendFlow/AddressFrom/AddressFrom.test.tsx
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/Amount/index.test.tsx
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Confirm/index.test.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/hooks/AppConfig/useAppConfig.test.tsx
  app/components/hooks/DeleteWallet/useDeleteWallet.test.tsx
  app/components/hooks/MetaMetrics/useMetaMetrics.test.tsx
  app/constants/navigation/Routes.ts
  app/core/WalletConnect.test.ts
  app/util/test/testSetup.js
  e2e/helpers.js
  patches/react-native-button+2.3.0.patch
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#6439 fix: remove invalid accessibilityRole value
  app/components/UI/Navbar/index.js
  app/components/Views/Wallet/index.test.tsx
Labels: No QA Needed/E2E Only, needs-dev-review

#6425 fix: Upgrade testing library versions and resolve jest unit tests
  app/component-library/components/Accordions/Accordion/__snapshots__/Accordion.test.tsx.snap
  app/component-library/components/Modals/ModalMandatory/__snapshots__/ModalMandatory.test.tsx.snap
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/__snapshots__/AccountFromToInfoCard.test.tsx.snap
  app/components/UI/AccountInfoCard/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountInfoCard/index.test.tsx
  app/components/UI/AddressInputs/__snapshots__/index.test.jsx.snap
  app/components/UI/AddressInputs/index.test.jsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/UI/CustomNonceModal/__snapshots__/index.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/ReusableModal/__snapshots__/index.test.tsx.snap
  app/components/UI/Screen/__snapshots__/index.test.tsx.snap
  app/components/UI/SignatureRequest/Root/__snapshots__/Root.test.tsx.snap
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.tsx.snap
  app/components/Views/AddBookmark/__snapshots__/index.test.tsx.snap
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
  app/components/Views/NavigationUnitTest/__snapshots__/TestScreen1.test.js.snap
  app/components/Views/NavigationUnitTest/__snapshots__/TestScreen2.test.js.snap
  app/components/Views/NavigationUnitTest/__snapshots__/TestScreen3.test.js.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/SendFlow/AddressFrom/__snapshots__/AddressFrom.test.tsx.snap
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.test.tsx
  app/util/test/testSetup.js
  jest.config.js
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#6395 [FIX] [6.6.0] - Onboarding wizard misaligned
  app/component-library/components/Navigation/TabBar/TabBar.test.tsx
  app/component-library/components/Navigation/TabBar/TabBar.tsx
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  app/component-library/components/Pickers/PickerAccount/__snapshots__/PickerAccount.test.tsx.snap
  app/component-library/components/Pickers/PickerBase/PickerBase.tsx
  app/components/UI/AnimatedTransactionModal/index.test.tsx
  app/components/UI/DrawerView/index.js
  app/components/UI/OnboardingWizard/Coachmark/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Coachmark/index.js
  app/components/UI/OnboardingWizard/Step1/index.js
  app/components/UI/OnboardingWizard/Step2/index.js
  app/components/UI/OnboardingWizard/Step3/index.js
  app/components/UI/OnboardingWizard/Step4/index.js
  app/components/UI/OnboardingWizard/Step5/index.js
  app/components/UI/OnboardingWizard/Step6/index.js
  app/components/UI/OnboardingWizard/index.js
  app/components/UI/OnboardingWizard/styles.js
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/Views/Wallet/index.tsx
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: QA Passed, team-mobile-client, release-6.6.0

#6311 Fix token balance displayed in approval pages
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.tsx
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.tsx
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.types.ts
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountInfoCard/index.test.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.types.ts
  app/components/UI/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/hooks/useAddressBalance/index.ts
  app/components/hooks/useAddressBalance/useAddressBalance.test.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/components/hooks/useAddressBalance/useAddressBalance.types.ts
  ios/Podfile.lock
Labels: QA Passed, unit test coverage confirmed, release-6.7.0

#6431 [FIX] [6.6.0] - Import tokens and NFTs button now visible
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/styles.ts
Labels: needs-qa, team-mobile-client, release-6.6.0

#6040 Add validation to send amount input box.
  app/components/Views/SendFlow/Amount/index.js
  e2e/pages/AmountView.js
  e2e/specs/confirmations/send-eth-flow.spec.js
Labels: QA Passed, team-confirmations-secure-ux-PR, release-6.7.0

#6446 [FIX] Send ETH displays Collectible as predefault value in the Amount screen and undefined balance
  app/components/Views/SendFlow/AddressFrom/AddressFrom.test.tsx
  app/components/Views/SendFlow/AddressFrom/AddressFrom.tsx
Labels: QA Passed, needs-dev-review, regression-RC, team-confirmations-secure-ux-PR, release-6.6.0

#6442 fix(ci): Remove `restore-build` steps
  .github/workflows/ci.yml
Labels: needs-dev-review

#6441 On-ramp: use screen in on-ramp views tests
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods/PaymentMethods.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/Regions/Regions.test.tsx
Labels: No QA Needed/E2E Only, on-ramp, release-7.1.0

#6432 feat(ci): Configure SonarCloud Analysis on CI
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
  sonar-project.properties
Labels: needs-dev-review

#6450 [Translations]
  locales/languages/en.json
Labels: needs-dev-review, team-mobile-client

#6421 exclude legacy types from rate limiting
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: release-6.7.0

#6456 Fix ENS name displayed on confirm send page
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
Labels: QA Passed

#6381 On-ramp: add params validation to useSDKMethod hook
  app/components/UI/FiatOnRampAggregator/hooks/useSDKMethod.ts
Labels: on-ramp, release-7.1.0

#5829 Update order of browser page load events
  app/components/Views/BrowserTab/index.js
Labels: No QA Needed/E2E Only, release-7.1.0

#6351 On-ramp: use thunk to handle processed order side effects
  app/components/UI/FiatOnRampAggregator/Views/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/index.tsx
Labels: on-ramp, on-ramp-qa-passed, release-7.1.0

#6334 Add Aurora Token Detection
  patches/@metamask+assets-controllers+5.0.0.patch
Labels: QA Passed, release-7.1.0

#6380 [FEATURE] WalletConnect v2 Integration
  .js.env.example
  app/components/Nav/App/index.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Views/Approval/index.js
  app/components/Views/SDKSessionsManager/SDKSessionItem.tsx
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/WalletConnectSessions/index.js
  app/core/AppConstants.js
  app/core/DeeplinkManager.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/RPCQueueManager.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/utils/getAllUrlParams.util.ts
  app/core/SDKConnect/utils/parseSource.ts
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnect.test.ts
  app/core/WalletConnect/WalletConnectV2.ts
  app/core/WalletConnect/wc-config.ts
  app/core/WalletConnect/wc-utils.ts
  bitrise.yml
  index.js
  package.json
  yarn.lock
Labels: team-sdk, dapp-compatibility, QA Passed, Priority - High, release-7.0.0

#6357 refactor: use approval controller for watch asset confirmation
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  patches/@metamask+assets-controllers+5.0.0.patch
Labels: release-6.7.0

#6487 feat: add new Show test networks translation
  locales/languages/en.json
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-client

#6471 test: Approve default ERC20 token from a dapp
  wdio/features/Confirmations/ApproveERC20.feature
  wdio/screen-objects/BrowserObject/ExternalWebsitesScreen.js
  wdio/screen-objects/Modals/AccountApprovalModal.js
  wdio/step-definitions/browser-steps.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR, unit test coverage confirmed

#6294 feat: [MC 0.5] - Activity view and Settings on the tab bar
  app/component-library/components/Icons/Icon/Icon.assets.ts
  app/component-library/components/Icons/Icon/Icon.types.ts
  app/component-library/components/Icons/Icon/assets/activity.svg
  app/component-library/components/Navigation/TabBar/TabBar.constants.ts
  app/component-library/components/Navigation/TabBar/TabBar.test.tsx
  app/component-library/components/Navigation/TabBar/TabBar.tsx
  app/component-library/components/Navigation/TabBar/TabBar.types.ts
  app/component-library/components/Navigation/TabBar/__snapshots__/TabBar.test.tsx.snap
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.tsx
  app/components/UI/CollectibleDetectionModal/index.tsx
  app/components/UI/DrawerView/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/NavbarTitle/index.js
  app/components/UI/NetworkInfo/InfoDescription/infoDescription.tsx
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/OptinMetrics/index.js
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/Settings/index.js
  app/constants/navigation/Routes.ts
  app/constants/test-ids.js
  e2e/pages/Drawer/Settings/NetworksView.js
  e2e/pages/SendView.js
  e2e/pages/TabBarComponent.js
  e2e/pages/modals/AddAddressModal.js
  e2e/specs/add-custom-rpc.spec.js
  e2e/specs/addressbook-tests.spec.js
  e2e/specs/contract-nickname.failing.js
  e2e/specs/deeplinks.spec.js
  e2e/specs/delete-wallet.spec.js
  e2e/specs/onboarding-wizard-opt-in.spec.js
  e2e/specs/send-ERC-token.spec.js
  e2e/viewHelper.js
  wdio/config/android.config.browserstack.local.js
  wdio/config/android.config.debug.js
  wdio/features/Networks/NetworkFlow.feature
  wdio/features/SecurityAndPrivacy/DeleteWallet.feature
  wdio/features/SecurityAndPrivacy/RememberMe.feature
  wdio/features/Settings/ChangePassword.feature
  wdio/features/Wallet/AddressFlow.feature
  wdio/features/Wallet/ImportCustomToken.feature
  wdio/features/Wallet/RequestTokenFlow.feature
  wdio/screen-objects/Modals/AddressBookModal.js
  wdio/screen-objects/Modals/TabBarModal.js
  wdio/screen-objects/NetworksScreen.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Components/TabBar.testIds.js
  wdio/screen-objects/testIDs/Screens/AddressBook.testids.js
  wdio/screen-objects/testIDs/Screens/DrawerView.testIds.js
  wdio/step-definitions/add-networks.steps.js
  wdio/step-definitions/common-steps.js
  wdio/step-definitions/create-new-wallet-account.steps.js
  wdio/step-definitions/send-flow.steps.js
Labels: QA Passed, team-mobile-client

#6299 fix: for from address balance shown for ERC20 transfers
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/util/dappTransactions/index.test.ts
  app/util/dappTransactions/index.ts
Labels: QA Passed, unit test coverage confirmed, release-7.2.0
