Repository MetaMask/metamask-mobile, pull requests merged in 2023-12, with the labels that each got.

#7967 test: Removing test selector strings within app code
  app/components/UI/AssetList/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetList/index.js
  app/components/UI/BrowserUrlBar/BrowserUrlBar.tsx
  app/components/UI/NavbarTitle/index.js
  app/components/UI/Notification/BaseNotification/index.js
  app/components/UI/PaymentRequest/index.js
  app/components/UI/Ramp/buy/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/buy/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/Ramp/buy/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/Ramp/buy/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/buy/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Ramp/common/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Ramp/common/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/common/Views/SendTransaction/__snapshots__/SendTransaction.test.tsx.snap
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  app/components/UI/Transactions/index.js
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  e2e/pages/TransactionConfirmView.js
  e2e/selectors/BrowserView.selectors.js
  e2e/selectors/Common.selectors.js
  e2e/selectors/RequestPaymentView.selectors.js
Labels: No QA Needed/E2E Only, team-mobile-client, Run Smoke E2E

#7960 feat: Content update for Swaps
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/QuotesModal.js
  app/components/UI/Swaps/index.js
  app/reducers/swaps/index.js
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi-in.json
  locales/languages/hi.json
  locales/languages/id-id.json
  locales/languages/id.json
  locales/languages/ja-jp.json
  locales/languages/ja.json
  locales/languages/ko-kr.json
  locales/languages/ko.json
  locales/languages/pt-br.json
  locales/languages/pt.json
  locales/languages/ru-ru.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi-vn.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: team-swaps, Run Smoke E2E, INVALID-PR-TEMPLATE, release-7.13.0

#7955 feat: RNTar native modules (Android and iOS)
  android/app/build.gradle
  android/app/src/androidTest/java/com/metamask/nativeModules/RNTarTest/RNTarTest.java
  android/app/src/androidTest/resources/validTestTGZFile.tgz
  android/app/src/main/java/io/metamask/MainApplication.java
  android/app/src/main/java/io/metamask/nativeModules/RNTar/RNTar.java
  android/app/src/main/java/io/metamask/nativeModules/RNTar/RNTarPackage.java
  app/components/Nav/Main/MainNavigator.js
  app/components/Views/Settings/index.tsx
  app/components/Views/Snaps/SnapsSettingsList/SnapsSettingsList.styles.ts
  app/components/Views/Snaps/SnapsSettingsList/SnapsSettingsList.tsx
  app/components/Views/Snaps/SnapsSettingsList/index.ts
  app/constants/navigation/Routes.ts
  ios/Light-Swift-Untar-V2/Light-Swift-Untar.swift
  ios/MetaMask-Bridging-Header.h
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile
  ios/Podfile.lock
  ios/RNTar.m
  ios/RnTar.swift
  locales/languages/en.json
Labels: team-accounts, Run Smoke E2E

#7899 feat(ramp): popular region and search states
  app/components/UI/Ramp/buy/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/buy/Views/Regions/Regions.tsx
  app/components/UI/Ramp/buy/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Ramp/common/components/RegionModal.tsx
  app/components/UI/Ramp/common/sdk/index.tsx
  locales/languages/en.json
Labels: team-ramp, Run Smoke E2E

#7977 chore: cherry-pick: test: Increase E2E test setup time (#7929)
  .detoxrc.js
Labels: team-mobile-client, Run Smoke E2E, release-7.12.0

#7971 fix: Updated ButtonLink to use text when size is auto
  app/component-library/components-temp/CustomSpendCap/__snapshots__/CustomSpendCap.test.tsx.snap
  app/component-library/components/Banners/Banner/variants/BannerAlert/__snapshots__/BannerAlert.test.tsx.snap
  app/component-library/components/Banners/Banner/variants/BannerTip/__snapshots__/BannerTip.test.tsx.snap
  app/component-library/components/Buttons/Button/variants/ButtonLink/ButtonLink.tsx
  app/component-library/components/Buttons/Button/variants/ButtonLink/__snapshots__/ButtonLink.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, Run Smoke E2E, INVALID-PR-TEMPLATE

#7472 refactor: Convert Tag stories to csf format
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components/Cells/Cell/__snapshots__/Cell.test.tsx.snap
  app/component-library/components/Cells/Cell/foundation/CellBase/__snapshots__/CellBase.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellDisplay/__snapshots__/CellDisplay.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/__snapshots__/CellMultiSelect.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellSelect/__snapshots__/CellSelect.test.tsx.snap
  app/component-library/components/Tags/Tag/Tag.stories.tsx
  app/component-library/components/Tags/Tag/Tag.styles.ts
  app/component-library/components/Tags/Tag/Tag.tsx
  app/component-library/components/Tags/Tag/__snapshots__/Tag.test.tsx.snap
  app/component-library/components/Tags/TagUrl/TagUrl.constants.ts
  app/component-library/components/Tags/TagUrl/TagUrl.stories.tsx
  app/component-library/components/Tags/TagUrl/TagUrl.test.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#7873 refactor: split migrations into multiple files
  app/store/migrations.js
  app/store/migrations.test.js
  app/store/migrations/000.js
  app/store/migrations/001.js
  app/store/migrations/002.js
  app/store/migrations/003.js
  app/store/migrations/004.js
  app/store/migrations/005.js
  app/store/migrations/006.js
  app/store/migrations/007.js
  app/store/migrations/008.js
  app/store/migrations/009.js
  app/store/migrations/010.js
  app/store/migrations/011.js
  app/store/migrations/012.js
  app/store/migrations/013.js
  app/store/migrations/014.js
  app/store/migrations/015.js
  app/store/migrations/016.js
  app/store/migrations/017.js
  app/store/migrations/018.js
  app/store/migrations/019.js
  app/store/migrations/019.test.js
  app/store/migrations/020.js
  app/store/migrations/020.test.js
  app/store/migrations/021.js
  app/store/migrations/021.test.js
  app/store/migrations/022.js
  app/store/migrations/022.test.js
  app/store/migrations/023.js
  app/store/migrations/023.test.js
  app/store/migrations/024.js
  app/store/migrations/024.test.js
  app/store/migrations/025.js
  app/store/migrations/025.test.js
  app/store/migrations/026.js
  app/store/migrations/026.test.js
  app/store/migrations/027.js
  app/store/migrations/027.test.js
  app/store/migrations/index.ts
  app/store/migrations/migration-data/amibiguous-networks.json
Labels: No QA Needed/E2E Only, team-confirmations-system, Run Smoke E2E

#7710 test: flag Confirmations tests as Smoke tests
  e2e/fixtures/utils.js
  e2e/jest.e2e.config.js
  e2e/specs/confirmations/approve-default-erc20.spec.js
  e2e/specs/confirmations/send-erc20-with-dapp.spec.js
  e2e/specs/confirmations/send-erc721.spec.js
  e2e/specs/confirmations/send-eth.spec.js
  e2e/specs/confirmations/signatures/eth-sign.spec.js
  e2e/specs/confirmations/signatures/personal-sign.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v3.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v4.spec.js
  e2e/specs/confirmations/signatures/typed-sign.spec.js
  e2e/specs/confirmations/typed-sign.spec.js
Labels: team-confirmations-secure-ux-PR, Run Smoke E2E

#7888 test: Settings Security And Privacy: Refactor page objects
  app/components/Views/ResetPassword/index.js
  app/components/Views/Settings/SecuritySettings/Sections/ChangePassword/ChangePassword.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  e2e/pages/CommonView.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/ChangePasswordView.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/RevealSecretRecoveryPhrase.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/selectors/Settings/SecurityAndPrivacy/ChangePasswordView.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/SecurityPrivacyView.selectors.js
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/quarantine/deeplinks.failing.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/utils/Gestures.js
  wdio/screen-objects/testIDs/Screens/ChangePasswordScreensIDs.testIds.js
Labels: needs-dev-review, team-mobile-client, Run Smoke E2E

#7989 test: Removing test selector strings within app code (5/7)
  app/components/Views/CollectibleView/index.js
  app/components/Views/ConnectQRHardware/SelectQRAccounts/index.tsx
  app/components/Views/EnterPasswordSimple/index.js
  app/components/Views/GasEducationCarousel/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportPrivateKey/index.tsx
  app/components/Views/ImportPrivateKeySuccess/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportPrivateKeySuccess/index.js
  e2e/pages/Onboarding/ImportWalletView.js
  e2e/selectors/ImportAccountFromPrivateKey.selectors.js
  e2e/selectors/ImportPrivateKeySuccessScreen.selectors.js
  e2e/selectors/Onboarding/ImportFromSeed.selectors.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#8000 fix(000): remove # in pull request template as it will auto generate …
  .github/pull-request-template.md
Labels: team-mobile-client, team-mobile-platform

#8002 chore: Cherry-pick for solution in main to token rates
  app/components/UI/Tokens/index.tsx
  app/components/Views/Wallet/index.tsx
  app/core/Engine.ts
  patches/@metamask+assets-controllers+7.0.0.patch
Labels: team-mobile-client, Run Smoke E2E, release-7.12.1

#7993 test: Removing test selector strings within app code (7/7)
  app/components/Views/SDKSessionsManager/SDKSessionsManager.tsx
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/AppInformation/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/Settings/SecuritySettings/Sections/LoginOptionsSettings.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/WalletConnectSessions/index.js
  e2e/selectors/Settings/AboutMetaMask.selectors.js
  e2e/selectors/Settings/AdvancedView.selectors.js
  e2e/selectors/Settings/ExperimentalView.selectors.js
  e2e/selectors/Settings/SDK.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/SecurityPrivacyView.selectors.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#7992 test: Removing test selector strings within app code (6/7)
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/OnboardingCarousel/index.js
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/RevealSecretRecoveryPhrase.js
  e2e/selectors/LoginView.selectors.js
  e2e/selectors/Onboarding/ManualBackUpStep1.selectors.js
  e2e/selectors/Onboarding/ManualBackUpStep3.selectors.js
  e2e/selectors/Onboarding/OnboardingCarousel.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/RevealSeedView.selectors.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#7978 test: Removing test selector strings within app code 2/7
  app/components/UI/AssetSearch/index.tsx
  app/components/UI/FoxScreen/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/NavbarBrowserTitle/index.js
  app/components/UI/Ramp/buy/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/buy/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/Ramp/buy/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/Ramp/buy/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/buy/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Ramp/common/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Ramp/common/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/common/Views/SendTransaction/__snapshots__/SendTransaction.test.tsx.snap
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  e2e/selectors/AddTokenView.selectors.js
  e2e/selectors/Common.selectors.js
  e2e/selectors/WalletView.selectors.js
  wdio/screen-objects/testIDs/Screens/AssetSearch.testIds.js
  wdio/screen-objects/testIDs/Screens/DrawerView.testIds.js
  wdio/screen-objects/testIDs/Screens/WalletScreen-testIds.js
Labels: No QA Needed/E2E Only, team-mobile-client

#8007 chore: update header key
  patches/@metamask+assets-controllers+7.0.0.patch
Labels: team-mobile-client, release-7.12.1

#8011 test: batch 1 remove strings testid app code
  app/components/UI/AccountOverview/index.js
  app/components/UI/AccountRightButton/index.tsx
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/AddressInputs/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/AssetList/index.js
  app/components/Views/AddAsset/__snapshots__/AddAsset.test.tsx.snap
  e2e/pages/Drawer/Browser.js
  e2e/pages/ImportTokensView.js
  e2e/selectors/AccountOverview.selectors.js
  e2e/selectors/ImportTokenView.selectors.js
  e2e/selectors/SendView.selectors.js
  wdio/screen-objects/testIDs/Screens/AssetSearch.testIds.js
Labels: No QA Needed/E2E Only, team-mobile-client, in-progress

#7972 chore: Replace local code fence transform with `@metamask/build-utils`
  app/__mocks__/different-fenced-code-comp.mock.js
  app/__mocks__/different-fenced-code-result-comp.mock.js
  app/__mocks__/empty-fenced-code-comp.mock.js
  app/__mocks__/fenced-code-comp.mock.js
  app/__mocks__/invalid-param-fenced-comp.mock.js
  app/__mocks__/malformed-fenced-code-comp.mock.js
  app/__mocks__/multiple-params-fenced-code-comp.mock.js
  app/__mocks__/no-fenced-code-comp.mock.js
  app/components/Views/Settings/index.tsx
  app/transforms/README.md
  app/transforms/remove-fenced-code.d.ts
  app/transforms/remove-fenced-code.js
  app/transforms/remove-fenced-code.test.js
  metro.transform.js
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, needs-smoke-e2e, Run Smoke E2E, INVALID-PR-TEMPLATE

#8012 fix: Rename old code fences
  app/components/Nav/Main/MainNavigator.js
  app/components/Views/Settings/index.tsx
  app/constants/navigation/Routes.ts
Labels: team-mobile-platform, INVALID-PR-TEMPLATE

#8008 Cherry pick: feat: Content update for Swaps
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/QuotesModal.js
  app/components/UI/Swaps/index.js
  app/reducers/swaps/index.js
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi-in.json
  locales/languages/hi.json
  locales/languages/id-id.json
  locales/languages/id.json
  locales/languages/ja-jp.json
  locales/languages/ja.json
  locales/languages/ko-kr.json
  locales/languages/ko.json
  locales/languages/pt-br.json
  locales/languages/pt.json
  locales/languages/ru-ru.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi-vn.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: team-swaps, Run Smoke E2E, release-7.13.0

#7925 chore: refactor the DeeplinkManager into smaller parts and add unit tests
  app/components/Nav/App/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/Navbar/index.js
  app/components/Views/QRScanner/index.tsx
  app/core/DeeplinkManager.ts
  app/core/DeeplinkManager/DeeplinkManager.test.ts
  app/core/DeeplinkManager/DeeplinkManager.ts
  app/core/DeeplinkManager/Handlers/handleBrowserUrl.test.ts
  app/core/DeeplinkManager/Handlers/handleBrowserUrl.ts
  app/core/DeeplinkManager/Handlers/handleEthereumUrl.test.ts
  app/core/DeeplinkManager/Handlers/handleEthereumUrl.ts
  app/core/DeeplinkManager/Handlers/switchNetwork.test.ts
  app/core/DeeplinkManager/Handlers/switchNetwork.ts
  app/core/DeeplinkManager/ParseManager/connectWithWC.test.ts
  app/core/DeeplinkManager/ParseManager/connectWithWC.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.test.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.ts
  app/core/DeeplinkManager/ParseManager/handleDappUrl.test.ts
  app/core/DeeplinkManager/ParseManager/handleDappUrl.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.test.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.test.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/DeeplinkManager/ParseManager/parseDeeplink.test.ts
  app/core/DeeplinkManager/ParseManager/parseDeeplink.ts
  app/core/DeeplinkManager/SharedDeeplinkManager.test.ts
  app/core/DeeplinkManager/SharedDeeplinkManager.ts
  app/core/DeeplinkManager/TransactionManager/approveTransaction.test.ts
  app/core/DeeplinkManager/TransactionManager/approveTransaction.ts
Labels: team-sdk, QA Passed

#7822 fix: PPOM - Metrics information from ppom is not logged
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/MessageSign/MessageSign.tsx
  app/components/UI/MessageSign/__snapshots__/index.test.tsx.snap
  app/components/UI/MessageSign/index.test.tsx
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/PersonalSign/__snapshots__/index.test.tsx.snap
  app/components/UI/PersonalSign/index.test.tsx
  app/components/UI/SignatureRequest/Root/Root.test.tsx
  app/components/UI/SignatureRequest/Root/Root.tsx
  app/components/UI/SignatureRequest/index.js
  app/components/UI/TransactionReview/index.js
  app/components/UI/TransactionReview/index.test.tsx
  app/components/UI/TypedSign/__snapshots__/index.test.tsx.snap
  app/components/UI/TypedSign/index.js
  app/components/UI/TypedSign/index.test.tsx
  app/components/Views/Approval/index.js
  app/util/blockaid/index.ts
  app/util/confirmation/signatureUtils.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#7954 feat: minor changes to connect QR wallet screen
  app/components/Views/ConnectQRHardware/Instruction/index.tsx
  app/components/Views/ConnectQRHardware/Instruction/styles.ts
  app/images/connect-qr-hardware.png
  locales/languages/en.json
Labels: Spot Check on the Release Build, team-accounts

#8031 fix: PPOMController update to handle storage crash
  app/components/Views/Approval/index.js
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8013 fix: show loading banner when blockaid toggled
  app/actions/experimental/index.ts
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.tsx
  app/components/Nav/App/index.js
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.styles.ts
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.tsx
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/index.ts
  app/components/Views/Settings/ExperimentalSettings/ExperimentalSettings.styles.ts
  app/components/Views/Settings/ExperimentalSettings/ExperimentalSettings.types.ts
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/constants/navigation/Routes.ts
  app/core/Engine.ts
  app/reducers/experimentalSettings/index.ts
  locales/languages/en.json
Labels: team-confirmations-secure-ux-PR, Run Smoke E2E

#8046 fix: CI flakey unit tests TypeErrors on react-native/jest/setup.js global.performance
  .nvmrc
  package.json
Labels: team-mobile-client, Run Smoke E2E

#7990 feat: Use new Segment implementation in onboarding steps (Batch 3 of 4)
  app/components/Nav/App/index.js
  app/components/UI/OptinMetrics/index.js
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/AccountBackupStep1B/index.js
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/ManualBackupStep2/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/OnboardingCarousel/index.js
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/util/metrics/TrackAfterInteraction/trackAfterInteractions.test.ts
  app/util/metrics/TrackAfterInteraction/trackAfterInteractions.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/UserProfileAnalyticsMetaData.types.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
  app/util/metrics/index.ts
Labels: team-mobile-client, Run Smoke E2E

#7962 feat(ramp): add sell notification texts
  app/components/UI/Ramp/buy/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/common/containers/ApplePayButton.tsx
  app/components/UI/Ramp/common/utils/index.test.ts
  app/components/UI/Ramp/common/utils/index.ts
  app/components/UI/Ramp/index.tsx
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi-in.json
  locales/languages/hi.json
  locales/languages/id-id.json
  locales/languages/id.json
  locales/languages/ja-jp.json
  locales/languages/ja.json
  locales/languages/ko-kr.json
  locales/languages/ko.json
  locales/languages/pt-br.json
  locales/languages/pt.json
  locales/languages/ru-ru.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi-vn.json
  locales/languages/vi.json
  locales/languages/zh-cn.json
  locales/languages/zh.json
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#8016 feat(ramp): add sell deeplink
  app/constants/deeplinks.ts
  app/core/DeeplinkManager/DeeplinkManager.test.ts
  app/core/DeeplinkManager/DeeplinkManager.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.test.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.test.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
Labels: needs-dev-review, team-ramp, ramp-qa-passed

#8057 fix: Disable SES on iOS
  .nvmrc
  package.json
  patches/react-native+0.71.14.patch
Labels: team-mobile-platform, release-12.2.2

#8044 refactor: Updated navigational Navbar Headers with DS components
  app/components/UI/Navbar/index.js
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, Run Smoke E2E, INVALID-PR-TEMPLATE

#8052 fix(action): be more restrictive on the release branch format
  .github/workflows/create-bug-report.yml
Labels: needs-dev-review, team-mobile-client, team-mobile-platform

#8063 fix: fix typo on PPOM modal text
  locales/languages/en.json
Labels: team-confirmations-secure-ux-PR, Run Smoke E2E

#8059 fix: rename Segment env vars and add in example file
  .js.env.example
  app/core/Analytics/MetaMetrics.ts
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#8069 chore: merge hotfix 7.12.2
  .nvmrc
  package.json
  patches/react-native+0.71.14.patch
Labels: regression-RC, Run Smoke E2E, release-7.13.0

#8005 chore: add unit tests to sdk connect handlers
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/Connection.ts
  app/core/SDKConnect/RPCQueueManager.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/SDKConnectConstants.ts
  app/core/SDKConnect/handlers/checkPermissions.test.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
  app/core/SDKConnect/handlers/handleBatchRpcResponse.test.ts
  app/core/SDKConnect/handlers/handleBatchRpcResponse.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.test.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.ts
  app/core/SDKConnect/handlers/handleConnectionReady.test.ts
  app/core/SDKConnect/handlers/handleConnectionReady.ts
  app/core/SDKConnect/handlers/handleCustomRpcCalls.test.ts
  app/core/SDKConnect/handlers/handleCustomRpcCalls.ts
  app/core/SDKConnect/handlers/handleDeeplink.test.ts
  app/core/SDKConnect/handlers/handleRpcOverwrite.test.ts
  app/core/SDKConnect/handlers/handleRpcOverwrite.ts
  app/core/SDKConnect/handlers/handleSendMessage.test.ts
  app/core/SDKConnect/handlers/handleSendMessage.ts
  app/core/SDKConnect/handlers/setupBridge.test.ts
Labels: team-sdk, QA Passed

#8029 fix: blockaid analytics code typos
  app/components/Views/Approval/index.js
  app/util/confirmation/signatureUtils.js
Labels: No QA Needed/E2E Only, team-confirmations-secure-ux, Run Smoke E2E

#7897 test: Separate Detox build from test execution
  bitrise.yml
  package.json
Labels: team-confirmations-system, Run Smoke E2E

#8075 fix: ignore ppom when using yarn format
  .prettierignore
Labels: No QA Needed/E2E Only, team-mobile-client

#8028 chore: split the SDKConnect class into smaller chunks and add unit tests
  app/core/SDKConnect/AndroidSDK/addAndroidConnection.test.ts
  app/core/SDKConnect/AndroidSDK/addAndroidConnection.ts
  app/core/SDKConnect/AndroidSDK/bindAndroidSDK.test.ts
  app/core/SDKConnect/AndroidSDK/bindAndroidSDK.ts
  app/core/SDKConnect/AndroidSDK/loadAndroidConnections.test.ts
  app/core/SDKConnect/AndroidSDK/loadAndroidConnections.ts
  app/core/SDKConnect/AndroidSDK/removeAndroidConnection.test.ts
  app/core/SDKConnect/AndroidSDK/removeAndroidConnection.ts
  app/core/SDKConnect/BatchRPCManager.test.ts
  app/core/SDKConnect/BatchRPCManager.ts
  app/core/SDKConnect/ConnectionManagement/approveHost.test.ts
  app/core/SDKConnect/ConnectionManagement/approveHost.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.ts
  app/core/SDKConnect/ConnectionManagement/disapproveChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/disapproveChannel.ts
  app/core/SDKConnect/ConnectionManagement/index.ts
  app/core/SDKConnect/ConnectionManagement/invalidateChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/invalidateChannel.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.test.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.ts
  app/core/SDKConnect/ConnectionManagement/reconnectAll.test.ts
  app/core/SDKConnect/ConnectionManagement/reconnectAll.ts
  app/core/SDKConnect/ConnectionManagement/removeAll.test.ts
  app/core/SDKConnect/ConnectionManagement/removeAll.ts
  app/core/SDKConnect/ConnectionManagement/removeChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/removeChannel.ts
  app/core/SDKConnect/ConnectionManagement/watchConnection.test.ts
  app/core/SDKConnect/ConnectionManagement/watchConnection.ts
  app/core/SDKConnect/InitializationManagement/asyncInit.test.ts
  app/core/SDKConnect/InitializationManagement/asyncInit.ts
  app/core/SDKConnect/InitializationManagement/index.ts
  app/core/SDKConnect/InitializationManagement/init.ts
  app/core/SDKConnect/InitializationManagement/postInit.test.ts
  app/core/SDKConnect/InitializationManagement/postInit.ts
  app/core/SDKConnect/SDKConnect.test.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/SessionManagement/index.ts
  app/core/SDKConnect/SessionManagement/pause.test.ts
  app/core/SDKConnect/SessionManagement/pause.ts
  app/core/SDKConnect/SessionManagement/resume.test.ts
  app/core/SDKConnect/SessionManagement/resume.ts
  app/core/SDKConnect/SessionManagement/unmount.test.ts
  app/core/SDKConnect/SessionManagement/unmount.ts
  app/core/SDKConnect/StateManagement/handleAppState.test.ts
  app/core/SDKConnect/StateManagement/handleAppState.ts
  app/core/SDKConnect/StateManagement/hideLoadingState.test.ts
  app/core/SDKConnect/StateManagement/hideLoadingState.ts
  app/core/SDKConnect/StateManagement/index.ts
  app/core/SDKConnect/StateManagement/updateOriginatorInfos.test.ts
  app/core/SDKConnect/StateManagement/updateOriginatorInfos.ts
  app/core/SDKConnect/StateManagement/updateSDKLoadingState.test.ts
  app/core/SDKConnect/StateManagement/updateSDKLoadingState.ts
  app/core/SDKConnect/handlers/handleDeeplink.ts
  yarn.lock
Labels: team-sdk, QA in Progress

#8077 [Force upgrade] bump minimum version 1224 (version 7.12.2)
  AppConfig/v1/AppConfig.json
Labels: No QA Needed/E2E Only, team-mobile-client, minimum-versions

#8085 fix: PPOMController related issues in blockaid integration
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8014 test: Batch 4 Remove all instances of strings in TestID property in the app code
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountBackupStep1B/index.js
  app/components/Views/AddAsset/AddAsset.test.tsx
  app/components/Views/AddAsset/AddAsset.tsx
  app/components/Views/AddBookmark/index.js
  app/components/Views/AddressQRCode/index.js
  app/components/Views/ChoosePassword/index.js
  app/components/Views/Collectible/index.js
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/ManualBackupStep2/index.js
  app/components/Views/ManualBackupStep3/index.js
  e2e/pages/Drawer/Browser.js
  e2e/pages/Onboarding/ProtectYourWalletView.js
  e2e/pages/modals/WhatsNewModal.js
  e2e/selectors/AddAssetView.selectors.js
  e2e/selectors/AddBookmarkView.selectors.js
  e2e/selectors/Modals/WhatsNewModal.selectors.js
  e2e/selectors/Onboarding/ChoosePassword.selectors.js
  e2e/selectors/Onboarding/ManualBackUpStep1.selectors.js
  e2e/selectors/Onboarding/ManualBackUpStep2.selectors.js
  e2e/selectors/Onboarding/ManualBackUpStep3.selectors.js
  e2e/selectors/Onboarding/ManualBackUpSteps.selectors.js
  e2e/selectors/Onboarding/ProtectWallet.selectors.js
  e2e/specs/quarantine/contract-nickname.failing.js
  wdio/features/Performance/WarmStartPerformance.feature
  wdio/screen-objects/BrowserObject/AddFavoriteScreen.js
  wdio/screen-objects/ChangePasswordScreens.js
  wdio/screen-objects/Modals/WhatsNewModal.js
  wdio/screen-objects/testIDs/BrowserScreen/AddFavorite.testIds.js
  wdio/screen-objects/testIDs/Screens/ChangePasswordScreensIDs.testIds.js
Labels: needs-dev-review, team-mobile-client, Run Smoke E2E

#8074 chore: split the Connection class into smaller chunks and add unit tests
  app/core/SDKConnect/Connection.ts
  app/core/SDKConnect/Connection/Auth/sendAuthorized.test.ts
  app/core/SDKConnect/Connection/Auth/sendAuthorized.ts
  app/core/SDKConnect/Connection/Connection.test.ts
  app/core/SDKConnect/Connection/Connection.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/connect.test.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/connect.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/disconnect.test.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/disconnect.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/index.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/pause.test.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/pause.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/removeConnection.test.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/removeConnection.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/resume.test.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/resume.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsConnected.test.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsConnected.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsDisconnected.test.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsDisconnected.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsReady.test.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsReady.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleReceivedMessage.test.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleReceivedMessage.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/index.ts
  app/core/SDKConnect/Connection/index.ts
  app/core/SDKConnect/RPCQueueManager.test.ts
  yarn.lock
Labels: needs-qa, team-sdk, Code Impact - Medium

#8084 feat: Snaps settings
  app/components/Nav/Main/MainNavigator.js
  app/components/Views/Snaps/SnapSettings/SnapSettings.constants.ts
  app/components/Views/Snaps/SnapSettings/SnapSettings.styles.ts
  app/components/Views/Snaps/SnapSettings/SnapSettings.tsx
  app/components/Views/Snaps/SnapSettings/index.ts
  app/components/Views/Snaps/SnapSettings/test/SnapSettings.test.tsx
  app/components/Views/Snaps/components/SnapDescription/SnapDescription.constants.ts
  app/components/Views/Snaps/components/SnapDescription/SnapDescription.styles.tsx
  app/components/Views/Snaps/components/SnapDescription/SnapDescription.tsx
  app/components/Views/Snaps/components/SnapDescription/index.ts
  app/components/Views/Snaps/components/SnapDescription/test/SnapDescription.test.tsx
  app/components/Views/Snaps/components/SnapDetails/SnapDetails.constants.ts
  app/components/Views/Snaps/components/SnapDetails/SnapDetails.styles.ts
  app/components/Views/Snaps/components/SnapDetails/SnapDetails.tsx
  app/components/Views/Snaps/components/SnapDetails/index.ts
  app/components/Views/Snaps/components/SnapDetails/test/SnapDetails.test.tsx
  app/components/Views/Snaps/components/SnapElement/SnapElement.tsx
  app/components/Views/Snaps/components/SnapElement/test/SnapElement.test.tsx
  app/components/Views/Snaps/components/SnapPermissionCell/test/SnapPermissionCell.test.tsx
  app/components/Views/Snaps/components/SnapPermissions/test/SnapPermissions.test.tsx
  app/components/Views/Snaps/components/SnapVersionTag/SnapVersionTag.constants.ts
  app/components/Views/Snaps/components/SnapVersionTag/SnapVersionTag.styles.ts
  app/components/Views/Snaps/components/SnapVersionTag/SnapVersionTag.tsx
  app/components/Views/Snaps/components/SnapVersionTag/index.ts
  app/components/Views/Snaps/components/SnapVersionTag/test/SnapVersionTag.test.tsx
  app/constants/navigation/Routes.ts
  app/core/Snaps/index.ts
  app/core/Snaps/location/fetch.ts
  app/core/Snaps/location/index.ts
  app/core/Snaps/location/location.ts
  app/core/Snaps/location/npm.ts
  app/core/Snaps/permissions/permissions.ts
Labels: team-accounts, Run Smoke E2E, INVALID-PR-TEMPLATE

#8095 fix: dedupe deps
  yarn.lock
Labels: team-mobile-client

#8104 docs: Adding README to component library folder
  app/component-library/README.md
Labels: team-design-system

#8102 fix: prevent bad svg urls in react-native-svg
  patches/react-native-svg+12.1.1.patch
Labels: QA Passed, team-mobile-client, Run Smoke E2E

#8134 chore: fix: prevent bad svg urls in react-native-svg (#8102)
  patches/react-native-svg+12.1.1.patch
Labels: type-bug, QA Passed, regression-RC, team-mobile-client, Run Smoke E2E, release-7.12.3

#8129 fix: Blockaid wallet connect errors.
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnectV2.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8128 chore: disable hardware wallet feature and remove dependencies
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Views/ConnectHardware/SelectHardware/index.tsx
  app/components/Views/LedgerConnect/Scan.test.tsx
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/hooks/Ledger/useBluetooth.ts
  app/components/hooks/Ledger/useBluetoothDevices.ts
  app/components/hooks/Ledger/useLedgerBluetooth.ts
  app/core/Engine.ts
  app/core/Ledger/Ledger.ts
  app/core/Vault.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: QA Passed, team-accounts, Run Smoke E2E

#8088 fix: metrics event not fired when blockaid is disabled
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8150 refactor(ds): make onPressClearButton required when showClearButton
  app/component-library/components/Form/TextFieldSearch/TextFieldSearch.types.ts
Labels: team-design-system

#8152 chore: 7.12.2 merge 7.14.0
  CHANGELOG.md
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
  patches/react-native+0.71.14.patch
Labels: team-mobile-client, release-7.14.0

#8124 chore: Added deprecation notice to non-ds icons
  app/declarations.d.ts
Labels: needs-dev-review, team-design-system

#8153 chore: 7.12.3 merge 7.14.0
  CHANGELOG.md
  patches/react-native-svg+12.1.1.patch
Labels: team-mobile-client, release-7.14.0

#8091 refactor: Replace Experimental Settings page with DS components
  app/components/Views/Settings/ExperimentalSettings/ExperimentalSettings.styles.ts
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  locales/languages/en.json
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, Run Smoke E2E

#8049 refactor: Updated Advanced Settings page with DS components and designs
  app/components/Views/Settings/AdvancedSettings/index.js
  locales/languages/en.json
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, Run Smoke E2E, INVALID-PR-TEMPLATE

#8061 refactor: Replace General Settings page with DS components
  app/components/Views/PickComponent/__snapshots__/index.test.tsx.snap
  app/components/Views/PickComponent/index.js
  app/components/Views/Settings/GeneralSettings/index.js
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, Run Smoke E2E

#8048 refactor: Replace Security Settings page with DS components and updated design
  app/components/UI/HintModal/__snapshots__/index.test.tsx.snap
  app/components/UI/HintModal/index.js
  app/components/UI/SecurityOptionToggle/SecurityOptionToggle.tsx
  app/components/UI/SecurityOptionToggle/styles.ts
  app/components/UI/SettingsButtonSection/index.tsx
  app/components/UI/SettingsButtonSection/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/AutoLock/AutoLock.tsx
  app/components/Views/Settings/SecuritySettings/Sections/AutoLock/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/ChangePassword/ChangePassword.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ChangePassword/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/ClearCookiesSection.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ClearPrivacy/ClearPrivacy.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ClearPrivacy/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/DeleteMetaMetricsData.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/RevealPrivateKey/RevealPrivateKey.tsx
  app/components/Views/Settings/SecuritySettings/Sections/RevealPrivateKey/styles.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.styles.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  locales/languages/en.json
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, Run Smoke E2E, INVALID-PR-TEMPLATE

#8135 fix: OpenSea V1 -> V2 patch
  app/core/Engine.ts
  patches/@metamask+assets-controllers+7.0.0.patch
  patches/@metamask+controller-utils+3.4.0.patch
Labels: Spot Check on the Release Build, team-assets, Run Smoke E2E

#7938 feat: Added SelectButton
  .storybook/storybook.requires.js
  app/component-library/components/Select/SelectButton/README.md
  app/component-library/components/Select/SelectButton/SelectButton.constants.ts
  app/component-library/components/Select/SelectButton/SelectButton.stories.tsx
  app/component-library/components/Select/SelectButton/SelectButton.styles.ts
  app/component-library/components/Select/SelectButton/SelectButton.test.tsx
  app/component-library/components/Select/SelectButton/SelectButton.tsx
  app/component-library/components/Select/SelectButton/SelectButton.types.ts
  app/component-library/components/Select/SelectButton/__snapshots__/SelectButton.test.tsx.snap
  app/component-library/components/Select/SelectButton/foundation/SelectButtonBase.constants.tsx
  app/component-library/components/Select/SelectButton/foundation/SelectButtonBase.styles.ts
  app/component-library/components/Select/SelectButton/foundation/SelectButtonBase.test.tsx
  app/component-library/components/Select/SelectButton/foundation/SelectButtonBase.tsx
  app/component-library/components/Select/SelectButton/foundation/SelectButtonBase.types.ts
  app/component-library/components/Select/SelectButton/foundation/__snapshots__/SelectButtonBase.test.tsx.snap
  app/component-library/components/Select/SelectButton/foundation/index.ts
  app/component-library/components/Select/SelectButton/index.ts
  app/component-library/components/Select/SelectValue/README.md
  app/component-library/components/Select/SelectValue/SelectValue.types.ts
Labels: needs-dev-review, team-design-system, INVALID-PR-TEMPLATE

#8109 chore: Added deprecation notices to button-related components
  app/components/UI/Button/index.js
  app/components/UI/GenericButton/index.android.js
  app/components/UI/GenericButton/index.ios.js
  app/components/UI/StyledButton/index.android.js
  app/components/UI/StyledButton/index.ios.js
  app/components/UI/StyledButton/index.js
Labels: needs-dev-review, team-design-system

#7969 feat: Created SelectOption
  .storybook/storybook.requires.js
  app/component-library/components/Select/SelectOption/README.md
  app/component-library/components/Select/SelectOption/SelectOption.constants.ts
  app/component-library/components/Select/SelectOption/SelectOption.stories.tsx
  app/component-library/components/Select/SelectOption/SelectOption.styles.ts
  app/component-library/components/Select/SelectOption/SelectOption.test.tsx
  app/component-library/components/Select/SelectOption/SelectOption.tsx
  app/component-library/components/Select/SelectOption/SelectOption.types.ts
  app/component-library/components/Select/SelectOption/__snapshots__/SelectOption.test.tsx.snap
  app/component-library/components/Select/SelectOption/index.ts
Labels: needs-dev-review, team-design-system

#8145 fix: handle blockaid initialisation failure on settings page
  app/actions/experimental/index.ts
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.styles.ts
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.test.tsx
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.tsx
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/__snapshots__/BlockaidIndicator.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/core/AppConstants.ts
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/reducers/experimentalSettings/index.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8137 test(ramp): add test for sell order processor
  app/components/UI/Ramp/common/orderProcessor/aggregator.test.ts
Labels: No QA Needed/E2E Only, team-ramp

#8097 feat(ramp): keep region always up to date
  app/components/UI/Ramp/buy/hooks/useRegions.ts
Labels: team-ramp, Run Smoke E2E

#8136 test(ramp): add test for stateHasOrder util
  app/components/UI/Ramp/common/utils/index.test.ts
Labels: No QA Needed/E2E Only, team-ramp

#8155 fix: OpenSea V1 -> V2 patch
  app/core/Engine.ts
  patches/@metamask+assets-controllers+7.0.0.patch
  patches/@metamask+controller-utils+3.4.0.patch
Labels: team-assets, Run Smoke E2E, release-7.12.4

#7975 test: Implement `CCache` to e2e builds
  .gitignore
  bitrise.yml
  ccache.conf
  scripts/build.sh
  scripts/cache/set-cache-envs.sh
  scripts/cache/setup-ccache.sh
Labels: team-confirmations-system

#7998 fix: Send ETH using Deeplinks sets incorrect amount if is way higher than balance
  app/core/DeeplinkManager/Handlers/handleEthereumUrl.ts
  app/util/formattedDeeplinkParsedValue.test.ts
  app/util/formattedDeeplinkParsedValue.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8169 chore: cherry-pick #8128 into release 7.14.0
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Views/ConnectHardware/SelectHardware/index.tsx
  app/components/Views/LedgerConnect/Scan.test.tsx
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/hooks/Ledger/useBluetooth.ts
  app/components/hooks/Ledger/useBluetoothDevices.ts
  app/components/hooks/Ledger/useLedgerBluetooth.ts
  app/core/Engine.ts
  app/core/Ledger/Ledger.ts
  app/core/Vault.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: team-accounts, Run Smoke E2E, release-7.14.0

#8087 test: Refactor Settings Contacts Folder page objects
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/ErrorMessage/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/ErrorMessage/index.js
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/Contacts/index.js
  e2e/pages/CommonView.js
  e2e/pages/Drawer/Settings/Contacts/AddContactView.js
  e2e/pages/Drawer/Settings/Contacts/ContactsView.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/pages/modals/DeleteContactModal.js
  e2e/selectors/Modals/DeleteContactModal.selectors.js
  e2e/selectors/Settings/Contacts/AddContactView.selectors.js
  e2e/selectors/Settings/Contacts/ContacsView.selectors.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/settings/addressbook-tests.spec.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/utils/Gestures.js
  e2e/utils/Matchers.js
  wdio/screen-objects/testIDs/Screens/AddContact.testIds.js
Labels: needs-dev-review, team-mobile-client, Run Smoke E2E

#8175 fix: OpenSea supply -> total_supply
  patches/@metamask+assets-controllers+7.0.0.patch
Labels: Spot Check on the Release Build, team-assets, Run Smoke E2E

#8178 chore: build bump to 1233
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-client, Run Smoke E2E, release-7.12.4

#8143 feat: migrate to latest Token rates controller
  .depcheckrc.yml
  app/core/Engine.ts
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+assets-controllers+7.0.0.patch
  yarn.lock
Labels: QA Passed, team-mobile-client, Run Smoke E2E, release-7.12.4

#8163 [cherry-pick] fix: Blockaid wallet connect errors. (#8129)
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnectV2.ts
Labels: release-7.14.0

#8162 [cherry-pick] fix: metrics event not fired when blockaid is disabled (#8088)
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
Labels: release-7.14.0

#8160 [cherry-pick] fix: PPOMController related issues in blockaid integration (#8085)
  package.json
  yarn.lock
Labels: release-7.14.0

#8164 chore: cherry pick 7.12.4 into 7.14.0
  .depcheckrc.yml
  CHANGELOG.md
  app/core/Engine.ts
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+assets-controllers+7.0.0.patch
  patches/@metamask+controller-utils+3.4.0.patch
  yarn.lock
Labels: team-mobile-client

#8179 [cherry-pick] fix: UI changes for blockaid initialisation failure
  app/actions/experimental/index.ts
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.styles.ts
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.test.tsx
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.tsx
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/__snapshots__/BlockaidIndicator.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/core/AppConstants.ts
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/reducers/experimentalSettings/index.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: team-confirmations-secure-ux, release-7.14.0

#8083 refactor: E2e Smoke Tests to Execute Across Multiple Virtual Machines on Bitrise
  .detoxrc.js
  bitrise.yml
  e2e/specs/browser/browser-tests.spec.js
  e2e/specs/confirmations/advanced-gas-fees.spec.js
  e2e/specs/confirmations/approve-default-erc20.spec.js
  e2e/specs/confirmations/send-erc20-with-dapp.spec.js
  e2e/specs/confirmations/send-erc721.spec.js
  e2e/specs/confirmations/send-eth.spec.js
  e2e/specs/confirmations/signatures/eth-sign.spec.js
  e2e/specs/confirmations/signatures/personal-sign.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v3.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v4.spec.js
  e2e/specs/confirmations/signatures/typed-sign.spec.js
  e2e/specs/permission-systems/permission-system-revoke-single-account.spec.js
  e2e/specs/settings/addressbook-tests.spec.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/wallet/request-token-flow.spec.js
  e2e/specs/wallet/send-ERC-token.spec.js
  e2e/specs/wallet/start-exploring.spec.js
  e2e/specs/wallet/wallet-tests.spec.js
  e2e/tags.js
Labels: No QA Needed/E2E Only, team-mobile-client

#8081 feat: #870 - Slice Storage Engine
  app/components/UI/DrawerView/index.js
  app/core/EngineService/EngineService.ts
  app/core/redux/slices/engine/engineReducer.test.tsx
  app/core/redux/slices/engine/index.ts
  app/reducers/index.ts
  app/reducers/navigation/index.ts
  app/redux/slices/engine/engineReducer.test.tsx
  app/redux/slices/engine/index.ts
  app/redux/storage/MigratedStorage.ts
  app/store/index.ts
  app/store/persistConfig.ts
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed/E2E Only, team-mobile-client

#8188 bump up build to 1234
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: INVALID-PR-TEMPLATE

#8174 test: bump detox + implement dynamic scroll in e2e tests
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/pages/modals/ConnectedAccountsModal.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/utils/Gestures.js
  e2e/utils/Matchers.js
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, team-mobile-client, Run Smoke E2E

#8141 fix: fix bug first NFT in collection gets always displayed
  app/components/UI/CollectibleModal/CollectibleModal.test.tsx
  app/components/UI/CollectibleModal/CollectibleModal.tsx
Labels: needs-qa, team-mobile-client, team-mobile-ux, team-assets, Run Smoke E2E

#8194 test: fix failing smoke test
  e2e/pages/TestDApp.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#7736 test: Approve custom erc20 v2
  app/component-library/components-temp/CustomSpendCap/CustomInput/CustomInput.tsx
  app/component-library/components-temp/CustomSpendCap/CustomInput/__snapshots__/CustomInput.test.tsx.snap
  app/component-library/components-temp/CustomSpendCap/__snapshots__/CustomSpendCap.test.tsx.snap
  e2e/pages/modals/ContractApprovalModal.js
  e2e/selectors/Modals/ContractApprovalModal.selectors.js
  e2e/specs/confirmations/approve-custom-erc20.spec.js
Labels: No QA Needed/E2E Only, team-confirmations-system, Run Smoke E2E

#8191 test: create additional e2e subfolders
  e2e/pages/modals/ContractApprovalModal.js
  e2e/specs/accounts/create-wallet-account.spec.js
  e2e/specs/accounts/import-wallet-account.spec.js
  e2e/specs/assets/import-nft.spec.js
  e2e/specs/assets/import-tokens.spec.js
  e2e/specs/confirmations/approve-custom-erc20.spec.js
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#8195 test: refactor Assertions class and update specs expect assertion
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/quarantine/deeplinks.failing.js
  e2e/specs/settings/addressbook-tests.spec.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/utils/Assertions.js
Labels: team-mobile-client

#8197 test: 8187 remove drawer folder e2e folder
  e2e/pages/Browser.js
  e2e/pages/Drawer/TransactionHistoryView.js
  e2e/pages/Settings/AdvancedView.js
  e2e/pages/Settings/Contacts/AddContactView.js
  e2e/pages/Settings/Contacts/ContactsView.js
  e2e/pages/Settings/GeneralView.js
  e2e/pages/Settings/NetworksView.js
  e2e/pages/Settings/SecurityAndPrivacy/ChangePasswordView.js
  e2e/pages/Settings/SecurityAndPrivacy/RevealSecretRecoveryPhrase.js
  e2e/pages/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/pages/Settings/SettingsView.js
  e2e/pages/TestDApp.js
  e2e/specs/browser/browser-tests.spec.js
  e2e/specs/confirmations/signatures/eth-sign.spec.js
  e2e/specs/confirmations/signatures/personal-sign.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v3.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v4.spec.js
  e2e/specs/confirmations/signatures/typed-sign.spec.js
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/permission-systems/permission-system-revoke-single-account.spec.js
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/quarantine/deeplinks.failing.js
  e2e/specs/quarantine/permission-system-removing-imported-account.failing.js
  e2e/specs/settings/addressbook-tests.spec.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/specs/wallet/start-exploring.spec.js
  e2e/viewHelper.js
Labels: team-mobile-client
