Repository MetaMask/metamask-mobile, pull requests merged in 2023-01, with the labels that each got.

#5448 [IMPROVEMENT] Add translations to "Safe QR" feature
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: Spot Check on the Release Build, release-5.14

#5437 On-ramp: Move useSDKMethod to its own file
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetQuotes.tsx
  app/components/UI/FiatOnRampAggregator/hooks/usePaymentMethods.ts
  app/components/UI/FiatOnRampAggregator/hooks/useRegions.ts
  app/components/UI/FiatOnRampAggregator/hooks/useSDKMethod.ts
  app/components/UI/FiatOnRampAggregator/sdk/index.tsx
Labels: No QA Needed/Detox Only, needs-dev-review, on-ramp, release-5.14

#5428 Add accessibilityRole button to StyledButton
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/StyledButton/__snapshots__/index.test.tsx.snap
  app/components/UI/StyledButton/index.android.js
  app/components/UI/StyledButton/index.ios.js
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  package.json
  yarn.lock
Labels: No QA Needed/Detox Only, area-accessibility, release-5.14

#5451 [IMPROVEMENT] Add translations to "Screenshot Deterrent" feature
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: Spot Check on the Release Build, release-5.14

#5447 [IMPROVEMENT] Refactor "Screenshot Deterrent" for Android
  app/components/UI/ScreenshotDeterrent/ScreenshotDeterrent.tsx
  app/components/Views/ImportPrivateKey/index.js
  app/components/Views/ImportPrivateKeySuccess/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportPrivateKeySuccess/index.js
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/RevealPrivateCredential/index.js
  app/components/hooks/useScreenshotDeterrent.ts
Labels: Spot Check on the Release Build, release-5.14

#5453 [IMPROVEMENT] Use "ModalConfirmation" component for the QR Reader security alert
  app/component-library/components/Modals/ModalConfirmation/ModalConfirmation.tsx
  app/components/Views/QRScanner/index.tsx
Labels: Spot Check on the Release Build, release-5.14

#5459 remove extra zero balance account potentially created from seeking ahead
  app/util/importAdditionalAccounts.js
Labels: No QA Needed/Detox Only, release-5.14

#5440 Approval error when insufficient balance
  app/components/Views/ApproveView/Approve/index.js
Labels: QA Passed, Mobile QA board, team-mobile-client, release-5.14

#5413 On-ramp: Refactor Regions view to componentization
  app/components/Base/hooks/useModalHandler.js
  app/components/Base/hooks/useModalHandler.ts
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.tsx
  app/components/UI/FiatOnRampAggregator/Views/Regions/Regions.styles.ts
  app/components/UI/FiatOnRampAggregator/Views/Regions/Regions.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/Regions/Regions.tsx
  app/components/UI/FiatOnRampAggregator/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/Regions/index.tsx
  app/components/UI/FiatOnRampAggregator/components/RegionModal.tsx
  package.json
  yarn.lock
Labels: on-ramp, Spot Check on the Release Build, release-5.14

#5462 On-ramp: Remove unused constants
  app/components/UI/FiatOnRampAggregator/Views/Checkout.tsx
  app/constants/on-ramp.js
  app/constants/on-ramp.ts
  app/core/AppConstants.js
Labels: on-ramp, Spot Check on the Release Build, release-5.14

#5468 [FIX] Screenshot deterrent analytics
  app/components/UI/ScreenshotDeterrent/ScreenshotDeterrent.tsx
  app/util/analyticsV2.js
Labels: No QA Needed/Detox Only, release-5.14

#5455 On-Ramp: Settings and Activation Keys
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/Settings/ActivationKeys.tsx
  app/components/UI/FiatOnRampAggregator/Views/Settings/AddActivationKey.tsx
  app/components/UI/FiatOnRampAggregator/Views/Settings/Settings.styles.tsx
  app/components/UI/FiatOnRampAggregator/Views/Settings/Settings.tsx
  app/components/UI/FiatOnRampAggregator/Views/Settings/index.ts
  app/components/UI/FiatOnRampAggregator/components/Row.tsx
  app/components/UI/FiatOnRampAggregator/hooks/useActivationKeys.ts
  app/components/UI/FiatOnRampAggregator/hooks/useAnalytics.ts
  app/components/UI/FiatOnRampAggregator/sdk/index.tsx
  app/components/UI/FiatOnRampAggregator/types/analytics.ts
  app/components/Views/Settings/index.js
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/reducers/fiatOrders/index.ts
  app/reducers/fiatOrders/types.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: needs-dev-review, on-ramp, needs-on-ramp-qa, release-5.14

#5449 [IMPROVEMENT] Remove deeplink warning for SDK and SDK as dependency
  app/components/Views/QRScanner/index.tsx
  app/constants/urls.ts
  app/core/RemoteConnection/ECIES.ts
  app/core/RemoteConnection/KeyExchange.ts
  app/core/RemoteConnection/Socket.ts
  app/core/RemoteConnection/WebRTC.ts
  app/core/RemoteConnection/index.ts
  app/core/SDKConnect.ts
  package.json
  yarn.lock
Labels: deeplinks, needs-qa, SDK, Code Impact - Low, release-5.14

#5470 Add revoke copy to translations
  locales/languages/en.json
Labels: No QA Needed/Detox Only, translation, team-mobile-client

#5433 Add WebdriverIO test reports and Browserstack Integration
  .gitignore
  app/components/Base/Alert.tsx
  app/components/Base/Title/Title.tsx
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/UI/FiatOnRampAggregator/Views/AmountToBuy.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetQuotes.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.tsx
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods.tsx
  app/components/UI/FiatOnRampAggregator/components/Account.tsx
  app/components/UI/FiatOnRampAggregator/components/AccountSelector.tsx
  app/components/UI/FiatOnRampAggregator/components/AmountInput.tsx
  app/components/UI/FiatOnRampAggregator/components/ApplePayButton.tsx
  app/components/UI/FiatOnRampAggregator/components/AssetSelectorButton.tsx
  app/components/UI/FiatOnRampAggregator/components/Box.tsx
  app/components/UI/FiatOnRampAggregator/components/CurrencyChevron.tsx
  app/components/UI/FiatOnRampAggregator/components/CustomActionButton.tsx
  app/components/UI/FiatOnRampAggregator/components/ErrorView.tsx
  app/components/UI/FiatOnRampAggregator/components/InfoAlert.tsx
  app/components/UI/FiatOnRampAggregator/components/OrderDetails.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethod.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodModal.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodSelector.tsx
  app/components/UI/FiatOnRampAggregator/components/QuickAmounts.tsx
  app/components/UI/FiatOnRampAggregator/components/Quote.tsx
  app/components/UI/FiatOnRampAggregator/components/RegionAlert.tsx
  app/components/UI/FiatOnRampAggregator/components/RegionModal.tsx
  app/components/UI/FiatOnRampAggregator/components/ScreenLayout.tsx
  app/components/UI/FiatOnRampAggregator/components/TokenSelectModal.tsx
  app/components/UI/FiatOnRampAggregator/components/modals/FiatSelectModal.tsx
  app/components/UI/SkipAccountSecurityModal/index.js
  package.json
  wdio.conf.js
  wdio/config/android.config.browserstack.js
  wdio/config/android.config.browserstack.local.js
  wdio/features/AddressFlow.feature
  wdio/features/NetworkFlow.feature
  wdio/features/screen-objects/AddressBook.js
  wdio/features/screen-objects/Contacts.js
  wdio/features/screen-objects/Modals/DeleteWalletModal.js
  wdio/features/screen-objects/Modals/SkipAccountSecurityModal.js
  wdio/features/screen-objects/NetworksScreen.js
  wdio/features/screen-objects/Onboarding/CreateNewWalletScreen.js
  wdio/features/screen-objects/Onboarding/MetaMetricsScreen.js
  wdio/features/screen-objects/Onboarding/OnboardingCarousel.js
  wdio/features/screen-objects/SendScreen.js
  wdio/features/screen-objects/WalletMainScreen.js
  wdio/features/step-definitions/network-flow.js
  wdio/features/step-definitions/onboarding.js
  wdio/features/step-definitions/send-flow.steps.js
  wdio/features/step-definitions/wallet-view.js
  wdio/features/testIDs/Components/DeleteWalletModal.testIds.js
  wdio/features/testIDs/Screens/SendScreen.testIds.js
  wdio/features/testIDs/Screens/WalletView.testIds.js
  wdio/utils/generateTestReports.js
  yarn.lock
Labels: Appium, team-mobile-client

#5465 [strings] vault corruption recovery strings
  locales/languages/en.json
Labels: No QA Needed/Detox Only, needs-dev-review, Code Impact - Low, team-key-management

#5473 On-ramp: upgrade on-ramp-sdk to v1.6.1
  package.json
  yarn.lock
Labels: needs-dev-review, on-ramp, Spot Check on the Release Build, release-5.14

#5475 Fix import of `isEIP1559Transaction`
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionElement/utils.js
  app/util/transactions/index.js
Labels: No QA Needed/Detox Only

#5479 Mount SeedPhraseVideo Video Player after transition
  app/components/UI/SeedPhraseVideo/index.js
  app/components/Views/Settings/SecuritySettings/index.js
Labels: Spot Check on the Release Build, release-5.14

#5476 README.md: update "Install the Android NDK"
  README.md
Labels: needs-dev-review

#5482 Fix/578 network not persisting
  app/core/Engine.js
Labels: needs-qa, Mobile QA board

#5483 Add renderScreen test util
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/Regions/Regions.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/util/test/renderWithProvider.tsx
Labels: tests, No QA Needed/Detox Only, needs-dev-review

#5484 Isolate e2e-Appium Feature test scenario runs by default
  wdio.conf.js
  wdio/features/AddressFlow.feature
  wdio/features/CreateNewWallet.feature
  wdio/features/CreatingWalletAccount.feature
  wdio/features/ImportCustomToken.feature
  wdio/features/ImportWalletRegression.feature
  wdio/features/ImportingAccount.feature
  wdio/features/LockResetWallet.feature
  wdio/features/NetworkFlow.feature
  wdio/features/step-definitions/network-flow.js
Labels: Appium, e2e

#5486 Add providerValues to renderScreen
  app/util/test/renderWithProvider.tsx
Labels: tests, No QA Needed/Detox Only, needs-dev-review

#5489 Renaming Step files to include ".steps"
  wdio/features/CreatingWalletAccount.feature
  wdio/features/step-definitions/add-networks.steps.js
  wdio/features/step-definitions/common-steps.js
  wdio/features/step-definitions/create-new-wallet-account.steps.js
  wdio/features/step-definitions/delete-wallet-modal-view.steps.js
  wdio/features/step-definitions/drawer-view.steps.js
  wdio/features/step-definitions/enable-automatic-security-checks.steps.js
  wdio/features/step-definitions/import-wallet-via-private-key.steps.js
  wdio/features/step-definitions/login-view.steps.js
  wdio/features/step-definitions/onboarding.steps.js
  wdio/features/step-definitions/start-exploring.steps.js
  wdio/features/step-definitions/wallet-view.steps.js
Labels: Appium

#5474 [IMPROVEMENT] Screenshot deterrent alert
  app/components/UI/ScreenshotDeterrent/ScreenshotDeterrent.tsx
  locales/languages/en.json
Labels: Spot Check on the Release Build, release-5.14

#5490 [FIX] Style of Secret recovery phrase screen
  app/components/Views/RevealPrivateCredential/styles.ts
Labels: QA Passed, Mobile QA board, release-5.13

#5511 On-ramp: Rename applePay hook to useApplePay
  app/components/UI/FiatOnRampAggregator/containers/ApplePayButton.tsx
  app/components/UI/FiatOnRampAggregator/hooks/useApplePay.ts
Labels: No QA Needed/Detox Only, on-ramp, release-5.14

#4881 Translation - release-5.7-snapshot
  app/components/Base/RangeInput.js
  app/components/Base/Text/Text.styles.ts
  app/components/UI/DrawerView/index.js
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods.tsx
  app/components/UI/FiatOnRampAggregator/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Navbar/index.js
  app/components/UI/NavbarTitle/index.js
  app/components/UI/OnboardingWizard/index.js
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSeed/styles.ts
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
  package.json
  yarn.lock
Labels: QA Passed, Mobile QA board, stability-team, team-mobile-client, release-5.14

#5524 On-ramp: Add order processor tests
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.test.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/aggregator.ts
  app/components/UI/FiatOnRampAggregator/orderProcessor/customOrderId.test.ts
Labels: tests, No QA Needed/Detox Only, on-ramp, release-5.14

#5522 On-ramp: Remove scrollable prop from views and update snapshots
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/PaymentMethods.tsx
Labels: needs-dev-review, on-ramp, Spot Check on the Release Build, release-5.14

#5531 Refactor SeedPhraseVideo to mount player after transition
  app/components/UI/SeedPhraseVideo/index.js
  app/components/Views/Settings/SecuritySettings/index.js
Labels: needs-dev-review, Spot Check on the Release Build, release-5.14

#5530 [IMPROVEMENT] Refactor RevealPrivateCredential View
  app/components/Nav/Main/MainNavigator.js
  app/components/Views/ErrorBoundary/index.js
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
  app/components/Views/RevealPrivateCredential/index.test.tsx
  app/components/Views/RevealPrivateCredential/index.ts
Labels: Spot Check on the Release Build, release-5.14

#5487 On-ramp: Use themeAppearance
  app/components/UI/FiatOnRampAggregator/components/CustomActionButton.tsx
  app/components/UI/FiatOnRampAggregator/components/InfoAlert.tsx
  app/components/UI/FiatOnRampAggregator/components/PaymentMethodBadges.tsx
  app/components/UI/FiatOnRampAggregator/components/Quote.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.14

#5521 On-ramp: Remove unused state and fix initial state
  app/reducers/fiatOrders/index.ts
  app/reducers/fiatOrders/types.ts
Labels: on-ramp, Spot Check on the Release Build, release-5.14

#5525 On-ramp: add fiatOrders reducer tests
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/index.ts
Labels: tests, No QA Needed/Detox Only, on-ramp, release-5.14

#5506 On-ramp: Add NavBar tests to GetStarted and Regions Views
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.constants.ts
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/GetStarted.tsx
  app/components/UI/FiatOnRampAggregator/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/FiatOnRampAggregator/Views/Regions/Regions.test.tsx
  app/components/UI/FiatOnRampAggregator/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Navbar/index.js
Labels: tests, No QA Needed/Detox Only, needs-dev-review, on-ramp, release-5.14

#5444 [FIX] Slow cold starts, fix unnecessary executions of useEffect
  app/components/Nav/App/index.js
Labels: QA Passed, Code Impact - Low, Priority - High, Mobile QA board, release-5.14

#5538 E2e appium test failure fix
  app/components/UI/OnboardingWizard/index.js
  app/components/UI/Tokens/index.js
  wdio/features/BrowserFlow/OptionMenu.feature
  wdio/features/ExploringWizard.feature
  wdio/features/NetworkFlow.feature
  wdio/features/SkipStartExploring.feature
  wdio/features/screen-objects/EnableSecurityChecksScreen.js
  wdio/features/screen-objects/Modals/WalletAccountModal.js
  wdio/features/screen-objects/WalletMainScreen.js
  wdio/features/step-definitions/common-steps.js
  wdio/features/step-definitions/enable-automatic-security-checks.steps.js
  wdio/features/step-definitions/send-flow.steps.js
  wdio/features/step-definitions/start-exploring.steps.js
  wdio/features/step-definitions/wallet-view.steps.js
  wdio/features/testIDs/Components/OnboardingWizard.testIds.js
  wdio/features/testIDs/Screens/WalletView.testIds.js
Labels: Appium, e2e

#5535 [CONTENT] Add content for "Add friction to revealing SRP"
  locales/languages/en.json
Labels: No QA Needed/Detox Only

#5550 On-ramp: Fix order link in details screen
  app/components/UI/FiatOnRampAggregator/components/OrderDetails.tsx
Labels: on-ramp, Spot Check on the Release Build, release-5.14

#5556 Swaps disabled on fresh install on some networks
  app/components/UI/Swaps/SwapsLiveness.ts
Labels: area-UI, QA Passed, swaps, Mobile QA board, release-5.14

#5559 [ANALYTICS] Add analytics metrics for SRP reveal
  app/core/Analytics/MetaMetrics.events.ts
Labels: No QA Needed/Detox Only

#5594 bumped ua-parser-js to 0.7.33
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: No QA Needed/Detox Only

#5596 [UPDATE] yarn audit resolutions
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: release-5.14

#5585 Token Detection not persisting
  app/core/Engine.js
  patches/@metamask+assets-controllers+1.0.1.patch
  yarn.lock
Labels: QA Passed, Mobile QA board, team-mobile-client, release-5.14

#5600 [IMPROVEMENT] Refactor ProtectYourWallet section in the security section
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/index.ts
  app/components/Views/Settings/SecuritySettings/index.js
  app/constants/navigation/Routes.ts
Labels: Spot Check on the Release Build

#5613 [FIX] Analytics event interface
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Analytics/MetaMetrics.types.ts
Labels: needs-dev-review

#5615 Cherry/5.14.0 fix analytics
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Analytics/MetaMetrics.types.ts
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-client

#5605 Handle ENS Address Error
  app/constants/transaction.ts
  app/util/ENSUtils.js
Labels: QA Passed, Mobile QA board, team-confirmations-PR

#5626 [FIX] SRP Quiz content and translations
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
Labels: No QA Needed/Detox Only, team-key-management

#5551 [IMPROVEMENT] Refactor Personal Signature
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/PersonalSign/__snapshots__/index.test.tsx.snap
  app/components/UI/PersonalSign/index.js
  app/components/UI/PersonalSign/index.test.tsx
  app/components/UI/PersonalSign/index.ts
  app/components/UI/PersonalSign/styles.ts
  app/components/UI/PersonalSign/types.ts
Labels: Spot Check on the Release Build, team-confirmations-PR

#5624 Fix currency display for release/5.14.0
  app/core/Engine.js
Labels: needs-dev-review, QA Regression Testing, team-mobile-client, release-5.14

#5623 Fix currency display for main
  app/core/Engine.js
Labels: QA Regression Testing, team-mobile-client

#5579 [FEAT] Add friction to SRP reveal
  app/components/Nav/App/index.js
  app/components/Views/Quiz/QuizContent/QuizContent.tsx
  app/components/Views/Quiz/QuizContent/index.ts
  app/components/Views/Quiz/QuizContent/styles.ts
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.tsx
  app/components/Views/Quiz/SRPQuiz/index.ts
  app/components/Views/Quiz/SRPQuiz/styles.ts
  app/components/Views/Quiz/index.ts
  app/components/Views/Quiz/types.ts
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.tsx
  app/components/Views/Settings/SecuritySettings/index.js
  app/constants/navigation/Routes.ts
Labels: QA Passed, Mobile QA board, team-key-management, release-6.1

#5631 Modal confirmation refactoring
  app/component-library/components/Modals/ModalConfirmation/ModalConfirmation.tsx
  app/component-library/components/Modals/ModalConfirmation/__snapshots__/ModalConfirmation.test.tsx.snap
Labels: release-5.14

#5640 middleware - include the request in the error params
  app/util/middlewares.js
Labels: No QA Needed/Detox Only

#5647 [IMPROVEMENT] Add introductory image to SRP Quiz
  app/components/Views/Quiz/QuizContent/QuizContent.tsx
  app/components/Views/Quiz/QuizContent/styles.ts
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.tsx
  app/images/reveal-srp.png
Labels: design-qa, Spot Check on the Release Build, release-6.0
