Repository MetaMask/metamask-mobile, pull requests merged in 2023-11, with the labels that each got.

#7639 chore: Update selectors for contract approval modal
  e2e/pages/modals/ApprovalModal.js
  e2e/pages/modals/ContractApprovalModal.js
  e2e/selectors/Modals/ContractApprovalModal.selectors.js
  e2e/specs/confirmations/approve-custom-erc20.spec.js
  e2e/specs/confirmations/approve-default-erc20.spec.js
  e2e/specs/wallet/contract-nickname.failing.js
Labels: tech-debt, needs-dev-review, team-mobile-client, e2e, Run Smoke E2E

#7650 test:7562 move testids settings folder
  app/components/UI/AddCustomNetwork/index.js
  app/components/Views/Login/index.js
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/SecuritySettings/Sections/ChangePassword/ChangePassword.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/constants/test-ids.js
  e2e/pages/Drawer/Settings/AdvancedView.js
  e2e/pages/Drawer/Settings/Contacts/AddContactView.js
  e2e/pages/Drawer/Settings/NetworksView.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/ChangePasswordView.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/RevealSecretRecoveryPhrase.js
  e2e/pages/Drawer/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/pages/Drawer/Settings/SettingsView.js
  e2e/pages/LoginView.js
  e2e/selectors/Common.selectors.js
  e2e/selectors/Settings/AdvancedView.selectors.js
  e2e/selectors/Settings/NetworksView.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/ChangePasswordView.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/RevealSeedView.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/SecurityPrivacyView.selectors.js
  e2e/selectors/Settings/SettingsView.selectors.js
  wdio/screen-objects/NetworksScreen.js
  wdio/screen-objects/testIDs/Screens/NetworksScreen.testids.js
Labels: tech-debt, needs-dev-review, team-mobile-client

#7645 test: Enable Regression tests on Bitrise
  bitrise.yml
  e2e/pages/WalletView.js
  e2e/specs/quarantine/approve-custom-erc20.failing.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/quarantine/deeplinks.failing.js
  e2e/specs/quarantine/permission-system-removing-imported-account.failing.js
  e2e/specs/quarantine/swap-tokens.flaky.js
  e2e/specs/quarantine/term-of-use.broken.js
Labels: No QA Needed/E2E Only, bitrise, team-mobile-client, in-progress, Run Smoke E2E

#7666 chore: Add 7.9.1 changelogs to 7.10.0
  CHANGELOG.md
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#7661 fix: actions improvement
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/scripts/check-template-and-add-labels.ts
  .github/scripts/shared/template.ts
Labels: team-mobile-client, team-mobile-platform

#7668 fix: Disable permission-system-revoking-multiple-accounts detox test
  e2e/specs/permission-systems/permission-system-removing-imported-account.failing.js
  e2e/specs/permission-systems/permission-system-revoke-single-account.spec.js
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
  e2e/specs/quarantine/permission-system-revoking-multiple-accounts.failing.js
Labels: team-mobile-client, Run Smoke E2E

#7672 [E2e] Removed duplicate tests in quarantine
  e2e/specs/wallet/contract-nickname.failing.js
  e2e/specs/wallet/deeplinks.failing.js
  e2e/specs/wallet/term-of-use.broken.js
Labels: No QA Needed/E2E Only, team-mobile-client, Run Smoke E2E

#7675 chore: Disable failing tests for CI smoke tests on release branch
  e2e/specs/permission-system-revoke-single-account.spec.js
  e2e/specs/permission-system-revoking-multiple-accounts.failing.js
Labels: tests, team-mobile-client, release-7.10.0

#7667 fix: Wallet not switching networks when add new network requested by a dapp
  app/core/RPCMethods/wallet_addEthereumChain.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#7676 chore: cherry pick 7667
  app/core/RPCMethods/wallet_addEthereumChain.js
Labels: team-mobile-client, Run Smoke E2E

#7628 feat: sdk batch rpc calls
  app/core/DeeplinkManager.js
  app/core/SDKConnect/BatchRPCManager.ts
  app/core/SDKConnect/Connection.ts
  app/core/SDKConnect/SDKConnect.ts
  package.json
  yarn.lock
Labels: team-sdk, QA Passed, Run Smoke E2E

#7665 chore: Cherry pick (#7651) into 7.10.0
  patches/@metamask+transaction-controller+5.0.0.patch
Labels: Spot Check on the Release Build, team-mobile-client, release-7.10.0, Run Smoke E2E

#7678 fix: remove init launch app
  e2e/init.js
  e2e/specs/browser/browser-tests.spec.js
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/specs/networks/connect-test-network.spec.js
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/permission-systems/permission-system-revoke-single-account.spec.js
  e2e/specs/settings/addressbook-tests.spec.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/specs/swaps/token-details.spec.js
  e2e/specs/wallet/create-wallet-account.spec.js
  e2e/specs/wallet/import-wallet-account.spec.js
  e2e/specs/wallet/request-token-flow.spec.js
  e2e/specs/wallet/send-ERC-token.spec.js
  e2e/specs/wallet/start-exploring.spec.js
  e2e/specs/wallet/wallet-tests.spec.js
Labels: type-bug, team-mobile-client, e2e, Run Smoke E2E

#7682 test: Move testids from in SendView, WalletView, SendLinkView and AmountView
  app/components/UI/AddressInputs/index.js
  app/components/UI/CollectibleContractOverview/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/PaymentRequestSuccess/index.js
  app/components/Views/SendFlow/AddressList/AddressList.constants.ts
  app/components/Views/SendFlow/AddressList/AddressList.tsx
  app/components/Views/SendFlow/Amount/index.js
  app/components/Views/SendFlow/SendTo/index.js
  app/components/Views/TransactionsView/index.js
  app/constants/test-ids.js
  e2e/pages/AmountView.js
  e2e/pages/SendLinkView.js
  e2e/pages/SendView.js
  e2e/pages/WalletView.js
  e2e/selectors/AmountView.selectors.js
  e2e/selectors/Common.selectors.js
  e2e/selectors/SendLinkView.selectors.js
  e2e/selectors/SendView.selectors.js
  e2e/selectors/WalletView.selectors.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/settings/addressbook-tests.spec.js
Labels: team-mobile-client, in-progress, Run Smoke E2E

#7685 chore: build version 1186
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-client, release-7.10.0

#7686 chore: Update change log 7.10.0
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed/E2E Only, team-mobile-client

#7601 fix: approve deeplink displays domain pill with selected address
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.constants.ts
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
Labels: QA Passed, team-confirmations-secure-ux-PR

#7491 fix: Warn users when connecting to a website on the eth-phishing-detect list on mobile
  app/components/UI/AccountApproval/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountApproval/index.js
  app/components/UI/AccountApproval/index.test.tsx
  app/components/UI/AccountApproval/showWarningBanner.tsx
  app/components/UI/AccountApproval/styles.ts
  app/constants/urls.ts
  locales/languages/en.json
Labels: QA Passed, team-confirmations-secure-ux-PR

#7692 fix: sdk and deeplink init process
  app/components/Nav/App/index.js
  app/core/DeeplinkManager.js
  app/core/SDKConnect/Connection.ts
  app/core/SDKConnect/RPCQueueManager.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/handleDeeplink.ts
  app/core/SDKConnect/utils/wait.util.ts
Labels: team-sdk, QA Passed, QA in Progress

#7251 feat: #999 - RTK consolidate reducers
  app/components/Views/Wallet/index.tsx
  app/core/EngineService/EngineService.ts
  app/core/redux/slices/engine/engineReducer.test.tsx
  app/core/redux/slices/engine/index.ts
  app/reducers/engine/index.js
  app/reducers/index.ts
  app/store/index.ts
  app/store/persistConfig.ts
  package.json
  yarn.lock
Labels: QA Passed, team-mobile-client

#7695 bump minimum test app version to 1187
  AppConfig/test/MockAppConfig.json
Labels: No QA Needed/E2E Only, team-mobile-client, minimum-versions, in-progress

#7698 refactor(readme): node version 18
  README.md
Labels: team-mobile-platform, Run Smoke E2E

#7702 feat: Translations for network verification warnings
  locales/languages/en.json
Labels: Spot Check on the Release Build, team-mobile-client, Run Smoke E2E

#7642 fix: action view btn not able translate
  app/components/UI/ActionView/index.js
Labels: team-accounts, Ledger, Run Smoke E2E

#7708 feat: configure metro listener port
  .js.env.example
  README.md
  scripts/build.sh
Labels: team-mobile-platform, Run Smoke E2E

#7662 Fix: update PPOM Validator to address blockaid performance issues
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#7704 refactor: logger.js to typescript and optimize for dev
  app/lib/ppom/PPOMView.tsx
  app/util/Logger.ts
Labels: team-mobile-platform, Run Smoke E2E

#7693 test: Move TestIDs from the first 10 page objects in modals folder
  app/components/UI/AccountApproval/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountApproval/index.js
  app/components/UI/AddCustomNetwork/__snapshots__/index.test.tsx.snap
  app/components/UI/AddCustomNetwork/index.js
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.test.tsx
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.tsx
  app/components/UI/AddressInputs/index.test.jsx
  app/components/UI/BrowserBottomBar/__snapshots__/index.test.tsx.snap
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/SwitchCustomNetwork/__snapshots__/index.test.tsx.snap
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/Views/AccountConnect/AccountConnectSingle/AccountConnectSingle.tsx
  app/constants/test-ids.js
  e2e/pages/modals/AddAddressModal.js
  e2e/pages/modals/ConnectModal.js
  e2e/pages/modals/ConnectedAccountsModal.js
  e2e/pages/modals/ContractApprovalModal.js
  e2e/pages/modals/DeleteWalletModal.js
  e2e/pages/modals/DetailsModal.js
  e2e/pages/modals/NetworkAddedModal.js
  e2e/pages/modals/NetworkApprovalModal.js
  e2e/pages/modals/NetworkEducationModal.js
  e2e/pages/modals/NetworkListModal.js
  e2e/selectors/Common.selectors.js
  e2e/selectors/Modals/AddAddressModal.selectors.js
  e2e/selectors/Modals/ConnectAccountModal.selectors.js
  e2e/selectors/Modals/ConnectedAccountModal.selectors.js
  e2e/selectors/Modals/ContractApprovalModal.selectors.js
  e2e/selectors/Modals/DeleteWalletModal.selectors.js
  e2e/selectors/Modals/NetworkAddedModal.selectors.js
  e2e/selectors/Modals/NetworkApprovalModal.selectors.js
  e2e/selectors/Modals/NetworkEducationModal.selectors.js
  e2e/selectors/Modals/NetworkListModal.selectors.js
  e2e/selectors/Modals/TransactionDetailsModal.selectors.js
  e2e/specs/confirmations/approve-default-erc20.spec.js
  e2e/specs/quarantine/approve-custom-erc20.failing.js
  e2e/specs/quarantine/contract-nickname.failing.js
  wdio/screen-objects/Modals/AddressBookModal.js
  wdio/screen-objects/testIDs/BrowserScreen/BrowserScreen.testIds.js
  wdio/screen-objects/testIDs/Components/AccountApprovalModal.testIds.js
  wdio/screen-objects/testIDs/Components/DeleteWalletModal.testIds.js
  wdio/screen-objects/testIDs/Screens/AddressBook.testids.js
Labels: needs-dev-review, team-mobile-client

#7683 fix: 942 invalid QR code warning message on bad QR code
  app/components/UI/Navbar/index.js
  app/components/Views/QRScanner/index.tsx
Labels: needs-dev-review, team-mobile-client, Run Smoke E2E

#7703 fix: Fix Sentry source map upload
  ios/MetaMask.xcodeproj/project.pbxproj
  scripts/build.sh
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#7712 feat: update phishing controller v5
  app/core/Engine.test.js
  app/store/migrations.js
  app/store/migrations.test.js
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#7717 feat: Update base controller to v3
  app/core/Engine.ts
  app/core/SDKConnect/Connection.ts
  package.json
Labels: team-mobile-client, Run Smoke E2E

#7602 [Transaction Controller Migration] Use refactored pending transaction tracker
  app/core/Engine.ts
  patches/@metamask+transaction-controller+5.0.0.patch
Labels: QA Passed, team-confirmations-system

#7719 fix: Bitrise android e2e linux builds
  bitrise.yml
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, team-mobile-platform, Run Smoke E2E

#7657 feat: Deprecate SheetBottom component
  app/component-library/components/Sheet/SheetBottom/SheetBottom.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-client, Run Smoke E2E

#7727 [e2e] - Fix Bitrise pipeline environment variable
  bitrise.yml
  e2e/specs/wallet/wallet-tests.spec.js
Labels: team-mobile-client, Run Smoke E2E

#7718 fix: add definitions for release labels in labeling-guidelines
  .github/guidelines/LABELING_GUIDELINES.md
Labels: team-mobile-client, team-mobile-platform

#7735 chore: Reduce e2e build scenarios
  .github/scripts/check-bitrise-e2e-smoke/check-e2e-smoke-trigger.ts
  .github/workflows/check-bitrise-e2e-smoke.yml
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#7705 fix: PPOM - Malicious transactions triggered from Deeplinks are not flagged
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/Confirm/index.test.tsx
  app/components/Views/SendFlow/Confirm/styles.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#7725 fix: PPOM - Malicious transactions triggered from WalletConnect are not flagged
  app/core/WalletConnect/WalletConnectV2.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#7641 feat: add account type tag label
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.tsx
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.styles.ts
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.tsx
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.types.ts
  app/component-library/components/Pickers/PickerAccount/PickerAccount.styles.ts
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  app/component-library/components/Pickers/PickerAccount/PickerAccount.types.ts
  app/component-library/components/Pickers/PickerAccount/__snapshots__/PickerAccount.test.tsx.snap
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/__snapshots__/AccountFromToInfoCard.test.tsx.snap
  app/components/UI/AccountInfoCard/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountInfoCard/index.test.tsx
  app/components/UI/AccountOverview/index.js
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/AddressInputs/__snapshots__/index.test.jsx.snap
  app/components/UI/AddressInputs/index.js
  app/components/UI/AddressInputs/index.test.jsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/UI/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/UI/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/UI/DrawerView/index.js
  app/components/UI/SignatureRequest/Root/Root.test.tsx
  app/components/UI/SignatureRequest/Root/__snapshots__/Root.test.tsx.snap
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/index.test.tsx
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnectSingle/AccountConnectSingle.tsx
  app/components/Views/SendFlow/AddressElement/AddressElement.styles.ts
  app/components/Views/SendFlow/AddressElement/AddressElement.test.tsx
  app/components/Views/SendFlow/AddressElement/AddressElement.tsx
  app/components/Views/SendFlow/AddressElement/__snapshots__/AddressElement.test.tsx.snap
  app/components/Views/SendFlow/AddressFrom/AddressFrom.test.tsx
  app/components/Views/SendFlow/AddressFrom/__snapshots__/AddressFrom.test.tsx.snap
  app/components/Views/SendFlow/AddressList/AddressList.test.tsx
  app/components/Views/SendFlow/AddressList/__snapshots__/AddressList.test.tsx.snap
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Confirm/index.test.tsx
  app/util/address/index.js
  app/util/address/index.test.ts
  locales/languages/en.json
Labels: team-accounts, Ledger, Run Smoke E2E

#7701 feat: Network verification changed
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.tsx
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.types.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.types.ts
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.constants.ts
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.test.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.types.ts
  app/component-library/components/Pickers/PickerNetwork/__snapshots__/PickerNetwork.test.tsx.snap
  app/components/Approvals/AddChainApproval/AddChainApproval.tsx
  app/components/Approvals/AddChainApproval/__snapshots__/AddChainApproval.test.tsx.snap
  app/components/UI/AddCustomNetwork/__snapshots__/index.test.tsx.snap
  app/components/UI/AddCustomNetwork/index.js
  app/components/UI/AddCustomNetwork/index.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.styles.ts
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.types.ts
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/index.tsx
  app/constants/urls.ts
  app/core/RPCMethods/wallet_addEthereumChain.js
Labels: needs-dev-review, team-mobile-client, Run Smoke E2E

#7739 refactor: Update ListItem based on latest design
  app/component-library/components/Cells/Cell/__snapshots__/Cell.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/__snapshots__/CellMultiSelect.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellSelect/__snapshots__/CellSelect.test.tsx.snap
  app/component-library/components/List/ListItem/ListItem.constants.ts
  app/component-library/components/List/ListItem/ListItem.stories.tsx
  app/component-library/components/List/ListItem/ListItem.styles.ts
  app/component-library/components/List/ListItem/ListItem.test.tsx
  app/component-library/components/List/ListItem/ListItem.tsx
  app/component-library/components/List/ListItem/ListItem.types.ts
  app/component-library/components/List/ListItem/README.md
  app/component-library/components/List/ListItem/__snapshots__/ListItem.test.tsx.snap
  app/component-library/components/Select/MultiSelect/MultiSelectItem/__snapshots__/MultiSelectItem.test.tsx.snap
  app/component-library/components/Select/Select/SelectItem/__snapshots__/SelectItem.test.tsx.snap
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, Run Smoke E2E, INVALID-PR-TEMPLATE

#7741 refactor: Update SelectItem
  .storybook/storybook.requires.js
  app/component-library/components/Cells/Cell/__snapshots__/Cell.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellSelect/CellSelect.tsx
  app/component-library/components/Cells/Cell/variants/CellSelect/CellSelect.types.ts
  app/component-library/components/Cells/Cell/variants/CellSelect/README.md
  app/component-library/components/Cells/Cell/variants/CellSelect/__snapshots__/CellSelect.test.tsx.snap
  app/component-library/components/List/ListItemSelect/ListItemSelect.constants.ts
  app/component-library/components/List/ListItemSelect/ListItemSelect.stories.tsx
  app/component-library/components/List/ListItemSelect/ListItemSelect.styles.ts
  app/component-library/components/List/ListItemSelect/ListItemSelect.test.tsx
  app/component-library/components/List/ListItemSelect/ListItemSelect.tsx
  app/component-library/components/List/ListItemSelect/ListItemSelect.types.ts
  app/component-library/components/List/ListItemSelect/README.md
  app/component-library/components/List/ListItemSelect/__snapshots__/ListItemSelect.test.tsx.snap
  app/component-library/components/List/ListItemSelect/index.ts
  app/component-library/components/Select/Select/SelectItem/README.md
  app/component-library/components/Select/Select/SelectItem/SelectItem.constants.ts
  app/component-library/components/Select/Select/SelectItem/index.ts
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, Run Smoke E2E, INVALID-PR-TEMPLATE

#7556 feat(ramp): add initial send transaction view
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Ramp/common/Views/OrderDetails.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.styles.ts
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.test.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/__snapshots__/SendTransaction.test.tsx.snap
  app/components/UI/Ramp/common/Views/SendTransaction/index.ts
  app/constants/navigation/Routes.ts
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/index.ts
  locales/languages/en.json
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#7625 feat(ramp): add sell tx hash type and redux actions
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/index.ts
  app/reducers/fiatOrders/types.ts
Labels: No QA Needed/E2E Only, team-ramp, Run Smoke E2E

#7746 refactor: Update AvatarVariants to AvatarVariant
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.constants.ts
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.tsx
  app/component-library/components-temp/Contracts/ContractBoxBase/ContractBoxBase.tsx
  app/component-library/components/Avatars/Avatar/Avatar.stories.tsx
  app/component-library/components/Avatars/Avatar/Avatar.tsx
  app/component-library/components/Avatars/Avatar/Avatar.types.ts
  app/component-library/components/Avatars/Avatar/README.md
  app/component-library/components/Avatars/Avatar/foundation/AvatarBase/AvatarBase.types.ts
  app/component-library/components/Avatars/Avatar/index.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarAccount/AvatarAccount.types.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarFavicon/AvatarFavicon.types.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarIcon/AvatarIcon.types.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/AvatarNetwork.types.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarToken/AvatarToken.types.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.tsx
  app/component-library/components/Cells/Cell/Cell.constants.ts
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.constants.ts
  app/component-library/components/Cells/Cell/variants/CellDisplay/CellDisplay.constants.ts
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/CellMultiSelect.constants.ts
  app/component-library/components/Cells/Cell/variants/CellSelect/CellSelect.constants.ts
  app/component-library/components/Navigation/TabBarItem/TabBarItem.tsx
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.tsx
  app/component-library/components/Tags/TagUrl/TagUrl.tsx
  app/component-library/components/Toast/Toast.tsx
  app/components/UI/AccountRightButton/index.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/NetworkInfo/index.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/WalletAction/WalletAction.tsx
  app/components/Views/AccountConnect/AccountConnectSingle/AccountConnectSingle.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, Run Smoke E2E, INVALID-PR-TEMPLATE

#7744 refactor: Update ListItemMultiSelect
  .storybook/storybook.requires.js
  app/component-library/components/Cells/Cell/__snapshots__/Cell.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/CellMultiSelect.tsx
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/CellMultiSelect.types.ts
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/README.md
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/__snapshots__/CellMultiSelect.test.tsx.snap
  app/component-library/components/List/ListItemMultiSelect/ListItemMultiSelect.constants.ts
  app/component-library/components/List/ListItemMultiSelect/ListItemMultiSelect.stories.tsx
  app/component-library/components/List/ListItemMultiSelect/ListItemMultiSelect.styles.ts
  app/component-library/components/List/ListItemMultiSelect/ListItemMultiSelect.test.tsx
  app/component-library/components/List/ListItemMultiSelect/ListItemMultiSelect.tsx
  app/component-library/components/List/ListItemMultiSelect/ListItemMultiSelect.types.ts
  app/component-library/components/List/ListItemMultiSelect/README.md
  app/component-library/components/List/ListItemMultiSelect/__snapshots__/ListItemMultiSelect.test.tsx.snap
  app/component-library/components/List/ListItemMultiSelect/index.ts
  app/component-library/components/Select/MultiSelect/MultiSelectItem/MultiSelectItem.constants.ts
  app/component-library/components/Select/MultiSelect/MultiSelectItem/MultiSelectItem.stories.tsx
  app/component-library/components/Select/MultiSelect/MultiSelectItem/README.md
  app/component-library/components/Select/MultiSelect/MultiSelectItem/index.ts
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, Run Smoke E2E, INVALID-PR-TEMPLATE

#7715 feat(ramp): add sell tx hash to state when sending sell tx
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.test.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/__snapshots__/SendTransaction.test.tsx.snap
Labels: No QA Needed/E2E Only, team-ramp, Run Smoke E2E

#7748 fix(ramp): update AvatarVariants to AvatarVariant
  app/components/UI/Ramp/common/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.tsx
Labels: No QA Needed/E2E Only, needs-dev-review, team-ramp

#7680 feat: UX improvement to address blockaid performance issue
  app/actions/signatureRequest/index.ts
  app/actions/transaction/index.js
  app/components/UI/BlockaidBanner/BlockaidBanner.styles.ts
  app/components/UI/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.types.ts
  app/components/UI/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  app/components/UI/MessageSign/MessageSign.tsx
  app/components/UI/PersonalSign/PersonalSign.tsx
  app/components/UI/PersonalSign/index.test.tsx
  app/components/UI/SignatureRequest/Root/Root.test.tsx
  app/components/UI/SignatureRequest/Root/Root.tsx
  app/components/UI/SignatureRequest/index.js
  app/components/UI/TypedSign/index.js
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
  app/reducers/index.ts
  app/reducers/signatureRequest/index.ts
  app/reducers/transaction/index.js
  app/util/test/initial-root-state.ts
  locales/languages/en.json
  patches/@metamask+transaction-controller+5.0.0.patch
Labels: team-confirmations-secure-ux-PR

#7643 feat: add error message to retry modal
  app/components/UI/Transactions/RetryModal/index.tsx
  app/components/UI/Transactions/index.js
  app/core/Transaction/TransactionError.ts
Labels: team-accounts, Ledger, Run Smoke E2E

#7644 feat: add bluetooth library support
  android/app/src/main/AndroidManifest.xml
  app/components/hooks/useBluetoothPermissions.ts
  ios/MetaMask/Info.plist
  ios/MetaMask/MetaMask-QA-Info.plist
  ios/Podfile
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: team-accounts, Ledger, Run Smoke E2E

#7750 fix: Fix network badge merge issue
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.constants.ts
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.test.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.tsx
  app/component-library/components/Pickers/PickerNetwork/__snapshots__/PickerNetwork.test.tsx.snap
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#7756 docs: Update docs with new envar `METAMASK_ENVIRONMENT`
  .js.env.example
  README.md
Labels: No QA Needed/E2E Only, area-documentation, team-confirmations-secure-ux-PR, Run Smoke E2E

#7758 fix: bump axios
  package.json
  yarn.lock
Labels: dependencies, No QA Needed/E2E Only, team-security, javascript, Run Smoke E2E

#7726 chore: Split the Swap test into two parts so that transaction activity is checked at the end
  app/components/Base/DetailsModal.js
  app/components/Base/ListItem.js
  app/components/Base/StatusText.js
  app/components/UI/Ramp/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  e2e/pages/ActivitiesView.js
  e2e/pages/modals/DetailsModal.js
  e2e/selectors/ActivityView.selectors.js
  e2e/selectors/Modals/DetailsModal.selectors.js
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
  wdio/screen-objects/testIDs/Components/DetailsModal.js
Labels: team-swaps, Run Smoke E2E

#6586 feat: SES lockdown v0.18.8 (iOS JSC)
  app/store/index.ts
  babel.config.js
  index.js
  patches/ethjs++ethjs-contract+0.2.2.patch
  patches/ethjs++ethjs-query+0.3.7.patch
  patches/react-native+0.71.14.patch
  ses.cjs
Labels: needs-dev-review, team-lavamoat, Run Smoke E2E

#7760 chore(revert): revert "chore: Split the Swap test into two parts so that transaction activity is checked at the end"
  app/components/Base/DetailsModal.js
  app/components/Base/ListItem.js
  app/components/Base/StatusText.js
  app/components/UI/Ramp/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  e2e/pages/ActivitiesView.js
  e2e/pages/modals/DetailsModal.js
  e2e/selectors/ActivityView.selectors.js
  e2e/selectors/Modals/DetailsModal.selectors.js
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
  wdio/screen-objects/testIDs/Components/DetailsModal.js
Labels: needs-dev-review, team-mobile-platform, team-swaps, Run Smoke E2E, INVALID-PR-TEMPLATE

#7751 Fix: Android Shasum Validation
  android/app/src/androidTest/java/com/metamask/nativeModules/RNTarTest/RNTarTest.java
  android/app/src/main/java/io/metamask/nativeModules/RNTar/RNTar.java
  patches/@metamask+snaps-utils+3.2.0.patch
Labels: Run Smoke E2E

#7576 feat(ramp): offramp welcome screen copy updates
  app/components/UI/Ramp/buy/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/Ramp/buy/Views/GetStarted/GetStarted.tsx
  app/components/UI/Ramp/buy/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  locales/languages/en.json
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#7577 feat(ramp): offramp unsupported region copy update
  app/components/UI/Ramp/buy/Views/Regions/Regions.test.tsx
  app/components/UI/Ramp/buy/Views/Regions/Regions.tsx
  app/components/UI/Ramp/buy/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Ramp/common/components/RegionModal.tsx
  locales/languages/en.json
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#7733 fix: silence PollingBlockTracker Sentry error emit
  patches/web3-provider-engine+16.0.5.patch
Labels: QA Passed, team-mobile-client

#7737 fix: Use custom controls for iOS video (#7729)
  app/components/Views/MediaPlayer/index.js
Labels: QA Passed, team-mobile-client, Run Smoke E2E

#7770 chore: Test/fix swap token chart
  e2e/specs/swaps/swap-token-chart.spec.js
Labels: team-swaps

#7749 revert: undo QR code changes from previous merge
  app/components/UI/Navbar/index.js
  app/components/Views/QRScanner/index.tsx
Labels: needs-dev-review, team-mobile-client

#7783 chore: Cherry pick - bump axios (#7758)
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#7763 chore(ramp): upgrade sdk to 1.25.3
  package.json
  yarn.lock
Labels: needs-dev-review, team-ramp, ramp-qa-passed, Run Smoke E2E

#7732 feat: Update preferences controller to version ^4
  package.json
  patches/@metamask+preferences-controller+3.0.0.patch
  patches/@metamask+preferences-controller+4.4.3.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-client, Run Smoke E2E

#7777 fix: blockaid validations should be done only on mainnet
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#7765 fix: revert the changes made for deeplink.
  app/components/Views/Send/index.js
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/Confirm/index.test.tsx
  app/components/Views/SendFlow/Confirm/styles.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#7774 fix: blockaid URL
  app/constants/urls.ts
Labels: team-confirmations-secure-ux-PR, Run Smoke E2E

#7788 fix: remove PPOM initialisation error appearing in dev mode
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#7789 feat: Goerli deprecation translation
  locales/languages/en.json
Labels: Spot Check on the Release Build, team-mobile-client

#7786 fix: e2e - update search asset and hide for wallet tests
  e2e/specs/wallet/wallet-tests.spec.js
Labels: team-mobile-client, e2e, Run Smoke E2E, release-7.12.0

#7781 fix android builds: update hermes commit hash
  patches/react-native+0.71.14.patch
Labels: No QA Needed/E2E Only, team-mobile-client, Run Smoke E2E

#7784 chore: cherry-pick - silence PollingBlockTracker Sentry error emit (#7733)
  patches/web3-provider-engine+16.0.5.patch
Labels: team-mobile-client, Run Smoke E2E, release-7.11.0

#7811 fix: Lock yarn to 1.22.19
  bitrise.yml
Labels: No QA Needed/E2E Only, team-mobile-client, Run Smoke E2E

#7711 [Force upgrade] bump minimum version 1187 (version 7.10.0)
  AppConfig/v1/AppConfig.json
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, minimum-versions

#7814 chore: cherry-pick - fix: Lock yarn to 1.22.19 (#7811)
  bitrise.yml
Labels: regression-RC, team-mobile-client, Run Smoke E2E, release-7.11.0

#7805 chore: cherry-pick - fix: e2e - update search asset and hide for wallet tests (#7786)
  e2e/specs/wallet/wallet-tests.spec.js
Labels: regression-RC, team-mobile-client, Run Smoke E2E, release-7.11.0

#7785 chore: cherry-pick - fix: Use custom controls for iOS video (#7729) (#7737)
  app/components/Views/MediaPlayer/index.js
Labels: Spot Check on the Release Build, team-mobile-client, Run Smoke E2E, release-7.11.0

#7809 fix: Disable javascript when webview is not focused
  app/components/Views/BrowserTab/index.js
Labels: needs-dev-review, team-mobile-client, Run Smoke E2E

#7824 revert translations in 7782/update-whatsnew-copy-blockaid
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: team-confirmations-secure-ux-PR

#7821 fix: error property on object is not extensible
  app/components/UI/TransactionReview/index.js
Labels: team-confirmations-system, Run Smoke E2E

#7799 fix: Update loading copy for Blockaid on mobile
  app/components/UI/BlockaidBanner/BlockaidBanner.tsx
  locales/languages/en.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#7817 fix: blockaid banner appearance for approve transactions
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/TransactionBlockaidBanner/TransactionBlockaidBanner.test.tsx
  app/components/UI/TransactionBlockaidBanner/TransactionBlockaidBanner.tsx
  app/components/UI/TransactionBlockaidBanner/TransactionBlockaidBanner.types.ts
  app/components/UI/TransactionBlockaidBanner/__snapshots__/TransactionBlockaidBanner.test.tsx.snap
  app/components/UI/TransactionReview/index.js
  app/components/UI/TransactionReview/index.test.tsx
  app/reducers/transaction/index.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#7798 fix: blockaid banner should not be visible if option has not been enabled in settings
  app/components/UI/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.tsx
  app/components/UI/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  app/components/UI/TransactionReview/index.test.tsx
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
  app/selectors/preferencesController.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#7797 fix: PPOM - What's New copy text refers to OpenSea previous feature - non existing in Mobile
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
  app/components/UI/WhatsNewModal/whatsNewList.ts
  locales/languages/en.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#7796 fix: Update settings copy for Blockaid feature
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#7714 feat: sdk comm update
  .tool-versions
  app/components/Nav/App/index.js
  app/core/AppConstants.ts
  app/core/DeeplinkManager.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/Connection.ts
  app/core/SDKConnect/RPCQueueManager.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/handleDeeplink.ts
  app/core/SDKConnect/utils/wait.util.ts
  app/util/Logger.ts
  app/util/favicon/index.ts
  package.json
  yarn.lock
Labels: team-sdk, QA Passed, Priority - High, Run Smoke E2E

#7790 feat: goerli deprecation warning
  app/components/Nav/Main/index.js
  app/components/UI/WarningAlert/WarningAlert.styles.ts
  app/components/UI/WarningAlert/__snapshots__/WarningAlert.test.tsx.snap
  app/constants/urls.ts
Labels: needs-dev-review, team-mobile-client, Run Smoke E2E

#7834 fix: remove wrong property
  app/components/UI/AddressInputs/index.js
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#7637 feat(ramp): offramp analytics
  app/components/UI/Ramp/buy/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/buy/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/buy/Views/Checkout.tsx
  app/components/UI/Ramp/buy/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/Ramp/buy/Views/GetStarted/GetStarted.tsx
  app/components/UI/Ramp/buy/Views/PaymentMethods/PaymentMethods.test.tsx
  app/components/UI/Ramp/buy/Views/PaymentMethods/PaymentMethods.tsx
  app/components/UI/Ramp/buy/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/buy/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/buy/Views/Regions/Regions.test.tsx
  app/components/UI/Ramp/buy/Views/Regions/Regions.tsx
  app/components/UI/Ramp/buy/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/buy/hooks/useInAppBrowser.ts
  app/components/UI/Ramp/common/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/common/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Ramp/common/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Ramp/common/Views/OrderDetails.tsx
  app/components/UI/Ramp/common/Views/Settings/Settings.tsx
  app/components/UI/Ramp/common/components/ErrorView.tsx
  app/components/UI/Ramp/common/components/InfoAlert.tsx
  app/components/UI/Ramp/common/components/PaymentMethodModal.tsx
  app/components/UI/Ramp/common/components/RegionModal.tsx
  app/components/UI/Ramp/common/containers/CustomActionButton.tsx
  app/components/UI/Ramp/common/hooks/useAnalytics.ts
  app/components/UI/Ramp/common/types/analytics.ts
  app/components/UI/Ramp/index.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/core/Analytics/MetaMetrics.events.ts
Labels: ramp-qa-passed, Run Smoke E2E

#7830 refactor(ramp): order list button labels
  app/components/UI/Ramp/common/Views/OrdersList/OrdersList.test.tsx
  app/components/UI/Ramp/common/Views/OrdersList/OrdersList.tsx
  app/components/UI/Ramp/common/Views/OrdersList/__snapshots__/OrdersList.test.tsx.snap
  locales/languages/en.json
Labels: team-ramp, ramp-qa-passed

#7813 fix: Add microphone permissions to iOS (#7812)
  ios/MetaMask/Info.plist
  ios/MetaMask/MetaMask-QA-Info.plist
Labels: QA Passed, team-mobile-client, Run Smoke E2E

#7836 fix: iOS Bitrise yarn setup
  .nvmrc
  .tool-versions
  bitrise.yml
Labels: type-bug, team-mobile-client, Run Smoke E2E, release-7.12.0

#7839 chore: cherry-pick - fix: Add microphone permissions to iOS (#7812) (#7813)
  ios/MetaMask/Info.plist
  ios/MetaMask/MetaMask-QA-Info.plist
Labels: regression-RC, team-mobile-client, Run Smoke E2E, release-7.11.0

#7779 chore: build bump to 1197
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-client, product-backlog, Run Smoke E2E, release-7.11.0

#7841 fix: branch io deeplink stop on error without handling link
  app/components/Nav/App/index.js
Labels: team-sdk, QA Passed, Code Impact - Low, Priority - Medium, Run Smoke E2E, release-7.12.0

#7754 feat: add a return to app modal only for ios 17 when an sdk operation is done
  app/components/Nav/App/index.js
  app/components/Views/ReturnToAppModal/ReturnToAppModal.tsx
  app/components/Views/ReturnToAppModal/__snapshots__/index.test.tsx.snap
  app/components/Views/ReturnToAppModal/index.test.tsx
  app/components/Views/ReturnToAppModal/index.tsx
  app/constants/navigation/Routes.ts
  app/core/SDKConnect/Connection.ts
  app/core/SDKConnect/SDKConnect.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: team-sdk, QA in Progress, Code Impact - Low, Priority - High, release-7.12.0

#7810 chore: Update e2e regression casing
  bitrise.yml
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#7742 feat(ramp): add sell fields to order details view
  app/components/UI/Navbar/index.js
  app/components/UI/Ramp/buy/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/common/Views/OrderDetails/OrderDetails.test.tsx
  app/components/UI/Ramp/common/Views/OrderDetails/OrderDetails.tsx
  app/components/UI/Ramp/common/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/common/Views/OrderDetails/index.tsx
  app/components/UI/Ramp/common/Views/OrdersList/OrdersList.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/__snapshots__/SendTransaction.test.tsx.snap
  app/components/UI/Ramp/common/components/OrderDetails.tsx
  app/components/UI/Ramp/index.tsx
  locales/languages/en.json
Labels: team-ramp, needs-ramp-qa, Run Smoke E2E

#7838 fix: remove unused .tools-versions to prioritize nvm
  .gitignore
  .nvmrc
  .tool-versions
Labels: team-sdk, Run Smoke E2E

#7850 feat(ramp): offramp transaction analytics
  app/components/UI/Ramp/common/Views/OrderDetails/OrderDetails.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.test.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/common/hooks/useAnalytics.ts
  app/components/UI/Ramp/common/types/analytics.ts
  app/components/UI/Ramp/index.tsx
  app/core/Analytics/MetaMetrics.events.ts
Labels: QA Passed, team-ramp

#7852 feat(ramp): use sell get order from callback
  app/components/UI/Ramp/buy/hooks/useInAppBrowser.ts
Labels: No QA Needed/E2E Only, team-ramp

#7471 refactor: Convert Sheet stories to csf format
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components/Sheet/SheetBottom/SheetBottom.stories.tsx
  app/component-library/components/Sheet/SheetHeader/SheetHeader.constants.ts
  app/component-library/components/Sheet/SheetHeader/SheetHeader.stories.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#7415 refactor: Convert ModalConfirmation stories to csf format
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components/Modals/ModalConfirmation/ModalConfirmation.constants.ts
  app/component-library/components/Modals/ModalConfirmation/ModalConfirmation.stories.tsx
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.constants.ts
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.stories.tsx
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.types.ts
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, INVALID-PR-TEMPLATE

#7329 refactor: Convert Banner stories to csf format
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components/Banners/Banner/Banner.constants.ts
  app/component-library/components/Banners/Banner/Banner.stories.tsx
  app/component-library/components/Banners/Banner/Banner.test.tsx
  app/component-library/components/Banners/Banner/__snapshots__/Banner.test.tsx.snap
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.constants.ts
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.stories.tsx
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.test.tsx
  app/component-library/components/Banners/Banner/variants/BannerAlert/__snapshots__/BannerAlert.test.tsx.snap
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.constants.ts
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.stories.tsx
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.test.tsx
  app/component-library/components/Banners/Banner/variants/BannerTip/__snapshots__/BannerTip.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#7330 refactor: Convert Accordion stories to csf format
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components/Accordions/Accordion/Accordion.stories.tsx
  app/component-library/components/Accordions/Accordion/foundation/AccordionHeader/AccordionHeader.stories.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#7393 refactor: Convert Badge stories to csf format
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components/Badges/Badge/Badge.stories.tsx
  app/component-library/components/Badges/Badge/Badge.tsx
  app/component-library/components/Badges/Badge/__snapshots__/Badge.test.tsx.snap
  app/component-library/components/Badges/Badge/foundation/BadgeBase/BadgeBase.types.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.constants.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.stories.tsx
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.types.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/README.md
  app/component-library/components/Badges/Badge/variants/BadgeStatus/BadgeStatus.constants.ts
  app/component-library/components/Badges/Badge/variants/BadgeStatus/BadgeStatus.stories.tsx
  app/component-library/components/Badges/Badge/variants/BadgeStatus/BadgeStatus.types.ts
  app/component-library/components/Badges/Badge/variants/BadgeStatus/README.md
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.constants.tsx
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.stories.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#7391 refactor: Convert Button stories to csf format
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components/Buttons/Button/Button.stories.tsx
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.constants.ts
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.stories.tsx
  app/component-library/components/Buttons/Button/variants/ButtonLink/ButtonLink.stories.tsx
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/ButtonPrimary.stories.tsx
  app/component-library/components/Buttons/Button/variants/ButtonSecondary/ButtonSecondary.stories.tsx
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.constants.ts
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.stories.tsx
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#7776 fix: WalletConnect requests should show loading banner for blockaid.
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnectV2.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, INVALID-PR-TEMPLATE

#7734 feat: enable code fence capabilities on mobile app.
  .detoxrc.js
  .js.env.example
  app/__mocks__/different-fenced-code-comp.mock.js
  app/__mocks__/different-fenced-code-result-comp.mock.js
  app/__mocks__/empty-fenced-code-comp.mock.js
  app/__mocks__/fenced-code-comp.mock.js
  app/__mocks__/invalid-param-fenced-comp.mock.js
  app/__mocks__/malformed-fenced-code-comp.mock.js
  app/__mocks__/multiple-params-fenced-code-comp.mock.js
  app/__mocks__/no-fenced-code-comp.mock.js
  app/transforms/README.md
  app/transforms/remove-fenced-code.d.ts
  app/transforms/remove-fenced-code.js
  app/transforms/remove-fenced-code.test.js
  babel.config.js
  bitrise.yml
  metro.config.js
  metro.transform.js
  package.json
  scripts/build.sh
Labels: team-accounts, mobile-snaps, Run Smoke E2E, INVALID-PR-TEMPLATE

#7858 feat(ramp): updates copy on order details page for pre-transacted orders
  app/components/UI/Ramp/common/Views/OrderDetails/OrderDetails.test.tsx
  app/components/UI/Ramp/common/Views/OrderDetails/OrderDetails.tsx
  app/components/UI/Ramp/common/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.test.tsx
  app/components/UI/Ramp/common/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/common/components/OrderDetails.tsx
  locales/languages/en.json
Labels: team-ramp, ramp-qa-passed

#7859 fix: microphone and camera on webview
  android/app/src/main/AndroidManifest.xml
  patches/react-native-webview+11.13.0.patch
Labels: needs-dev-review, team-mobile-client, Run Smoke E2E

#7860 refactor: Updated Toast story
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components/Toast/Toast.stories.tsx
Labels: needs-dev-review, team-design-system, INVALID-PR-TEMPLATE

#7872 fix(ramp): fix sell copy for unsupported region in build quote
  app/components/UI/Ramp/buy/Views/BuildQuote/BuildQuote.tsx
Labels: team-ramp, needs-ramp-qa

#7864 feat(ramp): sell what's new modal content
  app/components/UI/WhatsNewModal/whatsNewList.ts
  app/images/whats_new_sell.png
  app/images/whats_new_sell@2x.png
  app/images/whats_new_sell@3x.png
  locales/languages/en.json
Labels: team-ramp, Spot Check on the Release Build, Run Smoke E2E, release-7.12.0

#7881 fix: 7862 invalid address error
  app/util/address/index.js
  app/util/address/index.test.ts
Labels: QA Passed, team-accounts, Run Smoke E2E, release-7.12.0

#7884 chore: cherry-pick #7864
  app/components/UI/WhatsNewModal/whatsNewList.ts
  app/images/whats_new_sell.png
  app/images/whats_new_sell@2x.png
  app/images/whats_new_sell@3x.png
  e2e/viewHelper.js
  locales/languages/en.json
Labels: team-ramp, team-mobile-client, Run Smoke E2E, INVALID-PR-TEMPLATE, release-7.12.0

#7883 chore: cherry pick 7881
  app/util/address/index.js
  app/util/address/index.test.ts
Labels: type-bug, team-accounts, Run Smoke E2E, release-7.12.0

#7893 fix: Revert javascript disabled on the webview
  app/components/Views/BrowserTab/index.js
Labels: needs-dev-review, team-mobile-client

#7896 test: Remove duplicate methods on Gesture class
  e2e/utils/Gestures.js
  e2e/utils/Matchers.js
Labels: needs-dev-review, team-mobile-client

#7898 fix: Cherry pick revert javascript disable on webview
  app/components/Views/BrowserTab/index.js
Labels: Spot Check on the Release Build, regression-RC, team-mobile-client, in-progress, Run Smoke E2E, release-7.12.0

#7876 feat: display the dapp icon when connecting with sdk
  app/components/UI/SignatureRequest/ExpandedMessage/index.js
  app/components/UI/SignatureRequest/Root/__snapshots__/Root.test.tsx.snap
  app/components/UI/SignatureRequest/index.js
  app/components/UI/TransactionHeader/index.js
  app/core/SDKConnect/Connection.ts
Labels: team-sdk, QA Passed, Run Smoke E2E

#7338 fix: update linea goerli explorer url
  patches/@metamask+controller-utils+3.4.0.patch
Labels: No QA Needed/E2E Only, team-linea, Run Smoke E2E, release-7.12.0

#7917 fix: adjust the apiLogoUrl logic to handles cases when icon is an object with uri key
  app/components/UI/WebsiteIcon/index.js
Labels: team-sdk, QA in Progress

#7924 fix: Prevent SES errors in iOS dev builds
  patches/react-native+0.71.14.patch
Labels: QA Passed, team-mobile-platform, Run Smoke E2E

#7689 refactor: generate nonces using nonce tracker
  app/store/migrations.js
  app/store/migrations.test.js
  app/util/networks/index.js
  app/util/networks/index.test.ts
  app/util/test/initial-background-state.json
  patches/@metamask+transaction-controller+5.0.0.patch
Labels: team-confirmations-system, Run Smoke E2E

#7904 test: Fix permission-system-revoking-multiple-accounts test
  app/component-library/components/Cells/Cell/__snapshots__/Cell.test.tsx.snap
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.constants.ts
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.test.tsx
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.tsx
  app/component-library/components/Cells/Cell/foundation/CellBase/__snapshots__/CellBase.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellDisplay/__snapshots__/CellDisplay.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/__snapshots__/CellMultiSelect.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellSelect/__snapshots__/CellSelect.test.tsx.snap
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  e2e/pages/AccountListView.js
  e2e/pages/Drawer/Browser.js
  e2e/pages/modals/ConnectModal.js
  e2e/pages/modals/ConnectedAccountsModal.js
  e2e/selectors/AccountListView.selectors.js
  e2e/selectors/Modals/CellModal.selectors.js
  e2e/selectors/Modals/ConnectedAccounts.selectors.js
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
  e2e/specs/quarantine/permission-system-revoking-multiple-accounts.failing.js
  e2e/specs/wallet/create-wallet-account.spec.js
Labels: team-mobile-client, Run Smoke E2E

#7929 test: Increase E2E test setup time
  .detoxrc.js
Labels: No QA Needed/E2E Only, team-mobile-client, E2E, Run Smoke E2E, INVALID-PR-TEMPLATE

#7745 fix: add a section for stakeholder reviews in issue template
  .github/ISSUE_TEMPLATE/general-issue.yml
Labels: needs-dev-review, team-mobile-client, team-mobile-platform

#7922 chore(patch): Use core branch for assets-controllers patch
  patches/@metamask+assets-controllers+7.0.0.patch
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#7837 feat: New mobile Flask Build Type
  android/app/build.gradle
  android/app/src/flask/res/ic_launcher-playstore.png
  android/app/src/flask/res/mipmap-hdpi/ic_launcher.png
  android/app/src/flask/res/mipmap-hdpi/ic_launcher_foreground.png
  android/app/src/flask/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/flask/res/mipmap-mdpi/ic_launcher.png
  android/app/src/flask/res/mipmap-mdpi/ic_launcher_foreground.png
  android/app/src/flask/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/flask/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/flask/res/mipmap-xhdpi/ic_launcher_foreground.png
  android/app/src/flask/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/flask/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/flask/res/mipmap-xxhdpi/ic_launcher_foreground.png
  android/app/src/flask/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/flask/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/flask/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/app/src/flask/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/flask/res/values/strings.xml
  app/components/Nav/App/index.js
  app/components/Views/Settings/index.tsx
  app/transforms/remove-fenced-code.js
  app/util/sentry/utils.js
  app/util/sentry/utils.test.ts
  babel.config.js
  bitrise.yml
  index.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/MetaMask.xcodeproj/xcshareddata/xcschemes/MetaMask.xcscheme
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/Contents.json
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/Flask iOS App Icon_64pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/Flask iOS App Icon_64pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_1024pt@1x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_20pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_20pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_29pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_29pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_38pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_38pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_40pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_40pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_60pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_60pt@3x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_68@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_76pt@2x.png
  ios/MetaMask/Images.xcassets/AppIcon-Flask.appiconset/iOS App Icon_83.5@2x.png
  ios/MetaMask/IosExportOptionsMetaMaskFlaskRelease.plist
  ios/MetaMask/MetaMask-Flask-Info.plist
  ios/Podfile
  ios/Podfile.lock
  locales/languages/en.json
  metro.config.js
  metro.transform.js
  package.json
  scripts/build.sh
  scripts/checksum.sh
  scripts/metamask-bot-build-announce-bitrise.js
  scripts/set-versions.sh
Labels: team-accounts, Run Smoke E2E, INVALID-PR-TEMPLATE

#7940 fea: hide ledger
  app/actions/settings/index.js
  app/components/Views/ConnectHardware/SelectHardware/index.tsx
  app/reducers/settings/index.js
  locales/languages/en.json
Labels: team-accounts

#7935 fix: bitrise cocoapods issue in bitrise
  .ruby-version
Labels: No QA Needed/E2E Only, team-mobile-client

#7886 fix: Fix `eth_signTypedData` signatures containing `0x`
  package.json
  yarn.lock
Labels: QA Passed, team-shared-libraries, Run Smoke E2E

#7944 chore: cherry pick 7935
  .ruby-version
Labels: team-mobile-client, Run Smoke E2E, release-7.12.0

#7933 feat: Added images to component Readmes
  app/component-library/components/Accordions/Accordion/Accordion.png
  app/component-library/components/Accordions/Accordion/README.md
  app/component-library/components/Avatars/Avatar/Avatar.png
  app/component-library/components/Avatars/Avatar/README.md
  app/component-library/components/Badges/Badge/README.md
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.png
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/README.md
  app/component-library/components/Badges/Badge/variants/BadgeStatus/BadgeStatus.png
  app/component-library/components/Badges/Badge/variants/BadgeStatus/README.md
  app/component-library/components/Banners/Banner/README.md
  app/component-library/components/Banners/Banner/variants/BannerAlert/BannerAlert.png
  app/component-library/components/Banners/Banner/variants/BannerAlert/README.md
  app/component-library/components/Banners/Banner/variants/BannerTip/BannerTip.png
  app/component-library/components/Banners/Banner/variants/BannerTip/README.md
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.png
  app/component-library/components/BottomSheets/BottomSheet/README.md
  app/component-library/components/BottomSheets/BottomSheetFooter/BottomSheetFooter.png
  app/component-library/components/BottomSheets/BottomSheetFooter/README.md
  app/component-library/components/BottomSheets/BottomSheetHeader/BottomSheetHeader.png
  app/component-library/components/BottomSheets/BottomSheetHeader/README.md
  app/component-library/components/Buttons/Button/Button.png
  app/component-library/components/Buttons/Button/README.md
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.png
  app/component-library/components/Buttons/ButtonIcon/README.md
  app/component-library/components/Cards/Card/Card.png
  app/component-library/components/Cards/Card/README.md
  app/component-library/components/Checkbox/Checkbox.png
  app/component-library/components/Checkbox/README.md
  app/component-library/components/Form/HelpText/HelpText.png
  app/component-library/components/Form/HelpText/README.md
  app/component-library/components/Form/Label/Label.png
  app/component-library/components/Form/Label/README.md
  app/component-library/components/Form/TextField/README.md
  app/component-library/components/Form/TextField/TextField.png
  app/component-library/components/Form/TextFieldSearch/README.md
  app/component-library/components/Form/TextFieldSearch/TextFieldSearch.png
  app/component-library/components/HeaderBase/HeaderBase.png
  app/component-library/components/HeaderBase/README.md
  app/component-library/components/Icons/Icon/Icon.png
  app/component-library/components/Icons/Icon/README.md
  app/component-library/components/List/ListItem/ListItem.png
  app/component-library/components/List/ListItem/README.md
  app/component-library/components/List/ListItemMultiSelect/ListItemMultiSelect.png
  app/component-library/components/List/ListItemMultiSelect/README.md
  app/component-library/components/List/ListItemSelect/ListItemSelect.png
  app/component-library/components/List/ListItemSelect/README.md
  app/component-library/components/Tags/Tag/README.md
  app/component-library/components/Tags/Tag/Tag.png
  app/component-library/components/Texts/Text/Text.png
  app/component-library/components/Toast/README.md
  app/component-library/components/Toast/Toast.png
Labels: needs-dev-review, team-design-system

#7952 chore: add bridge translations
  locales/languages/en.json
Labels: team-bridge

#7945 chore: cherry pick #7607
  CHANGELOG.md
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: team-mobile-client, Run Smoke E2E, release-7.12.0

#7953 fix: correct proptypes array in WebsiteIcon component
  app/components/UI/WebsiteIcon/index.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#7937 chore: Updating CODEOWNERS file with DS ownership of component-library
  .github/CODEOWNERS
Labels: team-design-system

#7921 feat: android sdk connectsign + batch request
  app/components/Nav/App/index.js
  app/core/DeeplinkManager.js
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/BatchRPCManager.ts
  app/core/SDKConnect/Connection.ts
  app/core/SDKConnect/RPCQueueManager.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
  app/core/SDKConnect/handlers/handleBatchRpcResponse.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.ts
  app/core/SDKConnect/handlers/handleConnectionReady.ts
  app/core/SDKConnect/handlers/handleCustomRpcCalls.ts
  app/core/SDKConnect/handlers/handleDeeplink.ts
  app/core/SDKConnect/handlers/handleRpcOverwrite.ts
  app/core/SDKConnect/handlers/handleSendMessage.ts
  app/core/SDKConnect/handlers/setupBridge.ts
  app/core/SDKConnect/utils/DevLogger.ts
  app/util/Logger.ts
Labels: team-sdk, needs-dev-review, Run Smoke E2E

#7835 feat: add bridge wallet action
  app/components/UI/Bridge/utils/isBridgeAllowed.ts
  app/components/UI/Bridge/utils/useGoToBridge.ts
  app/components/Views/Browser/Browser.types.ts
  app/components/Views/WalletActions/WalletActions.constants.ts
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/constants/network.js
  app/core/Analytics/MetaMetrics.events.ts
  app/core/AppConstants.ts
Labels: design-review, team-bridge, Run Smoke E2E, release-7.13.0

#7961 feat: Create Select's foundational component - SelectValue
  .storybook/storybook.requires.js
  app/component-library/components/Select/SelectValue/README.md
  app/component-library/components/Select/SelectValue/SelectValue.constants.ts
  app/component-library/components/Select/SelectValue/SelectValue.stories.tsx
  app/component-library/components/Select/SelectValue/SelectValue.styles.ts
  app/component-library/components/Select/SelectValue/SelectValue.test.tsx
  app/component-library/components/Select/SelectValue/SelectValue.tsx
  app/component-library/components/Select/SelectValue/SelectValue.types.ts
  app/component-library/components/Select/SelectValue/__snapshots__/SelectValue.test.tsx.snap
  app/component-library/components/Select/SelectValue/foundation/SelectValueBase.styles.ts
  app/component-library/components/Select/SelectValue/foundation/SelectValueBase.tsx
  app/component-library/components/Select/SelectValue/foundation/SelectValueBase.types.ts
  app/component-library/components/Select/SelectValue/foundation/index.ts
  app/component-library/components/Select/SelectValue/index.ts
Labels: needs-dev-review, team-design-system, INVALID-PR-TEMPLATE
