Repository MetaMask/metamask-mobile, pull requests merged in 2024-04, with the labels that each got.

#9106 test: fix secrets for tenderly
  e2e/resources/networks.e2e.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9110 feat: patch linea token pricing
  patches/@metamask+assets-controllers+12.0.0.patch
Labels: team-assets, Run Smoke E2E

#8745 fix: request location permission after it is rejected during Ledger connection
  android/app/src/main/AndroidManifest.xml
  app/components/UI/LedgerModals/LedgerConfirmationModal.test.tsx
  app/components/UI/LedgerModals/LedgerConfirmationModal.tsx
  app/components/UI/LedgerModals/Steps/ConfirmationStep.tsx
  app/components/UI/LedgerModals/Steps/ErrorStep.tsx
  app/components/UI/LedgerModals/Steps/OpenETHAppStep.test.tsx
  app/components/UI/LedgerModals/Steps/OpenETHAppStep.tsx
  app/components/UI/LedgerModals/Steps/SearchingForDeviceStep.test.tsx
  app/components/UI/LedgerModals/Steps/SearchingForDeviceStep.tsx
  app/components/UI/LedgerModals/Steps/Steps.constants.ts
  app/components/UI/LedgerModals/Steps/__snapshots__/OpenETHAppStep.test.tsx.snap
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
  app/components/Views/LedgerConnect/Scan.test.tsx
  app/components/Views/LedgerConnect/Scan.tsx
  app/components/Views/LedgerConnect/__snapshots__/Scan.test.tsx.snap
  app/components/Views/LedgerConnect/__snapshots__/index.test.tsx.snap
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/hooks/Ledger/useBluetooth.ts
  app/components/hooks/Ledger/useLedgerBluetooth.ts
  app/components/hooks/useBluetoothPermissions.test.ts
  app/components/hooks/useBluetoothPermissions.ts
  app/core/Ledger/ledgerErrors.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA Passed, team-hardware-wallets, Run Smoke E2E

#8958 fix: unit test metametrics at app startup
  app/components/Nav/App/__snapshots__/index.test.tsx.snap
  app/components/Nav/App/index.test.tsx
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9125 fix: add display warning for mumbai
  app/components/Nav/Main/index.js
  app/constants/network.js
  app/constants/urls.ts
Labels: team-mobile-ux, Run Smoke E2E

#9123 fix: Revert Update controller utils to 5.0.2
  app/util/ENSUtils.js
  app/util/networks/handleNetworkSwitch.ts
  package.json
  patches/@metamask+controller-utils+4.3.2.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9045 feat: sdk connection dependency upgrade
  app/components/Views/SDKDisconnectModal/SDKDisconnectModal.tsx
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/removeConnection.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsDisconnected.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsWaiting.ts
  app/core/SDKConnect/ConnectionManagement/removeChannel.ts
  app/core/SDKConnect/ConnectionManagement/watchConnection.ts
  app/core/SDKConnect/InitializationManagement/asyncInit.ts
  app/core/SDKConnect/SDKConnectConstants.ts
  app/core/SDKConnect/StateManagement/updateSDKLoadingState.ts
  app/core/SDKConnect/handlers/checkPermissions.test.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.test.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.ts
  app/core/SDKConnect/handlers/handleCustomRpcCalls.test.ts
  app/core/SDKConnect/handlers/handleCustomRpcCalls.ts
  app/core/SDKConnect/handlers/handleSendMessage.ts
  app/core/WalletConnect/WalletConnectV2.ts
  package.json
  yarn.lock
Labels: team-sdk, QA Passed, Run Smoke E2E

#9134 fix: Revert controller utils update
  app/util/ENSUtils.js
  app/util/networks/handleNetworkSwitch.ts
  package.json
  patches/@metamask+controller-utils+4.3.2.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, release-7.20.0

#8603 fix: nft detection running too many times
  patches/@metamask+assets-controllers+12.0.0.patch
Labels: needs-qa, team-assets, Run Smoke E2E

#9127 cherry-pick: fix add display warning for mumbai (#9125)
  app/components/Nav/Main/index.js
  app/constants/network.js
  app/constants/urls.ts
Labels: regression-RC, team-assets, Run Smoke E2E, release-7.20.0

#9146 test: Refactor Tab bar page object
  app/component-library/components/Navigation/TabBar/TabBar.tsx
  e2e/pages/TabBarComponent.js
  e2e/selectors/TabBar.selectors.js
  e2e/viewHelper.js
  wdio/screen-objects/Modals/TabBarModal.js
  wdio/screen-objects/WalletMainScreen.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9165 feat: translate symbol warning text
  locales/languages/en.json
Labels: needs-dev-review, area-translation, team-assets, needs-assets-ux-review

#9162 fix: Update account name in PreferencesController AND AccountsController
  app/components/UI/AccountOverview/index.js
  app/components/Views/EditAccountName/EditAccountName.test.tsx
  app/components/Views/EditAccountName/EditAccountName.tsx
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
  app/core/Engine.ts
Labels: team-accounts, INVALID-PR-TEMPLATE, Run Smoke E2E

#9148 fix: Tokens disappearing when updating
  app/core/Engine.ts
Labels: team-accounts, regression-RC, ready-for-dev, team-mobile-platform, Run Smoke E2E, release-7.20.0

#9169 fix: Cherry pick fix for Tokens disappearing after upgrade
  app/core/Engine.ts
Labels: needs-dev-review, team-accounts, team-mobile-platform, release-7.20.0

#9150 fix: wc connections and permissions system network improvement
  app/components/Nav/App/index.js
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/StateManagement/updateSDKLoadingState.ts
  app/core/SDKConnect/handlers/checkPermissions.test.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
  app/core/SDKConnect/handlers/handleConnectionReady.ts
  app/core/WalletConnect/WalletConnectV2.ts
  app/core/WalletConnect/extractApprovedAccounts.ts
  app/core/WalletConnect/wc-utils.ts
Labels: team-sdk, QA Passed, WalletConnect, Run Smoke E2E

#9174 fix: change CUSTOM_TOKEN_IMPORTED tracking mode
  app/components/UI/Swaps/components/TokenSelectModal.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9024 docs: Add xocde required config steps
  docs/readme/environment.md
Labels: needs-dev-review, team-mobile-platform

#9166 feat: signature controller update to v6.0.0
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform

#9124 chore: added new privacy file and identified reason for using privacy APIs
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/MetaMask/PrivacyInfo.xcprivacy
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9188 feat: wc fixes + ux improvements
  app/components/Nav/App/index.js
  app/core/WalletConnect/WalletConnectV2.ts
  package.json
  yarn.lock
Labels: team-sdk, QA Passed, WalletConnect, Run Smoke E2E

#9136 feat: add eth stake button
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/styles.ts
  app/core/Analytics/MetaMetrics.events.ts
  locales/languages/en.json
  wdio/screen-objects/testIDs/Components/Tokens.testIds.js
Labels: design-review, needs-dev-review, team-stake, Run Smoke E2E

#9025 chore: improve yarn setup logs
  package.json
  scripts/build_ppom.sh
  scripts/detox-setup.sh
  scripts/postinstall.sh
  scripts/setup.mjs
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#9193 fix(ramp): default networks state to array
  app/components/UI/Ramp/hooks/useFetchRampNetworks.ts
  app/components/UI/Ramp/utils/index.ts
  app/reducers/fiatOrders/index.ts
  package.json
  yarn.lock
Labels: Run Smoke E2E

#9161 feat: update popular network
  app/images/base.png
  app/images/zk-sync.png
  app/util/networks/customNetworks.tsx
  app/util/networks/cystomNetworks.test.ts
Labels: team-assets, needs-assets-ux-review

#9065 feat: Update network controller to version 13.0.1
  app/components/Views/Asset/index.js
  app/components/Views/TransactionsView/index.js
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.ts
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.test.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.ts
  app/core/redux/slices/inpageProvider/index.ts
  app/core/redux/slices/inpageProvider/inpageProvider.test.ts
  app/reducers/index.ts
  app/selectors/networkController.ts
  app/store/migrations/033.test.ts
  app/store/migrations/033.ts
  app/store/migrations/037.test.ts
  app/store/migrations/037.ts
  app/store/migrations/index.ts
  app/util/networks/index.js
  app/util/networks/index.test.ts
  app/util/test/initial-background-state.json
  app/util/test/initial-root-state.ts
  e2e/fixtures/fixture-builder.js
  package.json
  patches/@metamask+network-controller+13.0.1.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8674 refactor: Remove usage of regex for portfolio URLs
  app/components/UI/AccountOverview/index.js
  app/components/UI/Bridge/utils/useGoToBridge.ts
  app/components/UI/Tokens/index.tsx
  app/core/AppConstants.ts
  app/util/regex/index.test.ts
  app/util/regex/index.ts
  app/util/regex/index.types.ts
  app/util/url/index.ts
  app/util/url/url.test.ts
Labels: needs-dev-review, team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#9181 test: fix rpc test on Ci for Android
  e2e/helpers.js
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/utils/Gestures.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9075 fix: Send ppom metrics when transaction is cancelled.
  app/components/UI/Navbar/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, area-metrics

#9202 fix: Revert PR 9075
  app/components/UI/Navbar/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8701 feat: notifications
  android/build.gradle
  app/components/Nav/Main/index.js
  app/core/NotificationManager.js
  app/util/notifications/hooks/index.test.ts
  app/util/notifications/hooks/index.ts
  app/util/notifications/index.ts
  app/util/notifications/settings/auth.ts
  app/util/notifications/settings/firebase.ts
  app/util/notifications/settings/index.ts
  app/util/notifications/settings/storage/constants.ts
  app/util/notifications/settings/storage/contants.test.ts
  app/util/notifications/settings/storage/index.test.ts
  app/util/notifications/settings/storage/index.ts
  app/util/notifications/setupAndroidChannels.ts
  app/util/notifications/types.ts
  app/util/test/testSetup.js
  index.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/MetaMask/AppDelegate.mm
  ios/MetaMask/Info.plist
  ios/Podfile
  jest.config.js
  locales/languages/en.json
  package.json
  yarn.lock
Labels: notification, team-mobile-platform, Run Smoke E2E, team-notifications

#9197 test: Change instances of messages to enContent while importing from locales
  e2e/pages/TestDApp.js
  e2e/pages/TokenOverview.js
  e2e/pages/swaps/OnBoarding.js
  e2e/pages/swaps/QuoteView.js
  e2e/pages/swaps/SwapView.js
  e2e/selectors/AccountListView.selectors.js
  e2e/selectors/ActivitiesView.selectors.js
  e2e/selectors/AddCustomTokenView.selectors.js
  e2e/selectors/BrowserView.selectors.js
  e2e/selectors/Common.selectors.js
  e2e/selectors/EditGasView.selectors.js
  e2e/selectors/ImportTokenView.selectors.js
  e2e/selectors/Modals/ConnectAccountModal.selectors.js
  e2e/selectors/Modals/ConnectedAccountModal.selectors.js
  e2e/selectors/Modals/ContractApprovalModal.selectors.js
  e2e/selectors/Modals/DeleteContactModal.selectors.js
  e2e/selectors/Modals/DeleteWalletModal.selectors.js
  e2e/selectors/Modals/NetworkAddedModal.selectors.js
  e2e/selectors/Modals/NetworkEducationModal.selectors.js
  e2e/selectors/Modals/NetworkListModal.selectors.js
  e2e/selectors/Modals/TransactionDetailsModal.selectors.js
  e2e/selectors/Onboarding/CustomDefaultNetwork.selectors.js
  e2e/selectors/Onboarding/OnboardingCarousel.selectors.js
  e2e/selectors/SendFlow/AmountView.selectors.js
  e2e/selectors/Settings/Contacts/AddContactView.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/ChangePasswordView.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/RevealSeedView.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/SecurityPrivacyView.selectors.js
  e2e/selectors/Settings/SettingsView.selectors.js
  e2e/selectors/TransactionConfirmView.selectors.js
  e2e/selectors/WalletView.selectors.js
  e2e/specs/confirmations/approve-custom-erc20.spec.js
  e2e/specs/confirmations/approve-default-erc20.spec.js
  e2e/specs/confirmations/send-erc20-with-dapp.spec.js
  e2e/specs/confirmations/send-erc721.spec.js
  e2e/specs/confirmations/send-eth.spec.js
  e2e/specs/settings/addressbook-tests.spec.js
Labels: needs-dev-review, team-mobile-platform

#9185 fix: 9108 Keystone QR code can't send asset transaction
  package.json
  yarn.lock
Labels: QA Passed, release-blocker, needs-dev-review, Sev1-high, team-hardware-wallets, Run Smoke E2E, release-7.20.0

#9114 feat: sdk deeplinking protocol
  app/actions/sdk/index.ts
  app/actions/sdk/state.ts
  app/components/Views/SDKSessionsManager/SDKSessionsManager.tsx
  app/constants/deeplinks.ts
  app/core/AppConstants.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/AndroidSDK/addAndroidConnection.ts
  app/core/SDKConnect/AndroidSDK/addDappConnection.test.ts
  app/core/SDKConnect/AndroidSDK/addDappConnection.ts
  app/core/SDKConnect/AndroidSDK/dapp-sdk-types.ts
  app/core/SDKConnect/AndroidSDK/getDefaultBridgeParams.ts
  app/core/SDKConnect/AndroidSDK/loadAndroidConnections.ts
  app/core/SDKConnect/AndroidSDK/loadDappConnections.test.ts
  app/core/SDKConnect/AndroidSDK/loadDappConnections.ts
  app/core/SDKConnect/Connection/Connection.ts
  app/core/SDKConnect/ConnectionManagement/removeAll.test.ts
  app/core/SDKConnect/ConnectionManagement/removeAll.ts
  app/core/SDKConnect/ConnectionManagement/removeChannel.ts
  app/core/SDKConnect/ECIES/ECIES.ts
  app/core/SDKConnect/InitializationManagement/asyncInit.ts
  app/core/SDKConnect/InitializationManagement/init.ts
  app/core/SDKConnect/SDKConnect.test.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.ts
  app/core/SDKConnect/utils/wait.util.ts
  app/reducers/sdk/index.ts
  app/util/test/initial-root-state.ts
  yarn.lock
Labels: team-sdk, QA Passed, Run Smoke E2E

#9205 feat: translate multi import tokens
  app/components/UI/AddCustomToken/__snapshots__/index.test.tsx.snap
  locales/languages/en.json
Labels: area-translation, team-assets, Run Smoke E2E, needs-assets-ux-review

#9207 chore: cherry-pick #9185
  package.json
  yarn.lock
Labels: team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E, release-7.20.0

#9199 chore: Chore/resolve xcode changes
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9002 ci: Add Bitrise workflow to test android app upgrade using appium on Browserstack
  bitrise.yml
  wdio/config/android.config.browserstack.js
  wdio/config/android.config.browserstack.local.js
  wdio/features/Performance/UpgradeApp.feature
  wdio/helpers/Gestures.js
  wdio/screen-objects/Modals/TabBarModal.js
  wdio/screen-objects/Onboarding/OnboardingCarousel.js
  wdio/step-definitions/common-steps.js
Labels: needs-qa, No QA Needed/E2E Only, team-mobile-platform

#9092 fix: check HD keyring
  patches/@metamask+eth-keyring-controller+13.0.1.patch
Labels: Spot Check on the Release Build, team-accounts

#9192 chore: update readme
  docs/readme/environment.md
Labels: needs-dev-review, team-confirmations-secure-ux

#9214 fix: Fix image import related type errors
  tsconfig.lint.json
Labels: No QA Needed/E2E Only, team-mobile-platform

#9216 fix: correct `SubjectType` for origins connecting via the `BackgroundBridge`
  app/core/BackgroundBridge/BackgroundBridge.js
Labels: mobile-snaps, INVALID-PR-TEMPLATE, team-snaps-platform

#9149 feat: Update controller utils to 5.0.2
  app/util/ENSUtils.js
  package.json
  patches/@metamask+controller-utils+5.0.2.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9218 feat: cherry-pick assets controller v14
  app/components/UI/AddCustomToken/index.js
  app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/WatchAssetRequest/index.js
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/core/Engine.ts
  app/core/RPCMethods/wallet_watchAsset.test.ts
  app/core/RPCMethods/wallet_watchAsset.ts
  package.json
  patches/@metamask+assets-controllers+14.0.0.patch
  scripts/patch-assets-controllers.sh
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9222 feat: Cherry pick controller utils v5
  app/util/ENSUtils.js
  package.json
  patches/@metamask+controller-utils+5.0.2.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9229 fix: Resolve missed controller-util yarn lock versions
  app/util/ENSUtils.js
  package.json
Labels: No QA Needed/E2E Only, needs-dev-review

#9228 fix: Update pods from notifications changes
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
Labels: needs-qa, needs-dev-review, Run Smoke E2E, team-notifications

#9224 fix: add migration for linea goerli
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/store/migrations/038.test.ts
  app/store/migrations/038.ts
  app/store/migrations/index.ts
  app/util/networks/index.js
  app/util/networks/index.test.ts
Labels: team-mobile-ux, Run Smoke E2E

#9241 feat: Update network controller to v^15
  app/core/Engine.ts
  package.json
  patches/@metamask+network-controller+15.2.0.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9183 feat: gas fee controller update v^7
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9243 fix: add missing isPortfolioUrl import and update portfolio url name
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/core/AppConstants.ts
Labels: needs-dev-review, regression-RC, team-stake, Run Smoke E2E, release-7.21.0

#9236 feat: improve the URL validation and error handling in 'parseDeeplink' Method
  app/core/DeeplinkManager/ParseManager/parseDeeplink.test.ts
  app/core/DeeplinkManager/ParseManager/parseDeeplink.ts
Labels: team-sdk, QA Passed, Run Smoke E2E

#9227 feat: Update the Palm logo with a new one
  app/images/palm.png
Labels: needs-dev-review, team-wallet-ux

#9225 feat: Update the privacy policy url
  app/core/AppConstants.ts
Labels: needs-dev-review, needs-smoke-e2e, team-wallet-ux

#9173 fix(8667): trigger swap tx on approval tx confirmed
  app/components/UI/Swaps/QuotesView.js
Labels: team-hardware-wallets

#9142 fix(labeling guidelines): Add definition of regression-develop label
  .github/guidelines/LABELING_GUIDELINES.md
Labels: needs-dev-review, team-mobile-platform

#9030 Extend blockaid validations to base network
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/util/networks/index.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8565 feat: Improve localization workflow such that it allows for branch/PR focused translation
  .github/workflows/crowdin-branch-cleanup.yml
  .github/workflows/crowdin-branch-pr-ready-for-translation.yml
  .github/workflows/crowdin-pull-branch-pr-completed-translations.yml
  .github/workflows/crowdin-reusable-translation-download.yml
  .github/workflows/crowdin-upload-both-sources-translations.yml
Labels: No QA Needed/E2E Only, needs-dev-review, team-shared-libraries, INVALID-PR-TEMPLATE, release-7.19.0

#9302 fix: e2e test permission problem
  e2e/init.js
Labels: team-mobile-platform, Run Smoke E2E, team-notifications

#9257 feat: add all translations necessary to notifications feature
  locales/languages/en.json
Labels: team-mobile-platform, Run Smoke E2E, team-notifications

#9247 fix: Update siwe parse to v2.1.0
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9254 feat: Update Gas fee controller v10
  app/core/Engine.ts
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9271 feat: update phishing controller v8.0.0
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/selectors/types.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform

#9307 fix: Refactor/9083 logger class
  app/components/Nav/App/index.js
  app/components/UI/Ramp/hooks/useFetchRampNetworks.ts
  app/components/UI/Ramp/hooks/useRampNetworksDetail.ts
  app/components/UI/Ramp/orderProcessor/index.test.ts
  app/components/UI/Ramp/orderProcessor/index.ts
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/RestoreWallet/WalletRestored.tsx
  app/components/Views/Root/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/core/BackupVault/backupVault.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/DeeplinkManager/ParseManager/parseDeeplink.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsReady.ts
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.ts
  app/core/SDKConnect/handlers/handleDeeplink.ts
  app/core/WalletConnect/WalletConnectV2.ts
  app/lib/ppom/PPOMView.tsx
  app/util/Logger/index.test.ts
  app/util/Logger/index.ts
  app/util/middlewares.js
  app/util/test/testSetup.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9323 chore: bump version update changelog
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#9292 fix: Network Configurations state is undefined
  app/store/migrations/020.js
  app/store/migrations/020.test.js
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#9324 chore: version bump 1314
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#9326 fix(translations): Fix upload translations
  .github/workflows/crowdin-upload-both-sources-translations.yml
Labels: team-shared-libraries, No E2E Smoke Needed, release-7.19.0

#9325 fix: cherry pick migration 23 fix
  app/store/migrations/020.js
  app/store/migrations/020.test.js
Labels: needs-dev-review, team-mobile-platform

#9240 feat: notifications types
  app/util/notifications/constants/config.ts
  app/util/notifications/constants/index.ts
  app/util/notifications/constants/local-storage-keys.ts
  app/util/notifications/constants/triggers.ts
  app/util/notifications/constants/user-storage.ts
  app/util/notifications/hooks/index.ts
  app/util/notifications/index.ts
  app/util/notifications/types/featureAnnouncement/TypeAction.ts
  app/util/notifications/types/featureAnnouncement/TypeFeatureAnnouncement.ts
  app/util/notifications/types/featureAnnouncement/TypeLink.ts
  app/util/notifications/types/featureAnnouncement/index.ts
  app/util/notifications/types/halNotification/index.ts
  app/util/notifications/types/halNotification/schema.d.ts
  app/util/notifications/types/halTriggers/index.ts
  app/util/notifications/types/halTriggers/schema.d.ts
  app/util/notifications/types/index.ts
  app/util/notifications/types/notification/index.ts
  app/util/notifications/types/type-utils.ts
  app/util/notifications/types/userStorage/index.ts
  package.json
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E, team-notifications

#9309 fix: error when re-using exising id on permissionController
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.ts
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
  app/core/SDKConnect/handlers/handleSendMessage.ts
  app/core/WalletConnect/WalletConnectV2.ts
Labels: team-sdk, QA Passed, WalletConnect, Run Smoke E2E

#9093 refactor: migrate Encryptor to TypeScript and increase PBKDF2 iterations number
  app/core/Encryptor.js
  app/core/Encryptor/Encryptor.test.ts
  app/core/Encryptor/Encryptor.ts
  app/core/Encryptor/constants.ts
  app/core/Encryptor/index.ts
  app/core/Encryptor/types.ts
  app/core/Engine.ts
  app/core/SecureKeychain.js
  app/util/test/testSetup.js
  app/util/validators/index.js
  package.json
  patches/@metamask+eth-keyring-controller+15.1.0.patch
  patches/@metamask+keyring-controller+9.0.0.patch
  yarn.lock
Labels: team-accounts, Run Smoke E2E

#9329 feat: Added log to capture failing exception for getItem
  app/store/persistConfig.ts
Labels: needs-dev-review, team-mobile-platform

#9343 fix: Fix intermittent install failures
  scripts/setup.mjs
Labels: team-mobile-platform, Run Smoke E2E

#9336 chore: revert iterations
  app/core/Encryptor/Encryptor.test.ts
  app/core/Encryptor/Encryptor.ts
  app/core/Encryptor/constants.ts
  app/core/Encryptor/index.ts
  app/core/Engine.ts
  app/core/SecureKeychain.js
  app/util/validators/index.js
Labels: team-accounts, Run Smoke E2E

#9349 chore: cherry-pick #9309
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.ts
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
  app/core/SDKConnect/handlers/handleSendMessage.ts
  app/core/WalletConnect/WalletConnectV2.ts
Labels: Run Smoke E2E

#9258 feat: notifications settings UI
  app/actions/notification/index.js
  app/component-library/components/Badges/Badge/variants/BadgeNotifications/BadgeNotifications.constants.ts
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Navbar/index.js
  app/components/Views/Notifications/OptIn/index.tsx
  app/components/Views/Notifications/OptIn/styles.ts
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/styles.ts
  app/components/Views/Settings/NotificationsSettings/NotificationsSettings.constants.ts
  app/components/Views/Settings/NotificationsSettings/NotificationsSettings.styles.ts
  app/components/Views/Settings/NotificationsSettings/NotificationsSettings.types.ts
  app/components/Views/Settings/NotificationsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Settings/NotificationsSettings/notificationsRows.ts
  app/components/Views/Settings/index.tsx
  app/components/Views/Wallet/index.tsx
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/core/NotificationManager.js
  app/images/enableNotificationsCard.png
  app/images/enableNotificationsCard@2x.png
  app/images/enableNotificationsCard@3x.png
  app/reducers/notification/index.js
  app/selectors/notificationsController.ts
  app/util/notifications/index.ts
  app/util/notifications/methods/index.ts
  app/util/notifications/settings/storage/constants.ts
  app/util/notifications/settings/storage/contants.test.ts
  app/util/notifications/settings/storage/index.test.ts
  app/util/notifications/settings/storage/index.ts
  app/util/notifications/types.ts
  e2e/selectors/NotificationsView.selectors.js
  e2e/selectors/Settings/SettingsView.selectors.js
  e2e/selectors/WalletView.selectors.js
  locales/languages/en.json
Labels: team-mobile-platform, Run Smoke E2E, team-notifications

#9348 chore: cherry-pick #9300
  CHANGELOG.md
Labels: team-mobile-platform, Run Smoke E2E

#9175 test: Upgrading test cases
  app/components/UI/NavbarTitle/index.js
  app/components/Views/AccountSelector/AccountSelector.constants.ts
  wdio/features/Upgrading/ConnectedTestNetwork.feature
  wdio/features/Upgrading/MultipleAccounts.feature
  wdio/screen-objects/AccountListComponent.js
  wdio/screen-objects/ImportAccountScreen.js
  wdio/screen-objects/ImportSuccessScreen.js
  wdio/screen-objects/Modals/AddAccountModal.js
  wdio/screen-objects/Modals/NetworkEducationModal.js
  wdio/screen-objects/Modals/NetworkListModal.js
  wdio/screen-objects/Modals/WalletAccountModal.js
  wdio/screen-objects/Onboarding/OnboardingCarousel.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Components/AccountListComponent.testIds.js
  wdio/screen-objects/testIDs/Components/TabBar.testIds.js
  wdio/screen-objects/testIDs/Screens/WalletScreen-testIds.js
  wdio/step-definitions/add-networks.steps.js
  wdio/step-definitions/common-steps.js
  wdio/step-definitions/wallet-view.steps.js
Labels: needs-dev-review, team-mobile-platform

#9360 fix: remove unusable import variables
  app/util/notifications/methods/index.ts
Labels: needs-dev-review, team-mobile-platform

#9320 chore: add strings to en.json for smart transactions
  locales/languages/en.json
Labels: needs-dev-review, team-swaps

#9317 chore: smart tx small constants
  app/constants/navigation/Routes.ts
  app/constants/storage.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/core/AppConstants.ts
Labels: needs-dev-review, team-swaps

#9362 fix(translations): Crowdin does not allow slashes
  .github/workflows/crowdin-branch-cleanup.yml
  .github/workflows/crowdin-branch-pr-ready-for-translation.yml
  .github/workflows/crowdin-reusable-translation-download.yml
Labels: team-shared-libraries, INVALID-PR-TEMPLATE, No E2E Smoke Needed, release-7.19.1

#9153 feat(ramp): add deeplink handler
  app/components/UI/Ramp/deeplink/handleRampUrl.test.ts
  app/components/UI/Ramp/deeplink/handleRampUrl.ts
  app/constants/deeplinks.ts
  app/core/DeeplinkManager/DeeplinkManager.test.ts
  app/core/DeeplinkManager/DeeplinkManager.ts
  app/core/DeeplinkManager/Handlers/handleRampUrl.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
Labels: team-ramp, Run Smoke E2E

#9337 fix: show banner alert if account balance is insufficient
  app/components/Views/confirmations/SendFlow/Confirm/index.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8856 test: E2E networks Flow
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/index.js
  e2e/fixtures/fixture-builder.js
  e2e/resources/networks.e2e.js
  e2e/selectors/Settings/NetworksView.selectors.js
  e2e/specs/networks/add-popular-networks.spec.js
  e2e/specs/networks/networks-search.spec.js
  index.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9361 feat: translations for fiat testnet toggle
  locales/languages/en.json
Labels: area-translation, team-assets, needs-assets-ux-review

#9393 test: Fix failing regression test basic fun feat
  e2e/specs/onboarding/add-custom-eth-mainnet.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9395 fix(translations): Fix hard coded repo name left from testing in diff repo
  .github/workflows/crowdin-pull-branch-pr-completed-translations.yml
Labels: team-shared-libraries, No E2E Smoke Needed, release-7.19.0

#9304 chore(ramp): upgrade sdk to 1.27.1
  package.json
  yarn.lock
Labels: team-ramp, Run Smoke E2E

#8909 test: 1453 refactor modal pages batch 3
  app/components/UI/NetworkInfo/index.tsx
  app/components/UI/OnboardingWizard/Coachmark/index.js
  app/components/UI/OnboardingWizard/Step1/index.js
  app/components/UI/OnboardingWizard/Step2/index.js
  app/components/UI/OnboardingWizard/Step3/index.js
  app/components/UI/OnboardingWizard/Step4/index.js
  app/components/UI/OnboardingWizard/Step5/index.js
  app/components/UI/OnboardingWizard/Step6/index.js
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  e2e/pages/Settings/Contacts/AddContactView.js
  e2e/pages/modals/ConnectModal.js
  e2e/pages/modals/NetworkEducationModal.js
  e2e/pages/modals/NetworkListModal.js
  e2e/pages/modals/OnboardingWizardModal.js
  e2e/pages/modals/ProtectYourWalletModal.js
  e2e/pages/modals/RequestPaymentModal.js
  e2e/selectors/Modals/NetworkEducationModal.selectors.js
  e2e/selectors/Modals/NetworkListModal.selectors.js
  e2e/selectors/Modals/OnboardingWizardModal.selectors.js
  e2e/selectors/Modals/ProtectWalletModal.selectors.js
  e2e/selectors/Settings/Contacts/AddContactView.selectors.js
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/specs/networks/connect-test-network.spec.js
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/permission-systems/permission-system-revoke-single-account.spec.js
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/quarantine/permission-system-removing-imported-account.failing.js
  e2e/specs/wallet/request-token-flow.spec.js
  e2e/specs/wallet/send-ERC-token.spec.js
  e2e/specs/wallet/start-exploring.spec.js
  e2e/utils/Assertions.js
  e2e/utils/Matchers.js
  e2e/viewHelper.js
  wdio/screen-objects/testIDs/Components/NetworkListModal.TestIds.js
  wdio/screen-objects/testIDs/Components/OnboardingWizard.testIds.js
Labels: needs-dev-review, team-mobile-platform

#9406 feat: notifications feature flag
  app/components/UI/Navbar/index.js
  app/components/Views/Settings/index.tsx
  app/util/notifications/methods/index.ts
  bitrise.yml
Labels: team-mobile-platform, Run Smoke E2E, team-notifications

#8557 chore: remove unused @metamask/oss-attribution-generator
  package.json
  scripts/generate-attributions/package.json
  scripts/generate-attributions/yarn.lock
  yarn.lock
Labels: devtools, dependencies, needs-dev-review, team-security, No E2E Smoke Needed

#9413 test: fix flakey E2E tests
  e2e/environment.js
  e2e/jest.e2e.config.js
  e2e/specs/assets/import-nft.spec.js
  e2e/specs/confirmations/signatures/eth-sign.spec.js
  e2e/specs/confirmations/signatures/personal-sign.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v3.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v4.spec.js
  e2e/specs/confirmations/signatures/typed-sign.spec.js
  e2e/specs/swaps/swap-action-regression.spec.js
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9420 test: move NFT import test to quarantine folder
  e2e/specs/quarantine/import-nft.failing.js
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9011 refactor(ramp): use statusDescription in order details
  app/components/UI/Ramp/Views/OrderDetails/OrderDetails.test.tsx
  app/components/UI/Ramp/Views/OrderDetails/OrderDetails.tsx
  app/components/UI/Ramp/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/components/OrderDetails.tsx
Labels: team-ramp, Run Smoke E2E

#9177 fix: add symbol check on network add custom form
  app/components/UI/Tokens/index.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/hooks/useIsOriginalNativeTokenSymbol/useIsOriginalNativeTokenSymbol.test.ts
  app/components/hooks/useIsOriginalNativeTokenSymbol/useIsOriginalNativeTokenSymbol.ts
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#9436 fix: notification settings state bug
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/reducers/notification/index.js
Labels: team-mobile-platform, team-notifications

#9340 fix: update blockaid setting section and align with extension
  app/components/Views/Settings/SecuritySettings/Sections/BlockaidSettings.styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/BlockaidSettings.test.tsx
  app/components/Views/Settings/SecuritySettings/Sections/BlockaidSettings.tsx
  app/components/Views/Settings/SecuritySettings/Sections/__snapshots__/BlockaidSettings.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#9371 chore: remove unecessary conditional
  app/util/notifications/methods/index.ts
Labels: team-mobile-platform, Run Smoke E2E, team-notifications

#9363 fix: removed empty spacing for Eth image
  app/component-library/components/Badges/Badge/__snapshots__/Badge.test.tsx.snap
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.constants.ts
  app/component-library/components/Badges/BadgeWrapper/__snapshots__/BadgeWrapper.test.tsx.snap
  app/images/ethereum.png
Labels: needs-dev-review, team-design-system, ready-for-dev

#9411 fix: refactor mechanism for sending analytics events
  app/core/Analytics/MetaMetrics.ts
  app/util/events/preProcessAnalyticsEvent.test.ts
  app/util/events/preProcessAnalyticsEvent.ts
Labels: needs-dev-review, team-mobile-platform

#9379 feat: create basic Name component for simulations
  .storybook/storybook.requires.js
  app/components/UI/Name/Name.stories.tsx
  app/components/UI/Name/Name.styles.ts
  app/components/UI/Name/Name.test.tsx
  app/components/UI/Name/Name.tsx
  app/components/UI/Name/Name.types.ts
  app/components/UI/Name/__snapshots__/Name.test.tsx.snap
  app/components/UI/Name/index.ts
  app/components/hooks/DisplayName/useDisplayName.test.ts
  app/components/hooks/DisplayName/useDisplayName.ts
  storybook/storyLoader.js
Labels: team-confirmations-system, team-confirmations

#9455 chore(iyarc): remove resolved audit advisory
  .iyarc
Labels: team-security

#9143 fix: Yarn 1.22.22
  bitrise.yml
  package.json
Labels: team-mobile-platform, team-lavamoat, needs-smoke-e2e, Run Smoke E2E

#9449 chore: Chore/cherry pick #9436
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/reducers/notification/index.js
Labels: No QA Needed/E2E Only, team-mobile-platform

#9401 feat: updated styling in badgenetwork
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/AvatarNetwork.constants.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.constants.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.styles.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.test.tsx
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.tsx
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.types.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/__snapshots__/BadgeNetwork.test.tsx.snap
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.stories.tsx
  app/components/UI/ConfirmAddAsset/__snapshots__/ConfirmAddAsset.test.tsx.snap
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/TypedSign/__snapshots__/index.test.tsx.snap
Labels: needs-dev-review, team-design-system
