Repository MetaMask/metamask-mobile, pull requests merged in 2024-03, with the labels that each got.

#8791 test: add contact us e2e
  e2e/pages/Settings/SettingsView.js
  e2e/selectors/Settings/SettingsView.selectors.js
  e2e/specs/settings/contact-us.spec.js
Labels: No QA Needed/E2E Only, team-mobile-platform

#8792 test: Fix tag in regression test
  e2e/specs/settings/contact-us.spec.js
Labels: No QA Needed/E2E Only, team-mobile-platform

#8572 fix: fake native tokens need better UX error handling
  app/components/UI/DrawerView/index.js
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.styles.ts
  app/components/UI/Ramp/hooks/useIsOriginalNativeTokenSymbol.test.ts
  app/components/UI/Ramp/hooks/useIsOriginalNativeTokenSymbol.ts
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/styles.ts
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/withIsOriginalNativeToken.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/constants/network.js
  app/core/Engine.ts
Labels: QA Passed, team-mobile-ux, team-assets

#8787 feat: add MetaMetrics custom flush vars and log
  .js.env.example
  app/core/Analytics/MetaMetrics.ts
Labels: needs-dev-review, team-mobile-platform, needs-smoke-e2e

#8729 feat(ramp): add event when user expands quotes
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/types/analytics.ts
  app/core/Analytics/MetaMetrics.events.ts
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#8798 fix: remove unnecessary post message stream patch
  patches/@metamask+post-message-stream+7.0.0.patch
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8801 fix(ramp): undefined payment method
  app/components/UI/Ramp/hooks/usePaymentMethods.ts
Labels: team-ramp, ramp-qa-passed

#8803 chore: Remove unnecessary resolutions
  package.json
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E

#8496 fix: redirection issue after chain switch on sign request
  app/core/WalletConnect/WalletConnectV2.ts
Labels: team-sdk, QA in Progress, needs-dev-review

#8802 chore: Remove `glob` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8809 chore: Remove `nanoid` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8810 chore: Remove resolutions for unused packages
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8774 fix: normalize transaction parameters before PPOM validation
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
  patches/@metamask+transaction-controller+6.1.0.patch
Labels: QA Passed, team-confirmations-system, Run Smoke E2E

#8811 chore: Remove `pac-resolver` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8814 chore: Remove `immer` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8816 chore: Remove `ua-parser-js` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8768 feat: state logs in the exported file with app version and build number
  app/components/Views/Settings/AdvancedSettings/index.js
  app/util/logs/index.test.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8818 chore: Remove `qs` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8820 chore: Remove `shell-quote` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8807 chore: Remove `minimatch` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8834 refactor: bring back IOS_SIMULATOR var as optional
  scripts/build.sh
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#8808 fix: unnecessary, unsafe base-controller patch
  patches/@metamask+base-controller+4.1.1.patch
Labels: No QA Needed/E2E Only, team-shared-libraries, Run Smoke E2E

#8815 chore: Remove unused `lodash` resolution
  package.json
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8819 chore: Remove `simple-get` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8817 chore: Remove `y18n` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8741 fix: Fix the QR code accounts disappear when password change.
  app/core/Vault.js
  app/core/Vault.test.ts
Labels: QA Passed, team-hardware-wallets, Run Smoke E2E

#8840 fix: update webview to grant location
  patches/react-native-webview+11.13.0.patch
Labels: needs-dev-review, team-mobile-platform

#8788 chore: Add instructions regarding tool versions and env variables in Readme
  .js.env.example
  README.md
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform, Run Smoke E2E

#8835 chore: Remove `plist` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8836 chore: Remove `cross-fetch` resolution
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8728 refactor(ramp): add provider name to sell tx events
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.test.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/types/analytics.ts
Labels: team-ramp, ramp-qa-passed

#8846 fix: network filtered view crash
  app/components/Views/Settings/NetworksSettings/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8784 fix: update usage of OP goerli to OP Sepolia
  app/store/migrations/025.test.js
  app/util/test/initial-background-state.json
  patches/@metamask+preferences-controller+4.4.3.patch
  patches/@metamask+transaction-controller+6.1.0.patch
Labels: needs-dev-review, team-mobile-ux

#8863 fix: update PPOM to v1.4.4
  app/lib/ppom/blockaid-version.js
  app/lib/ppom/ppom.html.js
  ppom/package.json
  ppom/yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8859 feat: add env vars mapping in build script
  scripts/build.sh
Labels: needs-dev-review, team-mobile-platform, No E2E Smoke Needed, Run Smoke E2E

#8838 fix: Rename DAPP_VISITED to DAPP_VIEWED
  app/actions/browser/index.js
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/BrowserTab/index.js
  app/core/Analytics/MetaMetrics.events.ts
  app/reducers/browser/index.js
  app/util/metrics/index.ts
  app/util/metrics/trackDappViewedEvent/index.test.ts
  app/util/metrics/trackDappViewedEvent/index.ts
  app/util/metrics/trackDappVisitedEvent/index.test.ts
  app/util/metrics/trackDappVisitedEvent/index.ts
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#8778 feat: Assets controllers update to version 10
  app/core/AppConstants.ts
  app/core/Engine.ts
  package.json
  patches/@metamask+assets-controllers+10.0.0.patch
  patches/@metamask+assets-controllers+9.2.0.patch
  scripts/patch-assets-controllers.sh
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8850 feat: Gas Fee Controller minor update to version 6.1.0
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8848 feat: Update Phishing Controller to version 6.0.0
  app/core/Engine.test.js
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform

#8871 fix: update PPOM to v1.4.4 (#8863)
  app/lib/ppom/blockaid-version.js
  app/lib/ppom/ppom.html.js
  ppom/package.json
  ppom/yarn.lock
Labels: QA Passed, Run Smoke E2E

#8628 feat: Update transaction controller to v7.1.0
  package.json
  patches/@metamask+transaction-controller+6.1.0.patch
  patches/@metamask+transaction-controller+7.1.0.patch
  scripts/patch-transaction-controller.sh
  yarn.lock
Labels: QA Passed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#8866 feat: Update transaction controller to v8.0.1
  app/core/Engine.ts
  package.json
  patches/@metamask+approval-controller+3.4.0.patch
  patches/@metamask+approval-controller+3.5.0.patch
  patches/@metamask+transaction-controller+7.1.0.patch
  patches/@metamask+transaction-controller+8.0.1.patch
  scripts/patch-transaction-controller.sh
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8876 Bump version to 1272
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, team-mobile-platform, release-7.18.0

#8878 Bump version to 1273
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, team-mobile-platform, INVALID-PR-TEMPLATE, No E2E Smoke Needed

#8839 chore: Migrate a batch of unit tests away from enzyme
  app/component-library/components/Cards/Card/Card.test.tsx
  app/component-library/components/Pickers/PickerBase/PickerBase.test.tsx
  app/component-library/components/Pickers/PickerBase/__snapshots__/PickerBase.test.tsx.snap
  app/components/UI/BiometryButton/index.test.tsx
  app/components/UI/DrawerView/__snapshots__/index.test.tsx.snap
  app/components/UI/DrawerView/index.test.tsx
  app/components/UI/EnableAutomaticSecurityChecksModal/EnableAutomaticSecurityChecksModal.test.tsx
  app/components/UI/EnableAutomaticSecurityChecksModal/__snapshots__/EnableAutomaticSecurityChecksModal.test.tsx.snap
  app/components/UI/NavbarBrowserTitle/__snapshots__/index.test.tsx.snap
  app/components/UI/NavbarBrowserTitle/index.test.tsx
  app/components/UI/OnboardingWizard/Coachmark/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Coachmark/index.js
  app/components/UI/OnboardingWizard/Coachmark/index.test.tsx
  app/components/UI/SelectComponent/__snapshots__/index.test.tsx.snap
  app/components/UI/SelectComponent/index.test.tsx
  app/components/UI/SheetActionView/SheetActionView.test.tsx
  app/components/UI/SheetActionView/__snapshots__/SheetActionView.test.tsx.snap
  app/components/UI/Tabs/TabThumbnail/__snapshots__/index.test.tsx.snap
  app/components/UI/Tabs/TabThumbnail/index.test.tsx
  app/components/UI/UpdateNeeded/UpdateNeeded.test.tsx
  app/components/UI/UpdateNeeded/__snapshots__/UpdateNeeded.test.tsx.snap
  app/components/UI/UrlAutocomplete/__snapshots__/index.test.js.snap
  app/components/UI/UrlAutocomplete/index.test.js
  app/components/Views/Asset/__snapshots__/index.test.js.snap
  app/components/Views/Asset/index.test.js
  app/components/Views/GasEducationCarousel/__snapshots__/index.test.tsx.snap
  app/components/Views/GasEducationCarousel/index.test.tsx
  app/components/Views/Onboarding/__snapshots__/index.test.tsx.snap
  app/components/Views/Onboarding/index.test.tsx
  app/components/Views/Settings/AppInformation/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AppInformation/index.test.tsx
  app/components/Views/TermsAndConditions/__snapshots__/index.test.tsx.snap
  app/components/Views/TermsAndConditions/index.test.tsx
  app/components/Views/confirmations/Send/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/Send/index.test.tsx
  app/components/Views/confirmations/components/TransactionReview/index.js
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform, Run Smoke E2E

#8879 chore: cherry-pick #8775
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: team-mobile-platform, INVALID-PR-TEMPLATE

#8869 fix: update PPOM to v1.4.4 (#8863)
  app/lib/ppom/blockaid-version.js
  app/lib/ppom/ppom.html.js
  ppom/package.json
  ppom/yarn.lock
Labels: QA Passed, Run Smoke E2E

#8861 fix: type for auth events and typo
  app/core/SecureKeychain.js
  app/util/metrics/UserSettingsAnalyticsMetaData/UserProfileAnalyticsMetaData.types.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
Labels: No QA Needed/E2E Only, team-mobile-platform, needs-smoke-e2e, Run Smoke E2E, release-7.18.0

#8723 test: Onboarding add custom default ETH Mainnet
  app/components/UI/OptinMetrics/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  e2e/pages/Onboarding/DefaultNetworkView.js
  e2e/pages/Onboarding/MetaMetricsOptInView.js
  e2e/resources/blacklistURLs.json
  e2e/resources/networks.json
  e2e/selectors/Onboarding/CustomDefaultNetwork.selectors.js
  e2e/selectors/Onboarding/MetaMetricsOptIn.selectors.js
  e2e/specs/onboarding/add-custom-eth-mainnet.spec.js
Labels: needs-dev-review, E2E, team-mobile-platform

#8883 fix: Fix `wallet_switchEthereumChain` chainId validation
  app/util/regex/index.ts
Labels: team-wallet-api-platform

#8877 fix: fix url bug display
  app/components/UI/NetworkModal/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/util/hideKeyFromUrl.test.ts
  app/util/hideKeyFromUrl.ts
Labels: type-bug, QA Passed, Sev1-high, regression-RC, team-mobile-ux, team-assets, Run Smoke E2E

#8887 fix: issue with 'dappIconUrl' in 'AccountConnect.ts'
  app/components/Views/AccountConnect/AccountConnect.tsx
Labels: team-accounts

#8892 fix: Tokens disappearing
  android/app/build.gradle
  app/store/migrations/029.test.ts
  app/store/migrations/029.ts
  app/store/migrations/030.test.ts
  app/store/migrations/030.ts
  app/store/migrations/031.ts
  app/store/migrations/031.ts.test.ts
  app/store/migrations/index.ts
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-qa, CS-reported, CS-tracking, team-mobile-platform

#8921 fix: yarn version updated to 1.22.22
  bitrise.yml
  yarn.lock
Labels: needs-dev-review, team-shared-libraries, team-mobile-platform

#8925 fix: Revert "fix: yarn version updated to 1.22.22 (#8921)"
  bitrise.yml
Labels: No QA Needed/E2E Only, team-mobile-platform

#8928 fix: Fix unit test failure for trackDappViewedEvent
  app/core/Analytics/MetaMetrics.ts
  app/util/metrics/trackDappViewedEvent/index.test.ts
Labels: No QA Needed/E2E Only, team-mobile-platform

#8888 fix: add identify metrics call at metrics instance setup
  app/core/Analytics/MetaMetrics.ts
  app/util/metrics/trackDappViewedEvent/index.test.ts
Labels: needs-dev-review, team-mobile-platform, needs-smoke-e2e, Run Smoke E2E, release-7.18.0

#8881 feat: patch for assets controller v11.0.1
  app/core/Engine.ts
  package.json
  patches/@metamask+assets-controllers+10.0.0.patch
  patches/@metamask+assets-controllers+11.0.1.patch
  scripts/patch-assets-controllers.sh
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8933 Fix: 8917 user unable to send funds using ledger in v7.17.1 release.
  app/components/Views/confirmations/SendFlow/Confirm/index.js
Labels: team-hardware-wallets, Run Smoke E2E, release-7.17.1

#8721 chore: Reduce enzymes usage 1/3
  app/components/UI/AddCustomToken/__snapshots__/index.test.tsx.snap
  app/components/UI/AddCustomToken/index.test.tsx
  app/components/UI/AnimatedSpinner/__snapshots__/index.test.tsx.snap
  app/components/UI/AnimatedSpinner/index.test.tsx
  app/components/UI/Button/__snapshots__/index.test.tsx.snap
  app/components/UI/Button/index.test.tsx
  app/components/UI/Collectibles/__snapshots__/index.test.tsx.snap
  app/components/UI/Collectibles/index.test.tsx
  app/components/UI/Confetti/__snapshots__/index.test.tsx.snap
  app/components/UI/Confetti/index.test.tsx
  app/components/UI/CustomAlert/__snapshots__/index.test.tsx.snap
  app/components/UI/CustomAlert/index.test.tsx
  app/components/UI/FadeView/__snapshots__/index.test.tsx.snap
  app/components/UI/FadeView/index.test.tsx
  app/components/UI/FoxScreen/index.test.tsx
  app/components/UI/PhishingModal/__snapshots__/index.test.tsx.snap
  app/components/UI/PhishingModal/index.test.tsx
  app/components/UI/SeedphraseModal/__snapshots__/index.test.tsx.snap
  app/components/UI/SeedphraseModal/index.test.tsx
  app/components/UI/WebviewProgressBar/__snapshots__/index.test.tsx.snap
  app/components/UI/WebviewProgressBar/index.test.tsx
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountBackupStep1B/index.test.tsx
  app/components/Views/ImportPrivateKeySuccess/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportPrivateKeySuccess/index.test.tsx
  app/components/Views/NavigationUnitTest/TestScreen1.test.js
  app/components/Views/NavigationUnitTest/TestScreen2.test.js
  app/components/Views/NavigationUnitTest/TestScreen3.test.js
  app/components/Views/NavigationUnitTest/__snapshots__/TestScreen1.test.js.snap
  app/components/Views/NavigationUnitTest/__snapshots__/TestScreen2.test.js.snap
  app/components/Views/NavigationUnitTest/__snapshots__/TestScreen3.test.js.snap
  app/components/Views/Root/__snapshots__/index.test.tsx.snap
  app/components/Views/Root/index.test.tsx
Labels: external-contributor

#8937 fix: circular dependency on MetaMetrics configure
  app/components/Nav/App/index.js
  app/core/Analytics/MetaMetrics.ts
Labels: team-mobile-platform, Run Smoke E2E

#8942 chore: Reduce enzymes usage 1/3 (#8721)
  app/components/UI/AddCustomToken/__snapshots__/index.test.tsx.snap
  app/components/UI/AddCustomToken/index.test.tsx
  app/components/UI/AnimatedSpinner/__snapshots__/index.test.tsx.snap
  app/components/UI/AnimatedSpinner/index.test.tsx
  app/components/UI/Button/__snapshots__/index.test.tsx.snap
  app/components/UI/Button/index.test.tsx
  app/components/UI/Collectibles/__snapshots__/index.test.tsx.snap
  app/components/UI/Collectibles/index.test.tsx
  app/components/UI/Confetti/__snapshots__/index.test.tsx.snap
  app/components/UI/Confetti/index.test.tsx
  app/components/UI/CustomAlert/__snapshots__/index.test.tsx.snap
  app/components/UI/CustomAlert/index.test.tsx
  app/components/UI/FadeView/__snapshots__/index.test.tsx.snap
  app/components/UI/FadeView/index.test.tsx
  app/components/UI/FoxScreen/index.test.tsx
  app/components/UI/PhishingModal/__snapshots__/index.test.tsx.snap
  app/components/UI/PhishingModal/index.test.tsx
  app/components/UI/SeedphraseModal/__snapshots__/index.test.tsx.snap
  app/components/UI/SeedphraseModal/index.test.tsx
  app/components/UI/WebviewProgressBar/__snapshots__/index.test.tsx.snap
  app/components/UI/WebviewProgressBar/index.test.tsx
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountBackupStep1B/index.test.tsx
  app/components/Views/ImportPrivateKeySuccess/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportPrivateKeySuccess/index.test.tsx
  app/components/Views/NavigationUnitTest/TestScreen1.test.js
  app/components/Views/NavigationUnitTest/TestScreen2.test.js
  app/components/Views/NavigationUnitTest/TestScreen3.test.js
  app/components/Views/NavigationUnitTest/__snapshots__/TestScreen1.test.js.snap
  app/components/Views/NavigationUnitTest/__snapshots__/TestScreen2.test.js.snap
  app/components/Views/NavigationUnitTest/__snapshots__/TestScreen3.test.js.snap
  app/components/Views/Root/__snapshots__/index.test.tsx.snap
  app/components/Views/Root/index.test.tsx
Labels: No QA Needed/E2E Only, team-mobile-platform

#8923 chore: Migrate second batch of. unit tests away from enzyme
  app/component-library/components/Avatars/Avatar/variants/AvatarAccount/AvatarAccount.test.tsx
  app/component-library/components/Avatars/Avatar/variants/AvatarAccount/__snapshots__/AvatarAccount.test.tsx.snap
  app/component-library/components/Tags/Tag/Tag.test.tsx
  app/component-library/components/Tags/Tag/__snapshots__/Tag.test.tsx.snap
  app/components/UI/ActionModal/__snapshots__/index.test.tsx.snap
  app/components/UI/ActionModal/index.test.tsx
  app/components/UI/ActionView/__snapshots__/index.test.tsx.snap
  app/components/UI/ActionView/index.test.tsx
  app/components/UI/AssetIcon/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetIcon/index.test.tsx
  app/components/UI/FadeOutOverlay/__snapshots__/index.test.tsx.snap
  app/components/UI/FadeOutOverlay/index.test.tsx
  app/components/UI/ImageIcon/__snapshots__/index.test.tsx.snap
  app/components/UI/ImageIcon/index.test.tsx
  app/components/UI/ModalNavbarTitle/index.test.tsx
  app/components/UI/SwitchCustomNetwork/__snapshots__/index.test.tsx.snap
  app/components/UI/SwitchCustomNetwork/index.test.tsx
  app/components/UI/Tabs/__snapshots__/index.test.tsx.snap
  app/components/UI/Tabs/index.test.tsx
  app/components/UI/TimeEstimateInfoModal/__snapshots__/index.test.tsx.snap
  app/components/UI/TimeEstimateInfoModal/index.test.tsx
  app/components/Views/ImportPrivateKey/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportPrivateKey/index.test.tsx
  app/components/Views/Settings/Contacts/AmbiguousAddressSheet/AmbiguousAddressSheet.test.tsx
  app/components/Views/Settings/Contacts/AmbiguousAddressSheet/__snapshots__/AmbiguousAddressSheet.test.tsx.snap
  app/components/Views/WalletConnectSessions/__snapshots__/index.test.tsx.snap
  app/components/Views/WalletConnectSessions/index.test.tsx
  app/components/Views/confirmations/SendFlow/ErrorMessage/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/SendFlow/ErrorMessage/index.test.tsx
  app/components/Views/confirmations/components/Approval/ApprovalFlowLoader/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/Approval/ApprovalFlowLoader/index.test.tsx
  app/components/Views/confirmations/components/CustomNonce/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/CustomNonce/index.test.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform, Run Smoke E2E

#8946 fix: Fix unit test, audit, remove redundant track event file
  app/components/Views/BrowserTab/index.js
  app/util/metrics/trackDappVisited/index.test.ts
  app/util/metrics/trackDappVisited/index.ts
  jest.config.js
  yarn.lock
Labels: team-mobile-platform, No E2E Smoke Needed

#8903 fix: Added migration from 7.17.1 and re order migration on 7.18.0
  app/store/migrations/029.test.ts
  app/store/migrations/029.ts
  app/store/migrations/030.test.ts
  app/store/migrations/030.ts
  app/store/migrations/031.test.ts
  app/store/migrations/031.ts
  app/store/migrations/032.ts
  app/store/migrations/033.test.ts
  app/store/migrations/033.ts
  app/store/migrations/index.ts
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#8947 chore: Bump release 7.18.0 RC 3 version to 1281
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform, No E2E Smoke Needed

#8955 fix: Update follow-redirects minor version
  yarn.lock
Labels: needs-dev-review, team-mobile-platform

#8956 fix: prevent repeated incoming transaction notifications
  patches/@metamask+transaction-controller+8.0.1.patch
Labels: QA Passed, team-confirmations-system, Run Smoke E2E

#8960 chore: set nvmrc to 18.18.2
  .nvmrc
Labels: team-mobile-platform

#8965 chore: Reorder migrations between 7.17.1, 7.18.0, and main
  app/store/migrations/031.ts.test.ts
  app/store/migrations/032.ts
  app/store/migrations/033.test.ts
  app/store/migrations/033.ts
  app/store/migrations/034.test.ts
  app/store/migrations/034.ts
  app/store/migrations/index.ts
Labels: team-mobile-platform, No E2E Smoke Needed

#8936 fix: crash during pairing request from Ledger
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-dev-review, team-hardware-wallets, Run Smoke E2E

#8545 chore(ramp): add team to CODEOWNERS
  .github/CODEOWNERS
Labels: team-ramp, Run Smoke E2E

#8919 chore: Include env variable copying into yarn setup command
  README.md
  scripts/postinstall.sh
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8908 feat: add linea sepolia network and deprecate Linea Goerli network
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/hooks/useBlockExplorer.test.ts
  app/constants/network.js
  app/constants/urls.ts
  app/images/image-icons.js
  app/store/migrations/025.test.js
  app/util/etherscan.js
  app/util/networks/index.js
  app/util/networks/index.test.ts
  app/util/test/initial-background-state.json
  patches/@metamask+controller-utils+4.3.2.patch
  patches/@metamask+preferences-controller+4.4.3.patch
  patches/@metamask+transaction-controller+8.0.1.patch
Labels: team-linea, Run Smoke E2E

#8935 feat: Remove powered by blockaid line
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.constants.ts
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.styles.ts
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.tsx
  app/components/Views/confirmations/components/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  app/components/Views/confirmations/components/TransactionBlockaidBanner/__snapshots__/TransactionBlockaidBanner.test.tsx.snap
  app/constants/urls.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#8976 fix: Revert "chore: Include env variable copying into yarn setup command"
  README.md
  scripts/postinstall.sh
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#8964 chore: added platform team as codeowner to component-lib, patches, bitrise.yml
  .github/CODEOWNERS
Labels: team-mobile-platform

#8953 fix: fix network verification chainID and name verification for popular network
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Ramp/hooks/useIsOriginalNativeTokenSymbol.test.ts
  app/core/RPCMethods/networkChecker.test.ts
  app/core/RPCMethods/networkChecker.util.ts
Labels: type-bug, needs-dev-review, team-assets, Run Smoke E2E

#8979 fix: Fix/7.18.0 revert build script change
  README.md
  scripts/postinstall.sh
Labels: team-mobile-platform, No E2E Smoke Needed

#8826 refactor: update Ledger connection instructions
  locales/languages/en.json
Labels: team-hardware-wallets, Run Smoke E2E

#8720 feat: migrate to native primary currency
  app/components/Views/Settings/GeneralSettings/index.js
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/store/migrations/035.test.ts
  app/store/migrations/035.ts
  app/store/migrations/index.ts
Labels: needs-dev-review, team-mobile-ux, team-assets

#8977 fix: Remove wallet connect and sdk connect prefix from ppom domain
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.tsx
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#8991 fix: add Referer to Dapp Viewed events
  app/util/metrics/trackDappViewedEvent/index.test.ts
  app/util/metrics/trackDappViewedEvent/index.ts
Labels: needs-dev-review, team-mobile-platform

#8986 feat: Updated Assets Controllers to v11.1.0
  package.json
  patches/@metamask+assets-controllers+11.1.0.patch
  scripts/patch-assets-controllers.sh
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8981 feat: Minor update of phishing-controller
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform

#8995 fix: hardcode emulator name to fix failing android tests on CI
  .detoxrc.js
Labels: bitrise, team-mobile-platform, Run Smoke E2E

#8998 fix: Revert "fix: hardcode emulator name to fix failing android tests on C…
  .detoxrc.js
Labels: team-mobile-platform

#8823 fix(#8617): Reduce enzyme usage in unit test by 25% - [2/3]
  app/components/Nav/Main/MainNavigator.js
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/WalletConnectSessions/__snapshots__/index.test.tsx.snap
  app/components/Views/WalletConnectSessions/index.test.tsx
  app/constants/navigation/Routes.ts
Labels: external-contributor

#9000 fix: Revert "test: [android] run tests on the first emulator in your list …
  .detoxrc.js
  package.json
Labels: team-mobile-platform, Run Smoke E2E

#8952 feat: Network Controller update to v12.1.2
  app/core/Engine.ts
  app/selectors/networkController.ts
  app/store/migrations/024.test.js
  app/store/migrations/036.test.ts
  app/store/migrations/036.ts
  app/store/migrations/index.ts
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  package.json
  patches/@metamask+network-controller+12.1.2.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8959 Migrate another (3/3) batch of unit tests away from enzyme
  app/__mocks__/@react-native-community/netinfo.ts
  app/__mocks__/react-native-camera.ts
  app/__mocks__/react-native-device-info.js
  app/__mocks__/react-native-permissions.ts
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/ButtonPrimary.test.tsx
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/__snapshots__/ButtonPrimary.test.tsx.snap
  app/component-library/components/Buttons/Button/variants/ButtonSecondary/ButtonSecondary.test.tsx
  app/component-library/components/Buttons/Button/variants/ButtonSecondary/__snapshots__/ButtonSecondary.test.tsx.snap
  app/component-library/components/Buttons/ButtonIcon/ButtonIcon.test.tsx
  app/component-library/components/Buttons/ButtonIcon/__snapshots__/ButtonIcon.test.tsx.snap
  app/component-library/components/Pickers/PickerAccount/PickerAccount.test.tsx
  app/component-library/components/Pickers/PickerAccount/__snapshots__/PickerAccount.test.tsx.snap
  app/components/Nav/App/__snapshots__/index.test.tsx.snap
  app/components/Nav/App/index.test.tsx
  app/components/UI/AccountOverview/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountOverview/index.test.tsx
  app/components/UI/AccountRightButton/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountRightButton/index.test.tsx
  app/components/UI/AssetSearch/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetSearch/index.test.tsx
  app/components/UI/BrowserBottomBar/__snapshots__/index.test.tsx.snap
  app/components/UI/BrowserBottomBar/index.test.tsx
  app/components/UI/GlobalAlert/__snapshots__/index.test.tsx.snap
  app/components/UI/GlobalAlert/index.test.tsx
  app/components/UI/LedgerModals/LedgerMessageSignModal.test.tsx
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
  app/components/UI/OptinMetrics/__snapshots__/index.test.tsx.snap
  app/components/UI/OptinMetrics/index.test.tsx
  app/components/UI/Ramp/utils/index.test.ts
  app/components/UI/SearchTokenAutocomplete/__snapshots__/index.test.tsx.snap
  app/components/UI/SearchTokenAutocomplete/index.test.tsx
  app/components/UI/UpdateNeeded/UpdateNeeded.test.tsx
  app/components/Views/AccountBackupStep1/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountBackupStep1/index.test.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LockScreen/__snapshots__/index.test.tsx.snap
  app/components/Views/LockScreen/index.test.tsx
  app/components/Views/OfflineMode/__snapshots__/index.test.tsx.snap
  app/components/Views/OfflineMode/index.test.tsx
  app/components/Views/QRScanner/__snapshots__/index.test.tsx.snap
  app/components/Views/QRScanner/index.test.tsx
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/index.test.tsx
  app/util/test/renderWithProvider.tsx
  app/util/test/testSetup.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8920 feat: add the 'eth_phishing_detection' logic to the connect accounts flow
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsReady.ts
Labels: team-sdk, QA Passed, Run Smoke E2E

#8987 chore: adding code owner for confirmation domain's code
  .github/CODEOWNERS
Labels: team-confirmations-secure-ux-PR

#9005 feat: Update network controller to version 12.2.0
  package.json
  patches/@metamask+network-controller+12.2.0.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9007 feat: Assets controller updated to version 12.0.0
  app/core/Engine.ts
  package.json
  patches/@metamask+assets-controllers+12.0.0.patch
  scripts/patch-assets-controllers.sh
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E

#8990 chore: Remove unnecessary react native animate fox patch
  package.json
  patches/react-native-animated-fox+2.0.1.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform

#9013 fix: isEIP1559 is undefined migration 29 issue
  app/store/migrations/029.test.ts
  app/store/migrations/029.ts
Labels: team-mobile-platform, release-7.19.0

#8842 ci: Create Bitrise status check for commits
  .github/scripts/bitrise/check-bitrise-e2e-status.ts
  .github/scripts/bitrise/detect-e2e-label.ts
  .github/scripts/bitrise/run-bitrise-e2e-check.ts
  .github/scripts/bitrise/run-bitrise-e2e-tests.ts
  .github/scripts/scripts.types.ts
  .github/workflows/run-bitrise-e2e-check.yml
  .github/workflows/run-bitrise-e2e-tests.yml
  package.json
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9014 fix: Migration 29 isEIP1559Compatible issue cherry pick
  app/store/migrations/029.test.ts
  app/store/migrations/029.ts
Labels: team-mobile-platform

#8989 feat: Signature Controller v5.3.1
  package.json
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E

#9001 fix: (#8617): Reduce enzyme usage in unit test by 25% - [2/3] (#8823)
  app/components/Nav/Main/MainNavigator.js
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/WalletConnectSessions/__snapshots__/index.test.tsx.snap
  app/components/Views/WalletConnectSessions/index.test.tsx
  app/constants/navigation/Routes.ts
Labels: No QA Needed/E2E Only, team-mobile-platform, external-contributor, Run Smoke E2E

#9008 chore(ramp): upgrade sdk to 1.26.8
  package.json
  yarn.lock
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#9023 fix: improve SVG Validation and Error Handling in AvatarFavicon Component
  app/component-library/components/Avatars/Avatar/variants/AvatarFavicon/AvatarFavicon.test.tsx
  app/component-library/components/Avatars/Avatar/variants/AvatarFavicon/AvatarFavicon.tsx
  app/component-library/components/Avatars/Avatar/variants/AvatarFavicon/__snapshots__/AvatarFavicon.test.tsx.snap
Labels: team-sdk, QA Passed, Run Smoke E2E

#8918 ci: Simplify PR template
  .github/pull-request-template.md
Labels: team-mobile-platform, Run Smoke E2E

#8759 feat: Accounts controller integration
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ConnectQRHardware/index.tsx
  app/core/Engine.test.js
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/core/Ledger/Ledger.test.ts
  app/core/Ledger/Ledger.ts
  app/core/Permissions/specifications.js
  app/core/Permissions/specifications.test.js
  app/core/Vault.js
  app/store/migrations/037.test.ts
  app/store/migrations/037.ts
  app/store/migrations/index.ts
  app/util/address/index.js
  app/util/importAdditionalAccounts.js
  app/util/test/initial-background-state.json
  app/util/test/testSetup.js
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, Spot Check on the Release Build, team-accounts, Run Smoke E2E

#9021 fix: Network not updating when changing account connected the first time on a DAPP
  app/core/BackgroundBridge/BackgroundBridge.js
  app/selectors/networkController.ts
Labels: team-mobile-platform, Run Smoke E2E

#8982 feat: Update gas fee controller to version 6.1.2
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9042 fix: Refactor SDK initialization
  app/components/Nav/App/index.js
Labels: team-sdk, No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9015 Have postinstall script create env files
  README.md
  scripts/postinstall.sh
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8975 fix: remove call to private/internal methods from the `@metamask/keyring-controller`
  app/core/Ledger/Ledger.test.ts
  app/core/Ledger/Ledger.ts
  app/core/Vault.js
  app/core/Vault.test.ts
Labels: QA Passed, Ledger, team-hardware-wallets, Run Smoke E2E

#9051 fix: Remove duplicate i18n, en key: `qr_hardware`
  locales/languages/en.json
Labels: team-confirmations-secure-ux-PR

#9066 fix: dedupe dependencies
  yarn.lock
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9031 fix: Remove prefix from origin before sending request to ppom
  app/core/WalletConnect/WalletConnect.js
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#8668 feat: PPOM Version update to download files only before transaction
  app/actions/experimental/index.ts
  app/components/Nav/App/index.js
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/BlockaidIndicator.styles.ts
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/BlockaidIndicator.test.tsx
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/BlockaidIndicator.tsx
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/__snapshots__/BlockaidIndicator.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/index.ts
  app/components/Views/Settings/SecuritySettings/Sections/BlockaidSettings.tsx
  app/constants/navigation/Routes.ts
  app/core/Engine.test.js
  app/core/Engine.ts
  app/reducers/experimentalSettings/index.ts
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#9033 Revert "feat: migrate to native primary currency (#8720)"
  app/components/Views/Settings/GeneralSettings/index.js
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/store/migrations/035.test.ts
  app/store/migrations/035.ts
  app/store/migrations/036.test.ts
  app/store/migrations/036.ts
  app/store/migrations/037.test.ts
  app/store/migrations/037.ts
  app/store/migrations/index.ts
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#8751 fix: removes addSubjectMetadata and improves Snaps Execution Environment Webview origin restriction.
  app/core/Engine.ts
  app/lib/snaps/SnapsExecutionWebView.tsx
Labels: needs-dev-review, mobile-snaps, team-mobile-platform

#9036 feat: Adding blockaid validations for sepolia network
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/util/blockaid/index.test.ts
  app/util/networks/index.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#9039 refactor(ramp): persist and format amount in build quote view
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#9080 fix: check for preferences controller in 036 migration
  app/store/migrations/036.test.ts
  app/store/migrations/036.ts
Labels: team-accounts

#9082 fix: Check for missing identities on migration 36
  app/store/migrations/036.test.ts
  app/store/migrations/036.ts
Labels: team-extension-platform, team-mobile-platform, No E2E Smoke Needed

#9069 test: clean up detox build/run scripts
  bitrise.yml
  docs/readme/testing.md
  package.json
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9085 chore: cherry-pick #9023
  package.json
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, release-7.19.0

#9079 feat: Update controller utils to 5.0.2
  app/util/ENSUtils.js
  app/util/networks/handleNetworkSwitch.ts
  package.json
  patches/@metamask+controller-utils+5.0.2.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9094 test: stabilize swaps e2e tests
  .js.env.example
  e2e/pages/Settings/NetworksView.js
  e2e/resources/networks.e2e.js
  e2e/resources/networks.json
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/specs/onboarding/add-custom-eth-mainnet.spec.js
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
  e2e/specs/swaps/token-details.spec.js
Labels: team-mobile-platform, Run Smoke E2E

#9098 chore: fix ses crash resolution
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Labels: Run Smoke E2E

#9038 chore: Consolidate and simplify isTest condition
  app/core/EngineService/EngineService.test.ts
  app/core/SDKConnect/AndroidSDK/loadAndroidConnections.test.ts
  app/core/SDKConnect/InitializationManagement/asyncInit.test.ts
  app/core/SDKConnect/InitializationManagement/asyncInit.ts
  app/core/SDKConnect/utils/wait.util.ts
  app/util/favicon/index.test.ts
  app/util/sentry/utils.js
  app/util/test/testSetup.js
  app/util/test/utils.js
  index.js
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#8967 chore: Handle async migrations & add migration tests
  app/store/migrations/index.test.ts
  app/store/migrations/index.ts
Labels: team-mobile-platform, Run Smoke E2E
