Repository MetaMask/metamask-mobile, pull requests merged in 2024-10, with the labels that each got.

#11517 chore: delete swaps token charts test
  e2e/specs/swaps/swap-token-chart.spec.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10449 chore: remove installation of redundant detox-cli in bitrise
  bitrise.yml
  package.json
  scripts/detox-setup.sh
  yarn.lock
Labels: type-tech-debt, team-security, INVALID-PR-TEMPLATE, Run Smoke E2E, skip-sonar-cloud

#11516 Cherry pick e5de779 to 7.32.0
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/BrowserTab/index.js
  app/core/Engine.ts
  app/util/linkCheck.test.ts
  app/util/linkCheck.ts
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E, skip-sonar-cloud

#11541 chore: bump build to 1441
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#11452 feat(ds): add ListItem top and bottom accessories
  app/component-library/base-components/TagBase/__snapshots__/TagBase.test.tsx.snap
  app/component-library/components-temp/CellSelectWithMenu/__snapshots__/CellSelectWithMenu.test.tsx.snap
  app/component-library/components-temp/ListItemMultiSelectButton/__snapshots__/ListItemMultiSelectButton.test.tsx.snap
  app/component-library/components/Cells/Cell/__snapshots__/Cell.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/__snapshots__/CellMultiSelect.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellSelect/__snapshots__/CellSelect.test.tsx.snap
  app/component-library/components/List/ListItem/ListItem.constants.ts
  app/component-library/components/List/ListItem/ListItem.stories.tsx
  app/component-library/components/List/ListItem/ListItem.styles.ts
  app/component-library/components/List/ListItem/ListItem.test.tsx
  app/component-library/components/List/ListItem/ListItem.tsx
  app/component-library/components/List/ListItem/ListItem.types.ts
  app/component-library/components/List/ListItem/__snapshots__/ListItem.test.tsx.snap
  app/component-library/components/List/ListItemMultiSelect/ListItemMultiSelect.styles.ts
  app/component-library/components/List/ListItemMultiSelect/__snapshots__/ListItemMultiSelect.test.tsx.snap
  app/component-library/components/List/ListItemSelect/ListItemSelect.styles.ts
  app/component-library/components/List/ListItemSelect/__snapshots__/ListItemSelect.test.tsx.snap
  app/component-library/components/Select/SelectButton/__snapshots__/SelectButton.test.tsx.snap
  app/component-library/components/Select/SelectButton/foundation/__snapshots__/SelectButtonBase.test.tsx.snap
  app/component-library/components/Select/SelectOption/__snapshots__/SelectOption.test.tsx.snap
  app/component-library/components/Select/SelectValue/SelectValue.styles.ts
  app/component-library/components/Select/SelectValue/__snapshots__/SelectValue.test.tsx.snap
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/Ramp/Views/Settings/__snapshots__/Settings.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: team-design-system, Run Smoke E2E

#11552 fix(11481): android system alert respects dark mode themes
  android/app/src/main/res/values-night/colors.xml
  android/app/src/main/res/values-night/styles.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/qa/res/values-night/colors.xml
  android/app/src/qa/res/values-night/styles.xml
  android/app/src/qa/res/values/colors.xml
  android/app/src/qa/res/values/styles.xml
Labels: team-design-system, Run Smoke E2E, team-wallet-ux, area-design

#11554 fix: Fix/use portfolio home page
  app/components/Views/BrowserTab/index.js
  app/core/AppConstants.ts
  app/util/browser/index.test.ts
  e2e/fixtures/fixture-builder.js
  e2e/specs/browser/browser-tests.spec.js
  wdio/features/BrowserFlow/AddFavorite.feature
  wdio/features/BrowserFlow/AddressBar.feature
  wdio/features/BrowserFlow/InvalidURL.feature
  wdio/features/BrowserFlow/NavigationControls.feature
  wdio/features/BrowserFlow/OptionMenu.feature
  wdio/features/BrowserFlow/PhishingDetection.feature
  wdio/screen-objects/testIDs/BrowserScreen/AddressBar.testIds.js
  wdio/step-definitions/browser-steps.js
Labels: release-blocker, needs-dev-review, Sev1-high, Run Smoke E2E

#11560 chore: Chore/7.32.0 bump to 1442
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#11083 feat: bundle size check
  .github/workflows/ci.yml
  scripts/push-bundle-size.sh
  scripts/update_bundle_size.py
Labels: No QA Needed, team-dev-ops

#11287 chore: remove unused events
  app/core/Analytics/MetaMetrics.events.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11350 chore: replace Segment patch by plugin
  app/core/Analytics/MetaMetrics.ts
  app/core/Analytics/MetaMetricsPrivacySegmentPlugin.test.ts
  app/core/Analytics/MetaMetricsPrivacySegmentPlugin.ts
  app/util/test/testSetup.js
  patches/@segment+analytics-react-native+2.17.0.patch
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11524 fix: fix duplicated network select
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: team-assets, Run Smoke E2E, regression-RC-7.32.0

#11497 feat: simple key-> value component for text value type
  .storybook/storybook.requires.js
  app/components/UI/InfoRow/InfoRow.stories.tsx
  app/components/UI/InfoRow/InfoRow.test.tsx
  app/components/UI/InfoRow/InfoRow.tsx
  app/components/UI/InfoRow/InfoSection/InfoSection.test.tsx
  app/components/UI/InfoRow/InfoSection/InfoSection.tsx
  app/components/UI/InfoRow/InfoSection/__snapshots__/InfoSection.test.tsx.snap
  app/components/UI/InfoRow/InfoSection/index.ts
  app/components/UI/InfoRow/InfoSection/style.ts
  app/components/UI/InfoRow/__snapshots__/InfoRow.test.tsx.snap
  app/components/UI/InfoRow/index.ts
  app/components/UI/InfoRow/style.ts
  app/components/Views/confirmations/Confirm/index.ts
  app/components/Views/confirmations/Confirm/style.ts
  app/components/Views/confirmations/components/Confirm/Title/Title.tsx
Labels: team-confirmations

#11455 feat: bootstrap a reset notifications feat
  app/actions/notification/constants/index.ts
  app/actions/notification/helpers/index.ts
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.types.ts
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/ButtonPrimary.tsx
  app/component-library/components/Buttons/Button/variants/ButtonSecondary/ButtonSecondary.tsx
  app/components/Nav/App/index.js
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.tsx
  app/components/UI/Notification/Modal/index.tsx
  app/components/UI/Notification/Modal/styles.ts
  app/components/UI/Notification/ResetNotificationsModal/ResetNotificationsModal.test.tsx
  app/components/UI/Notification/ResetNotificationsModal/__snapshots__/ResetNotificationsModal.test.tsx.snap
  app/components/UI/Notification/ResetNotificationsModal/index.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.styles.ts
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationsSettings.styles.ts
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/util/notifications/hooks/types.ts
  app/util/notifications/hooks/useNotifications.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#11577 ci: disable swaps e2e workflow
  bitrise.yml
  e2e/specs/swaps/swap-action-regression.spec.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#11571 chore: cherry pick #11524
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: team-assets, INVALID-PR-TEMPLATE, Run Smoke E2E, rc-cherry-picked

#11581 fix: Fix invalid browser url crash
  app/components/UI/AccountRightButton/index.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#11584 chore: bump to 1443
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#11491 chore: Add UX CodeOwners responsibilities
  .github/CODEOWNERS
Labels: No QA Needed, team-wallet-ux

#11325 fix: loader can display on top of login screen
  app/components/Views/SDK/SDKSessionModal/SDKSessionModal.tsx
  app/components/Views/SDK/SDKSessionsManager/SDKSessionItem.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.test.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.test.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/SDKConnect/Connection/Connection.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.test.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.ts
  app/core/SDKConnect/ConnectionManagement/reconnectAll.test.ts
  app/core/SDKConnect/ConnectionManagement/reconnectAll.ts
  app/core/SDKConnect/ConnectionManagement/removeChannel.ts
  app/core/SDKConnect/InitializationManagement/postInit.test.ts
  app/core/SDKConnect/InitializationManagement/postInit.ts
  app/core/SDKConnect/StateManagement/updateSDKLoadingState.ts
  app/core/SDKConnect/handlers/checkPermissions.test.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.test.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.ts
  app/core/SDKConnect/handlers/handleDeeplink.test.ts
  app/core/SDKConnect/handlers/handleDeeplink.ts
Labels: team-sdk, QA Passed, Run Smoke E2E

#11599 chore: bump version
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-snaps-platform

#11604 chore: bump to 1444
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#11615 chore: exclude temporarily sentry SDK advisory
  .iyarc
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#11401 fix: replace decomissioned cloudflare-ipfs.com with gateway.pinata.cloud
  app/components/Base/RemoteImage/index.test.tsx
  app/components/UI/AssetIcon/index.test.tsx
  app/components/UI/Swaps/components/TokenIcon.test.js
  app/components/UI/Swaps/components/TokenSelectButton.test.js
  app/components/UI/Swaps/components/__snapshots__/TokenIcon.test.js.snap
  app/components/UI/Swaps/components/__snapshots__/TokenSelectButton.test.js.snap
  app/components/Views/confirmations/Send/index.test.tsx
  app/constants/network.js
  app/core/AppConstants.ts
  app/store/sagas/xmlHttpRequestOverride.test.ts
  app/util/ipfs-gateways.json
  app/util/sentry/utils.test.ts
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  e2e/resources/blacklistURLs.json
Labels: team-security, team-lavamoat, Run Smoke E2E, team-wallet-ux

#11086 test: initial ramps E2E test to build quote
  e2e/pages/Ramps/BuildQuoteView.js
  e2e/pages/Ramps/BuyGetStartedView.js
  e2e/pages/Ramps/SelectPaymentMethodView.js
  e2e/pages/Ramps/SelectRegionView.js
  e2e/pages/modals/WalletActionsModal.js
  e2e/selectors/Ramps/BuildQuote.selectors.js
  e2e/selectors/Ramps/GetStarted.selectors.js
  e2e/selectors/Ramps/SelectPaymentMethod.selectors.js
  e2e/selectors/Ramps/SelectRegion.selectors.js
  e2e/specs/ramps/onramp.spec.js
Labels: team-ramp, Run Smoke E2E

#11471 chore: Componetize `Tokens` screen
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.tsx
  app/components/UI/Tokens/TokenList/ScamWarningIcon/index.tsx
  app/components/UI/Tokens/TokenList/ScamWarningModal/index.tsx
  app/components/UI/Tokens/TokenList/StakeButton/index.tsx
  app/components/UI/Tokens/TokenList/TokenListFooter/index.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/Tokens/TokenList/index.tsx
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/styles.ts
  app/components/UI/Tokens/util/deriveBalanceFromAssetMarketDetails.test.ts
  app/components/UI/Tokens/util/deriveBalanceFromAssetMarketDetails.ts
  app/components/UI/Tokens/util/index.ts
  app/components/UI/Tokens/util/sortAssets.test.ts
  app/components/UI/Tokens/util/sortAssets.ts
Labels: team-assets, Run Smoke E2E

#11620 fix: Fix unwanted `IncompleteAssetDisplayed` events
  app/components/UI/SimulationDetails/useBalanceChanges.ts
  app/components/Views/confirmations/components/TransactionReview/index.js
Labels: No QA Needed, team-confirmations

#11614 chore: Update UX CodeOwners responsibilities
  .github/CODEOWNERS
Labels: No QA Needed, team-wallet-ux

#11368 refactor(1702-3): batch account balance component
  app/components/Views/Settings/BatchAccountBalanceSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/BatchAccountBalanceSettings/index.constants.ts
  app/components/Views/Settings/BatchAccountBalanceSettings/index.styles.ts
  app/components/Views/Settings/BatchAccountBalanceSettings/index.test.tsx
  app/components/Views/Settings/BatchAccountBalanceSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.constants.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  wdio/screen-objects/testIDs/Screens/SecurityPrivacy.testIds.js
Labels: needs-dev-review, team-assets, Run Smoke E2E, team-wallet-ux

#11567 feat: add url value component for use in re-designed confirmation pages
  CHANGELOG.md
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.stories.tsx
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.test.tsx
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.stories.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoURL/InfoURL.styles.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoURL/InfoURL.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoURL/InfoURL.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoURL/__snapshots__/InfoURL.test.tsx.snap
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoURL/index.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoURL/style.ts
Labels: Run Smoke E2E, team-confirmations

#11381 refactor(1702-4): ipfs gateway settings and display nft media settings components
  app/components/Views/Settings/DisplayNFTMediaSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/DisplayNFTMediaSettings/index.constants.ts
  app/components/Views/Settings/DisplayNFTMediaSettings/index.styles.ts
  app/components/Views/Settings/DisplayNFTMediaSettings/index.test.tsx
  app/components/Views/Settings/DisplayNFTMediaSettings/index.tsx
  app/components/Views/Settings/IPFSGatewaySettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/IPFSGatewaySettings/index.constants.ts
  app/components/Views/Settings/IPFSGatewaySettings/index.styles.ts
  app/components/Views/Settings/IPFSGatewaySettings/index.test.tsx
  app/components/Views/Settings/IPFSGatewaySettings/index.tsx
  app/components/Views/Settings/IPFSGatewaySettings/index.types.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.constants.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.types.ts
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
Labels: needs-dev-review, Run Smoke E2E, team-wallet-ux

#11632 fix: add custom and add popular network detox test
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  e2e/pages/modals/NetworkApprovalModal.js
  e2e/pages/modals/NetworkListModal.js
  e2e/selectors/Modals/NetworkListModal.selectors.js
  e2e/specs/networks/add-popular-networks.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
Labels: type-bug, team-mobile-platform, team-assets, Run Smoke E2E, Detox

#11631 fix: hotfix/issue-11539
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
Labels: team-assets, Run Smoke E2E

#11640 chore: bump sentry browser
  .iyarc
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#11643 fix: cherry-pick hotfix/issue-11539 (#11631)
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform, team-assets

#11642 Update changelog and bump version
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#11645 chore: Chore/7.31.1 bump rc2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#11592 fix: fix walletconnect source validation
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/core/AppConstants.ts
Labels: team-sdk, No QA Needed, needs-dev-review

#11595 fix: fix signature requested analytics
  app/components/Views/confirmations/components/SignatureRequest/index.js
Labels: team-sdk, No QA Needed, needs-dev-review

#11572 feat: add tooltip component for re-designed confirmation pages
  .storybook/storybook.requires.js
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.stories.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.test.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.tsx
  app/components/Views/confirmations/components/UI/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  app/components/Views/confirmations/components/UI/Tooltip/index.ts
Labels: Run Smoke E2E, team-confirmations

#11654 Bump build to 1449
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform, INVALID-PR-TEMPLATE

#11603 fix: await for detect origin before logging analytics
  app/components/Views/confirmations/Approval/index.js
Labels: team-sdk, No QA Needed, needs-dev-review, INVALID-PR-TEMPLATE

#11456 feat: Add metric for insufficient funds for gas
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/validation.test.ts
  app/components/Views/confirmations/SendFlow/Confirm/validation.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#11656 chore: rename `isprivateConnection` to `isPrivateConnection `
  app/components/UI/NetworkModal/index.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/util/networks/index.js
  app/util/networks/index.test.ts
Labels: No QA Needed, team-wallet-framework

#11633 fix(ramp): disable button while confirming off-ramp transaction
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/Views/SendTransaction/__snapshots__/SendTransaction.test.tsx.snap
Labels: team-ramp, Run Smoke E2E

#11660 feat: added ReactNode support for KeyValueRow tooltip and label
  app/component-library/components-temp/KeyValueRow/KeyValueLabel/KeyValueLabel.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRow.stories.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRow.test.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRow.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRow.types.ts
  app/component-library/components-temp/KeyValueRow/KeyValueRow.utils.ts
  app/component-library/components-temp/KeyValueRow/__snapshots__/KeyValueRow.test.tsx.snap
  app/components/Views/TooltipModal/ToolTipModal.styles.ts
  app/components/Views/TooltipModal/ToolTipModal.types.ts
  app/components/Views/TooltipModal/index.tsx
  app/components/hooks/useTooltipModal.tsx
Labels: team-stake, Run Smoke E2E

#11385 refactor(1702-5): incoming transactions and network details settings into reusable components
  app/components/UI/NetworkCell/NetworkCell.styles.ts
  app/components/UI/NetworkCell/NetworkCell.test.tsx
  app/components/UI/NetworkCell/NetworkCell.tsx
  app/components/UI/NetworkCell/__snapshots__/NetworkCell.test.tsx.snap
  app/components/Views/Settings/IncomingTransactionsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/IncomingTransactionsSettings/index.constants.ts
  app/components/Views/Settings/IncomingTransactionsSettings/index.styles.ts
  app/components/Views/Settings/IncomingTransactionsSettings/index.test.tsx
  app/components/Views/Settings/IncomingTransactionsSettings/index.tsx
  app/components/Views/Settings/IncomingTransactionsSettings/index.types.ts
  app/components/Views/Settings/NetworkDetailsCheckSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NetworkDetailsCheckSettings/index.constants.ts
  app/components/Views/Settings/NetworkDetailsCheckSettings/index.styles.ts
  app/components/Views/Settings/NetworkDetailsCheckSettings/index.test.tsx
  app/components/Views/Settings/NetworkDetailsCheckSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  e2e/selectors/Settings/SecurityAndPrivacy/SecurityPrivacyView.selectors.js
Labels: needs-dev-review, Run Smoke E2E, team-wallet-ux

#11665 Chore: bump to 1450
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#11667 chore: add 9f9a11 to git blame ignore
  .git-blame-ignore-revs
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#11578 feat: 1653 first feature flag poc
  app/components/Nav/Main/index.js
  app/components/hooks/MinimumVersions/useMinimumVersions.test.ts
  app/components/hooks/MinimumVersions/useMinimumVersions.tsx
  app/core/AppConstants.ts
  app/reducers/index.ts
  app/reducers/security/index.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11669 chore: Merge 7.32.0 back into main
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#11453 feat: Add signature tracing
  app/components/Approvals/SignatureApproval/SignatureApproval.tsx
  app/components/Views/confirmations/components/SignatureRequest/Root/Root.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/createTracingMiddleware/index.test.ts
  app/core/createTracingMiddleware/index.ts
  app/util/trace.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#11677 chore: merge 7.32.0 in 7.33.0 and bump build
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform, INVALID-PR-TEMPLATE

#11136 chore(build): let adb server live between builds
  scripts/build.sh
Labels: No QA Needed, team-mobile-platform, INVALID-PR-TEMPLATE

#11607 feat: add unstake screen for mobile staking
  app/components/UI/Navbar/index.js
  app/components/UI/Stake/Views/InputView/StakeInputView.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.styles.ts
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/StakeInputView/__snapshots__/StakeInputView.test.tsx.snap
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeBanner.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.styles.ts
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.test.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/Views/UnstakeInputView/__snapshots__/UnstakeInputView.test.tsx.snap
  app/components/UI/Stake/components/InputDisplay.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/hooks/useBalance.ts
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Stake/routes/index.tsx
  locales/languages/en.json
Labels: team-stake, Run Smoke E2E

#11412 fix: upgrade assets-controllers to v31
  app/components/UI/AssetElement/index.test.tsx
  app/components/UI/AssetElement/index.tsx
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/AssetOverview.types.ts
  app/components/UI/AssetOverview/Balance/index.test.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.test.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/Tokens/types.ts
  app/components/UI/Tokens/util/deriveBalanceFromAssetMarketDetails.test.ts
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/reducers/swaps/index.js
  app/selectors/nftController.ts
  app/selectors/tokensController.ts
  app/selectors/types.ts
  app/store/migrations/029.ts
  app/store/migrations/031.ts
  app/store/migrations/054.test.ts
  app/store/migrations/054.ts
  app/store/migrations/index.ts
  app/util/dappTransactions/index.test.ts
  package.json
  patches/@metamask+assets-controllers++@metamask+preferences-controller+12.0.0.patch
  patches/@metamask+assets-controllers+30.0.0.patch
  patches/@metamask+assets-controllers+31.0.0.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#11664 fix: Duplicate key in Settings and Privacy
  app/components/Views/Settings/IncomingTransactionsSettings/index.tsx
Labels: team-assets, Run Smoke E2E

#11702 chore: cherry-pick #11631
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
Labels: team-assets, INVALID-PR-TEMPLATE, Run Smoke E2E

#11685 feat: multi rpc modal
  app/actions/security/index.ts
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.tsx
  app/component-library/components-temp/CellSelectWithMenu/__snapshots__/CellSelectWithMenu.test.tsx.snap
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.styles.ts
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.test.tsx
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.tsx
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.types.ts
  app/component-library/components-temp/ListItemMultiSelectButton/__snapshots__/ListItemMultiSelectButton.test.tsx.snap
  app/components/Nav/App/index.js
  app/components/Nav/Main/index.js
  app/components/UI/AssetIcon/index.test.tsx
  app/components/Views/MultiRpcModal/MultiRpcModal.constants.ts
  app/components/Views/MultiRpcModal/MultiRpcModal.styles.ts
  app/components/Views/MultiRpcModal/MultiRpcModal.test.tsx
  app/components/Views/MultiRpcModal/MultiRpcModal.tsx
  app/components/Views/MultiRpcModal/__snapshots__/MultiRpcModal.test.tsx.snap
  app/components/Views/MultiRpcModal/index.ts
  app/components/Views/NetworkSelector/NetworkSelector.styles.ts
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Wallet/index.tsx
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/images/networks1.png
  app/selectors/preferencesController.ts
  app/util/test/initial-background-state.json
  index.js
  locales/languages/en.json
  patches/@metamask+preferences-controller+11.0.0.patch
Labels: team-assets, Run Smoke E2E

#11139 fix: Reuse mmkv instance once created
  app/store/storage-wrapper.js
  app/store/storage-wrapper.test.ts
  app/store/storage-wrapper.ts
  app/util/test/network-store.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11709 chore: updating codeowners to remove mobile-devs from component library
  .github/CODEOWNERS
Labels: No QA Needed, needs-dev-review, team-design-system, INVALID-PR-TEMPLATE

#11694 test: Refactor ImportAccountView.js and LoginView.js files
  app/components/UI/LoginOptionsSwitch/LoginOptionsSwitch.tsx
  app/components/Views/ImportPrivateKey/index.tsx
  app/components/Views/Login/index.js
  e2e/pages/CommonView.js
  e2e/pages/ImportAccountView.js
  e2e/pages/LoginView.js
  e2e/pages/Settings/SecurityAndPrivacy/RevealSecretRecoveryPhrase.js
  e2e/pages/importAccount/ImportAccountView.js
  e2e/pages/importAccount/SuccessImportAccountView.js
  e2e/pages/wallet/WalletView.js
  e2e/selectors/ImportAccount/ImportAccountFromPrivateKey.selectors.js
  e2e/selectors/ImportAccount/SuccessImportAccount.selectors.js
  e2e/selectors/ImportAccountFromPrivateKey.selectors.js
  e2e/selectors/LoginView.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/RevealSeedView.selectors.js
  e2e/specs/accounts/auto-lock.spec.js
  e2e/specs/accounts/change-account-name.spec.js
  e2e/specs/accounts/import-wallet-account.spec.js
  e2e/specs/accounts/imported-account-remove-and-import.spec.js
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/quarantine/deeplinks.failing.js
  e2e/specs/quarantine/permission-system-removing-imported-account.failing.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/specs/wallet/suggestedGasApi.mock.spec.js
  e2e/utils/Gestures.js
  e2e/viewHelper.js
  wdio/screen-objects/ImportAccountScreen.js
  wdio/screen-objects/ImportSuccessScreen.js
  wdio/screen-objects/LoginScreen.js
  wdio/screen-objects/testIDs/Screens/ImportAccountScreen.testIds.js
  wdio/screen-objects/testIDs/Screens/ImportSuccessScreen.testIds.js
  wdio/screen-objects/testIDs/Screens/LoginScreen.testIds.js
  wdio/screen-objects/testIDs/Screens/RevelSecretRecoveryPhrase.testIds.js
Labels: team-mobile-platform, Run Smoke E2E, Detox

#11722 fix: add safe space on the left of bell icon
  app/components/UI/Navbar/index.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#11718 fix: token list after switching networks
  app/core/Engine.ts
  patches/@metamask+assets-controllers+31.0.0.patch
Labels: No QA Needed, needs-dev-review, team-mobile-platform, team-assets

#11726 cherry pick metamask-mobile/pull/11718
  app/core/Engine.ts
  patches/@metamask+assets-controllers+30.0.0.patch
Labels: No QA Needed, team-assets, Run Smoke E2E

#11727 chore: Chore/7.32.0 bump 1453
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#11653 feat: Implement partially local Snaps execution environment
  .depcheckrc.yml
  app/lib/snaps/SnapsExecutionWebView.tsx
  babel.config.js
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-snaps-platform

#11736 feat: add copy button component
  .storybook/storybook.requires.js
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/__snapshots__/AccountNetworkInfoExpanded.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Message/Message.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Message/Message.tsx
  app/components/Views/confirmations/components/UI/CopyButton/CopyButton.stories.tsx
  app/components/Views/confirmations/components/UI/CopyButton/CopyButton.test.tsx
  app/components/Views/confirmations/components/UI/CopyButton/CopyButton.tsx
  app/components/Views/confirmations/components/UI/CopyButton/__snapshots__/CopyButton.test.tsx.snap
  app/components/Views/confirmations/components/UI/CopyButton/index.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.styles.ts
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.tsx
Labels: Run Smoke E2E, team-confirmations

#11738 chore: bump to version 1454
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform, INVALID-PR-TEMPLATE

#11532 fix: fix approve flow on swap
  app/components/Views/confirmations/components/ApproveTransactionReview/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.test.tsx
Labels: QA Passed, team-assets, Run Smoke E2E, needs-assets-ux-review

#11741 fix: rollback originWhitelist
  app/lib/snaps/SnapsExecutionWebView.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#11739 chore: cherry-pick #11718
  app/core/Engine.ts
  patches/@metamask+assets-controllers+30.0.0.patch
Labels: team-mobile-platform, INVALID-PR-TEMPLATE

#11733 feat: add references and utils for delete storage key
  app/actions/notification/constants/index.ts
  app/actions/notification/helpers/index.ts
  app/components/UI/Notification/ResetNotificationsModal/__snapshots__/ResetNotificationsModal.test.tsx.snap
  app/components/UI/Notification/ResetNotificationsModal/index.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationsSettings.styles.ts
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/util/notifications/hooks/types.ts
  app/util/notifications/hooks/useNotifications.test.tsx
  app/util/notifications/hooks/useNotifications.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, team-snaps-platform

#11746 chore: Revert "chore(js-ts): Convert app/util/test/ganache-contract-address-registry.js to TypeScript"
  app/util/test/ganache-contract-address-registry.js
  locales/languages/en.json
Labels: team-mobile-platform, INVALID-PR-TEMPLATE

#11730 fix: Use domain for origin pill component
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.test.tsx
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.tsx
  app/components/UI/ApprovalTagUrl/__snapshots__/ApprovalTagUrl.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
Labels: Run Smoke E2E, team-confirmations

#11756 chore: Remove obsolete CI step
  .github/workflows/ci.yml
Labels: No QA Needed, needs-dev-review, team-wallet-framework, team-mobile-platform

#11737 feat: Adding simulation section to personal sign page
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/Confirm/__snapshots__/Confirm.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Message/Message.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Simulation/Simulation.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Simulation/Simulation.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Simulation/__snapshots__/Simulation.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Simulation/index.ts
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/__snapshots__/PersonalSign.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/Info/__snapshots__/Info.test.tsx.snap
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.styles.ts
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#11715 feat(3447): Network Picker Component
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.stories.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.styles.ts
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.test.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.types.ts
  app/component-library/components/Pickers/PickerNetwork/__snapshots__/PickerNetwork.test.tsx.snap
  app/components/UI/ManageNetworks/__snapshots__/ManageNetworks.test.js.snap
  app/components/UI/NetworkModal/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/Views/OnboardingSuccess/OnboardingGeneralSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
Labels: No QA Needed, team-wallet-ux

#11749 feat(3449): Simplified Address Copy Component
  app/components/UI/AddressCopy/AddressCopy.styles.ts
  app/components/UI/AddressCopy/AddressCopy.tsx
  app/components/UI/AddressCopy/AddressCopy.types.ts
  app/components/UI/Navbar/index.js
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.tsx
  e2e/selectors/wallet/WalletView.selectors.js
Labels: No QA Needed, team-wallet-ux

#11762 fix: snapshot of test to enable ci
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Content.test.tsx.snap
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#11745 ci: fix get-next-semver-version invocation in add-release-label
  .github/scripts/get-next-semver-version.sh
  .github/workflows/add-release-label.yml
Labels: No QA Needed, team-security, skip-sonar-cloud

#11771 fix: Add `preferContractSymbol` to Name components
  app/components/UI/Name/Name.tsx
  app/components/UI/Name/Name.types.ts
  app/components/UI/SimulationDetails/AssetPill/AssetPill.tsx
Labels: No QA Needed, team-confirmations

#11751 chore(devDeps): remove unused react-native-cli
  package.json
  yarn.lock
Labels: team-lavamoat, Run Smoke E2E

#11651 feat: add utm field to app_open event
  app/core/AppStateEventListener.test.ts
  app/core/AppStateEventListener.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.test.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.ts
  app/core/processAttribution.test.tsx
  app/core/processAttribution.tsx
Labels: team-sdk, No QA Needed, area-privacy

#11757 docs: update e2e best practices link in readme
  docs/readme/testing.md
Labels: No QA Needed, team-mobile-platform

#11431 fix: refactor notifications unit tests
  app/components/Views/Settings/NotificationsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Settings/NotificationsSettings/useToggleNotifications.test.tsx
  app/components/Views/Settings/NotificationsSettings/useToggleNotifications.ts
  app/util/notifications/androidChannels.test.ts
  app/util/notifications/hooks/index.test.ts
  app/util/notifications/hooks/index.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, team-notifications, team-snaps-platform

#11784 Bump version to 1456 for 7.33.0 RC-4
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform, INVALID-PR-TEMPLATE, release-7.33.0

#11788 chore(ramp): upgrade sdk to 1.28.5
  package.json
  yarn.lock
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#11791 chore: cherry pick 6db794f7dc4799918dc83c97211db25d5a6542e2
  app/components/UI/Notification/NotificationMenuItem/Content.test.tsx
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Content.test.tsx.snap
Labels: No QA Needed, team-mobile-platform

#11729 fix: support for batch of signature requests
  app/core/Engine.ts
Labels: Run Smoke E2E, team-confirmations

#11794 fix(action): github action to apply release label is broken
  .github/scripts/get-next-semver-version.sh
Labels: No QA Needed, team-mobile-platform

#11792 fix: use object styling in Title component
  app/components/Base/Title/Title.tsx
  app/components/UI/Ramp/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Ramp/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/Views/Regions/__snapshots__/Regions.test.tsx.snap
Labels: team-ramp, Run Smoke E2E

#11805 chore: Update Sentry Performance Sampling utils.js
  app/util/sentry/utils.js
Labels: No QA Needed, team-mobile-platform

#11579 feat: 1940 Add custom traces
  app/components/Nav/App/index.js
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/Wallet/index.tsx
  app/store/index.ts
  app/util/trace.ts
Labels: area-performance, team-mobile-platform, Run Smoke E2E, team-tiger

#11802 fix: persist token and phishing list
  app/core/EngineService/EngineService.ts
  app/store/persistConfig.ts
  wdio/step-definitions/common-steps.js
Labels: team-mobile-platform, Run Smoke E2E, team-tiger

#11550 fix: ledger sign message screen, legacy account with legacy path will push balance information outside the border of screen.
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.styles.ts
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.tsx
Labels: QA Passed, needs-dev-review, team-accounts, team-hardware-wallets, Run Smoke E2E

#11815 feat: Address value component for use in re-designed confirmation pages
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/__snapshots__/AccountNetworkInfoExpanded.test.tsx.snap
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Address/Address.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Address/Address.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Address/__snapshots__/Address.test.tsx.snap
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Address/index.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoURL/InfoURL.test.tsx
Labels: Run Smoke E2E, team-confirmations

#11623 chore: Add tags to custom traces
  app/selectors/nftController.ts
  app/selectors/tokensController.ts
  app/store/index.ts
  app/util/sentry/tags/index.test.ts
  app/util/sentry/tags/index.ts
  app/util/trace.test.ts
  app/util/trace.ts
  e2e/fixtures/fixture-builder.js
Labels: area-performance, Run Smoke E2E, team-tiger

#11822 chore: cherry pick 9ac1488
  app/components/Nav/App/index.js
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/Wallet/index.tsx
  app/store/index.ts
  app/util/trace.ts
Labels: No QA Needed, team-mobile-platform

#11825 chore: fix create qa build pipeline
  bitrise.yml
  scripts/build.sh
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, release-7.34.0

#11819 chore: bump @metamask/react-native-webview
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11824 chore: enable Sentry performance reports on QA builds
  app/util/sentry/utils.js
  scripts/build.sh
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11839 chore: Revert custom span
  app/components/Nav/App/index.js
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/Wallet/index.tsx
  app/selectors/nftController.ts
  app/selectors/tokensController.ts
  app/store/index.ts
  app/util/sentry/tags/index.test.ts
  app/util/sentry/tags/index.ts
  app/util/trace.test.ts
  app/util/trace.ts
  e2e/fixtures/fixture-builder.js
Labels: needs-dev-review, team-mobile-platform

#11846 chore: bump ruby version to 3.1.6
  .github/workflows/ci.yml
  .ruby-version
  ios/Gemfile
  ios/Gemfile.lock
Labels: team-mobile-platform, Run Smoke E2E

#11834 fix: invalid wallet connect detection (wrong hostname in connect modal)
  app/components/Views/AccountConnect/AccountConnect.tsx
Labels: team-sdk, QA in Progress, Run Smoke E2E

#11831 chore: Add conditional for api specification test
  .detoxrc.js
Labels: No QA Needed, team-mobile-platform

#11849 chore: bump rbenv, ruby-build
  scripts/docker/Dockerfile
Labels: No QA Needed, team-lavamoat, skip-sonar-cloud

#11520 chore: Reorganize `PortfolioBalance`
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.test.tsx
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.tsx
  app/components/UI/Tokens/TokenList/index.tsx
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/styles.ts
  app/components/Views/Wallet/index.tsx
Labels: team-assets, Run Smoke E2E

#11852 chore: readd date time picker
  .depcheckrc.yml
  ios/Podfile.lock
  package.json
  patches/@react-native-community+datetimepicker+7.7.0.patch
  yarn.lock
Labels: No QA Needed, team-mobile-platform

#11800 chore: upgrade assets controllers v33.0.0
  app/components/UI/CollectibleContracts/index.test.tsx
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/reducers/collectibles/index.js
  app/selectors/accountsController.ts
  app/selectors/tokenRatesController.ts
  app/selectors/types.ts
  app/store/migrations/029.ts
  app/store/migrations/031.ts
  package.json
  patches/@metamask+assets-controllers+32.0.0.patch
  patches/@metamask+assets-controllers+33.0.0.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#11668 feat: Add StakeSdkProvider with stake-sdk
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/hooks/useBalance.ts
  app/components/UI/Stake/hooks/useStakeContext.ts
  app/components/UI/Stake/routes/index.tsx
  app/components/UI/Stake/sdk/__snapshots__/stakeSdkProvider.test.tsx.snap
  app/components/UI/Stake/sdk/stakeSdkProvider.test.tsx
  app/components/UI/Stake/sdk/stakeSdkProvider.tsx
  package.json
  yarn.lock
Labels: team-stake, Run Smoke E2E

#11812 feat: network value component for re-designed confirmation pages
  app/components/Views/confirmations/Confirm/__snapshots__/Confirm.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/__snapshots__/AccountNetworkInfoCollapsed.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/__snapshots__/AccountNetworkInfoExpanded.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/__snapshots__/AccountNetworkInfo.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.stories.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.styles.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/__snapshots__/DisplayURL.test.tsx.snap
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/index.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoURL/index.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/Network.styles.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/Network.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/Network.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/__snapshots__/Network.test.tsx.snap
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/index.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/style.ts
  app/components/Views/confirmations/hooks/useNetworkInfo.test.ts
  app/components/Views/confirmations/hooks/useNetworkInfo.ts
Labels: Run Smoke E2E, team-confirmations

#11769 fix: Fix the mobile crash due to ledger bluetooth relative exception
  app/components/UI/LedgerModals/LedgerConfirmationModal.test.tsx
  app/components/UI/LedgerModals/LedgerConfirmationModal.tsx
  app/components/hooks/Ledger/useLedgerBluetooth.ts
  app/core/ErrorHandler/ErrorHandler.test.ts
  app/core/ErrorHandler/ErrorHandler.ts
  app/core/ErrorHandler/index.ts
  index.js
  locales/languages/en.json
Labels: QA Passed, needs-dev-review, team-accounts, Run Smoke E2E, hardware-ledger

#11840 chore: implements skeleton for notifications fee details
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/Skeletons/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/__snapshots__/NetworkFeeField.test.tsx.snap
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
  locales/languages/en.json
Labels: needs-dev-review, Run Smoke E2E, team-notifications, team-snaps-platform

#11861 chore: revert custom tags sentry
  app/selectors/nftController.ts
  app/selectors/tokensController.ts
  app/store/index.ts
  app/util/sentry/tags/index.test.ts
  app/util/sentry/tags/index.ts
  app/util/trace.test.ts
  app/util/trace.ts
  e2e/fixtures/fixture-builder.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-tiger

#11782 chore: Dependencies cleanup
  .depcheckrc.yml
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-tiger

#11748 feat(2794): account edit permission, permission list initialization, edit, and submit
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.types.ts
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/constants/permissions.ts
  locales/languages/en.json
  sonar-project.properties
Labels: Run Smoke E2E, team-wallet-ux

#11862 chore: revert sentry traces
  app/components/Nav/App/index.js
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/Wallet/index.tsx
  app/store/index.ts
  app/util/trace.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-tiger

#11860 chore: upgrade assets controllers v34.0.0
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/selectors/accountTrackerController.ts
  app/selectors/accountTrackerControllerReRenders.test.tsx
  app/selectors/types.ts
  package.json
  patches/@metamask+assets-controllers+34.0.0.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#11870 test: remove get quotes in e2e
  e2e/specs/swaps/swap-action-smoke.spec.js
Labels: No QA Needed, team-mobile-platform

#11872 Revert "test: remove get quotes in e2e"
  e2e/specs/swaps/swap-action-smoke.spec.js
Labels: INVALID-PR-TEMPLATE

#11671 fix(3245): green checkbox vertical alignment on the create pw screen
  app/components/Views/ChoosePassword/index.js
Labels: Run Smoke E2E, team-wallet-ux

#11551 fix: Migrate Login view to use design system components (and fix blur error)
  app/component-library/components/Form/TextField/foundation/Input/Input.tsx
  app/component-library/components/Form/TextField/foundation/Input/__snapshots__/Input.test.tsx.snap
  app/components/UI/Ramp/Views/Settings/ActivationKeyForm.tsx
  app/components/UI/Ramp/Views/Settings/__snapshots__/ActivationKeyForm.test.tsx.snap
  app/components/Views/EditAccountName/EditAccountName.tsx
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
  app/components/Views/Login/__snapshots__/index.test.tsx.snap
  app/components/Views/Login/index.js
  app/components/Views/Login/index.test.tsx
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11878 chore: Cherry pick bf5bb97
  app/components/Nav/App/index.js
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/Wallet/index.tsx
  app/store/index.ts
  app/util/trace.ts
Labels: No QA Needed, team-mobile-platform

#11880 test: remove assertion
  e2e/specs/confirmations/advanced-gas-fees.spec.js
Labels: No QA Needed, team-mobile-platform

#11882 chore: temp remove
  e2e/specs/confirmations/advanced-gas-fees.spec.js
Labels: No QA Needed, team-mobile-platform

#10650 feat: Add Chain Permissions
  .js.env.example
  app/components/UI/PermissionsSummary/PermissionsSummary.test.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.types.ts
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/core/Engine.ts
  app/core/Permissions/constants.ts
  app/core/Permissions/specifications.js
  app/core/Permissions/specifications.test.js
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/lib/ethereum-chain-utils.js
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.test.js
  app/selectors/networkController.ts
  app/selectors/selectedNetworkController.ts
  app/util/networks/index.js
  app/util/test/network.ts
Labels: team-wallet-api-platform, Run Smoke E2E

#11801 fix: accounts not syncing between devices bug
  app/components/Views/Settings/NotificationsSettings/AccountsList.test.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationsSettings.styles.ts
  app/components/Views/Settings/NotificationsSettings/__snapshots__/AccountsList.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/core/redux/slices/notifications/index.ts
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/notifications/hooks/useSwitchNotifications.ts
  app/util/notifications/hooks/useUpdateAccountSetting.tsx
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#11864 fix: fix copy token address from token details page
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/TokenDetailsList.tsx
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#11912 Stake 806 to uat
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.test.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.types.ts
  app/components/UI/Stake/Views/StakeConfirmationView/__snapshots__/StakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/StakeInputView/__snapshots__/StakeInputView.test.tsx.snap
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.test.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.types.ts
  app/components/UI/Stake/Views/UnstakeInputView/__snapshots__/UnstakeInputView.test.tsx.snap
  app/components/UI/Stake/__mocks__/mockData.ts
  app/components/UI/Stake/components/EstimatedAnnualRewardsCard.tsx
  app/components/UI/Stake/components/StakeButton/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
  app/components/UI/Stake/components/StakingConfirmation/RewardsCard/RewardsCard.test.tsx
  app/components/UI/Stake/components/StakingConfirmation/RewardsCard/RewardsCard.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarnings.styles.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarnings.test.tsx
  app/components/UI/Stake/components/StakingEarnings/__snapshots__/StakingEarnings.test.tsx.snap
  app/components/UI/Stake/components/StakingEarnings/index.tsx
  app/components/UI/Stake/hooks/useBalance.ts
  app/components/UI/Stake/hooks/usePooledStakes.ts
  app/components/UI/Stake/hooks/useStakeContext.ts
  app/components/UI/Stake/hooks/useStakingChain.ts
  app/components/UI/Stake/hooks/useStakingEarnings.ts
  app/components/UI/Stake/hooks/useStakingEligibility.ts
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Stake/hooks/useVaultData.ts
  app/components/UI/Stake/sdk/__snapshots__/stakeSdkProvider.test.tsx.snap
  app/components/UI/Stake/sdk/stakeSdkProvider.test.tsx
  app/components/UI/Stake/sdk/stakeSdkProvider.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  package.json
  yarn.lock
Labels: team-stake

#11913 update podfile lock
  ios/Podfile.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11842 chore: update release action to not create the release branch but just open PR
  .github/workflows/create-release-pr.yml
  scripts/create-release-pr.sh
Labels: No QA Needed, team-mobile-platform

#11721 chore(sentry): don't report `AxiosError: Network Error`
  app/components/Nav/Main/index.js
  app/components/Nav/Main/useConnectionHandler.test.ts
  app/components/Views/NFTAutoDetectionModal/NFTAutoDetectionModal.tsx
  app/core/Analytics/MetaMetrics.events.ts
  app/util/navigation/useConnectionHandler.tsx
Labels: team-mobile-platform, Run Smoke E2E

#11194 chore: addressed lint issues
  .eslintrc.js
  .vscode/settings.json
  app/actions/onboarding/index.ts
  app/component-library/components-temp/Contracts/ContractBoxBase/ContractBoxBase.tsx
  app/component-library/components-temp/Contracts/ContractBoxBase/__snapshots__/ContractBoxBase.test.tsx.snap
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/AssetOverview/PriceChart/PriceChart.tsx
  app/components/UI/EditGasFee1559/__snapshots__/index.test.tsx.snap
  app/components/UI/EditGasFee1559/index.js
  app/components/UI/EditGasFeeLegacy/__snapshots__/index.test.tsx.snap
  app/components/UI/EditGasFeeLegacy/index.js
  app/components/UI/NetworkModal/NetworkDetails/index.tsx
  app/components/UI/SimulationDetails/AssetPill/AssetPill.tsx
  app/components/Views/NavigationUnitTest/__snapshots__/TestScreen2.test.js.snap
  app/components/Views/NavigationUnitTest/index.js
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/SmartTransactionStatus/SmartTransactionStatus.tsx
  app/components/Views/SmartTransactionsOptInModal/SmartTranactionsOptInModal.tsx
  app/components/Views/confirmations/components/EditGasFee1559Update/index.tsx
  app/core/Encryptor/Encryptor.test.ts
  app/core/Encryptor/lib.test.ts
  e2e/pages/Ramps/SelectPaymentMethodView.js
  e2e/pages/Ramps/SelectRegionView.js
  e2e/specs/ramps/onramp.spec.js
Labels: team-mobile-platform, Run Smoke E2E, skip-sonar-cloud

#11845 feat: STAKE-805 integrate stake method
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.test.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/components/StakingConfirmation/ConfirmationFooter/ConfirmationFooter.test.tsx
  app/components/UI/Stake/components/StakingConfirmation/ConfirmationFooter/ConfirmationFooter.tsx
  app/components/UI/Stake/components/StakingConfirmation/ConfirmationFooter/ConfirmationFooter.types.ts
  app/components/UI/Stake/components/StakingConfirmation/ConfirmationFooter/FooterButtonGroup/FooterButtonGroup.test.tsx
  app/components/UI/Stake/components/StakingConfirmation/ConfirmationFooter/FooterButtonGroup/FooterButtonGroup.tsx
  app/components/UI/Stake/components/StakingConfirmation/ConfirmationFooter/FooterButtonGroup/FooterButtonGroup.types.ts
  app/components/UI/Stake/components/StakingConfirmation/ConfirmationFooter/FooterButtonGroup/__snapshots__/FooterButtonGroup.test.tsx.snap
  app/components/UI/Stake/hooks/usePoolStakedDeposit/index.ts
  app/components/UI/Stake/hooks/usePoolStakedDeposit/usePoolStakedDeposit.test.tsx
  app/components/UI/Stake/sdk/__snapshots__/stakeSdkProvider.test.tsx.snap
  app/components/UI/Stake/sdk/stakeSdkProvider.test.tsx
  app/components/UI/Stake/sdk/stakeSdkProvider.tsx
  package.json
  yarn.lock
Labels: team-stake, Run Smoke E2E

#11768 fix: fix non regression tests
  app/components/UI/ReusableModal/ReusableModal.types.ts
  app/components/UI/ReusableModal/index.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.test.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/__snapshots__/RpcSelectionModal.test.tsx.snap
  app/components/Views/NetworkSelector/RpcSelectionModal/index.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.tsx
  app/core/__mocks__/MockedEngine.ts
  app/store/migrations/055.test.ts
  app/store/migrations/055.ts
  app/util/networks/customNetworks.test.ts
  app/util/networks/customNetworks.tsx
  e2e/pages/Settings/NetworksView.js
  e2e/pages/modals/NetworkListModal.js
  e2e/selectors/Modals/NetworkListModal.selectors.js
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/specs/networks/networks-search.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
  locales/languages/en.json
  package.json
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10952 refactor(ramp): update ramp copy
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Tokens/TokenList/TokenListFooter/index.tsx
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/SendTo/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewInformation/index.js
  locales/languages/en.json
Labels: release-blocker, needs-dev-review, team-ramp, Run Smoke E2E

#11933 feat: cicd - create rls draft on tags
  .github/workflows/create-release-draft.yml
  scripts/create-release-draft.sh
Labels: No QA Needed, team-dev-ops

#11827 feat(2793): permission UI requirements from figma, avatar groups and other stuff
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.types.ts
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux

#11903 chore: upgrade assets-controllers to v35.0.0
  package.json
  patches/@metamask+assets-controllers+35.0.0.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#11618 feat: Sort/Import Tokens in Mobile
  app/actions/settings/index.js
  app/components/UI/Tokens/TokenList/TokenListFooter/index.tsx
  app/components/UI/Tokens/TokenList/index.tsx
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/styles.ts
  app/components/UI/Tokens/util/deriveBalanceFromAssetMarketDetails.test.ts
  app/components/UI/Tokens/util/deriveBalanceFromAssetMarketDetails.ts
  app/components/UI/Tokens/util/sortAssets.ts
  app/core/Engine.ts
  app/selectors/preferencesController.ts
  app/util/test/initial-background-state.json
  e2e/pages/wallet/WalletView.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/assets/import-tokens.spec.js
  locales/languages/en.json
  patches/@metamask+preferences-controller+11.0.0.patch
Labels: team-assets, Run Smoke E2E

#11927 test: Refactor Advanced Gas fees test to utilize mocks
  app/components/Views/confirmations/SendFlow/Confirm/components/CustomGasModal/__snapshots__/CustomGasModal.test.tsx.snap
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/__snapshots__/EditGasFeeLegacyUpdate.test.tsx.snap
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/index.tsx
  e2e/fixtures/utils.js
  e2e/helpers.js
  e2e/mockServer/data/suggestedGasApiGanacheResponseBody.json
  e2e/mockServer/mockServer.js
  e2e/mockServer/mockUrlCollection.json
  e2e/pages/Send/AmountView.js
  e2e/pages/Send/TransactionConfirmView.js
  e2e/selectors/EditGasView.selectors.js
  e2e/selectors/TransactionConfirmView.selectors.js
  e2e/specs/confirmations/advanced-gas-fees.spec.js
  e2e/specs/wallet/suggestedGasApi.mock.spec.js
  package.json
Labels: team-mobile-platform, Run Smoke E2E, Detox

#11723 fix(1702): update onboarding settings UI
  app/components/Views/OnboardingSuccess/DefaultSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingSuccess/DefaultSettings/index.styles.ts
  app/components/Views/OnboardingSuccess/DefaultSettings/index.tsx
  app/components/Views/OnboardingSuccess/OnboardingAssetsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingSuccess/__snapshots__/index.test.js.snap
  app/components/Views/OnboardingSuccess/index.styles.ts
  app/components/Views/Settings/BatchAccountBalanceSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux

#11969 fix: migrate from legacy ethjs to @metamask/ethjs
  app/components/UI/Swaps/QuotesView.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/lib/ens-ipfs/resolver.js
  app/util/number/index.js
  package.json
  patches/@metamask+ethjs-contract+0.4.1.patch
  patches/@metamask+ethjs-query+0.7.1.patch
  patches/ethjs-contract+0.2.3.patch
  patches/ethjs-query+0.3.8.patch
  yarn.lock
Labels: dependencies, team-security, team-lavamoat, Run Smoke E2E

#11911 chore: upgrade signature controller to remove message managers
  .nvmrc
  app/core/Engine.ts
  app/util/test/initial-background-state.json
  bitrise.yml
  package.json
  patches/@metamask+approval-controller+7.0.2.patch
  scripts/generate-attributions/package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-confirmations

#11971 chore: upgrade assets-controllers to v36.0.0
  package.json
  patches/@metamask+assets-controllers+36.0.0.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#11975 fix(deps): eth-json-rpc-filters@4.2.2->^5.1.0
  package.json
  yarn.lock
Labels: dependencies, team-security, team-lavamoat, Run Smoke E2E

#11758 chore: update setup docs and google-services-example.json
  .gitignore
  README.md
  android/app/google-services-example.json
Labels: area-documentation, team-security, No E2E Smoke Needed, skip-sonar-cloud

#11923 fix: fix render detected tokens section
  app/components/UI/Tokens/TokenList/TokenListFooter/index.tsx
  app/components/UI/Tokens/index.test.tsx
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#11976 chore: revert webview focused work
  app/components/Views/BrowserTab/index.js
  app/util/browser/webViewFocus.test.ts
  app/util/browser/webViewFocus.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E
