Repository MetaMask/metamask-mobile, pull requests merged in 2024-02, with the labels that each got.

#8500 fix: clarify cherry pick action inputs
  .github/workflows/create-cherry-pick-pr.yml
Labels: Code Impact - Low, team-mobile-platform, Run Smoke E2E

#8130 Improve web3 provider injection
  .iyarc
  app/__mocks__/react-native-webview.tsx
  app/components/UI/Ramp/buy/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/buy/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/Views/BrowserTab/index.js
  app/components/Views/Settings/AppInformation/index.js
  app/components/Views/SimpleWebview/__snapshots__/index.test.tsx.snap
  app/core/BackgroundBridge/Port.ts
  app/lib/ppom/PPOMView.test.tsx
  app/lib/ppom/__snapshots__/PPOMView.test.tsx.snap
  bitrise.yml
  patches/react-native+0.71.14.patch
  scripts/build.sh
  yarn.lock
Labels: QA Passed, team-mobile-platform, RNWebView

#8467 fix: Fix/8352 source map stack trace
  .js.env.example
  README.md
  android/app/build.gradle
  android/build.gradle
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  scripts/build.sh
  scripts/ios/bundle-js-and-sentry-upload.sh
  sourcemaps/trace.txt
  yarn.lock
Labels: regression-RC, team-mobile-client, Run Smoke E2E

#8503 fix: Fix fullscreen issue with bottomsheet
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.styles.ts
Labels: needs-dev-review, team-design-system

#8504 fix: Remove isFullscreen from AddAccount, AccountPermissions, and AddChainApproval
  app/components/Approvals/AddChainApproval/AddChainApproval.tsx
  app/components/Approvals/AddChainApproval/__snapshots__/AddChainApproval.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
Labels: needs-dev-review, team-design-system

#8508 fix: Revert "fix: Fix/8352 source map stack trace (#8467)"
  .js.env.example
  README.md
  android/app/build.gradle
  android/build.gradle
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  scripts/build.sh
  scripts/ios/bundle-js-and-sentry-upload.sh
  sourcemaps/trace.txt
  yarn.lock
Labels: No QA Needed/E2E Only, team-mobile-client

#8509 fix: Fix/8352 source map stack trace
  .js.env.example
  README.md
  android/app/build.gradle
  android/build.gradle
  app/util/sentry/utils.js
  index.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  scripts/build.sh
  scripts/ios/bundle-js-and-sentry-upload.sh
  sourcemaps/trace.txt
  yarn.lock
Labels: regression-RC, team-mobile-platform, Run Smoke E2E

#8505 bumped up build to 1249
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: INVALID-PR-TEMPLATE

#8502 feat: change the yellow loading banner to gray color
  app/components/UI/BlockaidBanner/BlockaidBanner.tsx
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8392 feat: Enable token detection on arbitrum, optimism, base, and zksync
  patches/@metamask+assets-controllers+7.0.0.patch
Labels: needs-dev-review, team-mobile-client, team-mobile-ux, team-assets, Run Smoke E2E

#8126 fix: Update navigation bar on start loading
  app/components/Views/BrowserTab/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8513 feat: confirm button color updates when transaction is malicious
  app/components/UI/ActionView/__snapshots__/index.test.tsx.snap
  app/components/UI/ActionView/index.js
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/SignatureRequest/index.js
  app/components/UI/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionReview/index.js
  app/components/UI/TypedSign/__snapshots__/index.test.tsx.snap
  app/components/Views/AddAsset/__snapshots__/AddAsset.test.tsx.snap
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/Confirm/styles.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8526 fix: Added keyboard avoiding view to bottomsheetdialog
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/__snapshots__/BottomSheetDialog.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/ShowDisplayMediaNFTSheet/__snapshots__/ShowDisplayNFTMediaSheet.test.tsx.snap
  app/components/Views/ShowIpfsGatewaySheet/__snapshots__/ShowIpfsGatewaySheet.test.tsx.snap
Labels: needs-dev-review, team-design-system

#8514 chore(ramp): upgrade sdk to 1.26.2
  package.json
  yarn.lock
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#8532 fix: Remove height behavior on android
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.tsx
Labels: Spot Check on the Release Build, team-design-system

#8485 fix: Rounding issue in approval amount (use site suggestion)
  app/components/UI/ApproveTransactionReview/index.js
  app/util/number/index.js
  app/util/number/index.test.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8234 feat: add privacy toggle
  app/components/Approvals/AddChainApproval/AddChainApproval.styles.ts
  app/components/Approvals/AddChainApproval/AddChainApproval.tsx
  app/components/Approvals/AddChainApproval/__snapshots__/AddChainApproval.test.tsx.snap
  app/components/UI/NetworkModal/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkModal/index.styles.ts
  app/components/UI/NetworkModal/index.test.tsx
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.styles.ts
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/SecuritySettings/SecuritySettings.constants.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/core/RPCMethods/networkChecker.test.ts
  app/core/RPCMethods/networkChecker.util.ts
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/selectors/preferencesController.ts
  app/util/networks/index.js
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  e2e/pages/modals/NetworkAddedModal.js
  e2e/selectors/Modals/NetworkApprovalModal.selectors.js
  e2e/specs/networks/add-custom-rpc.spec.js
  patches/@metamask+preferences-controller+4.4.3.patch
Labels: design-review, QA Passed, needs-dev-review, team-mobile-ux, need-ux-ds-review, team-assets

#8540 chore: revert engine slice PR
  app/components/UI/DrawerView/index.js
  app/core/EngineService/EngineService.ts
  app/core/redux/slices/engine/engineReducer.test.tsx
  app/core/redux/slices/engine/index.ts
  app/reducers/index.ts
  app/reducers/navigation/index.ts
  app/redux/slices/engine/engineReducer.test.tsx
  app/redux/slices/engine/index.ts
  app/redux/storage/MigratedStorage.ts
  app/store/index.ts
  app/store/persistConfig.ts
Labels: team-mobile-platform, Run Smoke E2E

#8536 fix: Added inherited to build settings library search paths
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed/E2E Only, needs-dev-review, team-design-system, Run Smoke E2E

#8483 Modify cancel gas rate of Transaction Controller
  patches/@metamask+transaction-controller+5.0.0.patch
Labels: team-confirmations-system, Run Smoke E2E

#8544 feat: blockaid banner UX improvements
  app/components/UI/BlockaidBanner/BlockaidBanner.styles.ts
  app/components/UI/BlockaidBanner/BlockaidBanner.tsx
  locales/languages/en.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8400 feat: Add DS Guides link to component readmes
  app/component-library/components/Accordions/Accordion/README.md
  app/component-library/components/Avatars/Avatar/README.md
  app/component-library/components/Badges/Badge/README.md
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/README.md
  app/component-library/components/Badges/Badge/variants/BadgeStatus/README.md
  app/component-library/components/Banners/Banner/README.md
  app/component-library/components/Banners/Banner/variants/BannerAlert/README.md
  app/component-library/components/Banners/Banner/variants/BannerTip/README.md
  app/component-library/components/BottomSheets/BottomSheet/README.md
  app/component-library/components/BottomSheets/BottomSheetFooter/README.md
  app/component-library/components/Buttons/Button/README.md
  app/component-library/components/Buttons/ButtonIcon/README.md
  app/component-library/components/Checkbox/README.md
  app/component-library/components/Form/HelpText/README.md
  app/component-library/components/Form/Label/README.md
  app/component-library/components/Form/TextField/README.md
  app/component-library/components/Form/TextFieldSearch/README.md
  app/component-library/components/HeaderBase/README.md
  app/component-library/components/Icons/Icon/README.md
  app/component-library/components/List/ListItem/README.md
  app/component-library/components/List/ListItemMultiSelect/README.md
  app/component-library/components/List/ListItemSelect/README.md
  app/component-library/components/RadioButton/README.md
  app/component-library/components/Tags/Tag/README.md
  app/component-library/components/Toast/README.md
Labels: needs-dev-review, team-design-system

#8552 feat: remove friction modal for enabling the feature from settings on iOS
  app/components/Views/Settings/ExperimentalSettings/index.tsx
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8551 fix: update ppom validator package
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8547 fix: clean up old translations
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8524 feat: enable blockaid by default
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/core/Engine.ts
  app/reducers/experimentalSettings/index.ts
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8559 fix: Commit script diff that appears when building iOS
  scripts/ios/bundle-js-and-sentry-upload.sh
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#8563 ci: Exclude ip package from audit
  .iyarc
Labels: No QA Needed/E2E Only, team-mobile-platform

#8554 fix: Enable blockaid What's New Copy
  app/components/UI/WhatsNewModal/whatsNewList.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: team-confirmations-secure-ux-PR, Run Smoke E2E

#8576 fix: Revert/8081 engine slice
  app/components/UI/DrawerView/index.js
  app/core/EngineService/EngineService.ts
  app/core/redux/slices/engine/engineReducer.test.tsx
  app/core/redux/slices/engine/index.ts
  app/reducers/index.ts
  app/reducers/navigation/index.ts
  app/redux/slices/engine/engineReducer.test.tsx
  app/redux/slices/engine/index.ts
  app/redux/storage/MigratedStorage.ts
  app/store/index.ts
  app/store/persistConfig.ts
Labels: regression-RC, team-mobile-platform

#8560 fix: broken WhatsNew
  app/components/UI/WhatsNewModal/types.ts
  app/components/UI/WhatsNewModal/whatsNewList.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8573 feat: migrate Segment core mechanism [split of 8387]
  app/components/hooks/useMetrics/index.ts
  app/components/hooks/useMetrics/useMetrics.test.tsx
  app/components/hooks/useMetrics/useMetrics.ts
  app/components/hooks/useMetrics/useMetrics.types.ts
  app/components/hooks/useMetrics/withMetricsAwareness.tsx
  app/core/Analytics/MetaMetrics.test.ts
  app/core/Analytics/MetaMetrics.ts
  app/core/Analytics/MetaMetrics.types.ts
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#8370 feat: Update network controller v^10
  app/store/migrations/024.test.js
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  package.json
  patches/@metamask+network-controller+10.3.1.patch
  patches/@metamask+network-controller+9.0.0.patch
  yarn.lock
Labels: team-mobile-platform, needs-smoke-e2e, Run Smoke E2E

#8378 feat: Update assets controllers v^9.0.0
  app/core/Engine.ts
  package.json
  patches/@metamask+assets-controllers+9.2.0.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8587 fix: revert slice engine
  app/components/UI/DrawerView/index.js
  app/core/EngineService/EngineService.ts
  app/core/redux/slices/engine/engineReducer.test.tsx
  app/core/redux/slices/engine/index.ts
  app/reducers/index.ts
  app/reducers/navigation/index.ts
  app/redux/slices/engine/engineReducer.test.tsx
  app/redux/slices/engine/index.ts
  app/redux/storage/MigratedStorage.ts
  app/store/index.ts
  app/store/persistConfig.ts
Labels: team-mobile-platform, Run Smoke E2E

#8578 fix: Fix/1539 patch root file with controller data
  .iyarc
  android/app/build.gradle
  app/store/migrations/028.test.js
  app/store/migrations/028.ts
  app/store/migrations/index.ts
  app/util/general/index.js
  app/util/general/index.test.ts
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: needs-dev-review, team-mobile-platform

#8590 Bump up build 7.16 build to 1263
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: INVALID-PR-TEMPLATE

#8579 feat: translate fake native tokens need better UX error handling
  locales/languages/en.json
Labels: area-translation, team-assets

#8592 fix: missing converting to decimal chain id on network verification of pop…
  app/components/UI/NetworkModal/index.tsx
Labels: team-mobile-platform

#8558 test: add blacklist URLs to automated tests
  bitrise.yml
  e2e/fixtures/fixture-helper.js
  e2e/helpers.js
  e2e/init.js
  e2e/resources/blacklistURLs.json
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
  e2e/specs/swaps/token-details.spec.js
  e2e/utils/Utilities.js
Labels: E2E, in-progress, team-mobile-platform, Run Smoke E2E

#8257 test: 1452 refactor modal pages batch 2
  app/components/Base/DetailsModal.js
  app/components/Base/StatusText.js
  app/components/UI/NetworkModal/NetworkAdded/index.tsx
  app/components/UI/Tabs/index.js
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  e2e/pages/CommonView.js
  e2e/pages/modals/ConnectedAccountsModal.js
  e2e/pages/modals/DeleteWalletModal.js
  e2e/pages/modals/DetailsModal.js
  e2e/pages/modals/NetworkAddedModal.js
  e2e/pages/modals/NetworkApprovalModal.js
  e2e/selectors/Common.selectors.js
  e2e/selectors/Modals/ConnectedAccountModal.selectors.js
  e2e/selectors/Modals/TransactionDetailsModal.selectors.js
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/permission-systems/permission-system-revoke-single-account.spec.js
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
  e2e/specs/quarantine/deeplinks.failing.js
  e2e/specs/quarantine/permission-system-removing-imported-account.failing.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/utils/Matchers.js
  wdio/screen-objects/testIDs/Components/DetailsModal.js
Labels: needs-dev-review, team-mobile-platform

#8354 feat(ramp): add Terms of Service provider link to quotes
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/components/InfoAlert.tsx
  app/components/UI/Ramp/types/index.ts
  locales/languages/en.json
Labels: team-ramp, ramp-qa-passed, No E2E Smoke Needed

#8520 feat: Feature/1300 dapp visit event
  app/actions/browser/index.js
  app/analytics/index.test.ts
  app/analytics/index.ts
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/BrowserTab/index.js
  app/core/Analytics/MetaMetrics.events.ts
  app/reducers/browser/index.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#8414 chore: add logs to identify root cause of issue reported in #1507
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/RestoreWallet/WalletRestored.tsx
Labels: team-accounts, Run Smoke E2E

#8606 fix: Custom network chain id not converted to hexadecimal format
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/core/RPCMethods/networkChecker.util.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8605 fix: Update ppom_release to fix fail ppom security validation check
  app/lib/ppom/blockaid-version.js
  app/lib/ppom/ppom.html.js
  ppom/package.json
  ppom/yarn.lock
Labels: team-confirmations-secure-ux-PR, Run Smoke E2E

#8556 fix: improve native balance fetch logic on the UX
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/NetworkModal/NetworkAdded/index.tsx
  app/components/UI/Ramp/hooks/useBalance.ts
  app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Tokens/index.tsx
  app/components/Views/ActivityView/index.js
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Wallet/index.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/core/Engine.ts
  app/selectors/accountTrackerController.ts
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  patches/@metamask+assets-controllers+9.2.0.patch
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-ux, team-assets, Run Smoke E2E, team-wallet-ux

#8492 docs: Improve README.md
  README.md
  docs/readme/architecture.md
  docs/readme/debugging.md
  docs/readme/environment.md
  docs/readme/miscellaneous.md
  docs/readme/storybook.md
  docs/readme/testing.md
  docs/readme/troubleshooting.md
  image.png
  scripts/build.sh
Labels: needs-dev-review, team-mobile-platform

#8614 chore: resolve cherry-pick conflict and added a new migration 29
  app/store/migrations/028.test.js
  app/store/migrations/028.ts
  app/store/migrations/029.test.ts
  app/store/migrations/029.ts
  app/store/migrations/index.ts
  app/util/general/index.js
  app/util/general/index.test.ts
Labels: team-mobile-platform, Run Smoke E2E

#8615 fix: Fix add custom rpc detox test script
  app/components/UI/Navbar/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  e2e/pages/Settings/NetworksView.js
  e2e/selectors/Settings/NetworksView.selectors.js
  e2e/specs/networks/add-custom-rpc.spec.js
  wdio/screen-objects/NetworksScreen.js
  wdio/screen-objects/testIDs/Screens/NetworksScreen.testids.js
Labels: team-mobile-platform

#8608 feat: Signature controller update to v5.3.0 and removed unnecessary patch
  package.json
  patches/@metamask+signature-controller+4.0.1.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8561 chore: modify dependency caching on bitrise
  bitrise.yml
Labels: team-confirmations-system, INVALID-PR-TEMPLATE, Run Smoke E2E

#8631 fix: remove inexistent style
  app/components/UI/AddressInputs/index.js
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8650 fix: translate scam title modal
  locales/languages/en.json
Labels: needs-dev-review, area-translation, team-mobile-ux

#8644 test: Refactor settings page object
  app/components/Views/Settings/index.test.tsx
  app/components/Views/Settings/index.tsx
  e2e/pages/Settings/NetworksView.js
  e2e/pages/Settings/SettingsView.js
  e2e/selectors/Common.selectors.js
  e2e/selectors/Settings/SettingsView.selectors.js
  e2e/utils/Gestures.js
Labels: needs-dev-review, team-mobile-platform

#8646 test: Create detox setup script
  bitrise.yml
  docs/readme/environment.md
  docs/readme/testing.md
  package.json
  scripts/detox-setup.sh
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#8663 fix: update podfile and project.pbxproj
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
Labels: team-mobile-platform

#8636 fix: add warning for optimism and arbitrum goerli
  app/components/Nav/Main/index.js
  app/constants/network.js
Labels: needs-dev-review, team-assets, Run Smoke E2E

#8366 Create single functions to invoke Transaction Controller
  app/components/Nav/Main/index.js
  app/components/UI/LedgerModals/LedgerTransactionModal.tsx
  app/components/UI/Notification/TransactionNotification/index.js
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.test.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/Asset/index.js
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/ApproveView/Approve/index.js
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/core/DeeplinkManager/TransactionManager/approveTransaction.test.ts
  app/core/DeeplinkManager/TransactionManager/approveTransaction.ts
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnectV2.ts
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
  app/util/custom-gas/index.js
  app/util/custom-gas/index.test.ts
  app/util/dappTransactions/index.ts
  app/util/networks/index.js
  app/util/networks/index.test.ts
  app/util/transaction-controller/index.test.ts
  app/util/transaction-controller/index.ts
  app/util/transactions/index.js
Labels: team-confirmations-system, Run Smoke E2E

#8673 feat: new trackErrorAsAnalytics for segment
  app/util/metrics/TrackError/trackErrorAsAnalytics.test.ts
  app/util/metrics/TrackError/trackErrorAsAnalytics.ts
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8677 feat: Add TagColored to component temp
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components-temp/TagColored/README.md
  app/component-library/components-temp/TagColored/TagColored.constants.ts
  app/component-library/components-temp/TagColored/TagColored.stories.tsx
  app/component-library/components-temp/TagColored/TagColored.styles.ts
  app/component-library/components-temp/TagColored/TagColored.test.tsx
  app/component-library/components-temp/TagColored/TagColored.tsx
  app/component-library/components-temp/TagColored/TagColored.types.ts
  app/component-library/components-temp/TagColored/__snapshots__/TagColored.test.tsx.snap
  app/component-library/components-temp/TagColored/index.ts
Labels: needs-dev-review, team-design-system

#8686 chore: Fix more merge conflicts with main
  README.md
Labels: No QA Needed/E2E Only, ready-for-dev, team-mobile-platform

#8635 feat: Move Security settings from Experimental Settings into Security Settings
  app/components/Nav/App/index.js
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/BlockaidIndicator.styles.ts
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/BlockaidIndicator.test.tsx
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/BlockaidIndicator.tsx
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/__snapshots__/BlockaidIndicator.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/index.ts
  app/components/Views/Settings/SecuritySettings/Sections/BlockaidSettings.styles.ts
  app/components/Views/Settings/SecuritySettings/Sections/BlockaidSettings.tsx
  app/components/Views/Settings/SecuritySettings/Sections/index.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.styles.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/constants.ts
  app/core/Analytics/MetaMetrics.events.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#8642 feat: Update needed and toknes ui component events migration
  app/components/UI/Tokens/index.tsx
  app/components/UI/UpdateNeeded/UpdateNeeded.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8652 feat: Search token, screenshot deterrent and receive request events migration
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/ScreenshotDeterrent/ScreenshotDeterrent.tsx
  app/components/UI/SearchTokenAutocomplete/index.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8653 feat: migration of AnimatedQrScanner, QRsigningDetails and onboarding flow
  app/components/UI/OnboardingWizard/Step1/index.js
  app/components/UI/OnboardingWizard/Step2/index.js
  app/components/UI/OnboardingWizard/Step3/index.js
  app/components/UI/OnboardingWizard/Step4/index.js
  app/components/UI/OnboardingWizard/Step5/index.js
  app/components/UI/OnboardingWizard/Step6/index.js
  app/components/UI/OnboardingWizard/index.js
  app/components/UI/ProtectYourWalletModal/index.js
  app/components/UI/QRHardware/AnimatedQRScanner.tsx
  app/components/UI/QRHardware/QRSigningDetails.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8655 feat: migration of analytics of NavBar, NavBarTitle, LedgerConfirmationModal
  app/components/UI/EnableAutomaticSecurityChecksModal/EnableAutomaticSecurityChecksModal.tsx
  app/components/UI/LedgerModals/LedgerConfirmationModal.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/NavbarTitle/__snapshots__/index.test.js.snap
  app/components/UI/NavbarTitle/index.js
  app/components/UI/NetworkModal/index.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8657 feat: AccountApproval, ACcountRightButton, AddCustomCollectible, AddCustomToken, AddressCopy, BackupAlert useGoToBridge events migration
  app/components/UI/AccountApproval/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/AccountRightButton/index.tsx
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/AddCustomToken/__snapshots__/index.test.tsx.snap
  app/components/UI/AddCustomToken/index.js
  app/components/UI/AddressCopy/AddressCopy.tsx
  app/components/UI/BackupAlert/BackupAlert.tsx
  app/components/UI/Bridge/utils/useGoToBridge.ts
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8658 feat: Approvals and Nav events migration
  app/components/Approvals/PermissionApproval/PermissionApproval.test.tsx
  app/components/Approvals/PermissionApproval/PermissionApproval.tsx
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/RootRPCMethodsUI.js
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8651 feat: tabs and swaps components events migration
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Tabs/__snapshots__/index.test.tsx.snap
  app/components/UI/Tabs/index.js
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8672 feat: Views folder migration events from W to R beginning letters
  app/components/Views/RestoreWallet/RestoreWallet.tsx
  app/components/Views/RestoreWallet/WalletResetNeeded.tsx
  app/components/Views/RestoreWallet/WalletRestored.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/BlockaidIndicator.tsx
  app/components/Views/Settings/index.tsx
  app/components/Views/Wallet/index.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/util/metrics/DeviceAnalyticsMetaData/DeviceAnalyticsMetaData.types.ts
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8692 feat: T-C views components events migration
  app/components/Views/ConnectHardware/SelectHardware/index.tsx
  app/components/Views/ConnectQRHardware/index.tsx
  app/components/Views/DetectedTokens/index.tsx
  app/components/Views/EditAccountName/EditAccountName.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/LedgerAccountInfo/index.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/ManualBackupStep2/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Onboarding/index.js
  app/components/Views/OnboardingCarousel/index.js
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.tsx
  app/util/metrics/TrackOnboarding/trackOnboarding.test.ts
  app/util/metrics/TrackOnboarding/trackOnboarding.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8709 test: cleanup networks e2e test
  app/components/UI/Navbar/index.js
  e2e/resources/networks.json
  e2e/selectors/Settings/NetworksView.selectors.js
  e2e/specs/networks/add-custom-rpc.spec.js
Labels: No QA Needed/E2E Only, team-mobile-platform

#8584 fix: filter SES from Sentry stack trace frames
  app/util/sentry/utils.js
Labels: team-lavamoat, Run Smoke E2E

#8705 feat: segment migration of utils
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/BrowserTab/index.js
  app/components/Views/confirmations/components/MessageSign/index.test.tsx
  app/components/Views/confirmations/components/TypedSign/index.test.tsx
  app/util/confirmation/signatureUtils.js
  app/util/metrics/index.ts
  app/util/metrics/trackDappVisitedEvent/index.test.ts
  app/util/metrics/trackDappVisitedEvent/index.ts
  app/util/middlewares.js
Labels: No QA Needed/E2E Only, team-mobile-platform, needs-smoke-e2e, Run Smoke E2E

#8711 feat: c-a views components events migration to segment
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/AccountBackupStep1B/index.js
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/ActivityView/index.js
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/components/Views/Asset/index.js
  app/components/Views/AssetDetails/index.tsx
  app/components/Views/Browser/index.js
  app/components/Views/BrowserTab/index.js
  app/components/Views/ChoosePassword/index.js
  app/util/metrics/trackDappVisited/index.test.ts
  app/util/metrics/trackDappVisited/index.ts
Labels: needs-dev-review, team-mobile-platform

#8656 feat: Edit gas, Drawer, DeleteWallet, ComponentErrorBoundary, CollectilbleContracts, BrowsserBottomBar events migration
  app/components/UI/BrowserBottomBar/__snapshots__/index.test.tsx.snap
  app/components/UI/BrowserBottomBar/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/ComponentErrorBoundary/index.js
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/UI/DrawerView/index.js
  app/components/UI/EditGasFee1559/index.js
  app/components/UI/EditGasFeeLegacy/index.js
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#8712 feat: confirmations views components events migration
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/ApproveView/Approve/index.js
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/SendFlow/SendTo/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/EditGasFee1559Update/index.tsx
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/index.tsx
  app/components/Views/confirmations/components/MessageSign/MessageSign.tsx
  app/components/Views/confirmations/components/MessageSign/index.test.tsx
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/components/PersonalSign/index.test.tsx
  app/components/Views/confirmations/components/SignatureRequest/index.js
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/components/Views/confirmations/components/TypedSign/index.js
  app/components/Views/confirmations/components/WatchAssetRequest/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8707 fix: patch transaction controller in mobile to add fallback gas estimation
  patches/@metamask+transaction-controller+6.1.0.patch
Labels: team-confirmations-system, Run Smoke E2E

#8581 feat: support updated Linea gas fee estimation
  app/actions/transaction/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Transactions/index.js
  app/components/Views/confirmations/Approval/components/TransactionEditor/index.js
  app/components/Views/confirmations/ApproveView/Approve/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/components/CustomGasModal/CustomGasModal.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/index.tsx
  app/components/Views/confirmations/components/UpdateEIP1559Tx/index.tsx
  app/core/Engine.ts
  app/core/GasPolling/GasPolling.ts
  app/core/redux/slices/engine/index.ts
  app/reducers/transaction/index.js
  app/selectors/confirmTransaction.test.ts
  app/selectors/confirmTransaction.ts
  app/selectors/gasFeeController.test.ts
  app/selectors/gasFeeController.ts
  app/selectors/transactionController.test.ts
  app/selectors/transactionController.ts
  app/selectors/util.ts
  patches/@metamask+transaction-controller+6.1.0.patch
Labels: QA Passed, team-confirmations-system

#8515 fix: #1408 Native Alert Patch for Webview
  patches/react-native-webview+11.13.0.patch
Labels: needs-dev-review, Sev1-high, team-mobile-platform

#8607 feat: bump mobile snaps packages to bring new snaps architecture
  app/core/Engine.ts
  app/core/Permissions/specifications.js
  app/core/Permissions/specifications.test.js
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+base-controller+4.1.1.patch
  patches/@metamask+post-message-stream+8.0.0.patch
  yarn.lock
Labels: team-mobile-platform, INVALID-PR-TEMPLATE

#8700 feat: Snaps new architecture mobile integration
  app/components/Nav/Main/index.js
  app/components/UI/SnapsExecutionWebView/SnapsExecutionWebView.tsx
  app/components/UI/SnapsExecutionWebView/index.ts
  app/core/Engine.ts
  app/core/Snaps/SnapDuplex.ts
  app/core/Snaps/SnapWebviewPostMessageStream.ts
  app/core/Snaps/SnapsState.ts
  app/core/Snaps/WebviewExecutionService.ts
  app/core/Snaps/WebviewPostMessageStream.ts
  app/core/Snaps/index.ts
  app/lib/snaps/SnapsExecutionWebView.tsx
  app/lib/snaps/index.ts
  app/lib/snaps/styles.ts
  package.json
  yarn.lock
Labels: mobile-snaps, team-mobile-platform, INVALID-PR-TEMPLATE

#8731 feat: Missing migration events
  app/component-library/components/Navigation/TabBar/TabBar.tsx
  app/components/UI/AccountApproval/showWarningBanner.tsx
  app/components/UI/Swaps/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/SecuritySettings/Sections/AutomaticSecurityChecks.tsx
  app/components/Views/Settings/SecuritySettings/Sections/BlockaidSettings.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.tsx
  app/components/Views/Settings/SecuritySettings/Sections/RevealPrivateKey/RevealPrivateKey.tsx
  app/core/Engine.ts
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/core/SecureKeychain.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8738 fix: linting in Engine
  app/core/Engine.ts
Labels: team-sdk

#8734 fix: fix hex to BN conversion
  app/components/UI/TransactionElement/utils.js
  app/components/UI/TransactionElement/utils.test.js
Labels: team-mobile-ux, team-assets, Run Smoke E2E

#8567 fix: deprecate goerli network
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/DeprecatedNetworkModal/DeprecatedNetworkModal.styles.ts
  app/components/UI/DeprecatedNetworkModal/DeprecatedNetworkModal.tsx
  app/components/UI/DeprecatedNetworkModal/index.ts
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/constants/navigation/Routes.ts
  app/constants/urls.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/core/DeeplinkManager/Handlers/handleEthereumUrl.test.ts
  app/core/DeeplinkManager/Handlers/handleEthereumUrl.ts
  app/images/image-icons.js
  app/lib/ens-ipfs/resolver.js
  app/reducers/collectibles/index.test.ts
  app/store/migrations/030.test.ts
  app/store/migrations/030.ts
  app/store/migrations/index.ts
  app/util/blockaid/index.test.ts
  app/util/networks/index.js
  app/util/networks/index.test.ts
  e2e/resources/networks.json
  e2e/specs/assets/import-nft.spec.js
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/specs/networks/connect-test-network.spec.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/swaps/token-details.spec.js
  e2e/viewHelper.js
  locales/languages/en.json
Labels: needs-dev-review, team-mobile-ux, team-assets, Run Smoke E2E, team-wallet-ux

#8727 fix: migration to enable Blockaid by default
  app/store/migrations/031.test.ts
  app/store/migrations/031.ts
  app/store/migrations/index.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E, release-7.17.0

#8742 fix: update origin passed to ppom for send transactions
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/core/TransactionTypes.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#8678 fix: fix metrics trackEvent compatibility with legacy events
  app/core/Analytics/MetaMetrics.test.ts
  app/core/Analytics/MetaMetrics.ts
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#8752 fix: Fixed underline issue with ButtonLink's pressed state
  app/component-library/components/Buttons/Button/variants/ButtonLink/ButtonLink.styles.ts
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8664 refactor: consolidate accounts references to a single source of truth
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/UI/WalletAccount/WalletAccount.types.ts
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/components/Views/confirmations/components/SignatureRequest/index.js
  app/components/hooks/useAccounts/useAccounts.ts
Labels: team-accounts, Run Smoke E2E

#8625 fix: ethQuery is not defined when refresh is called
  patches/@metamask+assets-controllers+9.2.0.patch
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#8725 fix: change in blockaid alert message
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.tsx
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8753 fix: Updated accessibility role for buttons
  app/component-library/components-temp/CustomSpendCap/__snapshots__/CustomSpendCap.test.tsx.snap
  app/component-library/components/Banners/Banner/__snapshots__/Banner.test.tsx.snap
  app/component-library/components/Banners/Banner/variants/BannerAlert/__snapshots__/BannerAlert.test.tsx.snap
  app/component-library/components/Banners/Banner/variants/BannerTip/__snapshots__/BannerTip.test.tsx.snap
  app/component-library/components/BottomSheets/BottomSheetFooter/__snapshots__/BottomSheetFooter.test.tsx.snap
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.tsx
  app/component-library/components/Buttons/Button/foundation/ButtonBase/__snapshots__/ButtonBase.test.tsx.snap
  app/component-library/components/Buttons/Button/variants/ButtonLink/ButtonLink.tsx
  app/component-library/components/Buttons/Button/variants/ButtonLink/__snapshots__/ButtonLink.test.tsx.snap
  app/component-library/components/Texts/Text/Text.tsx
  app/components/UI/CollectibleModal/__snapshots__/CollectibleModal.test.tsx.snap
  app/components/UI/NetworkModal/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/BlockaidIndicator/__snapshots__/BlockaidIndicator.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/ShowDisplayMediaNFTSheet/__snapshots__/ShowDisplayNFTMediaSheet.test.tsx.snap
  app/components/Views/ShowIpfsGatewaySheet/__snapshots__/ShowIpfsGatewaySheet.test.tsx.snap
  app/components/Views/confirmations/components/Approval/TemplateConfirmation/Templates/__snapshots__/ApprovalResult.test.tsx.snap
Labels: needs-dev-review, team-design-system

#8542 chore: simplify ccache cache logic
  bitrise.yml
  scripts/cache/set-cache-envs.sh
Labels: No QA Needed/E2E Only, team-confirmations-system

#8763 fix: PPOM version update to 1.4.2
  app/lib/ppom/blockaid-version.js
  app/lib/ppom/ppom.html.js
  ppom/package.json
  ppom/yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8755 feat: Remove gap from maxHeight calculation in bottomsheet
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.constants.ts
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.tsx
  app/component-library/components/BottomSheets/BottomSheet/README.md
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.constants.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.types.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/__snapshots__/BottomSheetDialog.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/ShowDisplayMediaNFTSheet/__snapshots__/ShowDisplayNFTMediaSheet.test.tsx.snap
  app/components/Views/ShowIpfsGatewaySheet/__snapshots__/ShowIpfsGatewaySheet.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8773 fix: Cherry pick translations
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: needs-dev-review, team-mobile-platform

#8627 feat(ramp): add bottom sheet quotes
  app/components/UI/Ramp/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Views/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Ramp/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/Ramp/Views/Quotes/LoadingQuotes.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.styles.ts
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Ramp/components/ErrorView.tsx
  app/components/UI/Ramp/components/ErrorViewWithReporting.tsx
  app/components/UI/Ramp/components/LoadingAnimation/index.tsx
  app/components/UI/Ramp/routes/index.tsx
  locales/languages/en.json
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#8662 test: Update Swap token from USDC to USDT
  e2e/specs/swaps/swap-action-smoke.spec.js
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#8495 ci: Post comment after e2e smoke
  .github/scripts/bitrise/check-bitrise-e2e-status.ts
  .github/scripts/bitrise/detect-e2e-label.ts
  .github/scripts/bitrise/run-bitrise-e2e-tests.ts
  .github/scripts/check-bitrise-e2e-smoke/run-bitrise-e2e-smoke.ts
  .github/scripts/scripts.types.ts
  .github/workflows/check-bitrise-e2e-status.yml
  .github/workflows/run-bitrise-e2e-tests.yml
  bitrise.yml
  package.json
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#8767 fix: cherry-pick (#8725)
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.tsx
  locales/languages/en.json
Labels: regression-RC, team-confirmations-secure-ux-PR, INVALID-PR-TEMPLATE, Run Smoke E2E

#8765 fix: cherry-pick (#8742)
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/core/TransactionTypes.js
Labels: regression-RC, team-confirmations-secure-ux-PR, INVALID-PR-TEMPLATE, Run Smoke E2E

#8766 fix: cherry-pick (#8727)
  app/store/migrations/030.test.ts
  app/store/migrations/030.ts
  app/store/migrations/index.ts
Labels: regression-RC, team-confirmations-secure-ux-PR, INVALID-PR-TEMPLATE, Run Smoke E2E

#8680 feat(ramp): add previously used tag
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/components/Quote/Quote.tsx
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/index.ts
  locales/languages/en.json
Labels: team-ramp, ramp-qa-passed

#8760 chore: cherry-pick #8708
  app/components/Views/confirmations/SendFlow/Confirm/index.js
Labels: team-confirmations-system, INVALID-PR-TEMPLATE, Run Smoke E2E

#8779 chore: bump version 1267
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform, release-7.17.0
