Repository MetaMask/metamask-mobile, pull requests merged in 2024-05, with the labels that each got.

#9456 fix: fix sentry error when adding network
  app/core/RPCMethods/networkChecker.test.ts
  app/core/RPCMethods/networkChecker.util.ts
Labels: team-mobile-ux, Run Smoke E2E, needs-assets-ux-review

#9482 fix: remove resolution react-native-svg-asset-plugin/sharp@^0.30.5
  package.json
  yarn.lock
Labels: dependencies, team-security, Run Smoke E2E

#9470 style: updated styling for avatarnetwork
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/AvatarNetwork.styles.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/__snapshots__/AvatarNetwork.test.tsx.snap
  app/component-library/components/Pickers/PickerNetwork/__snapshots__/PickerNetwork.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/confirmations/components/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/TypedSign/__snapshots__/index.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#9459 chore(devDeps): bump `@babel/core` to `^7.24.5`
  package.json
  yarn.lock
Labels: dependencies, team-security, Run Smoke E2E

#9494 fix(translations): Attempting to reduce additional translations
  .github/workflows/crowdin-reusable-translation-download.yml
Labels: team-shared-libraries, INVALID-PR-TEMPLATE, No E2E Smoke Needed, release-7.20.0

#9498 fix(translations): Trying to account for updated translations in main for crowdin
  .github/workflows/crowdin-reusable-translation-download.yml
Labels: team-shared-libraries, No E2E Smoke Needed, release-7.20.0

#9500 chore: Remove notify step from pr_e2e_smoke_pipeline
  bitrise.yml
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9501 chore: Revert "chore: Remove notify step from pr_e2e_smoke_pipeline"
  bitrise.yml
Labels: INVALID-PR-TEMPLATE

#9450 feat: added TagBase component
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/base-components/TagBase/README.md
  app/component-library/base-components/TagBase/TagBase.constants.tsx
  app/component-library/base-components/TagBase/TagBase.stories.tsx
  app/component-library/base-components/TagBase/TagBase.styles.ts
  app/component-library/base-components/TagBase/TagBase.test.tsx
  app/component-library/base-components/TagBase/TagBase.tsx
  app/component-library/base-components/TagBase/TagBase.types.ts
  app/component-library/base-components/TagBase/__snapshots__/TagBase.test.tsx.snap
  app/component-library/base-components/TagBase/index.ts
  app/component-library/components/List/ListItem/ListItem.tsx
  app/component-library/components/List/ListItem/ListItem.types.ts
  app/component-library/components/List/ListItemMultiSelect/ListItemMultiSelect.tsx
  app/component-library/components/List/ListItemMultiSelect/ListItemMultiSelect.types.ts
  app/component-library/components/Texts/Text/Text.types.ts
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#9264 chore: remove xmldom 0.6.0
  package.json
  yarn.lock
Labels: team-mobile-platform, needs-smoke-e2e, Run Smoke E2E

#9430 test: Add timeouts to Detox builds/tests worflows
  bitrise.yml
Labels: Run Smoke E2E

#9484 chore(devDeps): @actions/github@^5.1.1->^6.0.0
  package.json
  yarn.lock
Labels: dependencies, team-security, Run Smoke E2E

#9503 chore: upgrade nodejs to v20 LTS
  .nvmrc
  app/core/Encryptor/Encryptor.ts
  bitrise.yml
  package.json
  scripts/generate-attributions/package.json
  yarn.lock
Labels: team-security, Run Smoke E2E

#9318 feat: Update Keyring Controller to v^13, Accounts Controller to v^11 and Preferences Controller v^8
  app/components/Views/ChoosePassword/index.js
  app/core/Authentication/Authentication.ts
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/core/Ledger/Ledger.test.ts
  app/core/Ledger/Ledger.ts
  app/core/Vault.js
  app/core/Vault.test.ts
  app/store/migrations/025.js
  app/util/importAdditionalAccounts.js
  app/util/sync/index.js
  app/util/sync/index.test.ts
  e2e/fixtures/fixture-builder.js
  package.json
  patches/@metamask+eth-keyring-controller+15.1.0.patch
  patches/@metamask+keyring-controller+13.0.0.patch
  patches/@metamask+keyring-controller+9.0.0.patch
  patches/@metamask+preferences-controller+4.4.3.patch
  patches/@metamask+preferences-controller+8.0.0.patch
  yarn.lock
Labels: QA'd - Issues Found, QA in Progress, team-accounts, team-mobile-platform, Run Smoke E2E

#9514 fix: Opensea Popup
  app/components/Views/BrowserTab/index.js
  app/util/browser/index.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9483 fix: migrate from patched @exodus/react-native-payments to @metamask/react-native-payments
  app/__mocks__/@exodus/react-native-payments.ts
  app/__mocks__/@metamask/react-native-payments.ts
  app/components/UI/Ramp/hooks/useApplePay.ts
  app/declarations.d.ts
  ios/Podfile
  ios/Podfile.lock
  package.json
  patches/@exodus+react-native-payments+1.5.0.patch
  yarn.lock
Labels: dependencies, team-security, Run Smoke E2E

#9489 fix: adjust UI and Cancel ability on Basic Functionality flow
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.tsx
  app/components/Views/OnboardingSuccess/DefaultSettings/index.tsx
  app/components/Views/OnboardingSuccess/__snapshots__/index.test.js.snap
  app/components/Views/OnboardingSuccess/index.styles.ts
  app/components/Views/OnboardingSuccess/index.tsx
  app/core/AppConstants.ts
  locales/languages/en.json
Labels: needs-dev-review, Run Smoke E2E, team-wallet-ux

#9504 feat: Log the validity of keyringController in EngineService for initialisation and update
  app/core/EngineService/EngineService.ts
Labels: needs-dev-review, team-mobile-platform

#9508 feat: bump controllers related accounts logic
  app/components/Views/ChoosePassword/index.js
  app/core/Authentication/Authentication.ts
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/core/Ledger/Ledger.test.ts
  app/core/Ledger/Ledger.ts
  app/core/Vault.js
  app/core/Vault.test.ts
  app/store/migrations/025.js
  app/util/importAdditionalAccounts.js
  app/util/sync/index.js
  app/util/sync/index.test.ts
  e2e/fixtures/fixture-builder.js
  package.json
  patches/@metamask+eth-keyring-controller+15.1.0.patch
  patches/@metamask+keyring-controller+13.0.0.patch
  patches/@metamask+keyring-controller+9.0.0.patch
  patches/@metamask+preferences-controller+4.4.3.patch
  patches/@metamask+preferences-controller+8.0.0.patch
  yarn.lock
Labels: QA Passed, team-accounts, team-mobile-platform, Run Smoke E2E

#9453 fix: include blockaid parameters in metrics of send flow
  app/components/Views/confirmations/Send/index.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#9522 fix: migrate from patched react-native-actionsheet to @metamask/react-native-actionsheet
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/Collectibles/index.js
  app/components/UI/Tokens/index.tsx
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/Contacts/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/WalletConnectSessions/index.js
  package.json
  patches/@metamask+react-native-actionsheet+2.4.2.patch
  yarn.lock
Labels: dependencies, team-security, Run Smoke E2E

#9407 feat: Add `useFirstPartyContractName` hook
  app/components/UI/Name/Name.test.tsx
  app/components/UI/Name/__snapshots__/Name.test.tsx.snap
  app/components/hooks/DisplayName/useDisplayName.test.ts
  app/components/hooks/DisplayName/useDisplayName.ts
  app/components/hooks/DisplayName/useFirstPartyContractName.test.ts
  app/components/hooks/DisplayName/useFirstPartyContractName.ts
  app/constants/first-party-contracts.ts
Labels: team-confirmations

#9546 feat: fix logs for 1709
  app/core/EngineService/EngineService.ts
Labels: team-mobile-platform

#9388 Initial *.metafi and *.metaswap URL migrations
  app/components/UI/AssetSearch/index.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.constants.ts
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Ramp/Views/PaymentMethods/PaymentMethods.constants.ts
  app/components/UI/Ramp/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/Ramp/Views/Quotes/Quotes.constants.ts
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.test.tsx
  app/components/UI/Ramp/Views/SendTransaction/__snapshots__/SendTransaction.test.tsx.snap
  app/components/UI/Ramp/sdk/index.tsx
  app/components/hooks/useTokenDescriptions.ts
  app/components/hooks/useTokenHistoricalPrices.ts
  app/core/AppConstants.ts
  app/core/Engine.ts
  e2e/fixtures/fixture-builder.js
  e2e/resources/blacklistURLs.json
  wdio/utils/mocks.js
Labels: team-mobile-platform, Run Smoke E2E

#9538 fix: cp url fix
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.tsx
  app/components/Views/OnboardingSuccess/DefaultSettings/index.tsx
  app/components/Views/OnboardingSuccess/__snapshots__/index.test.js.snap
  app/components/Views/OnboardingSuccess/index.styles.ts
  app/components/Views/OnboardingSuccess/index.tsx
  app/core/AppConstants.ts
  locales/languages/en.json
Labels: Run Smoke E2E

#9534 Cherry pick revert linea goerli network
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/store/migrations/038.test.ts
  app/store/migrations/038.ts
  app/store/migrations/index.ts
  app/util/networks/index.js
  app/util/networks/index.test.ts
Labels: Run Smoke E2E

#9539 fix: disable notifee badges
  app/components/UI/Navbar/index.js
  app/components/Views/Settings/index.tsx
  app/core/NotificationManager.js
  app/util/notifications/hooks/index.ts
  app/util/notifications/methods/index.ts
  index.js
Labels: team-mobile-platform, Run Smoke E2E, team-notifications

#9557 chore: RC - 3 bump version 1325
  android/app/build.gradle
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/store/migrations/index.ts
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#9502 test: add edit custom mainnet scenario
  e2e/pages/Settings/NetworksView.js
  e2e/resources/blacklistURLs.json
  e2e/resources/networks.e2e.js
  e2e/selectors/Settings/NetworksView.selectors.js
  e2e/specs/onboarding/add-edit-custom-eth-mainnet.spec.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9571 chore: revert feat: notifications onboarding wizard (#9392)
  app/component-library/components/Navigation/TabBar/TabBar.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/OnboardingWizard/Coachmark/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Coachmark/index.js
  app/components/UI/OnboardingWizard/Step1/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Step1/index.js
  app/components/UI/OnboardingWizard/Step1/index.test.tsx
  app/components/UI/OnboardingWizard/Step1/index.tsx
  app/components/UI/OnboardingWizard/Step2/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Step2/index.js
  app/components/UI/OnboardingWizard/Step2/index.test.tsx
  app/components/UI/OnboardingWizard/Step2/index.tsx
  app/components/UI/OnboardingWizard/Step3/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Step3/index.js
  app/components/UI/OnboardingWizard/Step3/index.test.tsx
  app/components/UI/OnboardingWizard/Step3/index.tsx
  app/components/UI/OnboardingWizard/Step4/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Step4/index.js
  app/components/UI/OnboardingWizard/Step4/index.test.tsx
  app/components/UI/OnboardingWizard/Step4/index.tsx
  app/components/UI/OnboardingWizard/Step5/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Step5/index.js
  app/components/UI/OnboardingWizard/Step5/index.test.tsx
  app/components/UI/OnboardingWizard/Step5/index.tsx
  app/components/UI/OnboardingWizard/Step6/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Step6/index.js
  app/components/UI/OnboardingWizard/Step6/index.test.tsx
  app/components/UI/OnboardingWizard/Step6/index.tsx
  app/components/UI/OnboardingWizard/Step7/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/Step7/index.test.tsx
  app/components/UI/OnboardingWizard/__snapshots__/index.test.tsx.snap
  app/components/UI/OnboardingWizard/index.js
  app/components/UI/OnboardingWizard/index.test.tsx
  app/components/UI/OnboardingWizard/styles.js
  app/components/UI/OnboardingWizard/useHandleLayout.tsx
  app/components/Views/BrowserTab/index.js
  app/components/Views/Wallet/index.tsx
  app/core/Analytics/MetaMetrics.events.ts
  e2e/pages/modals/OnboardingWizardModal.js
  e2e/specs/wallet/start-exploring.spec.js
  wdio/screen-objects/Modals/OnboardingWizardModal.js
  wdio/screen-objects/testIDs/Components/OnboardingWizard.testIds.js
Labels: team-mobile-platform, Run Smoke E2E

#9523 fix: migrate from git-reffed react-native-search-api to @metamask/react-native-search-api
  app/components/Views/BrowserTab/index.js
  app/util/test/testSetup.js
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: dependencies, team-security, Run Smoke E2E

#9543 fix: IPHONEOS_DEPLOYMENT_TARGET: 11 -> 12
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-security, Run Smoke E2E

#8138 test(ramp): add useActivationKeys hook test
  app/components/UI/Ramp/hooks/useActivationKeys.test.ts
  app/components/UI/Ramp/hooks/useActivationKeys.ts
Labels: No QA Needed/E2E Only, team-ramp, Run Smoke E2E

#9521 fix: Fix/1723 add permission middleware
  app/components/UI/AccountSelectorList/AccountSelectorList.types.ts
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.ts
  app/core/Permissions/index.ts
  app/core/Permissions/specifications.js
  app/core/Permissions/specifications.test.js
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.ts
  app/core/WalletConnect/extractApprovedAccounts.ts
  app/store/migrations/041.test.ts
  app/store/migrations/041.ts
  app/store/migrations/index.ts
  app/util/general/index.js
  app/util/general/index.test.ts
  e2e/fixtures/fixture-builder.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9231 chore: ensure gemfile versions
  .bundle/config
  Gemfile
  Gemfile.lock
  bitrise.yml
  docs/readme/environment.md
  ios/Podfile
  ios/Podfile.lock
  package.json
  scripts/setup.mjs
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#8827 feat: preinstalled mobile snaps
  app/core/Engine.ts
  app/lib/snaps/preinstalled-snaps.ts
  app/util/test/testSetup.js
  package.json
  yarn.lock
Labels: mobile-snaps, Run Smoke E2E, team-notifications

#9529 test: Refactor browser and testdapp page objects
  .detoxrc.js
  android/app/build.gradle
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/AvatarNetwork.constants.ts
  app/components/UI/BrowserUrlBar/BrowserUrlBar.tsx
  app/components/Views/AddBookmark/index.js
  app/components/Views/BrowserTab/index.js
  app/components/Views/BrowserUrlModal/BrowserUrlModal.tsx
  app/components/Views/BrowserUrlModal/__snapshots__/BrowserUrlModal.test.tsx.snap
  e2e/pages/Browser.js
  e2e/pages/Browser/AddBookmarkView.js
  e2e/pages/Browser/BrowserView.js
  e2e/pages/Browser/TestDApp.js
  e2e/pages/CommonView.js
  e2e/pages/Settings/NetworksView.js
  e2e/pages/TestDApp.js
  e2e/resources/externalsites.json
  e2e/selectors/ActivitiesView.selectors.js
  e2e/selectors/Browser/AddBookmarkView.selectors.js
  e2e/selectors/Browser/AddFavorites.selectors.js
  e2e/selectors/Browser/BrowserURLBar.selectors.js
  e2e/selectors/Browser/BrowserView.selectors.js
  e2e/selectors/Browser/TestDapp.selectors.js
  e2e/selectors/BrowserView.selectors.js
  e2e/specs/browser/browser-tests.spec.js
  e2e/specs/confirmations/approve-custom-erc20.spec.js
  e2e/specs/confirmations/approve-default-erc20.spec.js
  e2e/specs/confirmations/send-erc20-with-dapp.spec.js
  e2e/specs/confirmations/send-erc721.spec.js
  e2e/specs/confirmations/signatures/eth-sign.spec.js
  e2e/specs/confirmations/signatures/personal-sign.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v3.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v4.spec.js
  e2e/specs/confirmations/signatures/typed-sign.spec.js
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/permission-systems/permission-system-revoke-single-account.spec.js
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
  e2e/specs/quarantine/deeplinks.failing.js
  e2e/specs/quarantine/permission-system-removing-imported-account.failing.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/specs/wallet/start-exploring.spec.js
  e2e/utils/Assertions.js
  e2e/utils/Gestures.js
  e2e/utils/Matchers.js
  package.json
  wdio/screen-objects/BrowserObject/AddressBarScreen.js
  yarn.lock
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9457 Add NFT names to useDisplayName
  .storybook/storybook.requires.js
  app/components/UI/Name/Name.stories.tsx
  app/components/hooks/DisplayName/useDisplayName.test.ts
  app/components/hooks/DisplayName/useDisplayName.ts
  app/components/hooks/DisplayName/useWatchedNFTName.test.ts
  app/components/hooks/DisplayName/useWatchedNFTName.ts
  app/reducers/collectibles/index.test.ts
Labels: team-confirmations

#9305 feat: Update SignatureController v6.1.3 + LoggingController v2.0.0
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9372 feat: Add `useTokenListName` hook for `Name` component
  app/components/hooks/DisplayName/useDisplayName.test.ts
  app/components/hooks/DisplayName/useDisplayName.ts
  app/components/hooks/DisplayName/useTokenList.test.ts
  app/components/hooks/DisplayName/useTokenList.ts
  app/components/hooks/DisplayName/useTokenListName.test.ts
  app/components/hooks/DisplayName/useTokenListName.ts
Labels: team-confirmations

#9566 fix: Fix Engine context types
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/DeeplinkManager/TransactionManager/approveTransaction.test.ts
  app/core/DeeplinkManager/TransactionManager/approveTransaction.ts
  app/core/Engine.ts
  app/core/Ledger/Ledger.test.ts
  app/core/Ledger/Ledger.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/utils.ts
  app/core/RPCMethods/wallet_watchAsset.test.ts
  app/core/RPCMethods/wallet_watchAsset.ts
  app/core/Vault.test.ts
  app/core/WalletConnect/WalletConnect.test.ts
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
Labels: team-mobile-platform, Run Smoke E2E

#9119 feat(ramp): add activation keys labels and DS components
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Ramp/Views/Settings/ActivationKeyForm.test.tsx
  app/components/UI/Ramp/Views/Settings/ActivationKeyForm.tsx
  app/components/UI/Ramp/Views/Settings/ActivationKeys.tsx
  app/components/UI/Ramp/Views/Settings/AddActivationKey.tsx
  app/components/UI/Ramp/Views/Settings/Settings.styles.tsx
  app/components/UI/Ramp/Views/Settings/Settings.test.tsx
  app/components/UI/Ramp/Views/Settings/Settings.tsx
  app/components/UI/Ramp/Views/Settings/__snapshots__/ActivationKeyForm.test.tsx.snap
  app/components/UI/Ramp/Views/Settings/__snapshots__/Settings.test.tsx.snap
  app/components/UI/Ramp/hooks/useActivationKeys.test.ts
  app/components/UI/Ramp/hooks/useActivationKeys.ts
  app/constants/navigation/Routes.ts
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/index.ts
  app/reducers/fiatOrders/types.ts
  locales/languages/en.json
Labels: team-ramp, team-design-system, Run Smoke E2E, ready-for-translation

#9203 refactor(encryptor): align Encryptor methods to match @metamask/browser-passworder
  app/core/Encryptor/Encryptor.test.ts
  app/core/Encryptor/Encryptor.ts
  app/core/Encryptor/constants.ts
  app/core/Encryptor/index.ts
  app/core/Encryptor/lib.test.ts
  app/core/Encryptor/lib.ts
  app/core/Encryptor/types.ts
  app/core/Engine.ts
  app/core/SecureKeychain.js
  app/util/test/testSetup.js
  app/util/validators/index.js
  package.json
  yarn.lock
Labels: QA Passed, team-accounts, Run Smoke E2E

#9547 feat: OS to Reservoir migration
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.types.ts
  patches/@metamask+assets-controllers+18.0.0.patch
  patches/@metamask+controller-utils+5.0.2.patch
Labels: team-mobile-ux, team-assets, Run Smoke E2E, needs-assets-ux-review

#9575 fix: Add missing wallet_addEthereumChain to unrestricted list
  app/core/Permissions/specifications.js
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#9576 chore: Update migrations with Fatal Errors
  app/store/migrations/037.test.ts
  app/store/migrations/037.ts
  app/store/migrations/039.test.ts
  app/store/migrations/040.test.ts
  app/store/migrations/041.test.ts
  app/store/migrations/util/index.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#9495 feat: url bar no longer shown in the tab thumnail list view
  app/components/UI/Navbar/index.js
  app/components/UI/Tabs/__snapshots__/index.test.tsx.snap
  app/components/UI/Tabs/index.js
  app/components/UI/Tabs/index.test.tsx
  app/components/Views/Browser/index.js
Labels: needs-smoke-e2e, Run Smoke E2E, team-wallet-ux

#9321 feat: add a footer to the in-app browser tab, containing information about the connected account and network
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.styles.ts
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.test.tsx
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.tsx
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.types.ts
  app/components/UI/Tabs/TabThumbnail/__snapshots__/TabThumbnail.test.tsx.snap
  app/components/UI/Tabs/TabThumbnail/index.js
  app/components/UI/Tabs/TabThumbnail/index.ts
  app/components/UI/Tabs/TabThumbnail/useNetworkInfo.ts
  app/components/UI/Tabs/TabThumbnail/useSelectedAccount.ts
  app/components/UI/Tabs/__snapshots__/index.test.tsx.snap
  app/components/UI/Tabs/index.test.tsx
Labels: needs-dev-review, needs-smoke-e2e, Run Smoke E2E, team-wallet-ux

#9286 feat(swaps): enable Base for swaps
  app/components/UI/Swaps/utils/index.js
  app/core/Engine.ts
  app/declarations.d.ts
  app/store/sagas/index.ts
  package.json
  patches/@metamask+swaps-controller+6.9.3.patch
  patches/bip39+2.6.0.patch
  yarn.lock
Labels: team-swaps, Run Smoke E2E

#9347 fix: documentation link in storybook.md
  docs/readme/storybook.md
Labels: team-confirmations-system

#9415 refactor(ramp): transform aggregator network chain id to string
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/hooks/useCryptoCurrencies.ts
  app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/hooks/usePaymentMethods.ts
  app/components/UI/Ramp/orderProcessor/aggregator.ts
  app/components/UI/Ramp/utils/index.test.ts
  app/components/UI/Ramp/utils/index.ts
  app/reducers/fiatOrders/index.ts
Labels: team-ramp, Run Smoke E2E

#9577 chore: Chore/1742 remove vault recreation log in
  app/components/Nav/App/index.js
  app/components/Views/LockScreen/index.js
  app/components/Views/LockScreen/index.test.tsx
  app/components/Views/Login/index.js
  app/components/Views/RestoreWallet/WalletRestored.tsx
  app/core/Authentication/Authentication.ts
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9435 feat: sdk async persistence and protocol upgrade
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/core/DeeplinkManager/ParseManager/extractURLParams.test.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.test.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.test.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/Connection/Connection.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/connect.test.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/connect.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsDisconnected.test.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsDisconnected.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsReady.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.test.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.ts
  app/core/SDKConnect/ConnectionManagement/reconnectAll.ts
  app/core/SDKConnect/ConnectionManagement/watchConnection.test.ts
  app/core/SDKConnect/ConnectionManagement/watchConnection.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/StateManagement/handleAppState.ts
  app/core/SDKConnect/StateManagement/updateSDKLoadingState.ts
  app/core/SDKConnect/handlers/checkPermissions.test.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.test.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.ts
  app/core/SDKConnect/handlers/handleConnectionReady.test.ts
  app/core/SDKConnect/handlers/handleConnectionReady.ts
  app/core/SDKConnect/handlers/handleDeeplink.test.ts
  app/core/SDKConnect/handlers/handleDeeplink.ts
  app/core/SDKConnect/handlers/handleSendMessage.ts
  app/core/SDKConnect/handlers/setupBridge.test.ts
  app/core/SDKConnect/utils/wait.util.ts
  app/core/WalletConnect/WalletConnectV2.ts
  bitrise.yml
  e2e/resources/externalsites.json
  package.json
  yarn.lock
Labels: team-sdk, QA Passed, WalletConnect, Run Smoke E2E

#9527 fix: upgrade permission-controller to 8.0.0
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#9597 fix: permission-controller to include minor updates
  package.json
  yarn.lock
Labels: team-mobile-platform

#9256 feat: Update onboarding copy
  app/components/UI/OptinMetrics/__snapshots__/index.test.tsx.snap
  app/components/UI/OptinMetrics/index.js
  locales/languages/en.json
Labels: needs-dev-review, team-wallet-ux

#9595 feat: Upgrade to react-native-svg to 15.2.0
  app/component-library/components/Avatars/Avatar/variants/AvatarAccount/__snapshots__/AvatarAccount.test.tsx.snap
  app/component-library/components/Cells/Cell/__snapshots__/Cell.test.tsx.snap
  app/component-library/components/Cells/Cell/foundation/CellBase/__snapshots__/CellBase.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellDisplay/__snapshots__/CellDisplay.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellMultiSelect/__snapshots__/CellMultiSelect.test.tsx.snap
  app/component-library/components/Cells/Cell/variants/CellSelect/__snapshots__/CellSelect.test.tsx.snap
  app/component-library/components/Pickers/PickerAccount/__snapshots__/PickerAccount.test.tsx.snap
  app/component-library/components/Select/SelectButton/__snapshots__/SelectButton.test.tsx.snap
  app/component-library/components/Select/SelectButton/foundation/__snapshots__/SelectButtonBase.test.tsx.snap
  app/component-library/components/Select/SelectOption/__snapshots__/SelectOption.test.tsx.snap
  app/component-library/components/Select/SelectValue/__snapshots__/SelectValue.test.tsx.snap
  app/components/UI/AccountInfoCard/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/confirmations/components/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/__snapshots__/index.test.tsx.snap
  package.json
  patches/react-native-svg+12.1.1.patch
  patches/react-native-svg+15.2.0.patch
  yarn.lock
Labels: type-bug, Sev2-normal, team-mobile-platform, Run Smoke E2E

#9610 test: Fix flakiness caused by the notification permission dialog which caused confirmation test flakiness
  e2e/fixtures/fixture-helper.js
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9611 fix: Fix/9345 bitrise cache failure
  bitrise.yml
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9609 chore: add deprecated tag to the websiteicon component
  app/components/UI/WebsiteIcon/index.js
Labels: team-mobile-platform

#9612 revert: feat(swaps): enable Base for swaps (#9286)
  app/components/UI/Swaps/utils/index.js
  app/core/Engine.ts
  app/declarations.d.ts
  app/store/sagas/index.ts
  package.json
  patches/@metamask+swaps-controller+6.9.3.patch
  patches/bip39+2.6.0.patch
  yarn.lock
Labels: team-mobile-platform, team-swaps, Run Smoke E2E

#9614 fix: migrations key numbers
  app/store/migrations/index.ts
Labels: needs-dev-review, team-mobile-platform

#9599 chore: update Encryptor CODEOWNER to Accounts Team
  .github/CODEOWNERS
Labels: team-accounts

#9629 chore: apply string changes from #9565
  locales/languages/en.json
Labels: team-swaps

#9630 fix: Fix/rn svg pod files
  ios/Podfile.lock
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, release-7.23.0

#9204 feat: Add new privacy policy alert toast
  app/component-library/components/Toast/Toast.tsx
  app/component-library/components/Toast/Toast.types.ts
  app/components/UI/OptinMetrics/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.tsx
  app/reducers/index.ts
  app/reducers/legalNotices/index.ts
  app/reducers/legalNotices/types.ts
  app/util/test/initial-root-state.ts
  locales/languages/en.json
Labels: needs-dev-review, Run Smoke E2E, team-wallet-ux

#9644 refactor: network image util into a selector
  app/components/Nav/Main/index.js
  app/components/UI/AccountRightButton/index.tsx
  app/components/UI/ManageNetworks/ManageNetworks.tsx
  app/components/UI/MultiAssetListItems/MultiAssetListItems.tsx
  app/components/UI/NetworkInfo/index.tsx
  app/components/UI/NetworkModal/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.tsx
  app/components/UI/Tabs/TabThumbnail/useNetworkInfo.ts
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Wallet/index.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/selectors/networkController.ts
Labels: team-wallet-ux

#9633 feat: fix wait function not returning properly
  app/core/SDKConnect/handlers/checkPermissions.test.ts
  app/core/SDKConnect/handlers/handleDeeplink.test.ts
  app/core/SDKConnect/utils/wait.util.ts
  app/util/test/utils.js
Labels: team-sdk, needs-smoke-e2e, Run Smoke E2E

#9625 feat: Update signature controller v13
  app/core/Engine.ts
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform

#9394 feat: Network & Gas & Assets & Utils controllers update
  app/components/UI/CollectibleContracts/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/hooks/useTokenBalance.tsx
  app/core/AppConstants.ts
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/core/GasPolling/GasPolling.test.ts
  app/core/GasPolling/types.ts
  app/selectors/tokenBalancesController.ts
  app/selectors/types.ts
  app/store/migrations/041.test.ts
  app/store/migrations/041.ts
  app/store/migrations/index.ts
  e2e/selectors/ActivitiesView.selectors.js
  e2e/specs/confirmations/send-erc20-with-dapp.spec.js
  package.json
  patches/@metamask+assets-controllers+18.0.0.patch
  patches/@metamask+assets-controllers+26.0.0.patch
  patches/@metamask+controller-utils+8.0.4.patch
  patches/@metamask+network-controller+15.2.0.patch
  scripts/patch-assets-controllers.sh
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9657 chore: Update boost checksum
  ios/Podfile.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9656 fix: Fix/1723 broken sign verification
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Permissions/index.ts
  app/core/Permissions/specifications.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9661 feat: smart-tx opt in modal 2
  app/components/Views/SmartTransactionsOptInModal/SmartTranactionsOptInModal.tsx
  locales/languages/en.json
Labels: team-swaps

#9663 chore: update tx controller v13 patch notes
  patches/@metamask+transaction-controller+13.0.0.patch
  scripts/patch-transaction-controller.sh
Labels: team-swaps

#9660 chore: cherry-pick-Chore/1723 fix broken sign
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Permissions/index.ts
  app/core/Permissions/specifications.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9680 fix: Increase waiting for swaps and switch account on E2E
  e2e/pages/swaps/SwapView.js
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#9658 chore: Upgrade react-native-svg to 15.3
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E

#9346 feat: notifications LIST screen UI - [9 of 10]
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Navbar/index.js
  app/components/UI/Notification/Empty/__snapshots__/index.test.tsx.snap
  app/components/UI/Notification/Empty/index.test.tsx
  app/components/UI/Notification/Empty/index.tsx
  app/components/UI/Notification/Empty/styles.ts
  app/components/UI/Notification/List/__snapshots__/index.test.tsx.snap
  app/components/UI/Notification/List/index.test.tsx
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
  app/components/UI/Notification/Row/Actions.test.tsx
  app/components/UI/Notification/Row/Actions.tsx
  app/components/UI/Notification/Row/Content.test.tsx
  app/components/UI/Notification/Row/Content.tsx
  app/components/UI/Notification/Row/Icon.test.tsx
  app/components/UI/Notification/Row/Icon.tsx
  app/components/UI/Notification/Row/Root.test.tsx
  app/components/UI/Notification/Row/Root.tsx
  app/components/UI/Notification/Row/__snapshots__/Actions.test.tsx.snap
  app/components/UI/Notification/Row/__snapshots__/Content.test.tsx.snap
  app/components/UI/Notification/Row/__snapshots__/Icon.test.tsx.snap
  app/components/UI/Notification/Row/__snapshots__/Root.test.tsx.snap
  app/components/UI/Notification/Row/constants.ts
  app/components/UI/Notification/Row/index.tsx
  app/components/UI/Notification/Row/styles.ts
  app/components/UI/Notification/__mocks__/mock_notifications.ts
  app/components/Views/Notifications/OptIn/index.tsx
  app/components/Views/Notifications/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/index.test.tsx
  app/components/Views/Notifications/index.tsx
  app/components/Views/Notifications/styles.ts
  app/components/Views/Settings/NotificationsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/constants/navigation/Routes.ts
  app/constants/urls.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/core/AppConstants.ts
  app/util/notifications/methods/index.test.tsx
  app/util/notifications/methods/index.ts
  app/util/notifications/types/notification/index.ts
  e2e/selectors/NotificationsView.selectors.js
  locales/languages/en.json
Labels: team-mobile-platform, Run Smoke E2E, team-notifications

#9568 fix: 9559 issue android json parse
  app/components/Nav/Main/index.js
  app/core/NotificationManager.js
  app/core/NotificationsManager.test.ts
  app/util/notifications/hooks/index.test.ts
  app/util/notifications/hooks/index.ts
  app/util/notifications/setupAndroidChannels.test.ts
  app/util/notifications/setupAndroidChannels.ts
  app/util/notifications/types/notification/index.ts
Labels: team-mobile-platform, Run Smoke E2E, team-notifications

#9694 test: send flow page object refactor
  app/components/UI/Navbar/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/SendTo/index.js
  app/components/Views/confirmations/components/EditGasFee1559Update/index.tsx
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  e2e/pages/AmountView.js
  e2e/pages/Send/AmountView.js
  e2e/pages/Send/SendView.js
  e2e/pages/Send/TransactionConfirmView.js
  e2e/pages/SendView.js
  e2e/pages/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/pages/TransactionConfirmView.js
  e2e/selectors/Browser/TestDapp.selectors.js
  e2e/selectors/EditGasView.selectors.js
  e2e/selectors/SendFlow/AmountView.selectors.js
  e2e/selectors/SendView.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/SecurityPrivacyView.selectors.js
  e2e/selectors/TransactionConfirmView.selectors.js
  e2e/specs/confirmations/advanced-gas-fees.spec.js
  e2e/specs/confirmations/send-eth.spec.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/quarantine/deeplinks.failing.js
  e2e/specs/settings/addressbook-tests.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/wallet/send-ERC-token.spec.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9685 fix(deps): @metamask/eth-sig-util@^4.0.1->^7.0.2
  package.json
  yarn.lock
Labels: dependencies, team-security, Run Smoke E2E

#9696 fix(devDeps): @lavamoat/allow-scripts@^2.3.1->^3.0.4
  package.json
  yarn.lock
Labels: dependencies, type-security, team-security, Run Smoke E2E

#9640 chore: Update base controller v5, logging controller v3, permission controll…
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9301 Fix/flaky tests issues template skip 2
  .github/guidelines/LABELING_GUIDELINES.md
Labels: needs-dev-review, team-mobile-platform

#9716 chore: fix cherry conflict while merging JSON fix.
  app/components/Nav/Main/index.js
  app/core/NotificationManager.js
  app/core/NotificationsManager.test.ts
  app/util/notifications/hooks/index.test.ts
  app/util/notifications/hooks/index.ts
  app/util/notifications/setupAndroidChannels.test.ts
  app/util/notifications/setupAndroidChannels.ts
  app/util/notifications/types/notification/index.ts
Labels: team-mobile-platform, Run Smoke E2E

#9699 fix: Move permission middleware to be later than rpc method middleware
  app/core/BackgroundBridge/BackgroundBridge.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9717 fix: cherry-pick - Move permission middleware to be later than rpc method middleware (#9699)
  app/core/BackgroundBridge/BackgroundBridge.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#9690 test: Address App launch times failure test
  wdio/features/Performance/WarmStartPerformance.feature
  wdio/screen-objects/BrowserObject/AddFavoriteScreen.js
  wdio/screen-objects/BrowserObject/AddressBarScreen.js
  wdio/screen-objects/BrowserObject/BrowserScreen.js
  wdio/screen-objects/CommonScreen.js
  wdio/screen-objects/LoginScreen.js
  wdio/screen-objects/Onboarding/OnboardingCarousel.js
  wdio/screen-objects/OnboardingSucessScreen.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/step-definitions/browser-steps.js
  wdio/step-definitions/common-steps.js
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9651 feat: Upgrade signature Controller to v14
  app/core/Engine.ts
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9720 fix: in send flow, adding space at end of ENS address caused crash
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.tsx
Labels: Run Smoke E2E, team-wallet-ux

#9712 chore: remove unnecessary patch imports and change the patch branch name
  patches/@metamask+transaction-controller+13.0.0.patch
  scripts/patch-transaction-controller.sh
Labels: QA Passed, Run Smoke E2E, team-confirmations

#9574 chore: update confirmations codeowners
  .github/CODEOWNERS
Labels: team-confirmations

#9725 chore: make test code dev env only
  app/components/UI/Swaps/utils/index.js
  app/reducers/swaps/index.js
Labels: team-swaps, Run Smoke E2E

#9707 feat: adds strings for the opt in toggles
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  locales/languages/en.json
Labels: team-wallet-ux

#9708 test: add send to saved contact e2e test
  e2e/fixtures/fixture-builder.js
  e2e/pages/Send/SendView.js
  e2e/specs/confirmations/send-to-contact.spec.js
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9733 fix: Fix/9662 account section disappears
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.test.tsx
  app/components/UI/Tabs/TabThumbnail/__snapshots__/TabThumbnail.test.tsx.snap
  app/components/UI/Tabs/__snapshots__/index.test.tsx.snap
  app/components/UI/Tabs/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/index.test.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/hooks/useAccounts/useAccounts.test.ts
  app/components/hooks/useAccounts/useAccounts.ts
  app/selectors/accountsController.test.ts
  app/selectors/accountsController.ts
  app/util/test/accountsControllerTestUtils.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9738 chore: bump RC 4 1332
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#9740 feat: Update checkbox to be able to override checkbox style
  app/component-library/components/Checkbox/Checkbox.styles.ts
  app/component-library/components/Checkbox/Checkbox.tsx
  app/component-library/components/Checkbox/Checkbox.types.ts
Labels: needs-dev-review, team-design-system

#9734 test: Added swap ERC20->ETH test case
  e2e/specs/swaps/swap-action-smoke.spec.js
Labels: No QA Needed/E2E Only, team-swaps

#9751 test: disable flakey test
  e2e/specs/quarantine/send-to-contact.failing.js
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9706 fix: QR scanner crash when user dismisses camera view in web view
  app/components/Views/QRScanner/index.tsx
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9683 refactor: the network name and image utils into selectors
  app/components/Nav/Main/index.js
  app/components/UI/AccountRightButton/index.tsx
  app/components/UI/ManageNetworks/ManageNetworks.test.js
  app/components/UI/ManageNetworks/ManageNetworks.tsx
  app/components/UI/MultiAssetListItems/MultiAssetListItems.tsx
  app/components/UI/NetworkInfo/index.tsx
  app/components/UI/NetworkModal/index.test.tsx
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.tsx
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.types.ts
  app/components/UI/Tabs/TabThumbnail/useNetworkInfo.ts
  app/components/UI/Tokens/index.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AddAsset/AddAsset.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/OnboardingSuccess/DefaultSettings/index.test.js
  app/components/Views/Wallet/index.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/selectors/networkInfos.ts
Labels: Run Smoke E2E, team-wallet-ux

#9764 fix: selectSelectedInternalAccount: Account with ID not found
  patches/@metamask+accounts-controller+11.0.0.patch
Labels: release-blocker, team-accounts, Run Smoke E2E, release-7.23.0

#9742 fix: Selecting custom ethereum mainnet on fresh install
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9769 bump build number to 1333
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#9774 fix: unit tests
  app/components/hooks/useAccounts/useAccounts.test.ts
Labels: team-assets

#9773 fix: e2e builds
  .ruby-version
  Gemfile
  Gemfile.lock
Labels: team-mobile-platform, Run Smoke E2E

#9772 fix: Fix/ruby install
  .ruby-version
  Gemfile
  Gemfile.lock
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#9767 feat: push Privacy policy date to 2024 Jun 18 12:00 UTC
  app/reducers/legalNotices/index.ts
Labels: Run Smoke E2E, team-wallet-ux

#9771 chore: align main and flask build numbers
  bitrise.yml
Labels: team-mobile-platform

#9775 fix: Update boost checksum
  ios/Podfile.lock
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9753 chore: Chore/optimize Wallet screen re-renders
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/UI/WalletAccount/WalletAccount.types.ts
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/Wallet/index.tsx
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useEnsNameByAddress/index.test.ts
  app/components/hooks/useEnsNameByAddress/index.ts
  app/selectors/accountTrackerController.test.ts
  app/selectors/accountTrackerController.ts
  app/selectors/accountsController.test.ts
  app/selectors/accountsController.ts
  app/selectors/networkController.ts
  app/selectors/tokensController.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#9637 chore: bump SES
  ses.cjs
Labels: dependencies, team-security, Run Smoke E2E

#9780 fix: make version setting script work with both main and flask
  scripts/set-versions.sh
Labels: team-mobile-platform

#9787 fix: revert use of sponge not available in actions Ubuntu image
  scripts/set-versions.sh
Labels: team-mobile-platform

#9545 chore: Fix CocoaPods install on Linux
  .github/workflows/docker.yml
  patches/react-native+0.71.15.patch
  scripts/docker/Dockerfile
  scripts/docker/README.md
  scripts/docker/yarn-v1.22.22.tar.gz.sha256
  scripts/setup.mjs
Labels: iOS, devtools, team-security

#9410 feat: add SimulationDetails component
  .storybook/storybook.requires.js
  app/components/UI/AnimatedSpinner/index.js
  app/components/UI/Name/Name.types.ts
  app/components/UI/Notification/BaseNotification/index.js
  app/components/UI/SimulationDetails/AmountPill/AmountPill.styles.ts
  app/components/UI/SimulationDetails/AmountPill/AmountPill.test.tsx
  app/components/UI/SimulationDetails/AmountPill/AmountPill.tsx
  app/components/UI/SimulationDetails/AssetPill/AssetPill.styles.ts
  app/components/UI/SimulationDetails/AssetPill/AssetPill.test.tsx
  app/components/UI/SimulationDetails/AssetPill/AssetPill.tsx
  app/components/UI/SimulationDetails/BalanceChangeList/BalanceChangeList.styles.ts
  app/components/UI/SimulationDetails/BalanceChangeList/BalanceChangeList.test.tsx
  app/components/UI/SimulationDetails/BalanceChangeList/BalanceChangeList.tsx
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.styles.ts
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.test.tsx
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.tsx
  app/components/UI/SimulationDetails/SimulationDetails.stories.tsx
  app/components/UI/SimulationDetails/SimulationDetails.styles.ts
  app/components/UI/SimulationDetails/SimulationDetails.test.tsx
  app/components/UI/SimulationDetails/SimulationDetails.tsx
  app/components/UI/SimulationDetails/formatAmount.test.ts
  app/components/UI/SimulationDetails/formatAmount.ts
  app/components/UI/SimulationDetails/shared.styles.ts
  app/components/UI/SimulationDetails/sortBalanceChanges.test.ts
  app/components/UI/SimulationDetails/sortBalanceChanges.ts
  app/components/UI/SimulationDetails/types.ts
  app/components/UI/SimulationDetails/useBalanceChanges.test.ts
  app/components/UI/SimulationDetails/useBalanceChanges.ts
  app/components/hooks/useAsyncResult.test.ts
  app/components/hooks/useAsyncResult.ts
  app/util/networks/index.js
  locales/languages/en.json
  patches/@metamask+transaction-controller+13.0.0.patch
  storybook/storyLoader.js
Labels: Run Smoke E2E, team-confirmations

#9613 feat: v7.23.0
  .yarnrc
  CHANGELOG.md
  android/app/build.gradle
  app/components/hooks/useAccounts/useAccounts.ts
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: team-mobile-platform, Run Smoke E2E

#9791 fix: Disable segment in E2E mode
  app/core/Analytics/MetaMetrics.ts
Labels: needs-qa, needs-dev-review, team-mobile-platform, Run Smoke E2E

#9763 fix: JS "pseudo protocol" works when pasted on mobile browser
  app/components/Views/BrowserTab/index.js
  app/util/url/sanitizeUrlInput.test.ts
  app/util/url/sanitizeUrlInput.ts
Labels: team-mobile-platform, Run Smoke E2E

#9781 fix: Update Basic Functionality settings description.json
  app/components/UI/BasicFunctionality/BasicFunctionality.tsx
  app/components/UI/BasicFunctionality/__snapshots__/BasicFunctionality.test.js.snap
  app/components/Views/OnboardingSuccess/DefaultSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  locales/languages/en.json
Labels: team-wallet-ux

#9768 feat: add MetaMetrics delete on Wallet delete
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/hooks/DeleteWallet/useDeleteWallet.ts
Labels: needs-dev-review, team-mobile-platform

#9809 chore: merge 7.23.0 tag
  CHANGELOG.md
  app/components/hooks/useAccounts/useAccounts.ts
Labels: team-mobile-platform

#9793 feat: add fiat support to simulations
  app/components/UI/SimulationDetails/BalanceChangeList/BalanceChangeList.styles.ts
  app/components/UI/SimulationDetails/BalanceChangeList/BalanceChangeList.test.tsx
  app/components/UI/SimulationDetails/BalanceChangeList/BalanceChangeList.tsx
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.test.tsx
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.tsx
  app/components/UI/SimulationDetails/FiatDisplay/FiatDisplay.test.tsx
  app/components/UI/SimulationDetails/FiatDisplay/FiatDisplay.tsx
  app/components/UI/SimulationDetails/FiatDisplay/useFiatFormatter.test.ts
  app/components/UI/SimulationDetails/FiatDisplay/useFiatFormatter.ts
  app/components/UI/SimulationDetails/SimulationDetails.stories.tsx
  app/components/UI/SimulationDetails/types.ts
  app/components/UI/SimulationDetails/useBalanceChanges.test.ts
  app/components/UI/SimulationDetails/useBalanceChanges.ts
  locales/languages/en.json
Labels: team-confirmations

#9746 fix: render images of networks removed from popularNetwork list
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/core/RPCMethods/networkChecker.util.ts
  app/util/getImage.tsx
  app/util/networks/customNetworks.test.ts
  app/util/networks/customNetworks.tsx
  app/util/networks/index.js
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#9743 feat: Metrics/1803 emit error viewed event
  app/components/Views/ErrorBoundary/__snapshots__/index.test.tsx.snap
  app/components/Views/ErrorBoundary/index.js
  app/components/Views/ErrorBoundary/index.test.tsx
  app/core/Analytics/MetaMetrics.events.ts
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform

#9819 fix: Add .e2e as part of the setup script
  .e2e.env.example
  scripts/setup.mjs
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E

#9816 chore: [Force upgrade test] bumped minimum app version to 1333 or 7.23.0 in test
  AppConfig/test/MockAppConfig.json
Labels: team-mobile-platform

#9674 fix: update Delete MetaMetrics Data copy to 30 days
  app/components/Views/Settings/SecuritySettings/Sections/DeleteMetaMetricsData.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/constants/urls.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: team-mobile-platform, Run Smoke E2E, marketing-consent
