Repository MetaMask/metamask-mobile, pull requests merged in 2024-07, with the labels that each got.

#10187 chore: bump snaps exec env version
  app/lib/snaps/SnapsExecutionWebView.tsx
Labels: mobile-snaps, team-snaps-platform

#10189 feat: Revamp Snap connection screen
  app/components/Approvals/InstallSnapApproval/InstallSnapApproval.constants.ts
  app/components/Approvals/InstallSnapApproval/InstallSnapApproval.styles.ts
  app/components/Approvals/InstallSnapApproval/InstallSnapApproval.tsx
  app/components/Approvals/InstallSnapApproval/InstallSnapApproval.types.ts
  app/components/Approvals/InstallSnapApproval/components/InstallSnapConnectionRequest/InstallSnapConnectionRequest.tsx
  app/components/Approvals/InstallSnapApproval/components/InstallSnapConnectionRequest/index.ts
  app/components/Approvals/InstallSnapApproval/components/InstallSnapConnectionRequest/test/InstallSnapConnectionRequest.test.tsx
  app/components/Approvals/InstallSnapApproval/components/index.ts
  app/components/Approvals/InstallSnapApproval/index.ts
  app/components/Approvals/InstallSnapApproval/test/InstallSnapApproval.test.tsx
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/Snaps/SnapAvatar/SnapAvatar.styles.ts
  app/components/UI/Snaps/SnapAvatar/SnapAvatar.test.tsx
  app/components/UI/Snaps/SnapAvatar/SnapAvatar.tsx
  app/core/EngineService/EngineService.ts
  app/selectors/snaps/permissionController.ts
  app/selectors/snaps/snapController.ts
  locales/languages/en.json
Labels: INVALID-PR-TEMPLATE, team-snaps-platform

#10167 chore: added the requirement for PRs to contain a QA label
  .github/guidelines/LABELING_GUIDELINES.md
  .github/scripts/check-pr-has-required-labels.ts
Labels: QA Passed, team-mobile-platform

#10211 chore: bump version RC 3 1358
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#10192 fix: blockaid validations for deeplink transactions
  app/components/Views/confirmations/SendFlow/Confirm/index.js
Labels: Run Smoke E2E, team-confirmations

#10213 chore: reorder accounts in ETH_REQUESTACCOUNTS response to prioritize selectedAddress in the 'AndroidService'
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/AndroidSDK/AndroidService/sendMessage.test.ts
  app/core/SDKConnect/AndroidSDK/AndroidService/sendMessage.ts
Labels: team-sdk, QA Passed, No E2E Smoke Needed

#10227 fix: add edge case of having falsy address for `useTokenListEntries`
  app/components/UI/Identicon/index.tsx
  app/components/hooks/DisplayName/useTokenListEntry.ts
Labels: Run Smoke E2E, team-confirmations

#10190 fix: untranslated error when speed up transaction
  app/components/Views/confirmations/components/UpdateEIP1559Tx/index.tsx
Labels: Run Smoke E2E, team-confirmations

#10144 feat: add increase decrease token percentage
  .storybook/storybook.requires.js
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentage.stories.tsx
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentage.styles.ts
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentage.test.tsx
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentage.tsx
  app/component-library/components-temp/Price/AggregatedPercentage/__snapshots__/AggregatedPercentage.test.tsx.snap
  app/component-library/components-temp/Price/AggregatedPercentage/index.ts
  app/component-library/components-temp/Price/PercentageChange/PercentageChange.stories.tsx
  app/component-library/components-temp/Price/PercentageChange/PercentageChange.test.tsx
  app/component-library/components-temp/Price/PercentageChange/PercentageChange.tsx
  app/component-library/components-temp/Price/PercentageChange/__snapshots__/PercentageChange.test.tsx.snap
  app/component-library/components-temp/Price/PercentageChange/index.ts
  app/components/UI/AssetElement/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetElement/index.tsx
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  app/core/Engine.ts
  storybook/storyLoader.js
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10219 test: address flaky smoke e2e
  e2e/fixtures/fixture-builder.js
  e2e/pages/Send/TransactionConfirmView.js
  e2e/resources/networks.e2e.js
  e2e/specs/confirmations/advanced-gas-fees.spec.js
  e2e/specs/settings/fiat-on-testnets.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10217 chore: cherry-pick-10163-10227-10219-10067
  app/components/UI/AddressInputs/index.test.jsx
  app/components/UI/Identicon/__snapshots__/index.test.tsx.snap
  app/components/UI/Identicon/index.test.tsx
  app/components/UI/Identicon/index.tsx
  app/components/UI/Name/Name.test.tsx
  app/components/UI/Name/__snapshots__/Name.test.tsx.snap
  app/components/Views/confirmations/Send/index.test.tsx
  app/components/hooks/DisplayName/useTokenList.test.ts
  app/components/hooks/DisplayName/useTokenList.ts
  app/components/hooks/DisplayName/useTokenListEntry.test.ts
  app/components/hooks/DisplayName/useTokenListEntry.ts
  app/selectors/tokenListController.ts
  bitrise.yml
  e2e/fixtures/fixture-builder.js
  e2e/pages/Send/TransactionConfirmView.js
  e2e/resources/networks.e2e.js
  e2e/specs/assets/import-tokens.spec.js
  e2e/specs/assets/token-detection-import-all.spec.js
  e2e/specs/confirmations/advanced-gas-fees.spec.js
  e2e/specs/quarantine/import-nft.failing.js
  e2e/specs/settings/fiat-on-testnets.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/tags.js
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E

#9936 chore: restore bot workflow to update attributions
  .github/workflows/update-attributions.yml
Labels: team-wallet-framework

#10127 fix: swaps android swap allowance error
  .gitignore
  package.json
  patches/@metamask+swaps-controller+9.0.0.patch
  yarn.lock
Labels: QA Passed, team-swaps, Run Smoke E2E

#9724 feat: remove `selectIdentities` in favour of `selectInternalAccounts`
  app/components/UI/AccountApproval/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountInfoCard/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.test.tsx
  app/components/UI/AddressCopy/AddressCopy.tsx
  app/components/UI/AddressInputs/index.js
  app/components/UI/AddressInputs/index.test.jsx
  app/components/UI/AssetIcon/index.test.tsx
  app/components/UI/DrawerView/index.js
  app/components/UI/DrawerView/index.test.tsx
  app/components/UI/EthereumAddress/index.js
  app/components/UI/NavbarBrowserTitle/index.test.tsx
  app/components/UI/Ramp/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/Views/OrdersList/OrdersList.test.tsx
  app/components/UI/Ramp/components/Account.tsx
  app/components/UI/SearchTokenAutocomplete/index.test.tsx
  app/components/UI/TransactionElement/index.js
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/Asset/index.js
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/TransactionsView/index.js
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/Send/index.test.tsx
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.test.tsx
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/SendFlow/SendTo/index.js
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/types.ts
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/SignatureRequest/Root/Root.test.tsx
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/components/Views/confirmations/components/TypedSign/__snapshots__/index.test.tsx.snap
  app/components/hooks/useExistingAddress.test.ts
  app/components/hooks/useExistingAddress.ts
  app/core/DeeplinkManager/TransactionManager/approveTransaction.test.ts
  app/core/DeeplinkManager/TransactionManager/approveTransaction.ts
  app/selectors/preferencesController.ts
  app/util/address/index.test.ts
  app/util/address/index.ts
  app/util/metrics/trackDappViewedEvent/index.test.ts
  app/util/metrics/trackDappViewedEvent/index.ts
  app/util/transactions/index.js
  e2e/fixtures/fixture-builder.js
  yarn.lock
Labels: QA Passed, team-accounts, Run Smoke E2E

#10247 fix: add support for svg uris without viewbox
  app/components/Base/RemoteImage/index.js
  app/components/hooks/useSvgUriViewBox.test.ts
  app/components/hooks/useSvgUriViewBox.ts
Labels: Run Smoke E2E, team-notifications

#10233 fix: copy changes in blockaid settings
  app/components/Views/Settings/SecuritySettings/Sections/BlockaidSettings.tsx
  app/components/Views/Settings/SecuritySettings/Sections/__snapshots__/BlockaidSettings.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: Run Smoke E2E, team-confirmations

#10255 chore: 7.26.0 bump 1359 rc 4
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#9652 chore(ramp): upgrade sdk to 1.28.1
  app/reducers/fiatOrders/index.test.ts
  package.json
  yarn.lock
Labels: team-ramp, Run Smoke E2E

#10153 chore: Migrate AsyncStorage to mmkv
  android/gradle.properties
  app/core/Authentication/Authentication.test.ts
  app/store/async-storage-wrapper.js
  app/store/migrations/049.test.ts
  app/store/migrations/049.ts
  app/store/migrations/index.ts
  app/util/test/network-store.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10244 fix: Cherry pick remove selectIdentities in favour of selectInternalAccounts #9724
  app/components/UI/AccountApproval/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountInfoCard/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountOverview/index.js
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.test.tsx
  app/components/UI/AddressCopy/AddressCopy.tsx
  app/components/UI/AddressInputs/index.js
  app/components/UI/AddressInputs/index.test.jsx
  app/components/UI/AssetIcon/index.test.tsx
  app/components/UI/DrawerView/index.js
  app/components/UI/DrawerView/index.test.tsx
  app/components/UI/EthereumAddress/index.js
  app/components/UI/NavbarBrowserTitle/index.test.tsx
  app/components/UI/Ramp/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/Views/OrdersList/OrdersList.test.tsx
  app/components/UI/Ramp/components/Account.tsx
  app/components/UI/SearchTokenAutocomplete/index.test.tsx
  app/components/UI/TransactionElement/index.js
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/Asset/index.js
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/TransactionsView/index.js
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/Send/index.test.tsx
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.test.tsx
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/SendFlow/SendTo/index.js
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/types.ts
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/SignatureRequest/Root/Root.test.tsx
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/components/Views/confirmations/components/TypedSign/__snapshots__/index.test.tsx.snap
  app/components/hooks/useExistingAddress.test.ts
  app/components/hooks/useExistingAddress.ts
  app/core/DeeplinkManager/TransactionManager/approveTransaction.test.ts
  app/core/DeeplinkManager/TransactionManager/approveTransaction.ts
  app/selectors/preferencesController.ts
  app/util/address/index.test.ts
  app/util/address/index.ts
  app/util/metrics/trackDappViewedEvent/index.test.ts
  app/util/metrics/trackDappViewedEvent/index.ts
  app/util/transactions/index.js
  e2e/fixtures/fixture-builder.js
  yarn.lock
Labels: DO-NOT-MERGE, team-accounts, INVALID-PR-TEMPLATE, Run Smoke E2E

#10225 test: Refactor WalletView file
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.tsx
  app/component-library/components/Toast/Toast.tsx
  app/components/UI/AccountOverview/index.js
  app/components/UI/AddressCopy/AddressCopy.tsx
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/Views/AccountActions/AccountActions.constants.ts
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/TransactionsView/index.js
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  e2e/pages/Send/TransactionConfirmView.js
  e2e/pages/WalletView.js
  e2e/pages/wallet/WalletView.js
  e2e/selectors/Common.selectors.js
  e2e/selectors/Modals/AccountActionsModal.selectors.js
  e2e/selectors/TransactionConfirmView.selectors.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/accounts/create-wallet-account.spec.js
  e2e/specs/accounts/import-wallet-account.spec.js
  e2e/specs/assets/import-tokens.spec.js
  e2e/specs/assets/nft-detection-modal.spec.js
  e2e/specs/assets/token-detection-import-all.spec.js
  e2e/specs/confirmations/advanced-gas-fees.spec.js
  e2e/specs/confirmations/approve-custom-erc20.spec.js
  e2e/specs/confirmations/increase-allowance-erc20.spec.js
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/specs/networks/connect-test-network.spec.js
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/quarantine/add-edit-custom-eth-mainnet.failing.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/quarantine/deeplinks.failing.js
  e2e/specs/quarantine/import-nft.failing.js
  e2e/specs/quarantine/permission-system-removing-imported-account.failing.js
  e2e/specs/settings/fiat-on-testnets.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
  e2e/specs/swaps/token-details.spec.js
  e2e/specs/wallet/portfolio-connect-account.spec.js
  e2e/specs/wallet/request-token-flow.spec.js
  e2e/specs/wallet/send-ERC-token.spec.js
  e2e/specs/wallet/start-exploring.spec.js
  e2e/utils/Assertions.js
  e2e/viewHelper.js
  wdio/screen-objects/AddContact.js
  wdio/screen-objects/CommonScreen.js
  wdio/screen-objects/Modals/WalletAccountModal.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Common.testIds.js
  wdio/screen-objects/testIDs/Screens/WalletView.testIds.js
Labels: QA Passed, team-mobile-platform, Run Smoke E2E, Detox

#10271 fix(ramp): use hexToBN for ContractBalances balance
  app/components/UI/Ramp/hooks/useBalance.ts
  app/util/address/index.ts
Labels: No QA Needed, needs-dev-review, team-ramp, team-mobile-platform

#10268 chore: move SnapsExecutionWebView out of Main navigation stack
  app/components/Nav/App/index.js
  app/components/Nav/Main/index.js
Labels: team-mobile-platform, Run Smoke E2E, team-snaps-platform

#10278 chore: disable snaps feat from main temporarily
  metro.transform.js
Labels: No QA Needed, team-snaps-platform

#10279 fix: use ACTIONS_WRITE_TOKEN in attributions workflow
  .github/workflows/update-attributions.yml
Labels: No QA Needed, team-wallet-framework

#10272 chore: Add deep partial single source of truth
  app/components/UI/Ramp/Views/OrderDetails/OrderDetails.test.tsx
  app/components/UI/Ramp/Views/OrdersList/OrdersList.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.constants.ts
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.types.ts
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.test.tsx
  app/components/UI/Ramp/Views/Settings/Settings.test.tsx
  app/components/UI/Ramp/components/OrderListItem/OrderListItem.test.tsx
  app/components/UI/Ramp/hooks/useGasPriceEstimation.test.ts
  app/util/test/renderWithProvider.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10283 chore: add code fence to avoid ts issue
  app/components/Nav/App/index.js
Labels: No QA Needed, mobile-snaps, team-mobile-platform, team-snaps-platform

#10253 chore: typescript hooks and base folder coverage
  app/components/Approvals/InstallSnapApproval/components/InstallSnapPermissionsRequest/test/InstallSnapPermissionsRequest.test.tsx
  app/components/Base/Alert.stories.tsx
  app/components/Base/Alert.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/components/hooks/useBluetoothPermissions.test.ts
  app/components/hooks/useThunkDispatch.ts
  app/components/hooks/useTokenBalance.tsx
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.ts
  app/declarations.d.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10184 chore: implementing Firebase messaging on iOS/Android
  .android.env.example
  .ios.env.example
  .js.env.example
  README.md
  android/app/build.gradle
  android/app/google-services-example.json
  android/build.gradle
  app/util/notifications/methods/fcmHelper.test.ts
  app/util/notifications/methods/fcmHelper.ts
  firebase.json
  ios/GoogleService-Info.plist
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile
  ios/Podfile.lock
  package.json
  scripts/build.sh
  yarn.lock
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#10266 fix: blockaid loader on confirmation pages
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.styles.ts
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.tsx
  app/components/Views/confirmations/components/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: Run Smoke E2E, team-confirmations

#10248 build: bump gas-fee-controller to v18 and remove patch
  app/core/Engine.ts
  package.json
  patches/@metamask+gas-fee-controller+15.1.2.patch
  yarn.lock
Labels: Run Smoke E2E, team-confirmations, team-transactions

#10291 chore: Update webview to v 14.0.2
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10292 chore: cleanup
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/store/migrations/020.test.js
Labels: No QA Needed, team-mobile-platform

#10264 fix: skip blockaid validations for users internal accounts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
Labels: Run Smoke E2E, team-confirmations

#10299 chore: add translations for notification feature - 1/7
  locales/languages/en.json
Labels: No QA Needed, team-mobile-platform, team-notifications, team-snaps-platform

#10305 chore: 7.27.0 RC 2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#10241 chore: add Sentry snapshot with masked data
  app/util/sentry/__snapshots__/utils.test.ts.snap
  app/util/sentry/utils.js
  app/util/sentry/utils.test.ts
Labels: No QA Needed, team-mobile-platform

#10319 feat: add support for linea mainnet for nft detection
  patches/@metamask+assets-controllers+30.0.0.patch
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10282 chore: update Android SDK to API Level 34
  android/build.gradle
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E

#10172 chore: changelog release automation
  .github/workflows/create-release-pr.yml
  package.json
  scripts/changelog-csv.sh
  scripts/create-release-pr.sh
  scripts/generate-rc-commits.mjs
  yarn.lock
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10321 chore: added isScaled option to BadgeNetwork to allow nonscaled usage
  app/component-library/components/Badges/Badge/__snapshots__/Badge.test.tsx.snap
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.constants.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.stories.tsx
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.styles.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.test.tsx
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.tsx
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.types.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/BadgeNetwork.utils.ts
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/README.md
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/__snapshots__/BadgeNetwork.test.tsx.snap
  app/component-library/components/Badges/BadgeWrapper/__snapshots__/BadgeWrapper.test.tsx.snap
  app/components/UI/ConfirmAddAsset/__snapshots__/ConfirmAddAsset.test.tsx.snap
  app/components/UI/Tabs/TabThumbnail/__snapshots__/TabThumbnail.test.tsx.snap
  app/components/UI/Tabs/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/TypedSign/__snapshots__/index.test.tsx.snap
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#10252 feat: regression label
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/scripts/check-template-and-add-labels.ts
Labels: No QA Needed, team-mobile-platform

#10304 chore: update the 'sendMessage' method in the 'DeeplinkProtocolService' class
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.test.ts
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.ts
Labels: team-sdk, QA Passed, Run Smoke E2E

#10103 feat: update walletconnect se-sdk
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/WalletConnect/WalletConnectV2.ts
  package.json
  yarn.lock
Labels: team-sdk, Code Impact - Medium, Priority - Medium, WalletConnect, Run Smoke E2E

#10332 feat: add notifications controllers v2 - 3/7
  .android.env.example
  .ios.env.example
  .js.env.example
  app/core/Engine.test.js
  app/core/Engine.ts
  app/util/sentry/utils.js
  app/util/test/initial-background-state.json
  babel.config.js
  firebase.json
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#10232 fix: fixes missing analytics data for non-web dapps that don't have a url (no…
  app/components/UI/AccountApproval/index.js
  app/components/UI/AccountApproval/index.test.tsx
Labels: team-sdk, QA Passed, Code Impact - Low, Priority - Medium, WalletConnect, Run Smoke E2E, release-7.28.0

#10337 feat: Replace "Manage in settings" with "No thanks" in the STX Opt In modal, only show the modal for non-zero balances
  app/components/Views/SmartTransactionsOptInModal/SmartTranactionsOptInModal.tsx
  app/components/Views/SmartTransactionsOptInModal/SmartTransactionsOptInModal.test.tsx
  app/components/Views/Wallet/index.tsx
  app/util/onboarding/index.test.ts
  app/util/onboarding/index.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: Run Smoke E2E, team-transactions

#10339 fix: swap quote, gas, other modals closing immediately after open
  app/components/UI/Swaps/QuotesView.js
Labels: team-swaps, Run Smoke E2E

#10343 chore: 7.27.0 version bump 1364
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#10338 feat: add notifications actions selectors - 4/7
  app/actions/notification/constants/index.ts
  app/actions/notification/helpers/index.ts
  app/actions/notification/index.js
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/reducers/notification/index.js
  app/selectors/notifications/index.tsx
  app/util/notifications/constants/config.ts
  app/util/notifications/index.ts
  app/util/notifications/methods/common.ts
  app/util/notifications/methods/index.test.tsx
  app/util/notifications/methods/index.ts
  app/util/notifications/pushPermissions.ts
  index.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#10273 test: e2e Reveal Secret Recovery Phrase Quiz answer confirmation
  app/components/Views/Quiz/QuizContent/QuizContent.tsx
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.tsx
  app/components/Views/Quiz/types.ts
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  e2e/pages/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/pages/modals/SecurityQuizModal.js
  e2e/selectors/Modals/SecurityQuizModal.selectors.js
  e2e/specs/accounts/secret_recovery_phrase_quiz.spec.js
Labels: team-accounts, Run Smoke E2E

#10346 chore: update SRP copy to remove mention of cloud
  locales/languages/en.json
Labels: No QA Needed, team-accounts

#10356 chore: Revert "chore: update Android SDK to API Level 34 "
  android/build.gradle
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: QA Passed, team-mobile-platform, INVALID-PR-TEMPLATE

#9390 feat(ramp): add ramp intent
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/Ramp/Views/GetStarted/GetStarted.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Ramp/Views/OrderDetails/OrderDetails.tsx
  app/components/UI/Ramp/deeplink/handleRampUrl.test.ts
  app/components/UI/Ramp/deeplink/handleRampUrl.ts
  app/components/UI/Ramp/deeplink/handleRedirection.test.ts
  app/components/UI/Ramp/deeplink/handleRedirection.ts
  app/components/UI/Ramp/deeplink/utils/getRedirectPathAndParams.test.ts
  app/components/UI/Ramp/deeplink/utils/getRedirectPathAndParams.ts
  app/components/UI/Ramp/hooks/useCryptoCurrencies.ts
  app/components/UI/Ramp/hooks/useIntentAmount.test.ts
  app/components/UI/Ramp/hooks/useIntentAmount.ts
  app/components/UI/Ramp/routes/utils.ts
  app/components/UI/Ramp/sdk/index.tsx
  app/components/UI/Ramp/types/index.ts
  app/components/UI/Ramp/utils/parseAmount.test.ts
  app/components/UI/Ramp/utils/parseAmount.ts
  app/components/UI/Ramp/utils/parseRampIntent.test.ts
  app/components/UI/Ramp/utils/parseRampIntent.ts
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Tokens/index.tsx
  app/components/Views/ActivityView/index.js
  app/components/Views/Asset/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/components/Views/WalletActions/WalletActions.tsx
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/SendTo/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewInformation/index.js
  app/core/SDKConnect/handlers/handleCustomRpcCalls.ts
  locales/languages/en.json
Labels: needs-dev-review, team-ramp, Run Smoke E2E

#10341 chore: add privacy query params to Portfolio navigation
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
Labels: team-portfolio, Run Smoke E2E

#9744 fix: fix/9350 Use consistent commit hash on Bitrise e2e smoke tests
  bitrise.yml
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#9469 feat: nft + swap metrics
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleModal/CollectibleModal.tsx
  app/components/UI/Swaps/index.js
  app/components/Views/Asset/index.js
  app/components/Views/WalletActions/WalletActions.tsx
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/core/Analytics/MetaMetrics.events.ts
Labels: No QA Needed, team-assets, Run Smoke E2E, needs-assets-ux-review

#10362 fix: transaction cancel speed up modal should disappear after transaction is confirmed
  app/components/UI/Transactions/index.js
Labels: Run Smoke E2E, team-confirmations

#9947 feat: bump `react-native-aes-crypto`
  app/core/Encryptor/Encryptor.test.ts
  app/core/Encryptor/Encryptor.ts
  app/core/Encryptor/constants.ts
  app/core/Encryptor/lib.ts
  ios/Podfile.lock
  package.json
  patches/react-native-aes-crypto+1.3.9.patch
  yarn.lock
Labels: QA Passed, team-accounts, Run Smoke E2E

#10340 chore: refactor notifications utils - 5 of 7
  app/actions/notification/helpers/index.ts
  app/components/UI/Notification/__mocks__/mock_notifications.ts
  app/util/errorHandling/getErrorMessage.test.ts
  app/util/errorHandling/getErrorMessage.ts
  app/util/errorHandling/index.ts
  app/util/notifications/constants/config.ts
  app/util/notifications/constants/index.ts
  app/util/notifications/constants/urls.ts
  app/util/notifications/constants/user-storage.ts
  app/util/notifications/hooks/index.test.ts
  app/util/notifications/hooks/index.ts
  app/util/notifications/hooks/types.ts
  app/util/notifications/hooks/useCreateSession.test.tsx
  app/util/notifications/hooks/useCreateSession.ts
  app/util/notifications/hooks/useNotifications.test.tsx
  app/util/notifications/hooks/useNotifications.ts
  app/util/notifications/hooks/useProfileSyncing.test.tsx
  app/util/notifications/hooks/useProfileSyncing.ts
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/notifications/hooks/useSwitchNotifications.ts
  app/util/notifications/methods/common.ts
  app/util/notifications/notification-states/erc1155-sent-received/erc1155-sent-received.tsx
  app/util/notifications/notification-states/erc20-sent-received/erc20-sent-received.ts
  app/util/notifications/notification-states/erc721-sent-received/erc721-sent-received.tsx
  app/util/notifications/notification-states/eth-sent-received/eth-sent-received.tsx
  app/util/notifications/notification-states/feature-announcement/feature-announcement.tsx
  app/util/notifications/notification-states/index.ts
  app/util/notifications/notification-states/lido-stake-ready-to-be-withdrawn/lido-stake-ready-to-be-withdrawn.tsx
  app/util/notifications/notification-states/lido-withdrawal-requested/lido-withdrawal-requested.tsx
  app/util/notifications/notification-states/node-guard.ts
  app/util/notifications/notification-states/stake/stake.tsx
  app/util/notifications/notification-states/swap-completed/swap-completed.tsx
  app/util/notifications/notification-states/token-amounts.ts
  app/util/notifications/notification-states/types/NotificationMenuItem.ts
  app/util/notifications/notification-states/types/NotificationModalDetails.ts
  app/util/notifications/notification-states/types/NotificationState.ts
  app/util/notifications/types/index.ts
  app/util/notifications/types/userStorage/index.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#9578 feat: type `renderHookWithProvider`
  app/util/test/renderWithProvider.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#10376 test: Update env variables for appium upgrading on bitrise.yml
  bitrise.yml
Labels: team-mobile-platform, Run Smoke E2E

#10365 fix: attribution link
  .github/workflows/update-attributions.yml
  app/components/Views/Settings/AppInformation/index.js
Labels: No QA Needed, team-wallet-framework

#10383 fix: race condition issues when doing batch-rpc calls in the DeeplinkProtocolService
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.ts
Labels: team-sdk, QA Passed, Run Smoke E2E

#10387 test: Add step to close onboarding modals
  app/components/UI/OnboardingWizard/Step1/index.tsx
  app/components/UI/OnboardingWizard/Step2/index.tsx
  app/components/UI/OnboardingWizard/Step4/index.tsx
  app/components/UI/OnboardingWizard/Step6/index.tsx
  app/components/UI/OnboardingWizard/Step7/index.tsx
  e2e/pages/modals/OnboardingWizardModal.js
  e2e/pages/modals/TransactionProtectionModal.js
  e2e/selectors/Modals/TransactionProtectionModal.selectors.js
  wdio/features/Upgrading/ConnectedTestNetwork.feature
  wdio/features/Upgrading/MultipleAccounts.feature
  wdio/screen-objects/CommonScreen.js
  wdio/screen-objects/Modals/ExperienceEnhancerModal.js
  wdio/screen-objects/Modals/OnboardingWizardModal.js
  wdio/screen-objects/Modals/TransactionProtectionModal.js
  wdio/screen-objects/SettingsScreen.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Components/OnboardingWizard.testIds.js
  wdio/step-definitions/common-steps.js
  wdio/step-definitions/onboarding.steps.js
Labels: Appium, team-mobile-platform, Run Smoke E2E

#10363 feat: add notifications UI components to be used by Views
  app/components/Nav/App/index.js
  app/components/UI/Notification/List/__snapshots__/index.test.tsx.snap
  app/components/UI/Notification/List/index.test.tsx
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
  app/components/UI/Notification/List/useStyles.ts
  app/components/UI/Notification/NotificationMenuItem/Content.test.tsx
  app/components/UI/Notification/NotificationMenuItem/Content.tsx
  app/components/UI/Notification/NotificationMenuItem/Icon.test.tsx
  app/components/UI/Notification/NotificationMenuItem/Icon.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.test.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.tsx
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Content.test.tsx.snap
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Icon.test.tsx.snap
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Root.test.tsx.snap
  app/components/UI/Notification/NotificationMenuItem/index.tsx
  app/components/UI/Notification/SwitchLoadingModal/Loader.tsx
  app/components/UI/Notification/SwitchLoadingModal/LoaderModal.tsx
  app/components/UI/Notification/SwitchLoadingModal/SwitchLoadingModal.tsx
  app/components/UI/Notification/SwitchLoadingModal/index.ts
  app/components/UI/ProfileSyncing/ProfileSyncing.styles.ts
  app/components/UI/ProfileSyncing/ProfileSyncing.test.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.types.ts
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.styles.ts
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.test.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/__snapshots__/ProfileSyncingModal.test.tsx.snap
  app/components/UI/ProfileSyncing/__snapshots__/ProfileSyncing.test.tsx.snap
  app/constants/navigation/Routes.ts
  app/util/notifications/methods/common.ts
  app/util/notifications/notification-states/token-amounts.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications

#9589 test(ramp): add `useApplePay` tests
  app/components/UI/Ramp/hooks/useApplePay.test.ts
  app/components/UI/Ramp/hooks/useApplePay.ts
Labels: No QA Needed, needs-dev-review, team-ramp, Run Smoke E2E

#9626 test(ramp): add `useInAppBrowser` tests
  app/components/UI/Ramp/hooks/useInAppBrowser.test.ts
Labels: No QA Needed, team-ramp, Run Smoke E2E

#9579 test(ramp): add `useAnalytics` tests
  app/components/UI/Ramp/hooks/useAnalytics.test.ts
Labels: No QA Needed, team-ramp, Run Smoke E2E

#9582 test(ramp): add `useFiatCurrencies` tests
  app/components/UI/Ramp/hooks/useFiatCurrencies.test.ts
Labels: No QA Needed, team-ramp, Run Smoke E2E

#9580 test(ramp): add `useCryptoCurrencies` tests
  app/components/UI/Ramp/hooks/useCryptoCurrencies.test.ts
Labels: No QA Needed, team-ramp, Run Smoke E2E

#10412 chore: Update BNB logos
  app/images/binance.png
  app/images/bnb-logo.png
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10082 feat: add origin spam modal
  app/components/Nav/App/index.js
  app/components/Views/OriginSpamModal/OriginSpamModal.test.tsx
  app/components/Views/OriginSpamModal/OriginSpamModal.tsx
  app/components/Views/OriginSpamModal/__snapshots__/OriginSpamModal.test.tsx.snap
  app/constants/navigation/Routes.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/spam.test.ts
  app/core/RPCMethods/spam.ts
  app/core/RPCMethods/utils.ts
  app/core/redux/slices/originThrottling/index.test.ts
  app/core/redux/slices/originThrottling/index.ts
  app/reducers/index.ts
  app/util/middlewares.js
  app/util/test/initial-root-state.ts
  locales/languages/en.json
Labels: QA Passed, Run Smoke E2E, team-confirmations

#10409 fix: add events for nft detection
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/core/Analytics/MetaMetrics.events.ts
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10435 fix: update @blockaid/ppom_release package to version 1.5.1
  app/lib/ppom/blockaid-version.js
  ppom/package.json
  ppom/yarn.lock
Labels: Run Smoke E2E, team-confirmations

#10428 chore: create a pipeline that builds all apps (prod, QA) for runway
  bitrise.yml
Labels: No QA Needed, team-mobile-platform

#10350 feat: make add-team-label use the reusable workflow
  .github/scripts/add-team-label.ts
  .github/workflows/add-team-label.yml
  package.json
Labels: No QA Needed, team-extension-platform

#10440 chore: bump @sentry/react-native
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: area-Sentry, team-mobile-platform, Run Smoke E2E

#10443 chore: Cherry pick #10387
  app/components/UI/OnboardingWizard/Step1/index.tsx
  app/components/UI/OnboardingWizard/Step2/index.tsx
  app/components/UI/OnboardingWizard/Step4/index.tsx
  app/components/UI/OnboardingWizard/Step6/index.tsx
  app/components/UI/OnboardingWizard/Step7/index.tsx
  e2e/pages/modals/OnboardingWizardModal.js
  e2e/pages/modals/TransactionProtectionModal.js
  e2e/selectors/Modals/TransactionProtectionModal.selectors.js
  wdio/features/Upgrading/ConnectedTestNetwork.feature
  wdio/features/Upgrading/MultipleAccounts.feature
  wdio/screen-objects/CommonScreen.js
  wdio/screen-objects/Modals/ExperienceEnhancerModal.js
  wdio/screen-objects/Modals/OnboardingWizardModal.js
  wdio/screen-objects/Modals/TransactionProtectionModal.js
  wdio/screen-objects/SettingsScreen.js
  wdio/screen-objects/WalletMainScreen.js
  wdio/screen-objects/testIDs/Components/OnboardingWizard.testIds.js
  wdio/step-definitions/common-steps.js
  wdio/step-definitions/onboarding.steps.js
Labels: No QA Needed, team-mobile-platform

#10380 test: add e2e for imported account being removed and then reimported
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  e2e/fixtures/fixture-builder.js
  e2e/pages/AccountListView.js
  e2e/selectors/AccountListView.selectors.js
  e2e/specs/accounts/imported-account-remove-and-import.spec.js
Labels: needs-dev-review, team-accounts, E2E, Run Smoke E2E

#10373 chore: Migrate default preference to mmkv
  app/components/UI/OnboardingWizard/index.tsx
  app/components/UI/OptinMetrics/index.js
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/hooks/DeleteWallet/useDeleteWallet.test.tsx
  app/core/Analytics/MetaMetrics.test.ts
  app/core/Analytics/MetaMetrics.ts
  app/core/Authentication/Authentication.test.ts
  app/core/ReviewManager.ts
  app/core/SDKConnect/AndroidSDK/addDappConnection.test.ts
  app/core/SDKConnect/AndroidSDK/loadDappConnections.test.ts
  app/core/SDKConnect/ConnectionManagement/approveHost.test.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/invalidateChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/removeAll.test.ts
  app/core/SDKConnect/ConnectionManagement/removeChannel.test.ts
  app/core/SDKConnect/InitializationManagement/asyncInit.test.ts
  app/core/SDKConnect/StateManagement/updateOriginatorInfos.test.ts
  app/selectors/accountsController.test.ts
  app/store/migrations/050.test.ts
  app/store/migrations/050.ts
  app/store/migrations/index.test.ts
  app/store/migrations/index.ts
  app/util/Logger/index.test.ts
  app/util/Logger/index.ts
  app/util/sentry/utils.js
  app/util/test/testSetup.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10459 chore: bump RC3 version to 1370
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#10436 fix: Fix long press login on samsung devices
  app/components/Views/Login/index.js
Labels: team-mobile-platform, Run Smoke E2E

#10251 chore: remove remaining use of Preferences Controller for account information
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.ts
  app/core/NotificationManager.js
  app/core/RPCMethods/wallet_watchAsset.test.ts
  app/core/RPCMethods/wallet_watchAsset.ts
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/AndroidSDK/AndroidService/sendMessage.test.ts
  app/core/SDKConnect/AndroidSDK/AndroidService/sendMessage.ts
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.test.ts
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.test.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.ts
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnectV2.ts
  app/selectors/preferencesController.ts
  app/selectors/smartTransactionsController.test.ts
  app/selectors/smartTransactionsController.ts
  app/util/transactions/index.js
Labels: team-accounts, Run Smoke E2E

#10462 refactor: updated children in bottomsheetheader to be optional
  app/component-library/components/HeaderBase/HeaderBase.types.ts
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#10458 fix: adding new locales for nft-details new page
  locales/languages/en.json
Labels: area-translation, team-assets, Run Smoke E2E, needs-assets-ux-review

#10263 chore: upgrade transaction controller to 35.0.0
  app/actions/transaction/index.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Nav/Main/index.js
  app/components/Nav/Main/index.test.tsx
  app/components/UI/SimulationDetails/SimulationDetails.stories.tsx
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/confirmations/Approval/components/TransactionEditor/index.js
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/ApproveView/Approve/index.js
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/hooks/useApprovalRequest.test.ts
  app/components/Views/confirmations/hooks/useApprovalRequest.ts
  app/components/hooks/useMetrics/useMetrics.ts
  app/core/DeeplinkManager/Handlers/handleEthereumUrl.ts
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/core/ExtendedControllerMessenger.test.ts
  app/core/ExtendedControllerMessenger.ts
  app/core/NotificationManager.js
  app/core/Permissions/index.ts
  app/reducers/transaction/index.js
  app/selectors/confirmTransaction.test.ts
  app/selectors/confirmTransaction.ts
  app/selectors/types.ts
  app/store/migrations/033.test.ts
  app/store/migrations/033.ts
  app/store/migrations/046.test.ts
  app/store/migrations/046.ts
  app/util/confirmation/transactions.test.ts
  app/util/confirmation/transactions.ts
  app/util/conversions.js
  app/util/importAdditionalAccounts.js
  app/util/number/index.js
  app/util/number/index.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
  package.json
  patches/@metamask+approval-controller+3.5.2.patch
  patches/@metamask+approval-controller+7.0.1.patch
  patches/@metamask+nonce-tracker+5.0.0.patch
  patches/@metamask+rpc-errors+6.2.1.patch
  patches/@metamask+rpc-errors+6.3.1.patch
  patches/@metamask+transaction-controller+13.0.0.patch
  patches/@metamask+transaction-controller+35.0.0.patch
  patches/ethjs++ethjs-contract+0.2.2.patch
  patches/ethjs++ethjs-query+0.3.7.patch
  patches/ethjs-contract+0.2.3.patch
  patches/ethjs-query+0.3.8.patch
  scripts/patch-approval-controller.sh
  scripts/patch-transaction-controller.sh
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-confirmations

#10372 chore: refactor async-storage-wrapper to MMKV-wrapper
  app/components/Nav/App/index.js
  app/components/UI/OnboardingWizard/index.tsx
  app/components/UI/OptinMetrics/index.js
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/Login/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/OnboardingSuccess/index.tsx
  app/components/Views/ResetPassword/index.js
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/Settings/SecuritySettings/Sections/LoginOptionsSettings.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/SmartTransactionsOptInModal/SmartTranactionsOptInModal.tsx
  app/components/Views/SmartTransactionsOptInModal/SmartTransactionsOptInModal.test.tsx
  app/components/Views/WalletConnectSessions/index.js
  app/components/Views/WalletConnectSessions/index.test.tsx
  app/components/hooks/DeleteWallet/useDeleteWallet.test.tsx
  app/components/hooks/DeleteWallet/useDeleteWallet.ts
  app/core/Analytics/MetaMetrics.test.ts
  app/core/Analytics/MetaMetrics.ts
  app/core/Authentication/Authentication.test.ts
  app/core/Authentication/Authentication.ts
  app/core/ReviewManager.ts
  app/core/SDKConnect/AndroidSDK/addDappConnection.test.ts
  app/core/SDKConnect/AndroidSDK/loadDappConnections.test.ts
  app/core/SDKConnect/ConnectionManagement/approveHost.test.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/invalidateChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/removeAll.test.ts
  app/core/SDKConnect/ConnectionManagement/removeChannel.test.ts
  app/core/SDKConnect/InitializationManagement/asyncInit.test.ts
  app/core/SDKConnect/StateManagement/updateOriginatorInfos.test.ts
  app/core/SecureKeychain.js
  app/core/WalletConnect/WalletConnect.js
  app/core/WalletConnect/WalletConnectV2.ts
  app/selectors/accountsController.test.ts
  app/store/migrations/050.test.ts
  app/store/migrations/050.ts
  app/store/persistConfig.ts
  app/store/storage-wrapper.js
  app/util/Logger/index.test.ts
  app/util/Logger/index.ts
  app/util/authentication/updateAuthTypeStorageFlags.ts
  app/util/onboarding/index.test.ts
  app/util/onboarding/index.ts
  app/util/sentry/utils.js
  app/util/termsOfUse/termsOfUse.ts
  app/util/test/testSetup.js
  locales/i18n.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10463 fix: useAddressBalance hook selectors warning
  app/components/hooks/useAddressBalance/useAddressBalance.ts
Labels: team-mobile-platform, Run Smoke E2E

#10444 fix: Transform of redux persist, persisting unneeded data to storage
  app/core/SDKConnect/utils/wait.util.ts
  app/reducers/index.ts
  app/reducers/user/index.ts
  app/store/migrations/023.test.js
  app/store/persistConfig.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/UserProfileAnalyticsMetaData.types.ts
  app/util/test/initial-root-state.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10381 fix: check navigator availability before initializing the 'DeeplinkManager'
  app/components/Nav/App/index.js
Labels: team-sdk, Run Smoke E2E

#10467 fix: Audit issue xml parser
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E

#10466 chore: Fix long press login on samsung devices (cherry-pick) (#10436)
  app/components/Views/Login/index.js
Labels: No QA Needed, team-mobile-platform

#10407 chore: Snaps and Accounts selectors usage
  app/components/Views/SDK/SDKSessionModal/SDKSessionModal.tsx
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/Contacts/index.js
  app/components/Views/Snaps/SnapSettings/SnapSettings.tsx
  app/components/Views/Snaps/SnapsSettingsList/SnapsSettingsList.tsx
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10430 feat: v7.27.1
  CHANGELOG.md
  android/app/build.gradle
  app/util/test/initial-background-state.json
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: QA Passed, team-mobile-platform

#10487 test: Disable flakey portfolio test
  e2e/specs/browser/browser-tests.spec.js
  e2e/specs/quarantine/portfolio-connect-account.failing.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10303 fix: page navigation during QR accounts selection
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/Views/ConnectQRHardware/Instruction/index.tsx
  app/components/Views/ConnectQRHardware/__snapshots__/index.test.tsx.snap
  app/components/Views/ConnectQRHardware/index.test.tsx
  app/components/Views/ConnectQRHardware/index.tsx
  app/components/Views/LedgerSelectAccount/index.tsx
  app/constants/pagination.ts
  app/core/Ledger/Ledger.test.ts
  app/core/Ledger/Ledger.ts
  wdio/screen-objects/testIDs/Components/AccountSelector.testIds.js
  wdio/screen-objects/testIDs/Components/ConnectQRHardware.testIds.js
Labels: QA Passed, needs-dev-review, team-accounts, team-hardware-wallets, Run Smoke E2E

#10397 chore: selectors confirmations dir
  app/components/Views/SDK/SDKSessionModal/SDKSessionModal.tsx
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/Contacts/index.js
  app/components/Views/Snaps/SnapSettings/SnapSettings.tsx
  app/components/Views/Snaps/SnapsSettingsList/SnapsSettingsList.tsx
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/ApproveView/Approve/index.js
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.tsx
  app/components/Views/confirmations/SendFlow/Confirm/components/CustomGasModal/CustomGasModal.tsx
  app/components/Views/confirmations/SendFlow/SendTo/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/index.tsx
  app/components/hooks/useHideFiatForTestnet/index.test.ts
  app/components/hooks/useHideFiatForTestnet/index.ts
  app/selectors/addressBookController.test.ts
  app/selectors/addressBookController.ts
  app/selectors/gasFeeController.ts
  app/selectors/settings.test.ts
  app/selectors/settings.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10408 chore: create and use selectors of swaps and ramp directories
  app/components/UI/Ramp/hooks/useGasPriceEstimation.ts
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/ApprovalTransactionEditionModal.js
  app/components/UI/Swaps/components/QuotesModal.js
  app/reducers/swaps/index.js
  app/selectors/gasFeeController.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10456 feat: add notifications list screen
  app/actions/notification/helpers/index.ts
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Notification/SwitchLoadingModal/Loader.tsx
  app/components/Views/Notifications/OptIn/index.tsx
  app/components/Views/Notifications/index.tsx
  app/components/Views/Notifications/styles.ts
  app/core/EngineService/EngineService.test.ts
  app/core/EngineService/EngineService.ts
  app/selectors/notifications/index.tsx
  locales/languages/en.json
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#10488 fix: security and privacy toggle paddings
  app/components/Views/Settings/SecuritySettings/Sections/LoginOptionsSettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
Labels: team-accounts, Run Smoke E2E

#10474 feat: add the multchain v1 feature flag
  app/util/networks/index.js
  bitrise.yml
Labels: No QA Needed, team-wallet-ux

#10509 chore: cherry-pick 7.27.1 release
  CHANGELOG.md
  android/app/build.gradle
  app/util/test/initial-background-state.json
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform, Run Smoke E2E

#10452 chore: fix pod install on linux
  patches/react-native+0.72.15.patch
Labels: No QA Needed, team-mobile-platform

#10481 fix: Added parse errors to be caught on vault corruption flow
  app/components/Views/Login/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10451 feat: add notifications' details screen
  app/components/Views/Notifications/Details/Badge/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/Details/Badge/index.test.tsx
  app/components/Views/Notifications/Details/Badge/index.tsx
  app/components/Views/Notifications/Details/Fields/AddressField.tsx
  app/components/Views/Notifications/Details/Fields/AnnouncementDescriptionField.tsx
  app/components/Views/Notifications/Details/Fields/AssetField.tsx
  app/components/Views/Notifications/Details/Fields/NFTCollectionField.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/NetworkField.tsx
  app/components/Views/Notifications/Details/Fields/StakingProviderField.tsx
  app/components/Views/Notifications/Details/Fields/SwapsRateField.tsx
  app/components/Views/Notifications/Details/Fields/TransactionField.tsx
  app/components/Views/Notifications/Details/Fields/index.tsx
  app/components/Views/Notifications/Details/Footers/AnnouncementCtaFooter.tsx
  app/components/Views/Notifications/Details/Footers/BlockExplorerFooter.tsx
  app/components/Views/Notifications/Details/Footers/index.tsx
  app/components/Views/Notifications/Details/Headers/AnnouncementImageHeader.tsx
  app/components/Views/Notifications/Details/Headers/NFTImageHeader.tsx
  app/components/Views/Notifications/Details/Headers/index.tsx
  app/components/Views/Notifications/Details/Title/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/Details/Title/index.test.tsx
  app/components/Views/Notifications/Details/Title/index.tsx
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/Details/hooks/useCopyClipboard.ts
  app/components/Views/Notifications/Details/index.test.tsx
  app/components/Views/Notifications/Details/index.tsx
  app/components/Views/Notifications/Details/styles.ts
  app/components/Views/Notifications/Details/useStyles.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#10417 chore: Dapp protocol qr code scanning
  app/components/Views/QRScanner/index.tsx
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10450 test: add e2e to edit account name
  app/components/Views/EditAccountName/EditAccountName.test.tsx
  app/components/Views/EditAccountName/EditAccountName.tsx
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
  e2e/pages/EditAccountNameView.js
  e2e/pages/modals/AccountActionsModal.js
  e2e/pages/wallet/WalletView.js
  e2e/selectors/EditAccountName.selectors.js
  e2e/specs/accounts/change-account-name.spec.js
Labels: needs-dev-review, team-accounts, E2E, Run Smoke E2E

#10511 fix: crash on reload fix by patch
  patches/react-native+0.72.15.patch
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10508 chore: abort on fail smoke e2e pipeline
  bitrise.yml
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E
