Repository MetaMask/metamask-mobile, pull requests merged in 2024-11, with the labels that each got.

#12135 test: Move files to Settings folder
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.tsx
  app/components/Views/Settings/AdvancedSettings/FiatOnTestnetsFriction/FiatOnTestnetsFriction.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ClearCookiesSection.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  e2e/pages/Settings/Advanced/FiatOnTestnetsBottomSheet.js
  e2e/pages/Settings/Contacts/DeleteContactBottomSheet.js
  e2e/pages/Settings/SecurityAndPrivacy/AutoLockModal.js
  e2e/pages/Settings/SecurityAndPrivacy/DeleteWalletModal.js
  e2e/pages/Settings/SecurityAndPrivacy/SrpQuizModal.js
  e2e/pages/modals/DeleteContactModal.js
  e2e/pages/modals/FiatOnTestnetsModal.js
  e2e/selectors/Settings/Advanced/FiatOnTestnetsBottomSheet.selectors.js
  e2e/selectors/Settings/Contacts/DeleteContactBottomSheet.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/AutoLockModal.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/ClearCookiesSection.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/DeleteWalletModal.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/SrpQuizModal.selectors.js
  e2e/specs/accounts/auto-lock.spec.js
  e2e/specs/accounts/reveal-secret-recovery-phrase.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/settings/addressbook-tests.spec.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/specs/settings/fiat-on-testnets.spec.js
Labels: team-mobile-platform, Run Smoke E2E, Detox, area-qa

#11190 feat(NOTIFY-1096): add account syncing
  app/actions/notification/helpers/index.ts
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Engine.ts
  app/util/notifications/hooks/useAccountSyncing.test.tsx
  app/util/notifications/hooks/useAccountSyncing.ts
  app/util/notifications/hooks/useProfileSyncing.ts
  bitrise.yml
  e2e/fixtures/fixture-builder.js
  e2e/pages/AccountListView.js
  e2e/pages/modals/AccountActionsModal.js
  e2e/specs/notifications/account-syncing/mockData.js
  e2e/specs/notifications/account-syncing/sync-after-adding-custom-name-account.spec.js
  e2e/specs/notifications/account-syncing/sync-after-onboarding.spec.js
  e2e/specs/notifications/utils/constants.js
  e2e/specs/notifications/utils/helpers.js
  e2e/specs/notifications/utils/mocks.js
  e2e/specs/notifications/utils/user-storage/userStorageMockttpController.js
  e2e/specs/notifications/utils/user-storage/userStorageMockttpController.test.js
  e2e/tags.js
  e2e/viewHelper.js
  package.json
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-notifications

#12116 chore: upgrade assets-controllers to v38
  app/core/Engine.ts
  package.json
  patches/@metamask+assets-controllers+37.0.0.patch
  patches/@metamask+assets-controllers+38.3.0.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E

#11963 feat(2808): edit network permissions
  app/components/UI/NetworkSelectorList/NetworkSelectorList.styles.ts
  app/components/UI/NetworkSelectorList/NetworkSelectorList.tsx
  app/components/UI/NetworkSelectorList/NetworkSelectorList.types.ts
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.types.ts
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.types.ts
  app/core/RPCMethods/lib/ethereum-chain-utils.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/selectors/networkController.ts
  locales/languages/en.json
  sonar-project.properties
Labels: Run Smoke E2E, team-wallet-ux

#12138 feat: update staking eligibility and unstaking time details
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/__snapshots__/StakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/Views/UnstakeConfirmationView/UnstakeConfirmationView.tsx
  app/components/UI/Stake/Views/UnstakeConfirmationView/__snapshots__/UnstakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/components/LearnMoreModal/__snapshots__/LearnMoreModal.test.tsx.snap
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/UnstakeBanner/utils/index.test.ts
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
  app/components/UI/Stake/components/StakingConfirmation/UnstakeTimeCard/UnstakeTimeCard.test.tsx
  app/components/UI/Stake/components/StakingConfirmation/UnstakeTimeCard/UnstakeTimeCard.tsx
  app/components/UI/Stake/components/StakingConfirmation/UnstakeTimeCard/__snapshots__/UnstakeTimeCard.test.tsx.snap
  app/components/UI/Stake/components/StakingEarnings/index.tsx
  locales/languages/en.json
Labels: team-stake, Run Smoke E2E

#12147 chore: bump rpc-errors
  babel.config.js
  package.json
  patches/@metamask+rpc-errors+6.3.1.patch
  patches/@metamask+rpc-errors+6.4.0.patch
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#11958 fix: update default search engine to google
  app/components/Views/Settings/GeneralSettings/index.js
  app/components/Views/Settings/GeneralSettings/index.test.tsx
  app/components/Views/Settings/index.test.tsx
  app/core/AppConstants.ts
  app/store/migrations/058.test.ts
  app/store/migrations/058.ts
  app/store/migrations/index.ts
  app/store/migrations/util/index.tsx
  app/util/sentry/__snapshots__/utils.test.ts.snap
  app/util/sentry/utils.test.ts
  e2e/fixtures/fixture-builder.js
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-product-safety

#12028 chore: bump package versions - 1/3
  app/components/UI/Notification/List/__snapshots__/index.test.tsx.snap
  app/components/UI/Notification/List/index.test.tsx
  app/components/UI/Notification/List/index.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.test.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/TransactionField.test.tsx
  app/components/Views/Notifications/Details/Fields/TransactionField.tsx
  app/components/Views/Notifications/Details/Fields/__snapshots__/NetworkFeeField.test.tsx.snap
  app/components/Views/Notifications/Details/Footers/BlockExplorerFooter.test.tsx
  app/components/Views/Notifications/Details/Footers/BlockExplorerFooter.tsx
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/Details/index.test.tsx
  app/components/Views/Notifications/Details/index.tsx
  app/util/notifications/constants/triggers.ts
  app/util/notifications/notification-states/index.test.tsx
  app/util/notifications/notification-states/index.ts
  app/util/notifications/notification-states/node-guard.test.ts
  app/util/notifications/notification-states/node-guard.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications

#12020 feat: v7.33.1
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: team-mobile-platform, Run Smoke E2E, release-7.33.1

#12045 feat: refactor engine helpers to handle push notifications - 2/3
  app/actions/notification/helpers/index.test.tsx
  app/actions/notification/helpers/index.ts
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/util/notifications/hooks/useNotifications.ts
  app/util/notifications/hooks/usePushNotifications.ts
  app/util/notifications/methods/common.test.ts
  app/util/notifications/methods/common.ts
  app/util/test/initial-background-state.json
  app/util/test/testSetup.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#12151 feat: v7.33.2
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: team-mobile-platform, Run Smoke E2E

#12110 feat: display staking transaction methods
  app/components/UI/Stake/hooks/usePoolStakedClaim/index.ts
  app/components/UI/Stake/hooks/usePoolStakedDeposit/index.ts
  app/components/UI/Stake/hooks/usePoolStakedUnstake/index.ts
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#12164 chore(runway): cherry-pick 23d311ca48e273c3aa2a63532ee881cf5fa75200
  .nvmrc
  app/components/Nav/App/index.js
  app/components/Views/ChangeInSimulationModal/ChangeInSimulationModal.test.tsx
  app/components/Views/ChangeInSimulationModal/ChangeInSimulationModal.tsx
  app/components/Views/ChangeInSimulationModal/__snapshots__/ChangeInSimulationModal.test.tsx.snap
  app/components/Views/confirmations/Approval/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/Approval/index.test.tsx
  app/components/Views/confirmations/ApproveView/Approve/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/constants/navigation/Routes.ts
  app/core/Engine.ts
  app/util/smart-transactions/smart-publish-hook.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E, team-confirmations, skip-sonar-cloud

#12166 fix: remove SmokeNotifications tests for android on smoke tests pipeline
  bitrise.yml
Labels: No QA Needed, E2E, team-mobile-platform

#12161 chore: bump `@metamask/assets-controllers` to `^39.0.0`
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/core/Engine.ts
  package.json
  patches/@metamask+assets-controllers+39.0.0.patch
  yarn.lock
Labels: team-wallet-framework, team-assets, Run Smoke E2E

#12100 fix: hide internal transaction origins in confirmation views
  app/components/UI/AccountApproval/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionHeader/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionHeader/index.js
  app/components/UI/TransactionHeader/index.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/constants/transaction.ts
  e2e/selectors/TransactionReview.selectors.js
Labels: Run Smoke E2E, team-confirmations

#12144 feat: add staking events
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/components/LearnMoreModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/StakingCta.tsx
  app/components/UI/Stake/hooks/useInputHandler.ts
  app/core/Analytics/MetaMetrics.events.ts
Labels: needs-dev-review, team-stake, INVALID-PR-TEMPLATE, Run Smoke E2E

#12175 chore: cicd - propagate changes to release pr from scripts
  scripts/create-release-pr.sh
Labels: No QA Needed, team-dev-ops

#12192 chore: fix release pr fixes
  scripts/create-release-pr.sh
Labels: No QA Needed, team-dev-ops

#12177 fix: Create migration 59 to fix undefined selectedAccount
  app/store/migrations/059.test.ts
  app/store/migrations/059.ts
  app/store/migrations/index.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#12194 chore: cicd error handling
  .github/workflows/create-release-pr.yml
  scripts/create-release-pr.sh
Labels: No QA Needed, team-dev-ops

#11658 chore: 8618 reduce enzyme usage in unit test by 25
  app/actions/onboarding/index.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarIcon/AvatarIcon.test.tsx
  app/component-library/components/Avatars/Avatar/variants/AvatarIcon/__snapshots__/AvatarIcon.test.tsx.snap
  app/component-library/components/Buttons/Button/variants/ButtonLink/ButtonLink.test.tsx
  app/component-library/components/Buttons/Button/variants/ButtonLink/__snapshots__/ButtonLink.test.tsx.snap
  app/components/Approvals/ApprovalModal/ApprovalModal.test.tsx
  app/components/Approvals/ApprovalModal/__snapshots__/ApprovalModal.test.tsx.snap
  app/components/UI/AnimatedTransactionModal/__snapshots__/index.test.tsx.snap
  app/components/UI/AnimatedTransactionModal/index.test.tsx
  app/components/UI/AssetList/index.test.tsx
  app/components/UI/BlockingActionModal/__snapshots__/index.test.tsx.snap
  app/components/UI/BlockingActionModal/index.test.tsx
  app/components/UI/PaymentRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/PaymentRequest/index.test.tsx
  app/components/UI/ReusableModal/__snapshots__/index.test.tsx.snap
  app/components/UI/ReusableModal/index.test.tsx
  app/components/UI/Screen/index.test.tsx
  app/components/UI/SliderButton/__snapshots__/index.test.tsx.snap
  app/components/UI/SliderButton/index.test.tsx
  app/components/UI/SlippageSlider/__snapshots__/index.test.tsx.snap
  app/components/UI/SlippageSlider/index.test.tsx
  app/components/UI/Swaps/components/InfoModal.tsx
  app/components/UI/WarningAlert/WarningAlert.test.tsx
  app/components/UI/WarningAlert/__snapshots__/WarningAlert.test.tsx.snap
  app/components/UI/WhatsNewModal/__snapshots__/index.test.tsx.snap
  app/components/UI/WhatsNewModal/index.test.tsx
  app/components/Views/AddBookmark/__snapshots__/index.test.tsx.snap
  app/components/Views/AddBookmark/index.test.tsx
  app/components/Views/EnterPasswordSimple/__snapshots__/index.test.tsx.snap
  app/components/Views/EnterPasswordSimple/index.test.tsx
  app/components/Views/NavigationUnitTest/index.js
  app/components/Views/PickComponent/__snapshots__/index.test.tsx.snap
  app/components/Views/PickComponent/index.test.tsx
  app/components/Views/ResetPassword/index.js
  app/components/Views/TransactionsView/__snapshots__/index.test.js.snap
  app/components/Views/TransactionsView/index.test.js
  app/core/SDKConnect/handlers/handleConnectionReady.test.ts
  app/selectors/preferencesController.ts
  app/util/notifications/services/NotificationService.test.ts
  app/util/smart-transactions/index.test.ts
  app/util/smart-transactions/index.ts
Labels: team-mobile-platform, Run Smoke E2E

#12186 feat (cherry-pick): display staking transaction methods (#12110)
  app/components/UI/Stake/hooks/usePoolStakedClaim/index.ts
  app/components/UI/Stake/hooks/usePoolStakedDeposit/index.ts
  app/components/UI/Stake/hooks/usePoolStakedUnstake/index.ts
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#11996 chore: upgrade signature controller to remove global network
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#12104 style: remove tilde from swap return value
  app/components/UI/Swaps/QuotesView.js
Labels: No QA Needed, team-swaps

#12197 fix: E2E: quarantine import-wallet-account tests
  e2e/specs/quarantine/import-wallet-account.failing.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#12085 fix: @metamask/providers@16, @metamask/json-rpc-middleware-stream@8
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Snaps/SnapBridge.ts
  package.json
  yarn.lock
Labels: dependencies, team-security, Run Smoke E2E, team-snaps-platform

#12209 chore: Modify gitignore to include generated ios/plist files
  .gitignore
Labels: No QA Needed, team-assets

#12077 chore: refactor methods/add FCM Services 3/3
  app/selectors/notifications/index.tsx
  app/util/notifications/androidChannels.test.ts
  app/util/notifications/androidChannels.ts
  app/util/notifications/methods/common.test.ts
  app/util/notifications/methods/fcmHelper.test.ts
  app/util/notifications/methods/fcmHelper.ts
  app/util/notifications/methods/index.ts
  app/util/notifications/services/FCMService.test.ts
  app/util/notifications/services/FCMService.ts
  app/util/notifications/settings/storage/constants.ts
  app/util/notifications/settings/storage/contants.test.ts
Labels: needs-dev-review, Run Smoke E2E, team-notifications, team-snaps-platform

#12210 chore: disable pooled staking feature flag
  bitrise.yml
Labels: team-stake, Run Smoke E2E

#12170 chore: extend dsl component functionality
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.stories.tsx
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.styles.ts
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.tsx
  app/component-library/components-temp/CellSelectWithMenu/__snapshots__/CellSelectWithMenu.test.tsx.snap
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.stories.tsx
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.styles.ts
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.tsx
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.types.ts
  app/component-library/components-temp/ListItemMultiSelectButton/__snapshots__/ListItemMultiSelectButton.test.tsx.snap
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.types.ts
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  e2e/selectors/Modals/CellModal.selectors.js
Labels: team-design-system, Run Smoke E2E, team-wallet-ux

#12217 fix: e2e: use different wallet SRP for non accounts tests
  e2e/specs/accounts/import-wallet-account.spec.js
  e2e/specs/wallet/send-ERC-token.spec.js
Labels: E2E, team-mobile-platform, Run Smoke E2E

#12205 fix: add contractBalances as dependency
  app/components/Views/Wallet/index.tsx
Labels: Sev1-high, team-assets, Run Smoke E2E, needs-assets-ux-review

#12188 fix (cherry-pick): hide internal transaction origins in confirmation views (#12100)
  app/components/UI/AccountApproval/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionHeader/__snapshots__/index.test.tsx.snap
  app/components/UI/TransactionHeader/index.js
  app/components/UI/TransactionHeader/index.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/constants/transaction.ts
  e2e/selectors/TransactionReview.selectors.js
Labels: team-confirmations

#12120 fix: Onboarding failing biometrics locks screen for user instead of disabling biometrics and continuing with the onboarding
  app/core/SecureKeychain.js
  app/core/SecureKeychain.test.ts
Labels: team-mobile-platform, Run Smoke E2E

#12226 fix: total balance render
  app/components/Views/Wallet/index.tsx
Labels: team-assets, Run Smoke E2E

#11693 fix: relax network symbol length validation
  app/core/RPCMethods/lib/ethereum-chain-utils.js
Labels: team-assets, Run Smoke E2E

#12214 chore: notifications UI update to use FCM services
  app/components/UI/Notification/BaseNotification/__snapshots__/index.test.jsx.snap
  app/components/UI/Notification/BaseNotification/index.js
  app/components/UI/Notification/BaseNotification/index.test.jsx
  app/core/NotificationManager.js
  app/core/NotificationsManager.test.ts
  app/util/notifications/hooks/index.test.ts
  app/util/notifications/hooks/index.test.tsx
  app/util/notifications/hooks/index.ts
  app/util/notifications/services/NotificationService.test.ts
  app/util/notifications/services/NotificationService.ts
  app/util/notifications/types/notification/index.ts
  locales/languages/en.json
Labels: team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#12228 fix: Update `transaction-controller` version
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#12233 chore: Cherry pick fde99ea
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, team-confirmations

#12231 fix: added ScrollView to stake confirmation review screen
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.styles.ts
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/__snapshots__/StakeConfirmationView.test.tsx.snap
Labels: team-stake, Run Smoke E2E

#12236 fix: Add migration to fix NotificationServicesController bug
  app/store/migrations/058.test.ts
  app/store/migrations/058.ts
  app/store/migrations/index.ts
  app/util/sentry/tags/index.ts
Labels: team-mobile-platform, Run Smoke E2E

#11511 feat: display snap name
  app/component-library/components-temp/Accounts/AccountBase/AccountBase.tsx
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  app/components/UI/AccountApproval/index.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountInfoCard/index.js
  app/components/UI/AccountInfoCard/index.test.tsx
  app/components/UI/AccountOverview/index.js
  app/components/UI/AccountOverview/index.test.tsx
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/AddressInputs/index.js
  app/components/UI/DrawerView/index.js
  app/components/UI/DrawerView/index.test.tsx
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/Views/AccountConnect/AccountConnectSingle/AccountConnectSingle.tsx
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/Send/index.test.tsx
  app/components/Views/confirmations/SendFlow/AddressElement/AddressElement.styles.ts
  app/components/Views/confirmations/SendFlow/AddressElement/AddressElement.test.tsx
  app/components/Views/confirmations/SendFlow/AddressElement/AddressElement.tsx
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/index.test.tsx
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/components/Views/confirmations/components/TypedSign/index.test.tsx
  app/util/address/index.test.ts
  app/util/address/index.ts
  app/util/test/accountsControllerTestUtils.ts
  app/util/test/keyringControllerTestUtils.ts
Labels: area-UI, team-accounts, mobile-snaps, external-contributor, INVALID-PR-TEMPLATE, Run Smoke E2E

#11590 feat(2796): permission settings replace some of the mock data by real data
  app/components/Nav/App/index.js
  app/components/UI/PermissionsSummary/PermissionsSummary.styles.ts
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/AccountPermissionsConfirmRevokeAll.tsx
  app/components/Views/AccountPermissions/ConnectionDetails/ConnectionDetails.styles.ts
  app/components/Views/AccountPermissions/ConnectionDetails/ConnectionDetails.tsx
  app/components/Views/AccountPermissions/ConnectionDetails/index.ts
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.tsx
  app/components/Views/Settings/PermissionsSettings/PermissionItem/PermissionItem.tsx
  app/components/Views/Settings/PermissionsSettings/PermissionItem/__snapshots__/PermissionItem.test.tsx.snap
  app/components/Views/Settings/PermissionsSettings/PermissionsManager.tsx
  app/constants/navigation/Routes.ts
  e2e/selectors/Settings/SDK.selectors.js
  locales/languages/en.json
  sonar-project.properties
Labels: Run Smoke E2E, team-wallet-ux

#12121 chore: udpate LSMinimumSystemVersion
  ios/MetaMask/Info.plist
Labels: team-mobile-platform, Run Smoke E2E, release-7.35.0

#12232 fix: e2e re-enable notifications android workflow
  bitrise.yml
  e2e/pages/AccountListView.js
  e2e/specs/notifications/account-syncing/sync-after-adding-custom-name-account.spec.js
  e2e/specs/notifications/account-syncing/sync-after-onboarding.spec.js
Labels: No QA Needed, E2E, team-mobile-platform, Run Smoke E2E

#12178 chore: upgrade assets-controllers to v41
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/core/Engine.ts
  app/util/networks/handleNetworkSwitch.test.ts
  app/util/networks/handleNetworkSwitch.ts
  package.json
  patches/@metamask+assets-controllers+41.0.0.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#12249 fix: Kylan/7.35.0 e446dc1 cherry pick
  app/components/Views/Wallet/index.tsx
Labels: Run Smoke E2E

#11763 feat(3448): header update
  app/component-library/components/Pickers/PickerAccount/PickerAccount.styles.ts
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  app/component-library/components/Pickers/PickerAccount/__snapshots__/PickerAccount.test.tsx.snap
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.test.tsx
  app/component-library/components/Pickers/PickerNetwork/PickerNetwork.tsx
  app/component-library/components/Pickers/PickerNetwork/__snapshots__/PickerNetwork.test.tsx.snap
  app/components/Nav/App/index.js
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/AddressCopy/AddressCopy.styles.ts
  app/components/UI/AddressCopy/AddressCopy.tsx
  app/components/UI/AddressCopy/AddressCopy.types.ts
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.test.tsx
  app/components/UI/ManageNetworks/__snapshots__/ManageNetworks.test.js.snap
  app/components/UI/Navbar/index.js
  app/components/UI/NetworkModal/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/Views/EditAccountName/EditAccountName.test.tsx
  app/components/Views/EditAccountName/EditAccountName.tsx
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
  app/components/Views/OnboardingSuccess/OnboardingGeneralSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
  app/components/Views/RevealPrivateCredential/index.test.tsx
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/components/hooks/useAccountName.test.ts
  app/components/hooks/useAccountName.ts
  e2e/pages/AccountListView.js
  e2e/pages/wallet/WalletView.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/accounts/change-account-name.spec.js
  e2e/specs/accounts/imported-account-remove-and-import.spec.js
  e2e/specs/accounts/reveal-private-key.spec.js
  e2e/specs/networks/add-custom-rpc.spec.js
  e2e/specs/networks/connect-test-network.spec.js
  e2e/specs/notifications/account-syncing/sync-after-adding-custom-name-account.spec.js
  e2e/utils/Assertions.js
Labels: Run Smoke E2E, team-wallet-ux, team-ai

#12015 feat: 1957 crash screen redesign
  app/components/Views/ErrorBoundary/index.js
  app/components/Views/ErrorBoundary/warning-icon.png
  app/components/Views/Login/__snapshots__/index.test.tsx.snap
  locales/languages/en.json
Labels: design-review, needs-dev-review, team-mobile-platform, Run Smoke E2E

#12235 fix: privacy mode is enabled in account selector by params
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.types.ts
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/Views/AccountSelector/AccountSelector.test.tsx
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/AccountSelector/AccountSelector.types.ts
  app/components/Views/AccountSelector/__snapshots__/AccountSelector.test.tsx.snap
Labels: team-mobile-platform, Run Smoke E2E, team-wallet-ux

#12171 feat: multichain polling hook
  app/components/hooks/usePolling.test.ts
  app/components/hooks/usePolling.ts
Labels: No QA Needed, team-assets

#12174 chore: Remove navigation instrumentation
  app/components/Nav/App/index.js
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/Login/index.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Onboarding/index.js
  app/components/Views/Onboarding/index.test.tsx
  app/core/Authentication/Authentication.ts
  app/core/EngineService/EngineService.ts
  app/core/Performance/Performance.ts
  app/core/Performance/UIStartup.test.ts
  app/core/Performance/UIStartup.ts
  app/store/index.ts
  app/util/sentry/tags/index.ts
  app/util/sentry/utils.js
  app/util/trace.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-tiger

#12255 fix: fix displayed selected rpc for linea
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: team-assets, Run Smoke E2E

#12168 feat(2808): improvements-and-small-features-and-small-fixes-that-still-needed-to-be-added-to-edit-permissions
  app/components/UI/PermissionsSummary/PermissionsSummary.styles.ts
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.tsx
  app/components/UI/Tabs/TabThumbnail/__snapshots__/TabThumbnail.test.tsx.snap
  app/components/UI/Tabs/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.styles.ts
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.styles.ts
  sonar-project.properties
Labels: Run Smoke E2E, team-wallet-ux

#12203 chore: cherry pick staking analytics
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/components/LearnMoreModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/StakingCta.tsx
  app/components/UI/Stake/hooks/useInputHandler.ts
  app/core/Analytics/MetaMetrics.events.ts
Labels: team-stake, INVALID-PR-TEMPLATE, release-7.35.0

#12191 feat(2796): add a feature flag specific to the settings, it shows and hide then permission management list item in the list of settings
  .js.env.example
  app/components/Views/Settings/index.tsx
  app/util/networks/index.js
  bitrise.yml
Labels: Run Smoke E2E, team-wallet-ux

#12247 feat: update input colors and text formatting
  app/components/UI/Stake/Views/StakeInputView/__snapshots__/StakeInputView.test.tsx.snap
  app/components/UI/Stake/Views/UnstakeInputView/__snapshots__/UnstakeInputView.test.tsx.snap
  app/components/UI/Stake/components/InputDisplay.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/StakingCta.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/__snapshots__/StakingCta.test.tsx.snap
  locales/languages/en.json
Labels: team-stake, Run Smoke E2E

#12237 chore: Remove GoogleService files from git cache
  README.md
  ios/GoogleService-Info.plist
  ios/GoogleServices/GoogleService-Info.plist
Labels: No QA Needed, team-assets

#12261 feat: conditionally display stake/earn text based on pooled staking feature flag
  app/components/UI/Stake/components/StakeButton/index.tsx
Labels: team-stake, Run Smoke E2E

#12263 feat: conditionally display stake/earn text based on pooled staking feature flag (#12261)
  app/components/UI/Stake/components/StakeButton/index.tsx
Labels: team-stake, INVALID-PR-TEMPLATE, Run Smoke E2E

#11808 feat: Token Network Filter UI [Mobile]
  app/components/Nav/App/index.js
  app/components/UI/Tokens/TokensBottomSheet/TokenFilterBottomSheet.test.tsx
  app/components/UI/Tokens/TokensBottomSheet/TokenFilterBottomSheet.tsx
  app/components/UI/Tokens/TokensBottomSheet/TokenSortBottomSheet.test.tsx
  app/components/UI/Tokens/TokensBottomSheet/TokenSortBottomSheet.tsx
  app/components/UI/Tokens/TokensBottomSheet/index.ts
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/styles.ts
  app/constants/navigation/Routes.ts
  app/selectors/preferencesController.ts
  app/util/test/initial-background-state.json
  bitrise.yml
  e2e/selectors/wallet/WalletView.selectors.js
  locales/languages/en.json
  patches/@metamask+preferences-controller+13.1.0.patch
Labels: team-assets, Run Smoke E2E

#12269 chore: multi cherry pick 7.35.0
  app/components/Nav/App/index.js
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.types.ts
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/Views/AccountSelector/AccountSelector.test.tsx
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/AccountSelector/AccountSelector.types.ts
  app/components/Views/AccountSelector/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/LedgerConnect/Scan.test.tsx
  app/components/Views/LockScreen/index.js
  app/components/Views/Login/index.js
  app/components/Views/Login/index.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Onboarding/index.js
  app/components/Views/Onboarding/index.test.tsx
  app/core/Authentication/Authentication.ts
  app/core/EngineService/EngineService.ts
  app/core/Performance/Performance.ts
  app/core/Performance/UIStartup.test.ts
  app/core/Performance/UIStartup.ts
  app/store/index.ts
  app/util/sentry/tags/index.ts
  app/util/sentry/utils.js
  app/util/smart-transactions/index.test.ts
  app/util/smart-transactions/index.ts
  app/util/trace.ts
  e2e/api-mocking/mock-config/mock-events.js
Labels: team-mobile-platform, Run Smoke E2E

#11836 feat: upgrade @metamask/eth-ledger-bridge-keyring
  package.json
  patches/@ledgerhq+evm-tools+1.2.3.patch
  patches/@ledgerhq+hw-app-eth+6.39.0.patch
  yarn.lock
Labels: QA Passed, team-accounts, team-hardware-wallets

#12282 fix: Lock ruby version to 3.1.6 and bump pod to 1.16.2
  .github/workflows/ci.yml
  ios/Gemfile
  ios/Gemfile.lock
  ios/Podfile.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#12276 chore: Remove notifications logic from wallet view
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  bitrise.yml
Labels: team-mobile-platform, Run Smoke E2E, team-tiger

#12245 feat: add gas impact modal to stake confirmation input view
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/components/GasImpactModal/GasImpactModal.styles.ts
  app/components/UI/Stake/components/GasImpactModal/GasImpactModal.test.tsx
  app/components/UI/Stake/components/GasImpactModal/GasImpactModal.types.ts
  app/components/UI/Stake/components/GasImpactModal/__snapshots__/GasImpactModal.test.tsx.snap
  app/components/UI/Stake/components/GasImpactModal/index.tsx
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Stake/routes/index.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: team-stake, Run Smoke E2E

#12280 feat: add loading skeleton for staking banners
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
Labels: team-stake, Run Smoke E2E

#12286 chore: Add tags to UI Startup sentry transaction
  app/util/sentry/utils.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-tiger

#12268 feat: multichain currency rate polling
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Root/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/hooks/AssetPolling/AssetPollingProvider.tsx
  app/components/hooks/AssetPolling/useCurrencyRatePolling.test.ts
  app/components/hooks/AssetPolling/useCurrencyRatePolling.ts
  app/core/Engine.ts
  app/core/RPCMethods/lib/ethereum-chain-utils.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  app/selectors/currencyRateController.ts
  app/util/networks/handleNetworkSwitch.test.ts
  app/util/networks/handleNetworkSwitch.ts
Labels: team-assets, Run Smoke E2E

#12271 chore: Cache node installed via nvm on Bitrise
  bitrise.yml
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#12291 chore: Remove notifications logic from wallet view (#12276)
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  bitrise.yml
Labels: team-mobile-platform

#12292 chore: Allow for higher versions of ruby
  ios/Gemfile
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#12257 refactor: remove global network usage from petnames
  .eslintrc.js
  app/components/UI/Identicon/__snapshots__/index.test.tsx.snap
  app/components/UI/Identicon/index.test.tsx
  app/components/UI/Identicon/index.tsx
  app/components/UI/Name/Name.stories.tsx
  app/components/UI/Name/Name.test.tsx
  app/components/UI/Name/Name.tsx
  app/components/UI/Name/Name.types.ts
  app/components/UI/SimulationDetails/AssetPill/AssetPill.tsx
  app/components/UI/SimulationDetails/useSimulationMetrics.test.ts
  app/components/UI/SimulationDetails/useSimulationMetrics.ts
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Address/Address.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Address/Address.tsx
  app/components/hooks/DisplayName/useDisplayName.test.ts
  app/components/hooks/DisplayName/useDisplayName.ts
  app/components/hooks/DisplayName/useERC20Tokens.test.ts
  app/components/hooks/DisplayName/useERC20Tokens.ts
  app/components/hooks/DisplayName/useFirstPartyContractName.test.ts
  app/components/hooks/DisplayName/useFirstPartyContractName.ts
  app/components/hooks/DisplayName/useFirstPartyContractNames.test.ts
  app/components/hooks/DisplayName/useFirstPartyContractNames.ts
  app/components/hooks/DisplayName/useTokenList.test.ts
  app/components/hooks/DisplayName/useTokenList.ts
  app/components/hooks/DisplayName/useTokenListEntry.test.ts
  app/components/hooks/DisplayName/useTokenListEntry.ts
  app/components/hooks/DisplayName/useWatchedNFTName.test.ts
  app/components/hooks/DisplayName/useWatchedNFTName.ts
  app/components/hooks/DisplayName/useWatchedNFTNames.test.ts
  app/components/hooks/DisplayName/useWatchedNFTNames.ts
  app/selectors/tokenListController.ts
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#12274 chore: Update naming for returning a txHash asap for smart transactions
  app/reducers/swaps/index.js
  app/reducers/swaps/swaps.test.ts
  app/selectors/smartTransactionsController.test.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
Labels: Run Smoke E2E, team-transactions

#12311 fix: transaction reject crash
  package.json
  patches/@metamask+rpc-errors+7.0.1.patch
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#12148 feat: Enable smart transactions for new users
  app/components/Nav/App/index.js
  app/components/Views/LedgerConnect/Scan.test.tsx
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AdvancedSettings/index.test.tsx
  app/components/Views/SmartTransactionsOptInModal/SmartTranactionsOptInModal.tsx
  app/components/Views/SmartTransactionsOptInModal/SmartTransactionsOptInModal.test.tsx
  app/components/Views/Wallet/index.tsx
  app/constants/navigation/Routes.ts
  app/core/Engine.ts
  app/core/redux/slices/smartTransactions/index.test.ts
  app/core/redux/slices/smartTransactions/index.ts
  app/reducers/index.ts
  app/util/onboarding/index.test.ts
  app/util/onboarding/index.ts
  app/util/sentry/__snapshots__/utils.test.ts.snap
  app/util/sentry/utils.test.ts
  app/util/test/initial-background-state.json
  app/util/test/initial-root-state.ts
  e2e/api-mocking/mock-config/mock-events.js
  e2e/pages/Transactions/TransactionProtectionModal.js
  e2e/selectors/Modals/SmartTransactionsOptInModal.selectors.js
  e2e/selectors/Transactions/TransactionProtectionModal.selectors.js
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
  package.json
  patches/@metamask+preferences-controller+13.3.0.patch
  wdio/screen-objects/Modals/TransactionProtectionModal.js
  wdio/step-definitions/common-steps.js
  yarn.lock
Labels: Run Smoke E2E, team-transactions

#12331 fix: tags pending approvals receiving undefined
  app/util/sentry/tags/index.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-tiger

#12198 feat: custom names for snap accounts (Flask only)
  app/components/Approvals/SnapAccountCustomNameApproval/SnapAccountCustomNameApproval.constants.ts
  app/components/Approvals/SnapAccountCustomNameApproval/SnapAccountCustomNameApproval.styles.ts
  app/components/Approvals/SnapAccountCustomNameApproval/SnapAccountCustomNameApproval.tsx
  app/components/Approvals/SnapAccountCustomNameApproval/index.ts
  app/components/Approvals/SnapAccountCustomNameApproval/test/SnapAccountCustomNameApproval.test.tsx
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SnapKeyring/SnapKeyring.test.ts
  app/core/SnapKeyring/SnapKeyring.ts
  app/core/SnapKeyring/utils/showDialog.ts
  locales/languages/en.json
Labels: team-accounts, Run Smoke E2E

#12167 feat: v7.35.0
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Labels: QA Passed, team-mobile-platform, Run Smoke E2E

#12315 fix: e2e: ensure Decrypt button is displayed
  e2e/pages/Settings/AesCryptoTestForm.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#12343 chore: Cherry pick f35d583
  CHANGELOG.md
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform

#12127 fix(11215): show error message when user selects a new ledger device
  app/components/Views/LedgerConnect/index.styles.ts
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  locales/languages/en.json
Labels: QA Passed, needs-dev-review, team-hardware-wallets, ready-for-translation

#12270 feat: upgrade assets controllers to 42 with multichain token rates
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/hooks/AssetPolling/AssetPollingProvider.tsx
  app/components/hooks/AssetPolling/useTokenRatesPolling.test.ts
  app/components/hooks/AssetPolling/useTokenRatesPolling.ts
  app/core/Engine.ts
  app/selectors/tokenRatesController.ts
  app/util/networks/index.js
  package.json
  patches/@metamask+assets-controllers+42.0.0.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E

#11613 feat(ramp): improve amount editing formatting
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/utils/index.ts
Labels: team-ramp, Run Smoke E2E

#12160 feat: Integrate NFT api to display image & names in simulations includes `erc721`s
  app/components/UI/Name/Name.styles.ts
  app/components/UI/Name/Name.test.tsx
  app/components/UI/Name/Name.tsx
  app/components/UI/Name/__snapshots__/Name.test.tsx.snap
  app/components/hooks/DisplayName/useDisplayName.test.ts
  app/components/hooks/DisplayName/useDisplayName.ts
  app/components/hooks/DisplayName/useNftCollectionsMetadata.test.ts
  app/components/hooks/DisplayName/useNftCollectionsMetadata.ts
  app/components/hooks/DisplayName/useNftName.test.ts
  app/components/hooks/DisplayName/useNftName.ts
Labels: QA Passed, Run Smoke E2E, team-confirmations

#12335 chore: cherrypick do not show staked eth balance when balance is zero on homepage or asset detail
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/Views/Wallet/index.tsx
Labels: team-stake, Run Smoke E2E

#12362 chore: Unit tests for tags approval controller undefined
  app/util/sentry/tags/index.test.ts
  app/util/sentry/tags/index.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#12340 feat: upgrade assets controllers to version 43
  app/components/UI/Tokens/index.tsx
  app/components/hooks/AssetPolling/AssetPollingProvider.tsx
  app/components/hooks/AssetPolling/useTokenDetectionPolling.test.ts
  app/components/hooks/AssetPolling/useTokenDetectionPolling.ts
  app/components/hooks/AssetPolling/useTokenListPolling.test.ts
  app/components/hooks/AssetPolling/useTokenListPolling.ts
  app/core/Engine.ts
  app/core/NotificationManager.js
  package.json
  patches/@metamask+assets-controllers+42.0.0.patch
  patches/@metamask+assets-controllers+43.1.1.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E

#12004 build(deps): bump `@metamask/selected-network-controller` to `^18.0.2`
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#12369 chore: upgrade transaction controller to increase polling rate
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#12370 fix: Fix copy of "Network fee" on approval
  app/components/Views/confirmations/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.tsx
Labels: No QA Needed, team-confirmations

#12003 build(deps): bump `@metamask/smart-transaction-controller` to `^14.0.0`
  app/core/Engine.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#12351 refactor(ramp): remove anonymous events
  app/components/UI/Ramp/constants/index.ts
  app/components/UI/Ramp/hooks/useAnalytics.test.ts
  app/components/UI/Ramp/hooks/useAnalytics.ts
Labels: team-ramp, Run Smoke E2E

#12334 chore: updating filter icon
  app/component-library/components/Icons/Icon/assets/filter.svg
Labels: No QA Needed, team-design-system

#12355 chore: Add missing confirmation unit tests
  app/components/Views/confirmations/Approval/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/Approval/index.test.tsx
  app/components/Views/confirmations/ApproveView/Approve/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/ApproveView/Approve/index.test.tsx
  app/components/Views/confirmations/SendFlow/SendTo/SendTo.test.tsx
  app/components/Views/confirmations/SendFlow/SendTo/__snapshots__/SendTo.test.tsx.snap
  app/components/Views/confirmations/SendFlow/SendTo/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/SendFlow/SendTo/index.test.tsx
Labels: No QA Needed, team-confirmations

#12319 fix: hide rpc url selector for networks with one rpc
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#12374 perf: Remove costly reduce operation for generating Engine context
  app/core/Engine.ts
Labels: area-performance, Run Smoke E2E, team-tiger

#12091 feat: 2020 Add a performance test for iOS in Bitrise
  bitrise.yml
  package.json
  wdio/config/android.config.browserstack.js
  wdio/config/ios.config.browserstack.js
  wdio/features/Performance/ColdStartLoginToWalletScreen.feature
  wdio/features/Performance/ColdStartToLoginScreen.feature
  wdio/features/Performance/ColdStartToOnboardingScreenAndroid.feature
  wdio/features/Performance/ColdStartToOnboardingScreenIOS.feature
  wdio/step-definitions/common-steps.js
  yarn.lock
Labels: area-performance, team-mobile-platform, Run Smoke E2E, team-tiger

#12398 feat: limit input digits to 12 in useInputHandler
  app/components/UI/Stake/hooks/useInputHandler.ts
Labels: team-stake, Run Smoke E2E

#12402 fix: fix missing variable patch
  patches/@metamask+assets-controllers+41.0.0.patch
Labels: team-assets, Run Smoke E2E

#12366 chore: #12184 MVP split engine file
  .github/CODEOWNERS
  app/components/Nav/Main/index.test.tsx
  app/components/UI/AccountOverview/index.test.tsx
  app/components/UI/AssetSearch/index.test.tsx
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/Asset/index.test.js
  app/components/Views/confirmations/Approval/index.test.tsx
  app/components/Views/confirmations/ApproveView/Approve/index.test.tsx
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/AccountsController/constants.ts
  app/core/Engine/controllers/AccountsController/utils.test.ts
  app/core/Engine/controllers/AccountsController/utils.ts
  app/core/Engine/index.ts
  app/core/Engine/types.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, skip-sonar-cloud

#12413 chore: simplify cicd rls script
  scripts/create-release-pr.sh
Labels: No QA Needed, team-dev-ops

#12375 fix: breaking selector due to missing controller state
  app/components/UI/Notification/List/index.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/selectors/notifications/index.tsx
  app/util/notifications/hooks/useCreateSession.test.tsx
  app/util/notifications/hooks/useCreateSession.ts
  app/util/notifications/hooks/useNotifications.test.tsx
  app/util/notifications/hooks/useNotifications.ts
  app/util/notifications/hooks/useProfileSyncing.test.tsx
  app/util/notifications/hooks/useProfileSyncing.ts
  app/util/notifications/hooks/usePushNotifications.ts
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/notifications/hooks/useSwitchNotifications.ts
Labels: Run Smoke E2E, team-notifications

#12416 chore: Chore/update accounts controller messenger code owner
  .github/CODEOWNERS
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/accounts/README.md
  app/core/Engine/controllers/accounts/constants.ts
  app/core/Engine/controllers/accounts/utils.test.ts
  app/core/Engine/controllers/accounts/utils.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#12238 chore: update codeowners
  .github/CODEOWNERS
Labels: No QA Needed, team-mobile-platform

#12396 feat(ramp): enable buy button in asset overview
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/Views/Asset/index.js
Labels: team-ramp, Run Smoke E2E

#12368 chore(deps): bump `@metamask/{swaps, gas-fee}-controller`
  app/core/Engine/Engine.ts
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#11424 feat: add workflow for updating automated test results in TestRail
  bitrise.yml
  scripts/testrail/testrail.api.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#12344 feat: upgrade assets controllers to v44
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountInfoCard/index.test.tsx
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.test.tsx
  app/components/UI/Tokens/index.test.tsx
  app/components/Views/DetectedTokens/components/Token.tsx
  app/components/Views/SDK/SDKSessionsManager/SDKSessionAccountListItem.test.tsx
  app/components/Views/confirmations/Send/index.test.tsx
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.test.tsx
  app/components/hooks/AssetPolling/AssetPollingProvider.test.tsx
  app/components/hooks/AssetPolling/AssetPollingProvider.tsx
  app/components/hooks/AssetPolling/useTokenBalancesPolling.test.ts
  app/components/hooks/AssetPolling/useTokenBalancesPolling.ts
  app/components/hooks/useAddressBalance/useAddressBalance.test.tsx
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.test.tsx
  app/core/Engine/Engine.ts
  app/core/NotificationManager.js
  app/selectors/tokenBalancesController.ts
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+assets-controllers+44.1.0.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E

#12356 chore: Remove unnecessary event prop
  app/util/smart-transactions/index.test.ts
  app/util/smart-transactions/index.ts
Labels: Run Smoke E2E, team-transactions

#12420 feat(3598): non permitted chain flow small improvements
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/NetworkPermissionsConnected/NetworkPermissionsConnected.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.types.ts
Labels: Run Smoke E2E, team-wallet-ux

#12363 feat: add PooledStaking slice for managing staking state
  app/components/UI/Stake/components/StakingEarnings/StakingEarnings.test.tsx
  app/components/UI/Stake/components/StakingEarnings/index.tsx
  app/components/UI/Stake/hooks/usePooledStakes.ts
  app/components/UI/Stake/hooks/useStakingEarnings.ts
  app/components/UI/Stake/hooks/useStakingEligibility.ts
  app/components/UI/Stake/hooks/useVaultData.ts
  app/core/redux/slices/staking/index.test.ts
  app/core/redux/slices/staking/index.ts
  app/reducers/index.ts
  app/util/test/initial-root-state.ts
Labels: team-stake, Run Smoke E2E

#12337 feat: updated staking events to use withMetaMetrics helper
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/StakingCta.tsx
  app/components/UI/Stake/hooks/useInputHandler.ts
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Stake/hooks/useUnstakingInput.ts
  app/components/UI/Stake/utils/metaMetrics/withMetaMetrics.test.ts
  app/components/UI/Stake/utils/metaMetrics/withMetaMetrics.ts
  app/core/Analytics/MetaMetrics.events.ts
Labels: team-stake, Run Smoke E2E

#12452 [chore] Merge in feat: updated staking events to use withMetaMetrics helper (#12337)
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/StakingCta.tsx
  app/components/UI/Stake/hooks/useInputHandler.ts
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Stake/hooks/useUnstakingInput.ts
  app/components/UI/Stake/utils/metaMetrics/withMetaMetrics.test.ts
  app/components/UI/Stake/utils/metaMetrics/withMetaMetrics.ts
  app/core/Analytics/MetaMetrics.events.ts
Labels: team-mobile-platform, Run Smoke E2E

#12446 fix: update wallet_addEthereumChain.js with correct MetricsEventBuilder
  app/core/RPCMethods/wallet_addEthereumChain.js
Labels: team-mobile-platform, Run Smoke E2E

#12440 chore(ramp): upgrade sdk to 1.28.7
  package.json
  yarn.lock
Labels: team-ramp, Run Smoke E2E

#12339 chore: Update accounts-controller @v19.0.0 and keyring-controller @v18.0.0
  app/core/Engine/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  package.json
  yarn.lock
Labels: team-accounts, Run Smoke E2E

#12472 chore: bump `@metamask/preferences-controller` to `^14.0.0`
  package.json
  patches/@metamask+preferences-controller+14.0.0.patch
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#12474 chore: bump `@metamask/signature-controller` to `^22.0.0`
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#10786 fix: added icon to walletconnect metadata
  app/core/AppConstants.ts
Labels: team-sdk, external-contributor, Run Smoke E2E, skip-sonar-cloud

#12350 chore: Bump Snaps packages
  app/core/Engine/Engine.ts
  app/core/Snaps/SnapBridge.ts
  app/core/Snaps/index.ts
  app/core/Snaps/location/fetch.ts
  app/core/Snaps/location/index.ts
  app/core/Snaps/permissions/permissions.ts
  package.json
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform, skip-sonar-cloud

#12345 chore: bump walletconnect/* deps
  package.json
  yarn.lock
Labels: team-sdk, QA Passed, Run Smoke E2E

#12465 feat: Support returning a txHash asap, show a notification for a cancelled smart transaction
  app/core/Engine/Engine.ts
  app/core/NotificationManager.js
  app/core/NotificationsManager.test.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-transactions

#12478 fix: incorrect event source in analytics and connection
  app/components/Approvals/PermissionApproval/PermissionApproval.test.tsx
  app/components/Approvals/PermissionApproval/PermissionApproval.tsx
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/Views/confirmations/components/TypedSign/__snapshots__/index.test.tsx.snap
  app/components/hooks/useOriginSource.test.ts
  app/components/hooks/useOriginSource.ts
  app/core/SDKConnect/utils/isUUID.test.ts
  app/core/SDKConnect/utils/isUUID.ts
Labels: team-sdk, No QA Needed, Run Smoke E2E

#10486 fix: limit ReactNativeWebview message size
  app/components/Views/BrowserTab/index.js
  app/constants/dapp.ts
Labels: team-wallet-api-platform, team-mobile-platform, Run Smoke E2E

#12489 fix: replace end of navigation init and UIStartup span
  app/components/Nav/App/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-tiger

#12288 test: add e2e test for security alert api
  .e2e.env.example
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.tsx
  app/components/Views/confirmations/components/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  app/components/Views/confirmations/components/TransactionBlockaidBanner/__snapshots__/TransactionBlockaidBanner.test.tsx.snap
  app/lib/ppom/ppom-util.ts
  app/util/networks/index.js
  e2e/api-mocking/mock-config/mock-events.js
  e2e/api-mocking/mock-server.js
  e2e/fixtures/fixture-helper.js
  e2e/pages/Confirmation/ConfirmationView.js
  e2e/pages/Send/TransactionConfirmView.js
  e2e/selectors/ConfirmationView.selectors.js
  e2e/selectors/TransactionConfirmView.selectors.js
  e2e/specs/confirmations/security-alert-send-eth.mock.spec.js
  e2e/specs/confirmations/signatures/security-alert-typed-sign.mock.spec.js
  wdio/screen-objects/SendScreen.js
  wdio/screen-objects/TransactionConfirmScreen.js
  wdio/screen-objects/testIDs/Screens/TransactionConfirm.testIds.js
Labels: Run Smoke E2E, team-confirmations

#12460 fix: add source when local PPOM fails
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
Labels: Run Smoke E2E, team-confirmations
