Repository MetaMask/metamask-mobile, pull requests merged in 2024-09, with the labels that each got.

#10965 fix: gas never loading during send + high gas fee after deep link
  app/components/Views/confirmations/Send/index.js
  app/util/custom-gas/index.js
Labels: Run Smoke E2E, team-confirmations

#10936 fix: Add missing allowedAction NetworkController:findNetworkClientIdByChainId to transactionController
  app/core/Engine.ts
Labels: Run Smoke E2E, team-confirmations

#10286 fix: Add dark mode to storybook
  .prettierignore
  .storybook/decorators/index.ts
  .storybook/decorators/withMockStore.tsx
  .storybook/decorators/withTheme.tsx
  .storybook/preview.js
  .storybook/storybook-store.js
  app/component-library/providers/ThemeProvider/ThemeProvider.constants.ts
  app/component-library/providers/ThemeProvider/ThemeProvider.test.tsx
  app/component-library/providers/ThemeProvider/ThemeProvider.tsx
Labels: No QA Needed, needs-dev-review, team-design-system

#11002 fix: infinite gas fee loading during send
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/core/Engine.ts
  app/selectors/confirmTransaction.ts
Labels: Run Smoke E2E, team-confirmations

#11007 chore: Cherry pick 5849444
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/core/Engine.ts
  app/selectors/confirmTransaction.ts
Labels: No QA Needed, team-confirmations

#11008 chore: bump version to 1409 RC-2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#11003 chore: update swaps controller to 9.0.12
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11001 test: Fix swap smoke tests
  e2e/pages/swaps/SwapView.js
Labels: No QA Needed, team-swaps

#10983 chore: Metrics on download logs on login screen
  app/components/Views/Login/index.js
  app/core/Analytics/MetaMetrics.events.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#11010 chore: cherry pick swaps PR
  app/components/UI/ProfileSyncing/__snapshots__/ProfileSyncing.test.tsx.snap
  app/components/Views/OnboardingSuccess/DefaultSettings/__snapshots__/index.test.js.snap
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, release-7.30.0

#11015 chore: cherry-pick #10961 to new controller version
  patches/@metamask+swaps-controller+9.0.12.patch
Labels: No QA Needed, team-mobile-platform, team-assets

#10385 fix: no insufficient funds warning
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/validation.test.ts
  app/components/Views/confirmations/SendFlow/Confirm/validation.ts
Labels: QA Passed, Run Smoke E2E, team-confirmations

#11020 fix: Fix broken unit test in `Sendflow` tests
  app/components/Views/confirmations/Send/index.test.tsx
Labels: No QA Needed, team-confirmations

#11014 chore: mandatory upgrade v7.29.2 - 1409
  AppConfig/test/MockAppConfig.json
  AppConfig/v1/AppConfig.json
Labels: team-mobile-platform

#11018 refactor: updated wallet action icons to be light themed
  app/components/UI/WalletAction/WalletAction.tsx
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#10572 chore: merge queue test branch 3
  README.md
Labels: No QA Needed, team-mobile-platform

#10571 chore: merge queue test branch 2
  README.md
Labels: No QA Needed, team-mobile-platform

#10894 fix: browser tab url type
  app/actions/browser/index.js
  app/components/UI/CollectibleModal/CollectibleModal.tsx
  app/components/Views/Browser/index.js
  app/components/Views/BrowserTab/index.js
  app/constants/browser.ts
  app/core/DeeplinkManager/Handlers/handleBrowserUrl.ts
  app/reducers/browser/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11017 refactor: updated button primary to use light theme colors
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/ButtonPrimary.constants.ts
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/ButtonPrimary.styles.ts
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/ButtonPrimary.test.tsx
  app/component-library/components/Buttons/Button/variants/ButtonPrimary/__snapshots__/ButtonPrimary.test.tsx.snap
  app/component-library/components/Texts/Text/Text.styles.ts
  app/component-library/components/Texts/Text/Text.types.ts
  app/component-library/components/Texts/TextWithPrefixIcon/TextWithPrefixIcon.types.ts
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#10673 fix: camera permission alert with settings access
  app/components/Views/QRScanner/index.tsx
  locales/languages/en.json
Labels: needs-dev-review, Sev3-low, Run Smoke E2E, team-wallet-ux

#11037 test: enable launch times pipeline on main
  bitrise.yml
Labels: No QA Needed, team-mobile-platform

#10701 fix: wrong or missing analytics request source
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/Send/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/components/PersonalSign/index.test.tsx
  app/components/Views/confirmations/components/TypedSign/index.test.tsx
  app/util/confirmation/signatureUtils.js
Labels: team-sdk, needs-smoke-e2e, Run Smoke E2E

#11070 test: remove duplicate push_branch in trigger map
  bitrise.yml
Labels: No QA Needed, team-mobile-platform

#11039 test: Update swap test to handle the details modal
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
Labels: team-mobile-platform, Run Smoke E2E, Detox

#11074 test: set baseline for app launch times
  wdio/features/Performance/ColdStartLaunchTimes.feature
Labels: No QA Needed, team-mobile-platform

#11075 test: disable flakey accounts test
  e2e/pages/AccountListView.js
  e2e/specs/quarantine/create-wallet-account.failing.js
Labels: team-mobile-platform, Run Smoke E2E, area-qa

#11077 chore: disable api spec pipeline
  bitrise.yml
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10729 fix: support set custom nonce to zero
  app/components/Views/confirmations/SendFlow/components/CustomNonceModal/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/SendFlow/components/CustomNonceModal/index.js
  app/components/Views/confirmations/SendFlow/components/CustomNonceModal/index.test.tsx
Labels: QA Passed, Run Smoke E2E, team-confirmations

#11080 chore: fix flipper pod compilation with pika 15.3 toolchain
  ios/Podfile
  package.json
Labels: No QA Needed, team-mobile-platform, INVALID-PR-TEMPLATE

#10518 fix: refactor blockaid metrics sync functions to async
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.tsx
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
Labels: Run Smoke E2E, team-confirmations

#10979 fix: wallet connect invalid hostname
  app/components/UI/AccountInfoCard/index.js
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/core/SDKConnect/handlers/setupBridge.ts
  app/core/WalletConnect/WalletConnect2Session.ts
  app/core/WalletConnect/WalletConnectV2.ts
Labels: team-sdk, QA Passed, Run Smoke E2E

#10982 fix: UI notifications details bugs
  app/components/UI/Notification/List/__snapshots__/index.test.tsx.snap
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Icon.test.tsx.snap
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.test.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/NetworkField.tsx
  app/components/Views/Notifications/Details/Fields/__snapshots__/NetworkFeeField.test.tsx.snap
  app/components/Views/Notifications/Details/Fields/index.tsx
  app/components/Views/Notifications/Details/Footers/BlockExplorerFooter.tsx
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/Details/index.tsx
  app/util/notifications/methods/common.ts
  app/util/notifications/notification-states/erc1155-sent-received/erc1155-sent-received.tsx
  app/util/notifications/notification-states/erc20-sent-received/erc20-sent-received.ts
  app/util/notifications/notification-states/erc721-sent-received/erc721-sent-received.tsx
  app/util/notifications/notification-states/eth-sent-received/eth-sent-received.tsx
  app/util/notifications/notification-states/types/NotificationState.ts
  locales/languages/en.json
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#11088 chore: add new track events for enabling/disabling basic functionality
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.tsx
  app/core/Analytics/MetaMetrics.events.ts
Labels: Run Smoke E2E, team-wallet-ux

#11087 fix: Intermittent Display Issue of Fiat Currency on Main Wallet View
  patches/@metamask+assets-controllers+30.0.0.patch
Labels: team-assets, Run Smoke E2E

#11096 test: detox black list gas api endpoint
  e2e/resources/blacklistURLs.json
  e2e/specs/confirmations/approve-custom-erc20.spec.js
  e2e/specs/confirmations/increase-allowance-erc20.spec.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, area-qa

#10865 chore: update eslint v^8.44
  .eslintrc.js
  app/component-library/components/Icons/Icon/Icon.assets.ts
  app/component-library/components/Icons/Icon/scripts/generate-assets.js
  app/components/UI/BiometryButton/index.test.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/LedgerModals/LedgerConfirmationModal.test.tsx
  app/components/UI/LoginOptionsSwitch/LoginOptionsSwitch.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.tsx
  app/components/Views/confirmations/components/EditGasFee1559Update/index.tsx
  app/core/WalletConnect/WalletConnect2Session.test.ts
  app/selectors/accountTrackerControllerReRenders.test.tsx
  e2e/pages/Settings/AesCryptoTestForm.js
  e2e/selectors/AesCrypto.selectors.js
  package.json
  patches/@metamask+eslint-config-typescript+9.0.1.patch
  ppom/.eslintrc.js
  storybook/decorators/withSafeArea.tsx
  tsconfig.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11098 fix: badge count and ui polishing
  app/components/Nav/Main/index.js
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
  app/components/UI/Notification/NotificationMenuItem/Root.tsx
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Icon.test.tsx.snap
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Root.test.tsx.snap
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/Details/styles.ts
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Wallet/index.tsx
  app/core/NotificationManager.js
  app/selectors/notificationsController.ts
  app/util/notifications/hooks/index.ts
  app/util/notifications/setupAndroidChannels.test.ts
  app/util/notifications/setupAndroidChannels.ts
  index.js
Labels: No QA Needed, needs-dev-review, Run Smoke E2E, team-notifications, team-snaps-platform

#11110 fix: accounts notifications switch
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Settings/NotificationsSettings/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/core/redux/slices/notifications/index.ts
  app/reducers/index.ts
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/notifications/hooks/useSwitchNotifications.ts
  app/util/test/initial-root-state.ts
Labels: No QA Needed, needs-dev-review, Run Smoke E2E, team-notifications

#11117 fix: add feat flag
  app/components/Nav/Main/index.js
  app/components/Views/Settings/NotificationsSettings/index.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-snaps-platform

#11121 fix: Add new job to verify "All jobs pass" job for required PR check
  .github/workflows/ci.yml
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#11051 feat: add brand evo font files
  android/app/src/main/assets/fonts/CentraNo1-Bold.otf
  android/app/src/main/assets/fonts/CentraNo1-BoldItalic.otf
  android/app/src/main/assets/fonts/CentraNo1-Book.otf
  android/app/src/main/assets/fonts/CentraNo1-BookItalic.otf
  android/app/src/main/assets/fonts/CentraNo1-Medium.otf
  android/app/src/main/assets/fonts/CentraNo1-MediumItalic.otf
  android/app/src/main/assets/fonts/MMSans-Regular.otf
  android/link-assets-manifest.json
  app/component-library/components-temp/TagColored/__snapshots__/TagColored.test.tsx.snap
  app/component-library/components/Texts/Text/Text.stories.tsx
  app/component-library/components/Texts/Text/Text.styles.ts
  app/component-library/components/Texts/Text/Text.tsx
  app/component-library/components/Texts/Text/Text.types.ts
  app/component-library/components/Texts/Text/Text.utils.ts
  app/components/UI/Ramp/Views/SendTransaction/__snapshots__/SendTransaction.test.tsx.snap
  app/components/Views/OnboardingSuccess/__snapshots__/index.test.js.snap
  app/fonts/CentraNo1-Bold.otf
  app/fonts/CentraNo1-BoldItalic.otf
  app/fonts/CentraNo1-Book.otf
  app/fonts/CentraNo1-BookItalic.otf
  app/fonts/CentraNo1-Medium.otf
  app/fonts/CentraNo1-MediumItalic.otf
  app/fonts/MMSans-Regular.otf
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/MetaMask/Info.plist
  ios/link-assets-manifest.json
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#10755 feat: ledger account selection screen add hd options to sync with extension
  app/components/Nav/App/index.js
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/UI/HardwareWallet/AccountSelector/styles.tsx
  app/components/UI/SelectOptionSheet/OptionSheet.test.tsx
  app/components/UI/SelectOptionSheet/OptionsSheet.tsx
  app/components/UI/SelectOptionSheet/SelectOptionSheet.test.tsx
  app/components/UI/SelectOptionSheet/SelectOptionSheet.tsx
  app/components/UI/SelectOptionSheet/__snapshots__/OptionSheet.test.tsx.snap
  app/components/UI/SelectOptionSheet/__snapshots__/SelectOptionSheet.test.tsx.snap
  app/components/UI/SelectOptionSheet/constants.ts
  app/components/UI/SelectOptionSheet/index.ts
  app/components/UI/SelectOptionSheet/styles.ts
  app/components/UI/SelectOptionSheet/types.ts
  app/components/Views/LedgerConnect/Scan.test.tsx
  app/components/Views/LedgerConnect/Scan.tsx
  app/components/Views/LedgerConnect/__snapshots__/index.test.tsx.snap
  app/components/Views/LedgerSelectAccount/index.styles.ts
  app/components/Views/LedgerSelectAccount/index.test.tsx
  app/components/Views/LedgerSelectAccount/index.tsx
  app/components/Views/confirmations/components/SignatureRequest/index.js
  app/constants/navigation/Routes.ts
  app/core/Ledger/Ledger.test.ts
  app/core/Ledger/Ledger.ts
  app/core/Ledger/constants.ts
  locales/languages/en.json
Labels: QA Passed, needs-dev-review, team-accounts, team-hardware-wallets, Run Smoke E2E, release-7.31.0

#10468 chore: Capture custom rpc url in `trackEvent`
  app/components/UI/NetworkModal/index.test.tsx
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/hooks/useSafeChains.ts
Labels: needs-dev-review, team-assets, Run Smoke E2E

#10899 fix: Android crash when svgs use the &quot; html entity
  patches/react-native-svg+15.3.0.patch
Labels: team-mobile-platform, Run Smoke E2E

#11124 docs: Update Appium documentation
  docs/readme/testing.md
  wdio/config/android.config.browserstack.local.js
  wdio/config/ios.config.browserstack.js
  wdio/config/ios.config.browserstack.local.js
Labels: No QA Needed, team-mobile-platform

#11084 fix: locks api spec version for api spec tests
  bitrise.yml
  e2e/api-specs/json-rpc-coverage.js
Labels: team-wallet-api-platform, Run Smoke E2E

#11141 chore: update express for all the packages
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11137 fix: notifications bugs
  app/components/Nav/Main/index.js
  app/components/UI/Notification/List/styles.ts
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Icon.test.tsx.snap
  app/components/Views/Notifications/index.tsx
  app/components/Views/Wallet/index.tsx
  app/core/NotificationManager.js
  app/core/NotificationsManager.test.ts
  index.js
  locales/languages/en.json
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications

#10348 fix: confirmations UI adjustments
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.styles.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountFromToInfoCard/AddressFrom.styles.tsx
  app/components/UI/AccountFromToInfoCard/AddressFrom.tsx
  app/components/UI/AccountFromToInfoCard/__snapshots__/AccountFromToInfoCard.test.tsx.snap
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.styles.tsx
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.tsx
  app/components/UI/ApprovalTagUrl/index.ts
  app/components/Views/confirmations/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/confirmations/components/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559/index.js
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/components/Views/confirmations/components/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/components/Views/confirmations/components/TypedSign/__snapshots__/index.test.tsx.snap
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#10964 feat: build your earnings component stub in eth token details
  app/components/Nav/App/index.js
  app/components/UI/AssetOverview/StakingEarnings/StakingEarnings.styles.tsx
  app/components/UI/AssetOverview/StakingEarnings/StakingEarnings.test.tsx
  app/components/UI/AssetOverview/StakingEarnings/__snapshots__/StakingEarnings.test.tsx.snap
  app/components/UI/AssetOverview/StakingEarnings/index.tsx
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/MarketDetailsList.tsx
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/__snapshots__/MarketDetailsList.test.tsx.snap
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.styles.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/TokenDetailsList.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/__snapshots__/TokenDetailsList.test.tsx.snap
  app/components/UI/AssetOverview/TokenDetails/__snapshots__/TokenDetails.test.tsx.snap
  app/components/Views/TooltipModal/ToolTipModal.styles.ts
  app/components/Views/TooltipModal/ToolTipModal.types.ts
  app/components/Views/TooltipModal/TooltipModal.test.tsx
  app/components/Views/TooltipModal/__snapshots__/TooltipModal.test.tsx.snap
  app/components/Views/TooltipModal/index.tsx
  app/components/hooks/useTooltipModal.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: Spot Check on the Release Build, team-stake, Run Smoke E2E

#11089 chore: add staking team to codeowners file
  .github/CODEOWNERS
Labels: No QA Needed, team-stake, No E2E Smoke Needed

#10821 chore(deps): bump `accounts-controller` to v18.1.0 and `keyring-api` to v8.1.0
  app/components/hooks/useAccounts/useAccounts.ts
  app/core/Engine.test.js
  app/core/Engine.ts
  app/selectors/accountsController.ts
  app/store/migrations/052.test.ts
  app/store/migrations/052.ts
  app/store/migrations/index.ts
  package.json
  patches/@metamask+accounts-controller+14.0.0.patch
  yarn.lock
Labels: QA Passed, team-accounts, team-mobile-platform, Run Smoke E2E

#11146 fix: update nativesdk with improved concurrency handling
  android/libs/nativesdk.aar
Labels: team-sdk, No QA Needed

#11155 fix: android crashing on date formating Intl usage.
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Content.test.tsx.snap
  app/util/notifications/methods/common.ts
  metro.config.js
  package.json
  tsconfig.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications

#11019 feat(2793): mocked UI screen displaying multichain dapp permission summary 2of2
  app/components/UI/PermissionsSummary/PermissionsSummary.styles.ts
  app/components/UI/PermissionsSummary/PermissionsSummary.test.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.types.ts
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/UI/PermissionsSummary/index.ts
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.types.ts
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissions.types.ts
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.styles.ts
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux

#11049 chore: update balance design
  app/components/UI/AssetOverview/AssetOverview.styles.ts
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/Balance/Balance.styles.tsx
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/AssetOverview/Balance/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetOverview/Balance/index.test.tsx
  app/components/UI/AssetOverview/Price/Price.styles.tsx
  app/components/UI/AssetOverview/Price/Price.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.test.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
  app/components/UI/AssetOverview/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetOverview/index.test.tsx
Labels: team-assets, Run Smoke E2E

#11122 test: e2e for auto-lock
  e2e/pages/LoginView.js
  e2e/pages/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/pages/modals/AutoLockModal.js
  e2e/selectors/Modals/AutoLockModal.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/SecurityPrivacyView.selectors.js
  e2e/specs/accounts/auto-lock.spec.js
Labels: No QA Needed, needs-dev-review, team-accounts, E2E, No E2E Smoke Needed

#11186 ci: prevent detox E2E lock failure
  bitrise.yml
  package.json
  patches/detox+20.23.1.patch
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#11184 test: remove notifications launch arg in E2E
  e2e/fixtures/fixture-helper.js
  e2e/specs/accounts/change-account-name.spec.js
  e2e/specs/wallet/request-token-flow.spec.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, area-qa

#11195 feat: add AppState dependency to load notifications
  app/components/UI/Notification/List/index.tsx
  app/components/Views/Wallet/index.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform, team-notifications, team-snaps-platform

#11200 fix: add feature flag on profile sync
  app/components/Views/OnboardingSuccess/DefaultSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-notifications

#11161 fix: blockaid loader on confirmation pages
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.styles.ts
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.tsx
  app/components/Views/confirmations/components/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: QA Passed, Run Smoke E2E, team-confirmations

#11193 fix: ItemMenu crash using dayjs
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Content.test.tsx.snap
  app/util/notifications/methods/common.test.ts
  app/util/notifications/methods/common.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#10788 chore: Add `@metamask/selected-network-controller` & integrate
  .js.env.example
  app/components/UI/AccountRightButton/index.test.tsx
  app/components/UI/AccountRightButton/index.tsx
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.test.js
  app/core/Engine.ts
  app/core/EngineService/EngineService.test.ts
  app/core/EngineService/EngineService.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/utils.ts
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/core/WalletConnect/WalletConnectV2.test.ts
  app/lib/DomainProxyMap/DomainProxyMap.test.ts
  app/lib/DomainProxyMap/DomainProxyMap.ts
  app/selectors/networkController.ts
  app/selectors/selectedNetworkController.ts
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: team-wallet-api-platform, Run Smoke E2E

#11145 chore: update performance for new allocation
  app/util/sentry/utils.js
Labels: No QA Needed, team-mobile-platform

#11165 fix: freeze during swap with approval
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/Swaps/QuotesView.js
  app/core/Engine.ts
  app/selectors/smartTransactionsController.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
  app/util/swaps/swaps-transactions.test.ts
  app/util/swaps/swaps-transactions.ts
Labels: Run Smoke E2E, team-confirmations

#10570 chore: Test merge queue
  package.json
Labels: No QA Needed

#11211 chore: bump build 1427
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#11112 fix: update token details monetization button
  .storybook/storybook.requires.js
  app/components/UI/AssetOverview/AssetOverview.styles.ts
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/UI/AssetOverview/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetOverview/index.test.tsx
  app/components/UI/WalletAction/WalletAction.types.ts
  app/components/Views/Asset/__snapshots__/index.test.js.snap
  app/components/Views/Asset/index.js
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.stories.tsx
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.styles.ts
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.test.tsx
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.tsx
  app/components/Views/AssetDetails/AssetDetailsActions/__snapshots__/AssetDetailsActions.test.tsx.snap
  app/components/Views/AssetDetails/AssetDetailsActions/index.ts
  app/components/Views/Settings/NotificationsSettings/index.tsx
  ios/Podfile.lock
  storybook/storyLoader.js
  wdio/screen-objects/testIDs/Screens/TokenOverviewScreen.testIds.js
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#11174 feat(2796): behind feature flag permission settings multichain 2of2
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/PermissionsSummary/PermissionsSummary.styles.ts
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.types.ts
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissions.types.ts
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.tsx
  app/components/Views/Settings/PermissionsSettings/PermissionsManager.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux

#11222 chore: add bitrise document link to the bitrise failed comment
  bitrise.yml
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#11235 ci: avoid running release pipeline on every commit to the release branch
  bitrise.yml
Labels: No QA Needed, team-mobile-platform, team-mobile-delivery

#11238 chore: cherry-pick c5dd290d46650cf328cc1ca460479f347203983e enabling merge queue checks
  .github/workflows/add-release-label.yml
  .github/workflows/bump-version-name.yml
  .github/workflows/check-pr-labels.yml
  .github/workflows/ci.yml
  .github/workflows/cla.yml
  .github/workflows/close-bug-report.yml
  .github/workflows/crowdin_action.yml
  .github/workflows/pr-title-linter.yml
Labels: No QA Needed, team-mobile-platform

#11218 fix: close icon on notifications list screen
  app/component-library/components/Icons/Icon/assets/close.svg
  app/components/Views/Notifications/index.tsx
  app/components/Views/Notifications/styles.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, team-notifications, team-snaps-platform

#11130 fix(action): add a workaround for known bots
  .github/scripts/check-template-and-add-labels.ts
Labels: No QA Needed, team-mobile-platform

#11207 chore(deps): Bump `@metamask/base-controller` from `^6.0.0` to `^7.0.0`
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#11220 chore: Update package @blockaid/ppom_release to version 1.5.3
  app/lib/ppom/blockaid-version.js
  ppom/package.json
  ppom/yarn.lock
Labels: Run Smoke E2E, team-confirmations

#11252 fix: notification permission request message
  locales/languages/en.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-notifications

#11192 fix: 587 due to ledger rollback blind signing setting, we need to put the warning back.
  app/components/UI/LedgerModals/LedgerConfirmationModal.test.tsx
  app/components/UI/LedgerModals/LedgerConfirmationModal.tsx
  app/components/UI/LedgerModals/Steps/SearchingForDeviceStep.tsx
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
  app/components/hooks/Ledger/useLedgerBluetooth.ts
  app/core/Ledger/ledgerErrors.ts
  locales/languages/en.json
Labels: QA Passed, release-blocker, Sev2-normal, team-accounts, team-hardware-wallets, Run Smoke E2E, release-7.31.0

#11168 feat: add pooled staking input flow screen
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/AssetOverview/StakingEarnings/StakingEarnings.test.tsx
  app/components/UI/AssetOverview/StakingEarnings/__snapshots__/StakingEarnings.test.tsx.snap
  app/components/UI/AssetOverview/StakingEarnings/index.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/Stake/Views/InputView/StakeInputView.styles.ts
  app/components/UI/Stake/Views/InputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/InputView/StakeInputView.tsx
  app/components/UI/Stake/Views/InputView/__snapshots__/StakeInputView.test.tsx.snap
  app/components/UI/Stake/components/CurrencySwitch.tsx
  app/components/UI/Stake/components/EstimatedAnnualRewardsCard.tsx
  app/components/UI/Stake/components/QuickAmounts.tsx
  app/components/UI/Stake/hooks/useBalance.ts
  app/components/UI/Tokens/index.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: team-stake, Run Smoke E2E

#11264 chore: remove triggers for actions not needed during the merge-queue CI
  .github/workflows/add-release-label.yml
  .github/workflows/check-pr-labels.yml
  .github/workflows/close-bug-report.yml
  .github/workflows/pr-title-linter.yml
Labels: No QA Needed, team-mobile-platform

#11268 chore: bump build to 1429
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#11213 test: Appium separate and optimize app launch time measurements
  wdio/config/android.config.browserstack.js
  wdio/features/Performance/ColdStartLaunchTimes.feature
  wdio/features/Performance/ColdStartLoginToWalletScreen.feature
  wdio/features/Performance/ColdStartToLoginScreen.feature
  wdio/features/Performance/ColdStartToOnboardingScreen.feature
  wdio/features/Performance/WarmStartLoginToWalletScreen.feature
  wdio/features/Performance/WarmStartToLoginScreen.feature
  wdio/screen-objects/Onboarding/ImportFromSeedScreen.js
  wdio/step-definitions/app-launch-times.steps.js
  wdio/step-definitions/common-steps.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#11265 fix: notification account syncing
  app/components/Views/Settings/NotificationsSettings/CustomNotificationsRow/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/CustomNotificationsRow/index.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Settings/NotificationsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/notifications/hooks/useSwitchNotifications.ts
  app/util/notifications/hooks/useUpdateAccountSetting.test.tsx
  app/util/notifications/hooks/useUpdateAccountSetting.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#11284 chore: add notifications state awareness inapp badge
  app/components/UI/Navbar/index.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, team-notifications, team-snaps-platform

#11281 fix: Fix the styling issue of link in SearchingForDeviceStep component
  app/components/UI/LedgerModals/Steps/SearchingForDeviceStep.tsx
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
Labels: needs-dev-review, team-accounts, team-hardware-wallets, Run Smoke E2E, release-7.31.0

#11212 chore: Update CI workflow triggers to support release branches
  .github/workflows/check-attributions.yml
Labels: No QA Needed, team-mobile-platform

#11302 fix: cp & resolve merge conflict
  app/components/UI/LedgerModals/Steps/SearchingForDeviceStep.tsx
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
Labels: No QA Needed, team-mobile-platform

#11298 chore: bump to 1432
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#11144 test: E2E Mocking Setup For Detox Tests
  e2e/mockServer/mockServer.js
  e2e/mockServer/mockUrlCollection.json
  e2e/pages/Send/TransactionConfirmView.js
  e2e/selectors/TransactionConfirmView.selectors.js
  e2e/specs/confirmations/signatures/personal-sign.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v3.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v4.spec.js
  e2e/specs/confirmations/signatures/typed-sign.spec.js
  e2e/specs/wallet/suggestedGasApi.mock.spec.js
  e2e/utils/Gestures.js
  package.json
  shim.js
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E, Detox

#11306 chore: update @sentry/react-native to version 5.33.0
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E

#10294 feat: create redux slice for featureFlags
  app/core/AppConstants.ts
  app/core/redux/slices/featureFlags/index.test.ts
  app/core/redux/slices/featureFlags/index.ts
  app/reducers/index.ts
  app/store/index.ts
  app/store/sagas/index.ts
  app/util/featureFlags/index.test.ts
  app/util/featureFlags/index.ts
  app/util/test/initial-root-state.ts
  jest.config.js
Labels: team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#11310 fix: quick fix on feature flag & notification state
  app/components/UI/Navbar/index.js
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, team-notifications

#11266 fix: notification permission flow
  app/actions/settings/index.js
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.tsx
  app/components/Views/Notifications/OptIn/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/OptIn/index.tsx
  app/components/Views/Notifications/OptIn/styles.ts
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Wallet/index.tsx
  app/reducers/settings/index.js
  app/util/notifications/pushPermissions.test.ts
  app/util/notifications/pushPermissions.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications

#11314 feat: reject connection properly
  app/core/SDKConnect/Connection/Connection.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/connect.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/disconnect.test.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/disconnect.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/removeConnection.test.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/removeConnection.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.ts
  app/core/SDKConnect/ConnectionManagement/removeAll.ts
  app/core/SDKConnect/ConnectionManagement/removeChannel.ts
  app/core/SDKConnect/SDKConnect.test.ts
  package.json
  yarn.lock
Labels: team-sdk, No QA Needed

#11285 Feat/notifications add analytics
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.test.js
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/Notification/List/index.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.test.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/TransactionField.tsx
  app/components/Views/Notifications/Details/Fields/index.tsx
  app/components/Views/Notifications/Details/Footers/BlockExplorerFooter.tsx
  app/components/Views/Notifications/Details/Footers/index.tsx
  app/components/Views/Notifications/Details/index.tsx
  app/components/Views/Notifications/OptIn/index.tsx
  app/components/Views/Notifications/index.tsx
  app/components/Views/OnboardingSuccess/DefaultSettings/index.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Wallet/index.tsx
  app/core/Analytics/MetaMetrics.events.ts
  app/selectors/notifications/index.test.ts
  app/selectors/notifications/index.tsx
  app/selectors/notifications/testUtils.ts
Labels: Run Smoke E2E, team-notifications

#11104 chore(deps): Bump `@metamask/address-book-controller` from `^4.0.1` to `^6.0.1`
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/types.ts
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/selectors/addressBookController.test.ts
  app/selectors/addressBookController.ts
  app/selectors/types.ts
  app/store/migrations/029.ts
  app/util/address/index.ts
  app/util/checkAddress.test.ts
  app/util/checkAddress.ts
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#11069 feat: react native fast crypto for notifications
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.test.tsx
  app/components/Views/Notifications/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/index.test.tsx
  app/components/Views/Notifications/index.tsx
  app/components/Views/Notifications/styles.ts
  app/core/Engine.ts
  app/core/RPCMethods/utils.ts
  app/declarations/index.d.ts
  app/lib/ppom/ppom-util.test.ts
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/notifications/hooks/useSwitchNotifications.ts
  app/util/test/initial-background-state.json
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-dev-review, Run Smoke E2E, team-notifications, team-snaps-platform, release-7.31.0

#11239 feat(2739): permission summary view gets the ability to disconnect all
  .js.env.example
  app/components/UI/PermissionsSummary/PermissionsSummary.styles.ts
  app/components/UI/PermissionsSummary/PermissionsSummary.test.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.types.ts
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnect.types.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.types.ts
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.styles.ts
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.types.ts
  sonar-project.properties
Labels: Run Smoke E2E, team-wallet-ux

#11346 fix: splash screen image on android
  android/app/src/main/res/drawable-hdpi/fox.png
  android/app/src/main/res/drawable-ldpi/fox.png
  android/app/src/main/res/drawable-mdpi/fox.png
  android/app/src/main/res/drawable-night-hdpi/fox.png
  android/app/src/main/res/drawable-night-ldpi/fox.png
  android/app/src/main/res/drawable-night-mdpi/fox.png
  android/app/src/main/res/drawable-night-xhdpi/fox.png
  android/app/src/main/res/drawable-night-xxhdpi/fox.png
  android/app/src/main/res/drawable-night-xxxhdpi/fox.png
  android/app/src/main/res/drawable-night/fox.png
  android/app/src/main/res/drawable-xhdpi/fox.png
  android/app/src/main/res/drawable-xxhdpi/fox.png
  android/app/src/main/res/drawable-xxxhdpi/fox.png
  android/app/src/main/res/drawable/fox.png
  android/app/src/qa/res/drawable-hdpi/fox.png
  android/app/src/qa/res/drawable-ldpi/fox.png
  android/app/src/qa/res/drawable-mdpi/fox.png
  android/app/src/qa/res/drawable-night-hdpi/fox.png
  android/app/src/qa/res/drawable-night-ldpi/fox.png
  android/app/src/qa/res/drawable-night-mdpi/fox.png
  android/app/src/qa/res/drawable-night-xhdpi/fox.png
  android/app/src/qa/res/drawable-night-xxhdpi/fox.png
  android/app/src/qa/res/drawable-night-xxxhdpi/fox.png
  android/app/src/qa/res/drawable-night/fox.png
  android/app/src/qa/res/drawable-xhdpi/fox.png
  android/app/src/qa/res/drawable-xxhdpi/fox.png
  android/app/src/qa/res/drawable-xxxhdpi/fox.png
  android/app/src/qa/res/drawable/fox.png
Labels: No QA Needed, needs-dev-review, team-mobile-platform, release-7.32.0

#11348 fix: splash screen image on android
  android/app/src/main/res/drawable-hdpi/fox.png
  android/app/src/main/res/drawable-ldpi/fox.png
  android/app/src/main/res/drawable-mdpi/fox.png
  android/app/src/main/res/drawable-night-hdpi/fox.png
  android/app/src/main/res/drawable-night-ldpi/fox.png
  android/app/src/main/res/drawable-night-mdpi/fox.png
  android/app/src/main/res/drawable-night-xhdpi/fox.png
  android/app/src/main/res/drawable-night-xxhdpi/fox.png
  android/app/src/main/res/drawable-night-xxxhdpi/fox.png
  android/app/src/main/res/drawable-night/fox.png
  android/app/src/main/res/drawable-xhdpi/fox.png
  android/app/src/main/res/drawable-xxhdpi/fox.png
  android/app/src/main/res/drawable-xxxhdpi/fox.png
  android/app/src/main/res/drawable/fox.png
  android/app/src/qa/res/drawable-hdpi/fox.png
  android/app/src/qa/res/drawable-ldpi/fox.png
  android/app/src/qa/res/drawable-mdpi/fox.png
  android/app/src/qa/res/drawable-night-hdpi/fox.png
  android/app/src/qa/res/drawable-night-ldpi/fox.png
  android/app/src/qa/res/drawable-night-mdpi/fox.png
  android/app/src/qa/res/drawable-night-xhdpi/fox.png
  android/app/src/qa/res/drawable-night-xxhdpi/fox.png
  android/app/src/qa/res/drawable-night-xxxhdpi/fox.png
  android/app/src/qa/res/drawable-night/fox.png
  android/app/src/qa/res/drawable-xhdpi/fox.png
  android/app/src/qa/res/drawable-xxhdpi/fox.png
  android/app/src/qa/res/drawable-xxxhdpi/fox.png
  android/app/src/qa/res/drawable/fox.png
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10829 feat: Eth snap keyring
  app/components/Views/Snaps/components/SnapPermissions/test/SnapPermissions.test.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Engine.ts
  app/core/SnapKeyring/KeyringSnapPermissions.test.ts
  app/core/SnapKeyring/SnapKeyring.test.ts
  app/core/SnapKeyring/SnapKeyring.ts
  app/core/SnapKeyring/index.ts
  app/core/SnapKeyring/keyringSnapsPermissions.ts
  app/core/SnapKeyring/types.ts
  app/core/Snaps/SnapBridge.ts
  app/core/Snaps/SnapsMethodMiddleware.ts
  app/core/Snaps/permissions/permissions.ts
  app/core/Snaps/types.ts
  app/core/Snaps/utils.ts
  app/lib/snaps/SnapsExecutionWebView.tsx
  locales/languages/en.json
  package.json
  yarn.lock
Labels: No QA Needed, team-accounts, Run Smoke E2E

#11351 chore(deps): Bump `@metamask/keyring-controller` from `^16.1.0` to `^17.2.1`
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#11352 chore(deps): Bump `@metamask/accounts-controller` to `^18.2.1`, `@metamask/snaps-{controllers,execution-environments,sdk,utils}` to latest, `@metamask/utils` to `^9.2.1`
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#11140 chore(deps): Bump `@metamask/smart-transactions-controller` from `11.0.0` to `^13.0.0`
  app/core/Engine.test.js
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+smart-transactions-controller+11.0.0.patch
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#11321 fix: fix detect tokens performance
  app/components/Views/Wallet/index.tsx
  app/core/Engine.ts
  patches/@metamask+assets-controllers+30.0.0.patch
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#11349 fix: bump notification controllers
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.test.tsx
  app/components/Views/Notifications/index.tsx
  app/components/Views/Notifications/styles.ts
  app/core/Engine.ts
  app/declarations/index.d.ts
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-notifications

#11318 feat: app event manager and attribution id parameters
  app/components/Nav/App/index.js
  app/core/Analytics/MetaMetrics.events.ts
  app/core/AppStateEventListener.test.ts
  app/core/AppStateEventListener.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.test.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.ts
  app/core/processAttribution.test.tsx
  app/core/processAttribution.tsx
  app/store/index.ts
Labels: team-sdk, No QA Needed, release-7.32.0

#11375 chore(deps): Bump `@metamask/controller-utils` from `^10.0.0` to `^11.3.0`
  package.json
Labels: team-wallet-framework, Run Smoke E2E

#11169 chore(deps): Bump `@metamask/signature-controller` from `^17.0.0` to `^19.1.0`, `@metamask/logging-controller` from `^3.0.0` to `^6.0.1`
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#11400 fix: Stop crowdin action from creating branches
  .github/workflows/crowdin_action.yml
Labels: No QA Needed, team-mobile-platform

#10880 chore: Enable linting Pods and re-organize setup.mjs file
  .depcheckrc.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  Gemfile
  bitrise.yml
  docs/readme/environment.md
  ios/Gemfile
  ios/Gemfile.lock
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile
  ios/Podfile.lock
  package.json
  scripts/docker/Dockerfile
  scripts/setup.mjs
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#11372 fix: origin spoofing vulnerability in signature prompts on iOS
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
Labels: team-sdk, Run Smoke E2E

#11379 refactor: rename the feature flag since it had a typo
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/UI/TransactionHeader/index.js
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.styles.ts
  app/components/Views/Settings/PermissionsSettings/PermissionsManager.tsx
  app/components/Views/Settings/index.tsx
  app/util/networks/index.js
Labels: Run Smoke E2E, team-wallet-ux

#11380 fix: Unreadable Asset options
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/AssetOverview/Balance/index.test.tsx
  app/components/Views/AssetOptions/AssetOptions.styles.ts
Labels: team-assets, Run Smoke E2E

#11250 fix: push notifications
  app/components/Nav/Main/index.js
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.tsx
  app/components/UI/Notification/List/index.tsx
  app/components/Views/Notifications/OptIn/index.test.tsx
  app/components/Views/Notifications/OptIn/index.tsx
  app/components/Views/Notifications/index.tsx
  app/components/Views/Settings/NotificationsSettings/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Wallet/index.tsx
  app/core/NotificationManager.js
  app/core/NotificationsManager.test.ts
  app/util/notifications/androidChannels.test.ts
  app/util/notifications/androidChannels.ts
  app/util/notifications/hooks/index.test.ts
  app/util/notifications/hooks/index.ts
  app/util/notifications/index.ts
  app/util/notifications/methods/common.ts
  app/util/notifications/pushPermissions.test.ts
  app/util/notifications/pushPermissions.ts
  app/util/notifications/services/NotificationService.test.ts
  app/util/notifications/services/NotificationService.ts
  app/util/notifications/services/index.ts
  app/util/notifications/settings/storage/constants.ts
  app/util/notifications/settings/storage/contants.test.ts
  app/util/notifications/setupAndroidChannels.test.ts
  app/util/notifications/setupAndroidChannels.ts
  app/util/notifications/types/notification/index.ts
  e2e/helpers.js
  e2e/pages/EnableDeviceNotificationsAlert.js
  e2e/specs/quarantine/import-nft.failing.js
  e2e/utils/Matchers.js
  e2e/viewHelper.js
  index.js
  ios/Podfile.lock
  package.json
  wdio/screen-objects/testIDs/Screens/EnableDeviceNotificationsChecksAlert.testIds.js
  yarn.lock
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-notifications, team-snaps-platform

#11076 fix(2453): adjust UI details for account cell on wallet screen
  app/component-library/components/Pickers/PickerAccount/PickerAccount.tsx
  app/component-library/components/Pickers/PickerAccount/__snapshots__/PickerAccount.test.tsx.snap
  app/component-library/components/Pickers/PickerBase/PickerBase.tsx
  app/component-library/components/Pickers/PickerBase/__snapshots__/PickerBase.test.tsx.snap
  app/components/UI/AddressCopy/AddressCopy.styles.ts
  app/components/UI/AddressCopy/AddressCopy.tsx
  app/components/UI/WalletAccount/WalletAccount.styles.ts
  app/components/UI/WalletAccount/__snapshots__/WalletAccount.test.tsx.snap
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
Labels: design-review, needs-dev-review, Sev3-low, Run Smoke E2E, team-wallet-ux, area-design

#11418 chore: revert chore(js-ts): Migrate 37 0-error js files
  app/__mocks__/pngMock.js
  app/__mocks__/react-native-device-info.js
  app/__mocks__/react-native-splash-screen.js
  app/__mocks__/react-native-view-shot.js
  app/__mocks__/rn-fetch-blob.js
  app/__mocks__/svgMock.js
  app/actions/infuraAvailability/index.js
  app/components/Base/Keypad/createKeypadRule.test.js
  app/components/Base/Title.stories.js
  app/components/UI/Screen/index.js
  app/components/UI/StyledButton/StyledButton.stories.js
  app/components/UI/Swaps/components/LoadingAnimation/backgroundShapes.js
  app/components/UI/Swaps/components/TokenIcon.test.js
  app/components/UI/Swaps/components/TokenSelectButton.test.js
  app/components/UI/Swaps/components/__snapshots__/TokenIcon.test.js.snap
  app/components/UI/Swaps/components/__snapshots__/TokenSelectButton.test.js.snap
  app/components/UI/TransactionElement/utils.test.js
  app/components/UI/UrlAutocomplete/__snapshots__/index.test.js.snap
  app/components/UI/UrlAutocomplete/index.test.js
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewDetailsCard/__snapshots__/index.test.js.snap
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewDetailsCard/index.test.js
  app/constants/navigation.js
  app/constants/network.js
  app/constants/onboarding.js
  app/core/PreventScreenshot.js
  app/core/TransactionTypes.js
  app/images/image-icons.js
  app/lib/ens-ipfs/contracts/registry.js
  app/lib/ens-ipfs/contracts/resolver.js
  app/store/migrations/019.test.js
  app/store/migrations/022.test.js
  app/store/migrations/023.test.js
  app/store/migrations/024.test.js
  app/store/migrations/025.test.js
  app/store/migrations/026.test.js
  app/store/migrations/027.test.js
  app/util/dapp-url-list.js
  app/util/device/index.js
  app/util/gasUtils.js
  app/util/test/smart-contracts.js
  app/util/walletconnect.js
  jest.config.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#11411 fix: fix fixture builder network state
  e2e/fixtures/fixture-builder.js
Labels: team-assets, Run Smoke E2E

#11367 fix: Update steps of the methods that are no longer valid
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
  e2e/utils/Matchers.js
Labels: type-bug, team-mobile-platform, Run Smoke E2E, Detox

#11294 feat: added KeyValueRow to component-library/components-temp
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components-temp/KeyValueRow/KeyValueLabel/KeyValueLabel.styles.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueLabel/KeyValueLabel.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRoot/KeyValueRoot.styles.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRoot/KeyValueRoot.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRow.stories.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRow.styles.ts
  app/component-library/components-temp/KeyValueRow/KeyValueRow.test.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRow.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRow.types.ts
  app/component-library/components-temp/KeyValueRow/KeyValueRow.utils.ts
  app/component-library/components-temp/KeyValueRow/KeyValueSection/KeyValueSection.styles.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueSection/KeyValueSection.tsx
  app/component-library/components-temp/KeyValueRow/__snapshots__/KeyValueRow.test.tsx.snap
  app/component-library/components-temp/KeyValueRow/index.tsx
  storybook/decorators/withNavigation.tsx
  storybook/storyLoader.js
Labels: team-stake, Run Smoke E2E

#11363 refactor(1702-1): auto detect tokens component
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/AutoDetectTokensSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AutoDetectTokensSettings/index.constants.ts
  app/components/Views/Settings/AutoDetectTokensSettings/index.styles.ts
  app/components/Views/Settings/AutoDetectTokensSettings/index.test.tsx
  app/components/Views/Settings/AutoDetectTokensSettings/index.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux

#11364 refactor(1702-2): auto detect nft component
  app/components/Views/Settings/AutoDetectNFTSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AutoDetectNFTSettings/index.constants.ts
  app/components/Views/Settings/AutoDetectNFTSettings/index.styles.ts
  app/components/Views/Settings/AutoDetectNFTSettings/index.test.tsx
  app/components/Views/Settings/AutoDetectNFTSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
Labels: Run Smoke E2E, team-wallet-ux

#11430 fix: refactor Logger usage
  app/util/notifications/services/NotificationService.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, team-notifications, team-snaps-platform

#11425 chore: Add skip label to bypass sonarcloud
  .github/workflows/ci.yml
Labels: No QA Needed, needs-dev-review, team-mobile-platform, skip-sonar-cloud

#11427 feat: add feature announcements channel for android
  app/util/notifications/androidChannels.test.ts
  app/util/notifications/androidChannels.ts
  app/util/notifications/settings/storage/constants.ts
  app/util/notifications/settings/storage/contants.test.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, team-notifications, team-snaps-platform

#11429 feat: add timeout handler
  app/util/notifications/methods/common.ts
  app/util/notifications/services/NotificationService.test.ts
  app/util/notifications/services/NotificationService.ts
  locales/languages/en.json
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, team-notifications, team-snaps-platform

#11443 fix: react native quick crypto ios build bug
  ios/Podfile
  ios/Podfile.lock
Labels: Run Smoke E2E, team-snaps-platform

#11261 feat: STAKE-822 build your balance component
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.styles.ts
  app/components/UI/Stake/components/StakingBalance/StakingBalance.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.types.ts
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.styles.ts
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/UnstakeBanner/UnstakeBanner.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/UnstakeBanner/utils/index.test.ts
  app/components/UI/Stake/components/StakingBalance/StakingBanners/UnstakeBanner/utils/index.ts
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.styles.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
  app/components/UI/Stake/components/StakingBalance/utils/index.ts
  app/components/UI/Stake/utils/bignumber/bignumber.test.ts
  app/components/UI/Stake/utils/bignumber/index.ts
  app/components/UI/Stake/utils/value/index.ts
  app/components/UI/Stake/utils/value/value.test.ts
  app/constants/time.ts
  app/util/date/index.js
  app/util/date/index.test.ts
  locales/languages/en.json
Labels: team-stake, Run Smoke E2E

#11454 feat: adding very basic confirmation page hidden behind env var
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/BottomModal/BottomModal.test.tsx
  app/components/UI/BottomModal/BottomModal.tsx
  app/components/UI/BottomModal/__snapshots__/BottomModal.test.tsx.snap
  app/components/UI/BottomModal/index.tsx
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/Confirm/__snapshots__/Confirm.test.tsx.snap
  app/components/Views/confirmations/Confirm/index.tsx
  app/components/Views/confirmations/Confirm/style.tsx
  app/components/Views/confirmations/components/SignatureRequest/Root/Root.tsx
  app/components/Views/confirmations/hooks/useRedesignEnabled.ts
  app/util/test/confirm-data-helpers.ts
  jest.config.js
Labels: Run Smoke E2E, team-confirmations

#11463 chore: bump to 1439
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#11399 feat: add learn more modal component for staking
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Stake/Views/InputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/InputView/StakeInputView.tsx
  app/components/UI/Stake/Views/InputView/__snapshots__/StakeInputView.test.tsx.snap
  app/components/UI/Stake/components/EstimatedAnnualRewardsCard.tsx
  app/components/UI/Stake/components/LearnMoreModal/LearnMoreModal.styles.ts
  app/components/UI/Stake/components/LearnMoreModal/LearnMoreModal.test.tsx
  app/components/UI/Stake/components/LearnMoreModal/__snapshots__/LearnMoreModal.test.tsx.snap
  app/components/UI/Stake/components/LearnMoreModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.test.tsx
  app/components/UI/Stake/components/images/LearnMoreEthBanner.png
  app/components/UI/Stake/constants/index.ts
  app/components/UI/Stake/routes/index.tsx
  app/components/UI/Tokens/index.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: team-stake, Run Smoke E2E

#11185 feat: display "Snaps (Beta)" decorator tag in accounts list
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/core/__mocks__/MockedEngine.ts
  app/util/address/index.test.ts
  app/util/address/index.ts
  app/util/test/accountsControllerTestUtils.ts
  app/util/test/keyringControllerTestUtils.ts
  locales/languages/en.json
  sonar-project.properties
Labels: area-UI, team-accounts, Run Smoke E2E

#11467 fix: Reorder prep_environment
  bitrise.yml
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#11081 chore: Prevent redundant Sentry sourcemap uploads
  bitrise.yml
  scripts/build.sh
Labels: No QA Needed, team-mobile-delivery

#11469 test: Remove E2E Tests for Features No Longer Present in the App
  e2e/pages/ContractNickNameView.js
  e2e/pages/Onboarding/DefaultNetworkView.js
  e2e/pages/Onboarding/MetaMetricsOptInView.js
  e2e/specs/quarantine/add-edit-custom-eth-mainnet.failing.js
  e2e/specs/quarantine/contract-nickname.failing.js
Labels: team-mobile-platform, Run Smoke E2E, Detox

#11329 chore: Add `@MetaMask/metamask-assets` to `CODEOWNERS`
  .github/CODEOWNERS
Labels: No QA Needed, team-assets

#11483 chore: refactor e2e
  e2e/pages/EnableDeviceNotificationsAlert.js
  e2e/viewHelper.js
Labels: team-mobile-platform, Run Smoke E2E, team-snaps-platform

#10917 chore(ci): split out ci scripts and devDeps into separate project
  .github/scripts/bitrise/.yarnrc
  .github/scripts/package.json
  .github/scripts/tsconfig.json
  .github/scripts/yarn.lock
  .github/workflows/add-release-label.yml
  .github/workflows/check-pr-labels.yml
  .github/workflows/check-template-and-add-labels.yml
  .github/workflows/close-bug-report.yml
  .github/workflows/fitness-functions.yml
  .github/workflows/run-bitrise-e2e-check.yml
  package.json
  yarn.lock
Labels: No QA Needed, team-lavamoat, INVALID-PR-TEMPLATE, Run Smoke E2E

#11464 feat: STAKE-804: build pooled staking empty state component
  app/components/UI/Stake/components/StakingBalance/StakingBalance.styles.ts
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.types.ts
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/StakingCta.styles.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/StakingCta.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/StakingCta.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/__snapshots__/StakingCta.test.tsx.snap
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
  app/components/UI/Stake/components/StakingBalance/mockData.ts
  app/components/UI/Stake/utils/value/index.ts
  app/components/UI/Stake/utils/value/value.test.ts
  locales/languages/en.json
Labels: team-stake, Run Smoke E2E

#11111 chore(deps): Bump `@metamask/phishing-controller` from `^9.0.0` to `^12.0.1`
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/BrowserTab/index.js
  app/core/Engine.ts
  app/util/linkCheck.test.ts
  app/util/linkCheck.ts
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E, skip-sonar-cloud

#11492 chore(revert): Prevent redundant Sentry sourcemap uploads
  bitrise.yml
  scripts/build.sh
Labels: No QA Needed, team-mobile-platform, INVALID-PR-TEMPLATE

#11458 test: Merge Import Token flow methods and ids in just one folder and files
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/AddCustomToken/__snapshots__/index.test.tsx.snap
  app/components/UI/AddCustomToken/index.js
  app/components/UI/AssetList/index.js
  app/components/UI/AssetSearch/index.tsx
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.tsx
  app/components/UI/MultiAssetListItems/MultiAssetListItems.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/Views/AddAsset/__snapshots__/AddAsset.test.tsx.snap
  e2e/pages/AddCustomTokenView.js
  e2e/pages/ConfirmAddAsset.js
  e2e/pages/ImportTokensView.js
  e2e/pages/TokenOverview.js
  e2e/pages/wallet/ImportNFTFlow/ImportNFTView.js
  e2e/pages/wallet/ImportTokenFlow/ConfirmAddAsset.js
  e2e/pages/wallet/ImportTokenFlow/ImportTokensView.js
  e2e/selectors/AddCustomTokenView.selectors.js
  e2e/selectors/ImportTokenView.selectors.js
  e2e/selectors/wallet/ImportNFTView.selectors.js
  e2e/selectors/wallet/ImportTokenView.selectors.js
  e2e/specs/assets/import-tokens.spec.js
  e2e/specs/assets/nft-details.spec.js
  e2e/specs/quarantine/import-nft.failing.js
  e2e/specs/wallet/send-ERC-token.spec.js
  wdio/screen-objects/AddCustomImportTokensScreen.js
  wdio/screen-objects/TokenOverviewScreen.js
  wdio/screen-objects/testIDs/Screens/AddCustomToken.testIds.js
  wdio/screen-objects/testIDs/Screens/AssetSearch.testIds.js
  wdio/screen-objects/testIDs/Screens/NFTImportScreen.testIds.js
  wdio/screen-objects/testIDs/Screens/TokenOverviewScreen.testIds.js
Labels: team-mobile-platform, Run Smoke E2E, Detox

#11478 feat: adding title to confirmation page
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/Confirm/__snapshots__/Confirm.test.tsx.snap
  app/components/Views/confirmations/Confirm/style.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Footer/__snapshots__/Footer.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/Footer/style.ts
  app/components/Views/confirmations/components/Confirm/Title/Title.test.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.tsx
  app/components/Views/confirmations/components/Confirm/Title/__snapshots__/Title.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/Title/index.ts
  app/components/Views/confirmations/components/Confirm/Title/style.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#11466 feat: add support for external links
  app/util/notifications/hooks/index.ts
  app/util/notifications/services/NotificationService.ts
Labels: No QA Needed, Run Smoke E2E, team-notifications, team-snaps-platform

#11387 feat: 10550 Re-introduce test for measuring cold app start + JS bundle load time
  app/actions/onboarding/index.js
  app/actions/onboarding/index.ts
  app/components/Views/OnboardingCarousel/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingCarousel/index.js
  app/components/Views/OnboardingCarousel/index.test.tsx
  app/components/Views/OnboardingCarousel/index.tsx
  app/core/Performance/Performance.test.ts
  app/core/Performance/Performance.ts
  app/reducers/index.ts
  e2e/selectors/PerformanceRegression.selectors.js
  wdio/features/Performance/ColdStartToOnboardingScreen.feature
  wdio/screen-objects/Onboarding/OnboardingCarousel.js
  wdio/step-definitions/app-launch-times.steps.js
Labels: No QA Needed, team-mobile-platform

#11504 chore: revert measuring with react native performance
  app/actions/onboarding/index.js
  app/actions/onboarding/index.ts
  app/components/Views/OnboardingCarousel/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingCarousel/index.js
  app/components/Views/OnboardingCarousel/index.test.tsx
  app/components/Views/OnboardingCarousel/index.tsx
  app/core/Performance/Performance.test.ts
  app/core/Performance/Performance.ts
  app/reducers/index.ts
  e2e/selectors/PerformanceRegression.selectors.js
  wdio/features/Performance/ColdStartToOnboardingScreen.feature
  wdio/screen-objects/Onboarding/OnboardingCarousel.js
  wdio/step-definitions/app-launch-times.steps.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, skip-sonar-cloud

#11445 feat: add the abilty to hide the disconnect all button as well as showing and hiding the accounts row when necessary
  app/components/UI/PermissionsSummary/PermissionsSummary.styles.ts
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.types.ts
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/UI/SwitchCustomNetwork/index.js
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux

#11470 chore: [Design quality] Update token details
  app/components/UI/AssetOverview/Balance/Balance.styles.tsx
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/AssetOverview/Balance/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetOverview/ChartNavigationButton/ChartNavigationButton.styles.tsx
  app/components/UI/AssetOverview/ChartNavigationButton/ChartNavigationButton.tsx
  app/components/UI/AssetOverview/Price/Price.styles.tsx
  app/components/UI/AssetOverview/Price/Price.tsx
  app/components/UI/AssetOverview/PriceChart/PriceChart.tsx
  app/components/UI/AssetOverview/StakingEarnings/StakingEarnings.styles.tsx
  app/components/UI/AssetOverview/StakingEarnings/__snapshots__/StakingEarnings.test.tsx.snap
  app/components/UI/AssetOverview/StakingEarnings/index.tsx
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/MarketDetailsList.tsx
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/__snapshots__/MarketDetailsList.test.tsx.snap
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.styles.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/TokenDetailsList.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/__snapshots__/TokenDetailsList.test.tsx.snap
  app/components/UI/AssetOverview/TokenDetails/__snapshots__/TokenDetails.test.tsx.snap
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/Views/Asset/ActivityHeader.styles.tsx
  app/components/Views/Asset/ActivityHeader.tsx
Labels: team-ramp, team-assets, Run Smoke E2E, team-wallet-ux

#11507 feat: 10550 Re-introduce test for measuring cold app start + JS bundle load time
  app/actions/onboarding/index.js
  app/actions/onboarding/index.ts
  app/components/Views/OnboardingCarousel/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingCarousel/index.js
  app/components/Views/OnboardingCarousel/index.test.tsx
  app/components/Views/OnboardingCarousel/index.tsx
  app/core/Performance/Performance.test.ts
  app/core/Performance/Performance.ts
  app/reducers/index.ts
  app/util/metrics/TrackOnboarding/trackOnboarding.ts
  e2e/selectors/PerformanceRegression.selectors.js
  wdio/features/Performance/ColdStartToOnboardingScreen.feature
  wdio/screen-objects/Onboarding/OnboardingCarousel.js
  wdio/step-definitions/app-launch-times.steps.js
Labels: team-mobile-platform, Run Smoke E2E
