Repository MetaMask/metamask-mobile, pull requests merged in 2024-08, with the labels that each got.

#10507 chore: core related files selectors refactor
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/Asset/index.js
  app/components/Views/Browser/index.js
  app/components/Views/BrowserTab/index.js
  app/components/hooks/useExistingAddress.ts
  app/selectors/transactionController.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10267 feat: add utility function to get supported chains from the Security Alerts API
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
  app/lib/ppom/security-alerts-api.test.ts
  app/lib/ppom/security-alerts-api.ts
Labels: Run Smoke E2E, team-confirmations

#10277 feat: New nft details page
  app/component-library/components/Icons/Icon/assets/arrow-down.svg
  app/component-library/components/Icons/Icon/assets/arrow-left.svg
  app/component-library/components/Icons/Icon/assets/arrow-right.svg
  app/component-library/components/Icons/Icon/assets/arrow-up.svg
  app/component-library/components/Icons/Icon/assets/close.svg
  app/component-library/components/Icons/Icon/assets/more-horizontal.svg
  app/component-library/components/Icons/Icon/assets/more-vertical.svg
  app/components/Base/RemoteImage/index.js
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/AssetOverview/AboutAsset/ContentDisplay.tsx
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.types.ts
  app/components/UI/Navbar/index.js
  app/components/Views/NftDetails/NFtDetailsFullImage.tsx
  app/components/Views/NftDetails/NftDetails.styles.ts
  app/components/Views/NftDetails/NftDetails.test.ts
  app/components/Views/NftDetails/NftDetails.tsx
  app/components/Views/NftDetails/NftDetails.types.ts
  app/components/Views/NftDetails/NftDetailsBox.tsx
  app/components/Views/NftDetails/NftDetailsInformationRow.tsx
  app/components/Views/NftDetails/__snapshots__/NftDetails.test.ts.snap
  app/components/Views/NftDetails/index.ts
  app/components/Views/NftDetails/nftDetails.utils.ts
  app/components/Views/NftOptions/NftOptions.styles.ts
  app/components/Views/NftOptions/NftOptions.tsx
  app/components/Views/NftOptions/index.ts
  app/components/Views/ShowTokenIdSheet/ShowTokenIdSheet.styles.ts
  app/components/Views/ShowTokenIdSheet/ShowTokenIdSheet.test.tsx
  app/components/Views/ShowTokenIdSheet/ShowTokenIdSheet.tsx
  app/components/Views/ShowTokenIdSheet/ShowTokenIdSheet.types.ts
  app/components/Views/ShowTokenIdSheet/__snapshots__/ShowTokenIdSheet.test.tsx.snap
  app/components/Views/ShowTokenIdSheet/index.ts
  app/constants/navigation/Routes.ts
  app/util/date/index.js
  app/util/date/index.test.ts
  e2e/pages/wallet/WalletView.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/assets/nft-details.spec.js
  e2e/utils/Matchers.js
  locales/languages/en.json
  patches/@metamask+assets-controllers+30.0.0.patch
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10526 chore: bump version 1372
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#10525 chore: revert 10266
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.styles.ts
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.tsx
  app/components/Views/confirmations/components/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: No QA Needed, team-mobile-platform, team-confirmations

#10477 fix: fix error when clicking on asset
  app/util/activity/index.test.ts
  app/util/activity/index.ts
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10471 chore: Typescript type coverage util lib folders
  app/lib/ppom/ppom-storage-backend.ts
  app/util/blockaid/index.test.ts
  app/util/dappTransactions/index.test.ts
  app/util/dappTransactions/index.ts
  app/util/networks/index.test.ts
  app/util/smart-transactions/index.test.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
Labels: type-tech-debt, needs-dev-review, team-mobile-platform, Run Smoke E2E

#10531 chore: fix release action
  bitrise.yml
  scripts/create-release-pr.sh
Labels: No QA Needed, team-mobile-platform

#10519 feat: multichain popular network dapp connection confirmation bottomsheet
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux

#10542 feat: add warning banner to custom network bottom sheet
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux

#10535 chore: Optimize/10528 remove generated svgs
  app/components/UI/AssetIcon/index.tsx
  app/images/static-logos.js
  app/util/test/testSetup.js
  package.json
  scripts/build.sh
  scripts/metamask-bot-build-generate-static-assets.js
Labels: No QA Needed, needs-dev-review, Spot Check on the Release Build, team-mobile-platform

#10546 chore: add runway bot to CLA allow list
  .github/workflows/cla.yml
Labels: No QA Needed, team-mobile-platform

#10553 chore: move detox setup into its own script
  bitrise.yml
  package.json
  scripts/detox-setup.sh
  scripts/setup.mjs
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10123 feat: improve add network fields checkers
  app/components/Nav/App/index.js
  app/components/Views/NetworkSelector/NetworkSearchTextInput/NetworkSearchTextInput.tsx
  app/components/Views/NetworkSelector/NetworkSelector.styles.ts
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/styles.ts
  app/constants/navigation/Routes.ts
  app/util/networks/index.js
  app/util/networks/isNetworkUiRedesignEnabled.ts
  locales/languages/en.json
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10539 chore: enhance Source Detection Logic in Analytics Parameters
  app/components/UI/AccountApproval/index.js
  app/components/hooks/useMetrics/useMetrics.types.ts
Labels: team-sdk, No QA Needed, Run Smoke E2E

#10510 chore: update Android SDK to API Level 34
  .detoxrc.js
  android/app/src/main/java/io/metamask/MainApplication.java
  android/build.gradle
  bitrise.yml
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10479 chore: added stories files to sonarcloud exclusions
  sonar-project.properties
Labels: No QA Needed, needs-dev-review, team-design-system

#9950 feat: QR-based add NGRAVE ZERO Hardware
  app/components/Views/ConnectQRHardware/Instruction/index.tsx
  app/components/Views/ConnectQRHardware/__snapshots__/index.test.tsx.snap
  app/constants/urls.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: team-accounts, external-contributor, team-hardware-wallets, Run Smoke E2E

#10576 chore: merge 7.28.0
  CHANGELOG.md
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.styles.ts
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.tsx
  app/components/Views/confirmations/components/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: No QA Needed, team-mobile-platform

#10578 chore: audit override
  .iyarc
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10361 fix: fix alignment issues in onboarding success
  app/components/Views/OnboardingSuccess/__snapshots__/index.test.js.snap
  app/components/Views/OnboardingSuccess/index.styles.ts
  app/components/Views/OnboardingSuccess/index.tsx
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#10581 chore: bump version 1378 RC 2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#10548 fix: replaced incorrect export icon with correct icon
  app/component-library/components/Icons/Icon/assets/export.svg
Labels: Run Smoke E2E, team-wallet-ux, area-design

#10532 fix: replaced incorrect icons on wallet bottom sheet with correct icons
  app/component-library/components/Icons/Icon/Icon.assets.ts
  app/component-library/components/Icons/Icon/Icon.types.ts
  app/component-library/components/Icons/Icon/assets/add.svg
  app/component-library/components/Icons/Icon/assets/arrow-2-right.svg
  app/component-library/components/Icons/Icon/assets/bridge.svg
  app/component-library/components/Icons/Icon/assets/minus.svg
  app/component-library/components/Icons/Icon/assets/received.svg
  app/component-library/components/Icons/Icon/assets/swap-horizontal.svg
  app/component-library/components/Icons/Icon/assets/swap-vertical.svg
  app/component-library/components/Icons/Icon/assets/swap-vertival.svg
  app/component-library/components/Navigation/TabBar/TabBar.constants.ts
  app/component-library/components/Navigation/TabBar/__snapshots__/TabBar.test.tsx.snap
  app/components/Views/WalletActions/WalletActions.tsx
Labels: Run Smoke E2E, team-wallet-ux

#10307 chore: Fix some TS errors in component library
  app/component-library/components-temp/Contracts/ContractBoxBase/ContractBoxBase.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.tsx
  app/component-library/components-temp/CustomSpendCap/__snapshots__/CustomSpendCap.test.tsx.snap
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.types.ts
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentage.stories.tsx
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentage.tsx
  app/component-library/components-temp/Price/PercentageChange/PercentageChange.stories.tsx
  app/component-library/components/Avatars/Avatar/Avatar.types.ts
  app/component-library/components/Badges/Badge/Badge.test.tsx
  app/component-library/components/Badges/Badge/Badge.tsx
  app/component-library/components/Badges/Badge/Badge.types.ts
  app/component-library/components/Badges/Badge/__snapshots__/Badge.test.tsx.snap
  app/component-library/components/Badges/Badge/variants/BadgeNotifications/BadgeNotifications.stories.tsx
  app/component-library/components/Badges/BadgeWrapper/BadgeWrapper.styles.ts
  app/component-library/components/Buttons/Button/README.md
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.tsx
  app/component-library/components/Buttons/Button/foundation/ButtonBase/ButtonBase.types.ts
  app/component-library/components/Buttons/Button/variants/ButtonLink/README.md
  app/component-library/components/Cells/Cell/Cell.tsx
  app/component-library/components/Form/TextField/README.md
  app/component-library/components/List/ListItem/ListItem.tsx
  app/component-library/components/List/ListItemSelect/ListItemSelect.types.ts
  app/component-library/components/RadioButton/index.ts
  app/component-library/components/Select/SelectButton/foundation/SelectButtonBase.types.ts
  app/component-library/components/Select/SelectOption/SelectOption.tsx
  app/component-library/components/Select/SelectValue/foundation/index.ts
  app/component-library/components/Toast/Toast.tsx
  app/component-library/components/Toast/Toast.types.ts
Labels: type-tech-debt, team-mobile-platform, Run Smoke E2E

#10489 fix: url change bug
  app/components/Views/BrowserTab/index.js
  app/util/favicon/index.test.ts
  app/util/favicon/index.ts
Labels: android, QA Passed, team-mobile-platform

#10154 fix: sets data marketing to false in case of non-selection
  app/components/UI/OptinMetrics/index.js
Labels: needs-dev-review, Run Smoke E2E, team-wallet-ux

#10575 chore: enable sonar on E2E
  sonar-project.properties
Labels: No QA Needed, team-mobile-platform

#10598 fix: App crashes when deleting browser favorites on android devices
  app/core/RPCMethods/RPCMethodMiddleware.ts
Labels: team-mobile-platform, Run Smoke E2E

#10607 fix: hold to reveal UI/UX
  app/components/UI/ButtonReveal/index.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-accounts, Run Smoke E2E

#10559 chore: Create app launch times pipeline
  bitrise.yml
  wdio/config/android.config.browserstack.js
  wdio/features/Performance/ColdStartLaunchTimes.feature
  wdio/features/Performance/WarmStartPerformance.feature
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10538 chore: Update terms of use modal
  .eslintrc.js
  .gitignore
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.test.tsx
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.tsx
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.types.ts
  app/component-library/components/Modals/ModalMandatory/__snapshots__/ModalMandatory.test.tsx.snap
  app/declarations.d.ts
  app/util/termsOfUse/termsOfUse.ts
  e2e/viewHelper.js
  scripts/setup.mjs
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10537 chore: TS coverage UI folder part 1
  app/components/Base/Alert.stories.tsx
  app/components/Base/Alert.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountRightButton/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountRightButton/index.test.tsx
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.test.tsx
  app/components/UI/AddToAddressBookWrapper/AddToAddressBookWrapper.tsx
  app/components/UI/AssetOverview/AboutAsset/AboutAsset.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/Price/Price.tsx
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.styles.ts
  app/components/UI/Bridge/utils/isBridgeAllowed.ts
  app/components/UI/CollectibleDetectionModal/index.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.styles.ts
  app/components/UI/CollectibleMedia/CollectibleMedia.test.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.types.ts
  app/components/UI/CollectibleModal/CollectibleModal.tsx
  app/components/UI/CollectibleModal/CollectibleModal.types.ts
  app/components/UI/CollectibleModal/__snapshots__/CollectibleModal.test.tsx.snap
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/UI/HardwareWallet/AccountDetails/index.tsx
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/UI/LedgerModals/LedgerConfirmationModal.test.tsx
  app/components/UI/LedgerModals/LedgerTransactionModal.tsx
  app/components/UI/LedgerModals/Steps/SearchingForDeviceStep.test.tsx
  app/components/UI/LedgerModals/Steps/SearchingForDeviceStep.tsx
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
  app/components/UI/Name/Name.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.test.tsx
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/OnboardingWizard/index.test.tsx
  app/components/UI/OnboardingWizard/index.tsx
  app/components/UI/QRHardware/AnimatedQRScanner.tsx
  app/components/UI/QRHardware/QRSigningDetails.tsx
  app/components/Views/NftDetails/__snapshots__/NftDetails.test.ts.snap
  app/components/Views/confirmations/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/hooks/useAccounts/useAccounts.types.ts
  app/declarations.d.ts
  app/util/address/index.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10613 fix: useBlockExplorer hook
  app/components/hooks/useBlockExplorer.test.ts
  app/components/hooks/useBlockExplorer.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10457 chore: Notifications Settings Polishing
  app/components/UI/ProfileSyncing/ProfileSyncing.test.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.test.tsx
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationsSettings.styles.ts
  app/components/Views/Settings/NotificationsSettings/NotificationsSettings.types.ts
  app/components/Views/Settings/NotificationsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Settings/NotificationsSettings/notificationsRows.ts
  app/components/Views/Settings/NotificationsSettings/sectionHeader.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/core/Engine.ts
  app/core/EngineService/EngineService.ts
  app/util/notifications/notification-states/swap-completed/swap-completed.tsx
  locales/languages/en.json
  metro.transform.js
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#10404 fix: aggregated balance calculation
  app/core/Engine.test.js
  app/core/Engine.ts
Labels: No QA Needed, team-assets, Run Smoke E2E, needs-assets-ux-review

#10609 chore: Cherry pick new terms of use
  .eslintrc.js
  .gitignore
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.test.tsx
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.tsx
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.types.ts
  app/component-library/components/Modals/ModalMandatory/__snapshots__/ModalMandatory.test.tsx.snap
  app/declarations.d.ts
  app/util/termsOfUse/termsOfUse.ts
  e2e/viewHelper.js
  scripts/setup.mjs
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10640 Fix/notification small fixes
  app/components/Nav/Main/MainNavigator.js
  app/components/Views/Notifications/index.tsx
  app/components/Views/Notifications/styles.ts
Labels: No QA Needed, team-mobile-platform, team-notifications, team-snaps-platform

#10641 fix: Add missing pod lock changes
  ios/Podfile.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#10557 test: Bump Detox version from v20.20.3 to v20.23.1
  package.json
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E, Detox, area-qa

#10637 fix: swap button blocked by SwapsController polling issue
  package.json
  yarn.lock
Labels: team-swaps, Run Smoke E2E

#10394 fix: switch chain with walletconnect
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/BackgroundBridge/WalletConnectPort.ts
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: team-sdk, QA Passed, WalletConnect, external-contributor, Run Smoke E2E, release-7.30.0

#10653 chore: skip flakey test
  e2e/specs/browser/browser-tests.spec.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10647 chore: updated in-app review to comply with SDK 14 on Android
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-mobile-delivery

#10660 chore: Cherry pick 340e5ed
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform

#10659 chore: Cherry pick 3285220
  .iyarc
Labels: No QA Needed, team-mobile-platform

#10669 chore: cherry pick 2df9eb5
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform, team-swaps

#10663 chore: Update axios to v1.7.4
  .iyarc
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10547 fix: settings toggle extra large paddings when biometrics hidden
  app/components/Views/Settings/SecuritySettings/Sections/LoginOptionsSettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
Labels: Run Smoke E2E, team-wallet-ux, area-design

#10638 chore: cherry pick fix for aggregated balance calculation
  app/core/Engine.test.js
  app/core/Engine.ts
Labels: team-assets

#10639 chore: chery pick fix for harmony network image
  app/util/networks/customNetworks.tsx
Labels: team-assets, Run Smoke E2E

#10561 chore: 10311 transactions simulation dir
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/Transactions/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10649 fix: Update test dapp favorite selector
  e2e/selectors/Browser/BrowserView.selectors.js
  e2e/specs/browser/browser-tests.spec.js
Labels: type-bug, team-mobile-platform, Run Smoke E2E, Detox, area-qa, flaky tests

#10679 feat: bottom sheet displaying dapp permission summary for multichain, UI changes only and feature flagged ttemp
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/UI/TransactionHeader/index.js
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux

#10681 chore: blockaid and fav icon test files ts errors
  app/util/blockaid/index.test.ts
  app/util/favicon/index.test.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10680 refactor(notification types): fix notification types
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
  app/components/UI/Notification/NotificationMenuItem/Icon.test.tsx
  app/components/UI/Notification/SwitchLoadingModal/Loader.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/NetworkField.tsx
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
  app/util/notifications/constants/config.ts
  app/util/notifications/hooks/useNotifications.ts
  app/util/notifications/notification-states/erc1155-sent-received/erc1155-sent-received.tsx
  app/util/notifications/notification-states/erc20-sent-received/erc20-sent-received.ts
  app/util/notifications/notification-states/erc721-sent-received/erc721-sent-received.tsx
  app/util/notifications/notification-states/eth-sent-received/eth-sent-received.tsx
  app/util/notifications/notification-states/lido-stake-ready-to-be-withdrawn/lido-stake-ready-to-be-withdrawn.tsx
  app/util/notifications/notification-states/lido-withdrawal-requested/lido-withdrawal-requested.tsx
  app/util/notifications/notification-states/types/NotificationMenuItem.ts
  app/util/notifications/notification-states/types/NotificationModalDetails.ts
  app/util/notifications/types/notification/index.ts
Labels: Run Smoke E2E, team-notifications

#10596 feat: select multi rpc UI
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.styles.ts
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.tsx
  app/component-library/components-temp/CellSelectWithMenu/__snapshots__/CellSelectWithMenu.test.tsx.snap
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.styles.ts
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.tsx
  app/component-library/components-temp/ListItemMultiSelectButton/ListItemMultiSelectButton.types.ts
  app/component-library/components-temp/ListItemMultiSelectButton/__snapshots__/ListItemMultiSelectButton.test.tsx.snap
  app/components/Nav/App/index.js
  app/components/Views/NetworkSelector/NetworkSelector.styles.ts
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/styles.ts
  app/constants/urls.ts
  app/util/hideProtocolFromUrl.test.ts
  app/util/hideProtocolFromUrl.ts
  locales/languages/en.json
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10668 fix: notifications first round of tests
  app/components/Nav/App/index.js
  app/components/UI/Notification/List/__snapshots__/index.test.tsx.snap
  app/components/UI/Notification/List/styles.ts
  app/components/Views/Notifications/Details/index.tsx
  app/components/Views/Notifications/Details/styles.ts
  app/components/Views/Notifications/index.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Wallet/index.tsx
  app/core/NotificationManager.js
  app/util/notifications/pushPermissions.test.ts
  app/util/notifications/pushPermissions.ts
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, team-notifications, team-snaps-platform

#10608 chore: add test variant for credential reveal
  app/components/UI/Swaps/components/InfoModal.js
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
  app/components/Views/RevealPrivateCredential/index.test.tsx
  app/components/Views/RevealPrivateCredential/styles.ts
  e2e/selectors/Settings/SecurityAndPrivacy/RevealSeedView.selectors.js
  locales/languages/en.json
Labels: needs-dev-review, team-accounts, No E2E Smoke Needed, Run Smoke E2E

#10675 chore: typescript no check on notifications directory
  app/components/UI/Notification/NotificationMenuItem/Root.test.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10665 chore: Views directory ts coverage - part 1
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissions.test.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/Views/AddAsset/AddAsset.tsx
  app/components/Views/AssetDetails/index.tsx
Labels: No QA Needed, team-mobile-platform

#10683 fix: remove snap webview flag
  app/components/Nav/App/index.js
Labels: No QA Needed, needs-dev-review, mobile-snaps, team-snaps-platform

#10672 chore: TS coverage on views folder part 3 - 2
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/declarations.d.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10690 chore: Prevent crash when engine is not initialized
  app/core/EngineService/EngineService.ts
  app/store/persistConfig.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10692 perf: add parallel fetching for the network fee dropdown
  app/util/notifications/methods/common.ts
Labels: Run Smoke E2E, team-notifications

#10693 chore: notification second round fixes
  app/core/Engine.ts
  package.json
  patches/@metamask+approval-controller+7.0.2.patch
  yarn.lock
Labels: No QA Needed, needs-dev-review, Run Smoke E2E, team-notifications, team-snaps-platform

#10682 feat: 2794 account edit permission multichain bottomsheet UI changes only
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  locales/languages/en.json
  sonar-project.properties
Labels: Run Smoke E2E, team-wallet-ux

#10700 chore: removing unused component
  app/components/UI/TextEstimated/README.md
  app/components/UI/TextEstimated/TextEstimated.constants.ts
  app/components/UI/TextEstimated/TextEstimated.stories.tsx
  app/components/UI/TextEstimated/TextEstimated.test.tsx
  app/components/UI/TextEstimated/TextEstimated.tsx
  app/components/UI/TextEstimated/TextEstimated.types.ts
  app/components/UI/TextEstimated/__snapshots__/TextEstimated.test.tsx.snap
  app/components/UI/TextEstimated/index.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10453 fix: upgrade @ledgerhq/react-native-hw-transport-ble library and copyright changes.
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
  app/components/Views/LedgerConnect/__snapshots__/index.test.tsx.snap
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/Views/LedgerSelectAccount/__snapshots__/index.test.tsx.snap
  app/core/Engine.ts
  bitrise.yml
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, team-accounts, team-hardware-wallets, Run Smoke E2E, hardware-ledger

#10262 chore(ramp): upgrade sdk to 1.28.3 and remove chainId casting
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.constants.ts
  app/components/UI/Ramp/hooks/useCryptoCurrencies.ts
  app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/hooks/usePaymentMethods.ts
  app/components/UI/Ramp/orderProcessor/aggregator.test.ts
  app/components/UI/Ramp/orderProcessor/aggregator.ts
  app/components/UI/Ramp/utils/index.test.ts
  app/components/UI/Ramp/utils/index.ts
  app/components/Views/WalletActions/WalletActions.test.tsx
  package.json
  yarn.lock
Labels: team-ramp, Run Smoke E2E

#10395 feat(ramp): add amounts to quotes received event
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/types/analytics.ts
Labels: team-ramp, Run Smoke E2E

#10393 feat(ramp): add property to provider selected event
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/types/analytics.ts
Labels: team-ramp, Run Smoke E2E

#10706 chore: cherry pick d147d8f (#10453)
  app/components/UI/LedgerModals/Steps/__snapshots__/SearchingForDeviceStep.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerConfirmationModal.test.tsx.snap
  app/components/UI/LedgerModals/__snapshots__/LedgerMessageSignModal.test.tsx.snap
  app/components/Views/LedgerConnect/__snapshots__/index.test.tsx.snap
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/Views/LedgerSelectAccount/__snapshots__/index.test.tsx.snap
  app/core/Engine.ts
  bitrise.yml
  locales/languages/en.json
  package.json
  yarn.lock
Labels: team-accounts, team-mobile-platform, Run Smoke E2E

#10709 chore: Bump version 1398 RC3
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#10711 chore: cherry-pick fix android build
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform

#10713 chore: version bump 1393 rc4
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#10696 feat: Update @blockaid/ppom_release to release 1.5.2
  app/lib/ppom/blockaid-version.js
  ppom/package.json
  ppom/yarn.lock
Labels: Run Smoke E2E, team-confirmations

#10437 chore: Bump @metamask/smart-transactions-controller from 10.1.1 to 11.0.0
  app/core/Engine.ts
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-transactions

#10588 fix: disabled what's new modal
  app/components/Nav/App/index.js
  app/components/UI/WhatsNewModal/WhatsNewModal.tsx
  app/components/Views/Wallet/index.tsx
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/quarantine/add-edit-custom-eth-mainnet.failing.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/wallet/start-exploring.spec.js
  e2e/viewHelper.js
  wdio/features/Upgrading/MultipleAccounts.feature
Labels: needs-dev-review, Sev3-low, Run Smoke E2E, team-wallet-ux

#10603 chore: reverting chainID 1338
  app/util/test/ganache.js
  e2e/api-specs/json-rpc-coverage.js
  e2e/fixtures/fixture-builder.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, area-qa

#10720 test: disable sonar on E2E folder
  sonar-project.properties
Labels: No QA Needed, team-mobile-platform

#10707 chore: Fix TS errors in batch of components/UI folder
  app/components/UI/SearchTokenAutocomplete/index.test.tsx
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.test.tsx
  app/components/UI/SimulationDetails/FiatDisplay/FiatDisplay.tsx
  app/components/UI/SimulationDetails/SimulationDetails.test.tsx
  app/components/UI/Swaps/SwapsLiveness.ts
  app/components/UI/Tabs/index.test.tsx
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  app/components/UI/TransactionElement/TransactionDetails/index.test.tsx
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/UI/WebsiteIcon/index.test.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.types.ts
  app/declarations.d.ts
  app/util/address/index.ts
Labels: team-mobile-platform, Run Smoke E2E

#10708 chore: bump linux build machine version
  android/gradle.properties
  bitrise.yml
Labels: Run Smoke E2E, team-mobile-delivery

#10636 test: Update ios simulator to iphone 15
  .detoxrc.js
  e2e/api-specs/ConfirmationsRejectionRule.js
  e2e/pages/modals/SpamFilterModal.js
  e2e/selectors/Modals/SpamFilterModal.selectors.js
Labels: team-mobile-platform, Run Smoke E2E, Detox, area-qa

#10698 chore: Ignore TS issues on snaps directory
  app/components/Views/Snaps/SnapSettings/test/SnapSettings.test.tsx
  app/components/Views/Snaps/components/SnapDetails/SnapDetails.tsx
  app/components/Views/Snaps/components/SnapDetails/test/SnapDetails.test.tsx
  app/components/Views/Snaps/components/SnapElement/test/SnapElement.test.tsx
  app/components/Views/Snaps/components/SnapPermissions/SnapPermissions.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10285 chore: enable webview debugging for all builds but prod
  app/components/Views/BrowserTab/index.js
  docs/readme/debugging.md
Labels: No QA Needed, team-mobile-platform, external-contributor, Run Smoke E2E, RNWebView

#10658 fix: issue in blockaid spinner for batched confirmations
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/TransactionBlockaidBanner/TransactionBlockaidBanner.test.tsx
  app/components/Views/confirmations/components/TransactionBlockaidBanner/TransactionBlockaidBanner.tsx
  app/components/Views/confirmations/components/TransactionBlockaidBanner/__snapshots__/TransactionBlockaidBanner.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/reducers/transaction/index.js
  app/selectors/confirmTransaction.ts
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
Labels: Run Smoke E2E, team-confirmations

#10670 chore: Implement TypeScript for Ramp folder
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/OrdersList/OrdersList.test.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.test.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/containers/CustomActionButton.tsx
  app/components/UI/Ramp/hooks/useBalance.ts
  app/components/UI/Ramp/hooks/useGasPriceEstimation.test.ts
  app/components/UI/Ramp/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/orderProcessor/aggregator.test.ts
  app/components/UI/Ramp/sdk/index.tsx
  app/components/hooks/useAccounts/useAccounts.ts
Labels: team-mobile-platform, Run Smoke E2E

#10710 chore: remove tsc issues of node_modules
  app/components/UI/WebsiteIcon/index.js
  app/declarations/@keystonehq/ur-decoder.ts
  app/declarations/index.d.ts
  patches/react-native-svg+15.3.0.patch
  tsconfig.json
  tsconfig.lint.json
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10732 chore: ignore errors that are fixed on TS v5
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10733 fix: remove duplicate origin validation in transaction controller
  app/core/Engine.ts
  patches/@metamask+transaction-controller+35.0.0.patch
Labels: Run Smoke E2E, team-confirmations

#10697 chore: Add more typescript fixes
  app/component-library/components/Pickers/PickerAccount/PickerAccount.types.ts
  app/components/Approvals/SignatureApproval/SignatureApproval.tsx
  app/components/Nav/App/index.test.tsx
  app/components/Nav/Main/index.test.tsx
  app/components/UI/AccountInfoCard/index.test.tsx
  app/components/UI/AssetSearch/index.tsx
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.test.tsx
  app/components/UI/Identicon/index.test.tsx
  app/components/UI/OnboardingWizard/index.tsx
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.test.tsx
  app/components/UI/SimulationDetails/SimulationDetails.test.tsx
  app/components/UI/Swaps/SwapsLiveness.ts
  app/components/UI/Tokens/index.tsx
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/Views/LockScreen/index.test.tsx
  app/components/Views/NFTAutoDetectionModal/NFTAutoDetectionModal.test.tsx
  app/components/Views/NftDetails/NftDetails.test.ts
  app/components/Views/OriginSpamModal/OriginSpamModal.test.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/SDK/SDKSessionsManager/SDKSessionAccountListItem.test.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/hooks/useAccounts/useAccounts.test.ts
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useAddressBalance/useAddressBalance.test.tsx
  app/components/hooks/useExistingAddress.test.ts
  app/util/sentry/__snapshots__/utils.test.ts.snap
  app/util/sentry/utils.test.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10735 chore: Add E2E folders to sonar exclusion list
  sonar-project.properties
Labels: No QA Needed, team-mobile-platform

#10739 feat: Feat/add redux debugger
  .iyarc
  app/store/index.ts
  docs/readme/debugging.md
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10746 chore: fix another batch of TS errors
  app/component-library/components/Sheet/SheetHeader/SheetHeader.types.ts
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/util/dappTransactions/index.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10748 feat: Add yarn flipper script
  docs/readme/debugging.md
  package.json
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10695 feat: sdk async key exchange
  app/core/DeeplinkManager/ParseManager/extractURLParams.test.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.ts
  app/core/DeeplinkManager/ParseManager/handleMetaMaskDeeplink.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/DeeplinkManager/parseOriginatorInfo.test.ts
  app/core/DeeplinkManager/parseOriginatorInfo.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/Connection/Connection.test.ts
  app/core/SDKConnect/Connection/Connection.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/connect.test.ts
  app/core/SDKConnect/Connection/ConnectionLifecycle/connect.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsConnected.test.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsConnected.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.ts
  app/core/SDKConnect/SDKConnect.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
  app/core/SDKConnect/handlers/handleConnectionMessage.ts
  app/core/SDKConnect/handlers/handleDeeplink.test.ts
  app/core/SDKConnect/handlers/handleDeeplink.ts
  app/core/SDKConnect/utils/wait.util.test.ts
  app/core/SDKConnect/utils/wait.util.ts
  index.js
  package.json
  yarn.lock
Labels: team-sdk, QA Passed, Run Smoke E2E

#10616 chore: upgrade network controller to version 19.0.0
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/util/notifications/methods/common.ts
  package.json
  yarn.lock
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10715 feat: 2795 disconnect all account permission multichain edit account screen
  app/components/Nav/App/index.js
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.types.ts
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/AccountPermissionsConfirmRevokeAll.styles.ts
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/AccountPermissionsConfirmRevokeAll.test.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/AccountPermissionsConfirmRevokeAll.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/__snapshots__/AccountPermissionsConfirmRevokeAll.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/index.ts
  app/constants/navigation/Routes.ts
  locales/languages/en.json
  sonar-project.properties
Labels: Run Smoke E2E, team-wallet-ux

#10347 feat: refactor WalletConnect v2 and add unit tests
  app/core/WalletConnect/WalletConnect2Session.test.ts
  app/core/WalletConnect/WalletConnect2Session.ts
  app/core/WalletConnect/WalletConnectV2.test.ts
  app/core/WalletConnect/WalletConnectV2.ts
  package.json
  yarn.lock
Labels: team-sdk, Code Impact - Medium, Priority - High, WalletConnect, Run Smoke E2E, release-7.30.0

#10753 fix: Fix coachmark error
  app/components/UI/OnboardingWizard/Coachmark/index.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10761 fix: typescript vs code default version
  .vscode/settings.json
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10723 docs: Clean up testing readme
  docs/readme/testing.md
Labels: No QA Needed, team-mobile-platform

#10562 feat: New token detail view
  app/components/Base/RemoteImage/index.js
  app/components/UI/AssetOverview/AssetOverview.styles.ts
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/MarketDetailsList.test.tsx
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/MarketDetailsList.tsx
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/__snapshots__/MarketDetailsList.test.tsx.snap
  app/components/UI/AssetOverview/TokenDetails/MarketDetailsList/index.ts
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.styles.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.test.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/TokenDetailsList.test.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/TokenDetailsList.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/__snapshots__/TokenDetailsList.test.tsx.snap
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/index.ts
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsListItem.tsx
  app/components/UI/AssetOverview/TokenDetails/__snapshots__/TokenDetails.test.tsx.snap
  app/components/UI/AssetOverview/TokenDetails/index.ts
  app/components/Views/AssetOptions/AssetOptions.tsx
  app/util/address/index.ts
  app/util/number/index.js
  app/util/number/index.test.ts
  e2e/pages/TokenOverview.js
  e2e/specs/swaps/swap-token-chart.spec.js
  e2e/specs/swaps/token-details.spec.js
  locales/languages/en.json
Labels: needs-dev-review, team-assets, Run Smoke E2E

#10694 fix: add @react-native-community/datetimepicker, @react-native-community/slider
  .depcheckrc.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile
  ios/Podfile.lock
  metro.config.js
  package.json
  patches/@react-native-community+datetimepicker+7.7.0.patch
  yarn.lock
Labels: team-lavamoat, INVALID-PR-TEMPLATE, Run Smoke E2E

#10747 feat: 2805 grant permission to network with missmatching rpc url
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.styles.ts
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux

#10727 feat: add ledger live deviation path support
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/Views/LedgerConnect/index.test.tsx
  app/components/Views/LedgerConnect/index.tsx
  app/components/Views/LedgerSelectAccount/index.test.tsx
  app/components/Views/LedgerSelectAccount/index.tsx
  app/core/Ledger/Ledger.ts
  app/core/Ledger/constants.ts
  locales/languages/en.json
Labels: QA Passed, needs-dev-review, team-accounts, team-hardware-wallets, Run Smoke E2E, release-7.30.0

#10794 Release-update-BS-URL
  bitrise.yml
Labels: No QA Needed, team-mobile-platform, INVALID-PR-TEMPLATE

#10545 fix: update metrics logic
  app/components/Approvals/PermissionApproval/PermissionApproval.test.tsx
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/OptinMetrics/index.test.tsx
  app/components/UI/Ramp/hooks/useAnalytics.test.ts
  app/components/UI/Ramp/hooks/useAnalytics.ts
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  app/components/Views/Settings/SecuritySettings/Sections/MetaMetricsAndDataCollectionSection/MetaMetricsAndDataCollectionSection.test.tsx
  app/components/hooks/useMetrics/useMetrics.test.tsx
  app/components/hooks/useMetrics/useMetrics.ts
  app/components/hooks/useMetrics/useMetrics.types.ts
  app/core/Analytics/MetaMetrics.test.ts
  app/core/Analytics/MetaMetrics.ts
  app/core/Analytics/MetaMetrics.types.ts
  app/util/events/convertLegacyProperties.test.ts
  app/util/events/convertLegacyProperties.ts
  app/util/events/preProcessAnalyticsEvent.test.ts
  app/util/events/preProcessAnalyticsEvent.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10785 test: Refactor swaps page object files
  app/components/UI/SliderButton/index.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/index.js
  e2e/pages/ActivitiesView.js
  e2e/pages/swaps/OnBoarding.js
  e2e/pages/swaps/QuoteView.js
  e2e/pages/swaps/SwapView.js
  e2e/selectors/swaps/OnBoarding.selectors.js
  e2e/selectors/swaps/QuoteView.selectors.js
  e2e/selectors/swaps/SwapsView.selectors.js
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
  e2e/utils/Gestures.js
  e2e/utils/Matchers.js
  wdio/screen-objects/testIDs/Screens/QuoteView.js
  wdio/screen-objects/testIDs/Screens/SwapView.js
Labels: team-mobile-platform, Run Smoke E2E, Detox

#10744 chore: typescript coverage
  app/components/UI/AssetOverview/AboutAsset/AboutAsset.tsx
  app/components/UI/Notification/NotificationMenuItem/Icon.test.tsx
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Icon.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.tsx
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnect.types.ts
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/ConnectQRHardware/index.test.tsx
Labels: team-mobile-platform, Run Smoke E2E

#10814 test:update-bs-url-to-correct-url
  bitrise.yml
Labels: No QA Needed, team-mobile-platform, INVALID-PR-TEMPLATE

#10822 chore: bump version 1399 RC 2
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform

#10820 fix: Set NO_FLIPPER to true on ios release
  scripts/build.sh
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#10325 chore: updated avatargroup to take in all avatars
  .storybook/storybook.requires.js
  app/component-library/components/Avatars/Avatar/Avatar.constants.ts
  app/component-library/components/Avatars/Avatar/Avatar.types.ts
  app/component-library/components/Avatars/Avatar/README.md
  app/component-library/components/Avatars/Avatar/foundation/AvatarBase/AvatarBase.styles.ts
  app/component-library/components/Avatars/Avatar/foundation/AvatarBase/AvatarBase.tsx
  app/component-library/components/Avatars/Avatar/foundation/AvatarBase/AvatarBase.types.ts
  app/component-library/components/Avatars/Avatar/foundation/AvatarBase/README.md
  app/component-library/components/Avatars/AvatarGroup/AvatarGroup.constants.ts
  app/component-library/components/Avatars/AvatarGroup/AvatarGroup.stories.tsx
  app/component-library/components/Avatars/AvatarGroup/AvatarGroup.styles.ts
  app/component-library/components/Avatars/AvatarGroup/AvatarGroup.test.tsx
  app/component-library/components/Avatars/AvatarGroup/AvatarGroup.tsx
  app/component-library/components/Avatars/AvatarGroup/AvatarGroup.types.ts
  app/component-library/components/Avatars/AvatarGroup/README.md
  app/component-library/components/Avatars/AvatarGroup/__snapshots__/AvatarGroup.test.tsx.snap
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#10736 chore: Update permission controller to v^11 & utils to v^9
  app/core/Engine.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10827 fix: Fix/disable flipper for release
  bitrise.yml
  scripts/build.sh
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#10828 chore: Add troubleshoot for missing simulators
  docs/readme/debugging.md
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10476 fix: fix sentry error
  app/components/UI/AssetOverview/AssetOverview.tsx
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#10795 fix: small UI polishings
  app/actions/notification/helpers/index.ts
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
  app/components/UI/Notification/NotificationMenuItem/Icon.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.tsx
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Icon.test.tsx.snap
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Root.test.tsx.snap
  app/components/UI/OptinMetrics/__snapshots__/index.test.tsx.snap
  app/components/UI/OptinMetrics/index.js
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.types.ts
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/UI/ProfileSyncing/__snapshots__/ProfileSyncing.test.tsx.snap
  app/components/Views/Notifications/Details/styles.ts
  app/components/Views/Notifications/OptIn/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/OptIn/index.test.tsx
  app/components/Views/Notifications/OptIn/index.tsx
  app/components/Views/Notifications/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/index.test.tsx
  app/components/Views/Notifications/index.tsx
  app/components/Views/OnboardingSuccess/DefaultSettings/__snapshots__/index.test.js.snap
  app/components/Views/OnboardingSuccess/DefaultSettings/index.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Settings/NotificationsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Wallet/index.tsx
  app/core/AppConstants.ts
  app/util/notifications/notification-states/types/NotificationMenuItem.ts
Labels: No QA Needed, team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E, team-notifications, team-snaps-platform

#10835 Test: Remove Redundant Steps in WDIO to Fix Upgrade Test Failures
  wdio/features/Upgrading/ConnectedTestNetwork.feature
  wdio/features/Upgrading/MultipleAccounts.feature
Labels: team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#10830 chore: Bump old pod checksums
  ios/Podfile.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#10745 chore: Enable typescript coverage for all the files
  .eslintrc.js
  .github/workflows/ci.yml
  .gitignore
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
  app/components/UI/Notification/NotificationMenuItem/Icon.test.tsx
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Icon.test.tsx.snap
  app/components/UI/ProfileSyncing/ProfileSyncing.test.tsx
  app/components/Views/ImportPrivateKey/index.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/SDK/SDKSessionsManager/SDKSessionItem.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/components/hooks/useAccounts/useAccounts.types.ts
  app/declarations/index.d.ts
  app/util/termsOfUse/termsOfUseContent.ts
  git-diff-exclusions.txt
  package.json
  scripts/setup.mjs
  tsconfig.json
  tsconfig.lint.json
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10843 revert: "fix: Fixed 17 High Priority Issues - SonarCloud"
  app/components/Views/Notifications/OptIn/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingSuccess/DefaultSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/SendFlow/components/CustomNonceModal/index.js
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/core/Engine.ts
  app/store/index.ts
  app/util/blockies.js
  app/util/networks/index.js
  app/util/sentry/utils.js
  app/util/termsOfUse/termsOfUseContent.ts
  e2e/fixtures/fixture-helper.js
Labels: No QA Needed, team-mobile-platform, INVALID-PR-TEMPLATE

#10781 chore: update gitignore
  .gitignore
Labels: No QA Needed, needs-dev-review, team-wallet-ux

#10847 feat: add pooled staking feature flag
  app/components/UI/Stake/constants/index.ts
  bitrise.yml
Labels: No QA Needed, team-stake

#10844 fix: Refactor `yarn setup` in CI to generate terms of use content while retaining performance optimization
  .github/workflows/ci.yml
  app/util/termsOfUse/termsOfUseContent.ts
  git-diff-exclusions.txt
  package.json
  scripts/setup.mjs
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#10876 feat: js bundle size ci gate
  .github/workflows/ci.yml
  package.json
  scripts/js-bundle-stats.sh
Labels: No QA Needed, needs-dev-review, team-mmig-dso

#9910 fix: refactor saga xhr injection and add unit tests
  app/store/sagas/index.ts
  app/store/sagas/xmlHttpRequestOverride.test.ts
  app/store/sagas/xmlHttpRequestOverride.ts
Labels: dependencies, team-security, Run Smoke E2E

#10540 fix: Browser dialog prompts in app
  app/components/Views/BrowserTab/index.js
  app/util/browser/webViewFocus.test.ts
  app/util/browser/webViewFocus.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10826 fix: Upgrading Appium test failing
  bitrise.yml
  wdio/features/Upgrading/ConnectedTestNetwork.feature
  wdio/features/Upgrading/MultipleAccounts.feature
Labels: type-bug, Appium, team-mobile-platform, Run Smoke E2E

#10886 fix: recaptcha on in app browser
  app/components/Views/BrowserTab/index.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#10754 test: complete quiz to reveal SRP
  app/components/UI/ActionView/index.js
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
  e2e/pages/Settings/SecurityAndPrivacy/RevealSecretRecoveryPhrase.js
  e2e/pages/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/pages/modals/SecurityQuizModal.js
  e2e/pages/modals/SrpQuizModal.js
  e2e/selectors/Modals/SecurityQuizModal.selectors.js
  e2e/selectors/Modals/SrpQuizModal.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/RevealSeedView.selectors.js
  e2e/selectors/Settings/SecurityAndPrivacy/SecurityPrivacyView.selectors.js
  e2e/specs/accounts/reveal-secret-recovery-phrase.spec.js
  e2e/specs/accounts/secret_recovery_phrase_quiz.spec.js
Labels: needs-dev-review, team-accounts, E2E, Run Smoke E2E

#10866 chore: update typescript version to v~5.4.5
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/util/conversion/index.test.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10871 chore: enable merge queues gh action test run
  .github/workflows/ci.yml
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-mobile-delivery

#10831 feat: Update Polygon from `MATIC` to `POL`
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/constants/network.js
  app/images/image-icons.js
  app/images/pol.png
  app/store/migrations/051.test.ts
  app/store/migrations/051.ts
  app/store/migrations/index.ts
  app/util/networks/customNetworks.tsx
  app/util/notifications/methods/common.ts
Labels: team-mobile-platform, team-assets, Run Smoke E2E

#10913 test: e2e srp reveal regression update
  e2e/pages/Settings/SecurityAndPrivacy/RevealSecretRecoveryPhrase.js
  e2e/specs/accounts/reveal-secret-recovery-phrase.spec.js
Labels: team-accounts, E2E, Run Smoke E2E

#10897 test: Fix Swap e2e test failure
  e2e/pages/swaps/SwapView.js
Labels: No QA Needed, team-swaps

#10900 fix(notifications): hide profile sync toggle
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/__snapshots__/ProfileSyncing.test.tsx.snap
  app/components/Views/OnboardingSuccess/DefaultSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
Labels: Run Smoke E2E, team-notifications

#10016 chore: Update Keystone and NGRAVE dependencies
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#10953 test: replaced TestHelpers function call with equivalent from Assertions
  e2e/pages/swaps/SwapView.js
Labels: No QA Needed, team-swaps

#10903 fix(bug report): the description of bug report issue wasn't up-to-date anymore
  .github/workflows/create-bug-report.yml
Labels: No QA Needed, team-mobile-platform

#10957 chore: updated bitrise build version
  bitrise.yml
  wdio/features/Upgrading/ConnectedTestNetwork.feature
  wdio/features/Upgrading/MultipleAccounts.feature
Labels: team-mobile-platform, Run Smoke E2E

#10951 chore: cherry pick d98a1c9 fix(notifications): hide profile sync toggle
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/__snapshots__/ProfileSyncing.test.tsx.snap
  app/components/Views/OnboardingSuccess/DefaultSettings/__snapshots__/index.test.js.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
Labels: No QA Needed, team-mobile-platform

#10908 chore: Cherry pick reCaptcha fix
  app/components/Views/BrowserTab/index.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform, release-7.30.0

#10874 chore: add new `keyring-snaps` code fence
  metro.transform.js
Labels: No QA Needed, team-accounts, Run Smoke E2E

#10961 fix: Patch SwapsController to show POL rather than MATIC
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  patches/@metamask+swaps-controller+9.0.1.patch
  yarn.lock
Labels: No QA Needed, team-assets

#10687 fix: Optimism quotes failing
  app/util/networks/index.js
  app/util/networks/index.test.ts
  app/util/transactions/index.test.ts
  app/util/transactions/optimismTransaction.ts
  package.json
  yarn.lock
Labels: team-swaps, Run Smoke E2E

#10963 fix: Update PRODUCTION_APP_URL value
  bitrise.yml
Labels: Appium, team-mobile-platform, Run Smoke E2E
