Repository MetaMask/metamask-mobile, pull requests merged in 2024-01, with the labels that each got.

#6980 feat: swaps on send flow when amount is insufficient
  app/components/UI/Swaps/index.js
  app/components/Views/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Amount/index.js
  app/core/Analytics/MetaMetrics.events.ts
  locales/languages/en.json
Labels: QA Passed, team-mobile-client, Run Smoke E2E, INVALID-PR-TEMPLATE

#8089 ci: Remove using PACKAGE_READ_TOKEN for core preview builds
  bitrise.yml
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#8172 chore: fix ruby version and improve CI build time
  .ruby-version
  Gemfile
  bitrise.yml
Labels: No QA Needed/E2E Only, team-mobile-client, Run Smoke E2E, release-7.15.0

#8184 fix: update to unable to find conversion rate when failing to get conversion rate
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  locales/languages/en.json
Labels: QA Passed, needs-dev-review, team-mobile-ux, team-assets, Run Smoke E2E

#8203 fix: Handle Optional 'getCurrentAccount' in incoming transaction
  patches/@metamask+transaction-controller+5.0.0.patch
Labels: QA Passed, team-confirmations-system, Run Smoke E2E

#8207 fix: update copy from `seed` to `secret recovery phrase`
  app/components/Nav/App/index.js
  locales/languages/en.json
  wdio/features/Onboarding/ImportWallet.feature
Labels: Spot Check on the Release Build, team-accounts, Run Smoke E2E

#8035 feat: bump keyring controller 7.5.0
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/core/BackupVault/backupVault.test.ts
  app/core/Engine.test.js
  app/core/Engine.ts
  app/core/Ledger/Ledger.ts
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+keyring-controller+7.5.0.patch
  yarn.lock
Labels: QA Passed, team-accounts, Run Smoke E2E

#8208 chore: cherry pick to lower case fix into 7.14.0
  bitrise.yml
  package.json
  patches/@metamask+transaction-controller+5.0.0.patch
  scripts/cache/set-cache-envs.sh
  scripts/cache/setup-ccache.sh
Labels: team-confirmations-system, Run Smoke E2E, release-7.14.0

#8221 fix: add RN patch for boost
  ios/MetaMask.xcodeproj/project.pbxproj
  patches/react-native+0.71.14.patch
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#8222 fix: add RN patch for boost (#8221)
  package.json
  patches/react-native+0.71.14.patch
  yarn.lock
Labels: No QA Needed/E2E Only, team-mobile-client

#8224 fix: added resolution for follow-redirects
  package.json
  yarn.lock
Labels: team-mobile-client, Run Smoke E2E, release-7.15.0

#8211 fix: unmount Settings on blur to hide credential
  app/components/Nav/Main/MainNavigator.js
Labels: Spot Check on the Release Build, team-accounts, Run Smoke E2E

#8133 chore(ramp): use patched gradle for react native payments
  patches/@exodus+react-native-payments+1.5.0.patch
Labels: team-ramp, Run Smoke E2E, release-7.15.0

#8200 test: onboarding folder refactor page objects
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/OnboardingCarousel/index.js
  e2e/pages/CommonView.js
  e2e/pages/Onboarding/CreatePasswordView.js
  e2e/pages/Onboarding/ImportWalletView.js
  e2e/pages/Onboarding/MetaMetricsOptInView.js
  e2e/pages/Onboarding/OnboardingCarouselView.js
  e2e/pages/Onboarding/OnboardingView.js
  e2e/pages/Onboarding/ProtectYourWalletView.js
  e2e/selectors/Onboarding/ImportFromSeed.selectors.js
  e2e/selectors/Onboarding/Onboarding.selectors.js
  e2e/selectors/Onboarding/OnboardingCarousel.selectors.js
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/quarantine/term-of-use.broken.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/specs/wallet/start-exploring.spec.js
  e2e/viewHelper.js
  wdio/screen-objects/testIDs/Screens/WalletSetupScreen.testIds.js
Labels: needs-dev-review, team-mobile-client

#8146 fix: fix padding tab, should be 16px
  app/components/Views/AddAsset/AddAsset.styles.ts
  app/components/Views/AddAsset/AddAsset.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Wallet/index.tsx
  patches/react-native-scrollable-tab-view+1.0.0.patch
Labels: design-review, needs-dev-review, team-mobile-client, team-mobile-ux, need-ux-ds-review, team-assets, Run Smoke E2E

#8131 refactor(ramp): change settings title to buy & sell
  app/components/UI/Ramp/common/Views/Settings/ActivationKeys.tsx
  app/components/UI/Ramp/common/Views/Settings/AddActivationKey.test.tsx
  app/components/UI/Ramp/common/Views/Settings/AddActivationKey.tsx
  app/components/UI/Ramp/common/Views/Settings/Settings.test.tsx
  app/components/UI/Ramp/common/Views/Settings/Settings.tsx
  app/components/UI/Ramp/common/Views/Settings/__snapshots__/AddActivationKey.test.tsx.snap
  app/components/UI/Ramp/common/Views/Settings/__snapshots__/Settings.test.tsx.snap
  locales/languages/en.json
Labels: team-ramp, Run Smoke E2E

#8215 feat: Android sdk dapp icon support
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
Labels: team-sdk, needs-dev-review

#8235 fix: Price API perf improvements
  patches/@metamask+assets-controllers+7.0.0.patch
Labels: team-assets, Run Smoke E2E, release-7.15.0

#8232 fix: Show deprecated exports on enzyme
  patches/@types+enzyme+3.10.12.patch
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client

#8225 fix: Remove duplicate declarations and library
  app/declarations.d.ts
  package.json
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run Smoke E2E

#8217 test: fixed Swap smoke and regression test failures
  e2e/pages/TokenOverview.js
  e2e/pages/swaps/SwapView.js
  e2e/specs/swaps/swap-token-chart.spec.js
Labels: No QA Needed/E2E Only, team-mobile-platform

#8233 fix: enabling blockaid should be possible only if user is on mainnet
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  locales/languages/en.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8248 fix: update PPOM validator version to fix validation after network change
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8204 feat: update blockaid dependency to latest version
  app/lib/ppom/ppom.html.js
  ppom/package.json
  ppom/yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8229 refactor(ramp): update callback url for dev/staging
  app/components/UI/Ramp/common/sdk/index.tsx
Labels: team-ramp, ramp-qa-passed

#8231 test: 1328 refactor modals page batch 1
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/AccountPermissionsRevoke/AccountPermissionsRevoke.tsx
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  e2e/pages/TestDApp.js
  e2e/pages/modals/AddAccountModal.js
  e2e/pages/modals/AddAddressModal.js
  e2e/pages/modals/ConnectModal.js
  e2e/pages/modals/ConnectedAccountsModal.js
  e2e/pages/modals/ContractApprovalModal.js
  e2e/selectors/Modals/AddAccountModal.selectors.js
  e2e/selectors/Modals/ConnectedAccountModal.selectors.js
  e2e/selectors/Modals/ConnectedAccounts.selectors.js
  e2e/selectors/Settings/NetworksView.selectors.js
  e2e/specs/confirmations/approve-custom-erc20.spec.js
  e2e/specs/permission-systems/permission-system-delete-wallet.spec.js
  e2e/specs/permission-systems/permission-system-revoke-single-account.spec.js
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
  e2e/specs/quarantine/contract-nickname.failing.js
  e2e/specs/quarantine/deeplinks.failing.js
  e2e/specs/quarantine/permission-system-removing-imported-account.failing.js
  e2e/specs/settings/addressbook-tests.spec.js
  wdio/screen-objects/testIDs/Components/ConnectedAccountsModal.testIds.js
Labels: needs-dev-review, team-mobile-client

#8249 Update CHANGELOG.md
  CHANGELOG.md
Labels: INVALID-PR-TEMPLATE

#8080 feat(ramp): add sell quick amounts with gas estimations
  app/components/UI/Ramp/buy/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/buy/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/buy/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/buy/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/buy/hooks/useQuotes.ts
  app/components/UI/Ramp/common/components/QuickAmounts.tsx
  app/components/UI/Ramp/common/hooks/useGasPriceEstimation.test.ts
  app/components/UI/Ramp/common/hooks/useGasPriceEstimation.ts
  app/components/UI/Ramp/common/types/analytics.ts
  app/components/UI/Ramp/common/types/index.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#8258 chore: merge 7.14.0
  CHANGELOG.md
  app/core/Engine.ts
  package.json
  patches/react-native+0.71.15.patch
Labels: No QA Needed/E2E Only, team-mobile-client

#8254 test: Fix Swap Smoke tests failures
  e2e/helpers.js
  e2e/pages/swaps/SwapView.js
  e2e/specs/swaps/swap-token-chart.spec.js
  e2e/specs/swaps/token-details.spec.js
Labels: No QA Needed/E2E Only, team-swaps

#8255 feat: Added temp brand tokens to mobile codebase
  app/components/UI/SignatureRequest/Root/__snapshots__/Root.test.tsx.snap
  app/util/theme/index.ts
  app/util/theme/models.ts
  app/util/theme/temp-tokens/brandColors.ts
  app/util/theme/temp-tokens/brandColors.types.ts
  app/util/theme/temp-tokens/index.ts
Labels: needs-dev-review, team-design-system

#8272 chore: adds snapController selector and initial state
  app/redux/slices/engine/engineReducer.test.tsx
  app/redux/slices/engine/index.ts
  app/selectors/types.ts
Labels: team-mobile-client

#8278 fix: scanning dapp QR code does not open in-app browser and navigate to dapp #8277
  app/components/Views/QRScanner/index.tsx
  app/core/DeeplinkManager/DeeplinkManager.ts
  app/core/DeeplinkManager/Handlers/handleBrowserUrl.ts
  app/core/DeeplinkManager/ParseManager/handleDappUrl.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/DeeplinkManager/ParseManager/parseDeeplink.ts
  app/core/DeeplinkManager/SharedDeeplinkManager.ts
Labels: team-sdk, QA Passed, release-7.14.0

#8281 fix: state initialisation in PPOMController
  app/core/EngineService/EngineService.ts
  app/redux/slices/engine/engineReducer.test.tsx
  app/redux/slices/engine/index.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8192 refactor(ramp): skip adding order if already exists
  app/components/UI/Ramp/buy/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Ramp/index.tsx
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#8271 fix: migrations not being applied on 7.14.0
  app/store/migrations/index.ts
Labels: needs-dev-review, team-mobile-client, Run Smoke E2E

#8296 chore: build version bump to 1240
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-client, release-7.14.0

#8297 chore: cherry pick QR & migrations hotfixes into 7.15.0
  android/app/build.gradle
  app/components/Views/QRScanner/index.tsx
  app/core/DeeplinkManager/DeeplinkManager.ts
  app/core/DeeplinkManager/Handlers/handleBrowserUrl.ts
  app/core/DeeplinkManager/ParseManager/handleDappUrl.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/DeeplinkManager/ParseManager/parseDeeplink.ts
  app/core/DeeplinkManager/SharedDeeplinkManager.ts
  app/store/migrations/index.ts
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed/E2E Only, team-mobile-client, release-7.15.0

#8314 chore: bump to build 1243
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed/E2E Only, team-mobile-client

#8303 fix: fixup regex typo for validChainIdHex
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
Labels: No QA Needed/E2E Only, team-mobile-client, Run Smoke E2E, release-7.16.0

#7793 fix: cherry pick PR improvement
  .github/workflows/create-cherry-pick-pr.yml
  scripts/create-cherry-pick-pr.sh
Labels: needs-dev-review, team-mobile-client, release-7.16.0

#8304 test: bump detox to v20.16
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, team-mobile-client, Run Smoke E2E

#8300 feat: decreased UR density
  app/components/UI/QRHardware/AnimatedQRCode.tsx
Labels: area-hardware, team-accounts, external-contributor

#8319 feat: decreased UR density
  app/components/UI/QRHardware/AnimatedQRCode.tsx
Labels: needs-dev-review, Run Smoke E2E, team-hardware-wallets

#8291 feat: android sdk connection management
  app/components/Views/SDKSessionsManager/SDKSessionItem.tsx
  app/components/Views/SDKSessionsManager/SDKSessionsManager.tsx
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/SDKConnect/AndroidSDK/AndroidService.ts
  app/core/SDKConnect/AndroidSDK/addAndroidConnection.ts
  app/core/SDKConnect/AndroidSDK/android-sdk-types.ts
  app/core/SDKConnect/AndroidSDK/loadAndroidConnections.ts
  app/core/SDKConnect/Connection/Connection.ts
  app/core/SDKConnect/Connection/EventListenersHandlers/handleClientsWaiting.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.test.ts
  app/core/SDKConnect/ConnectionManagement/connectToChannel.ts
  app/core/SDKConnect/ConnectionManagement/reconnect.ts
  app/core/SDKConnect/ConnectionManagement/reconnectAll.test.ts
  app/core/SDKConnect/ConnectionManagement/reconnectAll.ts
  app/core/SDKConnect/ConnectionManagement/removeAll.test.ts
  app/core/SDKConnect/ConnectionManagement/removeAll.ts
  app/core/SDKConnect/ConnectionManagement/removeChannel.ts
  app/core/SDKConnect/ConnectionManagement/watchConnection.test.ts
  app/core/SDKConnect/ConnectionManagement/watchConnection.ts
  app/core/SDKConnect/SDKConnect.test.ts
  app/core/SDKConnect/SDKConnect.ts
Labels: team-sdk, QA Passed, Run Smoke E2E

#8275 Update PPOM validator
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/core/Engine.test.js
  app/core/Engine.ts
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#8329 fix: android unit tests
  app/core/SDKConnect/AndroidSDK/addAndroidConnection.test.ts
  app/core/SDKConnect/AndroidSDK/removeAndroidConnection.test.ts
  app/core/SDKConnect/AndroidSDK/removeAndroidConnection.ts
  app/core/SDKConnect/SDKConnect.test.ts
  app/core/SDKConnect/SDKConnect.ts
Labels: team-sdk, Run Smoke E2E

#8284 chore: Replaced hex color for ledger loader
  app/components/Views/LedgerConnect/index.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8288 chore: Updated hex color in price chart to use ds tokens
  app/components/UI/AssetOverview/PriceChart/PriceChart.styles.tsx
  app/components/UI/AssetOverview/PriceChart/PriceChart.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8212 feat: bump keyring controller to v8.1.0
  app/core/Ledger/Ledger.ts
  app/core/Vault.js
  app/core/Vault.test.ts
  package.json
  patches/@metamask+keyring-controller+7.5.0.patch
  patches/@metamask+keyring-controller+8.1.0.patch
  yarn.lock
Labels: QA Passed, team-accounts, Run Smoke E2E, team-hardware-wallets

#8293 cherry-pick: fix state initialisation in PPOMController
  app/core/EngineService/EngineService.ts
  app/redux/slices/engine/engineReducer.test.tsx
  app/redux/slices/engine/index.ts
Labels: QA Passed, team-confirmations-secure-ux-PR, Run Smoke E2E, release-7.15.0

#8306 fix: cocoapod cache issue
  bitrise.yml
Labels: No QA Needed/E2E Only, team-confirmations-system, Run E2E Smoke

#8274 fix: substr undefined when cancelling a legacy transaction
  app/core/GasPolling/GasPolling.ts
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
Labels: team-confirmations-system, Run E2E Smoke

#8328 fix: Transaction Details view shows inaccurate balance on Mobile
  app/components/UI/TransactionElement/utils.js
  app/components/UI/TransactionElement/utils.test.js
Labels: needs-dev-review, team-mobile-ux, team-assets, Run E2E Smoke

#8343 Blockaid mobile performance improvements
  app/core/Engine.ts
  app/lib/ppom/PPOMView.tsx
  app/lib/ppom/array-buffer.test.ts
  app/lib/ppom/array-buffer.ts
  app/lib/ppom/ppom-storage-backend.ts
  app/lib/ppom/rnfs-storage-backend.ts
  ios/Podfile.lock
  jest.config.js
  jestSetup.js
  package.json
  yarn.lock
Labels: team-confirmations-secure-ux-PR, Run Smoke E2E

#8341 fix: E2E: Import SNX token
  e2e/specs/assets/import-tokens.spec.js
Labels: team-mobile-client, E2E, Run E2E Smoke

#8342 test: fix Swap test flakiness on Bitrise
  e2e/pages/TokenOverview.js
  e2e/pages/swaps/SwapView.js
Labels: team-swaps, No E2E Smoke Needed

#8171 feat: Support token detection on linea
  patches/@metamask+assets-controllers+7.0.0.patch
Labels: QA Passed, team-mobile-client, team-assets, Run E2E Smoke

#8351 Using existing setup file testSetup.js for mocking
  app/util/test/testSetup.js
  jest.config.js
  jestSetup.js
Labels: Run Smoke E2E

#8216 fix: use correct link for reporting false positives in blockaid banner
  .eslintignore
  .prettierignore
  app/components/UI/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.types.ts
  app/components/UI/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  app/components/UI/TransactionBlockaidBanner/TransactionBlockaidBanner.test.tsx
  app/components/UI/TransactionBlockaidBanner/__snapshots__/TransactionBlockaidBanner.test.tsx.snap
  app/components/UI/TransactionReview/index.test.tsx
  app/constants/urls.ts
  app/lib/ppom/PPOMView.tsx
  app/lib/ppom/array-buffer.test.ts
  app/lib/ppom/blockaid-version.js
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
  app/lib/ppom/rnfs-storage-backend.ts
  ios/Podfile.lock
  jest.config.js
  locales/languages/en.json
  package.json
  ppom/.eslintignore
  ppom/package.json
  ppom/src/blockaid-version.js
  ppom/webpack.config.version.js
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run E2E Smoke

#8206 chore(Sentry): filter out Route Change
  app/util/sentry/utils.js
  app/util/sentry/utils.test.ts
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-client, Run E2E Smoke, release-7.16.0

#8325 ci: Automate Bitrise E2E smoke in GH checks based on labels
  .github/guidelines/LABELING_GUIDELINES.md
  .github/pull-request-template.md
  .github/scripts/check-bitrise-e2e-smoke/check-e2e-smoke-trigger.ts
  .github/scripts/check-bitrise-e2e-smoke/run-bitrise-e2e-smoke.ts
  .github/scripts/check-e2e-label.ts
  .github/scripts/check-pr-has-required-labels.ts
  .github/scripts/shared/label.ts
  .github/workflows/check-bitrise-e2e-smoke.yml
  .github/workflows/check-e2e-label.yml
  bitrise.yml
  package.json
Labels: team-mobile-client, ready-for-dev, No E2E Smoke Needed

#8202 fix: Isolate logic to expose js env variables sooner
  scripts/build.sh
Labels: needs-dev-review, team-mobile-client

#8090 feat: segment data deletion (4/4)
  .js.env.example
  app/components/Views/Settings/SecuritySettings/Sections/DeleteMetaMetricsData.tsx
  app/components/Views/Settings/SecuritySettings/Sections/useDataDeletion.test.tsx
  app/components/Views/Settings/SecuritySettings/Sections/useDataDeletion.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/constants/storage.ts
  app/core/Analytics/Analytics.js
  app/core/Analytics/MetaMetrics.constants.ts
  app/core/Analytics/MetaMetrics.test.ts
  app/core/Analytics/MetaMetrics.ts
  app/core/Analytics/MetaMetrics.types.ts
  yarn.lock
Labels: QA Passed, team-mobile-client

#8033 fix: regenerator-runtime and reenable SES (v1.1.0) on iOS (JSC)
  package.json
  patches/react-native+0.71.15.patch
  ses.cjs
  yarn.lock
Labels: team-mobile-client, team-lavamoat, Run E2E Smoke

#8359 refactor(ramp): add null case for payment method in order details
  app/components/UI/Ramp/common/Views/OrderDetails/OrderDetails.tsx
Labels: No QA Needed/E2E Only, team-ramp, No E2E Smoke Needed

#8372 ci: Revert "ci: Automate Bitrise E2E smoke in GH checks based on labels (#8325)"
  .github/guidelines/LABELING_GUIDELINES.md
  .github/pull-request-template.md
  .github/scripts/check-bitrise-e2e-smoke/check-e2e-smoke-trigger.ts
  .github/scripts/check-bitrise-e2e-smoke/run-bitrise-e2e-smoke.ts
  .github/scripts/check-e2e-label.ts
  .github/scripts/check-pr-has-required-labels.ts
  .github/scripts/shared/label.ts
  .github/workflows/check-bitrise-e2e-smoke.yml
  .github/workflows/check-e2e-label.yml
  bitrise.yml
  package.json
Labels: team-mobile-client

#8371 test: Revert "test: bump detox to v20.16 (#8304)"
  package.json
  yarn.lock
Labels: No QA Needed/E2E Only, team-mobile-client, No E2E Smoke Needed

#8374 fix: Compare checksum address
  app/components/hooks/useAccounts/useAccounts.ts
Labels: team-mobile-client, Run Smoke E2E

#8282 PPOM - Signature Metric events have the `flagged_as_malicious` and Blockaid info when using a different network than Mainnet
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#8218 feat: Segment instance error handling
  app/core/Analytics/MetaMetrics.ts
  patches/@segment+analytics-react-native+2.17.0.patch
Labels: No QA Needed/E2E Only, team-mobile-client

#8353 feat(ramp): skip payment method screen if has already started
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Ramp/buy/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/Ramp/buy/Views/GetStarted/GetStarted.tsx
  app/constants/navigation/Routes.ts
Labels: team-ramp, ramp-qa-passed, No E2E Smoke Needed

#8287 chore: Update Network Settings Actionable Buttons to use DS buttons
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8335 chore: Update qr-related components to use brand color white
  app/components/UI/PaymentRequestSuccess/index.js
  app/components/UI/QRHardware/AnimatedQRCode.tsx
  app/components/UI/QRHardware/AnimatedQRScanner.tsx
  app/components/UI/ReceiveRequest/index.js
  app/components/Views/AddressQRCode/index.js
  app/components/Views/ConnectQRHardware/Instruction/index.tsx
  app/components/Views/ConnectQRHardware/Instruction/styles.ts
  app/components/Views/QRScanner/index.tsx
  app/components/Views/QRScanner/styles.ts
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/styles.ts
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8349 feat(ramp): add order minimum elapsed seconds for polling
  app/components/UI/Ramp/common/orderProcessor/aggregator.test.ts
  app/components/UI/Ramp/common/orderProcessor/aggregator.ts
  package.json
  yarn.lock
Labels: team-ramp, ramp-qa-passed, No E2E Smoke Needed

#8334 chore: Replace hex colors in Android Media Player with ds brand tokens
  app/components/Views/MediaPlayer/AndroidMediaPlayer.js
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8333 chore: Replace hex colors in switch-related components with ds brand tokens
  app/components/UI/LoginOptionsSwitch/LoginOptionsSwitch.tsx
  app/components/UI/Ramp/common/Views/Settings/ActivationKeys.tsx
  app/components/UI/SecurityOptionToggle/SecurityOptionToggle.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/components/Views/Settings/GeneralSettings/index.js
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8330 chore: Replace hex colors in constants file with tokens
  app/component-library/components/Avatars/Avatar/variants/AvatarIcon/AvatarIcon.constants.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarIcon/__snapshots__/AvatarIcon.test.tsx.snap
  app/component-library/components/Navigation/TabBarItem/TabBarItem.constants.ts
Labels: needs-dev-review, team-design-system

#8383 feat: add translation for privacy toggle
  locales/languages/en.json
Labels: area-translation, team-assets, No E2E Smoke Needed

#8093 feat: decouple account selector from qr code connector
  app/components/UI/HardwareWallet/AccountDetails/index.tsx
  app/components/UI/HardwareWallet/AccountDetails/styles.tsx
  app/components/UI/HardwareWallet/AccountSelector/hooks.test.tsx
  app/components/UI/HardwareWallet/AccountSelector/hooks.tsx
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/UI/HardwareWallet/AccountSelector/styles.tsx
  app/components/UI/HardwareWallet/AccountSelector/types.tsx
  app/components/Views/ConnectQRHardware/SelectQRAccounts/index.tsx
  app/components/Views/ConnectQRHardware/index.tsx
  app/components/Views/LedgerAccountInfo/index.tsx
  app/components/hooks/useBlockExplorer.test.ts
  app/components/hooks/useBlockExplorer.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh-cn.json
  locales/languages/zh.json
Labels: team-accounts, Ledger, team-hardware-wallets

#8384 fix: bump restore cache step in Bitrise
  bitrise.yml
Labels: team-confirmations-system

#8394 fix: [Blockaid] Cosmetic issue on "before you proceed" sheet
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.styles.ts
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.tsx
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/__snapshots__/BlockaidIndicator.test.tsx.snap
  locales/languages/en.json
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#8393 fix: [Blockaid] Toggle appears together on "before you proceed" sheet
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.tsx
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#8292 feat: enable support to Blockaid on custom networks on mobile
  app/components/UI/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.tsx
  app/components/UI/BlockaidBanner/__snapshots__/BlockaidBanner.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/core/Engine.test.js
  app/core/Engine.ts
  app/lib/ppom/PPOMView.tsx
  app/lib/ppom/array-buffer.test.ts
  app/lib/ppom/array-buffer.ts
  app/lib/ppom/ppom-storage-backend.ts
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
  app/lib/ppom/rnfs-storage-backend.ts
  app/util/blockaid/index.ts
  app/util/networks/index.js
  app/util/test/initial-background-state.json
  app/util/test/testSetup.js
  ios/Podfile
  ios/Podfile.lock
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
  package.json
  yarn.lock
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8326 fix: PPOM - Malicious transactions triggered from Deeplinks are not flagged
  app/components/Views/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/SendFlow/Confirm/index.js
  app/components/Views/SendFlow/Confirm/index.test.tsx
  app/components/Views/SendFlow/Confirm/styles.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR

#8290 feat: update walletconnect se-sdk to 1.7.0
  package.json
  yarn.lock
Labels: team-sdk, QA Passed

#8289 chore: Replace favorite icon in NFT with DS icon
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/SignatureRequest/Root/__snapshots__/Root.test.tsx.snap
  app/styles/common.ts
  app/util/theme/temp-tokens/brandColors.ts
  app/util/theme/temp-tokens/brandColors.types.ts
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8401 fix: Dedupe deps with Yarn and update CocoaPods lockfile
  ios/Podfile.lock
  yarn.lock
Labels: needs-dev-review, team-mobile-client, No E2E Smoke Needed

#8375 fix: Minimize skipping tests
  bitrise.yml
Labels: needs-dev-review, team-mobile-client, E2E, Run Smoke E2E

#8386 chore: add `.git-blame-ignore-revs`
  .git-blame-ignore-revs
Labels: No QA Needed/E2E Only, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#6663 fix: you have to press the login button twice (#6633)
  app/components/Views/Login/index.js
Labels: needs-dev-review, external-contributor, INVALID-PR-TEMPLATE

#8399 chore: Remove unused static colors
  app/styles/common.ts
Labels: needs-dev-review, team-design-system

#8404 fix: you have to press the login button twice (#6633) (#6663)
  app/components/Views/Login/index.js
Labels: external-contributor, Run Smoke E2E

#8410 fix: Broken confirm flow due to missing gas
  app/components/Views/SendFlow/Confirm/index.js
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8412 Blockaid experimental settings should be visible on all networks
  app/components/UI/ApproveTransactionReview/index.js
  app/components/UI/BlockaidBanner/BlockaidBanner.test.tsx
  app/components/UI/BlockaidBanner/BlockaidBanner.tsx
  app/components/UI/SignatureRequest/index.js
  app/components/UI/TransactionBlockaidBanner/TransactionBlockaidBanner.test.tsx
  app/components/UI/TransactionReview/index.js
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
Labels: needs-dev-review, team-confirmations-secure-ux-PR, Run Smoke E2E

#8415 fix: catch unfulfilled promise for token fetch
  app/components/UI/Tokens/index.tsx
Labels: QA Passed, team-mobile-client, Run Smoke E2E

#8417 chore: cherry pick spinner fix
  app/components/UI/Tokens/index.tsx
Labels: QA Passed, regression-RC, team-mobile-client, release-7.15.0, Run Smoke E2E

#8419 chore: build bump 1244
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-client, release-7.15.0

#8420 cherry-pick: fix Swap test flakiness on Bitrise (#8342)
  e2e/pages/TokenOverview.js
  e2e/pages/swaps/SwapView.js
Labels: team-mobile-client, release-7.15.0, Run Smoke E2E

#8421 fix: patch handling of missing token price
  patches/@metamask+assets-controllers+7.0.0.patch
Labels: team-mobile-client, team-assets, Run Smoke E2E

#8456 chore: cherry pick 8421
  patches/@metamask+assets-controllers+7.0.0.patch
Labels: team-assets, release-7.15.0, Run Smoke E2E

#8458 chore: build version bump to 1245
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-client, release-7.15.0

#8453 fix: show only blockaid multichain on whats new
  app/components/UI/WhatsNewModal/whatsNewList.ts
Labels: team-confirmations-secure-ux-PR, Run Smoke E2E

#8362 chore: updated all debug targets to automatically manage signing
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-client, Run Smoke E2E

#8460 fix: typos in en.json
  app/components/UI/EditGasFee1559/__snapshots__/index.test.tsx.snap
  app/components/Views/ShowDisplayMediaNFTSheet/__snapshots__/ShowDisplayNFTMediaSheet.test.tsx.snap
  locales/languages/en.json
Labels: No QA Needed/E2E Only, team-mobile-client, release-7.16.0, Run Smoke E2E

#8438 refactor: Remove isFlexible prop from BottomSheet
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.tsx
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.types.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.types.ts
  app/components/Approvals/AddChainApproval/AddChainApproval.tsx
  app/components/Approvals/AddChainApproval/__snapshots__/AddChainApproval.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8037 refactor: Replace Settings drawer with DS components and update design
  app/component-library/components/Icons/Icon/Icon.assets.ts
  app/component-library/components/Icons/Icon/Icon.types.ts
  app/component-library/components/Icons/Icon/assets/fox.svg
  app/components/UI/Navbar/index.js
  app/components/UI/SettingsDrawer/index.js
  app/components/Views/Settings/index.tsx
  app/images/fox.png
  app/images/fox.svg
  scripts/inpage-bridge/inpage/webpack.config.js
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system, INVALID-PR-TEMPLATE

#8437 refactor: QOL update for BottomSheet and BottomSheetDialog
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.tsx
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.types.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.test.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.types.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/README.md
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/__snapshots__/BottomSheetDialog.test.tsx.snap
Labels: needs-dev-review, team-design-system

#8449 refactor: Replace SheetBottom with BottomSheet in BlockaidIndicator
  app/components/Views/Settings/ExperimentalSettings/BlockaidIndicator/BlockaidIndicator.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8446 refactor: Replace SheetBottom with BottomSheet in SDKLoadingModal
  app/components/Views/SDKLoadingModal/SDKLoadingModal.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8439 chore: Replace SheetBottom with BottomSheet in AccountActions
  app/components/Views/AccountActions/AccountActions.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8440 refactor: Replace SheetBottom with BottomSheet in AccountConnect
  app/components/Views/AccountConnect/AccountConnect.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8441 refactor: Replace SheetBottom with BottomSheet in AccountsPermission
  app/components/Views/AccountPermissions/AccountPermissions.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8442 refactor: Replace SheetBottom with BottomSheet in AccountSelector
  app/components/Views/AccountSelector/AccountSelector.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8448 refactor: Replace SheetBottom with BottomSheet in AmbiguousAddressSheet
  app/components/Views/Settings/Contacts/AmbiguousAddressSheet/AmbiguousAddressSheet.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8443 refactor: Replace SheetBottom with BottomSheet in DetectedTokens
  app/components/Views/DetectedTokens/index.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8447 refactor: Replace SheetBottom with BottomSheet in ethsignfriction
  app/components/Views/Settings/AdvancedSettings/EthSignFriction/EthSignFriction.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8444 refactor: Replace SheetBottom with BottomSheet in NetworkSelector
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8445 refactor: Replace SheetBottom with BottomSheet in SDKFeedbackModal
  app/components/Views/SDKFeedbackModal/SDKFeedbackModal.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8450 refactor: Replace SheetBottom with BottomSheet in ShowDisplayNFTMediaSheet
  app/components/Views/ShowDisplayMediaNFTSheet/ShowDisplayNFTMediaSheet.tsx
  app/components/Views/ShowDisplayMediaNFTSheet/__snapshots__/ShowDisplayNFTMediaSheet.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8451 refactor: Replace SheetBottom with BottomSheet in ShowIpfsGatewaySheet
  app/components/Views/ShowIpfsGatewaySheet/ShowIpfsGatewaySheet.tsx
  app/components/Views/ShowIpfsGatewaySheet/__snapshots__/ShowIpfsGatewaySheet.test.tsx.snap
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8452 refactor: Replace SheetBottom with BottomSheet in WalletActions
  app/components/Views/WalletActions/WalletActions.tsx
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8413 feat: Update SES lockdown options
  patches/react-native+0.71.15.patch
Labels: team-lavamoat, Run Smoke E2E

#8373 feat: add SES experiment toggle (iOS)
  app/components/Views/Settings/ExperimentalSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/ExperimentalSettings/index.tsx
  app/constants/urls.ts
  locales/languages/en.json
  package.json
  patches/react-native+0.71.15.patch
Labels: needs-dev-review, team-lavamoat, Run Smoke E2E

#8473 chore: [Force upgrade test] bumped minimum app version to 1242 or 7.14.0 in test
  AppConfig/test/MockAppConfig.json
Labels: team-mobile-platform

#8476 fix: Fix title color type in settings drawer
  app/components/UI/SettingsDrawer/index.js
Labels: needs-dev-review, Spot Check on the Release Build, team-design-system

#8478 chore: bumping code coverage thresholds
  coverage-thresholds.json
Labels: team-mobile-platform

#8348 fix: update nft metadata on page refresh
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
Labels: team-mobile-ux, team-assets, Run Smoke E2E

#8457 refactor(ramp): add routes folder
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Ramp/routes/index.tsx
Labels: team-ramp, ramp-qa-passed, Run Smoke E2E

#8157 fix: display hash as hex in personal signature confirmation
  app/components/UI/PersonalSign/PersonalSign.tsx
Labels: QA Passed, team-confirmations-system, Run Smoke E2E

#8486 fix: Update theme tokens for General and Advanced Settings
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/GeneralSettings/index.js
Labels: needs-dev-review, team-design-system

#8474 chore: [Force upgrade PROD] bumped minimum app version to 1242 or 7.14.0 in PROD
  AppConfig/v1/AppConfig.json
Labels: team-confirmations-secure-ux, team-mobile-platform

#8491 fix: Update theme tokens for QR-related components
  app/components/UI/PaymentRequestSuccess/index.js
  app/components/UI/ReceiveRequest/index.js
  app/components/Views/AddressQRCode/index.js
Labels: needs-dev-review, team-design-system

#8469 fix: deeplink handling issue when the app is closed
  app/components/Nav/App/index.js
Labels: team-sdk, QA Passed, needs-dev-review, Run Smoke E2E

#8488 fix: Cleanup/miscellaneous
  .depcheckrc.yml
  README.md
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
  scripts/build.sh
Labels: No QA Needed/E2E Only, team-mobile-platform, Run Smoke E2E
