Repository MetaMask/metamask-mobile, pull requests merged in 2025-09, with the labels that each got.

#19011 fix: alert flicker in perps deposit
  app/components/Views/confirmations/__mocks__/controllers/other-controllers-mock.ts
  app/components/Views/confirmations/components/alert-message/alert-message.test.tsx
  app/components/Views/confirmations/components/alert-message/alert-message.tsx
  app/components/Views/confirmations/components/deposit-keyboard/deposit-keyboard.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.styles.ts
  app/components/Views/confirmations/components/edit-amount/edit-amount.test.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.tsx
  app/components/Views/confirmations/components/rows/pay-with-row/pay-with-row.test.tsx
  app/components/Views/confirmations/components/token-icon/token-icon.test.tsx
  app/components/Views/confirmations/components/token-icon/token-icon.tsx
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.test.tsx
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.tsx
  app/components/Views/confirmations/external/perps-temp/hooks/usePerpsDepositAlerts.test.ts
  app/components/Views/confirmations/external/perps-temp/hooks/usePerpsDepositAlerts.ts
  app/components/Views/confirmations/external/perps-temp/hooks/usePerpsDepositView.test.ts
  app/components/Views/confirmations/external/perps-temp/hooks/usePerpsDepositView.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientPayTokenBalanceAlert.ts
  app/components/Views/confirmations/hooks/alerts/usePerpsDepositMinimumAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/usePerpsDepositMinimumAlert.ts
  app/components/Views/confirmations/hooks/pay/useAutomaticTransactionPayToken.test.ts
  app/components/Views/confirmations/hooks/pay/useAutomaticTransactionPayToken.ts
  app/components/Views/confirmations/hooks/pay/useTransactionBridgeQuotes.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayToken.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayToken.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayTokenAmounts.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayTokenAmounts.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredFiat.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredFiat.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredTokens.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredTokens.ts
  app/components/Views/confirmations/hooks/tokens/useTokenFiatRates.test.ts
  app/components/Views/confirmations/hooks/tokens/useTokenFiatRates.ts
  app/components/Views/confirmations/hooks/tokens/useTokenWithBalance.test.ts
  app/components/Views/confirmations/hooks/tokens/useTokenWithBalance.ts
  app/selectors/accountTrackerController.ts
  app/selectors/tokensController.test.ts
  app/selectors/tokensController.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, size-XL

#19027 ci: add missing job id in the test report
  .github/scripts/create-e2e-test-report.mjs
  .github/workflows/run-e2e-smoke-tests-android.yml
  .github/workflows/run-e2e-smoke-tests-ios.yml
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-S

#19022 fix: cp-7.55.0 Show imported account and hardware wallets in new send flow
  app/components/Views/confirmations/hooks/send/useAccounts.test.ts
  app/components/Views/confirmations/hooks/send/useAccounts.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog, size-S

#18108 chore: Default app start user
  app/core/Authentication/Authentication.ts
  app/core/EngineService/EngineService.ts
  app/store/sagas/index.ts
  app/util/generateSkipOnboardingState.test.ts
  app/util/generateSkipOnboardingState.ts
  app/util/importAdditionalAccounts.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, skip-sonar-cloud, size-M

#18988 feat: cp-7.55.0 turn on remove gns flag
  app/components/UI/PaymentRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/PaymentRequest/index.test.tsx
  app/components/Views/ActivityView/__snapshots__/index.test.tsx.snap
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/confirmations/legacy/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/legacy/SendFlow/SendTo/__snapshots__/index.test.tsx.snap
  app/components/hooks/AssetPolling/use-polling-networks.ts
  app/components/hooks/AssetPolling/useAccountTrackerPolling.test.ts
  app/components/hooks/AssetPolling/useCurrencyRatePolling.test.ts
  app/components/hooks/AssetPolling/useTokenDetectionPolling.test.ts
  app/components/hooks/AssetPolling/useTokenRatesPolling.test.ts
  app/util/networks/index.js
  e2e/pages/wallet/NetworkManager.ts
  e2e/selectors/wallet/NetworkManager.selectors.ts
  e2e/specs/performance/network-list/dismiss-network-list.spec.ts
  e2e/specs/performance/network-list/render-network-list.spec.ts
  e2e/specs/quarantine/add-popular-networks.failing.ts
  e2e/specs/quarantine/dapp-initiated-transfer.failing.ts
  e2e/specs/quarantine/send-erc20-with-dapp.failing.ts
  e2e/specs/quarantine/send-max-transfer.failing.ts
  e2e/specs/quarantine/solana-send-flow.failing.ts
  e2e/specs/quarantine/sync-users-contacts.failing.ts
  e2e/specs/quarantine/wallet-initiated-transfer.failing.ts
  e2e/specs/solana/solana-send-flow.spec.ts
Labels: No QA Needed, team-assets, Run Smoke E2E, size-M

#19039 fix: Enable Snaps WebView debugging in dev
  app/lib/snaps/SnapsExecutionWebView.tsx
Labels: INVALID-PR-TEMPLATE, No E2E Smoke Needed, no-changelog, size-XS, team-core-platform

#19047 fix(deposit): add reverse lookup for musd
  app/components/UI/Ramp/Deposit/utils/index.ts
Labels: No QA Needed, team-ramp, No E2E Smoke Needed, no-changelog, size-XS

#18994 feat(ramp,deposit): add network badge to orders cp-7.55.0
  app/components/UI/Ramp/Aggregator/Views/OrdersList/__snapshots__/OrdersList.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/OrderListItem/OrderListItem.test.tsx
  app/components/UI/Ramp/Aggregator/components/OrderListItem/OrderListItem.tsx
  app/components/UI/Ramp/Aggregator/components/OrderListItem/__snapshots__/OrderListItem.test.tsx.snap
Labels: QA Passed, team-ramp, Run Smoke E2E, Remove GNS, size-S

#19024 feat: state 2 wrapper component and dapp connection utils
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.tsx
  app/components/Views/MultichainAccounts/MultichainAccountConnect/State2AccountConnectWrapper.test.tsx
  app/components/Views/MultichainAccounts/MultichainAccountConnect/State2AccountConnectWrapper.tsx
  app/util/multichain/getCaip25AccountFromAccountGroupAndScope.test.ts
  app/util/multichain/getCaip25AccountFromAccountGroupAndScope.ts
Labels: No QA Needed, team-accounts, Run Smoke E2E, skip-sonar-cloud, size-L

#18957 test: reduce flakey contact sync e2e test
  e2e/specs/identity/contact-syncing/sync-users-contacts.spec.ts
Labels: No QA Needed, team-assets, Run Smoke E2E, size-S

#19060 feat(deposit): add address selector cp-7.55.0
  app/components/UI/Ramp/Deposit/components/AccountSelector/AccountSelector.tsx
Labels: QA Passed, team-ramp, Run Smoke E2E, Remove GNS, size-XS

#19036 feat: rewards - estimate points, perps fee discount & has opted in
  app/core/Engine/controllers/rewards-controller/RewardsController.test.ts
  app/core/Engine/controllers/rewards-controller/RewardsController.ts
  app/core/Engine/controllers/rewards-controller/services/index.ts
  app/core/Engine/controllers/rewards-controller/services/rewards-data-service.test.ts
  app/core/Engine/controllers/rewards-controller/services/rewards-data-service.ts
  app/core/Engine/controllers/rewards-controller/types.ts
  app/core/Engine/messengers/rewards-controller-messenger/index.ts
  app/core/Engine/messengers/rewards-controller-messenger/types.ts
  app/core/Engine/types.ts
  app/selectors/rewardscontroller.test.ts
  app/selectors/rewardscontroller.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, size-XL, team-rewards

#18524 feat(deposit): upgrade sdk to v2
  app/components/UI/Ramp/Deposit/Views/AdditionalVerification/AdditionalVerification.tsx
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.test.tsx
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.tsx
  app/components/UI/Ramp/Deposit/Views/BankDetails/__snapshots__/BankDetails.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.test.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.tsx
  app/components/UI/Ramp/Deposit/Views/KycProcessing/KycProcessing.test.tsx
  app/components/UI/Ramp/Deposit/Views/KycProcessing/KycProcessing.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/KycWebviewModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/KycWebviewModal.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.test.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.tsx
  app/components/UI/Ramp/Deposit/Views/Root/Root.test.tsx
  app/components/UI/Ramp/Deposit/Views/Root/Root.tsx
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
  app/components/UI/Ramp/Deposit/hooks/useIdProofPolling.test.ts
  app/components/UI/Ramp/Deposit/hooks/useIdProofPolling.ts
  app/components/UI/Ramp/Deposit/hooks/useKycPolling.test.ts
  app/components/UI/Ramp/Deposit/hooks/useKycPolling.ts
  app/components/UI/Ramp/Deposit/hooks/useUserDetailsPolling.test.ts
  app/components/UI/Ramp/Deposit/hooks/useUserDetailsPolling.ts
  app/components/UI/Ramp/Deposit/sdk/__snapshots__/index.test.tsx.snap
  app/components/UI/Ramp/Deposit/sdk/index.test.tsx
  app/components/UI/Ramp/Deposit/sdk/index.tsx
  package.json
  yarn.lock
Labels: QA Passed, team-ramp, Run Smoke E2E, no-changelog, size-XL

#18888 chore: Added SmartAccount drawer to AccountDetails
  app/components/Nav/App/App.tsx
  app/components/Nav/Main/MainNavigator.js
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/BaseAccountDetails/index.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/BaseAccountDetails/styles.ts
  app/components/Views/MultichainAccounts/AccountDetails/components/ExportCredentials/ExportCredentials.styles.ts
  app/components/Views/MultichainAccounts/AccountDetails/components/ExportCredentials/ExportCredentials.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/RemoveAccount/RemoveAccount.styles.ts
  app/components/Views/MultichainAccounts/AccountDetails/components/SmartAccount/SmartAccount.styles.ts
  app/components/Views/MultichainAccounts/AccountDetails/components/SmartAccount/SmartAccount.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/SmartAccount/SmartAccount.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/SmartAccountModal/SmartAccountModal.styles.ts
  app/components/Views/MultichainAccounts/AccountDetails/components/SmartAccountModal/SmartAccountModal.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/SmartAccountModal/SmartAccountModal.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/SmartAccountNetworkList/SmartAccountNetworkList.styles.ts
  app/components/Views/MultichainAccounts/AccountDetails/components/SmartAccountNetworkList/SmartAccountNetworkList.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/SmartAccountNetworkList/SmartAccountNetworkList.tsx
  app/components/Views/MultichainAccounts/AccountGroupDetails/AccountGroupDetails.test.tsx
  app/components/Views/MultichainAccounts/AccountGroupDetails/AccountGroupDetails.tsx
  app/constants/navigation/Routes.ts
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, size-L

#19055 feat: remove chainId filtering from order history cp-7.55.0
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/index.ts
Labels: QA Passed, team-ramp, No E2E Smoke Needed, Remove GNS, size-S

#19051 feat(perps): design adjustments
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.styles.ts
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/components/PerpsAmountDisplay/PerpsAmountDisplay.tsx
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.styles.ts
  app/components/UI/Perps/components/PerpsLimitPriceBottomSheet/PerpsLimitPriceBottomSheet.styles.ts
  app/components/UI/Perps/components/PerpsOrderHeader/PerpsOrderHeader.styles.ts
  app/components/UI/Perps/components/PerpsOrderHeader/PerpsOrderHeader.tsx
  app/components/UI/Perps/components/PerpsOrderTypeBottomSheet/PerpsOrderTypeBottomSheet.styles.ts
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.styles.ts
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-S

#19026 fix(perps): leverage slider liquidation price TAT-1367
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-M

#19054 feat(peprs): dynamic fee calculation
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.test.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-M

#19013 fix: cleanup prewarm on account switch in stream classes
  app/components/UI/Perps/providers/PerpsStreamManager.test.tsx
  app/components/UI/Perps/providers/PerpsStreamManager.tsx
  app/components/UI/Perps/services/HyperLiquidSubscriptionService.ts
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-earn, size-M

#18717 feat: add insufficient payment token native alert
  app/components/Views/confirmations/components/alert-banner/alert-banner.test.tsx
  app/components/Views/confirmations/components/alert-banner/alert-banner.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.test.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.test.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.tsx
  app/components/Views/confirmations/components/modals/pay-with-modal/pay-with-modal.test.tsx
  app/components/Views/confirmations/components/modals/pay-with-modal/pay-with-modal.tsx
  app/components/Views/confirmations/constants/alerts.ts
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.test.tsx
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.tsx
  app/components/Views/confirmations/external/perps-temp/hooks/usePerpsDepositView.test.ts
  app/components/Views/confirmations/external/perps-temp/hooks/usePerpsDepositView.ts
  app/components/Views/confirmations/hooks/alerts/useConfirmationAlerts.test.ts
  app/components/Views/confirmations/hooks/alerts/useConfirmationAlerts.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientBalanceAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientBalanceAlert.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientPayTokenBalanceAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientPayTokenNativeAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientPayTokenNativeAlert.ts
  app/components/Views/confirmations/hooks/alerts/useNoPayTokenQuotesAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/useNoPayTokenQuotesAlert.ts
  app/components/Views/confirmations/hooks/metrics/useConfirmationAlertMetrics.ts
  app/components/Views/confirmations/hooks/pay/useAutomaticTransactionPayToken.test.ts
  app/components/Views/confirmations/hooks/pay/useAutomaticTransactionPayToken.ts
  app/components/Views/confirmations/hooks/pay/useTransactionBridgeQuotes.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionBridgeQuotes.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayTokenAmounts.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredTokens.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredTokens.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog, size-XL

#19073 ci: Bump `setup-ruby`
  .github/workflows/ci.yml
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, size-XS, team-core-platform

#18700 feat: support atomic swaps if payment token on same chain
  app/components/Views/confirmations/hooks/transactions/useTransactionConfirm.test.ts
  app/components/Views/confirmations/hooks/transactions/useTransactionConfirm.ts
  app/util/transactions/hooks/pay-hook.test.ts
  app/util/transactions/hooks/pay-hook.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog, size-M

#19025 feat(perps): updated perps skeleton TAT-1399
  app/components/UI/Perps/components/PerpsLoader/PerpsLoader.test.tsx
  app/components/UI/Perps/components/PerpsLoadingSkeleton/PerpsLoadingSkeleton.styles.ts
  app/components/UI/Perps/components/PerpsLoadingSkeleton/PerpsLoadingSkeleton.test.tsx
  app/components/UI/Perps/components/PerpsLoadingSkeleton/PerpsLoadingSkeleton.tsx
  app/components/UI/Perps/components/PerpsLoadingSkeleton/__snapshots__/PerpsLoadingSkeleton.test.tsx.snap
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-M

#19075 fix: metamask pay quotes gas
  app/components/Views/confirmations/components/edit-amount/edit-amount.tsx
  app/components/Views/confirmations/hooks/pay/useTransactionBridgeQuotes.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.ts
  app/components/Views/confirmations/hooks/tokens/useTokenFiatRates.test.ts
  app/components/Views/confirmations/hooks/tokens/useTokenFiatRates.ts
  app/components/Views/confirmations/utils/bridge.test.ts
  app/components/Views/confirmations/utils/bridge.ts
  app/core/NotificationManager.js
  app/core/NotificationsManager.test.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog, size-M

#19079 test: add back quarantined confirmation redesign tests from GNS removal
  e2e/framework/fixtures/FixtureBuilder.ts
  e2e/specs/confirmations-redesigned/transactions/dapp-initiated-transfer.spec.ts
  e2e/specs/confirmations-redesigned/transactions/send-max-transfer.spec.ts
  e2e/specs/confirmations-redesigned/transactions/wallet-initiated-transfer.spec.ts
  e2e/specs/confirmations/send-erc20-with-dapp.spec.ts
Labels: No QA Needed, team-assets, Run Smoke E2E, size-M

#19069 feat(ramp): set evm only for sell address selector cp-7.55.0
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Aggregator/components/AccountSelector.tsx
Labels: QA Passed, team-ramp, Run Smoke E2E, Remove GNS, no-changelog, size-XS

#19081 Add rewards referral view & rewards home view
  app/actions/rewards/index.ts
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Rewards/Views/RewardsReferralView.test.tsx
  app/components/UI/Rewards/Views/RewardsReferralView.tsx
  app/components/UI/Rewards/Views/RewardsView.constants.ts
  app/components/UI/Rewards/Views/RewardsView.test.tsx
  app/components/UI/Rewards/Views/RewardsView.tsx
  app/components/UI/Rewards/components/ReferralDetails/CopyableField.test.tsx
  app/components/UI/Rewards/components/ReferralDetails/CopyableField.tsx
  app/components/UI/Rewards/components/ReferralDetails/ReferralActionsSection.test.tsx
  app/components/UI/Rewards/components/ReferralDetails/ReferralActionsSection.tsx
  app/components/UI/Rewards/components/ReferralDetails/ReferralDetails.test.tsx
  app/components/UI/Rewards/components/ReferralDetails/ReferralDetails.tsx
  app/components/UI/Rewards/components/ReferralDetails/ReferralInfoSection.test.tsx
  app/components/UI/Rewards/components/ReferralDetails/ReferralInfoSection.tsx
  app/components/UI/Rewards/components/ReferralDetails/ReferralStatsSection.test.tsx
  app/components/UI/Rewards/components/ReferralDetails/ReferralStatsSection.tsx
  app/components/UI/Rewards/hooks/useReferralDetails.test.tsx
  app/components/UI/Rewards/hooks/useReferralDetails.ts
  app/components/UI/Rewards/hooks/useRewardsEngineControllerSync.test.tsx
  app/components/UI/Rewards/hooks/useRewardsEngineControllerSync.ts
  app/components/UI/Rewards/hooks/useSeasonStatus.test.tsx
  app/components/UI/Rewards/hooks/useSeasonStatus.ts
  app/constants/navigation/Routes.ts
  app/core/Engine/controllers/rewards-controller/RewardsController.test.ts
  app/core/Engine/controllers/rewards-controller/RewardsController.ts
  app/core/Engine/controllers/rewards-controller/services/index.ts
  app/core/Engine/controllers/rewards-controller/services/rewards-data-service.test.ts
  app/core/Engine/controllers/rewards-controller/services/rewards-data-service.ts
  app/core/Engine/controllers/rewards-controller/types.ts
  app/core/Engine/messengers/rewards-controller-messenger/index.ts
  app/images/metamask-rewards-points.svg
  app/reducers/index.ts
  app/reducers/rewards/index.test.ts
  app/reducers/rewards/index.ts
  app/reducers/rewards/selectors.ts
  app/reducers/rewards/types.ts
  app/selectors/rewards/index.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  app/util/test/initial-root-state.ts
  locales/languages/en.json
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, size-XL, team-rewards

#18965 feat: 2276 New Migration Pattern to support Persistance Splitting
  app/core/EngineService/EngineService.ts
  app/store/migrations/098.ts
  app/store/migrations/index.ts
  app/store/persistConfig/constants.ts
  app/store/persistConfig/index.ts
  app/store/persistConfig/persistConfig.test.ts
Labels: team-mobile-platform, Run Smoke E2E, no-changelog, size-M

#18756 fix: Hide send max on OP stack
  app/components/Views/confirmations/hooks/gas/useFeeCalculations.test.ts
  app/components/Views/confirmations/hooks/gas/useFeeCalculations.ts
  app/components/Views/confirmations/legacy/SendFlow/Amount/index.js
  app/constants/network.js
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog, size-S

#19044 feat(perps): implement live funding rate update
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/components/PerpsMarketStatisticsCard/PerpsMarketStatisticsCard.test.tsx
  app/components/UI/Perps/components/PerpsMarketStatisticsCard/PerpsMarketStatisticsCard.tsx
  app/components/UI/Perps/components/PerpsMarketStatisticsCard/PerpsMarketStatisticsCard.types.ts
  app/components/UI/Perps/components/PerpsMarketTabs/PerpsMarketTabs.test.tsx
  app/components/UI/Perps/components/PerpsMarketTabs/PerpsMarketTabs.tsx
  app/components/UI/Perps/components/PerpsMarketTabs/PerpsMarketTabs.types.ts
  app/components/UI/Perps/constants/perpsConfig.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.test.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
  app/components/UI/Perps/controllers/types/index.ts
  app/components/UI/Perps/hooks/usePerpsMarketStats.test.ts
  app/components/UI/Perps/hooks/usePerpsMarketStats.ts
  app/components/UI/Perps/services/HyperLiquidSubscriptionService.test.ts
  app/components/UI/Perps/services/HyperLiquidSubscriptionService.ts
  app/components/UI/Perps/utils/formatUtils.test.ts
  app/components/UI/Perps/utils/formatUtils.ts
  app/components/UI/Perps/utils/marketDataTransform.test.ts
  app/components/UI/Perps/utils/marketDataTransform.ts
  app/components/UI/Perps/utils/marketUtils.test.ts
  app/components/UI/Perps/utils/marketUtils.ts
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-perps, size-XL

#19015 fix(card): card home not showing asset balance if asset is hidden
  app/components/UI/Card/Views/CardHome/CardHome.test.tsx
  app/components/UI/Card/Views/CardHome/CardHome.tsx
  app/components/UI/Card/hooks/useGetPriorityCardToken.test.ts
  app/components/UI/Card/hooks/useGetPriorityCardToken.tsx
  e2e/specs/card/card-button.spec.ts
  e2e/specs/card/card-home-add-funds.spec.ts
  e2e/specs/card/card-home-manage-card.spec.ts
Labels: No QA Needed, Run Smoke E2E, team-card, size-L

#18824 chore: migrate swaps to BIP-44
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/components/DestinationAccountSelector.tsx/DestinationAccountSelector.test.tsx
  app/components/UI/Bridge/components/DestinationAccountSelector.tsx/index.tsx
  app/components/UI/Bridge/hooks/useBridgeQuoteRequest/index.ts
  app/components/UI/Bridge/hooks/useBridgeQuoteRequest/useBridgeQuoteRequest.test.ts
  app/selectors/bridge.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, no-changelog, size-M

#19152 test: Disable bridge test
  e2e/specs/quarantine/bridge-action-smoke.failing.ts
  e2e/specs/quarantine/swap-action-regression.failing.ts
  e2e/specs/quarantine/swap-action-smoke.failing.ts
Labels: type-bug, No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-S

#18903 chore: Bump BridgeController to 41.4, BridgeStatusController to 40.2
  app/components/UI/Bridge/_mocks_/bridgeQuoteWithMetadata.ts
  app/components/UI/Bridge/components/TransactionDetails/BridgeStepDescription.test.tsx
  app/components/UI/Bridge/hooks/useBridgeQuoteRequest/index.ts
  app/components/UI/Bridge/utils/transaction-history.test.ts
  app/components/UI/MultichainBridgeTransactionListItem/MultichainBridgeTransactionListItem.test.tsx
  app/components/Views/confirmations/utils/bridge.ts
  e2e/api-mocking/mock-responses/bridge-api-quotes.ts
  package.json
  patches/@metamask+bridge-controller+39.0.1.patch
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, size-S

#19070 fix: cp-7.55.0 Fix NFT component presentation
  app/components/Views/confirmations/components/UI/nft/nft.test.tsx
  app/components/Views/confirmations/components/UI/nft/nft.tsx
Labels: No E2E Smoke Needed, team-confirmations, size-S

#19144 chore: adjust perps tab based on positions/orders/balance/firstTimeUser
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.styles.ts
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.test.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/components/PerpsTabControlBar/PerpsTabControlBar.styles.ts
  app/components/UI/Perps/components/PerpsTabControlBar/PerpsTabControlBar.test.tsx
  app/components/UI/Perps/components/PerpsTabControlBar/PerpsTabControlBar.tsx
  e2e/selectors/Perps/Perps.selectors.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-L

#19161 fix: ignore quote in metamask pay if target not met
  app/components/UI/AnimatedSpinner/index.js
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.tsx
  app/components/Views/confirmations/components/activity/transaction-details-status-icon/index.ts
  app/components/Views/confirmations/components/activity/transaction-details-status-icon/transaction-details-status-icon.test.tsx
  app/components/Views/confirmations/components/activity/transaction-details-status-icon/transaction-details-status-icon.tsx
  app/components/Views/confirmations/components/activity/transaction-details-status-row/transaction-details-status-row.test.tsx
  app/components/Views/confirmations/components/activity/transaction-details-status-row/transaction-details-status-row.tsx
  app/components/Views/confirmations/components/activity/transaction-details-summary/transaction-details-summary.styles.ts
  app/components/Views/confirmations/components/activity/transaction-details-summary/transaction-details-summary.tsx
  app/components/Views/confirmations/components/deposit-keyboard/deposit-keyboard.tsx
  app/components/Views/confirmations/components/rows/bridge-fee-row/bridge-fee-row.test.tsx
  app/components/Views/confirmations/components/rows/bridge-fee-row/bridge-fee-row.tsx
  app/components/Views/confirmations/components/rows/bridge-fee-row/index.ts
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.tsx
  app/components/Views/confirmations/hooks/pay/useTransactionBridgeQuotes.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionBridgeQuotes.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayTokenAmounts.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayTokenAmounts.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredFiat.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredFiat.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.ts
  app/components/Views/confirmations/utils/bridge.test.ts
  app/components/Views/confirmations/utils/bridge.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog, size-L

#19177 feat(perps): improve Perps UX with connection grace period on navigation
  app/components/UI/Perps/constants/perpsConfig.ts
  app/components/UI/Perps/hooks/usePerpsConnectionLifecycle.test.ts
  app/components/UI/Perps/hooks/usePerpsConnectionLifecycle.ts
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-S

#19179 fix: cp-7.55.0 max mode should result on 0 value if native asset available is less than gas needed
  app/components/Views/confirmations/hooks/send/usePercentageAmount.test.ts
  app/components/Views/confirmations/hooks/send/usePercentageAmount.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, size-S

#19158 chore: bump SonarCloud action version
  .github/workflows/ci.yml
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-XS

#19090 INFRA-2849:Added auto-create-release-pr workflow to automatically create release cp-7.55.0
  .github/workflows/auto-create-release-pr.yml
  .github/workflows/create-release-pr.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops, size-M

#18894 refactor: Replace candle intervals with candle periods
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/components/PerpsCandlePeriodBottomSheet/PerpsCandlePeriodBottomSheet.styles.ts
  app/components/UI/Perps/components/PerpsCandlePeriodBottomSheet/PerpsCandlePeriodBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsCandlePeriodBottomSheet/PerpsCandlePeriodBottomSheet.tsx
  app/components/UI/Perps/components/PerpsCandlePeriodSelector/PerpsCandlePeriodSelector.tsx
  app/components/UI/Perps/components/PerpsCandlePeriodSelector/index.ts
  app/components/UI/Perps/components/TradingViewChart/TradingViewChart.html
  app/components/UI/Perps/components/TradingViewChart/TradingViewChart.tsx
  app/components/UI/Perps/components/TradingViewChart/TradingViewChartTemplate.tsx
  app/components/UI/Perps/components/TradingViewChart/index.ts
  app/components/UI/Perps/constants/chartConfig.ts
  app/components/UI/Perps/hooks/usePerpsPositionData.test.ts
  e2e/selectors/Perps/Perps.selectors.ts
  locales/languages/en.json
Labels: QA Passed, No E2E Smoke Needed, skip-sonar-cloud, team-perps, size-XL

#19042 fix: 'Connection Request Complete' analytics event not firing
  app/util/address/index.ts
Labels: No QA Needed, team-wallet-api-platform, Run Smoke E2E, no-changelog, size-S

#19196 fix(test): general ci flakes
  .github/workflows/run-e2e-smoke-tests-android.yml
  e2e/pages/MultichainAccounts/EditAccountName.ts
  e2e/pages/wallet/WalletView.ts
  e2e/viewHelper.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no changelog required, size-S

#19193 chore: small design adjustments to tab view home
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.styles.ts
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-earn, team-perps, size-S

#18856 feat: TAT-1335 display geo block bottom sheet tooltip when geo blocked user interacts with perps
  .js.env.example
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/Views/PerpsPositionsView/PerpsPositionsView.test.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.test.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/components/PerpsBottomSheetTooltip/PerpsBottomSheetTooltip.types.ts
  app/components/UI/Perps/components/PerpsBottomSheetTooltip/content/contentRegistry.ts
  app/components/UI/Perps/components/PerpsOpenOrderCard/PerpsOpenOrderCard.test.tsx
  app/components/UI/Perps/components/PerpsOpenOrderCard/PerpsOpenOrderCard.tsx
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.test.tsx
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.tsx
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.styles.ts
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.test.tsx
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.tsx
  app/components/UI/Perps/controllers/PerpsController.test.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/controllers/types/index.ts
  app/components/UI/Perps/hooks/usePerpsEligibility.test.ts
  app/components/UI/Perps/hooks/usePerpsEligibility.ts
  app/components/UI/Perps/selectors/featureFlags/index.test.ts
  app/components/UI/Perps/selectors/featureFlags/index.ts
  app/core/Engine/controllers/perps-controller/index.ts
  app/core/Engine/messengers/perps-controller-messenger/index.ts
  babel.config.tests.js
  bitrise.yml
  e2e/selectors/Perps/Perps.selectors.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-XL

#19212 fix: cp-7.55.0 use fiat conversion rate from asset if available
  app/components/Views/confirmations/hooks/send/useCurrencyConversions.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, size-XS

#19182 feat: add perp push notification translations
  app/core/Engine/controllers/notifications/create-push-message.ts
  locales/languages/en.json
Labels: team-assets, No E2E Smoke Needed, skip-sonar-cloud, size-S

#19230 Ios build speed
  .github/workflows/build-ios-e2e.yml
Labels: team-dev-ops, size-S

#19221 feat: rewards opt in
  app/core/Engine/controllers/rewards-controller/RewardsController.test.ts
  app/core/Engine/controllers/rewards-controller/RewardsController.ts
  app/core/Engine/controllers/rewards-controller/services/index.ts
  app/core/Engine/controllers/rewards-controller/services/rewards-data-service.test.ts
  app/core/Engine/controllers/rewards-controller/services/rewards-data-service.ts
  app/core/Engine/controllers/rewards-controller/types.ts
  app/core/Engine/messengers/rewards-controller-messenger/index.ts
  app/reducers/rewards/index.test.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, no changelog required, size-XL, team-rewards

#18566 feat: use new bip44 token selectors
  app/components/UI/Assets/components/AssetLogo/AssetLogo.styles.ts
  app/components/UI/Assets/components/AssetLogo/AssetLogo.test.tsx
  app/components/UI/Assets/components/AssetLogo/AssetLogo.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/TokenListItemBip44.test.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/TokenListItemBip44.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/Tokens/TokenList/index.tsx
  app/components/UI/Tokens/index.tsx
  app/selectors/assets/assets-list.test.ts
  app/selectors/assets/assets-list.ts
Labels: No QA Needed, team-assets, No E2E Smoke Needed, no-changelog, size-XL

#19222 feat(perps): screen cleanup and connection error handling
  app/components/UI/Perps/Views/PerpsRedirect.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/Views/PerpsView.test.tsx
  app/components/UI/Perps/Views/PerpsView.tsx
  app/components/UI/Perps/Views/__snapshots__/PerpsView.test.tsx.snap
  app/components/UI/Perps/components/PerpsConnectionErrorView/PerpsConnectionErrorView.styles.ts
  app/components/UI/Perps/components/PerpsConnectionErrorView/PerpsConnectionErrorView.test.tsx
  app/components/UI/Perps/components/PerpsConnectionErrorView/PerpsConnectionErrorView.tsx
  app/components/UI/Perps/components/PerpsDeveloperOptionsSection/PerpsConnectionErrorButton.tsx
  app/components/UI/Perps/components/PerpsDeveloperOptionsSection/PerpsDeveloperOptionsSection.test.tsx
  app/components/UI/Perps/components/PerpsDeveloperOptionsSection/PerpsDeveloperOptionsSection.tsx
  app/components/UI/Perps/components/PerpsDeveloperOptionsSection/__snapshots__/PerpsDeveloperOptionsSection.test.tsx.snap
  app/components/UI/Perps/constants/perpsConfig.ts
  app/components/UI/Perps/index.ts
  app/components/UI/Perps/integration/connectionLifecycle.test.tsx
  app/components/UI/Perps/providers/PerpsConnectionProvider.test.tsx
  app/components/UI/Perps/providers/PerpsConnectionProvider.tsx
  app/components/UI/Perps/routes/index.tsx
  app/components/UI/Perps/services/PerpsConnectionManager.test.ts
  app/components/UI/Perps/services/PerpsConnectionManager.ts
  app/components/UI/Perps/types/index.ts
  app/components/Views/Settings/DeveloperOptions/__snapshots__/index.test.tsx.snap
  e2e/selectors/Perps/Perps.selectors.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-perps, size-XL

#19244 fix: add BIP-44 check to selectSourceWalletAddress
  app/selectors/bridge.ts
  e2e/specs/swaps/bridge-action-smoke.spec.ts
  e2e/specs/swaps/helpers/constants.ts
  e2e/specs/swaps/swap-action-smoke.spec.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, no-changelog, size-S

#19262 chore: qa feedback adjust-perps-tab-based-on-user-state-holdings
  COMMIT_SUMMARY.md
  GHERKIN_TESTS.feature
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.test.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/components/PerpsTabControlBar/PerpsTabControlBar.test.tsx
  app/components/UI/Perps/components/PerpsTabControlBar/PerpsTabControlBar.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-earn, size-M

#19264 fix(deposit): cp-7.55.0 use multichain balance to determine 'add funds' entrypoint
  app/components/UI/Tokens/TokenList/TokenListFooter/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/TokenList/TokenListFooter/index.test.tsx
  app/components/UI/Tokens/TokenList/TokenListFooter/index.tsx
Labels: QA Passed, team-ramp, Run Smoke E2E, no-changelog, size-M

#19253 INFRA-2849: Don't run auto create release pr on hotfix
  .github/workflows/auto-create-release-pr.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops, size-S

#19245 fix: add recipient `address` and tooltip cp-7.55.0
  app/components/UI/Name/Name.test.tsx
  app/components/UI/Name/Name.tsx
  app/components/UI/Name/__snapshots__/Name.test.tsx.snap
  app/components/Views/confirmations/components/UI/info-row/info-value/address/__snapshots__/address.test.tsx.snap
  app/components/Views/confirmations/components/UI/recipient/recipient.styles.ts
  app/components/Views/confirmations/components/UI/recipient/recipient.test.tsx
  app/components/Views/confirmations/components/UI/recipient/recipient.tsx
Labels: No QA Needed, Run Smoke E2E, team-confirmations, size-M

#19134 chore: nightly build bump version
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, size-S

#19251 fix(deposit): fixes deposit dob input
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositDateField/DepositDateField.tsx
  app/components/UI/Ramp/Deposit/components/DepositDateField/DespostDateField.styles.ts
  app/components/UI/Ramp/Deposit/components/DepositDateField/__snapshots__/DepositDateField.test.tsx.snap
Labels: QA Passed, team-ramp, Run Smoke E2E, size-S

#19211 feat: Perps design review tweaks
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Perps/Views/PerpsClosePositionView/PerpsClosePositionView.styles.ts
  app/components/UI/Perps/Views/PerpsClosePositionView/PerpsClosePositionView.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.styles.ts
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.styles.ts
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.styles.ts
  app/components/UI/Perps/components/LivePriceDisplay/LivePriceHeader.tsx
  app/components/UI/Perps/components/PerpsLeverage/PerpsLeverage.styles.ts
  app/components/UI/Perps/components/PerpsLeverage/PerpsLeverage.test.tsx
  app/components/UI/Perps/components/PerpsLeverage/PerpsLeverage.tsx
  app/components/UI/Perps/components/PerpsLeverage/index.ts
  app/components/UI/Perps/components/PerpsLoadingSkeleton/PerpsLoadingSkeleton.test.tsx
  app/components/UI/Perps/components/PerpsLoadingSkeleton/PerpsLoadingSkeleton.tsx
  app/components/UI/Perps/components/PerpsLoadingSkeleton/__snapshots__/PerpsLoadingSkeleton.test.tsx.snap
  app/components/UI/Perps/components/PerpsMarketHeader/PerpsMarketHeader.styles.ts
  app/components/UI/Perps/components/PerpsMarketHeader/PerpsMarketHeader.tsx
  app/components/UI/Perps/components/PerpsMarketRowItem/PerpsMarketRowItem.styles.ts
  app/components/UI/Perps/components/PerpsMarketRowItem/PerpsMarketRowItem.tsx
  app/components/UI/Perps/components/PerpsOrderHeader/PerpsOrderHeader.styles.ts
  app/components/UI/Perps/components/PerpsOrderHeader/PerpsOrderHeader.tsx
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.styles.ts
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.tsx
  app/components/UI/Perps/components/PerpsTabControlBar/PerpsTabControlBar.styles.ts
  app/components/UI/Perps/components/PerpsTabControlBar/PerpsTabControlBar.tsx
  app/components/UI/Perps/routes/index.tsx
  app/components/Views/ActivityView/index.js
  e2e/viewHelper.ts
  locales/languages/en.json
Labels: No QA Needed, Run Smoke E2E, team-perps, size-L

#19126 fix(aggregator): fixes small property of undefined bug for some orders
  app/components/UI/Ramp/Aggregator/hooks/useHandleSuccessfulOrder.ts
Labels: QA Passed, team-ramp, Run Smoke E2E, no-changelog, size-XS

#19298 fix: cp-7.55.0 Fix token details display in header for native token send
  app/components/Views/confirmations/components/hero-token/avatar-token-with-network-badge/avatar-token-with-network-badge.tsx
  app/components/Views/confirmations/hooks/useTokenAsset.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, size-S

#19312 feat: bump solana snap
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-new-networks, size-XS

#18902 test: Added tap to disappear on confirm button
  e2e/pages/Browser/TestDApp.ts
  e2e/specs/confirmations/send-erc20-with-dapp.spec.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-XS

#19317 chore: Fix label name in docs
  .cursor/rules/pr-creation-guidelines.mdc
  .github/guidelines/LABELING_GUIDELINES.md
Labels: No QA Needed, No E2E Smoke Needed, size-S, team-core-platform

#19278 chore: Update `base-controller` to v8.3.0
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, size-XS, team-core-platform

#19287 test: fi flaky test asset sort
  app/components/UI/shared/BaseControlBar/BaseControlBar.tsx
  e2e/pages/wallet/WalletView.ts
  e2e/selectors/wallet/WalletView.selectors.ts
  e2e/specs/assets/asset-sort.spec.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa, size-S

#19187 feat: Add expo-haptics
  app/__mocks__/expo-haptics.js
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.tsx
  app/components/UI/Perps/components/PerpsSlider/PerpsSlider.tsx
  ios/Podfile.lock
  jest.config.js
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, skip-sonar-cloud, team-perps, size-M

#19326 chore: gradle cache path update
  .github/workflows/build-android-e2e.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops, size-XS

#19272 feat: Enable Arbitrum for Perps withdraw and deposit flows
  app/components/Nav/Main/index.js
  app/components/UI/Perps/Views/PerpsBalanceModal/PerpsBalanceModal.test.tsx
  app/components/UI/Perps/Views/PerpsBalanceModal/PerpsBalanceModal.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.test.tsx
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.tsx
  app/components/UI/Perps/hooks/index.ts
  app/components/UI/Perps/hooks/usePerpsNetworkManagement.test.ts
  app/components/UI/Perps/hooks/usePerpsNetworkManagement.ts
Labels: QA Passed, Run Smoke E2E, skip-sonar-cloud, team-perps, size-L

#19344 chore: swap out all npx calls to use yarn
  docs/readme/release-build-profiler.md
  package.json
  scripts/build.sh
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, size-S

#19351 test: fix system dialog popups in performance e2e
  appwright/tests/performance/scenario1.spec.js
  appwright/tests/performance/scenario3.spec.js
  appwright/utils/Flows.js
  patches/appwright+0.1.45.patch
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, no changelog required, size-S

#18958 fix: prevent calling wallet_addEthereumChain only on persistent chains
  app/core/RPCMethods/wallet_addEthereumChain.js
Labels: type-bug, QA Passed, Run Smoke E2E, team-wallet-standard, release-7.55.0, regression-prod-7.53, size-XS

#19315 cherry-pick: feat(deposit): updates home page CTA to send users to deposit page (#18852)
  app/components/UI/Tokens/TokenList/TokenListFooter/__snapshots__/index.test.tsx.snap
  locales/languages/en.json
Labels: team-ramp, Run Smoke E2E, size-XS

#19301 feat: move alerts to keyboard in perps deposit
  app/components/Views/TransactionsView/index.js
  app/components/Views/TransactionsView/index.test.tsx
  app/components/Views/confirmations/components/activity/transaction-details-status-icon/transaction-details-status-icon.test.tsx
  app/components/Views/confirmations/components/activity/transaction-details-status-icon/transaction-details-status-icon.tsx
  app/components/Views/confirmations/components/activity/transaction-details-summary/transaction-details-summary.test.tsx
  app/components/Views/confirmations/components/activity/transaction-details-summary/transaction-details-summary.tsx
  app/components/Views/confirmations/components/alert-message/alert-message.styles.ts
  app/components/Views/confirmations/components/alert-message/alert-message.test.tsx
  app/components/Views/confirmations/components/alert-message/alert-message.tsx
  app/components/Views/confirmations/components/alert-message/index.ts
  app/components/Views/confirmations/components/confirm/confirm-component.test.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.tsx
  app/components/Views/confirmations/components/deposit-keyboard/deposit-keyboard.styles.ts
  app/components/Views/confirmations/components/deposit-keyboard/deposit-keyboard.test.tsx
  app/components/Views/confirmations/components/deposit-keyboard/deposit-keyboard.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.test.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.tsx
  app/components/Views/confirmations/components/rows/bridge-fee-row/bridge-fee-row.test.tsx
  app/components/Views/confirmations/components/rows/bridge-fee-row/bridge-fee-row.tsx
  app/components/Views/confirmations/components/rows/total-row/total-row.test.tsx
  app/components/Views/confirmations/components/rows/total-row/total-row.tsx
  app/components/Views/confirmations/components/rows/transactions/gas-fee-fiat-row/gas-fee-fiat-row.test.tsx
  app/components/Views/confirmations/components/rows/transactions/gas-fee-fiat-row/gas-fee-fiat-row.tsx
  app/components/Views/confirmations/constants/perps.ts
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.tsx
  app/components/Views/confirmations/hooks/alerts/useInsufficientPayTokenNativeAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientPayTokenNativeAlert.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredFiat.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.ts
  app/components/Views/confirmations/hooks/tokens/useTokenFiatRates.ts
  app/components/Views/confirmations/hooks/transactions/useTransactionConfirm.test.ts
  app/components/Views/confirmations/hooks/transactions/useTransactionConfirm.ts
  app/util/activity/index.test.ts
  app/util/activity/index.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog, size-XL

#19366 fix: hide Solana in metamask pay
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/BridgeSourceNetworkSelector.test.tsx
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/index.tsx
  app/components/Views/confirmations/components/modals/pay-with-modal/pay-with-modal.test.tsx
  app/components/Views/confirmations/components/modals/pay-with-modal/pay-with-modal.tsx
  app/components/Views/confirmations/components/modals/pay-with-network-modal/pay-with-network-modal.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog, size-M

#19263 fix: cp-7.55.0 Prevent adding multiple txs in the send flow
  app/components/Views/confirmations/components/recipient-list/recipient-list.tsx
  app/components/Views/confirmations/components/send/recipient/recipient.test.tsx
  app/components/Views/confirmations/components/send/recipient/recipient.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog, no changelog required, size-S

#19390 test: add waitForElementToDisappear option to tapManagePermissionsButton
  e2e/pages/Browser/ConnectedAccountsModal.ts
Labels: No E2E Smoke Needed, team-qa, no-changelog, no changelog required, size-XS

#19389 fix: notify the client when native balance goes to zero
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-new-networks, size-XS

#18738 feat: Init Perps e2e pattern
  app/component-library/components/Skeleton/Skeleton.tsx
  app/components/UI/Perps/Views/PerpsBalanceModal/PerpsBalanceModal.tsx
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/Views/PerpsPositionsView/PerpsPositionsView.test.tsx
  app/components/UI/Perps/Views/PerpsPositionsView/PerpsPositionsView.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.test.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/components/PerpsAmountDisplay/PerpsAmountDisplay.tsx
  app/components/UI/Perps/components/PerpsMarketRowItem/PerpsMarketRowItem.test.tsx
  app/components/UI/Perps/components/PerpsMarketRowItem/PerpsMarketRowItem.tsx
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.tsx
  app/components/UI/Perps/components/PerpsTabControlBar/PerpsTabControlBar.tsx
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.tsx
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
  app/components/UI/Perps/hooks/usePerpsPerformance.ts
  app/components/UI/Perps/providers/PerpsConnectionProvider.tsx
  app/components/UI/Perps/providers/PerpsStreamManager.tsx
  app/components/UI/Perps/services/HyperLiquidSubscriptionService.ts
  app/components/UI/Perps/utils/e2eBridgePerps.ts
  app/components/UI/Perps/utils/hyperLiquidValidation.ts
  app/core/Engine/controllers/perps-controller/index.ts
  e2e/api-mocking/mock-config/perps-controller-mixin.ts
  e2e/api-mocking/mock-responses/perps-arbitrum-mocks.ts
  e2e/api-mocking/mock-responses/perps-e2e-mocks.ts
  e2e/framework/fixtures/FixtureBuilder.ts
  e2e/pages/Perps/PerpsMarketDetailsView.ts
  e2e/pages/Perps/PerpsMarketListView.ts
  e2e/pages/Perps/PerpsOnboarding.ts
  e2e/pages/Perps/PerpsOrderView.ts
  e2e/pages/Perps/PerpsTabView.ts
  e2e/pages/Perps/PerpsView.ts
  e2e/pages/wallet/TabBarComponent.ts
  e2e/pages/wallet/WalletActionsBottomSheet.ts
  e2e/pages/wallet/WalletView.ts
  e2e/selectors/Perps/Perps.selectors.ts
  e2e/selectors/wallet/WalletView.selectors.ts
  e2e/specs/perps/helpers/perps-helpers.ts
  e2e/specs/perps/perps-no-funds-tutorial.spec.ts
  e2e/specs/perps/perps-position.spec.ts
  e2e/tags.js
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-qa, no changelog required, team-perps, size-XL

#19380 fix: cp-7.55.0 amount input related fixes
  app/components/Views/confirmations/components/edit-amount-keyboard/edit-amount-keyboard.test.tsx
  app/components/Views/confirmations/components/edit-amount-keyboard/edit-amount-keyboard.tsx
  app/components/Views/confirmations/components/send/amount/amount-keyboard/amount-keyboard.tsx
  app/components/Views/confirmations/components/send/amount/amount.styles.ts
  app/components/Views/confirmations/components/send/amount/amount.test.tsx
  app/components/Views/confirmations/components/send/amount/amount.tsx
  app/components/Views/confirmations/hooks/send/useCurrencyConversions.test.ts
  app/components/Views/confirmations/hooks/send/useCurrencyConversions.ts
  app/components/Views/confirmations/utils/send.test.ts
  app/components/Views/confirmations/utils/send.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, size-M

#19395 test: re-enable confirmations redesigned tests for Android and iOS
  .github/workflows/build-android-e2e.yml
  .github/workflows/build-ios-e2e.yml
  .github/workflows/run-e2e-smoke-tests-android.yml
  .github/workflows/run-e2e-smoke-tests-ios.yml
  e2e/api-mocking/mock-e2e-allowlist.ts
  e2e/api-mocking/mock-responses/simulations.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-S

#19382 fix: cp-7.55.0 deep link transfer request cause app to crash
  app/components/Views/confirmations/components/confirm/confirm-component.test.tsx
  app/components/Views/confirmations/components/hero-token/hero-token.test.tsx
  app/components/Views/confirmations/components/hero-token/hero-token.tsx
  app/components/Views/confirmations/external/staking/info/staking-claim/staking-claim.test.tsx
  app/components/Views/confirmations/external/staking/info/staking-deposit/staking-deposit.test.tsx
  app/components/Views/confirmations/external/staking/info/staking-withdrawal/staking-withdrawal.test.tsx
  app/components/Views/confirmations/hooks/alerts/useInsufficientBalanceAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientBalanceAlert.ts
  app/components/Views/confirmations/hooks/useMaxValueMode.test.ts
  app/components/Views/confirmations/hooks/useMaxValueMode.ts
  app/components/Views/confirmations/hooks/useMaxValueRefresher.test.ts
  app/components/Views/confirmations/hooks/useMaxValueRefresher.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, size-M

#19231 feat: add tou and privacy policy
  app/components/Nav/App/App.test.tsx
  app/components/Nav/App/App.tsx
  app/components/Nav/Main/index.js
  app/components/UI/Navbar/index.js
  app/components/UI/Navbar/index.test.jsx
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ChoosePassword/index.test.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/OnboardingCarousel/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingCarousel/index.test.tsx
  app/components/Views/OnboardingCarousel/index.tsx
  app/components/Views/OnboardingSheet/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingSheet/index.test.tsx
  app/components/Views/OnboardingSheet/index.tsx
  app/core/AppConstants.ts
  e2e/specs/onboarding/term-of-use.spec.js
  e2e/viewHelper.ts
  locales/languages/en.json
  wdio/features/Performance/ColdStartToOnboardingScreenAndroid.feature
  wdio/features/Performance/ColdStartToOnboardingScreenIOS.feature
  wdio/step-definitions/common-steps.js
Labels: QA Passed, Run Smoke E2E, team-web3auth, size-XL, release-7.56.0

#18295 feat: show-password-outdated error upon login
  app/components/UI/LoginOptionsSwitch/LoginOptionsSwitch.tsx
  app/components/Views/ChoosePassword/__snapshots__/index.test.tsx.snap
  app/components/Views/Login/index.tsx
  app/components/Views/Login/index2.test.tsx
  e2e/selectors/wallet/LoginView.selectors.ts
Labels: area-onboarding, QA Passed, Run Smoke E2E, team-web3auth, size-M, release-7.56.0

#19371 feat(perps): add missing icon in perps funding history
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsFundingTransactionView.test.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsFundingTransactionView.tsx
  app/components/UI/Perps/utils/transactionTransforms.test.ts
  app/components/UI/Perps/utils/transactionTransforms.ts
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-perps, size-S

#19319 test: add job for e2e remove gns disabled
  .github/workflows/build-ios-e2e.yml
  bitrise.yml
  e2e/framework/types.ts
  e2e/pages/Network/NetworkListModal.ts
  e2e/pages/wallet/WalletView.ts
  e2e/specs/networks/add-popular-networks.spec.ts
  e2e/specs/quarantine/add-popular-networks.failing.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-M

#19412 test: Fixed flaky test `e2e/specs/notifications/notification-settings-flow.spec.ts`
  e2e/pages/Notifications/NotificationSettingsView.ts
  e2e/specs/notifications/notification-settings-flow.spec.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-S

#19444 chore: cp-7.55.0 add "NaN" check
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
  app/components/UI/Bridge/hooks/useHasSufficientGas/index.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, no-changelog, size-S

#19399 fix: cp-7.55.0: earn lending deposit confirmation button disabled state
  app/components/UI/Earn/Views/EarnLendingDepositConfirmationView/EarnLendingDepositConfirmationView.test.tsx
  app/components/UI/Earn/Views/EarnLendingDepositConfirmationView/index.tsx
Labels: No QA Needed, Run Smoke E2E, skip-sonar-cloud, team-earn, release-7.55.0, size-M

#19432 fix: perps e2e tests
  e2e/pages/Perps/PerpsMarketDetailsView.ts
  e2e/pages/Perps/PerpsMarketListView.ts
  e2e/pages/Perps/PerpsOrderView.ts
  e2e/pages/Perps/PerpsView.ts
  e2e/specs/perps/perps-no-funds-tutorial.spec.ts
  e2e/specs/perps/perps-position.spec.ts
  shim.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no changelog required, size-M

#19367 feat: TAT-1339: Refactor Perps Toasts
  app/components/UI/Perps/Views/PerpsClosePositionView/PerpsClosePositionView.test.tsx
  app/components/UI/Perps/Views/PerpsClosePositionView/PerpsClosePositionView.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/Views/PerpsWithdrawView/PerpsWithdrawView.test.tsx
  app/components/UI/Perps/Views/PerpsWithdrawView/PerpsWithdrawView.tsx
  app/components/UI/Perps/components/PerpsMarketTabs/PerpsMarketTabs.test.tsx
  app/components/UI/Perps/components/PerpsMarketTabs/PerpsMarketTabs.tsx
  app/components/UI/Perps/components/PerpsOpenOrderCard/PerpsOpenOrderCard.tsx
  app/components/UI/Perps/controllers/PerpsController.test.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.test.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
  app/components/UI/Perps/hooks/usePerpsClosePosition.test.ts
  app/components/UI/Perps/hooks/usePerpsClosePosition.ts
  app/components/UI/Perps/hooks/usePerpsDepositStatus.test.ts
  app/components/UI/Perps/hooks/usePerpsDepositStatus.ts
  app/components/UI/Perps/hooks/usePerpsToasts.test.ts
  app/components/UI/Perps/hooks/usePerpsToasts.ts
  app/components/UI/Perps/hooks/usePerpsWithdrawStatus.ts
  app/components/UI/Perps/types/index.ts
  app/components/UI/Perps/utils/orderUtils.test.ts
  app/components/UI/Perps/utils/orderUtils.ts
  app/components/UI/Perps/utils/perpsErrorHandler.test.ts
  app/components/UI/Perps/utils/perpsErrorHandler.ts
  app/components/UI/Perps/utils/time.test.ts
  app/components/UI/Perps/utils/time.ts
  app/components/UI/Perps/utils/translatePerpsError.ts
  app/core/Engine/controllers/perps-controller/index.test.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-perps, size-XL

#19374 fix(perps): invalid tif value for market order TAT-1475
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.test.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-perps, size-S

#19426 fix: left aligned account picker in all cases for wallet homepage
  app/components/UI/Navbar/index.js
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, skip-sonar-cloud, size-XS

#19445 chore: faster Perps format functions + transformMarketData
  app/components/UI/Perps/utils/formatUtils.ts
  app/components/UI/Perps/utils/marketDataTransform.ts
Labels: No QA Needed, external-contributor, Run Smoke E2E, no-changelog

#19470 ci: make Android E2E tests optional for now
  .github/workflows/ci.yml
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-XS

#19464 feat: bip44 state 2 multichain accounts feature flag mock and relate test helper
  e2e/api-mocking/mock-responses/feature-flags-mocks.ts
  e2e/specs/multichain-accounts/common.ts
Labels: No QA Needed, Run Smoke E2E, team-qa, no-changelog, size-S

#19438 feat(perps): optimize Intl formatting performance to reduce tab switc…
  app/components/UI/Perps/hooks/usePerpsMarkets.test.ts
  app/components/UI/Perps/hooks/usePerpsMarkets.ts
  app/components/UI/Perps/utils/formatUtils.ts
  app/components/UI/Perps/utils/marketDataTransform.ts
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-perps, size-M

#19468 fix: Order press should navigate to order tab by default
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/components/PerpsCard/PerpsCard.test.tsx
  app/components/UI/Perps/components/PerpsCard/PerpsCard.tsx
  app/components/UI/Perps/components/PerpsMarketTabs/PerpsMarketTabs.test.tsx
  app/components/UI/Perps/components/PerpsMarketTabs/PerpsMarketTabs.tsx
  app/components/UI/Perps/components/PerpsMarketTabs/PerpsMarketTabs.types.ts
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.test.tsx
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.tsx
Labels: Run Smoke E2E, team-perps, size-L

#19452 perf: add missing "Show Account Addresses" trace
  app/components/Views/MultichainAccounts/AccountGroupDetails/AccountGroupDetails.tsx
  app/components/Views/MultichainAccounts/sheets/MultichainAccountActions/MultichainAccountActions.test.tsx
  app/components/Views/MultichainAccounts/sheets/MultichainAccountActions/MultichainAccountActions.tsx
Labels: No QA Needed, team-accounts, No E2E Smoke Needed, no-changelog, size-S

#19473 feat: TAT-1553 fix tp sl interface issues
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.test.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.tsx
  app/components/UI/Perps/hooks/index.ts
  app/components/UI/Perps/hooks/usePerpsToasts.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-earn, team-perps, size-M

#19467 fix(perps): intermittent Perps connectivity issues caused by API rate limit
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.tsx
  app/components/UI/Perps/constants/perpsConfig.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
  app/components/UI/Perps/hooks/usePerpsLiquidationPrice.test.ts
  app/components/UI/Perps/hooks/usePerpsLiquidationPrice.ts
  app/components/UI/Perps/services/PerpsConnectionManager.ts
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-perps, size-M

#18951 feat: renew revoke token v2
  app/core/Authentication/Authentication.ts
  app/core/Engine/controllers/seedless-onboarding-controller/index.ts
  app/core/Engine/messengers/seedless-onboarding-controller-messenger/index.ts
  app/core/OAuthService/AuthTokenHandler.test.ts
  app/core/OAuthService/AuthTokenHandler.ts
  app/core/OAuthService/SeedlessControllerHelper.ts
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-web3auth, size-L, release-7.56.0

#19480 fix: rewards error modal navigation
  app/components/Nav/Main/MainNavigator.js
Labels: No QA Needed, No E2E Smoke Needed, no-changelog, size-XS, team-rewards

#19333 feat: add rewards activity tab
  app/components/UI/Rewards/Views/RewardsDashboard.test.tsx
  app/components/UI/Rewards/Views/RewardsDashboard.tsx
  app/components/UI/Rewards/Views/RewardsReferralView.test.tsx
  app/components/UI/Rewards/Views/RewardsReferralView.tsx
  app/components/UI/Rewards/components/ActivityTab/ActivityEventRow.test.tsx
  app/components/UI/Rewards/components/ActivityTab/ActivityEventRow.tsx
  app/components/UI/Rewards/components/ActivityTab/ActivityTab.test.tsx
  app/components/UI/Rewards/components/ActivityTab/ActivityTab.tsx
  app/components/UI/Rewards/components/SeasonStatus/SeasonStatus.test.tsx
  app/components/UI/Rewards/components/SeasonStatus/SeasonStatus.tsx
  app/components/UI/Rewards/hooks/usePointsEvents.test.ts
  app/components/UI/Rewards/hooks/usePointsEvents.ts
  app/components/UI/Rewards/hooks/useSeasonStatus.test.ts
  app/components/UI/Rewards/hooks/useSeasonStatus.ts
  app/components/UI/Rewards/utils/formatUtils.test.ts
  app/components/UI/Rewards/utils/formatUtils.ts
  app/core/Engine/controllers/rewards-controller/RewardsController.test.ts
  app/core/Engine/controllers/rewards-controller/RewardsController.ts
  app/core/Engine/controllers/rewards-controller/services/index.ts
  app/core/Engine/controllers/rewards-controller/services/rewards-data-service.test.ts
  app/core/Engine/controllers/rewards-controller/services/rewards-data-service.ts
  app/core/Engine/controllers/rewards-controller/types.ts
  app/core/Engine/messengers/rewards-controller-messenger/index.ts
  app/images/metamask-rewards-activity-empty.svg
  app/images/metamask-rewards-points.svg
  app/reducers/rewards/index.test.ts
  app/reducers/rewards/index.ts
  app/reducers/rewards/selectors.test.ts
  app/reducers/rewards/selectors.ts
  locales/languages/en.json
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, size-XL, team-rewards

#19499 fix: new network filter behaviour fix for bip44 selector
  app/selectors/assets/assets-list.test.ts
  app/selectors/assets/assets-list.ts
Labels: QA Passed, team-assets, Run Smoke E2E, size-S

#18737 feat: update quote card UI
  app/components/UI/Bridge/Views/BridgeView/BridgeView.styles.ts
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/Views/BridgeView/__snapshots__/BridgeView.test.tsx.snap
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/_mocks_/bridgeQuoteWithMetadata.ts
  app/components/UI/Bridge/components/ApprovalText/ApprovalText.test.tsx
  app/components/UI/Bridge/components/ApprovalText/ApprovalText.tsx
  app/components/UI/Bridge/components/ApprovalText/__snapshots__/ApprovalText.test.tsx.snap
  app/components/UI/Bridge/components/ApprovalText/index.ts
  app/components/UI/Bridge/components/PriceImpactWarningModal/PriceImpactWarningModal.styles.ts
  app/components/UI/Bridge/components/PriceImpactWarningModal/PriceImpactWarningModal.test.tsx
  app/components/UI/Bridge/components/PriceImpactWarningModal/PriceImpactWarningModal.tsx
  app/components/UI/Bridge/components/PriceImpactWarningModal/index.ts
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.test.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/__snapshots__/QuoteDetailsCard.test.tsx.snap
  app/components/UI/Bridge/components/QuoteInfoModal/QuoteInfoModal.styles.ts
  app/components/UI/Bridge/components/QuoteInfoModal/QuoteInfoModal.test.tsx
  app/components/UI/Bridge/components/QuoteInfoModal/QuoteInfoModal.tsx
  app/components/UI/Bridge/components/QuoteInfoModal/__snapshots__/QuoteInfoModal.test.tsx.snap
  app/components/UI/Bridge/components/QuoteInfoModal/index.ts
  app/components/UI/Bridge/components/SlippageModal/SlippageModal.test.tsx
  app/components/UI/Bridge/components/SlippageModal/__snapshots__/SlippageModal.test.tsx.snap
  app/components/UI/Bridge/components/SlippageModal/index.tsx
  app/components/UI/Bridge/components/TransactionDetails/BridgeStepDescription.test.tsx
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
  app/components/UI/Bridge/hooks/useBridgeQuoteData/useBridgeQuoteData.test.ts
  app/components/UI/Bridge/routes.tsx
  app/components/UI/Bridge/utils/transaction-history.test.ts
  app/components/UI/MultichainBridgeTransactionListItem/MultichainBridgeTransactionListItem.test.tsx
  app/constants/navigation/Routes.ts
  e2e/api-mocking/mock-responses/bridge-api-quotes.ts
  e2e/pages/swaps/QuoteView.ts
  e2e/selectors/swaps/QuoteView.selectors.ts
  locales/languages/en.json
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, size-XL

#18760 feat(SDKConnectV2): UI integration
  app/actions/sdk/index.test.ts
  app/actions/sdk/index.ts
  app/actions/sdk/state.ts
  app/components/Views/SDK/SDKDisconnectModal/SDKDisconnectModal.test.tsx
  app/components/Views/SDK/SDKDisconnectModal/SDKDisconnectModal.tsx
  app/components/Views/SDK/SDKSessionModal/SDKSessionModal.test.tsx
  app/components/Views/SDK/SDKSessionModal/SDKSessionModal.tsx
  app/components/Views/SDK/SDKSessionsManager/SDKSessionItem.tsx
  app/components/Views/SDK/SDKSessionsManager/SDKSessionsManager.test.tsx
  app/components/Views/SDK/SDKSessionsManager/SDKSessionsManager.tsx
  app/core/SDKConnectV2/adapters/host-application-adapter.test.ts
  app/core/SDKConnectV2/adapters/host-application-adapter.ts
  app/core/SDKConnectV2/services/connection-registry.test.ts
  app/core/SDKConnectV2/services/connection-registry.ts
  app/core/SDKConnectV2/services/connection.test.ts
  app/core/SDKConnectV2/store/kv-store.test.ts
  app/core/SDKConnectV2/types/connection-request.ts
  app/core/SDKConnectV2/types/connection.ts
  app/core/SDKConnectV2/types/host-application-adapter.ts
  app/reducers/sdk/index.test.ts
  app/reducers/sdk/index.ts
  app/util/test/initial-root-state.ts
Labels: team-sdk, No QA Needed, No E2E Smoke Needed, size-XL

#19442 chore: change detection
  .github/workflows/ci.yml
  .github/workflows/detect-mobile-build-changes.yml
  .github/workflows/needs-e2e-build.yml
  .github/workflows/needs-e2e.yml
  .github/workflows/temp-ios-workflow.yml
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-dev-ops, no-changelog, size-M

#19443 chore: update `multichain-transaction-controller` to latest version
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-new-networks, size-XS

#19522 perf: add trace on address copy
  app/components/UI/AddressCopy/AddressCopy.tsx
Labels: No QA Needed, team-accounts, No E2E Smoke Needed, no-changelog, size-S

#19439 feat: add store link on DeepLinkModal for invalid links cp-7.55.0
  app/components/UI/DeepLinkModal/DeepLinkModal.styles.ts
  app/components/UI/DeepLinkModal/DeepLinkModal.test.tsx
  app/components/UI/DeepLinkModal/DeepLinkModal.tsx
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.test.ts
  locales/languages/en.json
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, size-M

#19414 chore: swaps rewards error state
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.tsx
  app/components/UI/Bridge/hooks/useRewards/useRewards.test.ts
  app/components/UI/Bridge/hooks/useRewards/useRewards.ts
  locales/languages/en.json
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, size-M

#19417 feat: perp push notification deeplinks
  android/app/src/main/java/io/metamask/MainActivity.kt
  android/app/src/main/java/io/metamask/MainApplication.kt
  android/app/src/main/java/io/metamask/nativeModules/NotificationModule.kt
  android/app/src/main/java/io/metamask/nativeModules/NotificationPackage.kt
  app/core/Analytics/MetaMetrics.events.ts
  app/core/DeeplinkManager/DeeplinkManager.test.ts
  app/core/DeeplinkManager/DeeplinkManager.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.test.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/store/sagas/sagas.test.ts
  app/util/notifications/services/FCMService.test.ts
  app/util/notifications/services/FCMService.ts
Labels: QA Passed, team-assets, Run Smoke E2E, size-L

#19540 fix: When changing candle periods, zoom to latest candle
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/components/TradingViewChart/TradingViewChart.html
  app/components/UI/Perps/components/TradingViewChart/TradingViewChart.tsx
  app/components/UI/Perps/components/TradingViewChart/TradingViewChartTemplate.tsx
Labels: QA Passed, Run Smoke E2E, skip-sonar-cloud, team-perps, size-S

#19564 fix: TAT-1556 - Liquidation distance sometimes wrap incorrectly
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.styles.ts
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.tsx
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, skip-sonar-cloud, team-perps, size-S

#19710 fix: cp-7.55.0 fix unstake regression
  app/selectors/assets/assets-list.test.ts
  app/selectors/assets/assets-list.ts
Labels: team-assets, Run Smoke E2E, size-S

#19706 fix: Hardcode Perps USDC withdrawa token image url
  app/components/UI/Perps/Views/PerpsWithdrawView/PerpsWithdrawView.tsx
Labels: QA Passed, skip-sonar-cloud, no changelog required, team-perps, size-XS

#19077 feat: remove metametrics and update choose password screen
  app/components/Nav/App/App.test.tsx
  app/components/Nav/App/App.tsx
  app/components/Nav/Main/index.test.tsx
  app/components/Views/ChoosePassword/__snapshots__/index.test.tsx.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ChoosePassword/index.test.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/styles.ts
  app/components/Views/Login/index.tsx
  app/components/Views/Login/index2.test.tsx
  app/components/Views/Onboarding/index.js
  app/components/Views/Onboarding/index.test.tsx
  app/components/hooks/useMetrics/useMetrics.test.tsx
  app/components/hooks/useMetrics/useMetrics.ts
  app/constants/storage.ts
  app/core/Analytics/MetaMetrics.test.ts
  app/core/Analytics/MetaMetrics.ts
  app/core/Analytics/MetaMetrics.types.ts
  app/core/Analytics/helpers/SnapKeyring/trackSnapAccountEvent.test.ts
  app/core/OAuthService/OAuthService.ts
  locales/languages/en.json
Labels: QA Passed, Run Smoke E2E, team-web3auth, size-XL, release-7.56.0

#19716 feat: TAT-1659: Updated perps full screen modal announcement
  app/components/UI/Perps/components/PerpsGTMModal/PerpsGTMModal.styles.ts
  app/components/UI/Perps/components/PerpsGTMModal/PerpsGTMModal.tsx
  app/images/character_1.png
  locales/languages/en.json
Labels: No QA Needed, INVALID-PR-TEMPLATE, Run Smoke E2E, skip-sonar-cloud, team-earn, team-perps, size-S

#19714 feat: TAT-1664 user can set a stop loss below liquidation price
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.styles.ts
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.test.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.tsx
  app/components/UI/Perps/hooks/usePerpsTPSLForm.test.ts
  app/components/UI/Perps/hooks/usePerpsTPSLForm.ts
  app/components/UI/Perps/utils/tpslValidation.test.ts
  app/components/UI/Perps/utils/tpslValidation.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-earn, team-perps, size-XL

#19721 chore: Capture sentry exceptions during critical integration perps flows
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/Views/PerpsWithdrawView/PerpsWithdrawView.tsx
  app/components/UI/Perps/components/PerpsMarketTabs/PerpsMarketTabs.tsx
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.test.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
  app/components/UI/Perps/hooks/usePerpsOrderExecution.ts
  app/components/UI/Perps/hooks/usePerpsTPSLUpdate.ts
  app/components/UI/Perps/services/PerpsConnectionManager.ts
Labels: team-assets, skip-sonar-cloud, no changelog required, size-M, skip-e2e

#19646 chore: Enable Bitcoin testnets before BIP44
  app/components/UI/CustomNetworkSelector/CustomNetworkSelector.test.tsx
  app/components/UI/CustomNetworkSelector/CustomNetworkSelector.tsx
  app/components/UI/NetworkMultiSelectorList/NetworkMultiSelectorList.test.tsx
  app/components/UI/NetworkMultiSelectorList/NetworkMultiSelectorList.tsx
  app/components/UI/Tokens/TokenListControlBar/TokenListControlBar.test.tsx
  app/components/UI/Tokens/TokenListControlBar/TokenListControlBar.tsx
  app/components/hooks/useCurrentNetworkInfo.ts
  app/components/hooks/useNetworkSelection/useNetworkSelection.test.ts
  app/components/hooks/useNetworkSelection/useNetworkSelection.ts
  app/constants/popular-networks.ts
  app/selectors/accountsController.ts
  app/selectors/networkController.test.ts
  app/selectors/networkController.ts
Labels: team-new-networks, size-L

#19737 fix: cp-7.55.0 Fix previous confirmation shown in send flow
  app/components/Nav/App/App.tsx
  app/components/UI/Stake/routes/index.tsx
  app/components/Views/confirmations/components/UI/navbar/navbar.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.test.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.tsx
  app/components/Views/confirmations/components/send/send.tsx
  app/components/Views/confirmations/hooks/ui/useEmptyNavHeaderForConfirmations.test.tsx
  app/components/Views/confirmations/hooks/ui/useEmptyNavHeaderForConfirmations.ts
Labels: No QA Needed, team-confirmations, no-changelog, size-M

#19756 fix: updated border for network selectors to be muted
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/shared/ControlBarStyles.ts
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, no changelog required

#19010 feat: implement reassure
  .gitignore
  README.md
  app/components/UI/DeepLinkModal/DeepLinkModal.perf-test.tsx
  docs/readme/reassure.md
  jest.config.js
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, skip-sonar-cloud, size-M

#19763 update changelog
  CHANGELOG.md
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, size-M

#19634 feat: swaps rewards rive icon
  app/animations/rewards_icon_animations.riv
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.styles.ts
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.test.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/__snapshots__/QuoteDetailsCard.test.tsx.snap
  app/components/UI/Bridge/hooks/useRewards/useRewards.ts
  app/components/UI/Bridge/hooks/useRewardsIconAnimation/index.ts
  app/components/UI/Bridge/hooks/useRewardsIconAnimation/useRewardsIconAnimation.test.ts
  app/components/UI/Bridge/hooks/useRewardsIconAnimation/useRewardsIconAnimation.ts
Labels: team-swaps-and-bridge, size-L

#19759 fix: cp-7.56.0 fix network list crashing due to bad evm logic
  app/components/UI/NetworkMultiSelectorList/NetworkMultiSelectorList.test.tsx
  app/components/UI/NetworkMultiSelectorList/NetworkMultiSelectorList.tsx
Labels: team-assets, size-S, skip-e2e

#19771 INFRA-2919: Fix running infinite bitrise workflows on autotriggers
  .github/workflows/update-latest-build-version.yml
Labels: team-dev-ops, size-XS

#19769 feat: change Maskicons to Polycons for users cp-7.56.0
  app/component-library/components/Avatars/Avatar/variants/AvatarAccount/AvatarAccount.types.ts
  app/components/Views/Settings/GeneralSettings/index.js
Labels: team-accounts, size-XS

#18618 feat: faster isNonEvmAddress check
  app/core/Multichain/test/utils.test.ts
  app/core/Multichain/utils.ts
Labels: team-accounts, area-performance, external-contributor, Run Smoke E2E

#19788 feat: faster non env address check
  app/core/Multichain/test/utils.test.ts
  app/core/Multichain/utils.ts
Labels: area-performance, external-contributor, size-S

#19766 fix: Scroll to the selected account index automatically in MultichainAccountSelectorList
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.test.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.tsx
Labels: No QA Needed, team-accounts, size-S

#19732 Feat/default-biometric-choice
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
  app/components/Views/Login/index.tsx
Labels: area-onboarding, Run Smoke E2E, team-web3auth, size-S

#19758 feat: choose password design updates
  app/components/Views/ChoosePassword/__snapshots__/index.test.tsx.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
  locales/languages/en.json
Labels: area-onboarding, team-web3auth, size-M

#19798 fix: remove top edge for new SafeAreaView
  app/components/Base/ScreenView.tsx
  app/components/UI/Bridge/Views/BridgeView/__snapshots__/BridgeView.test.tsx.snap
  app/components/UI/Swaps/__snapshots__/QuotesView.test.ts.snap
Labels: QA Passed, team-swaps-and-bridge, size-XS

#19752 chore: adds Bitcoin testnet feature flag
  app/selectors/featureFlagController/bitcoinTestnet/index.test.ts
  app/selectors/featureFlagController/bitcoinTestnet/index.ts
  app/selectors/multichainNetworkController/index.ts
  app/selectors/networkController.test.ts
Labels: team-new-networks, size-M

#19767 RWDS-289 new header key for rewards auth
  app/core/Engine/controllers/rewards-controller/services/index.ts
  app/core/Engine/controllers/rewards-controller/services/rewards-data-service.test.ts
  app/core/Engine/controllers/rewards-controller/services/rewards-data-service.ts
Labels: No QA Needed, No E2E Smoke Needed, no changelog required, size-S, team-rewards

#19246 feat: replace account syncing with multichain account syncing
  app/actions/identity/index.test.ts
  app/actions/identity/index.ts
  app/actions/multiSrp/index.test.ts
  app/actions/multiSrp/index.ts
  app/components/Views/ImportNewSecretRecoveryPhrase/index.test.tsx
  app/components/Views/ImportNewSecretRecoveryPhrase/index.tsx
  app/core/Authentication/Authentication.test.ts
  app/core/Authentication/Authentication.ts
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/identity/create-user-storage-controller.test.ts
  app/core/Engine/messengers/identity/user-storage-controller-messenger.test.ts
  app/core/Engine/messengers/identity/user-storage-controller-messenger.ts
  app/multichain-accounts/AccountTreeInitService/index.ts
  app/multichain-accounts/controllers/account-tree-controller/index.ts
  app/multichain-accounts/discovery.test.ts
  app/multichain-accounts/discovery.ts
  app/multichain-accounts/messengers/account-tree-controller-messenger/index.ts
  app/selectors/identity/index.test.ts
  app/selectors/identity/index.tsx
  app/selectors/multichainAccounts/wallets.test.ts
  app/util/identity/hooks/useAccountSyncing/useAccountSyncing.test.tsx
  app/util/identity/hooks/useAccountSyncing/useAccountSyncing.ts
  app/util/importAdditionalAccounts.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/sentry/utils.js
  app/util/test/initial-background-state.json
  e2e/framework/fixtures/FixtureBuilder.ts
  e2e/specs/identity/utils/mocks.ts
  e2e/specs/identity/utils/user-storage/userStorageMockttpController.ts
  e2e/specs/quarantine/account-syncing/account-syncing-settings-toggle.failing.ts
  e2e/specs/quarantine/account-syncing/adding-and-renaming-accounts.failing.ts
  e2e/specs/quarantine/account-syncing/balances.failing.ts
  e2e/specs/quarantine/account-syncing/imported-accounts.failing.ts
  e2e/specs/quarantine/account-syncing/mock-data.ts
  e2e/specs/quarantine/account-syncing/multi-srp.failing.ts
  e2e/specs/quarantine/account-syncing/sync-after-forgot-password.failing.ts
  package.json
  yarn.lock
Labels: team-accounts, size-L

#19741 feat: add skeleton loaders to perps deposit
  app/components/UI/Perps/Views/PerpsBalanceModal/PerpsBalanceModal.test.tsx
  app/components/UI/Perps/Views/PerpsBalanceModal/PerpsBalanceModal.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.test.tsx
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.test.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.tsx
  app/components/Views/confirmations/components/deposit-keyboard/deposit-keyboard.styles.ts
  app/components/Views/confirmations/components/deposit-keyboard/deposit-keyboard.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.test.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.tsx
  app/components/Views/confirmations/components/pay-token-amount/pay-token-amount.styles.ts
  app/components/Views/confirmations/components/pay-token-amount/pay-token-amount.test.tsx
  app/components/Views/confirmations/components/pay-token-amount/pay-token-amount.tsx
  app/components/Views/confirmations/components/rows/bridge-fee-row/bridge-fee-row.test.tsx
  app/components/Views/confirmations/components/rows/bridge-fee-row/bridge-fee-row.tsx
  app/components/Views/confirmations/components/rows/bridge-time-row/bridge-time-row.test.tsx
  app/components/Views/confirmations/components/rows/bridge-time-row/bridge-time-row.tsx
  app/components/Views/confirmations/components/rows/pay-with-row/pay-with-row.styles.ts
  app/components/Views/confirmations/components/rows/pay-with-row/pay-with-row.test.tsx
  app/components/Views/confirmations/components/rows/pay-with-row/pay-with-row.tsx
  app/components/Views/confirmations/components/rows/skeleton-row/index.ts
  app/components/Views/confirmations/components/rows/skeleton-row/skeleton-row.styles.ts
  app/components/Views/confirmations/components/rows/skeleton-row/skeleton-row.test.tsx
  app/components/Views/confirmations/components/rows/skeleton-row/skeleton-row.tsx
  app/components/Views/confirmations/components/rows/total-row/total-row.test.tsx
  app/components/Views/confirmations/components/rows/total-row/total-row.tsx
  app/components/Views/confirmations/external/perps-temp/components/deposit-skeleton/deposit-skeleton.tsx
  app/components/Views/confirmations/external/perps-temp/components/deposit-skeleton/index.ts
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.tsx
  app/components/Views/confirmations/hooks/useConfirmNavigation.test.ts
  app/components/Views/confirmations/hooks/useConfirmNavigation.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog, size-L

#19879 test: update mock profile-sync fixtures
  e2e/api-mocking/mock-responses/defaults/user-storage.ts
Labels: team-assets, No E2E Smoke Needed, no-changelog, size-S, skip-e2e

#19883 fix: `usePerpsLiveAccount` stream to update balance via websocket
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/components/PerpsBottomSheetTooltip/PerpsBottomSheetTooltip.test.tsx
  app/components/UI/Perps/hooks/usePerpsOrderForm.test.ts
  app/components/UI/Perps/hooks/usePerpsOrderForm.ts
  app/components/Views/confirmations/components/rows/bridge-time-row/bridge-time-row.test.tsx
Labels: QA Passed, team-perps, size-M

#19666 feat: update AccountCell styles and add placeholder color to search input
  app/component-library/components-temp/MultichainAccounts/AccountCell/AccountCell.styles.ts
  app/component-library/components-temp/MultichainAccounts/AccountCell/AccountCell.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.tsx
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/AccountSelector/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/MultichainAccounts/MultichainAccountsConnectedList/__snapshots__/MultichainAccountsConnectedList.test.tsx.snap
Labels: No QA Needed, team-accounts, Run Smoke E2E, size-S

#19782 feat: add metadata properties to `RewardsController`
  app/core/Engine/controllers/rewards-controller/RewardsController.test.ts
  app/core/Engine/controllers/rewards-controller/RewardsController.ts
Labels: size-M, team-core-platform

#19820 fix: change how icon scam warning is detected
  app/components/UI/Tokens/TokenList/ScamWarningIcon/index.test.tsx
  app/components/UI/Tokens/TokenList/ScamWarningIcon/index.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/TokenListItemBip44.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
Labels: team-assets, Run Smoke E2E, skip-sonar-cloud, size-S

#19917 chore: Update `eth-snap-keyring` and `keyring-api`
  app/core/SnapKeyring/SnapKeyring.ts
  package.json
  yarn.lock
Labels: No QA Needed, size-XS, team-core-platform

#19379 chore: remove low prio
  .github/workflows/run-e2e-workflow.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops, no-changelog, size-XS

#19795 test: Delete and import account with PK
  e2e/selectors/wallet/AccountListBottomSheet.selectors.ts
  e2e/specs/accounts/imported-account-remove-and-import.spec.ts
  e2e/specs/multichain-accounts/common.ts
Labels: No QA Needed, team-qa, no-changelog, size-S

#19915 fix: add ellipsis to long account names in AccountGroupDetails
  app/components/Views/MultichainAccounts/AccountGroupDetails/AccountGroupDetails.styles.ts
  app/components/Views/MultichainAccounts/AccountGroupDetails/AccountGroupDetails.tsx
Labels: No QA Needed, team-accounts, No E2E Smoke Needed, size-S
