Repository MetaMask/metamask-mobile, pull requests merged in 2025-10, with the labels that each got.

#20581 fix: Rewards activity tab timestamp truncated
  app/components/UI/Rewards/components/Tabs/ActivityTab/ActivityEventRow.tsx
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, no-changelog, team-wallet-standard, size-S, team-rewards

#20614 chore: Prioritize target and environment values from js env for build.sh
  scripts/build.sh
Labels: No QA Needed, team-mobile-platform, no-changelog, size-S, run-ios-e2e-smoke

#20619 chore: rewards bottom sheet modal description bodyMd
  app/components/UI/Rewards/components/RewardsBottomSheetModal.tsx
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, no-changelog, size-XS, team-rewards

#20620 fix: reduce re-renders for token items
  app/selectors/assets/assets-list.ts
Labels: team-assets, size-S

#20634 Fix/controller storage refactor
  app/store/persistConfig/index.ts
Labels: team-mobile-platform

#20631 test: Fixed the test `e2e/specs/assets/nft-detection-modal.spec.ts`
  e2e/specs/assets/nft-detection-modal.spec.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-qa, no-changelog, size-XS

#20179 feat: Swaps consume bip44 default pairs from LD
  .yarn/patches/@metamask-bridge-status-controller-npm-47.2.0-1c8660e896.patch
  app/components/UI/Bridge/_mocks_/initialState.ts
  app/components/UI/Bridge/constants/default-swap-dest-tokens.ts
  app/components/UI/Bridge/hooks/useInitialDestToken/index.ts
  app/components/UI/Bridge/hooks/useInitialDestToken/useInitialDestToken.test.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/index.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/useInitialSourceToken.test.ts
  app/core/Engine/messengers/bridge-controller-messenger/index.ts
  app/core/Engine/messengers/bridge-status-controller-messenger/index.ts
  app/core/redux/slices/bridge/index.test.ts
  app/core/redux/slices/bridge/index.ts
  app/util/bridge/hooks/useSubmitBridgeTx.test.tsx
  app/util/bridge/hooks/useSubmitBridgeTx.ts
  app/util/transactions/hooks/pay-hook.test.ts
  app/util/transactions/hooks/pay-hook.ts
  package.json
  patches/@metamask+bridge-status-controller+43.0.0.patch
  yarn.lock
Labels: team-swaps-and-bridge, size-M, run-ios-e2e-smoke

#20444 fix(perps): invalid reward icon in perps market list
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-XS

#20468 feat(perps): mixpanels events consolidation
  app/components/UI/Perps/PERPS_EVENTS_REFERENCE_v1.1.md
  app/components/UI/Perps/Views/PerpsBalanceModal/PerpsBalanceModal.tsx
  app/components/UI/Perps/Views/PerpsClosePositionView/PerpsClosePositionView.test.tsx
  app/components/UI/Perps/Views/PerpsClosePositionView/PerpsClosePositionView.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.test.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/Views/PerpsWithdrawView/PerpsWithdrawView.tsx
  app/components/UI/Perps/components/PerpsCandlePeriodBottomSheet/PerpsCandlePeriodBottomSheet.tsx
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.tsx
  app/components/UI/Perps/components/PerpsOrderTypeBottomSheet/PerpsOrderTypeBottomSheet.tsx
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.tsx
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.tsx
  app/components/UI/Perps/constants/eventNames.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/controllers/types/index.ts
  app/components/UI/Perps/hooks/usePerpsErrorTracking.ts
  app/components/UI/Perps/hooks/usePerpsOrderExecution.ts
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.tsx
  app/core/Analytics/MetaMetrics.events.ts
Labels: No QA Needed, skip-sonar-cloud, team-perps, size-XL

#20508 feat(rewards): add deeplink support for rewards
  app/components/UI/Rewards/OnboardingNavigator.tsx
  app/components/UI/Rewards/RewardsNavigator.tsx
  app/components/UI/Rewards/components/Onboarding/OnboardingStep4.tsx
  app/components/UI/Rewards/components/Onboarding/__tests__/OnboardingStep.test.tsx
  app/components/UI/Rewards/components/Onboarding/__tests__/OnboardingStep4.test.tsx
  app/components/UI/Rewards/hooks/useValidateReferralCode.ts
  app/constants/deeplinks.ts
  app/core/DeeplinkManager/DeeplinkManager.test.ts
  app/core/DeeplinkManager/DeeplinkManager.ts
  app/core/DeeplinkManager/Handlers/handleRewardsUrl.test.ts
  app/core/DeeplinkManager/Handlers/handleRewardsUrl.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.test.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
Labels: No QA Needed, No E2E Smoke Needed, no-changelog, size-M, team-rewards

#20520 refactor(deposit): use sdk env according MetaMask env
  app/components/UI/Ramp/Deposit/sdk/getSdkEnvironment.test.ts
  app/components/UI/Ramp/Deposit/sdk/getSdkEnvironment.ts
  app/components/UI/Ramp/Deposit/sdk/index.tsx
  babel.config.tests.js
Labels: team-ramp, size-M

#20642 fix: Returned Scrollview to Perps and Defi tab cp-7.56.1
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
Labels: No QA Needed, team-design-system, skip-sonar-cloud, size-XS, skip-e2e

#20651 fix(ramp): payment method selector height
  app/components/UI/Ramp/Aggregator/components/PaymentMethodSelectorModal/PaymentMethodSelectorModal.styles.ts
  app/components/UI/Ramp/Aggregator/components/PaymentMethodSelectorModal/__snapshots__/PaymentMethodSelectorModal.test.tsx.snap
Labels: team-ramp, size-XS

#20427 feat: introduce native utils getPublicKey polyfill
  .depcheckrc.yml
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/FiatSelectorModal/index.ts
  app/components/UI/Ramp/Aggregator/components/PaymentMethodModal.tsx
  app/components/UI/Ramp/Aggregator/components/PaymentMethodSelectorModal/PaymentMethodSelectorModal.styles.ts
  app/components/UI/Ramp/Aggregator/components/PaymentMethodSelectorModal/PaymentMethodSelectorModal.test.tsx
  app/components/UI/Ramp/Aggregator/components/PaymentMethodSelectorModal/PaymentMethodSelectorModal.tsx
  app/components/UI/Ramp/Aggregator/components/PaymentMethodSelectorModal/__snapshots__/PaymentMethodSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/PaymentMethodSelectorModal/index.tsx
  app/components/UI/Ramp/Aggregator/routes/index.tsx
  app/components/hooks/useNetworkConnectionBanner/useNetworkConnectionBanner.ts
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  ios/Gemfile.lock
  ios/Podfile.lock
  package.json
  shim.js
  yarn.lock
Labels: area-performance, external-contributor, INVALID-PR-TEMPLATE

#20396 feat(predict): implement claim winnings
  app/components/UI/Predict/components/MarketsWonCard/MarketsWonCard.test.tsx
  app/components/UI/Predict/components/MarketsWonCard/MarketsWonCard.tsx
  app/components/UI/Predict/components/PredictPosition/PredictPosition.test.tsx
  app/components/UI/Predict/controllers/PredictController.test.ts
  app/components/UI/Predict/controllers/PredictController.ts
  app/components/UI/Predict/hooks/usePredictClaim.test.ts
  app/components/UI/Predict/hooks/usePredictClaim.ts
  app/components/UI/Predict/hooks/usePredictPositions.test.ts
  app/components/UI/Predict/hooks/usePredictPositions.ts
  app/components/UI/Predict/hooks/usePredictSell.test.ts
  app/components/UI/Predict/hooks/usePredictTrading.test.ts
  app/components/UI/Predict/hooks/usePredictTrading.ts
  app/components/UI/Predict/providers/polymarket/PolymarketProvider.test.ts
  app/components/UI/Predict/providers/polymarket/PolymarketProvider.ts
  app/components/UI/Predict/providers/polymarket/constants.ts
  app/components/UI/Predict/providers/polymarket/types.ts
  app/components/UI/Predict/providers/polymarket/utils.test.ts
  app/components/UI/Predict/providers/polymarket/utils.ts
  app/components/UI/Predict/providers/types.ts
  app/components/UI/Predict/types/index.ts
  app/components/UI/Predict/views/PredictCashOut/PredictCashOut.test.tsx
  app/components/UI/Predict/views/PredictTabView/PredictTabView.test.tsx
  app/components/UI/Predict/views/PredictTabView/PredictTabView.tsx
  app/core/Engine/Engine.test.ts
  app/core/Engine/controllers/predict-controller/index.test.ts
  app/core/Engine/messengers/predict-controller-messenger/index.ts
Labels: team-vault, size-XL

#20646 fix: custom simulator name with space failing to start
  scripts/build.sh
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-XS

#20534 fix: resolve prop override in PerpsEmptyState component
  app/components/UI/Perps/Views/PerpsEmptyState/PerpsEmptyState.stories.tsx
  app/components/UI/Perps/Views/PerpsEmptyState/PerpsEmptyState.test.tsx
  app/components/UI/Perps/Views/PerpsEmptyState/PerpsEmptyState.tsx
  app/components/UI/Perps/Views/PerpsPositionsView/PerpsPositionsView.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.test.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/utils/positionCalculations.test.ts
  app/components/UI/Perps/utils/positionCalculations.ts
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, no-changelog, size-M

#20613 refactor(ramp): aggregator region UX update
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Aggregator/Views/GetStarted/GetStarted.test.tsx
  app/components/UI/Ramp/Aggregator/Views/GetStarted/GetStarted.tsx
  app/components/UI/Ramp/Aggregator/Views/Regions/Regions.styles.ts
  app/components/UI/Ramp/Aggregator/Views/Regions/Regions.test.tsx
  app/components/UI/Ramp/Aggregator/Views/Regions/Regions.tsx
  app/components/UI/Ramp/Aggregator/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Ramp/Aggregator/Views/Regions/index.tsx
  app/components/UI/Ramp/Aggregator/components/RegionModal.tsx
  app/components/UI/Ramp/Aggregator/components/RegionSelectorModal/RegionSelectorModal.styles.ts
  app/components/UI/Ramp/Aggregator/components/RegionSelectorModal/RegionSelectorModal.test.tsx
  app/components/UI/Ramp/Aggregator/components/RegionSelectorModal/RegionSelectorModal.tsx
  app/components/UI/Ramp/Aggregator/components/RegionSelectorModal/__snapshots__/RegionSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/RegionSelectorModal/index.ts
  app/components/UI/Ramp/Aggregator/components/UnsupportedRegionModal/UnsupportedRegionModal.styles.ts
  app/components/UI/Ramp/Aggregator/components/UnsupportedRegionModal/UnsupportedRegionModal.test.tsx
  app/components/UI/Ramp/Aggregator/components/UnsupportedRegionModal/UnsupportedRegionModal.tsx
  app/components/UI/Ramp/Aggregator/components/UnsupportedRegionModal/__snapshots__/UnsupportedRegionModal.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/UnsupportedRegionModal/index.ts
  app/components/UI/Ramp/Aggregator/hooks/useRegions.test.ts
  app/components/UI/Ramp/Aggregator/hooks/useRegions.ts
  app/components/UI/Ramp/Aggregator/routes/index.tsx
  app/components/UI/Ramp/Aggregator/sdk/index.tsx
  app/constants/navigation/Routes.ts
Labels: team-ramp, size-XL

#20273 test: Account regression and smoke e2e tests
  e2e/pages/MultichainAccounts/AccountDetails.ts
  e2e/pages/MultichainAccounts/PrivateKeyList.ts
  e2e/pages/Network/NetworkApprovalBottomSheet.ts
  e2e/pages/Network/NetworkListModal.ts
  e2e/selectors/MultichainAccounts/PrivateKeyList.selectors.ts
  e2e/specs/accounts/change-account-name.spec.ts
  e2e/specs/accounts/change-password.spec.ts
  e2e/specs/accounts/create-wallet-account.spec.ts
  e2e/specs/accounts/import-srp.spec.ts
  e2e/specs/accounts/imported-account-remove-and-import.spec.ts
  e2e/specs/accounts/reveal-private-key.spec.ts
  e2e/specs/accounts/reveal-secret-recovery-phrase.spec.ts
  e2e/specs/multichain-accounts/common.ts
  e2e/specs/multisrp/utils.ts
Labels: team-qa, no-changelog, size-M

#20652 refactor: tab empty state cleanup
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectiblesEmptyState/CollectiblesEmptyState.stories.tsx
  app/components/UI/CollectiblesEmptyState/CollectiblesEmptyState.test.tsx
  app/components/UI/CollectiblesEmptyState/CollectiblesEmptyState.tsx
  app/components/UI/DeFiPositions/DeFiPositionsList.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.styles.ts
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/components/PerpsLoadingSkeleton/PerpsLoadingSkeleton.tsx
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, no-changelog, size-S

#20394 fix: show toast when switching account
  app/components/Views/MultichainAccounts/MultichainAccountsConnectedList/MultichainAccountsConnectedList.test.tsx
  app/components/Views/MultichainAccounts/MultichainAccountsConnectedList/MultichainAccountsConnectedList.tsx
Labels: team-accounts-framework, size-M

#20627 fix(conf): Migrate to react-native-safearea-context for android 35
  app/components/Views/confirmations/components/send/recipient/recipient.tsx
Labels: team-confirmations, size-L

#20672 fix: multichain accounts intro modal animation and copy
  app/animations/Multichain_Accounts.json
  app/components/Views/MultichainAccounts/IntroModal/MultichainAccountsIntroModal.test.tsx
  app/components/Views/MultichainAccounts/IntroModal/MultichainAccountsIntroModal.tsx
  app/core/AppConstants.ts
  locales/languages/en.json
Labels: size-XL, team-accounts

#20674 fix: recipient validation for internal accounts
  app/components/Views/confirmations/hooks/send/useToAddressValidation.ts
  app/components/Views/confirmations/utils/send-address-validations.test.ts
  app/components/Views/confirmations/utils/send-address-validations.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, size-M

#20607 feat(card): change Card Home Viewed metric params from string to number
  app/components/UI/Card/Views/CardHome/CardHome.test.tsx
  app/components/UI/Card/Views/CardHome/CardHome.tsx
  app/components/UI/Card/components/CardAssetItem/CardAssetItem.test.tsx
  app/components/UI/Card/hooks/useAssetBalance.tsx
Labels: skip-sonar-cloud, no-changelog, team-card, size-M

#20372 feat(e2e): script and CI job to use AI for e2e test selection
  .depcheckrc.yml
  .eslintignore
  .github/actions/ai-e2e-analysis/action.yml
  .github/scripts/ai-e2e-analysis.mjs
  .github/workflows/ci.yml
  e2e/scripts/ai-e2e-tags-selector.ts
  e2e/scripts/ai-e2e-testing.md
  e2e/tags.js
  package.json
  scripts/repack.js
  yarn.lock
Labels: team-qa, no-changelog, size-XL

#20573 feat(INFRA-2989): test repack iOS
  .github/workflows/build-android-e2e.yml
  .github/workflows/build-ios-e2e.yml
  app.config.js
  package.json
  scripts/repack.js
Labels: No QA Needed, team-dev-ops, no-changelog, size-M

#20656 fix(rewards): added reset rewards state call in useDeleteWallet hook
  app/components/hooks/DeleteWallet/useDeleteWallet.test.tsx
  app/components/hooks/DeleteWallet/useDeleteWallet.ts
  app/core/Engine/controllers/rewards-controller/RewardsController.test.ts
  app/core/Engine/controllers/rewards-controller/RewardsController.ts
  app/core/Engine/controllers/rewards-controller/types.ts
Labels: size-M, team-rewards

#20682 fix: only enable solana devnet in flask
  package.json
  yarn.lock
Labels: team-new-networks, size-XS

#20639 feat: use `wallet.status`
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/AccountListFooter/AccountListFooter.test.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/AccountListFooter/AccountListFooter.tsx
  app/selectors/multichainAccounts/accountTreeController.ts
  app/util/accounts/useAccountWalletOperationsLoadingStates/index.test.tsx
  app/util/accounts/useAccountWalletOperationsLoadingStates/index.ts
  locales/languages/en.json
Labels: size-M, team-accounts

#20686 fix: clear destAddress when destAccountSelector unmounts
  app/components/UI/Bridge/components/DestinationAccountSelector.tsx/index.tsx
Labels: team-swaps-and-bridge, size-XS

#20683 refactor: Refactor preferences controller to use modular init pattern
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/preferences-controller-init.test.ts
  app/core/Engine/controllers/preferences-controller-init.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/messengers/preferences-controller-messenger.test.ts
  app/core/Engine/messengers/preferences-controller-messenger.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/utils.test.ts
Labels: no-changelog, size-M, team-core-platform

#20638 feat: add pnl for perps points events
  app/components/UI/Rewards/utils/formatUtils.test.ts
  app/components/UI/Rewards/utils/formatUtils.ts
  app/core/Engine/controllers/rewards-controller/types.ts
Labels: No QA Needed, No E2E Smoke Needed, no-changelog, size-S, team-rewards, skip-e2e

#20150 feat: NFT Grid View
  app/components/Base/RemoteImage/RemoteImageBadgeWrapper.tsx
  app/components/Base/RemoteImage/index.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.styles.ts
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/NftGrid/NftGrid.tsx
  app/components/UI/NftGrid/NftGridFooter.test.tsx
  app/components/UI/NftGrid/NftGridFooter.tsx
  app/components/UI/NftGrid/NftGridHeader.test.tsx
  app/components/UI/NftGrid/NftGridHeader.tsx
  app/components/UI/NftGrid/NftGridItem.tsx
  app/components/UI/NftGrid/NftGridItemActionSheet.test.tsx
  app/components/UI/NftGrid/NftGridItemActionSheet.tsx
  app/components/UI/NftGrid/NftGridList.test.tsx
  app/components/UI/NftGrid/NftGridList.tsx
  app/components/UI/NftGrid/NftGridListRefreshControl.test.tsx
  app/components/UI/NftGrid/NftGridListRefreshControl.tsx
  app/components/UI/NftGrid/index.ts
  app/components/UI/shared/BaseControlBar/BaseControlBar.tsx
  app/components/Views/NftDetails/NftDetails.tsx
  app/components/Views/NftDetails/__snapshots__/NftDetails.test.ts.snap
  app/components/Views/Wallet/index.tsx
  app/components/Views/confirmations/legacy/SendFlow/Amount/__snapshots__/index.test.tsx.snap
Labels: team-assets, skip-sonar-cloud, size-XL

#20681 feat: iOS Rehydration Flow Update to release/7.56.1
  app/components/Nav/App/App.tsx
  app/components/Views/AccountStatus/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountStatus/index.styles.ts
  app/components/Views/AccountStatus/index.tsx
  app/components/Views/Login/index.test.tsx
  app/components/Views/Login/index.tsx
  app/components/Views/Login/index2.test.tsx
  app/components/Views/Login/styles.ts
  app/components/Views/Onboarding/index.js
  app/components/Views/Onboarding/index.test.tsx
  app/components/Views/SecureExistingWallet/__snapshots__/index.test.tsx.snap
  app/components/Views/SecureExistingWallet/index.test.tsx
  app/components/Views/SecureExistingWallet/index.tsx
  app/constants/navigation/Routes.ts
  e2e/selectors/Onboarding/Onboarding.selectors.ts
  locales/languages/en.json
Labels: area-onboarding, needs-qa, team-web3auth, size-M

#20694 fix: in recipient validations for internal accounts
  app/components/Views/confirmations/hooks/send/evm/useEvmToAddressValidation.test.ts
  app/components/Views/confirmations/hooks/send/evm/useEvmToAddressValidation.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmToAddressValidation.test.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmToAddressValidation.ts
Labels: No QA Needed, release-5.6.1, team-confirmations, size-S

#20653 INFRA-2999-Fixes for create release workflows
  .github/scripts/resolve-previous-ref.sh
  .github/workflows/auto-create-release-pr.yml
Labels: team-dev-ops, size-S

#20480 feat(predict): initial predict details view with chart
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Predict/README.md
  app/components/UI/Predict/components/PredictDetailsChart/PredictDetailsChart.test.tsx
  app/components/UI/Predict/components/PredictDetailsChart/PredictDetailsChart.tsx
  app/components/UI/Predict/components/PredictDetailsChart/components/ChartArea.tsx
  app/components/UI/Predict/components/PredictDetailsChart/components/ChartGrid.tsx
  app/components/UI/Predict/components/PredictDetailsChart/components/ChartLegend.tsx
  app/components/UI/Predict/components/PredictDetailsChart/components/TimeframeSelector.tsx
  app/components/UI/Predict/components/PredictDetailsChart/utils.ts
  app/components/UI/Predict/components/PredictMarketMultiple/PredictMarketMultiple.tsx
  app/components/UI/Predict/components/PredictMarketOutcome/PredictMarketOutcome.styles.ts
  app/components/UI/Predict/components/PredictMarketOutcome/PredictMarketOutcome.test.tsx
  app/components/UI/Predict/components/PredictMarketOutcome/PredictMarketOutcome.tsx
  app/components/UI/Predict/components/PredictMarketOutcome/index.ts
  app/components/UI/Predict/components/PredictMarketSingle/PredictMarketSingle.test.tsx
  app/components/UI/Predict/components/PredictMarketSingle/PredictMarketSingle.tsx
  app/components/UI/Predict/controllers/PredictController.test.ts
  app/components/UI/Predict/controllers/PredictController.ts
  app/components/UI/Predict/hooks/usePredictBuy.test.ts
  app/components/UI/Predict/hooks/usePredictMarket.test.tsx
  app/components/UI/Predict/hooks/usePredictMarket.tsx
  app/components/UI/Predict/hooks/usePredictPriceHistory.test.tsx
  app/components/UI/Predict/hooks/usePredictPriceHistory.tsx
  app/components/UI/Predict/providers/polymarket/PolymarketProvider.test.ts
  app/components/UI/Predict/providers/polymarket/PolymarketProvider.ts
  app/components/UI/Predict/providers/polymarket/types.ts
  app/components/UI/Predict/providers/polymarket/utils.ts
  app/components/UI/Predict/providers/types.ts
  app/components/UI/Predict/routes/index.tsx
  app/components/UI/Predict/types/index.ts
  app/components/UI/Predict/types/navigation.ts
  app/components/UI/Predict/views/PredictMarketDetails/PredictMarketDetails.test.tsx
  app/components/UI/Predict/views/PredictMarketDetails/PredictMarketDetails.tsx
  app/components/UI/Predict/views/PredictTabView/PredictTabView.test.tsx
  app/components/UI/Predict/views/PredictTabView/PredictTabView.tsx
Labels: team-vault, size-XL

#20668 feat: TAT-1491: use existing position leverage when placing an perps order
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.test.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-earn, team-perps, size-M, skip-e2e

#20301 feat(perps): align sentry performance events
  app/components/UI/Perps/Views/PerpsClosePositionView/PerpsClosePositionView.test.tsx
  app/components/UI/Perps/Views/PerpsClosePositionView/PerpsClosePositionView.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.test.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.test.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsPositionTransactionView.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsTransactionsView.tsx
  app/components/UI/Perps/Views/PerpsWithdrawView/PerpsWithdrawView.test.tsx
  app/components/UI/Perps/Views/PerpsWithdrawView/PerpsWithdrawView.tsx
  app/components/UI/Perps/__mocks__/perpsComponentMocks.ts
  app/components/UI/Perps/__mocks__/perpsHooksMocks.ts
  app/components/UI/Perps/components/PerpsCard/PerpsCard.tsx
  app/components/UI/Perps/components/PerpsCard/PerpsCard.types.ts
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.tsx
  app/components/UI/Perps/components/PerpsStreamBridge.tsx
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.tsx
  app/components/UI/Perps/constants/eventNames.ts
  app/components/UI/Perps/constants/performanceMetrics.ts
  app/components/UI/Perps/constants/perpsConfig.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/hooks/index.ts
  app/components/UI/Perps/hooks/usePerpsClosePosition.ts
  app/components/UI/Perps/hooks/usePerpsDepositStatus.test.ts
  app/components/UI/Perps/hooks/usePerpsDepositStatus.ts
  app/components/UI/Perps/hooks/usePerpsEventTracking.ts
  app/components/UI/Perps/hooks/usePerpsMeasurement.test.ts
  app/components/UI/Perps/hooks/usePerpsMeasurement.ts
  app/components/UI/Perps/hooks/usePerpsOrderExecution.ts
  app/components/UI/Perps/hooks/usePerpsOrderFees.ts
  app/components/UI/Perps/hooks/usePerpsPerformance.test.ts
  app/components/UI/Perps/hooks/usePerpsPerformance.ts
  app/components/UI/Perps/hooks/usePerpsScreenTracking.test.ts
  app/components/UI/Perps/hooks/usePerpsScreenTracking.ts
  app/components/UI/Perps/integration/connectionLifecycle.test.tsx
  app/components/UI/Perps/providers/PerpsConnectionProvider.test.tsx
  app/components/UI/Perps/providers/PerpsStreamManager.tsx
  app/components/UI/Perps/services/PerpsConnectionManager.ts
  app/components/UI/Perps/types/navigation.ts
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-perps, size-XL

#20664 feat: reward points component animation
  .storybook/storybook.requires.js
  app/animations/rewards_icon_animations.riv
  app/components/UI/Rewards/components/RewardPointsAnimation/RewardPointsAnimation.stories.tsx
  app/components/UI/Rewards/components/RewardPointsAnimation/index.styles.tsx
  app/components/UI/Rewards/components/RewardPointsAnimation/index.test.tsx
  app/components/UI/Rewards/components/RewardPointsAnimation/index.tsx
  app/components/UI/Rewards/hooks/useRewardsAnimation.test.ts
  app/components/UI/Rewards/hooks/useRewardsAnimation.ts
  locales/languages/en.json
Labels: team-mobile-ux, skip-sonar-cloud, size-XL, team-rewards

#20658 feat: TAT-1820: Added tpsl and liquidation tags to perps fill history items
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsTransactionsView.styles.ts
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsTransactionsView.tsx
  app/components/UI/Perps/components/PerpsTransactionDetailAssetHero/PerpsTransactionDetailAssetHero.test.tsx
  app/components/UI/Perps/components/PerpsTransactionItem/PerpsTransactionItem.test.tsx
  app/components/UI/Perps/components/PerpsTransactionItem/PerpsTransactionItem.tsx
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.test.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
  app/components/UI/Perps/controllers/types/index.ts
  app/components/UI/Perps/services/HyperLiquidSubscriptionService.test.ts
  app/components/UI/Perps/services/HyperLiquidSubscriptionService.ts
  app/components/UI/Perps/types/transactionHistory.ts
  app/components/UI/Perps/utils/transactionTransforms.test.ts
  app/components/UI/Perps/utils/transactionTransforms.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-earn, team-perps, size-L, skip-e2e

#20702 test: Removed test scenario due to functionality change
  e2e/specs/assets/unified-ui-asset-details.spec.ts
  e2e/specs/networks/connect-test-network.spec.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-M

#20707 fix(card): card home viewed metric returning NaN error
  app/components/UI/Card/Views/CardHome/CardHome.test.tsx
  app/components/UI/Card/Views/CardHome/CardHome.tsx
  app/components/UI/Card/hooks/useAssetBalance.tsx
Labels: skip-sonar-cloud, no-changelog, team-card, size-M

#20671 test: fixed test `e2e/specs/assets/multichain/asset-list.spec.ts`
  e2e/specs/assets/multichain/asset-list.spec.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-qa, no-changelog, size-S

#20710 revert: "feat: introduce native utils margelo"
  .depcheckrc.yml
  ios/Gemfile.lock
  ios/Podfile.lock
  package.json
  shim.js
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, INVALID-PR-TEMPLATE, no-changelog, size-S

#20720 fix(sign off list): remove legacy list of teams
  .github/workflows/create-release-pr.yml
Labels: team-extension-platform, size-XS

#20721 refactor: add test env to feature flag mock
  e2e/api-mocking/helpers/remoteFeatureFlagsHelper.test.ts
  e2e/api-mocking/helpers/remoteFeatureFlagsHelper.ts
Labels: team-qa, no-changelog, size-S

#20678 test: skip dorny on scheduled runs
  .github/workflows/needs-e2e-build.yml
Labels: team-qa, no-changelog, size-S

#20709 chore: E2E docu updated
  README.md
  docs/readme/e2e-testing.md
  docs/readme/environment.md
  docs/readme/expo-e2e-testing.md
  e2e/docs/MOCKING.md
  e2e/docs/README.md
  e2e/framework/README.md
  e2e/scripts/ai-e2e-testing.md
Labels: team-qa, no-changelog, size-XL, skip-e2e

#20691 fix(SDKConnectV2): Fix in-app QR Code scanner to handle SDK V2 deeplinks
  app/components/Views/QRScanner/index.tsx
Labels: team-sdk, No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, size-S

#20712 feat: add dynamic carousel preview updates
  app/actions/notification/helpers/index.test.tsx
  app/actions/notification/helpers/index.ts
  app/components/UI/Carousel/index.test.tsx
  app/components/UI/Carousel/index.tsx
Labels: team-assets, No E2E Smoke Needed, size-M

#20250 chore: set BIP-44 as default cp-13.5.0
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/CaipAccountSelectorList/__snapshots__/CaipAccountSelectorList.test.tsx.snap
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.test.tsx
  app/components/UI/EvmAccountSelectorList/__snapshots__/EvmAccountSelectorList.test.tsx.snap
  app/components/UI/Tokens/TokenListControlBar/TokenListControlBar.test.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/__snapshots__/AccountConnectMultiSelector.test.tsx.snap
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/Views/AccountSelector/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/ActivityView/index.test.tsx
  app/components/Views/Asset/index.test.js
  app/components/Views/MultichainAccounts/MultichainAccountConnect/State2AccountConnectWrapper.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/confirmations/components/UI/info-row/info-value/address/address.test.tsx
  app/components/Views/confirmations/components/info/personal-sign/personal-sign.test.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/switch-account-type-modal.test.tsx
  app/components/Views/confirmations/components/rows/account-network-info-row/account-network-info-collapsed/account-network-info-collapsed.test.tsx
  app/components/Views/confirmations/components/rows/account-network-info-row/account-network-info-row.test.tsx
  app/components/Views/confirmations/hooks/send/useSendScope.test.ts
  app/multichain-accounts/remote-feature-flag.test.ts
  app/multichain-accounts/remote-feature-flag.ts
  app/selectors/featureFlagController/multichainAccounts/enabledMultichainAccounts.test.ts
  e2e/api-mocking/helpers/remoteFeatureFlagsHelper.ts
  e2e/api-mocking/mock-e2e-allowlist.ts
  e2e/common-solana.ts
  e2e/framework/fixtures/FixtureBuilder.ts
  e2e/pages/Onboarding/OnboardingView.ts
  e2e/selectors/wallet/WalletView.selectors.ts
  e2e/specs/accounts/rename-account-flows.spec.ts
  e2e/specs/multichain-accounts/common.ts
  e2e/specs/multichain-accounts/delete-account.spec.ts
  e2e/specs/solana/create-solana-account.spec.ts
Labels: team-accounts-framework, Run Smoke E2E, size-L

#20724 test: quarantine ramp test
  e2e/specs/ramps/offramp-cashout.spec.ts
  e2e/specs/ramps/onramp-limits.spec.ts
  e2e/specs/ramps/onramp-parameters.spec.ts
  e2e/specs/ramps/onramp.spec.ts
  e2e/specs/ramps/ramps-account-switch.spec.ts
Labels: team-qa, no-changelog, size-S

#20684 chore: Bump Snaps packages
  app/core/Engine/controllers/snaps/snap-controller-init.test.ts
  app/core/Engine/controllers/snaps/snap-controller-init.ts
  package.json
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Flask E2E, size-S, team-core-platform

#20044 chore: Update Earn controller to resolve peer dependency warnings
  package.json
  yarn.lock
Labels: No QA Needed, size-XS, team-core-platform

#20636 fix: wallet-connect qrcode redirect
  app/core/WalletConnect/WalletConnect2Session.test.ts
  app/core/WalletConnect/WalletConnect2Session.ts
Labels: No E2E Smoke Needed, team-wallet-standard, size-S

#20758 fix: cp-7.57.0 rive asset state machine name
  app/components/UI/Bridge/hooks/useRewardsIconAnimation/useRewardsIconAnimation.test.ts
  app/components/UI/Bridge/hooks/useRewardsIconAnimation/useRewardsIconAnimation.ts
Labels: team-mobile-ux, size-S

#20755 fix: cp-7.57.0 filter chainIds for staked balances
  app/selectors/assets/assets-list.ts
Labels: team-assets, size-XS

#20736 fix: cp-7.57.0 MM Poly font on iOS & onboarding title cropped
  app/components/UI/Rewards/components/Onboarding/OnboardingIntroStep.tsx
  app/components/UI/Rewards/components/Onboarding/OnboardingStep1.tsx
  app/components/UI/Rewards/components/Onboarding/OnboardingStep2.tsx
  app/components/UI/Rewards/components/Onboarding/OnboardingStep3.tsx
Labels: skip-sonar-cloud, no-changelog, size-S, team-rewards

#20776 chore: fix recently introduced lint issue
  app/core/WalletConnect/WalletConnect2Session.test.ts
Labels: team-wallet-api-platform, size-XS

#20745 chore: update `CODEOWNERS.md` -> `@metamask/sdk-devs` to `@metamask/wallet-integrations`
  .github/CODEOWNERS
Labels: team-wallet-api-platform, INVALID-PR-TEMPLATE, size-S

#20744 INFRA-2999-FixAutoCreateReleasePR
  .github/workflows/auto-create-release-pr.yml.disabled
  .github/workflows/create-release-pr.yml
Labels: team-dev-ops, size-S

#20775 fix: cp-7.57.0 UI tour images are narrow small
  app/components/UI/Rewards/components/Onboarding/OnboardingIntroStep.tsx
  app/components/UI/Rewards/components/Onboarding/OnboardingStep.tsx
  app/components/UI/Rewards/components/Onboarding/OnboardingStep1.tsx
  app/components/UI/Rewards/components/Onboarding/OnboardingStep2.tsx
  app/components/UI/Rewards/components/Onboarding/OnboardingStep3.tsx
  app/components/UI/Rewards/components/Onboarding/OnboardingStep4.tsx
  app/images/rewards/rewards-onboarding-step1.png
Labels: size-S, team-rewards

#20786 chore: Bump main version to 7.58.0
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: team-mobile-platform, INVALID-PR-TEMPLATE, size-S

#20738 fix(perps): cp-7.57.0 perps reward discount not applied correctly
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.test.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
Labels: No QA Needed, team-perps, size-M

#20790 feat: cp-7.56.3 disable perps build flag and add belgium to build flag blocked regions fallback
  bitrise.yml
Labels: INVALID-PR-TEMPLATE, team-earn, size-XS

#20565 fix(SDKConnectV2): Storage will automatically delete expired connections
  app/core/SDKConnectV2/adapters/host-application-adapter.test.ts
  app/core/SDKConnectV2/adapters/rpc-bridge-adapter.test.ts
  app/core/SDKConnectV2/services/connection-registry.test.ts
  app/core/SDKConnectV2/services/connection-registry.ts
  app/core/SDKConnectV2/services/connection.test.ts
  app/core/SDKConnectV2/store/connection-store.test.ts
  app/core/SDKConnectV2/store/connection-store.ts
  app/core/SDKConnectV2/types/connection-info.ts
  app/core/SDKConnectV2/utils/is-engine-ready.test.ts
  app/core/SDKConnectV2/utils/is-engine-ready.ts
  app/util/test/testSetup.js
Labels: team-sdk, No QA Needed, No E2E Smoke Needed, size-M

#19977 test: add job to run Flask Smoke E2E in GHA
  .detoxrc.js
  .github/guidelines/LABELING_GUIDELINES.md
  .github/scripts/run-e2e-tags-gha.mjs
  .github/scripts/run-e2e-tags-gha.test.ts
  .github/workflows/build-android-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/run-e2e-workflow.yml
  .github/workflows/test-flask-e2e-smoke-android.yml
  app.config.js
  package.json
  scripts/repack.js
Labels: team-qa, no-changelog, size-M, run-android-flask-e2e-smoke

#20732 refactor: Refactor keyring controller to use modular init pattern
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/keyring-controller-init.test.ts
  app/core/Engine/controllers/keyring-controller-init.ts
  app/core/Engine/controllers/snap-keyring-builder-init.test.ts
  app/core/Engine/controllers/snap-keyring-builder-init.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/messengers/keyring-controller-messenger.test.ts
  app/core/Engine/messengers/keyring-controller-messenger.ts
  app/core/Engine/messengers/snap-keyring-builder-messenger.test.ts
  app/core/Engine/messengers/snap-keyring-builder-messenger.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/test-utils.ts
  app/core/Engine/utils/utils.test.ts
  app/core/SnapKeyring/SnapKeyring.ts
Labels: skip-sonar-cloud, no-changelog, size-L, team-core-platform

#20648 test: regression tests reporting
  .github/scripts/generate-regression-slack-summary.mjs
  .github/workflows/run-e2e-regression-tests-android.yml
  .github/workflows/run-e2e-regression-tests-ios.yml
  bitrise.yml
  e2e/pages/wallet/ImportTokenFlow/ConfirmAddAsset.ts
  e2e/selectors/wallet/ImportTokenView.selectors.js
  e2e/specs/accounts/change-account-name-multichain.spec.ts
  e2e/specs/assets/multichain/asset-list.spec.ts
  e2e/specs/assets/nft-details.spec.ts
  e2e/specs/confirmations-redesigned/regression/new-networks-signatures.spec.ts
  e2e/specs/confirmations-redesigned/regression/new-networks-transfer.spec.ts
  e2e/specs/confirmations/regression/new-networks-send-erc20.spec.ts
  e2e/specs/confirmations/regression/new-networks-send-erc721.spec.ts
  e2e/specs/confirmations/send-failing-contract.spec.ts
  e2e/specs/confirmations/send-to-contract-address.spec.ts
  e2e/specs/confirmations/set-approval-for-all-erc1155.spec.ts
  e2e/specs/multichain-accounts/account-details.spec.ts
  e2e/specs/networks/add-custom-rpc.spec.ts
  e2e/specs/settings/addressbook-ens.spec.ts
  e2e/specs/settings/addressbook-relaunch-app.spec.ts
  e2e/specs/wallet/carousel.spec.ts
  e2e/specs/wallet/request-token-flow.spec.ts
Labels: team-qa, no-changelog, size-L

#20781 feat(ramp): add activation keys to all non-prod envs
  app/components/UI/Ramp/Aggregator/sdk/index.tsx
Labels: team-ramp, skip-sonar-cloud, size-S

#20643 fix: use old account indicator instead of checkmark cp-7.57.0
  app/component-library/components-temp/MultichainAccounts/AccountCell/AccountCell.stories.tsx
  app/component-library/components-temp/MultichainAccounts/AccountCell/AccountCell.styles.ts
  app/component-library/components-temp/MultichainAccounts/AccountCell/AccountCell.test.tsx
  app/component-library/components-temp/MultichainAccounts/AccountCell/AccountCell.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/AccountListCell/AccountListCell.test.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/AccountListCell/AccountListCell.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.styles.ts
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.test.tsx
  app/components/Views/MultichainAccounts/MultichainAccountsConnectedList/MultichainAccountsConnectedList.test.tsx
  app/components/Views/MultichainAccounts/MultichainAccountsConnectedList/__snapshots__/MultichainAccountsConnectedList.test.tsx.snap
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/index.tsx
Labels: size-M, team-accounts

#20826 fix: cp-7.57.0 Fix new send flow metrics
  app/components/Views/confirmations/components/recipient-input/recipient-input.test.tsx
  app/components/Views/confirmations/components/recipient-input/recipient-input.tsx
  app/components/Views/confirmations/components/send/recipient/recipient.test.tsx
  app/components/Views/confirmations/components/send/recipient/recipient.tsx
  app/components/Views/confirmations/context/send-context/send-metrics-context.tsx
  app/components/Views/confirmations/hooks/send/metrics/useAmountSelectionMetrics.ts
  app/components/Views/confirmations/hooks/send/metrics/useAssetSelectionMetrics.ts
  app/components/Views/confirmations/hooks/send/metrics/useRecipientSelectionMetrics.test.ts
  app/components/Views/confirmations/hooks/send/metrics/useRecipientSelectionMetrics.ts
  app/components/Views/confirmations/hooks/send/metrics/useSendExitMetrics.ts
  app/core/Analytics/MetaMetrics.events.ts
Labels: team-confirmations, skip-sonar-cloud, no-changelog, size-M

#20793 fix(deposit): region selector modal param cp-7.57.0
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/UnsupportedRegionModal/UnsupportedRegionModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/UnsupportedRegionModal/UnsupportedRegionModal.tsx
Labels: team-ramp, size-S

#20772 fix(deposit): error modal cp-7.57.0
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/ErrorDetailsModal/ErrorDetailsModal.styles.ts
  app/components/UI/Ramp/Deposit/Views/Modals/ErrorDetailsModal/ErrorDetailsModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/ErrorDetailsModal/ErrorDetailsModal.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/ErrorDetailsModal/__snapshots__/ErrorDetailsModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/SdkErrorAlert/SdkErrorAlert.tsx
  app/components/UI/Ramp/Deposit/components/TruncatedError/TruncatedError.styles.ts
  app/components/UI/Ramp/Deposit/components/TruncatedError/TruncatedError.test.tsx
  app/components/UI/Ramp/Deposit/components/TruncatedError/TruncatedError.tsx
  app/components/UI/Ramp/Deposit/components/TruncatedError/__snapshots__/TruncatedError.test.tsx.snap
Labels: team-ramp, size-M

#20838 fix: cp-7.57.0 disable swaps for unsupported chains
  app/components/Views/Asset/utils.ts
Labels: team-swaps-and-bridge, size-S

#20855 fix: fix push events to contain better mixpanel data querying
  app/util/notifications/services/FCMService.test.ts
  app/util/notifications/services/FCMService.ts
Labels: team-assets, No E2E Smoke Needed, size-M

#20860 refactor: use bumped notification controller config cleanup
  app/core/Engine/controllers/notifications/create-notification-services-controller.ts
  app/core/Engine/controllers/notifications/create-notification-services-push-controller.ts
  app/selectors/notifications/index.tsx
  app/util/notifications/notification-states/feature-announcement/feature-announcement.tsx
Labels: team-assets, No E2E Smoke Needed, skip-sonar-cloud, no-changelog, size-S

#20881 fix(ramp): prevent 'undefined' flash in sell amount input during load cp-7.57.0
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
Labels: team-ramp, size-XS

#18851 feat: Swaps btc network
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/_mocks_/initialState.ts
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/__snapshots__/BridgeDestNetworkSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeDestTokenSelector/__snapshots__/BridgeDestTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeNetworkSelectorBase.tsx
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/BridgeSourceNetworkSelector.test.tsx
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/__snapshots__/BridgeSourceNetworkSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/__snapshots__/BridgeSourceTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/DestinationAccountSelector.tsx/index.tsx
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/index.ts
  app/components/UI/Bridge/hooks/useLatestBalance/index.ts
  app/components/UI/Bridge/hooks/useNonEvmAccountIds/index.ts
  app/components/UI/Bridge/hooks/useNonEvmAccountIds/useNonEvmAccountIds.ts
  app/components/UI/Bridge/hooks/useNonEvmTokensWithBalance/index.ts
  app/components/UI/Bridge/hooks/useNonEvmTokensWithBalance/useNonEvmTokensWithBalance.ts
  app/components/UI/Bridge/hooks/useSortedSourceNetworks/__snapshots__/useSortedSourceNetworks.test.ts.snap
  app/components/UI/Bridge/hooks/useSortedSourceNetworks/index.ts
  app/components/UI/Bridge/hooks/useSortedSourceNetworks/useSortedSourceNetworks.test.ts
  app/components/UI/Bridge/hooks/useSortedSourceNetworks/useSortedSourceNetworks.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/index.ts
  app/components/UI/Bridge/hooks/useSwitchTokens/index.ts
  app/components/UI/Bridge/hooks/useTokens.ts
  app/components/UI/Bridge/hooks/useTokensWithBalance/index.ts
  app/components/UI/Bridge/hooks/useTopTokens/index.ts
  app/components/UI/Bridge/utils/exchange-rates.ts
  app/components/UI/Bridge/utils/index.test.ts
  app/components/UI/Bridge/utils/index.ts
  app/components/UI/Bridge/utils/tokenUtils.test.ts
  app/components/UI/Bridge/utils/tokenUtils.ts
  app/components/UI/Bridge/utils/transaction-history.ts
  app/core/DeeplinkManager/Handlers/handleSwapUrl.ts
  app/core/redux/slices/bridge/index.ts
  app/selectors/multichain/multichain.ts
Labels: QA Passed, No E2E Smoke Needed, team-swaps-and-bridge, size-L

#20894 INFRA-2999-Fix create release PR workflow changelog issue for mobile
  .github/workflows/create-release-pr.yml
Labels: team-dev-ops, size-XS

#20768 release: 7.56.3
  CHANGELOG.md
  android/app/build.gradle
  app/components/UI/Carousel/fetchCarouselSlidesFromContentful.test.ts
  app/components/UI/Carousel/fetchCarouselSlidesFromContentful.ts
  app/components/UI/Tokens/TokenList/index.tsx
  app/core/Engine/controllers/transaction-controller/utils.test.ts
  app/core/Engine/controllers/transaction-controller/utils.ts
  app/util/notifications/notification-states/feature-announcement/feature-announcement.tsx
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Labels: skip-sonar-cloud, size-M, release-7.56.3

#20897 ci: add build step for ios regression e2e
  .github/workflows/run-e2e-regression-tests-ios.yml
Labels: No E2E Smoke Needed, team-qa, no-changelog, no changelog required, size-S

#20913 chore: Update perps related .js.env build flags to align with main-rc
  .js.env.example
Labels: team-assets, size-XS

#20331 chore: Added font preloader cp-7.57.0
  app/component-library/components/Form/TextField/foundation/Input/Input.styles.ts
  app/component-library/components/Form/TextField/foundation/Input/__snapshots__/Input.test.tsx.snap
  app/components/Snaps/SnapUIAddressInput/__snapshots__/SnapUIAddressInput.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.ts.snap
  app/components/Snaps/SnapUIRenderer/components/__snapshots__/form.test.ts.snap
  app/components/Snaps/SnapUIRenderer/components/__snapshots__/input.test.ts.snap
  app/components/UI/Bridge/Views/BridgeView/__snapshots__/BridgeView.test.tsx.snap
  app/components/UI/Bridge/components/BridgeDestTokenSelector/__snapshots__/BridgeDestTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/__snapshots__/BridgeSourceTokenSelector.test.tsx.snap
  app/components/UI/Ramp/Aggregator/Views/Settings/__snapshots__/ActivationKeyForm.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/FiatSelectorModal/__snapshots__/FiatSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/RegionSelectorModal/__snapshots__/RegionSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/TokenSelectModal/__snapshots__/TokenSelectModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterAddress/__snapshots__/EnterAddress.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterEmail/__snapshots__/EnterEmail.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/__snapshots__/RegionSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/StateSelectorModal/__snapshots__/StateSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/TokenSelectorModal/__snapshots__/TokenSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositPhoneField/__snapshots__/DepositPhoneField.test.tsx.snap
  app/components/Views/ChoosePassword/__snapshots__/index.test.tsx.snap
  app/components/Views/EditAccountName/__snapshots__/EditAccountName.test.tsx.snap
  app/components/Views/Login/__snapshots__/index.test.tsx.snap
  app/components/Views/ResetPassword/__snapshots__/index.test.tsx.snap
  app/components/Views/Root/FontLoadingGate.tsx
  app/components/Views/Root/index.tsx
  app/core/FontPreloader/FontPreloader.ts
  app/core/FontPreloader/README.md
  app/core/FontPreloader/__tests__/FontPreloader.test.ts
  app/hooks/useFontPreloader.ts
Labels: QA Passed, team-design-system, skip-sonar-cloud, size-L

#20920 fix: skip specific regression tests for android and skip ios suite in ci
  .github/workflows/run-e2e-regression-tests-ios.yml
  e2e/specs/assets/nft-detection-modal.spec.ts
  e2e/specs/confirmations-redesigned/transactions/dapp-initiated-transfer.spec.ts
  e2e/specs/settings/contact-us.spec.ts
Labels: team-qa, no-changelog, size-L

#20858 test: adds a guard to the flask test report to be skipped when it should
  .github/workflows/test-flask-e2e-smoke-android.yml
Labels: team-qa, no-changelog, size-XS

#20890 feat: cicd migration self-hosted to cirrus
  .github/workflows/build-android-e2e.yml
  .github/workflows/run-e2e-workflow.yml
  .github/workflows/temp-android-workflow.yml
  .github/workflows/temp-build-android-e2e-cirrus.yml
  .github/workflows/temp-run-e2e-smoke-tests-android-cirrus.yml
  .github/workflows/temp-run-e2e-workflow-cirrus.yml
Labels: team-dev-ops, no-changelog, size-L

#19971 feat: Bitcoin+Tron BIP44 integration
  app/components/UI/CustomNetworkSelector/CustomNetworkSelector.test.tsx
  app/components/UI/CustomNetworkSelector/CustomNetworkSelector.tsx
  app/components/UI/NetworkMultiSelector/NetworkMultiSelector.test.tsx
  app/components/Views/confirmations/components/send/recipient/recipient.test.tsx
  app/components/Views/confirmations/hooks/send/useAccounts.test.ts
  app/components/Views/confirmations/hooks/send/useAccounts.ts
  app/components/Views/confirmations/hooks/send/useContacts.test.ts
  app/components/Views/confirmations/hooks/send/useContacts.ts
  app/components/Views/confirmations/hooks/send/useSendType.ts
  app/components/hooks/useNetworksToUse/useNetworksToUse.test.ts
  app/components/hooks/useNetworksToUse/useNetworksToUse.ts
  app/core/Engine/controllers/multichain-account-service/multichain-account-service-init.test.ts
  app/core/Engine/controllers/multichain-account-service/multichain-account-service-init.ts
  app/core/Multichain/constants.ts
  app/core/Multichain/test/networks.test.ts
  app/core/Multichain/utils.ts
  app/core/SnapKeyring/MultichainWalletSnapClient.ts
  app/images/image-icons.js
  app/images/tron.png
  app/selectors/multichainAccounts/accounts.ts
  app/util/networks/customNetworks.tsx
  package.json
  yarn.lock
Labels: team-new-networks, size-XL

#20800 feat: social login success screen added for social login users and ios platform.
  app/components/Nav/App/App.tsx
  app/components/Views/ChoosePassword/index.js
  app/components/Views/Onboarding/index.js
  app/components/Views/Onboarding/index.test.tsx
  app/components/Views/SocialLoginSuccessNewUser/__snapshots__/index.test.tsx.snap
  app/components/Views/SocialLoginSuccessNewUser/index.styles.ts
  app/components/Views/SocialLoginSuccessNewUser/index.test.tsx
  app/components/Views/SocialLoginSuccessNewUser/index.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: area-onboarding, QA Passed, team-web3auth, size-M, release-7.57.0

#20924 feat: add deeplink decompression logic for sdk v2 payload
  app/core/SDKConnectV2/services/connection-registry.ts
  app/core/SDKConnectV2/utils/compression-utils.ts
  app/core/SDKConnectV2/utils/compression.utils.test.ts
  package.json
  yarn.lock
Labels: team-wallet-api-platform, size-S

#20837 feat: agentic unit test automation
  .claude/commands/unit-test-coverage.md
  scripts/coverage-analysis.js
Labels: No QA Needed, No E2E Smoke Needed, no-changelog, no changelog required, team-perps, size-L

#20942 fix: cp-7.57.0 no duplicate season status calls on account add
  app/components/UI/Rewards/RewardsNavigator.test.tsx
  app/components/UI/Rewards/RewardsNavigator.tsx
  app/components/UI/Rewards/Views/RewardsReferralView.test.tsx
  app/components/UI/Rewards/Views/RewardsReferralView.tsx
  app/components/UI/Rewards/Views/RewardsSettingsView.test.tsx
  app/components/UI/Rewards/Views/RewardsSettingsView.tsx
  app/components/UI/Rewards/components/SeasonStatus/SeasonStatus.test.tsx
  app/components/UI/Rewards/components/SeasonStatus/SeasonStatus.tsx
  app/components/UI/Rewards/components/Settings/RewardSettingsTabs.test.tsx
  app/components/UI/Rewards/components/Settings/RewardSettingsTabs.tsx
  app/components/UI/Rewards/hooks/useRewardOptinSummary.test.ts
  app/components/UI/Rewards/hooks/useRewardOptinSummary.ts
  app/components/UI/Rewards/hooks/useSeasonStatus.test.ts
  app/components/UI/Rewards/hooks/useSeasonStatus.ts
Labels: No QA Needed, area-performance, INVALID-PR-TEMPLATE, No E2E Smoke Needed, no-changelog, size-XL, team-rewards, regression-RC-7.57.0

#20915 fix(deposit): get started mUSD cp-7.57.0
  app/components/UI/Ramp/Deposit/Views/Root/GetStarted/GetStarted.test.tsx
  app/components/UI/Ramp/Deposit/Views/Root/GetStarted/GetStarted.tsx
  app/components/UI/Ramp/Deposit/assets/deposit-get-started-illustration-musd.png
  locales/languages/en.json
Labels: team-ramp, size-M

#20945 test: quarantines ramps tests that were disabled, reduces trade shards
  .github/workflows/run-e2e-smoke-tests-android.yml
  e2e/specs/quarantine/offramp-cashout.failing.ts
  e2e/specs/quarantine/onramp-limits.failing.ts
  e2e/specs/quarantine/onramp.failing.ts
Labels: team-qa, no-changelog, size-S

#20883 fix: cp-7.57.0 handle URL-encoded characters in browser URL processing to fix home button navigation
  app/util/browser/index.test.ts
  app/util/browser/index.ts
Labels: browser, team-mobile-ux, RNWebView, skip-sonar-cloud, size-S

#20893 refactor: use extended thinking and tools for agentic e2e selection
  .github/actions/ai-e2e-analysis/action.yml
  .github/scripts/ai-e2e-analysis.mjs
  e2e/scripts/ai-e2e-tags-selector.ts
Labels: team-qa, no-changelog, size-XL
