Repository MetaMask/metamask-mobile, pull requests merged in 2025-06, with the labels that each got.

#15572 User to be able to edit approval amount in simulation section of batched confirmation
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.styles.ts
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.test.tsx
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.tsx
  app/components/UI/SimulationDetails/BatchApprovalRow/BatchApprovalRow.test.tsx
  app/components/UI/SimulationDetails/BatchApprovalRow/BatchApprovalRow.tsx
  app/components/UI/SimulationDetails/EditRowValue/EditRowValue.styles.ts
  app/components/UI/SimulationDetails/EditRowValue/EditRowValue.test.tsx
  app/components/UI/SimulationDetails/EditRowValue/EditRowValue.tsx
  app/components/UI/SimulationDetails/EditRowValue/index.ts
  app/components/UI/SimulationDetails/types.ts
  app/components/UI/SimulationDetails/useBalanceChanges.test.ts
  app/components/UI/SimulationDetails/useBalanceChanges.ts
  app/components/Views/confirmations/constants/approvals.ts
  app/components/Views/confirmations/hooks/7702/useBatchApproveBalanceActions.test.ts
  app/components/Views/confirmations/hooks/7702/useBatchApproveBalanceActions.ts
  app/components/Views/confirmations/hooks/7702/useBatchApproveBalanceChanges.test.ts
  app/components/Views/confirmations/hooks/7702/useBatchApproveBalanceChanges.ts
  app/components/Views/confirmations/utils/approvals.test.ts
  app/components/Views/confirmations/utils/approvals.ts
  app/components/Views/confirmations/utils/transaction.test.ts
  app/components/Views/confirmations/utils/transaction.ts
  app/util/address/index.test.ts
  app/util/address/index.ts
  app/util/test/confirm-data-helpers.ts
  app/util/transaction-controller/index.test.ts
  app/util/transaction-controller/index.ts
  locales/languages/en.json
Labels: No E2E Smoke Needed, team-confirmations

#15951 fix: Hide simulations on wallet initiated `transfer`
  app/components/UI/SimulationDetails/SimulationDetails.styles.ts
  app/components/UI/SimulationDetails/SimulationDetails.tsx
  app/components/Views/confirmations/components/info/contract-interaction/contract-interaction.styles.ts
  app/components/Views/confirmations/components/info/contract-interaction/contract-interaction.tsx
  app/components/Views/confirmations/components/info/transfer/transfer.styles.ts
  app/components/Views/confirmations/components/info/transfer/transfer.test.tsx
  app/components/Views/confirmations/components/info/transfer/transfer.tsx
  app/components/Views/confirmations/components/rows/transactions/advanced-details-row/advanced-details-row.styles.ts
  app/components/Views/confirmations/components/rows/transactions/advanced-details-row/advanced-details-row.test.tsx
  app/components/Views/confirmations/components/rows/transactions/advanced-details-row/advanced-details-row.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog

#15901 feat: Adds missing metrics for `transfer` confirmation redesign
  app/components/Views/confirmations/components/info/transfer/transfer.test.tsx
  app/components/Views/confirmations/components/info/transfer/transfer.tsx
  app/components/Views/confirmations/hooks/gas/useGasFeeEstimateLevelOptions.test.ts
  app/components/Views/confirmations/hooks/useNetworkInfo.test.ts
  app/components/Views/confirmations/hooks/useNetworkInfo.ts
  app/components/Views/confirmations/hooks/useTokenAmount.test.ts
  app/components/Views/confirmations/hooks/useTokenAmount.ts
  app/components/Views/confirmations/hooks/useTransferAssetType.test.ts
  app/components/Views/confirmations/hooks/useTransferAssetType.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog

#15975 ci: fix stale bot action
  .github/workflows/stale-issue-pr.yml
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#15888 fix: cp-7.47.0 update text color
  app/components/UI/Bridge/Views/BridgeView/__snapshots__/BridgeView.test.tsx.snap
  app/components/UI/Bridge/Views/BridgeView/index.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-swaps-and-bridge, release-7.47.0

#15926 chore: prevent TokenList rerenders
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/util/refreshTokens.test.ts
  app/components/UI/Tokens/util/refreshTokens.ts
  app/selectors/accountsController.test.ts
  app/selectors/accountsController.ts
  app/selectors/tokenList.test.ts
  app/selectors/tokenList.ts
Labels: QA Passed, area-performance, team-assets, Run Smoke E2E

#15974 fix: Solana account reveal SRP with multiple imported SRPs cp-7.47.0 …
  app/components/Views/AccountActions/AccountActions.tsx
Labels: team-accounts, Run Smoke E2E

#15986 fix: update op logo
  app/images/optimism.png
Labels: No QA Needed, team-assets, Run Smoke E2E

#15766 feat: Remove env variables to hide 7702 feature
  .js.env.example
  app/components/Nav/App/App.tsx
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/confirmations/hooks/7702/useEIP7702Networks.ts
  bitrise.yml
  jest.config.js
Labels: No E2E Smoke Needed, team-confirmations

#15722 feat: multichain accounts - account details part 1
  app/components/UI/AddressCopy/AddressCopy.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountDetails.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/BaseAccountDetails/index.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/BaseAccountDetails/index.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/BaseAccountDetails/styles.ts
  app/components/Views/MultichainAccounts/AccountDetails/components/AccountInfo/AccountInfo.styles.ts
  app/components/Views/MultichainAccounts/AccountDetails/components/AccountInfo/AccountInfo.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/AccountInfo/AccountInfo.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/AccountInfo/index.ts
  app/constants/navigation/Routes.ts
  app/util/address/index.ts
  e2e/selectors/MultichainAccounts/AccountDetails.selectors.ts
  locales/languages/en.json
Labels: team-accounts, Run Smoke E2E

#15378 chore: Use metro extraNodeModules instead of rn-nodeify
  .depcheckrc.yml
  metro.config.js
  package.json
  scripts/setup.mjs
  shim.js
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#15837 fix: eth_signTypedData_v4 on Multichain API
  app/core/RPCMethods/RPCMethodMiddleware.ts
Labels: No QA Needed, team-wallet-api-platform, No E2E Smoke Needed

#15530 fix: currentAppVersion & currentMigration in AppMetadataController init
  app/core/Engine/Engine.test.ts
  app/core/Engine/controllers/app-metadata-controller/constants.ts
  app/core/Engine/controllers/app-metadata-controller/index.test.ts
  app/core/Engine/controllers/app-metadata-controller/index.ts
  app/core/Engine/messengers/app-metadata-controller-messenger/index.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#15791 feat: Add user setting to dismiss prompt for smart account upgrade
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/AdvancedSettings/index.test.tsx
  app/core/Analytics/MetaMetrics.events.ts
  app/core/RPCMethods/eip5792.test.ts
  app/core/RPCMethods/eip5792.ts
  app/selectors/preferencesController.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  e2e/selectors/Settings/AdvancedView.selectors.js
  locales/languages/en.json
  package.json
  patches/@metamask+preferences-controller+18.1.0.patch
  yarn.lock
Labels: No E2E Smoke Needed, team-confirmations

#15853 feat: add spam filtering for wallet_sendCalls
  app/components/Views/confirmations/components/footer/footer.tsx
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/RPCMethods/OriginThrottlingMiddleware.test.ts
  app/core/RPCMethods/OriginThrottlingMiddleware.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eip5792.test.ts
  app/core/RPCMethods/eip5792.ts
  app/core/RPCMethods/spam.test.ts
  app/core/RPCMethods/spam.ts
  app/core/SDKConnect/SDKConnectConstants.ts
Labels: No E2E Smoke Needed, team-confirmations

#16016 fix: cp-7.47.0 Use SVG width/height when available
  app/components/Snaps/SnapUIImage/SnapUIImage.tsx
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform, skip-sonar-cloud

#15993 feat: cp-7.47.0 fetch all tokens for bridge input
  CHANGELOG.md
  app/components/UI/Bridge/hooks/useTokens.ts
  app/components/UI/Bridge/hooks/useTopTokens/index.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#15854 feat: multichain api analytics
  app/components/Approvals/PermissionApproval/PermissionApproval.test.tsx
  app/components/Approvals/PermissionApproval/PermissionApproval.tsx
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnect.types.ts
  app/core/Analytics/MetaMetrics.types.ts
  app/util/metrics/MultichainAPI/getApiAnalyticsProperties.ts
Labels: No QA Needed, team-wallet-api-platform, No E2E Smoke Needed

#16039 fix: Revert "feat: add spam filtering for wallet_sendCalls (#15853)"
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/RPCMethods/OriginThrottlingMiddleware.test.ts
  app/core/RPCMethods/OriginThrottlingMiddleware.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eip5792.test.ts
  app/core/RPCMethods/eip5792.ts
  app/core/RPCMethods/spam.test.ts
  app/core/RPCMethods/spam.ts
  app/core/SDKConnect/SDKConnectConstants.ts
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-qa

#15796 fix: inital solana account creation in dapp connection flow.
  app/actions/multiSrp/index.test.ts
  app/actions/multiSrp/index.ts
  app/components/Nav/App/App.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.types.ts
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnect.types.ts
  app/components/Views/AccountConnect/AccountConnectCreateInitialAccount/AccountConnectCreateInitialAccount.styles.ts
  app/components/Views/AccountConnect/AccountConnectCreateInitialAccount/AccountConnectCreateInitialAccount.test.tsx
  app/components/Views/AccountConnect/AccountConnectCreateInitialAccount/AccountConnectCreateInitialAccount.tsx
  app/components/Views/AccountConnect/AccountConnectCreateInitialAccount/index.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/__snapshots__/AccountConnectMultiSelector.test.tsx.snap
  app/components/Views/AddNewAccount/AddNewAccount.test.tsx
  app/components/Views/AddNewAccount/AddNewAccount.tsx
  app/components/Views/AddNewAccount/AddNewAccount.types.ts
  app/components/Views/AddNewAccount/AddNewAccountBottomSheet.test.tsx
  app/components/Views/AddNewAccount/AddNewAccountBottomSheet.tsx
  app/components/Views/AddNewAccount/AddNewAccountBottomSheet.types.ts
  app/core/SnapKeyring/MultichainWalletSnapClient.ts
  e2e/selectors/wallet/AccountConnect.selectors.js
  locales/languages/en.json
Labels: No QA Needed, team-accounts, Run Smoke E2E

#15878 feat: Hero NFT redesign confirmation
  app/components/Views/confirmations/components/UI/hero/hero.styles.ts
  app/components/Views/confirmations/components/UI/hero/hero.test.tsx
  app/components/Views/confirmations/components/UI/hero/hero.tsx
  app/components/Views/confirmations/components/UI/hero/index.ts
  app/components/Views/confirmations/components/hero-nft/hero-nft.styles.ts
  app/components/Views/confirmations/components/hero-nft/hero-nft.test.tsx
  app/components/Views/confirmations/components/hero-nft/hero-nft.tsx
  app/components/Views/confirmations/components/hero-nft/index.ts
  app/components/Views/confirmations/components/hero-token/avatar-token-with-network-badge/avatar-token-with-network-badge.styles.ts
  app/components/Views/confirmations/components/hero-token/avatar-token-with-network-badge/avatar-token-with-network-badge.tsx
  app/components/Views/confirmations/components/hero-token/avatar-token-with-network-badge/index.ts
  app/components/Views/confirmations/components/hero-token/hero-token.styles.ts
  app/components/Views/confirmations/components/hero-token/hero-token.test.tsx
  app/components/Views/confirmations/components/hero-token/hero-token.tsx
  app/components/Views/confirmations/components/hero-token/index.ts
  app/components/Views/confirmations/components/info/transfer/transfer.tsx
  app/components/Views/confirmations/components/rows/transactions/hero-row/hero-row.test.tsx
  app/components/Views/confirmations/components/rows/transactions/hero-row/hero-row.tsx
  app/components/Views/confirmations/components/rows/transactions/hero-row/index.ts
  app/components/Views/confirmations/components/rows/transactions/token-hero/index.ts
  app/components/Views/confirmations/components/rows/transactions/token-hero/token-hero.tsx
  app/components/Views/confirmations/external/staking/info/staking-claim/staking-claim.tsx
  app/components/Views/confirmations/external/staking/info/staking-deposit/staking-deposit.tsx
  app/components/Views/confirmations/external/staking/info/staking-withdrawal/staking-withdrawal.tsx
  app/components/Views/confirmations/hooks/nft/useIsNft.test.ts
  app/components/Views/confirmations/hooks/nft/useIsNft.ts
  app/components/Views/confirmations/hooks/nft/useNft.test.ts
  app/components/Views/confirmations/hooks/nft/useNft.ts
  app/util/test/mock-data/root-state/nft.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#16031 fix: cp-7.47.0 fixing all ledger flow broken in android due to hermes engine bug.
  ios/Podfile.lock
  package.json
  patches/@ledgerhq+hw-app-eth+6.42.2.patch
  yarn.lock
Labels: QA Passed, team-hardware-wallets, Run Smoke E2E, regression-RC-7.47.0

#16032 fix: cp-7.47.0 set destination chain ID when token switch button is clicked
  app/components/UI/Bridge/hooks/useSwitchTokens/index.ts
Labels: QA Passed, No E2E Smoke Needed, team-swaps-and-bridge

#16033 chore: add Genesys network logo
  app/images/genesys.png
  app/images/image-icons.js
  app/util/networks/customNetworks.tsx
Labels: QA Passed, No E2E Smoke Needed, team-network-enablement

#15983 feat: Adding alert for batched un-used approvals
  app/components/UI/SimulationDetails/BatchApprovalRow/BatchApprovalRow.test.tsx
  app/components/UI/SimulationDetails/BatchApprovalRow/BatchApprovalRow.tsx
  app/components/Views/confirmations/components/UI/info-row/alert-row/alert-row.tsx
  app/components/Views/confirmations/components/UI/info-row/alert-row/constants.ts
  app/components/Views/confirmations/components/UI/inline-alert/inline-alert.test.tsx
  app/components/Views/confirmations/components/UI/inline-alert/inline-alert.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.test.tsx
  app/components/Views/confirmations/constants/alerts.ts
  app/components/Views/confirmations/hooks/alerts/useBatchedUnusedApprovalsAlert.test.tsx
  app/components/Views/confirmations/hooks/alerts/useBatchedUnusedApprovalsAlert.ts
  app/components/Views/confirmations/hooks/alerts/useConfirmationAlerts.test.ts
  app/components/Views/confirmations/hooks/alerts/useConfirmationAlerts.ts
  app/components/Views/confirmations/hooks/metrics/useConfirmationAlertMetrics.ts
  app/components/Views/confirmations/utils/approvals.ts
  locales/languages/en.json
Labels: No E2E Smoke Needed, team-confirmations

#16045 fix(permissions): properly hide Bitcoin network in permissions flow
  app/selectors/multichainNetworkController/index.ts
Labels: No QA Needed, team-wallet-api-platform, Run Smoke E2E

#16013 fix: add retries on solana discovery fail cp-7.47.0
  app/constants/storage.ts
  app/core/Authentication/Authentication.test.ts
  app/core/Authentication/Authentication.ts
  app/util/exponential-retry.test.ts
  app/util/exponential-retry.ts
Labels: No QA Needed, team-accounts, team-mmi, Run Smoke E2E, skip-sonar-cloud

#16054 feat: add spam filtering for wallet_sendCalls
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/RPCMethods/OriginThrottlingMiddleware.test.ts
  app/core/RPCMethods/OriginThrottlingMiddleware.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eip5792.test.ts
  app/core/RPCMethods/eip5792.ts
  app/core/RPCMethods/spam.test.ts
  app/core/RPCMethods/spam.ts
  app/core/SDKConnect/SDKConnectConstants.ts
Labels: Run Smoke E2E, team-confirmations

#15653 fix: E2E test for the fix of the issue 15523
  e2e/fixtures/fixture-builder.js
  e2e/pages/Browser/BrowserView.js
  e2e/specs/browser/open-site-with-broken-svg.spec.js
  e2e/utils/Assertions.js
Labels: android, QA Passed, team-mobile-platform, INVALID-PR-TEMPLATE, No E2E Smoke Needed

#15961 fix: WebView keyboard UI glitch
  app/components/UI/UrlAutocomplete/index.tsx
  app/components/UI/UrlAutocomplete/styles.ts
  app/components/Views/BrowserTab/BrowserTab.tsx
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#15861 feat: new build commands for Android and iOS
  app/core/Engine/controllers/TokenSearchDiscoveryController/utils.ts
  app/core/Engine/controllers/network-controller/utils.test.ts
  app/core/Engine/controllers/network-controller/utils.ts
  app/core/Engine/controllers/remote-feature-flag-controller/utils.ts
  app/util/sentry/utils.js
  app/util/sentry/utils.test.ts
  app/util/test/utils.js
  bitrise.yml
  metro.transform.js
  package.json
  scripts/build.sh
Labels: No QA Needed, team-mobile-platform, INVALID-PR-TEMPLATE, No E2E Smoke Needed

#16107 test: Revert "fix: E2E test for the fix of the issue 15523 (#15653)"
  e2e/fixtures/fixture-builder.js
  e2e/pages/Browser/BrowserView.js
  e2e/specs/browser/open-site-with-broken-svg.spec.js
  e2e/utils/Assertions.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#16083 fix: cp-7.47.0 improve transaction details date formatting
  app/components/UI/Bridge/components/TransactionDetails/TransactionDetails.tsx
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#16061 refactor: Active/Selected account change toast for Solana
  app/components/Views/Browser/index.js
  app/components/Views/Browser/index.test.tsx
Labels: No QA Needed, team-wallet-api-platform, No E2E Smoke Needed

#16134 fix: `enableMultichainAccounts` flag
  app/selectors/featureFlagController/multichainAccounts/enabledMultichainAccounts.test.ts
  app/selectors/featureFlagController/multichainAccounts/enabledMultichainAccounts.ts
Labels: No QA Needed, team-accounts, No E2E Smoke Needed

#16139 chore: add e2e test utils for user storage
  e2e/specs/identity/account-syncing/sync-after-adding-custom-name-account.spec.js
  e2e/specs/identity/account-syncing/sync-with-account-balances.spec.js
  e2e/specs/identity/utils/helpers.js
  e2e/specs/identity/utils/user-storage/userStorageMockttpController.js
Labels: No QA Needed, Run Smoke E2E, team-identity

#16091 feat(deposit): fetch user KYC status and route to correct view
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/__snapshots__/EnterEmail.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.test.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/__snapshots__/OtpCode.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/ProviderWebview/ProviderWebview.tsx
  app/components/UI/Ramp/Deposit/Views/ProviderWebview/index.ts
  app/components/UI/Ramp/Deposit/Views/Root/Root.test.tsx
  app/components/UI/Ramp/Deposit/Views/Root/Root.tsx
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/VerifyIdentity.test.tsx
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/__snapshots__/VerifyIdentity.test.tsx.snap
  app/components/UI/Ramp/Deposit/hooks/useDepositSdkMethod.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositSdkMethod.ts
  app/components/UI/Ramp/Deposit/routes/index.tsx
  app/constants/navigation/Routes.ts
  package.json
  yarn.lock
Labels: No QA Needed, team-ramp, No E2E Smoke Needed, skip-sonar-cloud

#16137 fix: cp-7.47.0 migration order to cherry pick the phishing controller migration in 7.47
  app/store/migrations/078.test.ts
  app/store/migrations/078.ts
  app/store/migrations/082.test.ts
  app/store/migrations/082.ts
Labels: No QA Needed, No E2E Smoke Needed, team-product-safety

#16140 fix: cp-7.47.0 accounts for scientific notation in amounts
  app/components/UI/Bridge/hooks/useInsufficientBalance/index.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#16041 fix(16004): filter network icons by account scopes in dapp connections
  app/components/UI/PermissionsSummary/PermissionsSummary.test.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnect.types.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.test.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/__snapshots__/AccountConnectMultiSelector.test.tsx.snap
  app/components/Views/AccountConnect/AccountsConnectedList/AccountsConnectedList.test.tsx
  app/components/Views/AccountConnect/AccountsConnectedList/AccountsConnectedList.tsx
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissions.test.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/hooks/useAccounts/useAccounts.test.ts
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useAccounts/useAccounts.types.ts
Labels: No QA Needed, Run Smoke E2E, team-wallet-ux

#15549 fix: update account list items design
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.tsx
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/AvatarNetwork.styles.ts
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.tsx
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.types.ts
  app/component-library/components/Cells/Cell/variants/CellSelect/CellSelect.tsx
  app/component-library/components/Pickers/PickerNetwork/__snapshots__/PickerNetwork.test.tsx.snap
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/__snapshots__/BridgeSourceTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/DestinationAccountSelector.tsx/DestinationAccountSelector.test.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.styles.ts
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.test.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.tsx
  app/components/UI/EvmAccountSelectorList/__snapshots__/EvmAccountSelectorList.test.tsx.snap
  app/components/UI/NetworkModal/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/UI/Stake/Views/StakeConfirmationView/__snapshots__/StakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/Views/UnstakeConfirmationView/__snapshots__/UnstakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/components/StakingConfirmation/AccountCard/__snapshots__/AccountCard.test.tsx.snap
  app/components/UI/Stake/components/StakingConfirmation/YouReceiveCard/__snapshots__/YouReceiveCard.test.tsx.snap
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/NftDetails/__snapshots__/NftDetails.test.ts.snap
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/UI/info-row/info-value/network/__snapshots__/network.test.tsx.snap
  app/components/Views/confirmations/components/rows/account-network-info-row/account-network-info-expanded/__snapshots__/account-network-info-expanded.test.tsx.snap
  app/components/hooks/useMultichainBalances/useSelectedAccountMultichainBalances.test.ts
  app/components/hooks/useMultichainBalances/utils.ts
  app/selectors/multichain/multichain.ts
  app/util/networks/index.js
Labels: No QA Needed, team-accounts, team-mmi, Run Smoke E2E

#16110 feat(deposit): adds logout button to settings page
  app/components/UI/Ramp/Aggregator/Views/Settings/Settings.test.tsx
  app/components/UI/Ramp/Aggregator/Views/Settings/Settings.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.test.tsx
  app/components/UI/Ramp/Deposit/sdk/index.test.tsx
  app/components/UI/Ramp/Deposit/sdk/index.tsx
  locales/languages/en.json
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#15992 feat: identity/profile multichain analytics
  app/components/UI/NetworkModal/index.test.tsx
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/OptinMetrics/index.js
  app/components/UI/OptinMetrics/index.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.test.tsx
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  app/util/metrics/MultichainAPI/networkMetricUtils.test.ts
  app/util/metrics/MultichainAPI/networkMetricUtils.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/UserProfileAnalyticsMetaData.types.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.test.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
Labels: No QA Needed, team-wallet-api-platform, No E2E Smoke Needed

#16151 perf: cache Intl instances
  app/components/UI/Ramp/Aggregator/utils/index.test.ts
  app/components/UI/Ramp/Aggregator/utils/index.ts
  app/components/UI/SimulationDetails/FiatDisplay/useFiatFormatter.ts
  app/components/UI/SimulationDetails/formatAmount.ts
  app/util/assets/index.ts
  app/util/confirm-tx.js
  app/util/intl.test.ts
  app/util/intl.ts
Labels: QA Passed, team-assets, Run Smoke E2E

#16068 fix: Do not lowercase account addresses cp-7.47.0
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Snaps/SnapUIAddress/useDisplayName.ts
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountOverview/index.js
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/CollectibleContractOverview/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.tsx
  app/components/UI/HardwareWallet/AccountSelector/index.tsx
  app/components/UI/Ramp/Aggregator/components/Account.tsx
  app/components/UI/Ramp/Aggregator/hooks/useHandleSuccessfulOrder.ts
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/index.js
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.tsx
  app/components/UI/TransactionElement/utils.js
  app/components/Views/AccountConnect/AccountsConnectedList/AccountsConnectedList.tsx
  app/components/Views/Asset/index.js
  app/components/Views/BrowserTab/BrowserTab.tsx
  app/components/Views/Collectible/index.js
  app/components/Views/LedgerSelectAccount/index.tsx
  app/components/Views/SDK/SDKSessionModal/SDKSessionModal.tsx
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/NotificationsSettings/AccountsList.hooks.test.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.hooks.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.test.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Snaps/SnapSettings/SnapSettings.tsx
  app/components/Views/TransactionsView/index.js
  app/components/Views/Wallet/index.tsx
  app/components/Views/confirmations/legacy/Send/index.js
  app/components/Views/confirmations/legacy/SendFlow/SendTo/index.js
  app/components/hooks/DisplayName/useInternalAccountNames.ts
  app/components/hooks/useExistingAddress.ts
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Permissions/index.test.ts
  app/core/Permissions/index.ts
  app/core/RPCMethods/eip5792.ts
  app/core/SDKConnect/AndroidSDK/AndroidService/sendMessage.ts
  app/core/SDKConnect/SDKDeeplinkProtocol/DeeplinkProtocolService.ts
  app/core/SnapKeyring/SnapKeyring.ts
  app/core/Vault.js
  app/core/Vault.test.ts
  app/core/WalletConnect/WalletConnect.js
  app/reducers/swaps/index.js
  app/selectors/accountsController.ts
  app/selectors/smartTransactionsController.test.ts
  app/selectors/smartTransactionsController.ts
  app/util/ENSUtils.js
  app/util/activity/index.ts
  app/util/address/index.test.ts
  app/util/address/index.ts
  app/util/dappTransactions/index.ts
  e2e/specs/identity/account-syncing/sync-with-account-balances.spec.js
  e2e/specs/notifications/utils/constants.js
  e2e/specs/wallet/incoming-transactions.spec.js
Labels: No QA Needed, team-accounts, Run Smoke E2E, skip-sonar-cloud

#15841 feat: 1.3 disable security check prompt
  app/components/Nav/Main/index.js
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/hooks/MinimumVersions/useMinimumVersions.test.ts
  app/components/hooks/MinimumVersions/useMinimumVersions.tsx
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/quarantine/start-exploring.failing.js
  e2e/viewHelper.js
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#16012 chore: upgrade assets-controllers to v68
  app/components/UI/AddCustomCollectible/index.test.tsx
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/Collectibles/__snapshots__/index.test.tsx.snap
  app/components/UI/Collectibles/index.js
  app/components/UI/Collectibles/index.test.tsx
  app/components/Views/AddAsset/__snapshots__/AddAsset.test.tsx.snap
  app/components/Views/Collectible/index.js
  app/components/Views/Collectible/index.test.tsx
  app/components/Views/NftOptions/NftOptions.tsx
  app/core/Engine/Engine.ts
  app/selectors/networkController.ts
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+assets-controllers+68.0.0.patch
  yarn.lock
Labels: No QA Needed, team-assets, Run Smoke E2E, skip-sonar-cloud

#16168 refactor: getMultichainBlockExplorer to be a hook
  app/components/Views/AccountActions/AccountActions.tsx
  app/core/Multichain/networks.ts
Labels: No QA Needed, team-accounts, Run Smoke E2E

#15884 feat: multichain accounts - account details part 2
  app/components/Nav/App/App.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountDetails.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountDetails.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/BaseAccountDetails/index.tsx
  app/components/Views/MultichainAccounts/sheets/EditAccountName/EditAccountName.styles.ts
  app/components/Views/MultichainAccounts/sheets/EditAccountName/EditAccountName.test.tsx
  app/components/Views/MultichainAccounts/sheets/EditAccountName/EditAccountName.tsx
  app/components/Views/MultichainAccounts/sheets/EditAccountName/index.ts
  app/components/Views/MultichainAccounts/sheets/ShareAddress/ShareAddress.styles.ts
  app/components/Views/MultichainAccounts/sheets/ShareAddress/ShareAddress.test.tsx
  app/components/Views/MultichainAccounts/sheets/ShareAddress/ShareAddress.tsx
  app/components/Views/MultichainAccounts/sheets/ShareAddress/index.ts
  e2e/selectors/MultichainAccounts/EditAccountName.selectors.ts
  e2e/selectors/MultichainAccounts/ShareAddress.selectors.ts
Labels: No QA Needed, team-accounts, Run Smoke E2E

#15964 feat(4057): account list active networks avatars
  app/component-library/components/Avatars/AvatarGroup/AvatarGroup.constants.ts
  app/component-library/components/Avatars/AvatarGroup/AvatarGroup.tsx
  app/component-library/components/Avatars/AvatarGroup/__snapshots__/AvatarGroup.test.tsx.snap
  app/components/UI/AccountNetworkIndicator/AccountNetworkIndicator.styles.ts
  app/components/UI/AccountNetworkIndicator/AccountNetworkIndicator.test.tsx
  app/components/UI/AccountNetworkIndicator/AccountNetworkIndicator.tsx
  app/components/UI/AccountNetworkIndicator/__snapshots__/AccountNetworkIndicator.test.tsx.snap
  app/components/UI/AccountNetworkIndicator/index.ts
  app/components/UI/CaipAccountSelectorList/CaipAccountSelectorList.test.tsx
  app/components/UI/CaipAccountSelectorList/CaipAccountSelectorList.tsx
  app/components/UI/CaipAccountSelectorList/__snapshots__/CaipAccountSelectorList.test.tsx.snap
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.test.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.tsx
  app/components/UI/EvmAccountSelectorList/__snapshots__/EvmAccountSelectorList.test.tsx.snap
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissions.test.tsx
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportNewSecretRecoveryPhrase/index.tsx
  app/components/Views/ImportPrivateKey/index.tsx
  app/components/Views/Settings/ExperimentalSettings/index.test.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/components/hooks/useAccounts/useAccounts.test.ts
  app/components/hooks/useAccountsWithNetworkActivitySync.test.tsx
  app/components/hooks/useAccountsWithNetworkActivitySync.ts
  app/selectors/multichainNetworkController/index.test.ts
  app/selectors/multichainNetworkController/index.ts
Labels: No QA Needed, team-design-system, Run Smoke E2E, team-wallet-ux, Per-Dapp-Selected-Network, release-7.49.0

#16173 fix: regression tests
  e2e/pages/Onboarding/CreatePasswordView.js
  e2e/pages/Settings/SecurityAndPrivacy/ChangePasswordView.js
  e2e/selectors/Onboarding/ChoosePassword.selectors.js
  e2e/specs/assets/transaction.spec.js
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/onboarding/term-of-use.spec.js
  e2e/specs/settings/delete-wallet.spec.js
  e2e/specs/wallet/send-ERC-token.spec.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#16111 fix: make mandatory not interactable ( dismissed )
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.styles.ts
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.test.tsx
  app/component-library/components/Modals/ModalMandatory/ModalMandatory.tsx
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#16193 fix: cp-7.47.0 add T&Cs to swap
  app/components/UI/Bridge/Views/BridgeView/index.tsx
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#16150 chore(4144): enable feature flag and fix unit tests falling this enable.
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/UI/TransactionElement/TransactionDetails/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissions.test.tsx
  app/components/Views/confirmations/legacy/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/util/networks/index.js
  e2e/selectors/Browser/TestDapp.selectors.js
  e2e/specs/confirmations-redesigned/transactions/dapp-initiated-transfer.spec.ts
  e2e/specs/confirmations-redesigned/transactions/per-dapp-selected-network.spec.js
  e2e/specs/confirmations-redesigned/transactions/send-max-transfer.spec.ts
  e2e/specs/confirmations-redesigned/transactions/wallet-initiated-transfer.spec.ts
  e2e/specs/multichain/permissions/chains/permission-system-add-non-permitted.spec.js
  e2e/specs/multichain/permissions/chains/permission-system-dapp-chain-switch-grant.spec.js
Labels: No QA Needed, No E2E Smoke Needed, team-wallet-ux, Per-Dapp-Selected-Network, release-7.49.0

#16008 feat: add remove account components for multichain accounts
  app/components/Nav/App/App.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountDetails.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/HardwareAccountDetails/HardwareAccountDetails.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/HardwareAccountDetails/HardwareAccountDetails.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/HardwareAccountDetails/index.ts
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/PrivateKeyAccountDetails/PrivateKeyAccountDetails.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/PrivateKeyAccountDetails/PrivateKeyAccountDetails.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/PrivateKeyAccountDetails/index.ts
  app/components/Views/MultichainAccounts/AccountDetails/components/RemoveAccount/RemoveAccount.styles.ts
  app/components/Views/MultichainAccounts/AccountDetails/components/RemoveAccount/RemoveAccount.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/RemoveAccount/RemoveAccount.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/RemoveAccount/index.ts
  app/components/Views/MultichainAccounts/sheets/DeleteAccount/DeleteAccount.styles.ts
  app/components/Views/MultichainAccounts/sheets/DeleteAccount/DeleteAccount.test.tsx
  app/components/Views/MultichainAccounts/sheets/DeleteAccount/DeleteAccount.tsx
  app/components/Views/MultichainAccounts/sheets/DeleteAccount/index.ts
  e2e/specs/multichainAccounts/delete-account.ts
Labels: No QA Needed, team-accounts, Run Smoke E2E

#16194 fix: cp-7.49.0 Fix fiat values for non-test networks
  app/components/Views/confirmations/components/hero-token/hero-token.tsx
  app/components/Views/confirmations/hooks/useTokenAmount.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#16252 remove changelog unReleased temporarily
  CHANGELOG.md
Labels: team-mobile-platform

#16213 fix: Add :app: prefix to specify exact Android task to build
  scripts/build.sh
Labels: No QA Needed, needs-dev-review, No E2E Smoke Needed, no changelog required

#16113 feat(deposit): pass email to OTP view
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.test.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.tsx
  app/components/UI/Ramp/Deposit/hooks/useKycPolling.test.ts
  app/components/UI/Ramp/Deposit/sdk/index.test.tsx
  app/components/UI/Ramp/Deposit/sdk/index.tsx
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#16243 fix: cp-7.47.0 background bridge sending accounts changed events to WC/Remote connections
  app/core/BackgroundBridge/BackgroundBridge.js
Labels: No QA Needed, team-wallet-api-platform, No E2E Smoke Needed, release-7.47.0

#16148 feat(deposit): adds get started screen to deposit flow
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.test.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.test.tsx
  app/components/UI/Ramp/Deposit/Views/Root/GetStarted/GetStarted.styles.ts
  app/components/UI/Ramp/Deposit/Views/Root/GetStarted/GetStarted.test.tsx
  app/components/UI/Ramp/Deposit/Views/Root/GetStarted/GetStarted.tsx
  app/components/UI/Ramp/Deposit/Views/Root/GetStarted/__snapshots__/GetStarted.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Root/GetStarted/index.ts
  app/components/UI/Ramp/Deposit/Views/Root/Root.test.tsx
  app/components/UI/Ramp/Deposit/Views/Root/Root.tsx
  app/components/UI/Ramp/Deposit/Views/Root/__snapshots__/Root.test.tsx.snap
  app/components/UI/Ramp/Deposit/assets/deposit-get-started-illustration.png
  app/components/UI/Ramp/Deposit/hooks/useKycPolling.test.ts
  app/components/UI/Ramp/Deposit/sdk/index.tsx
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/index.ts
  app/reducers/fiatOrders/types.ts
  app/util/sentry/utils.test.ts
  e2e/fixtures/fixture-builder.js
  locales/languages/en.json
Labels: No QA Needed, team-ramp, Run Smoke E2E

#16034 perf: Unmount Transactions and Browser (incl tabs) screens when unfocused
  app/components/Nav/Main/MainNavigator.js
  app/components/Views/Browser/__snapshots__/index.test.tsx.snap
  app/components/Views/Browser/index.js
  app/components/Views/UnmountOnBlur/README.md
  app/components/Views/UnmountOnBlur/index.test.tsx
  app/components/Views/UnmountOnBlur/index.tsx
Labels: No QA Needed, area-performance, team-mobile-platform, Run Smoke E2E

#16249 feat: add ConfirmationView class for end-to-end testing
  e2e/pages/Confirmation/ConfirmationView.ts
  e2e/pages/Send/TransactionConfirmView.js
  e2e/selectors/Confirmation/ConfirmationView.selectors.ts
Labels: No QA Needed, Run Smoke E2E, area-qa, team-qa

#16250 fix: number_of_hd_entropies value when keyring is unlocked
  app/components/Views/Wallet/index.tsx
  app/util/metrics/UserSettingsAnalyticsMetaData/UserProfileAnalyticsMetaData.types.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.test.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
Labels: No QA Needed, team-accounts, Run Smoke E2E

#16209 feat: identity/profile multichain analytics (#15992)
  app/components/UI/NetworkModal/index.test.tsx
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/OptinMetrics/index.js
  app/components/UI/OptinMetrics/index.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.test.tsx
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  app/util/metrics/MultichainAPI/networkMetricUtils.test.ts
  app/util/metrics/MultichainAPI/networkMetricUtils.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/UserProfileAnalyticsMetaData.types.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.test.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
Labels: team-wallet-api-platform, Run Smoke E2E, release-7.49.0

#16229 fix: show snap accounts in account count in AddNewAccount cp-7.47.0
  app/components/Views/AddNewAccount/AddNewAccount.test.tsx
  app/components/Views/AddNewAccount/AddNewAccount.tsx
  app/components/hooks/useHdKeyringsWithSnapAccounts.ts
Labels: team-accounts, Run Smoke E2E

#16224 fix: #16215 - SRP correctly imported in any format
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#15795 feat: 1.5 new srp backup step1
  app/components/Nav/App/App.tsx
  app/components/Nav/Main/index.js
  app/components/UI/BackupAlert/BackupAlert.test.tsx
  app/components/UI/BackupAlert/BackupAlert.tsx
  app/components/UI/BackupAlert/__snapshots__/BackupAlert.test.tsx.snap
  app/components/UI/Navbar/index.test.jsx
  app/components/UI/SeedphraseModal/__snapshots__/index.test.tsx.snap
  app/components/UI/SeedphraseModal/index.js
  app/components/UI/SeedphraseModal/index.test.tsx
  app/components/UI/SkipAccountSecurityModal/__snapshots__/index.test.tsx.snap
  app/components/UI/SkipAccountSecurityModal/index.js
  app/components/UI/SkipAccountSecurityModal/index.test.tsx
  app/components/Views/AccountBackupStep1/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/AccountBackupStep1/index.test.tsx
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountBackupStep1B/index.js
  app/components/Views/AccountBackupStep1B/index.test.tsx
  app/components/Views/ManualBackupStep2/index.test.tsx
  app/constants/navigation/Routes.ts
  app/images/secure_wallet.png
  e2e/pages/Onboarding/SkipAccountSecurityModal.js
  e2e/pages/importSrp/ImportSrpView.js
  e2e/selectors/Onboarding/ManualBackUpSteps.selectors.js
  e2e/utils/Gestures.js
  e2e/utils/Utilities.js
  e2e/viewHelper.js
  locales/languages/en.json
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#16280 fix: cp-7.49.0 Fix `useConfirmationRedesignEnabled` hook
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#15804 feat: 1.6 new srp onboarding success
  app/animations/Celebrating_Fox.json
  app/animations/Concealing_Fox.json
  app/components/Nav/App/App.tsx
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/AccountBackupStep1/index.test.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ManualBackupStep2/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/OnboardingSuccess/__snapshots__/index.test.js.snap
  app/components/Views/OnboardingSuccess/index.styles.ts
  app/components/Views/OnboardingSuccess/index.test.js
  app/components/Views/OnboardingSuccess/index.test.tsx
  app/components/Views/OnboardingSuccess/index.tsx
  app/constants/onboarding.js
  app/constants/onboarding.ts
  app/declarations/index.d.ts
  e2e/selectors/Onboarding/OnboardingSuccess.selectors.js
  locales/languages/en.json
  package.json
  yarn.lock
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#16290 chore: Update code owners for accounts components
  .github/CODEOWNERS
Labels: No QA Needed, team-accounts, No E2E Smoke Needed

#16064 feat: add base network to networks enabled by default
  app/components/Views/OnboardingSuccess/OnboardingAssetsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/core/Engine/Engine.ts
  app/store/migrations/035.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: QA Passed, team-assets, Run Smoke E2E

#16263 test: migrate receive flow e2e infrastructure to TypeScript with shared types
  e2e/pages/Notifications/NotificationMenuView.ts
  e2e/pages/Receive/PaymentRequestQrBottomSheet.ts
  e2e/pages/Receive/RequestPaymentModal.ts
  e2e/pages/Receive/RequestPaymentView.ts
  e2e/pages/Receive/SendLinkView.ts
  e2e/selectors/Receive/RequestPaymentModal.selectors.ts
  e2e/selectors/Receive/RequestPaymentView.selectors.ts
  e2e/selectors/Receive/SendLinkView.selectors.ts
  e2e/specs/bridge/bridge-functionality.spec.ts
  e2e/specs/notifications/enable-notifications-after-onboarding.spec.ts
  e2e/specs/wallet/request-token-flow.spec.ts
  e2e/types/detox.d.ts
Labels: No QA Needed, needs-dev-review, Run Smoke E2E, team-qa

#16043 fix(15815): in TransactionElement componet, ticker displayed as undefined instead instead of ticker symbol. This is now fixed
  app/components/UI/TransactionElement/index.js
Labels: No QA Needed, No E2E Smoke Needed, team-wallet-ux, release-7.49.0

#15357 feat: add multi-SRP EVM Account Syncing
  app/actions/identity/index.test.ts
  app/actions/identity/index.ts
  app/components/UI/Identity/BackupAndSyncFeaturesToggles/BackupAndSyncFeaturesToggles.test.tsx
  app/components/UI/Identity/BackupAndSyncToggle/BackupAndSyncToggle.test.tsx
  app/components/Views/ImportNewSecretRecoveryPhrase/index.test.tsx
  app/components/Views/ImportNewSecretRecoveryPhrase/index.tsx
  app/core/Engine/messengers/identity/user-storage-controller-messenger.test.ts
  app/core/Engine/messengers/identity/user-storage-controller-messenger.ts
  app/util/identity/hooks/useAccountSyncing/useAccountSyncing.test.tsx
  app/util/identity/hooks/useAuthentication/useAutoSignIn.test.ts
  app/util/identity/hooks/useAuthentication/useAutoSignIn.ts
  app/util/identity/hooks/useAuthentication/useSignIn.test.ts
  app/util/identity/hooks/useAuthentication/useSignIn.ts
  app/util/identity/hooks/useIdentityEffects/useIdentityEffects.test.ts
  app/util/sentry/utils.js
  e2e/pages/wallet/MultiSrp/Common/SRPListItemComponent.ts
  e2e/specs/identity/account-syncing/account-sync-settings-toggle.spec.js
  e2e/specs/identity/account-syncing/sync-with-multi-srp.spec.js
  e2e/specs/identity/utils/constants.js
  e2e/specs/identity/utils/helpers.js
  e2e/specs/identity/utils/mocks.js
  e2e/specs/identity/utils/user-storage/generateEncryptedData.js
  e2e/specs/identity/utils/user-storage/userStorageMockttpController.js
  e2e/specs/identity/utils/user-storage/userStorageMockttpController.test.js
  e2e/specs/multisrp/import-srp.spec.ts
  e2e/specs/notifications/utils/mocks.ts
  e2e/utils/Matchers.js
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#16235 fix: fixes unit test guide url
  .github/guidelines/CODING_GUIDELINES.md
Labels: No QA Needed, Code Impact - Low, team-mobile-platform, No E2E Smoke Needed, no changelog required

#16305 chore: revert 15669 from 7.49.0
  app/component-library/components/Form/TextField/TextField.styles.ts
  app/components/Nav/App/App.tsx
  app/components/UI/LoginOptionsSwitch/LoginOptionsSwitch.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/OptinMetrics/__snapshots__/index.test.tsx.snap
  app/components/UI/OptinMetrics/index.js
  app/components/UI/SecurityOptionToggle/SecurityOptionToggle.tsx
  app/components/UI/SecurityOptionToggle/styles.ts
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.tsx.snap
  app/components/Views/ChoosePassword/__snapshots__/index.test.tsx.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ChoosePassword/index.test.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportFromSecretRecoveryPhrase/constant.ts
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/styles.ts
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/images/danger-solid.svg
  app/images/success.svg
  e2e/pages/Onboarding/CreatePasswordView.js
  e2e/pages/Onboarding/ImportWalletView.js
  e2e/selectors/Onboarding/ChoosePassword.selectors.js
  e2e/selectors/Onboarding/ImportFromSeed.selectors.js
  e2e/viewHelper.js
  locales/languages/en.json
Labels: team-mobile-platform, Run Smoke E2E

#16310 chore(deposit): upgrade sdk to 1.0.2
  package.json
  yarn.lock
Labels: QA Passed, team-ramp, Run Smoke E2E

#16300 fix: cp-7.49.0 Integrate ErrorReportingService to fix NetworkController init
  app/core/Engine/Engine.ts
  app/core/Engine/types.ts
  package.json
Labels: team-wallet-framework, Run Smoke E2E

#16346 chore: upgrade native-ramps- sdk to 1.0.4
  package.json
  yarn.lock
Labels: No QA Needed, team-ramp, Run Smoke E2E

#16342 fix: fix flaky test on token list
  e2e/specs/assets/multichain/asset-list.spec.js
Labels: No QA Needed, team-assets, Run Smoke E2E, no-changelog

#16123 fix: Progress Bar Carousel
  app/components/Views/OnboardingCarousel/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingCarousel/index.tsx
Labels: area-onboarding, No QA Needed, No E2E Smoke Needed, team-web3auth

#16225 fix: #16214 - users are unable to paste their SRP into the import fi…
  app/components/Views/ImportFromSecretRecoveryPhrase/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
  app/util/string/index.ts
Labels: area-onboarding, No QA Needed, No E2E Smoke Needed, team-web3auth

#16364 chore: cp-7.49.0 bump solana 1.33.1
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-new-networks

#16366 fix: cp-7.49.0 lens-logo-background
  app/images/lens.png
Labels: QA Passed, No E2E Smoke Needed, team-network-enablement

#16365 build: bump `@metamask/notification-services-controller@10.0.0`
  package.json
  yarn.lock
Labels: No QA Needed, team-assets, Run Smoke E2E

#16359 fix: cp-7.47.0 use keyringMetadata from keyring
  app/core/Vault.js
  app/core/Vault.test.ts
  e2e/fixtures/fixture-builder.js
  e2e/pages/Settings/SecurityAndPrivacy/SecurityAndPrivacyView.js
  e2e/specs/accounts/change-password.spec.ts
Labels: No QA Needed, team-accounts, Run Smoke E2E, release-7.47.0

#16372 test: temporarily disable multisrp e2e
  e2e/specs/quarantine/import-srp.failing.ts
Labels: No QA Needed, Run Smoke E2E, team-qa

#16211 feat: Stake-1036: fix unknown method in confirmation bottom sheet for lending transactions
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-earn

#16352 feat(deposit): adds initial deposit processor
  app/components/UI/Ramp/Aggregator/Views/OrderDetails/OrderDetails.test.tsx
  app/components/UI/Ramp/Aggregator/Views/OrdersList/OrdersList.tsx
  app/components/UI/Ramp/Aggregator/Views/OrdersList/__snapshots__/OrdersList.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/OrderListItem/OrderListItem.tsx
  app/components/UI/Ramp/Aggregator/components/OrderListItem/__snapshots__/OrderListItem.test.tsx.snap
  app/components/UI/Ramp/Deposit/constants.ts
  app/components/UI/Ramp/Deposit/orderProcessor/index.test.ts
  app/components/UI/Ramp/Deposit/orderProcessor/index.ts
  app/components/UI/Ramp/Deposit/sdk/index.tsx
  app/components/UI/Ramp/Deposit/utils/transakNetworkToChainId.test.ts
  app/components/UI/Ramp/Deposit/utils/transakNetworkToChainId.ts
  app/components/UI/Ramp/utils/networkChainIdEquals.test.ts
  app/components/UI/Ramp/utils/networkChainIdEquals.ts
  app/reducers/fiatOrders/index.ts
  app/reducers/fiatOrders/types.ts
  locales/languages/en.json
Labels: QA Passed, team-ramp, Run Smoke E2E

#16350 chore: add hoodi support for mobile pooled staking
  app/components/UI/Stake/testUtils/index.ts
  app/util/networks/customNetworks.tsx
  e2e/resources/networks.e2e.js
  e2e/specs/stake/stake-action-smoke.spec.js
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-earn

#16355 manual cherry-pick 7.47.0 fix: restore snap and imported srps when changing password #15237
  app/core/SnapKeyring/MultichainWalletSnapClient.test.ts
  app/core/SnapKeyring/MultichainWalletSnapClient.ts
  app/core/Vault.js
  app/core/Vault.test.ts
  app/util/test/accountsControllerTestUtils.ts
Labels: team-accounts, Run Smoke E2E

#16385 cp: fix: Remove unnecessary visibility checks for api-spec (#15823)
  e2e/api-specs/ConfirmationsRejectionRule.js
  e2e/specs/quarantine/start-exploring.failing.js
Labels: team-qa

#16387 cp: test: refactor and fix ramps e2e test cases
  e2e/specs/ramps/offramp.spec.js
  e2e/specs/ramps/onramp.spec.js
Labels: team-qa

#16388 cp: test: refactor and fix ramps e2e test cases
  app/components/UI/Ramp/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Ramp/components/RegionModal.tsx
  e2e/pages/Ramps/SelectRegionView.js
  e2e/selectors/Ramps/SelectRegion.selectors.js
  e2e/specs/ramps/offramp.spec.js
  e2e/specs/ramps/onramp-parameters.spec.js
  e2e/specs/ramps/onramp.spec.js
Labels: team-qa

#16389 cp: fix: update carousel tests for solana and refactor
  app/components/UI/Carousel/__snapshots__/index.test.tsx.snap
  app/components/UI/Carousel/constants.ts
  app/components/UI/Carousel/index.test.tsx
  app/components/UI/Carousel/index.tsx
  app/components/UI/Carousel/types.ts
  e2e/pages/wallet/WalletView.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/wallet/carousel.spec.js
Labels: team-qa

#16391 cp: chore: move flaky test to quarantine (#16120)
  e2e/specs/quarantine/deeplink-to-sell-flow.failing.js
Labels: team-qa

#15833 feat: 1.7 new-srp-login
  app/components/UI/BiometryButton/BiometryButton.tsx
  app/components/UI/DeleteWalletModal/__snapshots__/index.test.tsx.snap
  app/components/UI/DeleteWalletModal/index.test.tsx
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/UI/DeleteWalletModal/styles.ts
  app/components/UI/Navbar/index.test.jsx
  app/components/UI/SeedphraseModal/index.test.tsx
  app/components/Views/Login/__snapshots__/index.test.tsx.snap
  app/components/Views/Login/index.test.tsx
  app/components/Views/Login/index.tsx
  app/components/Views/Login/styles.ts
  app/components/Views/OnboardingSuccess/index.test.tsx
  app/components/Views/OnboardingSuccess/index.tsx
  e2e/viewHelper.js
  locales/languages/en.json
Labels: area-onboarding, No QA Needed, No E2E Smoke Needed, team-web3auth

#15989 feat: New Metametrics flow
  app/components/UI/OptinMetrics/__snapshots__/index.test.tsx.snap
  app/components/UI/OptinMetrics/index.js
  app/components/UI/SkipAccountSecurityModal/__snapshots__/index.test.tsx.snap
  app/components/UI/SkipAccountSecurityModal/index.js
  app/components/UI/SkipAccountSecurityModal/index.test.tsx
  app/components/Views/AccountBackupStep1/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/AccountBackupStep1/index.test.tsx
  app/components/Views/AccountBackupStep1B/index.js
  app/components/Views/AccountBackupStep1B/index.test.tsx
  app/components/Views/ChoosePassword/__snapshots__/index.test.tsx.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ChoosePassword/index.test.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
  app/components/Views/ManualBackupStep1/index.js
  app/components/Views/ManualBackupStep1/index.test.tsx
  app/components/Views/ManualBackupStep2/index.js
  app/components/Views/ManualBackupStep2/index.test.tsx
  app/components/Views/Onboarding/index.js
  app/components/Views/Onboarding/index.test.tsx
  e2e/pages/Onboarding/OnboardingSuccessView.js
  e2e/pages/Onboarding/SkipAccountSecurityModal.js
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/viewHelper.js
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#16322 test: fix wdio TOU move upfront, appium test
  wdio/features/Onboarding/CreateNewWallet.feature
  wdio/features/Onboarding/ImportWallet.feature
  wdio/features/Onboarding/TermsOfUse.feature
  wdio/features/Performance/ColdStartLoginToWalletScreen.feature
  wdio/features/Performance/ColdStartToLoginScreen.feature
  wdio/features/Performance/WarmStartLoginToWalletScreen.feature
  wdio/features/Performance/WarmStartToLoginScreen.feature
  wdio/features/Upgrading/ConnectedTestNetwork.feature
  wdio/features/Upgrading/MultipleAccounts.feature
  wdio/helpers/Gestures.js
  wdio/screen-objects/LoginScreen.js
  wdio/screen-objects/Modals/SolanaFeatureSheet.js
  wdio/screen-objects/Modals/TermOfUseScreen.js
  wdio/screen-objects/Onboarding/CreatePasswordScreen.js
  wdio/screen-objects/Onboarding/ImportFromSeedScreen.js
  wdio/screen-objects/Onboarding/MetaMetricsScreen.js
  wdio/screen-objects/Onboarding/OnboardingCarousel.js
  wdio/screen-objects/Onboarding/OnboardingScreen.js
  wdio/step-definitions/browser-steps.js
  wdio/step-definitions/common-steps.js
  wdio/step-definitions/onboarding.steps.js
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#16073 fix: cp-7.47.0 add Solana transactions in AssetOverview
  app/components/UI/Transactions/TransactionsFooter.test.tsx
  app/components/UI/Transactions/TransactionsFooter.tsx
  app/components/UI/Transactions/index.js
  app/components/UI/Transactions/index.test.tsx
  app/components/Views/Asset/__snapshots__/index.test.js.snap
  app/components/Views/Asset/index.js
  app/components/Views/Asset/index.test.js
  app/components/Views/MultichainTransactionsView/MultichainTransactionsFooter.tsx
  app/components/Views/MultichainTransactionsView/MultichainTransactionsView.styles.ts
  app/components/Views/MultichainTransactionsView/MultichainTransactionsView.tsx
  app/components/Views/TransactionsView/__snapshots__/index.test.tsx.snap
  app/components/Views/TransactionsView/index.js
  app/components/Views/TransactionsView/index.test.tsx
  app/util/transactions/index.test.ts
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#16414 test: Revert "test: add regression tests for new networks monad + megaeth"
  e2e/fixtures/fixture-builder.js
  e2e/pages/Browser/Confirmations/FooterActions.ts
  e2e/resources/networks.e2e.js
  e2e/specs/confirmations-redesigned/signatures/signatures.spec.ts
  e2e/specs/confirmations-redesigned/transactions/contract-interaction.spec.ts
  e2e/specs/confirmations-redesigned/transactions/wallet-initiated-transfer.spec.ts
  e2e/specs/confirmations/send-erc20-with-dapp.spec.ts
  e2e/specs/confirmations/send-erc721.spec.ts
  e2e/tags.js
  locales/languages/en.json
Labels: No QA Needed, INVALID-PR-TEMPLATE, Run Smoke E2E, team-network-enablement

#16363 fix: cp-7.49.0 bump solana-wallet-standard to 0.5.0 and multichain-api-client to 0.6.2
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-wallet-standard, release-7.49.0

#16370 cherry-pick: Move EIP_7702_PUBLIC_KEY to AppConstants
  .js.env.example
  app/core/AppConstants.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
  bitrise.yml
Labels: team-confirmations

#16311 feat: add e2e tests for multichain accounts
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/HardwareAccountDetails/HardwareAccountDetails.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/PrivateKeyAccountDetails/PrivateKeyAccountDetails.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/SnapAccountDetails/SnapAccountDetails.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/RemoveAccount/RemoveAccount.tsx
  app/components/Views/MultichainAccounts/sheets/DeleteAccount/DeleteAccount.tsx
  app/components/Views/MultichainAccounts/sheets/RevealSRP/RevealSRP.tsx
  e2e/api-mocking/mock-config/mock-events.js
  e2e/pages/MultichainAccounts/AccountDetails.ts
  e2e/pages/MultichainAccounts/DeleteAccount.ts
  e2e/pages/MultichainAccounts/EditAccountName.ts
  e2e/pages/MultichainAccounts/ExportCredentials.ts
  e2e/pages/MultichainAccounts/ShareAddress.ts
  e2e/pages/MultichainAccounts/SmartAccount.ts
  e2e/selectors/MultichainAccounts/DeleteAccount.selectors.ts
  e2e/selectors/MultichainAccounts/ExportCredentials.selectors.ts
  e2e/selectors/MultichainAccounts/ShareAddress.selectors.ts
  e2e/selectors/MultichainAccounts/SmartAccount.selectors.ts
  e2e/specs/multichain-accounts/account-details.spec.ts
  e2e/specs/multichain-accounts/common.ts
  e2e/specs/multichain-accounts/delete-account.spec.ts
  e2e/specs/multichain-accounts/export-credentials.spec.ts
  e2e/specs/multichainAccounts/delete-account.ts
Labels: No QA Needed, team-accounts, Run Smoke E2E

#16395 test: update asset list test cases
  e2e/pages/wallet/WalletView.js
  e2e/specs/assets/multichain/asset-list.spec.ts
Labels: No QA Needed, Run Smoke E2E, team-qa

#15542 feat: Create transaction batch confirmation
  .js.env.example
  app/components/Nav/App/App.tsx
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.test.tsx
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.tsx
  app/components/UI/Earn/Views/EarnInputView/utils.ts
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.test.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.tsx
  app/components/UI/Stake/components/GasImpactModal/GasImpactModal.test.tsx
  app/components/UI/Stake/components/GasImpactModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/routes/index.tsx
  app/components/Views/confirmations/__mocks__/controllers/transaction-batch-mock.js
  app/components/Views/confirmations/components/batched-transactions-tag/batched-transactions-tag.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.tsx
  app/components/Views/confirmations/components/confirm/confirm-root.tsx
  app/components/Views/confirmations/components/footer/footer.styles.ts
  app/components/Views/confirmations/components/footer/footer.tsx
  app/components/Views/confirmations/components/hero-nft/hero-nft.tsx
  app/components/Views/confirmations/components/hero-token/hero-token.styles.ts
  app/components/Views/confirmations/components/hero-token/hero-token.tsx
  app/components/Views/confirmations/components/info-root/info-root.tsx
  app/components/Views/confirmations/components/info/transaction-batch/index.ts
  app/components/Views/confirmations/components/info/transaction-batch/transaction-batch.test.tsx
  app/components/Views/confirmations/components/info/transaction-batch/transaction-batch.tsx
  app/components/Views/confirmations/components/rows/account-network-info-row/account-network-info-collapsed/account-network-info-collapsed.tsx
  app/components/Views/confirmations/components/rows/account-network-info-row/account-network-info-expanded/account-network-info-expanded.tsx
  app/components/Views/confirmations/components/rows/origin-row/origin-row.test.tsx
  app/components/Views/confirmations/components/rows/origin-row/origin-row.tsx
  app/components/Views/confirmations/components/title/title.tsx
  app/components/Views/confirmations/constants/confirmations.ts
  app/components/Views/confirmations/hooks/transactions/useIsInternalConfirmation.test.ts
  app/components/Views/confirmations/hooks/transactions/useIsInternalConfirmation.ts
  app/components/Views/confirmations/hooks/transactions/useSupportsEIP1559.ts
  app/components/Views/confirmations/hooks/transactions/useTransactionBatchesMetadata.test.ts
  app/components/Views/confirmations/hooks/transactions/useTransactionBatchesMetadata.ts
  app/components/Views/confirmations/hooks/ui/useClearConfirmationOnBackSwipe.test.ts
  app/components/Views/confirmations/hooks/ui/useClearConfirmationOnBackSwipe.ts
  app/components/Views/confirmations/hooks/ui/useFlatConfirmation.test.ts
  app/components/Views/confirmations/hooks/ui/useFlatConfirmation.ts
  app/components/Views/confirmations/hooks/ui/useFullScreenConfirmation.test.ts
  app/components/Views/confirmations/hooks/ui/useFullScreenConfirmation.ts
  app/components/Views/confirmations/hooks/ui/useNavbar.test.ts
  app/components/Views/confirmations/hooks/ui/useNavbar.ts
  app/components/Views/confirmations/hooks/ui/useStandaloneConfirmation.ts
  app/components/Views/confirmations/hooks/useConfirmActions.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/components/Views/confirmations/legacy/SendFlow/Amount/index.js
  app/components/Views/confirmations/legacy/SendFlow/Amount/index.test.tsx
  app/constants/navigation/Routes.ts
  app/selectors/transactionController.ts
  app/util/test/confirm-data-helpers.ts
  app/util/transaction-controller/index.test.ts
  app/util/transaction-controller/index.ts
  locales/languages/en.json
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#16285 feat: update account list to support grouping
  app/components/UI/Bridge/_mocks_/initialState.ts
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.styles.ts
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.test.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.types.ts
  app/components/UI/EvmAccountSelectorList/__snapshots__/EvmAccountSelectorList.test.tsx.snap
  app/components/Views/AccountSelector/AccountSelector.test.tsx
  app/components/Views/AccountSelector/__snapshots__/AccountSelector.test.tsx.snap
  app/core/Authentication/Authentication.ts
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/utils.test.ts
  app/multichain-accounts/AccountTreeInitService/index.ts
  app/multichain-accounts/controllers/account-tree-controller/index.ts
  app/multichain-accounts/messengers/account-tree-controller-messenger/index.ts
  app/multichain-accounts/selectors/accountTreeController.test.ts
  app/multichain-accounts/selectors/accountTreeController.ts
  app/selectors/featureFlagController/multichainAccounts/enabledMultichainAccounts.ts
  app/selectors/types.ts
  app/store/sagas/index.ts
  app/store/sagas/sagas.test.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  locales/languages/en.json
  package.json
  yarn.lock
Labels: No QA Needed, team-accounts, Run Smoke E2E

#16269 test: Convert Swap and Stake e2e tests to typescript
  e2e/api-mocking/mock-server.js
  e2e/pages/Bridge/QuoteView.js
  e2e/pages/Bridge/QuoteView.ts
  e2e/pages/Stake/StakeConfirmView.ts
  e2e/pages/Stake/StakeView.ts
  e2e/pages/swaps/OnBoarding.ts
  e2e/pages/swaps/QuoteView.ts
  e2e/pages/swaps/SwapView.ts
  e2e/selectors/Bridge/QuoteView.selectors.js
  e2e/specs/analytics/helpers.ts
  e2e/specs/bridge/bridge-functionality.spec.ts
  e2e/specs/quarantine/swap-segment-smoke.failing.ts
  e2e/specs/stake/stake-action-smoke.spec.ts
  e2e/specs/swaps/swap-action-regression.spec.ts
  e2e/specs/swaps/swap-action-smoke.spec.ts
  e2e/specs/swaps/swap-token-chart.spec.ts
  e2e/utils/Assertions.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#16432 feat: STAKE-1052 reintroduce withdrawal safety checks
  app/components/UI/Earn/Views/EarnInputView/__snapshots__/EarnInputView.test.tsx.snap
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/EarnLendingWithdrawalConfirmationView.test.tsx
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/__snapshots__/EarnLendingWithdrawalConfirmationView.test.tsx.snap
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/index.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/__snapshots__/EarnWithdrawInputView.test.tsx.snap
  app/components/UI/Earn/components/EarnLendingBalance/index.tsx
  app/components/UI/Earn/components/InputDisplay/InputDisplay.test.tsx
  app/components/UI/Earn/components/InputDisplay/index.tsx
  app/components/UI/Earn/modals/LendingMaxWithdrawalModal/LendingMaxWithdrawalModal.test.tsx
  app/components/UI/Earn/modals/LendingMaxWithdrawalModal/__snapshots__/LendingMaxWithdrawalModal.test.tsx.snap
  app/components/UI/Earn/modals/LendingMaxWithdrawalModal/index.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-earn

#16457 cp: test: e2e quarantine send-eth test #15706
  e2e/specs/quarantine/send-eth.failing.js
Labels: team-qa

#16313 fix: use `ApprovalType.TransactionBatch`
  app/components/Views/confirmations/__mocks__/controllers/transaction-batch-mock.js
  app/components/Views/confirmations/components/info-root/info-root.tsx
  app/components/Views/confirmations/components/title/title.tsx
  app/components/Views/confirmations/hooks/transactions/useTransactionBatchesMetadata.ts
  app/components/Views/confirmations/hooks/ui/useFullScreenConfirmation.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
Labels: QA Passed, No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog

#16415 fix: Design QA Mobile - Bottom padding for CTA is missing and Confirm SRP word selection issue
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/ChoosePassword/__snapshots__/index.test.tsx.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/styles.ts
  app/components/Views/ManualBackupStep2/index.js
  app/components/Views/ManualBackupStep2/index.test.tsx
  e2e/selectors/Onboarding/ManualBackUpSteps.selectors.js
Labels: area-onboarding, No QA Needed, No E2E Smoke Needed, team-web3auth

#16443 fix: SRP paste with space
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
Labels: area-onboarding, No QA Needed, No E2E Smoke Needed, team-web3auth

#16469 fix: cp-7.47.0 Remove `requireApproval:false` from swaps confirmations
  app/components/UI/Swaps/QuotesView.js
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, team-swaps-and-bridge, no-changelog

#16309 feat: deeplink modal UI
  CHANGELOG.md
  app/actions/settings/index.js
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.tsx
  app/components/Nav/App/App.tsx
  app/components/UI/DeepLinkModal/DeepLinkModal.styles.ts
  app/components/UI/DeepLinkModal/DeepLinkModal.test.tsx
  app/components/UI/DeepLinkModal/DeepLinkModal.tsx
  app/components/UI/DeepLinkModal/constant.ts
  app/components/UI/DeepLinkModal/index.ts
  app/components/Views/Settings/AdvancedSettings/FiatOnTestnetsFriction/__snapshots__/FiatOnTestnetsFriction.test.tsx.snap
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/core/DeeplinkManager/Handlers/handleDeepLinkModalDisplay.test.ts
  app/core/DeeplinkManager/Handlers/handleDeepLinkModalDisplay.ts
  app/images/page-not-found.png
  app/images/page-not-found@2x.png
  app/images/page-not-found@3x.png
  app/reducers/settings/index.js
  app/selectors/settings.ts
  babel.config.js
  locales/languages/en.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#16298 feat(deposit): Build quote page UI
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.styles.ts
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/AccountSelector/AccountSelector.tsx
  app/components/UI/Ramp/Deposit/components/AccountSelector/index.ts
  app/components/UI/Ramp/Deposit/constants.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositTokenExchange.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositTokenExchange.ts
  app/components/UI/Ramp/Deposit/hooks/useTokenRates.test.ts
  app/components/UI/Ramp/Deposit/hooks/useTokenRates.ts
  app/components/UI/Ramp/Deposit/utils/index.ts
  app/components/UI/Ramp/Deposit/utils/utils.test.ts
  locales/languages/en.json
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#16468 fix: asset detail screen
  app/components/Views/Asset/index.js
Labels: No QA Needed, No E2E Smoke Needed, team-new-networks

#16417 fix(ramps): adds error message if user tries to sell zero balance token
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/BuildQuote.tsx
Labels: QA Passed, team-ramp, Run Smoke E2E

#16440 feat: Stake 1033 add aave v 3 receipt tokens to mobile token list by default
  app/components/UI/Earn/Views/EarnLendingDepositConfirmationView/EarnLendingDepositConfirmationView.test.tsx
  app/components/UI/Earn/Views/EarnLendingDepositConfirmationView/components/DepositInfoSection/DepositInfoSection.test.tsx
  app/components/UI/Earn/Views/EarnLendingDepositConfirmationView/components/DepositInfoSection/index.tsx
  app/components/UI/Earn/Views/EarnLendingDepositConfirmationView/index.tsx
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/EarnLendingWithdrawalConfirmationView.test.tsx
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/index.tsx
  app/components/UI/Earn/hooks/useEarnToken.test.ts
  app/components/UI/Earn/hooks/useEarnToken.ts
Labels: No QA Needed, Run Smoke E2E, team-earn

#16476 chore: update deeplink modal text copies
  app/components/UI/DeepLinkModal/DeepLinkModal.test.tsx
  app/components/UI/DeepLinkModal/DeepLinkModal.tsx
  app/core/Analytics/MetaMetrics.events.ts
  app/images/page-not-found.png
  app/images/page-not-found@2x.png
  app/images/page-not-found@3x.png
  locales/languages/en.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#15784 feat(identity): enable contact backup-and-sync
  app/actions/identity/index.test.ts
  app/actions/identity/index.ts
  app/components/UI/Identity/BackupAndSyncFeaturesToggles/BackupAndSyncFeaturesToggles.test.tsx
  app/components/UI/Identity/BackupAndSyncFeaturesToggles/BackupAndSyncFeaturesToggles.tsx
  app/components/UI/Identity/BackupAndSyncFeaturesToggles/__snapshots__/BackupAndSyncFeaturesToggles.test.tsx.snap
  app/components/Views/Settings/Identity/__snapshots__/BackupAndSyncSettings.test.tsx.snap
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Engine/Engine.ts
  app/core/Engine/messengers/identity/user-storage-controller-messenger.test.ts
  app/core/Engine/messengers/identity/user-storage-controller-messenger.ts
  app/selectors/identity/index.test.ts
  app/selectors/identity/index.tsx
  app/util/identity/hooks/useContactSyncing/index.ts
  app/util/identity/hooks/useContactSyncing/useContactSyncing.test.tsx
  app/util/identity/hooks/useContactSyncing/useContactSyncing.ts
  app/util/identity/hooks/useIdentityEffects/useIdentityEffects.test.ts
  app/util/identity/hooks/useIdentityEffects/useIdentityEffects.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  e2e/specs/identity/contact-syncing/backup-and-sync-settings.spec.ts
  e2e/specs/identity/contact-syncing/helpers.ts
  e2e/specs/identity/contact-syncing/mock-data.ts
  e2e/specs/identity/contact-syncing/sync-existing-user.spec.ts
  e2e/specs/identity/utils/helpers.ts
  e2e/specs/identity/utils/mocks.ts
  e2e/specs/identity/utils/user-storage/userStorageMockttpController.ts
  e2e/specs/quarantine/sync-new-user.failing.ts
  e2e/specs/settings/addressbook-tests.spec.js
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-identity

#16335 fix: Per Dapp selected network in `AddressFrom` component for legacy confirmations
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AddressFrom.tsx
  app/components/UI/AccountFromToInfoCard/__snapshots__/AccountFromToInfoCard.test.tsx.snap
  app/components/Views/confirmations/legacy/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/legacy/components/TransactionReview/index.test.jsx
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations

#16496 fix: icon update and removed unused image
  app/components/Views/SuccessErrorSheet/__snapshots__/index.test.tsx.snap
  app/components/Views/SuccessErrorSheet/index.tsx
  app/images/circle-check.svg
  app/images/danger-solid.svg
  app/images/success.svg
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#16498 fix: contact-sync tests naming conventions
  app/util/identity/hooks/useContactSyncing/useContactSyncing.test.tsx
  e2e/specs/identity/contact-syncing/backup-and-sync-settings.spec.ts
Labels: QA Passed, No E2E Smoke Needed, team-identity, release-7.50.0

#16506 fix: android lottie flickering
  app/components/Views/Login/index.tsx
Labels: area-onboarding, No QA Needed, No E2E Smoke Needed, team-web3auth

#16478 feat(deposit): adds region selector to deposit page
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.styles.ts
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/RegionModal/RegionModal.test.tsx
  app/components/UI/Ramp/Deposit/components/RegionModal/RegionModal.tsx
  app/components/UI/Ramp/Deposit/components/RegionModal/__snapshots__/RegionModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/RegionModal/index.ts
  app/components/UI/Ramp/Deposit/components/RegionModal/regionModal.styles.ts
  app/components/UI/Ramp/Deposit/constants.ts
  locales/languages/en.json
Labels: No QA Needed, team-ramp, No E2E Smoke Needed, skip-sonar-cloud

#16515 chore: remove unchanged changelog
  CHANGELOG.md
Labels: release-7.50.0

#16477 feat: Analytics/track earn events
  app/components/UI/Earn/LendingLearnMoreModal/index.tsx
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.test.tsx
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.tsx
  app/components/UI/Earn/Views/EarnLendingDepositConfirmationView/EarnLendingDepositConfirmationView.test.tsx
  app/components/UI/Earn/Views/EarnLendingDepositConfirmationView/index.tsx
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/EarnLendingWithdrawalConfirmationView.test.tsx
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/index.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.test.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.tsx
  app/components/UI/Earn/components/EarnLendingBalance/index.tsx
  app/components/UI/Earn/components/EmptyStateCta/EmptyStateCta.test.tsx
  app/components/UI/Earn/components/EmptyStateCta/index.tsx
  app/components/UI/Earn/constants/events.ts
  app/components/UI/Earn/hooks/useEarnEventAnalyticsLogging.test.ts
  app/components/UI/Earn/hooks/useEarnEventAnalyticsLogging.ts
  app/components/UI/Stake/components/StakeButton/index.tsx
  app/components/UI/Stake/utils/metaMetrics/withMetaMetrics.ts
  app/core/Analytics/MetaMetrics.events.ts
Labels: No QA Needed, No E2E Smoke Needed, team-earn

#16511 fix: SuccessErrorSheet Icon Update
  app/components/Views/SuccessErrorSheet/__snapshots__/index.test.tsx.snap
  app/components/Views/SuccessErrorSheet/index.tsx
  app/images/circle-check.svg
Labels: area-onboarding, No QA Needed, No E2E Smoke Needed, team-web3auth

#16351 feat: deposit provider webview
  app/components/UI/Ramp/Deposit/Views/OrderProcessing/OrderProcessing.styles.ts
  app/components/UI/Ramp/Deposit/Views/OrderProcessing/OrderProcessing.test.tsx
  app/components/UI/Ramp/Deposit/Views/OrderProcessing/OrderProcessing.tsx
  app/components/UI/Ramp/Deposit/Views/OrderProcessing/__snapshots__/OrderProcessing.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/OrderProcessing/index.ts
  app/components/UI/Ramp/Deposit/Views/ProviderWebview/ProviderWebview.test.tsx
  app/components/UI/Ramp/Deposit/Views/ProviderWebview/ProviderWebview.tsx
  app/components/UI/Ramp/Deposit/Views/ProviderWebview/__snapshots__/ProviderWebview.test.tsx.snap
  app/components/UI/Ramp/Deposit/routes/index.tsx
  app/components/UI/Ramp/Deposit/utils/renderDepositTestComponent.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: No QA Needed, team-ramp, No E2E Smoke Needed, skip-sonar-cloud

#16386 fix(permissions): fixed issue where the network badges doesn't show Solana and cannot select Solana
  app/components/UI/AccountRightButton/__snapshots__/index.test.tsx.snap
  app/components/UI/AccountRightButton/index.test.tsx
  app/components/UI/AccountRightButton/index.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
Labels: No QA Needed, team-wallet-api-platform, Run Smoke E2E, team-wallet-ux

#16344 feat: Base Wallet Details Screen
  app/components/Nav/App/App.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.types.ts
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/index.test.tsx
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/index.tsx
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/styles.ts
  app/components/Views/MultichainAccounts/WalletDetails/WalletDetails.tsx
  app/components/Views/MultichainAccounts/WalletDetails/hooks/useWalletBalances.test.ts
  app/components/Views/MultichainAccounts/WalletDetails/hooks/useWalletBalances.ts
  app/components/Views/MultichainAccounts/WalletDetails/hooks/useWalletBalances.types.ts
  app/components/Views/MultichainAccounts/WalletDetails/utils/getInternalAccountsFromWallet.test.ts
  app/components/Views/MultichainAccounts/WalletDetails/utils/getInternalAccountsFromWallet.ts
  app/constants/navigation/Routes.ts
  app/multichain-accounts/selectors/accountTreeController.test.ts
  app/multichain-accounts/selectors/accountTreeController.ts
  e2e/selectors/MultichainAccounts/WalletDetails.ts
  locales/languages/en.json
Labels: team-accounts, Run Smoke E2E

#16525 fix: cp-7.50.0 Fix contract interaction metrics
  app/components/Views/confirmations/components/info/contract-interaction/contract-interaction.tsx
  app/components/Views/confirmations/hooks/metrics/useConfirmationLocation.test.ts
  app/components/Views/confirmations/hooks/metrics/useConfirmationLocation.ts
  app/core/Analytics/events/confirmations/constants.ts
Labels: type-bug, No QA Needed, Run Smoke E2E, regression-main, team-confirmations, no-changelog

#14661 feat: add `SEI` mainnet network support
  app/components/UI/Bridge/components/BridgeDestNetworksBar.tsx
  app/components/UI/Bridge/hooks/useTopTokens/index.ts
  app/components/UI/Bridge/utils/index.ts
  app/components/UI/Swaps/useStablecoinsDefaultSlippage.ts
  app/components/UI/Swaps/utils/index.js
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/constants/bridge.ts
  app/constants/first-party-contracts.ts
  app/constants/network.js
  app/core/Engine/constants.ts
  app/util/networks/customNetworks.test.ts
  app/util/networks/customNetworks.tsx
  app/util/networks/index.js
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, skip-sonar-cloud, team-network-enablement

#16458 chore: update transaction controller 57.4.0
  package.json
  yarn.lock
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog

#16531 chore: version bump 7.47.1
  android/app/build.gradle
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: team-mobile-platform

#16497 chore: Bump Snaps packages
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/snaps/constants.ts
  app/core/Engine/controllers/snaps/websocket-service-init.test.ts
  app/core/Engine/controllers/snaps/websocket-service-init.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/messengers/snaps/index.ts
  app/core/Engine/messengers/snaps/websocket-service-messenger.test.ts
  app/core/Engine/messengers/snaps/websocket-service-messenger.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/utils.test.ts
  app/core/Permissions/specifications.js
  app/core/Snaps/SnapsMethodMiddleware.ts
  package.json
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#16534 chore: update bitrise bump version 7.47.1
  bitrise.yml
Labels: team-mobile-platform

#16512 fix: adjust ui entry point logic to work for diff flag variations
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/EarnLendingWithdrawalConfirmationView.test.tsx
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/index.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.tsx
  app/components/UI/Earn/components/EarnTokenList/EarnTokenList.test.tsx
  app/components/UI/Earn/components/EarnTokenList/index.tsx
  app/components/UI/Earn/hooks/useEarnTokens.test.ts
  app/components/UI/Stake/components/StakeButton/StakeButton.test.tsx
  app/components/UI/Stake/components/StakeButton/index.tsx
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/selectors/earnController/earn/index.test.ts
  app/selectors/earnController/earn/index.ts
Labels: No QA Needed, No E2E Smoke Needed, team-earn

#16307 chore(dev): Upgrade network-controller to v24, error-reporting-service to v2
  app/core/Engine/Engine.ts
  package.json
  yarn.lock
Labels: No QA Needed, team-wallet-framework, No E2E Smoke Needed

#16495 fix: cp-7.50.0 Fix `ApprovalTagUrl` exception for legacy confirmations
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.test.tsx
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.tsx
  app/components/Views/confirmations/components/info-root/info-root.tsx
  app/components/Views/confirmations/components/info/contract-interaction/contract-interaction.tsx
  app/components/Views/confirmations/components/title/title.tsx
  app/components/Views/confirmations/constants/confirmations.ts
  app/components/Views/confirmations/legacy/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/confirmations/legacy/components/TransactionReview/index.js
  app/components/Views/confirmations/utils/origin.test.ts
  app/components/Views/confirmations/utils/origin.ts
Labels: type-bug, No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#16461 fix: secure text on blur
  app/components/Views/ImportFromSecretRecoveryPhrase/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
Labels: area-onboarding, No QA Needed, No E2E Smoke Needed, team-web3auth

#16445 fix: reveal private credential screen scroll
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
  app/components/Views/RevealPrivateCredential/styles.ts
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#16602 fix: Remove delay for dispatch of INIT_BG_STATE_KEY
  app/core/EngineService/EngineService.ts
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#15906 feat(deposit): adds date picker keyboard to basic info form
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.test.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositDateField/DepositDateField.test.tsx
  app/components/UI/Ramp/Deposit/components/DepositDateField/DepositDateField.tsx
  app/components/UI/Ramp/Deposit/components/DepositDateField/__snapshots__/DepositDateField.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositDateField/index.ts
  locales/languages/en.json
Labels: No QA Needed, team-ramp, No E2E Smoke Needed, skip-sonar-cloud

#16616 chore: bump pbkdf
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, skip-sonar-cloud

#16590 fix: cp-7.50.0 bump @metamask/multichain-api-client to 0.6.3 to handle multichain api not responding on page load
  package.json
  yarn.lock
Labels: QA Passed, No E2E Smoke Needed, team-wallet-standard, release-7.50.0

#16615 fix: Fix `getItemLayout` parameters
  app/components/UI/Transactions/index.js
  app/components/UI/Transactions/index.test.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog

#16599 fix: default to main code fence and opt-in for beta
  metro.transform.js
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed
