Repository MetaMask/metamask-mobile, pull requests merged in 2025-03, with the labels that each got.

#13783 fix: bitrise missing signature elements following BottomModal → BottomSheet refactor
  app/components/Views/confirmations/Confirm/Confirm.tsx
Labels: Run Smoke E2E, team-confirmations

#13772 fix: cp-7.42.0 push notification settings bugs
  app/components/Views/Notifications/OptIn/OptIn.hooks.test.tsx
  app/components/Views/Notifications/OptIn/OptIn.hooks.tsx
  app/components/Views/Notifications/OptIn/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/OptIn/index.test.tsx
  app/components/Views/Notifications/OptIn/index.tsx
  app/components/Views/Settings/NotificationsSettings/PushNotificationToggle.hooks.test.tsx
  app/components/Views/Settings/NotificationsSettings/PushNotificationToggle.hooks.tsx
  app/components/Views/Settings/NotificationsSettings/PushNotificationToggle.test.tsx
  app/components/Views/Settings/NotificationsSettings/PushNotificationToggle.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/selectors/notifications/index.test.ts
  app/selectors/notifications/index.tsx
  app/util/notifications/hooks/useNotifications.ts
  app/util/notifications/hooks/usePushNotifications.ts
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/notifications/hooks/useSwitchNotifications.ts
  locales/languages/en.json
Labels: team-assets, Run Smoke E2E

#13793 fix: Remove `transactionMetrics` from persisted storage
  app/store/persistConfig.ts
Labels: Run Smoke E2E, team-confirmations

#13787 feat: added **/__mocks__/** to sonar.coverage.exclusions
  sonar-project.properties
Labels: INVALID-PR-TEMPLATE, team-identity

#13747 feat: Add Snaps UI `Selector` component
  app/components/Snaps/SnapDialogApproval/SnapDialogApproval.styles.ts
  app/components/Snaps/SnapUICard/SnapUICard.tsx
  app/components/Snaps/SnapUICheckbox/SnapUICheckbox.tsx
  app/components/Snaps/SnapUIRenderer/SnapUIRenderer.test.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/components/banner.ts
  app/components/Snaps/SnapUIRenderer/components/field.ts
  app/components/Snaps/SnapUIRenderer/components/selector.ts
  app/components/Snaps/SnapUIRenderer/utils.ts
  app/components/UI/Snaps/SnapUIInput/SnapUIInput.tsx
  app/components/UI/Snaps/SnapUISelector/SnapUISelector.styles.ts
  app/components/UI/Snaps/SnapUISelector/SnapUISelector.tsx
  app/components/UI/TemplateRenderer/SafeComponentList.ts
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#13740 fix: fix balance display in account info signature request
  android/.project
  android/.settings/org.eclipse.buildship.core.prefs
  app/components/Nav/Main/index.js
  app/components/UI/DrawerView/__snapshots__/index.test.tsx.snap
  app/components/UI/DrawerView/index.js
  app/components/UI/DrawerView/index.test.tsx
  app/components/UI/DrawerView/util.test.ts
  app/components/UI/DrawerView/utils.ts
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/__snapshots__/AccountNetworkInfoExpanded.test.tsx.snap
  app/selectors/multichain/multichain.test.ts
Labels: QA Passed, team-assets, Run Smoke E2E, needs-assets-ux-review, skip-sonar-cloud

#13799 fix: fix setup files
  android/.project
  android/.settings/org.eclipse.buildship.core.prefs
Labels: team-assets, Run Smoke E2E

#13752 Slack prod cfg
  .github/workflows/publish-slack-release-testing-status.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops

#13746 fix: receive network name in receive asset screen
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/Views/Asset/index.js
  app/components/Views/QRTabSwitcher/QRTabSwitcher.tsx
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13706 fix: Redesign Confirmation bold font weight text
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.styles.ts
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/__snapshots__/AccountNetworkInfoExpanded.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.styles.ts
  app/components/Views/confirmations/components/Confirm/SignatureMessageSection/SignatureMessageSection.styles.ts
  app/components/Views/confirmations/components/Confirm/Title/Title.styles.ts
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.styles.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.stories.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.styles.ts
  app/components/Views/confirmations/components/UI/InfoSectionAccordion/InfoSectionAccordion.styles.ts
  app/components/Views/confirmations/components/UI/InfoSectionAccordion/InfoSectionAccordion.tsx
  app/components/Views/confirmations/components/UI/TextWithTooltip/TextWithTooltip.stories.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.styles.ts
Labels: No E2E Smoke Needed, team-confirmations

#13797 fix: Improve Snaps UI spacing rules
  app/components/Snaps/SnapDialogApproval/SnapDialogApproval.styles.ts
  app/components/Snaps/SnapUICheckbox/SnapUICheckbox.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/components/container.test.ts
  app/components/Snaps/SnapUIRenderer/components/container.ts
  app/components/Snaps/SnapUIRenderer/components/field.ts
  app/components/UI/Box/Box.tsx
  app/components/UI/Snaps/SnapUIInput/SnapUIInput.tsx
  app/components/UI/Snaps/SnapUISelector/SnapUISelector.tsx
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#13688 fix: tsdoc multi rpc for non evm networks
  app/components/Views/NetworkSelector/NetworkSelector.tsx
Labels: No QA Needed, needs-dev-review, Code Impact - Low, team-mobile-platform

#13816 feat(snaps): Add support for full border radius for SnapUIImage
  app/components/Snaps/SnapUICard/SnapUICard.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/components/image.test.ts
  app/components/Snaps/SnapUIRenderer/components/image.ts
  app/components/UI/Snaps/SnapUIImage/SnapUIImage.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-snaps-platform, skip-sonar-cloud

#13722 feat(ramp): payment method selector UI update
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/components/AmountInput.tsx
  app/components/UI/Ramp/components/AssetSelectorButton.tsx
  app/components/UI/Ramp/components/DownChevronText.tsx
  app/components/UI/Ramp/components/PaymentMethodSelector.test.tsx
  app/components/UI/Ramp/components/PaymentMethodSelector.tsx
  app/components/UI/Ramp/components/__snapshots__/PaymentMethodSelector.test.tsx.snap
Labels: team-ramp, needs-ramp-qa, Run Smoke E2E

#13844 ci: Use ubuntu-latest
  .github/workflows/ci.yml
Labels: needs-dev-review, INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#13742 fix: Multichain balances
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/MultichainAssetsController/index.ts
  app/core/Engine/controllers/MultichainBalancesController/constants.ts
  app/core/Engine/controllers/MultichainBalancesController/utils.ts
  app/core/Engine/controllers/MultichainNetworkController/index.test.ts
  app/core/Engine/controllers/MultichainNetworkController/index.ts
  app/core/Engine/controllers/SnapController/constants.ts
  app/core/Engine/controllers/cronjob-controller/cronjob-controller-init.test.ts
  app/core/Engine/controllers/cronjob-controller/cronjob-controller-init.ts
  app/core/Engine/controllers/currency-rate-controller/constants.ts
  app/core/Engine/controllers/currency-rate-controller/currency-rate-controller-init.test.ts
  app/core/Engine/controllers/currency-rate-controller/currency-rate-controller-init.ts
  app/core/Engine/controllers/multichain-assets-controller/multichain-assets-controller-init.test.ts
  app/core/Engine/controllers/multichain-assets-controller/multichain-assets-controller-init.ts
  app/core/Engine/controllers/multichain-assets-rates-controller/multichain-assets-rates-controller-init.test.ts
  app/core/Engine/controllers/multichain-assets-rates-controller/multichain-assets-rates-controller-init.ts
  app/core/Engine/controllers/multichain-balances-controller/multichain-balances-controller-init.test.ts
  app/core/Engine/controllers/multichain-balances-controller/multichain-balances-controller-init.ts
  app/core/Engine/controllers/multichain-network-controller/multichain-network-controller-init.test.ts
  app/core/Engine/controllers/multichain-network-controller/multichain-network-controller-init.ts
  app/core/Engine/messengers/cronjob-controller-messenger/cronjob-controller-messenger.ts
  app/core/Engine/messengers/cronjob-controller-messenger/types.ts
  app/core/Engine/messengers/currency-rate-controller-messenger/currency-rate-controller-messenger.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/messengers/multichain-assets-controller-messenger/multichain-assets-controller-messenger.ts
  app/core/Engine/messengers/multichain-assets-controller-messenger/types.ts
  app/core/Engine/messengers/multichain-assets-rates-controller-messenger/multichain-assets-rates-controller-messenger.ts
  app/core/Engine/messengers/multichain-assets-rates-controller-messenger/types.ts
  app/core/Engine/messengers/multichain-balances-controller-messenger/multichain-balances-controller-messenger.ts
  app/core/Engine/messengers/multichain-balances-controller-messenger/types.ts
  app/core/Engine/messengers/multichain-network-controller-messenger/multichain-network-controller-messenger.ts
  app/core/Engine/messengers/multichain-network-controller-messenger/types.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/test-utils.ts
  app/core/Engine/utils/utils.test.ts
  app/core/Snaps/SnapsMethodMiddleware.ts
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichain/multichain.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  package.json
  patches/@metamask+assets-controllers+51.0.2.patch
  yarn.lock
Labels: team-accounts, Run Smoke E2E

#13683 feat: add MultipleAlertModal component
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.tsx
  app/components/Views/confirmations/AlertSystem/GeneralAlertBanner/GeneralAlertBanner.test.tsx
  app/components/Views/confirmations/AlertSystem/GeneralAlertBanner/GeneralAlertBanner.tsx
  app/components/Views/confirmations/AlertSystem/MultipleAlertModal/MultipleAlertModal.styles.ts
  app/components/Views/confirmations/AlertSystem/MultipleAlertModal/MultipleAlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/MultipleAlertModal/MultipleAlertModal.tsx
  app/components/Views/confirmations/AlertSystem/MultipleAlertModal/index.ts
  app/components/Views/confirmations/AlertSystem/context/Alerts.context.test.tsx
  app/components/Views/confirmations/AlertSystem/context/Alerts.context.tsx
  app/components/Views/confirmations/AlertSystem/utils.test.ts
  app/components/Views/confirmations/AlertSystem/utils.ts
  app/components/hooks/useAlertsConfirmed.test.ts
  app/components/hooks/useAlertsConfirmed.ts
Labels: Run Smoke E2E, team-confirmations

#13605 chore: update swaps destination token search text
  locales/languages/en.json
Labels: No QA Needed, team-swaps

#13855 chore: update identity codeowners
  .github/CODEOWNERS
Labels: No QA Needed, No E2E Smoke Needed, team-identity

#13828 fix: Deal with a couple of crashes when rendering Snaps UI
  app/components/Snaps/SnapUIFooterButton/SnapUIFooterButton.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/components/card.test.ts
  app/components/Snaps/SnapUIRenderer/components/card.ts
  app/components/Snaps/SnapUIRenderer/components/container.test.ts
  app/components/Snaps/SnapUIRenderer/components/container.ts
  app/components/Snaps/SnapUIRenderer/components/footer.test.ts
  app/components/Snaps/SnapUIRenderer/components/footer.ts
  app/components/Snaps/SnapUIRenderer/components/row.ts
Labels: INVALID-PR-TEMPLATE, team-snaps-platform

#13709 feat: add InlineAlert component
  app/components/Views/confirmations/AlertSystem/InlineAlert/InlineAlert.styles.ts
  app/components/Views/confirmations/AlertSystem/InlineAlert/InlineAlert.test.tsx
  app/components/Views/confirmations/AlertSystem/InlineAlert/InlineAlert.tsx
  app/components/Views/confirmations/AlertSystem/InlineAlert/index.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13750 feat: add bridge controllers to Engine
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/bridge-controller/constants.ts
  app/core/Engine/controllers/bridge-controller/index.test.ts
  app/core/Engine/controllers/bridge-controller/index.ts
  app/core/Engine/controllers/bridge-status-controller/constants.ts
  app/core/Engine/controllers/bridge-status-controller/index.test.ts
  app/core/Engine/controllers/bridge-status-controller/index.ts
  app/core/Engine/messengers/bridge-controller-messenger/index.ts
  app/core/Engine/messengers/bridge-status-controller-messenger/index.ts
  app/core/Engine/types.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  babel.config.js
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-swaps-and-bridge

#13830 fix: Permit Simulation vertical overflow, title padding, and collapsed message alignment
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/__snapshots__/AccountNetworkInfoExpanded.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.styles.ts
  app/components/Views/confirmations/components/Confirm/SignatureMessageSection/SignatureMessageSection.styles.ts
  app/components/Views/confirmations/components/Confirm/Title/Title.styles.ts
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.styles.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.tsx
Labels: Run Smoke E2E, team-confirmations

#13810 fix: prevent network selector modal from going behind IOS keyboard
  app/components/Views/NetworkSelector/NetworkSelector.styles.ts
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
Labels: team-assets, Run Smoke E2E

#13857 feat: bump @metamask/notification-services-controller to 2.0.0
  package.json
  yarn.lock
Labels: team-assets, Run Smoke E2E

#13807 chore: upgrade Xcode 16 on bitrise.yml
  bitrise.yml
Labels: team-mobile-platform, Run Smoke E2E

#13778 feat: STAKE-934 add earn controller to engine
  app/components/UI/Stake/__mocks__/earnControllerMockData.ts
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/earn-controller/index.test.ts
  app/core/Engine/controllers/earn-controller/index.ts
  app/core/Engine/messengers/earn-controller-messenger/index.test.ts
  app/core/Engine/messengers/earn-controller-messenger/index.ts
  app/core/Engine/types.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: team-stake, Run Smoke E2E, team-earn

#13862 chore: upgrade NDK 26 on bitrise.yml
  android/build.gradle
  bitrise.yml
  docs/readme/environment.md
Labels: team-mobile-platform, Run Smoke E2E

#13858 fix: cp-7.42.0 Disable signature re-designs for ledger account
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
Labels: Run Smoke E2E, team-confirmations

#13812 fix: Missing POL percentage trend
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
Labels: team-assets, Run Smoke E2E

#13831 fix: add autoscroll in RPC URL form when virtual keyboard blocks content
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
Labels: team-assets, Run Smoke E2E

#13875 feat: STAKE-934: added earn-controller pooled staking selectors
  app/components/UI/Stake/testUtils/index.ts
  app/components/UI/Stake/testUtils/testUtils.test.ts
  app/selectors/earnController/index.ts
  app/selectors/earnController/pooledStaking/index.test.ts
  app/selectors/earnController/pooledStaking/index.ts
Labels: Run Smoke E2E, team-earn

#13818 fix: main balance formatting
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/__snapshots__/AccountNetworkInfoExpanded.test.tsx.snap
  app/components/Views/confirmations/hooks/useAccountInfo.test.ts
  app/components/Views/confirmations/hooks/useAccountInfo.ts
  app/components/hooks/useMultichainBalances/useMultichainBalances.test.ts
  app/components/hooks/useMultichainBalances/useMultichainBalances.ts
  app/components/hooks/useMultichainBalances/useMultichainBalances.types.ts
  app/util/assets/index.test.ts
  app/util/assets/index.ts
Labels: team-assets, Run Smoke E2E

#13877 fix: cp-7.42.0 enable notifications UI
  bitrise.yml
Labels: team-assets, Run Smoke E2E

#13918 chore: Update `CODEOWNERS` file for template renderer
  .github/CODEOWNERS
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform

#13899 fix: Persist scrypt derived storage keys to Keychain/Keystore on iOS/Android
  app/constants/storage.ts
  app/core/Engine/controllers/identity/calculate-scrypt-key.test.ts
  app/core/Engine/controllers/identity/calculate-scrypt-key.ts
Labels: area-performance, Run Smoke E2E, team-identity

#13914 fix: cherry-pick 7.42.0 refactor: Replace redesign confirmation BottomModal with BottomSheet
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.styles.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.tsx
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.types.ts
  app/components/Nav/App/index.js
  app/components/Views/confirmations/Approval/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/SendFlow/Confirm/styles.ts
  app/components/Views/confirmations/components/ApproveTransactionReview/styles.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.styles.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Footer/index.ts
  app/components/Views/confirmations/components/Confirm/Title/Title.styles.ts
  app/components/Views/confirmations/components/SignatureRequest/index.js
  app/components/Views/confirmations/components/TransactionReview/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/components/Views/confirmations/components/TypedSign/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/context/LedgerContext/LedgerContext.test.tsx
  app/components/Views/confirmations/context/QRHardwareContext/QRHardwareContext.test.tsx
Labels: team-confirmations

#13666 feat: support DAI while it's being deprecated
  app/component-library/components-temp/Buttons/ButtonPill/ButtonPill.styles.ts
  app/component-library/components-temp/Buttons/ButtonPill/__snapshots__/ButtonPill.test.tsx.snap
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataField.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/Simulation.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignPermit/TypedSignPermit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignPermit/TypedSignPermit.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.tsx
  app/components/Views/confirmations/constants/tokens.ts
  app/components/Views/confirmations/utils/signature.ts
  app/util/test/confirm-data-helpers.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13926 fix: [cherry-pick | 7.42.0] bitrise missing signature elements following BottomModal → Botto…
  app/components/Views/confirmations/Confirm/Confirm.tsx
Labels: team-confirmations

#13913 fix: Confirm ScrollView and readd drag down and backdrop click to close
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/Confirm/Confirm.tsx
Labels: Run Smoke E2E, team-confirmations

#13927 fix: [cherry-pick | 7.42.0] Confirm Scroll and close on swipe down and backdrop click
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/Confirm/Confirm.tsx
Labels: team-confirmations

#13907 fix: cp-7.42.0`Tokens` screen performance degradation
  app/components/Nav/Main/index.js
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/Views/Wallet/index.tsx
  app/selectors/multichain/evm.test.ts
  app/selectors/multichain/evm.test.tsx
  app/selectors/multichain/evm.ts
Labels: team-assets, Run Smoke E2E

#13817 fix: Migration of `TransactionController` to modularised controller init
  .github/CODEOWNERS
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/notifications/notification-services-controller-init.test.ts
  app/core/Engine/controllers/notifications/notification-services-push-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/index.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/messengers/transaction-controller-messenger/index.ts
  app/core/Engine/messengers/transaction-controller-messenger/transaction-controller-messenger.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/test-utils.ts
  app/core/Engine/utils/utils.test.ts
  app/core/Engine/utils/utils.ts
Labels: Run Smoke E2E, team-confirmations

#13860 feat: Implement tooltip component on mobile
  app/components/Snaps/SnapUIRenderer/components/index.ts
  app/components/Snaps/SnapUIRenderer/components/tooltip.test.ts
  app/components/Snaps/SnapUIRenderer/components/tooltip.ts
  app/components/Snaps/SnapUITooltip/SnapUITooltip.styles.tsx
  app/components/Snaps/SnapUITooltip/SnapUITooltip.test.tsx
  app/components/Snaps/SnapUITooltip/SnapUITooltip.tsx
  app/components/UI/TemplateRenderer/SafeComponentList.ts
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-snaps-platform

#13950 chore: Bump axios
  package.json
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#13947 fix: Use proper implementation for `getUnlockPromise`
  app/core/Engine/Engine.ts
  app/core/Snaps/SnapsMethodMiddleware.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, team-snaps-platform, skip-sonar-cloud

#13883 fix: MMASSETS-626-new-rpc-no-confirmation
  app/components/Approvals/AddChainApproval/AddChainApproval.test.tsx
  app/components/Approvals/AddChainApproval/AddChainApproval.tsx
  app/components/Approvals/AddChainApproval/__snapshots__/AddChainApproval.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  locales/languages/en.json
Labels: team-assets, Run Smoke E2E

#13940 chore: added staking team as codeowners for earn-controller files
  .github/CODEOWNERS
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-earn

#13847 feat: bridge input screen
  app/components/Nav/App/index.js
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Bridge/BridgeTokenSelector.test.tsx
  app/components/UI/Bridge/BridgeTokenSelector.tsx
  app/components/UI/Bridge/Token.tsx
  app/components/UI/Bridge/TokenInputArea.tsx
  app/components/UI/Bridge/index.js
  app/components/UI/Bridge/index.test.tsx
  app/components/UI/Bridge/index.tsx
  app/components/UI/Bridge/types.ts
  app/components/UI/Bridge/useLatestBalance.test.tsx
  app/components/UI/Bridge/useLatestBalance.ts
  app/components/UI/Navbar/index.js
  app/constants/navigation/Routes.ts
  app/core/redux/slices/bridge/index.test.ts
  app/core/redux/slices/bridge/index.ts
  app/reducers/index.ts
  app/util/test/initial-root-state.ts
  locales/languages/en.json
  package.json
Labels: team-swaps, Run Smoke E2E, team-swaps-and-bridge

#13942 fix: cp-7.42.0 - toggle notifications feature off
  bitrise.yml
Labels: team-assets

#13962 fix: cp-7.42.0 Move AssetsPollingProvider down a level to persist tab label
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/Views/Wallet/index.tsx
Labels: team-assets, Run Smoke E2E

#13946 fix: margin incrementally applied to icon when bottom sheet opened
  app/components/Snaps/SnapUILink/SnapUILink.test.tsx
  app/components/Snaps/SnapUILink/SnapUILink.tsx
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-snaps-platform

#13879 feat: revisit currencies list
  app/core/Multichain/constants.ts
  app/store/migrations/069.test.ts
  app/store/migrations/069.ts
  app/store/migrations/index.ts
  app/util/infura-conversion.json
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#13954 chore: adds necessary initial code to work with non-evm transactions
  app/components/UI/NonEvmTokens/index.test.tsx
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/multichain-transactions-controller/multichain-transactions-controller-init.test.ts
  app/core/Engine/controllers/multichain-transactions-controller/multichain-transactions-controller-init.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/messengers/multichain-transactions-controller-messenger/multichain-transactions-controller-messenger.ts
  app/core/Engine/messengers/multichain-transactions-controller-messenger/types.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/utils.test.ts
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichain/multichain.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: No QA Needed, No E2E Smoke Needed, team-sol

#13951 fix: error when asset chain is not available in account controller state
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
Labels: team-assets, Run Smoke E2E

#13979 chore: Bump Babel
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#13921 feat: Implement unstaking confirmation
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/AdvancedDetails/AdvancedDetails.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.tsx
  app/components/Views/confirmations/components/Confirm/StakingContractInteractionDetails/StakingContractInteractionDetails.styles.ts
  app/components/Views/confirmations/components/Confirm/StakingContractInteractionDetails/StakingContractInteractionDetails.test.tsx
  app/components/Views/confirmations/components/Confirm/StakingContractInteractionDetails/StakingContractInteractionDetails.tsx
  app/components/Views/confirmations/components/Confirm/UnstakingTime/UnstakingTime.test.tsx
  app/components/Views/confirmations/components/Confirm/UnstakingTime/UnstakingTime.tsx
  app/components/Views/confirmations/components/UI/InfoSectionAccordion/InfoSectionAccordion.styles.ts
  app/components/Views/confirmations/components/UI/InfoSectionAccordion/InfoSectionAccordion.tsx
  app/util/test/confirm-data-helpers.ts
Labels: Run Smoke E2E, team-confirmations

#13780 feat: adding skeleton component
  .storybook/storybook.requires.js
  app/component-library/components/Skeleton/README.md
  app/component-library/components/Skeleton/Skeleton.stories.tsx
  app/component-library/components/Skeleton/Skeleton.styles.ts
  app/component-library/components/Skeleton/Skeleton.test.tsx
  app/component-library/components/Skeleton/Skeleton.tsx
  app/component-library/components/Skeleton/Skeleton.types.ts
  app/component-library/components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  app/component-library/components/Skeleton/index.ts
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#13959 fix: cp-7.42.0 fix history transactions loading
  app/components/Views/TransactionsView/__snapshots__/index.test.tsx.snap
  app/components/Views/TransactionsView/index.js
  app/components/Views/TransactionsView/index.test.tsx
  app/components/Views/confirmations/Approval/index.test.tsx
  app/components/Views/confirmations/ApproveView/Approve/index.test.tsx
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/selectors/transactionController.test.ts
  app/selectors/transactionController.ts
Labels: QA Passed, team-assets, Run Smoke E2E

#13939 feat: STAKE-934 update staking hooks to consume earn controller selectors
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/StakeInputView/__snapshots__/StakeInputView.test.tsx.snap
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.test.tsx
  app/components/UI/Stake/__mocks__/mockData.ts
  app/components/UI/Stake/components/PoolStakingLearnMoreModal/__snapshots__/PoolStakingLearnMoreModal.test.tsx.snap
  app/components/UI/Stake/components/PoolStakingLearnMoreModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.test.tsx
  app/components/UI/Stake/components/StakingConfirmation/AccountCard/AccountCard.test.tsx
  app/components/UI/Stake/components/StakingConfirmation/AccountCard/AccountCard.tsx
  app/components/UI/Stake/components/StakingConfirmation/AccountCard/__snapshots__/AccountCard.test.tsx.snap
  app/components/UI/Stake/hooks/usePooledStakes.test.tsx
  app/components/UI/Stake/hooks/usePooledStakes.ts
  app/components/UI/Stake/hooks/useStakingEarnings.test.tsx
  app/components/UI/Stake/hooks/useStakingEarnings.ts
  app/components/UI/Stake/hooks/useStakingEligibility.test.tsx
  app/components/UI/Stake/hooks/useStakingEligibility.ts
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Stake/hooks/useVaultApyAverages.test.tsx
  app/components/UI/Stake/hooks/useVaultApyAverages.tsx
  app/components/UI/Stake/hooks/useVaultApys.test.tsx
  app/components/UI/Stake/hooks/useVaultApys.tsx
  app/components/UI/Stake/hooks/useVaultData.test.tsx
  app/components/UI/Stake/hooks/useVaultData.ts
  app/components/UI/Stake/hooks/useVaultMetadata.test.tsx
  app/components/UI/Stake/hooks/useVaultMetadata.ts
  app/components/Views/confirmations/components/Confirm/StakingDetails/StakingDetails.test.tsx
  app/components/Views/confirmations/hooks/useStakingDetails.test.ts
  app/components/Views/confirmations/hooks/useStakingDetails.ts
  app/core/Engine/Engine.ts
  app/core/redux/slices/staking/index.test.ts
  app/core/redux/slices/staking/index.ts
  app/reducers/index.ts
  app/util/test/initial-root-state.ts
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-earn

#13808 feat: Add token list item pressed event
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/core/Analytics/MetaMetrics.events.ts
Labels: team-assets, Run Smoke E2E

#13943 fix: use correct updating text when toggling notifications
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/notifications/hooks/useSwitchNotifications.ts
  locales/languages/en.json
Labels: team-assets, Run Smoke E2E

#13912 fix: Manage order for app services initialization
  .github/CODEOWNERS
  app/actions/user/index.ts
  app/actions/user/types.ts
  app/components/Nav/App/App.test.tsx
  app/components/Nav/App/App.tsx
  app/components/Nav/App/__snapshots__/index.test.tsx.snap
  app/components/Nav/App/index.test.tsx
  app/components/Nav/App/index.ts
  app/components/Nav/ControllersGate/ControllersGate.test.tsx
  app/components/Nav/ControllersGate/ControllersGate.tsx
  app/components/Nav/ControllersGate/index.ts
  app/components/Nav/ControllersGate/types.ts
  app/components/Nav/NavigationProvider/NavigationProvider.test.tsx
  app/components/Nav/NavigationProvider/NavigationProvider.tsx
  app/components/Nav/NavigationProvider/index.ts
  app/components/Nav/NavigationProvider/types.ts
  app/components/Views/OnboardingSuccess/index.tsx
  app/components/Views/Root/__snapshots__/index.test.tsx.snap
  app/components/Views/Root/index.js
  app/components/Views/Root/index.test.tsx
  app/components/Views/Root/index.tsx
  app/components/Views/Root/types.ts
  app/components/hooks/DeleteWallet/useDeleteWallet.test.tsx
  app/core/EngineService/EngineService.ts
  app/core/NavigationService.ts
  app/core/NavigationService/NavigationService.test.ts
  app/core/NavigationService/NavigationService.ts
  app/core/NavigationService/index.ts
  app/reducers/user/index.ts
  app/reducers/user/selectors.test.ts
  app/reducers/user/selectors.ts
  app/reducers/user/types.ts
  app/store/index.ts
  app/store/persistConfig.ts
  app/store/sagas/index.ts
  app/util/test/testSetup.js
  babel.config.js
Labels: needs-qa, needs-dev-review, team-mobile-platform, Run Smoke E2E, skip-sonar-cloud

#13998 fix: Move the SnapExecutionService render up in the stack
  app/components/Nav/App/App.tsx
  app/components/Views/Root/index.tsx
  app/lib/snaps/SnapsExecutionWebView.test.tsx
  app/lib/snaps/SnapsExecutionWebView.tsx
  app/lib/snaps/styles.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#13987 fix: fix network filter on switch network from dapp
  app/components/Nav/Main/index.js
Labels: QA Passed, team-assets, Run Smoke E2E, needs-assets-ux-review

#13881 fix: Max balance for dApp erc20 approval
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.stories.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.test.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.types.ts
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
Labels: Run Smoke E2E, team-confirmations

#11972 fix(deps): unpin ethereumjs-abi@0.6,x ethereumjs-util@6.x
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/hooks/useBalance.ts
  app/components/UI/Ramp/hooks/useGasPriceEstimation.ts
  app/components/UI/Ramp/hooks/useIntentAmount.ts
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/hooks/useInputHandler.ts
  app/components/UI/Stake/hooks/useStakingGasFee.test.tsx
  app/components/UI/Stake/hooks/useStakingGasFee.ts
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Stake/hooks/useUnstakingInput.ts
  app/components/UI/Tokens/index.test.tsx
  app/components/Views/confirmations/Approval/components/TransactionEditor/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/validation.test.ts
  app/components/Views/confirmations/SendFlow/Confirm/validation.ts
  app/components/hooks/useAddressBalance/useAddressBalance.test.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/components/hooks/useTokenBalance.tsx
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.test.tsx
  app/constants/transaction.ts
  app/util/confirmation/transactions.test.ts
  app/util/conversion/index.js
  app/util/custom-gas/index.js
  app/util/dappTransactions/index.test.ts
  app/util/dappTransactions/index.ts
  app/util/number/index.js
  app/util/number/index.test.ts
  app/util/transaction-reducer-helpers.ts
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
  package.json
  yarn.lock
Labels: dependencies, needs-dev-review, team-ramp, team-mobile-platform, team-security, Run Smoke E2E

#13971 refactor: Update Snaps-related controllers to use modular initialisation
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/cronjob-controller/cronjob-controller-init.test.ts
  app/core/Engine/controllers/cronjob-controller/cronjob-controller-init.ts
  app/core/Engine/controllers/snaps/cronjob-controller-init.test.ts
  app/core/Engine/controllers/snaps/cronjob-controller-init.ts
  app/core/Engine/controllers/snaps/execution-service-init.test.ts
  app/core/Engine/controllers/snaps/execution-service-init.ts
  app/core/Engine/controllers/snaps/index.ts
  app/core/Engine/controllers/snaps/snap-controller-init.test.ts
  app/core/Engine/controllers/snaps/snap-controller-init.ts
  app/core/Engine/controllers/snaps/snap-interface-controller-init.test.ts
  app/core/Engine/controllers/snaps/snap-interface-controller-init.ts
  app/core/Engine/controllers/snaps/snaps-registry-init.test.ts
  app/core/Engine/controllers/snaps/snaps-registry-init.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/messengers/snaps/cronjob-controller-messenger.test.ts
  app/core/Engine/messengers/snaps/cronjob-controller-messenger.ts
  app/core/Engine/messengers/snaps/execution-service-messenger.test.ts
  app/core/Engine/messengers/snaps/execution-service-messenger.ts
  app/core/Engine/messengers/snaps/index.ts
  app/core/Engine/messengers/snaps/snap-controller-messenger.test.ts
  app/core/Engine/messengers/snaps/snap-controller-messenger.ts
  app/core/Engine/messengers/snaps/snap-interface-controller-messenger.test.ts
  app/core/Engine/messengers/snaps/snap-interface-controller-messenger.ts
  app/core/Engine/messengers/snaps/snaps-registry-messenger.test.ts
  app/core/Engine/messengers/snaps/snaps-registry-messenger.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/utils.test.ts
Labels: Run Smoke E2E, team-snaps-platform

#13733 chore: restructure transactions and define CODEOWNERS
  .github/CODEOWNERS
  app/components/UI/TemplateRenderer/SafeComponentList.ts
  app/components/Views/transactions/SmartTransactionStatus/LoopingScrollAnimation.tsx
  app/components/Views/transactions/SmartTransactionStatus/ProgressBar.tsx
  app/components/Views/transactions/SmartTransactionStatus/SmartTransactionStatus.test.tsx
  app/components/Views/transactions/SmartTransactionStatus/SmartTransactionStatus.tsx
  app/components/Views/transactions/SmartTransactionStatus/useRemainingTime.ts
Labels: Run Smoke E2E, team-transactions, release-7.42.0

#13920 feat: Add Base to Smart Transaction supported chains
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/constants/smartTransactions.test.ts
  app/constants/smartTransactions.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
  package.json
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-transactions, release-7.43.0

#13972 feat: Add gas included swaps
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Nav/Main/index.test.tsx
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/__snapshots__/QuotesView.test.ts.snap
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/utils/index.js
  app/components/UI/Swaps/utils/index.test.js
  app/components/UI/Swaps/utils/useFiatConversionRates.test.ts
  app/components/UI/Swaps/utils/useFiatConversionRates.ts
  app/components/UI/Swaps/utils/useGasTokenFiatAmount.test.ts
  app/components/UI/Swaps/utils/useGasTokenFiatAmount.ts
  app/components/UI/Swaps/utils/useSwapsSmartTransaction.test.ts
  app/components/UI/Swaps/utils/useSwapsSmartTransaction.ts
  app/util/smart-transactions/index.test.ts
  app/util/smart-transactions/index.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-transactions, release-7.43.0

#13967 fix: Uppercase currency code
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/Tokens/index.test.tsx
Labels: team-assets, Run Smoke E2E

#13919 feat: Add confirmation UI metrics infra and some redesigned staking deposit events
  .github/CODEOWNERS
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/hooks/usePoolStakedDeposit/index.ts
  app/components/UI/Stake/hooks/usePoolStakedDeposit/usePoolStakedDeposit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/GasFeesDetails/GasFeesDetails.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/GasFeesDetails/GasFeesDetails.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/index.ts
  app/components/Views/confirmations/components/Confirm/InfoRowDivider/index.ts
  app/components/Views/confirmations/components/Confirm/Navbar/index.ts
  app/components/Views/confirmations/components/Confirm/StakingContractInteractionDetails/StakingContractInteractionDetails.tsx
  app/components/Views/confirmations/components/Confirm/StakingDetails/StakingDetails.test.tsx
  app/components/Views/confirmations/components/Confirm/StakingDetails/StakingDetails.tsx
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.test.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.tsx
  app/components/Views/confirmations/hooks/useApprovalRequest.ts
  app/components/Views/confirmations/hooks/useConfirmationLocation.test.ts
  app/components/Views/confirmations/hooks/useConfirmationLocation.ts
  app/components/Views/confirmations/hooks/useConfirmationMetricEvents.test.ts
  app/components/Views/confirmations/hooks/useConfirmationMetricEvents.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Analytics/events/confirmations/constants.ts
  app/core/Analytics/events/confirmations/events.ts
  app/core/Analytics/events/confirmations/index.ts
Labels: Run Smoke E2E, team-confirmations

#14012 fix: Revert "chore: upgrade Xcode 16 on bitrise.yml"
  bitrise.yml
Labels: team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#14015 chore: update latest shared workflows
  .github/workflows/create-release-pr-v2.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops

#13973 fix: animation added for loading state on SnapUILink button
  app/components/Snaps/SnapUIButton/SnapUIButton.tsx
  app/components/Snaps/SnapUIButton/loading.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-snaps-platform

#14008 fix: cp-7.42.0 Refactor AddNickname with missing data
  app/components/Views/confirmations/ApproveView/Approve/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/types.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, team-confirmations, skip-sonar-cloud

#14024 fix: inherit icon size from text component parent
  app/components/Snaps/SnapUIRenderer/components/icon.ts
  app/components/Snaps/SnapUIRenderer/components/text.ts
  app/components/Snaps/SnapUIRenderer/utils.test.ts
  app/components/Snaps/SnapUIRenderer/utils.ts
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-snaps-platform

#13963 chore: refactors metametrics to common function
  app/core/RPCMethods/lib/ethereum-chain-utils.js
  app/core/RPCMethods/lib/ethereum-chain-utils.test.ts
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.test.js
Labels: team-assets, Run Smoke E2E

#14032 fix: moved xcode 16 as default and applied xcode 15 only to testflight builds
  bitrise.yml
Labels: team-mobile-platform, Run Smoke E2E

#14036 fix: cp-7.43.0 - Temporarily disable notifications
  bitrise.yml
Labels: No QA Needed, team-assets

#13744 feat: integrate blockaid alert into the Alert System
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.styles.ts
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.tsx
  app/components/Views/confirmations/AlertSystem/GeneralAlertBanner/GeneralAlertBanner.tsx
  app/components/Views/confirmations/AlertSystem/InlineAlert/InlineAlert.styles.ts
  app/components/Views/confirmations/AlertSystem/InlineAlert/InlineAlert.test.tsx
  app/components/Views/confirmations/AlertSystem/InlineAlert/InlineAlert.tsx
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/BlockaidAlertContent/BlockaidAlertContent.styles.ts
  app/components/Views/confirmations/components/Confirm/BlockaidAlertContent/BlockaidAlertContent.test.tsx
  app/components/Views/confirmations/components/Confirm/BlockaidAlertContent/BlockaidAlertContent.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/UI/InfoRow/AlertRow/constants.ts
  app/components/Views/confirmations/hooks/alerts/useBlockaidAlerts.test.tsx
  app/components/Views/confirmations/hooks/alerts/useBlockaidAlerts.tsx
  app/components/Views/confirmations/hooks/useConfirmationAlerts.test.ts
  app/components/Views/confirmations/hooks/useConfirmationAlerts.ts
  e2e/pages/Browser/Confirmations/SecurityAlerts.js
  e2e/selectors/Confirmation/ConfirmationView.selectors.js
  e2e/specs/confirmations-redesigned/signatures/security-alerts.spec.js
Labels: Run Smoke E2E, team-confirmations

#13577 feat: bridge tx submission
  app/components/UI/Bridge/index.test.tsx
  app/components/UI/Bridge/index.tsx
  app/components/UI/Bridge/types.ts
  app/constants/bridge.ts
  app/util/bridge/hooks/useAddToken.ts
  app/util/bridge/hooks/useHandleApprovalTx.test.ts
  app/util/bridge/hooks/useHandleApprovalTx.ts
  app/util/bridge/hooks/useHandleBridgeTx.test.ts
  app/util/bridge/hooks/useHandleBridgeTx.ts
  app/util/bridge/hooks/useHandleTx.test.tsx
  app/util/bridge/hooks/useHandleTx.ts
  app/util/bridge/hooks/useSubmitBridgeTx.test.tsx
  app/util/bridge/hooks/useSubmitBridgeTx.ts
  e2e/api-mocking/mock-responses/bridge-api-quotes.ts
  tsconfig.json
Labels: Run Smoke E2E, team-swaps-and-bridge

#14044 fix: account name / label overflow on re-designed confirmation pages
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.styles.ts
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.tsx
Labels: team-confirmations

#13691 test: update bitrise yml to include iOS ramps tests
  bitrise.yml
  e2e/specs/quarantine/deeplink-to-buy-flow-with-unsupported-network.failing.js
  e2e/specs/ramps/deeplink-to-sell-flow.spec.js
Labels: team-ramp, Run Smoke E2E, team-qa

#14028 fix: cp-7.43.0 add remote feature flag for notifications
  app/core/Engine/controllers/notifications/create-notification-services-push-controller.ts
  app/util/notifications/constants/config.ts
Labels: team-assets, Run Smoke E2E

#14045 feat: add new identity hooks
  app/actions/identity/index.test.ts
  app/actions/identity/index.ts
  app/selectors/keyringController/index.test.ts
  app/selectors/keyringController/index.ts
  app/selectors/wizard/index.test.ts
  app/selectors/wizard/index.ts
  app/util/identity/hooks/useAuthentication/index.ts
  app/util/identity/hooks/useAuthentication/useAutoSignIn.test.ts
  app/util/identity/hooks/useAuthentication/useAutoSignIn.ts
  app/util/identity/hooks/useAuthentication/useAutoSignOut.test.ts
  app/util/identity/hooks/useAuthentication/useAutoSignOut.ts
  app/util/identity/hooks/useAuthentication/useSignIn.test.ts
  app/util/identity/hooks/useAuthentication/useSignIn.ts
  app/util/identity/hooks/useAuthentication/useSignOut.test.ts
  app/util/identity/hooks/useAuthentication/useSignOut.ts
  app/util/identity/hooks/useIdentityEffects/index.ts
  app/util/identity/hooks/useIdentityEffects/useIdentityEffects.test.ts
  app/util/identity/hooks/useIdentityEffects/useIdentityEffects.ts
  app/util/identity/hooks/useProfileSyncing/index.ts
  app/util/identity/hooks/useProfileSyncing/useProfileSyncing.test.ts
  app/util/identity/hooks/useProfileSyncing/useProfileSyncing.ts
Labels: No QA Needed, No E2E Smoke Needed, team-identity

#13948 feat(ramp): add non evm balance
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/hooks/useBalance.test.ts
  app/components/UI/Ramp/hooks/useBalance.ts
Labels: team-ramp, Run Smoke E2E

#14002 chore: Add performance instrumentation for create Snap account
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/core/SnapKeyring/SnapKeyring.ts
  app/util/trace.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#14056 fix: cp-7.43.0 Updated ThemeProvider to no longer have wrapping View
  .storybook/decorators/withTheme.tsx
  app/component-library/providers/ThemeProvider/ThemeProvider.constants.ts
  app/component-library/providers/ThemeProvider/ThemeProvider.test.tsx
  app/component-library/providers/ThemeProvider/ThemeProvider.tsx
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#14038 fix: #9487 Remove false vault back up failure log
  app/constants/error.ts
  app/core/BackupVault/backupVault.test.ts
  app/core/BackupVault/backupVault.ts
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#13985 refactor: Consolidate `Token` screen asset selectors
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/types.ts
  app/components/Views/Wallet/index.tsx
  app/components/Views/confirmations/Approval/index.test.tsx
  app/components/Views/confirmations/ApproveView/Approve/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/selectors/multichain/evm.test.tsx
  app/selectors/multichain/evm.ts
  app/selectors/settings.ts
Labels: team-assets, Run Smoke E2E

#14064 feat: add button toggle component
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components-temp/Buttons/ButtonToggle/ButtonToggle.constants.ts
  app/component-library/components-temp/Buttons/ButtonToggle/ButtonToggle.stories.tsx
  app/component-library/components-temp/Buttons/ButtonToggle/ButtonToggle.styles.ts
  app/component-library/components-temp/Buttons/ButtonToggle/ButtonToggle.test.tsx
  app/component-library/components-temp/Buttons/ButtonToggle/ButtonToggle.tsx
  app/component-library/components-temp/Buttons/ButtonToggle/ButtonToggle.types.ts
  app/component-library/components-temp/Buttons/ButtonToggle/__snapshots__/ButtonToggle.test.tsx.snap
  app/component-library/components-temp/Buttons/ButtonToggle/index.ts
  storybook/storyLoader.js
Labels: team-swaps, Run Smoke E2E, team-swaps-and-bridge

#14033 feat: Implement MaxBrowserTabModal at 5 browser tabs
  app/components/Nav/App/App.tsx
  app/components/UI/Tabs/__snapshots__/index.test.tsx.snap
  app/components/UI/Tabs/index.js
  app/components/Views/Browser/MaxBrowserTabsModal.styles.ts
  app/components/Views/Browser/MaxBrowserTabsModal.test.tsx
  app/components/Views/Browser/MaxBrowserTabsModal.tsx
  app/components/Views/Browser/__snapshots__/MaxBrowserTabsModal.test.tsx.snap
  app/components/Views/Browser/__snapshots__/index.test.tsx.snap
  app/components/Views/Browser/index.js
  app/components/Views/Browser/index.test.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: team-mobile-platform, Run Smoke E2E

#14066 feat: add segmented control component
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components-temp/SegmentedControl/README.md
  app/component-library/components-temp/SegmentedControl/SegmentedControl.constants.ts
  app/component-library/components-temp/SegmentedControl/SegmentedControl.stories.tsx
  app/component-library/components-temp/SegmentedControl/SegmentedControl.styles.ts
  app/component-library/components-temp/SegmentedControl/SegmentedControl.test.tsx
  app/component-library/components-temp/SegmentedControl/SegmentedControl.tsx
  app/component-library/components-temp/SegmentedControl/SegmentedControl.types.ts
  app/component-library/components-temp/SegmentedControl/__snapshots__/SegmentedControl.test.tsx.snap
  app/component-library/components-temp/SegmentedControl/index.ts
  storybook/storyLoader.js
Labels: team-swaps, Run Smoke E2E, team-swaps-and-bridge

#13696 feat: e2e gate
  .github/scripts/bitrise/bitrise-results-check.ts
  .github/scripts/bitrise/bitrise-utils.ts
  .github/scripts/bitrise/run-bitrise-e2e-check.ts
  .github/scripts/package.json
  .github/workflows/bitrise-e2e-gate.yml
  .github/workflows/publish-slack-release-testing-status.yml
  bitrise.yml
Labels: No QA Needed, Run Smoke E2E, team-dev-ops

#14020 feat: Add `TransactionController` metric handlers
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.tsx
  app/components/Views/confirmations/hooks/useConfirmationMetricEvents.test.ts
  app/components/Views/confirmations/hooks/useConfirmationMetricEvents.ts
  app/components/Views/confirmations/hooks/useTokenValues.ts
  app/core/Analytics/events/confirmations/events.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
  app/core/Engine/controllers/transaction-controller/transaction-event-handlers.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-event-handlers.ts
  app/core/redux/slices/transactionMetrics/index.ts
Labels: Run Smoke E2E, team-confirmations

#14080 feat: Rename `transactionMetrics` to `confirmationMetrics`
  app/components/UI/SimulationDetails/useSimulationMetrics.test.ts
  app/components/UI/SimulationDetails/useSimulationMetrics.ts
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.tsx
  app/components/Views/confirmations/hooks/useConfirmationMetricEvents.test.ts
  app/components/Views/confirmations/hooks/useConfirmationMetricEvents.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
  app/core/redux/slices/confirmationMetrics/index.test.ts
  app/core/redux/slices/confirmationMetrics/index.ts
  app/core/redux/slices/transactionMetrics/index.test.ts
  app/core/redux/slices/transactionMetrics/index.ts
  app/reducers/index.ts
  app/store/persistConfig.ts
  app/util/sentry/__snapshots__/utils.test.ts.snap
  app/util/sentry/utils.test.ts
  app/util/test/initial-root-state.ts
Labels: Run Smoke E2E, team-confirmations, skip-sonar-cloud

#14046 fix: fix cannot read length property
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
Labels: team-assets, Run Smoke E2E

#14086 fix: prevent unintentional remote feature flag override
  app/core/Engine/controllers/remote-feature-flag-controller/utils.ts
Labels: team-assets, Run Smoke E2E

#14092 ci: cp-7.43.0 add trigger to kick off qa builds after release is published
  bitrise.yml
Labels: No QA Needed, area-qa, team-qa

#13874 feat: Implement Segment sampling for expected errors
  app/components/UI/ComponentErrorBoundary/index.tsx
  app/util/metrics/TrackError/trackErrorAsAnalytics.test.ts
  app/util/metrics/TrackError/trackErrorAsAnalytics.ts
  app/util/metrics/shouldTrackExpectedErrors/constants.ts
  app/util/metrics/shouldTrackExpectedErrors/shouldTrackExpectedErrors.test.ts
  app/util/metrics/shouldTrackExpectedErrors/shouldTrackExpectedErrors.ts
Labels: team-mobile-platform, Run Smoke E2E

#14000 chore: Bump Snaps packages
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/snaps/constants.ts
  app/core/Engine/controllers/snaps/index.ts
  app/core/Engine/controllers/snaps/snap-controller-init.test.ts
  app/core/Engine/controllers/snaps/snap-controller-init.ts
  app/core/Engine/messengers/accounts-controller-messenger/index.ts
  app/core/Engine/messengers/cronjob-controller-messenger/cronjob-controller-messenger.ts
  app/core/Engine/messengers/snaps/snap-controller-messenger.ts
  app/core/Permissions/specifications.js
  app/core/Snaps/SnapsMethodMiddleware.ts
  app/core/Snaps/utils.ts
  package.json
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform, skip-sonar-cloud

#14096 fix: Loading state bug
  app/components/UI/AssetElement/index.tsx
  app/components/UI/Tokens/constants.ts
Labels: team-assets, Run Smoke E2E

#14087 test: disable ramps iOS workflow
  bitrise.yml
Labels: Run Smoke E2E, team-qa

#14115 fix: Not report invalid URL errors to sentry
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.tsx
  app/components/Views/confirmations/utils/generic.ts
Labels: Run Smoke E2E, team-confirmations

#14093 chore: 7.42.0 stable sync
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: No QA Needed, team-mobile-platform

#14049 feat: Implement claim rewards confirmation
  app/components/UI/SimulationDetails/SimulationDetails.styles.ts
  app/components/UI/SimulationDetails/SimulationDetails.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/StakeInputView/__snapshots__/StakeInputView.test.tsx.snap
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/Views/UnstakeInputView/__snapshots__/UnstakeInputView.test.tsx.snap
  app/components/UI/Stake/components/StakingBalance/StakingBalance.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/routes/index.tsx
  app/components/UI/Stake/types.ts
  app/components/Views/confirmations/AlertSystem/utils.ts
  app/components/Views/confirmations/components/Confirm/Info/GasFeesDetails/GasFeesDetails.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/Info.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/StakingClaim.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/StakingClaim.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/StakingClaim.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/index.ts
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.tsx
  app/components/Views/confirmations/components/Confirm/Navbar/Navbar.tsx
  app/components/Views/confirmations/components/Confirm/StakingContractInteractionDetails/StakingContractInteractionDetails.test.tsx
  app/components/Views/confirmations/components/Confirm/StakingContractInteractionDetails/StakingContractInteractionDetails.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.tsx
  app/components/Views/confirmations/components/Confirm/UnstakingTime/UnstakingTime.test.tsx
  app/components/Views/confirmations/components/Confirm/UnstakingTime/UnstakingTime.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.styles.ts
  app/components/Views/confirmations/hooks/useClearConfirmationOnBackSwipe.test.ts
  app/components/Views/confirmations/hooks/useClearConfirmationOnBackSwipe.ts
  app/components/Views/confirmations/hooks/useConfirmActions.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/components/Views/confirmations/hooks/useFeeCalculations.ts
  app/components/Views/confirmations/hooks/useFlatConfirmation.ts
  app/components/Views/confirmations/hooks/useNavbar.test.ts
  app/components/Views/confirmations/hooks/useNavbar.ts
  app/components/Views/confirmations/hooks/useStandaloneConfirmation.ts
  app/components/Views/confirmations/utils/confirm.ts
  app/constants/navigation/Routes.ts
  app/util/test/confirm-data-helpers.ts
  e2e/pages/Ramps/BuildQuoteView.js
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#14084 fix: cp-7.43.0 bell icon colour and styles
  app/components/UI/Navbar/index.js
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
Labels: team-assets, Run Smoke E2E

#14090 fix: change function in `interfaceController.ts` to a memorised function to imporve performance
  app/selectors/snaps/interfaceController.ts
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-snaps-platform

#14105 fix: cp-7.43.0 useInterval deps
  app/components/UI/Ramp/hooks/useERC20GasLimitEstimation.test.ts
  app/components/hooks/useInterval.ts
Labels: team-ramp, Run Smoke E2E

#14089 feat: STAKE-958 - added migration 070 to remove unused staking state
  app/store/migrations/070.test.ts
  app/store/migrations/070.ts
  app/store/migrations/index.ts
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-earn

#14124 fix: Xcode 16 bitcode upload issue
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#13916 fix: toggle to display the correct balance
  app/components/UI/AssetElement/index.constants.ts
  app/components/UI/AssetElement/index.test.tsx
  app/components/UI/AssetElement/index.tsx
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/AssetOverview/Balance/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetOverview/Balance/index.test.tsx
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/UI/Bridge/TokenSelectorItem.tsx
  app/components/UI/NonEvmTokens/__snapshots__/index.test.tsx.snap
  app/components/UI/NonEvmTokens/index.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/Tokens/index.test.tsx
Labels: team-assets, Run Smoke E2E

#13010 feat: add carousel component
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Carousel/__snapshots__/index.test.tsx.snap
  app/components/UI/Carousel/constants.ts
  app/components/UI/Carousel/index.test.tsx
  app/components/UI/Carousel/index.tsx
  app/components/UI/Carousel/styles.ts
  app/components/UI/Carousel/types.ts
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.tsx
  app/images/banners/banner_image_aggregated.png
  app/images/banners/banner_image_bridge.png
  app/images/banners/banner_image_card.png
  app/images/banners/banner_image_cashout.png
  app/images/banners/banner_image_fund.png
  app/reducers/banners/index.test.ts
  app/reducers/banners/index.ts
  app/reducers/index.ts
  app/selectors/banner.ts
  app/util/test/initial-root-state.ts
  e2e/pages/wallet/WalletView.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/wallet/carousel.spec.js
  locales/languages/en.json
Labels: design-review, Run Smoke E2E, team-wallet-ux

#14132 chore: remove e2e merge commit filter
  .github/scripts/bitrise/bitrise-utils.ts
Labels: No QA Needed, Run Smoke E2E, team-dev-ops

#14013 fix: Snap account actions
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountActions/AccountActions.tsx
  app/core/Multichain/constants.ts
  app/core/Multichain/networks.ts
  app/core/Multichain/test/networks.test.ts
  app/selectors/multichain/multichain.ts
  app/util/networks/index.js
  app/util/networks/index.test.ts
  app/util/test/accountsControllerTestUtils.ts
Labels: team-accounts, Run Smoke E2E

#14070 feat: add bridge slippage modal component using segmented control
  app/components/Nav/App/App.tsx
  app/components/UI/Bridge/components/SlippageModal/SlippageModal.styles.ts
  app/components/UI/Bridge/components/SlippageModal/SlippageModal.test.tsx
  app/components/UI/Bridge/components/SlippageModal/SlippageModal.types.ts
  app/components/UI/Bridge/components/SlippageModal/__snapshots__/SlippageModal.test.tsx.snap
  app/components/UI/Bridge/components/SlippageModal/index.tsx
  app/components/UI/Bridge/index.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: team-swaps, Run Smoke E2E, team-swaps-and-bridge

#14117 fix: cp-7.43.0 QR hardware signature requests not showing result after signing
  app/components/Views/confirmations/hooks/useConfirmActions.test.ts
  app/components/Views/confirmations/hooks/useConfirmActions.ts
Labels: Run Smoke E2E, team-confirmations

#14125 fix: Add support for swipe navigation on android for staking confirma…
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/StakingClaim.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/StakingClaim.tsx
  app/components/Views/confirmations/components/Confirm/Navbar/Navbar.tsx
  app/components/Views/confirmations/hooks/useClearConfirmationOnBackSwipe.test.ts
  app/components/Views/confirmations/hooks/useClearConfirmationOnBackSwipe.ts
Labels: Run Smoke E2E, team-confirmations

#14081 feat: use new identity hooks
  app/actions/identity/constants/errors.ts
  app/actions/identity/index.test.ts
  app/actions/identity/index.ts
  app/components/Nav/Main/index.js
  app/components/UI/DeleteWalletModal/index.test.tsx
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.test.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.types.ts
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/UI/ProfileSyncing/__snapshots__/ProfileSyncing.test.tsx.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/OnboardingSuccess/OnboardingGeneralSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingSuccess/OnboardingGeneralSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/Sections/MetaMetricsAndDataCollectionSection/MetaMetricsAndDataCollectionSection.test.tsx
  app/components/Views/Settings/SecuritySettings/Sections/MetaMetricsAndDataCollectionSection/MetaMetricsAndDataCollectionSection.tsx
  app/components/Views/Settings/SecuritySettings/Sections/MetaMetricsAndDataCollectionSection/__snapshots__/MetaMetricsAndDataCollectionSection.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/Wallet/index.test.tsx
  app/selectors/identity/index.test.ts
  app/selectors/identity/index.tsx
  app/util/identity/hooks/useAccountSyncing.test.tsx
  app/util/identity/hooks/useAccountSyncing.ts
  app/util/identity/hooks/useCreateSession.test.tsx
  app/util/identity/hooks/useCreateSession.ts
  app/util/identity/hooks/useProfileSyncing.test.tsx
  app/util/identity/hooks/useProfileSyncing.ts
  app/util/notifications/hooks/types.ts
  app/util/sentry/utils.js
Labels: Run Smoke E2E, team-identity

#14113 fix: Address final design adjustments for redesigned confirmations
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/__snapshots__/AccountNetworkInfoExpanded.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/Footer/Footer.styles.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Info/GasFeesDetails/GasFeesDetails.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/GasFeesDetails/GasFeesDetails.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/StakingClaim.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/StakingClaim.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.tsx
  app/components/Views/confirmations/components/Confirm/StakingDetails/StakingDetails.styles.ts
  app/components/Views/confirmations/components/Confirm/StakingDetails/StakingDetails.tsx
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.styles.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.styles.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.tsx
  app/components/Views/confirmations/components/UI/InfoSectionAccordion/InfoSectionAccordion.styles.ts
  app/components/Views/confirmations/components/UI/InfoSectionAccordion/InfoSectionAccordion.tsx
  app/components/Views/confirmations/context/QRHardwareContext/QRHardwareContext.test.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#14114 chore: bump @metamask/profile-sync-controller to ^10.1.0
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/identity/create-authentication-controller.test.ts
  app/util/sentry/utils.js
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#14160 fix: moved xcode 16 as default and applied xcode 15 only to testfligh…
  bitrise.yml
Labels: team-mobile-platform

#14104 refactor: `Tokens` business logic isolation
  app/components/UI/Tokens/TokenListControlBar/TokenListControlBar.tsx
  app/components/UI/Tokens/TokenListControlBar/index.ts
  app/components/UI/Tokens/index.tsx
  app/components/UI/Tokens/util/goToAddEvmToken.test.ts
  app/components/UI/Tokens/util/goToAddEvmToken.ts
  app/components/UI/Tokens/util/index.ts
  app/components/UI/Tokens/util/refreshEvmTokens.test.ts
  app/components/UI/Tokens/util/refreshEvmTokens.ts
  app/components/UI/Tokens/util/removeEvmToken.test.ts
  app/components/UI/Tokens/util/removeEvmToken.ts
  app/selectors/multichain/evm.ts
  app/selectors/networkController.ts
Labels: team-assets, Run Smoke E2E

#14165 fix: cp-7.43.0 QR hardware signature requests not showing result afte…
  app/components/Views/confirmations/hooks/useConfirmActions.test.ts
  app/components/Views/confirmations/hooks/useConfirmActions.ts
Labels: team-mobile-platform

#14168 strip only in release
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: team-mobile-platform

#14163 fix: cp-7.43.0 bell icon colour and styles (#14084)
  app/components/UI/Navbar/index.js
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
Labels: team-mobile-platform

#14069 feat(4213-2) update network icons
  app/images/arbitrum.png
  app/images/avalanche.png
  app/images/base.png
  app/images/binance.png
  app/images/bitcoin-logo.png
  app/images/fantom.png
  app/images/harmony.png
  app/images/image-icons.js
  app/images/linea-mainnet-logo.png
  app/images/matic.png
  app/images/optimism.png
  app/images/palm.png
  app/images/pol.png
  app/images/sepolia-logo-dark.png
  app/images/solana-logo.png
  app/images/zk-sync.png
Labels: Run Smoke E2E, team-wallet-ux

#14068 chore: removing unused storybook folder
  .eslintignore
  .github/workflows/security-code-scanner.yml
  .prettierignore
  app/component-library/README.md
  app/component-library/components-temp/Accounts/AccountBalance/AccountBalance.stories.tsx
  app/component-library/components-temp/Contracts/ContractBox/ContractBox.stories.tsx
  app/component-library/components-temp/CustomSpendCap/CustomSpendCap.stories.tsx
  app/component-library/components-temp/KeyValueRow/KeyValueRow.stories.tsx
  app/components/Base/Alert.stories.tsx
  app/components/Base/ListItem.stories.js
  app/components/Base/Text/Text.stories.tsx
  app/components/Base/Title.stories.js
  app/components/UI/ButtonReveal/ButtonReveal.stories.tsx
  app/components/UI/Fox/Fox.stories.js
  app/components/UI/StyledButton/StyledButton.stories.js
  app/components/UI/WarningAlert/WarningAlert.stories.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.stories.tsx
  app/components/Views/confirmations/components/UI/CopyButton/CopyButton.stories.tsx
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.stories.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.stories.tsx
  app/components/Views/confirmations/components/UI/TextWithTooltip/TextWithTooltip.stories.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.stories.tsx
  package.json
  storybook/DOCUMENTATION_GUIDELINES.md
  storybook/GettingStarted.stories.tsx
  storybook/README.md
  storybook/addons.js
  storybook/decorators/index.ts
  storybook/decorators/withNavigation.tsx
  storybook/decorators/withSafeArea.tsx
  storybook/images/rn.sb.0.png
  storybook/images/rn.sb.1.png
  storybook/images/rn.sb.2.png
  storybook/images/rn.sb.3.png
  storybook/images/rn.sb.4.png
  storybook/index.js
  storybook/rn-addons.js
  storybook/storyLoader.js
  tsconfig.json
  yarn.lock
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#14174 fix: yarn setup bitrise
  bitrise.yml
Labels: team-mobile-platform, Run Smoke E2E

#14065 feat(4213-1): rounded square network icons
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/AvatarNetwork.styles.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarNetwork/__snapshots__/AvatarNetwork.test.tsx.snap
  app/component-library/components/Badges/Badge/variants/BadgeNetwork/__snapshots__/BadgeNetwork.test.tsx.snap
  app/components/UI/AccountFromToInfoCard/__snapshots__/AccountFromToInfoCard.test.tsx.snap
  app/components/UI/AccountRightButton/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetOverview/Balance/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/UI/NetworkCell/__snapshots__/NetworkCell.test.tsx.snap
  app/components/UI/NetworkInfo/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkSelectorList/__snapshots__/NetworkSelectorList.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Stake/Views/StakeConfirmationView/__snapshots__/StakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/Views/UnstakeConfirmationView/__snapshots__/UnstakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/components/EarnTokenList/__snapshots__/EarnTokenList.test.tsx.snap
  app/components/UI/Stake/components/EarnTokenListItem/__snapshots__/EarnTokenListItem.test.tsx.snap
  app/components/UI/Stake/components/EarnTokenSelector/__snapshots__/EarnTokenSelector.test.tsx.snap
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
  app/components/UI/Stake/components/StakingConfirmation/TokenValueStack/__snapshots__/TokenValueStack.test.tsx.snap
  app/components/Views/DetectedTokens/__snapshots__/index.test.tsx.snap
  app/components/Views/DetectedTokens/components/__snapshots__/Token.test.tsx.snap
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/__snapshots__/NetworkConnectMultiSelector.test.tsx.snap
  app/components/Views/NetworkSelector/RpcSelectionModal/__snapshots__/RpcSelectionModal.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/Notifications/Details/Badge/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingSuccess/OnboardingAssetsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/IncomingTransactionsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/confirmations/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/ApproveTransactionHeader/__snapshots__/ApproveTransactionHeader.test.tsx.snap
  app/components/Views/confirmations/components/TransactionReview/__snapshots__/index.test.jsx.snap
  app/components/Views/confirmations/components/TypedSign/__snapshots__/index.test.tsx.snap
Labels: team-ramp, team-design-system, team-stake, team-assets, Run Smoke E2E, team-wallet-ux, team-confirmations

#14071 feat(4213-3): network badge positioning
  app/component-library/components/Badges/BadgeWrapper/index.ts
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/AssetOverview/Balance/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/UI/Bridge/Token.tsx
  app/components/UI/Bridge/TokenSelectorItem.tsx
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.tsx
  app/components/UI/ConfirmAddAsset/__snapshots__/ConfirmAddAsset.test.tsx.snap
  app/components/UI/MultiAssetListItems/MultiAssetListItems.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/__snapshots__/StakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/Views/UnstakeConfirmationView/__snapshots__/UnstakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/components/EarnTokenList/__snapshots__/EarnTokenList.test.tsx.snap
  app/components/UI/Stake/components/EarnTokenListItem/__snapshots__/EarnTokenListItem.test.tsx.snap
  app/components/UI/Stake/components/EarnTokenListItem/index.tsx
  app/components/UI/Stake/components/EarnTokenSelector/__snapshots__/EarnTokenSelector.test.tsx.snap
  app/components/UI/Stake/components/EarnTokenSelector/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
  app/components/UI/Stake/components/StakingConfirmation/TokenValueStack/TokenValueStack.tsx
  app/components/UI/Stake/components/StakingConfirmation/TokenValueStack/__snapshots__/TokenValueStack.test.tsx.snap
  app/components/UI/Tabs/TabThumbnail/TabThumbnail.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/Views/DetectedTokens/__snapshots__/index.test.tsx.snap
  app/components/Views/DetectedTokens/components/Token.tsx
  app/components/Views/DetectedTokens/components/__snapshots__/Token.test.tsx.snap
  app/components/Views/Notifications/Details/Badge/index.tsx
  app/components/Views/Notifications/Details/Fields/AssetField.tsx
  app/components/Views/Notifications/Details/Fields/NFTCollectionField.tsx
  app/components/Views/Notifications/Details/Headers/NFTImageHeader.tsx
  app/components/Views/Notifications/Details/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.tsx
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.tsx
Labels: team-design-system, team-swaps, team-stake, team-assets, Run Smoke E2E, team-wallet-ux, team-confirmations

#14187 fix: Disable Snaps APIs when using WalletConnect or SDK
  app/core/BackgroundBridge/BackgroundBridge.js
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#14188 ci: cp-7.43.0 add trigger to kick off qa builds after release is publ…
  bitrise.yml
Labels: team-mobile-platform

#14186 test: Fix Swap smoke tests
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#14191 fix: Fix a number of rendering problems with `AvatarFavicon`
  app/component-library/components/Avatars/Avatar/variants/AvatarFavicon/AvatarFavicon.constants.ts
  app/component-library/components/Avatars/Avatar/variants/AvatarFavicon/AvatarFavicon.test.tsx
  app/component-library/components/Avatars/Avatar/variants/AvatarFavicon/AvatarFavicon.tsx
  app/component-library/components/Avatars/Avatar/variants/AvatarFavicon/__snapshots__/AvatarFavicon.test.tsx.snap
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#14203 fix: Add staking claim event location
  app/components/Views/confirmations/hooks/useConfirmationLocation.test.ts
  app/components/Views/confirmations/hooks/useConfirmationLocation.ts
  app/components/Views/confirmations/hooks/useConfirmationMetricEvents.test.ts
  app/components/Views/confirmations/hooks/useConfirmationMetricEvents.ts
  app/core/Analytics/events/confirmations/constants.ts
Labels: Run Smoke E2E, team-confirmations

#13773 feat: add inline alert (origin mismatch) to SIWE
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.styles.ts
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.tsx
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.tsx
  app/components/Views/confirmations/AlertSystem/MultipleAlertModal/MultipleAlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/context/Alerts.context.test.tsx
  app/components/Views/confirmations/AlertSystem/context/Alerts.context.tsx
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/BlockaidAlertContent/BlockaidAlertContent.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Info/Shared/InfoRowOrigin/InfoRowOrigin.tsx
  app/components/Views/confirmations/components/UI/InfoRow/AlertRow/AlertRow.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/AlertRow/AlertRow.tsx
  app/components/Views/confirmations/components/UI/InfoRow/AlertRow/constants.ts
  app/components/Views/confirmations/components/UI/InfoRow/AlertRow/index.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.tsx
  app/components/Views/confirmations/hooks/alerts/signatures/useDomainMismatchAlerts.test.ts
  app/components/Views/confirmations/hooks/alerts/signatures/useDomainMismatchAlerts.ts
  app/components/Views/confirmations/hooks/useConfirmationAlerts.test.ts
  app/components/Views/confirmations/hooks/useConfirmationAlerts.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13768 feat: import srp
  app/actions/multiSrp/index.test.ts
  app/actions/multiSrp/index.ts
  app/components/Nav/App/App.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AddAccountActions/AddAccountActions.styles.ts
  app/components/Views/AddAccountActions/AddAccountActions.test.tsx
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/components/Views/AddAccountActions/__snapshots__/AddAccountActions.test.tsx.snap
  app/components/Views/ImportNewSecretRecoveryPhrase/index.test.tsx
  app/components/Views/ImportNewSecretRecoveryPhrase/index.tsx
  app/components/Views/ImportNewSecretRecoveryPhrase/styles.ts
  app/constants/navigation/Routes.ts
  app/constants/permissions.ts
  app/selectors/keyringController/index.test.ts
  app/selectors/keyringController/index.ts
  app/selectors/keyringController/testUtils.ts
  e2e/pages/importSrp/ImportSrpView.js
  e2e/pages/wallet/AddAccountBottomSheet.js
  e2e/selectors/MultiSRP/SRPImport.selectors.js
  e2e/selectors/wallet/AddAccountBottomSheet.selectors.js
  locales/languages/en.json
  metro.transform.js
Labels: team-accounts, Run Smoke E2E

#14018 feat: Add Linea to Smart Transaction supported chains
  app/constants/smartTransactions.test.ts
  app/constants/smartTransactions.ts
Labels: Run Smoke E2E, team-transactions, release-7.44.0

#14208 chore: 7.42.1 stable-main sync
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#14192 chore: add code fencing file to CODEOWNERS
  .github/CODEOWNERS
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#14193 debounce writting in storage
  app/store/persistConfig.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#14175 feat: Enforce 3-minute idle time for BrowserTabs before unmounting them
  app/actions/browser/index.js
  app/components/Views/Browser/constants.ts
  app/components/Views/Browser/index.js
  app/components/Views/Browser/index.test.tsx
  app/components/Views/BrowserTab/BrowserTab.tsx
  app/components/Views/BrowserTab/types.ts
Labels: team-mobile-platform, Run Smoke E2E

#14029 chore: adds the multichain transaction view
  app/components/UI/MultichainTransactionDetailsModal/MultichainTransactionDetailsModal.test.tsx
  app/components/UI/MultichainTransactionDetailsModal/MultichainTransactionDetailsModal.tsx
  app/components/UI/MultichainTransactionDetailsModal/index.ts
  app/components/UI/MultichainTransactionListItem/MultichainTransactionListItem.test.tsx
  app/components/UI/MultichainTransactionListItem/MultichainTransactionListItem.tsx
  app/components/UI/MultichainTransactionListItem/index.tsx
  app/components/Views/ActivityView/index.js
  app/components/Views/MultichainTransactionsView/MultichainTransactionsView.test.tsx
  app/components/Views/MultichainTransactionsView/MultichainTransactionsView.tsx
  app/components/Views/MultichainTransactionsView/index.ts
  app/components/hooks/useMultichainTransactionDisplay/index.ts
  app/components/hooks/useMultichainTransactionDisplay/useMultichainTransactionDisplay.test.ts
  app/components/hooks/useMultichainTransactionDisplay/useMultichainTransactionDisplay.ts
  app/core/Multichain/constants.ts
  app/core/Multichain/networks.ts
  app/core/Multichain/test/utils.test.ts
  app/core/Multichain/utils.ts
  app/selectors/accountsController.test.ts
  app/selectors/accountsController.ts
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichain/multichain.ts
  app/util/networks/index.js
  app/util/networks/index.test.ts
  app/util/transaction-icons/index.test.tsx
  app/util/transaction-icons/index.tsx
  ios/Podfile.lock
  locales/languages/en.json
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-sol

#14219 fix: Fix mobile redesigned transaction metrics
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/hooks/useConfirmationMetricEvents.test.ts
  app/core/Analytics/events/confirmations/constants.ts
  app/core/Analytics/events/confirmations/events.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
  app/core/Engine/controllers/transaction-controller/transaction-event-handlers.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-event-handlers.ts
  app/core/Engine/controllers/transaction-controller/types.ts
  app/core/Engine/controllers/transaction-controller/utils.test.ts
  app/core/Engine/controllers/transaction-controller/utils.ts
Labels: Run Smoke E2E, team-confirmations

#14062 feat: Add `getPreferences` hook
  app/core/Engine/Engine.ts
Labels: Run Smoke E2E, team-snaps-platform, skip-sonar-cloud

#14205 fix: return the same track event reference
  app/components/hooks/useMetrics/useMetrics.test.tsx
  app/components/hooks/useMetrics/useMetrics.ts
  app/core/Analytics/MetaMetrics.ts
Labels: team-assets, Run Smoke E2E

#14227 docs: fix typo in Expo development section of README
  README.md
Labels: No QA Needed, team-wallet-framework, No E2E Smoke Needed
