Repository MetaMask/metamask-mobile, pull requests merged in 2025-08, with the labels that each got.

#17797 feat: decoupling PerpsController error strings for Core Monorepo Integration
  app/components/UI/Perps/Views/PerpsDepositAmountView/PerpsDepositAmountView.tsx
  app/components/UI/Perps/controllers/PerpsController.test.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/hooks/usePerpsClosePosition.test.ts
  app/components/UI/Perps/hooks/usePerpsClosePosition.ts
  app/components/UI/Perps/utils/perpsErrorHandler.test.ts
  app/components/UI/Perps/utils/perpsErrorHandler.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-perps

#17642 fix: refactor recreatevault -> change password cp-7.53.0
  app/components/Views/ResetPassword/index.js
  app/core/Authentication/Authentication.test.ts
  app/core/Vault.js
  app/core/Vault.test.ts
  app/core/Vault.ts
Labels: area-onboarding, No QA Needed, area-performance, Run Smoke E2E, team-web3auth

#17807 fix: cp-7.51.2 scroll behaviour on Solana New Feature view
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.styles.ts
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-new-networks

#17804 fix: Fix padding issue of transactions view
  app/components/UI/TransactionElement/index.js
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#17235 fix: Update how utm params are parsed in deeplinks
  app/core/AppStateEventListener.test.ts
  app/core/AppStateEventListener.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.test.ts
  app/core/DeeplinkManager/ParseManager/extractURLParams.ts
  app/core/processAttribution.test.tsx
  app/core/processAttribution.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform, external-contributor, INVALID-PR-TEMPLATE, No E2E Smoke Needed

#17416 test(e2e): Add Snaps E2E tests
  app/components/Approvals/InstallSnapApproval/InstallSnapApproval.tsx
  e2e/framework/Assertions.ts
  e2e/helpers.js
  e2e/pages/Browser/TestSnaps.ts
  e2e/selectors/Browser/TestSnaps.selectors.ts
  e2e/specs/snaps/test-snap-bip-32.spec.ts
  e2e/specs/snaps/test-snap-bip-44.spec.ts
  e2e/specs/snaps/test-snap-client-status.spec.ts
  e2e/specs/snaps/test-snap-ethereum-provider.spec.ts
  e2e/specs/snaps/test-snap-get-entropy.spec.ts
  e2e/specs/snaps/test-snap-get-preferences.spec.ts
  e2e/specs/snaps/test-snap-lifecycle.spec.ts
  e2e/specs/snaps/test-snap-manage-state.spec.ts
  e2e/specs/snaps/test-snap-network-access.spec.ts
  e2e/specs/snaps/test-snap-rpc.spec.ts
  e2e/viewHelper.ts
Labels: No QA Needed, No E2E Smoke Needed, team-snaps-platform, no-changelog

#17829 fix: cp-7.51.2 solana modal android font
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.styles.ts
Labels: No QA Needed, No E2E Smoke Needed, team-new-networks

#17781 feat: price impact warning modal
  app/components/UI/Bridge/components/PriceImpactWarningModal/PriceImpactWarningModal.styles.ts
  app/components/UI/Bridge/components/PriceImpactWarningModal/PriceImpactWarningModal.test.tsx
  app/components/UI/Bridge/components/PriceImpactWarningModal/PriceImpactWarningModal.tsx
  app/components/UI/Bridge/components/PriceImpactWarningModal/index.ts
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.test.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.tsx
  app/components/UI/Bridge/routes.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#17770 feat(deposit): prefill personal details form with user data
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.test.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/__snapshots__/EnterAddress.test.tsx.snap
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
Labels: QA Passed, team-ramp, No E2E Smoke Needed

#17863 fix: fixes account related failures in wallet platform and identity tests
  e2e/specs/identity/account-syncing/adding-and-renaming-accounts.spec.ts
  e2e/specs/identity/account-syncing/sync-after-forgot-password.spec.ts
  e2e/specs/multisrp/utils.ts
  e2e/specs/solana/create-solana-account.spec.ts
Labels: No E2E Smoke Needed, team-qa

#17875 fix(deposit): cp-7.53.0 make manual transfer orders unique
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.test.tsx
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.tsx
  app/components/UI/Ramp/Deposit/Views/BankDetails/__snapshots__/BankDetails.test.tsx.snap
  app/components/UI/Ramp/Deposit/constants/paymentMethods.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
  app/components/UI/Ramp/Deposit/utils/index.ts
  locales/languages/en.json
Labels: QA Passed, team-ramp, No E2E Smoke Needed

#17902 chore: sonar cloud step to run only on PR
  .github/workflows/ci.yml
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#17905 fix(deposit): cp-7.53.0 crypto currency property in event
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.tsx
  app/components/UI/Ramp/Deposit/Views/OrderProcessing/OrderProcessing.test.tsx
  app/components/UI/Ramp/Deposit/Views/OrderProcessing/OrderProcessing.tsx
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#17911 fix: cp-7.53.0 disables flaky E2E tests
  e2e/specs/quarantine/batch-transaction.failing.ts
  e2e/specs/quarantine/multichain/wallet-invokeMethod.failing.ts
  e2e/specs/quarantine/wallet-invokeMethod.failing.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#17896 fix: cp-7.53.0 e2e misusing checksum addresses
  e2e/api-mocking/mock-config/mock-events.js
  e2e/fixtures/utils.js
  e2e/framework/fixtures/FixtureBuilder.ts
  e2e/specs/assets/import-tokens-via-asset-watcher.spec.ts
  e2e/specs/multichain-accounts/common.ts
  e2e/specs/notifications/notification-settings-flow.spec.ts
Labels: No QA Needed, team-assets, Run Smoke E2E

#17796 feat: v7.52.1
  CHANGELOG.md
  android/app/build.gradle
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.styles.ts
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.tsx
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: team-mobile-platform, Run Smoke E2E

#17802 refactor: Simplify iOS simulator build script by using an array for d…
  scripts/build.sh
Labels: No QA Needed, No E2E Smoke Needed, team-perps

#17993 chore: Added disabled state to ActionListItem
  app/component-library/components-temp/ActionListItem/ActionListItem.stories.tsx
  app/component-library/components-temp/ActionListItem/ActionListItem.test.tsx
  app/component-library/components-temp/ActionListItem/ActionListItem.tsx
  app/component-library/components-temp/ActionListItem/ActionListItem.types.ts
  app/component-library/components-temp/ActionListItem/__snapshots__/ActionListItem.test.tsx.snap
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#17917 feat: Perps chart improvements time interval, candle period
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/Views/PerpsPositionDetailsView/PerpsPositionDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsPositionDetailsView/PerpsPositionDetailsView.tsx
  app/components/UI/Perps/components/PerpsCandlePeriodBottomSheet/PerpsCandlePeriodBottomSheet.styles.ts
  app/components/UI/Perps/components/PerpsCandlePeriodBottomSheet/PerpsCandlePeriodBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsCandlePeriodBottomSheet/PerpsCandlePeriodBottomSheet.tsx
  app/components/UI/Perps/components/PerpsCandlePeriodBottomSheet/index.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlectickChart.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlestickChart.test.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlestickChartSkeleton.tsx
  app/components/UI/Perps/components/PerpsCandlestickChartIntervalSelector/PerpsCandlestickChartIntervalSelector.tsx
  app/components/UI/Perps/components/PerpsTimeDurationSelector/PerpsTimeDurationSelector.styles.ts
  app/components/UI/Perps/components/PerpsTimeDurationSelector/PerpsTimeDurationSelector.tsx
  app/components/UI/Perps/components/PerpsTimeDurationSelector/index.tsx
  app/components/UI/Perps/constants/chartConfig.ts
  app/components/UI/Perps/controllers/PerpsController.test.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/hooks/usePerpsMarketStats.test.ts
  app/components/UI/Perps/hooks/usePerpsMarketStats.ts
  app/components/UI/Perps/hooks/usePerpsPositionData.test.ts
  app/components/UI/Perps/hooks/usePerpsPositionData.ts
  app/components/UI/Perps/services/HyperLiquidClientService.test.ts
  app/components/UI/Perps/services/HyperLiquidClientService.ts
  app/components/UI/Perps/types/index.ts
  app/components/UI/Perps/utils/marketUtils.test.ts
  e2e/selectors/Perps/Perps.selectors.ts
Labels: QA Passed, No E2E Smoke Needed, skip-sonar-cloud, team-perps

#18008 update: Aligned start icon with label
  app/component-library/components-temp/ActionListItem/ActionListItem.tsx
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#18005 feat: Add tp&sl lines to Perps chart
  app/components/UI/Perps/Views/PerpsPositionDetailsView/PerpsPositionDetailsView.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlectickChart.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlestickChart.styles.ts
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlestickChart.test.tsx
Labels: QA Passed, No E2E Smoke Needed, team-perps

#17868 chore: map android signing-configs to auth environments for flask and main
  android/app/build.gradle
  bitrise.yml
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#17811 fix: oauth uat config
  app/core/OAuthService/OAuthLoginHandlers/constants.ts
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#17809 feat: perps improve protocol abstraction and handle edge order edge cases
  app/components/UI/Perps/PERPS_ARCH.md
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.styles.ts
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.test.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/components/PerpsClosePositionBottomSheet/PerpsClosePositionBottomSheet.styles.ts
  app/components/UI/Perps/components/PerpsClosePositionBottomSheet/PerpsClosePositionBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsClosePositionBottomSheet/PerpsClosePositionBottomSheet.tsx
  app/components/UI/Perps/constants/hyperLiquidConfig.ts
  app/components/UI/Perps/constants/perpsConfig.ts
  app/components/UI/Perps/controllers/PerpsController.test.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.test.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
  app/components/UI/Perps/controllers/types/index.ts
  app/components/UI/Perps/hooks/index.ts
  app/components/UI/Perps/hooks/useHasExistingPosition.test.ts
  app/components/UI/Perps/hooks/useHasExistingPosition.ts
  app/components/UI/Perps/hooks/useMinimumOrderAmount.test.ts
  app/components/UI/Perps/hooks/useMinimumOrderAmount.ts
  app/components/UI/Perps/hooks/usePerpsClosePositionValidation.test.ts
  app/components/UI/Perps/hooks/usePerpsClosePositionValidation.ts
  app/components/UI/Perps/hooks/usePerpsMarkets.test.ts
  app/components/UI/Perps/hooks/usePerpsOrderExecution.test.ts
  app/components/UI/Perps/hooks/usePerpsOrderExecution.ts
  app/components/UI/Perps/hooks/usePerpsOrderFees.test.ts
  app/components/UI/Perps/hooks/usePerpsOrderForm.test.ts
  app/components/UI/Perps/hooks/usePerpsOrderForm.ts
  app/components/UI/Perps/hooks/usePerpsOrderValidation.test.ts
  app/components/UI/Perps/hooks/usePerpsOrderValidation.ts
  app/components/UI/Perps/hooks/usePerpsTrading.test.ts
  app/components/UI/Perps/hooks/usePerpsTrading.ts
  app/components/UI/Perps/types/index.ts
  app/components/UI/Perps/utils/orderCalculations.test.ts
  app/components/UI/Perps/utils/orderCalculations.ts
  app/components/UI/Perps/utils/orderValidation.test.ts
  app/components/UI/Perps/utils/orderValidation.ts
  app/components/UI/Perps/utils/translatePerpsError.test.ts
  app/components/UI/Perps/utils/translatePerpsError.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-perps

#17942 feat: update perps trading tooltips
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.styles.ts
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.test.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/hooks/usePerpsOrderFees.test.ts
  app/components/UI/Perps/hooks/usePerpsOrderFees.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-perps

#17659 feat: add pay publish hook
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
  app/core/Engine/messengers/transaction-controller-messenger/transaction-controller-messenger.ts
  app/util/transactions/hooks/pay-hook.test.ts
  app/util/transactions/hooks/pay-hook.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#17925 fix: synced srp discover accounts - cp-7.53.0
  app/core/Authentication/Authentication.ts
Labels: area-onboarding, QA Passed, area-performance, Run Smoke E2E, team-web3auth

#17801 fix: remaining time format cp-7.53.0
  app/components/Views/Login/index.tsx
  app/components/Views/Login/index2.test.tsx
Labels: area-onboarding, QA Passed, Run Smoke E2E, team-web3auth

#17866 chore: Cherry pick/d52fde7 refactor build config
  .detoxrc.js
  android/app/build.gradle
  app/components/Views/OnboardingCarousel/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingCarousel/index.test.tsx
  app/components/Views/OnboardingCarousel/index.tsx
  app/components/Views/Settings/AppInformation/index.js
  app/core/Engine/controllers/TokenSearchDiscoveryController/utils.ts
  app/core/OAuthService/OAuthLoginHandlers/constants.ts
  app/core/Performance/Performance.test.ts
  app/core/Performance/Performance.ts
  app/core/PreventScreenshot.js
  app/store/index.ts
  app/util/sentry/utils.js
  app/util/test/utils.js
  bitrise.yml
  package.json
  scripts/build.sh
  scripts/run-e2e-tags.sh
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, no changelog required

#17937 ci: post validation bot to add a checklist in `feat` and `perf` PRs
  .github/workflows/post-merge-validation.yml
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, needs-validation

#17885 feat: Adding wizard for send flow
  app/components/Views/confirmations/components/send/amount/amount-edit/amount-edit.styles.ts
  app/components/Views/confirmations/components/send/amount/amount-edit/amount-edit.test.tsx
  app/components/Views/confirmations/components/send/amount/amount-edit/amount-edit.tsx
  app/components/Views/confirmations/components/send/amount/amount-edit/index.ts
  app/components/Views/confirmations/components/send/amount/amount.styles.ts
  app/components/Views/confirmations/components/send/amount/amount.test.tsx
  app/components/Views/confirmations/components/send/amount/amount.tsx
  app/components/Views/confirmations/components/send/asset/asset.test.tsx
  app/components/Views/confirmations/components/send/asset/asset.tsx
  app/components/Views/confirmations/components/send/send-root/index.ts
  app/components/Views/confirmations/components/send/send-root/send-root.styles.ts
  app/components/Views/confirmations/components/send/send-root/send-root.test.tsx
  app/components/Views/confirmations/components/send/send-root/send-root.tsx
  app/components/Views/confirmations/components/send/send-to/send-to.test.tsx
  app/components/Views/confirmations/components/send/send-to/send-to.tsx
  app/components/Views/confirmations/components/send/send.tsx
  app/components/Views/confirmations/hooks/send/useCurrencyConversions.test.ts
  app/components/Views/confirmations/hooks/send/useCurrencyConversions.ts
  app/components/Views/confirmations/hooks/send/useSendActions.ts
  app/components/Views/confirmations/hooks/send/useSendAmountConfirmDisabled.test.ts
  app/components/Views/confirmations/hooks/send/useSendAmountConfirmDisabled.ts
  app/components/Views/confirmations/hooks/send/useSendDisabled.ts
  app/components/Views/confirmations/hooks/send/useSendScreenNavigation.test.ts
  app/components/Views/confirmations/hooks/send/useSendScreenNavigation.ts
  app/components/Views/confirmations/hooks/send/useToAddressValidation.ts
  app/components/Views/confirmations/utils/send.ts
  app/constants/navigation/Routes.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#17996 feat(deposit): add networks filtering to token selector
  app/components/UI/Ramp/Deposit/Views/Modals/TokenSelectorModal/TokenSelectorModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/TokenSelectorModal/TokenSelectorModal.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/TokenSelectorModal/__snapshots__/TokenSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/NetworksFilterBar/NetworksFilterBar.styles.ts
  app/components/UI/Ramp/Deposit/components/NetworksFilterBar/NetworksFilterBar.test.tsx
  app/components/UI/Ramp/Deposit/components/NetworksFilterBar/NetworksFilterBar.tsx
  app/components/UI/Ramp/Deposit/components/NetworksFilterBar/__snapshots__/NetworksFilterBar.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/NetworksFilterBar/index.ts
  app/components/UI/Ramp/Deposit/components/NetworksFilterSelector/NetworksFilterSelector.styles.ts
  app/components/UI/Ramp/Deposit/components/NetworksFilterSelector/NetworksFilterSelector.test.tsx
  app/components/UI/Ramp/Deposit/components/NetworksFilterSelector/NetworksFilterSelector.tsx
  app/components/UI/Ramp/Deposit/components/NetworksFilterSelector/__snapshots__/NetworksFilterSelector.test.tsx.snap
  app/components/UI/Ramp/Deposit/hooks/useSearchTokenResults.test.ts
  app/components/UI/Ramp/Deposit/hooks/useSearchTokenResults.ts
  app/components/UI/Ramp/Deposit/utils/index.ts
  locales/languages/en.json
Labels: QA Passed, team-ramp, Run Smoke E2E

#18014 feat: contextual network picker component
  app/components/UI/ContextualNetworkPicker/ContextualNetworkPicker.styles.ts
  app/components/UI/ContextualNetworkPicker/ContextualNetworkPicker.test.tsx
  app/components/UI/ContextualNetworkPicker/ContextualNetworkPicker.tsx
  app/components/UI/ContextualNetworkPicker/index.ts
  app/constants/networkSelector.ts
Labels: No QA Needed, Run Smoke E2E, team-wallet-ux

#17822 fix: next version fix label PR
  .github/scripts/get-next-semver-version.sh
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#18044 chore: upgrading `@metamask/design-system-react-native@0.3.0`
  package.json
  yarn.lock
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#18051 feat(deposit): cp-7.53.0 show recipient address in bank details screen
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.test.tsx
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.tsx
  app/components/UI/Ramp/Deposit/Views/BankDetails/__snapshots__/BankDetails.test.tsx.snap
  locales/languages/en.json
Labels: No QA Needed, team-ramp, Run Smoke E2E

#18046 chore: Make Asset sort e2e test more robust cp-7.53.0
  e2e/specs/assets/multichain/asset-sort.spec.ts
Labels: No QA Needed, Run Smoke E2E

#17789 perf: Update FlashList to v2 cp-7.53.0
  app/components/UI/Bridge/components/BridgeDestTokenSelector/__snapshots__/BridgeDestTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/__snapshots__/BridgeSourceTokenSelector.test.tsx.snap
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.test.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.tsx
  app/components/UI/EvmAccountSelectorList/__snapshots__/EvmAccountSelectorList.test.tsx.snap
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsTransactionsView.tsx
  app/components/UI/Perps/constants/transactionsHistoryConfig.ts
  app/components/UI/Tokens/TokenList/index.tsx
  app/components/Views/AccountSelector/AccountSelector.styles.ts
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/AccountSelector/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/Asset/__snapshots__/index.test.js.snap
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/index.tsx
  app/components/Views/MultichainTransactionsView/MultichainTransactionsView.tsx
  app/components/Views/confirmations/legacy/SendFlow/AddressList/AddressList.tsx
  app/components/Views/confirmations/legacy/SendFlow/AddressList/__snapshots__/AddressList.test.tsx.snap
  app/components/Views/confirmations/legacy/SendFlow/SendTo/__snapshots__/index.test.tsx.snap
  app/util/test/testSetup.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: No QA Needed, team-accounts, No E2E Smoke Needed

#18047 fix: copied to clipboard alert not dismissable
  app/store/migrations/091.test.ts
  app/store/migrations/091.ts
  app/store/migrations/index.ts
  app/store/persistConfig.test.ts
  app/store/persistConfig.ts
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#17906 feat: Add support for fiat conversion for non-evm send
  app/components/Views/confirmations/__mocks__/send.mock.ts
  app/components/Views/confirmations/components/send/amount/amount.test.tsx
  app/components/Views/confirmations/hooks/send/evm/useEvmToAddressValidation.test.ts
  app/components/Views/confirmations/hooks/send/evm/useEvmToAddressValidation.ts
  app/components/Views/confirmations/hooks/send/useCurrencyConversions.test.ts
  app/components/Views/confirmations/hooks/send/useCurrencyConversions.ts
  app/components/Views/confirmations/utils/send.test.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#18030 fix: optinmetric screen show up even metric accepted - cp-7.53.0
  app/components/Nav/App/App.test.tsx
  app/components/Nav/App/App.tsx
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#18066 fix: Cherry pick clip board dismiss PR #18047
  app/store/migrations/090.test.ts
  app/store/migrations/090.ts
  app/store/migrations/index.ts
  app/store/persistConfig.test.ts
  app/store/persistConfig.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, no changelog required

#17892 feat: add alerts to perps deposit confirmation
  app/components/Views/confirmations/__mocks__/controllers/transaction-controller-mock.ts
  app/components/Views/confirmations/components/UI/info-row/alert-row/constants.ts
  app/components/Views/confirmations/components/confirm/confirm-component.test.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.styles.ts
  app/components/Views/confirmations/components/edit-amount/edit-amount.test.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.tsx
  app/components/Views/confirmations/components/pay-token-balance/index.ts
  app/components/Views/confirmations/components/pay-token-balance/pay-token-balance.styles.ts
  app/components/Views/confirmations/components/pay-token-balance/pay-token-balance.test.tsx
  app/components/Views/confirmations/components/pay-token-balance/pay-token-balance.tsx
  app/components/Views/confirmations/components/rows/pay-with-row/pay-with-row.test.tsx
  app/components/Views/confirmations/components/rows/pay-with-row/pay-with-row.tsx
  app/components/Views/confirmations/components/rows/total-row/index.ts
  app/components/Views/confirmations/components/rows/total-row/total-row.test.tsx
  app/components/Views/confirmations/components/rows/total-row/total-row.tsx
  app/components/Views/confirmations/components/token-amount-native/index.ts
  app/components/Views/confirmations/components/token-amount-native/token-amount-native.styles.ts
  app/components/Views/confirmations/components/token-amount-native/token-amount-native.test.tsx
  app/components/Views/confirmations/components/token-amount-native/token-amount-native.tsx
  app/components/Views/confirmations/constants/alerts.ts
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.tsx
  app/components/Views/confirmations/hooks/alerts/useConfirmationAlerts.test.ts
  app/components/Views/confirmations/hooks/alerts/useConfirmationAlerts.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientPayTokenBalanceAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientPayTokenBalanceAlert.ts
  app/components/Views/confirmations/hooks/alerts/usePerpsDepositMinimumAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/usePerpsDepositMinimumAlert.ts
  app/components/Views/confirmations/hooks/metrics/useConfirmationAlertMetrics.ts
  app/components/Views/confirmations/hooks/pay/useTransactionBridgeQuotes.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionBridgeQuotes.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayToken.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayToken.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayTokenAmounts.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayTokenAmounts.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.ts
  app/components/Views/confirmations/hooks/transactions/useTransactionMetadataRequest.ts
  app/components/Views/confirmations/hooks/useTokenAmount.test.ts
  app/components/Views/confirmations/hooks/useTokenAmount.ts
  app/core/redux/slices/confirmationMetrics/index.test.ts
  app/core/redux/slices/confirmationMetrics/index.ts
  jest.config.js
  locales/languages/en.json
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#18077 fix: cp-7.53.0 handle unrecognised Blockaid reasons in confirmation alerts
  app/components/Views/confirmations/components/blockaid-alert-content/blockaid-alert-content.test.tsx
  app/components/Views/confirmations/components/blockaid-alert-content/blockaid-alert-content.tsx
Labels: Run Smoke E2E, team-confirmations

#18086 Chore (release):update hotfix version to 7.51.3
  android/app/build.gradle
  bitrise.yml
  package.json
Labels: INVALID-PR-TEMPLATE

#17944 feat: Improvements in amount page formatting
  app/components/Views/confirmations/components/send/amount/amount-edit/amount-edit.styles.ts
  app/components/Views/confirmations/components/send/amount/amount-edit/amount-edit.test.tsx
  app/components/Views/confirmations/components/send/amount/amount-edit/amount-edit.tsx
  app/components/Views/confirmations/components/send/amount/amount.test.tsx
  app/components/Views/confirmations/components/send/amount/amount.tsx
  app/components/Views/confirmations/hooks/send/evm/useEvmAmountValidation.test.ts
  app/components/Views/confirmations/hooks/send/evm/useEvmAmountValidation.ts
  app/components/Views/confirmations/hooks/send/evm/useEvmMaxAmount.test.ts
  app/components/Views/confirmations/hooks/send/evm/useEvmMaxAmount.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmAmountValidation.test.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmAmountValidation.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmMaxAmount.test.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmMaxAmount.ts
  app/components/Views/confirmations/hooks/send/useAmountValidation.test.ts
  app/components/Views/confirmations/hooks/send/useAmountValidation.ts
  app/components/Views/confirmations/hooks/send/useCurrencyConversions.test.ts
  app/components/Views/confirmations/hooks/send/useCurrencyConversions.ts
  app/components/Views/confirmations/hooks/send/useMaxAmount.test.ts
  app/components/Views/confirmations/hooks/send/useMaxAmount.ts
  app/components/Views/confirmations/hooks/send/useSendAmountConfirmDisabled.test.ts
  app/components/Views/confirmations/hooks/send/useSendAmountConfirmDisabled.ts
  app/components/Views/confirmations/utils/send.test.ts
  app/components/Views/confirmations/utils/send.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations

#18105 fix: Revert Android SDK bump to fix nav overlay issue
  android/build.gradle
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, no changelog required

#18078 fix: cp-7.53.0 hide price impact for wrapping quotes
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.tsx
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#18103 docs: improve storybook setup instructions and usage guide
  docs/readme/storybook.md
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, no-changelog

#17790 chore: update BottomSheet border radius
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.styles.ts
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/__snapshots__/BottomSheetDialog.test.tsx.snap
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/__snapshots__/BasicFunctionalityModal.test.js.snap
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/__snapshots__/BridgeDestNetworkSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/__snapshots__/BridgeSourceNetworkSelector.test.tsx.snap
  app/components/UI/Bridge/components/QuoteExpiredModal/__snapshots__/QuoteExpiredModal.test.tsx.snap
  app/components/UI/Bridge/components/QuoteInfoModal/__snapshots__/QuoteInfoModal.test.tsx.snap
  app/components/UI/Bridge/components/SlippageModal/__snapshots__/SlippageModal.test.tsx.snap
  app/components/UI/DeleteWalletModal/__snapshots__/index.test.tsx.snap
  app/components/UI/Earn/LendingLearnMoreModal/__snapshots__/LendingLearnMoreModal.test.tsx.snap
  app/components/UI/Earn/components/EarnTokenList/__snapshots__/EarnTokenList.test.tsx.snap
  app/components/UI/Earn/components/MaxInputModal/__snapshots__/MaxInputModal.test.tsx.snap
  app/components/UI/Identity/ConfirmTurnOnBackupAndSyncModal/__snapshots__/ConfirmTurnOnBackupAndSyncModal.test.tsx.snap
  app/components/UI/Notification/ResetNotificationsModal/__snapshots__/ResetNotificationsModal.test.tsx.snap
  app/components/UI/Perps/components/PerpsBottomSheetTooltip/__snapshots__/PerpsBottomSheetTooltip.test.tsx.snap
  app/components/UI/Ramp/Aggregator/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/ConfigurationModal/__snapshots__/ConfigurationModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/IncompatibleAccountTokenModal/__snapshots__/IncompatibleAccountTokenModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/PaymentMethodSelectorModal/__snapshots__/PaymentMethodSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/__snapshots__/RegionSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/SsnInfoModal/__snapshots__/SsnInfoModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/StateSelectorModal/__snapshots__/StateSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/TokenSelectorModal/__snapshots__/TokenSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/UnsupportedRegionModal/__snapshots__/UnsupportedRegionModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/UnsupportedStateModal/__snapshots__/UnsupportedStateModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/__snapshots__/WebviewModal.test.tsx.snap
  app/components/UI/SelectOptionSheet/__snapshots__/OptionSheet.test.tsx.snap
  app/components/UI/Stake/components/GasImpactModal/__snapshots__/GasImpactModal.test.tsx.snap
  app/components/UI/Stake/components/PoolStakingLearnMoreModal/__snapshots__/PoolStakingLearnMoreModal.test.tsx.snap
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/__snapshots__/AccountPermissionsConfirmRevokeAll.test.tsx.snap
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/Views/AccountSelector/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/AddAsset/components/__snapshots__/NetworkFilterBottomSheet.test.tsx.snap
  app/components/Views/Browser/__snapshots__/MaxBrowserTabsModal.test.tsx.snap
  app/components/Views/DataCollectionModal/__snapshots__/index.test.tsx.snap
  app/components/Views/MultiRpcModal/__snapshots__/MultiRpcModal.test.tsx.snap
  app/components/Views/NFTAutoDetectionModal/__snapshots__/NFTAutoDetectionModal.test.tsx.snap
  app/components/Views/NetworkSelector/RpcSelectionModal/__snapshots__/RpcSelectionModal.test.tsx.snap
  app/components/Views/OnboardingSheet/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AdvancedSettings/FiatOnTestnetsFriction/__snapshots__/FiatOnTestnetsFriction.test.tsx.snap
  app/components/Views/Settings/Contacts/AmbiguousAddressSheet/__snapshots__/AmbiguousAddressSheet.test.tsx.snap
  app/components/Views/ShowDisplayMediaNFTSheet/__snapshots__/ShowDisplayNFTMediaSheet.test.tsx.snap
  app/components/Views/ShowIpfsGatewaySheet/__snapshots__/ShowIpfsGatewaySheet.test.tsx.snap
  app/components/Views/ShowTokenIdSheet/__snapshots__/ShowTokenIdSheet.test.tsx.snap
Labels: QA Passed, team-design-system, No E2E Smoke Needed, no-changelog

#18101 fix: Market price should render market price, not liquidity price
  app/components/UI/Perps/Views/PerpsPositionDetailsView/PerpsPositionDetailsView.tsx
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.tsx
Labels: QA Passed, No E2E Smoke Needed, team-perps

#18062 feat: Adding custom keyboard to amount page
  app/components/Views/confirmations/__mocks__/send.mock.ts
  app/components/Views/confirmations/components/edit-amount-keyboard/edit-amount-keyboard.styles.ts
  app/components/Views/confirmations/components/edit-amount-keyboard/edit-amount-keyboard.test.tsx
  app/components/Views/confirmations/components/edit-amount-keyboard/edit-amount-keyboard.tsx
  app/components/Views/confirmations/components/edit-amount-keyboard/index.ts
  app/components/Views/confirmations/components/send/amount/amount-edit/amount-edit.styles.ts
  app/components/Views/confirmations/components/send/amount/amount-edit/amount-edit.test.tsx
  app/components/Views/confirmations/components/send/amount/amount-edit/amount-edit.tsx
  app/components/Views/confirmations/components/send/amount/amount-edit/index.ts
  app/components/Views/confirmations/components/send/amount/amount-keyboard/amount-keyboard.styles.ts
  app/components/Views/confirmations/components/send/amount/amount-keyboard/amount-keyboard.tsx
  app/components/Views/confirmations/components/send/amount/amount-keyboard/index.ts
  app/components/Views/confirmations/components/send/amount/amount.styles.ts
  app/components/Views/confirmations/components/send/amount/amount.test.tsx
  app/components/Views/confirmations/components/send/amount/amount.tsx
  app/components/Views/confirmations/hooks/send/evm/useEvmPercentageAmount.test.ts
  app/components/Views/confirmations/hooks/send/evm/useEvmPercentageAmount.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmAmountValidation.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmMaxAmount.test.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmMaxAmount.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmPercentageAmount.test.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmPercentageAmount.ts
  app/components/Views/confirmations/hooks/send/useAmountValidation.ts
  app/components/Views/confirmations/hooks/send/useBalance.test.ts
  app/components/Views/confirmations/hooks/send/useBalance.ts
  app/components/Views/confirmations/hooks/send/useMaxAmount.ts
  app/components/Views/confirmations/hooks/send/usePercentageAmount.test.ts
  app/components/Views/confirmations/hooks/send/usePercentageAmount.ts
  locales/languages/en.json
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#17728 fix: usd values in simulation metrics
  app/components/UI/SimulationDetails/BalanceChangeList/BalanceChangeList.test.tsx
  app/components/UI/SimulationDetails/BalanceChangeRow/BalanceChangeRow.test.tsx
  app/components/UI/SimulationDetails/BatchApprovalRow/BatchApprovalRow.test.tsx
  app/components/UI/SimulationDetails/SimulationDetails.test.tsx
  app/components/UI/SimulationDetails/types.ts
  app/components/UI/SimulationDetails/useBalanceChanges.test.ts
  app/components/UI/SimulationDetails/useBalanceChanges.ts
  app/components/UI/SimulationDetails/useSimulationMetrics.test.ts
  app/components/UI/SimulationDetails/useSimulationMetrics.ts
  app/components/Views/confirmations/hooks/7702/useBatchApproveBalanceChanges.test.ts
  app/selectors/currencyRateController.test.ts
  app/selectors/currencyRateController.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#18097 test: adds coverage for segment events on confirmations redesigned
  e2e/specs/confirmations-redesigned/transactions/dapp-initiated-transfer.spec.ts
Labels: Run Smoke E2E, team-qa

#18084 fix: Fix flickering alert trigger in batched transaction confirmation
  app/components/Views/confirmations/hooks/alerts/useBatchedUnusedApprovalsAlert.test.tsx
  app/components/Views/confirmations/hooks/alerts/useBatchedUnusedApprovalsAlert.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#18093 fix: UI Bugs
  app/components/UI/OptinMetrics/__snapshots__/index.test.tsx.snap
  app/components/UI/OptinMetrics/index.js
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ChoosePassword/index.test.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
  app/components/Views/Login/__snapshots__/index.test.tsx.snap
  app/components/Views/Login/index.tsx
  app/components/Views/Login/styles.ts
Labels: area-onboarding, QA Passed, Run Smoke E2E, team-web3auth

#18123 test(e2e): Add E2E test for Snap background events
  e2e/pages/Browser/TestSnaps.ts
  e2e/selectors/Browser/TestSnaps.selectors.ts
  e2e/specs/snaps/test-snap-background-events.spec.ts
Labels: No QA Needed, No E2E Smoke Needed, team-snaps-platform, no-changelog

#17689 feat: Session Expiry Bottomsheet added for social login flow only
  .github/workflows/run-e2e-workflow.yml
  app/actions/user/index.ts
  app/actions/user/types.ts
  app/components/Nav/Main/__snapshots__/index.test.tsx.snap
  app/components/Nav/Main/index.test.tsx
  app/components/Views/SuccessErrorSheet/index.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/core/Authentication/Authentication.ts
  app/reducers/user/index.ts
  app/reducers/user/selectors.test.ts
  app/reducers/user/selectors.ts
  app/reducers/user/types.ts
  locales/languages/en.json
Labels: area-onboarding, QA Passed, Run Smoke E2E, team-web3auth

#18100 fix: cp-7.53.0 use flatlist for android
  app/components/UI/Bridge/components/BridgeTokenSelectorBase.tsx
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#18129 chore(card): add redux card slices on CODEOWNERS file
  .github/CODEOWNERS
Labels: No QA Needed, No E2E Smoke Needed, no-changelog, team-card

#17619 fix: address flaky test and ensure cleanup for other tests
  app/components/UI/Stake/hooks/usePoolStakedClaim/usePoolStakedClaim.test.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-earn

#18043 feat: Perps chart improvements (all pricing lines, x-axis time intervals, y-axis price info)
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/Views/PerpsPositionDetailsView/PerpsPositionDetailsView.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartAuxiliaryLines/CandlestickChartAuxiliaryLines.styles.ts
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartAuxiliaryLines/CandlestickChartAuxiliaryLines.test.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartAuxiliaryLines/CandlestickChartAuxiliaryLines.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartAuxiliaryLines/index.ts
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartGridLines/CandlestickChartGridLines.styles.ts
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartGridLines/CandlestickChartGridLines.test.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartGridLines/CandlestickChartGridLines.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartGridLines/index.ts
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartXAxis/CandlestickChartXAxis.styles.ts
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartXAxis/CandlestickChartXAxis.test.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartXAxis/CandlestickChartXAxis.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/CandlestickChartXAxis/index.ts
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlectickChart.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlestickChart.styles.ts
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlestickChart.test.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/utils/chartUtils.test.ts
  app/components/UI/Perps/components/PerpsCandlestickChart/utils/chartUtils.ts
  app/components/UI/Perps/components/PerpsTimeDurationSelector/PerpsTimeDurationSelector.styles.ts
  app/components/UI/Perps/constants/chartConfig.ts
  app/components/UI/Perps/services/HyperLiquidClientService.ts
  e2e/selectors/Perps/Perps.selectors.ts
Labels: QA Passed, No E2E Smoke Needed, team-perps

#17187 feat(bridge): add deep link support for bridge functionality
  .github/pull-request-template.md
  CHANGELOG.md
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/hooks/useAssetMetadata/utils.test.ts
  app/components/UI/Bridge/hooks/useAssetMetadata/utils.ts
  app/components/UI/Bridge/hooks/useInitialDestToken/index.ts
  app/components/UI/Bridge/hooks/useInitialDestToken/useInitialDestToken.test.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/index.ts
  app/components/UI/Bridge/hooks/useIsOnBridgeRoute/index.test.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/index.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/useSwapBridgeNavigation.test.ts
  app/components/UI/Bridge/routes.tsx
  app/components/UI/Bridge/utils/tokenUtils.test.ts
  app/components/UI/Bridge/utils/tokenUtils.ts
  app/components/UI/Swaps/useChainRedirect.ts
  app/components/Views/Wallet/index.tsx
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/constants/navigation/Routes.ts
  app/core/DeeplinkManager/Handlers/handleSwapUrl.test.ts
  app/core/DeeplinkManager/Handlers/handleSwapUrl.ts
  app/core/redux/slices/bridge/index.test.ts
  app/core/redux/slices/bridge/index.ts
  e2e/specs/quarantine/swap-deeplink.failing.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#18057 feat(deposit): cp-7.53.0 use order status description from API
  app/components/UI/Ramp/Deposit/Views/DepositOrderDetails/__snapshots__/DepositOrderDetails.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/OrderProcessing/__snapshots__/OrderProcessing.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositOrderContent/DepositOrderContent.test.tsx
  app/components/UI/Ramp/Deposit/components/DepositOrderContent/DepositOrderContent.tsx
  app/components/UI/Ramp/Deposit/components/DepositOrderContent/__snapshots__/DepositOrderContent.test.tsx.snap
Labels: QA Passed, team-ramp, Run Smoke E2E

#18056 chore: add multichain accounts local flag
  .js.env.example
  app/selectors/featureFlagController/multichainAccounts/enabledMultichainAccounts.ts
Labels: No QA Needed, team-accounts, No E2E Smoke Needed, no-changelog

#18158 ci: adapt PR size job to have permissions to add labels
  .github/workflows/check-pr-max-lines.yml
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-XS

#17943 chore(snaps): Bump Snaps packages
  app/core/CronjobControllerStorageManager/CronjobControllerStorageManager.test.ts
  app/core/CronjobControllerStorageManager/CronjobControllerStorageManager.ts
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/snaps/cronjob-controller-init.test.ts
  app/core/Engine/controllers/snaps/cronjob-controller-init.ts
  app/core/EngineService/EngineService.ts
  app/core/redux/slices/cronjobController/index.test.ts
  app/core/redux/slices/cronjobController/index.ts
  app/reducers/index.ts
  app/util/test/initial-root-state.ts
  package.json
  patches/@metamask+snaps-controllers+14.1.0.patch
  yarn.lock
Labels: Run Smoke E2E, team-snaps-platform, size-M

#18150 fix: cp-7.53.0 block continue button if user does not have enough gas
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/hooks/useHasSufficientGas/index.ts
  app/components/UI/Bridge/hooks/useHasSufficientGas/useHasSufficientGas.test.ts
  locales/languages/en.json
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, size-M

#18090 test: Clean up e2e & tweak tests for the GHA migration
  .github/workflows/build-android-e2e.yml
  .github/workflows/run-e2e-workflow.yml
  e2e/api-mocking/mock-server.js
  e2e/framework/Assertions.ts
  e2e/framework/Gestures.ts
  e2e/framework/fixtures/FixtureHelper.ts
  e2e/framework/fixtures/FixtureUtils.ts
  e2e/framework/types.ts
  e2e/pages/Browser/Confirmations/FooterActions.ts
  e2e/pages/Settings/AesCryptoTestForm.ts
  e2e/seeder/anvil-manager.ts
  e2e/specs/notifications/enable-notifications-after-onboarding.spec.ts
  e2e/specs/wallet/incoming-transactions.spec.ts
Labels: No QA Needed, Run Smoke E2E, team-qa, size-M

#18149 feat: component library updates for the Network Manager
  .storybook/storybook.requires.js
  app/component-library/components-temp/CellSelectWithMenu/CellMultiSelectWithMenu.test.tsx
  app/component-library/components-temp/CellSelectWithMenu/CellMultiSelectWithMenu.tsx
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.styles.ts
  app/component-library/components-temp/ListItemMultiSelectWithMenuButton/ListItemMultiSelectWithMenuButton.constants.ts
  app/component-library/components-temp/ListItemMultiSelectWithMenuButton/ListItemMultiSelectWithMenuButton.stories.tsx
  app/component-library/components-temp/ListItemMultiSelectWithMenuButton/ListItemMultiSelectWithMenuButton.styles.ts
  app/component-library/components-temp/ListItemMultiSelectWithMenuButton/ListItemMultiSelectWithMenuButton.test.tsx
  app/component-library/components-temp/ListItemMultiSelectWithMenuButton/ListItemMultiSelectWithMenuButton.tsx
  app/component-library/components-temp/ListItemMultiSelectWithMenuButton/ListItemMultiSelectWithMenuButton.types.ts
  app/component-library/components-temp/ListItemMultiSelectWithMenuButton/__snapshots__/ListItemMultiSelectWithMenuButton.test.tsx.snap
  app/component-library/components-temp/ListItemMultiSelectWithMenuButton/index.ts
  app/component-library/components/Cells/Cell/Cell.test.tsx
  app/component-library/components/Cells/Cell/Cell.tsx
  app/component-library/components/Cells/Cell/Cell.types.ts
  app/component-library/components/Cells/Cell/__snapshots__/Cell.test.tsx.snap
  e2e/selectors/wallet/CellComponent.selectors.ts
Labels: No QA Needed, team-design-system, Run Smoke E2E, team-wallet-ux, Remove GNS, size-L

#13938 feat(4173): Send flow with contextual chain selector
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.test.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.tsx
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountFromToInfoCard/AddressFrom.test.tsx
  app/components/UI/AccountFromToInfoCard/AddressFrom.tsx
  app/components/UI/AccountFromToInfoCard/__snapshots__/AccountFromToInfoCard.test.tsx.snap
  app/components/UI/AccountFromToInfoCard/__snapshots__/AddressFrom.test.tsx.snap
  app/components/UI/Navbar/index.js
  app/components/UI/Navbar/index.test.jsx
  app/components/UI/NavbarTitle/index.js
  app/components/UI/NetworkMainAssetLogo/index.js
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/useSwitchNetworks.ts
  app/components/Views/confirmations/legacy/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/legacy/SendFlow/Amount/index.js
  app/components/Views/confirmations/legacy/SendFlow/Amount/index.test.tsx
  app/components/Views/confirmations/legacy/SendFlow/Confirm/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/legacy/SendFlow/Confirm/index.js
  app/components/Views/confirmations/legacy/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/legacy/SendFlow/SendTo/index.js
  app/components/Views/confirmations/legacy/SendFlow/SendTo/index.test.tsx
  app/components/Views/confirmations/legacy/SendFlow/SendTo/styles.ts
  app/components/Views/confirmations/legacy/components/ApproveTransactionReview/index.test.jsx
  app/components/hooks/useAddressBalance/useAddressBalance.test.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/selectors/tokenBalancesController.test.ts
Labels: No QA Needed, external-contributor, Run Smoke E2E, team-wallet-ux, skip-sonar-cloud, Remove GNS, size-XL

#18168 feat: add tracing for navigation
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.test.tsx
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.test.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/KycWebviewModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/KycWebviewModal.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.test.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.tsx
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/VerifyIdentity.test.tsx
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/VerifyIdentity.tsx
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
  app/util/trace.ts
Labels: No QA Needed, team-ramp, Run Smoke E2E, size-M

#18106 feat: automatically select transaction pay token
  app/components/Views/confirmations/components/UI/info-row-divider/info-row-divider.styles.ts
  app/components/Views/confirmations/components/UI/info-row-divider/info-row-divider.tsx
  app/components/Views/confirmations/components/UI/info-row/alert-row/constants.ts
  app/components/Views/confirmations/components/alert-banner/alert-banner.styles.ts
  app/components/Views/confirmations/components/alert-banner/alert-banner.test.tsx
  app/components/Views/confirmations/components/alert-banner/alert-banner.tsx
  app/components/Views/confirmations/components/alert-banner/index.ts
  app/components/Views/confirmations/components/confirm/confirm-component.test.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.tsx
  app/components/Views/confirmations/components/confirmation-asset-polling-provider/confirmation-asset-polling-provider.test.tsx
  app/components/Views/confirmations/components/confirmation-asset-polling-provider/confirmation-asset-polling-provider.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.styles.ts
  app/components/Views/confirmations/components/edit-amount/edit-amount.test.tsx
  app/components/Views/confirmations/components/edit-amount/edit-amount.tsx
  app/components/Views/confirmations/components/general-alert-banner/index.ts
  app/components/Views/confirmations/components/modals/pay-with-modal/pay-with-modal.tsx
  app/components/Views/confirmations/components/pay-token-balance/pay-token-balance.test.tsx
  app/components/Views/confirmations/components/pay-token-balance/pay-token-balance.tsx
  app/components/Views/confirmations/components/rows/pay-with-row/pay-with-row.test.tsx
  app/components/Views/confirmations/components/rows/pay-with-row/pay-with-row.tsx
  app/components/Views/confirmations/components/rows/total-row/total-row.tsx
  app/components/Views/confirmations/components/rows/transactions/gas-fee-details-row/gas-fee-details-row.tsx
  app/components/Views/confirmations/constants/alerts.ts
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.test.tsx
  app/components/Views/confirmations/external/perps-temp/components/deposit/deposit.tsx
  app/components/Views/confirmations/hooks/alerts/useConfirmationAlerts.test.ts
  app/components/Views/confirmations/hooks/alerts/useConfirmationAlerts.ts
  app/components/Views/confirmations/hooks/alerts/useNoPayTokenQuotesAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/useNoPayTokenQuotesAlert.ts
  app/components/Views/confirmations/hooks/metrics/useConfirmationAlertMetrics.ts
  app/components/Views/confirmations/hooks/pay/useAutomaticTransactionPayToken.test.ts
  app/components/Views/confirmations/hooks/pay/useAutomaticTransactionPayToken.ts
  app/components/Views/confirmations/hooks/pay/useTransactionBridgeQuotes.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionBridgeQuotes.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayToken.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayToken.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayTokenAmounts.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionPayTokenAmounts.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredFiat.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredFiat.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredTokens.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionRequiredTokens.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.test.ts
  app/components/Views/confirmations/hooks/pay/useTransactionTotalFiat.ts
  app/components/Views/confirmations/utils/bridge.test.ts
  app/components/Views/confirmations/utils/bridge.ts
  app/components/hooks/AssetPolling/AssetPollingProvider.test.tsx
  app/components/hooks/AssetPolling/AssetPollingProvider.tsx
  app/components/hooks/AssetPolling/useCurrencyRatePolling.test.ts
  app/components/hooks/AssetPolling/useCurrencyRatePolling.ts
  locales/languages/en.json
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog, size-XL

#17923 chore: Updated Wallet's Buy interaction to Fund Action Menu
  app/components/Nav/App/App.tsx
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/UI/FundActionMenu/FundActionMenu.styles.ts
  app/components/UI/FundActionMenu/FundActionMenu.test.tsx
  app/components/UI/FundActionMenu/FundActionMenu.tsx
  app/components/UI/FundActionMenu/FundActionMenu.types.ts
  app/components/UI/FundActionMenu/index.ts
  app/components/UI/WalletAction/WalletAction.tsx
  app/components/UI/WalletAction/WalletAction.types.ts
  app/components/Views/Asset/__snapshots__/index.test.js.snap
  app/components/Views/Asset/index.js
  app/components/Views/Asset/index.test.js
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.stories.tsx
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.test.tsx
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.tsx
  app/components/Views/AssetDetails/AssetDetailsActions/__snapshots__/AssetDetailsActions.test.tsx.snap
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/constants/navigation/Routes.ts
  e2e/pages/wallet/WalletView.ts
  e2e/selectors/wallet/TokenOverview.selectors.js
  e2e/selectors/wallet/WalletView.selectors.ts
  locales/languages/en.json
Labels: No QA Needed, team-design-system, Run Smoke E2E, size-XL

#18211 refactor(deposit): change default payment method cp-7.53.0
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Deposit/constants/paymentMethods.ts
Labels: QA Passed, team-ramp, Run Smoke E2E, size-XS

#17082 feat(card): add card home UI
  app/components/Nav/Main/MainNavigator.js
  app/components/Nav/Main/index.js
  app/components/UI/Card/Views/CardHome/CardHome.styles.ts
  app/components/UI/Card/Views/CardHome/CardHome.test.tsx
  app/components/UI/Card/Views/CardHome/CardHome.tsx
  app/components/UI/Card/Views/CardHome/__snapshots__/CardHome.test.tsx.snap
  app/components/UI/Card/assets/card.svg
  app/components/UI/Card/components/AddFundsBottomSheet/AddFundsBottomSheet.styles.tsx
  app/components/UI/Card/components/AddFundsBottomSheet/AddFundsBottomSheet.test.tsx
  app/components/UI/Card/components/AddFundsBottomSheet/AddFundsBottomSheet.tsx
  app/components/UI/Card/components/AddFundsBottomSheet/__snapshots__/AddFundsBottomSheet.test.tsx.snap
  app/components/UI/Card/components/AddFundsBottomSheet/index.ts
  app/components/UI/Card/components/CardAssetItem/CardAssetItem.test.tsx
  app/components/UI/Card/components/CardButton/CardButton.tsx
  app/components/UI/Card/components/CardButton/index.ts
  app/components/UI/Card/constants.ts
  app/components/UI/Card/hooks/useGetAllowances.test.ts
  app/components/UI/Card/hooks/useGetAllowances.tsx
  app/components/UI/Card/hooks/useGetPriorityCardToken.test.ts
  app/components/UI/Card/hooks/useGetPriorityCardToken.tsx
  app/components/UI/Card/hooks/useNavigateToCardPage.test.ts
  app/components/UI/Card/hooks/useNavigateToCardPage.tsx
  app/components/UI/Card/hooks/useOpenSwaps.test.ts
  app/components/UI/Card/hooks/useOpenSwaps.ts
  app/components/UI/Card/routes/index.tsx
  app/components/UI/Card/sdk/CardSDK.test.ts
  app/components/UI/Card/sdk/index.test.tsx
  app/components/UI/Card/sdk/index.tsx
  app/components/UI/Card/types.ts
  app/components/UI/Card/util/getHighestFiatToken.test.ts
  app/components/UI/Card/util/getHighestFiatToken.ts
  app/components/UI/Navbar/index.js
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/core/AppConstants.ts
  app/util/trace.ts
  app/util/url/index.ts
  bitrise.yml
  e2e/api-mocking/mock-responses/cardholder-mocks.ts
  e2e/pages/Card/CardHomeView.ts
  e2e/pages/wallet/WalletView.ts
  e2e/selectors/Card/CardHome.selectors.ts
  e2e/selectors/wallet/WalletView.selectors.ts
  e2e/specs/card/card-button.spec.ts
  e2e/specs/card/card-home-add-funds.spec.ts
  e2e/specs/card/card-home-manage-card.spec.ts
  e2e/tags.js
  locales/languages/en.json
Labels: Run Smoke E2E, team-card, size-XL

#18167 chore: update `SEI` network's name and RPC name from `Sei Network` to `Sei Mainnet`
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/store/migrations/093.test.ts
  app/store/migrations/093.ts
  app/store/migrations/index.ts
  app/util/networks/customNetworks.test.ts
  app/util/networks/customNetworks.tsx
  app/util/networks/index.js
  app/util/networks/index.test.ts
  e2e/framework/fixtures/FixtureBuilder.ts
Labels: QA Passed, Run Smoke E2E, team-network-enablement, size-M

#18151 feat: new selectors and hooks for the network enablement controller
  app/components/Views/NetworkSelector/useNetworkSwitch.test.ts
  app/components/Views/NetworkSelector/useSwitchNetworks.ts
  app/components/hooks/useNetworkEnablement/useNetworkEnablement.test.ts
  app/components/hooks/useNetworkEnablement/useNetworkEnablement.ts
  app/components/hooks/useNetworkSelection/useNetworkSelection.test.ts
  app/components/hooks/useNetworkSelection/useNetworkSelection.ts
  app/components/hooks/useNetworksByNamespace/useNetworksByNamespace.test.ts
  app/components/hooks/useNetworksByNamespace/useNetworksByNamespace.ts
  app/constants/popular-networks.ts
  app/reducers/collectibles/index.js
  app/reducers/collectibles/index.test.ts
  app/selectors/defiPositionsController.test.ts
  app/selectors/defiPositionsController.ts
  app/selectors/multichain/evm.test.tsx
  app/selectors/multichain/evm.ts
  app/selectors/networkController.test.ts
  app/selectors/networkController.ts
  app/selectors/networkEnablementController/index.test.ts
  app/selectors/networkEnablementController/index.ts
Labels: No QA Needed, team-assets, Run Smoke E2E, team-wallet-ux, Remove GNS, size-XL

#18196 fix: cp-7.53.0 Solana onboarding modal - make the buttons visible at the bottom
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.styles.ts
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.tsx
Labels: No QA Needed, Run Smoke E2E, team-new-networks, size-S

#18235 test: Add Snaps JSX E2E
  e2e/selectors/Browser/TestSnaps.selectors.ts
  e2e/specs/snaps/test-snap-jsx.spec.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform, Run Flask E2E, size-S

#18244 test: Add Snaps cronjob E2E
  e2e/selectors/Browser/TestSnaps.selectors.ts
  e2e/specs/snaps/test-snap-cronjob.spec.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform, Run Flask E2E, size-S

#17766 feat: multichain account selectors
  app/selectors/multichainAccounts/accounts.test.ts
  app/selectors/multichainAccounts/accounts.ts
Labels: No QA Needed, team-accounts, Run Smoke E2E, size-XL

#16642 feat: Network Manager UI
  app/components/Approvals/SwitchChainApproval/SwitchChainApproval.test.tsx
  app/components/Approvals/SwitchChainApproval/SwitchChainApproval.tsx
  app/components/Nav/App/App.tsx
  app/components/Nav/Main/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/CustomNetworkSelector/CustomNetworkSelector.styles.ts
  app/components/UI/CustomNetworkSelector/CustomNetworkSelector.test.tsx
  app/components/UI/CustomNetworkSelector/CustomNetworkSelector.tsx
  app/components/UI/CustomNetworkSelector/CustomNetworkSelector.types.ts
  app/components/UI/DeFiPositions/DeFiPositionsControlBar.test.tsx
  app/components/UI/DeFiPositions/DeFiPositionsControlBar.tsx
  app/components/UI/DeFiPositions/DeFiPositionsList.test.tsx
  app/components/UI/DeFiPositions/DeFiPositionsList.tsx
  app/components/UI/NetworkManager/index.styles.ts
  app/components/UI/NetworkManager/index.test.tsx
  app/components/UI/NetworkManager/index.tsx
  app/components/UI/NetworkManager/index.types.ts
  app/components/UI/NetworkModal/index.test.tsx
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/NetworkMultiSelector/NetworkMultiSelector.constants.ts
  app/components/UI/NetworkMultiSelector/NetworkMultiSelector.styles.ts
  app/components/UI/NetworkMultiSelector/NetworkMultiSelector.test.tsx
  app/components/UI/NetworkMultiSelector/NetworkMultiSelector.tsx
  app/components/UI/NetworkMultiSelector/NetworkMultiSelector.types.ts
  app/components/UI/NetworkMultiSelectorList/NetworkMultiSelectorList.constants.ts
  app/components/UI/NetworkMultiSelectorList/NetworkMultiSelectorList.styles.ts
  app/components/UI/NetworkMultiSelectorList/NetworkMultiSelectorList.test.tsx
  app/components/UI/NetworkMultiSelectorList/NetworkMultiSelectorList.tsx
  app/components/UI/NetworkMultiSelectorList/NetworkMultiSelectorList.types.ts
  app/components/UI/Ramp/Aggregator/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Tokens/TokenListControlBar/TokenListControlBar.test.tsx
  app/components/UI/Tokens/TokenListControlBar/TokenListControlBar.tsx
  app/components/UI/Tokens/TokensBottomSheet/TokenFilterBottomSheet.test.tsx
  app/components/UI/Tokens/TokensBottomSheet/TokenFilterBottomSheet.tsx
  app/components/UI/Tokens/index.test.tsx
  app/components/Views/ActivityView/__snapshots__/index.test.tsx.snap
  app/components/Views/ActivityView/index.js
  app/components/Views/ActivityView/index.test.tsx
  app/components/Views/AddAsset/AddAsset.test.tsx
  app/components/Views/AddAsset/AddAsset.tsx
  app/components/Views/AddAsset/__snapshots__/AddAsset.test.tsx.snap
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.test.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/styles.ts
  app/components/Views/TransactionsView/index.js
  app/components/Views/TransactionsView/index.test.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/components/hooks/useCurrentNetworkInfo.ts
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-wallet-ux, skip-sonar-cloud, Remove GNS, size-XL

#17849 feat(TAT-575): add fixture to import random generated accounts
  e2e/framework/fixtures/FixtureBuilder.ts
  e2e/framework/fixtures/FixtureHelper.ts
Labels: No QA Needed, Run Smoke E2E, team-qa, team-earn, size-M

#18128 fix: Tweak send max calculation to use max possible actual gas fees
  app/components/Views/confirmations/components/footer/footer.test.tsx
  app/components/Views/confirmations/components/footer/footer.tsx
  app/components/Views/confirmations/components/rows/transactions/gas-fee-details-row/gas-fee-details-row.tsx
  app/components/Views/confirmations/hooks/gas/useFeeCalculations.test.ts
  app/components/Views/confirmations/hooks/gas/useFeeCalculations.ts
  app/components/Views/confirmations/hooks/gas/useGasFeeToken.test.ts
  app/components/Views/confirmations/hooks/useApprovalRequest.ts
  app/components/Views/confirmations/hooks/useMaxValueRefresher.test.ts
  app/components/Views/confirmations/hooks/useMaxValueRefresher.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, size-M

#18206 fix: cp-7.53.0 solana content page button color in dark theme
  .storybook/storybook.requires.js
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.stories.tsx
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.styles.ts
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.tsx
  app/styles/common.ts
Labels: QA Passed, team-design-system, No E2E Smoke Needed, size-S

#18213 chore: use bridge API instead of swaps API for topAssets call
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, size-XS

#18247 fix: cp-7.53.0 select non-evm transactions irrespective of account
  app/components/Views/Asset/index.js
Labels: QA Passed, Run Smoke E2E, team-new-networks, size-XS

#18258 fix: Tweak send max calculation to use max possible actual gas fees (…
  app/components/Views/confirmations/components/footer/footer.test.tsx
  app/components/Views/confirmations/components/footer/footer.tsx
  app/components/Views/confirmations/components/rows/transactions/gas-fee-details-row/gas-fee-details-row.tsx
  app/components/Views/confirmations/hooks/gas/useFeeCalculations.test.ts
  app/components/Views/confirmations/hooks/gas/useFeeCalculations.ts
  app/components/Views/confirmations/hooks/gas/useGasFeeToken.test.ts
  app/components/Views/confirmations/hooks/useApprovalRequest.ts
  app/components/Views/confirmations/hooks/useMaxValueRefresher.test.ts
  app/components/Views/confirmations/hooks/useMaxValueRefresher.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations

#18190 fix: prevent network label overflow
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.styles.ts
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/__snapshots__/QuoteDetailsCard.test.tsx.snap
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, size-S

#18267 chore: update storybook documentation with yarn command
  docs/readme/storybook.md
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, no-changelog, size-XS

#18272 feat: v7.51.3
  android/app/build.gradle
  app/store/migrations/090.test.ts
  app/store/migrations/090.ts
  app/store/migrations/091.test.ts
  app/store/migrations/091.ts
  app/store/migrations/index.ts
  app/store/persistConfig.test.ts
  app/store/persistConfig.ts
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, no changelog required

#18277 chore: update eslint to ignore Text shadow
  .eslintrc.js
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, no-changelog, size-XS

#18161 fix: OnboardingSuccess Social Login Update
  app/components/Views/OnboardingSuccess/index.test.tsx
  app/components/Views/OnboardingSuccess/index.tsx
  locales/languages/en.json
Labels: area-onboarding, QA Passed, Run Smoke E2E, team-web3auth, size-M

#18233 fix: reorganize migration file
  app/store/migrations/089.test.ts
  app/store/migrations/089.ts
  app/store/migrations/090.test.ts
  app/store/migrations/090.ts
  app/store/migrations/093.test.ts
  app/store/migrations/093.ts
  app/store/migrations/094.test.ts
  app/store/migrations/094.ts
  app/store/migrations/index.ts
Labels: release-blocker, Sev0-urgent, Run Smoke E2E, team-web3auth, size-XL

#18215 fix: adjust color and alignment of source network overflow
  app/components/UI/Bridge/components/AvatarGroup.tsx
  app/components/UI/Bridge/components/BridgeSourceNetworksBar.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/__snapshots__/BridgeSourceTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/index.tsx
  app/components/Views/confirmations/components/modals/pay-with-modal/pay-with-modal.tsx
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, size-M

#17820 fix: Hide `origin` from MM originated confirmations
  app/components/Views/confirmations/__mocks__/transfer-transaction-mock.ts
  app/components/Views/confirmations/components/info/approve/approve.test.tsx
  app/components/Views/confirmations/components/info/approve/approve.tsx
  app/components/Views/confirmations/components/info/contract-interaction/contract-interaction.tsx
  app/components/Views/confirmations/components/info/personal-sign/personal-sign.tsx
  app/components/Views/confirmations/components/info/transaction-batch/transaction-batch.tsx
  app/components/Views/confirmations/components/info/typed-sign-v1/typed-sign-v1.tsx
  app/components/Views/confirmations/components/rows/account-network-info-row/account-network-info-collapsed/account-network-info-collapsed.tsx
  app/components/Views/confirmations/components/rows/account-network-info-row/account-network-info-expanded/account-network-info-expanded.tsx
  app/components/Views/confirmations/components/rows/origin-row/origin-row.test.tsx
  app/components/Views/confirmations/components/rows/origin-row/origin-row.tsx
  app/components/Views/confirmations/hooks/useApprovalInfo.test.ts
  app/components/Views/confirmations/hooks/useApprovalInfo.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#18257 test: Add Snap management E2E
  app/components/Views/Settings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/index.tsx
  app/components/Views/Snaps/SnapSettings/SnapSettings.constants.ts
  app/components/Views/Snaps/SnapSettings/SnapSettings.tsx
  app/components/Views/Snaps/SnapSettings/test/SnapSettings.test.tsx
  e2e/pages/Browser/TestSnaps.ts
  e2e/pages/Settings/SettingsView.ts
  e2e/pages/Settings/SnapSettingsView.ts
  e2e/selectors/Settings/SettingsView.selectors.ts
  e2e/specs/snaps/test-snap-management.spec.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform, Run Flask E2E, size-M

#18222 fix: srp input text cuttoff, ios focus issue, back focus on click
  app/components/Views/ImportFromSecretRecoveryPhrase/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/styles.ts
  app/components/Views/SrpInput/Input/__snapshots__/index.test.tsx.snap
  app/components/Views/SrpInput/Input/index.tsx
  app/components/Views/SrpInput/__snapshots__/index.test.tsx.snap
  app/components/Views/SrpInput/index.tsx
Labels: area-onboarding, QA Passed, Run Smoke E2E, team-web3auth, size-M

#18307 test: Add preinstalled Snap E2E
  e2e/pages/Browser/TestSnaps.ts
  e2e/selectors/Browser/TestSnaps.selectors.ts
  e2e/specs/snaps/test-snap-preinstalled.spec.ts
  package.json
  yarn.lock
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform, Run Flask E2E, size-S

#18278 chore: updating bottom sheet stories
  .storybook/storybook.requires.js
  app/component-library/components/BottomSheets/BottomSheet/BottomSheet.stories.tsx
  app/component-library/components/BottomSheets/BottomSheetFooter/BottomSheetFooter.stories.tsx
  app/component-library/components/BottomSheets/BottomSheetHeader/BottomSheetHeader.stories.tsx
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, no-changelog, size-M

#18314 chore: HeaderBase component improvements
  app/component-library/components/BottomSheets/BottomSheetHeader/__snapshots__/BottomSheetHeader.test.tsx.snap
  app/component-library/components/HeaderBase/HeaderBase.constants.ts
  app/component-library/components/HeaderBase/HeaderBase.stories.tsx
  app/component-library/components/HeaderBase/HeaderBase.styles.ts
  app/component-library/components/HeaderBase/HeaderBase.test.tsx
  app/component-library/components/HeaderBase/HeaderBase.tsx
  app/component-library/components/HeaderBase/HeaderBase.types.ts
  app/component-library/components/HeaderBase/__snapshots__/HeaderBase.test.tsx.snap
  app/component-library/components/HeaderBase/index.ts
  app/components/Snaps/SnapUIRenderer/components/__snapshots__/form.test.ts.snap
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/__snapshots__/BridgeDestNetworkSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeDestTokenSelector/__snapshots__/BridgeDestTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/__snapshots__/BridgeSourceNetworkSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/__snapshots__/BridgeSourceTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/QuoteExpiredModal/__snapshots__/QuoteExpiredModal.test.tsx.snap
  app/components/UI/Bridge/components/QuoteInfoModal/__snapshots__/QuoteInfoModal.test.tsx.snap
  app/components/UI/Bridge/components/SlippageModal/__snapshots__/SlippageModal.test.tsx.snap
  app/components/UI/Card/components/AddFundsBottomSheet/__snapshots__/AddFundsBottomSheet.test.tsx.snap
  app/components/UI/Earn/LendingLearnMoreModal/__snapshots__/LendingLearnMoreModal.test.tsx.snap
  app/components/UI/Earn/components/EarnTokenList/__snapshots__/EarnTokenList.test.tsx.snap
  app/components/UI/Earn/components/MaxInputModal/__snapshots__/MaxInputModal.test.tsx.snap
  app/components/UI/Earn/modals/LendingMaxWithdrawalModal/__snapshots__/LendingMaxWithdrawalModal.test.tsx.snap
  app/components/UI/NetworkModal/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Perps/components/PerpsBottomSheetTooltip/__snapshots__/PerpsBottomSheetTooltip.test.tsx.snap
  app/components/UI/Ramp/Aggregator/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Ramp/Aggregator/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/IncompatibleAccountTokenModal/__snapshots__/IncompatibleAccountTokenModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/PaymentMethodSelectorModal/__snapshots__/PaymentMethodSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/__snapshots__/RegionSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/SsnInfoModal/__snapshots__/SsnInfoModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/StateSelectorModal/__snapshots__/StateSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/TokenSelectorModal/__snapshots__/TokenSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/UnsupportedRegionModal/__snapshots__/UnsupportedRegionModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/UnsupportedStateModal/__snapshots__/UnsupportedStateModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/__snapshots__/WebviewModal.test.tsx.snap
  app/components/UI/Stake/components/GasImpactModal/__snapshots__/GasImpactModal.test.tsx.snap
  app/components/UI/Stake/components/PoolStakingLearnMoreModal/__snapshots__/PoolStakingLearnMoreModal.test.tsx.snap
  app/components/UI/UpdateNeeded/__snapshots__/UpdateNeeded.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/__snapshots__/AccountPermissionsConfirmRevokeAll.test.tsx.snap
  app/components/Views/AccountPermissions/ConnectionDetails/__snapshots__/ConnectionDetails.test.tsx.snap
  app/components/Views/AccountPermissions/PermittedNetworksInfoSheet/__snapshots__/PermittedNetworksInfoSheet.test.tsx.snap
  app/components/Views/ActivityView/index.js
  app/components/Views/Asset/__snapshots__/index.test.js.snap
  app/components/Views/NetworkSelector/RpcSelectionModal/__snapshots__/RpcSelectionModal.test.tsx.snap
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
Labels: QA Passed, team-design-system, No E2E Smoke Needed, no-changelog, size-M

#17873 feat(deposit): submit basic info and address kyc forms separately
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.styles.ts
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.test.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.styles.ts
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/__snapshots__/EnterAddress.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterEmail/__snapshots__/EnterEmail.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/KycProcessing/__snapshots__/KycProcessing.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/OtpCode/__snapshots__/OtpCode.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositProgressBar/DepositProgressBar.styles.ts
  locales/languages/en.json
Labels: QA Passed, team-ramp, No E2E Smoke Needed, size-M

#18218 chore: add QuickActionButtons component
  .storybook/storybook.requires.js
  app/component-library/components-temp/QuickActionButtons/QuickActionButtons.stories.tsx
  app/component-library/components-temp/QuickActionButtons/QuickActionButtons.test.tsx
  app/component-library/components-temp/QuickActionButtons/QuickActionButtons.tsx
  app/component-library/components-temp/QuickActionButtons/QuickActionButtons.types.ts
  app/component-library/components-temp/QuickActionButtons/__snapshots__/QuickActionButtons.test.tsx.snap
  app/component-library/components-temp/QuickActionButtons/index.ts
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, no-changelog, size-L

#18188 chore: add fraxtal network and frax icon
  app/images/frax.png
  app/images/fraxtal.png
  app/images/image-icons.js
  app/util/networks/customNetworks.tsx
Labels: QA Passed, No E2E Smoke Needed, team-network-enablement, size-XS

#18242 feat: implement search functionality in MultichainAccountSelectorList
  app/component-library/components-temp/MultichainAccounts/AccountCell/AccountCell.test.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/AccountListCell/AccountListCell.test.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.stories.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.styles.ts
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.test.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.tsx
  app/component-library/components-temp/MultichainAccounts/test-utils.ts
  locales/languages/en.json
Labels: No QA Needed, team-accounts, No E2E Smoke Needed, size-XL

#18299 fix: sanitize seedless controller state - cp-7.53.0
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/logs/index.test.ts
  app/util/logs/index.ts
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: area-onboarding, No E2E Smoke Needed, team-web3auth, size-M

#18224 feat: use perps deposit confirmation
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.test.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsTransactionsView.test.tsx
  app/components/UI/Perps/Views/PerpsView.tsx
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/hooks/usePerpsOrderFees.test.ts
  app/components/UI/Perps/hooks/usePerpsTrading.ts
  app/components/UI/Perps/routes/index.tsx
  app/components/Views/confirmations/components/info-root/info-root.tsx
  app/components/Views/confirmations/constants/confirmations.ts
  app/components/Views/confirmations/hooks/useConfirmActions.ts
  app/components/Views/confirmations/hooks/useTokenAmount.test.ts
  app/components/Views/confirmations/hooks/useTokenAmount.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, skip-sonar-cloud, no-changelog, team-perps, size-M

#18347 test: Skip flaky tests
  e2e/specs/browser/browser-tests.spec.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa, size-XS

#18318 fix: cp-7.53.0 swaps show effective gas
  app/components/UI/Bridge/_mocks_/bridgeQuoteWithMetadata.ts
  app/components/UI/Bridge/hooks/useHasSufficientGas/index.ts
  app/components/UI/Bridge/hooks/useHasSufficientGas/useHasSufficientGas.test.ts
  app/util/bridge/index.ts
  e2e/api-mocking/mock-responses/bridge-api-quotes.ts
  package.json
  patches/@metamask+bridge-status-controller+36.1.0.patch
  yarn.lock
Labels: QA Passed, No E2E Smoke Needed, team-swaps-and-bridge, size-M

#18142 feat(gh-action): add reusable workflow for Android and iOS build change detection
  .github/workflows/detect-mobile-build-changes.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops, size-M

#18353 ci: adapt the post-merge-validation job to track progress in a sheet
  .github/workflows/post-merge-validation.yml
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog, size-S

#18361 feat(deposit): add linea supported tokens for cardholders
  app/components/UI/Ramp/Deposit/hooks/useSupportedTokens.test.ts
  app/components/UI/Ramp/Deposit/hooks/useSupportedTokens.ts
Labels: QA Passed, team-ramp, Run Smoke E2E, size-S

#18285 chore: Update styling for BottomNav
  app/component-library/components/Navigation/TabBar/TabBar.constants.ts
  app/component-library/components/Navigation/TabBar/TabBar.styles.ts
  app/component-library/components/Navigation/TabBar/TabBar.test.tsx
  app/component-library/components/Navigation/TabBar/TabBar.tsx
  app/component-library/components/Navigation/TabBar/TabBar.types.ts
  app/component-library/components/Navigation/TabBar/__snapshots__/TabBar.test.tsx.snap
  app/component-library/components/Navigation/TabBarItem/TabBarItem.constants.ts
  app/component-library/components/Navigation/TabBarItem/TabBarItem.stories.tsx
  app/component-library/components/Navigation/TabBarItem/TabBarItem.styles.ts
  app/component-library/components/Navigation/TabBarItem/TabBarItem.test.tsx
  app/component-library/components/Navigation/TabBarItem/TabBarItem.tsx
  app/component-library/components/Navigation/TabBarItem/TabBarItem.types.ts
  app/component-library/components/Navigation/TabBarItem/__snapshots__/TabBarItem.test.tsx.snap
  app/components/Nav/Main/MainNavigator.js
  e2e/pages/wallet/TabBarComponent.ts
  locales/languages/en.json
Labels: No QA Needed, team-design-system, No E2E Smoke Needed, size-M

#18363 fix: cp-7.53.0 add account title mismatch
  app/components/Views/AddNewAccount/AddNewAccount.tsx
Labels: QA Passed, Run Smoke E2E, team-new-networks, size-XS

#18273 feat: v7.51.4
  CHANGELOG.md
  android/app/build.gradle
  app/components/Views/Settings/AdvancedSettings/ResetAccountModal/ResetAccountModal.test.tsx
  app/components/Views/Settings/AdvancedSettings/ResetAccountModal/ResetAccountModal.tsx
  app/components/Views/Wallet/index.tsx
  app/selectors/multichain/multichain.ts
  app/store/migrations/092.test.ts
  app/store/migrations/092.ts
  app/store/migrations/index.ts
  app/util/smart-transactions/index.test.ts
  app/util/smart-transactions/index.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#18397 feat: TAT-1306: add image animation to tutorial
  app/components/Nav/Main/index.test.tsx
  app/components/UI/Perps/animations/perps-onboarding-carousel-v4.riv
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.styles.ts
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.test.tsx
  app/components/UI/Perps/components/PerpsTutorialCarousel/PerpsTutorialCarousel.tsx
  jest.config.js
  metro.config.js
Labels: No QA Needed, No E2E Smoke Needed, team-earn, team-perps, size-M

#18386 feat: migrate Perps components to WebSocket stream architecture
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/Views/PerpsTabView/index.tsx
  app/components/UI/Perps/Views/PerpsView.test.tsx
  app/components/UI/Perps/Views/PerpsView.tsx
  app/components/UI/Perps/Views/__snapshots__/PerpsView.test.tsx.snap
  app/components/UI/Perps/components/PerpsClosePositionBottomSheet/PerpsClosePositionBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsClosePositionBottomSheet/PerpsClosePositionBottomSheet.tsx
  app/components/UI/Perps/components/PerpsLimitPriceBottomSheet/PerpsLimitPriceBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsLimitPriceBottomSheet/PerpsLimitPriceBottomSheet.tsx
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.tsx
  app/components/UI/Perps/hooks/index.ts
  app/components/UI/Perps/hooks/usePerpsMarkets.test.ts
  app/components/UI/Perps/hooks/usePerpsMarkets.ts
Labels: team-perps, size-M

#18165 feat: as a user i can subscribe to push notifications
  app/actions/notification/helpers/index.test.tsx
  app/actions/notification/helpers/index.ts
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.test.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/components/PerpsNotificationBottomSheet/PerpsNotificationBottomSheet.styles.ts
  app/components/UI/Perps/components/PerpsNotificationBottomSheet/PerpsNotificationBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsNotificationBottomSheet/PerpsNotificationBottomSheet.tsx
  app/components/UI/Perps/components/PerpsNotificationBottomSheet/index.ts
  app/components/UI/Perps/components/PerpsNotificationTooltip/PerpsNotificationTooltip.test.tsx
  app/components/UI/Perps/components/PerpsNotificationTooltip/PerpsNotificationTooltip.tsx
  app/components/UI/Perps/components/PerpsNotificationTooltip/index.ts
  app/components/UI/Perps/constants/perpsConfig.ts
  app/components/UI/Perps/controllers/PerpsController.test.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/controllers/selectors.ts
  app/components/UI/Perps/hooks/usePerpsFirstTimeUser.test.ts
  app/components/UI/Perps/hooks/usePerpsNotificationTooltip.test.ts
  app/components/UI/Perps/hooks/usePerpsNotificationTooltip.ts
  app/components/UI/Perps/hooks/usePerpsSelector.test.ts
  app/components/UI/Perps/hooks/usePerpsSelector.ts
  app/components/Views/Settings/NotificationsSettings/PerpsNotificationToggle.test.tsx
  app/components/Views/Settings/NotificationsSettings/PerpsNotificationToggle.tsx
  app/components/Views/Settings/NotificationsSettings/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/core/Engine/controllers/perps-controller/index.test.ts
  app/selectors/notifications/index.test.ts
  app/selectors/notifications/index.tsx
  app/selectors/notifications/testUtils.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/notifications/hooks/useSwitchNotifications.ts
  app/util/test/initial-background-state.json
  e2e/selectors/Notifications/NotificationSettingsView.selectors.ts
  e2e/selectors/Perps/Perps.selectors.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-earn, team-perps, size-XL

#18439 feat: broke out perps balance modal into its own view instead of rend…
  app/components/UI/Perps/Views/PerpsBalanceModal/PerpsBalanceModal.styles.ts
  app/components/UI/Perps/Views/PerpsBalanceModal/PerpsBalanceModal.test.tsx
  app/components/UI/Perps/Views/PerpsBalanceModal/PerpsBalanceModal.tsx
  app/components/UI/Perps/Views/PerpsBalanceModal/index.ts
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.styles.ts
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.test.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/routes/index.tsx
  app/constants/navigation/Routes.ts
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-M

#18447 fix: Update Perps order keypad buttons to match latest design
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.styles.ts
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
Labels: team-sdk, No E2E Smoke Needed, size-S

#18451 feat: optimize Perps account/network monitoring with lifecycle manage…
  app/components/UI/Perps/controllers/PerpsController.test.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/hooks/stream/usePerpsLiveAccount.test.ts
  app/components/UI/Perps/hooks/stream/usePerpsLiveAccount.ts
  app/components/UI/Perps/providers/PerpsStreamManager.test.tsx
  app/components/UI/Perps/providers/PerpsStreamManager.tsx
  app/components/UI/Perps/services/PerpsConnectionManager.test.ts
  app/components/UI/Perps/services/PerpsConnectionManager.ts
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-L

#18380 fix: Prevent clearing Snap permissions when clearing dapp approvals
  app/components/Views/Settings/SecuritySettings/Sections/ClearPrivacy/ClearPrivacy.tsx
Labels: INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform, size-XS

#18438 ci: add the build saving/caching to the new templates
  bitrise.yml
  e2e/api-mocking/default-mocks.js
Labels: No E2E Smoke Needed, team-qa, size-S

#18308 feat: Implement multichain account actions and navigation
  app/component-library/components-temp/MultichainAccounts/AccountCell/AccountCell.test.tsx
  app/component-library/components-temp/MultichainAccounts/AccountCell/AccountCell.tsx
  app/component-library/components-temp/MultichainAccounts/AccountCell/index.ts
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/AccountListCell/AccountListCell.test.tsx
  app/component-library/components-temp/MultichainAccounts/MultichainAccountSelectorList/MultichainAccountSelectorList.test.tsx
  app/components/Nav/App/App.tsx
  app/components/Views/MultichainAccounts/sheets/MultichainAccountActions/MultichainAccountActions.styles.ts
  app/components/Views/MultichainAccounts/sheets/MultichainAccountActions/MultichainAccountActions.test.tsx
  app/components/Views/MultichainAccounts/sheets/MultichainAccountActions/MultichainAccountActions.testIds.ts
  app/components/Views/MultichainAccounts/sheets/MultichainAccountActions/MultichainAccountActions.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: No QA Needed, team-accounts, No E2E Smoke Needed, size-M

#18109 feat: implement react native release profiler
  README.md
  app/components/Nav/App/App.test.tsx
  app/components/Nav/App/App.tsx
  app/components/UI/ProfilerManager/ProfilerManager.test.tsx
  app/components/UI/ProfilerManager/ProfilerManager.tsx
  app/components/UI/ProfilerManager/ShakeDetector.test.tsx
  app/components/UI/ProfilerManager/ShakeDetector.tsx
  app/components/UI/ProfilerManager/index.ts
  app/components/Views/Root/index.test.tsx
  app/util/test/utils.js
  bitrise.yml
  docs/readme/release-build-profiler.md
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, size-L

#18453 feat: Add `useSnapNameResolution` hook
  app/components/Snaps/hooks/useSnapNameResolution.test.tsx
  app/components/Snaps/hooks/useSnapNameResolution.ts
  app/selectors/snaps/permissionController.ts
  app/selectors/snaps/snapController.ts
Labels: INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform, size-M

#18254 ci: better manage automatic labeling of Sentry issues
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/scripts/check-template-and-add-labels.ts
  .github/scripts/shared/label.ts
Labels: No QA Needed, team-extension-platform, No E2E Smoke Needed, no-changelog, size-S

#18437 test: update default mocks logic and logic to handle live requests in tests
  .gitignore
  docs/readme/api-logging.md
  e2e/api-mocking/api-monitor.js
  e2e/api-mocking/default-mocks.js
  e2e/api-mocking/mock-e2e-allowlist.js
  e2e/api-mocking/mock-responses/defaults/accounts.ts
  e2e/api-mocking/mock-responses/defaults/dapp-scanning.ts
  e2e/api-mocking/mock-responses/defaults/defi-adapter.ts
  e2e/api-mocking/mock-responses/defaults/index.ts
  e2e/api-mocking/mock-responses/defaults/metametrics-test.ts
  e2e/api-mocking/mock-responses/defaults/onramp-apis.ts
  e2e/api-mocking/mock-responses/defaults/price-apis.ts
  e2e/api-mocking/mock-responses/defaults/staking.ts
  e2e/api-mocking/mock-responses/defaults/swap-apis.ts
  e2e/api-mocking/mock-responses/defaults/token-apis.ts
  e2e/api-mocking/mock-responses/defaults/user-storage.ts
  e2e/api-mocking/mock-responses/defaults/walletconnect.ts
  e2e/api-mocking/mock-responses/defaults/web-3-auth.ts
  e2e/api-mocking/mock-server.js
  e2e/framework/fixtures/FixtureHelper.ts
  e2e/framework/types.ts
  e2e/init.js
  e2e/pages/Settings/BackupAndSyncView.ts
  e2e/pages/Settings/Contacts/ContactsView.ts
  e2e/selectors/Settings/BackupAndSyncView.selectors.js
  e2e/specs/assets/multichain/asset-sort.spec.ts
  e2e/specs/identity/account-syncing/multi-srp.spec.ts
  e2e/specs/identity/contact-syncing/backup-and-sync-settings.spec.ts
  e2e/specs/identity/contact-syncing/contact-sync-toggle.spec.ts
  e2e/specs/identity/contact-syncing/sync-existing-user.spec.ts
  e2e/specs/identity/contact-syncing/sync-users-contacts.spec.ts
  e2e/specs/identity/utils/withIdentityFixtures.ts
  e2e/specs/notifications/enable-notifications-after-onboarding.spec.ts
  e2e/specs/notifications/notification-settings-flow.spec.ts
  e2e/specs/quarantine/onramp.failing.ts
  e2e/specs/quarantine/swap-deeplink.failing.ts
  e2e/specs/quarantine/swap-token-chart.failing.ts
  e2e/specs/ramps/onramp-parameters.spec.ts
  e2e/specs/settings/addressbook-relaunch-app.spec.ts
  e2e/specs/settings/addressbook-tests.spec.ts
  e2e/specs/swaps/helpers/swap-mocks.ts
  e2e/specs/swaps/swap-action-regression.spec.ts
  e2e/specs/swaps/swap-action-smoke.spec.ts
  e2e/specs/wallet/request-token-flow.spec.ts
  package.json
  scripts/start-api-logging-server.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa, size-XL

#18366 feat(card): rename add funds bottomsheet options
  app/components/UI/Card/Views/CardHome/CardHome.tsx
  app/components/UI/Card/components/AddFundsBottomSheet/AddFundsBottomSheet.test.tsx
  app/components/UI/Card/components/AddFundsBottomSheet/AddFundsBottomSheet.tsx
  app/components/UI/Card/components/AddFundsBottomSheet/__snapshots__/AddFundsBottomSheet.test.tsx.snap
  app/components/UI/Card/constants.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-card, size-M

#18479 test: fixes artifact upload on failures
  .github/workflows/run-e2e-workflow.yml
  e2e/framework/fixtures/FixtureBuilder.ts
  e2e/specs/quarantine/asset-sort.failing.ts
  e2e/specs/quarantine/multichain/permissions/chains/multiple-dapps.failing.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa, size-S

#18497 feat: nonevm deeplink handler
  app/constants/deeplinks.ts
  app/core/DeeplinkManager/DeeplinkManager.ts
  app/core/DeeplinkManager/Handlers/handleCreateAccountUrl.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/selectors/multichain/multichain.ts
Labels: No QA Needed, No E2E Smoke Needed, skip-sonar-cloud, team-new-networks, size-M

#18398 fix: user data being wiped after upgrading to new version from 7.51.4
  app/store/migrations/093.test.ts
  app/store/migrations/093.ts
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, size-S

#18490 fix(perps): initial qa feedbacks
  app/components/UI/Perps/Views/PerpsMarketDetailsView/PerpsMarketDetailsView.tsx
  app/components/UI/Perps/Views/PerpsMarketListView/PerpsMarketListView.tsx
  app/components/UI/Perps/Views/PerpsOrderView/PerpsOrderView.tsx
  app/components/UI/Perps/components/PerpsAmountDisplay/PerpsAmountDisplay.test.tsx
  app/components/UI/Perps/components/PerpsAmountDisplay/PerpsAmountDisplay.tsx
  app/components/UI/Perps/components/PerpsClosePositionBottomSheet/PerpsClosePositionBottomSheet.tsx
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsLeverageBottomSheet/PerpsLeverageBottomSheet.tsx
  app/components/UI/Perps/components/PerpsLimitPriceBottomSheet/PerpsLimitPriceBottomSheet.styles.ts
  app/components/UI/Perps/components/PerpsLimitPriceBottomSheet/PerpsLimitPriceBottomSheet.test.tsx
  app/components/UI/Perps/components/PerpsLimitPriceBottomSheet/PerpsLimitPriceBottomSheet.tsx
  app/components/UI/Perps/components/PerpsMarketRowItem/PerpsMarketRowItem.styles.ts
  app/components/UI/Perps/components/PerpsMarketRowItem/PerpsMarketRowItem.test.tsx
  app/components/UI/Perps/components/PerpsMarketRowItem/PerpsMarketRowItem.tsx
  app/components/UI/Perps/components/PerpsOrderHeader/PerpsOrderHeader.tsx
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.test.tsx
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.tsx
  app/components/UI/Perps/components/PerpsSlider/PerpsSlider.test.tsx
  app/components/UI/Perps/components/PerpsSlider/PerpsSlider.tsx
  app/components/UI/Perps/components/PerpsTPSLBottomSheet/PerpsTPSLBottomSheet.tsx
  app/components/UI/Perps/constants/perpsConfig.ts
  app/components/UI/Perps/hooks/usePerpsAssetsMetadata.ts
  app/components/UI/Perps/hooks/usePerpsMarketStats.test.ts
  app/components/UI/Perps/hooks/usePerpsMarketStats.ts
  app/components/UI/Perps/hooks/usePerpsMarkets.ts
  app/components/UI/Perps/hooks/usePerpsOrderForm.test.ts
  app/components/UI/Perps/hooks/usePerpsOrderForm.ts
  app/components/UI/Perps/utils/formatUtils.test.ts
  app/components/UI/Perps/utils/formatUtils.ts
  app/components/UI/Perps/utils/marketDataTransform.test.ts
  app/components/UI/Perps/utils/marketDataTransform.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-XL

#18544 feat(perps): improve hyperliquid fee estimation based on trading and staking volume
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.test.ts
  app/components/UI/Perps/controllers/providers/HyperLiquidProvider.ts
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-M

#18546 feat: BIP-44 account support for Perps with seamless Solana account handling
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.test.tsx
  app/components/UI/Perps/Views/PerpsTabView/PerpsTabView.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsFundingTransactionView.test.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsFundingTransactionView.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsOrderTransactionView.test.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsOrderTransactionView.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsPositionTransactionView.test.tsx
  app/components/UI/Perps/Views/PerpsTransactionsView/PerpsPositionTransactionView.tsx
  app/components/UI/Perps/components/PerpsErrorState/PerpsErrorState.styles.ts
  app/components/UI/Perps/components/PerpsErrorState/PerpsErrorState.test.tsx
  app/components/UI/Perps/components/PerpsErrorState/PerpsErrorState.tsx
  app/components/UI/Perps/components/PerpsErrorState/index.ts
  app/components/UI/Perps/components/PerpsTabControlBar/PerpsTabControlBar.tsx
  app/components/UI/Perps/controllers/PerpsController.test.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/hooks/usePerpsBlockExplorerUrl.test.ts
  app/components/UI/Perps/hooks/usePerpsBlockExplorerUrl.ts
  app/components/UI/Perps/providers/PerpsConnectionProvider.tsx
  app/components/UI/Perps/services/HyperLiquidWalletService.test.ts
  app/components/UI/Perps/services/HyperLiquidWalletService.ts
  app/components/UI/Perps/services/PerpsConnectionManager.test.ts
  app/components/UI/Perps/services/PerpsConnectionManager.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-perps, size-L

#18304 fix: Fix send flow hang on custom RPC by signaling blocked XHR
  app/store/sagas/xmlHttpRequestOverride.test.ts
  app/store/sagas/xmlHttpRequestOverride.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, size-M

#18549 fix: font-size for input value on amount page
  app/components/Views/confirmations/components/send/amount/amount.styles.ts
  app/components/Views/confirmations/components/send/amount/amount.test.tsx
  app/components/Views/confirmations/components/send/amount/amount.tsx
  app/components/Views/confirmations/hooks/send/evm/useEvmAmountValidation.ts
  app/components/Views/confirmations/hooks/send/useBalance.ts
  app/components/Views/confirmations/utils/send.test.ts
  app/components/Views/confirmations/utils/send.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, size-M

#18349 feat(INFRA-2845): restrict release pr merges
  .github/workflows/release-pr-approval.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops, size-S

#18578 chore: bump shajs and cipher base
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, size-XS

#18483 chore: bump assets controllers to v73.3.0
  app/components/Views/confirmations/legacy/ApproveView/Approve/index.js
  app/components/Views/confirmations/legacy/ApproveView/Approve/index.test.tsx
  app/components/hooks/AssetPolling/useTokenBalancesPolling.test.ts
  app/components/hooks/AssetPolling/useTokenBalancesPolling.ts
  app/core/Engine/Engine.ts
  app/core/NotificationManager.js
  app/util/test/accountsControllerTestUtils.ts
  package.json
  patches/@metamask+assets-controllers+73.3.0.patch
  yarn.lock
Labels: QA Passed, team-assets, No E2E Smoke Needed, no-changelog, size-M

#18484 fix: Reveal Private Credentials cp-7.54.0
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/index.tsx
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/styles.ts
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/RevealPrivateCredential.test.tsx.snap
  app/components/Views/RevealPrivateCredential/styles.ts
Labels: No QA Needed, team-accounts, Run Smoke E2E, no-changelog, size-S

#18461 fix: cp-7.54.0 use navigation.dispatch to properly navigate to asset page
  app/components/UI/Bridge/components/BridgeDestTokenSelector/BridgeDestTokenSelector.test.tsx
  app/components/UI/Bridge/components/BridgeDestTokenSelector/index.tsx
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, size-S

#18535 fix: network manager scroll bug for android
  app/components/UI/CustomNetworkSelector/CustomNetworkSelector.styles.ts
  app/components/UI/CustomNetworkSelector/CustomNetworkSelector.tsx
  app/components/UI/NetworkMultiSelector/NetworkMultiSelector.styles.ts
  app/components/UI/NetworkMultiSelector/NetworkMultiSelector.tsx
Labels: No QA Needed, Run Smoke E2E, team-wallet-ux, size-S

#18477 fix: Allow most WebView options on all pages (including homepage)
  app/components/Views/BrowserTab/BrowserTab.tsx
  app/components/Views/BrowserTab/components/Options/__snapshots__/index.test.tsx.snap
  app/components/Views/BrowserTab/components/Options/index.test.tsx
  app/components/Views/BrowserTab/components/Options/index.tsx
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, size-S

#18560 feat: Submit solana transaction to snap for review and confirmation
  app/components/Views/confirmations/components/send/amount/amount.styles.ts
  app/components/Views/confirmations/components/send/amount/amount.test.tsx
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmAmountValidation.test.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmAmountValidation.ts
  app/components/Views/confirmations/hooks/send/useAmountValidation.ts
  app/components/Views/confirmations/hooks/send/useSendActions.ts
  app/components/Views/confirmations/utils/multichain-snaps.test.ts
  app/components/Views/confirmations/utils/multichain-snaps.ts
  app/components/Views/confirmations/utils/send.test.ts
  app/components/Views/confirmations/utils/send.ts
  package.json
  yarn.lock
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, size-M

#18500 fix(next semver version): revert calculation method to no longer rely on package.json
  .github/scripts/get-next-semver-version.sh
Labels: No QA Needed, team-extension-platform, No E2E Smoke Needed, no-changelog, no changelog required, size-S

#18495 feat(base branch): make it possible to define name of release PR base branch
  .github/workflows/create-release-pr.yml
Labels: No QA Needed, team-extension-platform, No E2E Smoke Needed, no-changelog, no changelog required, size-S

#18468 feat: Add `SnapUIDropdown` and `SnapUIRadioGroup`
  app/components/Snaps/SnapUICheckbox/SnapUICheckbox.tsx
  app/components/Snaps/SnapUIDropdown/SnapUIDropdown.tsx
  app/components/Snaps/SnapUIFooterButton/SnapUIFooterButton.tsx
  app/components/Snaps/SnapUIRadioGroup/SnapUIRadioGroup.tsx
  app/components/Snaps/SnapUIRenderer/components/__snapshots__/form.test.ts.snap
  app/components/Snaps/SnapUIRenderer/components/dropdown.ts
  app/components/Snaps/SnapUIRenderer/components/field.ts
  app/components/Snaps/SnapUIRenderer/components/form.test.ts
  app/components/Snaps/SnapUIRenderer/components/index.ts
  app/components/Snaps/SnapUIRenderer/components/radioGroup.ts
  app/components/Snaps/SnapUISelector/SnapUISelector.tsx
  app/components/UI/TemplateRenderer/SafeComponentList.ts
  e2e/pages/Browser/TestSnaps.ts
  e2e/selectors/Browser/TestSnaps.selectors.ts
  e2e/specs/snaps/test-snap-interactive-ui.spec.ts
  locales/languages/en.json
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform, size-L

#18602 feat: Add NFT list in asset page in send flow
  app/components/Views/confirmations/components/UI/nft/index.ts
  app/components/Views/confirmations/components/UI/nft/nft.tsx
  app/components/Views/confirmations/components/UI/recipient/recipient.test.tsx
  app/components/Views/confirmations/components/UI/recipient/recipient.tsx
  app/components/Views/confirmations/components/network-filter/network-filter.test.tsx
  app/components/Views/confirmations/components/network-filter/network-filter.tsx
  app/components/Views/confirmations/components/nft-list/index.ts
  app/components/Views/confirmations/components/nft-list/nft-list.test.tsx
  app/components/Views/confirmations/components/nft-list/nft-list.tsx
  app/components/Views/confirmations/components/recipient-list/recipient-list.test.tsx
  app/components/Views/confirmations/components/send/amount/amount.tsx
  app/components/Views/confirmations/components/send/asset/asset.test.tsx
  app/components/Views/confirmations/components/send/asset/asset.tsx
  app/components/Views/confirmations/components/send/recipient/recipient.test.tsx
  app/components/Views/confirmations/components/send/recipient/recipient.tsx
  app/components/Views/confirmations/components/token-list/token-list.test.tsx
  app/components/Views/confirmations/components/token-list/token-list.tsx
  app/components/Views/confirmations/context/send-context/send-context.tsx
  app/components/Views/confirmations/hooks/send/evm/useEvmAmountValidation.ts
  app/components/Views/confirmations/hooks/send/evm/useEvmPercentageAmount.ts
  app/components/Views/confirmations/hooks/send/evm/useSelectedEVMAccountTokens.ts
  app/components/Views/confirmations/hooks/send/metrics/useAssetSelectionMetrics.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmAmountValidation.ts
  app/components/Views/confirmations/hooks/send/non-evm/useNonEvmPercentageAmount.ts
  app/components/Views/confirmations/hooks/send/useAccounts.test.ts
  app/components/Views/confirmations/hooks/send/useAccounts.ts
  app/components/Views/confirmations/hooks/send/useBalance.ts
  app/components/Views/confirmations/hooks/send/useCurrencyConversions.ts
  app/components/Views/confirmations/hooks/send/useNfts.ts
  app/components/Views/confirmations/hooks/send/useSendActions.ts
  app/components/Views/confirmations/hooks/send/useSendNavbar.test.tsx
  app/components/Views/confirmations/hooks/send/useSendNavbar.tsx
  app/components/Views/confirmations/hooks/send/useSendType.ts
  app/components/Views/confirmations/hooks/send/useTokenSearch.test.ts
  app/components/Views/confirmations/hooks/send/useTokenSearch.ts
  app/components/Views/confirmations/types/token.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, skip-sonar-cloud, no-changelog, Run E2E Tests, size-XL
