Repository MetaMask/metamask-mobile, pull requests merged in 2025-04, with the labels that each got.

#12931 fix: anonymous props that's not moved to sensitive props
  app/core/Analytics/MetricsEventBuilder.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#14201 chore: bump assets controllers v55.0.1
  app/components/Base/RemoteImage/index.js
  app/components/UI/CollectibleContractElement/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContractElement/index.test.tsx
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/CollectibleDetectionModal/index.test.tsx
  app/components/UI/CollectibleDetectionModal/index.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/Views/Collectible/index.js
  app/components/Views/Collectible/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/components/hooks/useNftDetectionChainIds.test.ts
  app/components/hooks/useNftDetectionChainIds.ts
  app/reducers/collectibles/index.js
  app/util/networks/index.js
  app/util/networks/index.test.ts
  package.json
  patches/@metamask+assets-controllers+55.0.1.patch
  yarn.lock
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review, release-7.45.0

#14156 chore: bump @metamask/controller-utils to v11.6.0
  package.json
Labels: team-assets, Run Smoke E2E, release-7.45.0

#14337 test: update token selection function for flaky test
  app/components/UI/Ramp/components/TokenSelectModal.tsx
  e2e/pages/Ramps/TokenSelectBottomSheet.js
  e2e/selectors/Ramps/SelectToken.selectors.js
  e2e/specs/ramps/onramp.spec.js
Labels: Run Smoke E2E, team-qa, release-7.45.0

#14359 ci: Fix Android expodev build
  bitrise.yml
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#14362 chore: Revert "fix: anonymous props that's not moved to sensitive props (#12…
  app/core/Analytics/MetricsEventBuilder.ts
Labels: Run Smoke E2E, team-qa

#14303 fix: Dont send empty set "Token Added" event to Mixpanel
  app/components/UI/AddCustomToken/index.js
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.tsx
  app/components/UI/MultiAssetListItems/MultiAssetListItems.tsx
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/Views/DetectedTokens/index.tsx
  app/components/Views/Wallet/index.tsx
  app/components/Views/confirmations/legacy/components/WatchAssetRequest/index.js
Labels: team-assets, Run Smoke E2E, skip-sonar-cloud

#14358 chore: patch detox default lockfile sync timeout
  patches/detox+20.33.0.patch
Labels: Run Smoke E2E, team-qa

#14363 test: update token used in ramps test
  e2e/specs/ramps/onramp.spec.js
Labels: Run Smoke E2E, team-qa

#14298 feat: solana opt-in modal
  app/components/UI/SolanaNewFeatureContent/FeatureItem.styles.ts
  app/components/UI/SolanaNewFeatureContent/FeatureItem.tsx
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.styles.ts
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.test.tsx
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.tsx
  app/components/UI/SolanaNewFeatureContent/index.ts
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/constants/storage.ts
  app/images/solana-logo-transparent.svg
  locales/languages/en.json
Labels: Run Smoke E2E, team-solana

#14379 fix: Hide account list selector balance for non evm accounts
  app/components/hooks/useAccounts/useAccounts.ts
Labels: team-accounts, Run Smoke E2E

#14380 chore: Updated CODEOWNER for snap files
  .github/CODEOWNERS
Labels: No QA Needed, needs-dev-review, team-design-system, No E2E Smoke Needed

#14357 fix: small update for event consistency
  app/components/Views/BrowserTab/components/PhishingModal/index.tsx
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-product-safety

#14388 test: Fix swap smoke tests
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
Labels: No E2E Smoke Needed, team-qa

#14327 fix: clear error if the srp is cleared manually.
  app/components/Views/ImportNewSecretRecoveryPhrase/index.test.tsx
  app/components/Views/ImportNewSecretRecoveryPhrase/index.tsx
  e2e/selectors/MultiSRP/SRPImport.selectors.js
Labels: team-accounts, Run Smoke E2E

#14297 fix: #13410: Don't switch networks when 'Close' button is tapped in Add Network flow
  app/components/UI/NetworkModal/index.test.tsx
  app/components/UI/NetworkModal/index.tsx
Labels: Run Smoke E2E, team-wallet-ux

#14398 fix: import button
  app/components/Views/ImportNewSecretRecoveryPhrase/index.tsx
  locales/languages/en.json
Labels: team-accounts, Run Smoke E2E

#14355 feat: Snaps UI text styling inheritance
  app/components/Snaps/SnapUIAddress/SnapUIAddress.tsx
  app/components/Snaps/SnapUIButton/SnapUIButton.tsx
  app/components/Snaps/SnapUIFooterButton/SnapUIFooterButton.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/components/address.ts
  app/components/Snaps/SnapUIRenderer/components/banner.test.ts
  app/components/Snaps/SnapUIRenderer/components/bold.ts
  app/components/Snaps/SnapUIRenderer/components/box.test.ts
  app/components/Snaps/SnapUIRenderer/components/button.ts
  app/components/Snaps/SnapUIRenderer/components/card.test.ts
  app/components/Snaps/SnapUIRenderer/components/container.test.ts
  app/components/Snaps/SnapUIRenderer/components/container.ts
  app/components/Snaps/SnapUIRenderer/components/footer.test.ts
  app/components/Snaps/SnapUIRenderer/components/footer.ts
  app/components/Snaps/SnapUIRenderer/components/icon.ts
  app/components/Snaps/SnapUIRenderer/components/link.test.ts
  app/components/Snaps/SnapUIRenderer/components/link.ts
  app/components/Snaps/SnapUIRenderer/components/text.test.ts
  app/components/Snaps/SnapUIRenderer/components/text.ts
  app/components/Snaps/SnapUIRenderer/components/tooltip.test.ts
  app/components/Snaps/SnapUIRenderer/components/types.ts
  app/components/Snaps/SnapUIRenderer/utils.test.ts
  app/components/Snaps/SnapUIRenderer/utils.ts
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#14402 fix: E2E phishing test on android
  e2e/specs/browser/browser-tests.spec.js
Labels: No QA Needed, Run Smoke E2E, team-identity

#14401 fix: cp-7.44.0 Add new feature flag for staking confirmations
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.test.tsx
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.test.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.tsx
  app/components/UI/Stake/components/GasImpactModal/GasImpactModal.test.tsx
  app/components/UI/Stake/components/GasImpactModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/selectors/featureFlagController/index.ts
  app/util/test/confirm-data-helpers.ts
Labels: team-confirmations, skip-sonar-cloud

#14408 chore: Bump network-controller to 23.2.0, controller-utils to 11.7.0
  app/core/Engine/Engine.ts
  app/lib/ppom/ppom-util.test.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+network-controller+22.1.0.patch
  yarn.lock
Labels: No QA Needed, team-wallet-framework, No E2E Smoke Needed

#14411 fix(14305): removed background color for header in QR code screen
  app/components/Views/QRTabSwitcher/QRTabSwitcher.tsx
  app/components/Views/QRTabSwitcher/styles.ts
Labels: Run Smoke E2E, team-wallet-ux

#14318 chore: bump gas-fee-controller to 23.0.0
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#14394 feat: added mmpoly and mmsans font files
  android/app/src/main/assets/fonts/MMPoly-Regular.otf
  android/app/src/main/assets/fonts/MMSans-Bold.otf
  android/app/src/main/assets/fonts/MMSans-Medium.otf
  android/link-assets-manifest.json
  app/fonts/MMPoly-Regular.otf
  app/fonts/MMSans-Bold.otf
  app/fonts/MMSans-Medium.otf
  ios/MetaMask/Info.plist
  ios/MetaMask/MetaMask-Flask-Info.plist
  ios/MetaMask/MetaMask-QA-Info.plist
  ios/link-assets-manifest.json
Labels: No QA Needed, needs-dev-review, team-design-system, No E2E Smoke Needed

#14319 chore: bump json-rpc-middleware-stream to 8.0.7
  package.json
Labels: No QA Needed, Run Smoke E2E, team-identity

#14325 chore: bump signature-controller to 25.0.0
  app/core/Engine/Engine.ts
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#14321 chore: bump phishing-controller to 12.4.1
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#14323 chore: bump profile-sync-controller to 11.0.0
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#14406 fix: Remove bitcoin from beta release
  app/actions/multichain/state.ts
  app/components/Views/AddAccountActions/AddAccountActions.test.tsx
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  app/lib/snaps/preinstalled-snaps.ts
  app/reducers/index.ts
  app/reducers/multichain/index.ts
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichain/multichain.ts
  app/store/persistConfig.ts
  app/util/test/initial-root-state.ts
  metro.transform.js
Labels: team-accounts, Run Smoke E2E

#14316 chore: bump bridge controllers
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/BridgeDestNetworkSelector.test.tsx
  app/components/UI/Bridge/components/BridgeDestTokenSelector/BridgeDestTokenSelector.test.tsx
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/BridgeSourceNetworkSelector.test.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/BridgeSourceTokenSelector.test.tsx
  app/components/UI/Bridge/hooks/useTokensWithBalance/useTokensWithBalance.test.ts
  app/components/UI/Bridge/index.test.tsx
  app/core/redux/slices/bridge/index.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#13464 feat(ramp): paymentMethods refactor for sdk evolution
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/components/CustomAction/CustomAction.styles.ts
  app/components/UI/Ramp/components/CustomAction/CustomAction.test.tsx
  app/components/UI/Ramp/components/CustomAction/CustomAction.tsx
  app/components/UI/Ramp/components/CustomAction/index.ts
  app/components/UI/Ramp/components/CustomActionButton.tsx
  app/components/UI/Ramp/components/Quote/Quote.test.tsx
  app/components/UI/Ramp/components/Quote/Quote.tsx
  app/components/UI/Ramp/containers/CustomActionButton.tsx
  app/components/UI/Ramp/hooks/useCryptoCurrencies.test.ts
  app/components/UI/Ramp/hooks/useCryptoCurrencies.ts
  app/components/UI/Ramp/hooks/useFiatCurrencies.test.ts
  app/components/UI/Ramp/hooks/useFiatCurrencies.ts
  app/components/UI/Ramp/hooks/useLimits.ts
  app/components/UI/Ramp/hooks/usePaymentMethods.test.ts
  app/components/UI/Ramp/hooks/usePaymentMethods.ts
  app/components/UI/Ramp/hooks/useQuotes.test.ts
  app/components/UI/Ramp/hooks/useQuotes.ts
  app/components/UI/Ramp/hooks/useQuotesAndCustomActions.test.ts
  app/components/UI/Ramp/hooks/useQuotesAndCustomActions.ts
  app/components/UI/Ramp/hooks/useSortedQuotes.test.ts
  app/components/UI/Ramp/hooks/useSortedQuotes.ts
  package.json
  yarn.lock
Labels: team-ramp, needs-ramp-qa, Run Smoke E2E

#14418 fix: Remove bitcoin from beta release (cherry pick from #14406)
  app/actions/multichain/state.ts
  app/components/Views/AddAccountActions/AddAccountActions.test.tsx
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/lib/snaps/preinstalled-snaps.ts
  app/reducers/index.ts
  app/reducers/multichain/index.ts
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichain/multichain.ts
  app/store/persistConfig.ts
  app/util/test/initial-root-state.ts
  metro.transform.js
Labels: team-accounts, INVALID-PR-TEMPLATE

#14412 fix: #3931 Stop loading when enabling biometrics from settings
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#14409 chore: cherry pick fix: cp-7.44.0 Add new feature flag for staking confirmations (#14401)
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.test.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/components/GasImpactModal/GasImpactModal.test.tsx
  app/components/UI/Stake/components/GasImpactModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/selectors/featureFlagController/index.ts
  app/util/test/confirm-data-helpers.ts
Labels: team-mobile-platform, INVALID-PR-TEMPLATE

#14315 chore: bump approval-controller to 7.1.3
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#14296 feat: bump `@metamask/notification-services-controller` to `^5.0.1`
  app/components/Views/Settings/NotificationsSettings/AccountsList.hooks.test.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.hooks.tsx
  app/components/Views/Settings/NotificationsSettings/MainNotificationToggle.hooks.test.tsx
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/notifications/create-notification-services-controller.test.ts
  app/core/Engine/controllers/notifications/create-notification-services-controller.ts
  app/core/Engine/controllers/notifications/create-notification-services-push-controller.test.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/messengers/notifications/notification-services-controller-messenger.test.ts
  app/core/Engine/messengers/notifications/notification-services-controller-messenger.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/utils.test.ts
  app/selectors/notifications/index.test.ts
  app/selectors/notifications/index.tsx
  package.json
  yarn.lock
Labels: team-assets, Run Smoke E2E

#14324 chore: bump selected-network-controller to 22.0.0
  app/core/Engine/Engine.ts
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#14322 chore: bump preferences-controller to 17.0.0
  app/core/Engine/Engine.ts
  package.json
  patches/@metamask+preferences-controller+17.0.0.patch
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#14320 chore: bump multichain controllers
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#14403 fix: 3273 keyboard blocks send flow (Solana)
  app/components/Approvals/ApprovalModal/ApprovalModal.tsx
  app/components/Approvals/InstallSnapApproval/InstallSnapApproval.tsx
  app/components/Approvals/SnapAccountCustomNameApproval/SnapAccountCustomNameApproval.tsx
  app/components/Snaps/SnapDialogApproval/SnapDialogApproval.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Snaps/SnapUISelector/SnapUISelector.tsx
  app/components/Snaps/SnapUITooltip/SnapUITooltip.tsx
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-snaps-platform

#14433 fix: Disable auto correct on Snaps UI inputs [cp-7.44.0]
  app/components/Snaps/SnapUIInput/SnapUIInput.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
Labels: INVALID-PR-TEMPLATE, team-snaps-platform

#14436 test: move limits ramps test to quarantine
  e2e/specs/quarantine/offramp-limits.spec.js
Labels: Run Smoke E2E, team-qa

#14430 fix: Prevent Snap footer buttons from being pushed out of the modal
  app/components/Snaps/SnapDialogApproval/SnapDialogApproval.styles.ts
  app/components/Snaps/SnapDialogApproval/SnapDialogApproval.tsx
  app/components/Snaps/SnapUIRenderer/SnapUIRenderer.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
Labels: INVALID-PR-TEMPLATE, team-snaps-platform

#14449 fix: activity showing same transactions
  app/selectors/multichain/multichain.ts
  package.json
  yarn.lock
Labels: QA Passed, No E2E Smoke Needed, team-solana

#14420 fix: cp fix(14255): invalid url on account list
  app/components/Views/AccountActions/AccountActions.tsx
  e2e/fixtures/fixture-builder.js
Labels: team-qa

#14421 fix: Cherry pick Fix swap smoke tests (#14388)
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
Labels: team-qa

#14460 fix: create Solana account in beta builds
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/core/SnapKeyring/BitcoinWalletSnap.ts
Labels: team-accounts, Run Smoke E2E

#14462 fix: create Solana account in beta builds (cherry pick from #14460)
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/core/SnapKeyring/BitcoinWalletSnap.ts
Labels: team-accounts, INVALID-PR-TEMPLATE

#14461 test: move limits ramps test to quarantine (#14436)
  e2e/specs/quarantine/offramp-limits.spec.js
Labels: team-qa

#14246 feat: add metrics for Alert System
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.tsx
  app/components/Views/confirmations/AlertSystem/MultipleAlertModal/MultipleAlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/context/Alerts.context.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Info/Shared/InfoRowOrigin/InfoRowOrigin.tsx
  app/components/Views/confirmations/components/UI/InfoRow/AlertRow/AlertRow.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/AlertRow/AlertRow.tsx
  app/components/Views/confirmations/constants/alerts.ts
  app/components/Views/confirmations/hooks/alerts/signatures/useDomainMismatchAlerts.test.ts
  app/components/Views/confirmations/hooks/alerts/signatures/useDomainMismatchAlerts.ts
  app/components/Views/confirmations/hooks/alerts/useBlockaidAlerts.tsx
  app/components/Views/confirmations/hooks/useConfirmationAlertMetrics.test.ts
  app/components/Views/confirmations/hooks/useConfirmationAlertMetrics.ts
  app/components/Views/confirmations/hooks/useSignatureMetrics.ts
  app/core/redux/slices/confirmationMetrics/index.test.ts
  app/core/redux/slices/confirmationMetrics/index.ts
Labels: Run Smoke E2E, team-confirmations

#14434 fix: fix typo in network message
  app/components/UI/NetworkInfo/__snapshots__/index.test.tsx.snap
  locales/languages/en.json
Labels: No E2E Smoke Needed, team-solana

#14466 fix: hide show private key in non-evm accounts
  app/components/Views/AccountActions/AccountActions.tsx
Labels: QA Passed, No E2E Smoke Needed, team-solana

#14435 chore: updates the support url to use the internal-beta-testing
  app/components/Views/Settings/index.tsx
Labels: Run Smoke E2E, team-solana

#14482 build: add resolution for metro/image-size
  package.json
  yarn.lock
Labels: team-assets, No E2E Smoke Needed

#14390 Feat/redesign phishing screen
  app/components/UI/PhishingModal/__snapshots__/index.test.tsx.snap
  app/components/UI/PhishingModal/index.js
  app/components/UI/PhishingModal/index.test.tsx
  app/components/Views/BrowserTab/components/PhishingModal/__snapshots__/index.test.tsx.snap
  app/components/Views/BrowserTab/components/PhishingModal/index.tsx
  app/components/Views/BrowserTab/components/PhishingModal/styles.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-product-safety

#14415 test: new test cases for off-ramp token amounts
  e2e/pages/Ramps/BuildQuoteView.js
  e2e/specs/ramps/offramp-token-amount.spec.js
Labels: Run Smoke E2E, team-qa

#14450 feat: upgrade `@testing-library/react-native` to `13.2.0`
  app/selectors/accountTrackerControllerReRenders.test.tsx
  app/selectors/multichain/evm.test.tsx
  app/util/test/testSetup.js
  package.json
  yarn.lock
Labels: team-assets, Run Smoke E2E

#14232 feat: util file for phishing detection
  app/components/UI/AccountApproval/index.js
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/Browser/index.test.tsx
  app/components/Views/BrowserTab/BrowserTab.tsx
  app/util/linkCheck.test.ts
  app/util/linkCheck.ts
  app/util/phishingDetection.test.ts
  app/util/phishingDetection.ts
Labels: Run Smoke E2E, team-product-safety

#14439 feat: Init asset details balance, remove PV flag
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/AssetOverview/Balance/index.test.tsx
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/Views/DetectedTokens/components/Token.tsx
Labels: team-assets, Run Smoke E2E

#14370 feat: add new `completedOnboarding` onboarding state property
  app/actions/onboarding/index.test.ts
  app/actions/onboarding/index.ts
  app/components/UI/DeleteWalletModal/index.test.tsx
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/Views/OnboardingSuccess/__snapshots__/index.test.js.snap
  app/components/Views/OnboardingSuccess/index.test.js
  app/components/Views/OnboardingSuccess/index.tsx
  app/reducers/index.ts
  app/reducers/onboarding/index.js
  app/reducers/onboarding/index.test.ts
  app/reducers/onboarding/index.ts
  app/selectors/onboarding/index.test.ts
  app/selectors/onboarding/index.ts
  app/selectors/wizard/index.test.ts
  app/selectors/wizard/index.ts
  app/store/migrations/071.test.ts
  app/store/migrations/071.ts
  app/store/migrations/index.ts
  app/util/identity/hooks/useAuthentication/useAutoSignIn.test.ts
  app/util/identity/hooks/useAuthentication/useAutoSignIn.ts
  app/util/test/initial-root-state.ts
Labels: No QA Needed, Run Smoke E2E, team-identity

#14431 test: notification e2e tests
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.tsx
  app/components/Views/Notifications/Details/Title/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/Details/Title/index.tsx
  app/components/Views/Notifications/Details/index.tsx
  app/components/Views/Notifications/OptIn/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/OptIn/index.test.tsx
  app/components/Views/Notifications/OptIn/index.tsx
  app/components/Views/Notifications/__snapshots__/index.test.tsx.snap
  app/components/Views/Notifications/constants.ts
  app/components/Views/Notifications/index.test.tsx
  app/components/Views/Notifications/index.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.test.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.tsx
  app/components/Views/Settings/NotificationsSettings/CustomNotificationsRow/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/CustomNotificationsRow/index.tsx
  app/components/Views/Settings/NotificationsSettings/FeatureAnnouncementToggle.test.tsx
  app/components/Views/Settings/NotificationsSettings/FeatureAnnouncementToggle.tsx
  app/components/Views/Settings/NotificationsSettings/MainNotificationToggle.test.tsx
  app/components/Views/Settings/NotificationsSettings/MainNotificationToggle.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationsSettings.constants.ts
  app/components/Views/Settings/NotificationsSettings/PushNotificationToggle.test.tsx
  app/components/Views/Settings/NotificationsSettings/PushNotificationToggle.tsx
  app/components/Views/Settings/NotificationsSettings/__snapshots__/index.test.tsx.snap
  app/util/notifications/constants/config.ts
  bitrise.yml
  e2e/api-mocking/mock-server.js
  e2e/pages/Notifications/EnableNotificationsModal.js
  e2e/pages/Notifications/NotificationDetailsView.js
  e2e/pages/Notifications/NotificationMenuView.js
  e2e/pages/Notifications/NotificationSettingsView.js
  e2e/pages/Settings/SettingsView.js
  e2e/pages/wallet/WalletView.js
  e2e/selectors/Notifications/EnableNotificationModal.selectors.js
  e2e/selectors/Notifications/NotificationDetailsView.selectors.js
  e2e/selectors/Notifications/NotificationMenuView.selectors.js
  e2e/selectors/Notifications/NotificationSettingsView.selectors.js
  e2e/specs/identity/utils/user-storage/userStorageMockttpController.js
  e2e/specs/identity/utils/user-storage/userStorageMockttpController.test.js
  e2e/specs/notifications/enable-notifications-after-onboarding.spec.js
  e2e/specs/notifications/notification-settings-flow.spec.js
  e2e/specs/notifications/utils/constants.js
  e2e/specs/notifications/utils/mock-user-storage-data.js
  e2e/specs/notifications/utils/mocks.js
  e2e/tags.js
Labels: team-assets, Run Smoke E2E, skip-sonar-cloud

#14490 fix: code fence name - show only in Beta
  app/components/Views/Settings/index.tsx
Labels: team-solana

#14206 fix: update `ConfirmAlertModal` copy blockaid
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/hooks/alerts/useBlockaidAlerts.test.tsx
  app/components/Views/confirmations/hooks/alerts/useBlockaidAlerts.tsx
  e2e/pages/Browser/Confirmations/AlertSystem.js
  e2e/selectors/Confirmation/ConfirmationView.selectors.js
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#14472 fix: cp-7.44.0 Fix header styling for redesigned staking confirmations
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/StakingClaim.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.test.tsx
  app/components/Views/confirmations/components/Confirm/Navbar/Navbar.test.tsx
  app/components/Views/confirmations/components/Confirm/Navbar/Navbar.tsx
  app/components/Views/confirmations/hooks/useNavbar.test.ts
  app/components/Views/confirmations/hooks/useNavbar.ts
Labels: Run Smoke E2E, team-confirmations

#14495 fix: cp-7.44.0 Add notification when redesigned transaction confirmation submitted and finalized
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/core/Engine/controllers/transaction-controller/event-handlers/metrics.test.ts
  app/core/Engine/controllers/transaction-controller/event-handlers/metrics.ts
  app/core/Engine/controllers/transaction-controller/event-handlers/notification.test.ts
  app/core/Engine/controllers/transaction-controller/event-handlers/notification.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
Labels: Run Smoke E2E, team-confirmations

#14241 feat: add `MegaETH Testnet` as default network
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/constants/network.js
  app/core/Engine/Engine.ts
  app/images/image-icons.js
  app/images/megaeth-testnet-logo.png
  app/selectors/multichain/evm.ts
  app/store/migrations/072.test.ts
  app/store/migrations/072.ts
  app/store/migrations/index.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/networks/index.js
  app/util/networks/index.test.ts
  app/util/test/initial-background-state.json
Labels: QA in Progress, needs-dev-review, Run Smoke E2E, team-network-enablement

#14501 Cherry pick `9d20463` into `7.44.0`
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/transaction-controller/data-helpers.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
  app/core/Engine/controllers/transaction-controller/transaction-event-handlers.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-event-handlers.ts
  app/core/Engine/controllers/transaction-controller/types.ts
  app/core/Engine/controllers/transaction-controller/utils.ts
  app/core/Engine/messengers/transaction-controller-messenger/transaction-controller-messenger.ts
  app/core/Engine/types.ts
Labels: INVALID-PR-TEMPLATE, team-confirmations

#14505 Cherry pick `7744ef4` into `7.44.0`
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/core/Engine/controllers/transaction-controller/event-handlers/metrics.test.ts
  app/core/Engine/controllers/transaction-controller/event-handlers/metrics.ts
  app/core/Engine/controllers/transaction-controller/event-handlers/notification.test.ts
  app/core/Engine/controllers/transaction-controller/event-handlers/notification.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
Labels: INVALID-PR-TEMPLATE

#14088 fix: cp-7.44.0 Update traits when tracked settings change 2/2
  app/components/UI/CollectibleDetectionModal/index.tsx
  app/components/Views/NFTAutoDetectionModal/NFTAutoDetectionModal.test.tsx
  app/components/Views/NFTAutoDetectionModal/NFTAutoDetectionModal.tsx
  app/components/Views/Settings/AutoDetectNFTSettings/index.test.tsx
  app/components/Views/Settings/AutoDetectNFTSettings/index.tsx
  app/components/Views/Settings/AutoDetectTokensSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AutoDetectTokensSettings/index.test.tsx
  app/components/Views/Settings/AutoDetectTokensSettings/index.tsx
  app/components/Views/Settings/BatchAccountBalanceSettings/index.tsx
  app/components/Views/Settings/DisplayNFTMediaSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/DisplayNFTMediaSettings/index.test.tsx
  app/components/Views/Settings/DisplayNFTMediaSettings/index.tsx
  app/components/Views/Settings/SecuritySettings/Sections/BlockaidSettings.tsx
  app/components/Views/ShowDisplayMediaNFTSheet/ShowDisplayNFTMediaSheet.test.tsx
  app/components/Views/ShowDisplayMediaNFTSheet/ShowDisplayNFTMediaSheet.tsx
  app/components/Views/ShowDisplayMediaNFTSheet/__snapshots__/ShowDisplayNFTMediaSheet.test.tsx.snap
Labels: area-metrics, team-mobile-platform, Run Smoke E2E

#14485 chore: update solana
  package.json
  yarn.lock
Labels: QA Passed, No E2E Smoke Needed, team-solana

#14481 fix: prevent text overlap in notification opt-in modal
  app/components/Views/Notifications/OptIn/index.tsx
  app/components/Views/Notifications/OptIn/styles.ts
Labels: team-assets, Run Smoke E2E

#14454 test: add back `@testing-library/react-native` concurrentRoot in tests.
  app/components/Snaps/SnapUITooltip/SnapUITooltip.test.tsx
  app/components/UI/PaymentRequest/index.test.tsx
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.tsx
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/ImportNewSecretRecoveryPhrase/index.test.tsx
  app/components/Views/MultichainTransactionsView/MultichainTransactionsView.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.test.tsx
  app/components/Views/confirmations/context/QRHardwareContext/QRHardwareContext.test.tsx
  app/util/test/testSetup.js
Labels: team-assets, Run Smoke E2E

#14453 chore: Add asset multichain network logo
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/Tokens/TokenList/index.tsx
  app/components/UI/Tokens/index.tsx
Labels: team-assets, Run Smoke E2E

#14510 refactor: fix type strictness and improve tests on notifications
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.test.tsx
  app/components/UI/Notification/NotificationMenuItem/Root.tsx
  app/components/UI/Notification/NotificationMenuItem/__snapshots__/Root.test.tsx.snap
Labels: team-assets, Run Smoke E2E

#14465 fix: activity reloads every minute
  app/components/Views/MultichainTransactionsView/MultichainTransactionsView.test.tsx
  app/components/Views/MultichainTransactionsView/MultichainTransactionsView.tsx
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichain/multichain.ts
Labels: QA Passed, No E2E Smoke Needed, team-solana

#14517 chore: revert update solana
  package.json
  yarn.lock
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-solana

#14258 feat: bridge top tokens
  app/components/UI/Bridge/_mocks_/bridgeReducerState.ts
  app/components/UI/Bridge/_mocks_/initialState.ts
  app/components/UI/Bridge/components/BridgeDestTokenSelector/BridgeDestTokenSelector.test.tsx
  app/components/UI/Bridge/components/BridgeDestTokenSelector/__snapshots__/BridgeDestTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeDestTokenSelector/index.tsx
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/BridgeSourceNetworkSelector.test.tsx
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/__snapshots__/BridgeSourceNetworkSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/index.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/BridgeSourceTokenSelector.test.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/__snapshots__/BridgeSourceTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/index.tsx
  app/components/UI/Bridge/components/BridgeTokenSelectorBase.tsx
  app/components/UI/Bridge/components/TokenButton.tsx
  app/components/UI/Bridge/components/TokenInputArea/TokenInputArea.test.tsx
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
  app/components/UI/Bridge/components/TokenSelectorItem.tsx
  app/components/UI/Bridge/hooks/useDestinationTokens.tsx
  app/components/UI/Bridge/hooks/useSourceTokens.ts
  app/components/UI/Bridge/hooks/useTokenSearch/index.ts
  app/components/UI/Bridge/hooks/useTokenSearch/useTokenSearch.test.ts
  app/components/UI/Bridge/hooks/useTokens.ts
  app/components/UI/Bridge/hooks/useTokensWithBalance/index.ts
  app/components/UI/Bridge/hooks/useTokensWithBalance/useTokensWithBalance.test.ts
  app/components/UI/Bridge/hooks/useTopTokens/index.ts
  app/components/UI/Bridge/hooks/useTopTokens/useTopTokens.test.ts
  app/components/UI/Bridge/index.test.tsx
  app/components/UI/Bridge/types.ts
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/useSwitchNetworks.ts
  app/core/redux/slices/bridge/index.test.ts
  app/core/redux/slices/bridge/index.ts
  app/reducers/swaps/index.js
  app/store/persistConfig.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-swaps-and-bridge

#12526 feat(ramp): erc20 gas and balance checks for off-ramp
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  locales/languages/en.json
Labels: team-ramp, Run Smoke E2E

#14083 feat: api request logging
  .gitignore
  README.md
  app/util/test/utils.js
  docs/readme/api-logging.md
  e2e/api-mocking/api-monitor.js
  package.json
  scripts/start-api-logging-server.js
  shim.js
Labels: area-metrics, Run Smoke E2E, team-qa

#14494 fix: SDK Connection when multichain account is selected
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/selectors/accountsController.test.ts
  app/selectors/accountsController.ts
Labels: team-accounts, Run Smoke E2E

#14491 feat: Add support for native asset token images on custom networks
  app/components/UI/Tokens/TokenList/TokenListItem/CustomNetworkNativeImgMapping.ts
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
Labels: team-assets, Run Smoke E2E, skip-sonar-cloud

#14520 fix: cp-7.44.0 STAKE-1005 refresh staking data when staking txs are confirmed
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/components/StakingConfirmation/ConfirmationFooter/FooterButtonGroup/FooterButtonGroup.tsx
  app/core/Engine/Engine.ts
  app/core/Engine/messengers/earn-controller-messenger/index.ts
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-earn

#14522 fix: SDK Connection when multichain account is selected (cherry pick from #14494)
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/selectors/accountsController.test.ts
  app/selectors/accountsController.ts
Labels: team-accounts, INVALID-PR-TEMPLATE, Run Smoke E2E

#14537 chore: Update code ownesrhip of deep link manager
  .github/CODEOWNERS
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#14547 cherry-pick 70ddf46 (#14383)
  e2e/specs/ramps/onramp.spec.js
Labels: team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#14291 feat: add account syncing
  app/actions/identity/index.test.ts
  app/actions/identity/index.ts
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/OnboardingSuccess/index.test.js
  app/components/Views/OnboardingSuccess/index.tsx
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Engine/Engine.ts
  app/selectors/identity/index.test.ts
  app/selectors/identity/index.tsx
  app/util/identity/hooks/useAccountSyncing/index.ts
  app/util/identity/hooks/useAccountSyncing/useAccountSyncing.test.tsx
  app/util/identity/hooks/useAccountSyncing/useAccountSyncing.ts
  app/util/identity/hooks/useIdentityEffects/useIdentityEffects.test.ts
  app/util/identity/hooks/useIdentityEffects/useIdentityEffects.ts
  app/util/importAdditionalAccounts.ts
  bitrise.yml
  e2e/specs/identity/account-syncing/mock-data.js
  e2e/specs/identity/account-syncing/mockData.js
  e2e/specs/identity/account-syncing/sync-after-adding-custom-name-account.spec.js
  e2e/specs/identity/account-syncing/sync-after-onboarding.spec.js
  e2e/specs/identity/account-syncing/sync-with-account-balances.spec.js
  e2e/specs/identity/utils/constants.js
  e2e/specs/identity/utils/mocks.js
  e2e/specs/identity/utils/user-storage/generateEncryptedData.js
  e2e/specs/identity/utils/user-storage/userStorageMockttpController.js
  e2e/tags.js
Labels: Run Smoke E2E, team-identity

#13825 feat: multi srp reveal seed
  app/components/Nav/App/App.tsx
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.test.tsx
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/SelectSRP/SelectSRP.tsx
  app/components/Views/SelectSRP/SelectSRPBottomSheet.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.test.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.tsx
  app/constants/navigation/Routes.ts
  app/util/address/index.test.ts
  app/util/address/index.ts
  app/util/test/accountsControllerTestUtils.ts
  app/util/test/keyringControllerTestUtils.ts
  e2e/fixtures/fixture-builder.js
  e2e/pages/wallet/AccountActionsBottomSheet.js
  e2e/selectors/wallet/AccountActionsBottomSheet.selectors.js
  locales/languages/en.json
Labels: team-accounts, Run Smoke E2E

#14326 chore: bump transaction-controller to 52.3.0
  app/components/Nav/Main/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/Asset/index.js
  app/components/Views/NetworkSelector/useSwitchNetworks.ts
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/index.js
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
  app/core/Engine/messengers/transaction-controller-messenger/transaction-controller-messenger.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/utils.ts
  app/util/transaction-controller/index.test.ts
  app/util/transaction-controller/index.ts
  e2e/specs/confirmations/approve-custom-erc20.spec.js
  e2e/specs/confirmations/approve-default-erc20.spec.js
  e2e/specs/confirmations/approve-erc721.spec.js
  e2e/specs/confirmations/batch-transfer-erc1155.spec.js
  e2e/specs/confirmations/increase-allowance-erc20.spec.js
  e2e/specs/confirmations/send-erc20-with-dapp.spec.js
  e2e/specs/confirmations/send-erc721.spec.js
  e2e/specs/confirmations/send-failing-contract.spec.js
  e2e/specs/confirmations/set-approval-for-all-erc1155.spec.js
  e2e/specs/confirmations/set-approve-for-all-erc721.spec.js
  e2e/specs/wallet/incoming-transactions.spec.js
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-confirmations, team-identity, skip-sonar-cloud

#14364 feat: bridge solana bridge button
  app/components/UI/Bridge/utils/index.ts
  app/components/UI/Bridge/utils/isBridgeAllowed.test.ts
  app/components/UI/Bridge/utils/isBridgeAllowed.ts
  app/components/UI/Swaps/utils/index.js
  app/components/UI/Swaps/utils/index.test.js
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
Labels: Run Smoke E2E, team-swaps-and-bridge

#14544 chore: fix merge queue failures
  .github/scripts/bitrise/bitrise-results-check.ts
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops

#14139 feat: Auto-failover to Quicknode when Infura is down
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.tsx
  app/component-library/components-temp/CellSelectWithMenu/__snapshots__/CellSelectWithMenu.test.tsx.snap
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.types.ts
  app/components/Nav/App/App.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Ramp/hooks/useRampNetworksDetail.ts
  app/components/UI/Tokens/TokensBottomSheet/TokenFilterBottomSheet.test.tsx
  app/components/UI/Tokens/util/enableAllNetworksFilter.test.ts
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.test.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/constants/network.js
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/network-controller/messenger-action-handlers.test.ts
  app/core/Engine/controllers/network-controller/messenger-action-handlers.ts
  app/core/Engine/controllers/network-controller/utils.ts
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  app/selectors/accountTrackerControllerReRenders.test.tsx
  app/store/migrations/055.test.ts
  app/store/migrations/073.test.ts
  app/store/migrations/073.ts
  app/store/migrations/index.ts
  app/util/address/index.test.ts
  app/util/bridge/hooks/useAddToken.ts
  app/util/networks/customNetworks.tsx
  app/util/onlyKeepHost.test.ts
  app/util/onlyKeepHost.ts
  app/util/stripKeyFromInfuraUrl.test.ts
  app/util/stripKeyFromInfuraUrl.ts
  app/util/stripProtocol.test.ts
  app/util/stripProtocol.ts
  app/util/test/network.ts
  babel.config.tests.js
  bitrise.yml
  jest.config.js
  locales/languages/en.json
Labels: team-wallet-framework, Run Smoke E2E

#14536 chore: Add XRPEVM logo
  app/components/UI/Tokens/TokenList/TokenListItem/CustomNetworkNativeImgMapping.ts
  app/images/image-icons.js
  app/images/xrp-logo.png
  app/images/xrplevm.png
  app/util/networks/customNetworks.tsx
Labels: team-assets, Run Smoke E2E, skip-sonar-cloud

#14525 Fix/swaps usdc usdt slippage
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/useStablecoinsDefaultSlippage.test.tsx
  app/components/UI/Swaps/useStablecoinsDefaultSlippage.ts
  app/core/AppConstants.ts
Labels: Run Smoke E2E, team-swaps-and-bridge

#14212 chore: apply all teams to remaining files in CODEOWNERs
  .github/CODEOWNERS
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#14570 fix: temporarily disable identity E2E
  bitrise.yml
Labels: No QA Needed, No E2E Smoke Needed, team-identity

#14396 fix: 10371 hide biometrics button on manual lock
  app/components/Nav/App/App.tsx
  app/components/UI/BiometryButton/BiometryButton.tsx
  app/components/UI/BiometryButton/__snapshots__/index.test.tsx.snap
  app/components/UI/BiometryButton/index.test.tsx
  app/components/UI/LoginOptionsSwitch/LoginOptionsSwitch.tsx
  app/components/Views/Login/__snapshots__/index.test.tsx.snap
  app/components/Views/Login/constants.ts
  app/components/Views/Login/index.js
  app/components/Views/Login/index.test.tsx
  app/components/Views/Login/index.tsx
  app/components/Views/Login/styles.ts
  e2e/selectors/wallet/LoginView.selectors.js
Labels: No QA Needed, needs-dev-review, team-mobile-platform, skip-sonar-cloud

#14562 fix: Crowdin Action
  crowdin.yml
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#14306 chore: Add small bottom padding to Browser 5-tab max toast
  app/components/Views/Browser/MaxBrowserTabsModal.styles.ts
  app/components/Views/Browser/__snapshots__/MaxBrowserTabsModal.test.tsx.snap
Labels: team-mobile-platform, Run Smoke E2E

#14569 feat: 14467 expo ios simulator
  bitrise.yml
  scripts/setup.mjs
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#14011 feat: new cicd integration changelog-check
  .github/workflows/changelog-check.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops, no-changelog

#14564 fix: show multisrp banner
  app/components/UI/Carousel/__snapshots__/index.test.tsx.snap
  app/components/UI/Carousel/constants.ts
  app/components/UI/Carousel/index.test.tsx
  app/components/UI/Carousel/types.ts
  app/images/banners/banner_image_multisrp.png
  e2e/selectors/wallet/WalletView.selectors.js
  locales/languages/en.json
Labels: team-accounts, Run Smoke E2E

#14557 fix: account syncing flaky E2E tests
  bitrise.yml
  e2e/specs/identity/account-syncing/sync-after-adding-custom-name-account.spec.js
  e2e/specs/identity/account-syncing/sync-after-onboarding.spec.js
  e2e/specs/identity/account-syncing/sync-with-account-balances.spec.js
  e2e/specs/identity/utils/mocks.js
Labels: Run Smoke E2E, team-identity, no-changelog

#14507 build: enable notifications
  bitrise.yml
Labels: team-assets, Run Smoke E2E

#14580 test: reduce flakiness with notification e2e mocks
  e2e/specs/notifications/enable-notifications-after-onboarding.spec.js
  e2e/specs/notifications/notification-settings-flow.spec.js
Labels: team-assets, Run Smoke E2E, no-changelog

#14589 chore(cleanup): Remove crowdin actions for workflow that was never put into place
  .github/workflows/crowdin-branch-cleanup.yml
  .github/workflows/crowdin-branch-pr-ready-for-translation.yml
  .github/workflows/crowdin-pull-branch-pr-completed-translations.yml
  .github/workflows/crowdin-reusable-translation-download.yml
  .github/workflows/crowdin-upload-both-sources-translations.yml
Labels: No QA Needed, team-extension-platform, No E2E Smoke Needed, no-changelog

#14365 feat: bridge solana assets
  CHANGELOG.md
  app/components/UI/Bridge/_mocks_/initialState.ts
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/BridgeDestNetworkSelector.test.tsx
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/__snapshots__/BridgeDestNetworkSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/index.tsx
  app/components/UI/Bridge/components/BridgeDestNetworksBar.tsx
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/index.tsx
  app/components/UI/Bridge/components/BridgeSourceNetworksBar.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/index.tsx
  app/components/UI/Bridge/components/NetworkRow.tsx
  app/components/UI/Bridge/hooks/useLatestBalance/index.ts
  app/components/UI/Bridge/hooks/useLatestBalance/useLatestBalance.test.tsx
  app/components/UI/Bridge/hooks/useSortedSourceNetworks.ts
  app/components/UI/Bridge/hooks/useTokens.ts
  app/components/UI/Bridge/hooks/useTokensWithBalance/index.ts
  app/components/UI/Bridge/hooks/useTokensWithBalance/useTokensWithBalance.test.ts
  app/components/UI/Bridge/hooks/useTopTokens/index.ts
  app/components/UI/Bridge/types.ts
  app/components/UI/Earn/hooks/useInput.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/useSwitchNetworks.ts
  app/core/redux/slices/bridge/index.ts
  app/selectors/accountsController.ts
  app/selectors/multichain/evm.ts
  app/selectors/multichain/multichain.ts
  app/util/networks/index.js
Labels: Run Smoke E2E, team-swaps-and-bridge

#14600 ci: address lockfile issue with detox
  bitrise.yml
Labels: Run Smoke E2E, team-qa, no-changelog

#14582 fix: styles for `AccountAction` and `AddAccountActions`
  app/components/Views/AccountAction/AccountAction.styles.ts
  app/components/Views/AddAccountActions/AddAccountActions.styles.ts
  app/components/Views/AddAccountActions/__snapshots__/AddAccountActions.test.tsx.snap
Labels: team-accounts, No E2E Smoke Needed

#14602 fix: Add delay in checkPermissions for iOS to prevent UI crash
  app/core/SDKConnect/handlers/checkPermissions.test.ts
  app/core/SDKConnect/handlers/checkPermissions.ts
Labels: team-sdk, No QA Needed, No E2E Smoke Needed

#14574 fix: Update `TransactionController` to latest
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-confirmations, no-changelog

#14608 chore: updates the auto-detected NFT check
  e2e/specs/assets/nft-detection-modal.spec.js
Labels: Run Smoke E2E, team-qa

#14352 fix: use last selected account's srp index
  app/components/Views/AddNewHdAccount/AddNewHdAccount.test.tsx
  app/components/Views/AddNewHdAccount/AddNewHdAccount.tsx
  app/selectors/keyringController/index.ts
  app/selectors/multisrp/index.test.ts
  app/selectors/multisrp/index.ts
Labels: team-accounts, Run Smoke E2E

#14578 fix: cp-7.44.0 Correct `SnapUIImage` border radius and sizing logic
  app/components/Snaps/SnapUICard/SnapUICard.tsx
  app/components/Snaps/SnapUIImage/SnapUIImage.tsx
  app/components/Snaps/SnapUIRenderer/SnapUIRenderer.test.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/components/field.ts
  app/components/Snaps/SnapUIRenderer/components/image.test.ts
  app/components/Snaps/SnapUIRenderer/components/image.ts
Labels: INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform

#14612 chore: update changelog-check workflow
  .github/workflows/changelog-check.yml
Labels: No QA Needed, team-wallet-framework, No E2E Smoke Needed, no-changelog

#14278 feat: Multichain account list balance
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.test.tsx
  app/components/UI/Carousel/index.test.tsx
  app/components/UI/Carousel/index.tsx
  app/components/UI/DrawerView/index.js
  app/components/UI/DrawerView/index.test.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.test.tsx
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/UI/SwitchCustomNetwork/index.test.tsx
  app/components/UI/Tabs/index.test.tsx
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.test.tsx
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.tsx
  app/components/UI/Tokens/index.test.tsx
  app/components/Views/AssetOptions/AssetOptions.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfo.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/StakingClaim.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV1/TypedSignV1.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.test.tsx
  app/components/Views/confirmations/hooks/useAccountInfo.test.ts
  app/components/Views/confirmations/hooks/useAccountInfo.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/hooks/useAccounts/useAccounts.test.ts
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useAccounts/utils.ts
  app/components/hooks/useGetFormattedTokensPerChain.tsx
  app/components/hooks/useGetTotalFiatBalanceCrossChains.tsx
  app/components/hooks/useMultichainBalances/useMultichainBalances.test.ts
  app/components/hooks/useMultichainBalances/useMultichainBalances.ts
  app/components/hooks/useMultichainBalances/useMultichainBalances.types.ts
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/selectors/currencyRateController.ts
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichain/multichain.ts
  app/selectors/multichainNetworkController/index.ts
  app/selectors/networkController.ts
Labels: team-accounts, Run Smoke E2E

#14615 feat: Multichain account list balance (cherry pick from #14278)
  app/components/UI/AccountSelectorList/AccountSelector.test.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.test.tsx
  app/components/UI/Carousel/index.test.tsx
  app/components/UI/Carousel/index.tsx
  app/components/UI/DrawerView/index.js
  app/components/UI/DrawerView/index.test.tsx
  app/components/UI/PermissionsSummary/PermissionsSummary.test.tsx
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  app/components/UI/SwitchCustomNetwork/index.test.tsx
  app/components/UI/Tabs/index.test.tsx
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.test.tsx
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.tsx
  app/components/UI/Tokens/index.test.tsx
  app/components/Views/AssetOptions/AssetOptions.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfo.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingClaim/StakingClaim.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingWithdrawal/StakingWithdrawal.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV1/TypedSignV1.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.test.tsx
  app/components/Views/confirmations/hooks/useAccountInfo.test.ts
  app/components/Views/confirmations/hooks/useAccountInfo.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/hooks/useAccounts/useAccounts.test.ts
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useAccounts/utils.ts
  app/components/hooks/useGetFormattedTokensPerChain.tsx
  app/components/hooks/useGetTotalFiatBalanceCrossChains.tsx
  app/components/hooks/useMultichainBalances/useMultichainBalances.test.ts
  app/components/hooks/useMultichainBalances/useMultichainBalances.ts
  app/components/hooks/useMultichainBalances/useMultichainBalances.types.ts
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/selectors/currencyRateController.ts
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichain/multichain.ts
  app/selectors/multichainNetworkController/index.ts
  app/selectors/networkController.ts
Labels: team-accounts, INVALID-PR-TEMPLATE

#14457 fix: bridge hide staked assets from token lists
  CHANGELOG.md
  app/components/UI/Bridge/hooks/useTokensWithBalance/index.ts
Labels: Run Smoke E2E, team-swaps-and-bridge

#14620 chore: stable sync 7.44.0 to main
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, no-changelog

#14624 fix(ramp,test): switch network assertion
  e2e/specs/ramps/deeplink-to-sell-flow.spec.js
Labels: team-ramp, Run Smoke E2E, no-changelog

#14513 Integrate App Metadata Controller
  CHANGELOG.md
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/app-metadata-controller/constants.ts
  app/core/Engine/controllers/app-metadata-controller/index.test.ts
  app/core/Engine/controllers/app-metadata-controller/index.ts
  app/core/Engine/controllers/app-metadata-controller/utils.test.ts
  app/core/Engine/controllers/app-metadata-controller/utils.ts
  app/core/Engine/messengers/app-metadata-controller-messenger/index.ts
  app/core/Engine/messengers/app-metadata-controller-messenger/types.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/utils.test.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  bitrise.yml
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#14639 fix: Fix/deploy bitrise ipa path
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, no-changelog

#14642 fix: pass correct disabled prop in `SnapUInput`
  app/components/Snaps/SnapUIInput/SnapUIInput.test.tsx
  app/components/Snaps/SnapUIInput/SnapUIInput.tsx
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform, no-changelog

#14413 feat(bridge): implement bridge quote fetching
  CHANGELOG.md
  app/components/UI/Bridge/_mocks_/bridgeControllerState.ts
  app/components/UI/Bridge/_mocks_/bridgeReducerState.ts
  app/components/UI/Bridge/_mocks_/initialState.ts
  app/components/UI/Bridge/_mocks_/mock-quotes-native-erc20.json
  app/components/UI/Bridge/_mocks_/mock-quotes-sol-sol.json
  app/components/UI/Bridge/components/BridgeDestTokenSelector/BridgeDestTokenSelector.test.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.test.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/__snapshots__/QuoteDetailsCard.test.tsx.snap
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
  app/components/UI/Bridge/hooks/useBridgeQuoteData/useBridgeQuoteData.test.ts
  app/components/UI/Bridge/hooks/useBridgeQuoteRequest/index.ts
  app/components/UI/Bridge/hooks/useBridgeQuoteRequest/useBridgeQuoteRequest.test.ts
  app/components/UI/Bridge/hooks/useTopTokens/useTopTokens.test.ts
  app/components/UI/Bridge/index.test.tsx
  app/components/UI/Bridge/index.tsx
  app/components/UI/Bridge/testUtils/index.ts
  app/components/UI/Bridge/testUtils/testUtils.test.ts
  app/components/UI/Bridge/utils/quoteUtils.ts
  app/core/Engine/Engine.ts
Labels: Run Smoke E2E, team-swaps-and-bridge

#14656 feat: bridge destination address picker
  CHANGELOG.md
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.types.ts
  app/components/UI/Bridge/_mocks_/bridgeReducerState.ts
  app/components/UI/Bridge/components/DestinationAccountSelector.tsx/DestinationAccountSelector.test.tsx
  app/components/UI/Bridge/components/DestinationAccountSelector.tsx/index.tsx
  app/components/UI/Bridge/index.test.tsx
  app/components/UI/Bridge/index.tsx
  app/core/redux/slices/bridge/index.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-swaps-and-bridge

#14664 fix: adds the color property
  app/components/Approvals/SnapAccountCustomNameApproval/SnapAccountCustomNameApproval.styles.ts
Labels: No QA Needed, No E2E Smoke Needed, team-solana

#14558 feat(multi-srp): enable multi-srp in main and beta
  CHANGELOG.md
  app/util/address/index.ts
  metro.transform.js
Labels: Run Smoke E2E, team-identity

#14652 feat: Implement insufficient balance alert into redesigned confirmations
  app/components/Views/confirmations/AlertSystem/context/Alerts.context.test.tsx
  app/components/Views/confirmations/AlertSystem/context/Alerts.context.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.styles.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Info/GasFeesDetails/GasFeesDetails.tsx
  app/components/Views/confirmations/components/UI/InfoRow/AlertRow/constants.ts
  app/components/Views/confirmations/constants/alerts.ts
  app/components/Views/confirmations/hooks/useAccountNativeBalance.test.ts
  app/components/Views/confirmations/hooks/useAccountNativeBalance.ts
  app/components/Views/confirmations/hooks/useConfirmationAlertMetrics.ts
  app/components/Views/confirmations/hooks/useConfirmationAlerts.test.ts
  app/components/Views/confirmations/hooks/useConfirmationAlerts.ts
  app/components/Views/confirmations/hooks/useInsufficientBalanceAlert.test.ts
  app/components/Views/confirmations/hooks/useInsufficientBalanceAlert.ts
  app/components/Views/confirmations/types/alerts.ts
  app/components/hooks/useAlertsConfirmed.test.ts
  app/components/hooks/useAlertsConfirmed.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations, no-changelog, release-7.46.0

#14668 fix: cherry pick solana color property fix
  app/components/Approvals/SnapAccountCustomNameApproval/SnapAccountCustomNameApproval.styles.ts
Labels: Run Smoke E2E, team-solana, no-changelog

#14675 chore: bump profile-sync-controller to `^12.0.0` and notification-services-controller to `^6.0.0`
  app/actions/identity/index.test.ts
  app/actions/identity/index.ts
  app/core/Engine/Engine.ts
  app/util/identity/hooks/useAuthentication/useSignIn.test.ts
  app/util/identity/hooks/useProfileSyncing/useProfileSyncing.test.ts
  app/util/identity/hooks/useProfileSyncing/useProfileSyncing.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/sentry/utils.js
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-identity, no-changelog

#14350 feat: Create contract interaction entry point component
  .github/CODEOWNERS
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.test.tsx
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.test.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.tsx
  app/components/UI/Stake/components/GasImpactModal/GasImpactModal.test.tsx
  app/components/UI/Stake/components/GasImpactModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/components/Confirm/Info/Shared/InfoRowOrigin/InfoRowOrigin.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/Shared/InfoRowOrigin/InfoRowOrigin.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV1/TypedSignV1.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.test.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.tsx
  app/components/Views/confirmations/components/Info/ContractInteraction/ContractInteraction.styles.ts
  app/components/Views/confirmations/components/Info/ContractInteraction/ContractInteraction.test.tsx
  app/components/Views/confirmations/components/Info/ContractInteraction/ContractInteraction.tsx
  app/components/Views/confirmations/components/Info/ContractInteraction/index.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/selectors/confirmTransaction.ts
  app/selectors/featureFlagController/confirmations/index.test.ts
  app/selectors/featureFlagController/confirmations/index.ts
  app/selectors/featureFlagController/index.ts
  app/util/test/confirm-data-helpers.ts
  e2e/api-mocking/mock-config/mock-events.js
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations, no-changelog

#14676 cherry-pick(7.45): enable multi-SRP
  app/util/address/index.ts
  metro.transform.js
Labels: No QA Needed, team-mobile-platform, no-changelog

#14650 fix: check for empty rpc urls
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
Labels: team-assets, Run Smoke E2E, no-changelog

#14275 fix: disable run_ios_app_launch_times_appium_test workflow
  bitrise.yml
Labels: No QA Needed, No E2E Smoke Needed, team-qa, no-changelog

#14684 chore: allow fixtures to be used with appium and BrowserStack
  app/util/test/network-store.js
Labels: Run Smoke E2E, team-qa

#14571 feat: Add `AddressInput` component
  app/components/Snaps/SnapUIAddressInput/SnapUIAddressInput.test.tsx
  app/components/Snaps/SnapUIAddressInput/SnapUIAddressInput.tsx
  app/components/Snaps/SnapUIAddressInput/__snapshots__/SnapUIAddressInput.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/components/address-input.ts
  app/components/Snaps/SnapUIRenderer/components/field.ts
  app/components/Snaps/SnapUIRenderer/components/index.ts
  app/components/Snaps/SnapUIRenderer/utils.ts
  app/components/UI/TemplateRenderer/SafeComponentList.ts
Labels: No QA Needed, mobile-snaps, No E2E Smoke Needed, team-snaps-platform, no-changelog

#14686 feat: track snap account metrics
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Analytics/helpers/SnapKeyring/trackSnapAccountEvent.test.ts
  app/core/Analytics/helpers/SnapKeyring/trackSnapAccountEvent.ts
  app/core/SnapKeyring/SnapKeyring.test.ts
  app/core/SnapKeyring/SnapKeyring.ts
  app/core/SnapKeyring/utils/snaps.test.ts
  app/core/SnapKeyring/utils/snaps.ts
Labels: team-accounts, Run Smoke E2E

#14437 feat: update ramp data flow to fetch cryptos before payment methods
  CHANGELOG.md
  app/components/UI/Ramp/Views/PaymentMethods/PaymentMethods.constants.ts
  app/components/UI/Ramp/Views/PaymentMethods/PaymentMethods.test.tsx
  app/components/UI/Ramp/Views/PaymentMethods/PaymentMethods.tsx
  app/components/UI/Ramp/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/Ramp/Views/PaymentMethods/index.ts
  app/components/UI/Ramp/Views/Regions/Regions.test.tsx
  app/components/UI/Ramp/Views/Regions/Regions.tsx
  app/components/UI/Ramp/hooks/useCryptoCurrencies.test.ts
  app/components/UI/Ramp/hooks/useCryptoCurrencies.ts
  app/components/UI/Ramp/hooks/useFiatCurrencies.test.ts
  app/components/UI/Ramp/hooks/useFiatCurrencies.ts
  app/components/UI/Ramp/hooks/usePaymentMethods.test.ts
  app/components/UI/Ramp/hooks/usePaymentMethods.ts
  app/components/UI/Ramp/routes/index.tsx
  app/constants/navigation/Routes.ts
  e2e/specs/ramps/offramp.spec.js
  e2e/specs/ramps/onramp.spec.js
Labels: team-ramp, needs-ramp-qa, Run Smoke E2E

#14670 refactor: Apply modular init approach to `SignatureController`
  .github/CODEOWNERS
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/signature-controller/index.ts
  app/core/Engine/controllers/signature-controller/signature-controller-init.test.ts
  app/core/Engine/controllers/signature-controller/signature-controller-init.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/messengers/signature-controller-messenger/index.ts
  app/core/Engine/messengers/signature-controller-messenger/signature-controller-messenger.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/utils.test.ts
Labels: Run Smoke E2E, team-confirmations, no-changelog

#14688 chore: Revert "feat: Auto-failover to Quicknode when Infura is down (#14139)"
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.tsx
  app/component-library/components-temp/CellSelectWithMenu/__snapshots__/CellSelectWithMenu.test.tsx.snap
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.types.ts
  app/components/Nav/App/App.tsx
  app/components/UI/AccountSelectorList/__snapshots__/AccountSelector.test.tsx.snap
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Ramp/hooks/useRampNetworksDetail.ts
  app/components/UI/Tokens/TokensBottomSheet/TokenFilterBottomSheet.test.tsx
  app/components/UI/Tokens/util/enableAllNetworksFilter.test.ts
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.test.tsx
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/constants/network.js
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/network-controller/messenger-action-handlers.test.ts
  app/core/Engine/controllers/network-controller/messenger-action-handlers.ts
  app/core/Engine/controllers/network-controller/utils.ts
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  app/selectors/accountTrackerControllerReRenders.test.tsx
  app/store/migrations/055.test.ts
  app/store/migrations/073.test.ts
  app/store/migrations/073.ts
  app/store/migrations/index.ts
  app/util/address/index.test.ts
  app/util/bridge/hooks/useAddToken.ts
  app/util/networks/customNetworks.tsx
  app/util/onlyKeepHost.test.ts
  app/util/onlyKeepHost.ts
  app/util/stripKeyFromInfuraUrl.test.ts
  app/util/stripKeyFromInfuraUrl.ts
  app/util/stripProtocol.test.ts
  app/util/stripProtocol.ts
  app/util/test/network.ts
  babel.config.tests.js
  bitrise.yml
  jest.config.js
  locales/languages/en.json
Labels: team-wallet-framework

#14478 fix: SnapUILink alignment and colour inheritance issue
  app/components/Snaps/SnapUILink/SnapUILink.test.tsx
  app/components/Snaps/SnapUILink/SnapUILink.tsx
  app/components/Snaps/SnapUIRenderer/components/link.test.ts
  app/components/Snaps/SnapUIRenderer/components/link.ts
  locales/languages/en.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-snaps-platform, no-changelog

#13613 ci: download release apk for e2e app upgrade
  bitrise.yml
  scripts/download-android-qa-app.sh
  scripts/download-ios-qa-app.sh
  wdio/config/android.config.browserstack.js
  wdio/features/Upgrading/ConnectedTestNetwork.feature
  wdio/features/Upgrading/MultipleAccounts.feature
Labels: Run Smoke E2E, team-qa, no-changelog

#14614 chore: handle bridge routing for Swaps/Bridge and Solana
  CHANGELOG.md
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/Bridge/_mocks_/initialState.ts
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/BridgeDestNetworkSelector.test.tsx
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/__snapshots__/BridgeDestNetworkSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/index.tsx
  app/components/UI/Bridge/components/BridgeDestNetworksBar.tsx
  app/components/UI/Bridge/components/BridgeDestTokenSelector/BridgeDestTokenSelector.test.tsx
  app/components/UI/Bridge/components/BridgeDestTokenSelector/__snapshots__/BridgeDestTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeDestTokenSelector/index.tsx
  app/components/UI/Bridge/components/BridgeSourceNetworkSelector/index.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/BridgeSourceTokenSelector.test.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/__snapshots__/BridgeSourceTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/index.tsx
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
  app/components/UI/Bridge/constants/default-swap-dest-tokens.ts
  app/components/UI/Bridge/hooks/useGoToPortfolioBridge.ts
  app/components/UI/Bridge/hooks/useInitialDestToken/index.ts
  app/components/UI/Bridge/hooks/useInitialDestToken/useInitialDestToken.test.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/index.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/useInitialSourceToken.test.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/index.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/useSwapBridgeNavigation.test.ts
  app/components/UI/Bridge/index.test.tsx
  app/components/UI/Bridge/index.tsx
  app/components/UI/Bridge/types.ts
  app/components/UI/Bridge/utils/index.ts
  app/components/UI/Navbar/index.js
  app/components/Views/Asset/index.js
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.stories.tsx
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.test.tsx
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.tsx
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/core/redux/slices/bridge/index.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-swaps-and-bridge

#14592 INFRA-2406:Created issue automated RCA gh action workflow
  .github/workflows/automated-rca.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops, no-changelog

#14698 chore: bump `@metamask/signature-controller` to `^27.1.0`
  app/core/Engine/messengers/signature-controller-messenger/signature-controller-messenger.ts
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E, no-changelog

#14334 feat: bridge tx history
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Box/Box.tsx
  app/components/UI/Bridge/components/TransactionDetails/BlockExplorersModal.test.tsx
  app/components/UI/Bridge/components/TransactionDetails/BlockExplorersModal.tsx
  app/components/UI/Bridge/components/TransactionDetails/BridgeActivityItemTxSegments.test.tsx
  app/components/UI/Bridge/components/TransactionDetails/BridgeActivityItemTxSegments.tsx
  app/components/UI/Bridge/components/TransactionDetails/BridgeStepDescription.test.tsx
  app/components/UI/Bridge/components/TransactionDetails/BridgeStepDescription.tsx
  app/components/UI/Bridge/components/TransactionDetails/BridgeStepList.test.tsx
  app/components/UI/Bridge/components/TransactionDetails/BridgeStepList.tsx
  app/components/UI/Bridge/components/TransactionDetails/PulsingCircle.tsx
  app/components/UI/Bridge/components/TransactionDetails/Segment.tsx
  app/components/UI/Bridge/components/TransactionDetails/StepProgressBarItem.test.tsx
  app/components/UI/Bridge/components/TransactionDetails/StepProgressBarItem.tsx
  app/components/UI/Bridge/components/TransactionDetails/TransactionAsset.tsx
  app/components/UI/Bridge/components/TransactionDetails/TransactionDetails.test.tsx
  app/components/UI/Bridge/components/TransactionDetails/TransactionDetails.tsx
  app/components/UI/Bridge/index.test.tsx
  app/components/UI/Bridge/index.tsx
  app/components/UI/Bridge/routes.tsx
  app/components/UI/Bridge/utils/transactionGas.ts
  app/components/UI/Navbar/index.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionElement/index.test.tsx
  app/components/UI/TransactionElement/utils.js
  app/components/Views/WalletActions/WalletActions.tsx
  app/constants/bridge.ts
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Engine/Engine.ts
  app/selectors/bridgeController/index.ts
  app/selectors/bridgeStatusController/index.ts
  app/util/bridge/hooks/useAddToken.ts
  app/util/bridge/hooks/useBridgeTxHistoryData.ts
  app/util/bridge/hooks/useHandleApprovalTx.test.ts
  app/util/bridge/hooks/useHandleApprovalTx.ts
  app/util/bridge/hooks/useHandleBridgeTx.ts
  app/util/bridge/hooks/useHandleTx.test.tsx
  app/util/bridge/hooks/useHandleTx.ts
  app/util/bridge/hooks/useSubmitBridgeTx.test.tsx
  app/util/bridge/hooks/useSubmitBridgeTx.ts
  app/util/bridge/index.ts
  app/util/conversions.js
  app/util/transactions/index.js
  e2e/api-mocking/mock-responses/bridge-api-quotes.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-swaps-and-bridge, no-changelog

#14706 fix: update error logic for address input
  app/components/Snaps/SnapUIAddressInput/SnapUIAddressInput.test.tsx
  app/components/Snaps/SnapUIAddressInput/SnapUIAddressInput.tsx
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform, no-changelog

#14693 feat(bridge): add error handling and input management for bridge quotes
  CHANGELOG.md
  app/components/UI/Bridge/Views/BridgeView/BridgeView.styles.ts
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/_mocks_/initialState.ts
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
  app/components/UI/Bridge/hooks/useBridgeQuoteData/useBridgeQuoteData.test.ts
  app/components/UI/Bridge/index.tsx
  app/components/UI/Bridge/routes.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-swaps-and-bridge

#14607 fix: display errors only after all the words are displayed
  CHANGELOG.md
  app/components/Views/ImportNewSecretRecoveryPhrase/index.test.tsx
  app/components/Views/ImportNewSecretRecoveryPhrase/index.tsx
Labels: team-accounts, Run Smoke E2E

#14555 fix: cp-7.45.0 Update @keystonehq packages and Ledger library to solve QR wallet and Ledger Sign transaction issue.
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.test.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.utils.ts
  app/components/Views/confirmations/legacy/Approval/index.js
  app/components/Views/confirmations/legacy/Approve/index.js
  app/components/Views/confirmations/legacy/ApproveView/Approve/index.js
  app/components/Views/confirmations/legacy/SendFlow/Confirm/index.js
  app/components/Views/confirmations/legacy/SendFlow/Confirm/utils.test.ts
  app/components/Views/confirmations/legacy/SendFlow/Confirm/utils.ts
  app/core/Ledger/Ledger.ts
  app/store/migrations/029.ts
  app/store/migrations/031.ts
  app/store/migrations/072.ts
  app/util/address/index.ts
  app/util/transactions/index.test.ts
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, team-hardware-wallets, Run Smoke E2E, skip-sonar-cloud, no-changelog, release-7.45.0

#14712 fix: not switching networks when selecting source token
  CHANGELOG.md
  app/components/UI/Bridge/hooks/useInitialSourceToken/index.ts
Labels: No E2E Smoke Needed, team-swaps-and-bridge
