Repository MetaMask/metamask-mobile, pull requests merged in 2025-05, with the labels that each got.

#14865 chore: Mms 2059 bridge remote feature flags cp-7.46.0
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/_mocks_/bridgeControllerState.ts
  app/components/UI/Bridge/_mocks_/initialState.ts
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/BridgeDestNetworkSelector.test.tsx
  app/components/UI/Bridge/components/TransactionDetails/BlockExplorersModal.test.tsx
  app/components/UI/Bridge/components/TransactionDetails/TransactionDetails.test.tsx
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/index.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/useSwapBridgeNavigation.test.ts
  app/components/UI/Bridge/testUtils/testUtils.test.ts
  app/components/UI/Bridge/utils/index.ts
  app/components/UI/Bridge/utils/isBridgeAllowed.test.ts
  app/components/UI/Bridge/utils/isBridgeAllowed.ts
  app/components/UI/Bridge/utils/quoteUtils.test.ts
  app/components/UI/Bridge/utils/quoteUtils.ts
  app/components/UI/Swaps/utils/index.js
  app/components/UI/Swaps/utils/index.test.js
  app/components/Views/Asset/index.js
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/core/Engine/Engine.ts
  app/core/redux/slices/bridge/index.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  bitrise.yml
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, no-changelog

#15019 feat(bridge): prevent quotes from refreshing once tx has been submitted cp-7.46.0
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/_mocks_/bridgeReducerState.ts
  app/components/UI/Bridge/components/QuoteExpiredModal/QuoteExpiredModal.tsx
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
  app/components/UI/Bridge/utils/quoteUtils.test.ts
  app/components/UI/Bridge/utils/quoteUtils.ts
  app/core/redux/slices/bridge/index.test.ts
  app/core/redux/slices/bridge/index.ts
Labels: QA Passed, No E2E Smoke Needed, team-swaps-and-bridge, no-changelog

#15054 test: change phishing url for e2e
  e2e/resources/externalsites.json
Labels: No QA Needed, Run Smoke E2E, team-qa, no-changelog

#15056 fix: app crashing on main builds when navigating to bridge cp-7.46.0
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
Labels: QA Passed, No E2E Smoke Needed, team-swaps-and-bridge

#14784 fix: Do not initialize RemoteFeatureFlagController with state
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
Labels: team-wallet-framework, Run Smoke E2E, no-changelog

#15052 fix: prevent token details from crashing when decimals are 0
  app/components/UI/AssetOverview/TokenDetails/TokenDetailsList/TokenDetailsList.tsx
Labels: QA Passed, team-assets, Run Smoke E2E

#15062 chore: update cicd release workflow refs
  .github/workflows/create-release-pr-v2.yml
  .github/workflows/create-release-pr.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops, no-changelog

#15065 feat(bridge): cp-7.46.0 implement quote expiration handling in Bridge feature (#14872)
  CHANGELOG.md
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/Views/BridgeView/__snapshots__/BridgeView.test.tsx.snap
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/_mocks_/useBridgeQuoteData.mock.ts
  app/components/UI/Bridge/components/QuoteExpiredModal/QuoteExpiredModal.styles.ts
  app/components/UI/Bridge/components/QuoteExpiredModal/QuoteExpiredModal.test.tsx
  app/components/UI/Bridge/components/QuoteExpiredModal/QuoteExpiredModal.tsx
  app/components/UI/Bridge/components/QuoteExpiredModal/__snapshots__/QuoteExpiredModal.test.tsx.snap
  app/components/UI/Bridge/components/QuoteExpiredModal/index.ts
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
  app/components/UI/Bridge/hooks/useBridgeQuoteData/useBridgeQuoteData.test.ts
  app/components/UI/Bridge/routes.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#15042 chore: rename profile sync hooks and selectors to backup and sync
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/Notification/ResetNotificationsModal/ResetNotificationsModal.test.tsx
  app/components/UI/Notification/ResetNotificationsModal/__snapshots__/ResetNotificationsModal.test.tsx.snap
  app/components/UI/ProfileSyncing/ProfileSyncing.test.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/Views/Notifications/OptIn/OptIn.hooks.test.tsx
  app/components/Views/Notifications/OptIn/OptIn.hooks.tsx
  app/components/Views/OnboardingSuccess/OnboardingGeneralSettings/index.tsx
  app/components/Views/Settings/NotificationsSettings/MainNotificationToggle.hooks.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Wallet/index.tsx
  app/core/Analytics/MetaMetrics.events.ts
  app/selectors/identity/index.test.ts
  app/selectors/identity/index.tsx
  app/util/identity/hooks/useAccountSyncing/useAccountSyncing.ts
  app/util/identity/hooks/useAuthentication/useAutoSignIn.ts
  app/util/identity/hooks/useBackupAndSync/index.ts
  app/util/identity/hooks/useBackupAndSync/useBackupAndSync.test.ts
  app/util/identity/hooks/useBackupAndSync/useBackupAndSync.ts
  app/util/identity/hooks/useProfileSyncing/index.ts
  app/util/identity/hooks/useProfileSyncing/useProfileSyncing.ts
  e2e/specs/identity/utils/constants.js
  e2e/specs/identity/utils/mocks.js
  e2e/specs/notifications/utils/constants.js
Labels: No QA Needed, Run Smoke E2E, team-identity, skip-sonar-cloud

#15039 chore: add backup and sync translations
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-identity

#15051 fix: Auto reject terminated Snap dialogs
  app/core/Engine/Engine.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-snaps-platform, skip-sonar-cloud

#14980 perf: cp-7.46.0 prevent carousel rerenders
  app/components/UI/Bridge/hooks/useBridgeQuoteData/useBridgeQuoteData.test.ts
  app/components/UI/Carousel/index.test.tsx
  app/components/UI/Carousel/index.tsx
  app/components/Views/Wallet/index.tsx
  app/core/Engine/Engine.test.ts
  app/selectors/tokenBalancesController.test.ts
  app/selectors/tokenBalancesController.ts
Labels: No QA Needed, team-assets, Run Smoke E2E

#15075 perf: Fix a couple of selectors used for tokens
  app/components/UI/Earn/hooks/useEarnTokens.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#14952 test: Create Anvil Clients Util
  e2e/seeder/anvil-clients.ts
  e2e/seeder/test-launching-clients.ts
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-qa, no-changelog

#15079 perf: cp-7.46.0 prevent carousel rerenders (#14980)
  app/components/UI/Bridge/hooks/useBridgeQuoteData/useBridgeQuoteData.test.ts
  app/components/UI/Carousel/index.tsx
  app/components/Views/Wallet/index.tsx
  app/core/Engine/Engine.test.ts
  app/selectors/tokenBalancesController.test.ts
  app/selectors/tokenBalancesController.ts
Labels: team-assets, Run Smoke E2E

#15087 fix: base-x audit issue
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#14121 feat: Remove Go To Favorites from browser menus
  app/components/Views/BrowserTab/BrowserTab.tsx
  app/components/Views/BrowserTab/components/Options/__snapshots__/index.test.tsx.snap
  app/components/Views/BrowserTab/components/Options/index.tsx
  app/core/Analytics/MetaMetrics.events.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: QA Passed, team-portfolio, Run Smoke E2E

#15045 fix: Fix iOS build issue on Xcode 16.3
  .depcheckrc.yml
  app/components/Views/confirmations/legacy/components/BlockaidBanner/BlockaidBanner.tsx
  app/declarations/index.d.ts
  app/store/migrations/035.ts
  app/store/migrations/049.ts
  app/store/migrations/050.ts
  app/util/sentry/utils.js
  app/util/trace.test.ts
  app/util/trace.ts
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, skip-sonar-cloud, no-changelog

#15055 fix: cp-7.46.0 De-duplicate key and overlapping item issues in TokenList
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/Tokens/TokenList/index.tsx
  app/components/UI/Tokens/index.tsx
  app/components/Views/Wallet/index.tsx
  app/selectors/multichain/evm.test.tsx
  app/selectors/multichain/evm.ts
Labels: QA Passed, team-assets, Run Smoke E2E, team-earn

#15085 fix: AccountSelectorList test
  app/components/UI/AccountSelectorList/AccountSelectorList.test.tsx
Labels: No QA Needed, team-accounts, No E2E Smoke Needed

#15082 fix: cp-7.46.0 add navigation to activity page before solana tx submission
  app/components/UI/Bridge/Views/BridgeView/index.tsx
Labels: No QA Needed, Run Smoke E2E, team-swaps-and-bridge, no-changelog

#15083 fix: cp-7.46.0 show "auto" when slippage is undefined
  CHANGELOG.md
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
Labels: No QA Needed, No E2E Smoke Needed, team-swaps-and-bridge

#15109 test: add Backup and Sync toggle e2e test
  app/components/UI/Identity/BackupAndSyncToggle/BackupAndSyncToggle.tsx
  e2e/pages/Settings/BackupAndSyncView.js
  e2e/pages/Settings/SettingsView.js
  e2e/selectors/Settings/BackupAndSyncView.selectors.js
  e2e/specs/identity/account-syncing/account-sync-settings-toggle.spec.js
Labels: Run Smoke E2E, team-identity, team-qa

#15005 chore: upgrade solana cp-7.46.0
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-solana

#15088 fix: cp-7.46.0 show bridge button when the mobile feature flag is off and redirect to Portfolio
  app/components/UI/Bridge/utils/index.test.ts
  app/components/UI/Bridge/utils/index.ts
  app/components/Views/Asset/index.js
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#15003 feat: profile sync > backup and sync redesign
  CHANGELOG.md
  app/components/Nav/App/App.tsx
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.tsx
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/__snapshots__/BasicFunctionalityModal.test.js.snap
  app/components/UI/Carousel/__snapshots__/index.test.tsx.snap
  app/components/UI/Carousel/constants.ts
  app/components/UI/Carousel/index.test.tsx
  app/components/UI/Carousel/types.ts
  app/components/UI/Identity/BackupAndSyncToggle/BackupAndSyncToggle.tsx
  app/components/UI/Identity/BackupAndSyncToggle/__snapshots__/BackupAndSyncToggle.test.tsx.snap
  app/components/UI/ProfileSyncing/ProfileSyncing.styles.ts
  app/components/UI/ProfileSyncing/ProfileSyncing.test.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.tsx
  app/components/UI/ProfileSyncing/ProfileSyncing.types.ts
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.test.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/ProfileSyncingModal.tsx
  app/components/UI/ProfileSyncing/ProfileSyncingModal/__snapshots__/ProfileSyncingModal.test.tsx.snap
  app/components/UI/ProfileSyncing/__snapshots__/ProfileSyncing.test.tsx.snap
  app/components/Views/Identity/TurnOnBackupAndSync/TurnOnBackupAndSync.test.tsx
  app/components/Views/OnboardingSuccess/OnboardingGeneralSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/OnboardingSuccess/OnboardingGeneralSettings/index.tsx
  app/components/Views/Settings/Identity/BackupAndSyncSettings.styles.ts
  app/components/Views/Settings/Identity/__snapshots__/BackupAndSyncSettings.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/SecuritySettings.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/Settings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/index.test.tsx
  app/components/Views/Settings/index.tsx
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/selectors/identity/index.test.ts
  app/util/identity/hooks/useAccountSyncing/useAccountSyncing.test.tsx
  app/util/identity/hooks/useAccountSyncing/useAccountSyncing.ts
  app/util/identity/hooks/useAuthentication/useAutoSignIn.test.ts
  e2e/pages/Settings/BackupAndSyncView.js
  e2e/pages/Settings/SettingsView.js
  e2e/selectors/Settings/BackupAndSyncView.selectors.js
  e2e/selectors/Settings/SettingsView.selectors.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/identity/account-syncing/account-sync-settings-toggle.spec.js
  locales/languages/en.json
Labels: QA Passed, Run Smoke E2E, team-identity

#14993 feat: Add validations for incoming batch request
  .js.env.example
  app/core/RPCMethods/createAsyncWalletMiddleware.test.ts
  app/core/RPCMethods/createAsyncWalletMiddleware.ts
  app/lib/ppom/ppom-util.ts
Labels: Run Smoke E2E, team-confirmations

#15096 fix: cp-7.46.0 Temporarily disable send flow via token details on non-evm networks
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.tsx
Labels: QA Passed, team-assets, Run Smoke E2E

#15057 fix: cp-7.46.0 Mms 1878 bridge input fiat quantity
  app/components/UI/Bridge/components/TokenInputArea/TokenInputArea.test.tsx
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
  app/components/UI/Bridge/hooks/useBridgeExchangeRates/index.ts
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
  app/components/UI/Bridge/hooks/useBridgeQuoteData/useBridgeQuoteData.test.ts
  app/components/UI/Bridge/types.ts
  app/components/UI/Bridge/utils/exchange-rates.test.tsx
  app/components/UI/Bridge/utils/exchange-rates.ts
  app/core/redux/slices/bridge/index.ts
  app/util/test/configureStore.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#15123 fix: cp-7.46.0 Bump @metamask/smart-transactions-controller to 16.3.1
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-transactions

#15129 chore: remove unused identity paths from CODEOWNERS
  .github/CODEOWNERS
Labels: No QA Needed, No E2E Smoke Needed, team-identity

#15135 revert: Reduce bottom sheet loading animations (#14920)
  app/component-library/components/BottomSheets/BottomSheet/foundation/BottomSheetDialog/BottomSheetDialog.constants.ts
  app/component-library/components/Overlay/Overlay.constants.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog

#15136 chore: remove profile sync unused translations
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-identity

#15139 feat: cp-7.46.0 AccountConnect and AccountApproval use dapp scanning (#14514)
  CHANGELOG.md
  app/components/UI/AccountApproval/index.js
  app/components/UI/AccountApproval/index.test.tsx
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
Labels: QA Passed, Run Smoke E2E, team-product-safety

#15027 perf: persist Snap accounts only once
  app/core/Engine/Engine.ts
Labels: No QA Needed, team-accounts, area-performance, Run Smoke E2E

#15020 chore: add controllers metadata
  app/store/migrations/075.test.ts
  app/store/migrations/075.ts
  app/store/migrations/index.ts
  app/store/persistConfig.test.ts
  app/store/persistConfig.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/logs/index.test.ts
  app/util/logs/index.ts
  e2e/fixtures/fixture-builder.js
  patches/@metamask+transaction-controller+54.0.0.patch
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, skip-sonar-cloud

#15119 feat: Enable general alert banners for transaction confirmations
  app/components/Views/confirmations/components/general-alert-banner/general-alert-banner.styles.ts
  app/components/Views/confirmations/components/general-alert-banner/general-alert-banner.tsx
  app/components/Views/confirmations/hooks/alerts/useBlockaidAlerts.test.tsx
  app/components/Views/confirmations/hooks/alerts/useBlockaidAlerts.tsx
  app/components/Views/confirmations/hooks/alerts/useSecurityAlertResponse.test.ts
  app/components/Views/confirmations/hooks/alerts/useSecurityAlertResponse.ts
  app/components/Views/confirmations/hooks/metrics/useConfirmationLocation.test.ts
  app/components/Views/confirmations/hooks/metrics/useConfirmationLocation.ts
  app/components/Views/confirmations/hooks/metrics/useConfirmationMetricEvents.test.ts
  app/components/Views/confirmations/hooks/metrics/useConfirmationMetricEvents.ts
  app/core/Analytics/events/confirmations/constants.ts
  app/core/Analytics/events/confirmations/events.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#15165 feat: update backup and sync settings events
  app/components/UI/Identity/BackupAndSyncFeaturesToggles/BackupAndSyncFeaturesToggles.test.tsx
  app/components/UI/Identity/BackupAndSyncFeaturesToggles/BackupAndSyncFeaturesToggles.tsx
  app/components/UI/Identity/BackupAndSyncToggle/BackupAndSyncToggle.test.tsx
  app/components/UI/Identity/BackupAndSyncToggle/BackupAndSyncToggle.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-identity

#14923 refactor: use `react-native-quick-crypto`
  app/components/Views/AesCryptoTestForm/AesCryptoTestForm.tsx
  app/core/Encryptor/Encryptor.test.ts
  app/core/Encryptor/Encryptor.ts
  app/core/Encryptor/bytes.test.ts
  app/core/Encryptor/bytes.ts
  app/core/Encryptor/constants.ts
  app/core/Encryptor/lib/aes-native.ts
  app/core/Encryptor/lib/index.test.ts
  app/core/Encryptor/lib/index.ts
  app/core/Encryptor/lib/quick-crypto.ts
  app/core/Encryptor/pbkdf2.test.ts
  app/core/Encryptor/pbkdf2.ts
  app/core/Encryptor/types.ts
  app/store/index.ts
  app/util/test/testSetup.js
  e2e/pages/Settings/AesCryptoTestForm.js
  e2e/specs/accounts/aes/encryption-with-key.spec.js
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-qa, team-accounts, Run Smoke E2E

#15155 fix(ramp): cp-7.46.0 fix custom action by upgrading sdk v2.1.7
  package.json
  yarn.lock
Labels: QA Passed, team-ramp, Run Smoke E2E

#15049 feat: Implement the publishBatch hook for smart transactions
  app/components/UI/Earn/hooks/useEarnInput.test.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.tsx
  app/components/Views/AssetOptions/AssetOptions.tsx
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.test.ts
  app/core/Engine/controllers/transaction-controller/transaction-controller-init.ts
  app/reducers/swaps/index.js
  app/reducers/swaps/swaps.test.ts
  app/util/smart-transactions/index.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
Labels: No E2E Smoke Needed, team-transactions

#15148 feat: swap/bridge solana prepopulate source asset
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/hooks/useInitialDestToken/index.ts
  app/components/UI/Bridge/hooks/useInitialDestToken/useInitialDestToken.test.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/index.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/useInitialSourceToken.test.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/index.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#15157 fix(bridge): implement dynamic refresh rate in QuoteExpiredModal
  CHANGELOG.md
  app/components/UI/Bridge/components/QuoteExpiredModal/QuoteExpiredModal.test.tsx
  app/components/UI/Bridge/components/QuoteExpiredModal/QuoteExpiredModal.tsx
  app/components/UI/Bridge/components/QuoteExpiredModal/__snapshots__/QuoteExpiredModal.test.tsx.snap
  app/components/UI/Bridge/utils/quoteUtils.test.ts
  app/components/UI/Bridge/utils/quoteUtils.ts
  locales/languages/en.json
Labels: QA Passed, No E2E Smoke Needed, team-swaps-and-bridge

#15104 feat: account modal changes to switch account type
  app/component-library/components-temp/Price/AggregatedPercentage/NonEvmAggregatedPercentage.test.tsx
  app/components/Nav/App/App.tsx
  app/components/Views/AccountActions/AccountActions.test.tsx
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/account-network-row/account-network-row.styles.ts
  app/components/Views/confirmations/components/modals/switch-account-type-modal/account-network-row/account-network-row.test.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/account-network-row/account-network-row.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/account-network-row/index.ts
  app/components/Views/confirmations/components/modals/switch-account-type-modal/index.ts
  app/components/Views/confirmations/components/modals/switch-account-type-modal/switch-account-type-modal.styles.ts
  app/components/Views/confirmations/components/modals/switch-account-type-modal/switch-account-type-modal.test.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/switch-account-type-modal.tsx
  app/components/Views/confirmations/hooks/useEIP7702Networks.test.tsx
  app/components/Views/confirmations/hooks/useEIP7702Networks.ts
  app/components/Views/confirmations/mock-data.js
  app/constants/navigation/Routes.ts
  jest.config.js
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#14225 fix: Remove undefined error (migration63)
  app/store/migrations/063.test.ts
  app/store/migrations/063.ts
Labels: No QA Needed, Run Smoke E2E, team-transactions, release-7.47.0

#15190 feat: android - no bundle compress
  android/app/build.gradle
Labels: team-mobile-platform, external-contributor

#15183 fix(ramp): cp-7.46.0 limits comparison
  app/components/UI/Ramp/hooks/useLimits.test.ts
  app/components/UI/Ramp/hooks/useLimits.ts
Labels: QA Passed, team-ramp, Run Smoke E2E

#15177 refactor: remove old notification code
  app/components/UI/Notification/BaseNotification/__snapshots__/index.test.jsx.snap
  app/components/UI/Notification/BaseNotification/index.js
  app/components/UI/Notification/BaseNotification/index.test.jsx
  app/core/NotificationManager.js
  app/util/notifications/types/notification/index.ts
Labels: No QA Needed, team-assets, Run Smoke E2E

#15184 fix: filter non EVM testnets
  app/components/UI/NetworkInfo/__snapshots__/index.test.tsx.snap
  app/components/Views/NetworkSelector/__snapshots__/NetworkSelector.test.tsx.snap
  app/components/Views/OnboardingSuccess/OnboardingAssetsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/IncomingTransactionsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichainNetworkController/index.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/networks/index.test.ts
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: team-accounts, Run Smoke E2E

#15198 chore: Revert "chore: Remove ios simulator runway bucket link (#14896)"
  scripts/setup.mjs
Labels: needs-dev-review, team-mobile-platform, No E2E Smoke Needed, no-changelog

#14378 refactor: parse signTypedData logic
  app/components/Views/confirmations/components/info/personal-sign/message.tsx
  app/components/Views/confirmations/components/info/typed-sign-v3v4/info-section-origin-and-details/info-section-origin-and-details.tsx
  app/components/Views/confirmations/components/info/typed-sign-v3v4/message.tsx
  app/components/Views/confirmations/components/info/typed-sign-v3v4/simulation/typed-sign-permit/typed-sign-permit.tsx
  app/components/Views/confirmations/components/title/title.tsx
  app/components/Views/confirmations/hooks/signatures/useSignatureMetrics.ts
  app/components/Views/confirmations/hooks/signatures/useTokenDecimalsInTypedSignRequest.test.ts
  app/components/Views/confirmations/hooks/signatures/useTypedSignSimulationEnabled.ts
  app/components/Views/confirmations/legacy/components/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/legacy/components/TypedSign/index.js
  app/components/Views/confirmations/utils/signature.test.ts
  app/components/Views/confirmations/utils/signature.ts
  app/util/string/index.test.ts
  app/util/string/index.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#15093 chore: add expo flask dev & sim builds
  bitrise.yml
  package.json
  scripts/build.sh
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-dev-ops

#15106 feat: Make standalone confirmations redirect to transactions view
  app/components/Views/confirmations/hooks/useConfirmActions.test.ts
  app/components/Views/confirmations/hooks/useConfirmActions.ts
  app/selectors/featureFlagController/confirmations/index.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#15101 feat: Add clear confirmation on back swipe for `transfer` confirmations
  app/components/Views/confirmations/components/info/transfer/transfer.test.tsx
  app/components/Views/confirmations/components/info/transfer/transfer.tsx
  app/components/Views/confirmations/hooks/ui/useClearConfirmationOnBackSwipe.test.ts
  app/components/Views/confirmations/hooks/ui/useClearConfirmationOnBackSwipe.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#15179 feat(INFRA-2510): new RCA workflow
  .github/workflows/automated-rca.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops

#15188 fix: Updated useComponentSize to re-render on change
  app/component-library/hooks/useComponentSize.test.ts
  app/component-library/hooks/useComponentSize.ts
Labels: No QA Needed, team-design-system, Run Smoke E2E

#14724 fix: display multichain accounts in srp list
  CHANGELOG.md
  app/components/UI/SRPList/SRPList.tsx
  app/components/UI/SRPListItem/SRPListItem.tsx
  app/components/hooks/useHdKeyringsWithSnapAccounts.test.ts
  app/components/hooks/useHdKeyringsWithSnapAccounts.ts
  app/selectors/multisrp/index.test.ts
  app/selectors/multisrp/index.ts
Labels: QA Passed, team-accounts, Run Smoke E2E

#15195 chore: create main rc workflow
  app/util/featureFlags/index.test.ts
  app/util/featureFlags/index.ts
  bitrise.yml
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-dev-ops

#15207 perf: add HD account tracing + fix add Snap account tracing
  app/actions/multiSrp/index.ts
  app/core/SnapKeyring/MultichainWalletSnapClient.ts
  app/core/SnapKeyring/SnapKeyring.ts
  app/core/redux/slices/performance/constants.ts
  app/core/redux/slices/performance/index.ts
Labels: No QA Needed, team-accounts, area-performance, Run Smoke E2E

#14958 feat: add asset selector
  app/components/Snaps/SnapUIAssetSelector/SnapUIAssetSelector.tsx
  app/components/Snaps/SnapUIAssetSelector/useSnapAssetDisplay.tsx
  app/components/Snaps/SnapUIInput/SnapUIInput.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.ts.snap
  app/components/Snaps/SnapUIRenderer/components/__snapshots__/asset-selector.test.ts.snap
  app/components/Snaps/SnapUIRenderer/components/__snapshots__/form.test.ts.snap
  app/components/Snaps/SnapUIRenderer/components/__snapshots__/input.test.ts.snap
  app/components/Snaps/SnapUIRenderer/components/asset-selector.test.ts
  app/components/Snaps/SnapUIRenderer/components/asset-selector.ts
  app/components/Snaps/SnapUIRenderer/components/box.ts
  app/components/Snaps/SnapUIRenderer/components/field.ts
  app/components/Snaps/SnapUIRenderer/components/index.ts
  app/components/Snaps/SnapUIRenderer/components/types.ts
  app/components/Snaps/SnapUIRenderer/testUtils.tsx
  app/components/Snaps/SnapUIRenderer/utils.ts
  app/components/Snaps/SnapUISelector/SnapUISelector.styles.ts
  app/components/Snaps/SnapUISelector/SnapUISelector.tsx
  app/components/UI/TemplateRenderer/SafeComponentList.ts
  app/selectors/accountsController.ts
  app/selectors/networkController.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-snaps-platform, no-changelog

#15202 fix: 15108 create a wrapper for toChecksumAddress to prevent app crash
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentageCrossChains.tsx
  app/components/UI/AccountFromToInfoCard/AddressFrom.tsx
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/AddCustomToken/index.js
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.tsx
  app/components/UI/PaymentRequest/AssetList/index.tsx
  app/components/UI/Ramp/hooks/useBalance.ts
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/utils/useFiatConversionRates.ts
  app/components/UI/TransactionElement/utils.js
  app/components/Views/QRScanner/index.tsx
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/InfoSectionOriginAndDetails/InfoSectionOriginAndDetails.tsx
  app/components/Views/confirmations/hooks/useAccountInfo.ts
  app/components/Views/confirmations/legacy/Approval/components/TransactionEditor/index.js
  app/components/Views/confirmations/legacy/Send/index.js
  app/components/Views/confirmations/legacy/SendFlow/SendTo/index.js
  app/components/Views/confirmations/legacy/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/confirmations/legacy/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/hooks/useAccounts/useAccounts.test.ts
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/components/hooks/useExistingAddress.ts
  app/core/RPCMethods/wallet_watchAsset.ts
  app/util/address/index.test.ts
  app/util/address/index.ts
  app/util/transactions/index.js
Labels: team-hardware-wallets, Run Smoke E2E

#15194 perf: accounts improvements
  app/core/Engine/Engine.ts
  app/core/SnapKeyring/SnapKeyring.test.ts
  app/core/SnapKeyring/SnapKeyring.ts
  app/core/SnapKeyring/types.ts
  package.json
  yarn.lock
Labels: No QA Needed, team-accounts, area-performance, Run Smoke E2E

#15206 refactor: update account item list selection element to fix flakiness
  e2e/pages/wallet/AccountListBottomSheet.js
Labels: No QA Needed, Run Smoke E2E, team-qa

#15217 fix: only show SRP pill when we have multiple SRPs
  app/util/address/index.ts
Labels: No QA Needed, team-accounts, Run Smoke E2E

#15212 chore(ramp): cp-7.46.0 upgrade sdk to 2.1.8
  package.json
  yarn.lock
Labels: QA Passed, team-ramp, Run Smoke E2E

#14941 refactor: Refactor connection UI MultiSelector components to be more generic
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.test.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.types.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/__snapshots__/AccountConnectMultiSelector.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissions.test.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.types.ts
  app/components/Views/AccountPermissions/NetworkPermissionsConnected/NetworkPermissionsConnected.types.ts
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.test.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.types.ts
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/__snapshots__/NetworkConnectMultiSelector.test.tsx.snap
  app/core/Permissions/index.test.ts
  app/core/Permissions/index.ts
Labels: No QA Needed, team-wallet-api-platform, Run Smoke E2E

#14971 fix: update onboarding copy and links for default privacy settings
  app/components/UI/ManageNetworks/ManageNetworks.test.js
  app/components/UI/ManageNetworks/ManageNetworks.tsx
  app/components/UI/ManageNetworks/__snapshots__/ManageNetworks.test.js.snap
  app/components/Views/OnboardingSuccess/OnboardingGeneralSettings/__snapshots__/index.test.tsx.snap
  app/core/AppConstants.ts
  locales/languages/en.json
Labels: QA Passed, team-accounts, No E2E Smoke Needed

#15001 fix: use AddNewAccount for account creation in SolanaNewFeatureContent
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.test.tsx
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.tsx
Labels: QA Passed, team-accounts, Run Smoke E2E

#15230 fix: fix error when no pricePercentageChange found
  app/component-library/components-temp/Price/AggregatedPercentage/NonEvmAggregatedPercentage.test.tsx
  app/component-library/components-temp/Price/AggregatedPercentage/NonEvmAggregatedPercentage.tsx
Labels: No QA Needed, team-assets, Run Smoke E2E

#14775 feat: create solana account and call discoverAccounts during creation and import of hd keyring
  app/actions/multiSrp/index.test.ts
  app/actions/multiSrp/index.ts
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.test.tsx
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.tsx
  app/components/Views/AddNewAccount/AddNewAccount.test.tsx
  app/components/Views/AddNewAccount/AddNewAccount.tsx
  app/core/Authentication/Authentication.test.ts
  app/core/Authentication/Authentication.ts
  app/core/SnapKeyring/MultichainWalletSnapClient.test.ts
  app/core/SnapKeyring/MultichainWalletSnapClient.ts
  app/core/SnapKeyring/utils/getMultichainAccountName.test.ts
  app/core/SnapKeyring/utils/getMultichainAccountName.ts
  app/core/__mocks__/MockedEngine.ts
Labels: QA Passed, team-accounts, Run Smoke E2E

#15247 fix: login message
  app/components/Views/Login/constants.ts
  app/components/Views/Login/index.tsx
Labels: team-mobile-platform, No E2E Smoke Needed

#15072 chore: add matchain, flow, plume, lens logos
  app/images/flow.png
  app/images/image-icons.js
  app/images/lens.png
  app/images/matchain.png
  app/images/plume.png
  app/util/networks/customNetworks.tsx
Labels: QA Passed, Run Smoke E2E, team-network-enablement, release-7.46.0

#15064 chore: stable sync 7.45.1 & 7.45.2
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, no-changelog

#15251 chore: Chore/update ios simulator readme
  README.md
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, no-changelog

#15046 test: Create anvil manager class
  e2e/api-specs/run-api-spec-tests.js
  e2e/fixtures/fixture-helper.js
  e2e/pages/Network/NetworkListModal.js
  e2e/seeder/anvil-clients.ts
  e2e/seeder/anvil-manager.ts
  e2e/seeder/test-launching-clients.ts
  e2e/specs/assets/nft-details.spec.js
  e2e/specs/settings/example-anvil-e2e.spec.js
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-qa

#15224 feat: Solana dapp connectivity announcement toast
  app/components/Views/Browser/index.js
  app/components/Views/Browser/index.test.tsx
  locales/languages/en.json
Labels: No QA Needed, team-accounts, Run Smoke E2E

#14743 fix: back up logic to clear vault before reapplying
  app/components/hooks/DeleteWallet/useDeleteWallet.ts
  app/constants/error.ts
  app/core/BackupVault/backupVault.test.ts
  app/core/BackupVault/backupVault.ts
  app/core/BackupVault/constants.ts
  app/core/BackupVault/index.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, no-changelog

#15253 fix: i18n text for 'Popular Networks'
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/SearchTokenAutocomplete/index.tsx
  app/components/UI/Tokens/TokenListControlBar/TokenListControlBar.tsx
  app/components/UI/Tokens/TokensBottomSheet/TokenFilterBottomSheet.test.tsx
  app/components/UI/Tokens/TokensBottomSheet/TokenFilterBottomSheet.tsx
  app/components/Views/ActivityView/index.js
  app/components/Views/AddAsset/components/NetworkFilterBottomSheet.tsx
  app/components/Views/AddAsset/components/__snapshots__/NetworkFilterBottomSheet.test.tsx.snap
  locales/languages/en.json
Labels: No QA Needed, team-assets, Run Smoke E2E

#15276 test: add extra param to waitAndTap to reduce flakiness while selecting a network
  e2e/pages/Network/NetworkListModal.js
  e2e/pages/swaps/SwapView.js
  e2e/utils/Gestures.js
Labels: No QA Needed, Run Smoke E2E, team-qa

#15282 chore: cp-7.47.0 upgrade solana-wallet-snap to v1.27.0
  package.json
  yarn.lock
Labels: No QA Needed, team-assets, Run Smoke E2E

#15161 fix: catch when url parse throws
  app/components/Views/confirmations/hooks/alerts/useDomainMismatchAlerts.test.ts
  app/components/Views/confirmations/hooks/alerts/useDomainMismatchAlerts.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#15263 feat: support bitcoin
  app/core/SnapKeyring/MultichainWalletSnapClient.test.ts
  app/core/SnapKeyring/MultichainWalletSnapClient.ts
  package.json
  yarn.lock
Labels: No QA Needed, team-accounts, Run Smoke E2E

#14963 feat: add `Monad Testnet`
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/constants/network.js
  app/core/Engine/Engine.ts
  app/images/image-icons.js
  app/images/monad-testnet-logo.png
  app/store/migrations/077.test.ts
  app/store/migrations/077.ts
  app/store/migrations/index.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/networks/index.js
  app/util/networks/index.test.ts
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, Run Smoke E2E, team-network-enablement

#15158 feat: implementing upgrade / downgrade smart account flows
  app/components/Nav/App/App.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/account-network-row/account-network-row.test.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/account-network-row/account-network-row.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/switch-account-type-modal.styles.ts
  app/components/Views/confirmations/components/modals/switch-account-type-modal/switch-account-type-modal.test.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/switch-account-type-modal.tsx
  app/components/Views/confirmations/constants/confirmations.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/components/Views/confirmations/hooks/useEIP7702Accounts.test.tsx
  app/components/Views/confirmations/hooks/useEIP7702Accounts.ts
  app/components/Views/confirmations/hooks/useEIP7702Networks.test.tsx
  app/components/Views/confirmations/hooks/useEIP7702Networks.ts
  app/components/Views/confirmations/mock-data.js
  app/components/Views/confirmations/utils/transaction.test.ts
  app/components/Views/confirmations/utils/transaction.ts
  app/core/Engine/messengers/transaction-controller-messenger/transaction-controller-messenger.ts
  app/util/test/confirm-data-helpers.ts
  package.json
  patches/@ethereumjs+tx+5.4.0.patch
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#15261 chore: cp-7.47.0 upgrade assets-controller v62.0.0
  app/core/Engine/messengers/multichain-assets-rates-controller-messenger/multichain-assets-rates-controller-messenger.ts
  app/core/Engine/messengers/multichain-assets-rates-controller-messenger/types.ts
  app/core/Engine/messengers/multichain-balances-controller-messenger/multichain-balances-controller-messenger.ts
  app/core/Engine/messengers/multichain-balances-controller-messenger/types.ts
  package.json
  patches/@metamask+assets-controllers+62.0.0.patch
  yarn.lock
Labels: No QA Needed, team-assets, Run Smoke E2E

#15232 chore: Bump Snaps packages
  app/__mocks__/htmlMock.ts
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/snaps/snap-controller-init.test.ts
  app/core/Engine/controllers/snaps/snap-controller-init.ts
  app/core/Permissions/specifications.js
  app/core/Snaps/SnapsMethodMiddleware.ts
  app/lib/snaps/SnapsExecutionWebView.tsx
  package.json
  patches/@metamask+post-message-stream+10.0.0.patch
  patches/@metamask+post-message-stream+9.0.0.patch
  yarn.lock
Labels: Run Smoke E2E, team-snaps-platform, skip-sonar-cloud

#15288 fix: reset swap/bridge state after submission
  app/components/UI/Bridge/Views/BridgeView/index.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-swaps-and-bridge, no-changelog

#15121 chore: sentry cleanup: stop logging deeplinked URL parsing errors
  app/core/DeeplinkManager/ParseManager/parseDeeplink.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, skip-sonar-cloud

#15294 chore(deposit): add initial folder structure
  .github/CODEOWNERS
  app/components/UI/Deposit/Views/.gitkeep
  app/components/UI/Deposit/components/.gitkeep
  app/components/UI/Deposit/routes/.gitkeep
  app/components/UI/Deposit/sdk/.gitkeep
  app/components/UI/Deposit/utils/.gitkeep
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#15281 feat: Implement `network-row` component for redesigned transfer transactions
  app/components/Views/confirmations/components/info/transfer/transfer.test.tsx
  app/components/Views/confirmations/components/info/transfer/transfer.tsx
  app/components/Views/confirmations/components/rows/transactions/network-row/index.ts
  app/components/Views/confirmations/components/rows/transactions/network-row/network-row.styles.ts
  app/components/Views/confirmations/components/rows/transactions/network-row/network-row.test.tsx
  app/components/Views/confirmations/components/rows/transactions/network-row/network-row.tsx
  app/components/Views/confirmations/utils/deeplink.test.ts
  app/components/Views/confirmations/utils/deeplink.ts
  app/core/DeeplinkManager/Handlers/handleEthereumUrl.test.ts
  app/core/DeeplinkManager/Handlers/handleEthereumUrl.ts
  locales/languages/en.json
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#15211 feat: replace `profileSyncing` references by `backupAndSync` and bump `@metamask/profile-sync-controller` to `^14.0.0`
  app/components/UI/BasicFunctionality/BasicFunctionalityModal/BasicFunctionalityModal.test.js
  app/components/UI/Identity/BackupAndSyncFeaturesToggles/BackupAndSyncFeaturesToggles.test.tsx
  app/components/UI/Identity/BackupAndSyncToggle/BackupAndSyncToggle.test.tsx
  app/components/Views/Identity/TurnOnBackupAndSync/TurnOnBackupAndSync.test.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/selectors/identity/index.test.ts
  app/selectors/identity/index.tsx
  app/store/migrations/077.test.ts
  app/store/migrations/077.ts
  app/store/migrations/078.test.ts
  app/store/migrations/078.ts
  app/store/migrations/index.ts
  app/util/identity/hooks/useAccountSyncing/useAccountSyncing.test.tsx
  app/util/identity/hooks/useAuthentication/useAutoSignIn.test.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/sentry/utils.js
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity

#15271 test: Create Anvil Seeder Utility
  e2e/fixtures/fixture-helper.js
  e2e/seeder/anvil-clients.ts
  e2e/seeder/anvil-seeder.ts
Labels: No QA Needed, Run Smoke E2E, team-qa

#15196 fix: Relocate sprout button
  app/components/UI/Stake/components/StakeButton/index.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/Tokens/styles.ts
Labels: design-review, QA Passed, team-assets, Run Smoke E2E

#15307 test: disable portfolio connect e2e
  e2e/specs/quarantine/portfolio-connect-account.failing.js
Labels: No QA Needed, Run Smoke E2E, team-qa

#15074 feat: Add max value refresher for `transfer` redesigned confirmations
  app/components/Views/confirmations/components/UI/animated-pulse/animated-pulse.test.tsx
  app/components/Views/confirmations/components/UI/animated-pulse/animated-pulse.tsx
  app/components/Views/confirmations/components/UI/animated-pulse/index.ts
  app/components/Views/confirmations/components/confirm/confirm-component.tsx
  app/components/Views/confirmations/components/footer/footer.test.tsx
  app/components/Views/confirmations/components/footer/footer.tsx
  app/components/Views/confirmations/components/info/transfer/transfer.tsx
  app/components/Views/confirmations/components/info/typed-sign-v3v4/simulation/components/animated-pulse/animated-pulse.tsx
  app/components/Views/confirmations/components/info/typed-sign-v3v4/simulation/components/value-display/value-display.tsx
  app/components/Views/confirmations/components/rows/transactions/token-hero/token-hero.tsx
  app/components/Views/confirmations/context/confirmation-context/confirmation-context.test.tsx
  app/components/Views/confirmations/context/confirmation-context/confirmation-context.tsx
  app/components/Views/confirmations/context/confirmation-context/index.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientBalanceAlert.test.ts
  app/components/Views/confirmations/hooks/alerts/useInsufficientBalanceAlert.ts
  app/components/Views/confirmations/hooks/useMaxValueRefresher.test.ts
  app/components/Views/confirmations/hooks/useMaxValueRefresher.ts
  app/reducers/transaction/index.js
Labels: No QA Needed, Run Smoke E2E, team-confirmations, no-changelog

#15308 fix: cp-7.47.0 Add safe checksum method in `SendTo` page
  CHANGELOG.md
  app/components/Views/confirmations/legacy/SendFlow/SendTo/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/legacy/SendFlow/SendTo/index.js
  app/components/Views/confirmations/legacy/SendFlow/SendTo/index.test.tsx
Labels: No QA Needed, Run Smoke E2E, team-confirmations, skip-sonar-cloud

#15047 feat: Adding support for wallet_getCapabilities
  app/core/Permissions/specifications.js
  app/core/RPCMethods/createAsyncWalletMiddleware.ts
  app/core/RPCMethods/eip5792.test.ts
  app/core/RPCMethods/eip5792.ts
Labels: No E2E Smoke Needed, team-confirmations

#15283 fix: (cp-7.46.0) network switcher - use additional checks for non-evm networks
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.test.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
Labels: QA Passed, No QA Needed, team-assets, Run Smoke E2E

#15302 fix: cp-7.46.0 cp-7.47.0 Add dummy file for migration 73
  app/store/migrations/073.test.ts
  app/store/migrations/073.ts
Labels: No QA Needed, team-wallet-framework, No E2E Smoke Needed

#15200 Improvements in smart account upgrade, downgrade pages
  app/components/Views/confirmations/components/info-root/info-root.test.tsx
  app/components/Views/confirmations/components/info-root/info-root.tsx
  app/components/Views/confirmations/components/info/switch-account-type/index.ts
  app/components/Views/confirmations/components/info/switch-account-type/switch-account-type.test.tsx
  app/components/Views/confirmations/components/info/switch-account-type/switch-account-type.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/account-network-row/account-network-row.styles.ts
  app/components/Views/confirmations/components/modals/switch-account-type-modal/account-network-row/account-network-row.test.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/account-network-row/account-network-row.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/switch-account-type-modal.test.tsx
  app/components/Views/confirmations/components/modals/switch-account-type-modal/switch-account-type-modal.tsx
  app/components/Views/confirmations/components/rows/switch-account-type-info-row/index.ts
  app/components/Views/confirmations/components/rows/switch-account-type-info-row/switch-account-type-info-row.test.tsx
  app/components/Views/confirmations/components/rows/switch-account-type-info-row/switch-account-type-info-row.tsx
  app/components/Views/confirmations/components/rows/transactions/advanced-details-row/advanced-details-row.test.tsx
  app/components/Views/confirmations/components/rows/transactions/advanced-details-row/advanced-details-row.tsx
  app/components/Views/confirmations/components/smart-contract-with-logo/index.ts
  app/components/Views/confirmations/components/smart-contract-with-logo/smart-contract-with-logo.styles.ts
  app/components/Views/confirmations/components/smart-contract-with-logo/smart-contract-with-logo.test.tsx
  app/components/Views/confirmations/components/smart-contract-with-logo/smart-contract-with-logo.tsx
  app/components/Views/confirmations/components/title/title.test.tsx
  app/components/Views/confirmations/components/title/title.tsx
  app/components/Views/confirmations/hooks/7702/useBatchAuthorizationRequests.test.ts
  app/components/Views/confirmations/hooks/7702/useBatchAuthorizationRequests.ts
  app/components/Views/confirmations/hooks/7702/useEIP7702Accounts.test.tsx
  app/components/Views/confirmations/hooks/7702/useEIP7702Accounts.ts
  app/components/Views/confirmations/hooks/7702/useEIP7702Networks.test.tsx
  app/components/Views/confirmations/hooks/7702/useEIP7702Networks.ts
  app/components/Views/confirmations/hooks/7702/useSmartAccountSwitchType.test.ts
  app/components/Views/confirmations/hooks/7702/useSmartAccountSwitchType.ts
  app/components/Views/confirmations/utils/transaction.test.ts
  app/components/Views/confirmations/utils/transaction.ts
  app/util/test/confirm-data-helpers.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#15328 refactor: cp-7.46.0 fix account list flakes in e2e tests(#15206)
  e2e/pages/wallet/AccountListBottomSheet.js
Labels: team-qa

#15310 chore: Bump `@metamask/snaps-controllers` from `^12.0.0` to `^12.0.1`
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-snaps-platform

#15327 refactor: re-patch react-native-svg@15.11.2
  patches/react-native-svg+15.11.2.patch
Labels: No QA Needed, Run Smoke E2E

#15311 feat: add insufficient balance check for Soala swaps
  CHANGELOG.md
  app/components/UI/Bridge/Views/BridgeView/index.tsx
Labels: No QA Needed, Run Smoke E2E, team-swaps-and-bridge

#15266 feat: Throttle state serialization
  app/store/persistConfig.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#15227 feat: cleaned up Vault Sentry logs
  app/components/Views/Login/index.tsx
  app/core/BackupVault/backupVault.ts
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#15331 feat(deposit): initial context and feature flag selectors
  app/components/UI/Deposit/sdk/.gitkeep
  app/components/UI/Deposit/sdk/__snapshots__/index.test.tsx.snap
  app/components/UI/Deposit/sdk/index.test.tsx
  app/components/UI/Deposit/sdk/index.tsx
  app/selectors/featureFlagController/deposit/index.test.ts
  app/selectors/featureFlagController/deposit/index.ts
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#15273 fix: switching to solana address in legacy swaps, redirect them to solana swaps UI
  app/components/UI/Bridge/hooks/useInitialDestToken/index.ts
  app/components/UI/Bridge/hooks/useInitialDestToken/useInitialDestToken.test.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/index.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/useInitialSourceToken.test.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/index.ts
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/useChainRedirect.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#15305 chore(bridge): update bridge base url based on environment
  .js.env.example
  app/constants/bridge.ts
  app/core/Engine/Engine.ts
  bitrise.yml
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, no-changelog

#15336 fix: Add back build_ios_simbuild to Bitrise to generate .app prebuilds for Runway bucket
  bitrise.yml
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#15342 fix: quarantine permissions clean up test
  e2e/specs/quarantine/permission-system-remove.failing.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#15352 fix: cp-7.47.0 fix endowment:caip25 error when removing dapp permitted chain
  app/components/Views/AccountPermissions/AccountPermissions.tsx
Labels: No QA Needed, team-wallet-api-platform, No E2E Smoke Needed

#15300 fix: cp-7.47.0 bump bridge controllers and update quote response fields
  app/components/UI/Bridge/_mocks_/mock-quotes-sol-sol.json
  app/components/UI/Bridge/hooks/useBridgeQuoteData/index.ts
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#15377 fix: cp-7.47.0 add MetaMask fee disclaimer text to bridge view
  app/components/UI/Bridge/Views/BridgeView/BridgeView.styles.ts
  app/components/UI/Bridge/Views/BridgeView/__snapshots__/BridgeView.test.tsx.snap
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.styles.ts
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/__snapshots__/QuoteDetailsCard.test.tsx.snap
  locales/languages/en.json
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, no-changelog

#15297 feat: cp-7.47.0 solana code fences
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.tsx
  e2e/fixtures/fixture-builder.js
  e2e/pages/wallet/SolanaNewFeatureSheet.js
  e2e/selectors/wallet/SolanaNewFeatureSheet.selectors.js
  e2e/viewHelper.js
  metro.transform.js
Labels: No QA Needed, Run Smoke E2E, team-solana

#14677 chore: add `SEI` network logo
  app/images/image-icons.js
  app/images/sei.png
  app/util/networks/customNetworks.tsx
Labels: QA Passed, Run Smoke E2E, team-network-enablement

#15189 [Proposal] Batch bg state updates in Engine service
  app/core/EngineService/EngineService.ts
Labels: external-contributor

#15335 fix: Bridge long token values show the right hand side, make it show the left
  app/components/UI/Bridge/Views/BridgeView/__snapshots__/BridgeView.test.tsx.snap
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#15417 fix: cp-7.47.0 Asset Detail Nav alignment
  app/components/UI/Navbar/index.js
Labels: QA Passed, team-assets, Run Smoke E2E

#15397 feat(INFRA-2571): add pr line checker
  .github/workflows/check-pr-max-lines.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops

#15237 fix: restore snap and imported srps when changing password
  app/core/SnapKeyring/MultichainWalletSnapClient.test.ts
  app/core/SnapKeyring/MultichainWalletSnapClient.ts
  app/core/Vault.js
  app/core/Vault.test.ts
  app/util/test/accountsControllerTestUtils.ts
Labels: QA Passed, team-accounts, Run Smoke E2E

#15400 fix: chain changed event not emitted
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/BackgroundBridge/BackgroundBridge.test.js
  app/core/SDKConnect/handlers/setupBridge.test.ts
  app/core/SDKConnect/handlers/setupBridge.ts
Labels: team-sdk, QA Passed, Run Smoke E2E

#15419 fix: cp-7.47.0 tokens small amount crashing bridge
  app/components/UI/Bridge/components/BridgeDestTokenSelector/BridgeDestTokenSelector.test.tsx
  app/components/UI/Bridge/components/BridgeDestTokenSelector/__snapshots__/BridgeDestTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/BridgeSourceTokenSelector.test.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/__snapshots__/BridgeSourceTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/TokenSelectorItem.tsx
  app/components/UI/Bridge/hooks/useTokensWithBalance/index.ts
  app/components/UI/Bridge/hooks/useTokensWithBalance/useTokensWithBalance.test.ts
  app/components/UI/Bridge/types.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#15455 Chore/7.46.1 hotfix version update
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: INVALID-PR-TEMPLATE

#13394 fix: account connect origin
  CHANGELOG.md
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectConstants.ts
Labels: team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#15418 fix: cp-7.47.0 Pass optional disabled prop into token details list item
  app/components/UI/AssetElement/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetElement/index.tsx
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/AssetOverview/Balance/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
Labels: QA Passed, team-assets, Run Smoke E2E

#15438 chore(multi-srp): remove code fences
  app/components/Nav/App/App.tsx
  app/components/UI/Carousel/constants.ts
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/components/Views/AddAccountActions/AddAccountActions.types.ts
  app/components/Views/Quiz/SRPQuiz/SRPQuiz.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.tsx
  app/constants/navigation/Routes.ts
  app/constants/permissions.ts
  app/core/SnapKeyring/MultichainWalletSnapClient.ts
  app/selectors/keyringController/index.ts
Labels: No QA Needed, team-mmi, Run Smoke E2E

#15431 fix: update carousel tests for solana and refactor
  app/components/UI/Carousel/__snapshots__/index.test.tsx.snap
  app/components/UI/Carousel/constants.ts
  app/components/UI/Carousel/index.test.tsx
  app/components/UI/Carousel/index.tsx
  app/components/UI/Carousel/types.ts
  e2e/pages/wallet/WalletView.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/wallet/carousel.spec.js
Labels: QA Passed, Run Smoke E2E, team-qa

#15463 fix: capture exception with Sentry instead throwing the error
  app/store/getPersistentState/getPersistentState.test.ts
  app/store/getPersistentState/getPersistentState.ts
  app/store/persistConfig.ts
Labels: team-mobile-platform, No E2E Smoke Needed

#15425 fix: cp-7.47.0 improve bridge screen layout and user experience
  CHANGELOG.md
  app/components/UI/Bridge/Views/BridgeView/BridgeView.styles.ts
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/Views/BridgeView/__snapshots__/BridgeView.test.tsx.snap
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.test.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/QuoteDetailsCard.tsx
  app/components/UI/Bridge/components/QuoteDetailsCard/__snapshots__/QuoteDetailsCard.test.tsx.snap
  app/components/UI/Bridge/components/QuoteInfoModal/QuoteInfoModal.styles.ts
  app/components/UI/Bridge/components/QuoteInfoModal/__snapshots__/QuoteInfoModal.test.tsx.snap
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
Labels: QA Passed, No E2E Smoke Needed, team-swaps-and-bridge

#15449 fix: cp-7.47.0 close actions sheet after clicking on send
  app/components/Views/WalletActions/WalletActions.tsx
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-solana

#15349 feat(INFRA-2531): check for bitrise success comments in imported commits
  .github/scripts/bitrise/bitrise-results-check.ts
  .github/scripts/bitrise/bitrise-utils.ts
Labels: No QA Needed, Run Smoke E2E, team-dev-ops

#15348 feat: adding Copyable to mobile snaps
  app/components/Snaps/SnapUICopyable/SnapUICopyable.styles.ts
  app/components/Snaps/SnapUICopyable/SnapUICopyable.tsx
  app/components/Snaps/SnapUIRenderer/components/copyable.test.tsx
  app/components/Snaps/SnapUIRenderer/components/copyable.ts
  app/components/Snaps/SnapUIRenderer/components/index.ts
  app/components/UI/TemplateRenderer/SafeComponentList.ts
  locales/languages/en.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, team-snaps-platform, no-changelog

#15412 fix: do not log missing network state change event subscription error
  app/core/BackgroundBridge/BackgroundBridge.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#15398 fix: avoid creating Sentry exception events when notification display fails
  app/core/NotificationManager.js
  app/util/notifications/services/NotificationService.ts
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#15447 test: update notification e2e tests
  app/components/UI/Notification/List/__snapshots__/index.test.tsx.snap
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
  e2e/pages/Notifications/NotificationMenuView.js
  e2e/selectors/Notifications/NotificationMenuView.selectors.js
  e2e/specs/notifications/enable-notifications-after-onboarding.spec.js
  e2e/specs/notifications/utils/mocks.js
Labels: QA Passed, team-assets, Run Smoke E2E

#15296 chore: update plume logo
  app/images/image-icons.js
  app/images/plume-native.png
  app/images/plume.png
Labels: QA Passed, Run Smoke E2E, team-network-enablement, release-7.47.0

#15481 fix: repair 7.47.0 unit tests
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.test.tsx
  jest.config.js
  yarn.lock
Labels: team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#15471 test: update ramps tests region auto select
  e2e/specs/ramps/offramp.spec.js
  e2e/specs/ramps/onramp.spec.js
Labels: Run Smoke E2E, team-qa

#14756 feat: Add Multichain API to Flask
  .js.env.example
  app/core/AppConstants.ts
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/createMultichainMethodMiddleware/index.js
  app/core/RPCMethods/createMultichainMethodMiddleware/index.test.js
  app/core/RPCMethods/getProviderState/index.js
  app/core/RPCMethods/getProviderState/index.test.js
  app/core/RPCMethods/handlers/index.js
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/__mocks__/MockedEngine.ts
  app/core/createTracingMiddleware/index.ts
  app/reducers/swaps/swaps.test.ts
  app/selectors/permissions/index.js
  app/selectors/permissions/index.test.js
  app/util/permissions/index.test.ts
  app/util/permissions/index.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
  app/util/transactions/index.test.ts
  app/util/validators/index.test.ts
  app/util/validators/index.ts
  e2e/fixtures/fixture-builder.js
  e2e/pages/wallet/AccountListBottomSheet.js
  e2e/pages/wallet/SolanaNewFeatureSheet.js
  e2e/selectors/wallet/SolanaNewFeatureSheet.selectors.js
  e2e/utils/Gestures.js
  package.json
  scripts/inpage-bridge/src/MobilePortStream.js
  scripts/inpage-bridge/src/provider.js
  scripts/setup.mjs
  yarn.lock
Labels: QA Passed, team-wallet-api-platform, INVALID-PR-TEMPLATE, No E2E Smoke Needed, skip-sonar-cloud

#15077 feat: Auto-failover to Quicknode when Infura is down
  CHANGELOG.md
  app/component-library/components-temp/CellSelectWithMenu/CellSelectWithMenu.tsx
  app/component-library/components/Cells/Cell/foundation/CellBase/CellBase.types.ts
  app/components/Nav/App/App.tsx
  app/components/UI/NetworkModal/index.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/CustomNetworkView/CustomNetwork.types.ts
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/constants/network.js
  app/core/Analytics/MetaMetrics.events.ts
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/network-controller/messenger-action-handlers.test.ts
  app/core/Engine/controllers/network-controller/messenger-action-handlers.ts
  app/core/Engine/controllers/network-controller/utils.test.ts
  app/core/Engine/controllers/network-controller/utils.ts
  app/selectors/featureFlagController/walletFramework/index.ts
  app/store/migrations/055.test.ts
  app/store/migrations/079.test.ts
  app/store/migrations/079.ts
  app/store/migrations/index.ts
  app/util/networks/customNetworks.tsx
  app/util/onlyKeepHost.test.ts
  app/util/onlyKeepHost.ts
  app/util/stripKeyFromInfuraUrl.test.ts
  app/util/stripKeyFromInfuraUrl.ts
  app/util/stripProtocol.test.ts
  app/util/stripProtocol.ts
  babel.config.tests.js
  bitrise.yml
  locales/languages/en.json
Labels: QA Passed, team-wallet-framework, Run Smoke E2E

#15374 feat(deposit): add routes and root route
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/Deposit/Views/Root/Root.test.tsx
  app/components/UI/Deposit/Views/Root/Root.tsx
  app/components/UI/Deposit/Views/Root/index.ts
  app/components/UI/Deposit/routes/.gitkeep
  app/components/UI/Deposit/routes/index.tsx
  app/components/UI/WalletAction/WalletAction.tsx
  app/components/UI/WalletAction/WalletAction.types.ts
  app/components/Views/WalletActions/WalletActions.tsx
  app/constants/navigation/Routes.ts
  app/selectors/featureFlagController/deposit/index.test.ts
  app/selectors/featureFlagController/deposit/index.ts
  e2e/selectors/wallet/WalletActionsBottomSheet.selectors.js
Labels: No QA Needed, team-ramp, Run Smoke E2E

#15490 chore: bump `@metamask/{controller-utils,network-controller}` to `11.9.0`, `23.5.0`
  package.json
  yarn.lock
Labels: No QA Needed, team-wallet-framework, No E2E Smoke Needed

#15422 chore: #14527 - Add performance docs for identifying re-render optimizations
  README.md
  docs/assets/performance-render/callstack-p14.jpg
  docs/assets/performance-render/callstack-p15.jpg
  docs/assets/performance-render/callstack-p16.jpg
  docs/assets/performance-render/callstack-p17.jpg
  docs/assets/performance-render/callstack-p18.jpg
  docs/assets/performance-render/react-devtools-profiling.jpg
  docs/assets/performance-render/react-devtools-selection.jpg
  docs/readme/performance.md
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, no-changelog

#15383 feat: Adds gas modal metrics
  app/components/Views/confirmations/components/modals/gas-fee-modal/hooks/useDappSuggestedGasFeeOption.test.ts
  app/components/Views/confirmations/components/modals/gas-fee-modal/hooks/useDappSuggestedGasFeeOption.ts
  app/components/Views/confirmations/components/modals/gas-fee-modal/hooks/useGasOptions.ts
  app/core/Engine/controllers/transaction-controller/utils.test.ts
  app/core/Engine/controllers/transaction-controller/utils.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog

#15478 feat: Implement gas input validations in redesigned gas modals
  app/components/Views/confirmations/components/UI/text-field-with-label/index.ts
  app/components/Views/confirmations/components/UI/text-field-with-label/text-field-with-label.styles.ts
  app/components/Views/confirmations/components/UI/text-field-with-label/text-field-with-label.tsx
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/gas-limit-input/gas-limit-input.styles.ts
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/gas-limit-input/gas-limit-input.test.tsx
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/gas-limit-input/gas-limit-input.tsx
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/gas-price-input/gas-price-input.styles.ts
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/gas-price-input/gas-price-input.test.tsx
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/gas-price-input/gas-price-input.tsx
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/max-base-fee-input/max-base-fee-input.styles.ts
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/max-base-fee-input/max-base-fee-input.test.tsx
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/max-base-fee-input/max-base-fee-input.tsx
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/priority-fee-input/priority-fee-input.styles.ts
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/priority-fee-input/priority-fee-input.test.tsx
  app/components/Views/confirmations/components/modals/gas-fee-modal/components/priority-fee-input/priority-fee-input.tsx
  app/components/Views/confirmations/components/modals/gas-fee-modal/modals/advanced-eip1559-modal/advanced-eip1559-modal.tsx
  app/components/Views/confirmations/components/modals/gas-fee-modal/modals/advanced-gas-price-modal/advanced-gas-price-modal.tsx
  app/components/Views/confirmations/utils/gas-validations.test.ts
  app/components/Views/confirmations/utils/gas-validations.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog

#15477 chore: Bump Snaps packages
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/snaps/snap-controller-init.test.ts
  app/core/Engine/controllers/snaps/snap-controller-init.ts
  app/core/Engine/messengers/snaps/snap-controller-messenger.ts
  app/core/Engine/types.ts
  app/core/RPCMethods/lib/ethereum-chain-utils.js
  app/core/RPCMethods/lib/ethereum-chain-utils.test.ts
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/core/Snaps/SnapBridge.ts
  app/core/WalletConnect/wc-utils.ts
  app/util/permissions/index.test.ts
  app/util/permissions/index.ts
  package.json
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform, skip-sonar-cloud

#15497 fix: cp-7.47.0 disable solana as bridge destination if no solana account exists
  CHANGELOG.md
  app/core/redux/slices/bridge/index.ts
  app/selectors/smartTransactionsController.test.ts
Labels: No QA Needed, Run Smoke E2E, team-swaps-and-bridge

#15506 test: restore phishing alert scenario in AccountConnect
  app/components/Views/AccountConnect/AccountConnect.test.tsx
Labels: No QA Needed, team-wallet-api-platform, No E2E Smoke Needed

#15050 chore: update stale bot
  .github/workflows/stale-issue-pr.yml
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed, no-changelog
