Repository MetaMask/metamask-mobile, pull requests merged in 2025-01, with the labels that each got.

#12629 fix: hide `ApprovalTagUrl` when origins is internal
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.test.tsx
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.tsx
Labels: Run Smoke E2E, team-confirmations

#12839 test: change browser homepage for e2e
  e2e/fixtures/fixture-builder.js
  e2e/pages/Browser/ConnectedAccountsModal.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#12823 chore: assign CODEOWNERS to BrowserTab
  .github/CODEOWNERS
Labels: No QA Needed, team-mobile-platform

#10716 chore: Add Wallet API Platform Team as `CODEOWNER` for the `RPCMethods/` directory
  .github/CODEOWNERS
Labels: No QA Needed, team-wallet-api-platform, No E2E Smoke Needed

#12833 fix: fix add network form when addMode is true
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
Labels: team-assets, Run Smoke E2E

#12853 fix(12849): alert toast blocking tab navigation
  app/component-library/components/Navigation/TabBar/TabBar.constants.ts
  app/component-library/components/Navigation/TabBar/TabBar.styles.ts
  app/component-library/components/Toast/Toast.tsx
Labels: team-design-system, Run Smoke E2E, team-wallet-ux

#12859 fix: fix asset options sheet
  app/components/Views/Asset/index.js
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#12906 test: Disable flakey chain permissions e2e
  e2e/specs/multichain/permissions/chains/permission-system-add-non-permitted.spec.js
  e2e/specs/multichain/permissions/chains/permission-system-update-permissions.spec.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, area-qa

#12651 feat: STAKE-884 add more mobile pooled staking events
  app/components/UI/Navbar/index.js
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/UnstakeConfirmationView/UnstakeConfirmationView.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/components/GasImpactModal/GasImpactModal.test.tsx
  app/components/UI/Stake/components/GasImpactModal/GasImpactModal.types.ts
  app/components/UI/Stake/components/GasImpactModal/index.tsx
  app/components/UI/Stake/components/LearnMoreModal/index.tsx
  app/components/UI/Stake/components/StakeButton/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/StakingCta.tsx
  app/components/UI/Stake/components/StakingConfirmation/ConfirmationFooter/FooterButtonGroup/FooterButtonGroup.tsx
  app/components/UI/Stake/constants/events.ts
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Stake/utils/metaMetrics/tooltipMetaMetricsUtils.ts
  app/components/UI/Stake/utils/metaMetrics/withMetaMetrics.test.ts
  app/core/Analytics/MetaMetrics.events.ts
Labels: team-stake, INVALID-PR-TEMPLATE, Run Smoke E2E

#12754 feat: Implement send max to send flow
  app/actions/transaction/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/utils.test.ts
  app/components/Views/confirmations/SendFlow/Confirm/utils.ts
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559Update/index.tsx
  app/reducers/transaction/index.js
  app/util/transaction-controller/index.test.ts
  app/util/transaction-controller/index.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#12846 fix: Add missing allowed action to the `SmartTransactionsController` messenger
  app/core/Engine/Engine.ts
Labels: No QA Needed, team-wallet-framework, No E2E Smoke Needed

#12542 feat: Adding data tree for types sign V3, v4 confirmations
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataField.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataTree.test.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataTree.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.styles.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.tsx
  app/components/Views/confirmations/utils/signatures.test.ts
  app/components/Views/confirmations/utils/signatures.ts
  app/util/string/index.test.ts
  app/util/string/index.ts
  app/util/test/confirm-data-helpers.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#12829 test(3615): E2E to test the scenario when the dapp requests to switch the active network, and grant permission on the fly
  e2e/pages/Browser/TestDApp.js
  e2e/resources/networks.e2e.js
  e2e/selectors/Browser/TestDapp.selectors.js
  e2e/specs/multichain/permissions/chains/permission-system-dapp-chain-switch-grant.spec.js
Labels: Run Smoke E2E, team-wallet-ux

#12838 fix: remove goerli infura from network state
  app/store/migrations/065.test.ts
  app/store/migrations/065.ts
  app/store/migrations/index.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  patches/@metamask+network-controller+22.1.0.patch
Labels: team-assets, Run Smoke E2E

#12918 fix: Bump artifact upload and download version to 4
  .github/workflows/ci.yml
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#12822 chore: Improve Keyring/Accounts error handling and logs
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/AccountsController/logger.test.ts
  app/core/Engine/controllers/AccountsController/logger.ts
  app/core/Engine/controllers/AccountsController/utils.test.ts
  app/core/Engine/controllers/AccountsController/utils.ts
  app/core/Engine/utils/logger.ts
  app/core/Engine/utils/test/logger.test.ts
  app/core/EngineService/EngineService.test.ts
  app/core/EngineService/EngineService.ts
  app/store/index.ts
  app/store/validateMigration/accountsController.test.ts
  app/store/validateMigration/accountsController.ts
  app/store/validateMigration/engineBackgroundState.test.ts
  app/store/validateMigration/engineBackgroundState.ts
  app/store/validateMigration/keyringController.test.ts
  app/store/validateMigration/keyringController.ts
  app/store/validateMigration/validateMigration.test.ts
  app/store/validateMigration/validateMigration.ts
  app/store/validateMigration/validateMigration.types.ts
  app/util/sentry/__snapshots__/utils.test.ts.snap
  app/util/sentry/utils.js
  app/util/sentry/utils.test.ts
Labels: team-accounts, Run Smoke E2E

#12920 fix: fixed getStakingNavbar broken back and cancel buttons regression
  app/components/UI/Navbar/index.js
Labels: team-stake, Run Smoke E2E

#12916 fix: Add `transactionMeta` condition to render `SimulationDetails`
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/components/TransactionReview/index.js
Labels: QA Passed, Run Smoke E2E, team-confirmations

#12863 feat: Adding blockaid banner to re-designed confirmation pages
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/SignatureBlockaidBanner/SignatureBlockaidBanner.styles.ts
  app/components/Views/confirmations/components/Confirm/SignatureBlockaidBanner/SignatureBlockaidBanner.test.tsx
  app/components/Views/confirmations/components/Confirm/SignatureBlockaidBanner/SignatureBlockaidBanner.tsx
  app/components/Views/confirmations/components/Confirm/SignatureBlockaidBanner/index.ts
  app/util/test/confirm-data-helpers.ts
Labels: Run Smoke E2E, team-confirmations

#12860 fix: add kaia logo
  app/images/image-icons.js
  app/images/kaia.png
  app/util/networks/customNetworks.tsx
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#12923 fix: invoke_snap RPC requests inside the built-in browser
  app/core/Engine/Engine.ts
Labels: Run Smoke E2E, team-notifications

#12915 chore: remove dead code that had been added for multichain permission early in the project but not used anymore
  app/components/UI/TransactionHeader/index.js
Labels: Run Smoke E2E, team-wallet-ux

#12929 fix: Keep latest 50 history instead of first 50
  app/reducers/browser/index.js
Labels: No QA Needed, team-portfolio, No E2E Smoke Needed

#12665 fix: Fix padding on Android browser search
  app/components/Views/BrowserUrlModal/BrowserUrlModal.tsx
  app/components/Views/BrowserUrlModal/__snapshots__/BrowserUrlModal.test.tsx.snap
  app/components/Views/BrowserUrlModal/styles.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#12919 fix: fix asset options sheet (#12859)
  app/components/Views/Asset/index.js
Labels: team-assets, Run Smoke E2E, release-7.38.0

#12928 fix (cherrypick): invoke_snap RPC requests inside the built-in browser
  app/core/Engine/Engine.ts
Labels: Run Smoke E2E, team-identity, release-7.38.0

#12962 chore: Cherry pick `12958` into `release/7.38.0`
  app/components/Views/confirmations/ApproveView/Approve/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/util/custom-gas/index.js
Labels: Run Smoke E2E, team-confirmations

#12951 test: add selected payment type for ramps sell e2e
  e2e/specs/ramps/deeplink-to-sell-flow.spec.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, area-qa

#12927 feat: Adding metrics events for re-designed signatures pages
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Footer/__snapshots__/Footer.test.tsx.snap
  app/components/Views/confirmations/hooks/useConfirmActions.test.ts
  app/components/Views/confirmations/hooks/useConfirmActions.ts
  app/components/Views/confirmations/hooks/useSignatureMetrics.test.ts
  app/components/Views/confirmations/hooks/useSignatureMetrics.ts
  app/components/Views/confirmations/utils/confirm.test.ts
  app/components/Views/confirmations/utils/confirm.ts
  app/components/Views/confirmations/utils/generic.test.ts
  app/components/Views/confirmations/utils/generic.ts
  app/components/Views/confirmations/utils/signatures.ts
  app/core/EngineService/EngineService.test.ts
  app/core/EngineService/EngineService.ts
Labels: Run Smoke E2E, team-confirmations

#12977 feat: Adding remote feature flag for signature redesign
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/util/test/confirm-data-helpers.ts
Labels: Run Smoke E2E, team-confirmations

#12811 feat: add detected tokens automatically
  app/components/UI/Tokens/TokenList/TokenListFooter/index.tsx
  app/components/UI/Tokens/TokenList/index.tsx
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  app/components/Views/Wallet/index.test.tsx
  app/components/Views/Wallet/index.tsx
  e2e/specs/assets/token-detection-import-all.spec.js
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#12852 feat: STAKE-914 Remove MM_POOLED_STAKING_UI_ENABLED feature flag
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/AssetOverview/Balance/index.test.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
  app/components/UI/Stake/components/StakeButton/StakeButton.test.tsx
  app/components/UI/Stake/components/StakeButton/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarnings.test.tsx
  app/components/UI/Stake/components/StakingEarnings/index.tsx
  app/components/UI/Stake/constants/index.ts
  app/components/UI/Stake/sdk/stakeSdkProvider.test.tsx
  app/components/UI/Tokens/index.test.tsx
  app/core/Engine/Engine.ts
  bitrise.yml
Labels: team-stake, Run Smoke E2E

#12961 fix: Only aggregate PortfolioBalance if on Popular Network
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.tsx
  app/components/hooks/useGetFormattedTokensPerChain.test.ts
  app/components/hooks/useGetFormattedTokensPerChain.tsx
Labels: QA Passed, team-assets, Run Smoke E2E, release-7.38.0

#12813 feat: add Network URL non-ascii -> punycode warning
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  app/util/url/index.ts
  app/util/url/url.test.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#12954 fix: Addressing UX feedbacks on re-designed signature pages
  .eslintrc.js
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.styles.ts
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataField.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.test.tsx
  app/components/Views/confirmations/components/TypedSign/index.js
  app/components/Views/confirmations/hooks/useSignatureRequest.ts
Labels: Run Smoke E2E, team-confirmations

#12985 chore: Bump-version 1520 7.37.1
  AppConfig/test/MockAppConfig.json
  AppConfig/v1/AppConfig.json
Labels: No QA Needed, team-mobile-platform

#12986 chore: Remove unused patch
  patches/@metamask+controller-utils+11.3.0.patch
Labels: No QA Needed, team-wallet-framework, team-mobile-platform, No E2E Smoke Needed

#12957 fix: Addressing design feedbacks on re-designed signature pages
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfo.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.test.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataField.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.styles.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.tsx
  app/components/Views/confirmations/components/Confirm/NoChangeSimulation/NoChangeSimulation.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.styles.ts
  app/components/Views/confirmations/components/Confirm/Title/Title.test.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.tsx
  app/components/Views/confirmations/components/UI/BottomModal/BottomModal.styles.ts
  app/components/Views/confirmations/components/UI/BottomModal/BottomModal.tsx
  app/components/Views/confirmations/components/UI/BottomModal/__snapshots__/BottomModal.test.tsx.snap
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.styles.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoSection/InfoSection.styles.ts
  app/components/Views/confirmations/components/UI/InfoRow/InfoSection/InfoSection.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoSection/__snapshots__/InfoSection.test.tsx.snap
  app/components/Views/confirmations/hooks/useAccountInfo.test.ts
  app/components/Views/confirmations/hooks/useAccountInfo.ts
  app/util/url/index.ts
  app/util/url/url.test.ts
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: Run Smoke E2E, team-confirmations

#12830 test(3615): E2E to check the labels displaying the default account and chain
  app/components/UI/PermissionsSummary/PermissionsSummary.tsx
  app/components/UI/PermissionsSummary/__snapshots__/PermissionsSummary.test.tsx.snap
  e2e/pages/Browser/PermissionSummaryBottomSheet.js
  e2e/selectors/Browser/PermissionSummaryBottomSheet.selectors.js
  e2e/specs/multichain/permission-system-summary-default-permissions.spec.js
Labels: Run Smoke E2E, team-wallet-ux

#12998 fix: Make message section on re-designed signature pages scrollable
  app/components/Views/confirmations/components/Confirm/SignatureMessageSection/SignatureMessageSection.styles.ts
  app/components/Views/confirmations/components/Confirm/SignatureMessageSection/SignatureMessageSection.tsx
Labels: Run Smoke E2E, team-confirmations

#12978 feat: Use a dynamic interval value for smart transaction status polling
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
Labels: Run Smoke E2E, team-transactions

#12988 fix: enable earn button navigation on unsupported networks
  app/components/UI/Stake/components/StakeButton/index.tsx
  app/components/UI/Tokens/index.test.tsx
Labels: team-stake, Run Smoke E2E

#12976 fix: re-designs signatures, continue to use old designs when signing with hardware wallets
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/SignatureRequest/Root/Root.test.tsx
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/components/Views/confirmations/hooks/useQRHardwareAwareness.ts
Labels: Run Smoke E2E, team-confirmations

#13011 chore(cherry-pick) fix: ensure StakingBalance is shown or hidden appropriately per asset…
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
  app/components/UI/Stake/__mocks__/mockData.ts
  app/components/UI/Stake/components/StakingBalance/StakingBalance.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
  app/components/UI/Stake/components/StakingEarnings/StakingEarnings.test.tsx
  app/components/UI/Stake/components/StakingEarnings/index.tsx
  app/components/UI/Stake/hooks/useBalance.test.tsx
  app/components/UI/Stake/hooks/useBalance.ts
Labels: team-stake, Run Smoke E2E

#12989 fix(12945): privacy mode and account selection bottom sheet
  app/components/UI/Ramp/components/AccountSelector.tsx
  app/components/UI/WalletAccount/WalletAccount.test.tsx
  app/components/UI/WalletAccount/WalletAccount.tsx
  app/components/Views/AccountSelector/AccountSelector.test.tsx
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/AccountSelector/AccountSelector.types.ts
  app/components/Views/confirmations/SendFlow/AddressFrom/AddressFrom.tsx
Labels: team-ramp, Run Smoke E2E, team-wallet-ux, team-confirmations

#12965 fix: Fix `send` flow deeplinks
  app/components/Views/confirmations/Send/index.js
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations

#11670 test: Refactor e2e Swap test to use Tenderly Virtual TestNets
  app/components/Base/StatusText.js
  app/components/UI/SliderButton/__snapshots__/index.test.tsx.snap
  bitrise.yml
  e2e/pages/Transactions/ActivitiesView.js
  e2e/pages/swaps/QuoteView.js
  e2e/pages/swaps/SwapView.js
  e2e/resources/networks.e2e.js
  e2e/selectors/Common.selectors.js
  e2e/selectors/Transactions/ActivitiesView.selectors.js
  e2e/selectors/swaps/SwapsView.selectors.js
  e2e/specs/quarantine/send-to-contact.failing.js
  e2e/specs/ramps/offramp.spec.js
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
  e2e/specs/swaps/token-details.spec.js
  e2e/tenderly.js
Labels: No QA Needed, team-swaps, Run Smoke E2E

#13017 chore: reorganize stake button tests
  app/components/UI/Stake/components/StakeButton/StakeButton.test.tsx
  app/components/UI/Tokens/index.test.tsx
Labels: No QA Needed, team-stake

#12606 feat: Create Permit Simulation
  app/component-library/components-temp/Buttons/ButtonPill/ButtonPill.styles.ts
  app/component-library/components-temp/Buttons/ButtonPill/ButtonPill.test.tsx
  app/component-library/components-temp/Buttons/ButtonPill/ButtonPill.tsx
  app/component-library/components-temp/Buttons/ButtonPill/__snapshots__/ButtonPill.test.tsx.snap
  app/component-library/components-temp/Buttons/ButtonPill/index.ts
  app/components/UI/Name/Name.tsx
  app/components/UI/Name/Name.types.ts
  app/components/UI/Name/__snapshots__/Name.test.tsx.snap
  app/components/UI/Ramp/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Ramp/components/Box.tsx
  app/components/UI/SimulationDetails/types.ts
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignPermit/TypedSignPermit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignPermit/TypedSignPermit.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignPermit/index.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/index.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.tsx
  app/components/Views/confirmations/components/UI/BottomModal/BottomModal.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Address/__snapshots__/Address.test.tsx.snap
  app/components/Views/confirmations/constants/signatures.ts
  app/components/Views/confirmations/hooks/useGetTokenStandardAndDetails.ts
  app/components/Views/confirmations/hooks/useTrackERC20WithoutDecimalInformation.ts
  app/components/Views/confirmations/utils/signature.test.ts
  app/components/Views/confirmations/utils/signature.ts
  app/components/Views/confirmations/utils/token.ts
  app/util/address/index.ts
  app/util/notifications/methods/common.test.ts
  app/util/notifications/methods/common.ts
  app/util/test/confirm-data-helpers.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13002 fix: fix old signature e2e by mocking launch darkly api
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  e2e/api-mocking/mock-config/mock-events.js
  e2e/api-specs/json-rpc-coverage.js
  e2e/specs/confirmations/signatures/ethereum-sign.spec.js
  e2e/specs/confirmations/signatures/personal-sign.spec.js
  e2e/specs/confirmations/signatures/security-alert-signatures.mock.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v3.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v4.spec.js
  e2e/specs/confirmations/signatures/typed-sign.spec.js
  jest.config.js
Labels: Run Smoke E2E, team-confirmations

#13027 fix: Fix disappearing security alert response
  app/reducers/transaction/index.js
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations

#12994 feat: Redesign Signature Decoding Simulation
  .js.env.example
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/Simulation.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/Static/Static.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/Static/index.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/index.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/NativeValueDisplay/NativeValueDisplay.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/NativeValueDisplay/index.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/index.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.tsx
  app/components/Views/confirmations/components/SignatureRequest/Root/Root.tsx
  app/components/Views/confirmations/hooks/useApprovalRequest.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/components/Views/confirmations/hooks/useTypedSignSimulationEnabled.ts
  app/components/Views/confirmations/utils/signature.test.ts
  app/components/Views/confirmations/utils/signature.ts
  app/core/AppConstants.ts
  app/core/Engine/Engine.ts
  app/selectors/currencyRateController.test.ts
  app/selectors/currencyRateController.ts
  app/util/number/index.js
  app/util/number/index.test.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13033 refactor: revert noBorder Ramp Box param and replace Ramp Box usage in SimulationValueDisplay with View
  app/components/UI/Ramp/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/Views/PaymentMethods/__snapshots__/PaymentMethods.test.tsx.snap
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/Views/Regions/__snapshots__/Regions.test.tsx.snap
  app/components/UI/Ramp/components/Box.tsx
Labels: Run Smoke E2E, team-confirmations

#13030 feat: "Unlimited" value Decoding Simulation and account and message modal UI/UX updates
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/Simulation.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.tsx
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.tsx
  app/components/Views/confirmations/utils/confirm.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13026 test: Redesign Signature Decoding Simulation
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV1/TypedSignV1.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/Simulation.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/Static/Static.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignPermit/TypedSignPermit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/NativeValueDisplay/NativeValueDisplay.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.test.tsx
  app/components/Views/confirmations/components/Confirm/NoChangeSimulation/NoChangeSimulation.test.tsx
  app/util/test/confirm-data-helpers.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13029 fix: Precision of BigNumber values of calcTokenAmount and Configure BigNumber to support 36 decimals
  app/components/UI/SimulationDetails/formatAmount.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.tsx
  app/util/number/index.js
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
Labels: Run Smoke E2E, team-confirmations

#12984 chore: Update assets and accounts packages
  app/components/UI/AccountFromToInfoCard/AccountFromToInfoCard.types.tsx
  app/components/UI/AccountSelectorList/AccountSelectorList.tsx
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.tsx
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/components/Views/EditAccountName/EditAccountName.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/index.test.tsx
  app/components/Views/Snaps/KeyringSnapRemovalWarning/KeyringSnapRemovalWarning.tsx
  app/components/Views/Snaps/SnapSettings/SnapSettings.tsx
  app/components/Views/Snaps/components/KeyringAccountListItem/KeyringAccountListItem.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/types.ts
  app/components/hooks/useAccounts/useAccounts.ts
  app/components/hooks/useAccounts/utils.ts
  app/components/hooks/useGetFormattedTokensPerChain.test.ts
  app/components/hooks/useGetFormattedTokensPerChain.tsx
  app/components/hooks/useGetTotalFiatBalanceCrossChains.test.ts
  app/components/hooks/useGetTotalFiatBalanceCrossChains.tsx
  app/core/Multichain/test/utils.test.ts
  app/core/Multichain/utils.ts
  app/core/SnapKeyring/BitcoinWalletSnap.ts
  app/core/SnapKeyring/SnapKeyring.test.ts
  app/selectors/accountsController.test.ts
  app/selectors/accountsController.ts
  app/store/migrations/036.test.ts
  app/store/migrations/036.ts
  app/store/migrations/042.ts
  app/store/migrations/066.test.ts
  app/store/migrations/066.ts
  app/store/validateMigration/accountsController.test.ts
  app/util/address/index.ts
  app/util/notifications/hooks/types.ts
  app/util/test/accountsControllerTestUtils.ts
  package.json
  patches/@metamask+assets-controllers+46.0.0.patch
  yarn.lock
Labels: team-accounts, INVALID-PR-TEMPLATE, Run Smoke E2E

#13039 chore: Scope PortfolioView feature flag to iOS devices only
  app/util/networks/index.js
Labels: team-assets, Run Smoke E2E

#13049 chore: Refactor whitelist inapp browser
  app/components/Views/BrowserTab/BrowserTab.tsx
  app/components/Views/BrowserTab/types.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13058 chore: Remove device constraint from isPortfolioViewEnabled feature flag
  app/util/networks/index.js
Labels: team-assets, Run Smoke E2E

#13064 chore: update app upgrade link
  bitrise.yml
Labels: No E2E Smoke Needed, area-qa, team-qa, release-7.38.0

#13077 fix: only send length of available_quotes
  app/components/UI/Swaps/QuotesView.js
Labels: No QA Needed, team-swaps

#12926 fix: ensure marketing consent is explicitly tracked as boolean
  app/components/UI/OptinMetrics/index.js
  app/components/UI/OptinMetrics/index.test.tsx
Labels: Run Smoke E2E, team-wallet-ux

#13041 feat: Decoding Simulation Metrics
  app/components/Views/confirmations/components/Confirm/SignatureBlockaidBanner/SignatureBlockaidBanner.test.tsx
  app/components/Views/confirmations/hooks/useSignatureMetrics.test.ts
  app/components/Views/confirmations/hooks/useSignatureMetrics.ts
  app/components/Views/confirmations/utils/signature.test.ts
  app/components/Views/confirmations/utils/signature.ts
  app/components/Views/confirmations/utils/signatureMetrics.test.ts
  app/components/Views/confirmations/utils/signatureMetrics.ts
Labels: Run Smoke E2E, team-confirmations

#13066 fix: apply migration 66
  app/store/migrations/index.ts
Labels: team-accounts, Run Smoke E2E

#13082 chore: add fiat value to token and sort desc by fiat
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Swaps/utils/token-list-utils.test.ts
  app/components/UI/Swaps/utils/token-list-utils.ts
Labels: team-swaps, Run Smoke E2E

#13072 fix: Fix `disabled` send button on sending `erc721` and `erc20`
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/core/NotificationManager.js
Labels: QA Passed, No E2E Smoke Needed, team-confirmations

#13113 chore: cherry-pick `13072`
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/core/NotificationManager.js
Labels: team-confirmations

#13092 fix: blockaid validations are not being flagged in re-designed signature request pages
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.styles.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/SignatureBlockaidBanner/SignatureBlockaidBanner.test.tsx
  app/components/Views/confirmations/components/Confirm/SignatureBlockaidBanner/SignatureBlockaidBanner.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.styles.ts
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/hooks/useSecurityAlertResponse.test.ts
  app/components/Views/confirmations/hooks/useSecurityAlertResponse.ts
  app/components/Views/confirmations/hooks/useSignatureMetrics.ts
  app/components/Views/confirmations/hooks/useSignatureRequest.test.ts
  app/components/Views/confirmations/hooks/useSignatureRequest.ts
  app/components/Views/confirmations/hooks/useTypedSignSimulationEnabled.ts
  app/components/Views/confirmations/selectors/security-alerts.test.ts
  app/components/Views/confirmations/selectors/security-alerts.ts
  app/components/Views/confirmations/utils/signatureMetrics.test.ts
  app/components/Views/confirmations/utils/signatureMetrics.ts
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
Labels: Run Smoke E2E, team-confirmations

#13115 cherrypick: blockaid validations are not being flagged in re-designed signature request pages
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.styles.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/SignatureBlockaidBanner/SignatureBlockaidBanner.test.tsx
  app/components/Views/confirmations/components/Confirm/SignatureBlockaidBanner/SignatureBlockaidBanner.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.styles.ts
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/hooks/useSecurityAlertResponse.test.ts
  app/components/Views/confirmations/hooks/useSecurityAlertResponse.ts
  app/components/Views/confirmations/hooks/useSignatureMetrics.ts
  app/components/Views/confirmations/hooks/useSignatureRequest.test.ts
  app/components/Views/confirmations/hooks/useSignatureRequest.ts
  app/components/Views/confirmations/hooks/useTypedSignSimulationEnabled.ts
  app/components/Views/confirmations/selectors/security-alerts.test.ts
  app/components/Views/confirmations/selectors/security-alerts.ts
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
Labels: Run Smoke E2E, team-confirmations

#13007 fix: tokens list to display with hideTokensWithoutBalance setting
  app/components/UI/Tokens/TokenList/index.tsx
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/styles.ts
  locales/languages/en.json
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#13108 feat: STAKE-927 build upsell banner component
  app/components/UI/Stake/components/UpsellBanner/UpsellBanner.styles.tsx
  app/components/UI/Stake/components/UpsellBanner/UpsellBanner.test.tsx
  app/components/UI/Stake/components/UpsellBanner/UpsellBanner.types.ts
  app/components/UI/Stake/components/UpsellBanner/UpsellBannerBody/UpsellBannerBody.styles.tsx
  app/components/UI/Stake/components/UpsellBanner/UpsellBannerBody/index.tsx
  app/components/UI/Stake/components/UpsellBanner/UpsellBannerHeader/UpsellBannerHeader.styles.tsx
  app/components/UI/Stake/components/UpsellBanner/UpsellBannerHeader/index.tsx
  app/components/UI/Stake/components/UpsellBanner/__snapshots__/UpsellBanner.test.tsx.snap
  app/components/UI/Stake/components/UpsellBanner/index.tsx
Labels: team-stake, Run Smoke E2E

#13097 fix: fix token list on network rpc selection
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.test.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.tsx
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#13119 fix: Fix Samsung freeze by reverting reanimated version and bump expo-dev-client
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: QA Passed, needs-dev-review, team-mobile-platform, Run Smoke E2E

#13126 fix: Fix assert e2e test for `Address advanced gas fees` test
  e2e/specs/confirmations/advanced-gas-fees.mock.spec.js
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#13128 chore: Cherry pick `13126`
  e2e/specs/confirmations/advanced-gas-fees.mock.spec.js
Labels: team-confirmations

#13129 test: Reverse TCP port for edit address test
  e2e/specs/wallet/edit-recipient-address.spec.js
Labels: No QA Needed, Run Smoke E2E, area-qa, team-qa

#13123 fix: fix token list on network rpc selection (#13097)
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.test.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.tsx
Labels: team-assets, Run Smoke E2E

#13110 chore: upgrade `@metamask/transaction-controller`
  package.json
  yarn.lock
Labels: team-accounts, Run Smoke E2E

#13132 Add primaryType field in signature metrics
  app/components/Views/confirmations/hooks/useSignatureMetrics.test.ts
  app/components/Views/confirmations/hooks/useSignatureMetrics.ts
  app/components/Views/confirmations/hooks/useTypedSignSimulationEnabled.ts
  app/components/Views/confirmations/utils/signature.test.ts
  app/components/Views/confirmations/utils/signature.ts
  app/util/test/confirm-data-helpers.ts
Labels: Run Smoke E2E, team-confirmations

#13084 chore: Token list performance measurement
  app/components/Nav/App/index.js
  app/components/UI/Tokens/index.tsx
  app/util/sentry/utils.js
  app/util/trace.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13139 fix: Hide simulation section in typed sign v1 pages
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV1/TypedSignV1.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV1/TypedSignV1.tsx
Labels: Run Smoke E2E, team-confirmations

#13147 cherrypick: Hide simulation section in typed sign v1 pages
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV1/TypedSignV1.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV1/TypedSignV1.tsx
Labels: team-confirmations

#13057 fix: fix holesky network balance included in aggregated balance on ma…
  app/selectors/tokensController.test.ts
  app/selectors/tokensController.ts
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#13059 test: deprecate gestures in helpers.js file
  e2e/helpers.js
  e2e/pages/Transactions/ActivitiesView.js
  e2e/pages/wallet/EditAccountNameView.js
  e2e/specs/accounts/change-account-name.spec.js
  e2e/specs/confirmations/send-eth.spec.js
  e2e/specs/wallet/edit-recipient-address.spec.js
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, area-qa

#13053 chore: Adding e2e test cases for signature pages
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfo.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Info/Shared/InfoRowOrigin/InfoRowOrigin.tsx
  app/components/Views/confirmations/components/Confirm/SignatureMessageSection/SignatureMessageSection.tsx
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.test.tsx
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoSection/InfoSection.tsx
  bitrise.yml
  e2e/pages/Browser/Confirmations/FooterActions.js
  e2e/pages/Browser/Confirmations/PageSections.js
  e2e/pages/Browser/Confirmations/RequestTypes.js
  e2e/selectors/Confirmation/ConfirmationView.selectors.js
  e2e/specs/confirmations-redesigned/signatures/signatures.spec.js
  e2e/tags.js
Labels: Run Smoke E2E, team-confirmations

#12627 feat: Enable feature Flag Values with Scope Based on "threshold"
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/RemoteFeatureFlagController/types.ts
  app/core/Engine/controllers/RemoteFeatureFlagController/utils.test.ts
  app/core/Engine/controllers/RemoteFeatureFlagController/utils.ts
  app/core/EngineService/EngineService.test.ts
  app/core/EngineService/EngineService.ts
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13075 chore: Add e2e tests for blockaid validations on re-designed signature request pages
  e2e/pages/Browser/Confirmations/SecurityAlerts.js
  e2e/specs/confirmations-redesigned/signatures/security-alerts.spec.js
  e2e/specs/confirmations-redesigned/signatures/signatures.spec.js
Labels: Run Smoke E2E, team-confirmations

#13146 fix: toast msg on deleted network
  app/components/Nav/Main/index.js
  locales/languages/en.json
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#13162 fix: token details network name
  app/components/Views/Asset/index.js
  app/components/Views/AssetDetails/AssetsDetails.test.tsx
  app/components/Views/AssetDetails/__snapshots__/AssetsDetails.test.tsx.snap
  app/components/Views/AssetDetails/index.tsx
  app/components/Views/AssetOptions/AssetOptions.test.tsx
  app/components/Views/AssetOptions/AssetOptions.tsx
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#13099 feat: add the ability for all networks to be pre-selected in the checkbox list on initial connect to a dapp.
  app/components/Views/AccountConnect/AccountConnect.tsx
  e2e/pages/Network/NetworkNonPemittedBottomSheet.js
  e2e/selectors/Network/NetworkNonPemittedBottomSheet.selectors.js
  e2e/specs/multichain/permissions/chains/permission-system-dapp-chain-switch-grant.spec.js
  e2e/specs/multichain/permissions/chains/permission-system-initial-connection.spec.js
  e2e/specs/multichain/permissions/chains/permission-system-remove.spec.js
Labels: Run Smoke E2E, team-wallet-ux

#13145 fix: User should be re-directed to old designs when signing using QR wallet
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/components/Views/confirmations/hooks/useQRHardwareAwareness.ts
Labels: Run Smoke E2E, team-confirmations

#13153 cherry-pick 7.39.0 fix: Flickering permit and decoding simulation values
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/Simulation.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignPermit/TypedSignPermit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/AnimatedPulse/AnimatedPulse.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/AnimatedPulse/AnimatedPulse.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/AnimatedPulse/index.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.tsx
  app/components/Views/confirmations/hooks/useGetTokenStandardAndDetails.test.ts
  app/components/Views/confirmations/hooks/useGetTokenStandardAndDetails.ts
Labels: team-confirmations

#13142 fix: setApprovalForAll nonce too low
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
Labels: QA Passed, Run Smoke E2E, team-confirmations

#13172 cherry-pick 7.39.0 feat: Decoding Simulation Metrics (#13167)
  app/components/Views/confirmations/components/Confirm/SignatureBlockaidBanner/SignatureBlockaidBanner.test.tsx
  app/components/Views/confirmations/hooks/useSignatureMetrics.test.ts
  app/components/Views/confirmations/hooks/useSignatureMetrics.ts
  app/components/Views/confirmations/utils/signature.test.ts
  app/components/Views/confirmations/utils/signature.ts
  app/components/Views/confirmations/utils/signatureMetrics.test.ts
  app/components/Views/confirmations/utils/signatureMetrics.ts
Labels: team-confirmations

#12955 refactor: remove global network usage from transaction confirmations
  .eslintrc.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/SimulationDetails/useBalanceChanges.test.ts
  app/components/UI/SimulationDetails/useBalanceChanges.ts
  app/components/Views/Settings/Contacts/index.js
  app/components/Views/confirmations/Approval/components/TransactionEditor/index.js
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/ApproveView/Approve/index.js
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/SendFlow/AddressElement/AddressElement.test.tsx
  app/components/Views/confirmations/SendFlow/AddressElement/AddressElement.tsx
  app/components/Views/confirmations/SendFlow/AddressElement/AddressElement.types.ts
  app/components/Views/confirmations/SendFlow/AddressFrom/AddressFrom.test.tsx
  app/components/Views/confirmations/SendFlow/AddressFrom/AddressFrom.tsx
  app/components/Views/confirmations/SendFlow/AddressFrom/AddressFrom.types.ts
  app/components/Views/confirmations/SendFlow/AddressList/AddressList.tsx
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/components/CustomGasModal/CustomGasModal.tsx
  app/components/Views/confirmations/SendFlow/Confirm/components/CustomGasModal/__snapshots__/CustomGasModal.test.tsx.snap
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/SendFlow/SendTo/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.tsx
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoExpanded/AccountNetworkInfoExpanded.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.tsx
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/EditGasFeeLegacyUpdate.test.tsx
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/index.tsx
  app/components/Views/confirmations/components/EditGasFeeLegacyUpdate/types.ts
  app/components/Views/confirmations/components/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewData/index.js
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewEIP1559/index.js
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/components/Views/confirmations/components/TypedSign/index.js
  app/components/Views/confirmations/components/UpdateEIP1559Tx/index.tsx
  app/selectors/currencyRateController.test.ts
  app/selectors/currencyRateController.ts
  app/selectors/networkController.ts
  app/selectors/tokenRatesController.ts
  app/util/test/confirm-data-helpers.ts
Labels: Run Smoke E2E, team-confirmations

#13118 fix: app opened event
  app/components/UI/Ramp/constants/index.ts
  app/components/UI/Ramp/hooks/useAnalytics.test.ts
  app/components/UI/Ramp/hooks/useAnalytics.ts
  app/core/Analytics/MetricsEventBuilder.test.ts
  app/core/Analytics/MetricsEventBuilder.ts
  app/core/AppStateEventListener.test.ts
  app/core/AppStateEventListener.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13135 feat: hide primary type displayed in collapsed message section if simulation is enabled
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.test.tsx
  app/components/Views/confirmations/components/Confirm/SignatureMessageSection/SignatureMessageSection.tsx
Labels: Run Smoke E2E, team-confirmations

#13177 fix: token details network name (#13162)
  app/components/Views/Asset/index.js
  app/components/Views/AssetDetails/AssetsDetails.test.tsx
  app/components/Views/AssetDetails/__snapshots__/AssetsDetails.test.tsx.snap
  app/components/Views/AssetDetails/index.tsx
  app/components/Views/AssetOptions/AssetOptions.test.tsx
  app/components/Views/AssetOptions/AssetOptions.tsx
Labels: team-assets, Run Smoke E2E

#12938 feat: MMPD-1528 - View recents and favorites in browser URL modal
  app/components/UI/BrowserUrlBar/__snapshots__/BrowserUrlBar.test.tsx.snap
  app/components/UI/UrlAutocomplete/Result.tsx
  app/components/UI/UrlAutocomplete/UrlAutocomplete.constants.ts
  app/components/UI/UrlAutocomplete/__snapshots__/index.test.js.snap
  app/components/UI/UrlAutocomplete/index.test.js
  app/components/UI/UrlAutocomplete/index.test.tsx
  app/components/UI/UrlAutocomplete/index.tsx
  app/components/UI/UrlAutocomplete/styles.ts
  app/components/UI/UrlAutocomplete/types.ts
  app/components/Views/BrowserTab/BrowserTab.tsx
  app/selectors/browser.ts
  app/util/dapp-url-list.js
  locales/languages/en.json
  package.json
  wdio/screen-objects/testIDs/BrowserScreen/UrlAutocomplete.testIds.ts
Labels: QA Passed, team-portfolio, Run Smoke E2E

#13183 test: remove AfterAll hook in e2e
  e2e/specs/wallet/edit-recipient-address.spec.js
Labels: No QA Needed, Run Smoke E2E, team-qa

#13181 test: fix flakiness while browser loads test dapp
  e2e/pages/Browser/BrowserView.js
  e2e/pages/Browser/TestDApp.js
  e2e/selectors/Browser/TestDapp.selectors.js
  e2e/specs/multichain/permission-system-summary-default-permissions.spec.js
  e2e/specs/multichain/permissions/chains/permission-system-add-non-permitted.spec.js
  e2e/specs/multichain/permissions/chains/permission-system-dapp-chain-switch-grant.spec.js
  e2e/specs/multichain/permissions/chains/permission-system-discard-changes.spec.js
  e2e/specs/multichain/permissions/chains/permission-system-initial-connection.spec.js
  e2e/utils/Assertions.js
  e2e/viewHelper.js
Labels: No QA Needed, Run Smoke E2E, team-qa

#13141 fix: fix edit network and delete network with tokenNetworkFilter
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.test.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/util/networks/index.js
Labels: QA Passed, team-assets, Run Smoke E2E

#13163 fix: removes runAfterInteractions call from OptinMetrics
  app/components/UI/OptinMetrics/index.js
Labels: Run Smoke E2E, team-wallet-ux

#13199 fix: failure to convert undefined value to hex object
  app/components/Views/DetectedTokens/components/Token.test.tsx
  app/components/Views/DetectedTokens/components/Token.tsx
  app/components/Views/DetectedTokens/components/__snapshots__/Token.test.tsx.snap
Labels: team-assets, Run Smoke E2E

#12509 fix: Type fixes and optimizations for `EngineService`, Redux store
  app/core/EngineService/EngineService.ts
  app/store/index.ts
Labels: type-tech-debt, team-mobile-platform, Run Smoke E2E, team-tiger

#13185 test: fix edit account regression test
  e2e/pages/wallet/EditAccountNameView.js
Labels: No QA Needed, Run Smoke E2E, area-qa

#13154 feat: STAKE-929 build token list item component
  app/components/UI/Stake/components/EarnTokenListItem/EarnTokenListItem.styles.tsx
  app/components/UI/Stake/components/EarnTokenListItem/EarnTokenListItem.test.tsx
  app/components/UI/Stake/components/EarnTokenListItem/EarnTokenListItem.types.ts
  app/components/UI/Stake/components/EarnTokenListItem/__snapshots__/EarnTokenListItem.test.tsx.snap
  app/components/UI/Stake/components/EarnTokenListItem/index.tsx
Labels: team-stake, Run Smoke E2E

#12909 fix: Change login in field.setValue to use optional operator
  app/component-library/components/Form/TextField/TextField.tsx
  app/component-library/components/Form/TextField/__snapshots__/TextField.test.tsx.snap
  app/component-library/components/Form/TextField/foundation/Input/Input.tsx
  app/component-library/components/Form/TextFieldSearch/__snapshots__/TextFieldSearch.test.tsx.snap
  app/components/Views/Login/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13214 test: Disable flakey e2e wallet edit-recipient-address.spec
  e2e/specs/quarantine/edit-recipient-address.failing.js
Labels: team-mobile-platform, Run Smoke E2E, team-qa

#13219 fix: Prevent extra dismissModal call after network selection
  app/components/Views/NetworkSelector/NetworkSelector.tsx
Labels: team-mobile-platform, Run Smoke E2E, team-wallet-ux

#12983 feat: `NftGrid` view
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContractInformation/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContractInformation/index.js
  app/components/UI/CollectibleContractInformation/index.test.tsx
  app/components/UI/CollectibleContractOverview/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContractOverview/index.js
  app/components/UI/CollectibleContractOverview/index.test.tsx
  app/components/UI/CollectibleContracts/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContracts/constants.ts
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.styles.ts
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.types.ts
  app/components/UI/NftGrid/NftGrid.styles.ts
  app/components/UI/NftGrid/NftGrid.test.tsx
  app/components/UI/NftGrid/NftGrid.tsx
  app/components/UI/NftGrid/NftGridEmpty.tsx
  app/components/UI/NftGrid/NftGridFooter.tsx
  app/components/UI/NftGrid/NftGridItem.tsx
  app/components/UI/NftGrid/index.tsx
  app/components/Views/Collectible/__snapshots__/index.test.tsx.snap
  app/components/Views/Collectible/index.js
  app/components/Views/Collectible/index.test.tsx
  app/components/Views/CollectibleView/index.js
  app/components/Views/Wallet/index.tsx
  e2e/pages/wallet/WalletView.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/assets/nft-details.spec.js
  e2e/specs/assets/nft-detection-modal.spec.js
Labels: team-assets, Run Smoke E2E

#13018 feat: add earn button to wallet actions
  app/components/UI/WalletAction/WalletAction.tsx
  app/components/UI/WalletAction/WalletAction.types.ts
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/core/Analytics/MetaMetrics.events.ts
  e2e/selectors/wallet/WalletActionsBottomSheet.selectors.js
  locales/languages/en.json
Labels: needs-dev-review, team-stake, Run Smoke E2E

#13088 feat: Ledger team request us to upgrade the @ledgerhq/hw-app-eth to 6.42.0 to fix ledger bug for EIP-712 content
  package.json
  patches/@ledgerhq+evm-tools+1.3.0.patch
  patches/@ledgerhq+hw-app-eth+6.42.2.patch
  yarn.lock
Labels: QA Passed, QA Regression Testing, team-hardware-wallets, Run Smoke E2E

#13228 fix: fix balance after swap
  app/core/NotificationManager.js
  e2e/specs/swaps/swap-token-chart.spec.js
Labels: team-assets, Run Smoke E2E

#13195 feat: Adding date field type in typed sign data tree
  app/components/Views/confirmations/components/Confirm/DataTree/DataField.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataTree.test.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataTree.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoDate/InfoDate.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoDate/InfoDate.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoDate/index.ts
  app/components/Views/confirmations/utils/date.test.ts
  app/components/Views/confirmations/utils/date.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#12971 fix: use asset ticker else asset.symbol for Price component header text
  app/components/UI/AssetOverview/Price/Price.test.tsx
  app/components/UI/AssetOverview/Price/Price.tsx
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
Labels: needs-dev-review, team-stake, Run Smoke E2E

#13200 fix: fix edit network and delete network with tokenNetworkFilter (#13…
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.test.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/util/networks/index.js
Labels: team-assets, Run Smoke E2E

#13231 fix: swaps button missing when no feature flags
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/Views/Asset/index.js
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.stories.tsx
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.test.tsx
  app/components/Views/AssetDetails/AssetDetailsActions/AssetDetailsActions.tsx
  app/components/Views/WalletActions/WalletActions.tsx
Labels: team-swaps, Run Smoke E2E

#13158 fix: move migration validation out of onPersistComplete
  app/store/index.ts
  app/store/migrations/index.test.ts
  app/store/migrations/index.ts
  app/store/persistConfig.ts
  app/store/validateMigration/validateMigration.test.ts
  app/store/validateMigration/validateMigration.ts
  app/util/sentry/__snapshots__/utils.test.ts.snap
  app/util/sentry/utils.js
  app/util/sentry/utils.test.ts
Labels: team-accounts, Run Smoke E2E

#13138 fix: mobile crash issue during swap with low gas
  app/components/Views/confirmations/Approval/index.js
Labels: Run Smoke E2E, team-confirmations

#13218 fix: fix send flow on token detail page
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  e2e/specs/confirmations/send-eth.spec.js
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#13247 feat: Adding text with tooltip component
  .storybook/storybook.requires.js
  app/components/Views/confirmations/components/BlockaidBanner/BlockaidBanner.types.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/NoChangeSimulation/NoChangeSimulation.test.tsx
  app/components/Views/confirmations/components/Confirm/NoChangeSimulation/NoChangeSimulation.tsx
  app/components/Views/confirmations/components/Confirm/NoChangeSimulation/index.ts
  app/components/Views/confirmations/components/UI/TextWithTooltip/TextWithTooltip.stories.tsx
  app/components/Views/confirmations/components/UI/TextWithTooltip/TextWithTooltip.styles.ts
  app/components/Views/confirmations/components/UI/TextWithTooltip/TextWithTooltip.test.tsx
  app/components/Views/confirmations/components/UI/TextWithTooltip/TextWithTooltip.tsx
  app/components/Views/confirmations/components/UI/TextWithTooltip/index.ts
  app/components/Views/confirmations/constants/signatures.ts
Labels: Run Smoke E2E, team-confirmations

#13232 fix(action): the next semver version can not be a patch version
  .github/scripts/get-next-semver-version.sh
Labels: No QA Needed, team-mobile-platform

#13244 chore: re-add staking actions when not on supported chain and switch to mainnet
  app/components/UI/Stake/components/StakingBalance/StakingBalance.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
Labels: team-stake, Run Smoke E2E

#13090 fix: Add fallback for undefined case when destructuring `isUpdatedAfterSecurityCheck`
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/ApproveView/Approve/index.js
Labels: team-mobile-platform, Run Smoke E2E, team-confirmations

#13243 chore: stable sync with main v7.38.1
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: No QA Needed, team-mobile-platform

#13262 fix: Fix the case of undefined `networkClientId` & `chainId`
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations

#13264 chore: cherry-pick `13262`
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
Labels: team-confirmations

#13198 feat(network): validate RPC URL for popular networks on add network from dapp connection
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.constants.ts
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.ff-on.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
Labels: Run Smoke E2E, team-wallet-ux

#13208 fix: update token balances on pull tokenlist pull down
  app/components/UI/Tokens/index.test.tsx
  app/components/UI/Tokens/index.tsx
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#13272 test: Added back ramps smoke tests to Bitrise
  bitrise.yml
Labels: Run Smoke E2E, team-qa

#13280 feat: shared-platform rls process
  .github/workflows/create-release-pr-v2.yml
  .gitignore
  CHANGELOG.md
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops

#13226 fix: metrics call during onboarding
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ManualBackupStep3/index.js
  app/components/Views/Onboarding/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13277 fix: fix sort feature
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.tsx
  e2e/pages/wallet/TokenSortBottomSheet.js
  e2e/pages/wallet/WalletView.js
  e2e/specs/assets/multichain/asset-sort.spec.js
  e2e/utils/Gestures.js
Labels: team-assets, Run Smoke E2E, needs-assets-ux-review

#13273 test: Add e2e for app restart after adding contact address
  e2e/specs/settings/addressbook-relaunch-app.spec.js
Labels: No QA Needed, Run Smoke E2E, team-qa

#12746 feat: add user earning history graph and list on history button click
  app/components/UI/AssetOverview/Balance/Balance.tsx
  app/components/UI/Stake/Views/StakeEarningsHistoryView/StakeEarningsHistoryView.styles.ts
  app/components/UI/Stake/Views/StakeEarningsHistoryView/StakeEarningsHistoryView.test.tsx
  app/components/UI/Stake/Views/StakeEarningsHistoryView/StakeEarningsHistoryView.tsx
  app/components/UI/Stake/Views/StakeEarningsHistoryView/StakeEarningsHistoryView.types.ts
  app/components/UI/Stake/Views/StakeEarningsHistoryView/__snapshots__/StakeEarningsHistoryView.test.tsx.snap
  app/components/UI/Stake/__mocks__/mockData.ts
  app/components/UI/Stake/components/GasImpactModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
  app/components/UI/Stake/components/StakingEarnings/StakingEarnings.test.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.constants.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.test.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.types.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.utils.test.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.utils.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistoryChart/StakingEarningsHistoryChart.styles.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistoryChart/StakingEarningsHistoryChart.test.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistoryChart/StakingEarningsHistoryChart.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistoryChart/StakingEarningsHistoryChart.types.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistoryChart/__snapshots__/StakingEarningsHistoryChart.test.tsx.snap
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistoryList/StakingEarningsHistoryList.styles.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistoryList/StakingEarningsHistoryList.test.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistoryList/StakingEarningsHistoryList.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistoryList/StakingEarningsHistoryList.types.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsTimePeriod/StakingEarningsTimePeriod.styles.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsTimePeriod/StakingEarningsTimePeriod.test.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsTimePeriod/StakingEarningsTimePeriod.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsTimePeriod/StakingEarningsTimePeriod.types.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistoryButton/StakingEarningsHistoryButton.test.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistoryButton/StakingEarningsHistoryButton.tsx
  app/components/UI/Stake/components/StakingEarnings/__snapshots__/StakingEarnings.test.tsx.snap
  app/components/UI/Stake/components/StakingEarnings/index.tsx
  app/components/UI/Stake/hooks/useStakingEarningsHistory.test.tsx
  app/components/UI/Stake/hooks/useStakingEarningsHistory.ts
  app/components/UI/Stake/routes/index.tsx
  app/components/UI/Stake/sdk/stakeSdkProvider.tsx
  app/components/UI/Stake/utils/date/index.test.ts
  app/components/UI/Stake/utils/date/index.ts
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/constants/navigation/Routes.ts
  app/util/testUtils/react-native-svg-charts.ts
  e2e/selectors/wallet/WalletView.selectors.js
  locales/languages/en.json
  package.json
  yarn.lock
Labels: needs-dev-review, team-stake, Run Smoke E2E

#13156 feat: allow override remote feature flags
  .js.env.example
  app/core/Engine/controllers/RemoteFeatureFlagController/utils.ts
  app/selectors/featureFlagController/index.ts
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#13223 feat: Adding token value field typed sign data tree.
  app/components/Views/confirmations/components/Confirm/DataTree/DataField.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataTree.test.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataTree.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/TokenValue/TokenValue.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/TokenValue/TokenValue.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/TokenValue/index.ts
  app/components/Views/confirmations/hooks/useTokenDecimalsInTypedSignRequest.test.ts
  app/components/Views/confirmations/hooks/useTokenDecimalsInTypedSignRequest.ts
  app/components/Views/confirmations/utils/signature.test.ts
  app/components/Views/confirmations/utils/signature.ts
  app/components/Views/confirmations/utils/signatures.test.ts
  app/components/Views/confirmations/utils/signatures.ts
Labels: Run Smoke E2E, team-confirmations

#13269 feat: update notification codeowners
  .github/CODEOWNERS
Labels: Run Smoke E2E, team-notifications

#13293 fix: bump @react-native-community/blur to v4.4.1
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13294 fix: Adjust browser display when multiple tabs are present
  app/components/Views/BrowserTab/BrowserTab.tsx
Labels: QA Passed, team-portfolio, No E2E Smoke Needed

#13283 fix: prev network eth swap send main branch
  app/components/UI/Swaps/index.js
  app/components/Views/confirmations/SendFlow/AddressFrom/AddressFrom.test.tsx
  app/components/Views/confirmations/SendFlow/AddressFrom/AddressFrom.tsx
Labels: team-swaps, Run Smoke E2E

#13279 fix: send max main branch
  app/components/Views/confirmations/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.js
Labels: team-swaps, Run Smoke E2E

#13303 chore: change cicd to commit ref hash
  .github/workflows/create-release-pr-v2.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops
