Repository MetaMask/metamask-mobile, pull requests merged in 2025-02, with the labels that each got.

#13313 fix: Currently keystone lib will throw `KeystoneError#Tx_canceled` which will crash the mobile app
  app/core/ErrorHandler/ErrorHandler.test.ts
  app/core/ErrorHandler/ErrorHandler.ts
Labels: needs-dev-review, team-hardware-wallets, Run Smoke E2E

#13317 feat: create release pr refs
  .github/workflows/create-release-pr-v2.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops

#13306 chore: apply changes from PR #13283 to 7.39.0 branch
  app/components/UI/Swaps/index.js
  app/components/Views/confirmations/SendFlow/AddressFrom/AddressFrom.test.tsx
  app/components/Views/confirmations/SendFlow/AddressFrom/AddressFrom.tsx
Labels: team-swaps, Run Smoke E2E

#13314 fix: SIWE detection on mobile by patching @spruceid+siwe-parser
  patches/@spruceid+siwe-parser+2.1.0.patch
Labels: Run Smoke E2E, team-confirmations

#13333 chore: Revert "fix: SIWE detection on mobile by patching @spruceid+siwe"
  patches/@spruceid+siwe-parser+2.1.0.patch
Labels: Run Smoke E2E, team-confirmations

#13315 fix: check isNative to determine if a token is a gas token
  app/components/Views/confirmations/SendFlow/Amount/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/utils/generic.test.ts
  app/components/Views/confirmations/utils/generic.ts
Labels: team-swaps, Run Smoke E2E, skip-sonar-cloud

#13341 feat: customize fetchInterval for remoteFeatureFlagController to 15min
  app/core/AppConstants.ts
  app/core/Engine/controllers/RemoteFeatureFlagController/types.ts
  app/core/Engine/controllers/RemoteFeatureFlagController/utils.test.ts
  app/core/Engine/controllers/RemoteFeatureFlagController/utils.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13109 chore: Bump selected-network-controller to v21
  package.json
  yarn.lock
Labels: No QA Needed, team-wallet-framework, No E2E Smoke Needed

#13331 feat: Implement confirm layout
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/Confirm/Confirm.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, skip-sonar-cloud

#13334 fix: SIWE detection on mobile by patching @spruceid+siwe-parser
  patches/@spruceid+siwe-parser+2.1.0.patch
Labels: Run Smoke E2E, team-confirmations

#13254 fix: update marketing traits when tracked settings change [PR 1/2]
  app/components/UI/OptinMetrics/index.js
  app/components/UI/OptinMetrics/index.test.tsx
  app/components/Views/ExperienceEnhancerModal/index.tsx
  app/components/Views/Settings/SecuritySettings/Sections/MetaMetricsAndDataCollectionSection/MetaMetricsAndDataCollectionSection.test.tsx
  app/components/Views/Settings/SecuritySettings/Sections/MetaMetricsAndDataCollectionSection/MetaMetricsAndDataCollectionSection.tsx
  app/core/AppStateEventListener.test.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/UserProfileAnalyticsMetaData.types.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.test.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E, area-attribution

#13359 fix: fiat estimates disabled in send flow
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.test.tsx
Labels: Run Smoke E2E, team-confirmations

#13347 refactor: utils/signature and deprecate utils/signatures
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.tsx
  app/components/Views/confirmations/hooks/useSignatureMetrics.ts
  app/components/Views/confirmations/hooks/useTokenDecimalsInTypedSignRequest.test.ts
  app/components/Views/confirmations/utils/signature.test.ts
  app/components/Views/confirmations/utils/signature.ts
  app/components/Views/confirmations/utils/signatures.test.ts
  app/components/Views/confirmations/utils/signatures.ts
Labels: Run Smoke E2E, team-confirmations

#13358 fix(cherry-pick 7.40.0): revert NFT grid view (#13292)
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/CollectibleContractElement/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContractElement/index.test.tsx
  app/components/UI/CollectibleContractInformation/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContractInformation/index.js
  app/components/UI/CollectibleContractInformation/index.test.tsx
  app/components/UI/CollectibleContractOverview/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContractOverview/index.js
  app/components/UI/CollectibleContractOverview/index.test.tsx
  app/components/UI/CollectibleContracts/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContracts/constants.ts
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/CollectibleContracts/index.test.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.styles.ts
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.types.ts
  app/components/UI/NftGrid/NftGrid.styles.ts
  app/components/UI/NftGrid/NftGrid.test.tsx
  app/components/UI/NftGrid/NftGrid.tsx
  app/components/UI/NftGrid/NftGridEmpty.tsx
  app/components/UI/NftGrid/NftGridFooter.tsx
  app/components/UI/NftGrid/NftGridItem.tsx
  app/components/UI/NftGrid/index.tsx
  app/components/Views/Collectible/__snapshots__/index.test.tsx.snap
  app/components/Views/Collectible/index.js
  app/components/Views/Collectible/index.test.tsx
  app/components/Views/CollectibleView/__snapshots__/index.test.tsx.snap
  app/components/Views/CollectibleView/index.js
  app/components/Views/CollectibleView/index.test.tsx
  app/components/Views/Wallet/index.tsx
  e2e/pages/wallet/WalletView.js
  e2e/selectors/wallet/TokenOverview.selectors.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/assets/nft-details.spec.js
  e2e/specs/assets/nft-detection-modal.spec.js
Labels: team-assets, Run Smoke E2E, skip-sonar-cloud

#13363 fix: use global network client Id in send confirmation screen
  app/components/Views/confirmations/SendFlow/Confirm/index.js
Labels: team-swaps, Run Smoke E2E

#13364 fix: Fix redesigned e2e tests
  app/components/Views/confirmations/Confirm/Confirm.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations

#13318 chore(ramp): upgrade ramp-sdk to @2.0.4
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/hooks/useQuotes.ts
  package.json
  yarn.lock
Labels: team-ramp, Run Smoke E2E

#13329 feat: SIWE signature related changes on personal signature page
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/Shared/InfoRowOrigin/InfoRowOrigin.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/Shared/InfoRowOrigin/InfoRowOrigin.tsx
  app/components/Views/confirmations/components/Confirm/SignatureMessageSection/SignatureMessageSection.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.test.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/Network.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/__snapshots__/Network.test.tsx.snap
  app/components/Views/confirmations/utils/signature.ts
  app/util/test/confirm-data-helpers.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#12831 chore(3663): removing the isMultichainVersion1Enabled feature flag, and corresponding dead code
  app/components/Approvals/SwitchChainApproval/SwitchChainApproval.tsx
  app/components/UI/NetworkModal/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.ff-on.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.test.tsx
  app/components/UI/NetworkVerificationInfo/NetworkVerificationInfo.tsx
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/SwitchCustomNetwork/__snapshots__/index.test.tsx.snap
  app/components/UI/SwitchCustomNetwork/index.js
  app/components/UI/SwitchCustomNetwork/index.test.tsx
  app/components/Views/AccountConnect/AccountConnect.test.tsx
  app/components/Views/AccountConnect/AccountConnect.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.styles.ts
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/__snapshots__/AccountConnect.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissions.ff-on.test.tsx
  app/components/Views/AccountPermissions/AccountPermissions.test.tsx
  app/components/Views/AccountPermissions/AccountPermissions.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/AccountPermissionsConfirmRevokeAll.test.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/AccountPermissionsConfirmRevokeAll.tsx
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/__snapshots__/AccountPermissionsConfirmRevokeAll.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissionsConnected/AccountPermissionsConnected.tsx
  app/components/Views/AccountPermissions/NetworkPermissionsConnected/NetworkPermissionsConnected.tsx
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.ff-on.test.tsx.snap
  app/components/Views/AccountPermissions/__snapshots__/AccountPermissions.test.tsx.snap
  app/components/Views/BrowserTab/BrowserTab.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.styles.ts
  app/components/Views/Settings/PermissionsSettings/PermissionsManager.tsx
  app/components/Views/Settings/index.test.tsx
  app/components/Views/Settings/index.tsx
  app/util/networks/index.js
Labels: Run Smoke E2E, team-wallet-ux

#13180 test: Add Stake e2e automation
  app/components/Base/StatusText.js
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/UnstakeBanner/UnstakeBanner.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
  app/components/UI/TransactionElement/index.js
  bitrise.yml
  e2e/pages/Stake/StakeConfirmView.js
  e2e/pages/Stake/StakeView.js
  e2e/pages/Transactions/ActivitiesView.js
  e2e/pages/wallet/TokenOverview.js
  e2e/pages/wallet/WalletView.js
  e2e/resources/networks.e2e.js
  e2e/selectors/Stake/StakeConfirmView.selectors.js
  e2e/selectors/Stake/StakeView.selectors.js
  e2e/selectors/Transactions/ActivitiesView.selectors.js
  e2e/selectors/wallet/TokenOverview.selectors.js
  e2e/selectors/wallet/WalletView.selectors.js
  e2e/specs/stake/stake-action-smoke.spec.js
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/tags.js
  e2e/viewHelper.js
Labels: team-stake, Run Smoke E2E, team-qa

#13381 chore: cleanup and deduplicate notification types and constants
  app/actions/notification/helpers/index.ts
  app/components/UI/Notification/List/index.test.tsx
  app/components/UI/Notification/List/index.tsx
  app/components/Views/Notifications/Details/Badge/index.test.tsx
  app/components/Views/Notifications/Details/Badge/index.tsx
  app/components/Views/Notifications/Details/Fields/NetworkFeeField.tsx
  app/components/Views/Notifications/Details/Fields/TransactionField.tsx
  app/components/Views/Notifications/Details/Fields/index.tsx
  app/components/Views/Notifications/Details/Footers/BlockExplorerFooter.tsx
  app/components/Views/Notifications/Details/Footers/index.tsx
  app/components/Views/Notifications/Details/index.test.tsx
  app/components/Views/Notifications/Details/index.tsx
  app/components/Views/Notifications/index.test.tsx
  app/components/Views/Notifications/index.tsx
  app/selectors/notifications/index.test.ts
  app/selectors/notifications/index.tsx
  app/util/notifications/constants/config.ts
  app/util/notifications/constants/index.ts
  app/util/notifications/constants/local-storage-keys.ts
  app/util/notifications/constants/triggers.ts
  app/util/notifications/hooks/index.ts
  app/util/notifications/hooks/types.ts
  app/util/notifications/hooks/useNotifications.test.tsx
  app/util/notifications/methods/common.ts
  app/util/notifications/notification-states/erc1155-sent-received/erc1155-sent-received.tsx
  app/util/notifications/notification-states/erc20-sent-received/erc20-sent-received.ts
  app/util/notifications/notification-states/erc721-sent-received/erc721-sent-received.tsx
  app/util/notifications/notification-states/eth-sent-received/eth-sent-received.tsx
  app/util/notifications/notification-states/feature-announcement/feature-announcement.tsx
  app/util/notifications/notification-states/index.test.tsx
  app/util/notifications/notification-states/lido-stake-ready-to-be-withdrawn/lido-stake-ready-to-be-withdrawn.tsx
  app/util/notifications/notification-states/lido-withdrawal-requested/lido-withdrawal-requested.tsx
  app/util/notifications/notification-states/node-guard.test.ts
  app/util/notifications/notification-states/node-guard.ts
  app/util/notifications/notification-states/stake/stake.tsx
  app/util/notifications/notification-states/swap-completed/swap-completed.tsx
  app/util/notifications/notification-states/types/NotificationState.ts
  app/util/notifications/services/NotificationService.ts
  app/util/notifications/types/featureAnnouncement/TypeAction.ts
  app/util/notifications/types/featureAnnouncement/TypeFeatureAnnouncement.ts
  app/util/notifications/types/featureAnnouncement/TypeLink.ts
  app/util/notifications/types/featureAnnouncement/index.ts
  app/util/notifications/types/halNotification/index.ts
  app/util/notifications/types/halNotification/schema.d.ts
  app/util/notifications/types/halTriggers/index.ts
  app/util/notifications/types/halTriggers/schema.d.ts
  app/util/notifications/types/index.ts
  app/util/notifications/types/notification/index.ts
Labels: team-assets, Run Smoke E2E

#13353 chore: adding e2e for SIWE signatures
  app/components/Views/confirmations/components/Confirm/Info/Shared/InfoRowOrigin/InfoRowOrigin.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.tsx
  e2e/api-mocking/mock-config/mock-events.js
  e2e/api-specs/json-rpc-coverage.js
  e2e/pages/Browser/Confirmations/PageSections.js
  e2e/selectors/Confirmation/ConfirmationView.selectors.js
  e2e/specs/confirmations-redesigned/signatures/security-alerts.spec.js
  e2e/specs/confirmations-redesigned/signatures/signatures.spec.js
  e2e/specs/confirmations/signatures/ethereum-sign.spec.js
  e2e/specs/confirmations/signatures/personal-sign.spec.js
  e2e/specs/confirmations/signatures/security-alert-signatures.mock.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v3.spec.js
  e2e/specs/confirmations/signatures/typed-sign-v4.spec.js
  e2e/specs/confirmations/signatures/typed-sign.spec.js
Labels: Run Smoke E2E, team-confirmations

#13335 feat(ramps): updates useQuotes interface to include some quotes metadata
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/hooks/useQuotes.test.ts
  app/components/UI/Ramp/hooks/useQuotes.ts
Labels: team-ramp, needs-ramp-qa, Run Smoke E2E

#13261 feat: QR hardware signing in new designs
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.tsx
  app/components/Views/confirmations/components/Confirm/Info/QRInfo/QRInfo.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/QRInfo/QRInfo.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/QRInfo/QRInfo.tsx
  app/components/Views/confirmations/components/Confirm/Info/QRInfo/index.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.test.tsx
  app/components/Views/confirmations/context/QRHardwareContext/QRHardwareContext.test.tsx
  app/components/Views/confirmations/context/QRHardwareContext/QRHardwareContext.tsx
  app/components/Views/confirmations/context/QRHardwareContext/useCamera.test.ts
  app/components/Views/confirmations/context/QRHardwareContext/useCamera.ts
  app/components/Views/confirmations/context/QRHardwareContext/useQRHardwareAwareness.test.ts
  app/components/Views/confirmations/context/QRHardwareContext/useQRHardwareAwareness.ts
  app/components/Views/confirmations/hooks/useConfirmActions.test.ts
  app/components/Views/confirmations/hooks/useConfirmActions.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13339 feat(ramp): sorts ramp quotes by price
  app/components/UI/Ramp/hooks/useQuotes.test.ts
  app/components/UI/Ramp/hooks/useQuotes.ts
  app/components/UI/Ramp/utils/index.test.ts
  app/components/UI/Ramp/utils/index.ts
Labels: team-ramp, Run Smoke E2E

#13270 feat: remove unused push notification environment variables
  .android.env.example
  .ios.env.example
  .js.env.example
Labels: No QA Needed, team-notifications

#12599 feat: MultichainBalanceController
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentage.stories.tsx
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentage.tsx
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentage.types.ts
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentageCrossChains.tsx
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentageCrossChains.types.tsx
  app/components/UI/NonEvmTokens/__snapshots__/index.test.tsx.snap
  app/components/UI/NonEvmTokens/index.test.tsx
  app/components/UI/NonEvmTokens/index.tsx
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.tsx
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/Tokens/TokenList/index.tsx
  app/components/UI/Tokens/__snapshots__/index.test.tsx.snap
  app/components/UI/Tokens/index.test.tsx
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/components/Views/Wallet/__snapshots__/index.test.tsx.snap
  app/components/Views/Wallet/index.tsx
  app/components/hooks/useMultichainBalances/index.ts
  app/components/hooks/useMultichainBalances/useMultichainBalances.test.ts
  app/components/hooks/useMultichainBalances/useMultichainBalances.ts
  app/components/hooks/useMultichainBalances/useMultichainBalances.types.ts
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/AccountsController/constants.ts
  app/core/Engine/controllers/AccountsController/utils.test.ts
  app/core/Engine/controllers/MultichainBalancesController/constants.ts
  app/core/Engine/controllers/MultichainBalancesController/utils.ts
  app/core/Engine/controllers/RatesController/constants.ts
  app/core/Engine/controllers/RatesController/subscriptions.ts
  app/core/Engine/controllers/RatesController/utils.ts
  app/core/Engine/controllers/SnapController/constants.ts
  app/core/Engine/types.ts
  app/core/EngineService/EngineService.test.ts
  app/core/Multichain/constants.ts
  app/core/Multichain/utils.ts
  app/core/Snaps/SnapsMethodMiddleware.ts
  app/core/Snaps/utils.ts
  app/selectors/multichain/evm.test.ts
  app/selectors/multichain/evm.ts
  app/selectors/multichain/index.ts
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichain/multichain.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/accountsControllerTestUtils.ts
  app/util/test/initial-background-state.json
Labels: team-accounts, Run Smoke E2E

#13407 build: add SENTRY_DEBUG_DEV ENV to turn off Sentry Logger
  .js.env.example
  app/util/sentry/utils.js
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations

#13361 feat: Implement redesigned staking confirmation entry point
  app/components/Approvals/TransactionApproval/TransactionApproval.test.tsx
  app/components/Approvals/TransactionApproval/TransactionApproval.tsx
  app/components/Approvals/TransactionApproval/__snapshots__/TransactionApproval.test.tsx.snap
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/index.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV1/TypedSignV1.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV1/TypedSignV1.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/TypedSignV3V4.tsx
  app/components/Views/confirmations/components/UI/BottomModal/BottomModal.tsx
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  app/components/Views/confirmations/hooks/useTransactionMetadataRequest.test.ts
  app/components/Views/confirmations/hooks/useTransactionMetadataRequest.ts
  app/selectors/featureFlagController/index.ts
  app/selectors/transactionController.ts
  app/util/test/confirm-data-helpers.ts
Labels: Run Smoke E2E, team-confirmations

#13379 chore(ramp): upgrades ramp-sdk to 2.0.5
  package.json
  yarn.lock
Labels: team-ramp, Run Smoke E2E

#13400 chore: Fix lint warnings output by `yarn lint:fix`
  app/components/UI/Ramp/components/PaymentMethodIcon.tsx
  app/components/Views/confirmations/Approval/components/TransactionEditor/index.js
  app/components/Views/confirmations/Approval/index.js
  app/components/Views/confirmations/ApproveView/Approve/index.js
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/SendFlow/SendTo/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/TransactionReviewInformation/index.js
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/core/NotificationsManager.test.ts
  app/core/SDKConnect/utils/isUUID.ts
  app/selectors/browser.ts
  app/util/notifications/services/NotificationService.ts
  e2e/pages/Send/SendView.js
  e2e/specs/confirmations/send-failing-contract.spec.js
  e2e/specs/stake/stake-action-smoke.spec.js
Labels: Run Smoke E2E, team-confirmations

#13397 feat(action): Improve bug report creation
  .github/scripts/add-release-label-to-pr-and-linked-issues.ts
  .github/scripts/check-template-and-add-labels.ts
  .github/scripts/create-bug-report-issue.ts
  .github/scripts/package.json
  .github/scripts/shared/issue.ts
  .github/scripts/shared/label.ts
  .github/scripts/shared/project.ts
  .github/scripts/shared/repo.ts
  .github/scripts/shared/utils.ts
  .github/workflows/create-bug-report.yml
Labels: No QA Needed, team-mobile-platform

#13416 feat: Implement staking back navigation header
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/FlatNavHeader/FlatNavHeader.styles.ts
  app/components/Views/confirmations/components/Confirm/FlatNavHeader/FlatNavHeader.test.tsx
  app/components/Views/confirmations/components/Confirm/FlatNavHeader/FlatNavHeader.tsx
  app/components/Views/confirmations/components/Confirm/FlatNavHeader/index.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
Labels: team-confirmations

#13418 feat: Implement staking deposit `TokenHero` component
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/components/Confirm/FlatNavHeader/FlatNavHeader.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.styles.ts
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.test.tsx
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.tsx
  app/components/Views/confirmations/components/Confirm/TokenHero/index.ts
  app/components/Views/confirmations/hooks/useTokenValues.test.ts
  app/components/Views/confirmations/hooks/useTokenValues.ts
  app/util/test/confirm-data-helpers.ts
Labels: No E2E Smoke Needed, team-confirmations

#13419 fix(action): indicate working directory
  .github/workflows/create-bug-report.yml
Labels: No QA Needed, team-extension-platform, team-mobile-platform

#12979 chore(deps): bump `elliptic` to `^6.6.0`
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#13425 fix(action): indicate working directory (again)
  .github/workflows/create-bug-report.yml
Labels: No QA Needed, team-extension-platform, team-mobile-platform

#13302 chore: Rename ControllerMessenger to Messenger
  app/core/Engine/controllers/RatesController/subscriptions.ts
  app/core/Engine/controllers/RemoteFeatureFlagController/utils.test.ts
  app/core/ExtendedControllerMessenger.ts
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/SnapKeyring/SnapKeyring.test.ts
  app/core/SnapKeyring/types.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
Labels: team-wallet-framework, Run Smoke E2E

#13413 fix: fix duplicate native entry after send flow
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
Labels: team-assets, Run Smoke E2E

#13460 chore: bump `@metamask/base-controller` to `^8.0.0`
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/AccountsController/utils.test.ts
  app/core/redux/slices/engine/index.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  package.json
  yarn.lock
Labels: team-wallet-framework, Run Smoke E2E

#13466 fix: Fix missing `networkClientId` on estimating gas
  app/components/Views/confirmations/SendFlow/Confirm/index.js
Labels: QA Passed, team-confirmations

#13442 fix(action): handle edge case of issue that can't be accessed by access token
  .github/scripts/shared/project.ts
Labels: No QA Needed, team-extension-platform, team-mobile-platform

#13467 chore: cherry-pick `13466`
  app/components/Views/confirmations/SendFlow/Confirm/index.js
Labels: team-confirmations

#13398 fix: Permit Simulation loader and value modal UI/UX
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/Static/Static.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignPermit/TypedSignPermit.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/NativeValueDisplay/NativeValueDisplay.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/NativeValueDisplay/NativeValueDisplay.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.tsx
Labels: No E2E Smoke Needed, team-confirmations, release-7.41.0

#13395 feat: remove unused package
  app/util/notifications/types/featureAnnouncement/index.ts
  package.json
  yarn.lock
Labels: team-assets, Run Smoke E2E

#13371 fix: simulation Fiat precision and Fiat flickers different value before decimals are applied
  app/components/UI/SimulationDetails/FiatDisplay/FiatDisplay.test.tsx
  app/components/UI/SimulationDetails/FiatDisplay/FiatDisplay.tsx
  app/components/UI/SimulationDetails/FiatDisplay/useFiatFormatter.test.ts
  app/components/UI/SimulationDetails/FiatDisplay/useFiatFormatter.ts
  app/components/UI/SimulationDetails/types.ts
  app/components/UI/SimulationDetails/useSimulationMetrics.test.ts
  app/components/UI/SimulationDetails/useSimulationMetrics.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/NativeValueDisplay/NativeValueDisplay.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.tsx
  app/components/Views/confirmations/hooks/useTokenValues.ts
Labels: Run Smoke E2E, team-confirmations

#13479 fix: typed sign message display in dark mode
  app/components/UI/SimulationDetails/FiatDisplay/FiatDisplay.tsx
  app/components/UI/SimulationDetails/FiatDisplay/useFiatFormatter.test.ts
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataField.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/QRInfo/QRInfo.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/NativeValueDisplay/NativeValueDisplay.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.styles.ts
  app/components/Views/confirmations/components/Confirm/SignatureMessageSection/SignatureMessageSection.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.tsx
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/__snapshots__/DisplayURL.test.tsx.snap
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoDate/InfoDate.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/Network.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/__snapshots__/Network.test.tsx.snap
  app/components/Views/confirmations/components/UI/TextWithTooltip/TextWithTooltip.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.tsx
  app/components/Views/confirmations/hooks/useTokenValues.ts
Labels: Run Smoke E2E, team-confirmations

#13501 fix(13491): update wallet creation flow styles
  app/components/Views/AccountBackupStep1/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountBackupStep1/index.js
  app/components/Views/AccountBackupStep1B/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountBackupStep1B/index.js
  app/components/Views/ChoosePassword/index.js
  app/components/Views/ManualBackupStep1/styles.ts
  app/components/Views/ManualBackupStep2/styles.ts
  app/components/Views/ManualBackupStep3/index.js
Labels: Run Smoke E2E, team-wallet-ux

#13430 feat: Add gas included swaps
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/__snapshots__/QuotesView.test.ts.snap
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/utils/index.js
  app/components/UI/Swaps/utils/index.test.js
  app/core/Engine/Engine.ts
  app/util/smart-transactions/index.test.ts
  app/util/smart-transactions/index.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, No E2E Smoke Needed, team-transactions, skip-sonar-cloud, release-7.41.0

#13506 ci: update trigger map
  bitrise.yml
Labels: team-qa

#11855 chore: refactor header for tokens
  app/component-library/components/BottomSheets/BottomSheetHeader/__snapshots__/BottomSheetHeader.test.tsx.snap
  app/component-library/components/HeaderBase/HeaderBase.test.tsx
  app/component-library/components/HeaderBase/HeaderBase.tsx
  app/component-library/components/HeaderBase/HeaderBase.types.ts
  app/component-library/components/HeaderBase/__snapshots__/HeaderBase.test.tsx.snap
  app/components/Base/RemoteImage/index.test.tsx
  app/components/UI/Navbar/index.js
  app/components/UI/Navbar/index.test.jsx
  app/components/UI/NetworkModal/__snapshots__/index.test.tsx.snap
  app/components/UI/NetworkVerificationInfo/__snapshots__/NetworkVerificationInfo.test.tsx.snap
  app/components/UI/Ramp/Views/NetworkSwitcher/__snapshots__/NetworkSwitcher.test.tsx.snap
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/SelectOptionSheet/__snapshots__/OptionSheet.test.tsx.snap
  app/components/UI/Stake/components/GasImpactModal/__snapshots__/GasImpactModal.test.tsx.snap
  app/components/UI/Stake/components/MaxInputModal/__snapshots__/MaxInputModal.test.tsx.snap
  app/components/UI/Stake/components/PoolStakingLearnMoreModal/__snapshots__/PoolStakingLearnMoreModal.test.tsx.snap
  app/components/Views/AccountPermissions/AccountPermissionsConfirmRevokeAll/__snapshots__/AccountPermissionsConfirmRevokeAll.test.tsx.snap
  app/components/Views/AccountSelector/__snapshots__/AccountSelector.test.tsx.snap
  app/components/Views/MultiRpcModal/__snapshots__/MultiRpcModal.test.tsx.snap
  app/components/Views/NFTAutoDetectionModal/__snapshots__/NFTAutoDetectionModal.test.tsx.snap
  app/components/Views/NetworkSelector/RpcSelectionModal/__snapshots__/RpcSelectionModal.test.tsx.snap
  app/components/Views/Settings/Contacts/AmbiguousAddressSheet/__snapshots__/AmbiguousAddressSheet.test.tsx.snap
  app/components/Views/ShowDisplayMediaNFTSheet/__snapshots__/ShowDisplayNFTMediaSheet.test.tsx.snap
  app/components/Views/ShowIpfsGatewaySheet/__snapshots__/ShowIpfsGatewaySheet.test.tsx.snap
  app/components/Views/ShowTokenIdSheet/__snapshots__/ShowTokenIdSheet.test.tsx.snap
  app/util/test/testSetup.js
  e2e/pages/Receive/PaymentRequestQrBottomSheet.js
  e2e/pages/Receive/RequestPaymentModal.js
  e2e/pages/Receive/SendLinkView.js
Labels: needs-dev-review, team-design-system, Run Smoke E2E

#13357 fix: IPFS gateway down in settings
  app/components/UI/SelectComponent/index.js
  app/components/Views/Settings/IPFSGatewaySettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/IPFSGatewaySettings/index.test.tsx
  app/components/Views/Settings/IPFSGatewaySettings/index.tsx
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13458 test: Modify Stake smoke test not to use default test account for funding
  .js.env.example
  e2e/specs/stake/stake-action-smoke.spec.js
Labels: Run Smoke E2E, team-qa

#12857 feat: enable STX by default with migration and notification
  app/components/UI/Swaps/QuotesView.js
  app/components/Views/confirmations/Approval/index.test.tsx
  app/components/Views/confirmations/ApproveView/Approve/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/index.js
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/components/Views/confirmations/SendFlow/Confirm/styles.ts
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
  app/components/Views/confirmations/components/ApproveTransactionReview/styles.ts
  app/components/Views/confirmations/components/SmartTransactionsMigrationBanner/SmartTransactionsMigrationBanner.styles.ts
  app/components/Views/confirmations/components/SmartTransactionsMigrationBanner/SmartTransactionsMigrationBanner.test.tsx
  app/components/Views/confirmations/components/SmartTransactionsMigrationBanner/SmartTransactionsMigrationBanner.tsx
  app/components/Views/confirmations/components/SmartTransactionsMigrationBanner/SmartTransactionsMigrationBanner.types.ts
  app/components/Views/confirmations/components/TransactionReview/index.js
  app/components/Views/confirmations/components/TransactionReview/index.test.tsx
  app/selectors/preferencesController.ts
  app/store/migrations/068.test.ts
  app/store/migrations/068.ts
  app/store/migrations/index.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations, team-transactions, release-7.41.0

#13509 test: Fixed swap chart test and remove bug workarounds
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
Labels: Run Smoke E2E, team-qa

#13503 fix(13492): background shapes animation stories and centering fix
  .storybook/storybook.requires.js
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Swaps/components/LoadingAnimation/ShapesBackgroundAnimation.stories.tsx
  app/components/UI/Swaps/components/LoadingAnimation/ShapesBackgroundAnimation.tsx
  app/components/UI/Swaps/components/LoadingAnimation/__snapshots__/index.test.tsx.snap
  app/components/UI/Swaps/components/LoadingAnimation/index.js
Labels: Run Smoke E2E, team-wallet-ux

#13514 test: remove old permission system test
  bitrise.yml
  e2e/specs/permission-systems/permission-system-revoking-multiple-accounts.spec.js
Labels: Run Smoke E2E, team-qa

#13461 feat: adding navigation to confirmation pages
  app/components/Nav/App/index.js
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/Confirm/ConfirmRoot.test.tsx
  app/components/Views/confirmations/Confirm/ConfirmRoot.tsx
  app/components/Views/confirmations/Confirm/index.ts
  app/components/Views/confirmations/components/Confirm/Info/Info.test.tsx
  app/components/Views/confirmations/context/QRHardwareContext/QRHardwareContext.test.tsx
  app/components/Views/confirmations/hooks/useConfirmActions.test.ts
  app/components/Views/confirmations/hooks/useConfirmActions.ts
  app/components/Views/confirmations/hooks/useFlatConfirmation.test.ts
  app/components/Views/confirmations/hooks/useFlatConfirmation.ts
  app/constants/navigation/Routes.ts
Labels: Run Smoke E2E, team-confirmations

#13473 fix: account tracker polling called twice
  patches/@metamask+assets-controllers+46.0.0.patch
Labels: QA Passed, team-assets, Run Smoke E2E

#13441 feat: update FCM and Notification Services to better support push impl
  app/selectors/notifications/index.test.ts
  app/selectors/notifications/index.tsx
  app/selectors/notifications/testUtils.ts
  app/util/notifications/hooks/index.test.tsx
  app/util/notifications/hooks/index.ts
  app/util/notifications/hooks/useRegisterPushNotificationsEffect.test.ts
  app/util/notifications/hooks/useRegisterPushNotificationsEffect.ts
  app/util/notifications/methods/common.test.ts
  app/util/notifications/methods/common.ts
  app/util/notifications/services/FCMService.test.ts
  app/util/notifications/services/FCMService.ts
  app/util/notifications/services/NotificationService.test.ts
  app/util/notifications/services/NotificationService.ts
  app/util/notifications/types/notification/index.ts
Labels: team-assets, Run Smoke E2E

#13518 cherry-pick: typed sign message display in dark mode (#13479)
  app/components/Views/confirmations/components/Confirm/AccountNetworkInfo/AccountNetworkInfoCollapsed/AccountNetworkInfoCollapsed.tsx
  app/components/Views/confirmations/components/Confirm/DataTree/DataField.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/NativeValueDisplay/NativeValueDisplay.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.styles.ts
  app/components/Views/confirmations/components/Confirm/SignatureMessageSection/SignatureMessageSection.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.tsx
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/__snapshots__/DisplayURL.test.tsx.snap
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/InfoDate/InfoDate.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/Network.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/Network/__snapshots__/Network.test.tsx.snap
  app/components/Views/confirmations/components/UI/TextWithTooltip/TextWithTooltip.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.tsx
Labels: team-confirmations, release-7.40.0

#13484 fix: cp-7.41.0 fix account selector balance
  app/components/hooks/useAccounts/useAccounts.ts
Labels: QA Passed, team-assets, Run Smoke E2E, needs-assets-ux-review

#13471 chore: bump detox version to 20.33.0
  android/app/build.gradle
  package.json
  scripts/build.sh
  yarn.lock
Labels: needs-dev-review, Run Smoke E2E, team-qa

#13513 fix: cp-7.41.0 fix main aggregated account balance
  app/selectors/tokensController.ts
Labels: QA Passed, team-assets, Run Smoke E2E, needs-assets-ux-review

#13530 fix: update plist to include CFBundleIconName for app icons
  ios/MetaMask/Info.plist
Labels: Run Smoke E2E, team-wallet-ux

#13543 fix: additional app icons and remove tint fields
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/120 2.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/120 3.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/128 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/128.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/136 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/136.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/192 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/192.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/MetaMask/Info.plist
Labels: Run Smoke E2E, team-wallet-ux

#13544 fix: additional app icons and remove tint fields
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/120 2.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/120 3.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/128 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/128.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/136 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/136.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/192 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/192.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/MetaMask/Info.plist
Labels: Run Smoke E2E, team-wallet-ux

#13475 feat: Implement staking details section
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/StakingDetails/StakingDetails.styles.ts
  app/components/Views/confirmations/components/Confirm/StakingDetails/StakingDetails.test.tsx
  app/components/Views/confirmations/components/Confirm/StakingDetails/StakingDetails.tsx
  app/components/Views/confirmations/components/Confirm/StakingDetails/index.ts
  app/components/Views/confirmations/hooks/useStakingDetails.test.ts
  app/components/Views/confirmations/hooks/useStakingDetails.ts
  e2e/selectors/Confirmation/ConfirmationView.selectors.js
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13554 chore: Fix dependency version
  package.json
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13258 feat: STAKE-898: build select token component for earn products
  app/components/UI/Stake/Views/StakeEarningsHistoryView/StakeEarningsHistoryView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.types.ts
  app/components/UI/Stake/Views/StakeInputView/__snapshots__/StakeInputView.test.tsx.snap
  app/components/UI/Stake/Views/StakeInputView/utils.test.ts
  app/components/UI/Stake/Views/StakeInputView/utils.ts
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.test.tsx
  app/components/UI/Stake/__mocks__/mockData.ts
  app/components/UI/Stake/components/EarnTokenList/EarnTokenList.styles.ts
  app/components/UI/Stake/components/EarnTokenList/EarnTokenList.test.tsx
  app/components/UI/Stake/components/EarnTokenList/__snapshots__/EarnTokenList.test.tsx.snap
  app/components/UI/Stake/components/EarnTokenList/index.tsx
  app/components/UI/Stake/components/EarnTokenListItem/EarnTokenListItem.types.ts
  app/components/UI/Stake/components/StakeButton/StakeButton.test.tsx
  app/components/UI/Stake/components/StakeButton/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.test.tsx
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.utils.test.ts
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistoryButton/StakingEarningsHistoryButton.test.tsx
  app/components/UI/Stake/constants/events.ts
  app/components/UI/Stake/routes/index.tsx
  app/components/UI/Stake/testUtils/index.ts
  app/components/UI/Stake/testUtils/testUtils.test.ts
  app/components/UI/Stake/testUtils/testUtils.types.ts
  app/components/UI/Stake/utils/token/index.ts
  app/components/UI/Stake/utils/token/token.test.ts
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/constants/navigation/Routes.ts
  app/core/Analytics/MetaMetrics.events.ts
  locales/languages/en.json
Labels: team-stake, Run Smoke E2E

#13528 chore: Core controllers v300
  app/components/UI/NonEvmTokens/index.test.tsx
  app/components/UI/NonEvmTokens/index.tsx
  app/components/Views/AddAccountActions/AddAccountActions.tsx
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/AccountsController/constants.ts
  app/core/Engine/controllers/AccountsController/utils.test.ts
  app/core/Engine/controllers/MultichainAssetsController/index.test.ts
  app/core/Engine/controllers/MultichainAssetsController/index.ts
  app/core/Engine/controllers/MultichainNetworkController/index.test.ts
  app/core/Engine/controllers/MultichainNetworkController/index.ts
  app/core/Engine/types.ts
  app/core/Multichain/constants.ts
  app/selectors/multichain/multichain.test.ts
  app/selectors/multichain/multichain.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  e2e/fixtures/fixture-builder.js
  package.json
  patches/@metamask+assets-controllers+50.0.0.patch
  yarn.lock
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13047 fix: remove supported chains check
  app/components/Views/confirmations/SendFlow/Confirm/index.test.tsx
  app/lib/ppom/ppom-util.test.ts
  app/lib/ppom/ppom-util.ts
  app/lib/ppom/security-alerts-api.test.ts
  app/lib/ppom/security-alerts-api.ts
  app/util/blockaid/index.test.ts
  app/util/blockaid/index.ts
  app/util/networks/index.js
  e2e/api-mocking/mock-config/mock-events.js
  e2e/specs/confirmations-redesigned/signatures/security-alerts.spec.js
  e2e/specs/confirmations/security-alert-send-eth.mock.js
  e2e/specs/confirmations/signatures/security-alert-signatures.mock.spec.js
Labels: Run Smoke E2E, team-confirmations

#13555 feat: Port first party staking contracts from extension to mobile
  app/constants/first-party-contracts.ts
Labels: Run Smoke E2E, team-confirmations

#13552 feat: Adding scroll button to confirmation pages
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.styles.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.styles.ts
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.test.tsx
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.tsx
  app/components/Views/confirmations/context/ScrollContext/index.js
Labels: QA Passed, Run Smoke E2E, team-confirmations, skip-sonar-cloud

#13573 fix: Reject transaction as user closes modal by swiping out
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/UI/BottomModal/BottomModal.tsx
  app/components/Views/confirmations/components/UI/ExpandableSection/ExpandableSection.tsx
Labels: Run Smoke E2E, team-confirmations

#13529 feat: bump notification services controller
  app/core/Engine/Engine.ts
  package.json
  yarn.lock
Labels: team-assets, Run Smoke E2E

#13401 test(3664): add unit tests for network permissions components
  app/components/UI/NetworkSelectorList/NetworkSelectorList.test.tsx
  app/components/UI/NetworkSelectorList/__snapshots__/NetworkSelectorList.test.tsx.snap
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.test.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/AccountConnectMultiSelector.tsx
  app/components/Views/AccountConnect/AccountConnectMultiSelector/__snapshots__/AccountConnectMultiSelector.test.tsx.snap
  app/components/Views/AccountPermissions/ConnectionDetails/ConnectionDetails.test.tsx
  app/components/Views/AccountPermissions/ConnectionDetails/__snapshots__/ConnectionDetails.test.tsx.snap
  app/components/Views/AccountPermissions/PermittedNetworksInfoSheet/PermittedNetworksInfoSheet.constants.ts
  app/components/Views/AccountPermissions/PermittedNetworksInfoSheet/PermittedNetworksInfoSheet.test.tsx
  app/components/Views/AccountPermissions/PermittedNetworksInfoSheet/PermittedNetworksInfoSheet.tsx
  app/components/Views/AccountPermissions/PermittedNetworksInfoSheet/__snapshots__/PermittedNetworksInfoSheet.test.tsx.snap
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.test.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/__snapshots__/NetworkConnectMultiSelector.test.tsx.snap
  app/components/Views/Settings/PermissionsSettings/PermissionsManager.test.tsx
  sonar-project.properties
Labels: Run Smoke E2E, team-wallet-ux

#13556 chore: Update setActiveNetwork function to be called from MultichainNetworkController
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/NetworkModal/index.test.tsx
  app/components/UI/NetworkModal/index.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.test.tsx
  app/components/UI/Ramp/Views/NetworkSwitcher/NetworkSwitcher.tsx
  app/components/UI/Stake/components/StakeButton/StakeButton.test.tsx
  app/components/UI/Stake/components/StakeButton/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.test.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/Views/NetworkConnect/NetworkConnectMultiSelector/NetworkConnectMultiSelector.tsx
  app/components/Views/NetworkSelector/NetworkSelector.test.tsx
  app/components/Views/NetworkSelector/NetworkSelector.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.test.tsx
  app/components/Views/NetworkSelector/RpcSelectionModal/RpcSelectionModal.tsx
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/components/Views/Settings/NetworksSettings/index.js
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/core/RPCMethods/lib/ethereum-chain-utils.js
  app/core/RPCMethods/wallet_addEthereumChain.js
  app/core/RPCMethods/wallet_addEthereumChain.test.js
  app/core/RPCMethods/wallet_switchEthereumChain.js
  app/core/RPCMethods/wallet_switchEthereumChain.test.js
  app/util/networks/handleNetworkSwitch.test.ts
  app/util/networks/handleNetworkSwitch.ts
  app/util/networks/index.test.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13404 feat: bridge feature routing skeleton
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/Bridge/index.js
  app/components/UI/Bridge/index.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
Labels: team-swaps, Run Smoke E2E, skip-sonar-cloud

#13111 feat: add tokens search discovery controller
  .github/CODEOWNERS
  app/components/hooks/useTokenSearchDiscovery/useTokenSearchDiscovery.test.ts
  app/components/hooks/useTokenSearchDiscovery/useTokenSearchDiscovery.ts
  app/core/Engine/Engine.ts
  app/core/Engine/constants.ts
  app/core/Engine/controllers/TokenSearchDiscoveryController/constants.ts
  app/core/Engine/controllers/TokenSearchDiscoveryController/index.ts
  app/core/Engine/controllers/TokenSearchDiscoveryController/types.ts
  app/core/Engine/controllers/TokenSearchDiscoveryController/utils.test.ts
  app/core/Engine/controllers/TokenSearchDiscoveryController/utils.ts
  app/core/Engine/types.ts
  app/core/EngineService/EngineService.test.ts
  app/selectors/tokenSearchDiscoveryController.test.ts
  app/selectors/tokenSearchDiscoveryController.ts
  app/selectors/types.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/initial-background-state.json
  package.json
  yarn.lock
Labels: team-portfolio, Run Smoke E2E

#13592 chore: sync 7.40.0 changelog and versions
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: team-mobile-platform

#13589 fix: update toLocaleString locale to undefined
  app/components/UI/Stake/components/StakingEarnings/StakingEarningsHistory/StakingEarningsHistory.utils.ts
Labels: team-stake, Run Smoke E2E

#13596 chore: bump test-dapp version to 9.0.0
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-qa

#13588 feat: Implement staking terms and disclosure footer
  app/components/Views/confirmations/components/Confirm/Footer/Footer.styles.ts
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/core/AppConstants.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13517 fix: Disable staking deposit for hw wallets
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
Labels: No E2E Smoke Needed, team-confirmations

#13455 test: ApproveView nonce to avoid nonce too low issue
  app/components/Views/confirmations/ApproveView/Approve/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/ApproveView/Approve/index.test.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/__snapshots__/index.test.tsx.snap
  app/components/Views/confirmations/components/ApproveTransactionReview/index.js
Labels: team-confirmations

#13600 fix: confirm scroll icon color and add scrollEventThrottle prop
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.tsx
Labels: team-confirmations

#13551 feat: Implement staking advanced details
  app/components/UI/Name/Name.tsx
  app/components/Views/confirmations/components/Confirm/AdvancedDetails/AdvancedDetails.styles.ts
  app/components/Views/confirmations/components/Confirm/AdvancedDetails/AdvancedDetails.test.tsx
  app/components/Views/confirmations/components/Confirm/AdvancedDetails/AdvancedDetails.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/InfoRowDivider/InfoRowDivider.styles.ts
  app/components/Views/confirmations/components/Confirm/InfoRowDivider/InfoRowDivider.test.tsx
  app/components/Views/confirmations/components/Confirm/InfoRowDivider/InfoRowDivider.tsx
  app/components/Views/confirmations/components/Confirm/InfoRowDivider/index.ts
  app/components/Views/confirmations/components/UI/InfoSectionAccordion/InfoSectionAccordion.styles.ts
  app/components/Views/confirmations/components/UI/InfoSectionAccordion/InfoSectionAccordion.test.tsx
  app/components/Views/confirmations/components/UI/InfoSectionAccordion/InfoSectionAccordion.tsx
  app/components/Views/confirmations/components/UI/InfoSectionAccordion/index.ts
  app/components/hooks/DisplayName/useDisplayName.test.ts
  app/components/hooks/DisplayName/useDisplayName.ts
  app/components/hooks/DisplayName/useFirstPartyContractNames.test.ts
  app/constants/first-party-contracts.ts
  app/images/branding/tiny-logo.png
  app/images/image-icons.js
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13486 feat: adds best rate quote tag to ramp quotes
  app/components/UI/Ramp/components/Quote/Quote.styles.ts
  app/components/UI/Ramp/components/Quote/Quote.test.tsx
  app/components/UI/Ramp/components/Quote/Quote.tsx
  locales/languages/en.json
Labels: team-ramp, needs-ramp-qa, Run Smoke E2E

#13610 chore: Bump deploy to bitrise step to 2.2.3
  bitrise.yml
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#13602 test: Fix Stake Claim smoke test flakiness on Android
  e2e/specs/stake/stake-action-smoke.spec.js
Labels: Run Smoke E2E, team-qa

#13594 fix: STAKE-946: fix inconsistent pooled staking reward rate
  app/components/UI/AssetOverview/Balance/index.test.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.test.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/__snapshots__/StakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/StakeInputView/__snapshots__/StakeInputView.test.tsx.snap
  app/components/UI/Stake/components/PoolStakingLearnMoreModal/__snapshots__/PoolStakingLearnMoreModal.test.tsx.snap
  app/components/UI/Stake/components/PoolStakingLearnMoreModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingEarnings/index.tsx
  app/components/UI/Stake/constants/events.ts
  app/components/UI/Stake/constants/index.ts
  app/components/UI/Stake/hooks/useStakingEarnings.test.tsx
  app/components/UI/Stake/hooks/useStakingEarnings.ts
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Stake/hooks/useVaultApyAverages.test.tsx
  app/components/UI/Stake/hooks/useVaultApyAverages.tsx
  app/core/redux/slices/staking/index.test.ts
  app/core/redux/slices/staking/index.ts
Labels: android, iOS, release-blocker, Sev2-normal, team-stake, Run Smoke E2E, release-7.41.0

#13612 chore: cherry-pick #13594 (feat: STAKE-934: integrate earn controller package into existing pooled staking hooks)
  app/components/UI/AssetOverview/Balance/index.test.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/StakeConfirmationView.test.tsx
  app/components/UI/Stake/Views/StakeConfirmationView/__snapshots__/StakeConfirmationView.test.tsx.snap
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/Views/StakeInputView/__snapshots__/StakeInputView.test.tsx.snap
  app/components/UI/Stake/components/PoolStakingLearnMoreModal/__snapshots__/PoolStakingLearnMoreModal.test.tsx.snap
  app/components/UI/Stake/components/PoolStakingLearnMoreModal/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/components/StakingEarnings/index.tsx
  app/components/UI/Stake/constants/events.ts
  app/components/UI/Stake/constants/index.ts
  app/components/UI/Stake/hooks/useStakingEarnings.test.tsx
  app/components/UI/Stake/hooks/useStakingEarnings.ts
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Stake/hooks/useVaultApyAverages.test.tsx
  app/components/UI/Stake/hooks/useVaultApyAverages.tsx
  app/core/redux/slices/staking/index.test.ts
  app/core/redux/slices/staking/index.ts
Labels: rc-cherry-picked

#13595 feat: add EarnTokenSelector component for stablecoin lending
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/components/EarnTokenList/EarnTokenList.test.tsx
  app/components/UI/Stake/components/EarnTokenList/index.tsx
  app/components/UI/Stake/components/EarnTokenSelector/EarnTokenSelector.styles.ts
  app/components/UI/Stake/components/EarnTokenSelector/EarnTokenSelector.test.tsx
  app/components/UI/Stake/components/EarnTokenSelector/__snapshots__/EarnTokenSelector.test.tsx.snap
  app/components/UI/Stake/components/EarnTokenSelector/index.tsx
  app/components/UI/Stake/hooks/useEarnTokenDetails.test.tsx
  app/components/UI/Stake/hooks/useEarnTokenDetails.ts
Labels: team-stake, Run Smoke E2E

#13271 feat: add better default style support for android push notifications
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/values-night/colors.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/qa/res/values-night/colors.xml
  android/app/src/qa/res/values/colors.xml
Labels: Run Smoke E2E, team-notifications

#13626 fix: accessibility issue with footer buttons
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.styles.ts
Labels: Run Smoke E2E, team-confirmations

#13562 fix(action): Improve bug report creation
  .github/scripts/create-bug-report-issue.ts
  .github/workflows/create-bug-report.yml
Labels: No QA Needed, team-extension-platform, team-mobile-platform, No E2E Smoke Needed

#13575 chore: Adding e2e for confirmation page scroll button
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.test.tsx
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.tsx
  e2e/pages/Browser/Confirmations/PageSections.js
  e2e/pages/Browser/TestDApp.js
  e2e/selectors/Browser/TestDapp.selectors.js
  e2e/selectors/Confirmation/ConfirmationView.selectors.js
  e2e/specs/confirmations-redesigned/signatures/confirm-scroll.spec.js
Labels: Run Smoke E2E, team-confirmations

#13628 fix: Confirm button should not be disabled for user to scroll to the bottom of confirmation page
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.test.tsx
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.tsx
Labels: Run Smoke E2E, team-confirmations, skip-sonar-cloud

#13636 fix: Disabling sentry capturing temporarily till we address issue with url missing protocol
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.tsx
Labels: Run Smoke E2E, team-confirmations

#13590 cp-7.41.0
  app/components/Views/confirmations/components/ApproveTransactionReview/styles.ts
  app/components/Views/confirmations/components/TransactionReview/index.js
Labels: Run Smoke E2E, team-confirmations, team-transactions, release-7.41.0, release-7.42.0

#13420 perf: Improve Snaps execution performance
  app/core/Encryptor/hmac.test.ts
  app/core/Encryptor/hmac.ts
  app/core/Encryptor/index.ts
  app/core/Engine/Engine.ts
  app/core/Permissions/specifications.test.js
  app/lib/snaps/SnapsExecutionWebView.test.tsx
  app/lib/snaps/SnapsExecutionWebView.tsx
  package.json
  patches/@metamask+post-message-stream+9.0.0.patch
  patches/@metamask+rpc-errors+7.0.2.patch
  yarn.lock
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform, skip-sonar-cloud

#13611 chore: Add Bridge component to Swaps team CODEOWNERS
  .github/CODEOWNERS
Labels: No QA Needed, team-swaps, team-bridge, No E2E Smoke Needed, skip-sonar-cloud, team-swaps-and-bridge

#13629 fix(action): revert recent change, due to impossibility to indicate working directory for reusable workflows from github-tools repo
  .github/workflows/create-bug-report.yml
Labels: No QA Needed, team-extension-platform, team-mobile-platform, No E2E Smoke Needed

#13065 feat: Refactor/12873 modular controller init
  .github/CODEOWNERS
  app/core/Engine/Engine.ts
  app/core/Engine/README.md
  app/core/Engine/constants.ts
  app/core/Engine/controllers/AccountsController/constants.ts
  app/core/Engine/controllers/AccountsController/utils.test.ts
  app/core/Engine/controllers/AccountsController/utils.ts
  app/core/Engine/controllers/accounts-controller/constants.ts
  app/core/Engine/controllers/accounts-controller/index.test.ts
  app/core/Engine/controllers/accounts-controller/index.ts
  app/core/Engine/controllers/accounts-controller/utils.test.ts
  app/core/Engine/controllers/accounts-controller/utils.ts
  app/core/Engine/controllers/remote-feature-flag-controller/index.ts
  app/core/Engine/controllers/remote-feature-flag-controller/types.ts
  app/core/Engine/controllers/remote-feature-flag-controller/utils.test.ts
  app/core/Engine/controllers/remote-feature-flag-controller/utils.ts
  app/core/Engine/messengers/accounts-controller-messenger/index.ts
  app/core/Engine/messengers/accounts-controller-messenger/types.ts
  app/core/Engine/messengers/index.ts
  app/core/Engine/types.ts
  app/core/Engine/utils/index.ts
  app/core/Engine/utils/test-utils.ts
  app/core/Engine/utils/utils.test.ts
  app/core/Engine/utils/utils.ts
  app/core/Snaps/utils.ts
  app/selectors/featureFlagController/index.ts
  app/util/smart-transactions/index.test.ts
  app/util/smart-transactions/index.ts
  babel.config.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13654 chore: Update Engine controller readme for assigning codeowners
  app/core/Engine/README.md
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#13631 feat: Migrate tooltips to use BottomModal components
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/UI/BottomModal/BottomModal.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoRow.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.styles.ts
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.tsx
Labels: Run Smoke E2E, team-confirmations

#13402 feat: Add support for ledger wallet in new signature designs
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.test.tsx
  app/components/Views/confirmations/components/Confirm/Footer/Footer.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.tsx
  app/components/Views/confirmations/components/Confirm/Info/QRInfo/QRInfo.tsx
  app/components/Views/confirmations/components/Confirm/LedgerSignModal/LedgerSignModal.styles.ts
  app/components/Views/confirmations/components/Confirm/LedgerSignModal/LedgerSignModal.test.tsx
  app/components/Views/confirmations/components/Confirm/LedgerSignModal/LedgerSignModal.tsx
  app/components/Views/confirmations/components/Confirm/LedgerSignModal/index.ts
  app/components/Views/confirmations/context/LedgerContext/LedgerContext.test.tsx
  app/components/Views/confirmations/context/LedgerContext/LedgerContext.tsx
  app/components/Views/confirmations/context/LedgerContext/index.js
  app/components/Views/confirmations/context/QRHardwareContext/index.js
  app/components/Views/confirmations/hooks/useConfirmActions.test.ts
  app/components/Views/confirmations/hooks/useConfirmActions.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.test.ts
  app/components/Views/confirmations/hooks/useConfirmationRedesignEnabled.ts
  locales/languages/en.json
Labels: QA Passed, Run Smoke E2E, team-confirmations

#13637 fix: cp-7.41.0 Prevent flickering on `RetryModal`
  app/components/UI/Transactions/index.js
  app/components/Views/Asset/__snapshots__/index.test.js.snap
Labels: QA Passed, Run Smoke E2E, team-confirmations

#13634 feat: Implement `GasFeeDetails`
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/GasFeesDetails/GasFeesDetails.styles.ts
  app/components/Views/confirmations/components/Confirm/Info/GasFeesDetails/GasFeesDetails.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/GasFeesDetails/GasFeesDetails.tsx
  app/components/Views/confirmations/components/Confirm/Info/GasFeesDetails/index.ts
  app/components/Views/confirmations/components/Confirm/Info/Info.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/StakingDetails/index.ts
  app/components/Views/confirmations/hooks/useEIP1559TxFees.test.ts
  app/components/Views/confirmations/hooks/useEIP1559TxFees.ts
  app/components/Views/confirmations/hooks/useFeeCalculations.test.ts
  app/components/Views/confirmations/hooks/useFeeCalculations.ts
  app/components/Views/confirmations/hooks/useGasFeeEstimates.test.ts
  app/components/Views/confirmations/hooks/useGasFeeEstimates.ts
  app/components/Views/confirmations/hooks/useStakingDetails.ts
  app/components/Views/confirmations/hooks/useSupportsEIP1559.test.ts
  app/components/Views/confirmations/hooks/useSupportsEIP1559.ts
  app/selectors/gasFeeController.ts
  app/selectors/networkController.ts
  app/util/conversions.js
  app/util/conversions.test.js
  app/util/test/confirm-data-helpers.ts
Labels: Run Smoke E2E

#13647 feat: refactor cleanup notification hooks and UI
  app/actions/notification/helpers/index.test.tsx
  app/actions/notification/helpers/index.ts
  app/components/UI/Notification/List/index.test.tsx
  app/components/UI/Notification/ResetNotificationsModal/index.tsx
  app/components/Views/Notifications/Details/index.test.tsx
  app/components/Views/Notifications/Details/index.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.hooks.test.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.hooks.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.test.tsx
  app/components/Views/Settings/NotificationsSettings/AccountsList.tsx
  app/components/Views/Settings/NotificationsSettings/CustomNotificationsRow/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/CustomNotificationsRow/index.test.tsx
  app/components/Views/Settings/NotificationsSettings/CustomNotificationsRow/index.tsx
  app/components/Views/Settings/NotificationsSettings/FeatureAnnouncementToggle.test.tsx
  app/components/Views/Settings/NotificationsSettings/FeatureAnnouncementToggle.tsx
  app/components/Views/Settings/NotificationsSettings/MainNotificationToggle.hooks.test.tsx
  app/components/Views/Settings/NotificationsSettings/MainNotificationToggle.hooks.tsx
  app/components/Views/Settings/NotificationsSettings/MainNotificationToggle.test.tsx
  app/components/Views/Settings/NotificationsSettings/MainNotificationToggle.tsx
  app/components/Views/Settings/NotificationsSettings/NotificationOptionToggle/index.tsx
  app/components/Views/Settings/NotificationsSettings/ResetNotificationsButton.test.tsx
  app/components/Views/Settings/NotificationsSettings/ResetNotificationsButton.tsx
  app/components/Views/Settings/NotificationsSettings/__snapshots__/AccountsList.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/NotificationsSettings/index.tsx
  app/components/Views/Settings/NotificationsSettings/notificationsRows.ts
  app/components/Views/Settings/NotificationsSettings/useToggleNotifications.test.tsx
  app/components/Views/Settings/NotificationsSettings/useToggleNotifications.ts
  app/core/Engine/controllers/Notifications/create-push-message.ts
  app/core/Engine/controllers/Notifications/push-utils.ts
  app/util/notifications/hooks/types.ts
  app/util/notifications/hooks/useNotifications.test.tsx
  app/util/notifications/hooks/useNotifications.ts
  app/util/notifications/hooks/usePushNotifications.test.ts
  app/util/notifications/hooks/usePushNotifications.ts
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/notifications/hooks/useSwitchNotifications.ts
  app/util/notifications/hooks/useUpdateAccountSetting.test.tsx
  app/util/notifications/hooks/useUpdateAccountSetting.tsx
  app/util/notifications/methods/common.ts
  app/util/notifications/services/NotificationService.ts
Labels: team-assets, Run Smoke E2E

#13639 fix: cp-7.41.0 Temporarily revert gas included swaps
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/Swaps/QuotesView.js
  app/components/UI/Swaps/__snapshots__/QuotesView.test.ts.snap
  app/components/UI/Swaps/index.js
  app/components/UI/Swaps/utils/index.js
  app/components/UI/Swaps/utils/index.test.js
  app/core/Engine/Engine.ts
  app/util/smart-transactions/index.test.ts
  app/util/smart-transactions/index.ts
  app/util/smart-transactions/smart-publish-hook.test.ts
  app/util/smart-transactions/smart-publish-hook.ts
  locales/languages/en.json
Labels: No QA Needed, No E2E Smoke Needed, team-transactions, skip-sonar-cloud, regression-RC-7.41.0

#13670 chore: Assign platform team as codeowners to Engine files
  .github/CODEOWNERS
Labels: No QA Needed, needs-dev-review, team-mobile-platform

#13534 feat: Limit Segment tracked events to only random 1% of users
  app/core/Analytics/MetaMetrics.test.ts
  app/core/Analytics/MetaMetrics.ts
  app/core/Analytics/MetaMetrics.types.ts
  app/core/Engine/Engine.ts
  package.json
  yarn.lock
Labels: team-mobile-platform, Run Smoke E2E

#13657 fix: swaps using hardware wallets or QR scan wallets are broken
  package.json
  yarn.lock
Labels: team-confirmations

#13681 fix: origin url displayed for signatures
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/Shared/InfoRowOrigin/InfoRowOrigin.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.tsx
Labels: Run Smoke E2E, team-confirmations

#13692 fix: origin url displayed for signatures
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/Message.tsx
  app/components/Views/confirmations/components/Confirm/Info/PersonalSign/PersonalSign.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/Shared/InfoRowOrigin/InfoRowOrigin.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.test.tsx
  app/components/Views/confirmations/components/UI/InfoRow/InfoValue/DisplayURL/DisplayURL.tsx
Labels: team-confirmations

#13598 fix: cp-7.41.0 Handle better errors by getting tags in pre-init
  app/util/sentry/tags/index.test.ts
  app/util/sentry/tags/index.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13663 fix: hide simulation button pill value if no value loaded
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/components/ValueDisplay/ValueDisplay.tsx
Labels: team-confirmations

#13665 fix: TypedSignDecoded revoke state changes should show "Revoke" not "Spending cap"
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/TypedSignV3V4/Simulation/TypedSignDecoded/TypedSignDecoded.tsx
Labels: team-confirmations

#13690 fix: `@metamask/transaction-controller` version to exact `45.0.0`
  app/core/Engine/Engine.ts
  package.json
  yarn.lock
Labels: Run Smoke E2E, team-confirmations

#13695 cherry-pick: @metamask/transaction-controller version to exact 45.0.0
  app/core/Engine/Engine.ts
  package.json
  yarn.lock
Labels: team-confirmations

#13468 feat: publish slack release testing status
  .github/workflows/create-release-pr-v2.yml
  .github/workflows/publish-slack-release-testing-status.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops

#13597 fix: cp-7.41.0 implement transparent app icons for improved dark/light mode handling
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/100.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/1024 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/1024.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/114 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/114.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/120 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/120 2.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/120 3.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/120.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/128 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/128.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/136 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/136.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/144.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/152 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/152.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/167 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/167.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/180 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/180.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/192 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/192.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/20.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/29.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/40 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/40.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/50.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/57.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/58 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/58.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/60 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/60.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/72.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/76 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/76.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/80 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/80.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/87 1.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/87.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/MetaMask/Info.plist
Labels: Run Smoke E2E, team-wallet-ux

#13699 chore: upgrade shared workflow refs slack
  .github/workflows/publish-slack-release-testing-status.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops

#13689 fix: cp-7.41.0 support NFT collectibles that have multiple images
  app/components/UI/CollectibleMedia/CollectibleMedia.test.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.tsx
  app/components/UI/CollectibleMedia/CollectibleMedia.types.ts
  app/util/get-nft-image.test.ts
  app/util/get-nft-image.ts
Labels: team-assets, Run Smoke E2E

#13680 fix: Remove scroll button from confirmation page
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/Confirm/Confirm.tsx
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.styles.ts
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.test.tsx
  app/components/Views/confirmations/context/ScrollContext/ScrollContext.tsx
  app/components/Views/confirmations/context/ScrollContext/index.js
  e2e/pages/Browser/Confirmations/PageSections.js
  e2e/selectors/Confirmation/ConfirmationView.selectors.js
  e2e/specs/confirmations-redesigned/signatures/confirm-scroll.spec.js
Labels: Run Smoke E2E, team-confirmations

#13550 feat: Support standalone confirmation for re-redesigned confirmations
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.tsx
  app/components/UI/Stake/routes/index.tsx
  app/components/Views/confirmations/Confirm/Confirm.test.tsx
  app/components/Views/confirmations/Confirm/ConfirmRoot.test.tsx
  app/components/Views/confirmations/Confirm/ConfirmRoot.tsx
  app/components/Views/confirmations/components/Confirm/Info/Info.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/Navbar.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/Navbar.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/StakingDeposit/StakingDeposit.tsx
  app/components/Views/confirmations/components/Confirm/Title/Title.tsx
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.styles.ts
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.tsx
  app/components/Views/confirmations/hooks/useFlatConfirmation.ts
  app/components/Views/confirmations/hooks/useStandaloneConfirmation.test.ts
  app/components/Views/confirmations/hooks/useStandaloneConfirmation.ts
  app/constants/navigation/Routes.ts
Labels: Run Smoke E2E, team-confirmations

#13711 fix: Revert native HMACSHA512 usage
  app/core/Encryptor/hmac.test.ts
  app/core/Encryptor/hmac.ts
  app/core/Encryptor/index.ts
  app/core/Engine/Engine.ts
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#13668 feat: More Snaps UI components
  app/component-library/components-temp/Snaps/ConfirmInfoRowValueDouble/ConfirmInfoRowValueDouble.tsx
  app/components/Snaps/SnapDialogApproval/SnapsDialogApproval.tsx
  app/components/Snaps/SnapUIButton/SnapUIButton.tsx
  app/components/Snaps/SnapUICard/SnapUICard.tsx
  app/components/Snaps/SnapUICheckbox/SnapUICheckbox.tsx
  app/components/Snaps/SnapUIFooterButton/SnapUIFooterButton.test.tsx
  app/components/Snaps/SnapUIFooterButton/SnapUIFooterButton.tsx
  app/components/Snaps/SnapUIRenderer/SnapUIRenderer.test.tsx
  app/components/Snaps/SnapUIRenderer/SnapUIRenderer.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/components/box.test.ts
  app/components/Snaps/SnapUIRenderer/components/button.ts
  app/components/Snaps/SnapUIRenderer/components/checkbox.ts
  app/components/Snaps/SnapUIRenderer/components/container.test.ts
  app/components/Snaps/SnapUIRenderer/components/container.ts
  app/components/Snaps/SnapUIRenderer/components/field.ts
  app/components/Snaps/SnapUIRenderer/components/footer.test.ts
  app/components/Snaps/SnapUIRenderer/components/footer.ts
  app/components/Snaps/SnapUIRenderer/components/form.ts
  app/components/Snaps/SnapUIRenderer/components/heading.test.ts
  app/components/Snaps/SnapUIRenderer/components/icon.test.ts
  app/components/Snaps/SnapUIRenderer/components/icon.ts
  app/components/Snaps/SnapUIRenderer/components/image.ts
  app/components/Snaps/SnapUIRenderer/components/index.ts
  app/components/Snaps/SnapUIRenderer/components/input.ts
  app/components/Snaps/SnapUIRenderer/components/section.ts
  app/components/Snaps/SnapUIRenderer/components/text.test.ts
  app/components/Snaps/SnapUIRenderer/components/text.ts
  app/components/Snaps/SnapUIRenderer/components/types.ts
  app/components/Snaps/SnapUIRenderer/utils.test.ts
  app/components/Snaps/SnapUIRenderer/utils.ts
  app/components/UI/Box/Box.tsx
  app/components/UI/FormTextField/FormTextField.types.ts
  app/components/UI/FormTextField/index.test.tsx
  app/components/UI/FormTextField/index.tsx
  app/components/UI/FormTextField/text-field-types.ts
  app/components/UI/Snaps/SnapUIImage/SnapUIImage.tsx
  app/components/UI/Snaps/SnapUIInput/SnapUIInput.test.tsx
  app/components/UI/Snaps/SnapUIInput/SnapUIInput.tsx
  app/components/UI/Snaps/SnapUILink/SnapUILink.tsx
  app/components/UI/TemplateRenderer/SafeComponentList.ts
  app/components/UI/TemplateRenderer/TemplateRenderer.tsx
  app/components/UI/TemplateRenderer/types.ts
Labels: INVALID-PR-TEMPLATE, team-snaps-platform

#13483 feat: add `AlertModal` component
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.styles.ts
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.tsx
  app/components/Views/confirmations/AlertSystem/AlertModal/index.ts
  app/components/Views/confirmations/types/alerts.ts
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13717 cherry-pick: accessibility issue with footer buttons
  app/components/Views/confirmations/Confirm/Confirm.styles.ts
  app/components/Views/confirmations/Confirm/Confirm.tsx
Labels: team-confirmations

#13715 chore: Revert "feat: Limit Segment tracked events to only random 1% of users"
  app/core/Analytics/MetaMetrics.test.ts
  app/core/Analytics/MetaMetrics.ts
  app/core/Analytics/MetaMetrics.types.ts
Labels: needs-dev-review, team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#13714 fix: cp-7.41.0 13708 fix the submitQRSignature scope issue
  app/components/Views/confirmations/components/Confirm/Info/QRInfo/QRInfo.test.tsx
  app/components/Views/confirmations/components/Confirm/Info/QRInfo/QRInfo.tsx
Labels: QA Passed, team-hardware-wallets, Run Smoke E2E, team-confirmations

#13724 fix: app store icon
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/1024.png
  ios/MetaMask/Images.xcassets/AppIcon.appiconset/Contents.json
Labels: team-wallet-ux

#13712 feat: Implement Snaps address UI components
  app/components/Snaps/SnapUIButton/SnapUIButton.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/components/address.ts
  app/components/Snaps/SnapUIRenderer/components/avatar.ts
  app/components/Snaps/SnapUIRenderer/components/box.test.ts
  app/components/Snaps/SnapUIRenderer/components/box.ts
  app/components/Snaps/SnapUIRenderer/components/button.ts
  app/components/Snaps/SnapUIRenderer/components/footer.test.ts
  app/components/Snaps/SnapUIRenderer/components/icon.test.ts
  app/components/Snaps/SnapUIRenderer/components/icon.ts
  app/components/Snaps/SnapUIRenderer/components/index.ts
  app/components/Snaps/SnapUIRenderer/components/text.test.ts
  app/components/Snaps/SnapUIRenderer/utils.test.ts
  app/components/Snaps/SnapUIRenderer/utils.ts
  app/components/UI/Snaps/SnapUIAddress/SnapUIAddress.test.tsx
  app/components/UI/Snaps/SnapUIAddress/SnapUIAddress.tsx
  app/components/UI/Snaps/SnapUIAddress/__snapshots__/SnapUIAddress.test.tsx.snap
  app/components/UI/Snaps/SnapUIAddress/useDisplayName.ts
  app/components/UI/Snaps/SnapUIAvatar/SnapUIAvatar.tsx
  app/components/UI/Snaps/SnapUIInput/SnapUIInput.tsx
  app/components/UI/TemplateRenderer/SafeComponentList.ts
  app/selectors/addressBookController.ts
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-snaps-platform

#13604 feat: add `ConfirmAlertModal` component
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/AlertModal/AlertModal.tsx
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.styles.ts
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.test.tsx
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/ConfirmAlertModal.tsx
  app/components/Views/confirmations/AlertSystem/ConfirmAlertModal/index.ts
  app/components/Views/confirmations/AlertSystem/context/Alerts.context.tsx
  locales/languages/en.json
Labels: Run Smoke E2E, team-confirmations

#13738 test: Disable stake tests
  bitrise.yml
Labels: Run Smoke E2E, team-qa

#13716 feat: bump notifications services controller to v1.0.0
  app/actions/notification/helpers/index.test.tsx
  app/actions/notification/helpers/index.ts
  app/components/Nav/Main/index.js
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/notifications/create-notification-services-controller.test.ts
  app/core/Engine/controllers/notifications/create-notification-services-controller.ts
  app/core/Engine/controllers/notifications/create-notification-services-push-controller.test.ts
  app/core/Engine/controllers/notifications/create-notification-services-push-controller.ts
  app/core/Engine/controllers/notifications/create-push-message.test.ts
  app/core/Engine/controllers/notifications/create-push-message.ts
  app/core/Engine/controllers/notifications/notification-services-controller-init.test.ts
  app/core/Engine/controllers/notifications/notification-services-controller-init.ts
  app/core/Engine/controllers/notifications/notification-services-push-controller-init.test.ts
  app/core/Engine/controllers/notifications/notification-services-push-controller-init.ts
  app/core/Engine/controllers/notifications/push-utils.ts
  app/core/Engine/messengers/notifications/notification-services-controller-messenger.test.ts
  app/core/Engine/messengers/notifications/notification-services-controller-messenger.ts
  app/core/Engine/messengers/notifications/notification-services-push-controller-messenger.test.ts
  app/core/Engine/messengers/notifications/notification-services-push-controller-messenger.ts
  app/core/Engine/types.ts
  app/selectors/notifications/index.tsx
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/notifications/hooks/index.test.tsx
  app/util/notifications/hooks/index.ts
  app/util/notifications/hooks/useNotifications.test.tsx
  app/util/notifications/hooks/useNotifications.ts
  app/util/notifications/services/FCMService.ts
  app/util/test/initial-background-state.json
  locales/languages/en.json
  package.json
  yarn.lock
Labels: team-assets, Run Smoke E2E

#13703 feat: make Snap account creation flow async + displayAccountNameSuggestion flag
  app/components/Approvals/SnapAccountCustomNameApproval/SnapAccountCustomNameApproval.tsx
  app/core/BackupVault/backupVault.test.ts
  app/core/Engine/Engine.test.ts
  app/core/Engine/Engine.ts
  app/core/Engine/utils/test/logger.test.ts
  app/core/EngineService/EngineService.ts
  app/core/SnapKeyring/SnapKeyring.test.ts
  app/core/SnapKeyring/SnapKeyring.ts
  app/core/SnapKeyring/types.ts
  app/core/SnapKeyring/utils/getUniqueAccountName.test.ts
  app/core/SnapKeyring/utils/getUniqueAccountName.ts
  app/core/SnapKeyring/utils/snaps.ts
  app/selectors/keyringController/testUtils.ts
  app/util/test/initial-background-state.json
  package.json
  patches/@metamask+keyring-controller+19.0.1.patch
  yarn.lock
Labels: team-accounts, Run Smoke E2E

#13660 fix: Adhere to locale settings for Annual Rewards in ETH and in Fiat
  app/components/Views/confirmations/hooks/useStakingDetails.ts
Labels: Run Smoke E2E, team-confirmations

#13685 feat: Add token hero rounded amount tooltip
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.styles.ts
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.test.tsx
  app/components/Views/confirmations/components/Confirm/TokenHero/TokenHero.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.styles.ts
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.test.tsx
  app/components/Views/confirmations/components/UI/Tooltip/Tooltip.tsx
  app/components/Views/confirmations/components/UI/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  app/components/Views/confirmations/hooks/useTokenValues.test.ts
  app/components/Views/confirmations/hooks/useTokenValues.ts
  app/components/hooks/DisplayName/useDisplayName.ts
Labels: Run Smoke E2E, team-confirmations

#13748 chore: point slack channels to prod
  .github/workflows/publish-slack-release-testing-status.yml
Labels: No QA Needed, No E2E Smoke Needed, team-dev-ops

#13495 feat(ramps): adds most reliable tag to ramp quotes
  app/components/UI/Ramp/Views/Quotes/Quotes.constants.ts
  app/components/UI/Ramp/Views/Quotes/Quotes.test.tsx
  app/components/UI/Ramp/Views/Quotes/Quotes.tsx
  app/components/UI/Ramp/Views/Quotes/__snapshots__/Quotes.test.tsx.snap
  app/components/UI/Ramp/components/Quote/Quote.test.tsx
  app/components/UI/Ramp/components/Quote/Quote.tsx
  app/components/UI/Ramp/hooks/useQuotes.test.ts
  app/components/UI/Ramp/hooks/useQuotes.ts
  app/components/UI/Ramp/hooks/useSortedQuotes.test.ts
  app/components/UI/Ramp/hooks/useSortedQuotes.ts
  app/components/UI/Ramp/utils/index.ts
  locales/languages/en.json
Labels: team-ramp, Run Smoke E2E

#13736 feat: Make Snaps UI footers properly sticky
  app/components/Snaps/SnapUIButton/SnapUIButton.tsx
  app/components/Snaps/SnapUIFooterButton/SnapUIFooterButton.test.tsx
  app/components/Snaps/SnapUIFooterButton/SnapUIFooterButton.tsx
  app/components/Snaps/SnapUIRenderer/SnapUIRenderer.test.tsx
  app/components/Snaps/SnapUIRenderer/SnapUIRenderer.tsx
  app/components/Snaps/SnapUIRenderer/__snapshots__/SnapUIRenderer.test.tsx.snap
  app/components/Snaps/SnapUIRenderer/components/banner.test.ts
  app/components/Snaps/SnapUIRenderer/components/box.test.ts
  app/components/Snaps/SnapUIRenderer/components/box.ts
  app/components/Snaps/SnapUIRenderer/components/container.test.ts
  app/components/Snaps/SnapUIRenderer/components/container.ts
  app/components/Snaps/SnapUIRenderer/components/field.ts
  app/components/Snaps/SnapUIRenderer/components/footer.test.ts
  app/components/Snaps/SnapUIRenderer/components/footer.ts
  app/components/Snaps/SnapUIRenderer/components/input.ts
  app/components/Snaps/SnapUIRenderer/components/text.test.ts
  app/components/Snaps/SnapUIRenderer/utils.test.ts
  app/components/Snaps/SnapUIRenderer/utils.ts
  app/components/UI/Snaps/SnapUIInput/SnapUIInput.tsx
  app/components/UI/TemplateRenderer/SafeComponentList.ts
  app/components/UI/TemplateRenderer/TemplateRenderer.tsx
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E

#13751 feat: 7.41.0
  CHANGELOG.md
Labels: team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#13753 chore: 7.41.0 updated changelog and version numbers from stable
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: team-mobile-platform

#13756 fix: fixes ramp quote selection test
  e2e/pages/Ramps/QuotesView.js
  e2e/selectors/Ramps/Quotes.selectors.js
Labels: team-ramp, Run Smoke E2E

#13675 chore: Enable key caching of keyring controller
  app/core/Encryptor/Encryptor.test.ts
  app/core/Encryptor/Encryptor.ts
  app/core/Encryptor/types.ts
  app/core/Engine/Engine.ts
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#13627 feat: add `GeneralAlertBanner` component
  app/components/Views/confirmations/AlertSystem/GeneralAlertBanner/GeneralAlertBanner.styles.ts
  app/components/Views/confirmations/AlertSystem/GeneralAlertBanner/GeneralAlertBanner.test.tsx
  app/components/Views/confirmations/AlertSystem/GeneralAlertBanner/GeneralAlertBanner.tsx
  app/components/Views/confirmations/AlertSystem/GeneralAlertBanner/index.ts
Labels: Run Smoke E2E, team-confirmations
