Repository MetaMask/metamask-mobile, pull requests merged in 2025-07, with the labels that each got.

#16788 fix: cp-7.50.0 restore deleted backupAndSync keys
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/en.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Labels: No QA Needed, No E2E Smoke Needed, team-identity

#16768 feat(deposit): International KYC
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.test.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/RegionSelectorModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/RegionSelectorModal.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/__snapshots__/RegionSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.test.tsx
  app/components/UI/Ramp/Deposit/components/DepositPhoneField/DepositPhoneField.test.tsx
  app/components/UI/Ramp/Deposit/components/DepositPhoneField/DepositPhoneField.tsx
  app/components/UI/Ramp/Deposit/components/DepositPhoneField/__snapshots__/DepositPhoneField.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositPhoneField/formatNumberToTemplate.test.ts
  app/components/UI/Ramp/Deposit/components/DepositPhoneField/formatNumberToTemplate.ts
  app/components/UI/Ramp/Deposit/constants.ts
  app/components/UI/Ramp/Deposit/hooks/useKycPolling.test.ts
  app/components/UI/Ramp/Deposit/hooks/useUserDetailsPolling.test.ts
  app/components/UI/Ramp/Deposit/sdk/index.tsx
  app/components/UI/Ramp/Deposit/utils/index.ts
  app/components/UI/Ramp/Deposit/utils/utils.test.ts
  locales/languages/en.json
Labels: No QA Needed, team-ramp, Run Smoke E2E, skip-sonar-cloud

#16823 Feat/oauth-clientId
  .js.env.example
  app/core/OAuthService/OAuthLoginHandlers/config.ts
  app/core/OAuthService/OAuthLoginHandlers/constants.test.ts
  app/core/OAuthService/OAuthLoginHandlers/constants.ts
  jest.config.js
  scripts/build.sh
Labels: team-web3auth

#16836 feat: cp-7.50.0 Hide 7702 feature behind env flag
  .js.env.example
  app/components/Nav/App/App.tsx
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/confirmations/hooks/7702/useEIP7702Networks.ts
  app/core/RPCMethods/eip5792.ts
  jest.config.js
Labels: Run Smoke E2E, team-confirmations

#16821 test: convert multiple dapp connect e2e files to typescript
  e2e/pages/Browser/ConnectedAccountsModal.ts
  e2e/selectors/Browser/ConnectedAccountModal.selectors.ts
  e2e/selectors/wallet/WalletView.selectors.ts
  e2e/specs/multichain/permissions/chains/multiple-dapps.spec.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#16820 feat(deposit): adds interfaces for deposit analytics events
  app/components/UI/Ramp/Deposit/types/analytics.ts
  app/components/Views/WalletActions/WalletActions.tsx
  app/core/Analytics/MetaMetrics.events.ts
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#16798 chore: Added MainActionButton component to temp components
  .storybook/main.js
  .storybook/storybook.requires.js
  app/component-library/components-temp/MainActionButton/MainActionButton.constants.ts
  app/component-library/components-temp/MainActionButton/MainActionButton.stories.tsx
  app/component-library/components-temp/MainActionButton/MainActionButton.styles.ts
  app/component-library/components-temp/MainActionButton/MainActionButton.test.tsx
  app/component-library/components-temp/MainActionButton/MainActionButton.tsx
  app/component-library/components-temp/MainActionButton/MainActionButton.types.ts
  app/component-library/components-temp/MainActionButton/README.md
  app/component-library/components-temp/MainActionButton/__snapshots__/MainActionButton.test.tsx.snap
  app/component-library/components-temp/MainActionButton/index.ts
Labels: No QA Needed, team-design-system, Run Smoke E2E

#16809 feat(deposit): updates region list to flat list to fix android scroll bug
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/RegionSelectorModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/RegionSelectorModal.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/__snapshots__/RegionSelectorModal.test.tsx.snap
Labels: No QA Needed, team-ramp, Run Smoke E2E

#16733 perf(swaps): optimize token processing selectors
  app/reducers/swaps/index.js
  app/reducers/swaps/swaps.test.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, no-changelog

#16850 test: fix selector for app launch times e2e
  wdio/screen-objects/WalletMainScreen.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#16835 fix: Sentry issue "null is not an object" in WebsiteIcon/index.js, line 116: getHost(url).substring(0, 1);
  app/components/UI/WebsiteIcon/__snapshots__/index.test.tsx.snap
  app/components/UI/WebsiteIcon/index.js
  app/components/UI/WebsiteIcon/index.test.tsx
Labels: No QA Needed, team-mobile-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#16775 perf: Migrate AccountSelectorList to FlashList cp-7.50.0
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.styles.ts
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.test.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.tsx
  app/components/UI/EvmAccountSelectorList/EvmAccountSelectorList.types.ts
  app/components/UI/EvmAccountSelectorList/__snapshots__/EvmAccountSelectorList.test.tsx.snap
  app/components/Views/AccountSelector/AccountSelector.styles.ts
  app/components/Views/AccountSelector/AccountSelector.tsx
  app/components/Views/AccountSelector/__snapshots__/AccountSelector.test.tsx.snap
Labels: No QA Needed, team-accounts, No E2E Smoke Needed

#16852 chore: Remove duplicate label
  locales/languages/en.json
Labels: No E2E Smoke Needed, team-confirmations

#16817 feat: remove temporary snap navigation workaround
  app/components/UI/Bridge/Views/BridgeView/index.tsx
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#16805 feat: add preference for user to enable smart account opt-in
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/AdvancedSettings/index.test.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.test.tsx
  app/components/Views/confirmations/components/smart-account-update-splash/smart-account-update-splash.test.tsx
  app/components/Views/confirmations/components/smart-account-update-splash/smart-account-update-splash.tsx
  app/components/Views/confirmations/components/splash/splash.test.tsx
  app/core/Analytics/MetaMetrics.events.ts
  app/selectors/preferencesController.ts
  app/util/test/confirm-data-helpers.ts
  e2e/selectors/Settings/AdvancedView.selectors.js
  locales/languages/en.json
Labels: team-confirmations

#16589 fix: Describe what happened modal is incorrectly displayed in dark mode
  app/components/Views/ErrorBoundary/index.js
  app/components/Views/ErrorBoundary/index.test.tsx
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#16812 fix: only showing 30 tokens for evm
  app/components/UI/Bridge/hooks/useTopTokens/index.ts
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#16903 fix: cp-7.50.0 removed local flag and regression on LD flag key
  .js.env.example
  app/components/UI/Carousel/selectors/featureFlags/index.ts
  bitrise.yml
Labels: No QA Needed, No E2E Smoke Needed, team-phosphor, release-7.50.0, cp-7.50.0

#16745 feat: add preference for user to enable smart account opt-in
  app/components/Views/Settings/AdvancedSettings/__snapshots__/index.test.tsx.snap
  app/components/Views/Settings/AdvancedSettings/index.js
  app/components/Views/Settings/AdvancedSettings/index.test.tsx
  app/components/Views/confirmations/components/confirm/confirm-component.test.tsx
  app/components/Views/confirmations/components/smart-account-update-splash/smart-account-update-splash.test.tsx
  app/components/Views/confirmations/components/smart-account-update-splash/smart-account-update-splash.tsx
  app/components/Views/confirmations/components/splash/splash.test.tsx
  app/core/Analytics/MetaMetrics.events.ts
  app/core/AppConstants.ts
  app/selectors/preferencesController.ts
  app/store/migrations/088.test.ts
  app/store/migrations/088.ts
  app/store/migrations/index.ts
  app/util/logs/__snapshots__/index.test.ts.snap
  app/util/test/confirm-data-helpers.ts
  app/util/test/initial-background-state.json
  e2e/selectors/Settings/AdvancedView.selectors.js
  locales/languages/en.json
  package.json
  patches/@metamask+preferences-controller+18.4.0.patch
  yarn.lock
Labels: No E2E Smoke Needed, team-confirmations

#16912 feat: Add permission middleware for preinstalled Snaps
  app/core/Snaps/SnapBridge.ts
Labels: INVALID-PR-TEMPLATE, team-snaps-platform

#16906 feat: start using new Preference controller field smartAccountOptInForAccounts
  app/actions/confirmations/index.test.ts
  app/actions/confirmations/index.ts
  app/components/Views/confirmations/components/smart-account-update-splash/smart-account-update-splash.test.tsx
  app/components/Views/confirmations/components/smart-account-update-splash/smart-account-update-splash.tsx
  app/components/Views/confirmations/selectors/confirmation.ts
  app/reducers/confirmation/index.test.ts
  app/reducers/confirmation/index.ts
  app/reducers/index.ts
  app/selectors/preferencesController.ts
  app/util/test/initial-root-state.ts
Labels: No E2E Smoke Needed, team-confirmations

#16893 Convert to Anvil
  e2e/pages/Bridge/QuoteView.ts
  e2e/selectors/Bridge/QuoteView.selectors.js
  e2e/specs/bridge/bridge-functionality.spec.ts
  e2e/specs/swaps/helpers/constants.ts
  e2e/specs/swaps/helpers/prepareSwapsTestEnvironment.ts
  e2e/specs/swaps/helpers/swap-mocks.ts
  e2e/specs/swaps/helpers/swapUnifiedUI.ts
  e2e/specs/swaps/swap-action-regression.spec.ts
  e2e/specs/swaps/swap-action-smoke.spec.ts
  e2e/specs/swaps/swap-token-chart.spec.ts
Labels: Run Smoke E2E

#16698 chore: add performance tracing for earn experiences
  app/components/UI/Earn/LendingLearnMoreModal/index.tsx
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.tsx
  app/components/UI/Earn/components/EarnLendingBalance/index.tsx
  app/components/UI/Earn/components/EarnTokenList/index.tsx
  app/components/UI/Earn/components/EmptyStateCta/index.tsx
  app/components/UI/Earn/hooks/useEarnLendingPosition.ts
  app/components/UI/Stake/components/PoolStakingLearnMoreModal/index.tsx
  app/components/UI/Stake/components/StakeButton/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingButtons/StakingButtons.tsx
  app/components/UI/Stake/components/StakingBalance/StakingCta/StakingCta.tsx
  app/components/UI/Stake/components/StakingEarnings/index.tsx
  app/components/hooks/useEndTraceOnMount.test.ts
  app/components/hooks/useEndTraceOnMount.ts
  app/util/trace.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-earn

#16481 feat: Show interstitial for public/private/invalid deeplinks
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/metamask/MainActivity.kt
  app/actions/onboarding/index.ts
  app/actions/user/index.ts
  app/actions/user/types.ts
  app/components/Nav/App/App.tsx
  app/components/UI/DeepLinkModal/DeepLinkModal.tsx
  app/components/UI/DeepLinkModal/constant.ts
  app/components/UI/DeepLinkModal/index.ts
  app/components/UI/DeepLinkModal/types.ts
  app/core/AppConstants.ts
  app/core/AppStateEventListener.ts
  app/core/DeeplinkManager/DeeplinkManager.ts
  app/core/DeeplinkManager/Handlers/handleDeepLinkModalDisplay.test.ts
  app/core/DeeplinkManager/Handlers/handleDeepLinkModalDisplay.ts
  app/core/DeeplinkManager/Handlers/handleSwapUrl.test.ts
  app/core/DeeplinkManager/Handlers/handleSwapUrl.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.test.ts
  app/core/DeeplinkManager/ParseManager/handleUniversalLink.ts
  app/core/DeeplinkManager/ParseManager/parseDeeplink.test.ts
  app/core/DeeplinkManager/ParseManager/parseDeeplink.ts
  app/core/DeeplinkManager/ParseManager/utils/verifySignature.ts
  app/core/DeeplinkManager/SharedDeeplinkManager.test.ts
  app/core/LockManagerService/index.test.ts
  app/core/LockManagerService/index.ts
  app/store/sagas/index.ts
  app/store/sagas/sagas.test.ts
Labels: needs-qa, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, no-changelog

#16611 Refactored the tests
  e2e/pages/Bridge/QuoteView.ts
  e2e/pages/swaps/QuoteView.ts
  e2e/selectors/Bridge/QuoteView.selectors.js
  e2e/specs/bridge/bridge-functionality.spec.ts
  e2e/specs/quarantine/swap-segment-smoke.failing.ts
  e2e/specs/swaps/helpers/constants.ts
  e2e/specs/swaps/helpers/prepareSwapsTestEnvironment.ts
  e2e/specs/swaps/helpers/swap-mocks.ts
  e2e/specs/swaps/helpers/swapLegacyUI.ts
  e2e/specs/swaps/helpers/swapUnifiedUI.ts
  e2e/specs/swaps/swap-action-regression.spec.ts
  e2e/specs/swaps/swap-action-smoke.spec.ts
  e2e/specs/swaps/swap-token-chart.spec.ts
Labels: Run Smoke E2E

#16922 chore: moves notifications tests into quarantine
  e2e/specs/quarantine/enable-notifications-after-onboarding.failing.ts
  e2e/specs/quarantine/notification-settings-flow.failing.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#16925 test: disable flaking bridge test
  e2e/specs/quarantine/bridge-functionality.failing.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#16883 test: Add analytics checks to onboarding events
  e2e/specs/analytics/helpers.ts
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.js
  e2e/specs/onboarding/onboarding-wizard-opt-in.spec.ts
  e2e/viewHelper.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa, release-7.51.0

#16916 chore: cp-7.50.0 bump and deduplicate metamask/utils to 11.4.2
  package.json
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed

#16941 chore: bump metamask utils to 11.4.2
  package.json
  yarn.lock
Labels: team-mobile-platform, No E2E Smoke Needed

#16668 chore: cp-7.51.0 update transaction controller version 58.1.1
  package.json
  yarn.lock
Labels: No QA Needed, No E2E Smoke Needed, team-confirmations, no-changelog

#16818 feat: cp-7.51.0 add swap/bridge performance tracing
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/hooks/useLatestBalance/index.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/index.ts
  app/core/Engine/Engine.ts
  app/util/trace.ts
Labels: QA Passed, No E2E Smoke Needed, team-swaps-and-bridge

#16891 fix(deposit): use token exchange rate
  app/components/UI/Ramp/Deposit/hooks/useDepositTokenExchange.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositTokenExchange.ts
Labels: QA Passed, team-ramp, No E2E Smoke Needed

#16946 feat(deposit): add privacy section
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.styles.ts
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.tsx
  app/components/UI/Ramp/Deposit/Views/BankDetails/__snapshots__/BankDetails.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/__snapshots__/EnterAddress.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.tsx
  app/components/UI/Ramp/Deposit/Views/KycProcessing/KycProcessing.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.tsx
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/VerifyIdentity.tsx
  app/components/UI/Ramp/Deposit/components/PoweredByTransak/index.ts
  app/components/UI/Ramp/Deposit/components/PrivacySection/PrivacySection.styles.ts
  app/components/UI/Ramp/Deposit/components/PrivacySection/PrivacySection.tsx
  app/components/UI/Ramp/Deposit/components/PrivacySection/index.ts
  locales/languages/en.json
Labels: QA Passed, team-ramp, No E2E Smoke Needed

#16948 refactor(deposit): dismiss flow button
  app/components/UI/Navbar/index.js
  app/components/UI/Ramp/Deposit/Views/DepositOrderDetails/DepositOrderDetails.tsx
Labels: QA Passed, team-ramp, No E2E Smoke Needed

#16949 fix(ramp): order id formatting
  app/components/UI/Ramp/Aggregator/Views/OrderDetails/__snapshots__/OrderDetails.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/OrderDetails.tsx
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#16908 fix: e2e multichain accounts - remove account test
  e2e/pages/wallet/AccountListBottomSheet.js
  e2e/specs/multichain-accounts/delete-account.spec.ts
Labels: No QA Needed, team-accounts, No E2E Smoke Needed

#16849 feat(deposit): adds deposit region to redux
  app/components/UI/Ramp/Deposit/Views/Root/Root.test.tsx
  app/components/UI/Ramp/Deposit/sdk/index.test.tsx
  app/components/UI/Ramp/Deposit/sdk/index.tsx
  app/reducers/fiatOrders/index.test.ts
  app/reducers/fiatOrders/index.ts
  app/reducers/fiatOrders/types.ts
  app/util/sentry/utils.test.ts
  e2e/fixtures/fixture-builder.js
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#16938 chore: bump `@metamask/profile-sync-controller` to `^20.0.0`
  package.json
  yarn.lock
Labels: No QA Needed, No E2E Smoke Needed, team-identity

#16618 fix: cp-7.51.0 replace fragment with flatlist so that it's possible to scroll
  app/components/UI/DeFiPositions/DeFiPositionsList.styles.ts
  app/components/UI/DeFiPositions/DeFiPositionsList.tsx
  app/components/UI/DeFiPositions/DeFiProtocolPositionDetails.styles.ts
  app/components/UI/DeFiPositions/DeFiProtocolPositionDetails.tsx
  app/components/UI/DeFiPositions/DeFiProtocolPositionGroups.styles.ts
  app/components/UI/DeFiPositions/DeFiProtocolPositionGroups.tsx
Labels: QA Passed, team-assets, Run Smoke E2E

#16960 fix: fix request payments token list
  app/components/UI/PaymentRequest/AssetList/index.tsx
  app/components/UI/PaymentRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/PaymentRequest/index.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#16988 fix: cp-7.50.0 fix bridge account selection
  app/components/UI/Bridge/components/DestinationAccountSelector.tsx/DestinationAccountSelector.test.tsx
  app/components/UI/Bridge/components/DestinationAccountSelector.tsx/index.tsx
Labels: QA Passed, No E2E Smoke Needed, team-swaps-and-bridge

#16025 chore: faster sentry + use native polyfills
  metro.config.js
  package.json
  patches/@sentry+react-native+6.10.0.patch
  yarn.lock
Labels: area-performance, external-contributor

#16959 test: refactor payment request e2e test
  e2e/fixtures/fixture-builder.js
  e2e/specs/wallet/request-token-flow.spec.ts
Labels: No QA Needed, Run Smoke E2E, team-qa

#16956 feat: bitcoin to beta build
  metro.transform.js
  package.json
  yarn.lock
Labels: No QA Needed, No E2E Smoke Needed, team-new-networks

#16992 release: add CHANGELOG to pull-request-template.md
  .github/pull-request-template.md
  .github/scripts/shared/template.ts
Labels: team-extension-platform, No E2E Smoke Needed, no-changelog

#16090 fix: Fix WebView postMessage issue
  app/components/Views/Browser/index.js
  app/components/Views/BrowserTab/BrowserTab.tsx
  app/components/Views/BrowserTab/sendActiveAccount.test.tsx
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#16964 fix: Wallet details with long lists
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/components/AccountItem.tsx
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/components/AddAccountItem.tsx
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/index.tsx
  app/components/Views/MultichainAccounts/WalletDetails/BaseWalletDetails/styles.ts
  locales/languages/en.json
Labels: No QA Needed, team-accounts, Run Smoke E2E

#16898 fix: keyboard pushing screen up during password input
  app/components/Views/MultichainAccounts/sheets/RevealPrivateKey/RevealPrivateKey.styles.ts
  app/components/Views/MultichainAccounts/sheets/RevealPrivateKey/RevealPrivateKey.test.tsx
  app/components/Views/MultichainAccounts/sheets/RevealPrivateKey/RevealPrivateKey.tsx
Labels: No QA Needed, team-accounts, Run Smoke E2E

#17000 chore: update changelog 7.51.0
  CHANGELOG.md
Labels: team-mobile-platform

#17018 fix: changelog issue
  CHANGELOG.md
Labels: team-mobile-platform

#17019 fix: cp-7.50.0 crash app when selecting evm acc from solana acc
  app/components/UI/CollectibleContracts/index.js
Labels: needs-dev-review, team-mobile-platform, Run Smoke E2E

#17002 fix: cp-7.51.0 remove InteractionManager blocking account selection callbacks in certain flows
  app/components/Views/AccountSelector/AccountSelector.tsx
Labels: No QA Needed, Run Smoke E2E, team-wallet-ux, no-changelog

#17027 feat: authenticate users if basic functionality is enabled
  app/util/identity/hooks/useAuthentication/useAutoSignIn.test.ts
  app/util/identity/hooks/useAuthentication/useAutoSignIn.ts
Labels: QA Passed, Run Smoke E2E, team-identity

#17034 refactor(deposit): send email throws true method
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/__snapshots__/EnterEmail.test.tsx.snap
  locales/languages/en.json
Labels: QA Passed, team-ramp, Run Smoke E2E

#16887 chore: updates deposit region list
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/constants.ts
  app/components/UI/Ramp/Deposit/constants/constants.ts
  app/components/UI/Ramp/Deposit/constants/cryptoCurrencies.ts
  app/components/UI/Ramp/Deposit/constants/index.ts
  app/components/UI/Ramp/Deposit/constants/paymentMethods.ts
  app/components/UI/Ramp/Deposit/constants/regions.ts
Labels: No QA Needed, team-ramp, Run Smoke E2E, skip-sonar-cloud

#17032 refactor(deposit): only restrict created orders from new orders
  app/components/UI/Ramp/Deposit/Views/Root/Root.tsx
Labels: No QA Needed, team-ramp, Run Smoke E2E

#17026 refactor(deposit): copy provider order id
  app/components/UI/Ramp/Deposit/components/DepositOrderContent/DepositOrderContent.test.tsx
  app/components/UI/Ramp/Deposit/components/DepositOrderContent/DepositOrderContent.tsx
Labels: QA Passed, team-ramp, Run Smoke E2E

#16947 feat(deposit): error view
  app/components/UI/Ramp/Deposit/Views/DepositOrderDetails/DepositOrderDetails.tsx
  app/components/UI/Ramp/Deposit/Views/DepositOrderDetails/__snapshots__/DepositOrderDetails.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/ErrorView/ErrorView.styles.ts
  app/components/UI/Ramp/Deposit/components/ErrorView/ErrorView.test.tsx
  app/components/UI/Ramp/Deposit/components/ErrorView/ErrorView.tsx
  app/components/UI/Ramp/Deposit/components/ErrorView/__snapshots__/ErrorView.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/ErrorView/index.ts
  locales/languages/en.json
Labels: No QA Needed, team-ramp, Run Smoke E2E

#17038 chore: Add DisplayLG variant to Text component and updated homepage balance to use DisplayLG variant
  app/component-library/components/Texts/Text/Text.types.ts
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.tsx
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#16802 chore: Updated tabs styling in wallet
  app/components/Views/Wallet/index.tsx
  patches/react-native-scrollable-tab-view+1.1.0.patch
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#17041 chore: Add `@MetaMask/perps` codeowners to CODEOWNERS file
  .github/CODEOWNERS
Labels: No QA Needed, No E2E Smoke Needed, team-perps

#15792 feat: Add the expo flask pipeline
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/MetaMask/IosExportOptionsMetaMaskFlaskDevelopment.plist
  package.json
  scripts/build.sh
Labels: No QA Needed, needs-dev-review, team-mobile-platform, external-contributor, No E2E Smoke Needed, no-changelog

#16998 chore: faster sentry + use native polyfills (#16025)
  .depcheckrc.yml
  app/util/test/testSetup.js
  ios/Podfile.lock
  metro.config.js
  package.json
  patches/@sentry+react-native+6.10.0.patch
  yarn.lock
Labels: No QA Needed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, no changelog required

#17045 fix: Reverted unintended changes to Info.plist
  ios/MetaMask/Info.plist
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#17043 refactor(deposit): verify otp uses throws method
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.test.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/__snapshots__/OtpCode.test.tsx.snap
  locales/languages/en.json
Labels: QA Passed, team-ramp, Run Smoke E2E

#17036 feat(deposit): webview modal component
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.tsx
  app/components/UI/Ramp/Deposit/Views/KycProcessing/KycProcessing.test.tsx
  app/components/UI/Ramp/Deposit/Views/KycProcessing/KycProcessing.tsx
  app/components/UI/Ramp/Deposit/Views/KycWebview/KycWebview.styles.ts
  app/components/UI/Ramp/Deposit/Views/KycWebview/KycWebview.test.tsx
  app/components/UI/Ramp/Deposit/Views/KycWebview/KycWebview.tsx
  app/components/UI/Ramp/Deposit/Views/KycWebview/index.ts
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/KycWebviewModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/KycWebviewModal.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/WebviewModal.styles.ts
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/WebviewModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/WebviewModal.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/__snapshots__/KycWebviewModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/__snapshots__/WebviewModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/WebviewModal/index.ts
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.tsx
  app/components/UI/Ramp/Deposit/Views/ProviderWebview/ProviderWebview.styles.ts
  app/components/UI/Ramp/Deposit/Views/ProviderWebview/ProviderWebview.test.tsx
  app/components/UI/Ramp/Deposit/Views/ProviderWebview/ProviderWebview.tsx
  app/components/UI/Ramp/Deposit/Views/ProviderWebview/__snapshots__/ProviderWebview.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/ProviderWebview/index.ts
  app/components/UI/Ramp/Deposit/constants/constants.ts
  app/components/UI/Ramp/Deposit/constants/index.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
  app/components/UI/Ramp/Deposit/hooks/useUserDetailsPolling.test.ts
  app/components/UI/Ramp/Deposit/hooks/useUserDetailsPolling.ts
  app/components/UI/Ramp/Deposit/routes/index.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: No QA Needed, team-ramp, Run Smoke E2E

#16975 test: add back notification e2e tests
  e2e/fixtures/fixture-helper.js
  e2e/framework/Assertions.ts
  e2e/framework/Gestures.ts
  e2e/framework/types.ts
  e2e/pages/Notifications/EnableNotificationsModal.ts
  e2e/pages/Notifications/NotificationDetailsView.ts
  e2e/pages/Notifications/NotificationMenuView.ts
  e2e/pages/Notifications/NotificationSettingsView.ts
  e2e/pages/Settings/SettingsView.js
  e2e/pages/wallet/TabBarComponent.js
  e2e/pages/wallet/WalletView.js
  e2e/specs/notifications/enable-notifications-after-onboarding.spec.ts
  e2e/specs/notifications/notification-settings-flow.spec.ts
  e2e/specs/notifications/utils/mock-notification-trigger-server.ts
  e2e/specs/notifications/utils/mocks.ts
  e2e/specs/quarantine/enable-notifications-after-onboarding.failing.ts
  e2e/specs/quarantine/notification-settings-flow.failing.ts
Labels: QA Passed, team-assets, Run Smoke E2E

#15891 feat: 2.5 password change ui update
  app/components/Views/ResetPassword/__snapshots__/index.test.tsx.snap
  app/components/Views/ResetPassword/index.js
  app/components/Views/ResetPassword/index.test.tsx
  app/core/Engine/controllers/seedless-onboarding-controller/error.ts
  app/core/Vault.js
  e2e/selectors/Onboarding/ChoosePassword.selectors.js
  locales/languages/en.json
Labels: area-onboarding, No QA Needed, INVALID-PR-TEMPLATE, Run Smoke E2E, no-changelog, team-web3auth

#16433 feat: unified swaps
  .js.env.example
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/components/BridgeDestNetworkSelector/index.tsx
  app/components/UI/Bridge/components/BridgeDestNetworksBar.tsx
  app/components/UI/Bridge/components/BridgeDestTokenSelector/BridgeDestTokenSelector.test.tsx
  app/components/UI/Bridge/components/BridgeDestTokenSelector/__snapshots__/BridgeDestTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeDestTokenSelector/index.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/BridgeSourceTokenSelector.test.tsx
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/__snapshots__/BridgeSourceTokenSelector.test.tsx.snap
  app/components/UI/Bridge/components/BridgeSourceTokenSelector/index.tsx
  app/components/UI/Bridge/components/TokenInputArea/TokenInputArea.test.tsx
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
  app/components/UI/Bridge/components/TokenSelectorItem.tsx
  app/components/UI/Bridge/components/TransactionDetails/BlockExplorersModal.tsx
  app/components/UI/Bridge/hooks/useInitialDestToken/index.ts
  app/components/UI/Bridge/hooks/useInitialDestToken/useInitialDestToken.test.ts
  app/components/UI/Bridge/hooks/useInitialSourceToken/useInitialSourceToken.test.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/index.ts
  app/components/UI/Bridge/hooks/useSwapBridgeNavigation/useSwapBridgeNavigation.test.ts
  app/components/UI/Navbar/index.js
  app/components/Views/Asset/index.js
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/core/Engine/Engine.ts
  bitrise.yml
  e2e/pages/Bridge/QuoteView.ts
  e2e/pages/swaps/QuoteView.ts
  e2e/pages/wallet/WalletActionsBottomSheet.js
  e2e/selectors/Bridge/QuoteView.selectors.js
  e2e/specs/assets/multichain/asset-list.spec.ts
  e2e/specs/quarantine/bridge-functionality.failing.ts
  e2e/specs/quarantine/swap-segment-smoke.failing.ts
  e2e/specs/quarantine/swap-token-chart.failing.ts
  e2e/specs/swaps/helpers/constants.ts
  e2e/specs/swaps/helpers/prepareSwapsTestEnvironment.ts
  e2e/specs/swaps/helpers/swap-mocks.ts
  e2e/specs/swaps/helpers/swapLegacyUI.ts
  e2e/specs/swaps/helpers/swapUnifiedUI.ts
  e2e/specs/swaps/swap-action-regression.spec.ts
  e2e/specs/swaps/swap-action-smoke.spec.ts
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#17053 fix: margin bottom for android reveal srp
  app/components/Views/MultichainAccounts/AccountDetails/components/AccountInfo/AccountInfo.styles.ts
  app/components/Views/MultichainAccounts/sheets/RevealSRP/RevealSRP.styles.ts
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
Labels: No QA Needed, team-accounts, Run Smoke E2E

#16009 feat: 2.6 seedless multi-srp ui
  app/actions/multiSrp/index.test.ts
  app/actions/multiSrp/index.ts
  app/components/Nav/App/App.test.tsx
  app/components/Nav/App/App.tsx
  app/components/Nav/Main/MainNavigator.js
  app/components/UI/ActionView/__snapshots__/index.test.tsx.snap
  app/components/UI/PaymentRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/ReceiveRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/SRPList/SRPList.styles.ts
  app/components/UI/SRPList/SRPList.tsx
  app/components/UI/SRPList/SRPList.types.ts
  app/components/UI/SRPListItem/SRPListItem.styles.ts
  app/components/UI/SRPListItem/SRPListItem.tsx
  app/components/UI/SRPListItem/SRPListItem.type.ts
  app/components/UI/StyledButton/__snapshots__/index.test.tsx.snap
  app/components/UI/StyledButton/index.test.tsx
  app/components/UI/StyledButton/styledButtonStyles.ts
  app/components/UI/WhatsNewModal/index.test.tsx
  app/components/Views/AccountStatus/__snapshots__/index.test.tsx.snap
  app/components/Views/AccountStatus/index.styles.ts
  app/components/Views/AccountStatus/index.test.tsx
  app/components/Views/AccountStatus/index.tsx
  app/components/Views/AddAsset/__snapshots__/AddAsset.test.tsx.snap
  app/components/Views/AddBookmark/__snapshots__/index.test.tsx.snap
  app/components/Views/ChoosePassword/index.js
  app/components/Views/DetectedTokens/__snapshots__/index.test.tsx.snap
  app/components/Views/Login/index.test.tsx
  app/components/Views/Onboarding/index.test.tsx
  app/components/Views/OnboardingSheet/index.test.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/index.test.tsx.snap
  app/components/Views/SelectSRP/SelectSRP.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.test.tsx
  app/components/Views/Settings/SecuritySettings/Sections/ProtectYourWallet/ProtectYourWallet.tsx
  app/components/Views/Settings/SecuritySettings/SecuritySettings.test.tsx
  app/components/Views/Settings/SecuritySettings/__snapshots__/SecuritySettings.test.tsx.snap
  app/components/Views/Settings/index.tsx
  app/components/Views/WalletRecovery/__snapshots__/index.test.tsx.snap
  app/components/Views/WalletRecovery/index.test.tsx
  app/components/Views/WalletRecovery/index.tsx
  app/core/Authentication/Authentication.test.ts
  app/images/account_status.png
  app/images/already_exist.png
  e2e/selectors/Settings/SecurityAndPrivacy/SecurityPrivacyView.selectors.js
  locales/languages/en.json
Labels: area-onboarding, No QA Needed, Run Smoke E2E, team-web3auth

#17025 chore: add performance traces for earn deposit and withdrawal flows
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.test.tsx
  app/components/UI/Earn/Views/EarnInputView/EarnInputView.tsx
  app/components/UI/Earn/Views/EarnLendingDepositConfirmationView/EarnLendingDepositConfirmationView.test.tsx
  app/components/UI/Earn/Views/EarnLendingDepositConfirmationView/index.tsx
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/EarnLendingWithdrawalConfirmationView.test.tsx
  app/components/UI/Earn/Views/EarnLendingWithdrawalConfirmationView/index.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.test.tsx
  app/components/UI/Earn/Views/EarnWithdrawInputView/EarnWithdrawInputView.tsx
  app/components/UI/Earn/components/EarnTokenList/index.tsx
  app/components/UI/Earn/components/EarnTokenSelector/index.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBanners/ClaimBanner/ClaimBanner.tsx
  app/components/Views/confirmations/external/staking/info/staking-claim/staking-claim.test.tsx
  app/components/Views/confirmations/external/staking/info/staking-claim/staking-claim.tsx
  app/components/Views/confirmations/external/staking/info/staking-deposit/staking-deposit.test.tsx
  app/components/Views/confirmations/external/staking/info/staking-deposit/staking-deposit.tsx
  app/components/Views/confirmations/external/staking/info/staking-withdrawal/staking-withdrawal.test.tsx
  app/components/Views/confirmations/external/staking/info/staking-withdrawal/staking-withdrawal.tsx
  app/util/trace.ts
Labels: No QA Needed, No E2E Smoke Needed, team-earn

#16882 test: fix flaky test balance privacy toggle
  e2e/specs/wallet/balance-privacy-toggle.spec.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-qa

#16323 test: Solana Multichain API E2E - signIn method
  e2e/pages/Browser/MultichainTestDApp.ts
  e2e/specs/multichain/solana/wallet-invokeMethod.spec.ts
  e2e/utils/MultichainUtilities.ts
  package.json
  yarn.lock
Labels: No QA Needed, team-wallet-api-platform, INVALID-PR-TEMPLATE, Run Smoke E2E

#16264 feat: Add the expo QA pipeline
  android/app/src/qa/res/values/strings.xml
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  ios/MetaMask/IosExportOptionsMetaMaskQADevelopment.plist
  ios/MetaMask/MetaMask-QA-Info.plist
  metro.transform.js
  package.json
  scripts/build.sh
Labels: No QA Needed, needs-dev-review, team-mobile-platform, external-contributor, Run Smoke E2E, no-changelog

#17075 release: 7.50.1
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  metro.transform.js
  package.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#17039 refactor(deposit): KYC form UX updates
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.styles.ts
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/__snapshots__/EnterAddress.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/StateSelectorModal/StateSelectorModal.styles.ts
  app/components/UI/Ramp/Deposit/Views/Modals/StateSelectorModal/StateSelectorModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/StateSelectorModal/StateSelectorModal.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/StateSelectorModal/__snapshots__/StateSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/StateSelectorModal/index.ts
  app/components/UI/Ramp/Deposit/components/DepositDateField/DepositDateField.tsx
  app/components/UI/Ramp/Deposit/components/DepositPhoneField/DepositPhoneField.tsx
  app/components/UI/Ramp/Deposit/components/DepositPhoneField/__snapshots__/DepositPhoneField.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/StateSelector/StateSelector.styles.ts
  app/components/UI/Ramp/Deposit/components/StateSelector/StateSelector.tsx
  app/components/UI/Ramp/Deposit/components/StateSelector/index.ts
  app/components/UI/Ramp/Deposit/constants/constants.ts
  app/components/UI/Ramp/Deposit/constants/index.ts
  app/components/UI/Ramp/Deposit/constants/regions.ts
  app/components/UI/Ramp/Deposit/routes/index.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: No QA Needed, team-ramp, Run Smoke E2E

#17056 fix: enable clicking text to go to link in base account detail
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/BaseAccountDetails/index.tsx
Labels: No QA Needed, team-accounts, Run Smoke E2E

#17077 refactor(deposit): buildquote spacing, remove logo as property
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.styles.ts
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/Modals/TokenSelectorModal/TokenSelectorModal.test.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/TokenSelectorModal/__snapshots__/TokenSelectorModal.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositOrderContent/DepositOrderContent.styles.ts
  app/components/UI/Ramp/Deposit/components/DepositOrderContent/DepositOrderContent.tsx
  app/components/UI/Ramp/Deposit/constants/cryptoCurrencies.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositTokenExchange.test.ts
  app/components/UI/Ramp/Deposit/hooks/useSearchTokenResults.test.ts
  app/components/UI/Ramp/Deposit/utils/utils.test.ts
Labels: QA Passed, team-ramp, Run Smoke E2E

#17092 fix: Fix/expo prebuilds main
  bitrise.yml
  package.json
  scripts/build.sh
Labels: No QA Needed, needs-dev-review, team-mobile-platform, Run Smoke E2E, no changelog required

#17118 fix: 7.51.0 deduplicate deps
  yarn.lock
Labels: team-mobile-platform, No E2E Smoke Needed

#17125 fix(ramp): cp-7.51.0 payment method selector label
  app/components/UI/Ramp/Aggregator/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Aggregator/components/PaymentMethodSelector.tsx
  app/components/UI/Ramp/Aggregator/components/__snapshots__/PaymentMethodSelector.test.tsx.snap
Labels: QA Passed, team-ramp, Run Smoke E2E

#16957 chore: faster random values
  index.js
Labels: external-contributor, Run Smoke E2E

#17046 feat(card): add sdk implementation
  app/components/UI/Card/constants.ts
  app/components/UI/Card/sdk/CardSDK.test.ts
  app/components/UI/Card/sdk/CardSDK.ts
  app/components/UI/Card/sdk/balanceScannerAbi.json
  app/components/UI/Card/sdk/index.test.tsx
  app/components/UI/Card/sdk/index.tsx
  app/components/UI/Card/types.ts
  app/selectors/featureFlagController/card/index.test.ts
  app/selectors/featureFlagController/card/index.ts
Labels: No QA Needed, No E2E Smoke Needed, no-changelog, team-card

#17137 fix: date picker component failing regex
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.test.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositDateField/DepositDateField.test.tsx
  app/components/UI/Ramp/Deposit/components/DepositDateField/DepositDateField.tsx
  app/components/UI/Ramp/Deposit/components/DepositDateField/__snapshots__/DepositDateField.test.tsx.snap
  app/components/UI/Ramp/Deposit/utils/index.ts
  app/components/UI/Ramp/Deposit/utils/utils.test.ts
Labels: QA Passed, team-ramp, Run Smoke E2E

#17127 fix: Resolve release builds pipelines
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  scripts/build.sh
Labels: QA Passed, needs-dev-review, team-mobile-platform, No E2E Smoke Needed, team-qa, no changelog required

#16933 fix: ios deeplink cold start
  app/components/Nav/App/App.test.tsx
  app/components/Nav/App/App.tsx
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#17156 feat(card): add card sdk
  app/components/UI/Card/constants.ts
  app/components/UI/Card/sdk/CardSDK.test.ts
  app/components/UI/Card/sdk/CardSDK.ts
  app/components/UI/Card/sdk/balanceScannerAbi.json
  app/components/UI/Card/sdk/index.test.tsx
  app/components/UI/Card/sdk/index.tsx
  app/components/UI/Card/types.ts
  app/selectors/featureFlagController/card/index.test.ts
  app/selectors/featureFlagController/card/index.ts
Labels: No QA Needed, No E2E Smoke Needed, no-changelog, team-card

#17152 ci: avoid yarn race condition
  package.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#17133 test: improve reliability of decrypt button interaction on small screens
  e2e/pages/Settings/AesCryptoTestForm.js
Labels: No QA Needed, Run Smoke E2E, team-qa

#16839 fix: button styling in ShareAddress and EditAccountName
  app/components/Views/MultichainAccounts/sheets/EditAccountName/EditAccountName.styles.ts
  app/components/Views/MultichainAccounts/sheets/EditAccountName/EditAccountName.tsx
  app/components/Views/MultichainAccounts/sheets/ShareAddress/ShareAddress.styles.ts
Labels: No QA Needed, team-accounts, INVALID-PR-TEMPLATE, Run Smoke E2E

#17140 refactor(deposit): refactor date picker, add formatter cache
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/__snapshots__/BasicInfo.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositDateField/DepositDateField.tsx
  app/components/UI/Ramp/Deposit/components/DepositDateField/DespostDateField.styles.ts
  app/components/UI/Ramp/Deposit/components/DepositDateField/__snapshots__/DepositDateField.test.tsx.snap
  app/util/intl.test.ts
  app/util/intl.ts
Labels: No QA Needed, team-ramp, Run Smoke E2E

#17166 chore: get react-native-acm from registry
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E, Run Flask E2E

#17128 feat(deposit): widget theme
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
  app/components/UI/Ramp/Deposit/utils/index.ts
  app/components/UI/Ramp/Deposit/utils/utils.test.ts
Labels: QA Passed, team-ramp, Run Smoke E2E

#16980 fix: STX progress bar stuck
  app/components/Views/transactions/SmartTransactionStatus/SmartTransactionStatus.tsx
  app/components/Views/transactions/SmartTransactionStatus/useRemainingTime.test.tsx
  app/components/Views/transactions/SmartTransactionStatus/useRemainingTime.ts
Labels: No QA Needed, INVALID-PR-TEMPLATE, No E2E Smoke Needed, team-transactions

#16926 chore: cp-7.51.0 faster address checksum
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentageCrossChains.test.tsx
  app/component-library/components-temp/Price/AggregatedPercentage/AggregatedPercentageCrossChains.tsx
  app/components/UI/AccountFromToInfoCard/AddressFrom.tsx
  app/components/UI/Bridge/hooks/useTokensWithBalance/index.ts
  app/components/UI/PaymentRequest/AssetList/index.tsx
  app/components/UI/TransactionElement/utils.js
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/confirmations/hooks/useAccountInfo.ts
  app/components/Views/confirmations/legacy/Send/index.js
  app/components/Views/confirmations/legacy/SendFlow/SendTo/index.js
  app/components/Views/confirmations/legacy/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/confirmations/legacy/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/hooks/useAccounts/useAccounts.test.ts
  app/components/hooks/useExistingAddress.ts
  app/selectors/earnController/earn/index.ts
  app/util/address/index.test.ts
  app/util/address/index.ts
  app/util/checkAddress.ts
  app/util/transactions/index.js
Labels: area-performance, external-contributor, INVALID-PR-TEMPLATE

#17171 cp-7.51.0 fix: TAT-1263 fix staking data refresh issue when switching accounts with unsupported pooled staking chain
  app/components/UI/Stake/hooks/useStakingEligibility.test.tsx
  app/components/UI/Stake/hooks/useStakingEligibility.ts
  app/components/UI/Stake/hooks/useVaultMetadata.ts
  package.json
  yarn.lock
Labels: No QA Needed, INVALID-PR-TEMPLATE, Run Smoke E2E, team-earn

#17083 chore: adding design system libraries
  .github/workflows/ci.yml
  .storybook/storybook.requires.js
  app/component-library/components/design-system.stories.tsx
  app/component-library/providers/ThemeProvider/ThemeProvider.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  jest.config.js
  package.json
  yarn.lock
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#17170 chore: swaps token button style
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/Views/BridgeView/__snapshots__/BridgeView.test.tsx.snap
  app/components/UI/Bridge/components/TokenButton.tsx
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#17176 fix: use correct import/export for base64 in Sentry
  patches/@sentry+react-native+6.10.0.patch
Labels: external-contributor

#17198 fix: Button enabled by default cp-7.51.0
  app/components/UI/OptinMetrics/__snapshots__/index.test.tsx.snap
  app/components/UI/OptinMetrics/index.js
Labels: area-onboarding, QA Passed, Run Smoke E2E, team-web3auth

#17204 chore: Bump bridge controllers
  app/core/Engine/Engine.ts
  package.json
  yarn.lock
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge, release-7.51.0

#17202 chore: manual CP for 7.51.0 with Solana new GTM view
  app/components/Nav/App/App.tsx
  app/components/UI/SolanaNewFeatureContent/FeatureItem.styles.ts
  app/components/UI/SolanaNewFeatureContent/FeatureItem.tsx
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.styles.ts
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.test.tsx
  app/components/UI/SolanaNewFeatureContent/SolanaNewFeatureContent.tsx
  app/components/Views/Wallet/index.tsx
  app/constants/navigation/Routes.ts
  app/constants/storage.ts
  app/core/Analytics/MetaMetrics.events.ts
  app/images/Fox_Vipers.png
  e2e/common-solana.ts
  e2e/fixtures/fixture-builder.js
  e2e/pages/wallet/SolanaNewFeatureSheet.js
  e2e/selectors/wallet/SolanaNewFeatureSheet.selectors.js
  e2e/specs/solana/create-solana-account.spec.js
  e2e/specs/solana/solana-send-flow.spec.js
  e2e/viewHelper.js
  locales/languages/en.json
  wdio/screen-objects/Modals/SolanaFeatureSheet.js
Labels: INVALID-PR-TEMPLATE, Run Smoke E2E, team-new-networks, release-7.51.0

#17215 fix: cp-7.51.0 import token navigation
  app/components/UI/AddCustomToken/index.js
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.test.tsx
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.tsx
Labels: team-assets, Run Smoke E2E

#17217 test: Stabilize release branch tests
  app/components/UI/PaymentRequest/AssetList/index.tsx
  app/components/UI/PaymentRequest/__snapshots__/index.test.tsx.snap
  app/components/UI/PaymentRequest/index.js
  bitrise.yml
  e2e/pages/wallet/AccountListBottomSheet.js
  e2e/specs/assets/transaction.spec.js
  e2e/specs/identity/account-syncing/account-sync-settings-toggle.spec.ts
  e2e/specs/identity/account-syncing/sync-after-adding-custom-name-account.spec.ts
  e2e/specs/identity/account-syncing/sync-after-onboarding.spec.ts
  e2e/specs/identity/account-syncing/sync-with-account-balances.spec.ts
  e2e/specs/identity/account-syncing/sync-with-multi-srp.spec.ts
  e2e/specs/identity/contact-syncing/backup-and-sync-settings.spec.ts
  e2e/specs/identity/contact-syncing/sync-existing-user.spec.ts
  e2e/specs/identity/contact-syncing/sync-new-user.spec.ts
  e2e/specs/multichain-accounts/delete-account.spec.ts
  e2e/specs/quarantine/bridge-functionality.failing.ts
  e2e/specs/quarantine/swap-token-chart.failing.ts
Labels: Run Smoke E2E, team-qa, release-7.51.0

#17222 fix(deposit): redirection url
  app/components/UI/Ramp/Deposit/constants/constants.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
  package.json
  yarn.lock
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#17226 fix: cp-7.50.2 retrieving configured chains from NetworkController
  app/util/metrics/MultichainAPI/networkMetricUtils.test.ts
  app/util/metrics/MultichainAPI/networkMetricUtils.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.test.ts
Labels: No QA Needed, team-wallet-api-platform, No E2E Smoke Needed

#17193 chore: Added TabBar component to the components-temp folder
  .storybook/storybook.requires.js
  app/component-library/components-temp/TabBar/README.md
  app/component-library/components-temp/TabBar/TabBar.stories.tsx
  app/component-library/components-temp/TabBar/TabBar.styles.ts
  app/component-library/components-temp/TabBar/TabBar.test.tsx
  app/component-library/components-temp/TabBar/TabBar.tsx
  app/component-library/components-temp/TabBar/TabBar.types.ts
  app/component-library/components-temp/TabBar/__snapshots__/TabBar.test.tsx.snap
  app/component-library/components-temp/TabBar/index.ts
  app/components/Base/TabBar.js
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#17192 feat(deposit): fix back navigation and route to Verify Identity page
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.tsx
  app/components/UI/Ramp/Deposit/Views/KycProcessing/KycProcessing.tsx
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/VerifyIdentity.test.tsx
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/VerifyIdentity.tsx
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
Labels: No QA Needed, team-ramp, Run Smoke E2E

#17186 chore: stable sync 7.50 & 7.50.1
  CHANGELOG.md
  android/app/build.gradle
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
Labels: No QA Needed, team-mobile-platform, No E2E Smoke Needed

#17252 feat(deposit): update feature flags
  app/components/UI/Ramp/Deposit/hooks/useDepositEnabled.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositEnabled.ts
  app/components/Views/WalletActions/WalletActions.test.tsx
  app/components/Views/WalletActions/WalletActions.tsx
  app/selectors/featureFlagController/deposit/index.test.ts
  app/selectors/featureFlagController/deposit/index.ts
Labels: QA Passed, team-ramp, Run Smoke E2E

#17173 feat(deposit): surface errors
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.test.tsx
  app/components/UI/Ramp/Deposit/Views/BankDetails/BankDetails.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Deposit/Views/BuildQuote/__snapshots__/BuildQuote.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/DepositOrderDetails/DepositOrderDetails.tsx
  app/components/UI/Ramp/Deposit/Views/DepositOrderDetails/__snapshots__/DepositOrderDetails.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/__snapshots__/EnterEmail.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/KycProcessing/KycProcessing.tsx
  app/components/UI/Ramp/Deposit/Views/KycProcessing/__snapshots__/KycProcessing.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/OrderProcessing/__snapshots__/OrderProcessing.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/__snapshots__/OtpCode.test.tsx.snap
  app/components/UI/Ramp/Deposit/components/DepositOrderContent/DepositOrderContent.tsx
  app/components/UI/Ramp/Deposit/components/DepositOrderContent/__snapshots__/DepositOrderContent.test.tsx.snap
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
  locales/languages/en.json
Labels: QA Passed, team-ramp, Run Smoke E2E

#17231 fix: cp-7.51.0 missing gas ticker in transaction details
  app/components/UI/TransactionElement/index.js
  app/components/UI/TransactionElement/utils.js
  app/components/UI/TransactionElement/utils.test.js
Labels: QA Passed, Run Smoke E2E, team-confirmations

#16863 fix: show account details as background for multichain account actions
  app/components/Nav/App/App.test.tsx
  app/components/Nav/App/App.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/BaseAccountDetails/index.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/BaseAccountDetails/index.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/HardwareAccountDetails/HardwareAccountDetails.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/PrivateKeyAccountDetails/PrivateKeyAccountDetails.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/AccountTypes/SnapAccountDetails/SnapAccountDetails.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/ExportCredentials/ExportCredentials.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/ExportCredentials/ExportCredentials.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/RemoveAccount/RemoveAccount.test.tsx
  app/components/Views/MultichainAccounts/AccountDetails/components/RemoveAccount/RemoveAccount.tsx
  app/components/Views/MultichainAccounts/sheets/RevealSRP/RevealSRP.test.tsx
  app/components/Views/MultichainAccounts/sheets/RevealSRP/RevealSRP.tsx
  app/constants/navigation/Routes.ts
  e2e/pages/MultichainAccounts/AccountDetails.ts
  e2e/selectors/MultichainAccounts/AccountDetails.selectors.ts
  e2e/specs/multichain-accounts/delete-account.spec.ts
Labels: No QA Needed, team-accounts, INVALID-PR-TEMPLATE, Run Smoke E2E

#17110 fix: eth avatar logo change
  app/components/UI/DeFiPositions/DeFiPositionsListItem.tsx
  app/components/UI/DeFiPositions/DeFiProtocolPositionGroupTokens.test.tsx
  app/components/UI/DeFiPositions/DeFiProtocolPositionGroupTokens.tsx
  app/components/UI/DeFiPositions/DeFiProtocolPositionGroups.tsx
  app/components/UI/DeFiPositions/get-token-avatar-url.test.ts
  app/components/UI/DeFiPositions/get-token-avatar-url.ts
Labels: QA Passed, team-assets, Run Smoke E2E

#17069 feat: add svg support to avatar token
  app/component-library/components/Avatars/Avatar/variants/AvatarToken/AvatarToken.test.tsx
  app/component-library/components/Avatars/Avatar/variants/AvatarToken/AvatarToken.tsx
Labels: QA Passed, team-assets, Run Smoke E2E

#17212 fix: cp-7.51.0 Fix loading state of transfer info page
  app/components/Views/confirmations/components/hero-nft/hero-nft.tsx
  app/components/Views/confirmations/components/rows/transactions/hero-row/hero-row.tsx
  app/components/Views/confirmations/hooks/nft/useIsNft.ts
  app/components/Views/confirmations/hooks/useTokenAmount.ts
Labels: No E2E Smoke Needed, team-confirmations

#17260 chore: Revert "feat(TAT-575): add fixture to import random generated account…
  e2e/fixtures/fixture-builder.js
  e2e/fixtures/fixture-helper.js
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#17165 fix: cp-7.51.0 handle Ledger accounts in transaction approval process
  app/components/Views/confirmations/legacy/Approval/index.js
Labels: QA Passed, needs-dev-review, team-hardware-wallets, Run Smoke E2E

#17284 fix(deposit): fixes android region select bug
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/RegionSelectorModal.styles.ts
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/RegionSelectorModal.tsx
  app/components/UI/Ramp/Deposit/Views/Modals/RegionSelectorModal/__snapshots__/RegionSelectorModal.test.tsx.snap
Labels: QA Passed, team-ramp, No E2E Smoke Needed

#17262 feat(deposit): update verify identity ui
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/VerifyIdentity.styles.ts
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/VerifyIdentity.test.tsx
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/VerifyIdentity.tsx
  app/components/UI/Ramp/Deposit/Views/VerifyIdentity/__snapshots__/VerifyIdentity.test.tsx.snap
  app/components/UI/Ramp/Deposit/assets/verifyIdentityIllustration.png
  app/components/UI/Ramp/Deposit/constants/constants.ts
  locales/languages/en.json
Labels: No QA Needed, team-ramp, No E2E Smoke Needed

#17040 feat: Perps CandlestickChart and Asset logo
  app/components/UI/Perps/Views/PerpsPositionDetailsView/PerpsPositionDetailsView.styles.ts
  app/components/UI/Perps/Views/PerpsPositionDetailsView/PerpsPositionDetailsView.test.tsx
  app/components/UI/Perps/Views/PerpsPositionDetailsView/PerpsPositionDetailsView.tsx
  app/components/UI/Perps/Views/PerpsPositionDetailsView/index.ts
  app/components/UI/Perps/Views/PerpsPositionsView/PerpsPositionsView.styles.ts
  app/components/UI/Perps/Views/PerpsPositionsView/PerpsPositionsView.test.tsx
  app/components/UI/Perps/Views/PerpsPositionsView/PerpsPositionsView.tsx
  app/components/UI/Perps/Views/PerpsPositionsView/index.ts
  app/components/UI/Perps/Views/PerpsView.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlectickChart.tsx
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlestickChart.styles.ts
  app/components/UI/Perps/components/PerpsCandlestickChart/PerpsCandlestickChart.test.tsx
  app/components/UI/Perps/components/PerpsCandlestickChartIntervalSelector/PerpsCandlestickChartIntervalSelector.styles.ts
  app/components/UI/Perps/components/PerpsCandlestickChartIntervalSelector/PerpsCandlestickChartIntervalSelector.test.tsx
  app/components/UI/Perps/components/PerpsCandlestickChartIntervalSelector/PerpsCandlestickChartIntervalSelector.tsx
  app/components/UI/Perps/components/PerpsCandlestickChartIntervalSelector/index.tsx
  app/components/UI/Perps/components/PerpsConnectionErrorView/PerpsConnectionErrorView.tsx
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.styles.ts
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.test.tsx
  app/components/UI/Perps/components/PerpsPositionCard/PerpsPositionCard.tsx
  app/components/UI/Perps/components/PerpsPositionCard/index.ts
  app/components/UI/Perps/components/PerpsPostitionHeader/PerpsPositionHeader.styles.ts
  app/components/UI/Perps/components/PerpsPostitionHeader/PerpsPositionHeader.test.tsx
  app/components/UI/Perps/components/PerpsPostitionHeader/PerpsPositionHeader.tsx
  app/components/UI/Perps/constants/chartConfig.ts
  app/components/UI/Perps/constants/hyperLiquidConfig.ts
  app/components/UI/Perps/controllers/PerpsController.test.ts
  app/components/UI/Perps/controllers/PerpsController.ts
  app/components/UI/Perps/hooks/index.ts
  app/components/UI/Perps/hooks/usePerpsAssetsMetadata.test.ts
  app/components/UI/Perps/hooks/usePerpsAssetsMetadata.ts
  app/components/UI/Perps/hooks/usePerpsPositionData.ts
  app/components/UI/Perps/routes/index.tsx
  app/components/UI/Perps/services/HyperLiquidClientService.test.ts
  app/components/UI/Perps/services/HyperLiquidClientService.ts
  app/components/UI/Perps/types/index.ts
  app/components/UI/Perps/utils/formatUtils.test.ts
  app/components/UI/Perps/utils/formatUtils.ts
  app/components/UI/Perps/utils/pnlCalculations.test.ts
  app/components/UI/Perps/utils/pnlCalculations.ts
  e2e/selectors/Perps/Perps.selectors.ts
  jest.config.js
  locales/languages/en.json
  package.json
  yarn.lock
Labels: QA Passed, No E2E Smoke Needed, team-perps

#17290 fix: cp-7.51.0 fixed missing navbar when navigating from pooled-staking confirmation screen back to input screen
  app/components/UI/Stake/routes/index.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-earn

#17306 test: quarantine end-to-end tests for max transfer and wallet initiated transfer scenarios
  e2e/specs/quarantine/confirmations-redesign/transactions/send-max-transfer.spec.ts
  e2e/specs/quarantine/confirmations-redesign/transactions/wallet-initiated-transfer.spec.ts
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#17301 fix: cp-7.50.2 Fix undefined formatNetworkRpcUrl
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
Labels: No QA Needed, team-wallet-framework, Run Smoke E2E

#17310 test: exclude quarantine files from end-to-end test suite
  scripts/run-e2e-tags.sh
Labels: No QA Needed, No E2E Smoke Needed, team-qa

#17299 feat(deposit): email login analytic events
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/EnterEmail.tsx
  app/components/UI/Ramp/Deposit/Views/EnterEmail/__snapshots__/EnterEmail.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.test.tsx
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.tsx
  app/components/UI/Ramp/Deposit/types/analytics.ts
Labels: QA Passed, team-ramp, No E2E Smoke Needed

#17311 feat(deposit): adds additional verification view before kyc
  app/components/UI/Ramp/Deposit/Views/AdditionalVerification/AdditionalVerification.styles.ts
  app/components/UI/Ramp/Deposit/Views/AdditionalVerification/AdditionalVerification.test.tsx
  app/components/UI/Ramp/Deposit/Views/AdditionalVerification/AdditionalVerification.tsx
  app/components/UI/Ramp/Deposit/Views/AdditionalVerification/__snapshots__/AdditionalVerification.test.tsx.snap
  app/components/UI/Ramp/Deposit/Views/AdditionalVerification/index.ts
  app/components/UI/Ramp/Deposit/assets/additional-verification.png
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.test.ts
  app/components/UI/Ramp/Deposit/hooks/useDepositRouting.ts
  app/components/UI/Ramp/Deposit/routes/index.tsx
  app/constants/navigation/Routes.ts
  locales/languages/en.json
Labels: QA Passed, team-ramp, No E2E Smoke Needed

#17256 fix: bump @metamask/solana-wallet-standard to 0.5.1
  package.json
  yarn.lock
Labels: No QA Needed, No E2E Smoke Needed, team-wallet-standard

#17281 feat: add metametrics to backup and sync modal
  app/components/Views/Identity/TurnOnBackupAndSync/TurnOnBackupAndSync.test.tsx
  app/components/Views/Identity/TurnOnBackupAndSync/TurnOnBackupAndSync.tsx
Labels: No QA Needed, No E2E Smoke Needed, team-identity, no-changelog

#17297 refactor: migrate AES crypto test form related tests to new framework
  e2e/framework/Assertions.ts
  e2e/pages/Settings/AesCryptoTestForm.js
  e2e/pages/Settings/AesCryptoTestForm.ts
  e2e/pages/Settings/SettingsView.js
  e2e/specs/accounts/aes/encryption-with-key.spec.js
  e2e/specs/accounts/aes/encryption-with-key.spec.ts
  e2e/specs/accounts/aes/encryption-with-password.spec.ts
  e2e/specs/accounts/aes/salt-generation.spec.js
  e2e/specs/accounts/aes/salt-generation.spec.ts
Labels: No QA Needed, Run Smoke E2E, team-qa

#17208 fix: cp-7.51.0 fiat amounts in transaction list
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/index.js
  app/components/Views/ActivityView/index.test.tsx
  app/components/Views/TransactionsView/index.js
  app/components/Views/TransactionsView/index.test.tsx
Labels: QA Passed, Run Smoke E2E, team-confirmations

#17319 feat: 2.8 Chore/segment onboarding
  app/components/UI/DeleteWalletModal/index.tsx
  app/components/Views/AccountStatus/index.test.tsx
  app/components/Views/AccountStatus/index.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/Login/index.test.tsx
  app/components/Views/Login/index.tsx
  app/components/Views/Onboarding/index.js
  app/core/Analytics/MetaMetrics.events.ts
  e2e/specs/analytics/import-wallet.spec.ts
  e2e/specs/analytics/new-wallet.spec.ts
Labels: area-onboarding, No QA Needed, INVALID-PR-TEMPLATE, Run Smoke E2E, team-web3auth

#17329 fix: srp input cp-7.51.0
  app/components/Views/ImportFromSecretRecoveryPhrase/__snapshots__/index.test.tsx.snap
  app/components/Views/ImportFromSecretRecoveryPhrase/index.js
  app/components/Views/ImportFromSecretRecoveryPhrase/index.test.tsx
  app/components/Views/ImportFromSecretRecoveryPhrase/styles.ts
  app/components/Views/SrpInput/Input/__snapshots__/index.test.tsx.snap
  app/components/Views/SrpInput/Input/indes.styles.ts
  app/components/Views/SrpInput/Input/index.test.tsx
  app/components/Views/SrpInput/Input/index.tsx
  app/components/Views/SrpInput/__snapshots__/index.test.tsx.snap
  app/components/Views/SrpInput/index.test.tsx
  app/components/Views/SrpInput/index.tsx
  locales/languages/en.json
Labels: area-onboarding, QA Passed, Run Smoke E2E, team-web3auth

#17294 fix: cp-7.51.0 disabled request payment button for Solana
  app/components/UI/ReceiveRequest/index.js
  app/components/UI/ReceiveRequest/index.test.tsx
Labels: No QA Needed, Run Smoke E2E, team-wallet-ux, regression-RC-7.51.0

#17300 feat: unified swaps max button
  app/components/UI/Bridge/Views/BridgeView/BridgeView.test.tsx
  app/components/UI/Bridge/Views/BridgeView/index.tsx
  app/components/UI/Bridge/components/TokenInputArea/TokenInputArea.test.tsx
  app/components/UI/Bridge/components/TokenInputArea/index.tsx
  locales/languages/en.json
Labels: QA Passed, Run Smoke E2E, team-swaps-and-bridge

#17251 chore: Updated Wallet to use TabBar
  app/components/UI/AssetElement/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetElement/index.tsx
  app/components/UI/AssetOverview/Balance/__snapshots__/index.test.tsx.snap
  app/components/UI/AssetOverview/__snapshots__/AssetOverview.test.tsx.snap
  app/components/UI/CollectibleContractElement/__snapshots__/index.test.tsx.snap
  app/components/UI/CollectibleContractElement/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/UI/Collectibles/__snapshots__/index.test.tsx.snap
  app/components/UI/DeFiPositions/DeFiPositionsControlBar.styles.ts
  app/components/UI/DeFiPositions/DeFiPositionsListItem.styles.ts
  app/components/UI/Earn/components/EarnLendingBalance/__snapshots__/EarnLendingBalance.test.tsx.snap
  app/components/UI/Stake/components/StakingBalance/__snapshots__/StakingBalance.test.tsx.snap
  app/components/UI/Tokens/styles.ts
  app/components/Views/Asset/__snapshots__/index.test.js.snap
  app/components/Views/Wallet/index.tsx
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#17210 release: 7.50.2
  CHANGELOG.md
  android/app/build.gradle
  app/components/Views/AccountActions/AccountActions.tsx
  app/components/Views/InfoNetworkModal/InfoNetworkModal.test.tsx
  app/components/Views/InfoNetworkModal/InfoNetworkModal.tsx
  app/components/Views/InfoNetworkModal/__snapshots__/InfoNetworkModal.test.tsx.snap
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.js
  app/components/Views/Settings/NetworksSettings/NetworkSettings/index.test.tsx
  app/util/address/index.ts
  app/util/metrics/MultichainAPI/networkMetricUtils.test.ts
  app/util/metrics/MultichainAPI/networkMetricUtils.ts
  app/util/metrics/UserSettingsAnalyticsMetaData/generateUserProfileAnalyticsMetaData.test.ts
  bitrise.yml
  ios/MetaMask.xcodeproj/project.pbxproj
  package.json
  patches/@metamask+snaps-controllers+13.0.0.patch
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#15405 feat(gh-action): add stable sync workflow
  .github/workflows/stable-branch-sync.yml
Labels: No QA Needed, Run Smoke E2E, team-dev-ops

#17334 fix(deposit): clear otp status when resend
  app/components/UI/Ramp/Deposit/Views/OtpCode/OtpCode.tsx
Labels: QA Passed, team-ramp, Run Smoke E2E

#17338 chore: Updated Tabs in Notifications
  app/components/UI/Notification/List/index.tsx
  app/components/UI/Notification/List/styles.ts
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#17348 refactor: secure keychain typescript
  app/core/SecureKeychain.ts
Labels: QA Passed, team-ramp, Run Smoke E2E

#17343 chore: Updated tabs in Reveal Private Credentials
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.test.tsx
  app/components/Views/RevealPrivateCredential/RevealPrivateCredential.tsx
  app/components/Views/RevealPrivateCredential/__snapshots__/RevealPrivateCredential.test.tsx.snap
  app/components/Views/RevealPrivateCredential/index.test.tsx
  app/components/Views/RevealPrivateCredential/styles.ts
Labels: No QA Needed, team-design-system, No E2E Smoke Needed

#17139 feat: Fix to persist Biometrics on manual lock
  app/components/Nav/App/App.test.tsx
  app/components/Nav/App/App.tsx
  app/components/Views/Login/index.tsx
  app/components/Views/Settings/index.test.tsx
  app/components/Views/Settings/index.tsx
Labels: No QA Needed, team-mobile-platform, Run Smoke E2E

#17337 feat(deposit): adds basic info kyc analytics events
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.test.tsx
  app/components/UI/Ramp/Deposit/Views/BasicInfo/BasicInfo.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.test.tsx
  app/components/UI/Ramp/Deposit/Views/EnterAddress/EnterAddress.tsx
Labels: QA Passed, team-ramp, No E2E Smoke Needed

#17327 fix: cp-7.51.0 token fiat values not available in transaction list
  app/components/UI/TransactionElement/TransactionDetails/index.js
  app/components/UI/TransactionElement/index.js
  app/components/UI/Transactions/index.js
  app/components/Views/ActivityView/index.test.tsx
  app/components/Views/TransactionsView/index.js
  app/components/Views/TransactionsView/index.test.tsx
  app/selectors/tokensController.test.ts
  app/selectors/tokensController.ts
Labels: QA Passed, Run Smoke E2E, team-confirmations

#16321 feat: Filter out duplicate bridging transactions on activity list
  app/components/UI/Transactions/index.js
  app/components/UI/Transactions/utils.test.ts
  app/components/UI/Transactions/utils.ts
Labels: No QA Needed, Run Smoke E2E, team-confirmations

#17336 fix: add case where commit might be removed from history
  scripts/generate-pr-cache-keys.sh
Labels: QA Passed, No E2E Smoke Needed, team-qa

#16876 chore: bump @metamask/profile-sync-controller to ^21.0.0
  app/core/Engine/Engine.ts
  app/core/Engine/controllers/identity/create-user-storage-controller.ts
  app/core/Engine/messengers/identity/user-storage-controller-messenger.test.ts
  app/core/Engine/messengers/identity/user-storage-controller-messenger.ts
  e2e/specs/identity/utils/mocks.ts
  e2e/specs/identity/utils/user-storage/userStorageMockttpController.ts
  package.json
  yarn.lock
Labels: No QA Needed, Run Smoke E2E, team-identity
